openapi: 3.0.0
info:
  version: 2024-11-30
  title: ManagedServiceIdentityClient
  description: The Managed Service Identity Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.ManagedIdentity/identities/default:
    get:
      operationId: SystemAssignedIdentities_GetByScope
      description: Gets the systemAssignedIdentity available under the specified RP
        scope.
      parameters:
      - name: scope
        in: path
        required: true
        description: The resource provider scope of the resource. Parent resource
          being extended by Managed Identities.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The systemAssignedIdentity was retrieved and returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    readOnly: true
                    description: The properties associated with the identity.
                    type: object
                    title: System Assigned Identity properties.
                    properties:
                      tenantId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the tenant which the identity belongs
                          to.
                      principalId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the service principal object associated
                          with the created identity.
                      clientId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the app associated with the identity.
                          This is a random generated UUID by MSI.
                      clientSecretUrl:
                        type: string
                        readOnly: true
                        description: ' The ManagedServiceIdentity DataPlane URL that
                          can be queried to obtain the identity credentials.'
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
  /providers/Microsoft.ManagedIdentity/operations:
    get:
      operationId: Operations_List
      description: Lists available operations for the Microsoft.ManagedIdentity provider
      parameters:
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation was successful. The response contains the list
            of available operations.
          content:
            application/json:
              schema:
                title: Operations List.
                description: A list of operations supported by Microsoft.ManagedIdentity
                  Resource Provider.
                properties:
                  value:
                    type: array
                    items:
                      title: Microsoft.ManagedIdentity Operation.
                      description: Operation supported by the Microsoft.ManagedIdentity
                        REST API.
                      type: object
                      properties:
                        name:
                          title: Operation Name.
                          description: The name of the REST Operation. This is of
                            the format {provider}/{resource}/{operation}.
                          type: string
                        display:
                          title: Operation Display.
                          description: The object that describes the operation.
                          properties:
                            provider:
                              title: Resource Provider Name.
                              description: Friendly name of the resource provider.
                              type: string
                            operation:
                              title: Operation Type.
                              description: 'The type of operation. For example: read,
                                write, delete.'
                              type: string
                            resource:
                              title: Resource Type.
                              description: The resource type on which the operation
                                is performed.
                              type: string
                            description:
                              title: Operation description
                              description: A description of the operation.
                              type: string
                    x-ms-identifiers:
                    - name
                    title: Operations List.
                    description: A list of operations supported by Microsoft.ManagedIdentity
                      Resource Provider.
                  nextLink:
                    type: string
                    title: Next Link
                    description: The url to get the next page of results, if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ManagedIdentity/userAssignedIdentities:
    get:
      operationId: UserAssignedIdentities_ListBySubscription
      description: Lists all the userAssignedIdentities available under the specified
        subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          readOnly: true
                          description: The properties associated with the identity.
                          type: object
                          title: User Assigned Identity properties.
                          properties:
                            tenantId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the tenant which the identity
                                belongs to.
                            principalId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the service principal object
                                associated with the created identity.
                            clientId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the app associated with the identity.
                                This is a random generated UUID by MSI.
                            isolationScope:
                              type: string
                              description: Enum to configure regional restrictions
                                on identity assignment, as necessary.
                              enum:
                              - None
                              - Regional
                              x-ms-mutability:
                              - read
                              - create
                              - update
                              x-ms-enum:
                                name: isolationScope
                                modelAsString: true
                                modelAsExtensible: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The collection of userAssignedIdentities returned
                      by the listing operation.
                  nextLink:
                    type: string
                    description: The url to get the next page of results, if any.
                description: Values returned by the List operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities
  : get:
      operationId: UserAssignedIdentities_ListByResourceGroup
      description: Lists all the userAssignedIdentities available under the specified
        ResourceGroup.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the Resource Group to which the identity belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The list of userAssignedIdentities was retrieved and returned
            successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          readOnly: true
                          description: The properties associated with the identity.
                          type: object
                          title: User Assigned Identity properties.
                          properties:
                            tenantId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the tenant which the identity
                                belongs to.
                            principalId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the service principal object
                                associated with the created identity.
                            clientId:
                              type: string
                              readOnly: true
                              format: uuid
                              description: The id of the app associated with the identity.
                                This is a random generated UUID by MSI.
                            isolationScope:
                              type: string
                              description: Enum to configure regional restrictions
                                on identity assignment, as necessary.
                              enum:
                              - None
                              - Regional
                              x-ms-mutability:
                              - read
                              - create
                              - update
                              x-ms-enum:
                                name: isolationScope
                                modelAsString: true
                                modelAsExtensible: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The collection of userAssignedIdentities returned
                      by the listing operation.
                  nextLink:
                    type: string
                    description: The url to get the next page of results, if any.
                description: Values returned by the List operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}
  : put:
      operationId: UserAssignedIdentities_CreateOrUpdate
      description: Create or update an identity in the specified subscription and
        resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the Resource Group to which the identity belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  readOnly: true
                  description: The properties associated with the identity.
                  type: object
                  title: User Assigned Identity properties.
                  properties:
                    tenantId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the tenant which the identity belongs
                        to.
                    principalId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the service principal object associated
                        with the created identity.
                    clientId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the app associated with the identity.
                        This is a random generated UUID by MSI.
                    isolationScope:
                      type: string
                      description: Enum to configure regional restrictions on identity
                        assignment, as necessary.
                      enum:
                      - None
                      - Regional
                      x-ms-mutability:
                      - read
                      - create
                      - update
                      x-ms-enum:
                        name: isolationScope
                        modelAsString: true
                        modelAsExtensible: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters to create or update the identity
        required: true
      responses:
        '200':
          description: Updated identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    readOnly: true
                    description: The properties associated with the identity.
                    type: object
                    title: User Assigned Identity properties.
                    properties:
                      tenantId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the tenant which the identity belongs
                          to.
                      principalId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the service principal object associated
                          with the created identity.
                      clientId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the app associated with the identity.
                          This is a random generated UUID by MSI.
                      isolationScope:
                        type: string
                        description: Enum to configure regional restrictions on identity
                          assignment, as necessary.
                        enum:
                        - None
                        - Regional
                        x-ms-mutability:
                        - read
                        - create
                        - update
                        x-ms-enum:
                          name: isolationScope
                          modelAsString: true
                          modelAsExtensible: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    readOnly: true
                    description: The properties associated with the identity.
                    type: object
                    title: User Assigned Identity properties.
                    properties:
                      tenantId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the tenant which the identity belongs
                          to.
                      principalId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the service principal object associated
                          with the created identity.
                      clientId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the app associated with the identity.
                          This is a random generated UUID by MSI.
                      isolationScope:
                        type: string
                        description: Enum to configure regional restrictions on identity
                          assignment, as necessary.
                        enum:
                        - None
                        - Regional
                        x-ms-mutability:
                        - read
                        - create
                        - update
                        x-ms-enum:
                          name: isolationScope
                          modelAsString: true
                          modelAsExtensible: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
    patch:
      operationId: UserAssignedIdentities_Update
      description: Update an identity in the specified subscription and resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the Resource Group to which the identity belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  readOnly: true
                  description: The properties associated with the identity.
                  type: object
                  title: User Assigned Identity properties.
                  properties:
                    tenantId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the tenant which the identity belongs
                        to.
                    principalId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the service principal object associated
                        with the created identity.
                    clientId:
                      type: string
                      readOnly: true
                      format: uuid
                      description: The id of the app associated with the identity.
                        This is a random generated UUID by MSI.
                    isolationScope:
                      type: string
                      description: Enum to configure regional restrictions on identity
                        assignment, as necessary.
                      enum:
                      - None
                      - Regional
                      x-ms-mutability:
                      - read
                      - create
                      - update
                      x-ms-enum:
                        name: isolationScope
                        modelAsString: true
                        modelAsExtensible: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters to update the identity
        required: true
      responses:
        '200':
          description: Updated identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    readOnly: true
                    description: The properties associated with the identity.
                    type: object
                    title: User Assigned Identity properties.
                    properties:
                      tenantId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the tenant which the identity belongs
                          to.
                      principalId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the service principal object associated
                          with the created identity.
                      clientId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the app associated with the identity.
                          This is a random generated UUID by MSI.
                      isolationScope:
                        type: string
                        description: Enum to configure regional restrictions on identity
                          assignment, as necessary.
                        enum:
                        - None
                        - Regional
                        x-ms-mutability:
                        - read
                        - create
                        - update
                        x-ms-enum:
                          name: isolationScope
                          modelAsString: true
                          modelAsExtensible: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
    get:
      operationId: UserAssignedIdentities_Get
      description: Gets the identity.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the Resource Group to which the identity belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. The requested identity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    readOnly: true
                    description: The properties associated with the identity.
                    type: object
                    title: User Assigned Identity properties.
                    properties:
                      tenantId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the tenant which the identity belongs
                          to.
                      principalId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the service principal object associated
                          with the created identity.
                      clientId:
                        type: string
                        readOnly: true
                        format: uuid
                        description: The id of the app associated with the identity.
                          This is a random generated UUID by MSI.
                      isolationScope:
                        type: string
                        description: Enum to configure regional restrictions on identity
                          assignment, as necessary.
                        enum:
                        - None
                        - Regional
                        x-ms-mutability:
                        - read
                        - create
                        - update
                        x-ms-enum:
                          name: isolationScope
                          modelAsString: true
                          modelAsExtensible: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
    delete:
      operationId: UserAssignedIdentities_Delete
      description: Deletes the identity.
      parameters:
      - name: subscriptionId
        in: path
        description: The Id of the Subscription to which the identity belongs.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the Resource Group to which the identity belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Version of API to invoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Deleted Identity.
        '204':
          description: The specified identity does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials
  : get:
      operationId: FederatedIdentityCredentials_List
      description: Lists all the federated identity credentials under the specified
        user assigned identity.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of records to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
      - in: query
        name: $skiptoken
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The list of federated identity credentials for the specified
            user assigned identity was retrieved and returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: The properties associated with the federated
                            identity credential.
                          type: object
                          title: Federated identity credential properties.
                          required:
                          - issuer
                          - subject
                          - audiences
                          properties:
                            issuer:
                              type: string
                              format: uri
                              description: The URL of the issuer to be trusted.
                            subject:
                              type: string
                              description: The identifier of the external identity.
                            audiences:
                              type: array
                              items:
                                type: string
                              description: The list of audiences that can appear in
                                the issued token.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-ms-identifiers:
                    - id
                    description: The collection of federated identity credentials
                      returned by the listing operation.
                  nextLink:
                    type: string
                    description: The url to get the next page of results, if any.
                description: Values returned by the List operation for federated identity
                  credentials.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: A list of additional details about the error.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the ManagedServiceIdentity
                                  service.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                          description: An error response from the ManagedServiceIdentity
                            service.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
                description: An error response from the ManagedServiceIdentity service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}
  : put:
      operationId: FederatedIdentityCredentials_CreateOrUpdate
      description: Create or update a federated identity credential under the specified
        user assigned identity.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        description: The name of the identity resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: federatedIdentityCredentialResourceName
        in: path
        description: The name of the federated identity credential resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$
      - name: api-version
        in: query
[...]
