openapi: 3.0.0
info:
  title: ComputeManagementClient
  description: The Compute Management Client.
  version: 2019-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus:
    get:
      tags:
      - Skus
      - AvailabilitySets
      operationId: ResourceSkus_List
      description: Gets the list of Microsoft.Compute SKUs available for your Subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Only **location** filter
          is supported currently.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        resourceType:
                          readOnly: true
                          type: string
                          description: The type of resource the SKU applies to.
                        name:
                          readOnly: true
                          type: string
                          description: The name of SKU.
                        tier:
                          readOnly: true
                          type: string
                          description: Specifies the tier of virtual machines in a
                            scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br
                            /><br /> **Basic**
                        size:
                          readOnly: true
                          type: string
                          description: The Size of the SKU.
                        family:
                          readOnly: true
                          type: string
                          description: The Family of this particular SKU.
                        kind:
                          readOnly: true
                          type: string
                          description: The Kind of resources that are supported in
                            this SKU.
                        capacity:
                          readOnly: true
                          description: Specifies the number of virtual machines in
                            the scale set.
                          properties:
                            minimum:
                              type: integer
                              readOnly: true
                              format: int64
                              description: The minimum capacity.
                            maximum:
                              type: integer
                              readOnly: true
                              format: int64
                              description: The maximum capacity that can be set.
                            default:
                              type: integer
                              readOnly: true
                              format: int64
                              description: The default capacity.
                            scaleType:
                              type: string
                              readOnly: true
                              description: The scale type applicable to the sku.
                              enum:
                              - Automatic
                              - Manual
                              - None
                              x-ms-enum:
                                name: ResourceSkuCapacityScaleType
                                modelAsString: false
                        locations:
                          type: array
                          readOnly: true
                          items:
                            type: string
                          description: The set of locations that the SKU is available.
                        locationInfo:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              location:
                                readOnly: true
                                type: string
                                description: Location of the SKU
                              zones:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: List of availability zones where the
                                  SKU is supported.
                              zoneDetails:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: array
                                      readOnly: true
                                      items:
                                        type: string
                                      description: The set of zones that the SKU is
                                        available in with the specified capabilities.
                                    capabilities:
                                      type: array
                                      readOnly: true
                                      items:
                                        properties:
                                          name:
                                            type: string
                                            readOnly: true
                                            description: An invariant to describe
                                              the feature.
                                          value:
                                            type: string
                                            readOnly: true
                                            description: An invariant if the feature
                                              is measured by quantity.
                                        description: Describes The SKU capabilities
                                          object.
                                      description: A list of capabilities that are
                                        available for the SKU in the specified list
                                        of zones.
                                  description: Describes The zonal capabilities of
                                    a SKU.
                                description: Details of capabilities available to
                                  a SKU in specific zones.
                          description: A list of locations and availability zones
                            in those locations where the SKU is available.
                        apiVersions:
                          type: array
                          readOnly: true
                          items:
                            type: string
                          description: The api versions that support this SKU.
                        costs:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              meterID:
                                type: string
                                readOnly: true
                                description: Used for querying price from commerce.
                              quantity:
                                type: integer
                                readOnly: true
                                format: int64
                                description: The multiplier is needed to extend the
                                  base metered cost.
                              extendedUnit:
                                type: string
                                readOnly: true
                                description: An invariant to show the extended unit.
                            description: Describes metadata for retrieving price info.
                          description: Metadata for retrieving price info.
                        capabilities:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              name:
                                type: string
                                readOnly: true
                                description: An invariant to describe the feature.
                              value:
                                type: string
                                readOnly: true
                                description: An invariant if the feature is measured
                                  by quantity.
                            description: Describes The SKU capabilities object.
                          description: A name value pair to describe the capability.
                        restrictions:
                          type: array
                          readOnly: true
                          items:
                            properties:
                              type:
                                type: string
                                readOnly: true
                                description: The type of restrictions.
                                enum:
                                - Location
                                - Zone
                                x-ms-enum:
                                  name: ResourceSkuRestrictionsType
                                  modelAsString: false
                              values:
                                type: array
                                readOnly: true
                                items:
                                  type: string
                                description: The value of restrictions. If the restriction
                                  type is set to location. This would be different
                                  locations where the SKU is restricted.
                              restrictionInfo:
                                readOnly: true
                                description: The information about the restriction
                                  where the SKU cannot be used.
                                properties:
                                  locations:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: string
                                    description: Locations where the SKU is restricted
                                  zones:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: string
                                    description: List of availability zones where
                                      the SKU is restricted.
                              reasonCode:
                                type: string
                                readOnly: true
                                description: The reason for restriction.
                                enum:
                                - QuotaId
                                - NotAvailableForSubscription
                                x-ms-enum:
                                  name: ResourceSkuRestrictionsReasonCode
                                  modelAsString: false
                            description: Describes scaling information of a SKU.
                          description: The restrictions because of which SKU cannot
                            be used. This is empty if there are no restrictions.
                      description: Describes an available Compute SKU.
                    description: The list of skus available for the subscription.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of Resource Skus.
                      Call ListNext() with this URI to fetch the next page of Resource
                      Skus
                required:
                - value
                description: The List Resource Skus operation response.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ResourceSkuCapacity:
      properties:
        minimum:
          type: integer
          readOnly: true
          format: int64
          description: The minimum capacity.
        maximum:
          type: integer
          readOnly: true
          format: int64
          description: The maximum capacity that can be set.
        default:
          type: integer
          readOnly: true
          format: int64
          description: The default capacity.
        scaleType:
          type: string
          readOnly: true
          description: The scale type applicable to the sku.
          enum:
          - Automatic
          - Manual
          - None
          x-ms-enum:
            name: ResourceSkuCapacityScaleType
            modelAsString: false
      description: Describes scaling information of a SKU.
    ResourceSkuCosts:
      properties:
        meterID:
          type: string
          readOnly: true
          description: Used for querying price from commerce.
        quantity:
          type: integer
          readOnly: true
          format: int64
          description: The multiplier is needed to extend the base metered cost.
        extendedUnit:
          type: string
          readOnly: true
          description: An invariant to show the extended unit.
      description: Describes metadata for retrieving price info.
    ResourceSkuCapabilities:
      properties:
        name:
          type: string
          readOnly: true
          description: An invariant to describe the feature.
        value:
          type: string
          readOnly: true
          description: An invariant if the feature is measured by quantity.
      description: Describes The SKU capabilities object.
    ResourceSkuZoneDetails:
      properties:
        name:
          type: array
          readOnly: true
          items:
            type: string
          description: The set of zones that the SKU is available in with the specified
            capabilities.
        capabilities:
          type: array
          readOnly: true
          items:
            properties:
              name:
                type: string
                readOnly: true
                description: An invariant to describe the feature.
              value:
                type: string
                readOnly: true
                description: An invariant if the feature is measured by quantity.
            description: Describes The SKU capabilities object.
          description: A list of capabilities that are available for the SKU in the
            specified list of zones.
      description: Describes The zonal capabilities of a SKU.
    ResourceSkuRestrictions:
      properties:
        type:
          type: string
          readOnly: true
          description: The type of restrictions.
          enum:
          - Location
          - Zone
          x-ms-enum:
            name: ResourceSkuRestrictionsType
            modelAsString: false
        values:
          type: array
          readOnly: true
          items:
            type: string
          description: The value of restrictions. If the restriction type is set to
            location. This would be different locations where the SKU is restricted.
        restrictionInfo:
          readOnly: true
          description: The information about the restriction where the SKU cannot
            be used.
          properties:
            locations:
              readOnly: true
              type: array
              items:
                type: string
              description: Locations where the SKU is restricted
            zones:
              readOnly: true
              type: array
              items:
                type: string
              description: List of availability zones where the SKU is restricted.
        reasonCode:
          type: string
          readOnly: true
          description: The reason for restriction.
          enum:
          - QuotaId
          - NotAvailableForSubscription
          x-ms-enum:
            name: ResourceSkuRestrictionsReasonCode
            modelAsString: false
      description: Describes scaling information of a SKU.
    ResourceSku:
      properties:
        resourceType:
          readOnly: true
          type: string
          description: The type of resource the SKU applies to.
        name:
          readOnly: true
          type: string
          description: The name of SKU.
        tier:
          readOnly: true
          type: string
          description: Specifies the tier of virtual machines in a scale set.<br /><br
            /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
        size:
          readOnly: true
          type: string
          description: The Size of the SKU.
        family:
          readOnly: true
          type: string
          description: The Family of this particular SKU.
        kind:
          readOnly: true
          type: string
          description: The Kind of resources that are supported in this SKU.
        capacity:
          readOnly: true
          description: Specifies the number of virtual machines in the scale set.
          properties:
            minimum:
              type: integer
              readOnly: true
              format: int64
              description: The minimum capacity.
            maximum:
              type: integer
              readOnly: true
              format: int64
              description: The maximum capacity that can be set.
            default:
              type: integer
              readOnly: true
              format: int64
              description: The default capacity.
            scaleType:
              type: string
              readOnly: true
              description: The scale type applicable to the sku.
              enum:
              - Automatic
              - Manual
              - None
              x-ms-enum:
                name: ResourceSkuCapacityScaleType
                modelAsString: false
        locations:
          type: array
          readOnly: true
          items:
            type: string
          description: The set of locations that the SKU is available.
        locationInfo:
          type: array
          readOnly: true
          items:
            properties:
              location:
                readOnly: true
                type: string
                description: Location of the SKU
              zones:
                readOnly: true
                type: array
                items:
                  type: string
                description: List of availability zones where the SKU is supported.
              zoneDetails:
                readOnly: true
                type: array
                items:
                  properties:
                    name:
                      type: array
                      readOnly: true
                      items:
                        type: string
                      description: The set of zones that the SKU is available in with
                        the specified capabilities.
                    capabilities:
                      type: array
                      readOnly: true
                      items:
                        properties:
                          name:
                            type: string
                            readOnly: true
                            description: An invariant to describe the feature.
                          value:
                            type: string
                            readOnly: true
                            description: An invariant if the feature is measured by
                              quantity.
                        description: Describes The SKU capabilities object.
                      description: A list of capabilities that are available for the
                        SKU in the specified list of zones.
                  description: Describes The zonal capabilities of a SKU.
                description: Details of capabilities available to a SKU in specific
                  zones.
          description: A list of locations and availability zones in those locations
            where the SKU is available.
        apiVersions:
          type: array
          readOnly: true
          items:
            type: string
          description: The api versions that support this SKU.
        costs:
          type: array
          readOnly: true
          items:
            properties:
              meterID:
                type: string
                readOnly: true
                description: Used for querying price from commerce.
              quantity:
                type: integer
                readOnly: true
                format: int64
                description: The multiplier is needed to extend the base metered cost.
              extendedUnit:
                type: string
                readOnly: true
                description: An invariant to show the extended unit.
            description: Describes metadata for retrieving price info.
          description: Metadata for retrieving price info.
        capabilities:
          type: array
          readOnly: true
          items:
            properties:
              name:
                type: string
                readOnly: true
                description: An invariant to describe the feature.
              value:
                type: string
                readOnly: true
                description: An invariant if the feature is measured by quantity.
            description: Describes The SKU capabilities object.
          description: A name value pair to describe the capability.
        restrictions:
          type: array
          readOnly: true
          items:
            properties:
              type:
                type: string
                readOnly: true
                description: The type of restrictions.
                enum:
                - Location
                - Zone
                x-ms-enum:
                  name: ResourceSkuRestrictionsType
                  modelAsString: false
              values:
                type: array
                readOnly: true
                items:
                  type: string
                description: The value of restrictions. If the restriction type is
                  set to location. This would be different locations where the SKU
                  is restricted.
              restrictionInfo:
                readOnly: true
                description: The information about the restriction where the SKU cannot
                  be used.
                properties:
                  locations:
                    readOnly: true
                    type: array
                    items:
                      type: string
                    description: Locations where the SKU is restricted
                  zones:
                    readOnly: true
                    type: array
                    items:
                      type: string
                    description: List of availability zones where the SKU is restricted.
              reasonCode:
                type: string
                readOnly: true
                description: The reason for restriction.
                enum:
                - QuotaId
                - NotAvailableForSubscription
                x-ms-enum:
                  name: ResourceSkuRestrictionsReasonCode
                  modelAsString: false
            description: Describes scaling information of a SKU.
          description: The restrictions because of which SKU cannot be used. This
            is empty if there are no restrictions.
      description: Describes an available Compute SKU.
    ResourceSkuLocationInfo:
      properties:
        location:
          readOnly: true
          type: string
          description: Location of the SKU
        zones:
          readOnly: true
          type: array
          items:
            type: string
          description: List of availability zones where the SKU is supported.
        zoneDetails:
          readOnly: true
          type: array
          items:
            properties:
              name:
                type: array
                readOnly: true
                items:
                  type: string
                description: The set of zones that the SKU is available in with the
                  specified capabilities.
              capabilities:
                type: array
                readOnly: true
                items:
                  properties:
                    name:
                      type: string
                      readOnly: true
                      description: An invariant to describe the feature.
                    value:
                      type: string
                      readOnly: true
                      description: An invariant if the feature is measured by quantity.
                  description: Describes The SKU capabilities object.
                description: A list of capabilities that are available for the SKU
                  in the specified list of zones.
            description: Describes The zonal capabilities of a SKU.
          description: Details of capabilities available to a SKU in specific zones.
    ResourceSkuRestrictionInfo:
      properties:
        locations:
          readOnly: true
          type: array
          items:
            type: string
          description: Locations where the SKU is restricted
        zones:
          readOnly: true
          type: array
          items:
            type: string
          description: List of availability zones where the SKU is restricted.
    ResourceSkusResult:
      properties:
        value:
          type: array
          items:
            properties:
              resourceType:
                readOnly: true
                type: string
                description: The type of resource the SKU applies to.
              name:
                readOnly: true
                type: string
                description: The name of SKU.
              tier:
                readOnly: true
                type: string
                description: Specifies the tier of virtual machines in a scale set.<br
                  /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
              size:
                readOnly: true
                type: string
                description: The Size of the SKU.
              family:
                readOnly: true
                type: string
                description: The Family of this particular SKU.
              kind:
                readOnly: true
                type: string
                description: The Kind of resources that are supported in this SKU.
              capacity:
                readOnly: true
                description: Specifies the number of virtual machines in the scale
                  set.
                properties:
                  minimum:
                    type: integer
                    readOnly: true
                    format: int64
                    description: The minimum capacity.
                  maximum:
                    type: integer
                    readOnly: true
                    format: int64
                    description: The maximum capacity that can be set.
                  default:
                    type: integer
                    readOnly: true
                    format: int64
                    description: The default capacity.
                  scaleType:
                    type: string
                    readOnly: true
                    description: The scale type applicable to the sku.
                    enum:
                    - Automatic
                    - Manual
                    - None
                    x-ms-enum:
                      name: ResourceSkuCapacityScaleType
                      modelAsString: false
              locations:
                type: array
                readOnly: true
                items:
                  type: string
                description: The set of locations that the SKU is available.
              locationInfo:
                type: array
                readOnly: true
                items:
                  properties:
                    location:
                      readOnly: true
                      type: string
                      description: Location of the SKU
                    zones:
                      readOnly: true
                      type: array
                      items:
                        type: string
                      description: List of availability zones where the SKU is supported.
                    zoneDetails:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          name:
                            type: array
                            readOnly: true
                            items:
                              type: string
                            description: The set of zones that the SKU is available
                              in with the specified capabilities.
                          capabilities:
                            type: array
                            readOnly: true
                            items:
                              properties:
                                name:
                                  type: string
                                  readOnly: true
                                  description: An invariant to describe the feature.
                                value:
                                  type: string
                                  readOnly: true
                                  description: An invariant if the feature is measured
                                    by quantity.
                              description: Describes The SKU capabilities object.
                            description: A list of capabilities that are available
                              for the SKU in the specified list of zones.
                        description: Describes The zonal capabilities of a SKU.
                      description: Details of capabilities available to a SKU in specific
                        zones.
                description: A list of locations and availability zones in those locations
                  where the SKU is available.
              apiVersions:
                type: array
                readOnly: true
                items:
                  type: string
                description: The api versions that support this SKU.
              costs:
                type: array
                readOnly: true
                items:
                  properties:
                    meterID:
                      type: string
                      readOnly: true
                      description: Used for querying price from commerce.
                    quantity:
                      type: integer
                      readOnly: true
                      format: int64
                      description: The multiplier is needed to extend the base metered
                        cost.
                    extendedUnit:
                      type: string
                      readOnly: true
                      description: An invariant to show the extended unit.
                  description: Describes metadata for retrieving price info.
                description: Metadata for retrieving price info.
              capabilities:
                type: array
                readOnly: true
                items:
                  properties:
                    name:
                      type: string
                      readOnly: true
                      description: An invariant to describe the feature.
                    value:
                      type: string
                      readOnly: true
                      description: An invariant if the feature is measured by quantity.
                  description: Describes The SKU capabilities object.
                description: A name value pair to describe the capability.
              restrictions:
                type: array
                readOnly: true
                items:
                  properties:
                    type:
                      type: string
                      readOnly: true
                      description: The type of restrictions.
                      enum:
                      - Location
                      - Zone
                      x-ms-enum:
                        name: ResourceSkuRestrictionsType
                        modelAsString: false
                    values:
                      type: array
                      readOnly: true
                      items:
                        type: string
                      description: The value of restrictions. If the restriction type
                        is set to location. This would be different locations where
                        the SKU is restricted.
                    restrictionInfo:
                      readOnly: true
                      description: The information about the restriction where the
                        SKU cannot be used.
                      properties:
                        locations:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: Locations where the SKU is restricted
                        zones:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: List of availability zones where the SKU is
                            restricted.
                    reasonCode:
                      type: string
                      readOnly: true
                      description: The reason for restriction.
                      enum:
                      - QuotaId
                      - NotAvailableForSubscription
                      x-ms-enum:
                        name: ResourceSkuRestrictionsReasonCode
                        modelAsString: false
                  description: Describes scaling information of a SKU.
                description: The restrictions because of which SKU cannot be used.
                  This is empty if there are no restrictions.
            description: Describes an available Compute SKU.
          description: The list of skus available for the subscription.
        nextLink:
          type: string
          description: The URI to fetch the next page of Resource Skus. Call ListNext()
            with this URI to fetch the next page of Resource Skus
      required:
      - value
      description: The List Resource Skus operation response.
