openapi: 3.0.0
info:
  title: PurviewPolicyClient
  version: 2023-06-01-preview
  description: Creates a Microsoft.Purview management client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: PurviewPolicies
- name: PolicyListing
paths:
  /{scope}/providers/Microsoft.Purview/policies:
    get:
      operationId: PurviewPolicies_List
      tags:
      - PurviewPolicies
      - PolicyListing
      summary: API to list the purview RBAC policies based on a scope
      description: The API lists the Azure purview RBAC policies affecting the scope.
        The scope can be any valid ARM resource id
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scope
        in: path
        description: The scope at which the operation is performed.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
          minLength: 1
      - name: skipToken
        in: query
        description: Paging key to paginate to next page.
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: 'Supported filters : $filter=policyType eq SelfService, $filter=policyType
          eq SqlDevops. Returns only the policies of the specified type. If not specified,
          all policies are returned.'
        required: false
        x-ms-client-name: filter
        schema:
          type: string
        allowReserved: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Policy list operation.
                properties:
                  value:
                    type: array
                    description: The Policy items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        kind:
                          type: string
                          description: The policy kind
                        source:
                          type: string
                          description: The policy source
                        etag:
                          type: string
                          description: The etag version of a policy
                        scopes:
                          type: array
                          description: Array of scopes where the policy is published
                          items:
                            type: string
                        members:
                          description: Members of the policy
                          type: object
                          properties:
                            fabricItemMembers:
                              type: array
                              description: Array of azure active directory members
                              items:
                                type: object
                                description: Microsoft fabric item member
                                properties:
                                  sourcePath:
                                    type: string
                                    description: Source path of the member
                                  itemAccess:
                                    type: array
                                    description: Array of access items for the member
                                    items:
                                      type: string
                              x-ms-identifiers: []
                            aadMembers:
                              type: array
                              description: Array of azure active directory members
                              items:
                                type: object
                                description: Azure active directory member
                                properties:
                                  tenantId:
                                    type: string
                                    description: The tenantId of the member
                                  objectId:
                                    type: string
                                    description: The objectId of the member
                                  objectType:
                                    description: The objectType of the member.
                                    type: string
                                    enum:
                                    - User
                                    - Group
                                    - ServicePrincipal
                                    x-ms-enum:
                                      name: ObjectType
                                      modelAsString: true
                                      values:
                                      - name: User
                                        value: User
                                        description: AAD User object type.
                                      - name: Group
                                        value: Group
                                        description: AAD Group object type.
                                      - name: ServicePrincipal
                                        value: ServicePrincipal
                                        description: Service Principal object type.
                              x-ms-identifiers: []
                        decisionRules:
                          type: array
                          description: Array of decision rules for the policy
                          items:
                            type: object
                            description: Purview RBAC policy decision rule
                            properties:
                              effect:
                                description: The effect for rule
                                type: string
                                enum:
                                - Permit
                                - Deny
                                x-ms-enum:
                                  name: Decision
                                  modelAsString: true
                                  values:
                                  - name: Permit
                                    value: Permit
                                    description: Access permitted
                                  - name: Deny
                                    value: Deny
                                    description: Access denied
                              permission:
                                type: array
                                description: Array of attribute predicates
                                items:
                                  type: object
                                  description: Attribute predicate for a policy permission
                                  properties:
                                    attributeName:
                                      type: string
                                      description: AttributeName of a policy permission
                                    attributeValueIncludedIn:
                                      type: array
                                      description: values for a policy permission
                                      items:
                                        type: string
                                x-ms-identifiers: []
                            required:
                            - effect
                          x-ms-identifiers: []
                        expiryTime:
                          type: string
                          format: date-time
                          description: The timestamp of the expiry time of the policy
                            (UTC).
                        requestor:
                          type: string
                          description: The AAD member who requested the policy
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - source
                      - etag
                      - scopes
                      - members
                      - decisionRules
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Purview/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SkipTokenParameter:
      name: skipToken
      in: query
      description: Paging key to paginate to next page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    ScopeParameter:
      name: scope
      in: path
      description: The scope at which the operation is performed.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AadMember:
      type: object
      description: Azure active directory member
      properties:
        tenantId:
          type: string
          description: The tenantId of the member
        objectId:
          type: string
          description: The objectId of the member
        objectType:
          description: The objectType of the member.
          type: string
          enum:
          - User
          - Group
          - ServicePrincipal
          x-ms-enum:
            name: ObjectType
            modelAsString: true
            values:
            - name: User
              value: User
              description: AAD User object type.
            - name: Group
              value: Group
              description: AAD Group object type.
            - name: ServicePrincipal
              value: ServicePrincipal
              description: Service Principal object type.
    AttributePredicate:
      type: object
      description: Attribute predicate for a policy permission
      properties:
        attributeName:
          type: string
          description: AttributeName of a policy permission
        attributeValueIncludedIn:
          type: array
          description: values for a policy permission
          items:
            type: string
    Decision:
      type: string
      description: The effect for rule
      enum:
      - Permit
      - Deny
      x-ms-enum:
        name: Decision
        modelAsString: true
        values:
        - name: Permit
          value: Permit
          description: Access permitted
        - name: Deny
          value: Deny
          description: Access denied
    FabricItemMember:
      type: object
      description: Microsoft fabric item member
      properties:
        sourcePath:
          type: string
          description: Source path of the member
        itemAccess:
          type: array
          description: Array of access items for the member
          items:
            type: string
    ObjectType:
      type: string
      description: The objectType of the member.
      enum:
      - User
      - Group
      - ServicePrincipal
      x-ms-enum:
        name: ObjectType
        modelAsString: true
        values:
        - name: User
          value: User
          description: AAD User object type.
        - name: Group
          value: Group
          description: AAD Group object type.
        - name: ServicePrincipal
          value: ServicePrincipal
          description: Service Principal object type.
    Policy:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        kind:
          type: string
          description: The policy kind
        source:
          type: string
          description: The policy source
        etag:
          type: string
          description: The etag version of a policy
        scopes:
          type: array
          description: Array of scopes where the policy is published
          items:
            type: string
        members:
          description: Members of the policy
          type: object
          properties:
            fabricItemMembers:
              type: array
              description: Array of azure active directory members
              items:
                type: object
                description: Microsoft fabric item member
                properties:
                  sourcePath:
                    type: string
                    description: Source path of the member
                  itemAccess:
                    type: array
                    description: Array of access items for the member
                    items:
                      type: string
              x-ms-identifiers: []
            aadMembers:
              type: array
              description: Array of azure active directory members
              items:
                type: object
                description: Azure active directory member
                properties:
                  tenantId:
                    type: string
                    description: The tenantId of the member
                  objectId:
                    type: string
                    description: The objectId of the member
                  objectType:
                    description: The objectType of the member.
                    type: string
                    enum:
                    - User
                    - Group
                    - ServicePrincipal
                    x-ms-enum:
                      name: ObjectType
                      modelAsString: true
                      values:
                      - name: User
                        value: User
                        description: AAD User object type.
                      - name: Group
                        value: Group
                        description: AAD Group object type.
                      - name: ServicePrincipal
                        value: ServicePrincipal
                        description: Service Principal object type.
              x-ms-identifiers: []
        decisionRules:
          type: array
          description: Array of decision rules for the policy
          items:
            type: object
            description: Purview RBAC policy decision rule
            properties:
              effect:
                description: The effect for rule
                type: string
                enum:
                - Permit
                - Deny
                x-ms-enum:
                  name: Decision
                  modelAsString: true
                  values:
                  - name: Permit
                    value: Permit
                    description: Access permitted
                  - name: Deny
                    value: Deny
                    description: Access denied
              permission:
                type: array
                description: Array of attribute predicates
                items:
                  type: object
                  description: Attribute predicate for a policy permission
                  properties:
                    attributeName:
                      type: string
                      description: AttributeName of a policy permission
                    attributeValueIncludedIn:
                      type: array
                      description: values for a policy permission
                      items:
                        type: string
                x-ms-identifiers: []
            required:
            - effect
          x-ms-identifiers: []
        expiryTime:
          type: string
          format: date-time
          description: The timestamp of the expiry time of the policy (UTC).
        requestor:
          type: string
          description: The AAD member who requested the policy
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - source
      - etag
      - scopes
      - members
      - decisionRules
    PolicyDecisionRule:
      type: object
      description: Purview RBAC policy decision rule
      properties:
        effect:
          description: The effect for rule
          type: string
          enum:
          - Permit
          - Deny
          x-ms-enum:
            name: Decision
            modelAsString: true
            values:
            - name: Permit
              value: Permit
              description: Access permitted
            - name: Deny
              value: Deny
              description: Access denied
        permission:
          type: array
          description: Array of attribute predicates
          items:
            type: object
            description: Attribute predicate for a policy permission
            properties:
              attributeName:
                type: string
                description: AttributeName of a policy permission
              attributeValueIncludedIn:
                type: array
                description: values for a policy permission
                items:
                  type: string
          x-ms-identifiers: []
      required:
      - effect
    PolicyListResult:
      type: object
      description: The response of a Policy list operation.
      properties:
        value:
          type: array
          description: The Policy items on this page
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              kind:
                type: string
                description: The policy kind
              source:
                type: string
                description: The policy source
              etag:
                type: string
                description: The etag version of a policy
              scopes:
                type: array
                description: Array of scopes where the policy is published
                items:
                  type: string
              members:
                description: Members of the policy
                type: object
                properties:
                  fabricItemMembers:
                    type: array
                    description: Array of azure active directory members
                    items:
                      type: object
                      description: Microsoft fabric item member
                      properties:
                        sourcePath:
                          type: string
                          description: Source path of the member
                        itemAccess:
                          type: array
                          description: Array of access items for the member
                          items:
                            type: string
                    x-ms-identifiers: []
                  aadMembers:
                    type: array
                    description: Array of azure active directory members
                    items:
                      type: object
                      description: Azure active directory member
                      properties:
                        tenantId:
                          type: string
                          description: The tenantId of the member
                        objectId:
                          type: string
                          description: The objectId of the member
                        objectType:
                          description: The objectType of the member.
                          type: string
                          enum:
                          - User
                          - Group
                          - ServicePrincipal
                          x-ms-enum:
                            name: ObjectType
                            modelAsString: true
                            values:
                            - name: User
                              value: User
                              description: AAD User object type.
                            - name: Group
                              value: Group
                              description: AAD Group object type.
                            - name: ServicePrincipal
                              value: ServicePrincipal
                              description: Service Principal object type.
                    x-ms-identifiers: []
              decisionRules:
                type: array
                description: Array of decision rules for the policy
                items:
                  type: object
                  description: Purview RBAC policy decision rule
                  properties:
                    effect:
                      description: The effect for rule
                      type: string
                      enum:
                      - Permit
                      - Deny
                      x-ms-enum:
                        name: Decision
                        modelAsString: true
                        values:
                        - name: Permit
                          value: Permit
                          description: Access permitted
                        - name: Deny
                          value: Deny
                          description: Access denied
                    permission:
                      type: array
                      description: Array of attribute predicates
                      items:
                        type: object
                        description: Attribute predicate for a policy permission
                        properties:
                          attributeName:
                            type: string
                            description: AttributeName of a policy permission
                          attributeValueIncludedIn:
                            type: array
                            description: values for a policy permission
                            items:
                              type: string
                      x-ms-identifiers: []
                  required:
                  - effect
                x-ms-identifiers: []
              expiryTime:
                type: string
                format: date-time
                description: The timestamp of the expiry time of the policy (UTC).
              requestor:
                type: string
                description: The AAD member who requested the policy
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - source
            - etag
            - scopes
            - members
            - decisionRules
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PolicyMembers:
      type: object
      description: Policy member
      properties:
        fabricItemMembers:
          type: array
          description: Array of azure active directory members
          items:
            type: object
            description: Microsoft fabric item member
            properties:
              sourcePath:
                type: string
                description: Source path of the member
              itemAccess:
                type: array
                description: Array of access items for the member
                items:
                  type: string
          x-ms-identifiers: []
        aadMembers:
          type: array
          description: Array of azure active directory members
          items:
            type: object
            description: Azure active directory member
            properties:
              tenantId:
                type: string
                description: The tenantId of the member
              objectId:
                type: string
                description: The objectId of the member
              objectType:
                description: The objectType of the member.
                type: string
                enum:
                - User
                - Group
                - ServicePrincipal
                x-ms-enum:
                  name: ObjectType
                  modelAsString: true
                  values:
                  - name: User
                    value: User
                    description: AAD User object type.
                  - name: Group
                    value: Group
                    description: AAD Group object type.
                  - name: ServicePrincipal
                    value: ServicePrincipal
                    description: Service Principal object type.
          x-ms-identifiers: []
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    Operation:
      type: object
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      properties:
        name:
          type: string
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          readOnly: true
        isDataAction:
          type: boolean
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          readOnly: true
        display:
          type: object
          description: Localized display information for this particular operation.
          properties:
            provider:
              type: string
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              readOnly: true
            resource:
              type: string
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              readOnly: true
            operation:
              type: string
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              readOnly: true
            description:
              type: string
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              readOnly: true
        origin:
          type: string
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
          readOnly: true
        actionType:
          type: string
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
          readOnly: true
    OperationListResult:
      type: object
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider
          items:
            type: object
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
            properties:
              name:
                type: string
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                readOnly: true
              isDataAction:
                type: boolean
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                readOnly: true
              display:
                type: object
                description: Localized display information for this particular operation.
                properties:
                  provider:
                    type: string
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    readOnly: true
                  resource:
                    type: string
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    readOnly: true
                  operation:
                    type: string
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    readOnly: true
                  description:
                    type: string
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    readOnly: true
              origin:
                type: string
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
                readOnly: true
              actionType:
                type: string
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
                readOnly: true
          readOnly: true
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          format: uri
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
