openapi: 3.0.0
info:
  title: DatabricksAccessConnectorClient
  version: 2024-05-01
  description: These APIs allow end users to operate on Azure Databricks Access Connector
    resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/accessConnectors/{connectorName}
  : get:
      tags:
      - AccessConnector
      operationId: AccessConnectors_Get
      description: Gets an Azure Databricks Access Connector.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the Azure Databricks Access Connector.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK - Returns the Access Connector.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  systemData:
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  properties:
                    description: Azure Databricks Access Connector properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning status of the Access Connector.
                        readOnly: true
                        enum:
                        - Deleted
                        - Failed
                        - Succeeded
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      referedBy:
                        description: List of workspaces referring this Access Connector.
                        readOnly: true
                        type: array
                        items:
                          type: string
                required:
                - location
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      tags:
      - AccessConnector
      operationId: AccessConnectors_Delete
      description: Deletes the Azure Databricks Access Connector.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the Azure Databricks Access Connector.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK. The request has succeeded.
        '202':
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-long-running-operation: true
    put:
      tags:
      - AccessConnector
      operationId: AccessConnectors_CreateOrUpdate
      description: Creates or updates Azure Databricks Access Connector.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the Azure Databricks Access Connector.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                identity:
                  type: object
                  description: Managed service identity (system assigned and/or user
                    assigned identities)
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                systemData:
                  description: The system metadata relating to this resource
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                  readOnly: true
                properties:
                  description: Azure Databricks Access Connector properties
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning status of the Access Connector.
                      readOnly: true
                      enum:
                      - Deleted
                      - Failed
                      - Succeeded
                      type: string
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    referedBy:
                      description: List of workspaces referring this Access Connector.
                      readOnly: true
                      type: array
                      items:
                        type: string
              required:
              - location
              description: The core properties of ARM resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update an Azure Databricks
          Access Connector.
        required: true
      responses:
        '200':
          description: Updated - Returns information about the Azure Databricks Access
            Connector.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  systemData:
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  properties:
                    description: Azure Databricks Access Connector properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning status of the Access Connector.
                        readOnly: true
                        enum:
                        - Deleted
                        - Failed
                        - Succeeded
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      referedBy:
                        description: List of workspaces referring this Access Connector.
                        readOnly: true
                        type: array
                        items:
                          type: string
                required:
                - location
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: Created - Returns information about the Azure Databricks Access
            Connector.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  systemData:
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  properties:
                    description: Azure Databricks Access Connector properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning status of the Access Connector.
                        readOnly: true
                        enum:
                        - Deleted
                        - Failed
                        - Succeeded
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      referedBy:
                        description: List of workspaces referring this Access Connector.
                        readOnly: true
                        type: array
                        items:
                          type: string
                required:
                - location
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-long-running-operation: true
    patch:
      tags:
      - AccessConnector
      operationId: AccessConnectors_Update
      description: Updates an Azure Databricks Access Connector.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the Azure Databricks Access Connector.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              description: An update to an Azure Databricks Access Connector.
              type: object
              properties:
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                identity:
                  type: object
                  description: Managed service identity (system assigned and/or user
                    assigned identities)
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
        description: The update to the Azure Databricks Access Connector.
        required: true
      responses:
        '200':
          description: Successfully updated the Azure Databricks Access Connector.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  systemData:
                    description: The system metadata relating to this resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  properties:
                    description: Azure Databricks Access Connector properties
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning status of the Access Connector.
                        readOnly: true
                        enum:
                        - Deleted
                        - Failed
                        - Succeeded
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      referedBy:
                        description: List of workspaces referring this Access Connector.
                        readOnly: true
                        type: array
                        items:
                          type: string
                required:
                - location
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '202':
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/accessConnectors:
    get:
      tags:
      - AccessConnector
      operationId: AccessConnectors_ListByResourceGroup
      description: Gets all the Azure Databricks Access Connectors within a resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK - Returns an array of Azure Databricks Access Connectors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                            or Microsoft.Storage/storageAccounts.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          type: object
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        systemData:
                          description: The system metadata relating to this resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                          readOnly: true
                        properties:
                          description: Azure Databricks Access Connector properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning status of the Access Connector.
                              readOnly: true
                              enum:
                              - Deleted
                              - Failed
                              - Succeeded
                              type: string
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            referedBy:
                              description: List of workspaces referring this Access
                                Connector.
                              readOnly: true
                              type: array
                              items:
                                type: string
                      required:
                      - location
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: The array of Azure Databricks Access Connector.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: List of Azure Databricks Access Connector.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Databricks/accessConnectors:
    get:
      tags:
      - AccessConnector
      operationId: AccessConnectors_ListBySubscription
      description: Gets all the Azure Databricks Access Connectors within a subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK - Returns an array of Azure Databricks Access Connectors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                            or Microsoft.Storage/storageAccounts.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          type: object
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        systemData:
                          description: The system metadata relating to this resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                          readOnly: true
                        properties:
                          description: Azure Databricks Access Connector properties
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning status of the Access Connector.
                              readOnly: true
                              enum:
                              - Deleted
                              - Failed
                              - Succeeded
                              type: string
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            referedBy:
                              description: List of workspaces referring this Access
                                Connector.
                              readOnly: true
                              type: array
                              items:
                                type: string
                      required:
                      - location
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: The array of Azure Databricks Access Connector.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: List of Azure Databricks Access Connector.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ConnectorName:
      name: connectorName
      in: path
      required: true
      description: The name of the Azure Databricks Access Connector.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 64
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AccessConnector:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        identity:
          type: object
          description: Managed service identity (system assigned and/or user assigned
            identities)
          properties:
            principalId:
              type: string
              format: uuid
              description: The service principal ID of the system assigned identity.
                This property will only be provided for a system assigned identity.
              readOnly: true
            tenantId:
              type: string
              format: uuid
              description: The tenant ID of the system assigned identity. This property
                will only be provided for a system assigned identity.
              readOnly: true
            type:
              type: string
              description: Type of managed service identity (where both SystemAssigned
                and UserAssigned types are allowed).
              enum:
              - None
              - SystemAssigned
              - UserAssigned
              - SystemAssigned,UserAssigned
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
            userAssignedIdentities:
              type: object
              title: User-Assigned Identities
              description: 'The set of user assigned identities associated with the
                resource. The userAssignedIdentities dictionary keys will be ARM resource
                ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                The dictionary values can be empty objects ({}) in requests.'
              additionalProperties:
                type: object
                description: User assigned identity properties
                properties:
                  principalId:
                    type: string
                    format: uuid
                    description: The principal ID of the assigned identity.
                    readOnly: true
                  clientId:
                    type: string
                    format: uuid
                    description: The client ID of the assigned identity.
                    readOnly: true
          required:
          - type
        systemData:
          description: The system metadata relating to this resource
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
          readOnly: true
        properties:
          description: Azure Databricks Access Connector properties
          type: object
          properties:
            provisioningState:
              description: Provisioning status of the Access Connector.
              readOnly: true
              enum:
              - Deleted
              - Failed
              - Succeeded
              type: string
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            referedBy:
              description: List of workspaces referring this Access Connector.
              readOnly: true
              type: array
              items:
                type: string
      required:
      - location
      description: The core properties of ARM resources
      x-ms-azure-resource: true
    AccessConnectorProperties:
      type: object
      properties:
        provisioningState:
          description: Provisioning status of the Access Connector.
          readOnly: true
          enum:
          - Deleted
          - Failed
          - Succeeded
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        referedBy:
          description: List of workspaces referring this Access Connector.
          readOnly: true
          type: array
          items:
            type: string
    AccessConnectorUpdate:
      description: An update to an Azure Databricks Access Connector.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        identity:
          type: object
          description: Managed service identity (system assigned and/or user assigned
            identities)
          properties:
            principalId:
              type: string
              format: uuid
              description: The service principal ID of the system assigned identity.
                This property will only be provided for a system assigned identity.
              readOnly: true
            tenantId:
              type: string
              format: uuid
              description: The tenant ID of the system assigned identity. This property
                will only be provided for a system assigned identity.
              readOnly: true
            type:
              type: string
              description: Type of managed service identity (where both SystemAssigned
                and UserAssigned types are allowed).
              enum:
              - None
              - SystemAssigned
              - UserAssigned
              - SystemAssigned,UserAssigned
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
            userAssignedIdentities:
              type: object
              title: User-Assigned Identities
              description: 'The set of user assigned identities associated with the
                resource. The userAssignedIdentities dictionary keys will be ARM resource
                ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                The dictionary values can be empty objects ({}) in requests.'
              additionalProperties:
                type: object
                description: User assigned identity properties
                properties:
                  principalId:
                    type: string
                    format: uuid
                    description: The principal ID of the assigned identity.
                    readOnly: true
                  clientId:
                    type: string
                    format: uuid
                    description: The client ID of the assigned identity.
                    readOnly: true
          required:
          - type
    AccessConnectorListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                  or Microsoft.Storage/storageAccounts.
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              identity:
                type: object
                description: Managed service identity (system assigned and/or user
                  assigned identities)
                properties:
                  principalId:
                    type: string
                    format: uuid
                    description: The service principal ID of the system assigned identity.
                      This property will only be provided for a system assigned identity.
                    readOnly: true
                  tenantId:
                    type: string
                    format: uuid
                    description: The tenant ID of the system assigned identity. This
                      property will only be provided for a system assigned identity.
                    readOnly: true
                  type:
                    type: string
                    description: Type of managed service identity (where both SystemAssigned
                      and UserAssigned types are allowed).
                    enum:
                    - None
                    - SystemAssigned
                    - UserAssigned
                    - SystemAssigned,UserAssigned
                    x-ms-enum:
                      name: ManagedServiceIdentityType
                      modelAsString: true
                  userAssignedIdentities:
                    type: object
                    title: User-Assigned Identities
                    description: 'The set of user assigned identities associated with
                      the resource. The userAssignedIdentities dictionary keys will
                      be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                      The dictionary values can be empty objects ({}) in requests.'
                    additionalProperties:
                      type: object
                      description: User assigned identity properties
                      properties:
                        principalId:
                          type: string
                          format: uuid
                          description: The principal ID of the assigned identity.
                          readOnly: true
                        clientId:
                          type: string
                          format: uuid
                          description: The client ID of the assigned identity.
                          readOnly: true
                required:
                - type
              systemData:
                description: The system metadata relating to this resource
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
                readOnly: true
              properties:
                description: Azure Databricks Access Connector properties
                type: object
                properties:
                  provisioningState:
                    description: Provisioning status of the Access Connector.
                    readOnly: true
                    enum:
                    - Deleted
                    - Failed
                    - Succeeded
                    type: string
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  referedBy:
                    description: List of workspaces referring this Access Connector.
                    readOnly: true
                    type: array
                    items:
                      type: string
            required:
            - location
            description: The core properties of ARM resources
            x-ms-azure-resource: true
          description: The array of Azure Databricks Access Connector.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of Azure Databricks Access Connector.
    ErrorDetail:
      title: Error details.
      type: object
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
        target:
          description: Indicates which property in the request is responsible for
            the error.
          type: string
      required:
      - code
      - message
    ErrorInfo:
      title: The code and message for an error.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        message:
          description: A human readable error message.
          type: string
        details:
          description: error details.
          type: array
          items:
            title: Error details.
            type: object
            properties:
              code:
                description: The error's code.
                type: string
              message:
                description: A human readable error message.
                type: string
              target:
                description: Indicates which property in the request is responsible
                  for the error.
                type: string
            required:
            - code
            - message
        innererror:
          description: Inner error details if they exist.
          type: string
      required:
      - code
      - message
    ErrorResponse:
      title: Error response.
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          description: The error details.
          title: The code and message for an error.
          type: object
          properties:
            code:
              description: A machine readable error code.
              type: string
            message:
              description: A human readable error message.
              type: string
            details:
              description: error details.
              type: array
              items:
                title: Error details.
                type: object
                properties:
                  code:
                    description: The error's code.
                    type: string
                  message:
                    description: A human readable error message.
                    type: string
                  target:
                    description: Indicates which property in the request is responsible
                      for the error.
                    type: string
                required:
                - code
                - message
            innererror:
              description: Inner error details if they exist.
              type: string
          required:
          - code
          - message
      required:
      - error
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
            or Microsoft.Storage/storageAccounts.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      description: The core properties of ARM resources
      x-ms-azure-resource: true
      required:
      - location
    ManagedServiceIdentityType:
      type: string
      description: Type of managed service identity (where both SystemAssigned and
        UserAssigned types are allowed).
      enum:
      - None
      - SystemAssigned
      - UserAssigned
      - SystemAssigned,UserAssigned
      x-ms-enum:
        name: ManagedServiceIdentityType
        modelAsString: true
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          type: string
          format: uuid
          description: The principal ID of the assigned identity.
          readOnly: true
        clientId:
          type: string
          format: uuid
          description: The client ID of the assigned identity.
          readOnly: true
    UserAssignedIdentities:
      type: object
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource.
        The userAssignedIdentities dictionary keys will be ARM resource ids in the
        form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
        The dictionary values can be empty objects ({}) in requests.'
      additionalProperties:
        type: object
        description: User assigned identity properties
        properties:
          principalId:
            type: string
            format: uuid
            description: The principal ID of the assigned identity.
            readOnly: true
          clientId:
            type: string
            format: uuid
            description: The client ID of the assigned identity.
            readOnly: true
    ManagedServiceIdentity:
      type: object
      description: Managed service identity (system assigned and/or user assigned
        identities)
      properties:
        principalId:
          type: string
          format: uuid
          description: The service principal ID of the system assigned identity. This
            property will only be provided for a system assigned identity.
          readOnly: true
[...]
