openapi: 3.0.0
info:
  title: DatabricksClient
  version: 2024-05-01
  description: ARM Databricks
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}/virtualNetworkPeerings/{peeringName}
  : get:
      tags:
      - vNetPeering
      operationId: vNetPeering_Get
      description: Gets the workspace vNet Peering.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: peeringName
        in: path
        required: true
        description: The name of the workspace vNet peering.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: List of properties for vNet Peering
                    properties:
                      allowVirtualNetworkAccess:
                        type: boolean
                        description: Whether the VMs in the local virtual network
                          space would be able to access the VMs in remote virtual
                          network space.
                      allowForwardedTraffic:
                        type: boolean
                        description: Whether the forwarded traffic from the VMs in
                          the local virtual network will be allowed/disallowed in
                          remote virtual network.
                      allowGatewayTransit:
                        type: boolean
                        description: If gateway links can be used in remote virtual
                          networking to link to this virtual network.
                      useRemoteGateways:
                        type: boolean
                        description: If remote gateways can be used on this virtual
                          network. If the flag is set to true, and allowGatewayTransit
                          on remote peering is also true, virtual network will use
                          gateways of remote virtual network for transit. Only one
                          peering can have this flag set to true. This flag cannot
                          be set if virtual network already has a gateway.
                      databricksVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the databricks virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      databricksAddressSpace:
                        description: The reference to the databricks virtual network
                          address space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      remoteVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the remote virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      remoteAddressSpace:
                        description: The reference to the remote virtual network address
                          space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      peeringState:
                        type: string
                        description: The status of the virtual network peering.
                        enum:
                        - Initiated
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: peeringState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the virtual network
                          peering resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: PeeringProvisioningState
                          modelAsString: true
                    required:
                    - remoteVirtualNetwork
                  name:
                    type: string
                    description: Name of the virtual network peering resource
                    readOnly: true
                  id:
                    type: string
                    description: Resource ID.
                    readOnly: true
                  type:
                    type: string
                    description: type of the virtual network peering resource
                    readOnly: true
                required:
                - properties
                description: Peerings in a VirtualNetwork resource
                x-ms-azure-resource: true
        '204':
          description: OK - NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
    delete:
      tags:
      - vNetPeering
      operationId: vNetPeering_Delete
      description: Deletes the workspace vNetPeering.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: peeringName
        in: path
        required: true
        description: The name of the workspace vNet peering.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
        '202':
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-long-running-operation: true
    put:
      tags:
      - vNetPeering
      operationId: vNetPeering_CreateOrUpdate
      description: Creates vNet Peering for workspace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: peeringName
        in: path
        required: true
        description: The name of the workspace vNet peering.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: List of properties for vNet Peering
                  properties:
                    allowVirtualNetworkAccess:
                      type: boolean
                      description: Whether the VMs in the local virtual network space
                        would be able to access the VMs in remote virtual network
                        space.
                    allowForwardedTraffic:
                      type: boolean
                      description: Whether the forwarded traffic from the VMs in the
                        local virtual network will be allowed/disallowed in remote
                        virtual network.
                    allowGatewayTransit:
                      type: boolean
                      description: If gateway links can be used in remote virtual
                        networking to link to this virtual network.
                    useRemoteGateways:
                      type: boolean
                      description: If remote gateways can be used on this virtual
                        network. If the flag is set to true, and allowGatewayTransit
                        on remote peering is also true, virtual network will use gateways
                        of remote virtual network for transit. Only one peering can
                        have this flag set to true. This flag cannot be set if virtual
                        network already has a gateway.
                    databricksVirtualNetwork:
                      properties:
                        id:
                          type: string
                          description: The Id of the databricks virtual network.
                      description: ' The remote virtual network should be in the same
                        region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                    databricksAddressSpace:
                      description: The reference to the databricks virtual network
                        address space.
                      properties:
                        addressPrefixes:
                          type: array
                          items:
                            type: string
                          description: A list of address blocks reserved for this
                            virtual network in CIDR notation.
                    remoteVirtualNetwork:
                      properties:
                        id:
                          type: string
                          description: The Id of the remote virtual network.
                      description: ' The remote virtual network should be in the same
                        region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                    remoteAddressSpace:
                      description: The reference to the remote virtual network address
                        space.
                      properties:
                        addressPrefixes:
                          type: array
                          items:
                            type: string
                          description: A list of address blocks reserved for this
                            virtual network in CIDR notation.
                    peeringState:
                      type: string
                      description: The status of the virtual network peering.
                      enum:
                      - Initiated
                      - Connected
                      - Disconnected
                      x-ms-enum:
                        name: peeringState
                        modelAsString: true
                      readOnly: true
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the virtual network peering
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: PeeringProvisioningState
                        modelAsString: true
                  required:
                  - remoteVirtualNetwork
                name:
                  type: string
                  description: Name of the virtual network peering resource
                  readOnly: true
                id:
                  type: string
                  description: Resource ID.
                  readOnly: true
                type:
                  type: string
                  description: type of the virtual network peering resource
                  readOnly: true
              required:
              - properties
              description: Peerings in a VirtualNetwork resource
              x-ms-azure-resource: true
        description: Parameters supplied to the create workspace vNet Peering.
        required: true
      responses:
        '200':
          description: Update succeeded - Returns information about the workspace
            vNet peering.
          content:
            application/json:
              schema:
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: List of properties for vNet Peering
                    properties:
                      allowVirtualNetworkAccess:
                        type: boolean
                        description: Whether the VMs in the local virtual network
                          space would be able to access the VMs in remote virtual
                          network space.
                      allowForwardedTraffic:
                        type: boolean
                        description: Whether the forwarded traffic from the VMs in
                          the local virtual network will be allowed/disallowed in
                          remote virtual network.
                      allowGatewayTransit:
                        type: boolean
                        description: If gateway links can be used in remote virtual
                          networking to link to this virtual network.
                      useRemoteGateways:
                        type: boolean
                        description: If remote gateways can be used on this virtual
                          network. If the flag is set to true, and allowGatewayTransit
                          on remote peering is also true, virtual network will use
                          gateways of remote virtual network for transit. Only one
                          peering can have this flag set to true. This flag cannot
                          be set if virtual network already has a gateway.
                      databricksVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the databricks virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      databricksAddressSpace:
                        description: The reference to the databricks virtual network
                          address space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      remoteVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the remote virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      remoteAddressSpace:
                        description: The reference to the remote virtual network address
                          space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      peeringState:
                        type: string
                        description: The status of the virtual network peering.
                        enum:
                        - Initiated
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: peeringState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the virtual network
                          peering resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: PeeringProvisioningState
                          modelAsString: true
                    required:
                    - remoteVirtualNetwork
                  name:
                    type: string
                    description: Name of the virtual network peering resource
                    readOnly: true
                  id:
                    type: string
                    description: Resource ID.
                    readOnly: true
                  type:
                    type: string
                    description: type of the virtual network peering resource
                    readOnly: true
                required:
                - properties
                description: Peerings in a VirtualNetwork resource
                x-ms-azure-resource: true
        '201':
          description: Created - Returns information about the workspace vNet peering,
            including provisioning status.
          content:
            application/json:
              schema:
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: List of properties for vNet Peering
                    properties:
                      allowVirtualNetworkAccess:
                        type: boolean
                        description: Whether the VMs in the local virtual network
                          space would be able to access the VMs in remote virtual
                          network space.
                      allowForwardedTraffic:
                        type: boolean
                        description: Whether the forwarded traffic from the VMs in
                          the local virtual network will be allowed/disallowed in
                          remote virtual network.
                      allowGatewayTransit:
                        type: boolean
                        description: If gateway links can be used in remote virtual
                          networking to link to this virtual network.
                      useRemoteGateways:
                        type: boolean
                        description: If remote gateways can be used on this virtual
                          network. If the flag is set to true, and allowGatewayTransit
                          on remote peering is also true, virtual network will use
                          gateways of remote virtual network for transit. Only one
                          peering can have this flag set to true. This flag cannot
                          be set if virtual network already has a gateway.
                      databricksVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the databricks virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      databricksAddressSpace:
                        description: The reference to the databricks virtual network
                          address space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      remoteVirtualNetwork:
                        properties:
                          id:
                            type: string
                            description: The Id of the remote virtual network.
                        description: ' The remote virtual network should be in the
                          same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                      remoteAddressSpace:
                        description: The reference to the remote virtual network address
                          space.
                        properties:
                          addressPrefixes:
                            type: array
                            items:
                              type: string
                            description: A list of address blocks reserved for this
                              virtual network in CIDR notation.
                      peeringState:
                        type: string
                        description: The status of the virtual network peering.
                        enum:
                        - Initiated
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: peeringState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the virtual network
                          peering resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: PeeringProvisioningState
                          modelAsString: true
                    required:
                    - remoteVirtualNetwork
                  name:
                    type: string
                    description: Name of the virtual network peering resource
                    readOnly: true
                  id:
                    type: string
                    description: Resource ID.
                    readOnly: true
                  type:
                    type: string
                    description: type of the virtual network peering resource
                    readOnly: true
                required:
                - properties
                description: Peerings in a VirtualNetwork resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}/virtualNetworkPeerings
  : get:
      tags:
      - vNetPeering
      operationId: vNetPeering_ListByWorkspace
      description: Lists the workspace vNet Peerings.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        required: true
        description: The name of the workspace.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: List succeeded. Returns the resulting resource objects in response
            body.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: List of properties for vNet Peering
                          properties:
                            allowVirtualNetworkAccess:
                              type: boolean
                              description: Whether the VMs in the local virtual network
                                space would be able to access the VMs in remote virtual
                                network space.
                            allowForwardedTraffic:
                              type: boolean
                              description: Whether the forwarded traffic from the
                                VMs in the local virtual network will be allowed/disallowed
                                in remote virtual network.
                            allowGatewayTransit:
                              type: boolean
                              description: If gateway links can be used in remote
                                virtual networking to link to this virtual network.
                            useRemoteGateways:
                              type: boolean
                              description: If remote gateways can be used on this
                                virtual network. If the flag is set to true, and allowGatewayTransit
                                on remote peering is also true, virtual network will
                                use gateways of remote virtual network for transit.
                                Only one peering can have this flag set to true. This
                                flag cannot be set if virtual network already has
                                a gateway.
                            databricksVirtualNetwork:
                              properties:
                                id:
                                  type: string
                                  description: The Id of the databricks virtual network.
                              description: ' The remote virtual network should be
                                in the same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                            databricksAddressSpace:
                              description: The reference to the databricks virtual
                                network address space.
                              properties:
                                addressPrefixes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of address blocks reserved for
                                    this virtual network in CIDR notation.
                            remoteVirtualNetwork:
                              properties:
                                id:
                                  type: string
                                  description: The Id of the remote virtual network.
                              description: ' The remote virtual network should be
                                in the same region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                            remoteAddressSpace:
                              description: The reference to the remote virtual network
                                address space.
                              properties:
                                addressPrefixes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of address blocks reserved for
                                    this virtual network in CIDR notation.
                            peeringState:
                              type: string
                              description: The status of the virtual network peering.
                              enum:
                              - Initiated
                              - Connected
                              - Disconnected
                              x-ms-enum:
                                name: peeringState
                                modelAsString: true
                              readOnly: true
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the virtual network
                                peering resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: PeeringProvisioningState
                                modelAsString: true
                          required:
                          - remoteVirtualNetwork
                        name:
                          type: string
                          description: Name of the virtual network peering resource
                          readOnly: true
                        id:
                          type: string
                          description: Resource ID.
                          readOnly: true
                        type:
                          type: string
                          description: type of the virtual network peering resource
                          readOnly: true
                      required:
                      - properties
                      description: Peerings in a VirtualNetwork resource
                      x-ms-azure-resource: true
                    description: List of virtual network peerings on workspace.
                  nextLink:
                    type: string
                    description: URL to get the next set of virtual network peering
                      list results if there are any.
                description: Gets all virtual network peerings under a workspace.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response.
                description: Contains details when the response code indicates an
                  error.
                type: object
                properties:
                  error:
                    description: The error details.
                    title: The code and message for an error.
                    type: object
                    properties:
                      code:
                        description: A machine readable error code.
                        type: string
                      message:
                        description: A human readable error message.
                        type: string
                      details:
                        description: error details.
                        type: array
                        items:
                          title: Error details.
                          type: object
                          properties:
                            code:
                              description: The error's code.
                              type: string
                            message:
                              description: A human readable error message.
                              type: string
                            target:
                              description: Indicates which property in the request
                                is responsible for the error.
                              type: string
                          required:
                          - code
                          - message
                      innererror:
                        description: Inner error details if they exist.
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    WorkspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 64
    PeeringNameParameter:
      name: peeringName
      in: path
      required: true
      description: The name of the workspace vNet peering.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      title: Error details.
      type: object
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
        target:
          description: Indicates which property in the request is responsible for
            the error.
          type: string
      required:
      - code
      - message
    ErrorInfo:
      title: The code and message for an error.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        message:
          description: A human readable error message.
          type: string
        details:
          description: error details.
          type: array
          items:
            title: Error details.
            type: object
            properties:
              code:
                description: The error's code.
                type: string
              message:
                description: A human readable error message.
                type: string
              target:
                description: Indicates which property in the request is responsible
                  for the error.
                type: string
            required:
            - code
            - message
        innererror:
          description: Inner error details if they exist.
          type: string
      required:
      - code
      - message
    ErrorResponse:
      title: Error response.
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          description: The error details.
          title: The code and message for an error.
          type: object
          properties:
            code:
              description: A machine readable error code.
              type: string
            message:
              description: A human readable error message.
              type: string
            details:
              description: error details.
              type: array
              items:
                title: Error details.
                type: object
                properties:
                  code:
                    description: The error's code.
                    type: string
                  message:
                    description: A human readable error message.
                    type: string
                  target:
                    description: Indicates which property in the request is responsible
                      for the error.
                    type: string
                required:
                - code
                - message
            innererror:
              description: Inner error details if they exist.
              type: string
          required:
          - code
          - message
      required:
      - error
    VirtualNetworkPeeringList:
      properties:
        value:
          type: array
          items:
            properties:
              properties:
                x-ms-client-flatten: true
                description: List of properties for vNet Peering
                properties:
                  allowVirtualNetworkAccess:
                    type: boolean
                    description: Whether the VMs in the local virtual network space
                      would be able to access the VMs in remote virtual network space.
                  allowForwardedTraffic:
                    type: boolean
                    description: Whether the forwarded traffic from the VMs in the
                      local virtual network will be allowed/disallowed in remote virtual
                      network.
                  allowGatewayTransit:
                    type: boolean
                    description: If gateway links can be used in remote virtual networking
                      to link to this virtual network.
                  useRemoteGateways:
                    type: boolean
                    description: If remote gateways can be used on this virtual network.
                      If the flag is set to true, and allowGatewayTransit on remote
                      peering is also true, virtual network will use gateways of remote
                      virtual network for transit. Only one peering can have this
                      flag set to true. This flag cannot be set if virtual network
                      already has a gateway.
                  databricksVirtualNetwork:
                    properties:
                      id:
                        type: string
                        description: The Id of the databricks virtual network.
                    description: ' The remote virtual network should be in the same
                      region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                  databricksAddressSpace:
                    description: The reference to the databricks virtual network address
                      space.
                    properties:
                      addressPrefixes:
                        type: array
                        items:
                          type: string
                        description: A list of address blocks reserved for this virtual
                          network in CIDR notation.
                  remoteVirtualNetwork:
                    properties:
                      id:
                        type: string
                        description: The Id of the remote virtual network.
                    description: ' The remote virtual network should be in the same
                      region. See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
                  remoteAddressSpace:
                    description: The reference to the remote virtual network address
                      space.
                    properties:
                      addressPrefixes:
                        type: array
                        items:
                          type: string
                        description: A list of address blocks reserved for this virtual
                          network in CIDR notation.
                  peeringState:
                    type: string
                    description: The status of the virtual network peering.
                    enum:
                    - Initiated
                    - Connected
                    - Disconnected
                    x-ms-enum:
                      name: peeringState
                      modelAsString: true
                    readOnly: true
                  provisioningState:
                    readOnly: true
                    description: The provisioning state of the virtual network peering
                      resource.
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: PeeringProvisioningState
                      modelAsString: true
                required:
                - remoteVirtualNetwork
              name:
                type: string
                description: Name of the virtual network peering resource
                readOnly: true
              id:
                type: string
                description: Resource ID.
                readOnly: true
              type:
                type: string
                description: type of the virtual network peering resource
                readOnly: true
            required:
            - properties
            description: Peerings in a VirtualNetwork resource
            x-ms-azure-resource: true
          description: List of virtual network peerings on workspace.
        nextLink:
          type: string
          description: URL to get the next set of virtual network peering list results
            if there are any.
      description: Gets all virtual network peerings under a workspace.
    VirtualNetworkPeering:
      properties:
        properties:
          x-ms-client-flatten: true
          description: List of properties for vNet Peering
          properties:
            allowVirtualNetworkAccess:
              type: boolean
              description: Whether the VMs in the local virtual network space would
                be able to access the VMs in remote virtual network space.
            allowForwardedTraffic:
              type: boolean
              description: Whether the forwarded traffic from the VMs in the local
                virtual network will be allowed/disallowed in remote virtual network.
            allowGatewayTransit:
              type: boolean
              description: If gateway links can be used in remote virtual networking
                to link to this virtual network.
            useRemoteGateways:
              type: boolean
              description: If remote gateways can be used on this virtual network.
                If the flag is set to true, and allowGatewayTransit on remote peering
                is also true, virtual network will use gateways of remote virtual
                network for transit. Only one peering can have this flag set to true.
                This flag cannot be set if virtual network already has a gateway.
            databricksVirtualNetwork:
              properties:
                id:
                  type: string
                  description: The Id of the databricks virtual network.
              description: ' The remote virtual network should be in the same region.
                See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
            databricksAddressSpace:
              description: The reference to the databricks virtual network address
                space.
              properties:
                addressPrefixes:
                  type: array
                  items:
                    type: string
                  description: A list of address blocks reserved for this virtual
                    network in CIDR notation.
            remoteVirtualNetwork:
              properties:
                id:
                  type: string
                  description: The Id of the remote virtual network.
              description: ' The remote virtual network should be in the same region.
                See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
            remoteAddressSpace:
              description: The reference to the remote virtual network address space.
              properties:
                addressPrefixes:
                  type: array
                  items:
                    type: string
                  description: A list of address blocks reserved for this virtual
                    network in CIDR notation.
            peeringState:
              type: string
              description: The status of the virtual network peering.
              enum:
              - Initiated
              - Connected
              - Disconnected
              x-ms-enum:
                name: peeringState
                modelAsString: true
              readOnly: true
            provisioningState:
              readOnly: true
              description: The provisioning state of the virtual network peering resource.
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: PeeringProvisioningState
                modelAsString: true
          required:
          - remoteVirtualNetwork
        name:
          type: string
          description: Name of the virtual network peering resource
          readOnly: true
        id:
          type: string
          description: Resource ID.
          readOnly: true
        type:
          type: string
          description: type of the virtual network peering resource
          readOnly: true
      required:
      - properties
      description: Peerings in a VirtualNetwork resource
      x-ms-azure-resource: true
    VirtualNetworkPeeringPropertiesFormat:
      properties:
        allowVirtualNetworkAccess:
          type: boolean
          description: Whether the VMs in the local virtual network space would be
            able to access the VMs in remote virtual network space.
        allowForwardedTraffic:
          type: boolean
          description: Whether the forwarded traffic from the VMs in the local virtual
            network will be allowed/disallowed in remote virtual network.
        allowGatewayTransit:
          type: boolean
          description: If gateway links can be used in remote virtual networking to
            link to this virtual network.
        useRemoteGateways:
          type: boolean
          description: If remote gateways can be used on this virtual network. If
            the flag is set to true, and allowGatewayTransit on remote peering is
            also true, virtual network will use gateways of remote virtual network
            for transit. Only one peering can have this flag set to true. This flag
            cannot be set if virtual network already has a gateway.
        databricksVirtualNetwork:
          properties:
            id:
              type: string
              description: The Id of the databricks virtual network.
          description: ' The remote virtual network should be in the same region.
            See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
        databricksAddressSpace:
          description: The reference to the databricks virtual network address space.
          properties:
            addressPrefixes:
              type: array
              items:
                type: string
              description: A list of address blocks reserved for this virtual network
                in CIDR notation.
        remoteVirtualNetwork:
          properties:
            id:
              type: string
              description: The Id of the remote virtual network.
          description: ' The remote virtual network should be in the same region.
            See here to learn more (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-peering).'
        remoteAddressSpace:
          description: The reference to the remote virtual network address space.
          properties:
            addressPrefixes:
              type: array
              items:
                type: string
              description: A list of address blocks reserved for this virtual network
                in CIDR notation.
        peeringState:
          type: string
          description: The status of the virtual network peering.
          enum:
          - Initiated
          - Connected
          - Disconnected
          x-ms-enum:
            name: peeringState
            modelAsString: true
          readOnly: true
        provisioningState:
          readOnly: true
          description: The provisioning state of the virtual network peering resource.
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: PeeringProvisioningState
            modelAsString: true
      required:
      - remoteVirtualNetwork
      description: Properties of the virtual network peering.
    PeeringProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      x-ms-enum:
        name: PeeringProvisioningState
        modelAsString: true
    AddressSpace:
      properties:
        addressPrefixes:
          type: array
          items:
            type: string
          description: A list of address blocks reserved for this virtual network
            in CIDR notation.
      description: AddressSpace contains an array of IP address ranges that can be
        used by subnets of the virtual network.
