openapi: 3.0.0
info:
  title: WebPubSubManagementClient
  description: REST API for Azure WebPubSub Service
  version: 2024-03-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.SignalRService/operations:
    get:
      tags:
      - WebPubSub
      description: Lists all of the available REST API operations of the Microsoft.SignalRService
        provider.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success. The response describes the list of operations.
          content:
            application/json:
              schema:
                description: Result of the request to list REST API operations. It
                  contains a list of operations.
                type: object
                properties:
                  value:
                    description: List of operations supported by the resource provider.
                    type: array
                    items:
                      description: REST API operation supported by resource provider.
                      type: object
                      properties:
                        name:
                          description: 'Name of the operation with format: {provider}/{resource}/{operation}'
                          type: string
                        isDataAction:
                          description: If the operation is a data action. (for data
                            plane rbac)
                          type: boolean
                        display:
                          description: The object that describes a operation.
                          type: object
                          properties:
                            provider:
                              description: Friendly name of the resource provider
                              type: string
                            resource:
                              description: Resource type on which the operation is
                                performed.
                              type: string
                            operation:
                              description: The localized friendly name for the operation.
                              type: string
                            description:
                              description: The localized friendly description for
                                the operation
                              type: string
                        origin:
                          description: Optional. The intended executor of the operation;
                            governs the display of the operation in the RBAC UX and
                            the audit logs UX.
                          type: string
                        properties:
                          x-ms-client-flatten: false
                          description: Extra Operation properties.
                          type: object
                          properties:
                            serviceSpecification:
                              description: An object that describes a specification.
                              type: object
                              properties:
                                metricSpecifications:
                                  description: Specifications of the Metrics for Azure
                                    Monitoring.
                                  type: array
                                  items:
                                    description: Specifications of the Metrics for
                                      Azure Monitoring.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the metric.
                                        type: string
                                      displayName:
                                        description: Localized friendly display name
                                          of the metric.
                                        type: string
                                      displayDescription:
                                        description: Localized friendly description
                                          of the metric.
                                        type: string
                                      unit:
                                        description: The unit that makes sense for
                                          the metric.
                                        type: string
                                      aggregationType:
                                        description: 'Only provide one value for this
                                          field. Valid values: Average, Minimum, Maximum,
                                          Total, Count.'
                                        type: string
                                      fillGapWithZero:
                                        description: "Optional. If set to true, then\
                                          \ zero will be returned for time duration\
                                          \ where no metric is emitted/published.\
                                          \ \r\nEx. a metric that returns the number\
                                          \ of times a particular error code was emitted.\
                                          \ The error code may not appear \r\noften,\
                                          \ instead of the RP publishing 0, Shoebox\
                                          \ can auto fill in 0s for time periods where\
                                          \ nothing was emitted."
                                        type: string
                                      category:
                                        description: The name of the metric category
                                          that the metric belongs to. A metric can
                                          only belong to a single category.
                                        type: string
                                      dimensions:
                                        description: The dimensions of the metrics.
                                        type: array
                                        items:
                                          description: Specifications of the Dimension
                                            of metrics.
                                          type: object
                                          properties:
                                            name:
                                              description: The public facing name
                                                of the dimension.
                                              type: string
                                            displayName:
                                              description: Localized friendly display
                                                name of the dimension.
                                              type: string
                                            internalName:
                                              description: Name of the dimension as
                                                it appears in MDM.
                                              type: string
                                            toBeExportedForShoebox:
                                              description: A Boolean flag indicating
                                                whether this dimension should be included
                                                for the shoebox export scenario.
                                              type: boolean
                                        x-ms-identifiers:
                                        - name
                                  x-ms-identifiers:
                                  - name
                                  - unit
                                logSpecifications:
                                  description: Specifications of the Logs for Azure
                                    Monitoring.
                                  type: array
                                  items:
                                    description: Specifications of the Logs for Azure
                                      Monitoring.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the log.
                                        type: string
                                      displayName:
                                        description: Localized friendly display name
                                          of the log.
                                        type: string
                                  x-ms-identifiers:
                                  - name
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: "The URL the client should use to fetch the next\
                      \ page (per server side paging).\r\nIt's null for now, added\
                      \ for future use."
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability:
    post:
      tags:
      - WebPubSub
      description: Checks that the resource name is valid and is not already in use.
      operationId: WebPubSub_CheckNameAvailability
      parameters:
      - in: path
        name: location
        description: the region
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              description: Data POST-ed to the nameAvailability action
              required:
              - name
              - type
              type: object
              properties:
                type:
                  description: The resource type. Can be "Microsoft.SignalRService/SignalR",
                    "Microsoft.SignalRService/WebPubSub", "Microsoft.SignalRService/SignalR/replicas"
                    or "Microsoft.SignalRService/WebPubSub/replicas"
                  type: string
                name:
                  description: The resource name to validate. e.g."my-resource-name"
                  type: string
        description: Parameters supplied to the operation.
        required: true
      responses:
        '200':
          description: Success. The response describes the name availability.
          content:
            application/json:
              schema:
                description: Result of the request to check name availability. It
                  contains a flag and possible reason of failure.
                type: object
                properties:
                  nameAvailable:
                    description: Indicates whether the name is available or not.
                    type: boolean
                  reason:
                    description: The reason of the availability. Required if name
                      is not available.
                    type: string
                  message:
                    description: The message of the operation.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages:
    get:
      tags:
      - WebPubSub
      description: List resource usage quotas by location.
      operationId: Usages_List
      parameters:
      - in: path
        name: location
        description: the location like "eastus"
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success. The response describe the usage quotas of a subscription
            in specified region.
          content:
            application/json:
              schema:
                description: Object that includes an array of the resource usages
                  and a possible link for next set.
                type: object
                properties:
                  value:
                    description: List of the resource usages
                    type: array
                    items:
                      description: Object that describes a specific usage of the resources.
                      type: object
                      properties:
                        id:
                          description: Fully qualified ARM resource id
                          type: string
                        currentValue:
                          format: int64
                          description: Current value for the usage quota.
                          type: integer
                        limit:
                          format: int64
                          description: The maximum permitted value for the usage quota.
                            If there is no limit, this value will be -1.
                          type: integer
                        name:
                          description: Localizable String object containing the name
                            and a localized value.
                          type: object
                          properties:
                            value:
                              description: The identifier of the usage.
                              type: string
                            localizedValue:
                              description: Localized name of the usage.
                              type: string
                        unit:
                          description: 'Representing the units of the usage quota.
                            Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond,
                            BytesPerSecond.'
                          type: string
                    x-ms-identifiers: []
                  nextLink:
                    description: "The URL the client should use to fetch the next\
                      \ page (per server side paging).\r\nIt's null for now, added\
                      \ for future use."
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/webPubSub:
    get:
      tags:
      - WebPubSub
      description: Handles requests to list all resources in a subscription.
      operationId: WebPubSub_ListBySubscription
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success. The response describes the list of resources in the
            subscription.
          content:
            application/json:
              schema:
                description: Object that includes an array of resources and a possible
                  link for next set.
                type: object
                properties:
                  value:
                    description: List of the resources
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The billing information of the resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: "The name of the SKU. Required.\r\n\r\n\
                                Allowed values: Standard_S1, Free_F1, Premium_P1,\
                                \ Premium_P2"
                              type: string
                            tier:
                              description: "Optional tier of this particular SKU.\
                                \ 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated,\
                                \ use `Standard` instead."
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              type: string
                              x-ms-enum:
                                name: WebPubSubSkuTier
                                modelAsString: true
                            size:
                              description: Not used. Retained for future use.
                              type: string
                              readOnly: true
                            family:
                              description: Not used. Retained for future use.
                              type: string
                              readOnly: true
                            capacity:
                              format: int32
                              description: "Optional, integer. The unit count of the\
                                \ resource.\r\n1 for Free_F1/Standard_S1/Premium_P1,\
                                \ 100 for Premium_P2 by default.\r\n\r\nIf present,\
                                \ following values are allowed:\r\n    Free_F1: 1;\r\
                                \n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\
                                \n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\
                                \n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
                              type: integer
                        properties:
                          x-ms-client-flatten: true
                          description: A class that describes the properties of the
                            resource
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              description: Provisioning state of the resource.
                              enum:
                              - Unknown
                              - Succeeded
                              - Failed
                              - Canceled
                              - Running
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              type: string
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            externalIP:
                              description: The publicly accessible IP of the resource.
                              type: string
                              readOnly: true
                            hostName:
                              description: FQDN of the service instance.
                              type: string
                              readOnly: true
                            publicPort:
                              format: int32
                              description: The publicly accessible port of the resource
                                which is designed for browser/client side usage.
                              type: integer
                              readOnly: true
                            serverPort:
                              format: int32
                              description: The publicly accessible port of the resource
                                which is designed for customer server side usage.
                              type: integer
                              readOnly: true
                            version:
                              description: Version of the resource. Probably you need
                                the same or higher version of client SDKs.
                              type: string
                              readOnly: true
                            privateEndpointConnections:
                              description: Private endpoint connections to the resource.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Private endpoint connection properties
                                    type: object
                                    properties:
                                      provisioningState:
                                        readOnly: true
                                        description: Provisioning state of the resource.
                                        enum:
                                        - Unknown
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        - Running
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Moving
                                        type: string
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateEndpoint:
                                        description: Private endpoint
                                        type: object
                                        properties:
                                          id:
                                            description: Full qualified Id of the
                                              private endpoint
                                            type: string
                                      groupIds:
                                        description: Group IDs
                                        type: array
                                        items:
                                          type: string
                                        readOnly: true
                                        x-ms-identifiers: []
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: The reason for approval/rejection
                                              of the connection.
                                            type: string
                                          actionsRequired:
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                            type: string
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                              x-ms-identifiers: []
                            sharedPrivateLinkResources:
                              description: The list of shared private link resources.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Describes the properties of an existing
                                      Shared Private Link Resource
                                    required:
                                    - groupId
                                    - privateLinkResourceId
                                    type: object
                                    properties:
                                      groupId:
                                        description: The group id from the provider
                                          of resource the shared private link resource
                                          is for
                                        type: string
                                      privateLinkResourceId:
                                        description: The resource id of the resource
                                          the shared private link resource is for
                                        type: string
                                      provisioningState:
                                        readOnly: true
                                        description: Provisioning state of the resource.
                                        enum:
                                        - Unknown
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        - Running
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Moving
                                        type: string
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      requestMessage:
                                        description: The request message for requesting
                                          approval of the shared private link resource
                                        type: string
                                      status:
                                        readOnly: true
                                        description: Status of the shared private
                                          link resource
                                        enum:
                                        - Pending
                                        - Approved
                                        - Rejected
                                        - Disconnected
                                        - Timeout
                                        type: string
                                        x-ms-enum:
                                          name: SharedPrivateLinkResourceStatus
                                          modelAsString: true
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                              x-ms-identifiers: []
                            tls:
                              description: TLS settings for the resource
                              type: object
                              properties:
                                clientCertEnabled:
                                  description: Request client certificate during TLS
                                    handshake if enabled. Not supported for free tier.
                                    Any input will be ignored for free tier.
                                  default: false
                                  type: boolean
                            hostNamePrefix:
                              description: Deprecated.
                              type: string
                              readOnly: true
                            liveTraceConfiguration:
                              description: Live trace configuration of a Microsoft.SignalRService
                                resource.
                              type: object
                              properties:
                                enabled:
                                  description: "Indicates whether or not enable live\
                                    \ trace.\r\nWhen it's set to true, live trace\
                                    \ client can connect to the service.\r\nOtherwise,\
                                    \ live trace client can't connect to the service,\
                                    \ so that you are unable to receive any log, no\
                                    \ matter what you configure in \"categories\"\
                                    .\r\nAvailable values: true, false.\r\nCase insensitive."
                                  default: 'false'
                                  type: string
                                categories:
                                  description: Gets or sets the list of category configurations.
                                  type: array
                                  items:
                                    description: Live trace category configuration
                                      of a Microsoft.SignalRService resource.
                                    type: object
                                    properties:
                                      name:
                                        description: "Gets or sets the live trace\
                                          \ category's name.\r\nAvailable values:\
                                          \ ConnectivityLogs, MessagingLogs.\r\nCase\
                                          \ insensitive."
                                        type: string
                                      enabled:
                                        description: "Indicates whether or the live\
                                          \ trace category is enabled.\r\nAvailable\
                                          \ values: true, false.\r\nCase insensitive."
                                        type: string
                                  x-ms-identifiers:
                                  - name
                            resourceLogConfiguration:
                              description: Resource log configuration of a Microsoft.SignalRService
                                resource.
                              type: object
                              properties:
                                categories:
                                  description: Gets or sets the list of category configurations.
                                  type: array
                                  items:
                                    description: Resource log category configuration
                                      of a Microsoft.SignalRService resource.
                                    type: object
                                    properties:
                                      name:
                                        description: "Gets or sets the resource log\
                                          \ category's name.\r\nAvailable values:\
                                          \ ConnectivityLogs, MessagingLogs.\r\nCase\
                                          \ insensitive."
                                        type: string
                                      enabled:
                                        description: "Indicates whether or the resource\
                                          \ log category is enabled.\r\nAvailable\
                                          \ values: true, false.\r\nCase insensitive."
                                        type: string
                                  x-ms-identifiers:
                                  - name
                            networkACLs:
                              description: Network ACLs for the resource
                              type: object
                              properties:
                                defaultAction:
                                  description: Azure Networking ACL Action.
                                  enum:
                                  - Allow
                                  - Deny
                                  type: string
                                  x-ms-enum:
                                    name: ACLAction
                                    modelAsString: true
                                publicNetwork:
                                  description: Network ACL
                                  type: object
                                  properties:
                                    allow:
                                      description: 'Allowed request types. The value
                                        can be one or more of: ClientConnection, ServerConnection,
                                        RESTAPI.'
                                      type: array
                                      items:
                                        description: The incoming request type to
                                          the service
                                        enum:
                                        - ClientConnection
                                        - ServerConnection
                                        - RESTAPI
                                        - Trace
                                        type: string
                                        x-ms-enum:
                                          name: WebPubSubRequestType
                                          modelAsString: true
                                      x-ms-identifiers: []
                                    deny:
                                      description: 'Denied request types. The value
                                        can be one or more of: ClientConnection, ServerConnection,
                                        RESTAPI.'
                                      type: array
                                      items:
                                        description: The incoming request type to
                                          the service
                                        enum:
                                        - ClientConnection
                                        - ServerConnection
                                        - RESTAPI
                                        - Trace
                                        type: string
                                        x-ms-enum:
                                          name: WebPubSubRequestType
                                          modelAsString: true
                                      x-ms-identifiers: []
                                privateEndpoints:
                                  description: ACLs for requests from private endpoints
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      allow:
                                        description: 'Allowed request types. The value
                                          can be one or more of: ClientConnection,
                                          ServerConnection, RESTAPI.'
                                        type: array
                                        items:
                                          description: The incoming request type to
                                            the service
                                          enum:
                                          - ClientConnection
                                          - ServerConnection
                                          - RESTAPI
                                          - Trace
                                          type: string
                                          x-ms-enum:
                                            name: WebPubSubRequestType
                                            modelAsString: true
                                        x-ms-identifiers: []
                                      deny:
                                        description: 'Denied request types. The value
                                          can be one or more of: ClientConnection,
                                          ServerConnection, RESTAPI.'
                                        type: array
                                        items:
                                          description: The incoming request type to
                                            the service
                                          enum:
                                          - ClientConnection
                                          - ServerConnection
                                          - RESTAPI
                                          - Trace
                                          type: string
                                          x-ms-enum:
                                            name: WebPubSubRequestType
                                            modelAsString: true
                                        x-ms-identifiers: []
                                      name:
                                        description: Name of the private endpoint
                                          connection
                                        type: string
                                    description: Network ACL
                                    required:
                                    - name
                                  x-ms-identifiers:
                                  - name
                                ipRules:
                                  description: IP rules for filtering public traffic
                                  maxItems: 30
                                  type: array
                                  items:
                                    description: An IP rule
                                    type: object
                                    properties:
                                      value:
                                        description: An IP or CIDR or ServiceTag
                                        type: string
                                      action:
                                        description: Azure Networking ACL Action.
                                        enum:
                                        - Allow
                                        - Deny
                                        type: string
                                        x-ms-enum:
                                          name: ACLAction
                                          modelAsString: true
                                  x-ms-identifiers: []
                            publicNetworkAccess:
                              description: "Enable or disable public network access.\
                                \ Default to \"Enabled\".\r\nWhen it's Enabled, network\
                                \ ACLs still apply.\r\nWhen it's Disabled, public\
                                \ network access is always disabled no matter what\
                                \ you set in network ACLs."
                              default: Enabled
                              type: string
                            disableLocalAuth:
                              description: "DisableLocalAuth\r\nEnable or disable\
                                \ local auth with AccessKey\r\nWhen set as true, connection\
                                \ with AccessKey=xxx won't work."
                              default: false
                              type: boolean
                            disableAadAuth:
                              description: "DisableLocalAuth\r\nEnable or disable\
                                \ aad auth\r\nWhen set as true, connection with AuthType=aad\
                                \ won't work."
                              default: false
                              type: boolean
                            regionEndpointEnabled:
                              description: "Enable or disable the regional endpoint.\
                                \ Default to \"Enabled\".\r\nWhen it's Disabled, new\
                                \ connections will not be routed to this endpoint,\
                                \ however existing connections will not be affected.\r\
                                \nThis property is replica specific. Disable the regional\
                                \ endpoint without replica is not allowed."
                              default: Enabled
                              type: string
                            resourceStopped:
                              description: "Stop or start the resource.  Default to\
                                \ \"False\".\r\nWhen it's true, the data plane of\
                                \ the resource is shutdown.\r\nWhen it's false, the\
                                \ data plane of the resource is started."
                              default: 'false'
                              type: string
                            socketIO:
                              description: SocketIO settings for the resource
                              type: object
                              properties:
                                serviceMode:
                                  description: "The service mode of Web PubSub for\
                                    \ Socket.IO. Values allowed: \r\n\"Default\":\
                                    \ have your own backend Socket.IO server\r\n\"\
                                    Serverless\": your application doesn't have a\
                                    \ backend server"
                                  type: string
                        kind:
                          x-ms-mutability:
                          - read
                          - create
                          description: The kind of the service
                          enum:
                          - WebPubSub
                          - SocketIO
                          type: string
                          x-ms-enum:
                            name: ServiceKind
                            modelAsString: true
                        identity:
                          description: A class represent managed identities used for
                            request and response
                          type: object
                          properties:
                            type:
                              description: 'Represents the identity type: systemAssigned,
                                userAssigned, None'
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                name: ManagedIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              description: Get or set the user assigned identities
                              type: object
                              additionalProperties:
                                description: Properties of user assigned identity.
                                type: object
                                properties:
                                  principalId:
                                    description: Get the principal id for the user
                                      assigned identity
                                    type: string
                                    readOnly: true
                                  clientId:
                                    description: Get the client id for the user assigned
                                      identity
                                    type: string
                                    readOnly: true
                            principalId:
                              description: "Get the principal id for the system assigned\
                                \ identity.\r\nOnly be used in response."
                              type: string
                              readOnly: true
                            tenantId:
                              description: "Get the tenant id for the system assigned\
                                \ identity.\r\nOnly be used in response"
                              type: string
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
                  nextLink:
                    description: "The URL the client should use to fetch the next\
                      \ page (per server side paging).\r\nIt's null for now, added\
                      \ for future use."
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub:
    get:
      tags:
      - WebPubSub
      description: Handles requests to list all resources in a resource group.
      operationId: WebPubSub_ListByResourceGroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Success. The response describes the list of resources in a
            resourceGroup.
          content:
            application/json:
              schema:
                description: Object that includes an array of resources and a possible
                  link for next set.
                type: object
                properties:
                  value:
                    description: List of the resources
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The billing information of the resource.
                          required:
                          - name
                          type: object
                          properties:
                            name:
                              description: "The name of the SKU. Required.\r\n\r\n\
                                Allowed values: Standard_S1, Free_F1, Premium_P1,\
                                \ Premium_P2"
                              type: string
                            tier:
                              description: "Optional tier of this particular SKU.\
                                \ 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated,\
                                \ use `Standard` instead."
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              type: string
                              x-ms-enum:
                                name: WebPubSubSkuTier
                                modelAsString: true
                            size:
                              description: Not used. Retained for future use.
                              type: string
                              readOnly: true
                            family:
                              description: Not used. Retained for future use.
                              type: string
                              readOnly: true
                            capacity:
                              format: int32
                              description: "Optional, integer. The unit count of the\
                                \ resource.\r\n1 for Free_F1/Standard_S1/Premium_P1,\
                                \ 100 for Premium_P2 by default.\r\n\r\nIf present,\
                                \ following values are allowed:\r\n    Free_F1: 1;\r\
                                \n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\
                                \n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\
                                \n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
                              type: integer
                        properties:
                          x-ms-client-flatten: true
                          description: A class that describes the properties of the
                            resource
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              description: Provisioning state of the resource.
                              enum:
                              - Unknown
                              - Succeeded
                              - Failed
                              - Canceled
                              - Running
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              type: string
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            externalIP:
                              description: The publicly accessible IP of the resource.
                              type: string
                              readOnly: true
                            hostName:
                              description: FQDN of the service instance.
                              type: string
                              readOnly: true
                            publicPort:
                              format: int32
                              description: The publicly accessible port of the resource
                                which is designed for browser/client side usage.
                              type: integer
                              readOnly: true
                            serverPort:
                              format: int32
                              description: The publicly accessible port of the resource
                                which is designed for customer server side usage.
                              type: integer
                              readOnly: true
                            version:
                              description: Version of the resource. Probably you need
                                the same or higher version of client SDKs.
                              type: string
                              readOnly: true
                            privateEndpointConnections:
                              description: Private endpoint connections to the resource.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Private endpoint connection properties
                                    type: object
                                    properties:
                                      provisioningState:
                                        readOnly: true
                                        description: Provisioning state of the resource.
                                        enum:
                                        - Unknown
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        - Running
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Moving
                                        type: string
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateEndpoint:
                                        description: Private endpoint
                                        type: object
                                        properties:
                                          id:
                                            description: Full qualified Id of the
                                              private endpoint
                                            type: string
                                      groupIds:
                                        description: Group IDs
                                        type: array
                                        items:
                                          type: string
                                        readOnly: true
                                        x-ms-identifiers: []
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: The reason for approval/rejection
                                              of the connection.
                                            type: string
                                          actionsRequired:
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                            type: string
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              readOnly: true
                              x-ms-identifiers: []
                            sharedPrivateLinkResources:
                              description: The list of shared private link resources.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
[...]
