openapi: 3.0.0
info:
  version: 2025-05-25
  title: Azure Health Bot
  description: Azure Health Bot is a cloud platform that empowers developers in Healthcare
    organizations to build and deploy their compliant, AI-powered virtual health assistants
    and health bots, that help them improve processes and reduce costs.
  x-ms-code-generation-settings:
    name: healthbotClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthBot/healthBots/{botName}:
    put:
      operationId: Bots_Create
      description: Create a new Azure Health Bot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Fully qualified resource Id for the resource.
                  type: string
                  readOnly: true
                name:
                  description: The name of the resource
                  type: string
                  readOnly: true
                type:
                  description: The type of the resource.
                  type: string
                  readOnly: true
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      description: The type of identity that created the resource
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC)
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      description: The type of identity that last modified the resource
                      type: string
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                sku:
                  description: SKU of the Azure Health Bot.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the Azure Health Bot SKU
                      enum:
                      - F0
                      - S1
                      - C0
                      - PES
                      - C1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: false
                  required:
                  - name
                identity:
                  description: The identity of the Azure Health Bot.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity. This property
                        will only be provided for a system assigned identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource. This property will only
                        be provided for a system assigned identity.
                    type:
                      type: string
                      description: The identity type. The type 'SystemAssigned, UserAssigned'
                        includes both an implicitly created identity and a set of
                        user assigned identities. The type 'None' will remove any
                        identities from the Azure Health Bot
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      description: 'The list of user identities associated with the
                        resource. The user identity dictionary key references will
                        be ARM resource ids in the form:

                        ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                        '
                      type: object
                      additionalProperties:
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client ID of user assigned identity.
                        type: object
                        description: The details of the user assigned managed identity
                          used by the Video Analyzer resource.
                properties:
                  description: The set of properties specific to Azure Health Bot
                    resource.
                  type: object
                  title: HealthBotProperties
                  properties:
                    provisioningState:
                      type: string
                      description: The provisioning state of the Azure Health Bot
                        resource.
                      readOnly: true
                    botManagementPortalLink:
                      type: string
                      description: The link.
                      readOnly: true
                    keyVaultProperties:
                      description: KeyVault properties for the resource encryption.
                      type: object
                      required:
                      - keyName
                      - keyVaultUri
                      properties:
                        keyName:
                          type: string
                          description: The name of the key vault key.
                          x-ms-client-name: KeyName
                        keyVersion:
                          type: string
                          description: The version of the key vault key.
                          x-ms-client-name: KeyVersion
                        keyVaultUri:
                          type: string
                          description: The Uri of the key vault.
                          x-ms-client-name: KeyVaultUri
                        userIdentity:
                          type: string
                          description: The user assigned identity (ARM resource id)
                            that has access to the key.
                          x-ms-client-name: UserIdentity
                    accessControlMethod:
                      type: string
                      description: The access control method for the Azure Health
                        Bot resource.
                      readOnly: true
              required:
              - location
              - sku
              description: The resource model definition for a ARM tracked top level
                resource
              x-ms-azure-resource: true
        description: The parameters to provide for the created Azure Health Bot.
        required: true
      responses:
        '200':
          description: If resource is updated successfully, the service should return
            200.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SKU of the Azure Health Bot.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the Azure Health Bot SKU
                        enum:
                        - F0
                        - S1
                        - C0
                        - PES
                        - C1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                    required:
                    - name
                  identity:
                    description: The identity of the Azure Health Bot.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity. This property
                          will only be provided for a system assigned identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource. This property will
                          only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The identity type. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user assigned identities. The type 'None' will
                          remove any identities from the Azure Health Bot
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of user assigned identity.
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                  properties:
                    description: The set of properties specific to Azure Health Bot
                      resource.
                    type: object
                    title: HealthBotProperties
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the Azure Health Bot
                          resource.
                        readOnly: true
                      botManagementPortalLink:
                        type: string
                        description: The link.
                        readOnly: true
                      keyVaultProperties:
                        description: KeyVault properties for the resource encryption.
                        type: object
                        required:
                        - keyName
                        - keyVaultUri
                        properties:
                          keyName:
                            type: string
                            description: The name of the key vault key.
                            x-ms-client-name: KeyName
                          keyVersion:
                            type: string
                            description: The version of the key vault key.
                            x-ms-client-name: KeyVersion
                          keyVaultUri:
                            type: string
                            description: The Uri of the key vault.
                            x-ms-client-name: KeyVaultUri
                          userIdentity:
                            type: string
                            description: The user assigned identity (ARM resource
                              id) that has access to the key.
                            x-ms-client-name: UserIdentity
                      accessControlMethod:
                        type: string
                        description: The access control method for the Azure Health
                          Bot resource.
                        readOnly: true
                required:
                - location
                - sku
                description: The resource model definition for a ARM tracked top level
                  resource
                x-ms-azure-resource: true
        '201':
          description: If resource is created successfully, the service should return
            201 (Created). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SKU of the Azure Health Bot.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the Azure Health Bot SKU
                        enum:
                        - F0
                        - S1
                        - C0
                        - PES
                        - C1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                    required:
                    - name
                  identity:
                    description: The identity of the Azure Health Bot.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity. This property
                          will only be provided for a system assigned identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource. This property will
                          only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The identity type. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user assigned identities. The type 'None' will
                          remove any identities from the Azure Health Bot
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of user assigned identity.
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                  properties:
                    description: The set of properties specific to Azure Health Bot
                      resource.
                    type: object
                    title: HealthBotProperties
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the Azure Health Bot
                          resource.
                        readOnly: true
                      botManagementPortalLink:
                        type: string
                        description: The link.
                        readOnly: true
                      keyVaultProperties:
                        description: KeyVault properties for the resource encryption.
                        type: object
                        required:
                        - keyName
                        - keyVaultUri
                        properties:
                          keyName:
                            type: string
                            description: The name of the key vault key.
                            x-ms-client-name: KeyName
                          keyVersion:
                            type: string
                            description: The version of the key vault key.
                            x-ms-client-name: KeyVersion
                          keyVaultUri:
                            type: string
                            description: The Uri of the key vault.
                            x-ms-client-name: KeyVaultUri
                          userIdentity:
                            type: string
                            description: The user assigned identity (ARM resource
                              id) that has access to the key.
                            x-ms-client-name: UserIdentity
                      accessControlMethod:
                        type: string
                        description: The access control method for the Azure Health
                          Bot resource.
                        readOnly: true
                required:
                - location
                - sku
                description: The resource model definition for a ARM tracked top level
                  resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      operationId: Bots_Get
      description: Get a HealthBot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: If resource is got successfully, the service should return
            200.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SKU of the Azure Health Bot.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the Azure Health Bot SKU
                        enum:
                        - F0
                        - S1
                        - C0
                        - PES
                        - C1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                    required:
                    - name
                  identity:
                    description: The identity of the Azure Health Bot.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity. This property
                          will only be provided for a system assigned identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource. This property will
                          only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The identity type. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user assigned identities. The type 'None' will
                          remove any identities from the Azure Health Bot
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of user assigned identity.
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                  properties:
                    description: The set of properties specific to Azure Health Bot
                      resource.
                    type: object
                    title: HealthBotProperties
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the Azure Health Bot
                          resource.
                        readOnly: true
                      botManagementPortalLink:
                        type: string
                        description: The link.
                        readOnly: true
                      keyVaultProperties:
                        description: KeyVault properties for the resource encryption.
                        type: object
                        required:
                        - keyName
                        - keyVaultUri
                        properties:
                          keyName:
                            type: string
                            description: The name of the key vault key.
                            x-ms-client-name: KeyName
                          keyVersion:
                            type: string
                            description: The version of the key vault key.
                            x-ms-client-name: KeyVersion
                          keyVaultUri:
                            type: string
                            description: The Uri of the key vault.
                            x-ms-client-name: KeyVaultUri
                          userIdentity:
                            type: string
                            description: The user assigned identity (ARM resource
                              id) that has access to the key.
                            x-ms-client-name: UserIdentity
                      accessControlMethod:
                        type: string
                        description: The access control method for the Azure Health
                          Bot resource.
                        readOnly: true
                required:
                - location
                - sku
                description: The resource model definition for a ARM tracked top level
                  resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
    patch:
      operationId: Bots_Update
      description: Patch a HealthBot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Parameters for updating a Azure Health Bot.
              properties:
                properties:
                  description: Properties of Azure Health Bot.
                  type: object
                  title: HealthBotProperties
                  properties:
                    provisioningState:
                      type: string
                      description: The provisioning state of the Azure Health Bot
                        resource.
                      readOnly: true
                    botManagementPortalLink:
                      type: string
                      description: The link.
                      readOnly: true
                    keyVaultProperties:
                      description: KeyVault properties for the resource encryption.
                      type: object
                      required:
                      - keyName
                      - keyVaultUri
                      properties:
                        keyName:
                          type: string
                          description: The name of the key vault key.
                          x-ms-client-name: KeyName
                        keyVersion:
                          type: string
                          description: The version of the key vault key.
                          x-ms-client-name: KeyVersion
                        keyVaultUri:
                          type: string
                          description: The Uri of the key vault.
                          x-ms-client-name: KeyVaultUri
                        userIdentity:
                          type: string
                          description: The user assigned identity (ARM resource id)
                            that has access to the key.
                          x-ms-client-name: UserIdentity
                    accessControlMethod:
                      type: string
                      description: The access control method for the Azure Health
                        Bot resource.
                      readOnly: true
                tags:
                  type: object
                  description: Tags for a Azure Health Bot.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                sku:
                  description: SKU of the Azure Health Bot.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the Azure Health Bot SKU
                      enum:
                      - F0
                      - S1
                      - C0
                      - PES
                      - C1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: false
                  required:
                  - name
                identity:
                  description: The identity of the Azure Health Bot.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity. This property
                        will only be provided for a system assigned identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource. This property will only
                        be provided for a system assigned identity.
                    type:
                      type: string
                      description: The identity type. The type 'SystemAssigned, UserAssigned'
                        includes both an implicitly created identity and a set of
                        user assigned identities. The type 'None' will remove any
                        identities from the Azure Health Bot
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      description: 'The list of user identities associated with the
                        resource. The user identity dictionary key references will
                        be ARM resource ids in the form:

                        ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                        '
                      type: object
                      additionalProperties:
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client ID of user assigned identity.
                        type: object
                        description: The details of the user assigned managed identity
                          used by the Video Analyzer resource.
                location:
                  type: string
                  x-ms-mutability:
                  - create
                  - read
        description: The parameters to provide for the required Azure Health Bot.
        required: true
      responses:
        '200':
          description: If resource is patched successfully, the service should return
            200.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SKU of the Azure Health Bot.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the Azure Health Bot SKU
                        enum:
                        - F0
                        - S1
                        - C0
                        - PES
                        - C1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                    required:
                    - name
                  identity:
                    description: The identity of the Azure Health Bot.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity. This property
                          will only be provided for a system assigned identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource. This property will
                          only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The identity type. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user assigned identities. The type 'None' will
                          remove any identities from the Azure Health Bot
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of user assigned identity.
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                  properties:
                    description: The set of properties specific to Azure Health Bot
                      resource.
                    type: object
                    title: HealthBotProperties
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the Azure Health Bot
                          resource.
                        readOnly: true
                      botManagementPortalLink:
                        type: string
                        description: The link.
                        readOnly: true
                      keyVaultProperties:
                        description: KeyVault properties for the resource encryption.
                        type: object
                        required:
                        - keyName
                        - keyVaultUri
                        properties:
                          keyName:
                            type: string
                            description: The name of the key vault key.
                            x-ms-client-name: KeyName
                          keyVersion:
                            type: string
                            description: The version of the key vault key.
                            x-ms-client-name: KeyVersion
                          keyVaultUri:
                            type: string
                            description: The Uri of the key vault.
                            x-ms-client-name: KeyVaultUri
                          userIdentity:
                            type: string
                            description: The user assigned identity (ARM resource
                              id) that has access to the key.
                            x-ms-client-name: UserIdentity
                      accessControlMethod:
                        type: string
                        description: The access control method for the Azure Health
                          Bot resource.
                        readOnly: true
                required:
                - location
                - sku
                description: The resource model definition for a ARM tracked top level
                  resource
                x-ms-azure-resource: true
        '201':
          description: If resource is received update request successfully, the service
            should return 201 (Created). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        description: The type of identity that created the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC)
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        description: The type of identity that last modified the resource
                        type: string
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SKU of the Azure Health Bot.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the Azure Health Bot SKU
                        enum:
                        - F0
                        - S1
                        - C0
                        - PES
                        - C1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                    required:
                    - name
                  identity:
                    description: The identity of the Azure Health Bot.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity. This property
                          will only be provided for a system assigned identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource. This property will
                          only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The identity type. The type 'SystemAssigned,
                          UserAssigned' includes both an implicitly created identity
                          and a set of user assigned identities. The type 'None' will
                          remove any identities from the Azure Health Bot
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of user assigned identity.
                          type: object
                          description: The details of the user assigned managed identity
                            used by the Video Analyzer resource.
                  properties:
                    description: The set of properties specific to Azure Health Bot
                      resource.
                    type: object
                    title: HealthBotProperties
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the Azure Health Bot
                          resource.
                        readOnly: true
                      botManagementPortalLink:
                        type: string
                        description: The link.
                        readOnly: true
                      keyVaultProperties:
                        description: KeyVault properties for the resource encryption.
                        type: object
                        required:
                        - keyName
                        - keyVaultUri
                        properties:
                          keyName:
                            type: string
                            description: The name of the key vault key.
                            x-ms-client-name: KeyName
                          keyVersion:
                            type: string
                            description: The version of the key vault key.
                            x-ms-client-name: KeyVersion
                          keyVaultUri:
                            type: string
                            description: The Uri of the key vault.
                            x-ms-client-name: KeyVaultUri
                          userIdentity:
                            type: string
                            description: The user assigned identity (ARM resource
                              id) that has access to the key.
                            x-ms-client-name: UserIdentity
                      accessControlMethod:
                        type: string
                        description: The access control method for the Azure Health
                          Bot resource.
                        readOnly: true
                required:
                - location
                - sku
                description: The resource model definition for a ARM tracked top level
                  resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
      x-ms-long-running-operation: true
    delete:
      operationId: Bots_Delete
      description: Delete a HealthBot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: If resource is deleted successfully, the service should return
            200.
        '202':
          description: Accepted - Delete request accepted; operation will complete
            asynchronously
        '204':
          description: No content.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthBot/healthBots/{botName}/listSecrets
  : post:
      operationId: Bots_ListSecrets
      description: List all secrets of a HealthBot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: If secrets are retrieved successfully, the service should return
            200 (OK).
          content:
            application/json:
              schema:
                type: object
                description: Health Bot Keys Response.
                properties:
                  secrets:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      description: An entry of HealthBotKeysResponse
                      properties:
                        keyName:
                          type: string
                          description: The name of the key.
                        value:
                          type: string
                          x-ms-secret: true
                          description: The value of the key.
                    description: Array of Azure Health Bot Secrets.
                    minLength: 3
                    maxLength: 3
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthBot/healthBots/{botName}/regenerateApiJwtSecret
  : post:
      operationId: Bots_RegenerateApiJwtSecret
      description: Regenerate the API JWT Secret of a HealthBot.
      parameters:
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: botName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: If secret was regenerated successfully, the service should
            return 200 (OK).
          content:
            application/json:
              schema:
                type: object
                description: An entry of HealthBotKeysResponse
                properties:
                  keyName:
                    type: string
                    description: The name of the key.
                  value:
                    type: string
                    x-ms-secret: true
                    description: The value of the key.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  x-ms-identifiers: []
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                          description: The resource management error response.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: The resource management error response.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthBot/healthBots:
    get:
      description: Returns all the resources of a particular type belonging to a resource
        group
      operationId: Bots_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the Bot resource group in the user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: "The resource provider should return 200 (OK) to indicate that\
            \ the operation completed successfully. For other errors (e.g. internal\
            \ errors) use the appropriate HTTP error code.\nThe nextLink field is\
            \ expected to point to the URL the client should use to fetch the next\
            \ page (per server side paging). This matches the OData guidelines for\
            \ paged responses here. If a resource provider does not support paging,\
            \ it should return the same body (JSON object with \u201Cvalue\u201D property)\
            \ but omit nextLink entirely (or set to null, *not* empty string) for\
            \ future compatibility.\nThe nextLink should be implemented using following\
            \ query parameters:\n\xB7 skipToken: opaque token that allows the resource\
            \ provider to skip resources already enumerated. This value is defined\
            \ and returned by the RP after first request via nextLink.\n\xB7 top:\
            \ the optional client query parameter which defines the maximum number\
            \ of records to be returned by the server.\nImplementation details:\n\xB7\
            \ NextLink may include all the query parameters (specifically OData $filter)\
            \ used by the client in the first query. \n\xB7 Server may return less\
            \ records than requested with nextLink. Returning zero records with NextLink\
            \ is an acceptable response. \nClients must fetch records until the nextLink\
            \ is not returned back / null. Clients should never rely on number of\
            \ returned records to determinate if pagination is completed."
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextLink:
                    readOnly: true
                    description: The link used to get the next page of bot service
                      resources.
                    type: string
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Fully qualified resource Id for the resource.
                          type: string
                          readOnly: true
                        name:
                          description: The name of the resource
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              description: The type of identity that created the resource
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC)
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              description: The type of identity that last modified
                                the resource
                              type: string
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          additionalProperties:
                            type: string
[...]
