openapi: 3.0.0
info:
  title: Azure Resource Graph Query
  description: Azure Resource Graph Query API Reference
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceGraph/queries:
    get:
      tags:
      - GraphQuery
      description: Get all graph queries defined within a specified subscription.
      operationId: GraphQuery_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more graph queries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextLink:
                    description: URL to fetch the next set of queries.
                    type: string
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Azure resource Id
                        name:
                          type: string
                          readOnly: true
                          description: Azure resource name. This is GUID value. The
                            display name should be assigned within properties field.
                        location:
                          type: string
                          readOnly: false
                          description: The location of the resource
                          x-ms-mutability:
                          - read
                          - create
                        type:
                          type: string
                          readOnly: true
                          description: Azure resource type
                        etag:
                          type: string
                          description: This will be used to handle Optimistic Concurrency.
                            If not present, it will always overwrite the existing
                            resource without checking conflict.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Metadata describing a graph query for an Azure
                            resource.
                          type: object
                          required:
                          - query
                          properties:
                            timeModified:
                              type: string
                              description: Date and time in UTC of the last modification
                                that was made to this graph query definition.
                              format: date-time
                              readOnly: true
                            description:
                              type: string
                              description: The description of a graph query.
                            query:
                              type: string
                              description: KQL query that will be graph.
                            resultKind:
                              description: Enum indicating a type of graph query.
                              readOnly: true
                              type: string
                              enum:
                              - basic
                              x-ms-enum:
                                name: ResultKind
                                modelAsString: true
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: An azure resource object
                      x-ms-azure-resource: true
                    description: An array of graph queries.
                description: Graph query list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries:
    get:
      tags:
      - GraphQuery
      description: Get all graph queries defined within a specified subscription and
        resource group.
      operationId: GraphQuery_List
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more graph queries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextLink:
                    description: URL to fetch the next set of queries.
                    type: string
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Azure resource Id
                        name:
                          type: string
                          readOnly: true
                          description: Azure resource name. This is GUID value. The
                            display name should be assigned within properties field.
                        location:
                          type: string
                          readOnly: false
                          description: The location of the resource
                          x-ms-mutability:
                          - read
                          - create
                        type:
                          type: string
                          readOnly: true
                          description: Azure resource type
                        etag:
                          type: string
                          description: This will be used to handle Optimistic Concurrency.
                            If not present, it will always overwrite the existing
                            resource without checking conflict.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          x-ms-client-flatten: true
                          description: Metadata describing a graph query for an Azure
                            resource.
                          type: object
                          required:
                          - query
                          properties:
                            timeModified:
                              type: string
                              description: Date and time in UTC of the last modification
                                that was made to this graph query definition.
                              format: date-time
                              readOnly: true
                            description:
                              type: string
                              description: The description of a graph query.
                            query:
                              type: string
                              description: KQL query that will be graph.
                            resultKind:
                              description: Enum indicating a type of graph query.
                              readOnly: true
                              type: string
                              enum:
                              - basic
                              x-ms-enum:
                                name: ResultKind
                                modelAsString: true
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: An azure resource object
                      x-ms-azure-resource: true
                    description: An array of graph queries.
                description: Graph query list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries/{resourceName}
  : get:
      tags:
      - GraphQuery
      description: Get a single graph query by its resourceName.
      operationId: GraphQuery_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the Graph Query resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[^<>&:\?]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A graph query definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Azure resource name. This is GUID value. The display
                      name should be assigned within properties field.
                  location:
                    type: string
                    readOnly: false
                    description: The location of the resource
                    x-ms-mutability:
                    - read
                    - create
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  etag:
                    type: string
                    description: This will be used to handle Optimistic Concurrency.
                      If not present, it will always overwrite the existing resource
                      without checking conflict.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a graph query for an Azure resource.
                    type: object
                    required:
                    - query
                    properties:
                      timeModified:
                        type: string
                        description: Date and time in UTC of the last modification
                          that was made to this graph query definition.
                        format: date-time
                        readOnly: true
                      description:
                        type: string
                        description: The description of a graph query.
                      query:
                        type: string
                        description: KQL query that will be graph.
                      resultKind:
                        description: Enum indicating a type of graph query.
                        readOnly: true
                        type: string
                        enum:
                        - basic
                        x-ms-enum:
                          name: ResultKind
                          modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
    delete:
      tags:
      - GraphQuery
      description: Delete a graph query.
      operationId: GraphQuery_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the Graph Query resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[^<>&:\?]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The graph query has been successfully deleted.
        '204':
          description: The resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
    put:
      tags:
      - GraphQuery
      description: Create a new graph query.
      operationId: GraphQuery_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the Graph Query resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[^<>&:\?]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  description: Azure resource Id
                name:
                  type: string
                  readOnly: true
                  description: Azure resource name. This is GUID value. The display
                    name should be assigned within properties field.
                location:
                  type: string
                  readOnly: false
                  description: The location of the resource
                  x-ms-mutability:
                  - read
                  - create
                type:
                  type: string
                  readOnly: true
                  description: Azure resource type
                etag:
                  type: string
                  description: This will be used to handle Optimistic Concurrency.
                    If not present, it will always overwrite the existing resource
                    without checking conflict.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: Metadata describing a graph query for an Azure resource.
                  type: object
                  required:
                  - query
                  properties:
                    timeModified:
                      type: string
                      description: Date and time in UTC of the last modification that
                        was made to this graph query definition.
                      format: date-time
                      readOnly: true
                    description:
                      type: string
                      description: The description of a graph query.
                    query:
                      type: string
                      description: KQL query that will be graph.
                    resultKind:
                      description: Enum indicating a type of graph query.
                      readOnly: true
                      type: string
                      enum:
                      - basic
                      x-ms-enum:
                        name: ResultKind
                        modelAsString: true
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: An azure resource object
              x-ms-azure-resource: true
        description: Properties that need to be specified to create a new graph query.
        required: true
      responses:
        '200':
          description: The newly created graph query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Azure resource name. This is GUID value. The display
                      name should be assigned within properties field.
                  location:
                    type: string
                    readOnly: false
                    description: The location of the resource
                    x-ms-mutability:
                    - read
                    - create
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  etag:
                    type: string
                    description: This will be used to handle Optimistic Concurrency.
                      If not present, it will always overwrite the existing resource
                      without checking conflict.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a graph query for an Azure resource.
                    type: object
                    required:
                    - query
                    properties:
                      timeModified:
                        type: string
                        description: Date and time in UTC of the last modification
                          that was made to this graph query definition.
                        format: date-time
                        readOnly: true
                      description:
                        type: string
                        description: The description of a graph query.
                      query:
                        type: string
                        description: KQL query that will be graph.
                      resultKind:
                        description: Enum indicating a type of graph query.
                        readOnly: true
                        type: string
                        enum:
                        - basic
                        x-ms-enum:
                          name: ResultKind
                          modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: An azure resource object
                x-ms-azure-resource: true
        '201':
          description: The newly created graph query.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Azure resource name. This is GUID value. The display
                      name should be assigned within properties field.
                  location:
                    type: string
                    readOnly: false
                    description: The location of the resource
                    x-ms-mutability:
                    - read
                    - create
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  etag:
                    type: string
                    description: This will be used to handle Optimistic Concurrency.
                      If not present, it will always overwrite the existing resource
                      without checking conflict.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a graph query for an Azure resource.
                    type: object
                    required:
                    - query
                    properties:
                      timeModified:
                        type: string
                        description: Date and time in UTC of the last modification
                          that was made to this graph query definition.
                        format: date-time
                        readOnly: true
                      description:
                        type: string
                        description: The description of a graph query.
                      query:
                        type: string
                        description: KQL query that will be graph.
                      resultKind:
                        description: Enum indicating a type of graph query.
                        readOnly: true
                        type: string
                        enum:
                        - basic
                        x-ms-enum:
                          name: ResultKind
                          modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
    patch:
      description: Updates a graph query that has already been added.
      operationId: GraphQuery_Update
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the Graph Query resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[^<>&:\?]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                etag:
                  type: string
                  description: This will be used to handle Optimistic Concurrency.
                    If not present, it will always overwrite the existing resource
                    without checking conflict.
                properties:
                  x-ms-client-flatten: true
                  description: Metadata describing a graph query for an Azure resource.
                  type: object
                  properties:
                    description:
                      type: string
                      description: The description of a graph query.
                    query:
                      type: string
                      description: KQL query that will be graph.
              description: The parameters that can be provided when updating workbook
                properties properties.
        description: Properties that need to be specified to create a new graph query.
        required: true
      responses:
        '200':
          description: The graph query definition updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Azure resource name. This is GUID value. The display
                      name should be assigned within properties field.
                  location:
                    type: string
                    readOnly: false
                    description: The location of the resource
                    x-ms-mutability:
                    - read
                    - create
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  etag:
                    type: string
                    description: This will be used to handle Optimistic Concurrency.
                      If not present, it will always overwrite the existing resource
                      without checking conflict.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a graph query for an Azure resource.
                    type: object
                    required:
                    - query
                    properties:
                      timeModified:
                        type: string
                        description: Date and time in UTC of the last modification
                          that was made to this graph query definition.
                        format: date-time
                        readOnly: true
                      description:
                        type: string
                        description: The description of a graph query.
                      query:
                        type: string
                        description: KQL query that will be graph.
                      resultKind:
                        description: Enum indicating a type of graph query.
                        readOnly: true
                        type: string
                        enum:
                        - basic
                        x-ms-enum:
                          name: ResultKind
                          modelAsString: true
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Service-defined error code. This code serves
                          as a sub-status for the HTTP error code specified in the
                          response.
                      message:
                        type: string
                        description: Human-readable representation of the error.
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Property level error code.
                            message:
                              type: string
                              description: Human-readable representation of property-level
                                error.
                            target:
                              type: string
                              description: Property name.
                          description: Error Field contract.
                        x-ms-identifiers: []
                        description: The list of invalid fields send in request, in
                          case of validation error.
                description: Error message body that will indicate why the operation
                  failed.
components:
  parameters:
    GraphQueryResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the Graph Query resource.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[^<>&:\?]*$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          readOnly: true
          description: Azure resource name. This is GUID value. The display name should
            be assigned within properties field.
        location:
          type: string
          readOnly: false
          description: The location of the resource
          x-ms-mutability:
          - read
          - create
        type:
          type: string
          readOnly: true
          description: Azure resource type
        etag:
          type: string
          description: This will be used to handle Optimistic Concurrency. If not
            present, it will always overwrite the existing resource without checking
            conflict.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      x-ms-azure-resource: true
      description: An azure resource object
    GraphQueryListResult:
      type: object
      properties:
        nextLink:
          description: URL to fetch the next set of queries.
          type: string
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                type: string
                readOnly: true
                description: Azure resource Id
              name:
                type: string
                readOnly: true
                description: Azure resource name. This is GUID value. The display
                  name should be assigned within properties field.
              location:
                type: string
                readOnly: false
                description: The location of the resource
                x-ms-mutability:
                - read
                - create
              type:
                type: string
                readOnly: true
                description: Azure resource type
              etag:
                type: string
                description: This will be used to handle Optimistic Concurrency. If
                  not present, it will always overwrite the existing resource without
                  checking conflict.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags
              properties:
                x-ms-client-flatten: true
                description: Metadata describing a graph query for an Azure resource.
                type: object
                required:
                - query
                properties:
                  timeModified:
                    type: string
                    description: Date and time in UTC of the last modification that
                      was made to this graph query definition.
                    format: date-time
                    readOnly: true
                  description:
                    type: string
                    description: The description of a graph query.
                  query:
                    type: string
                    description: KQL query that will be graph.
                  resultKind:
                    description: Enum indicating a type of graph query.
                    readOnly: true
                    type: string
                    enum:
                    - basic
                    x-ms-enum:
                      name: ResultKind
                      modelAsString: true
              systemData:
                readOnly: true
                description: The system metadata relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
            description: An azure resource object
            x-ms-azure-resource: true
          description: An array of graph queries.
      description: Graph query list result.
    GraphQueryResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          readOnly: true
          description: Azure resource name. This is GUID value. The display name should
            be assigned within properties field.
        location:
          type: string
          readOnly: false
          description: The location of the resource
          x-ms-mutability:
          - read
          - create
        type:
          type: string
          readOnly: true
          description: Azure resource type
        etag:
          type: string
          description: This will be used to handle Optimistic Concurrency. If not
            present, it will always overwrite the existing resource without checking
            conflict.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          description: Metadata describing a graph query for an Azure resource.
          type: object
          required:
          - query
          properties:
            timeModified:
              type: string
              description: Date and time in UTC of the last modification that was
                made to this graph query definition.
              format: date-time
              readOnly: true
            description:
              type: string
              description: The description of a graph query.
            query:
              type: string
              description: KQL query that will be graph.
            resultKind:
              description: Enum indicating a type of graph query.
              readOnly: true
              type: string
              enum:
              - basic
              x-ms-enum:
                name: ResultKind
                modelAsString: true
        systemData:
          readOnly: true
          description: The system metadata relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      description: An azure resource object
      x-ms-azure-resource: true
    GraphQueryProperties:
      type: object
      description: Properties that contain a graph query.
      required:
      - query
      properties:
        timeModified:
          type: string
          description: Date and time in UTC of the last modification that was made
            to this graph query definition.
          format: date-time
          readOnly: true
        description:
          type: string
          description: The description of a graph query.
        query:
          type: string
          description: KQL query that will be graph.
        resultKind:
          description: Enum indicating a type of graph query.
          readOnly: true
          type: string
          enum:
          - basic
          x-ms-enum:
            name: ResultKind
            modelAsString: true
    GraphQueryUpdateParameters:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        etag:
          type: string
          description: This will be used to handle Optimistic Concurrency. If not
            present, it will always overwrite the existing resource without checking
            conflict.
        properties:
          x-ms-client-flatten: true
          description: Metadata describing a graph query for an Azure resource.
          type: object
          properties:
            description:
              type: string
              description: The description of a graph query.
            query:
              type: string
              description: KQL query that will be graph.
      description: The parameters that can be provided when updating workbook properties
        properties.
    GraphQueryPropertiesUpdateParameters:
      type: object
      description: Properties that contain a workbook for PATCH operation.
      properties:
        description:
          type: string
          description: The description of a graph query.
        query:
          type: string
          description: KQL query that will be graph.
    ErrorFieldContract:
      type: object
      properties:
        code:
          type: string
          description: Property level error code.
        message:
          type: string
          description: Human-readable representation of property-level error.
        target:
          type: string
          description: Property name.
      description: Error Field contract.
    GraphQueryError:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
              description: Service-defined error code. This code serves as a sub-status
                for the HTTP error code specified in the response.
            message:
              type: string
              description: Human-readable representation of the error.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                    description: Property level error code.
                  message:
                    type: string
                    description: Human-readable representation of property-level error.
                  target:
                    type: string
                    description: Property name.
                description: Error Field contract.
              x-ms-identifiers: []
              description: The list of invalid fields send in request, in case of
                validation error.
      description: Error message body that will indicate why the operation failed.
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
