openapi: 3.0.0
info:
  title: ApplicationInsightsManagementClient
  description: Azure workbook resource type.
  version: 2022-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/workbooks:
    get:
      description: Get all Workbooks defined within a specified subscription and category.
      operationId: Workbooks_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: category
        in: query
        required: true
        x-ms-enum:
          name: CategoryType
          modelAsString: true
        description: Category of workbook to return.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - workbook
          - TSG
          - performance
          - retention
      - name: tags
        in: query
        required: false
        description: Tags presents on each workbook returned.
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: canFetchContent
        in: query
        required: false
        description: Flag indicating whether or not to return the full content for
          each applicable workbook. If false, only return summary content for workbooks.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more workbook definitions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                        kind:
                          type: string
                          description: The kind of workbook. Only valid value is shared.
                          enum:
                          - shared
                          x-ms-enum:
                            name: WorkbookSharedTypeKind
                            modelAsString: true
                        etag:
                          type: string
                          description: Resource etag
                        properties:
                          x-ms-client-flatten: true
                          description: Metadata describing a workbook for an Azure
                            resource.
                          type: object
                          required:
                          - displayName
                          - category
                          - serializedData
                          properties:
                            displayName:
                              type: string
                              description: The user-defined name (display name) of
                                the workbook.
                            serializedData:
                              type: string
                              description: Configuration of this particular workbook.
                                Configuration data is a string containing valid JSON
                              nullable: true
                            version:
                              type: string
                              description: Workbook schema version format, like 'Notebook/1.0',
                                which should match the workbook in serializedData
                            timeModified:
                              type: string
                              format: date-time
                              description: Date and time in UTC of the last modification
                                that was made to this workbook definition.
                              readOnly: true
                            category:
                              type: string
                              description: Workbook category, as defined by the user
                                at creation time.
                            tags:
                              type: array
                              items:
                                type: string
                              description: Being deprecated, please use the other
                                tags field
                            userId:
                              type: string
                              description: Unique user id of the specific user that
                                owns this workbook.
                              readOnly: true
                            sourceId:
                              type: string
                              description: ResourceId for a source resource.
                            storageUri:
                              type: string
                              description: The resourceId to the storage account when
                                bring your own storage is used
                              nullable: true
                            description:
                              type: string
                              description: The description of the workbook.
                              nullable: true
                            revision:
                              type: string
                              description: The unique revision id for this workbook
                                definition
                              readOnly: true
                              nullable: true
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: An array of workbooks.
                  nextLink:
                    type: string
                description: Workbook list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/workbooks:
    get:
      description: Get all Workbooks defined within a specified resource group and
        category.
      operationId: Workbooks_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: category
        in: query
        required: true
        x-ms-enum:
          name: CategoryType
          modelAsString: true
        description: Category of workbook to return.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - workbook
          - TSG
          - performance
          - retention
      - name: tags
        in: query
        required: false
        description: Tags presents on each workbook returned.
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: sourceId
        in: query
        required: false
        description: Azure Resource Id that will fetch all linked workbooks.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: canFetchContent
        in: query
        required: false
        description: Flag indicating whether or not to return the full content for
          each applicable workbook. If false, only return summary content for workbooks.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more workbook definitions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        identity:
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                          description: Managed service identity (system assigned and/or
                            user assigned identities)
                        kind:
                          type: string
                          description: The kind of workbook. Only valid value is shared.
                          enum:
                          - shared
                          x-ms-enum:
                            name: WorkbookSharedTypeKind
                            modelAsString: true
                        etag:
                          type: string
                          description: Resource etag
                        properties:
                          x-ms-client-flatten: true
                          description: Metadata describing a workbook for an Azure
                            resource.
                          type: object
                          required:
                          - displayName
                          - category
                          - serializedData
                          properties:
                            displayName:
                              type: string
                              description: The user-defined name (display name) of
                                the workbook.
                            serializedData:
                              type: string
                              description: Configuration of this particular workbook.
                                Configuration data is a string containing valid JSON
                              nullable: true
                            version:
                              type: string
                              description: Workbook schema version format, like 'Notebook/1.0',
                                which should match the workbook in serializedData
                            timeModified:
                              type: string
                              format: date-time
                              description: Date and time in UTC of the last modification
                                that was made to this workbook definition.
                              readOnly: true
                            category:
                              type: string
                              description: Workbook category, as defined by the user
                                at creation time.
                            tags:
                              type: array
                              items:
                                type: string
                              description: Being deprecated, please use the other
                                tags field
                            userId:
                              type: string
                              description: Unique user id of the specific user that
                                owns this workbook.
                              readOnly: true
                            sourceId:
                              type: string
                              description: ResourceId for a source resource.
                            storageUri:
                              type: string
                              description: The resourceId to the storage account when
                                bring your own storage is used
                              nullable: true
                            description:
                              type: string
                              description: The description of the workbook.
                              nullable: true
                            revision:
                              type: string
                              description: The unique revision id for this workbook
                                definition
                              readOnly: true
                              nullable: true
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: An array of workbooks.
                  nextLink:
                    type: string
                description: Workbook list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/workbooks/{resourceName}:
    get:
      description: Get a single workbook by its resourceName.
      operationId: Workbooks_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: canFetchContent
        in: query
        required: false
        description: Flag indicating whether or not to return the full content for
          each applicable workbook. If false, only return summary content for workbooks.
        x-ms-parameter-location: method
        schema:
          type: boolean
      responses:
        '200':
          description: A workbook definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                  kind:
                    type: string
                    description: The kind of workbook. Only valid value is shared.
                    enum:
                    - shared
                    x-ms-enum:
                      name: WorkbookSharedTypeKind
                      modelAsString: true
                  etag:
                    type: string
                    description: Resource etag
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a workbook for an Azure resource.
                    type: object
                    required:
                    - displayName
                    - category
                    - serializedData
                    properties:
                      displayName:
                        type: string
                        description: The user-defined name (display name) of the workbook.
                      serializedData:
                        type: string
                        description: Configuration of this particular workbook. Configuration
                          data is a string containing valid JSON
                        nullable: true
                      version:
                        type: string
                        description: Workbook schema version format, like 'Notebook/1.0',
                          which should match the workbook in serializedData
                      timeModified:
                        type: string
                        format: date-time
                        description: Date and time in UTC of the last modification
                          that was made to this workbook definition.
                        readOnly: true
                      category:
                        type: string
                        description: Workbook category, as defined by the user at
                          creation time.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Being deprecated, please use the other tags field
                      userId:
                        type: string
                        description: Unique user id of the specific user that owns
                          this workbook.
                        readOnly: true
                      sourceId:
                        type: string
                        description: ResourceId for a source resource.
                      storageUri:
                        type: string
                        description: The resourceId to the storage account when bring
                          your own storage is used
                        nullable: true
                      description:
                        type: string
                        description: The description of the workbook.
                        nullable: true
                      revision:
                        type: string
                        description: The unique revision id for this workbook definition
                        readOnly: true
                        nullable: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
    delete:
      description: Delete a workbook.
      operationId: Workbooks_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The workbook has been successfully deleted.
        '204':
          description: The resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
    put:
      description: Create a new workbook.
      operationId: Workbooks_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceId
        in: query
        required: false
        description: Azure Resource Id that will fetch all linked workbooks.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                identity:
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                  description: Managed service identity (system assigned and/or user
                    assigned identities)
                kind:
                  type: string
                  description: The kind of workbook. Only valid value is shared.
                  enum:
                  - shared
                  x-ms-enum:
                    name: WorkbookSharedTypeKind
                    modelAsString: true
                etag:
                  type: string
                  description: Resource etag
                properties:
                  x-ms-client-flatten: true
                  description: Metadata describing a workbook for an Azure resource.
                  type: object
                  required:
                  - displayName
                  - category
                  - serializedData
                  properties:
                    displayName:
                      type: string
                      description: The user-defined name (display name) of the workbook.
                    serializedData:
                      type: string
                      description: Configuration of this particular workbook. Configuration
                        data is a string containing valid JSON
                      nullable: true
                    version:
                      type: string
                      description: Workbook schema version format, like 'Notebook/1.0',
                        which should match the workbook in serializedData
                    timeModified:
                      type: string
                      format: date-time
                      description: Date and time in UTC of the last modification that
                        was made to this workbook definition.
                      readOnly: true
                    category:
                      type: string
                      description: Workbook category, as defined by the user at creation
                        time.
                    tags:
                      type: array
                      items:
                        type: string
                      description: Being deprecated, please use the other tags field
                    userId:
                      type: string
                      description: Unique user id of the specific user that owns this
                        workbook.
                      readOnly: true
                    sourceId:
                      type: string
                      description: ResourceId for a source resource.
                    storageUri:
                      type: string
                      description: The resourceId to the storage account when bring
                        your own storage is used
                      nullable: true
                    description:
                      type: string
                      description: The description of the workbook.
                      nullable: true
                    revision:
                      type: string
                      description: The unique revision id for this workbook definition
                      readOnly: true
                      nullable: true
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties that need to be specified to create a new workbook.
        required: true
      responses:
        '200':
          description: The newly created workbook.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                  kind:
                    type: string
                    description: The kind of workbook. Only valid value is shared.
                    enum:
                    - shared
                    x-ms-enum:
                      name: WorkbookSharedTypeKind
                      modelAsString: true
                  etag:
                    type: string
                    description: Resource etag
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a workbook for an Azure resource.
                    type: object
                    required:
                    - displayName
                    - category
                    - serializedData
                    properties:
                      displayName:
                        type: string
                        description: The user-defined name (display name) of the workbook.
                      serializedData:
                        type: string
                        description: Configuration of this particular workbook. Configuration
                          data is a string containing valid JSON
                        nullable: true
                      version:
                        type: string
                        description: Workbook schema version format, like 'Notebook/1.0',
                          which should match the workbook in serializedData
                      timeModified:
                        type: string
                        format: date-time
                        description: Date and time in UTC of the last modification
                          that was made to this workbook definition.
                        readOnly: true
                      category:
                        type: string
                        description: Workbook category, as defined by the user at
                          creation time.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Being deprecated, please use the other tags field
                      userId:
                        type: string
                        description: Unique user id of the specific user that owns
                          this workbook.
                        readOnly: true
                      sourceId:
                        type: string
                        description: ResourceId for a source resource.
                      storageUri:
                        type: string
                        description: The resourceId to the storage account when bring
                          your own storage is used
                        nullable: true
                      description:
                        type: string
                        description: The description of the workbook.
                        nullable: true
                      revision:
                        type: string
                        description: The unique revision id for this workbook definition
                        readOnly: true
                        nullable: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The newly created workbook.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                  kind:
                    type: string
                    description: The kind of workbook. Only valid value is shared.
                    enum:
                    - shared
                    x-ms-enum:
                      name: WorkbookSharedTypeKind
                      modelAsString: true
                  etag:
                    type: string
                    description: Resource etag
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a workbook for an Azure resource.
                    type: object
                    required:
                    - displayName
                    - category
                    - serializedData
                    properties:
                      displayName:
                        type: string
                        description: The user-defined name (display name) of the workbook.
                      serializedData:
                        type: string
                        description: Configuration of this particular workbook. Configuration
                          data is a string containing valid JSON
                        nullable: true
                      version:
                        type: string
                        description: Workbook schema version format, like 'Notebook/1.0',
                          which should match the workbook in serializedData
                      timeModified:
                        type: string
                        format: date-time
                        description: Date and time in UTC of the last modification
                          that was made to this workbook definition.
                        readOnly: true
                      category:
                        type: string
                        description: Workbook category, as defined by the user at
                          creation time.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Being deprecated, please use the other tags field
                      userId:
                        type: string
                        description: Unique user id of the specific user that owns
                          this workbook.
                        readOnly: true
                      sourceId:
                        type: string
                        description: ResourceId for a source resource.
                      storageUri:
                        type: string
                        description: The resourceId to the storage account when bring
                          your own storage is used
                        nullable: true
                      description:
                        type: string
                        description: The description of the workbook.
                        nullable: true
                      revision:
                        type: string
                        description: The unique revision id for this workbook definition
                        readOnly: true
                        nullable: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
    patch:
      description: Updates a workbook that has already been added.
      operationId: Workbooks_Update
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceName
        in: path
        required: true
        description: The name of the resource.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceId
        in: query
        required: false
        description: Azure Resource Id that will fetch all linked workbooks.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: The parameters that can be provided when updating workbook
                properties properties.
              type: object
              properties:
                kind:
                  type: string
                  description: The kind of workbook. Only valid value is shared.
                  enum:
                  - shared
                  x-ms-enum:
                    name: WorkbookUpdateSharedTypeKind
                    modelAsString: true
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Metadata describing a workbook for an Azure resource.
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: The user-defined name (display name) of the workbook.
                    serializedData:
                      type: string
                      description: Configuration of this particular workbook. Configuration
                        data is a string containing valid JSON
                    category:
                      type: string
                      description: Workbook category, as defined by the user at creation
                        time.
                    tags:
                      type: array
                      items:
                        type: string
                      description: A list of 0 or more tags that are associated with
                        this workbook definition
                    description:
                      type: string
                      description: The description of the workbook.
                      nullable: true
                    revision:
                      type: string
                      description: The unique revision id for this workbook definition
                      nullable: true
        description: Properties that need to be specified to create a new workbook.
      responses:
        '200':
          description: The workbook definition updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                  kind:
                    type: string
                    description: The kind of workbook. Only valid value is shared.
                    enum:
                    - shared
                    x-ms-enum:
                      name: WorkbookSharedTypeKind
                      modelAsString: true
                  etag:
                    type: string
                    description: Resource etag
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a workbook for an Azure resource.
                    type: object
                    required:
                    - displayName
                    - category
                    - serializedData
                    properties:
                      displayName:
                        type: string
                        description: The user-defined name (display name) of the workbook.
                      serializedData:
                        type: string
                        description: Configuration of this particular workbook. Configuration
                          data is a string containing valid JSON
                        nullable: true
                      version:
                        type: string
                        description: Workbook schema version format, like 'Notebook/1.0',
                          which should match the workbook in serializedData
                      timeModified:
                        type: string
                        format: date-time
                        description: Date and time in UTC of the last modification
                          that was made to this workbook definition.
                        readOnly: true
                      category:
                        type: string
                        description: Workbook category, as defined by the user at
                          creation time.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Being deprecated, please use the other tags field
                      userId:
                        type: string
                        description: Unique user id of the specific user that owns
                          this workbook.
                        readOnly: true
                      sourceId:
                        type: string
                        description: ResourceId for a source resource.
                      storageUri:
                        type: string
                        description: The resourceId to the storage account when bring
                          your own storage is used
                        nullable: true
                      description:
                        type: string
                        description: The description of the workbook.
                        nullable: true
                      revision:
                        type: string
                        description: The unique revision id for this workbook definition
                        readOnly: true
                        nullable: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The workbook definition updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  identity:
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                  kind:
                    type: string
                    description: The kind of workbook. Only valid value is shared.
                    enum:
                    - shared
                    x-ms-enum:
                      name: WorkbookSharedTypeKind
                      modelAsString: true
                  etag:
                    type: string
                    description: Resource etag
                  properties:
                    x-ms-client-flatten: true
                    description: Metadata describing a workbook for an Azure resource.
                    type: object
                    required:
                    - displayName
                    - category
                    - serializedData
                    properties:
                      displayName:
                        type: string
                        description: The user-defined name (display name) of the workbook.
                      serializedData:
                        type: string
                        description: Configuration of this particular workbook. Configuration
                          data is a string containing valid JSON
                        nullable: true
                      version:
                        type: string
                        description: Workbook schema version format, like 'Notebook/1.0',
                          which should match the workbook in serializedData
                      timeModified:
                        type: string
                        format: date-time
                        description: Date and time in UTC of the last modification
                          that was made to this workbook definition.
                        readOnly: true
                      category:
                        type: string
                        description: Workbook category, as defined by the user at
                          creation time.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Being deprecated, please use the other tags field
                      userId:
                        type: string
                        description: Unique user id of the specific user that owns
                          this workbook.
                        readOnly: true
                      sourceId:
                        type: string
                        description: ResourceId for a source resource.
                      storageUri:
                        type: string
                        description: The resourceId to the storage account when bring
                          your own storage is used
                        nullable: true
                      description:
                        type: string
                        description: The description of the workbook.
                        nullable: true
                      revision:
                        type: string
                        description: The unique revision id for this workbook definition
                        readOnly: true
                        nullable: true
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      innererror:
                        description: Internal error details.
                        readOnly: true
                        type: object
                        properties:
                          trace:
                            description: detailed error trace
                            type: array
                            items:
                              type: string
                            readOnly: true
[...]
