openapi: 3.0.0
info:
  title: HybridComputeManagementClient
  description: The Hybrid Compute Management Client.
  version: 2025-01-13
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/validateLicense:
    post:
      tags:
      - licenses
      operationId: Licenses_ValidateLicense
      description: The operation to validate a license.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Hybrid Compute License properties
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state, which only appears in the
                        response.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Accepted
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    tenantId:
                      type: string
                      description: Describes the tenant id.
                    licenseType:
                      description: The type of the license resource.
                      type: string
                      enum:
                      - ESU
                      x-ms-enum:
                        name: LicenseType
                        modelAsString: true
                    licenseDetails:
                      description: Describes the properties of a License.
                      type: object
                      properties:
                        state:
                          type: string
                          enum:
                          - Activated
                          - Deactivated
                          x-ms-enum:
                            name: LicenseState
                            modelAsString: true
                          description: Describes the state of the license.
                        target:
                          type: string
                          enum:
                          - Windows Server 2012
                          - Windows Server 2012 R2
                          x-ms-enum:
                            name: LicenseTarget
                            modelAsString: true
                          description: Describes the license target server.
                        edition:
                          type: string
                          enum:
                          - Standard
                          - Datacenter
                          x-ms-enum:
                            name: LicenseEdition
                            modelAsString: true
                          description: Describes the edition of the license. The values
                            are either Standard or Datacenter.
                        type:
                          type: string
                          enum:
                          - pCore
                          - vCore
                          x-ms-enum:
                            name: LicenseCoreType
                            modelAsString: true
                          description: Describes the license core type (pCore or vCore).
                        processors:
                          type: integer
                          format: int32
                          description: Describes the number of processors.
                        assignedLicenses:
                          readOnly: true
                          type: integer
                          format: int32
                          description: Describes the number of assigned licenses.
                        immutableId:
                          readOnly: true
                          type: string
                          description: Describes the immutable id.
                        volumeLicenseDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              programYear:
                                type: string
                                description: Describes the program year the volume
                                  license is for.
                                enum:
                                - Year 1
                                - Year 2
                                - Year 3
                                x-ms-enum:
                                  name: ProgramYear
                                  modelAsString: true
                              invoiceId:
                                type: string
                                description: The invoice id for the volume license.
                          description: A list of volume license details.
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the license validation operation.
        required: true
      responses:
        '200':
          description: Updated Resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Hybrid Compute License properties
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state, which only appears in
                          the response.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Accepted
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      tenantId:
                        type: string
                        description: Describes the tenant id.
                      licenseType:
                        description: The type of the license resource.
                        type: string
                        enum:
                        - ESU
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      licenseDetails:
                        description: Describes the properties of a License.
                        type: object
                        properties:
                          state:
                            type: string
                            enum:
                            - Activated
                            - Deactivated
                            x-ms-enum:
                              name: LicenseState
                              modelAsString: true
                            description: Describes the state of the license.
                          target:
                            type: string
                            enum:
                            - Windows Server 2012
                            - Windows Server 2012 R2
                            x-ms-enum:
                              name: LicenseTarget
                              modelAsString: true
                            description: Describes the license target server.
                          edition:
                            type: string
                            enum:
                            - Standard
                            - Datacenter
                            x-ms-enum:
                              name: LicenseEdition
                              modelAsString: true
                            description: Describes the edition of the license. The
                              values are either Standard or Datacenter.
                          type:
                            type: string
                            enum:
                            - pCore
                            - vCore
                            x-ms-enum:
                              name: LicenseCoreType
                              modelAsString: true
                            description: Describes the license core type (pCore or
                              vCore).
                          processors:
                            type: integer
                            format: int32
                            description: Describes the number of processors.
                          assignedLicenses:
                            readOnly: true
                            type: integer
                            format: int32
                            description: Describes the number of assigned licenses.
                          immutableId:
                            readOnly: true
                            type: string
                            description: Describes the immutable id.
                          volumeLicenseDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                programYear:
                                  type: string
                                  description: Describes the program year the volume
                                    license is for.
                                  enum:
                                  - Year 1
                                  - Year 2
                                  - Year 3
                                  x-ms-enum:
                                    name: ProgramYear
                                    modelAsString: true
                                invoiceId:
                                  type: string
                                  description: The invoice id for the volume license.
                            description: A list of volume license details.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/licenses/{licenseName}
  : put:
      tags:
      - licenses
      operationId: Licenses_CreateOrUpdate
      description: The operation to create or update a license.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: licenseName
        in: path
        required: true
        description: The name of the license.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Hybrid Compute License properties
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state, which only appears in the
                        response.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Accepted
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    tenantId:
                      type: string
                      description: Describes the tenant id.
                    licenseType:
                      description: The type of the license resource.
                      type: string
                      enum:
                      - ESU
                      x-ms-enum:
                        name: LicenseType
                        modelAsString: true
                    licenseDetails:
                      description: Describes the properties of a License.
                      type: object
                      properties:
                        state:
                          type: string
                          enum:
                          - Activated
                          - Deactivated
                          x-ms-enum:
                            name: LicenseState
                            modelAsString: true
                          description: Describes the state of the license.
                        target:
                          type: string
                          enum:
                          - Windows Server 2012
                          - Windows Server 2012 R2
                          x-ms-enum:
                            name: LicenseTarget
                            modelAsString: true
                          description: Describes the license target server.
                        edition:
                          type: string
                          enum:
                          - Standard
                          - Datacenter
                          x-ms-enum:
                            name: LicenseEdition
                            modelAsString: true
                          description: Describes the edition of the license. The values
                            are either Standard or Datacenter.
                        type:
                          type: string
                          enum:
                          - pCore
                          - vCore
                          x-ms-enum:
                            name: LicenseCoreType
                            modelAsString: true
                          description: Describes the license core type (pCore or vCore).
                        processors:
                          type: integer
                          format: int32
                          description: Describes the number of processors.
                        assignedLicenses:
                          readOnly: true
                          type: integer
                          format: int32
                          description: Describes the number of assigned licenses.
                        immutableId:
                          readOnly: true
                          type: string
                          description: Describes the immutable id.
                        volumeLicenseDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              programYear:
                                type: string
                                description: Describes the program year the volume
                                  license is for.
                                enum:
                                - Year 1
                                - Year 2
                                - Year 3
                                x-ms-enum:
                                  name: ProgramYear
                                  modelAsString: true
                              invoiceId:
                                type: string
                                description: The invoice id for the volume license.
                          description: A list of volume license details.
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the Create license operation.
        required: true
      responses:
        '200':
          description: Updated Resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Hybrid Compute License properties
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state, which only appears in
                          the response.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Accepted
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      tenantId:
                        type: string
                        description: Describes the tenant id.
                      licenseType:
                        description: The type of the license resource.
                        type: string
                        enum:
                        - ESU
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      licenseDetails:
                        description: Describes the properties of a License.
                        type: object
                        properties:
                          state:
                            type: string
                            enum:
                            - Activated
                            - Deactivated
                            x-ms-enum:
                              name: LicenseState
                              modelAsString: true
                            description: Describes the state of the license.
                          target:
                            type: string
                            enum:
                            - Windows Server 2012
                            - Windows Server 2012 R2
                            x-ms-enum:
                              name: LicenseTarget
                              modelAsString: true
                            description: Describes the license target server.
                          edition:
                            type: string
                            enum:
                            - Standard
                            - Datacenter
                            x-ms-enum:
                              name: LicenseEdition
                              modelAsString: true
                            description: Describes the edition of the license. The
                              values are either Standard or Datacenter.
                          type:
                            type: string
                            enum:
                            - pCore
                            - vCore
                            x-ms-enum:
                              name: LicenseCoreType
                              modelAsString: true
                            description: Describes the license core type (pCore or
                              vCore).
                          processors:
                            type: integer
                            format: int32
                            description: Describes the number of processors.
                          assignedLicenses:
                            readOnly: true
                            type: integer
                            format: int32
                            description: Describes the number of assigned licenses.
                          immutableId:
                            readOnly: true
                            type: string
                            description: Describes the immutable id.
                          volumeLicenseDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                programYear:
                                  type: string
                                  description: Describes the program year the volume
                                    license is for.
                                  enum:
                                  - Year 1
                                  - Year 2
                                  - Year 3
                                  x-ms-enum:
                                    name: ProgramYear
                                    modelAsString: true
                                invoiceId:
                                  type: string
                                  description: The invoice id for the volume license.
                            description: A list of volume license details.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - licenses
      operationId: Licenses_Update
      description: The operation to update a license.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: licenseName
        in: path
        required: true
        description: The name of the license.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: License Update properties
                  type: object
                  properties:
                    licenseType:
                      description: The type of the license resource.
                      type: string
                      enum:
                      - ESU
                      x-ms-enum:
                        name: LicenseType
                        modelAsString: true
                    licenseDetails:
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        state:
                          type: string
                          enum:
                          - Activated
                          - Deactivated
                          x-ms-enum:
                            name: LicenseState
                            modelAsString: true
                          description: Describes the state of the license.
                        target:
                          type: string
                          enum:
                          - Windows Server 2012
                          - Windows Server 2012 R2
                          x-ms-enum:
                            name: LicenseTarget
                            modelAsString: true
                          description: Describes the license target server.
                        edition:
                          type: string
                          enum:
                          - Standard
                          - Datacenter
                          x-ms-enum:
                            name: LicenseEdition
                            modelAsString: true
                          description: Describes the edition of the license. The values
                            are either Standard or Datacenter.
                        type:
                          type: string
                          enum:
                          - pCore
                          - vCore
                          x-ms-enum:
                            name: LicenseCoreType
                            modelAsString: true
                          description: Describes the license core type (pCore or vCore).
                        processors:
                          type: integer
                          format: int32
                          description: Describes the number of processors.
              description: The Update Resource model definition.
        description: Parameters supplied to the Update license operation.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Hybrid Compute License properties
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state, which only appears in
                          the response.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Accepted
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      tenantId:
                        type: string
                        description: Describes the tenant id.
                      licenseType:
                        description: The type of the license resource.
                        type: string
                        enum:
                        - ESU
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      licenseDetails:
                        description: Describes the properties of a License.
                        type: object
                        properties:
                          state:
                            type: string
                            enum:
                            - Activated
                            - Deactivated
                            x-ms-enum:
                              name: LicenseState
                              modelAsString: true
                            description: Describes the state of the license.
                          target:
                            type: string
                            enum:
                            - Windows Server 2012
                            - Windows Server 2012 R2
                            x-ms-enum:
                              name: LicenseTarget
                              modelAsString: true
                            description: Describes the license target server.
                          edition:
                            type: string
                            enum:
                            - Standard
                            - Datacenter
                            x-ms-enum:
                              name: LicenseEdition
                              modelAsString: true
                            description: Describes the edition of the license. The
                              values are either Standard or Datacenter.
                          type:
                            type: string
                            enum:
                            - pCore
                            - vCore
                            x-ms-enum:
                              name: LicenseCoreType
                              modelAsString: true
                            description: Describes the license core type (pCore or
                              vCore).
                          processors:
                            type: integer
                            format: int32
                            description: Describes the number of processors.
                          assignedLicenses:
                            readOnly: true
                            type: integer
                            format: int32
                            description: Describes the number of assigned licenses.
                          immutableId:
                            readOnly: true
                            type: string
                            description: Describes the immutable id.
                          volumeLicenseDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                programYear:
                                  type: string
                                  description: Describes the program year the volume
                                    license is for.
                                  enum:
                                  - Year 1
                                  - Year 2
                                  - Year 3
                                  x-ms-enum:
                                    name: ProgramYear
                                    modelAsString: true
                                invoiceId:
                                  type: string
                                  description: The invoice id for the volume license.
                            description: A list of volume license details.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - licenses
      operationId: Licenses_Get
      description: Retrieves information about the view of a license.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: licenseName
        in: path
        required: true
        description: The name of the license.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Hybrid Compute License properties
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state, which only appears in
                          the response.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Accepted
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      tenantId:
                        type: string
                        description: Describes the tenant id.
                      licenseType:
                        description: The type of the license resource.
                        type: string
                        enum:
                        - ESU
                        x-ms-enum:
                          name: LicenseType
                          modelAsString: true
                      licenseDetails:
                        description: Describes the properties of a License.
                        type: object
                        properties:
                          state:
                            type: string
                            enum:
                            - Activated
                            - Deactivated
                            x-ms-enum:
                              name: LicenseState
                              modelAsString: true
                            description: Describes the state of the license.
                          target:
                            type: string
                            enum:
                            - Windows Server 2012
                            - Windows Server 2012 R2
                            x-ms-enum:
                              name: LicenseTarget
                              modelAsString: true
                            description: Describes the license target server.
                          edition:
                            type: string
                            enum:
                            - Standard
                            - Datacenter
                            x-ms-enum:
                              name: LicenseEdition
                              modelAsString: true
                            description: Describes the edition of the license. The
                              values are either Standard or Datacenter.
                          type:
                            type: string
                            enum:
                            - pCore
                            - vCore
                            x-ms-enum:
                              name: LicenseCoreType
                              modelAsString: true
                            description: Describes the license core type (pCore or
                              vCore).
                          processors:
                            type: integer
                            format: int32
                            description: Describes the number of processors.
                          assignedLicenses:
                            readOnly: true
                            type: integer
                            format: int32
                            description: Describes the number of assigned licenses.
                          immutableId:
                            readOnly: true
                            type: string
                            description: Describes the immutable id.
                          volumeLicenseDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                programYear:
                                  type: string
                                  description: Describes the program year the volume
                                    license is for.
                                  enum:
                                  - Year 1
                                  - Year 2
                                  - Year 3
                                  x-ms-enum:
                                    name: ProgramYear
                                    modelAsString: true
                                invoiceId:
                                  type: string
                                  description: The invoice id for the volume license.
                            description: A list of volume license details.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - licenses
      operationId: Licenses_Delete
      description: The operation to delete a license.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: licenseName
        in: path
        required: true
        description: The name of the license.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/licenses:
    get:
      tags:
      - licenses
      operationId: Licenses_ListByResourceGroup
      description: The operation to get all licenses of a non-Azure machine
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Hybrid Compute License properties
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state, which only appears
                                in the response.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Accepted
                              - Canceled
                              - Deleted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            tenantId:
                              type: string
                              description: Describes the tenant id.
                            licenseType:
                              description: The type of the license resource.
                              type: string
                              enum:
                              - ESU
                              x-ms-enum:
                                name: LicenseType
                                modelAsString: true
                            licenseDetails:
                              description: Describes the properties of a License.
                              type: object
                              properties:
                                state:
                                  type: string
                                  enum:
                                  - Activated
                                  - Deactivated
                                  x-ms-enum:
                                    name: LicenseState
                                    modelAsString: true
                                  description: Describes the state of the license.
                                target:
                                  type: string
                                  enum:
                                  - Windows Server 2012
                                  - Windows Server 2012 R2
                                  x-ms-enum:
                                    name: LicenseTarget
                                    modelAsString: true
                                  description: Describes the license target server.
                                edition:
                                  type: string
                                  enum:
                                  - Standard
                                  - Datacenter
                                  x-ms-enum:
                                    name: LicenseEdition
                                    modelAsString: true
                                  description: Describes the edition of the license.
                                    The values are either Standard or Datacenter.
                                type:
                                  type: string
                                  enum:
                                  - pCore
                                  - vCore
                                  x-ms-enum:
                                    name: LicenseCoreType
                                    modelAsString: true
                                  description: Describes the license core type (pCore
                                    or vCore).
                                processors:
                                  type: integer
                                  format: int32
                                  description: Describes the number of processors.
                                assignedLicenses:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  description: Describes the number of assigned licenses.
                                immutableId:
                                  readOnly: true
                                  type: string
                                  description: Describes the immutable id.
                                volumeLicenseDetails:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      programYear:
                                        type: string
                                        description: Describes the program year the
                                          volume license is for.
                                        enum:
                                        - Year 1
                                        - Year 2
                                        - Year 3
                                        x-ms-enum:
                                          name: ProgramYear
                                          modelAsString: true
                                      invoiceId:
                                        type: string
                                        description: The invoice id for the volume
                                          license.
                                  description: A list of volume license details.
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of licenses.
                  nextLink:
                    type: string
                    description: The URI to fetch the next page of Machines. Call
                      ListNext() with this URI to fetch the next page of license profile.
                required:
                - value
                description: The List license operation response.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
[...]
