openapi: 3.0.0
info:
  title: HybridComputeManagementClient
  x-ms-code-generation-settings:
    name: HybridComputeManagementClient
  description: Azure Arc( Servers and K8s Clusters) API reference for Private Link's
    Scopes management.
  version: 2025-01-13
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/privateLinkScopes:
    get:
      description: Gets a list of all Azure Arc PrivateLinkScopes within a subscription.
      operationId: PrivateLinkScopes_List
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more Azure Arc PrivateLinkScope definitions.
          content:
            application/json:
              schema:
                type: object
                description: Describes the list of Azure Arc PrivateLinkScope resources.
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of Azure Arc PrivateLinkScope definitions.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Azure resource Id
                        name:
                          type: string
                          description: Azure resource name
                          readOnly: true
                        type:
                          type: string
                          readOnly: true
                          description: Azure resource type
                        location:
                          type: string
                          description: Resource location
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          description: Properties that define a Azure Arc PrivateLinkScope
                            resource.
                          type: object
                          properties:
                            publicNetworkAccess:
                              description: Indicates whether machines associated with
                                the private link scope can also use public Azure Arc
                                service endpoints.
                              type: string
                              default: Disabled
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: PublicNetworkAccessType
                                modelAsString: true
                                values:
                                - value: Enabled
                                  description: Allows Azure Arc agents to communicate
                                    with Azure Arc services over both public (internet)
                                    and private endpoints.
                                - value: Disabled
                                  description: Does not allow Azure Arc agents to
                                    communicate with Azure Arc services over public
                                    (internet) endpoints. The agents must use the
                                    private link.
                                - value: SecuredByPerimeter
                                  description: Azure Arc agent communication with
                                    Azure Arc services over public (internet) is enforced
                                    by Network Security Perimeter (NSP)
                            provisioningState:
                              type: string
                              description: 'Current state of this PrivateLinkScope:
                                whether or not is has been provisioned within the
                                resource group it is defined. Users cannot change
                                this value but are able to read from it. Values will
                                include Provisioning ,Succeeded, Canceled and Failed.'
                              readOnly: true
                            privateLinkScopeId:
                              readOnly: true
                              description: The Guid id of the private link scope.
                              type: string
                            privateEndpointConnections:
                              readOnly: true
                              description: The collection of associated Private Endpoint
                                Connections.
                              type: array
                              items:
                                type: object
                                description: The Data Model for a Private Endpoint
                                  Connection associated with a Private Link Scope
                                properties:
                                  id:
                                    description: The ARM Resource Id of the Private
                                      Endpoint.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: The Name of the Private Endpoint.
                                    type: string
                                    readOnly: true
                                  type:
                                    type: string
                                    readOnly: true
                                    description: Azure resource type
                                  properties:
                                    description: The Private Endpoint Connection properties.
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: Private endpoint which the connection
                                          belongs to.
                                        type: object
                                        properties:
                                          id:
                                            description: Resource id of the private
                                              endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection.
                                        type: object
                                        required:
                                        - status
                                        - description
                                        properties:
                                          status:
                                            description: The private link service
                                              connection status.
                                            type: string
                                          description:
                                            description: The private link service
                                              connection description.
                                            type: string
                                          actionsRequired:
                                            description: The actions required for
                                              private link service connection.
                                            type: string
                                            readOnly: true
                                      provisioningState:
                                        description: State of the private endpoint
                                          connection.
                                        type: string
                                        readOnly: true
                                      groupIds:
                                        description: List of group IDs.
                                        type: array
                                        items:
                                          type: string
                                        readOnly: true
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      description: An azure resource object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The URI to get the next set of Azure Arc PrivateLinkScope
                      definitions if too many PrivateLinkScopes where returned in
                      the result set.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes:
    get:
      description: Gets a list of Azure Arc PrivateLinkScopes within a resource group.
      operationId: PrivateLinkScopes_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list containing 0 or more Azure Arc PrivateLinkScope definitions.
          content:
            application/json:
              schema:
                type: object
                description: Describes the list of Azure Arc PrivateLinkScope resources.
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of Azure Arc PrivateLinkScope definitions.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Azure resource Id
                        name:
                          type: string
                          description: Azure resource name
                          readOnly: true
                        type:
                          type: string
                          readOnly: true
                          description: Azure resource type
                        location:
                          type: string
                          description: Resource location
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags
                        properties:
                          description: Properties that define a Azure Arc PrivateLinkScope
                            resource.
                          type: object
                          properties:
                            publicNetworkAccess:
                              description: Indicates whether machines associated with
                                the private link scope can also use public Azure Arc
                                service endpoints.
                              type: string
                              default: Disabled
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: PublicNetworkAccessType
                                modelAsString: true
                                values:
                                - value: Enabled
                                  description: Allows Azure Arc agents to communicate
                                    with Azure Arc services over both public (internet)
                                    and private endpoints.
                                - value: Disabled
                                  description: Does not allow Azure Arc agents to
                                    communicate with Azure Arc services over public
                                    (internet) endpoints. The agents must use the
                                    private link.
                                - value: SecuredByPerimeter
                                  description: Azure Arc agent communication with
                                    Azure Arc services over public (internet) is enforced
                                    by Network Security Perimeter (NSP)
                            provisioningState:
                              type: string
                              description: 'Current state of this PrivateLinkScope:
                                whether or not is has been provisioned within the
                                resource group it is defined. Users cannot change
                                this value but are able to read from it. Values will
                                include Provisioning ,Succeeded, Canceled and Failed.'
                              readOnly: true
                            privateLinkScopeId:
                              readOnly: true
                              description: The Guid id of the private link scope.
                              type: string
                            privateEndpointConnections:
                              readOnly: true
                              description: The collection of associated Private Endpoint
                                Connections.
                              type: array
                              items:
                                type: object
                                description: The Data Model for a Private Endpoint
                                  Connection associated with a Private Link Scope
                                properties:
                                  id:
                                    description: The ARM Resource Id of the Private
                                      Endpoint.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: The Name of the Private Endpoint.
                                    type: string
                                    readOnly: true
                                  type:
                                    type: string
                                    readOnly: true
                                    description: Azure resource type
                                  properties:
                                    description: The Private Endpoint Connection properties.
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: Private endpoint which the connection
                                          belongs to.
                                        type: object
                                        properties:
                                          id:
                                            description: Resource id of the private
                                              endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection.
                                        type: object
                                        required:
                                        - status
                                        - description
                                        properties:
                                          status:
                                            description: The private link service
                                              connection status.
                                            type: string
                                          description:
                                            description: The private link service
                                              connection description.
                                            type: string
                                          actionsRequired:
                                            description: The actions required for
                                              private link service connection.
                                            type: string
                                            readOnly: true
                                      provisioningState:
                                        description: State of the private endpoint
                                          connection.
                                        type: string
                                        readOnly: true
                                      groupIds:
                                        description: List of group IDs.
                                        type: array
                                        items:
                                          type: string
                                        readOnly: true
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      description: An azure resource object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The URI to get the next set of Azure Arc PrivateLinkScope
                      definitions if too many PrivateLinkScopes where returned in
                      the result set.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}
  : delete:
      description: Deletes a Azure Arc PrivateLinkScope.
      operationId: PrivateLinkScopes_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      responses:
        '200':
          description: Successful request when deleting an Azure Arc PrivateLinkScope.
        '202':
          description: Accepted.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The recommended number of seconds to wait before calling
                the URI specified in Azure-AsyncOperation.
              schema:
                type: integer
                format: int32
            Azure-AsyncOperation:
              description: The URI to poll for completion status.
              schema:
                type: string
        '204':
          description: The specified PrivateLinkScope does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      description: Returns a Azure Arc PrivateLinkScope.
      operationId: PrivateLinkScopes_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      responses:
        '200':
          description: Azure Arc PrivateLinkScope definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    description: Azure resource name
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                          - value: SecuredByPerimeter
                            description: Azure Arc agent communication with Azure
                              Arc services over public (internet) is enforced by Network
                              Security Perimeter (NSP)
                      provisioningState:
                        type: string
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        readOnly: true
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          description: The Data Model for a Private Endpoint Connection
                            associated with a Private Link Scope
                          properties:
                            id:
                              description: The ARM Resource Id of the Private Endpoint.
                              type: string
                              readOnly: true
                            name:
                              description: The Name of the Private Endpoint.
                              type: string
                              readOnly: true
                            type:
                              type: string
                              readOnly: true
                              description: Azure resource type
                            properties:
                              description: The Private Endpoint Connection properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  required:
                                  - status
                                  - description
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: State of the private endpoint connection.
                                  type: string
                                  readOnly: true
                                groupIds:
                                  description: List of group IDs.
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      description: 'Creates (or updates) a Azure Arc PrivateLinkScope. Note: You cannot
        specify a different value for InstrumentationKey nor AppId in the Put operation.'
      operationId: PrivateLinkScopes_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  description: Azure resource Id
                name:
                  type: string
                  description: Azure resource name
                  readOnly: true
                type:
                  type: string
                  readOnly: true
                  description: Azure resource type
                location:
                  type: string
                  description: Resource location
                  x-ms-mutability:
                  - create
                  - read
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  description: Properties that define a Azure Arc PrivateLinkScope
                    resource.
                  type: object
                  properties:
                    publicNetworkAccess:
                      description: Indicates whether machines associated with the
                        private link scope can also use public Azure Arc service endpoints.
                      type: string
                      default: Disabled
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: PublicNetworkAccessType
                        modelAsString: true
                        values:
                        - value: Enabled
                          description: Allows Azure Arc agents to communicate with
                            Azure Arc services over both public (internet) and private
                            endpoints.
                        - value: Disabled
                          description: Does not allow Azure Arc agents to communicate
                            with Azure Arc services over public (internet) endpoints.
                            The agents must use the private link.
                        - value: SecuredByPerimeter
                          description: Azure Arc agent communication with Azure Arc
                            services over public (internet) is enforced by Network
                            Security Perimeter (NSP)
                    provisioningState:
                      type: string
                      description: 'Current state of this PrivateLinkScope: whether
                        or not is has been provisioned within the resource group it
                        is defined. Users cannot change this value but are able to
                        read from it. Values will include Provisioning ,Succeeded,
                        Canceled and Failed.'
                      readOnly: true
                    privateLinkScopeId:
                      readOnly: true
                      description: The Guid id of the private link scope.
                      type: string
                    privateEndpointConnections:
                      readOnly: true
                      description: The collection of associated Private Endpoint Connections.
                      type: array
                      items:
                        type: object
                        description: The Data Model for a Private Endpoint Connection
                          associated with a Private Link Scope
                        properties:
                          id:
                            description: The ARM Resource Id of the Private Endpoint.
                            type: string
                            readOnly: true
                          name:
                            description: The Name of the Private Endpoint.
                            type: string
                            readOnly: true
                          type:
                            type: string
                            readOnly: true
                            description: Azure resource type
                          properties:
                            description: The Private Endpoint Connection properties.
                            type: object
                            properties:
                              privateEndpoint:
                                description: Private endpoint which the connection
                                  belongs to.
                                type: object
                                properties:
                                  id:
                                    description: Resource id of the private endpoint.
                                    type: string
                              privateLinkServiceConnectionState:
                                description: Connection state of the private endpoint
                                  connection.
                                type: object
                                required:
                                - status
                                - description
                                properties:
                                  status:
                                    description: The private link service connection
                                      status.
                                    type: string
                                  description:
                                    description: The private link service connection
                                      description.
                                    type: string
                                  actionsRequired:
                                    description: The actions required for private
                                      link service connection.
                                    type: string
                                    readOnly: true
                              provisioningState:
                                description: State of the private endpoint connection.
                                type: string
                                readOnly: true
                              groupIds:
                                description: List of group IDs.
                                type: array
                                items:
                                  type: string
                                readOnly: true
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              description: An azure resource object
              x-ms-azure-resource: true
        description: Properties that need to be specified to create or update a Azure
          Arc for Servers and Clusters PrivateLinkScope.
        required: true
      responses:
        '200':
          description: Successful request when creating or updating a Azure Arc PrivateLinkScope.
            The updated PrivateLinkScope is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    description: Azure resource name
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                          - value: SecuredByPerimeter
                            description: Azure Arc agent communication with Azure
                              Arc services over public (internet) is enforced by Network
                              Security Perimeter (NSP)
                      provisioningState:
                        type: string
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        readOnly: true
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          description: The Data Model for a Private Endpoint Connection
                            associated with a Private Link Scope
                          properties:
                            id:
                              description: The ARM Resource Id of the Private Endpoint.
                              type: string
                              readOnly: true
                            name:
                              description: The Name of the Private Endpoint.
                              type: string
                              readOnly: true
                            type:
                              type: string
                              readOnly: true
                              description: Azure resource type
                            properties:
                              description: The Private Endpoint Connection properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  required:
                                  - status
                                  - description
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: State of the private endpoint connection.
                                  type: string
                                  readOnly: true
                                groupIds:
                                  description: List of group IDs.
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                description: An azure resource object
                x-ms-azure-resource: true
        '201':
          description: Successful request when creating or updating a Azure Arc PrivateLinkScope.
            The updated PrivateLinkScope was created and is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    description: Azure resource name
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                          - value: SecuredByPerimeter
                            description: Azure Arc agent communication with Azure
                              Arc services over public (internet) is enforced by Network
                              Security Perimeter (NSP)
                      provisioningState:
                        type: string
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        readOnly: true
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          description: The Data Model for a Private Endpoint Connection
                            associated with a Private Link Scope
                          properties:
                            id:
                              description: The ARM Resource Id of the Private Endpoint.
                              type: string
                              readOnly: true
                            name:
                              description: The Name of the Private Endpoint.
                              type: string
                              readOnly: true
                            type:
                              type: string
                              readOnly: true
                              description: Azure resource type
                            properties:
                              description: The Private Endpoint Connection properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  required:
                                  - status
                                  - description
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: State of the private endpoint connection.
                                  type: string
                                  readOnly: true
                                groupIds:
                                  description: List of group IDs.
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      description: Updates an existing PrivateLinkScope's tags. To update other fields
        use the CreateOrUpdate method.
      operationId: PrivateLinkScopes_UpdateTags
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: scopeName
        in: path
        required: true
        description: The name of the Azure Arc PrivateLinkScope resource.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: '[a-zA-Z0-9-_\.]+'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: A container holding only the Tags for a resource, allowing
                the user to update the tags on a PrivateLinkScope instance.
        description: Updated tag information to set into the PrivateLinkScope instance.
        required: true
      responses:
        '200':
          description: Updating the Azure Arc PrivateLinkScope's tags was successful.
            PrivateLinkScope tags are updated and returned with the rest of the PrivateLinkScope's
            object properties.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Azure resource Id
                  name:
                    type: string
                    description: Azure resource name
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Azure resource type
                  location:
                    type: string
                    description: Resource location
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    description: Properties that define a Azure Arc PrivateLinkScope
                      resource.
                    type: object
                    properties:
                      publicNetworkAccess:
                        description: Indicates whether machines associated with the
                          private link scope can also use public Azure Arc service
                          endpoints.
                        type: string
                        default: Disabled
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccessType
                          modelAsString: true
                          values:
                          - value: Enabled
                            description: Allows Azure Arc agents to communicate with
                              Azure Arc services over both public (internet) and private
                              endpoints.
                          - value: Disabled
                            description: Does not allow Azure Arc agents to communicate
                              with Azure Arc services over public (internet) endpoints.
                              The agents must use the private link.
                          - value: SecuredByPerimeter
                            description: Azure Arc agent communication with Azure
                              Arc services over public (internet) is enforced by Network
                              Security Perimeter (NSP)
                      provisioningState:
                        type: string
                        description: 'Current state of this PrivateLinkScope: whether
                          or not is has been provisioned within the resource group
                          it is defined. Users cannot change this value but are able
                          to read from it. Values will include Provisioning ,Succeeded,
                          Canceled and Failed.'
                        readOnly: true
                      privateLinkScopeId:
                        readOnly: true
                        description: The Guid id of the private link scope.
                        type: string
                      privateEndpointConnections:
                        readOnly: true
                        description: The collection of associated Private Endpoint
                          Connections.
                        type: array
                        items:
                          type: object
                          description: The Data Model for a Private Endpoint Connection
                            associated with a Private Link Scope
                          properties:
                            id:
                              description: The ARM Resource Id of the Private Endpoint.
                              type: string
                              readOnly: true
                            name:
                              description: The Name of the Private Endpoint.
                              type: string
                              readOnly: true
                            type:
                              type: string
                              readOnly: true
                              description: Azure resource type
                            properties:
                              description: The Private Endpoint Connection properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  required:
                                  - status
                                  - description
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: State of the private endpoint connection.
                                  type: string
                                  readOnly: true
                                groupIds:
                                  description: List of group IDs.
                                  type: array
                                  items:
                                    type: string
                                  readOnly: true
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                description: An azure resource object
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
[...]
