openapi: 3.0.0
info:
  title: ApplicationClient
  version: 2019-07-01
  description: ARM applications
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Solutions/operations:
    get:
      tags:
      - Operations
      operationId: ListOperations
      description: Lists all of the available Microsoft.Solutions REST API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      type: object
                      properties:
                        name:
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        display:
                          description: Localized display information for this particular
                            operation.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              type: string
                              readOnly: true
                            operation:
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              type: string
                              readOnly: true
                            description:
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          type: string
                          readOnly: true
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                        actionType:
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          type: string
                          readOnly: true
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                    x-ms-identifiers:
                    - name
                    description: List of operations supported by the resource provider
                    readOnly: true
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}
  : get:
      tags:
      - Applications
      operationId: Applications_Get
      description: Gets the managed application.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: applicationName
        in: path
        required: true
        description: The name of the managed application.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns the managed application.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  managedBy:
                    type: string
                    description: ID of the resource that manages this resource.
                  sku:
                    description: The SKU of the resource.
                    properties:
                      name:
                        type: string
                        description: The SKU name.
                      tier:
                        type: string
                        description: The SKU tier.
                      size:
                        type: string
                        description: The SKU size.
                      family:
                        type: string
                        description: The SKU family.
                      model:
                        type: string
                        description: The SKU model.
                      capacity:
                        type: integer
                        format: int32
                        description: The SKU capacity.
                    required:
                    - name
                  properties:
                    x-ms-client-flatten: true
                    description: The managed application properties.
                    properties:
                      managedResourceGroupId:
                        type: string
                        description: The managed resource group Id.
                      applicationDefinitionId:
                        type: string
                        description: The fully qualified path of managed application
                          definition Id.
                      parameters:
                        type: object
                        description: Name and value pairs that define the managed
                          application parameters. It can be a JObject or a well formed
                          JSON string.
                      outputs:
                        readOnly: true
                        type: object
                        description: Name and value pairs that define the managed
                          application outputs.
                      provisioningState:
                        readOnly: true
                        description: The managed application provisioning state.
                        enum:
                        - NotSpecified
                        - Accepted
                        - Running
                        - Ready
                        - Creating
                        - Created
                        - Deleting
                        - Deleted
                        - Canceled
                        - Failed
                        - Succeeded
                        - Updating
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingDetails:
                        readOnly: true
                        description: The managed application billing details.
                        properties:
                          resourceUsageId:
                            type: string
                            description: The managed application resource usage Id.
                      jitAccessPolicy:
                        description: The managed application Jit access policy.
                        properties:
                          jitAccessEnabled:
                            type: boolean
                            description: Whether the JIT access is enabled.
                          jitApprovalMode:
                            description: JIT approval mode.
                            enum:
                            - NotSpecified
                            - AutoApprove
                            - ManualApprove
                            type: string
                            x-ms-enum:
                              name: JitApprovalMode
                              modelAsString: true
                          jitApprovers:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: The approver service principal Id.
                                type:
                                  type: string
                                  description: The approver type.
                                  enum:
                                  - user
                                  - group
                                  x-ms-enum:
                                    name: JitApproverType
                                    modelAsString: true
                                displayName:
                                  type: string
                                  description: The approver display name.
                              required:
                              - id
                              description: JIT approver definition.
                            description: The JIT approvers
                          maximumJitAccessDuration:
                            type: string
                            description: The maximum duration JIT access is granted.
                              This is an ISO8601 time period value.
                        required:
                        - jitAccessEnabled
                      publisherTenantId:
                        type: string
                        description: The publisher tenant Id.
                        readOnly: true
                      authorizations:
                        description: The  read-only authorizations property that is
                          retrieved from the application package.
                        type: array
                        items:
                          properties:
                            principalId:
                              type: string
                              description: The provider's principal identifier. This
                                is the identity that the provider will use to call
                                ARM to manage the managed application resources.
                            roleDefinitionId:
                              type: string
                              description: The provider's role definition identifier.
                                This role will define all the permissions that the
                                provider must have on the managed application's container
                                resource group. This role definition cannot have permission
                                to delete the resource group.
                          required:
                          - principalId
                          - roleDefinitionId
                          description: The managed application provider authorization.
                        readOnly: true
                      managementMode:
                        description: The managed application management mode.
                        readOnly: true
                        enum:
                        - NotSpecified
                        - Unmanaged
                        - Managed
                        type: string
                        x-ms-enum:
                          name: ApplicationManagementMode
                          modelAsString: true
                      customerSupport:
                        description: The read-only customer support property that
                          is retrieved from the application package.
                        readOnly: true
                        properties:
                          contactName:
                            type: string
                            description: The contact name.
                          email:
                            type: string
                            description: The contact email.
                          phone:
                            type: string
                            description: The contact phone number.
                        required:
                        - email
                        - phone
                      supportUrls:
                        description: The read-only support URLs property that is retrieved
                          from the application package.
                        readOnly: true
                        properties:
                          publicAzure:
                            type: string
                            description: The public azure support URL.
                          governmentCloud:
                            type: string
                            description: The government cloud support URL.
                      artifacts:
                        description: The collection of managed application artifacts.
                        type: array
                        items:
                          properties:
                            name:
                              description: The managed application artifact name.
                              enum:
                              - NotSpecified
                              - ViewDefinition
                              - Authorizations
                              - CustomRoleDefinition
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactName
                                modelAsString: true
                            uri:
                              type: string
                              description: The managed application artifact blob uri.
                            type:
                              description: The managed application artifact type.
                              enum:
                              - NotSpecified
                              - Template
                              - Custom
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactType
                                modelAsString: false
                          required:
                          - name
                          - type
                          - uri
                          description: Managed application artifact.
                        readOnly: true
                      createdBy:
                        readOnly: true
                        description: The client entity that created the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                      updatedBy:
                        readOnly: true
                        description: The client entity that last updated the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                  plan:
                    description: The plan information.
                    properties:
                      name:
                        type: string
                        description: The plan name.
                      publisher:
                        type: string
                        description: The publisher ID.
                      product:
                        type: string
                        description: The product code.
                      promotionCode:
                        type: string
                        description: The promotion code.
                      version:
                        type: string
                        description: The plan's version.
                    required:
                    - name
                    - publisher
                    - product
                    - version
                  kind:
                    type: string
                    description: The kind of the managed application. Allowed values
                      are MarketPlace and ServiceCatalog.
                    pattern: ^[-\w\._,\(\)]+$
                  identity:
                    description: The identity of the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id of user assigned identity.
                          description: Represents the user assigned identity that
                            is contained within the UserAssignedIdentities dictionary
                            on ResourceIdentity
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Resource information.
                x-ms-azure-resource: true
                required:
                - properties
                - kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - Applications
      operationId: Applications_Delete
      description: Deletes the managed application.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: applicationName
        in: path
        required: true
        description: The name of the managed application.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
      responses:
        '202':
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    put:
      tags:
      - Applications
      operationId: Applications_CreateOrUpdate
      description: Creates a new managed application.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: applicationName
        in: path
        required: true
        description: The name of the managed application.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                managedBy:
                  type: string
                  description: ID of the resource that manages this resource.
                sku:
                  description: The SKU of the resource.
                  properties:
                    name:
                      type: string
                      description: The SKU name.
                    tier:
                      type: string
                      description: The SKU tier.
                    size:
                      type: string
                      description: The SKU size.
                    family:
                      type: string
                      description: The SKU family.
                    model:
                      type: string
                      description: The SKU model.
                    capacity:
                      type: integer
                      format: int32
                      description: The SKU capacity.
                  required:
                  - name
                properties:
                  x-ms-client-flatten: true
                  description: The managed application properties.
                  properties:
                    managedResourceGroupId:
                      type: string
                      description: The managed resource group Id.
                    applicationDefinitionId:
                      type: string
                      description: The fully qualified path of managed application
                        definition Id.
                    parameters:
                      type: object
                      description: Name and value pairs that define the managed application
                        parameters. It can be a JObject or a well formed JSON string.
                    outputs:
                      readOnly: true
                      type: object
                      description: Name and value pairs that define the managed application
                        outputs.
                    provisioningState:
                      readOnly: true
                      description: The managed application provisioning state.
                      enum:
                      - NotSpecified
                      - Accepted
                      - Running
                      - Ready
                      - Creating
                      - Created
                      - Deleting
                      - Deleted
                      - Canceled
                      - Failed
                      - Succeeded
                      - Updating
                      type: string
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    billingDetails:
                      readOnly: true
                      description: The managed application billing details.
                      properties:
                        resourceUsageId:
                          type: string
                          description: The managed application resource usage Id.
                    jitAccessPolicy:
                      description: The managed application Jit access policy.
                      properties:
                        jitAccessEnabled:
                          type: boolean
                          description: Whether the JIT access is enabled.
                        jitApprovalMode:
                          description: JIT approval mode.
                          enum:
                          - NotSpecified
                          - AutoApprove
                          - ManualApprove
                          type: string
                          x-ms-enum:
                            name: JitApprovalMode
                            modelAsString: true
                        jitApprovers:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: The approver service principal Id.
                              type:
                                type: string
                                description: The approver type.
                                enum:
                                - user
                                - group
                                x-ms-enum:
                                  name: JitApproverType
                                  modelAsString: true
                              displayName:
                                type: string
                                description: The approver display name.
                            required:
                            - id
                            description: JIT approver definition.
                          description: The JIT approvers
                        maximumJitAccessDuration:
                          type: string
                          description: The maximum duration JIT access is granted.
                            This is an ISO8601 time period value.
                      required:
                      - jitAccessEnabled
                    publisherTenantId:
                      type: string
                      description: The publisher tenant Id.
                      readOnly: true
                    authorizations:
                      description: The  read-only authorizations property that is
                        retrieved from the application package.
                      type: array
                      items:
                        properties:
                          principalId:
                            type: string
                            description: The provider's principal identifier. This
                              is the identity that the provider will use to call ARM
                              to manage the managed application resources.
                          roleDefinitionId:
                            type: string
                            description: The provider's role definition identifier.
                              This role will define all the permissions that the provider
                              must have on the managed application's container resource
                              group. This role definition cannot have permission to
                              delete the resource group.
                        required:
                        - principalId
                        - roleDefinitionId
                        description: The managed application provider authorization.
                      readOnly: true
                    managementMode:
                      description: The managed application management mode.
                      readOnly: true
                      enum:
                      - NotSpecified
                      - Unmanaged
                      - Managed
                      type: string
                      x-ms-enum:
                        name: ApplicationManagementMode
                        modelAsString: true
                    customerSupport:
                      description: The read-only customer support property that is
                        retrieved from the application package.
                      readOnly: true
                      properties:
                        contactName:
                          type: string
                          description: The contact name.
                        email:
                          type: string
                          description: The contact email.
                        phone:
                          type: string
                          description: The contact phone number.
                      required:
                      - email
                      - phone
                    supportUrls:
                      description: The read-only support URLs property that is retrieved
                        from the application package.
                      readOnly: true
                      properties:
                        publicAzure:
                          type: string
                          description: The public azure support URL.
                        governmentCloud:
                          type: string
                          description: The government cloud support URL.
                    artifacts:
                      description: The collection of managed application artifacts.
                      type: array
                      items:
                        properties:
                          name:
                            description: The managed application artifact name.
                            enum:
                            - NotSpecified
                            - ViewDefinition
                            - Authorizations
                            - CustomRoleDefinition
                            type: string
                            x-ms-enum:
                              name: ApplicationArtifactName
                              modelAsString: true
                          uri:
                            type: string
                            description: The managed application artifact blob uri.
                          type:
                            description: The managed application artifact type.
                            enum:
                            - NotSpecified
                            - Template
                            - Custom
                            type: string
                            x-ms-enum:
                              name: ApplicationArtifactType
                              modelAsString: false
                        required:
                        - name
                        - type
                        - uri
                        description: Managed application artifact.
                      readOnly: true
                    createdBy:
                      readOnly: true
                      description: The client entity that created the JIT request.
                      properties:
                        oid:
                          type: string
                          description: The client Oid.
                        puid:
                          type: string
                          description: The client Puid
                        applicationId:
                          type: string
                          description: The client application Id.
                    updatedBy:
                      readOnly: true
                      description: The client entity that last updated the JIT request.
                      properties:
                        oid:
                          type: string
                          description: The client Oid.
                        puid:
                          type: string
                          description: The client Puid
                        applicationId:
                          type: string
                          description: The client application Id.
                plan:
                  description: The plan information.
                  properties:
                    name:
                      type: string
                      description: The plan name.
                    publisher:
                      type: string
                      description: The publisher ID.
                    product:
                      type: string
                      description: The product code.
                    promotionCode:
                      type: string
                      description: The promotion code.
                    version:
                      type: string
                      description: The plan's version.
                  required:
                  - name
                  - publisher
                  - product
                  - version
                kind:
                  type: string
                  description: The kind of the managed application. Allowed values
                    are MarketPlace and ServiceCatalog.
                  pattern: ^[-\w\._,\(\)]+$
                identity:
                  description: The identity of the resource.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          tenantId:
                            readOnly: true
                            type: string
                            description: The tenant id of user assigned identity.
                        description: Represents the user assigned identity that is
                          contained within the UserAssignedIdentities dictionary on
                          ResourceIdentity
                      description: 'The list of user identities associated with the
                        resource. The user identity dictionary key references will
                        be resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
              description: Resource information.
              x-ms-azure-resource: true
              required:
              - properties
              - kind
        description: Parameters supplied to the create or update a managed application.
        required: true
      responses:
        '200':
          description: Created - Returns information about the managed application,
            including provisioning status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  managedBy:
                    type: string
                    description: ID of the resource that manages this resource.
                  sku:
                    description: The SKU of the resource.
                    properties:
                      name:
                        type: string
                        description: The SKU name.
                      tier:
                        type: string
                        description: The SKU tier.
                      size:
                        type: string
                        description: The SKU size.
                      family:
                        type: string
                        description: The SKU family.
                      model:
                        type: string
                        description: The SKU model.
                      capacity:
                        type: integer
                        format: int32
                        description: The SKU capacity.
                    required:
                    - name
                  properties:
                    x-ms-client-flatten: true
                    description: The managed application properties.
                    properties:
                      managedResourceGroupId:
                        type: string
                        description: The managed resource group Id.
                      applicationDefinitionId:
                        type: string
                        description: The fully qualified path of managed application
                          definition Id.
                      parameters:
                        type: object
                        description: Name and value pairs that define the managed
                          application parameters. It can be a JObject or a well formed
                          JSON string.
                      outputs:
                        readOnly: true
                        type: object
                        description: Name and value pairs that define the managed
                          application outputs.
                      provisioningState:
                        readOnly: true
                        description: The managed application provisioning state.
                        enum:
                        - NotSpecified
                        - Accepted
                        - Running
                        - Ready
                        - Creating
                        - Created
                        - Deleting
                        - Deleted
                        - Canceled
                        - Failed
                        - Succeeded
                        - Updating
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingDetails:
                        readOnly: true
                        description: The managed application billing details.
                        properties:
                          resourceUsageId:
                            type: string
                            description: The managed application resource usage Id.
                      jitAccessPolicy:
                        description: The managed application Jit access policy.
                        properties:
                          jitAccessEnabled:
                            type: boolean
                            description: Whether the JIT access is enabled.
                          jitApprovalMode:
                            description: JIT approval mode.
                            enum:
                            - NotSpecified
                            - AutoApprove
                            - ManualApprove
                            type: string
                            x-ms-enum:
                              name: JitApprovalMode
                              modelAsString: true
                          jitApprovers:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: The approver service principal Id.
                                type:
                                  type: string
                                  description: The approver type.
                                  enum:
                                  - user
                                  - group
                                  x-ms-enum:
                                    name: JitApproverType
                                    modelAsString: true
                                displayName:
                                  type: string
                                  description: The approver display name.
                              required:
                              - id
                              description: JIT approver definition.
                            description: The JIT approvers
                          maximumJitAccessDuration:
                            type: string
                            description: The maximum duration JIT access is granted.
                              This is an ISO8601 time period value.
                        required:
                        - jitAccessEnabled
                      publisherTenantId:
                        type: string
                        description: The publisher tenant Id.
                        readOnly: true
                      authorizations:
                        description: The  read-only authorizations property that is
                          retrieved from the application package.
                        type: array
                        items:
                          properties:
                            principalId:
                              type: string
                              description: The provider's principal identifier. This
                                is the identity that the provider will use to call
                                ARM to manage the managed application resources.
                            roleDefinitionId:
                              type: string
                              description: The provider's role definition identifier.
                                This role will define all the permissions that the
                                provider must have on the managed application's container
                                resource group. This role definition cannot have permission
                                to delete the resource group.
                          required:
                          - principalId
                          - roleDefinitionId
                          description: The managed application provider authorization.
                        readOnly: true
                      managementMode:
                        description: The managed application management mode.
                        readOnly: true
                        enum:
                        - NotSpecified
                        - Unmanaged
                        - Managed
                        type: string
                        x-ms-enum:
                          name: ApplicationManagementMode
                          modelAsString: true
                      customerSupport:
                        description: The read-only customer support property that
                          is retrieved from the application package.
                        readOnly: true
                        properties:
                          contactName:
                            type: string
                            description: The contact name.
                          email:
                            type: string
                            description: The contact email.
                          phone:
                            type: string
                            description: The contact phone number.
                        required:
                        - email
                        - phone
                      supportUrls:
                        description: The read-only support URLs property that is retrieved
                          from the application package.
                        readOnly: true
                        properties:
                          publicAzure:
                            type: string
                            description: The public azure support URL.
                          governmentCloud:
                            type: string
                            description: The government cloud support URL.
                      artifacts:
                        description: The collection of managed application artifacts.
                        type: array
                        items:
                          properties:
                            name:
                              description: The managed application artifact name.
                              enum:
                              - NotSpecified
                              - ViewDefinition
                              - Authorizations
                              - CustomRoleDefinition
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactName
                                modelAsString: true
                            uri:
                              type: string
                              description: The managed application artifact blob uri.
                            type:
                              description: The managed application artifact type.
                              enum:
                              - NotSpecified
                              - Template
                              - Custom
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactType
                                modelAsString: false
                          required:
                          - name
                          - type
                          - uri
                          description: Managed application artifact.
                        readOnly: true
                      createdBy:
                        readOnly: true
                        description: The client entity that created the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                      updatedBy:
                        readOnly: true
                        description: The client entity that last updated the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                  plan:
                    description: The plan information.
                    properties:
                      name:
                        type: string
                        description: The plan name.
                      publisher:
                        type: string
                        description: The publisher ID.
                      product:
                        type: string
                        description: The product code.
                      promotionCode:
                        type: string
                        description: The promotion code.
                      version:
                        type: string
                        description: The plan's version.
                    required:
                    - name
                    - publisher
                    - product
                    - version
                  kind:
                    type: string
                    description: The kind of the managed application. Allowed values
                      are MarketPlace and ServiceCatalog.
                    pattern: ^[-\w\._,\(\)]+$
                  identity:
                    description: The identity of the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id of user assigned identity.
                          description: Represents the user assigned identity that
                            is contained within the UserAssignedIdentities dictionary
                            on ResourceIdentity
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Resource information.
                x-ms-azure-resource: true
                required:
                - properties
                - kind
        '201':
          description: Created - Returns information about the managed application,
            including provisioning status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  location:
                    type: string
                    description: Resource location
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags
                  managedBy:
                    type: string
                    description: ID of the resource that manages this resource.
                  sku:
                    description: The SKU of the resource.
                    properties:
                      name:
                        type: string
                        description: The SKU name.
                      tier:
                        type: string
                        description: The SKU tier.
                      size:
                        type: string
                        description: The SKU size.
                      family:
                        type: string
                        description: The SKU family.
                      model:
                        type: string
                        description: The SKU model.
                      capacity:
                        type: integer
                        format: int32
                        description: The SKU capacity.
                    required:
                    - name
                  properties:
                    x-ms-client-flatten: true
                    description: The managed application properties.
                    properties:
                      managedResourceGroupId:
                        type: string
                        description: The managed resource group Id.
                      applicationDefinitionId:
                        type: string
                        description: The fully qualified path of managed application
                          definition Id.
                      parameters:
                        type: object
                        description: Name and value pairs that define the managed
                          application parameters. It can be a JObject or a well formed
                          JSON string.
                      outputs:
                        readOnly: true
                        type: object
                        description: Name and value pairs that define the managed
                          application outputs.
                      provisioningState:
                        readOnly: true
                        description: The managed application provisioning state.
                        enum:
                        - NotSpecified
                        - Accepted
                        - Running
                        - Ready
                        - Creating
                        - Created
                        - Deleting
                        - Deleted
                        - Canceled
                        - Failed
                        - Succeeded
                        - Updating
                        type: string
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingDetails:
                        readOnly: true
                        description: The managed application billing details.
                        properties:
                          resourceUsageId:
                            type: string
                            description: The managed application resource usage Id.
                      jitAccessPolicy:
                        description: The managed application Jit access policy.
                        properties:
                          jitAccessEnabled:
                            type: boolean
                            description: Whether the JIT access is enabled.
                          jitApprovalMode:
                            description: JIT approval mode.
                            enum:
                            - NotSpecified
                            - AutoApprove
                            - ManualApprove
                            type: string
                            x-ms-enum:
                              name: JitApprovalMode
                              modelAsString: true
                          jitApprovers:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: The approver service principal Id.
                                type:
                                  type: string
                                  description: The approver type.
                                  enum:
                                  - user
                                  - group
                                  x-ms-enum:
                                    name: JitApproverType
                                    modelAsString: true
                                displayName:
                                  type: string
                                  description: The approver display name.
                              required:
                              - id
                              description: JIT approver definition.
                            description: The JIT approvers
                          maximumJitAccessDuration:
                            type: string
                            description: The maximum duration JIT access is granted.
                              This is an ISO8601 time period value.
                        required:
                        - jitAccessEnabled
                      publisherTenantId:
                        type: string
                        description: The publisher tenant Id.
                        readOnly: true
                      authorizations:
                        description: The  read-only authorizations property that is
                          retrieved from the application package.
                        type: array
                        items:
                          properties:
                            principalId:
                              type: string
                              description: The provider's principal identifier. This
                                is the identity that the provider will use to call
                                ARM to manage the managed application resources.
                            roleDefinitionId:
                              type: string
                              description: The provider's role definition identifier.
                                This role will define all the permissions that the
                                provider must have on the managed application's container
                                resource group. This role definition cannot have permission
                                to delete the resource group.
                          required:
                          - principalId
                          - roleDefinitionId
                          description: The managed application provider authorization.
                        readOnly: true
                      managementMode:
                        description: The managed application management mode.
                        readOnly: true
                        enum:
                        - NotSpecified
                        - Unmanaged
                        - Managed
                        type: string
                        x-ms-enum:
                          name: ApplicationManagementMode
                          modelAsString: true
                      customerSupport:
                        description: The read-only customer support property that
                          is retrieved from the application package.
                        readOnly: true
                        properties:
                          contactName:
                            type: string
                            description: The contact name.
                          email:
                            type: string
                            description: The contact email.
                          phone:
                            type: string
                            description: The contact phone number.
                        required:
                        - email
                        - phone
                      supportUrls:
                        description: The read-only support URLs property that is retrieved
                          from the application package.
                        readOnly: true
                        properties:
                          publicAzure:
                            type: string
                            description: The public azure support URL.
                          governmentCloud:
                            type: string
                            description: The government cloud support URL.
                      artifacts:
                        description: The collection of managed application artifacts.
                        type: array
                        items:
                          properties:
                            name:
                              description: The managed application artifact name.
                              enum:
                              - NotSpecified
                              - ViewDefinition
                              - Authorizations
                              - CustomRoleDefinition
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactName
                                modelAsString: true
                            uri:
                              type: string
                              description: The managed application artifact blob uri.
                            type:
                              description: The managed application artifact type.
                              enum:
                              - NotSpecified
                              - Template
                              - Custom
                              type: string
                              x-ms-enum:
                                name: ApplicationArtifactType
                                modelAsString: false
                          required:
                          - name
                          - type
                          - uri
                          description: Managed application artifact.
                        readOnly: true
                      createdBy:
                        readOnly: true
                        description: The client entity that created the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                      updatedBy:
                        readOnly: true
                        description: The client entity that last updated the JIT request.
                        properties:
                          oid:
                            type: string
                            description: The client Oid.
                          puid:
                            type: string
                            description: The client Puid
                          applicationId:
                            type: string
                            description: The client application Id.
                  plan:
                    description: The plan information.
                    properties:
                      name:
                        type: string
                        description: The plan name.
                      publisher:
                        type: string
                        description: The publisher ID.
                      product:
                        type: string
                        description: The product code.
                      promotionCode:
                        type: string
                        description: The promotion code.
                      version:
                        type: string
                        description: The plan's version.
                    required:
                    - name
                    - publisher
                    - product
                    - version
                  kind:
                    type: string
                    description: The kind of the managed application. Allowed values
                      are MarketPlace and ServiceCatalog.
                    pattern: ^[-\w\._,\(\)]+$
                  identity:
                    description: The identity of the resource.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id of user assigned identity.
                          description: Represents the user assigned identity that
                            is contained within the UserAssignedIdentities dictionary
                            on ResourceIdentity
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Resource information.
                x-ms-azure-resource: true
                required:
                - properties
                - kind
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    patch:
      tags:
      - Applications
      operationId: Applications_Update
      description: Updates an existing managed application. The only value that can
        be updated via PATCH currently is the tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: applicationName
        in: path
        required: true
        description: The name of the managed application.
        schema:
          type: string
          minLength: 3
          maxLength: 64
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                location:
                  type: string
                  description: Resource location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                managedBy:
                  type: string
                  description: ID of the resource that manages this resource.
                sku:
                  description: The SKU of the resource.
                  properties:
                    name:
                      type: string
                      description: The SKU name.
                    tier:
                      type: string
                      description: The SKU tier.
                    size:
                      type: string
                      description: The SKU size.
                    family:
                      type: string
                      description: The SKU family.
                    model:
                      type: string
                      description: The SKU model.
                    capacity:
                      type: integer
                      format: int32
                      description: The SKU capacity.
                  required:
                  - name
                properties:
                  x-ms-client-flatten: true
                  description: The managed application properties.
                  properties:
                    managedResourceGroupId:
                      type: string
                      description: The managed resource group Id.
                    applicationDefinitionId:
                      type: string
                      description: The fully qualified path of managed application
                        definition Id.
                    parameters:
                      type: object
                      description: Name and value pairs that define the managed application
                        parameters. It can be a JObject or a well formed JSON string.
                    outputs:
                      readOnly: true
                      type: object
                      description: Name and value pairs that define the managed application
                        outputs.
                    provisioningState:
                      readOnly: true
                      description: The managed application provisioning state.
                      enum:
                      - NotSpecified
                      - Accepted
                      - Running
                      - Ready
                      - Creating
                      - Created
                      - Deleting
                      - Deleted
                      - Canceled
                      - Failed
                      - Succeeded
                      - Updating
                      type: string
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    billingDetails:
                      readOnly: true
                      description: The managed application billing details.
                      properties:
                        resourceUsageId:
                          type: string
                          description: The managed application resource usage Id.
                    jitAccessPolicy:
                      description: The managed application Jit access policy.
                      properties:
                        jitAccessEnabled:
                          type: boolean
                          description: Whether the JIT access is enabled.
                        jitApprovalMode:
                          description: JIT approval mode.
                          enum:
                          - NotSpecified
                          - AutoApprove
                          - ManualApprove
                          type: string
                          x-ms-enum:
                            name: JitApprovalMode
                            modelAsString: true
                        jitApprovers:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: The approver service principal Id.
                              type:
                                type: string
                                description: The approver type.
                                enum:
                                - user
                                - group
                                x-ms-enum:
                                  name: JitApproverType
                                  modelAsString: true
                              displayName:
                                type: string
                                description: The approver display name.
                            required:
                            - id
                            description: JIT approver definition.
                          description: The JIT approvers
                        maximumJitAccessDuration:
                          type: string
                          description: The maximum duration JIT access is granted.
                            This is an ISO8601 time period value.
                      required:
                      - jitAccessEnabled
                    publisherTenantId:
                      type: string
                      description: The publisher tenant Id.
                      readOnly: true
                    authorizations:
                      description: The  read-only authorizations property that is
                        retrieved from the application package.
                      type: array
                      items:
                        properties:
                          principalId:
                            type: string
                            description: The provider's principal identifier. This
                              is the identity that the provider will use to call ARM
                              to manage the managed application resources.
                          roleDefinitionId:
                            type: string
                            description: The provider's role definition identifier.
                              This role will define all the permissions that the provider
                              must have on the managed application's container resource
                              group. This role definition cannot have permission to
                              delete the resource group.
                        required:
                        - principalId
                        - roleDefinitionId
                        description: The managed application provider authorization.
                      readOnly: true
                    managementMode:
                      description: The managed application management mode.
                      readOnly: true
                      enum:
                      - NotSpecified
                      - Unmanaged
                      - Managed
                      type: string
                      x-ms-enum:
                        name: ApplicationManagementMode
                        modelAsString: true
                    customerSupport:
                      description: The read-only customer support property that is
                        retrieved from the application package.
                      readOnly: true
                      properties:
                        contactName:
                          type: string
                          description: The contact name.
                        email:
                          type: string
                          description: The contact email.
                        phone:
                          type: string
                          description: The contact phone number.
                      required:
                      - email
                      - phone
                    supportUrls:
                      description: The read-only support URLs property that is retrieved
                        from the application package.
                      readOnly: true
                      properties:
                        publicAzure:
                          type: string
                          description: The public azure support URL.
                        governmentCloud:
                          type: string
                          description: The government cloud support URL.
                    artifacts:
                      description: The collection of managed application artifacts.
                      type: array
                      items:
                        properties:
                          name:
                            description: The managed application artifact name.
                            enum:
                            - NotSpecified
                            - ViewDefinition
                            - Authorizations
                            - CustomRoleDefinition
                            type: string
                            x-ms-enum:
                              name: ApplicationArtifactName
                              modelAsString: true
                          uri:
                            type: string
                            description: The managed application artifact blob uri.
                          type:
                            description: The managed application artifact type.
                            enum:
                            - NotSpecified
                            - Template
                            - Custom
                            type: string
                            x-ms-enum:
                              name: ApplicationArtifactType
                              modelAsString: false
                        required:
                        - name
                        - type
                        - uri
                        description: Managed application artifact.
                      readOnly: true
                    createdBy:
                      readOnly: true
                      description: The client entity that created the JIT request.
                      properties:
                        oid:
                          type: string
                          description: The client Oid.
                        puid:
                          type: string
                          description: The client Puid
                        applicationId:
                          type: string
                          description: The client application Id.
                    updatedBy:
                      readOnly: true
                      description: The client entity that last updated the JIT request.
                      properties:
                        oid:
                          type: string
                          description: The client Oid.
                        puid:
                          type: string
                          description: The client Puid
                        applicationId:
                          type: string
[...]
