openapi: 3.0.0
info:
  version: 2016-01-01
  title: AzureBridgeAdminClient
  description: AzureBridge Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations:
    get:
      description: Returns the list of activations.
      tags:
      - Activations
      operationId: Activations_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: OK
          x-ms-identifiers:
          - id
          content:
            application/json:
              schema:
                description: Holds an array of activation resources and the next link.
                properties:
                  value:
                    description: List of activation resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                        name:
                          description: Name of the resource.
                          type: string
                        type:
                          description: Type of resource.
                          type: string
                        location:
                          readOnly: true
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the resource.
                          type: object
                          properties:
                            displayName:
                              description: Name displayed for the product.
                              type: string
                            azureRegistrationResourceIdentifier:
                              description: Azure registration resource identifier.
                              type: string
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                              enum:
                              - Stopped
                              - Starting
                              - Running
                              - Stopping
                              - Succeeded
                              - Downloading
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            expiration:
                              description: The activation expiration.
                              type: string
                            marketplaceSyndicationEnabled:
                              description: Value indicating whether the marketplace
                                syndication feature is enabled.
                              type: boolean
                            usageReportingEnabled:
                              description: Value indicating whether the usage reporting
                                feature is enabled.
                              type: boolean
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to the next page.
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}
  : get:
      description: Returns activation name.
      tags:
      - Activations
      operationId: Activations_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the resource.
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      azureRegistrationResourceIdentifier:
                        description: Azure registration resource identifier.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      expiration:
                        description: The activation expiration.
                        type: string
                      marketplaceSyndicationEnabled:
                        description: Value indicating whether the marketplace syndication
                          feature is enabled.
                        type: boolean
                      usageReportingEnabled:
                        description: Value indicating whether the usage reporting
                          feature is enabled.
                        type: boolean
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Create a new activation.
      tags:
      - Activations
      operationId: Activations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Holds properties related to activation.
              type: object
              properties:
                displayName:
                  description: Name displayed for the product.
                  type: string
                azureRegistrationResourceIdentifier:
                  description: Azure registration resource identifier.
                  type: string
                provisioningState:
                  description: Provisioning state of the resource.
                  type: string
                  enum:
                  - Stopped
                  - Starting
                  - Running
                  - Stopping
                  - Succeeded
                  - Downloading
                  x-ms-enum:
                    modelAsString: true
                    name: ProvisioningState
                expiration:
                  description: The activation expiration.
                  type: string
                marketplaceSyndicationEnabled:
                  description: Value indicating whether the marketplace syndication
                    feature is enabled.
                  type: boolean
                usageReportingEnabled:
                  description: Value indicating whether the usage reporting feature
                    is enabled.
                  type: boolean
        description: new activation.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the resource.
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      azureRegistrationResourceIdentifier:
                        description: Azure registration resource identifier.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      expiration:
                        description: The activation expiration.
                        type: string
                      marketplaceSyndicationEnabled:
                        description: Value indicating whether the marketplace syndication
                          feature is enabled.
                        type: boolean
                      usageReportingEnabled:
                        description: Value indicating whether the usage reporting
                          feature is enabled.
                        type: boolean
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Delete an activation.
      tags:
      - Activations
      operationId: Activations_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the resource.
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      azureRegistrationResourceIdentifier:
                        description: Azure registration resource identifier.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      expiration:
                        description: The activation expiration.
                        type: string
                      marketplaceSyndicationEnabled:
                        description: Value indicating whether the marketplace syndication
                          feature is enabled.
                        type: boolean
                      usageReportingEnabled:
                        description: Value indicating whether the usage reporting
                          feature is enabled.
                        type: boolean
                description: Base Resource Object
                x-ms-azure-resource: true
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2016-01-01
    ActivationNameParameter:
      name: activationName
      in: path
      description: Name of the activation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ActivationResource:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          x-ms-client-flatten: true
          description: Properties of the resource.
          type: object
          properties:
            displayName:
              description: Name displayed for the product.
              type: string
            azureRegistrationResourceIdentifier:
              description: Azure registration resource identifier.
              type: string
            provisioningState:
              description: Provisioning state of the resource.
              type: string
              enum:
              - Stopped
              - Starting
              - Running
              - Stopping
              - Succeeded
              - Downloading
              x-ms-enum:
                modelAsString: true
                name: ProvisioningState
            expiration:
              description: The activation expiration.
              type: string
            marketplaceSyndicationEnabled:
              description: Value indicating whether the marketplace syndication feature
                is enabled.
              type: boolean
            usageReportingEnabled:
              description: Value indicating whether the usage reporting feature is
                enabled.
              type: boolean
      description: Base Resource Object
      x-ms-azure-resource: true
    Activation:
      description: Holds properties related to activation.
      type: object
      properties:
        displayName:
          description: Name displayed for the product.
          type: string
        azureRegistrationResourceIdentifier:
          description: Azure registration resource identifier.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Succeeded
          - Downloading
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        expiration:
          description: The activation expiration.
          type: string
        marketplaceSyndicationEnabled:
          description: Value indicating whether the marketplace syndication feature
            is enabled.
          type: boolean
        usageReportingEnabled:
          description: Value indicating whether the usage reporting feature is enabled.
          type: boolean
    ActivationResourcesPage:
      description: Holds an array of activation resources and the next link.
      properties:
        value:
          description: List of activation resources.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
              name:
                description: Name of the resource.
                type: string
              type:
                description: Type of resource.
                type: string
              location:
                readOnly: true
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                x-ms-client-flatten: true
                description: Properties of the resource.
                type: object
                properties:
                  displayName:
                    description: Name displayed for the product.
                    type: string
                  azureRegistrationResourceIdentifier:
                    description: Azure registration resource identifier.
                    type: string
                  provisioningState:
                    description: Provisioning state of the resource.
                    type: string
                    enum:
                    - Stopped
                    - Starting
                    - Running
                    - Stopping
                    - Succeeded
                    - Downloading
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  expiration:
                    description: The activation expiration.
                    type: string
                  marketplaceSyndicationEnabled:
                    description: Value indicating whether the marketplace syndication
                      feature is enabled.
                    type: boolean
                  usageReportingEnabled:
                    description: Value indicating whether the usage reporting feature
                      is enabled.
                    type: boolean
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: URI to the next page.
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ProvisioningState:
      description: The provisioning state of the resource.
      type: string
      enum:
      - Stopped
      - Starting
      - Running
      - Stopping
      - Succeeded
      - Downloading
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
