openapi: 3.0.0
info:
  version: 2016-01-01
  title: AzureBridgeAdminClient
  description: AzureBridge Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products
  : get:
      description: Return product name.
      tags:
      - Products
      operationId: Products_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Holds an array of products and the next link.
                properties:
                  value:
                    description: List of products.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                        name:
                          description: Name of the resource.
                          type: string
                        type:
                          description: Type of resource.
                          type: string
                        location:
                          readOnly: true
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          type: object
                          properties:
                            displayName:
                              description: Name displayed for the product.
                              type: string
                            description:
                              description: Description of the product.
                              type: string
                            publisherDisplayName:
                              description: Name of publisher.
                              type: string
                            publisherIdentifier:
                              description: Publisher identifier.
                              type: string
                            offer:
                              description: Offer name.
                              type: string
                            offerVersion:
                              description: Offer version.
                              type: string
                            sku:
                              description: Product SKU.
                              type: string
                            billingPartNumber:
                              description: Billing part number.
                              type: string
                            galleryItemIdentity:
                              description: Gallery item identity.
                              type: string
                            iconUris:
                              description: Information about gallery icons.
                              type: object
                              properties:
                                hero:
                                  description: The hero (815x290) icon relative path.
                                  type: string
                                large:
                                  description: The large (115x115) icon relative path.
                                  type: string
                                wide:
                                  description: The wide (255x115) icon relative path.
                                  type: string
                                medium:
                                  description: The medium (90x90) icon relative path.
                                  type: string
                                small:
                                  description: The small (40x40) icon relative path.
                                  type: string
                            payloadLength:
                              description: Size in bytes.
                              type: integer
                              format: int64
                            productKind:
                              description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                                or WebApp, SolutionTemplate.
                              type: string
                            productProperties:
                              description: the product properties. At the moment only
                                VirtualMachineProductProperties is allowed.
                              type: object
                              properties:
                                version:
                                  description: The version of the product
                                  type: string
                            compatibility:
                              description: Product compatibility with current device.
                              type: object
                              properties:
                                isCompatible:
                                  description: Tells if product is compatible with
                                    current device
                                  type: boolean
                                message:
                                  description: Short error message if any compatibility
                                    issues are found
                                  type: string
                                description:
                                  description: Full error message if any compatibility
                                    issues are found
                                  type: string
                                issues:
                                  description: List of all issues found
                                  type: array
                                  items:
                                    description: Compatibility issue
                                    type: string
                                    enum:
                                    - HigherDeviceVersionRequired
                                    - LowerDeviceVersionRequired
                                    - CapacityBillingModelRequired
                                    - PayAsYouGoBillingModelRequired
                                    - DevelopmentBillingModelRequired
                                    - AzureADIdentitySystemRequired
                                    - ADFSIdentitySystemRequired
                                    - ConnectionToInternetRequired
                                    - ConnectionToAzureRequired
                                    - DisconnectedEnvironmentRequired
                                    x-ms-enum:
                                      name: CompatibilityIssue
                                      modelAsString: true
                            vmExtensionType:
                              description: Extension type of the VM.
                              type: string
                            links:
                              description: Gallery item identity.
                              type: array
                              items:
                                description: Link to a product.
                                type: object
                                properties:
                                  displayName:
                                    description: Displayed name of product.
                                    type: string
                                  uri:
                                    description: URI to product.
                                    type: string
                              x-ms-identifiers:
                              - uri
                            legalTerms:
                              description: Legal terms for the product.
                              type: string
                            privacyPolicy:
                              description: Privacy policy of the product.
                              type: string
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                              enum:
                              - Stopped
                              - Starting
                              - Running
                              - Stopping
                              - Succeeded
                              - Downloading
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                          description: Base object for all product classes.
                          x-ms-client-flatten: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to the next page.
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}
  : get:
      description: Return product name.
      tags:
      - Products
      operationId: Products_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: productName
        in: path
        description: Name of the product.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      description:
                        description: Description of the product.
                        type: string
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Information about gallery icons.
                        type: object
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                      payloadLength:
                        description: Size in bytes.
                        type: integer
                        format: int64
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                          or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: the product properties. At the moment only VirtualMachineProductProperties
                          is allowed.
                        type: object
                        properties:
                          version:
                            description: The version of the product
                            type: string
                      compatibility:
                        description: Product compatibility with current device.
                        type: object
                        properties:
                          isCompatible:
                            description: Tells if product is compatible with current
                              device
                            type: boolean
                          message:
                            description: Short error message if any compatibility
                              issues are found
                            type: string
                          description:
                            description: Full error message if any compatibility issues
                              are found
                            type: string
                          issues:
                            description: List of all issues found
                            type: array
                            items:
                              description: Compatibility issue
                              type: string
                              enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                              x-ms-enum:
                                name: CompatibilityIssue
                                modelAsString: true
                      vmExtensionType:
                        description: Extension type of the VM.
                        type: string
                      links:
                        description: Gallery item identity.
                        type: array
                        items:
                          description: Link to a product.
                          type: object
                          properties:
                            displayName:
                              description: Displayed name of product.
                              type: string
                            uri:
                              description: URI to product.
                              type: string
                        x-ms-identifiers:
                        - uri
                      legalTerms:
                        description: Legal terms for the product.
                        type: string
                      privacyPolicy:
                        description: Privacy policy of the product.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                    description: Base object for all product classes.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}/download
  : post:
      description: Downloads a product from azure marketplace.
      tags:
      - Products
      operationId: Products_Download
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: activationName
        in: path
        description: Name of the activation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: productName
        in: path
        description: Name of the product.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2016-01-01
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      description:
                        description: Description of the product.
                        type: string
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Information about gallery icons.
                        type: object
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                      payloadLength:
                        description: Size in bytes.
                        type: integer
                        format: int64
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                          or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: the product properties. At the moment only VirtualMachineProductProperties
                          is allowed.
                        type: object
                        properties:
                          version:
                            description: The version of the product
                            type: string
                      compatibility:
                        description: Product compatibility with current device.
                        type: object
                        properties:
                          isCompatible:
                            description: Tells if product is compatible with current
                              device
                            type: boolean
                          message:
                            description: Short error message if any compatibility
                              issues are found
                            type: string
                          description:
                            description: Full error message if any compatibility issues
                              are found
                            type: string
                          issues:
                            description: List of all issues found
                            type: array
                            items:
                              description: Compatibility issue
                              type: string
                              enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                              x-ms-enum:
                                name: CompatibilityIssue
                                modelAsString: true
                      vmExtensionType:
                        description: Extension type of the VM.
                        type: string
                      links:
                        description: Gallery item identity.
                        type: array
                        items:
                          description: Link to a product.
                          type: object
                          properties:
                            displayName:
                              description: Displayed name of product.
                              type: string
                            uri:
                              description: URI to product.
                              type: string
                        x-ms-identifiers:
                        - uri
                      legalTerms:
                        description: Legal terms for the product.
                        type: string
                      privacyPolicy:
                        description: Privacy policy of the product.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      galleryPackageBlobSasUri:
                        description: The URI to the .azpkg file that provides information
                          required for showing product in the gallery.
                        type: string
                      productDetailsProperties:
                        type: object
                        properties:
                          computeRole:
                            description: Specifies kind of compute role included in
                              the package.
                            readOnly: true
                            type: string
                            enum:
                            - None
                            - IaaS
                            - PaaS
                            x-ms-enum:
                              name: ComputeRole
                              modelAsString: true
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine
                              Extension.
                            type: boolean
                          sourceBlob:
                            description: Specifies a download location where content
                              can be downloaded from.
                            x-ms-client-flatten: true
                            readOnly: true
                            type: object
                            properties:
                              uri:
                                description: The URI.
                                type: string
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple
                              extensions.
                            type: boolean
                          version:
                            description: Specifies product version.
                            type: string
                          vmOsType:
                            description: Specifies operating system used by the product.
                            readOnly: true
                            type: string
                            enum:
                            - None
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OperatingSystem
                              modelAsString: true
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is
                              enabled in the specified product.
                            type: boolean
                          osDiskImage:
                            description: OS disk image used by product.
                            readOnly: true
                            type: object
                            properties:
                              operatingSystem:
                                description: OS operating system type.
                                readOnly: true
                                type: string
                                enum:
                                - None
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystem
                                  modelAsString: true
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                type: string
                                readOnly: true
                          dataDiskImages:
                            description: List of attached data disks.
                            type: array
                            items:
                              description: Data disk image.
                              type: object
                              properties:
                                lun:
                                  description: The LUN.
                                  type: integer
                                  format: int32
                                  readOnly: true
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  type: string
                                  readOnly: true
                            x-ms-identifiers:
                            - sourceBlobSasUri
                            readOnly: true
                        description: Product information.
                        readOnly: true
                        x-ms-client-flatten: true
                    description: Base object for all product classes.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                  name:
                    description: Name of the resource.
                    type: string
                  type:
                    description: Type of resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      description:
                        description: Description of the product.
                        type: string
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Information about gallery icons.
                        type: object
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                      payloadLength:
                        description: Size in bytes.
                        type: integer
                        format: int64
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                          or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: the product properties. At the moment only VirtualMachineProductProperties
                          is allowed.
                        type: object
                        properties:
                          version:
                            description: The version of the product
                            type: string
                      compatibility:
                        description: Product compatibility with current device.
                        type: object
                        properties:
                          isCompatible:
                            description: Tells if product is compatible with current
                              device
                            type: boolean
                          message:
                            description: Short error message if any compatibility
                              issues are found
                            type: string
                          description:
                            description: Full error message if any compatibility issues
                              are found
                            type: string
                          issues:
                            description: List of all issues found
                            type: array
                            items:
                              description: Compatibility issue
                              type: string
                              enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                              x-ms-enum:
                                name: CompatibilityIssue
                                modelAsString: true
                      vmExtensionType:
                        description: Extension type of the VM.
                        type: string
                      links:
                        description: Gallery item identity.
                        type: array
                        items:
                          description: Link to a product.
                          type: object
                          properties:
                            displayName:
                              description: Displayed name of product.
                              type: string
                            uri:
                              description: URI to product.
                              type: string
                        x-ms-identifiers:
                        - uri
                      legalTerms:
                        description: Legal terms for the product.
                        type: string
                      privacyPolicy:
                        description: Privacy policy of the product.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        - Succeeded
                        - Downloading
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      galleryPackageBlobSasUri:
                        description: The URI to the .azpkg file that provides information
                          required for showing product in the gallery.
                        type: string
                      productDetailsProperties:
                        type: object
                        properties:
                          computeRole:
                            description: Specifies kind of compute role included in
                              the package.
                            readOnly: true
                            type: string
                            enum:
                            - None
                            - IaaS
                            - PaaS
                            x-ms-enum:
                              name: ComputeRole
                              modelAsString: true
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine
                              Extension.
                            type: boolean
                          sourceBlob:
                            description: Specifies a download location where content
                              can be downloaded from.
                            x-ms-client-flatten: true
                            readOnly: true
                            type: object
                            properties:
                              uri:
                                description: The URI.
                                type: string
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple
                              extensions.
                            type: boolean
                          version:
                            description: Specifies product version.
                            type: string
                          vmOsType:
                            description: Specifies operating system used by the product.
                            readOnly: true
                            type: string
                            enum:
                            - None
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OperatingSystem
                              modelAsString: true
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is
                              enabled in the specified product.
                            type: boolean
                          osDiskImage:
                            description: OS disk image used by product.
                            readOnly: true
                            type: object
                            properties:
                              operatingSystem:
                                description: OS operating system type.
                                readOnly: true
                                type: string
                                enum:
                                - None
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystem
                                  modelAsString: true
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                type: string
                                readOnly: true
                          dataDiskImages:
                            description: List of attached data disks.
                            type: array
                            items:
                              description: Data disk image.
                              type: object
                              properties:
                                lun:
                                  description: The LUN.
                                  type: integer
                                  format: int32
                                  readOnly: true
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  type: string
                                  readOnly: true
                            x-ms-identifiers:
                            - sourceBlobSasUri
                            readOnly: true
                        description: Product information.
                        readOnly: true
                        x-ms-client-flatten: true
                    description: Base object for all product classes.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ActivationNameParameter:
      name: activationName
      in: path
      description: Name of the activation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2016-01-01
    ProductNameParameter:
      name: productName
      in: path
      description: Name of the product.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProductResource:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            displayName:
              description: Name displayed for the product.
              type: string
            description:
              description: Description of the product.
              type: string
            publisherDisplayName:
              description: Name of publisher.
              type: string
            publisherIdentifier:
              description: Publisher identifier.
              type: string
            offer:
              description: Offer name.
              type: string
            offerVersion:
              description: Offer version.
              type: string
            sku:
              description: Product SKU.
              type: string
            billingPartNumber:
              description: Billing part number.
              type: string
            galleryItemIdentity:
              description: Gallery item identity.
              type: string
            iconUris:
              description: Information about gallery icons.
              type: object
              properties:
                hero:
                  description: The hero (815x290) icon relative path.
                  type: string
                large:
                  description: The large (115x115) icon relative path.
                  type: string
                wide:
                  description: The wide (255x115) icon relative path.
                  type: string
                medium:
                  description: The medium (90x90) icon relative path.
                  type: string
                small:
                  description: The small (40x40) icon relative path.
                  type: string
            payloadLength:
              description: Size in bytes.
              type: integer
              format: int64
            productKind:
              description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                or WebApp, SolutionTemplate.
              type: string
            productProperties:
              description: the product properties. At the moment only VirtualMachineProductProperties
                is allowed.
              type: object
              properties:
                version:
                  description: The version of the product
                  type: string
            compatibility:
              description: Product compatibility with current device.
              type: object
              properties:
                isCompatible:
                  description: Tells if product is compatible with current device
                  type: boolean
                message:
                  description: Short error message if any compatibility issues are
                    found
                  type: string
                description:
                  description: Full error message if any compatibility issues are
                    found
                  type: string
                issues:
                  description: List of all issues found
                  type: array
                  items:
                    description: Compatibility issue
                    type: string
                    enum:
                    - HigherDeviceVersionRequired
                    - LowerDeviceVersionRequired
                    - CapacityBillingModelRequired
                    - PayAsYouGoBillingModelRequired
                    - DevelopmentBillingModelRequired
                    - AzureADIdentitySystemRequired
                    - ADFSIdentitySystemRequired
                    - ConnectionToInternetRequired
                    - ConnectionToAzureRequired
                    - DisconnectedEnvironmentRequired
                    x-ms-enum:
                      name: CompatibilityIssue
                      modelAsString: true
            vmExtensionType:
              description: Extension type of the VM.
              type: string
            links:
              description: Gallery item identity.
              type: array
              items:
                description: Link to a product.
                type: object
                properties:
                  displayName:
                    description: Displayed name of product.
                    type: string
                  uri:
                    description: URI to product.
                    type: string
              x-ms-identifiers:
              - uri
            legalTerms:
              description: Legal terms for the product.
              type: string
            privacyPolicy:
              description: Privacy policy of the product.
              type: string
            provisioningState:
              description: Provisioning state of the resource.
              type: string
              enum:
              - Stopped
              - Starting
              - Running
              - Stopping
              - Succeeded
              - Downloading
              x-ms-enum:
                modelAsString: true
                name: ProvisioningState
          description: Base object for all product classes.
          x-ms-client-flatten: true
      description: Base Resource Object
      x-ms-azure-resource: true
    Product:
      type: object
      properties:
        displayName:
          description: Name displayed for the product.
          type: string
        description:
          description: Description of the product.
          type: string
        publisherDisplayName:
          description: Name of publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        offer:
          description: Offer name.
          type: string
        offerVersion:
          description: Offer version.
          type: string
        sku:
          description: Product SKU.
          type: string
        billingPartNumber:
          description: Billing part number.
          type: string
        galleryItemIdentity:
          description: Gallery item identity.
          type: string
        iconUris:
          description: Information about gallery icons.
          type: object
          properties:
            hero:
              description: The hero (815x290) icon relative path.
              type: string
            large:
              description: The large (115x115) icon relative path.
              type: string
            wide:
              description: The wide (255x115) icon relative path.
              type: string
            medium:
              description: The medium (90x90) icon relative path.
              type: string
            small:
              description: The small (40x40) icon relative path.
              type: string
        payloadLength:
          description: Size in bytes.
          type: integer
          format: int64
        productKind:
          description: The kind. E.g. VirtualMachineProductProperties.ProductKind
            or WebApp, SolutionTemplate.
          type: string
        productProperties:
          description: the product properties. At the moment only VirtualMachineProductProperties
            is allowed.
          type: object
          properties:
            version:
              description: The version of the product
              type: string
        compatibility:
          description: Product compatibility with current device.
          type: object
          properties:
            isCompatible:
              description: Tells if product is compatible with current device
              type: boolean
            message:
              description: Short error message if any compatibility issues are found
              type: string
            description:
              description: Full error message if any compatibility issues are found
              type: string
            issues:
              description: List of all issues found
              type: array
              items:
                description: Compatibility issue
                type: string
                enum:
                - HigherDeviceVersionRequired
                - LowerDeviceVersionRequired
                - CapacityBillingModelRequired
                - PayAsYouGoBillingModelRequired
                - DevelopmentBillingModelRequired
                - AzureADIdentitySystemRequired
                - ADFSIdentitySystemRequired
                - ConnectionToInternetRequired
                - ConnectionToAzureRequired
                - DisconnectedEnvironmentRequired
                x-ms-enum:
                  name: CompatibilityIssue
                  modelAsString: true
        vmExtensionType:
          description: Extension type of the VM.
          type: string
        links:
          description: Gallery item identity.
          type: array
          items:
            description: Link to a product.
            type: object
            properties:
              displayName:
                description: Displayed name of product.
                type: string
              uri:
                description: URI to product.
                type: string
          x-ms-identifiers:
          - uri
        legalTerms:
          description: Legal terms for the product.
          type: string
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Succeeded
          - Downloading
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      description: Base object for all product classes.
    ProductResourcesPage:
      description: Holds an array of products and the next link.
      properties:
        value:
          description: List of products.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
              name:
                description: Name of the resource.
                type: string
              type:
                description: Type of resource.
                type: string
              location:
                readOnly: true
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                type: object
                properties:
                  displayName:
                    description: Name displayed for the product.
                    type: string
                  description:
                    description: Description of the product.
                    type: string
                  publisherDisplayName:
                    description: Name of publisher.
                    type: string
                  publisherIdentifier:
                    description: Publisher identifier.
                    type: string
                  offer:
                    description: Offer name.
                    type: string
                  offerVersion:
                    description: Offer version.
                    type: string
                  sku:
                    description: Product SKU.
                    type: string
                  billingPartNumber:
                    description: Billing part number.
                    type: string
                  galleryItemIdentity:
                    description: Gallery item identity.
                    type: string
                  iconUris:
                    description: Information about gallery icons.
                    type: object
                    properties:
                      hero:
                        description: The hero (815x290) icon relative path.
                        type: string
                      large:
                        description: The large (115x115) icon relative path.
                        type: string
                      wide:
                        description: The wide (255x115) icon relative path.
                        type: string
                      medium:
                        description: The medium (90x90) icon relative path.
                        type: string
                      small:
                        description: The small (40x40) icon relative path.
                        type: string
                  payloadLength:
                    description: Size in bytes.
                    type: integer
                    format: int64
                  productKind:
                    description: The kind. E.g. VirtualMachineProductProperties.ProductKind
                      or WebApp, SolutionTemplate.
                    type: string
                  productProperties:
                    description: the product properties. At the moment only VirtualMachineProductProperties
                      is allowed.
                    type: object
                    properties:
                      version:
                        description: The version of the product
                        type: string
                  compatibility:
                    description: Product compatibility with current device.
                    type: object
                    properties:
                      isCompatible:
                        description: Tells if product is compatible with current device
                        type: boolean
                      message:
                        description: Short error message if any compatibility issues
                          are found
                        type: string
                      description:
                        description: Full error message if any compatibility issues
                          are found
                        type: string
                      issues:
                        description: List of all issues found
                        type: array
                        items:
                          description: Compatibility issue
                          type: string
                          enum:
                          - HigherDeviceVersionRequired
                          - LowerDeviceVersionRequired
                          - CapacityBillingModelRequired
                          - PayAsYouGoBillingModelRequired
                          - DevelopmentBillingModelRequired
                          - AzureADIdentitySystemRequired
                          - ADFSIdentitySystemRequired
                          - ConnectionToInternetRequired
                          - ConnectionToAzureRequired
                          - DisconnectedEnvironmentRequired
                          x-ms-enum:
                            name: CompatibilityIssue
                            modelAsString: true
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                  links:
                    description: Gallery item identity.
                    type: array
                    items:
                      description: Link to a product.
                      type: object
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                    x-ms-identifiers:
                    - uri
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  provisioningState:
                    description: Provisioning state of the resource.
                    type: string
                    enum:
                    - Stopped
                    - Starting
                    - Running
                    - Stopping
                    - Succeeded
                    - Downloading
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                description: Base object for all product classes.
                x-ms-client-flatten: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: URI to the next page.
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    GalleryIcons:
      description: Icons for the gallery items.
      type: object
      properties:
        hero:
          description: The hero (815x290) icon relative path.
          type: string
        large:
          description: The large (115x115) icon relative path.
          type: string
        wide:
          description: The wide (255x115) icon relative path.
          type: string
        medium:
          description: The medium (90x90) icon relative path.
          type: string
        small:
          description: The small (40x40) icon relative path.
          type: string
    ProductProperties:
      description: Additional properties of the product
      type: object
      properties:
        version:
          description: The version of the product
          type: string
    CompatibilityIssue:
      description: Compatibility issue
      type: string
      enum:
      - HigherDeviceVersionRequired
      - LowerDeviceVersionRequired
      - CapacityBillingModelRequired
      - PayAsYouGoBillingModelRequired
      - DevelopmentBillingModelRequired
      - AzureADIdentitySystemRequired
      - ADFSIdentitySystemRequired
      - ConnectionToInternetRequired
      - ConnectionToAzureRequired
      - DisconnectedEnvironmentRequired
      x-ms-enum:
        name: CompatibilityIssue
        modelAsString: true
    Compatibility:
      description: Product compatibility
      type: object
      properties:
        isCompatible:
          description: Tells if product is compatible with current device
          type: boolean
        message:
          description: Short error message if any compatibility issues are found
          type: string
        description:
          description: Full error message if any compatibility issues are found
          type: string
        issues:
          description: List of all issues found
          type: array
          items:
            description: Compatibility issue
            type: string
            enum:
            - HigherDeviceVersionRequired
            - LowerDeviceVersionRequired
            - CapacityBillingModelRequired
            - PayAsYouGoBillingModelRequired
            - DevelopmentBillingModelRequired
            - AzureADIdentitySystemRequired
            - ADFSIdentitySystemRequired
            - ConnectionToInternetRequired
            - ConnectionToAzureRequired
            - DisconnectedEnvironmentRequired
            x-ms-enum:
              name: CompatibilityIssue
              modelAsString: true
    ProductBase:
      description: Base object for all product classes.
      type: object
      properties:
        displayName:
          description: Name displayed for the product.
          type: string
        description:
          description: Description of the product.
          type: string
        publisherDisplayName:
          description: Name of publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        offer:
          description: Offer name.
          type: string
        offerVersion:
          description: Offer version.
          type: string
        sku:
          description: Product SKU.
          type: string
        billingPartNumber:
          description: Billing part number.
          type: string
        galleryItemIdentity:
          description: Gallery item identity.
          type: string
        iconUris:
          description: Information about gallery icons.
          type: object
          properties:
            hero:
              description: The hero (815x290) icon relative path.
              type: string
            large:
              description: The large (115x115) icon relative path.
              type: string
            wide:
              description: The wide (255x115) icon relative path.
              type: string
            medium:
              description: The medium (90x90) icon relative path.
              type: string
            small:
              description: The small (40x40) icon relative path.
              type: string
        payloadLength:
          description: Size in bytes.
          type: integer
          format: int64
        productKind:
          description: The kind. E.g. VirtualMachineProductProperties.ProductKind
            or WebApp, SolutionTemplate.
          type: string
        productProperties:
          description: the product properties. At the moment only VirtualMachineProductProperties
            is allowed.
          type: object
          properties:
            version:
              description: The version of the product
              type: string
        compatibility:
          description: Product compatibility with current device.
          type: object
          properties:
            isCompatible:
              description: Tells if product is compatible with current device
              type: boolean
            message:
              description: Short error message if any compatibility issues are found
              type: string
            description:
              description: Full error message if any compatibility issues are found
              type: string
            issues:
              description: List of all issues found
              type: array
              items:
                description: Compatibility issue
                type: string
                enum:
                - HigherDeviceVersionRequired
                - LowerDeviceVersionRequired
                - CapacityBillingModelRequired
                - PayAsYouGoBillingModelRequired
                - DevelopmentBillingModelRequired
                - AzureADIdentitySystemRequired
                - ADFSIdentitySystemRequired
                - ConnectionToInternetRequired
                - ConnectionToAzureRequired
                - DisconnectedEnvironmentRequired
                x-ms-enum:
                  name: CompatibilityIssue
                  modelAsString: true
    ProductLink:
      description: Link to a product.
      type: object
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
    ProductLinks:
      description: List of product links.
      type: array
      items:
        description: Link to a product.
        type: object
        properties:
          displayName:
            description: Displayed name of product.
            type: string
          uri:
            description: URI to product.
            type: string
      x-ms-identifiers:
      - uri
    ProvisioningState:
      description: The provisioning state of the resource.
      type: string
      enum:
      - Stopped
      - Starting
      - Running
      - Stopping
      - Succeeded
      - Downloading
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    ComputeRole:
      description: Compute role type (IaaS or PaaS).
      type: string
      enum:
      - None
      - IaaS
      - PaaS
      x-ms-enum:
        name: ComputeRole
        modelAsString: true
    Uri:
      description: The URI.
      type: object
      properties:
        uri:
          description: The URI.
          type: string
    OperatingSystem:
      description: Operating system type (Windows or Linux).
      type: string
      enum:
      - None
      - Windows
      - Linux
      x-ms-enum:
        name: OperatingSystem
        modelAsString: true
    VirtualMachineExtensionProductProperties:
      description: Product information.
      type: object
      properties:
        computeRole:
          description: Specifies kind of compute role included in the package.
          readOnly: true
          type: string
          enum:
          - None
          - IaaS
          - PaaS
          x-ms-enum:
            name: ComputeRole
            modelAsString: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
        sourceBlob:
          description: Specifies a download location where content can be downloaded
            from.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            uri:
              description: The URI.
              type: string
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
        version:
          description: Specifies product version.
          type: string
        vmOsType:
          description: Specifies operating system used by the product.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified
            product.
          type: boolean
    OsDiskImage:
      description: OS disk image.
      type: object
      properties:
        operatingSystem:
          description: OS operating system type.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    DataDiskImage:
      description: Data disk image.
      type: object
      properties:
        lun:
          description: The LUN.
          type: integer
          format: int32
          readOnly: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    VirtualMachineProductProperties:
      description: Product information.
      type: object
      properties:
        version:
          description: Specifies product version.
          type: string
        osDiskImage:
          description: OS disk image used by product.
          readOnly: true
          type: object
          properties:
            operatingSystem:
              description: OS operating system type.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            sourceBlobSasUri:
              description: SAS key for source blob.
              type: string
              readOnly: true
        dataDiskImages:
          description: List of attached data disks.
          type: array
          items:
            description: Data disk image.
            type: object
            properties:
              lun:
                description: The LUN.
                type: integer
                format: int32
                readOnly: true
              sourceBlobSasUri:
                description: SAS key for source blob.
                type: string
                readOnly: true
          x-ms-identifiers:
          - sourceBlobSasUri
          readOnly: true
    ExtendedProductProperties:
      type: object
      properties:
        computeRole:
          description: Specifies kind of compute role included in the package.
          readOnly: true
          type: string
          enum:
          - None
          - IaaS
          - PaaS
          x-ms-enum:
            name: ComputeRole
            modelAsString: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
        sourceBlob:
          description: Specifies a download location where content can be downloaded
            from.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            uri:
              description: The URI.
              type: string
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
        version:
          description: Specifies product version.
          type: string
        vmOsType:
          description: Specifies operating system used by the product.
          readOnly: true
          type: string
          enum:
          - None
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystem
            modelAsString: true
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified
            product.
          type: boolean
        osDiskImage:
          description: OS disk image used by product.
          readOnly: true
          type: object
          properties:
            operatingSystem:
              description: OS operating system type.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            sourceBlobSasUri:
              description: SAS key for source blob.
              type: string
              readOnly: true
        dataDiskImages:
          description: List of attached data disks.
          type: array
          items:
            description: Data disk image.
            type: object
            properties:
              lun:
                description: The LUN.
                type: integer
                format: int32
                readOnly: true
              sourceBlobSasUri:
                description: SAS key for source blob.
                type: string
                readOnly: true
          x-ms-identifiers:
          - sourceBlobSasUri
          readOnly: true
      description: Product information.
    DownloadedProduct:
      type: object
      properties:
        displayName:
          description: Name displayed for the product.
          type: string
        description:
          description: Description of the product.
          type: string
        publisherDisplayName:
          description: Name of publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        offer:
          description: Offer name.
          type: string
        offerVersion:
          description: Offer version.
          type: string
        sku:
          description: Product SKU.
          type: string
        billingPartNumber:
          description: Billing part number.
          type: string
        galleryItemIdentity:
          description: Gallery item identity.
          type: string
        iconUris:
          description: Information about gallery icons.
          type: object
          properties:
            hero:
              description: The hero (815x290) icon relative path.
              type: string
            large:
              description: The large (115x115) icon relative path.
              type: string
            wide:
              description: The wide (255x115) icon relative path.
              type: string
            medium:
              description: The medium (90x90) icon relative path.
              type: string
            small:
              description: The small (40x40) icon relative path.
              type: string
        payloadLength:
          description: Size in bytes.
          type: integer
          format: int64
        productKind:
          description: The kind. E.g. VirtualMachineProductProperties.ProductKind
            or WebApp, SolutionTemplate.
          type: string
        productProperties:
          description: the product properties. At the moment only VirtualMachineProductProperties
            is allowed.
          type: object
          properties:
            version:
              description: The version of the product
              type: string
        compatibility:
          description: Product compatibility with current device.
          type: object
          properties:
            isCompatible:
              description: Tells if product is compatible with current device
              type: boolean
            message:
              description: Short error message if any compatibility issues are found
              type: string
            description:
              description: Full error message if any compatibility issues are found
              type: string
            issues:
              description: List of all issues found
              type: array
              items:
                description: Compatibility issue
                type: string
                enum:
                - HigherDeviceVersionRequired
                - LowerDeviceVersionRequired
                - CapacityBillingModelRequired
                - PayAsYouGoBillingModelRequired
                - DevelopmentBillingModelRequired
                - AzureADIdentitySystemRequired
                - ADFSIdentitySystemRequired
                - ConnectionToInternetRequired
                - ConnectionToAzureRequired
                - DisconnectedEnvironmentRequired
                x-ms-enum:
                  name: CompatibilityIssue
                  modelAsString: true
        vmExtensionType:
          description: Extension type of the VM.
          type: string
        links:
          description: Gallery item identity.
          type: array
          items:
            description: Link to a product.
            type: object
            properties:
              displayName:
                description: Displayed name of product.
                type: string
              uri:
                description: URI to product.
                type: string
          x-ms-identifiers:
          - uri
        legalTerms:
          description: Legal terms for the product.
          type: string
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Succeeded
          - Downloading
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        galleryPackageBlobSasUri:
          description: The URI to the .azpkg file that provides information required
            for showing product in the gallery.
          type: string
        productDetailsProperties:
          type: object
          properties:
            computeRole:
              description: Specifies kind of compute role included in the package.
              readOnly: true
              type: string
              enum:
              - None
              - IaaS
              - PaaS
              x-ms-enum:
                name: ComputeRole
                modelAsString: true
            isSystemExtension:
              description: Specifies if product is a Virtual Machine Extension.
              type: boolean
            sourceBlob:
              description: Specifies a download location where content can be downloaded
                from.
              x-ms-client-flatten: true
              readOnly: true
              type: object
              properties:
                uri:
                  description: The URI.
                  type: string
            supportMultipleExtensions:
              description: Indicates if specified product supports multiple extensions.
              type: boolean
            version:
              description: Specifies product version.
              type: string
            vmOsType:
              description: Specifies operating system used by the product.
              readOnly: true
              type: string
              enum:
              - None
              - Windows
              - Linux
              x-ms-enum:
                name: OperatingSystem
                modelAsString: true
            vmScaleSetEnabled:
              description: Indicates if virtual machine Scale Set is enabled in the
                specified product.
              type: boolean
            osDiskImage:
              description: OS disk image used by product.
              readOnly: true
              type: object
              properties:
                operatingSystem:
                  description: OS operating system type.
                  readOnly: true
                  type: string
                  enum:
                  - None
                  - Windows
                  - Linux
                  x-ms-enum:
                    name: OperatingSystem
                    modelAsString: true
                sourceBlobSasUri:
                  description: SAS key for source blob.
                  type: string
                  readOnly: true
            dataDiskImages:
              description: List of attached data disks.
              type: array
              items:
                description: Data disk image.
                type: object
                properties:
                  lun:
                    description: The LUN.
                    type: integer
                    format: int32
                    readOnly: true
                  sourceBlobSasUri:
                    description: SAS key for source blob.
                    type: string
                    readOnly: true
              x-ms-identifiers:
              - sourceBlobSasUri
              readOnly: true
          description: Product information.
          readOnly: true
          x-ms-client-flatten: true
      description: Base object for all product classes.
    DownloadedProductResource:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
        name:
          description: Name of the resource.
          type: string
        type:
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            displayName:
              description: Name displayed for the product.
              type: string
            description:
              description: Description of the product.
              type: string
            publisherDisplayName:
              description: Name of publisher.
              type: string
            publisherIdentifier:
              description: Publisher identifier.
              type: string
            offer:
              description: Offer name.
              type: string
            offerVersion:
              description: Offer version.
              type: string
            sku:
              description: Product SKU.
              type: string
            billingPartNumber:
              description: Billing part number.
[...]
