openapi: 3.0.0
info:
  title: Neon.Postgres
  version: 2025-03-01
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Organizations
- name: Projects
- name: Branches
- name: Computes
- name: NeonDatabases
- name: NeonRoles
- name: Endpoints
paths:
  /providers/Neon.Postgres/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Neon.Postgres/organizations:
    get:
      operationId: Organizations_ListBySubscription
      tags:
      - Organizations
      description: List OrganizationResource resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a OrganizationResource list operation.
                properties:
                  value:
                    type: array
                    description: The OrganizationResource items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            marketplaceDetails:
                              description: Marketplace details of the resource.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: object
                              properties:
                                subscriptionId:
                                  type: string
                                  description: SaaS subscription id for the the marketplace
                                    offer
                                subscriptionStatus:
                                  description: Marketplace subscription status
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Purchased but not yet activated
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace subscription is activated
                                    - name: Suspended
                                      value: Suspended
                                      description: This state indicates that a customer's
                                        payment for the Marketplace service was not
                                        received
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Customer has cancelled the subscription
                                offerDetails:
                                  description: Offer details for the marketplace that
                                    is selected by the user
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Publisher Id for the marketplace
                                        offer
                                    offerId:
                                      type: string
                                      description: Offer Id for the marketplace offer
                                    planId:
                                      type: string
                                      description: Plan Id for the marketplace offer
                                    planName:
                                      type: string
                                      description: Plan Name for the marketplace offer
                                    termUnit:
                                      type: string
                                      description: Term Name for the marketplace offer
                                    termId:
                                      type: string
                                      description: Term Id for the marketplace offer
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                              required:
                              - offerDetails
                            userDetails:
                              description: Details of the user.
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name of the user
                                lastName:
                                  type: string
                                  description: Last name of the user
                                emailAddress:
                                  description: Email address of the user
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: User's principal name
                                phoneNumber:
                                  type: string
                                  description: User's phone number
                            companyDetails:
                              description: Details of the company.
                              type: object
                              properties:
                                companyName:
                                  type: string
                                  description: Company name
                                country:
                                  type: string
                                  description: Country name of the company
                                officeAddress:
                                  type: string
                                  description: Office address of the company
                                businessPhone:
                                  type: string
                                  description: Business phone number of the company
                                domain:
                                  type: string
                                  description: Domain of the user
                                numberOfEmployees:
                                  type: integer
                                  format: int64
                                  description: Number of employees in the company
                            provisioningState:
                              description: Provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            partnerOrganizationProperties:
                              description: Neon Organization properties
                              type: object
                              properties:
                                organizationId:
                                  type: string
                                  description: Organization Id in partner's system
                                organizationName:
                                  type: string
                                  description: Organization name in partner's system
                                  minLength: 1
                                  maxLength: 50
                                  pattern: ^\S.{0,62}\S$|^\S$
                                singleSignOnProperties:
                                  description: Single Sign On properties for the organization
                                  type: object
                                  properties:
                                    singleSignOnState:
                                      description: State of the Single Sign On for
                                        the organization
                                      type: string
                                      enum:
                                      - Initial
                                      - Enable
                                      - Disable
                                      x-ms-enum:
                                        name: SingleSignOnStates
                                        modelAsString: true
                                        values:
                                        - name: Initial
                                          value: Initial
                                          description: Initial state of the SSO resource
                                        - name: Enable
                                          value: Enable
                                          description: SSO is enabled for the organization
                                        - name: Disable
                                          value: Disable
                                          description: SSO is disabled for the organization
                                    enterpriseAppId:
                                      type: string
                                      description: AAD enterprise application Id used
                                        to setup SSO
                                    singleSignOnUrl:
                                      description: URL for SSO to be used by the partner
                                        to redirect the user to their system
                                      type: string
                                    aadDomains:
                                      type: array
                                      description: List of AAD domains fetched from
                                        Microsoft Graph for user.
                                      items:
                                        type: string
                              required:
                              - organizationName
                            projectProperties:
                              description: Neon Project Properties
                              type: object
                              properties:
                                entityId:
                                  type: string
                                  description: Unique identifier for the entity
                                  pattern: ^[a-z0-9-]{1,60}$
                                  readOnly: true
                                entityName:
                                  type: string
                                  description: Name of the resource
                                  pattern: ^\S.{0,62}\S$|^\S$
                                createdAt:
                                  type: string
                                  description: Timestamp indicating when the entity
                                    was created
                                  readOnly: true
                                provisioningState:
                                  description: Provisioning state of the resource.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  x-ms-enum:
                                    name: ResourceProvisioningState
                                    modelAsString: true
                                    values:
                                    - name: Succeeded
                                      value: Succeeded
                                      description: Resource has been created.
                                    - name: Failed
                                      value: Failed
                                      description: Resource creation failed.
                                    - name: Canceled
                                      value: Canceled
                                      description: Resource creation was canceled.
                                attributes:
                                  type: array
                                  description: Additional attributes for the entity
                                  items:
                                    type: object
                                    description: Additional attributes specific to
                                      Neon Resources
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the attribute
                                      value:
                                        type: string
                                        description: Value of the attribute
                                    required:
                                    - name
                                    - value
                                  x-ms-identifiers: []
                                regionId:
                                  type: string
                                  description: Region where the project is created
                                storage:
                                  type: integer
                                  format: int64
                                  description: Data Storage bytes per hour for the
                                    project
                                pgVersion:
                                  type: integer
                                  format: int32
                                  description: Postgres version for the project
                                historyRetention:
                                  type: integer
                                  format: int32
                                  description: The retention period for project history
                                    in seconds.
                                defaultEndpointSettings:
                                  description: Default endpoint settings for the project.
                                  type: object
                                  properties:
                                    autoscalingLimitMinCu:
                                      type: number
                                      format: float
                                      description: Minimum compute units for autoscaling.
                                    autoscalingLimitMaxCu:
                                      type: number
                                      format: float
                                      description: Maximum compute units for autoscaling.
                                  required:
                                  - autoscalingLimitMinCu
                                  - autoscalingLimitMaxCu
                                branch:
                                  description: The Branch properties of the project.
                                    This is optional
                                  type: object
                                  properties:
                                    entityId:
                                      type: string
                                      description: Unique identifier for the entity
                                      pattern: ^[a-z0-9-]{1,60}$
                                      readOnly: true
                                    entityName:
                                      type: string
                                      description: Name of the resource
                                      pattern: ^\S.{0,62}\S$|^\S$
                                    createdAt:
                                      type: string
                                      description: Timestamp indicating when the entity
                                        was created
                                      readOnly: true
                                    provisioningState:
                                      description: Provisioning state of the resource.
                                      readOnly: true
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Failed
                                      - Canceled
                                      x-ms-enum:
                                        name: ResourceProvisioningState
                                        modelAsString: true
                                        values:
                                        - name: Succeeded
                                          value: Succeeded
                                          description: Resource has been created.
                                        - name: Failed
                                          value: Failed
                                          description: Resource creation failed.
                                        - name: Canceled
                                          value: Canceled
                                          description: Resource creation was canceled.
                                    attributes:
                                      type: array
                                      description: Additional attributes for the entity
                                      items:
                                        type: object
                                        description: Additional attributes specific
                                          to Neon Resources
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the attribute
                                          value:
                                            type: string
                                            description: Value of the attribute
                                        required:
                                        - name
                                        - value
                                      x-ms-identifiers: []
                                    projectId:
                                      type: string
                                      description: The ID of the project this branch
                                        belongs to
                                    parentId:
                                      type: string
                                      description: The ID of the parent branch
                                      pattern: ^[a-z0-9-]{1,60}$
                                    roleName:
                                      type: string
                                      description: Role name associated with the branch
                                    databaseName:
                                      type: string
                                      description: Database name associated with the
                                        branch
                                    roles:
                                      type: array
                                      description: Roles associated with the branch
                                      items:
                                        type: object
                                        description: Properties specific to Roles
                                        properties:
                                          entityId:
                                            type: string
                                            description: Unique identifier for the
                                              entity
                                            pattern: ^[a-z0-9-]{1,60}$
                                            readOnly: true
                                          entityName:
                                            type: string
                                            description: Name of the resource
                                            pattern: ^\S.{0,62}\S$|^\S$
                                          createdAt:
                                            type: string
                                            description: Timestamp indicating when
                                              the entity was created
                                            readOnly: true
                                          provisioningState:
                                            description: Provisioning state of the
                                              resource.
                                            readOnly: true
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Failed
                                            - Canceled
                                            x-ms-enum:
                                              name: ResourceProvisioningState
                                              modelAsString: true
                                              values:
                                              - name: Succeeded
                                                value: Succeeded
                                                description: Resource has been created.
                                              - name: Failed
                                                value: Failed
                                                description: Resource creation failed.
                                              - name: Canceled
                                                value: Canceled
                                                description: Resource creation was
                                                  canceled.
                                          attributes:
                                            type: array
                                            description: Additional attributes for
                                              the entity
                                            items:
                                              type: object
                                              description: Additional attributes specific
                                                to Neon Resources
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of the attribute
                                                value:
                                                  type: string
                                                  description: Value of the attribute
                                              required:
                                              - name
                                              - value
                                            x-ms-identifiers: []
                                          branchId:
                                            type: string
                                            description: The ID of the branch this
                                              role belongs to
                                          permissions:
                                            type: array
                                            description: Permissions assigned to the
                                              role
                                            items:
                                              type: string
                                          isSuperUser:
                                            type: boolean
                                            description: Indicates whether the role
                                              has superuser privileges
                                      x-ms-identifiers: []
                                    databases:
                                      type: array
                                      description: Neon Databases associated with
                                        the branch
                                      items:
                                        type: object
                                        description: Properties specific to Databases
                                        properties:
                                          entityId:
                                            type: string
                                            description: Unique identifier for the
                                              entity
                                            pattern: ^[a-z0-9-]{1,60}$
                                            readOnly: true
                                          entityName:
                                            type: string
                                            description: Name of the resource
                                            pattern: ^\S.{0,62}\S$|^\S$
                                          createdAt:
                                            type: string
                                            description: Timestamp indicating when
                                              the entity was created
                                            readOnly: true
                                          provisioningState:
                                            description: Provisioning state of the
                                              resource.
                                            readOnly: true
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Failed
                                            - Canceled
                                            x-ms-enum:
                                              name: ResourceProvisioningState
                                              modelAsString: true
                                              values:
                                              - name: Succeeded
                                                value: Succeeded
                                                description: Resource has been created.
                                              - name: Failed
                                                value: Failed
                                                description: Resource creation failed.
                                              - name: Canceled
                                                value: Canceled
                                                description: Resource creation was
                                                  canceled.
                                          attributes:
                                            type: array
                                            description: Additional attributes for
                                              the entity
                                            items:
                                              type: object
                                              description: Additional attributes specific
                                                to Neon Resources
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of the attribute
                                                value:
                                                  type: string
                                                  description: Value of the attribute
                                              required:
                                              - name
                                              - value
                                            x-ms-identifiers: []
                                          branchId:
                                            type: string
                                            description: The ID of the branch this
                                              database belongs to
                                          ownerName:
                                            type: string
                                            description: The name of the role that
                                              owns the database
                                      x-ms-identifiers: []
                                    endpoints:
                                      type: array
                                      description: Endpoints associated with the branch
                                      items:
                                        type: object
                                        description: Properties specific to Endpoints
                                        properties:
                                          entityId:
                                            type: string
                                            description: Unique identifier for the
                                              entity
                                            pattern: ^[a-z0-9-]{1,60}$
                                            readOnly: true
                                          entityName:
                                            type: string
                                            description: Name of the resource
                                            pattern: ^\S.{0,62}\S$|^\S$
                                          createdAt:
                                            type: string
                                            description: Timestamp indicating when
                                              the entity was created
                                            readOnly: true
                                          provisioningState:
                                            description: Provisioning state of the
                                              resource.
                                            readOnly: true
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Failed
                                            - Canceled
                                            x-ms-enum:
                                              name: ResourceProvisioningState
                                              modelAsString: true
                                              values:
                                              - name: Succeeded
                                                value: Succeeded
                                                description: Resource has been created.
                                              - name: Failed
                                                value: Failed
                                                description: Resource creation failed.
                                              - name: Canceled
                                                value: Canceled
                                                description: Resource creation was
                                                  canceled.
                                          attributes:
                                            type: array
                                            description: Additional attributes for
                                              the entity
                                            items:
                                              type: object
                                              description: Additional attributes specific
                                                to Neon Resources
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of the attribute
                                                value:
                                                  type: string
                                                  description: Value of the attribute
                                              required:
                                              - name
                                              - value
                                            x-ms-identifiers: []
                                          projectId:
                                            type: string
                                            description: The ID of the project this
                                              endpoint belongs to
                                          branchId:
                                            type: string
                                            description: The ID of the branch this
                                              endpoint belongs to
                                          endpointType:
                                            description: The type of the endpoint
                                            type: string
                                            enum:
                                            - read_only
                                            - read_write
                                            x-ms-enum:
                                              name: EndpointType
                                              modelAsString: true
                                              values:
                                              - name: ReadOnly
                                                value: read_only
                                                description: ReadOnly compute endpoint
                                                  type
                                              - name: ReadWrite
                                                value: read_write
                                                description: ReadWrite compute endpoint
                                                  type
                                      x-ms-identifiers: []
                                roles:
                                  type: array
                                  description: Roles associated with the project
                                  items:
                                    type: object
                                    description: Properties specific to Roles
                                    properties:
                                      entityId:
                                        type: string
                                        description: Unique identifier for the entity
                                        pattern: ^[a-z0-9-]{1,60}$
                                        readOnly: true
                                      entityName:
                                        type: string
                                        description: Name of the resource
                                        pattern: ^\S.{0,62}\S$|^\S$
                                      createdAt:
                                        type: string
                                        description: Timestamp indicating when the
                                          entity was created
                                        readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the resource.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        x-ms-enum:
                                          name: ResourceProvisioningState
                                          modelAsString: true
                                          values:
                                          - name: Succeeded
                                            value: Succeeded
                                            description: Resource has been created.
                                          - name: Failed
                                            value: Failed
                                            description: Resource creation failed.
                                          - name: Canceled
                                            value: Canceled
                                            description: Resource creation was canceled.
                                      attributes:
                                        type: array
                                        description: Additional attributes for the
                                          entity
                                        items:
                                          type: object
                                          description: Additional attributes specific
                                            to Neon Resources
                                          properties:
                                            name:
                                              type: string
                                              description: Name of the attribute
                                            value:
                                              type: string
                                              description: Value of the attribute
                                          required:
                                          - name
                                          - value
                                        x-ms-identifiers: []
                                      branchId:
                                        type: string
                                        description: The ID of the branch this role
                                          belongs to
                                      permissions:
                                        type: array
                                        description: Permissions assigned to the role
                                        items:
                                          type: string
                                      isSuperUser:
                                        type: boolean
                                        description: Indicates whether the role has
                                          superuser privileges
                                  x-ms-identifiers: []
                                databases:
                                  type: array
                                  description: Neon Databases associated with the
                                    project
                                  items:
                                    type: object
                                    description: Properties specific to Databases
                                    properties:
                                      entityId:
                                        type: string
                                        description: Unique identifier for the entity
                                        pattern: ^[a-z0-9-]{1,60}$
                                        readOnly: true
                                      entityName:
                                        type: string
                                        description: Name of the resource
                                        pattern: ^\S.{0,62}\S$|^\S$
                                      createdAt:
                                        type: string
                                        description: Timestamp indicating when the
                                          entity was created
                                        readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the resource.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        x-ms-enum:
                                          name: ResourceProvisioningState
                                          modelAsString: true
                                          values:
                                          - name: Succeeded
                                            value: Succeeded
                                            description: Resource has been created.
                                          - name: Failed
                                            value: Failed
                                            description: Resource creation failed.
                                          - name: Canceled
                                            value: Canceled
                                            description: Resource creation was canceled.
                                      attributes:
                                        type: array
                                        description: Additional attributes for the
                                          entity
                                        items:
                                          type: object
                                          description: Additional attributes specific
                                            to Neon Resources
                                          properties:
                                            name:
                                              type: string
                                              description: Name of the attribute
                                            value:
                                              type: string
                                              description: Value of the attribute
                                          required:
                                          - name
                                          - value
                                        x-ms-identifiers: []
                                      branchId:
                                        type: string
                                        description: The ID of the branch this database
                                          belongs to
                                      ownerName:
                                        type: string
                                        description: The name of the role that owns
                                          the database
                                  x-ms-identifiers: []
                                endpoints:
                                  type: array
                                  description: Endpoints associated with the project
                                  items:
                                    type: object
                                    description: Properties specific to Endpoints
                                    properties:
                                      entityId:
                                        type: string
                                        description: Unique identifier for the entity
                                        pattern: ^[a-z0-9-]{1,60}$
                                        readOnly: true
                                      entityName:
                                        type: string
                                        description: Name of the resource
                                        pattern: ^\S.{0,62}\S$|^\S$
                                      createdAt:
                                        type: string
                                        description: Timestamp indicating when the
                                          entity was created
                                        readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the resource.
                                        readOnly: true
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Failed
                                        - Canceled
                                        x-ms-enum:
                                          name: ResourceProvisioningState
                                          modelAsString: true
                                          values:
                                          - name: Succeeded
                                            value: Succeeded
                                            description: Resource has been created.
                                          - name: Failed
                                            value: Failed
                                            description: Resource creation failed.
                                          - name: Canceled
                                            value: Canceled
                                            description: Resource creation was canceled.
                                      attributes:
                                        type: array
                                        description: Additional attributes for the
                                          entity
                                        items:
                                          type: object
                                          description: Additional attributes specific
                                            to Neon Resources
                                          properties:
                                            name:
                                              type: string
                                              description: Name of the attribute
                                            value:
                                              type: string
                                              description: Value of the attribute
                                          required:
                                          - name
                                          - value
                                        x-ms-identifiers: []
                                      projectId:
                                        type: string
                                        description: The ID of the project this endpoint
                                          belongs to
                                      branchId:
                                        type: string
                                        description: The ID of the branch this endpoint
                                          belongs to
                                      endpointType:
                                        description: The type of the endpoint
                                        type: string
                                        enum:
                                        - read_only
                                        - read_write
                                        x-ms-enum:
                                          name: EndpointType
                                          modelAsString: true
                                          values:
                                          - name: ReadOnly
                                            value: read_only
                                            description: ReadOnly compute endpoint
                                              type
                                          - name: ReadWrite
                                            value: read_write
                                            description: ReadWrite compute endpoint
                                              type
                                  x-ms-identifiers: []
                          required:
                          - marketplaceDetails
                          - userDetails
                          - companyDetails
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Neon.Postgres/getPostgresVersions:
    post:
      operationId: Organizations_GetPostgresVersions
      tags:
      - Organizations
      description: Action to retrieve the PostgreSQL versions.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: PostgreSQL Version model
              properties:
                version:
                  type: integer
                  format: int32
                  description: The major PostgreSQL version number
        description: Post Action to retrieve the PostgreSQL versions.
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Response model for PostgreSQL versions
                properties:
                  versions:
                    type: array
                    description: List of PostgreSQL versions
                    items:
                      type: object
                      description: PostgreSQL Version model
                      properties:
                        version:
                          type: integer
                          format: int32
                          description: The major PostgreSQL version number
                    x-ms-identifiers: []
                required:
                - versions
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Neon.Postgres/organizations:
    get:
      operationId: Organizations_ListByResourceGroup
      tags:
      - Organizations
      description: List OrganizationResource resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a OrganizationResource list operation.
                properties:
                  value:
                    type: array
                    description: The OrganizationResource items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            marketplaceDetails:
                              description: Marketplace details of the resource.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: object
                              properties:
                                subscriptionId:
                                  type: string
                                  description: SaaS subscription id for the the marketplace
                                    offer
                                subscriptionStatus:
                                  description: Marketplace subscription status
                                  type: string
                                  enum:
                                  - PendingFulfillmentStart
                                  - Subscribed
                                  - Suspended
                                  - Unsubscribed
                                  x-ms-enum:
                                    name: MarketplaceSubscriptionStatus
                                    modelAsString: true
                                    values:
                                    - name: PendingFulfillmentStart
                                      value: PendingFulfillmentStart
                                      description: Purchased but not yet activated
                                    - name: Subscribed
                                      value: Subscribed
                                      description: Marketplace subscription is activated
                                    - name: Suspended
                                      value: Suspended
                                      description: This state indicates that a customer's
                                        payment for the Marketplace service was not
                                        received
                                    - name: Unsubscribed
                                      value: Unsubscribed
                                      description: Customer has cancelled the subscription
                                offerDetails:
                                  description: Offer details for the marketplace that
                                    is selected by the user
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Publisher Id for the marketplace
                                        offer
                                    offerId:
                                      type: string
                                      description: Offer Id for the marketplace offer
                                    planId:
                                      type: string
                                      description: Plan Id for the marketplace offer
                                    planName:
                                      type: string
                                      description: Plan Name for the marketplace offer
                                    termUnit:
                                      type: string
                                      description: Term Name for the marketplace offer
                                    termId:
                                      type: string
                                      description: Term Id for the marketplace offer
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                              required:
                              - offerDetails
                            userDetails:
                              description: Details of the user.
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name of the user
                                lastName:
                                  type: string
                                  description: Last name of the user
                                emailAddress:
                                  description: Email address of the user
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: User's principal name
                                phoneNumber:
                                  type: string
                                  description: User's phone number
                            companyDetails:
                              description: Details of the company.
                              type: object
                              properties:
                                companyName:
                                  type: string
                                  description: Company name
                                country:
                                  type: string
                                  description: Country name of the company
                                officeAddress:
                                  type: string
                                  description: Office address of the company
                                businessPhone:
                                  type: string
                                  description: Business phone number of the company
                                domain:
                                  type: string
                                  description: Domain of the user
                                numberOfEmployees:
                                  type: integer
                                  format: int64
                                  description: Number of employees in the company
                            provisioningState:
                              description: Provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            partnerOrganizationProperties:
                              description: Neon Organization properties
                              type: object
                              properties:
                                organizationId:
                                  type: string
                                  description: Organization Id in partner's system
                                organizationName:
                                  type: string
                                  description: Organization name in partner's system
                                  minLength: 1
                                  maxLength: 50
                                  pattern: ^\S.{0,62}\S$|^\S$
                                singleSignOnProperties:
                                  description: Single Sign On properties for the organization
                                  type: object
                                  properties:
                                    singleSignOnState:
                                      description: State of the Single Sign On for
                                        the organization
                                      type: string
                                      enum:
                                      - Initial
                                      - Enable
                                      - Disable
                                      x-ms-enum:
                                        name: SingleSignOnStates
                                        modelAsString: true
                                        values:
                                        - name: Initial
                                          value: Initial
                                          description: Initial state of the SSO resource
                                        - name: Enable
                                          value: Enable
                                          description: SSO is enabled for the organization
                                        - name: Disable
                                          value: Disable
                                          description: SSO is disabled for the organization
                                    enterpriseAppId:
                                      type: string
                                      description: AAD enterprise application Id used
                                        to setup SSO
                                    singleSignOnUrl:
                                      description: URL for SSO to be used by the partner
                                        to redirect the user to their system
                                      type: string
                                    aadDomains:
                                      type: array
                                      description: List of AAD domains fetched from
                                        Microsoft Graph for user.
                                      items:
                                        type: string
                              required:
                              - organizationName
                            projectProperties:
                              description: Neon Project Properties
                              type: object
                              properties:
                                entityId:
                                  type: string
                                  description: Unique identifier for the entity
                                  pattern: ^[a-z0-9-]{1,60}$
                                  readOnly: true
                                entityName:
                                  type: string
                                  description: Name of the resource
                                  pattern: ^\S.{0,62}\S$|^\S$
                                createdAt:
                                  type: string
                                  description: Timestamp indicating when the entity
                                    was created
                                  readOnly: true
                                provisioningState:
                                  description: Provisioning state of the resource.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Failed
                                  - Canceled
                                  x-ms-enum:
                                    name: ResourceProvisioningState
                                    modelAsString: true
                                    values:
                                    - name: Succeeded
                                      value: Succeeded
                                      description: Resource has been created.
                                    - name: Failed
                                      value: Failed
                                      description: Resource creation failed.
                                    - name: Canceled
                                      value: Canceled
                                      description: Resource creation was canceled.
                                attributes:
                                  type: array
                                  description: Additional attributes for the entity
                                  items:
                                    type: object
                                    description: Additional attributes specific to
                                      Neon Resources
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the attribute
                                      value:
                                        type: string
                                        description: Value of the attribute
                                    required:
                                    - name
                                    - value
                                  x-ms-identifiers: []
                                regionId:
                                  type: string
                                  description: Region where the project is created
                                storage:
                                  type: integer
                                  format: int64
                                  description: Data Storage bytes per hour for the
                                    project
                                pgVersion:
                                  type: integer
                                  format: int32
                                  description: Postgres version for the project
                                historyRetention:
                                  type: integer
                                  format: int32
                                  description: The retention period for project history
                                    in seconds.
                                defaultEndpointSettings:
                                  description: Default endpoint settings for the project.
                                  type: object
                                  properties:
                                    autoscalingLimitMinCu:
                                      type: number
                                      format: float
                                      description: Minimum compute units for autoscaling.
                                    autoscalingLimitMaxCu:
                                      type: number
                                      format: float
                                      description: Maximum compute units for autoscaling.
                                  required:
                                  - autoscalingLimitMinCu
                                  - autoscalingLimitMaxCu
                                branch:
                                  description: The Branch properties of the project.
                                    This is optional
                                  type: object
                                  properties:
                                    entityId:
                                      type: string
                                      description: Unique identifier for the entity
                                      pattern: ^[a-z0-9-]{1,60}$
                                      readOnly: true
                                    entityName:
                                      type: string
                                      description: Name of the resource
                                      pattern: ^\S.{0,62}\S$|^\S$
                                    createdAt:
                                      type: string
                                      description: Timestamp indicating when the entity
                                        was created
                                      readOnly: true
                                    provisioningState:
                                      description: Provisioning state of the resource.
                                      readOnly: true
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Failed
[...]
