openapi: 3.0.0
info:
  version: 2019-09-16-preview
  title: windowsesu
  description: Manage Multi-Access Keys (MAK) that enable Windows Extended Security
    Updates (ESU).
  x-ms-code-generation-settings:
    name: windowsesuClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.WindowsESU/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: List all available Windows.ESU provider operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of available REST API operations.
                type: object
                properties:
                  value:
                    description: List of operations.
                    type: array
                    items:
                      description: REST API operation details.
                      type: object
                      properties:
                        name:
                          description: Name of the operation.
                          type: string
                          readOnly: true
                        display:
                          description: Meta data about operation used for display
                            in portal.
                          type: object
                          properties:
                            provider:
                              type: string
                            resource:
                              type: string
                            operation:
                              type: string
                            description:
                              type: string
                  nextLink:
                    description: Link to the next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsESU/multipleActivationKeys:
    get:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_List
      description: List all Multiple Activation Keys (MAK) created for a subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of MAK keys.
                type: object
                properties:
                  value:
                    description: List of MAK keys.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: MAK key specific properties.
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            multipleActivationKey:
                              description: MAK 5x5 key.
                              type: string
                              readOnly: true
                            expirationDate:
                              description: End of support of security updates activated
                                by the MAK key.
                              format: date-time
                              type: string
                              readOnly: true
                            osType:
                              description: Type of OS for which the key is requested.
                              type: string
                              enum:
                              - Windows7
                              - WindowsServer2008
                              - WindowsServer2008R2
                              x-ms-enum:
                                name: OsType
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                            supportType:
                              description: Type of support
                              type: string
                              enum:
                              - SupplementalServicing
                              - PremiumAssurance
                              default: SupplementalServicing
                              x-ms-enum:
                                name: SupportType
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                            installedServerNumber:
                              description: Number of activations/servers using the
                                MAK key.
                              type: integer
                              minimum: 1
                              maximum: 5000
                              x-ms-mutability:
                              - create
                              - read
                            agreementNumber:
                              description: Agreement number under which the key is
                                requested.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            isEligible:
                              description: <code> true </code> if user has eligible
                                on-premises Windows physical or virtual machines,
                                and that the requested key will only be used in their
                                organization; <code> false </code> otherwise.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            provisioningState:
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys:
    get:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_ListByResourceGroup
      description: List all Multiple Activation Keys (MAK) in a resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of MAK keys.
                type: object
                properties:
                  value:
                    description: List of MAK keys.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: MAK key specific properties.
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            multipleActivationKey:
                              description: MAK 5x5 key.
                              type: string
                              readOnly: true
                            expirationDate:
                              description: End of support of security updates activated
                                by the MAK key.
                              format: date-time
                              type: string
                              readOnly: true
                            osType:
                              description: Type of OS for which the key is requested.
                              type: string
                              enum:
                              - Windows7
                              - WindowsServer2008
                              - WindowsServer2008R2
                              x-ms-enum:
                                name: OsType
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                            supportType:
                              description: Type of support
                              type: string
                              enum:
                              - SupplementalServicing
                              - PremiumAssurance
                              default: SupplementalServicing
                              x-ms-enum:
                                name: SupportType
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - read
                            installedServerNumber:
                              description: Number of activations/servers using the
                                MAK key.
                              type: integer
                              minimum: 1
                              maximum: 5000
                              x-ms-mutability:
                              - create
                              - read
                            agreementNumber:
                              description: Agreement number under which the key is
                                requested.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            isEligible:
                              description: <code> true </code> if user has eligible
                                on-premises Windows physical or virtual machines,
                                and that the requested key will only be used in their
                                organization; <code> false </code> otherwise.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            provisioningState:
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next page of resources.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsESU/multipleActivationKeys/{multipleActivationKeyName}
  : get:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_Get
      description: Get a MAK key.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: multipleActivationKeyName
        in: path
        required: true
        description: The name of the MAK key.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: MAK key specific properties.
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      multipleActivationKey:
                        description: MAK 5x5 key.
                        type: string
                        readOnly: true
                      expirationDate:
                        description: End of support of security updates activated
                          by the MAK key.
                        format: date-time
                        type: string
                        readOnly: true
                      osType:
                        description: Type of OS for which the key is requested.
                        type: string
                        enum:
                        - Windows7
                        - WindowsServer2008
                        - WindowsServer2008R2
                        x-ms-enum:
                          name: OsType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      supportType:
                        description: Type of support
                        type: string
                        enum:
                        - SupplementalServicing
                        - PremiumAssurance
                        default: SupplementalServicing
                        x-ms-enum:
                          name: SupportType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      installedServerNumber:
                        description: Number of activations/servers using the MAK key.
                        type: integer
                        minimum: 1
                        maximum: 5000
                        x-ms-mutability:
                        - create
                        - read
                      agreementNumber:
                        description: Agreement number under which the key is requested.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isEligible:
                        description: <code> true </code> if user has eligible on-premises
                          Windows physical or virtual machines, and that the requested
                          key will only be used in their organization; <code> false
                          </code> otherwise.
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
    put:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_Create
      description: Create a MAK key.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: multipleActivationKeyName
        in: path
        required: true
        description: The name of the MAK key.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: MAK key specific properties.
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    multipleActivationKey:
                      description: MAK 5x5 key.
                      type: string
                      readOnly: true
                    expirationDate:
                      description: End of support of security updates activated by
                        the MAK key.
                      format: date-time
                      type: string
                      readOnly: true
                    osType:
                      description: Type of OS for which the key is requested.
                      type: string
                      enum:
                      - Windows7
                      - WindowsServer2008
                      - WindowsServer2008R2
                      x-ms-enum:
                        name: OsType
                        modelAsString: true
                      x-ms-mutability:
                      - create
                      - read
                    supportType:
                      description: Type of support
                      type: string
                      enum:
                      - SupplementalServicing
                      - PremiumAssurance
                      default: SupplementalServicing
                      x-ms-enum:
                        name: SupportType
                        modelAsString: true
                      x-ms-mutability:
                      - create
                      - read
                    installedServerNumber:
                      description: Number of activations/servers using the MAK key.
                      type: integer
                      minimum: 1
                      maximum: 5000
                      x-ms-mutability:
                      - create
                      - read
                    agreementNumber:
                      description: Agreement number under which the key is requested.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    isEligible:
                      description: <code> true </code> if user has eligible on-premises
                        Windows physical or virtual machines, and that the requested
                        key will only be used in their organization; <code> false
                        </code> otherwise.
                      type: boolean
                      x-ms-mutability:
                      - create
                      - read
                    provisioningState:
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Accepted
                      - Provisioning
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Details of the MAK key.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: MAK key specific properties.
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      multipleActivationKey:
                        description: MAK 5x5 key.
                        type: string
                        readOnly: true
                      expirationDate:
                        description: End of support of security updates activated
                          by the MAK key.
                        format: date-time
                        type: string
                        readOnly: true
                      osType:
                        description: Type of OS for which the key is requested.
                        type: string
                        enum:
                        - Windows7
                        - WindowsServer2008
                        - WindowsServer2008R2
                        x-ms-enum:
                          name: OsType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      supportType:
                        description: Type of support
                        type: string
                        enum:
                        - SupplementalServicing
                        - PremiumAssurance
                        default: SupplementalServicing
                        x-ms-enum:
                          name: SupportType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      installedServerNumber:
                        description: Number of activations/servers using the MAK key.
                        type: integer
                        minimum: 1
                        maximum: 5000
                        x-ms-mutability:
                        - create
                        - read
                      agreementNumber:
                        description: Agreement number under which the key is requested.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isEligible:
                        description: <code> true </code> if user has eligible on-premises
                          Windows physical or virtual machines, and that the requested
                          key will only be used in their organization; <code> false
                          </code> otherwise.
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: MAK key specific properties.
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      multipleActivationKey:
                        description: MAK 5x5 key.
                        type: string
                        readOnly: true
                      expirationDate:
                        description: End of support of security updates activated
                          by the MAK key.
                        format: date-time
                        type: string
                        readOnly: true
                      osType:
                        description: Type of OS for which the key is requested.
                        type: string
                        enum:
                        - Windows7
                        - WindowsServer2008
                        - WindowsServer2008R2
                        x-ms-enum:
                          name: OsType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      supportType:
                        description: Type of support
                        type: string
                        enum:
                        - SupplementalServicing
                        - PremiumAssurance
                        default: SupplementalServicing
                        x-ms-enum:
                          name: SupportType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      installedServerNumber:
                        description: Number of activations/servers using the MAK key.
                        type: integer
                        minimum: 1
                        maximum: 5000
                        x-ms-mutability:
                        - create
                        - read
                      agreementNumber:
                        description: Agreement number under which the key is requested.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isEligible:
                        description: <code> true </code> if user has eligible on-premises
                          Windows physical or virtual machines, and that the requested
                          key will only be used in their organization; <code> false
                          </code> otherwise.
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
      x-ms-long-running-operation: true
    patch:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_Update
      description: Update a MAK key.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: multipleActivationKeyName
        in: path
        required: true
        description: The name of the MAK key.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: MAK key details.
              type: object
              properties:
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
        description: Details of the MAK key.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: MAK key specific properties.
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      multipleActivationKey:
                        description: MAK 5x5 key.
                        type: string
                        readOnly: true
                      expirationDate:
                        description: End of support of security updates activated
                          by the MAK key.
                        format: date-time
                        type: string
                        readOnly: true
                      osType:
                        description: Type of OS for which the key is requested.
                        type: string
                        enum:
                        - Windows7
                        - WindowsServer2008
                        - WindowsServer2008R2
                        x-ms-enum:
                          name: OsType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      supportType:
                        description: Type of support
                        type: string
                        enum:
                        - SupplementalServicing
                        - PremiumAssurance
                        default: SupplementalServicing
                        x-ms-enum:
                          name: SupportType
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - read
                      installedServerNumber:
                        description: Number of activations/servers using the MAK key.
                        type: integer
                        minimum: 1
                        maximum: 5000
                        x-ms-mutability:
                        - create
                        - read
                      agreementNumber:
                        description: Agreement number under which the key is requested.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isEligible:
                        description: <code> true </code> if user has eligible on-premises
                          Windows physical or virtual machines, and that the requested
                          key will only be used in their organization; <code> false
                          </code> otherwise.
                        type: boolean
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
    delete:
      tags:
      - MultipleActivationKeys
      operationId: MultipleActivationKeys_Delete
      description: Delete a MAK key.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: multipleActivationKeyName
        in: path
        required: true
        description: The name of the MAK key.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              readOnly: true
                        readOnly: true
components:
  parameters:
    MultipleActivationKeyNameParameter:
      name: multipleActivationKeyName
      in: path
      required: true
      description: The name of the MAK key.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    MultipleActivationKey:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        properties:
          description: MAK key specific properties.
          type: object
          x-ms-client-flatten: true
          properties:
            multipleActivationKey:
              description: MAK 5x5 key.
              type: string
              readOnly: true
            expirationDate:
              description: End of support of security updates activated by the MAK
                key.
              format: date-time
              type: string
              readOnly: true
            osType:
              description: Type of OS for which the key is requested.
              type: string
              enum:
              - Windows7
              - WindowsServer2008
              - WindowsServer2008R2
              x-ms-enum:
                name: OsType
                modelAsString: true
              x-ms-mutability:
              - create
              - read
            supportType:
              description: Type of support
              type: string
              enum:
              - SupplementalServicing
              - PremiumAssurance
              default: SupplementalServicing
              x-ms-enum:
                name: SupportType
                modelAsString: true
              x-ms-mutability:
              - create
              - read
            installedServerNumber:
              description: Number of activations/servers using the MAK key.
              type: integer
              minimum: 1
              maximum: 5000
              x-ms-mutability:
              - create
              - read
            agreementNumber:
              description: Agreement number under which the key is requested.
              type: string
              x-ms-mutability:
              - create
              - read
            isEligible:
              description: <code> true </code> if user has eligible on-premises Windows
                physical or virtual machines, and that the requested key will only
                be used in their organization; <code> false </code> otherwise.
              type: boolean
              x-ms-mutability:
              - create
              - read
            provisioningState:
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Accepted
              - Provisioning
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
              readOnly: true
      required:
      - location
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    MultipleActivationKeyList:
      description: List of MAK keys.
      type: object
      properties:
        value:
          description: List of MAK keys.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              properties:
                description: MAK key specific properties.
                type: object
                x-ms-client-flatten: true
                properties:
                  multipleActivationKey:
                    description: MAK 5x5 key.
                    type: string
                    readOnly: true
                  expirationDate:
                    description: End of support of security updates activated by the
                      MAK key.
                    format: date-time
                    type: string
                    readOnly: true
                  osType:
                    description: Type of OS for which the key is requested.
                    type: string
                    enum:
                    - Windows7
                    - WindowsServer2008
                    - WindowsServer2008R2
                    x-ms-enum:
                      name: OsType
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  supportType:
                    description: Type of support
                    type: string
                    enum:
                    - SupplementalServicing
                    - PremiumAssurance
                    default: SupplementalServicing
                    x-ms-enum:
                      name: SupportType
                      modelAsString: true
                    x-ms-mutability:
                    - create
                    - read
                  installedServerNumber:
                    description: Number of activations/servers using the MAK key.
                    type: integer
                    minimum: 1
                    maximum: 5000
                    x-ms-mutability:
                    - create
                    - read
                  agreementNumber:
                    description: Agreement number under which the key is requested.
                    type: string
                    x-ms-mutability:
                    - create
                    - read
                  isEligible:
                    description: <code> true </code> if user has eligible on-premises
                      Windows physical or virtual machines, and that the requested
                      key will only be used in their organization; <code> false </code>
                      otherwise.
                    type: boolean
                    x-ms-mutability:
                    - create
                    - read
                  provisioningState:
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - Accepted
                    - Provisioning
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                    readOnly: true
            required:
            - location
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: Link to the next page of resources.
          type: string
          readOnly: true
    MultipleActivationKeyUpdate:
      description: MAK key details.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    Operation:
      description: REST API operation details.
      type: object
      properties:
        name:
          description: Name of the operation.
          type: string
          readOnly: true
        display:
          description: Meta data about operation used for display in portal.
          type: object
          properties:
            provider:
              type: string
            resource:
              type: string
            operation:
              type: string
            description:
              type: string
    OperationDisplay:
      description: Meta data about operation used for display in portal.
      type: object
      properties:
        provider:
          type: string
        resource:
          type: string
        operation:
          type: string
        description:
          type: string
    OperationList:
      description: List of available REST API operations.
      type: object
      properties:
        value:
          description: List of operations.
          type: array
          items:
            description: REST API operation details.
            type: object
            properties:
              name:
                description: Name of the operation.
                type: string
                readOnly: true
              display:
                description: Meta data about operation used for display in portal.
                type: object
                properties:
                  provider:
                    type: string
                  resource:
                    type: string
                  operation:
                    type: string
                  description:
                    type: string
        nextLink:
          description: Link to the next page of resources.
          type: string
          readOnly: true
    ErrorResponse:
      description: Error response.
      properties:
        error:
          description: The error details.
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    readOnly: true
              readOnly: true
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                readOnly: true
          readOnly: true
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - location
