openapi: 3.0.0
info:
  version: 2023-06-07
  title: LabServicesClient
  description: REST API for managing Azure Lab Services images.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images
  : parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: labPlanName
      in: path
      required: true
      description: The name of the lab plan that uniquely identifies it within containing
        resource group. Used in resource URIs and in UI.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
    - in: query
      name: $filter
      description: The filter to apply to the operation.
      schema:
        type: string
    get:
      tags:
      - Image
      summary: Gets all images.
      description: Gets all images from galleries attached to a lab plan.
      operationId: Images_ListByLabPlan
      responses:
        '200':
          description: The request was successful; a list of images is returned
          content:
            application/json:
              schema:
                description: Paged list of Lab services virtual machine images.
                type: object
                properties:
                  value:
                    description: The array page of virtual machine images.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the image.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            enabledState:
                              description: Is the image enabled
                              default: Disabled
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: EnableState
                                modelAsString: false
                            provisioningState:
                              description: Current provisioning state of the image.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Locked
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                                values:
                                - value: Creating
                                  description: Resource is in the process of being
                                    created.
                                - value: Updating
                                  description: New property values are being applied
                                    to the resource.
                                - value: Deleting
                                  description: Resource is in the process of being
                                    deleted.
                                - value: Succeeded
                                  description: Resource is in healthy state after
                                    creation or update operation.
                                - value: Failed
                                  description: Previous operation on the resource
                                    has failed leaving resource in unhealthy state.
                                - value: Locked
                                  description: The resource is locked and changes
                                    are currently blocked. This could be due to maintenance
                                    or a scheduled operation. The state will go back
                                    to succeeded once the locking operation has finished.
                            displayName:
                              description: The image display name.
                              type: string
                              readOnly: true
                            description:
                              description: A description of the image.
                              type: string
                              readOnly: true
                            iconUrl:
                              description: URL of the image icon.
                              type: string
                              readOnly: true
                            author:
                              description: The image author.
                              type: string
                              readOnly: true
                            osType:
                              description: The OS Type of the image.
                              readOnly: true
                              type: string
                              enum:
                              - Windows
                              - Linux
                              x-ms-enum:
                                name: OsType
                                modelAsString: false
                            plan:
                              description: The ID of marketplace plan associated with
                                the image (optional).
                              type: string
                              readOnly: true
                            termsStatus:
                              description: The status of image terms of use (enabled
                                = accepted, disabled = not accepted).
                              readOnly: true
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: EnableState
                                modelAsString: false
                            offer:
                              description: The ID of an offer associated with the
                                image.
                              type: string
                              readOnly: true
                            publisher:
                              description: The ID of the publisher of the image.
                              type: string
                              readOnly: true
                            sku:
                              description: The image SKU.
                              type: string
                              readOnly: true
                            version:
                              description: The image version.
                              type: string
                              readOnly: true
                            sharedGalleryId:
                              description: The ID for the image in the shared gallery.
                              readOnly: true
                              type: string
                              minLength: 3
                              maxLength: 2000
                            availableRegions:
                              description: The available regions of the image in the
                                shared gallery.
                              type: array
                              items:
                                type: string
                            osState:
                              description: The OS State of the image.
                              readOnly: true
                              type: string
                              enum:
                              - Generalized
                              - Specialized
                              x-ms-enum:
                                name: OsState
                                modelAsString: false
                                values:
                                - value: Generalized
                                  description: Image does not contain any machine
                                    and user specific information.
                                - value: Specialized
                                  description: Image contains machine and user specific
                                    information.
                          description: Properties of an image resource update
                          required:
                          - enabledState
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of image results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images/{imageName}
  : parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: labPlanName
      in: path
      required: true
      description: The name of the lab plan that uniquely identifies it within containing
        resource group. Used in resource URIs and in UI.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
    - name: imageName
      in: path
      required: true
      description: The image name.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
        pattern: ^[-\w\\._\\(\\)]+$
    get:
      tags:
      - Image
      summary: Gets an image.
      description: Gets an image resource.
      operationId: Images_Get
      responses:
        '200':
          description: The request was successful; the image is returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the image.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      enabledState:
                        description: Is the image enabled
                        default: Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      provisioningState:
                        description: Current provisioning state of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Locked
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: Creating
                            description: Resource is in the process of being created.
                          - value: Updating
                            description: New property values are being applied to
                              the resource.
                          - value: Deleting
                            description: Resource is in the process of being deleted.
                          - value: Succeeded
                            description: Resource is in healthy state after creation
                              or update operation.
                          - value: Failed
                            description: Previous operation on the resource has failed
                              leaving resource in unhealthy state.
                          - value: Locked
                            description: The resource is locked and changes are currently
                              blocked. This could be due to maintenance or a scheduled
                              operation. The state will go back to succeeded once
                              the locking operation has finished.
                      displayName:
                        description: The image display name.
                        type: string
                        readOnly: true
                      description:
                        description: A description of the image.
                        type: string
                        readOnly: true
                      iconUrl:
                        description: URL of the image icon.
                        type: string
                        readOnly: true
                      author:
                        description: The image author.
                        type: string
                        readOnly: true
                      osType:
                        description: The OS Type of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OsType
                          modelAsString: false
                      plan:
                        description: The ID of marketplace plan associated with the
                          image (optional).
                        type: string
                        readOnly: true
                      termsStatus:
                        description: The status of image terms of use (enabled = accepted,
                          disabled = not accepted).
                        readOnly: true
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      offer:
                        description: The ID of an offer associated with the image.
                        type: string
                        readOnly: true
                      publisher:
                        description: The ID of the publisher of the image.
                        type: string
                        readOnly: true
                      sku:
                        description: The image SKU.
                        type: string
                        readOnly: true
                      version:
                        description: The image version.
                        type: string
                        readOnly: true
                      sharedGalleryId:
                        description: The ID for the image in the shared gallery.
                        readOnly: true
                        type: string
                        minLength: 3
                        maxLength: 2000
                      availableRegions:
                        description: The available regions of the image in the shared
                          gallery.
                        type: array
                        items:
                          type: string
                      osState:
                        description: The OS State of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Generalized
                        - Specialized
                        x-ms-enum:
                          name: OsState
                          modelAsString: false
                          values:
                          - value: Generalized
                            description: Image does not contain any machine and user
                              specific information.
                          - value: Specialized
                            description: Image contains machine and user specific
                              information.
                    description: Properties of an image resource update
                    required:
                    - enabledState
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - Image
      summary: Updates an image via PUT.
      description: Updates an image resource via PUT. Creating new resources via PUT
        will not function.
      operationId: Images_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the image.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  type: object
                  properties:
                    enabledState:
                      description: Is the image enabled
                      default: Disabled
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: EnableState
                        modelAsString: false
                    provisioningState:
                      description: Current provisioning state of the image.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Locked
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                        values:
                        - value: Creating
                          description: Resource is in the process of being created.
                        - value: Updating
                          description: New property values are being applied to the
                            resource.
                        - value: Deleting
                          description: Resource is in the process of being deleted.
                        - value: Succeeded
                          description: Resource is in healthy state after creation
                            or update operation.
                        - value: Failed
                          description: Previous operation on the resource has failed
                            leaving resource in unhealthy state.
                        - value: Locked
                          description: The resource is locked and changes are currently
                            blocked. This could be due to maintenance or a scheduled
                            operation. The state will go back to succeeded once the
                            locking operation has finished.
                    displayName:
                      description: The image display name.
                      type: string
                      readOnly: true
                    description:
                      description: A description of the image.
                      type: string
                      readOnly: true
                    iconUrl:
                      description: URL of the image icon.
                      type: string
                      readOnly: true
                    author:
                      description: The image author.
                      type: string
                      readOnly: true
                    osType:
                      description: The OS Type of the image.
                      readOnly: true
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: OsType
                        modelAsString: false
                    plan:
                      description: The ID of marketplace plan associated with the
                        image (optional).
                      type: string
                      readOnly: true
                    termsStatus:
                      description: The status of image terms of use (enabled = accepted,
                        disabled = not accepted).
                      readOnly: true
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: EnableState
                        modelAsString: false
                    offer:
                      description: The ID of an offer associated with the image.
                      type: string
                      readOnly: true
                    publisher:
                      description: The ID of the publisher of the image.
                      type: string
                      readOnly: true
                    sku:
                      description: The image SKU.
                      type: string
                      readOnly: true
                    version:
                      description: The image version.
                      type: string
                      readOnly: true
                    sharedGalleryId:
                      description: The ID for the image in the shared gallery.
                      readOnly: true
                      type: string
                      minLength: 3
                      maxLength: 2000
                    availableRegions:
                      description: The available regions of the image in the shared
                        gallery.
                      type: array
                      items:
                        type: string
                    osState:
                      description: The OS State of the image.
                      readOnly: true
                      type: string
                      enum:
                      - Generalized
                      - Specialized
                      x-ms-enum:
                        name: OsState
                        modelAsString: false
                        values:
                        - value: Generalized
                          description: Image does not contain any machine and user
                            specific information.
                        - value: Specialized
                          description: Image contains machine and user specific information.
                  description: Properties of an image resource update
                  required:
                  - enabledState
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: The request body.
        required: true
      responses:
        '200':
          description: The request was successful; the image is returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the image.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      enabledState:
                        description: Is the image enabled
                        default: Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      provisioningState:
                        description: Current provisioning state of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Locked
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: Creating
                            description: Resource is in the process of being created.
                          - value: Updating
                            description: New property values are being applied to
                              the resource.
                          - value: Deleting
                            description: Resource is in the process of being deleted.
                          - value: Succeeded
                            description: Resource is in healthy state after creation
                              or update operation.
                          - value: Failed
                            description: Previous operation on the resource has failed
                              leaving resource in unhealthy state.
                          - value: Locked
                            description: The resource is locked and changes are currently
                              blocked. This could be due to maintenance or a scheduled
                              operation. The state will go back to succeeded once
                              the locking operation has finished.
                      displayName:
                        description: The image display name.
                        type: string
                        readOnly: true
                      description:
                        description: A description of the image.
                        type: string
                        readOnly: true
                      iconUrl:
                        description: URL of the image icon.
                        type: string
                        readOnly: true
                      author:
                        description: The image author.
                        type: string
                        readOnly: true
                      osType:
                        description: The OS Type of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OsType
                          modelAsString: false
                      plan:
                        description: The ID of marketplace plan associated with the
                          image (optional).
                        type: string
                        readOnly: true
                      termsStatus:
                        description: The status of image terms of use (enabled = accepted,
                          disabled = not accepted).
                        readOnly: true
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      offer:
                        description: The ID of an offer associated with the image.
                        type: string
                        readOnly: true
                      publisher:
                        description: The ID of the publisher of the image.
                        type: string
                        readOnly: true
                      sku:
                        description: The image SKU.
                        type: string
                        readOnly: true
                      version:
                        description: The image version.
                        type: string
                        readOnly: true
                      sharedGalleryId:
                        description: The ID for the image in the shared gallery.
                        readOnly: true
                        type: string
                        minLength: 3
                        maxLength: 2000
                      availableRegions:
                        description: The available regions of the image in the shared
                          gallery.
                        type: array
                        items:
                          type: string
                      osState:
                        description: The OS State of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Generalized
                        - Specialized
                        x-ms-enum:
                          name: OsState
                          modelAsString: false
                          values:
                          - value: Generalized
                            description: Image does not contain any machine and user
                              specific information.
                          - value: Specialized
                            description: Image contains machine and user specific
                              information.
                    description: Properties of an image resource update
                    required:
                    - enabledState
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      tags:
      - Image
      summary: Updates an image.
      description: Updates an image resource.
      operationId: Images_Update
      requestBody:
        content:
          application/json:
            schema:
              description: Lab services virtual machine image for updates.
              type: object
              properties:
                properties:
                  description: Image resource properties
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    enabledState:
                      description: Is the image enabled
                      default: Disabled
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: EnableState
                        modelAsString: false
        description: The request body.
        required: true
      responses:
        '200':
          description: The request was successful; the image is returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the image.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      enabledState:
                        description: Is the image enabled
                        default: Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      provisioningState:
                        description: Current provisioning state of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Locked
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: Creating
                            description: Resource is in the process of being created.
                          - value: Updating
                            description: New property values are being applied to
                              the resource.
                          - value: Deleting
                            description: Resource is in the process of being deleted.
                          - value: Succeeded
                            description: Resource is in healthy state after creation
                              or update operation.
                          - value: Failed
                            description: Previous operation on the resource has failed
                              leaving resource in unhealthy state.
                          - value: Locked
                            description: The resource is locked and changes are currently
                              blocked. This could be due to maintenance or a scheduled
                              operation. The state will go back to succeeded once
                              the locking operation has finished.
                      displayName:
                        description: The image display name.
                        type: string
                        readOnly: true
                      description:
                        description: A description of the image.
                        type: string
                        readOnly: true
                      iconUrl:
                        description: URL of the image icon.
                        type: string
                        readOnly: true
                      author:
                        description: The image author.
                        type: string
                        readOnly: true
                      osType:
                        description: The OS Type of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OsType
                          modelAsString: false
                      plan:
                        description: The ID of marketplace plan associated with the
                          image (optional).
                        type: string
                        readOnly: true
                      termsStatus:
                        description: The status of image terms of use (enabled = accepted,
                          disabled = not accepted).
                        readOnly: true
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EnableState
                          modelAsString: false
                      offer:
                        description: The ID of an offer associated with the image.
                        type: string
                        readOnly: true
                      publisher:
                        description: The ID of the publisher of the image.
                        type: string
                        readOnly: true
                      sku:
                        description: The image SKU.
                        type: string
                        readOnly: true
                      version:
                        description: The image version.
                        type: string
                        readOnly: true
                      sharedGalleryId:
                        description: The ID for the image in the shared gallery.
                        readOnly: true
                        type: string
                        minLength: 3
                        maxLength: 2000
                      availableRegions:
                        description: The available regions of the image in the shared
                          gallery.
                        type: array
                        items:
                          type: string
                      osState:
                        description: The OS State of the image.
                        readOnly: true
                        type: string
                        enum:
                        - Generalized
                        - Specialized
                        x-ms-enum:
                          name: OsState
                          modelAsString: false
                          values:
                          - value: Generalized
                            description: Image does not contain any machine and user
                              specific information.
                          - value: Specialized
                            description: Image contains machine and user specific
                              information.
                    description: Properties of an image resource update
                    required:
                    - enabledState
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    ImageNameParameter:
      name: imageName
      in: path
      required: true
      description: The image name.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
        pattern: ^[-\w\\._\\(\\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    LabPlanNameParameter:
      name: labPlanName
      in: path
      required: true
      description: The name of the lab plan that uniquely identifies it within containing
        resource group. Used in resource URIs and in UI.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Image:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        systemData:
          description: Metadata pertaining to creation and last modification of the
            image.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          type: object
          properties:
            enabledState:
              description: Is the image enabled
              default: Disabled
              type: string
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: EnableState
                modelAsString: false
            provisioningState:
              description: Current provisioning state of the image.
              readOnly: true
              type: string
              enum:
              - Creating
              - Updating
              - Deleting
              - Succeeded
              - Failed
              - Locked
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
                values:
                - value: Creating
                  description: Resource is in the process of being created.
                - value: Updating
                  description: New property values are being applied to the resource.
                - value: Deleting
                  description: Resource is in the process of being deleted.
                - value: Succeeded
                  description: Resource is in healthy state after creation or update
                    operation.
                - value: Failed
                  description: Previous operation on the resource has failed leaving
                    resource in unhealthy state.
                - value: Locked
                  description: The resource is locked and changes are currently blocked.
                    This could be due to maintenance or a scheduled operation. The
                    state will go back to succeeded once the locking operation has
                    finished.
            displayName:
              description: The image display name.
              type: string
              readOnly: true
            description:
              description: A description of the image.
              type: string
              readOnly: true
            iconUrl:
              description: URL of the image icon.
              type: string
              readOnly: true
            author:
              description: The image author.
              type: string
              readOnly: true
            osType:
              description: The OS Type of the image.
              readOnly: true
              type: string
              enum:
              - Windows
              - Linux
              x-ms-enum:
                name: OsType
                modelAsString: false
            plan:
              description: The ID of marketplace plan associated with the image (optional).
              type: string
              readOnly: true
            termsStatus:
              description: The status of image terms of use (enabled = accepted, disabled
                = not accepted).
              readOnly: true
              type: string
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: EnableState
                modelAsString: false
            offer:
              description: The ID of an offer associated with the image.
              type: string
              readOnly: true
            publisher:
              description: The ID of the publisher of the image.
              type: string
              readOnly: true
            sku:
              description: The image SKU.
              type: string
              readOnly: true
            version:
              description: The image version.
              type: string
              readOnly: true
            sharedGalleryId:
              description: The ID for the image in the shared gallery.
              readOnly: true
              type: string
              minLength: 3
              maxLength: 2000
            availableRegions:
              description: The available regions of the image in the shared gallery.
              type: array
              items:
                type: string
            osState:
              description: The OS State of the image.
              readOnly: true
              type: string
              enum:
              - Generalized
              - Specialized
              x-ms-enum:
                name: OsState
                modelAsString: false
                values:
                - value: Generalized
                  description: Image does not contain any machine and user specific
                    information.
                - value: Specialized
                  description: Image contains machine and user specific information.
          description: Properties of an image resource update
          required:
          - enabledState
          x-ms-client-flatten: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    PagedImages:
      description: Paged list of Lab services virtual machine images.
      type: object
      properties:
        value:
          description: The array page of virtual machine images.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              systemData:
                description: Metadata pertaining to creation and last modification
                  of the image.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                type: object
                properties:
                  enabledState:
                    description: Is the image enabled
                    default: Disabled
                    type: string
                    enum:
                    - Enabled
                    - Disabled
                    x-ms-enum:
                      name: EnableState
                      modelAsString: false
                  provisioningState:
                    description: Current provisioning state of the image.
                    readOnly: true
                    type: string
                    enum:
                    - Creating
                    - Updating
                    - Deleting
                    - Succeeded
                    - Failed
                    - Locked
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: false
                      values:
                      - value: Creating
                        description: Resource is in the process of being created.
                      - value: Updating
                        description: New property values are being applied to the
                          resource.
                      - value: Deleting
                        description: Resource is in the process of being deleted.
                      - value: Succeeded
                        description: Resource is in healthy state after creation or
                          update operation.
                      - value: Failed
                        description: Previous operation on the resource has failed
                          leaving resource in unhealthy state.
                      - value: Locked
                        description: The resource is locked and changes are currently
                          blocked. This could be due to maintenance or a scheduled
                          operation. The state will go back to succeeded once the
                          locking operation has finished.
                  displayName:
                    description: The image display name.
                    type: string
                    readOnly: true
                  description:
                    description: A description of the image.
                    type: string
                    readOnly: true
                  iconUrl:
                    description: URL of the image icon.
                    type: string
                    readOnly: true
                  author:
                    description: The image author.
                    type: string
                    readOnly: true
                  osType:
                    description: The OS Type of the image.
                    readOnly: true
                    type: string
                    enum:
                    - Windows
                    - Linux
                    x-ms-enum:
                      name: OsType
                      modelAsString: false
                  plan:
                    description: The ID of marketplace plan associated with the image
                      (optional).
                    type: string
                    readOnly: true
                  termsStatus:
                    description: The status of image terms of use (enabled = accepted,
                      disabled = not accepted).
                    readOnly: true
                    type: string
                    enum:
                    - Enabled
                    - Disabled
                    x-ms-enum:
                      name: EnableState
                      modelAsString: false
                  offer:
                    description: The ID of an offer associated with the image.
                    type: string
                    readOnly: true
                  publisher:
                    description: The ID of the publisher of the image.
                    type: string
                    readOnly: true
                  sku:
                    description: The image SKU.
                    type: string
                    readOnly: true
                  version:
                    description: The image version.
                    type: string
                    readOnly: true
                  sharedGalleryId:
                    description: The ID for the image in the shared gallery.
                    readOnly: true
                    type: string
                    minLength: 3
                    maxLength: 2000
                  availableRegions:
                    description: The available regions of the image in the shared
                      gallery.
                    type: array
                    items:
                      type: string
                  osState:
                    description: The OS State of the image.
                    readOnly: true
                    type: string
                    enum:
                    - Generalized
                    - Specialized
                    x-ms-enum:
                      name: OsState
                      modelAsString: false
                      values:
                      - value: Generalized
                        description: Image does not contain any machine and user specific
                          information.
                      - value: Specialized
                        description: Image contains machine and user specific information.
                description: Properties of an image resource update
                required:
                - enabledState
                x-ms-client-flatten: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - properties
          readOnly: true
        nextLink:
          description: The link to get the next page of image results.
          type: string
          readOnly: true
    ImageUpdate:
      description: Lab services virtual machine image for updates.
      type: object
      properties:
        properties:
          description: Image resource properties
          x-ms-client-flatten: true
          type: object
          properties:
            enabledState:
              description: Is the image enabled
              default: Disabled
              type: string
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: EnableState
                modelAsString: false
    ImageUpdateProperties:
      description: Properties of an image resource update
      type: object
      properties:
        enabledState:
          description: Is the image enabled
          default: Disabled
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: EnableState
            modelAsString: false
    ImageProperties:
      type: object
      properties:
        enabledState:
          description: Is the image enabled
          default: Disabled
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: EnableState
            modelAsString: false
        provisioningState:
          description: Current provisioning state of the image.
          readOnly: true
          type: string
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Locked
          x-ms-enum:
            name: ProvisioningState
            modelAsString: false
            values:
            - value: Creating
              description: Resource is in the process of being created.
            - value: Updating
              description: New property values are being applied to the resource.
            - value: Deleting
              description: Resource is in the process of being deleted.
            - value: Succeeded
              description: Resource is in healthy state after creation or update operation.
            - value: Failed
              description: Previous operation on the resource has failed leaving resource
                in unhealthy state.
            - value: Locked
              description: The resource is locked and changes are currently blocked.
                This could be due to maintenance or a scheduled operation. The state
                will go back to succeeded once the locking operation has finished.
        displayName:
          description: The image display name.
          type: string
          readOnly: true
        description:
          description: A description of the image.
          type: string
          readOnly: true
        iconUrl:
          description: URL of the image icon.
          type: string
          readOnly: true
        author:
          description: The image author.
          type: string
          readOnly: true
        osType:
          description: The OS Type of the image.
          readOnly: true
          type: string
          enum:
          - Windows
          - Linux
          x-ms-enum:
            name: OsType
            modelAsString: false
        plan:
          description: The ID of marketplace plan associated with the image (optional).
          type: string
          readOnly: true
        termsStatus:
          description: The status of image terms of use (enabled = accepted, disabled
            = not accepted).
          readOnly: true
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: EnableState
            modelAsString: false
        offer:
          description: The ID of an offer associated with the image.
          type: string
          readOnly: true
        publisher:
          description: The ID of the publisher of the image.
          type: string
          readOnly: true
        sku:
          description: The image SKU.
          type: string
          readOnly: true
        version:
          description: The image version.
          type: string
          readOnly: true
        sharedGalleryId:
          description: The ID for the image in the shared gallery.
          readOnly: true
          type: string
          minLength: 3
          maxLength: 2000
        availableRegions:
          description: The available regions of the image in the shared gallery.
          type: array
          items:
            type: string
        osState:
          description: The OS State of the image.
          readOnly: true
          type: string
          enum:
          - Generalized
          - Specialized
          x-ms-enum:
            name: OsState
            modelAsString: false
            values:
            - value: Generalized
              description: Image does not contain any machine and user specific information.
            - value: Specialized
              description: Image contains machine and user specific information.
      description: Properties of an image resource update
      required:
      - enabledState
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
[...]
