openapi: 3.0.0
info:
  version: 2023-06-07
  title: LabServicesClient
  description: REST API for managing Azure Lab Services lab plans.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labPlans:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - in: query
      name: $filter
      description: The filter to apply to the operation.
      schema:
        type: string
    get:
      tags:
      - LabPlan
      summary: Get all lab plans for a subscription.
      description: Returns a list of all lab plans within a subscription
      operationId: LabPlans_ListBySubscription
      responses:
        '200':
          description: The request was successful; response contains all Lab Plans
            for the given subscription.
          content:
            application/json:
              schema:
                description: Paged list of lab plans.
                type: object
                properties:
                  value:
                    description: The array page of lab plans.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the lab plan.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            defaultConnectionProfile:
                              description: The default lab connection profile. This
                                can be changed on a lab resource and only provides
                                a default profile.
                              type: object
                              properties:
                                webSshAccess:
                                  description: The enabled access level for Web Access
                                    over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                webRdpAccess:
                                  description: The enabled access level for Web Access
                                    over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientSshAccess:
                                  description: The enabled access level for Client
                                    Access over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientRdpAccess:
                                  description: The enabled access level for Client
                                    Access over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                            defaultAutoShutdownProfile:
                              description: The default lab shutdown profile. This
                                can be changed on a lab resource and only provides
                                a default profile.
                              type: object
                              properties:
                                shutdownOnDisconnect:
                                  description: Whether shutdown on disconnect is enabled
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownWhenNotConnected:
                                  description: Whether a VM will get shutdown when
                                    it hasn't been connected to after a period of
                                    time.
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownOnIdle:
                                  description: Whether a VM will get shutdown when
                                    it has idled for a period of time.
                                  default: None
                                  type: string
                                  enum:
                                  - None
                                  - UserAbsence
                                  - LowUsage
                                  x-ms-enum:
                                    name: shutdownOnIdleMode
                                    modelAsString: false
                                    values:
                                    - value: None
                                      description: The VM won't be shut down when
                                        it is idle.
                                    - value: UserAbsence
                                      description: The VM will be considered as idle
                                        when there is no keyboard or mouse input.
                                    - value: LowUsage
                                      description: The VM will be considered as idle
                                        when user is absent and the resource (CPU
                                        and disk) consumption is low.
                                disconnectDelay:
                                  description: The amount of time a VM will stay running
                                    after a user disconnects if this behavior is enabled.
                                  type: string
                                  format: duration
                                noConnectDelay:
                                  description: The amount of time a VM will stay running
                                    before it is shutdown if no connection is made
                                    and this behavior is enabled.
                                  type: string
                                  format: duration
                                idleDelay:
                                  description: The amount of time a VM will idle before
                                    it is shutdown if this behavior is enabled.
                                  type: string
                                  format: duration
                            defaultNetworkProfile:
                              description: The lab plan network profile. To enforce
                                lab network policies they must be defined here and
                                cannot be changed when there are existing labs associated
                                with this lab plan.
                              type: object
                              properties:
                                subnetId:
                                  description: The external subnet resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                            allowedRegions:
                              description: The allowed regions for the lab creator
                                to use when creating labs using this lab plan.
                              type: array
                              items:
                                type: string
                            sharedGalleryId:
                              description: Resource ID of the Shared Image Gallery
                                attached to this lab plan. When saving a lab template
                                virtual machine image it will be persisted in this
                                gallery. Shared images from the gallery can be made
                                available to use when creating new labs.
                              type: string
                              minLength: 3
                              maxLength: 2000
                            supportInfo:
                              description: Support contact information and instructions
                                for users of the lab plan. This information is displayed
                                to lab owners and virtual machine users for all labs
                                in the lab plan.
                              type: object
                              properties:
                                url:
                                  description: Support web address.
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                email:
                                  description: Support contact email address.
                                  type: string
                                  minLength: 6
                                  maxLength: 254
                                phone:
                                  description: Support contact phone number.
                                  type: string
                                  minLength: 1
                                  maxLength: 31
                                instructions:
                                  description: Support instructions.
                                  type: string
                            linkedLmsInstance:
                              description: Base Url of the lms instance this lab plan
                                can link lab rosters against.
                              type: string
                              minLength: 3
                              maxLength: 2000
                            provisioningState:
                              description: Current provisioning state of the lab plan.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Locked
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                                values:
                                - value: Creating
                                  description: Resource is in the process of being
                                    created.
                                - value: Updating
                                  description: New property values are being applied
                                    to the resource.
                                - value: Deleting
                                  description: Resource is in the process of being
                                    deleted.
                                - value: Succeeded
                                  description: Resource is in healthy state after
                                    creation or update operation.
                                - value: Failed
                                  description: Previous operation on the resource
                                    has failed leaving resource in unhealthy state.
                                - value: Locked
                                  description: The resource is locked and changes
                                    are currently blocked. This could be due to maintenance
                                    or a scheduled operation. The state will go back
                                    to succeeded once the locking operation has finished.
                            resourceOperationError:
                              description: Error details of last operation done on
                                lab plan.
                              readOnly: true
                              type: object
                              properties:
                                timestamp:
                                  description: The datetime of when the error occured
                                  type: string
                                  format: date-time
                                code:
                                  description: The code that corresponds to the type
                                    of operation failure
                                  type: string
                                message:
                                  description: The operation failure message
                                  type: string
                                action:
                                  description: The operation action that failed
                                  type: string
                          description: Lab plan resource properties for updates
                          x-ms-client-flatten: true
                        identity:
                          description: Managed Identity Information
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of lab plan results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    get:
      tags:
      - LabPlan
      summary: Get all lab plans for a subscription and resource group.
      description: Returns a list of all lab plans for a subscription and resource
        group.
      operationId: LabPlans_ListByResourceGroup
      responses:
        '200':
          description: The request was successful; response contains all Lab Plans
            for the given subscription.
          content:
            application/json:
              schema:
                description: Paged list of lab plans.
                type: object
                properties:
                  value:
                    description: The array page of lab plans.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the lab plan.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            defaultConnectionProfile:
                              description: The default lab connection profile. This
                                can be changed on a lab resource and only provides
                                a default profile.
                              type: object
                              properties:
                                webSshAccess:
                                  description: The enabled access level for Web Access
                                    over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                webRdpAccess:
                                  description: The enabled access level for Web Access
                                    over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientSshAccess:
                                  description: The enabled access level for Client
                                    Access over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientRdpAccess:
                                  description: The enabled access level for Client
                                    Access over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                            defaultAutoShutdownProfile:
                              description: The default lab shutdown profile. This
                                can be changed on a lab resource and only provides
                                a default profile.
                              type: object
                              properties:
                                shutdownOnDisconnect:
                                  description: Whether shutdown on disconnect is enabled
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownWhenNotConnected:
                                  description: Whether a VM will get shutdown when
                                    it hasn't been connected to after a period of
                                    time.
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownOnIdle:
                                  description: Whether a VM will get shutdown when
                                    it has idled for a period of time.
                                  default: None
                                  type: string
                                  enum:
                                  - None
                                  - UserAbsence
                                  - LowUsage
                                  x-ms-enum:
                                    name: shutdownOnIdleMode
                                    modelAsString: false
                                    values:
                                    - value: None
                                      description: The VM won't be shut down when
                                        it is idle.
                                    - value: UserAbsence
                                      description: The VM will be considered as idle
                                        when there is no keyboard or mouse input.
                                    - value: LowUsage
                                      description: The VM will be considered as idle
                                        when user is absent and the resource (CPU
                                        and disk) consumption is low.
                                disconnectDelay:
                                  description: The amount of time a VM will stay running
                                    after a user disconnects if this behavior is enabled.
                                  type: string
                                  format: duration
                                noConnectDelay:
                                  description: The amount of time a VM will stay running
                                    before it is shutdown if no connection is made
                                    and this behavior is enabled.
                                  type: string
                                  format: duration
                                idleDelay:
                                  description: The amount of time a VM will idle before
                                    it is shutdown if this behavior is enabled.
                                  type: string
                                  format: duration
                            defaultNetworkProfile:
                              description: The lab plan network profile. To enforce
                                lab network policies they must be defined here and
                                cannot be changed when there are existing labs associated
                                with this lab plan.
                              type: object
                              properties:
                                subnetId:
                                  description: The external subnet resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                            allowedRegions:
                              description: The allowed regions for the lab creator
                                to use when creating labs using this lab plan.
                              type: array
                              items:
                                type: string
                            sharedGalleryId:
                              description: Resource ID of the Shared Image Gallery
                                attached to this lab plan. When saving a lab template
                                virtual machine image it will be persisted in this
                                gallery. Shared images from the gallery can be made
                                available to use when creating new labs.
                              type: string
                              minLength: 3
                              maxLength: 2000
                            supportInfo:
                              description: Support contact information and instructions
                                for users of the lab plan. This information is displayed
                                to lab owners and virtual machine users for all labs
                                in the lab plan.
                              type: object
                              properties:
                                url:
                                  description: Support web address.
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                email:
                                  description: Support contact email address.
                                  type: string
                                  minLength: 6
                                  maxLength: 254
                                phone:
                                  description: Support contact phone number.
                                  type: string
                                  minLength: 1
                                  maxLength: 31
                                instructions:
                                  description: Support instructions.
                                  type: string
                            linkedLmsInstance:
                              description: Base Url of the lms instance this lab plan
                                can link lab rosters against.
                              type: string
                              minLength: 3
                              maxLength: 2000
                            provisioningState:
                              description: Current provisioning state of the lab plan.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Locked
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                                values:
                                - value: Creating
                                  description: Resource is in the process of being
                                    created.
                                - value: Updating
                                  description: New property values are being applied
                                    to the resource.
                                - value: Deleting
                                  description: Resource is in the process of being
                                    deleted.
                                - value: Succeeded
                                  description: Resource is in healthy state after
                                    creation or update operation.
                                - value: Failed
                                  description: Previous operation on the resource
                                    has failed leaving resource in unhealthy state.
                                - value: Locked
                                  description: The resource is locked and changes
                                    are currently blocked. This could be due to maintenance
                                    or a scheduled operation. The state will go back
                                    to succeeded once the locking operation has finished.
                            resourceOperationError:
                              description: Error details of last operation done on
                                lab plan.
                              readOnly: true
                              type: object
                              properties:
                                timestamp:
                                  description: The datetime of when the error occured
                                  type: string
                                  format: date-time
                                code:
                                  description: The code that corresponds to the type
                                    of operation failure
                                  type: string
                                message:
                                  description: The operation failure message
                                  type: string
                                action:
                                  description: The operation action that failed
                                  type: string
                          description: Lab plan resource properties for updates
                          x-ms-client-flatten: true
                        identity:
                          description: Managed Identity Information
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of lab plan results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: labPlanName
      in: path
      required: true
      description: The name of the lab plan that uniquely identifies it within containing
        resource group. Used in resource URIs and in UI.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
    get:
      tags:
      - LabPlan
      summary: Retrieves a Lab Plan resource.
      description: Retrieves the properties of a Lab Plan.
      operationId: LabPlans_Get
      responses:
        '200':
          description: The request was successful; response contains the Lab Plan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the lab plan.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      defaultConnectionProfile:
                        description: The default lab connection profile. This can
                          be changed on a lab resource and only provides a default
                          profile.
                        type: object
                        properties:
                          webSshAccess:
                            description: The enabled access level for Web Access over
                              SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          webRdpAccess:
                            description: The enabled access level for Web Access over
                              RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientSshAccess:
                            description: The enabled access level for Client Access
                              over SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientRdpAccess:
                            description: The enabled access level for Client Access
                              over RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                      defaultAutoShutdownProfile:
                        description: The default lab shutdown profile. This can be
                          changed on a lab resource and only provides a default profile.
                        type: object
                        properties:
                          shutdownOnDisconnect:
                            description: Whether shutdown on disconnect is enabled
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownWhenNotConnected:
                            description: Whether a VM will get shutdown when it hasn't
                              been connected to after a period of time.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownOnIdle:
                            description: Whether a VM will get shutdown when it has
                              idled for a period of time.
                            default: None
                            type: string
                            enum:
                            - None
                            - UserAbsence
                            - LowUsage
                            x-ms-enum:
                              name: shutdownOnIdleMode
                              modelAsString: false
                              values:
                              - value: None
                                description: The VM won't be shut down when it is
                                  idle.
                              - value: UserAbsence
                                description: The VM will be considered as idle when
                                  there is no keyboard or mouse input.
                              - value: LowUsage
                                description: The VM will be considered as idle when
                                  user is absent and the resource (CPU and disk) consumption
                                  is low.
                          disconnectDelay:
                            description: The amount of time a VM will stay running
                              after a user disconnects if this behavior is enabled.
                            type: string
                            format: duration
                          noConnectDelay:
                            description: The amount of time a VM will stay running
                              before it is shutdown if no connection is made and this
                              behavior is enabled.
                            type: string
                            format: duration
                          idleDelay:
                            description: The amount of time a VM will idle before
                              it is shutdown if this behavior is enabled.
                            type: string
                            format: duration
                      defaultNetworkProfile:
                        description: The lab plan network profile. To enforce lab
                          network policies they must be defined here and cannot be
                          changed when there are existing labs associated with this
                          lab plan.
                        type: object
                        properties:
                          subnetId:
                            description: The external subnet resource id
                            type: string
                            minLength: 3
                            maxLength: 2000
                      allowedRegions:
                        description: The allowed regions for the lab creator to use
                          when creating labs using this lab plan.
                        type: array
                        items:
                          type: string
                      sharedGalleryId:
                        description: Resource ID of the Shared Image Gallery attached
                          to this lab plan. When saving a lab template virtual machine
                          image it will be persisted in this gallery. Shared images
                          from the gallery can be made available to use when creating
                          new labs.
                        type: string
                        minLength: 3
                        maxLength: 2000
                      supportInfo:
                        description: Support contact information and instructions
                          for users of the lab plan. This information is displayed
                          to lab owners and virtual machine users for all labs in
                          the lab plan.
                        type: object
                        properties:
                          url:
                            description: Support web address.
                            type: string
                            minLength: 3
                            maxLength: 2000
                          email:
                            description: Support contact email address.
                            type: string
                            minLength: 6
                            maxLength: 254
                          phone:
                            description: Support contact phone number.
                            type: string
                            minLength: 1
                            maxLength: 31
                          instructions:
                            description: Support instructions.
                            type: string
                      linkedLmsInstance:
                        description: Base Url of the lms instance this lab plan can
                          link lab rosters against.
                        type: string
                        minLength: 3
                        maxLength: 2000
                      provisioningState:
                        description: Current provisioning state of the lab plan.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Locked
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: Creating
                            description: Resource is in the process of being created.
                          - value: Updating
                            description: New property values are being applied to
                              the resource.
                          - value: Deleting
                            description: Resource is in the process of being deleted.
                          - value: Succeeded
                            description: Resource is in healthy state after creation
                              or update operation.
                          - value: Failed
                            description: Previous operation on the resource has failed
                              leaving resource in unhealthy state.
                          - value: Locked
                            description: The resource is locked and changes are currently
                              blocked. This could be due to maintenance or a scheduled
                              operation. The state will go back to succeeded once
                              the locking operation has finished.
                      resourceOperationError:
                        description: Error details of last operation done on lab plan.
                        readOnly: true
                        type: object
                        properties:
                          timestamp:
                            description: The datetime of when the error occured
                            type: string
                            format: date-time
                          code:
                            description: The code that corresponds to the type of
                              operation failure
                            type: string
                          message:
                            description: The operation failure message
                            type: string
                          action:
                            description: The operation action that failed
                            type: string
                    description: Lab plan resource properties for updates
                    x-ms-client-flatten: true
                  identity:
                    description: Managed Identity Information
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - LabPlan
      summary: Updates or creates a Lab Plan resource.
      description: Operation to create or update a Lab Plan resource.
      operationId: LabPlans_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the lab plan.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  type: object
                  properties:
                    defaultConnectionProfile:
                      description: The default lab connection profile. This can be
                        changed on a lab resource and only provides a default profile.
                      type: object
                      properties:
                        webSshAccess:
                          description: The enabled access level for Web Access over
                            SSH.
                          default: None
                          type: string
                          enum:
                          - Public
                          - Private
                          - None
                          x-ms-enum:
                            name: ConnectionType
                            modelAsString: false
                        webRdpAccess:
                          description: The enabled access level for Web Access over
                            RDP.
                          default: None
                          type: string
                          enum:
                          - Public
                          - Private
                          - None
                          x-ms-enum:
                            name: ConnectionType
                            modelAsString: false
                        clientSshAccess:
                          description: The enabled access level for Client Access
                            over SSH.
                          default: None
                          type: string
                          enum:
                          - Public
                          - Private
                          - None
                          x-ms-enum:
                            name: ConnectionType
                            modelAsString: false
                        clientRdpAccess:
                          description: The enabled access level for Client Access
                            over RDP.
                          default: None
                          type: string
                          enum:
                          - Public
                          - Private
                          - None
                          x-ms-enum:
                            name: ConnectionType
                            modelAsString: false
                    defaultAutoShutdownProfile:
                      description: The default lab shutdown profile. This can be changed
                        on a lab resource and only provides a default profile.
                      type: object
                      properties:
                        shutdownOnDisconnect:
                          description: Whether shutdown on disconnect is enabled
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableState
                            modelAsString: false
                        shutdownWhenNotConnected:
                          description: Whether a VM will get shutdown when it hasn't
                            been connected to after a period of time.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableState
                            modelAsString: false
                        shutdownOnIdle:
                          description: Whether a VM will get shutdown when it has
                            idled for a period of time.
                          default: None
                          type: string
                          enum:
                          - None
                          - UserAbsence
                          - LowUsage
                          x-ms-enum:
                            name: shutdownOnIdleMode
                            modelAsString: false
                            values:
                            - value: None
                              description: The VM won't be shut down when it is idle.
                            - value: UserAbsence
                              description: The VM will be considered as idle when
                                there is no keyboard or mouse input.
                            - value: LowUsage
                              description: The VM will be considered as idle when
                                user is absent and the resource (CPU and disk) consumption
                                is low.
                        disconnectDelay:
                          description: The amount of time a VM will stay running after
                            a user disconnects if this behavior is enabled.
                          type: string
                          format: duration
                        noConnectDelay:
                          description: The amount of time a VM will stay running before
                            it is shutdown if no connection is made and this behavior
                            is enabled.
                          type: string
                          format: duration
                        idleDelay:
                          description: The amount of time a VM will idle before it
                            is shutdown if this behavior is enabled.
                          type: string
                          format: duration
                    defaultNetworkProfile:
                      description: The lab plan network profile. To enforce lab network
                        policies they must be defined here and cannot be changed when
                        there are existing labs associated with this lab plan.
                      type: object
                      properties:
                        subnetId:
                          description: The external subnet resource id
                          type: string
                          minLength: 3
                          maxLength: 2000
                    allowedRegions:
                      description: The allowed regions for the lab creator to use
                        when creating labs using this lab plan.
                      type: array
                      items:
                        type: string
                    sharedGalleryId:
                      description: Resource ID of the Shared Image Gallery attached
                        to this lab plan. When saving a lab template virtual machine
                        image it will be persisted in this gallery. Shared images
                        from the gallery can be made available to use when creating
                        new labs.
                      type: string
                      minLength: 3
                      maxLength: 2000
                    supportInfo:
                      description: Support contact information and instructions for
                        users of the lab plan. This information is displayed to lab
                        owners and virtual machine users for all labs in the lab plan.
                      type: object
                      properties:
                        url:
                          description: Support web address.
                          type: string
                          minLength: 3
                          maxLength: 2000
                        email:
                          description: Support contact email address.
                          type: string
                          minLength: 6
                          maxLength: 254
                        phone:
                          description: Support contact phone number.
                          type: string
                          minLength: 1
                          maxLength: 31
                        instructions:
                          description: Support instructions.
                          type: string
                    linkedLmsInstance:
                      description: Base Url of the lms instance this lab plan can
                        link lab rosters against.
                      type: string
                      minLength: 3
                      maxLength: 2000
                    provisioningState:
                      description: Current provisioning state of the lab plan.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Locked
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: false
                        values:
                        - value: Creating
                          description: Resource is in the process of being created.
                        - value: Updating
                          description: New property values are being applied to the
                            resource.
                        - value: Deleting
                          description: Resource is in the process of being deleted.
                        - value: Succeeded
                          description: Resource is in healthy state after creation
                            or update operation.
                        - value: Failed
                          description: Previous operation on the resource has failed
                            leaving resource in unhealthy state.
                        - value: Locked
                          description: The resource is locked and changes are currently
                            blocked. This could be due to maintenance or a scheduled
                            operation. The state will go back to succeeded once the
                            locking operation has finished.
                    resourceOperationError:
                      description: Error details of last operation done on lab plan.
                      readOnly: true
                      type: object
                      properties:
                        timestamp:
                          description: The datetime of when the error occured
                          type: string
                          format: date-time
                        code:
                          description: The code that corresponds to the type of operation
                            failure
                          type: string
                        message:
                          description: The operation failure message
                          type: string
                        action:
                          description: The operation action that failed
                          type: string
                  description: Lab plan resource properties for updates
                  x-ms-client-flatten: true
                identity:
                  description: Managed Identity Information
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The request body.
        required: true
      responses:
        '200':
          description: The update was successful; response contains the Lab Plan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the lab plan.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      defaultConnectionProfile:
                        description: The default lab connection profile. This can
                          be changed on a lab resource and only provides a default
                          profile.
                        type: object
                        properties:
                          webSshAccess:
                            description: The enabled access level for Web Access over
                              SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          webRdpAccess:
                            description: The enabled access level for Web Access over
                              RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientSshAccess:
                            description: The enabled access level for Client Access
                              over SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientRdpAccess:
                            description: The enabled access level for Client Access
                              over RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                      defaultAutoShutdownProfile:
                        description: The default lab shutdown profile. This can be
                          changed on a lab resource and only provides a default profile.
                        type: object
                        properties:
                          shutdownOnDisconnect:
                            description: Whether shutdown on disconnect is enabled
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownWhenNotConnected:
                            description: Whether a VM will get shutdown when it hasn't
                              been connected to after a period of time.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownOnIdle:
                            description: Whether a VM will get shutdown when it has
                              idled for a period of time.
                            default: None
                            type: string
                            enum:
                            - None
                            - UserAbsence
                            - LowUsage
                            x-ms-enum:
                              name: shutdownOnIdleMode
                              modelAsString: false
                              values:
                              - value: None
                                description: The VM won't be shut down when it is
                                  idle.
                              - value: UserAbsence
                                description: The VM will be considered as idle when
                                  there is no keyboard or mouse input.
                              - value: LowUsage
                                description: The VM will be considered as idle when
                                  user is absent and the resource (CPU and disk) consumption
                                  is low.
                          disconnectDelay:
                            description: The amount of time a VM will stay running
                              after a user disconnects if this behavior is enabled.
                            type: string
                            format: duration
                          noConnectDelay:
                            description: The amount of time a VM will stay running
                              before it is shutdown if no connection is made and this
                              behavior is enabled.
                            type: string
                            format: duration
                          idleDelay:
                            description: The amount of time a VM will idle before
                              it is shutdown if this behavior is enabled.
                            type: string
                            format: duration
                      defaultNetworkProfile:
                        description: The lab plan network profile. To enforce lab
                          network policies they must be defined here and cannot be
                          changed when there are existing labs associated with this
                          lab plan.
                        type: object
                        properties:
                          subnetId:
                            description: The external subnet resource id
                            type: string
                            minLength: 3
                            maxLength: 2000
                      allowedRegions:
                        description: The allowed regions for the lab creator to use
                          when creating labs using this lab plan.
                        type: array
                        items:
                          type: string
                      sharedGalleryId:
                        description: Resource ID of the Shared Image Gallery attached
                          to this lab plan. When saving a lab template virtual machine
                          image it will be persisted in this gallery. Shared images
                          from the gallery can be made available to use when creating
                          new labs.
                        type: string
                        minLength: 3
                        maxLength: 2000
                      supportInfo:
                        description: Support contact information and instructions
                          for users of the lab plan. This information is displayed
                          to lab owners and virtual machine users for all labs in
                          the lab plan.
                        type: object
                        properties:
                          url:
                            description: Support web address.
                            type: string
                            minLength: 3
                            maxLength: 2000
                          email:
                            description: Support contact email address.
[...]
