openapi: 3.0.0
info:
  version: 2023-06-07
  title: LabServicesClient
  description: REST API for managing Azure Lab Services labs.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labs:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - in: query
      name: $filter
      description: The filter to apply to the operation.
      schema:
        type: string
    get:
      tags:
      - Lab
      summary: Get all labs for a subscription.
      description: Returns a list of all labs for a subscription.
      operationId: Labs_ListBySubscription
      responses:
        '200':
          description: The request was successful; response contains all Labs for
            the given subscription.
          content:
            application/json:
              schema:
                description: Paged list of labs.
                type: object
                properties:
                  value:
                    description: The array page of lab results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the lab.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            autoShutdownProfile:
                              description: The resource auto shutdown configuration
                                for the lab. This controls whether actions are taken
                                on resources that are sitting idle.
                              type: object
                              properties:
                                shutdownOnDisconnect:
                                  description: Whether shutdown on disconnect is enabled
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownWhenNotConnected:
                                  description: Whether a VM will get shutdown when
                                    it hasn't been connected to after a period of
                                    time.
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownOnIdle:
                                  description: Whether a VM will get shutdown when
                                    it has idled for a period of time.
                                  default: None
                                  type: string
                                  enum:
                                  - None
                                  - UserAbsence
                                  - LowUsage
                                  x-ms-enum:
                                    name: shutdownOnIdleMode
                                    modelAsString: false
                                    values:
                                    - value: None
                                      description: The VM won't be shut down when
                                        it is idle.
                                    - value: UserAbsence
                                      description: The VM will be considered as idle
                                        when there is no keyboard or mouse input.
                                    - value: LowUsage
                                      description: The VM will be considered as idle
                                        when user is absent and the resource (CPU
                                        and disk) consumption is low.
                                disconnectDelay:
                                  description: The amount of time a VM will stay running
                                    after a user disconnects if this behavior is enabled.
                                  type: string
                                  format: duration
                                noConnectDelay:
                                  description: The amount of time a VM will stay running
                                    before it is shutdown if no connection is made
                                    and this behavior is enabled.
                                  type: string
                                  format: duration
                                idleDelay:
                                  description: The amount of time a VM will idle before
                                    it is shutdown if this behavior is enabled.
                                  type: string
                                  format: duration
                            connectionProfile:
                              description: The connection profile for the lab. This
                                controls settings such as web access to lab resources
                                or whether RDP or SSH ports are open.
                              type: object
                              properties:
                                webSshAccess:
                                  description: The enabled access level for Web Access
                                    over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                webRdpAccess:
                                  description: The enabled access level for Web Access
                                    over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientSshAccess:
                                  description: The enabled access level for Client
                                    Access over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientRdpAccess:
                                  description: The enabled access level for Client
                                    Access over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                            virtualMachineProfile:
                              description: The profile used for creating lab virtual
                                machines.
                              type: object
                              properties:
                                createOption:
                                  description: Indicates what lab virtual machines
                                    are created from.
                                  type: string
                                  enum:
                                  - Image
                                  - TemplateVM
                                  x-ms-enum:
                                    name: CreateOption
                                    modelAsString: false
                                    values:
                                    - value: Image
                                      description: An image is used to create all
                                        lab user virtual machines. When this option
                                        is set, no template VM will be created.
                                    - value: TemplateVM
                                      description: A template VM will be used to create
                                        all lab user virtual machines.
                                  x-ms-mutability:
                                  - read
                                  - create
                                imageReference:
                                  description: The image configuration for lab virtual
                                    machines.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    id:
                                      description: Image resource ID
                                      type: string
                                      minLength: 3
                                      maxLength: 2000
                                    offer:
                                      description: The image offer if applicable.
                                      type: string
                                    publisher:
                                      description: The image publisher
                                      type: string
                                    sku:
                                      description: The image SKU
                                      type: string
                                    version:
                                      description: The image version specified on
                                        creation.
                                      type: string
                                    exactVersion:
                                      description: The actual version of the image
                                        after use.
                                      type: string
                                      readOnly: true
                                osType:
                                  description: The OS type of the image
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Windows
                                  - Linux
                                  x-ms-enum:
                                    name: OsType
                                    modelAsString: false
                                sku:
                                  description: The SKU for the lab. Defines the type
                                    of virtual machines used in the lab.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the SKU. Ex - P3. It
                                        is typically a letter+number code
                                    tier:
                                      type: string
                                      enum:
                                      - Free
                                      - Basic
                                      - Standard
                                      - Premium
                                      x-ms-enum:
                                        name: SkuTier
                                        modelAsString: false
                                      description: This field is required to be implemented
                                        by the Resource Provider if the service has
                                        more than one tier, but is not required on
                                        a PUT.
                                    size:
                                      type: string
                                      description: 'The SKU size. When the name field
                                        is the combination of tier and some other
                                        value, this would be the standalone code. '
                                    family:
                                      type: string
                                      description: If the service has different generations
                                        of hardware, for the same SKU, then that can
                                        be captured here.
                                    capacity:
                                      type: integer
                                      format: int32
                                      description: If the SKU supports scale out/in
                                        then the capacity integer should be included.
                                        If scale out/in is not possible for the resource
                                        this may be omitted.
                                  required:
                                  - name
                                additionalCapabilities:
                                  description: Additional VM capabilities.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    installGpuDrivers:
                                      description: Flag to pre-install dedicated GPU
                                        drivers.
                                      default: Disabled
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: EnableState
                                        modelAsString: false
                                usageQuota:
                                  description: The initial quota alloted to each lab
                                    user. Must be a time span between 0 and 9999 hours.
                                  type: string
                                  format: duration
                                useSharedPassword:
                                  description: Enabling this option will use the same
                                    password for all user VMs.
                                  default: Disabled
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                adminUser:
                                  description: Credentials for the admin user on the
                                    VM.
                                  type: object
                                  properties:
                                    username:
                                      description: The username to use when signing
                                        in to lab VMs.
                                      type: string
                                      x-ms-mutability:
                                      - read
                                      - create
                                    password:
                                      description: The password for the user. This
                                        is required for the TemplateVM createOption.
                                      type: string
                                      x-ms-secret: true
                                      x-ms-mutability:
                                      - create
                                  required:
                                  - username
                                nonAdminUser:
                                  description: Credentials for the non-admin user
                                    on the VM, if one exists.
                                  type: object
                                  properties:
                                    username:
                                      description: The username to use when signing
                                        in to lab VMs.
                                      type: string
                                      x-ms-mutability:
                                      - read
                                      - create
                                    password:
                                      description: The password for the user. This
                                        is required for the TemplateVM createOption.
                                      type: string
                                      x-ms-secret: true
                                      x-ms-mutability:
                                      - create
                                  required:
                                  - username
                              required:
                              - createOption
                              - imageReference
                              - usageQuota
                              - sku
                              - adminUser
                            securityProfile:
                              description: The lab security profile.
                              type: object
                              properties:
                                registrationCode:
                                  description: The registration code for the lab.
                                  type: string
                                  readOnly: true
                                openAccess:
                                  description: Whether any user or only specified
                                    users can register to a lab.
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                            rosterProfile:
                              description: The lab user list management profile.
                              type: object
                              properties:
                                activeDirectoryGroupId:
                                  description: The AAD group ID which this lab roster
                                    is populated from. Having this set enables AAD
                                    sync mode.
                                  type: string
                                ltiContextId:
                                  description: The unique context identifier for the
                                    lab in the lms.
                                  type: string
                                lmsInstance:
                                  description: The base URI identifying the lms instance.
                                  type: string
                                ltiClientId:
                                  description: The unique id of the azure lab services
                                    tool in the lms.
                                  type: string
                                ltiRosterEndpoint:
                                  description: The uri of the names and roles service
                                    endpoint on the lms for the class attached to
                                    this lab.
                                  type: string
                            labPlanId:
                              description: The ID of the lab plan. Used during resource
                                creation to provide defaults and acts as a permission
                                container when creating a lab via labs.azure.com.
                                Setting a labPlanId on an existing lab provides organization..
                              type: string
                              minLength: 3
                              maxLength: 2000
                            title:
                              description: The title of the lab.
                              type: string
                              minLength: 1
                              maxLength: 120
                            description:
                              description: The description of the lab.
                              type: string
                            provisioningState:
                              description: Current provisioning state of the lab.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Locked
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                                values:
                                - value: Creating
                                  description: Resource is in the process of being
                                    created.
                                - value: Updating
                                  description: New property values are being applied
                                    to the resource.
                                - value: Deleting
                                  description: Resource is in the process of being
                                    deleted.
                                - value: Succeeded
                                  description: Resource is in healthy state after
                                    creation or update operation.
                                - value: Failed
                                  description: Previous operation on the resource
                                    has failed leaving resource in unhealthy state.
                                - value: Locked
                                  description: The resource is locked and changes
                                    are currently blocked. This could be due to maintenance
                                    or a scheduled operation. The state will go back
                                    to succeeded once the locking operation has finished.
                            networkProfile:
                              description: The network profile for the lab, typically
                                applied via a lab plan. This profile cannot be modified
                                once a lab has been created.
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              properties:
                                subnetId:
                                  description: The external subnet resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                loadBalancerId:
                                  description: The external load balancer resource
                                    id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                publicIpId:
                                  description: The external public IP resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                            state:
                              description: The lab state.
                              readOnly: true
                              type: string
                              enum:
                              - Draft
                              - Publishing
                              - Scaling
                              - Syncing
                              - Published
                              x-ms-enum:
                                name: LabState
                                modelAsString: false
                                values:
                                - value: Draft
                                  description: The lab is currently in draft (has
                                    not been published).
                                - value: Publishing
                                  description: The lab is publishing.
                                - value: Scaling
                                  description: The lab is scaling.
                                - value: Syncing
                                  description: The lab is syncing users.
                                - value: Published
                                  description: The lab has been published.
                            resourceOperationError:
                              description: Error details of last operation done on
                                lab.
                              readOnly: true
                              type: object
                              properties:
                                timestamp:
                                  description: The datetime of when the error occured
                                  type: string
                                  format: date-time
                                code:
                                  description: The code that corresponds to the type
                                    of operation failure
                                  type: string
                                message:
                                  description: The operation failure message
                                  type: string
                                action:
                                  description: The operation action that failed
                                  type: string
                          description: Properties of a lab resource used for updates.
                          required:
                          - autoShutdownProfile
                          - connectionProfile
                          - securityProfile
                          - virtualMachineProfile
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of image results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    get:
      tags:
      - Lab
      summary: Get all labs for a subscription and resource group.
      description: Returns a list of all labs in a resource group.
      operationId: Labs_ListByResourceGroup
      responses:
        '200':
          description: The request was successful; response contains all Labs for
            the given subscription and resource group.
          content:
            application/json:
              schema:
                description: Paged list of labs.
                type: object
                properties:
                  value:
                    description: The array page of lab results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the lab.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            autoShutdownProfile:
                              description: The resource auto shutdown configuration
                                for the lab. This controls whether actions are taken
                                on resources that are sitting idle.
                              type: object
                              properties:
                                shutdownOnDisconnect:
                                  description: Whether shutdown on disconnect is enabled
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownWhenNotConnected:
                                  description: Whether a VM will get shutdown when
                                    it hasn't been connected to after a period of
                                    time.
                                  default: Disabled
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                shutdownOnIdle:
                                  description: Whether a VM will get shutdown when
                                    it has idled for a period of time.
                                  default: None
                                  type: string
                                  enum:
                                  - None
                                  - UserAbsence
                                  - LowUsage
                                  x-ms-enum:
                                    name: shutdownOnIdleMode
                                    modelAsString: false
                                    values:
                                    - value: None
                                      description: The VM won't be shut down when
                                        it is idle.
                                    - value: UserAbsence
                                      description: The VM will be considered as idle
                                        when there is no keyboard or mouse input.
                                    - value: LowUsage
                                      description: The VM will be considered as idle
                                        when user is absent and the resource (CPU
                                        and disk) consumption is low.
                                disconnectDelay:
                                  description: The amount of time a VM will stay running
                                    after a user disconnects if this behavior is enabled.
                                  type: string
                                  format: duration
                                noConnectDelay:
                                  description: The amount of time a VM will stay running
                                    before it is shutdown if no connection is made
                                    and this behavior is enabled.
                                  type: string
                                  format: duration
                                idleDelay:
                                  description: The amount of time a VM will idle before
                                    it is shutdown if this behavior is enabled.
                                  type: string
                                  format: duration
                            connectionProfile:
                              description: The connection profile for the lab. This
                                controls settings such as web access to lab resources
                                or whether RDP or SSH ports are open.
                              type: object
                              properties:
                                webSshAccess:
                                  description: The enabled access level for Web Access
                                    over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                webRdpAccess:
                                  description: The enabled access level for Web Access
                                    over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientSshAccess:
                                  description: The enabled access level for Client
                                    Access over SSH.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                                clientRdpAccess:
                                  description: The enabled access level for Client
                                    Access over RDP.
                                  default: None
                                  type: string
                                  enum:
                                  - Public
                                  - Private
                                  - None
                                  x-ms-enum:
                                    name: ConnectionType
                                    modelAsString: false
                            virtualMachineProfile:
                              description: The profile used for creating lab virtual
                                machines.
                              type: object
                              properties:
                                createOption:
                                  description: Indicates what lab virtual machines
                                    are created from.
                                  type: string
                                  enum:
                                  - Image
                                  - TemplateVM
                                  x-ms-enum:
                                    name: CreateOption
                                    modelAsString: false
                                    values:
                                    - value: Image
                                      description: An image is used to create all
                                        lab user virtual machines. When this option
                                        is set, no template VM will be created.
                                    - value: TemplateVM
                                      description: A template VM will be used to create
                                        all lab user virtual machines.
                                  x-ms-mutability:
                                  - read
                                  - create
                                imageReference:
                                  description: The image configuration for lab virtual
                                    machines.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    id:
                                      description: Image resource ID
                                      type: string
                                      minLength: 3
                                      maxLength: 2000
                                    offer:
                                      description: The image offer if applicable.
                                      type: string
                                    publisher:
                                      description: The image publisher
                                      type: string
                                    sku:
                                      description: The image SKU
                                      type: string
                                    version:
                                      description: The image version specified on
                                        creation.
                                      type: string
                                    exactVersion:
                                      description: The actual version of the image
                                        after use.
                                      type: string
                                      readOnly: true
                                osType:
                                  description: The OS type of the image
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Windows
                                  - Linux
                                  x-ms-enum:
                                    name: OsType
                                    modelAsString: false
                                sku:
                                  description: The SKU for the lab. Defines the type
                                    of virtual machines used in the lab.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the SKU. Ex - P3. It
                                        is typically a letter+number code
                                    tier:
                                      type: string
                                      enum:
                                      - Free
                                      - Basic
                                      - Standard
                                      - Premium
                                      x-ms-enum:
                                        name: SkuTier
                                        modelAsString: false
                                      description: This field is required to be implemented
                                        by the Resource Provider if the service has
                                        more than one tier, but is not required on
                                        a PUT.
                                    size:
                                      type: string
                                      description: 'The SKU size. When the name field
                                        is the combination of tier and some other
                                        value, this would be the standalone code. '
                                    family:
                                      type: string
                                      description: If the service has different generations
                                        of hardware, for the same SKU, then that can
                                        be captured here.
                                    capacity:
                                      type: integer
                                      format: int32
                                      description: If the SKU supports scale out/in
                                        then the capacity integer should be included.
                                        If scale out/in is not possible for the resource
                                        this may be omitted.
                                  required:
                                  - name
                                additionalCapabilities:
                                  description: Additional VM capabilities.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    installGpuDrivers:
                                      description: Flag to pre-install dedicated GPU
                                        drivers.
                                      default: Disabled
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: EnableState
                                        modelAsString: false
                                usageQuota:
                                  description: The initial quota alloted to each lab
                                    user. Must be a time span between 0 and 9999 hours.
                                  type: string
                                  format: duration
                                useSharedPassword:
                                  description: Enabling this option will use the same
                                    password for all user VMs.
                                  default: Disabled
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                                adminUser:
                                  description: Credentials for the admin user on the
                                    VM.
                                  type: object
                                  properties:
                                    username:
                                      description: The username to use when signing
                                        in to lab VMs.
                                      type: string
                                      x-ms-mutability:
                                      - read
                                      - create
                                    password:
                                      description: The password for the user. This
                                        is required for the TemplateVM createOption.
                                      type: string
                                      x-ms-secret: true
                                      x-ms-mutability:
                                      - create
                                  required:
                                  - username
                                nonAdminUser:
                                  description: Credentials for the non-admin user
                                    on the VM, if one exists.
                                  type: object
                                  properties:
                                    username:
                                      description: The username to use when signing
                                        in to lab VMs.
                                      type: string
                                      x-ms-mutability:
                                      - read
                                      - create
                                    password:
                                      description: The password for the user. This
                                        is required for the TemplateVM createOption.
                                      type: string
                                      x-ms-secret: true
                                      x-ms-mutability:
                                      - create
                                  required:
                                  - username
                              required:
                              - createOption
                              - imageReference
                              - usageQuota
                              - sku
                              - adminUser
                            securityProfile:
                              description: The lab security profile.
                              type: object
                              properties:
                                registrationCode:
                                  description: The registration code for the lab.
                                  type: string
                                  readOnly: true
                                openAccess:
                                  description: Whether any user or only specified
                                    users can register to a lab.
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: EnableState
                                    modelAsString: false
                            rosterProfile:
                              description: The lab user list management profile.
                              type: object
                              properties:
                                activeDirectoryGroupId:
                                  description: The AAD group ID which this lab roster
                                    is populated from. Having this set enables AAD
                                    sync mode.
                                  type: string
                                ltiContextId:
                                  description: The unique context identifier for the
                                    lab in the lms.
                                  type: string
                                lmsInstance:
                                  description: The base URI identifying the lms instance.
                                  type: string
                                ltiClientId:
                                  description: The unique id of the azure lab services
                                    tool in the lms.
                                  type: string
                                ltiRosterEndpoint:
                                  description: The uri of the names and roles service
                                    endpoint on the lms for the class attached to
                                    this lab.
                                  type: string
                            labPlanId:
                              description: The ID of the lab plan. Used during resource
                                creation to provide defaults and acts as a permission
                                container when creating a lab via labs.azure.com.
                                Setting a labPlanId on an existing lab provides organization..
                              type: string
                              minLength: 3
                              maxLength: 2000
                            title:
                              description: The title of the lab.
                              type: string
                              minLength: 1
                              maxLength: 120
                            description:
                              description: The description of the lab.
                              type: string
                            provisioningState:
                              description: Current provisioning state of the lab.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Locked
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: false
                                values:
                                - value: Creating
                                  description: Resource is in the process of being
                                    created.
                                - value: Updating
                                  description: New property values are being applied
                                    to the resource.
                                - value: Deleting
                                  description: Resource is in the process of being
                                    deleted.
                                - value: Succeeded
                                  description: Resource is in healthy state after
                                    creation or update operation.
                                - value: Failed
                                  description: Previous operation on the resource
                                    has failed leaving resource in unhealthy state.
                                - value: Locked
                                  description: The resource is locked and changes
                                    are currently blocked. This could be due to maintenance
                                    or a scheduled operation. The state will go back
                                    to succeeded once the locking operation has finished.
                            networkProfile:
                              description: The network profile for the lab, typically
                                applied via a lab plan. This profile cannot be modified
                                once a lab has been created.
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              properties:
                                subnetId:
                                  description: The external subnet resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                loadBalancerId:
                                  description: The external load balancer resource
                                    id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                                publicIpId:
                                  description: The external public IP resource id
                                  type: string
                                  minLength: 3
                                  maxLength: 2000
                            state:
                              description: The lab state.
                              readOnly: true
                              type: string
                              enum:
                              - Draft
                              - Publishing
                              - Scaling
                              - Syncing
                              - Published
                              x-ms-enum:
                                name: LabState
                                modelAsString: false
                                values:
                                - value: Draft
                                  description: The lab is currently in draft (has
                                    not been published).
                                - value: Publishing
                                  description: The lab is publishing.
                                - value: Scaling
                                  description: The lab is scaling.
                                - value: Syncing
                                  description: The lab is syncing users.
                                - value: Published
                                  description: The lab has been published.
                            resourceOperationError:
                              description: Error details of last operation done on
                                lab.
                              readOnly: true
                              type: object
                              properties:
                                timestamp:
                                  description: The datetime of when the error occured
                                  type: string
                                  format: date-time
                                code:
                                  description: The code that corresponds to the type
                                    of operation failure
                                  type: string
                                message:
                                  description: The operation failure message
                                  type: string
                                action:
                                  description: The operation action that failed
                                  type: string
                          description: Properties of a lab resource used for updates.
                          required:
                          - autoShutdownProfile
                          - connectionProfile
                          - securityProfile
                          - virtualMachineProfile
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of image results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labs/{labName}:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: labName
      in: path
      required: true
      description: The name of the lab that uniquely identifies it within containing
        lab plan. Used in resource URIs.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 100
    get:
      tags:
      - Lab
      summary: Get a lab resource.
      description: Returns the properties of a lab resource.
      operationId: Labs_Get
      responses:
        '200':
          description: The request was successful; response contains the Lab.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the lab.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      autoShutdownProfile:
                        description: The resource auto shutdown configuration for
                          the lab. This controls whether actions are taken on resources
                          that are sitting idle.
                        type: object
                        properties:
                          shutdownOnDisconnect:
                            description: Whether shutdown on disconnect is enabled
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownWhenNotConnected:
                            description: Whether a VM will get shutdown when it hasn't
                              been connected to after a period of time.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          shutdownOnIdle:
                            description: Whether a VM will get shutdown when it has
                              idled for a period of time.
                            default: None
                            type: string
                            enum:
                            - None
                            - UserAbsence
                            - LowUsage
                            x-ms-enum:
                              name: shutdownOnIdleMode
                              modelAsString: false
                              values:
                              - value: None
                                description: The VM won't be shut down when it is
                                  idle.
                              - value: UserAbsence
                                description: The VM will be considered as idle when
                                  there is no keyboard or mouse input.
                              - value: LowUsage
                                description: The VM will be considered as idle when
                                  user is absent and the resource (CPU and disk) consumption
                                  is low.
                          disconnectDelay:
                            description: The amount of time a VM will stay running
                              after a user disconnects if this behavior is enabled.
                            type: string
                            format: duration
                          noConnectDelay:
                            description: The amount of time a VM will stay running
                              before it is shutdown if no connection is made and this
                              behavior is enabled.
                            type: string
                            format: duration
                          idleDelay:
                            description: The amount of time a VM will idle before
                              it is shutdown if this behavior is enabled.
                            type: string
                            format: duration
                      connectionProfile:
                        description: The connection profile for the lab. This controls
                          settings such as web access to lab resources or whether
                          RDP or SSH ports are open.
                        type: object
                        properties:
                          webSshAccess:
                            description: The enabled access level for Web Access over
                              SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          webRdpAccess:
                            description: The enabled access level for Web Access over
                              RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientSshAccess:
                            description: The enabled access level for Client Access
                              over SSH.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                          clientRdpAccess:
                            description: The enabled access level for Client Access
                              over RDP.
                            default: None
                            type: string
                            enum:
                            - Public
                            - Private
                            - None
                            x-ms-enum:
                              name: ConnectionType
                              modelAsString: false
                      virtualMachineProfile:
                        description: The profile used for creating lab virtual machines.
                        type: object
                        properties:
                          createOption:
                            description: Indicates what lab virtual machines are created
                              from.
                            type: string
                            enum:
                            - Image
                            - TemplateVM
                            x-ms-enum:
                              name: CreateOption
                              modelAsString: false
                              values:
                              - value: Image
                                description: An image is used to create all lab user
                                  virtual machines. When this option is set, no template
                                  VM will be created.
                              - value: TemplateVM
                                description: A template VM will be used to create
                                  all lab user virtual machines.
                            x-ms-mutability:
                            - read
                            - create
                          imageReference:
                            description: The image configuration for lab virtual machines.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              id:
                                description: Image resource ID
                                type: string
                                minLength: 3
                                maxLength: 2000
                              offer:
                                description: The image offer if applicable.
                                type: string
                              publisher:
                                description: The image publisher
                                type: string
                              sku:
                                description: The image SKU
                                type: string
                              version:
                                description: The image version specified on creation.
                                type: string
                              exactVersion:
                                description: The actual version of the image after
                                  use.
                                type: string
                                readOnly: true
                          osType:
                            description: The OS type of the image
                            readOnly: true
                            type: string
                            enum:
                            - Windows
                            - Linux
                            x-ms-enum:
                              name: OsType
                              modelAsString: false
                          sku:
                            description: The SKU for the lab. Defines the type of
                              virtual machines used in the lab.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the SKU. Ex - P3. It is typically
                                  a letter+number code
                              tier:
                                type: string
                                enum:
                                - Free
                                - Basic
                                - Standard
                                - Premium
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: false
                                description: This field is required to be implemented
                                  by the Resource Provider if the service has more
                                  than one tier, but is not required on a PUT.
                              size:
                                type: string
                                description: 'The SKU size. When the name field is
                                  the combination of tier and some other value, this
                                  would be the standalone code. '
                              family:
                                type: string
                                description: If the service has different generations
                                  of hardware, for the same SKU, then that can be
                                  captured here.
                              capacity:
                                type: integer
                                format: int32
                                description: If the SKU supports scale out/in then
                                  the capacity integer should be included. If scale
                                  out/in is not possible for the resource this may
                                  be omitted.
                            required:
                            - name
                          additionalCapabilities:
                            description: Additional VM capabilities.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              installGpuDrivers:
                                description: Flag to pre-install dedicated GPU drivers.
                                default: Disabled
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: EnableState
                                  modelAsString: false
                          usageQuota:
                            description: The initial quota alloted to each lab user.
                              Must be a time span between 0 and 9999 hours.
                            type: string
                            format: duration
                          useSharedPassword:
                            description: Enabling this option will use the same password
                              for all user VMs.
                            default: Disabled
                            x-ms-mutability:
                            - read
                            - create
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                          adminUser:
                            description: Credentials for the admin user on the VM.
                            type: object
                            properties:
                              username:
                                description: The username to use when signing in to
                                  lab VMs.
                                type: string
                                x-ms-mutability:
                                - read
                                - create
                              password:
                                description: The password for the user. This is required
                                  for the TemplateVM createOption.
                                type: string
                                x-ms-secret: true
                                x-ms-mutability:
                                - create
                            required:
                            - username
                          nonAdminUser:
                            description: Credentials for the non-admin user on the
                              VM, if one exists.
                            type: object
                            properties:
                              username:
                                description: The username to use when signing in to
                                  lab VMs.
                                type: string
                                x-ms-mutability:
                                - read
                                - create
                              password:
                                description: The password for the user. This is required
                                  for the TemplateVM createOption.
                                type: string
                                x-ms-secret: true
                                x-ms-mutability:
                                - create
                            required:
                            - username
                        required:
                        - createOption
                        - imageReference
                        - usageQuota
                        - sku
                        - adminUser
                      securityProfile:
                        description: The lab security profile.
                        type: object
                        properties:
                          registrationCode:
                            description: The registration code for the lab.
                            type: string
                            readOnly: true
                          openAccess:
                            description: Whether any user or only specified users
                              can register to a lab.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableState
                              modelAsString: false
                      rosterProfile:
                        description: The lab user list management profile.
                        type: object
                        properties:
                          activeDirectoryGroupId:
                            description: The AAD group ID which this lab roster is
                              populated from. Having this set enables AAD sync mode.
                            type: string
                          ltiContextId:
                            description: The unique context identifier for the lab
                              in the lms.
                            type: string
                          lmsInstance:
                            description: The base URI identifying the lms instance.
                            type: string
                          ltiClientId:
                            description: The unique id of the azure lab services tool
                              in the lms.
                            type: string
                          ltiRosterEndpoint:
                            description: The uri of the names and roles service endpoint
                              on the lms for the class attached to this lab.
                            type: string
                      labPlanId:
                        description: The ID of the lab plan. Used during resource
                          creation to provide defaults and acts as a permission container
                          when creating a lab via labs.azure.com. Setting a labPlanId
                          on an existing lab provides organization..
                        type: string
                        minLength: 3
                        maxLength: 2000
                      title:
                        description: The title of the lab.
                        type: string
                        minLength: 1
                        maxLength: 120
                      description:
                        description: The description of the lab.
                        type: string
                      provisioningState:
                        description: Current provisioning state of the lab.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Locked
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: false
                          values:
                          - value: Creating
                            description: Resource is in the process of being created.
                          - value: Updating
                            description: New property values are being applied to
                              the resource.
                          - value: Deleting
                            description: Resource is in the process of being deleted.
                          - value: Succeeded
[...]
