openapi: 3.0.0
info:
  version: 2023-06-07
  title: LabServicesClient
  description: Azure Lab Services REST API.
  x-ms-code-generation-settings:
    internalConstructors: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.LabServices/operations:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    get:
      tags:
      - Operations
      summary: Get all operations
      description: Returns a list of all operations.
      operationId: Operations_List
      responses:
        '200':
          description: The request was successful; response contains all operations.
          content:
            application/json:
              schema:
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      type: object
                      properties:
                        name:
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        display:
                          description: Localized display information for this particular
                            operation.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              type: string
                              readOnly: true
                            operation:
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              type: string
                              readOnly: true
                            description:
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          type: string
                          readOnly: true
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                        actionType:
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          type: string
                          readOnly: true
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                    x-ms-identifiers:
                    - name
                    description: List of operations supported by the resource provider
                    readOnly: true
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    provisioningState:
      type: string
      enum:
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Locked
      description: Resource provisioning state.
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - value: Creating
          description: Resource is in the process of being created.
        - value: Updating
          description: New property values are being applied to the resource.
        - value: Deleting
          description: Resource is in the process of being deleted.
        - value: Succeeded
          description: Resource is in healthy state after creation or update operation.
        - value: Failed
          description: Previous operation on the resource has failed leaving resource
            in unhealthy state.
        - value: Locked
          description: The resource is locked and changes are currently blocked. This
            could be due to maintenance or a scheduled operation. The state will go
            back to succeeded once the locking operation has finished.
    enableState:
      type: string
      enum:
      - Enabled
      - Disabled
      description: Property enabled state.
      x-ms-enum:
        name: EnableState
        modelAsString: false
    connectionType:
      type: string
      enum:
      - Public
      - Private
      - None
      description: A connection type for access labs and VMs (Public, Private or None).
      x-ms-enum:
        name: ConnectionType
        modelAsString: false
    emailAddress:
      type: string
      minLength: 6
      maxLength: 254
      description: An email address.
    phoneNumber:
      type: string
      minLength: 1
      maxLength: 31
      description: A phone number.
    url:
      type: string
      minLength: 3
      maxLength: 2000
      description: A URL.
    osType:
      type: string
      enum:
      - Windows
      - Linux
      description: The operating system type.
      x-ms-enum:
        name: OsType
        modelAsString: false
    osState:
      type: string
      enum:
      - Generalized
      - Specialized
      description: The operating system state.
      x-ms-enum:
        name: OsState
        modelAsString: false
        values:
        - value: Generalized
          description: Image does not contain any machine and user specific information.
        - value: Specialized
          description: Image contains machine and user specific information.
    shutdownOnIdleMode:
      type: string
      enum:
      - None
      - UserAbsence
      - LowUsage
      description: Defines whether to shut down VM on idle and the criteria for idle
        detection.
      x-ms-enum:
        name: shutdownOnIdleMode
        modelAsString: false
        values:
        - value: None
          description: The VM won't be shut down when it is idle.
        - value: UserAbsence
          description: The VM will be considered as idle when there is no keyboard
            or mouse input.
        - value: LowUsage
          description: The VM will be considered as idle when user is absent and the
            resource (CPU and disk) consumption is low.
    TrackedResourceUpdate:
      description: Base tracked resource type for all PATCH updates.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: array
          items:
            type: string
    AutoShutdownProfile:
      description: Profile for how to handle shutting down virtual machines.
      type: object
      properties:
        shutdownOnDisconnect:
          description: Whether shutdown on disconnect is enabled
          default: Disabled
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: EnableState
            modelAsString: false
        shutdownWhenNotConnected:
          description: Whether a VM will get shutdown when it hasn't been connected
            to after a period of time.
          default: Disabled
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: EnableState
            modelAsString: false
        shutdownOnIdle:
          description: Whether a VM will get shutdown when it has idled for a period
            of time.
          default: None
          type: string
          enum:
          - None
          - UserAbsence
          - LowUsage
          x-ms-enum:
            name: shutdownOnIdleMode
            modelAsString: false
            values:
            - value: None
              description: The VM won't be shut down when it is idle.
            - value: UserAbsence
              description: The VM will be considered as idle when there is no keyboard
                or mouse input.
            - value: LowUsage
              description: The VM will be considered as idle when user is absent and
                the resource (CPU and disk) consumption is low.
        disconnectDelay:
          description: The amount of time a VM will stay running after a user disconnects
            if this behavior is enabled.
          type: string
          format: duration
        noConnectDelay:
          description: The amount of time a VM will stay running before it is shutdown
            if no connection is made and this behavior is enabled.
          type: string
          format: duration
        idleDelay:
          description: The amount of time a VM will idle before it is shutdown if
            this behavior is enabled.
          type: string
          format: duration
    ConnectionProfile:
      description: Connection profile for how users connect to lab virtual machines.
      type: object
      properties:
        webSshAccess:
          description: The enabled access level for Web Access over SSH.
          default: None
          type: string
          enum:
          - Public
          - Private
          - None
          x-ms-enum:
            name: ConnectionType
            modelAsString: false
        webRdpAccess:
          description: The enabled access level for Web Access over RDP.
          default: None
          type: string
          enum:
          - Public
          - Private
          - None
          x-ms-enum:
            name: ConnectionType
            modelAsString: false
        clientSshAccess:
          description: The enabled access level for Client Access over SSH.
          default: None
          type: string
          enum:
          - Public
          - Private
          - None
          x-ms-enum:
            name: ConnectionType
            modelAsString: false
        clientRdpAccess:
          description: The enabled access level for Client Access over RDP.
          default: None
          type: string
          enum:
          - Public
          - Private
          - None
          x-ms-enum:
            name: ConnectionType
            modelAsString: false
    ResourceOperationError:
      description: Error details of the latest operation failure on this resource
      type: object
      properties:
        timestamp:
          description: The datetime of when the error occured
          type: string
          format: date-time
        code:
          description: The code that corresponds to the type of operation failure
          type: string
        message:
          description: The operation failure message
          type: string
        action:
          description: The operation action that failed
          type: string
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          type: string
          readOnly: true
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            title: REST API Operation
            description: Details of a REST API operation, returned from the Resource
              Provider Operations API
            type: object
            properties:
              name:
                description: 'The name of the operation, as per Resource-Based Access
                  Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                  "Microsoft.Compute/virtualMachines/capture/action"'
                type: string
                readOnly: true
              isDataAction:
                description: Whether the operation applies to data-plane. This is
                  "true" for data-plane operations and "false" for ARM/control-plane
                  operations.
                type: boolean
                readOnly: true
              display:
                description: Localized display information for this particular operation.
                type: object
                properties:
                  provider:
                    description: The localized friendly form of the resource provider
                      name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
                    type: string
                    readOnly: true
                  resource:
                    description: The localized friendly name of the resource type
                      related to this operation. E.g. "Virtual Machines" or "Job Schedule
                      Collections".
                    type: string
                    readOnly: true
                  operation:
                    description: The concise, localized friendly name for the operation;
                      suitable for dropdowns. E.g. "Create or Update Virtual Machine",
                      "Restart Virtual Machine".
                    type: string
                    readOnly: true
                  description:
                    description: The short, localized friendly description of the
                      operation; suitable for tool tips and detailed views.
                    type: string
                    readOnly: true
              origin:
                description: The intended executor of the operation; as in Resource
                  Based Access Control (RBAC) and audit logs UX. Default value is
                  "user,system"
                type: string
                readOnly: true
                enum:
                - user
                - system
                - user,system
                x-ms-enum:
                  name: Origin
                  modelAsString: true
              actionType:
                description: Enum. Indicates the action type. "Internal" refers to
                  actions that are for internal only APIs.
                type: string
                readOnly: true
                enum:
                - Internal
                x-ms-enum:
                  name: ActionType
                  modelAsString: true
          x-ms-identifiers:
          - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
