openapi: 3.0.0
info:
  version: 2023-06-07
  title: LabServicesClient
  description: REST API for managing Azure Lab Services resource SKUs.
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/skus:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - in: query
      name: $filter
      description: The filter to apply to the operation.
      schema:
        type: string
    get:
      tags:
      - Skus
      summary: Gets the Azure Lab Services resource SKUs.
      description: Returns a list of Azure Lab Services resource SKUs.
      operationId: Skus_List
      responses:
        '200':
          description: The request was successful; response contains Azure Lab Services
            resource skus.
          content:
            application/json:
              schema:
                description: Paged list of lab services skus.
                type: object
                properties:
                  value:
                    description: The array page of sku results.
                    type: array
                    items:
                      description: Azure Lab Services resource SKUs
                      type: object
                      properties:
                        resourceType:
                          description: The lab services resource type.
                          type: string
                          readOnly: true
                        name:
                          description: The name of the SKU.
                          type: string
                          readOnly: true
                        tier:
                          description: The tier of the SKU.
                          type: string
                          enum:
                          - Standard
                          - Premium
                          x-ms-enum:
                            name: LabServicesSkuTier
                            modelAsString: true
                          readOnly: true
                        size:
                          description: The SKU size.
                          type: string
                          readOnly: true
                        family:
                          description: The family of the SKU.
                          type: string
                          readOnly: true
                        capacity:
                          description: The scale out/in options of the SKU.
                          type: object
                          properties:
                            default:
                              description: The default capacity for this resource.
                              type: integer
                              format: int64
                              readOnly: true
                            minimum:
                              description: The lowest permitted capacity for this
                                resource.
                              type: integer
                              format: int64
                              readOnly: true
                            maximum:
                              description: The highest permitted capacity for this
                                resource.
                              type: integer
                              format: int64
                              readOnly: true
                            scaleType:
                              description: The localized name of the resource.
                              type: string
                              enum:
                              - None
                              - Manual
                              - Automatic
                              x-ms-enum:
                                name: ScaleType
                                modelAsString: true
                                values:
                                - value: None
                                  description: The capacity is not adjustable in any
                                    way.
                                - value: Manual
                                  description: The user must manually scale this SKU
                                    in and out.
                                - value: Automatic
                                  description: The user is permitted to scale this
                                    SKU in and out.
                              readOnly: true
                        capabilities:
                          description: The capabilities of the SKU.
                          type: array
                          items:
                            description: The array of capabilities of a lab services
                              SKU.
                            type: object
                            properties:
                              name:
                                description: The name of the capability for a SKU.
                                type: string
                                readOnly: true
                              value:
                                description: The value of the capability for a SKU.
                                type: string
                                readOnly: true
                          x-ms-identifiers:
                          - name
                          readOnly: true
                        locations:
                          description: List of locations that are available for a
                            size.
                          type: array
                          items:
                            type: string
                          readOnly: true
                        costs:
                          description: Metadata for retrieving price info of a lab
                            services SKUs.
                          type: array
                          items:
                            description: The array of costs of a lab services SKU.
                            type: object
                            properties:
                              meterId:
                                description: The meter id.
                                type: string
                                readOnly: true
                              quantity:
                                description: The quantity of units charged.
                                type: number
                                readOnly: true
                              extendedUnit:
                                description: The extended unit.
                                type: string
                                readOnly: true
                          x-ms-identifiers: []
                          readOnly: true
                        restrictions:
                          description: Restrictions of a lab services SKUs.
                          type: array
                          items:
                            description: The restriction details.
                            type: object
                            properties:
                              type:
                                description: The type of restriction.
                                type: string
                                enum:
                                - Location
                                x-ms-enum:
                                  name: RestrictionType
                                  modelAsString: true
                                readOnly: true
                              values:
                                description: The values of the restriction.
                                type: array
                                items:
                                  type: string
                                readOnly: true
                              reasonCode:
                                description: The reason for the restriction.
                                type: string
                                enum:
                                - QuotaId
                                - NotAvailableForSubscription
                                x-ms-enum:
                                  name: RestrictionReasonCode
                                  modelAsString: true
                                readOnly: true
                          x-ms-identifiers: []
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
                  nextLink:
                    description: The link to get the next page of sku results.
                    type: string
                    readOnly: true
        default:
          description: The default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    LabServicesSku:
      description: Azure Lab Services resource SKUs
      type: object
      properties:
        resourceType:
          description: The lab services resource type.
          type: string
          readOnly: true
        name:
          description: The name of the SKU.
          type: string
          readOnly: true
        tier:
          description: The tier of the SKU.
          type: string
          enum:
          - Standard
          - Premium
          x-ms-enum:
            name: LabServicesSkuTier
            modelAsString: true
          readOnly: true
        size:
          description: The SKU size.
          type: string
          readOnly: true
        family:
          description: The family of the SKU.
          type: string
          readOnly: true
        capacity:
          description: The scale out/in options of the SKU.
          type: object
          properties:
            default:
              description: The default capacity for this resource.
              type: integer
              format: int64
              readOnly: true
            minimum:
              description: The lowest permitted capacity for this resource.
              type: integer
              format: int64
              readOnly: true
            maximum:
              description: The highest permitted capacity for this resource.
              type: integer
              format: int64
              readOnly: true
            scaleType:
              description: The localized name of the resource.
              type: string
              enum:
              - None
              - Manual
              - Automatic
              x-ms-enum:
                name: ScaleType
                modelAsString: true
                values:
                - value: None
                  description: The capacity is not adjustable in any way.
                - value: Manual
                  description: The user must manually scale this SKU in and out.
                - value: Automatic
                  description: The user is permitted to scale this SKU in and out.
              readOnly: true
        capabilities:
          description: The capabilities of the SKU.
          type: array
          items:
            description: The array of capabilities of a lab services SKU.
            type: object
            properties:
              name:
                description: The name of the capability for a SKU.
                type: string
                readOnly: true
              value:
                description: The value of the capability for a SKU.
                type: string
                readOnly: true
          x-ms-identifiers:
          - name
          readOnly: true
        locations:
          description: List of locations that are available for a size.
          type: array
          items:
            type: string
          readOnly: true
        costs:
          description: Metadata for retrieving price info of a lab services SKUs.
          type: array
          items:
            description: The array of costs of a lab services SKU.
            type: object
            properties:
              meterId:
                description: The meter id.
                type: string
                readOnly: true
              quantity:
                description: The quantity of units charged.
                type: number
                readOnly: true
              extendedUnit:
                description: The extended unit.
                type: string
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
        restrictions:
          description: Restrictions of a lab services SKUs.
          type: array
          items:
            description: The restriction details.
            type: object
            properties:
              type:
                description: The type of restriction.
                type: string
                enum:
                - Location
                x-ms-enum:
                  name: RestrictionType
                  modelAsString: true
                readOnly: true
              values:
                description: The values of the restriction.
                type: array
                items:
                  type: string
                readOnly: true
              reasonCode:
                description: The reason for the restriction.
                type: string
                enum:
                - QuotaId
                - NotAvailableForSubscription
                x-ms-enum:
                  name: RestrictionReasonCode
                  modelAsString: true
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    PagedLabServicesSkus:
      description: Paged list of lab services skus.
      type: object
      properties:
        value:
          description: The array page of sku results.
          type: array
          items:
            description: Azure Lab Services resource SKUs
            type: object
            properties:
              resourceType:
                description: The lab services resource type.
                type: string
                readOnly: true
              name:
                description: The name of the SKU.
                type: string
                readOnly: true
              tier:
                description: The tier of the SKU.
                type: string
                enum:
                - Standard
                - Premium
                x-ms-enum:
                  name: LabServicesSkuTier
                  modelAsString: true
                readOnly: true
              size:
                description: The SKU size.
                type: string
                readOnly: true
              family:
                description: The family of the SKU.
                type: string
                readOnly: true
              capacity:
                description: The scale out/in options of the SKU.
                type: object
                properties:
                  default:
                    description: The default capacity for this resource.
                    type: integer
                    format: int64
                    readOnly: true
                  minimum:
                    description: The lowest permitted capacity for this resource.
                    type: integer
                    format: int64
                    readOnly: true
                  maximum:
                    description: The highest permitted capacity for this resource.
                    type: integer
                    format: int64
                    readOnly: true
                  scaleType:
                    description: The localized name of the resource.
                    type: string
                    enum:
                    - None
                    - Manual
                    - Automatic
                    x-ms-enum:
                      name: ScaleType
                      modelAsString: true
                      values:
                      - value: None
                        description: The capacity is not adjustable in any way.
                      - value: Manual
                        description: The user must manually scale this SKU in and
                          out.
                      - value: Automatic
                        description: The user is permitted to scale this SKU in and
                          out.
                    readOnly: true
              capabilities:
                description: The capabilities of the SKU.
                type: array
                items:
                  description: The array of capabilities of a lab services SKU.
                  type: object
                  properties:
                    name:
                      description: The name of the capability for a SKU.
                      type: string
                      readOnly: true
                    value:
                      description: The value of the capability for a SKU.
                      type: string
                      readOnly: true
                x-ms-identifiers:
                - name
                readOnly: true
              locations:
                description: List of locations that are available for a size.
                type: array
                items:
                  type: string
                readOnly: true
              costs:
                description: Metadata for retrieving price info of a lab services
                  SKUs.
                type: array
                items:
                  description: The array of costs of a lab services SKU.
                  type: object
                  properties:
                    meterId:
                      description: The meter id.
                      type: string
                      readOnly: true
                    quantity:
                      description: The quantity of units charged.
                      type: number
                      readOnly: true
                    extendedUnit:
                      description: The extended unit.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
              restrictions:
                description: Restrictions of a lab services SKUs.
                type: array
                items:
                  description: The restriction details.
                  type: object
                  properties:
                    type:
                      description: The type of restriction.
                      type: string
                      enum:
                      - Location
                      x-ms-enum:
                        name: RestrictionType
                        modelAsString: true
                      readOnly: true
                    values:
                      description: The values of the restriction.
                      type: array
                      items:
                        type: string
                      readOnly: true
                    reasonCode:
                      description: The reason for the restriction.
                      type: string
                      enum:
                      - QuotaId
                      - NotAvailableForSubscription
                      x-ms-enum:
                        name: RestrictionReasonCode
                        modelAsString: true
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
        nextLink:
          description: The link to get the next page of sku results.
          type: string
          readOnly: true
    LabServicesSkuCapabilities:
      description: The array of capabilities of a lab services SKU.
      type: object
      properties:
        name:
          description: The name of the capability for a SKU.
          type: string
          readOnly: true
        value:
          description: The value of the capability for a SKU.
          type: string
          readOnly: true
    LabServicesSkuCapacity:
      description: The scale out/in options of the SKU.
      type: object
      properties:
        default:
          description: The default capacity for this resource.
          type: integer
          format: int64
          readOnly: true
        minimum:
          description: The lowest permitted capacity for this resource.
          type: integer
          format: int64
          readOnly: true
        maximum:
          description: The highest permitted capacity for this resource.
          type: integer
          format: int64
          readOnly: true
        scaleType:
          description: The localized name of the resource.
          type: string
          enum:
          - None
          - Manual
          - Automatic
          x-ms-enum:
            name: ScaleType
            modelAsString: true
            values:
            - value: None
              description: The capacity is not adjustable in any way.
            - value: Manual
              description: The user must manually scale this SKU in and out.
            - value: Automatic
              description: The user is permitted to scale this SKU in and out.
          readOnly: true
    LabServicesSkuCost:
      description: The array of costs of a lab services SKU.
      type: object
      properties:
        meterId:
          description: The meter id.
          type: string
          readOnly: true
        quantity:
          description: The quantity of units charged.
          type: number
          readOnly: true
        extendedUnit:
          description: The extended unit.
          type: string
          readOnly: true
    LabServicesSkuRestrictions:
      description: The restriction details.
      type: object
      properties:
        type:
          description: The type of restriction.
          type: string
          enum:
          - Location
          x-ms-enum:
            name: RestrictionType
            modelAsString: true
          readOnly: true
        values:
          description: The values of the restriction.
          type: array
          items:
            type: string
          readOnly: true
        reasonCode:
          description: The reason for the restriction.
          type: string
          enum:
          - QuotaId
          - NotAvailableForSubscription
          x-ms-enum:
            name: RestrictionReasonCode
            modelAsString: true
          readOnly: true
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
