openapi: 3.0.0
info:
  title: DataLakeAnalyticsAccountManagementClient
  description: Creates an Azure Data Lake Analytics account management client.
  version: 2016-11-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts:
    get:
      tags:
      - Accounts
      operationId: Accounts_List
      description: Gets the first page of Data Lake Analytics accounts, if any, within
        the current subscription. This includes a link to the next page, if any.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Get subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to
          just those requested, e.g. Categories?$select=CategoryName,Description.
          Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with
          an optional "asc" (the default) or "desc" depending on the order you'd like
          the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the
          matching resources included with the resources in the response, e.g. Categories?$count=true.
          Optional.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of Azure Data Lake Analytics
            accounts.
          content:
            application/json:
              schema:
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The resource identifier.
                        name:
                          readOnly: true
                          type: string
                          description: The resource name.
                        type:
                          readOnly: true
                          type: string
                          description: The resource type.
                        location:
                          readOnly: true
                          type: string
                          description: The resource location.
                        tags:
                          readOnly: true
                          type: object
                          additionalProperties:
                            type: string
                          description: The resource tags.
                        properties:
                          readOnly: true
                          x-ms-client-flatten: true
                          description: The properties defined by Data Lake Analytics
                            all properties are specific to each resource provider.
                          properties:
                            accountId:
                              readOnly: true
                              type: string
                              format: uuid
                              description: The unique identifier associated with this
                                Data Lake Analytics account.
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Failed
                              - Creating
                              - Running
                              - Succeeded
                              - Patching
                              - Suspending
                              - Resuming
                              - Deleting
                              - Deleted
                              - Undeleting
                              - Canceled
                              x-ms-enum:
                                name: DataLakeAnalyticsAccountStatus
                                modelAsString: false
                              description: The provisioning status of the Data Lake
                                Analytics account.
                            state:
                              readOnly: true
                              type: string
                              enum:
                              - Active
                              - Suspended
                              x-ms-enum:
                                name: DataLakeAnalyticsAccountState
                                modelAsString: false
                              description: The state of the Data Lake Analytics account.
                            creationTime:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The account creation time.
                            lastModifiedTime:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The account last modified time.
                            endpoint:
                              readOnly: true
                              type: string
                              description: The full CName endpoint for this account.
                      description: The resource model definition.
                      x-ms-azure-resource: true
                    description: The results of the list operation.
                  count:
                    readOnly: true
                    type: integer
                    format: int32
                    description: The current number of data lake analytics accounts
                      under this subscription.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The link (url) to the next page of results.
                description: Data Lake Analytics account list information.
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DataLakeAnalyticsAccountBasic'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts:
    get:
      tags:
      - Accounts
      operationId: Accounts_ListByResourceGroup
      description: Gets the first page of Data Lake Analytics accounts, if any, within
        a specific resource group. This includes a link to the next page, if any.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Get subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure resource group.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to
          just those requested, e.g. Categories?$select=CategoryName,Description.
          Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with
          an optional "asc" (the default) or "desc" depending on the order you'd like
          the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the
          matching resources included with the resources in the response, e.g. Categories?$count=true.
          Optional.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of accounts in the specified
            resource group.
          content:
            application/json:
              schema:
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The resource identifier.
                        name:
                          readOnly: true
                          type: string
                          description: The resource name.
                        type:
                          readOnly: true
                          type: string
                          description: The resource type.
                        location:
                          readOnly: true
                          type: string
                          description: The resource location.
                        tags:
                          readOnly: true
                          type: object
                          additionalProperties:
                            type: string
                          description: The resource tags.
                        properties:
                          readOnly: true
                          x-ms-client-flatten: true
                          description: The properties defined by Data Lake Analytics
                            all properties are specific to each resource provider.
                          properties:
                            accountId:
                              readOnly: true
                              type: string
                              format: uuid
                              description: The unique identifier associated with this
                                Data Lake Analytics account.
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Failed
                              - Creating
                              - Running
                              - Succeeded
                              - Patching
                              - Suspending
                              - Resuming
                              - Deleting
                              - Deleted
                              - Undeleting
                              - Canceled
                              x-ms-enum:
                                name: DataLakeAnalyticsAccountStatus
                                modelAsString: false
                              description: The provisioning status of the Data Lake
                                Analytics account.
                            state:
                              readOnly: true
                              type: string
                              enum:
                              - Active
                              - Suspended
                              x-ms-enum:
                                name: DataLakeAnalyticsAccountState
                                modelAsString: false
                              description: The state of the Data Lake Analytics account.
                            creationTime:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The account creation time.
                            lastModifiedTime:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The account last modified time.
                            endpoint:
                              readOnly: true
                              type: string
                              description: The full CName endpoint for this account.
                      description: The resource model definition.
                      x-ms-azure-resource: true
                    description: The results of the list operation.
                  count:
                    readOnly: true
                    type: integer
                    format: int32
                    description: The current number of data lake analytics accounts
                      under this subscription.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The link (url) to the next page of results.
                description: Data Lake Analytics account list information.
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DataLakeAnalyticsAccountBasic'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}
  : put:
      tags:
      - Accounts
      operationId: Accounts_Create
      description: Creates the specified Data Lake Analytics account. This supplies
        the user with computation services for Data Lake Analytics workloads.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Get subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure resource group.
        schema:
          type: string
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Data Lake Analytics account.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - location
              - properties
              properties:
                location:
                  type: string
                  description: The resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: The resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: The Data Lake Analytics account properties to use for
                    creating.
                  required:
                  - defaultDataLakeStoreAccount
                  - dataLakeStoreAccounts
                  properties:
                    defaultDataLakeStoreAccount:
                      type: string
                      description: The default Data Lake Store account associated
                        with this account.
                    dataLakeStoreAccounts:
                      type: array
                      items:
                        required:
                        - name
                        properties:
                          name:
                            type: string
                            description: The unique name of the Data Lake Store account
                              to add.
                          properties:
                            x-ms-client-flatten: true
                            description: The Data Lake Store account properties to
                              use when adding a new Data Lake Store account.
                            properties:
                              suffix:
                                type: string
                                description: The optional suffix for the Data Lake
                                  Store account.
                        description: The parameters used to add a new Data Lake Store
                          account while creating a new Data Lake Analytics account.
                      description: The list of Data Lake Store accounts associated
                        with this account.
                      x-ms-identifiers:
                      - name
                    storageAccounts:
                      type: array
                      items:
                        required:
                        - name
                        - properties
                        properties:
                          name:
                            type: string
                            description: The unique name of the Azure Storage account
                              to add.
                          properties:
                            x-ms-client-flatten: true
                            description: The Azure Storage account properties to use
                              when adding a new Azure Storage account.
                            required:
                            - accessKey
                            properties:
                              accessKey:
                                type: string
                                description: The access key associated with this Azure
                                  Storage account that will be used to connect to
                                  it.
                              suffix:
                                type: string
                                default: azuredatalakestore.net
                                description: The optional suffix for the storage account.
                        description: The parameters used to add a new Azure Storage
                          account while creating a new Data Lake Analytics account.
                      description: The list of Azure Blob Storage accounts associated
                        with this account.
                      x-ms-identifiers:
                      - name
                    computePolicies:
                      type: array
                      items:
                        required:
                        - name
                        - properties
                        properties:
                          name:
                            type: string
                            description: The unique name of the compute policy to
                              create.
                          properties:
                            x-ms-client-flatten: true
                            description: The compute policy properties to use when
                              creating a new compute policy.
                            required:
                            - objectId
                            - objectType
                            properties:
                              objectId:
                                type: string
                                format: uuid
                                description: The AAD object identifier for the entity
                                  to create a policy for.
                              objectType:
                                type: string
                                enum:
                                - User
                                - Group
                                - ServicePrincipal
                                x-ms-enum:
                                  name: AADObjectType
                                  modelAsString: true
                                description: The type of AAD object the object identifier
                                  refers to.
                              maxDegreeOfParallelismPerJob:
                                type: integer
                                format: int32
                                minimum: 1
                                description: The maximum degree of parallelism per
                                  job this user can use to submit jobs. This property,
                                  the min priority per job property, or both must
                                  be passed.
                              minPriorityPerJob:
                                type: integer
                                format: int32
                                minimum: 1
                                description: The minimum priority per job this user
                                  can use to submit jobs. This property, the max degree
                                  of parallelism per job property, or both must be
                                  passed.
                        description: The parameters used to create a new compute policy
                          while creating a new Data Lake Analytics account.
                      description: The list of compute policies associated with this
                        account.
                      x-ms-identifiers:
                      - name
                    firewallRules:
                      type: array
                      items:
                        required:
                        - name
                        - properties
                        properties:
                          name:
                            type: string
                            description: The unique name of the firewall rule to create.
                          properties:
                            x-ms-client-flatten: true
                            description: The firewall rule properties to use when
                              creating a new firewall rule.
                            required:
                            - startIpAddress
                            - endIpAddress
                            properties:
                              startIpAddress:
                                type: string
                                description: The start IP address for the firewall
                                  rule. This can be either ipv4 or ipv6. Start and
                                  End should be in the same protocol.
                              endIpAddress:
                                type: string
                                description: The end IP address for the firewall rule.
                                  This can be either ipv4 or ipv6. Start and End should
                                  be in the same protocol.
                        description: The parameters used to create a new firewall
                          rule while creating a new Data Lake Analytics account.
                      description: The list of firewall rules associated with this
                        account.
                      x-ms-identifiers:
                      - name
                    firewallState:
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      default: Disabled
                      x-ms-enum:
                        name: FirewallState
                        modelAsString: false
                      description: The current state of the IP address firewall for
                        this account.
                    firewallAllowAzureIps:
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      default: Disabled
                      x-ms-enum:
                        name: FirewallAllowAzureIpsState
                        modelAsString: false
                      description: The current state of allowing or disallowing IPs
                        originating within Azure through the firewall. If the firewall
                        is disabled, this is not enforced.
                    newTier:
                      type: string
                      enum:
                      - Consumption
                      - Commitment_100AUHours
                      - Commitment_500AUHours
                      - Commitment_1000AUHours
                      - Commitment_5000AUHours
                      - Commitment_10000AUHours
                      - Commitment_50000AUHours
                      - Commitment_100000AUHours
                      - Commitment_500000AUHours
                      default: Consumption
                      x-ms-enum:
                        name: TierType
                        modelAsString: false
                      description: The commitment tier for the next month.
                    maxJobCount:
                      type: integer
                      format: int32
                      minimum: 1
                      default: 3
                      description: The maximum supported jobs running under the account
                        at the same time.
                    maxDegreeOfParallelism:
                      type: integer
                      format: int32
                      minimum: 1
                      default: 30
                      description: The maximum supported degree of parallelism for
                        this account.
                    maxDegreeOfParallelismPerJob:
                      type: integer
                      format: int32
                      minimum: 1
                      default: 32
                      description: The maximum supported degree of parallelism per
                        job for this account.
                    minPriorityPerJob:
                      type: integer
                      format: int32
                      minimum: 1
                      description: The minimum supported priority per job for this
                        account.
                    queryStoreRetention:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 180
                      default: 30
                      description: The number of days that job metadata is retained.
              description: The parameters to use for creating a Data Lake Analytics
                account.
        description: Parameters supplied to create a new Data Lake Analytics account.
        required: true
      responses:
        '200':
          description: Successfully created the specified account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    readOnly: true
                    type: string
                    description: The resource location.
                  tags:
                    readOnly: true
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    type: object
                    properties:
                      accountId:
                        readOnly: true
                        type: string
                        format: uuid
                        description: The unique identifier associated with this Data
                          Lake Analytics account.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Failed
                        - Creating
                        - Running
                        - Succeeded
                        - Patching
                        - Suspending
                        - Resuming
                        - Deleting
                        - Deleted
                        - Undeleting
                        - Canceled
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountStatus
                          modelAsString: false
                        description: The provisioning status of the Data Lake Analytics
                          account.
                      state:
                        readOnly: true
                        type: string
                        enum:
                        - Active
                        - Suspended
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountState
                          modelAsString: false
                        description: The state of the Data Lake Analytics account.
                      creationTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account creation time.
                      lastModifiedTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account last modified time.
                      endpoint:
                        readOnly: true
                        type: string
                        description: The full CName endpoint for this account.
                      defaultDataLakeStoreAccount:
                        readOnly: true
                        type: string
                        description: The default Data Lake Store account associated
                          with this account.
                      dataLakeStoreAccounts:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              x-ms-client-flatten: true
                              description: The Data Lake Store account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the Data Lake
                                    Store account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Data Lake Store accounts associated
                          with this account.
                      publicDataLakeStoreAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              x-ms-client-flatten: true
                              description: The Data Lake Store account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the Data Lake
                                    Store account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Data Lake Store accounts associated
                          with this account.
                      storageAccounts:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The Azure Storage account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the storage
                                    account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Azure Blob Storage accounts associated
                          with this account.
                      computePolicies:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The compute policy properties.
                              properties:
                                objectId:
                                  readOnly: true
                                  type: string
                                  format: uuid
                                  description: The AAD object identifier for the entity
                                    to create a policy for.
                                objectType:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - User
                                  - Group
                                  - ServicePrincipal
                                  x-ms-enum:
                                    name: AADObjectType
                                    modelAsString: true
                                  description: The type of AAD object the object identifier
                                    refers to.
                                maxDegreeOfParallelismPerJob:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  description: The maximum degree of parallelism per
                                    job this user can use to submit jobs.
                                minPriorityPerJob:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  description: The minimum priority per job this user
                                    can use to submit jobs.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of compute policies associated with
                          this account.
                      hiveMetastores:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The  HiveMetastoreProperties rule properties.
                              properties:
                                serverUri:
                                  readOnly: true
                                  type: string
                                  description: The serverUri for the Hive MetaStore
                                databaseName:
                                  readOnly: true
                                  type: string
                                  description: The databaseName for the Hive MetaStore
                                runtimeVersion:
                                  readOnly: true
                                  type: string
                                  description: The runtimeVersion for the Hive MetaStore
                                userName:
                                  readOnly: true
                                  type: string
                                  description: The userName for the Hive MetaStore
                                password:
                                  readOnly: true
                                  type: string
                                  description: The password for the Hive MetaStore
                                nestedResourceProvisioningState:
                                  readOnly: true
                                  description: The current state of the NestedResource
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  x-ms-enum:
                                    name: NestedResourceProvisioningState
                                    modelAsString: false
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of hiveMetastores associated with this
                          account.
                      virtualNetworkRules:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The  VirtualNetwork rule properties.
                              properties:
                                subnetId:
                                  readOnly: true
                                  type: string
                                  description: The resource identifier for the subnet
                                virtualNetworkRuleState:
                                  readOnly: true
                                  description: The current state of the VirtualNetwork
                                    Rule
                                  type: string
                                  enum:
                                  - Active
                                  - NetworkSourceDeleted
                                  - Failed
                                  x-ms-enum:
                                    name: VirtualNetworkRuleState
                                    modelAsString: false
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of virtualNetwork rules associated with
                          this account.
                      firewallRules:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The firewall rule properties.
                              properties:
                                startIpAddress:
                                  readOnly: true
                                  type: string
                                  description: The start IP address for the firewall
                                    rule. This can be either ipv4 or ipv6. Start and
                                    End should be in the same protocol.
                                endIpAddress:
                                  readOnly: true
                                  type: string
                                  description: The end IP address for the firewall
                                    rule. This can be either ipv4 or ipv6. Start and
                                    End should be in the same protocol.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of firewall rules associated with this
                          account.
                      firewallState:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: FirewallState
                          modelAsString: false
                        description: The current state of the IP address firewall
                          for this account.
                      firewallAllowAzureIps:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: FirewallAllowAzureIpsState
                          modelAsString: false
                        description: The current state of allowing or disallowing
                          IPs originating within Azure through the firewall. If the
                          firewall is disabled, this is not enforced.
                      newTier:
                        type: string
                        enum:
                        - Consumption
                        - Commitment_100AUHours
                        - Commitment_500AUHours
                        - Commitment_1000AUHours
                        - Commitment_5000AUHours
                        - Commitment_10000AUHours
                        - Commitment_50000AUHours
                        - Commitment_100000AUHours
                        - Commitment_500000AUHours
                        x-ms-enum:
                          name: TierType
                          modelAsString: false
                        description: The commitment tier for the next month.
                      currentTier:
                        readOnly: true
                        type: string
                        enum:
                        - Consumption
                        - Commitment_100AUHours
                        - Commitment_500AUHours
                        - Commitment_1000AUHours
                        - Commitment_5000AUHours
                        - Commitment_10000AUHours
                        - Commitment_50000AUHours
                        - Commitment_100000AUHours
                        - Commitment_500000AUHours
                        x-ms-enum:
                          name: TierType
                          modelAsString: false
                        description: The commitment tier in use for the current month.
                      maxJobCount:
                        type: integer
                        format: int32
                        minimum: 1
                        default: 3
                        description: The maximum supported jobs running under the
                          account at the same time.
                      maxActiveJobCountPerUser:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported active jobs under the account
                          at the same time.
                      maxQueuedJobCountPerUser:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported jobs queued under the account
                          at the same time.
                      maxJobRunningTimeInMin:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported active jobs under the account
                          at the same time.
                      systemMaxJobCount:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The system defined maximum supported jobs running
                          under the account at the same time, which restricts the
                          maximum number of running jobs the user can set for the
                          account.
                      maxDegreeOfParallelism:
                        type: integer
                        format: int32
                        minimum: 1
                        default: 30
                        description: The maximum supported degree of parallelism for
                          this account.
                      systemMaxDegreeOfParallelism:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The system defined maximum supported degree of
                          parallelism for this account, which restricts the maximum
                          value of parallelism the user can set for the account.
                      maxDegreeOfParallelismPerJob:
                        type: integer
                        format: int32
                        minimum: 1
                        description: The maximum supported degree of parallelism per
                          job for this account.
                      minPriorityPerJob:
                        readOnly: true
                        type: integer
                        format: int32
                        minimum: 1
                        description: The minimum supported priority per job for this
                          account.
                      queryStoreRetention:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 180
                        default: 30
                        description: The number of days that job metadata is retained.
                      debugDataAccessLevel:
                        readOnly: true
                        type: string
                        enum:
                        - All
                        - Customer
                        - None
                        x-ms-enum:
                          name: DebugDataAccessLevel
                          modelAsString: false
                        description: The current state of the DebugDataAccessLevel
                          for this account.
                    description: The basic account specific properties that are associated
                      with an underlying Data Lake Analytics account.
                    readOnly: true
                    x-ms-client-flatten: true
                description: The resource model definition.
                x-ms-azure-resource: true
        '201':
          description: Successfully initiated creation of the specified account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    readOnly: true
                    type: string
                    description: The resource location.
                  tags:
                    readOnly: true
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    type: object
                    properties:
                      accountId:
                        readOnly: true
                        type: string
                        format: uuid
                        description: The unique identifier associated with this Data
                          Lake Analytics account.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Failed
                        - Creating
                        - Running
                        - Succeeded
                        - Patching
                        - Suspending
                        - Resuming
                        - Deleting
                        - Deleted
                        - Undeleting
                        - Canceled
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountStatus
                          modelAsString: false
                        description: The provisioning status of the Data Lake Analytics
                          account.
                      state:
                        readOnly: true
                        type: string
                        enum:
                        - Active
                        - Suspended
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountState
                          modelAsString: false
                        description: The state of the Data Lake Analytics account.
                      creationTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account creation time.
                      lastModifiedTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account last modified time.
                      endpoint:
                        readOnly: true
                        type: string
                        description: The full CName endpoint for this account.
                      defaultDataLakeStoreAccount:
                        readOnly: true
                        type: string
                        description: The default Data Lake Store account associated
                          with this account.
                      dataLakeStoreAccounts:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              x-ms-client-flatten: true
                              description: The Data Lake Store account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the Data Lake
                                    Store account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Data Lake Store accounts associated
                          with this account.
                      publicDataLakeStoreAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              x-ms-client-flatten: true
                              description: The Data Lake Store account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the Data Lake
                                    Store account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Data Lake Store accounts associated
                          with this account.
                      storageAccounts:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The Azure Storage account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the storage
                                    account.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of Azure Blob Storage accounts associated
                          with this account.
                      computePolicies:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The compute policy properties.
                              properties:
                                objectId:
                                  readOnly: true
                                  type: string
                                  format: uuid
                                  description: The AAD object identifier for the entity
                                    to create a policy for.
                                objectType:
                                  readOnly: true
                                  type: string
                                  enum:
                                  - User
                                  - Group
                                  - ServicePrincipal
                                  x-ms-enum:
                                    name: AADObjectType
                                    modelAsString: true
                                  description: The type of AAD object the object identifier
                                    refers to.
                                maxDegreeOfParallelismPerJob:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  description: The maximum degree of parallelism per
                                    job this user can use to submit jobs.
                                minPriorityPerJob:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  description: The minimum priority per job this user
                                    can use to submit jobs.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of compute policies associated with
                          this account.
                      hiveMetastores:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The  HiveMetastoreProperties rule properties.
                              properties:
                                serverUri:
                                  readOnly: true
                                  type: string
                                  description: The serverUri for the Hive MetaStore
                                databaseName:
                                  readOnly: true
                                  type: string
                                  description: The databaseName for the Hive MetaStore
                                runtimeVersion:
                                  readOnly: true
                                  type: string
                                  description: The runtimeVersion for the Hive MetaStore
                                userName:
                                  readOnly: true
                                  type: string
                                  description: The userName for the Hive MetaStore
                                password:
                                  readOnly: true
                                  type: string
                                  description: The password for the Hive MetaStore
                                nestedResourceProvisioningState:
                                  readOnly: true
                                  description: The current state of the NestedResource
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  x-ms-enum:
                                    name: NestedResourceProvisioningState
                                    modelAsString: false
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of hiveMetastores associated with this
                          account.
                      virtualNetworkRules:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The  VirtualNetwork rule properties.
                              properties:
                                subnetId:
                                  readOnly: true
                                  type: string
                                  description: The resource identifier for the subnet
                                virtualNetworkRuleState:
                                  readOnly: true
                                  description: The current state of the VirtualNetwork
                                    Rule
                                  type: string
                                  enum:
                                  - Active
                                  - NetworkSourceDeleted
                                  - Failed
                                  x-ms-enum:
                                    name: VirtualNetworkRuleState
                                    modelAsString: false
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of virtualNetwork rules associated with
                          this account.
                      firewallRules:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              readOnly: true
                              x-ms-client-flatten: true
                              description: The firewall rule properties.
                              properties:
                                startIpAddress:
                                  readOnly: true
                                  type: string
                                  description: The start IP address for the firewall
                                    rule. This can be either ipv4 or ipv6. Start and
                                    End should be in the same protocol.
                                endIpAddress:
                                  readOnly: true
                                  type: string
                                  description: The end IP address for the firewall
                                    rule. This can be either ipv4 or ipv6. Start and
                                    End should be in the same protocol.
                          description: The resource model definition for a nested
                            resource.
                          x-ms-azure-resource: true
                        description: The list of firewall rules associated with this
                          account.
                      firewallState:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: FirewallState
                          modelAsString: false
                        description: The current state of the IP address firewall
                          for this account.
                      firewallAllowAzureIps:
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: FirewallAllowAzureIpsState
                          modelAsString: false
                        description: The current state of allowing or disallowing
                          IPs originating within Azure through the firewall. If the
                          firewall is disabled, this is not enforced.
                      newTier:
                        type: string
                        enum:
                        - Consumption
                        - Commitment_100AUHours
                        - Commitment_500AUHours
                        - Commitment_1000AUHours
                        - Commitment_5000AUHours
                        - Commitment_10000AUHours
                        - Commitment_50000AUHours
                        - Commitment_100000AUHours
                        - Commitment_500000AUHours
                        x-ms-enum:
                          name: TierType
                          modelAsString: false
                        description: The commitment tier for the next month.
                      currentTier:
                        readOnly: true
                        type: string
                        enum:
                        - Consumption
                        - Commitment_100AUHours
                        - Commitment_500AUHours
                        - Commitment_1000AUHours
                        - Commitment_5000AUHours
                        - Commitment_10000AUHours
                        - Commitment_50000AUHours
                        - Commitment_100000AUHours
                        - Commitment_500000AUHours
                        x-ms-enum:
                          name: TierType
                          modelAsString: false
                        description: The commitment tier in use for the current month.
                      maxJobCount:
                        type: integer
                        format: int32
                        minimum: 1
                        default: 3
                        description: The maximum supported jobs running under the
                          account at the same time.
                      maxActiveJobCountPerUser:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported active jobs under the account
                          at the same time.
                      maxQueuedJobCountPerUser:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported jobs queued under the account
                          at the same time.
                      maxJobRunningTimeInMin:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The maximum supported active jobs under the account
                          at the same time.
                      systemMaxJobCount:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The system defined maximum supported jobs running
                          under the account at the same time, which restricts the
                          maximum number of running jobs the user can set for the
                          account.
                      maxDegreeOfParallelism:
                        type: integer
                        format: int32
                        minimum: 1
                        default: 30
                        description: The maximum supported degree of parallelism for
                          this account.
                      systemMaxDegreeOfParallelism:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The system defined maximum supported degree of
                          parallelism for this account, which restricts the maximum
                          value of parallelism the user can set for the account.
                      maxDegreeOfParallelismPerJob:
                        type: integer
                        format: int32
                        minimum: 1
                        description: The maximum supported degree of parallelism per
                          job for this account.
                      minPriorityPerJob:
                        readOnly: true
                        type: integer
                        format: int32
                        minimum: 1
                        description: The minimum supported priority per job for this
                          account.
                      queryStoreRetention:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 180
                        default: 30
                        description: The number of days that job metadata is retained.
                      debugDataAccessLevel:
                        readOnly: true
                        type: string
                        enum:
                        - All
                        - Customer
                        - None
                        x-ms-enum:
                          name: DebugDataAccessLevel
                          modelAsString: false
                        description: The current state of the DebugDataAccessLevel
                          for this account.
                    description: The basic account specific properties that are associated
                      with an underlying Data Lake Analytics account.
                    readOnly: true
                    x-ms-client-flatten: true
                description: The resource model definition.
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    get:
      tags:
      - Accounts
      operationId: Accounts_Get
      description: Gets details of the specified Data Lake Analytics account.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Get subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure resource group.
        schema:
          type: string
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Data Lake Analytics account.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the details of the specified account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The resource identifier.
                  name:
                    readOnly: true
                    type: string
                    description: The resource name.
                  type:
                    readOnly: true
                    type: string
                    description: The resource type.
                  location:
                    readOnly: true
                    type: string
                    description: The resource location.
                  tags:
                    readOnly: true
                    type: object
                    additionalProperties:
                      type: string
                    description: The resource tags.
                  properties:
                    type: object
                    properties:
                      accountId:
                        readOnly: true
                        type: string
                        format: uuid
                        description: The unique identifier associated with this Data
                          Lake Analytics account.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Failed
                        - Creating
                        - Running
                        - Succeeded
                        - Patching
                        - Suspending
                        - Resuming
                        - Deleting
                        - Deleted
                        - Undeleting
                        - Canceled
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountStatus
                          modelAsString: false
                        description: The provisioning status of the Data Lake Analytics
                          account.
                      state:
                        readOnly: true
                        type: string
                        enum:
                        - Active
                        - Suspended
                        x-ms-enum:
                          name: DataLakeAnalyticsAccountState
                          modelAsString: false
                        description: The state of the Data Lake Analytics account.
                      creationTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account creation time.
                      lastModifiedTime:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The account last modified time.
                      endpoint:
                        readOnly: true
                        type: string
                        description: The full CName endpoint for this account.
                      defaultDataLakeStoreAccount:
                        readOnly: true
                        type: string
                        description: The default Data Lake Store account associated
                          with this account.
                      dataLakeStoreAccounts:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: The resource identifier.
                            name:
                              readOnly: true
                              type: string
                              description: The resource name.
                            type:
                              readOnly: true
                              type: string
                              description: The resource type.
                            properties:
                              x-ms-client-flatten: true
                              description: The Data Lake Store account properties.
                              properties:
                                suffix:
                                  readOnly: true
                                  type: string
                                  description: The optional suffix for the Data Lake
                                    Store account.
                          description: The resource model definition for a nested
                            resource.
[...]
