openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage attached
    data network resources in mobile network attached to a particular packet core
    instance
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes/{packetCoreDataPlaneName}/attachedDataNetworks/{attachedDataNetworkName}
  : delete:
      tags:
      - AttachedDataNetwork
      operationId: AttachedDataNetworks_Delete
      description: Deletes the specified attached data network.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: attachedDataNetworkName
        in: path
        required: true
        description: The name of the attached data network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - AttachedDataNetwork
      operationId: AttachedDataNetworks_Get
      description: Gets information about the specified attached data network.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: attachedDataNetworkName
        in: path
        required: true
        description: The name of the attached data network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request successful. The operation returns the resulting attached
            data network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Attached data network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the attached data network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneDataInterface:
                        description: The user plane interface on the data network.
                          For 5G networks, this is the N6 interface. For 4G networks,
                          this is the SGi interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      dnsAddresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The DNS servers to signal to UEs to use for this
                          attached data network. This configuration is mandatory -
                          if you don't want DNS servers, you must provide an empty
                          array.
                      naptConfiguration:
                        description: 'The network address and port translation (NAPT)
                          configuration.

                          If this is not specified, the attached data network will
                          use a default NAPT configuration with NAPT enabled.'
                        type: object
                        properties:
                          enabled:
                            description: Whether NAPT is enabled for connections to
                              this attached data network.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: NaptEnabled
                              modelAsString: true
                              values:
                              - value: Enabled
                                description: NAPT is enabled
                              - value: Disabled
                                description: NAPT is disabled
                            default: Enabled
                          portRange:
                            description: 'Range of port numbers to use as translated
                              ports on each translated address.

                              If not specified and NAPT is enabled, this range defaults
                              to 1,024 - 49,999.

                              (Ports under 1,024 should not be used because these
                              are special purpose ports reserved by IANA. Ports 50,000
                              and above are reserved for non-NAPT use.)'
                            type: object
                            properties:
                              minPort:
                                description: The minimum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 1024
                              maxPort:
                                description: The maximum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 49999
                          portReuseHoldTime:
                            description: The minimum time (in seconds) that will pass
                              before a port that was used by a closed pinhole can
                              be recycled for use by another pinhole. All hold times
                              must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Minimum time in seconds that will pass
                                  before a TCP port that was used by a closed pinhole
                                  can be reused. Default for TCP is 2 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 120
                              udp:
                                description: Minimum time in seconds that will pass
                                  before a UDP port that was used by a closed pinhole
                                  can be reused. Default for UDP is 1 minute.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 60
                          pinholeLimits:
                            description: Maximum number of UDP and TCP pinholes that
                              can be open simultaneously on the core interface. For
                              5G networks, this is the N6 interface. For 4G networks,
                              this is the SGi interface.
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 65536
                            default: 65536
                          pinholeTimeouts:
                            description: Expiry times of inactive NAPT pinholes, in
                              seconds. All timers must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Pinhole timeout for TCP pinholes in seconds.
                                  Default for TCP is 3 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 180
                              udp:
                                description: Pinhole timeout for UDP pinholes in seconds.
                                  Default for UDP is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                              icmp:
                                description: Pinhole timeout for ICMP pinholes in
                                  seconds. Default for ICMP Echo is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                      userEquipmentAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: "The user equipment (UE) address pool prefixes\
                          \ for the attached data network from which the packet core\
                          \ instance will dynamically assign IP addresses to UEs.\n\
                          The packet core instance assigns an IP address to a UE when\
                          \ the UE sets up a PDU session.\n You must define at least\
                          \ one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix.\
                          \ If you define both, they must be of the same size."
                      userEquipmentStaticAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: 'The user equipment (UE) address pool prefixes
                          for the attached data network from which the packet core
                          instance will assign static IP addresses to UEs.

                          The packet core instance assigns an IP address to a UE when
                          the UE sets up a PDU session. The static IP address for
                          a specific UE is set in StaticIPConfiguration on the corresponding
                          SIM resource.

                          At least one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix
                          must be defined. If both are defined, they must be of the
                          same size.'
                    required:
                    - userPlaneDataInterface
                    - dnsAddresses
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - AttachedDataNetwork
      operationId: AttachedDataNetworks_CreateOrUpdate
      description: Creates or updates an attached data network. Must be created in
        the same location as its parent packet core data plane.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: attachedDataNetworkName
        in: path
        required: true
        description: The name of the attached data network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Attached data network properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the attached data network
                        resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    userPlaneDataInterface:
                      description: The user plane interface on the data network. For
                        5G networks, this is the N6 interface. For 4G networks, this
                        is the SGi interface.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The logical name for this interface. This should
                            match one of the interfaces configured on your Azure Stack
                            Edge device.
                        ipv4Address:
                          description: The IPv4 address.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        ipv4Subnet:
                          description: The IPv4 subnet.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                        ipv4Gateway:
                          description: The default IPv4 gateway (router).
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        vlanId:
                          type: integer
                          format: int32
                          minimum: 1
                          maximum: 4094
                          description: 'VLAN identifier of the network interface.
                            Example: 501.'
                        ipv4AddressList:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The list of IPv4 addresses, for a multi-node
                            system.
                        bfdIpv4Endpoints:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The IPv4 addresses of the endpoints to send
                            BFD probes to.
                    dnsAddresses:
                      type: array
                      items:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
                      uniqueItems: true
                      description: The DNS servers to signal to UEs to use for this
                        attached data network. This configuration is mandatory - if
                        you don't want DNS servers, you must provide an empty array.
                    naptConfiguration:
                      description: 'The network address and port translation (NAPT)
                        configuration.

                        If this is not specified, the attached data network will use
                        a default NAPT configuration with NAPT enabled.'
                      type: object
                      properties:
                        enabled:
                          description: Whether NAPT is enabled for connections to
                            this attached data network.
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: NaptEnabled
                            modelAsString: true
                            values:
                            - value: Enabled
                              description: NAPT is enabled
                            - value: Disabled
                              description: NAPT is disabled
                          default: Enabled
                        portRange:
                          description: 'Range of port numbers to use as translated
                            ports on each translated address.

                            If not specified and NAPT is enabled, this range defaults
                            to 1,024 - 49,999.

                            (Ports under 1,024 should not be used because these are
                            special purpose ports reserved by IANA. Ports 50,000 and
                            above are reserved for non-NAPT use.)'
                          type: object
                          properties:
                            minPort:
                              description: The minimum port number
                              type: integer
                              format: int32
                              minimum: 1024
                              maximum: 65535
                              default: 1024
                            maxPort:
                              description: The maximum port number
                              type: integer
                              format: int32
                              minimum: 1024
                              maximum: 65535
                              default: 49999
                        portReuseHoldTime:
                          description: The minimum time (in seconds) that will pass
                            before a port that was used by a closed pinhole can be
                            recycled for use by another pinhole. All hold times must
                            be at least 1 second.
                          type: object
                          properties:
                            tcp:
                              description: Minimum time in seconds that will pass
                                before a TCP port that was used by a closed pinhole
                                can be reused. Default for TCP is 2 minutes.
                              type: integer
                              format: int32
                              minimum: 1
                              default: 120
                            udp:
                              description: Minimum time in seconds that will pass
                                before a UDP port that was used by a closed pinhole
                                can be reused. Default for UDP is 1 minute.
                              type: integer
                              format: int32
                              minimum: 1
                              default: 60
                        pinholeLimits:
                          description: Maximum number of UDP and TCP pinholes that
                            can be open simultaneously on the core interface. For
                            5G networks, this is the N6 interface. For 4G networks,
                            this is the SGi interface.
                          type: integer
                          format: int32
                          minimum: 1
                          maximum: 65536
                          default: 65536
                        pinholeTimeouts:
                          description: Expiry times of inactive NAPT pinholes, in
                            seconds. All timers must be at least 1 second.
                          type: object
                          properties:
                            tcp:
                              description: Pinhole timeout for TCP pinholes in seconds.
                                Default for TCP is 3 minutes.
                              type: integer
                              format: int32
                              minimum: 1
                              default: 180
                            udp:
                              description: Pinhole timeout for UDP pinholes in seconds.
                                Default for UDP is 30 seconds.
                              type: integer
                              format: int32
                              minimum: 1
                              default: 30
                            icmp:
                              description: Pinhole timeout for ICMP pinholes in seconds.
                                Default for ICMP Echo is 30 seconds.
                              type: integer
                              format: int32
                              minimum: 1
                              default: 30
                    userEquipmentAddressPoolPrefix:
                      type: array
                      items:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                        description: IPv4 address prefix.
                      minItems: 1
                      uniqueItems: true
                      description: "The user equipment (UE) address pool prefixes\
                        \ for the attached data network from which the packet core\
                        \ instance will dynamically assign IP addresses to UEs.\n\
                        The packet core instance assigns an IP address to a UE when\
                        \ the UE sets up a PDU session.\n You must define at least\
                        \ one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix.\
                        \ If you define both, they must be of the same size."
                    userEquipmentStaticAddressPoolPrefix:
                      type: array
                      items:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                        description: IPv4 address prefix.
                      minItems: 1
                      uniqueItems: true
                      description: 'The user equipment (UE) address pool prefixes
                        for the attached data network from which the packet core instance
                        will assign static IP addresses to UEs.

                        The packet core instance assigns an IP address to a UE when
                        the UE sets up a PDU session. The static IP address for a
                        specific UE is set in StaticIPConfiguration on the corresponding
                        SIM resource.

                        At least one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix
                        must be defined. If both are defined, they must be of the
                        same size.'
                  required:
                  - userPlaneDataInterface
                  - dnsAddresses
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update attached data network
          operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting attached
            data network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Attached data network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the attached data network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneDataInterface:
                        description: The user plane interface on the data network.
                          For 5G networks, this is the N6 interface. For 4G networks,
                          this is the SGi interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      dnsAddresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The DNS servers to signal to UEs to use for this
                          attached data network. This configuration is mandatory -
                          if you don't want DNS servers, you must provide an empty
                          array.
                      naptConfiguration:
                        description: 'The network address and port translation (NAPT)
                          configuration.

                          If this is not specified, the attached data network will
                          use a default NAPT configuration with NAPT enabled.'
                        type: object
                        properties:
                          enabled:
                            description: Whether NAPT is enabled for connections to
                              this attached data network.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: NaptEnabled
                              modelAsString: true
                              values:
                              - value: Enabled
                                description: NAPT is enabled
                              - value: Disabled
                                description: NAPT is disabled
                            default: Enabled
                          portRange:
                            description: 'Range of port numbers to use as translated
                              ports on each translated address.

                              If not specified and NAPT is enabled, this range defaults
                              to 1,024 - 49,999.

                              (Ports under 1,024 should not be used because these
                              are special purpose ports reserved by IANA. Ports 50,000
                              and above are reserved for non-NAPT use.)'
                            type: object
                            properties:
                              minPort:
                                description: The minimum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 1024
                              maxPort:
                                description: The maximum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 49999
                          portReuseHoldTime:
                            description: The minimum time (in seconds) that will pass
                              before a port that was used by a closed pinhole can
                              be recycled for use by another pinhole. All hold times
                              must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Minimum time in seconds that will pass
                                  before a TCP port that was used by a closed pinhole
                                  can be reused. Default for TCP is 2 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 120
                              udp:
                                description: Minimum time in seconds that will pass
                                  before a UDP port that was used by a closed pinhole
                                  can be reused. Default for UDP is 1 minute.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 60
                          pinholeLimits:
                            description: Maximum number of UDP and TCP pinholes that
                              can be open simultaneously on the core interface. For
                              5G networks, this is the N6 interface. For 4G networks,
                              this is the SGi interface.
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 65536
                            default: 65536
                          pinholeTimeouts:
                            description: Expiry times of inactive NAPT pinholes, in
                              seconds. All timers must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Pinhole timeout for TCP pinholes in seconds.
                                  Default for TCP is 3 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 180
                              udp:
                                description: Pinhole timeout for UDP pinholes in seconds.
                                  Default for UDP is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                              icmp:
                                description: Pinhole timeout for ICMP pinholes in
                                  seconds. Default for ICMP Echo is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                      userEquipmentAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: "The user equipment (UE) address pool prefixes\
                          \ for the attached data network from which the packet core\
                          \ instance will dynamically assign IP addresses to UEs.\n\
                          The packet core instance assigns an IP address to a UE when\
                          \ the UE sets up a PDU session.\n You must define at least\
                          \ one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix.\
                          \ If you define both, they must be of the same size."
                      userEquipmentStaticAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: 'The user equipment (UE) address pool prefixes
                          for the attached data network from which the packet core
                          instance will assign static IP addresses to UEs.

                          The packet core instance assigns an IP address to a UE when
                          the UE sets up a PDU session. The static IP address for
                          a specific UE is set in StaticIPConfiguration on the corresponding
                          SIM resource.

                          At least one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix
                          must be defined. If both are defined, they must be of the
                          same size.'
                    required:
                    - userPlaneDataInterface
                    - dnsAddresses
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting attached
            data network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Attached data network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the attached data network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneDataInterface:
                        description: The user plane interface on the data network.
                          For 5G networks, this is the N6 interface. For 4G networks,
                          this is the SGi interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      dnsAddresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The DNS servers to signal to UEs to use for this
                          attached data network. This configuration is mandatory -
                          if you don't want DNS servers, you must provide an empty
                          array.
                      naptConfiguration:
                        description: 'The network address and port translation (NAPT)
                          configuration.

                          If this is not specified, the attached data network will
                          use a default NAPT configuration with NAPT enabled.'
                        type: object
                        properties:
                          enabled:
                            description: Whether NAPT is enabled for connections to
                              this attached data network.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: NaptEnabled
                              modelAsString: true
                              values:
                              - value: Enabled
                                description: NAPT is enabled
                              - value: Disabled
                                description: NAPT is disabled
                            default: Enabled
                          portRange:
                            description: 'Range of port numbers to use as translated
                              ports on each translated address.

                              If not specified and NAPT is enabled, this range defaults
                              to 1,024 - 49,999.

                              (Ports under 1,024 should not be used because these
                              are special purpose ports reserved by IANA. Ports 50,000
                              and above are reserved for non-NAPT use.)'
                            type: object
                            properties:
                              minPort:
                                description: The minimum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 1024
                              maxPort:
                                description: The maximum port number
                                type: integer
                                format: int32
                                minimum: 1024
                                maximum: 65535
                                default: 49999
                          portReuseHoldTime:
                            description: The minimum time (in seconds) that will pass
                              before a port that was used by a closed pinhole can
                              be recycled for use by another pinhole. All hold times
                              must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Minimum time in seconds that will pass
                                  before a TCP port that was used by a closed pinhole
                                  can be reused. Default for TCP is 2 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 120
                              udp:
                                description: Minimum time in seconds that will pass
                                  before a UDP port that was used by a closed pinhole
                                  can be reused. Default for UDP is 1 minute.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 60
                          pinholeLimits:
                            description: Maximum number of UDP and TCP pinholes that
                              can be open simultaneously on the core interface. For
                              5G networks, this is the N6 interface. For 4G networks,
                              this is the SGi interface.
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 65536
                            default: 65536
                          pinholeTimeouts:
                            description: Expiry times of inactive NAPT pinholes, in
                              seconds. All timers must be at least 1 second.
                            type: object
                            properties:
                              tcp:
                                description: Pinhole timeout for TCP pinholes in seconds.
                                  Default for TCP is 3 minutes.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 180
                              udp:
                                description: Pinhole timeout for UDP pinholes in seconds.
                                  Default for UDP is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                              icmp:
                                description: Pinhole timeout for ICMP pinholes in
                                  seconds. Default for ICMP Echo is 30 seconds.
                                type: integer
                                format: int32
                                minimum: 1
                                default: 30
                      userEquipmentAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: "The user equipment (UE) address pool prefixes\
                          \ for the attached data network from which the packet core\
                          \ instance will dynamically assign IP addresses to UEs.\n\
                          The packet core instance assigns an IP address to a UE when\
                          \ the UE sets up a PDU session.\n You must define at least\
                          \ one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix.\
                          \ If you define both, they must be of the same size."
                      userEquipmentStaticAddressPoolPrefix:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          description: IPv4 address prefix.
                        minItems: 1
                        uniqueItems: true
                        description: 'The user equipment (UE) address pool prefixes
                          for the attached data network from which the packet core
                          instance will assign static IP addresses to UEs.

                          The packet core instance assigns an IP address to a UE when
                          the UE sets up a PDU session. The static IP address for
                          a specific UE is set in StaticIPConfiguration on the corresponding
                          SIM resource.

                          At least one of userEquipmentAddressPoolPrefix and userEquipmentStaticAddressPoolPrefix
                          must be defined. If both are defined, they must be of the
                          same size.'
                    required:
                    - userPlaneDataInterface
                    - dnsAddresses
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - AttachedDataNetwork
      operationId: AttachedDataNetworks_UpdateTags
      description: Updates an attached data network tags.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: attachedDataNetworkName
        in: path
        required: true
        description: The name of the attached data network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update attached data network tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting attached
            data network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Attached data network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the attached data network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneDataInterface:
                        description: The user plane interface on the data network.
                          For 5G networks, this is the N6 interface. For 4G networks,
                          this is the SGi interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      dnsAddresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The DNS servers to signal to UEs to use for this
                          attached data network. This configuration is mandatory -
                          if you don't want DNS servers, you must provide an empty
                          array.
                      naptConfiguration:
                        description: 'The network address and port translation (NAPT)
                          configuration.

                          If this is not specified, the attached data network will
                          use a default NAPT configuration with NAPT enabled.'
                        type: object
                        properties:
                          enabled:
                            description: Whether NAPT is enabled for connections to
                              this attached data network.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: NaptEnabled
                              modelAsString: true
                              values:
                              - value: Enabled
                                description: NAPT is enabled
                              - value: Disabled
[...]
