openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage mobile
    network resources
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}
  : delete:
      tags:
      - MobileNetwork
      operationId: MobileNetworks_Delete
      description: Deletes the specified mobile network.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - MobileNetwork
      operationId: MobileNetworks_Get
      description: Gets information about the specified mobile network.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Request successful. The operation returns the resulting mobile
            network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Mobile network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the mobile network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      publicLandMobileNetworkIdentifier:
                        description: The unique public land mobile network identifier
                          for the network. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        type: object
                        properties:
                          mcc:
                            description: Mobile country code (MCC).
                            type: string
                            pattern: ^\d{3}$
                          mnc:
                            description: Mobile network code (MNC).
                            type: string
                            pattern: ^\d{2,3}$
                        required:
                        - mcc
                        - mnc
                      publicLandMobileNetworks:
                        type: array
                        items:
                          type: object
                          properties:
                            mcc:
                              description: Mobile country code (MCC).
                              type: string
                              pattern: ^\d{3}$
                            mnc:
                              description: Mobile network code (MNC).
                              type: string
                              pattern: ^\d{2,3}$
                            homeNetworkPublicKeys:
                              type: object
                              description: Configuration relating to SUPI concealment.
                              properties:
                                profileA:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile A Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                                profileB:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile B Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                          required:
                          - mcc
                          - mnc
                          description: Public land mobile network (PLMN) ID. This
                            is made up of the mobile country code and mobile network
                            code, as defined in https://www.itu.int/rec/T-REC-E.212.
                            The values 001-01 and 001-001 can be used for testing
                            and the values 999-99 and 999-999 can be used on internal
                            private networks.
                        minItems: 1
                        uniqueItems: true
                        description: A list of public land mobile networks including
                          their identifiers. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        x-ms-identifiers:
                        - mcc
                        - mnc
                      serviceKey:
                        type: string
                        readOnly: true
                        description: The mobile network resource identifier
                    required:
                    - publicLandMobileNetworkIdentifier
                  identity:
                    description: The identity used to retrieve any private keys used
                      for SUPI concealment from Azure key vault.
                    type: object
                    properties:
                      type:
                        description: Type of managed service identity (currently only
                          UserAssigned allowed).
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - MobileNetwork
      operationId: MobileNetworks_CreateOrUpdate
      description: Creates or updates a mobile network.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Mobile network properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the mobile network resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    publicLandMobileNetworkIdentifier:
                      description: The unique public land mobile network identifier
                        for the network. If both 'publicLandMobileNetworks' and 'publicLandMobileNetworkIdentifier'
                        are specified, then the 'publicLandMobileNetworks' will take
                        precedence.
                      type: object
                      properties:
                        mcc:
                          description: Mobile country code (MCC).
                          type: string
                          pattern: ^\d{3}$
                        mnc:
                          description: Mobile network code (MNC).
                          type: string
                          pattern: ^\d{2,3}$
                      required:
                      - mcc
                      - mnc
                    publicLandMobileNetworks:
                      type: array
                      items:
                        type: object
                        properties:
                          mcc:
                            description: Mobile country code (MCC).
                            type: string
                            pattern: ^\d{3}$
                          mnc:
                            description: Mobile network code (MNC).
                            type: string
                            pattern: ^\d{2,3}$
                          homeNetworkPublicKeys:
                            type: object
                            description: Configuration relating to SUPI concealment.
                            properties:
                              profileA:
                                description: This provides a mapping to identify which
                                  public key has been used for SUPI concealment using
                                  the Profile A Protection Scheme.
                                type: array
                                items:
                                  type: object
                                  description: A key used for SUPI concealment.
                                  properties:
                                    id:
                                      type: integer
                                      format: int32
                                      minimum: 1
                                      maximum: 255
                                      description: The Home Network Public Key Identifier
                                        determines which public key was used to generate
                                        the SUCI sent to the AMF. See TS 23.003 Section
                                        2.2B Section 5.
                                    url:
                                      type: string
                                      description: 'The URL of Azure Key Vault secret
                                        containing the private key, versioned or unversioned.
                                        For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                  required:
                                  - id
                                minItems: 0
                                uniqueItems: true
                              profileB:
                                description: This provides a mapping to identify which
                                  public key has been used for SUPI concealment using
                                  the Profile B Protection Scheme.
                                type: array
                                items:
                                  type: object
                                  description: A key used for SUPI concealment.
                                  properties:
                                    id:
                                      type: integer
                                      format: int32
                                      minimum: 1
                                      maximum: 255
                                      description: The Home Network Public Key Identifier
                                        determines which public key was used to generate
                                        the SUCI sent to the AMF. See TS 23.003 Section
                                        2.2B Section 5.
                                    url:
                                      type: string
                                      description: 'The URL of Azure Key Vault secret
                                        containing the private key, versioned or unversioned.
                                        For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                  required:
                                  - id
                                minItems: 0
                                uniqueItems: true
                        required:
                        - mcc
                        - mnc
                        description: Public land mobile network (PLMN) ID. This is
                          made up of the mobile country code and mobile network code,
                          as defined in https://www.itu.int/rec/T-REC-E.212. The values
                          001-01 and 001-001 can be used for testing and the values
                          999-99 and 999-999 can be used on internal private networks.
                      minItems: 1
                      uniqueItems: true
                      description: A list of public land mobile networks including
                        their identifiers. If both 'publicLandMobileNetworks' and
                        'publicLandMobileNetworkIdentifier' are specified, then the
                        'publicLandMobileNetworks' will take precedence.
                      x-ms-identifiers:
                      - mcc
                      - mnc
                    serviceKey:
                      type: string
                      readOnly: true
                      description: The mobile network resource identifier
                  required:
                  - publicLandMobileNetworkIdentifier
                identity:
                  description: The identity used to retrieve any private keys used
                    for SUPI concealment from Azure key vault.
                  type: object
                  properties:
                    type:
                      description: Type of managed service identity (currently only
                        UserAssigned allowed).
                      enum:
                      - None
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update mobile network operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting mobile
            network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Mobile network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the mobile network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      publicLandMobileNetworkIdentifier:
                        description: The unique public land mobile network identifier
                          for the network. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        type: object
                        properties:
                          mcc:
                            description: Mobile country code (MCC).
                            type: string
                            pattern: ^\d{3}$
                          mnc:
                            description: Mobile network code (MNC).
                            type: string
                            pattern: ^\d{2,3}$
                        required:
                        - mcc
                        - mnc
                      publicLandMobileNetworks:
                        type: array
                        items:
                          type: object
                          properties:
                            mcc:
                              description: Mobile country code (MCC).
                              type: string
                              pattern: ^\d{3}$
                            mnc:
                              description: Mobile network code (MNC).
                              type: string
                              pattern: ^\d{2,3}$
                            homeNetworkPublicKeys:
                              type: object
                              description: Configuration relating to SUPI concealment.
                              properties:
                                profileA:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile A Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                                profileB:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile B Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                          required:
                          - mcc
                          - mnc
                          description: Public land mobile network (PLMN) ID. This
                            is made up of the mobile country code and mobile network
                            code, as defined in https://www.itu.int/rec/T-REC-E.212.
                            The values 001-01 and 001-001 can be used for testing
                            and the values 999-99 and 999-999 can be used on internal
                            private networks.
                        minItems: 1
                        uniqueItems: true
                        description: A list of public land mobile networks including
                          their identifiers. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        x-ms-identifiers:
                        - mcc
                        - mnc
                      serviceKey:
                        type: string
                        readOnly: true
                        description: The mobile network resource identifier
                    required:
                    - publicLandMobileNetworkIdentifier
                  identity:
                    description: The identity used to retrieve any private keys used
                      for SUPI concealment from Azure key vault.
                    type: object
                    properties:
                      type:
                        description: Type of managed service identity (currently only
                          UserAssigned allowed).
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting mobile
            network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Mobile network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the mobile network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      publicLandMobileNetworkIdentifier:
                        description: The unique public land mobile network identifier
                          for the network. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        type: object
                        properties:
                          mcc:
                            description: Mobile country code (MCC).
                            type: string
                            pattern: ^\d{3}$
                          mnc:
                            description: Mobile network code (MNC).
                            type: string
                            pattern: ^\d{2,3}$
                        required:
                        - mcc
                        - mnc
                      publicLandMobileNetworks:
                        type: array
                        items:
                          type: object
                          properties:
                            mcc:
                              description: Mobile country code (MCC).
                              type: string
                              pattern: ^\d{3}$
                            mnc:
                              description: Mobile network code (MNC).
                              type: string
                              pattern: ^\d{2,3}$
                            homeNetworkPublicKeys:
                              type: object
                              description: Configuration relating to SUPI concealment.
                              properties:
                                profileA:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile A Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                                profileB:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile B Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                          required:
                          - mcc
                          - mnc
                          description: Public land mobile network (PLMN) ID. This
                            is made up of the mobile country code and mobile network
                            code, as defined in https://www.itu.int/rec/T-REC-E.212.
                            The values 001-01 and 001-001 can be used for testing
                            and the values 999-99 and 999-999 can be used on internal
                            private networks.
                        minItems: 1
                        uniqueItems: true
                        description: A list of public land mobile networks including
                          their identifiers. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        x-ms-identifiers:
                        - mcc
                        - mnc
                      serviceKey:
                        type: string
                        readOnly: true
                        description: The mobile network resource identifier
                    required:
                    - publicLandMobileNetworkIdentifier
                  identity:
                    description: The identity used to retrieve any private keys used
                      for SUPI concealment from Azure key vault.
                    type: object
                    properties:
                      type:
                        description: Type of managed service identity (currently only
                          UserAssigned allowed).
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - MobileNetwork
      operationId: MobileNetworks_UpdateTags
      description: Updates mobile network tags and managed identity.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  description: The managed service identity associated with this resource.
                  type: object
                  properties:
                    type:
                      description: Type of managed service identity (currently only
                        UserAssigned allowed).
                      enum:
                      - None
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Identity and Tags object for patch operations.
        description: Parameters supplied to update mobile network tags and/or identity.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting mobile
            network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Mobile network properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the mobile network
                          resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      publicLandMobileNetworkIdentifier:
                        description: The unique public land mobile network identifier
                          for the network. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        type: object
                        properties:
                          mcc:
                            description: Mobile country code (MCC).
                            type: string
                            pattern: ^\d{3}$
                          mnc:
                            description: Mobile network code (MNC).
                            type: string
                            pattern: ^\d{2,3}$
                        required:
                        - mcc
                        - mnc
                      publicLandMobileNetworks:
                        type: array
                        items:
                          type: object
                          properties:
                            mcc:
                              description: Mobile country code (MCC).
                              type: string
                              pattern: ^\d{3}$
                            mnc:
                              description: Mobile network code (MNC).
                              type: string
                              pattern: ^\d{2,3}$
                            homeNetworkPublicKeys:
                              type: object
                              description: Configuration relating to SUPI concealment.
                              properties:
                                profileA:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile A Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                                profileB:
                                  description: This provides a mapping to identify
                                    which public key has been used for SUPI concealment
                                    using the Profile B Protection Scheme.
                                  type: array
                                  items:
                                    type: object
                                    description: A key used for SUPI concealment.
                                    properties:
                                      id:
                                        type: integer
                                        format: int32
                                        minimum: 1
                                        maximum: 255
                                        description: The Home Network Public Key Identifier
                                          determines which public key was used to
                                          generate the SUCI sent to the AMF. See TS
                                          23.003 Section 2.2B Section 5.
                                      url:
                                        type: string
                                        description: 'The URL of Azure Key Vault secret
                                          containing the private key, versioned or
                                          unversioned. For example: https://contosovault.vault.azure.net/secrets/mySuciPrivateKey/562a4bb76b524a1493a6afe8e536ee78.'
                                    required:
                                    - id
                                  minItems: 0
                                  uniqueItems: true
                          required:
                          - mcc
                          - mnc
                          description: Public land mobile network (PLMN) ID. This
                            is made up of the mobile country code and mobile network
                            code, as defined in https://www.itu.int/rec/T-REC-E.212.
                            The values 001-01 and 001-001 can be used for testing
                            and the values 999-99 and 999-999 can be used on internal
                            private networks.
                        minItems: 1
                        uniqueItems: true
                        description: A list of public land mobile networks including
                          their identifiers. If both 'publicLandMobileNetworks' and
                          'publicLandMobileNetworkIdentifier' are specified, then
                          the 'publicLandMobileNetworks' will take precedence.
                        x-ms-identifiers:
                        - mcc
                        - mnc
                      serviceKey:
                        type: string
                        readOnly: true
                        description: The mobile network resource identifier
                    required:
                    - publicLandMobileNetworkIdentifier
                  identity:
                    description: The identity used to retrieve any private keys used
                      for SUPI concealment from Azure key vault.
                    type: object
                    properties:
                      type:
                        description: Type of managed service identity (currently only
                          UserAssigned allowed).
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/mobileNetworks:
    get:
      tags:
      - MobileNetworks
      operationId: MobileNetworks_ListBySubscription
      description: Lists all the mobile networks in a subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful. The operation returns a list of mobile
            network resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
[...]
