openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage the
    operations.
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MobileNetwork/operations:
    get:
      tags:
      - operations
      operationId: Operations_List
      description: Gets a list of the operations.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK Returns a list of operations.
          content:
            application/json:
              schema:
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        isDataAction:
                          type: boolean
                          description: Indicates whether the operation applies to
                            data-plane.
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{operation}'
                        display:
                          readOnly: true
                          description: The object that represents the operation.
                          type: object
                          properties:
                            provider:
                              type: string
                              description: 'Service provider: Microsoft.MobileNetwork'
                            resource:
                              type: string
                              description: 'Resource on which the operation is performed:
                                Registration definition, registration assignment etc.'
                            operation:
                              type: string
                              description: 'Operation type: Read, write, delete, etc.'
                            description:
                              type: string
                              description: Description of the operation.
                      type: object
                      description: Object that describes a single Microsoft.MobileNetwork
                        operation.
                    description: List of Microsoft.MobileNetwork operations.
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                type: object
                description: List of the operations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Operation:
      properties:
        isDataAction:
          type: boolean
          description: Indicates whether the operation applies to data-plane.
        name:
          readOnly: true
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        display:
          readOnly: true
          description: The object that represents the operation.
          type: object
          properties:
            provider:
              type: string
              description: 'Service provider: Microsoft.MobileNetwork'
            resource:
              type: string
              description: 'Resource on which the operation is performed: Registration
                definition, registration assignment etc.'
            operation:
              type: string
              description: 'Operation type: Read, write, delete, etc.'
            description:
              type: string
              description: Description of the operation.
      type: object
      description: Object that describes a single Microsoft.MobileNetwork operation.
    OperationList:
      properties:
        value:
          readOnly: true
          type: array
          items:
            properties:
              isDataAction:
                type: boolean
                description: Indicates whether the operation applies to data-plane.
              name:
                readOnly: true
                type: string
                description: 'Operation name: {provider}/{resource}/{operation}'
              display:
                readOnly: true
                description: The object that represents the operation.
                type: object
                properties:
                  provider:
                    type: string
                    description: 'Service provider: Microsoft.MobileNetwork'
                  resource:
                    type: string
                    description: 'Resource on which the operation is performed: Registration
                      definition, registration assignment etc.'
                  operation:
                    type: string
                    description: 'Operation type: Read, write, delete, etc.'
                  description:
                    type: string
                    description: Description of the operation.
            type: object
            description: Object that describes a single Microsoft.MobileNetwork operation.
          description: List of Microsoft.MobileNetwork operations.
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      type: object
      description: List of the operations.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
