openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage packet
    core data plane resources
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes/{packetCoreDataPlaneName}
  : delete:
      tags:
      - PacketCoreDataPlane
      operationId: PacketCoreDataPlanes_Delete
      description: Deletes the specified packet core data plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - PacketCoreDataPlane
      operationId: PacketCoreDataPlanes_Get
      description: Gets information about the specified packet core data plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful. The operation returns the resulting packet
            core data plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core data plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core data
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneAccessInterface:
                        description: The user plane interface on the access network.
                          For 5G networks, this is the N3 interface. For 4G networks,
                          this is the S1-U interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      userPlaneAccessVirtualIpv4Addresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The virtual IP address(es) for the user plane
                          on the access network in a High Availability (HA) system.
                          In an HA deployment the access network router should be
                          configured to forward traffic for this address to the control
                          plane access interface on the active or standby node. In
                          non-HA system this list should be omitted or empty.
                    required:
                    - userPlaneAccessInterface
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - PacketCoreDataPlane
      operationId: PacketCoreDataPlanes_CreateOrUpdate
      description: Creates or updates a packet core data plane. Must be created in
        the same location as its parent packet core control plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Packet core data plane Properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the packet core data
                        plane resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    userPlaneAccessInterface:
                      description: The user plane interface on the access network.
                        For 5G networks, this is the N3 interface. For 4G networks,
                        this is the S1-U interface.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The logical name for this interface. This should
                            match one of the interfaces configured on your Azure Stack
                            Edge device.
                        ipv4Address:
                          description: The IPv4 address.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        ipv4Subnet:
                          description: The IPv4 subnet.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                        ipv4Gateway:
                          description: The default IPv4 gateway (router).
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        vlanId:
                          type: integer
                          format: int32
                          minimum: 1
                          maximum: 4094
                          description: 'VLAN identifier of the network interface.
                            Example: 501.'
                        ipv4AddressList:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The list of IPv4 addresses, for a multi-node
                            system.
                        bfdIpv4Endpoints:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The IPv4 addresses of the endpoints to send
                            BFD probes to.
                    userPlaneAccessVirtualIpv4Addresses:
                      type: array
                      items:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
                      uniqueItems: true
                      description: The virtual IP address(es) for the user plane on
                        the access network in a High Availability (HA) system. In
                        an HA deployment the access network router should be configured
                        to forward traffic for this address to the control plane access
                        interface on the active or standby node. In non-HA system
                        this list should be omitted or empty.
                  required:
                  - userPlaneAccessInterface
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update packet core data
          plane operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting packet
            core data plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core data plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core data
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneAccessInterface:
                        description: The user plane interface on the access network.
                          For 5G networks, this is the N3 interface. For 4G networks,
                          this is the S1-U interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      userPlaneAccessVirtualIpv4Addresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The virtual IP address(es) for the user plane
                          on the access network in a High Availability (HA) system.
                          In an HA deployment the access network router should be
                          configured to forward traffic for this address to the control
                          plane access interface on the active or standby node. In
                          non-HA system this list should be omitted or empty.
                    required:
                    - userPlaneAccessInterface
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting packet
            core data plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core data plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core data
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneAccessInterface:
                        description: The user plane interface on the access network.
                          For 5G networks, this is the N3 interface. For 4G networks,
                          this is the S1-U interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      userPlaneAccessVirtualIpv4Addresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The virtual IP address(es) for the user plane
                          on the access network in a High Availability (HA) system.
                          In an HA deployment the access network router should be
                          configured to forward traffic for this address to the control
                          plane access interface on the active or standby node. In
                          non-HA system this list should be omitted or empty.
                    required:
                    - userPlaneAccessInterface
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - PacketCoreDataPlane
      operationId: PacketCoreDataPlanes_UpdateTags
      description: Updates packet core data planes tags.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: packetCoreDataPlaneName
        in: path
        required: true
        description: The name of the packet core data plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update packet core data plane tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting packet
            core data plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core data plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core data
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      userPlaneAccessInterface:
                        description: The user plane interface on the access network.
                          For 5G networks, this is the N3 interface. For 4G networks,
                          this is the S1-U interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      userPlaneAccessVirtualIpv4Addresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The virtual IP address(es) for the user plane
                          on the access network in a High Availability (HA) system.
                          In an HA deployment the access network router should be
                          configured to forward traffic for this address to the control
                          plane access interface on the active or standby node. In
                          non-HA system this list should be omitted or empty.
                    required:
                    - userPlaneAccessInterface
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes
  : get:
      tags:
      - PacketCoreDataPlanes
      operationId: PacketCoreDataPlanes_ListByPacketCoreControlPlane
      description: Lists all the packet core data planes associated with a packet
        core control plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful. The operation returns a list of packet
            core data plane resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Packet core data plane Properties.
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the packet core
                                data plane resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - value: Unknown
                                - value: Succeeded
                                - value: Accepted
                                - value: Deleting
                                - value: Failed
                                - value: Canceled
                                - value: Deleted
                            userPlaneAccessInterface:
                              description: The user plane interface on the access
                                network. For 5G networks, this is the N3 interface.
                                For 4G networks, this is the S1-U interface.
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: The logical name for this interface.
                                    This should match one of the interfaces configured
                                    on your Azure Stack Edge device.
                                ipv4Address:
                                  description: The IPv4 address.
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                ipv4Subnet:
                                  description: The IPv4 subnet.
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                                ipv4Gateway:
                                  description: The default IPv4 gateway (router).
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                vlanId:
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  maximum: 4094
                                  description: 'VLAN identifier of the network interface.
                                    Example: 501.'
                                ipv4AddressList:
                                  type: array
                                  items:
                                    type: string
                                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                    description: IPv4 address.
                                  x-ms-identifiers: []
                                  description: The list of IPv4 addresses, for a multi-node
                                    system.
                                bfdIpv4Endpoints:
                                  type: array
                                  items:
                                    type: string
                                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                    description: IPv4 address.
                                  x-ms-identifiers: []
                                  description: The IPv4 addresses of the endpoints
                                    to send BFD probes to.
                            userPlaneAccessVirtualIpv4Addresses:
                              type: array
                              items:
                                type: string
                                pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                description: IPv4 address.
                              uniqueItems: true
                              description: The virtual IP address(es) for the user
                                plane on the access network in a High Availability
                                (HA) system. In an HA deployment the access network
                                router should be configured to forward traffic for
                                this address to the control plane access interface
                                on the active or standby node. In non-HA system this
                                list should be omitted or empty.
                          required:
                          - userPlaneAccessInterface
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: A list of packet core data planes in a resource group.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for packet core data planes API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    PacketCoreControlPlaneNameParameter:
      name: packetCoreControlPlaneName
      in: path
      required: true
      description: The name of the packet core control plane.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
    PacketCoreDataPlaneNameParameter:
      name: packetCoreDataPlaneName
      in: path
      required: true
      description: The name of the packet core data plane.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PacketCoreDataPlane:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          x-ms-client-flatten: true
          description: Packet core data plane Properties.
          type: object
          properties:
            provisioningState:
              readOnly: true
              description: The provisioning state of the packet core data plane resource.
              type: string
              enum:
              - Unknown
              - Succeeded
              - Accepted
              - Deleting
              - Failed
              - Canceled
              - Deleted
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
                values:
                - value: Unknown
                - value: Succeeded
                - value: Accepted
                - value: Deleting
                - value: Failed
                - value: Canceled
                - value: Deleted
            userPlaneAccessInterface:
              description: The user plane interface on the access network. For 5G
                networks, this is the N3 interface. For 4G networks, this is the S1-U
                interface.
              type: object
              properties:
                name:
                  type: string
                  description: The logical name for this interface. This should match
                    one of the interfaces configured on your Azure Stack Edge device.
                ipv4Address:
                  description: The IPv4 address.
                  type: string
                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                ipv4Subnet:
                  description: The IPv4 subnet.
                  type: string
                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                ipv4Gateway:
                  description: The default IPv4 gateway (router).
                  type: string
                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                vlanId:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 4094
                  description: 'VLAN identifier of the network interface. Example:
                    501.'
                ipv4AddressList:
                  type: array
                  items:
                    type: string
                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                    description: IPv4 address.
                  x-ms-identifiers: []
                  description: The list of IPv4 addresses, for a multi-node system.
                bfdIpv4Endpoints:
                  type: array
                  items:
                    type: string
                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                    description: IPv4 address.
                  x-ms-identifiers: []
                  description: The IPv4 addresses of the endpoints to send BFD probes
                    to.
            userPlaneAccessVirtualIpv4Addresses:
              type: array
              items:
                type: string
                pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                description: IPv4 address.
              uniqueItems: true
              description: The virtual IP address(es) for the user plane on the access
                network in a High Availability (HA) system. In an HA deployment the
                access network router should be configured to forward traffic for
                this address to the control plane access interface on the active or
                standby node. In non-HA system this list should be omitted or empty.
          required:
          - userPlaneAccessInterface
      required:
      - location
      - properties
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    PacketCoreDataPlanePropertiesFormat:
      description: Packet core data plane properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          description: The provisioning state of the packet core data plane resource.
          type: string
          enum:
          - Unknown
          - Succeeded
          - Accepted
          - Deleting
          - Failed
          - Canceled
          - Deleted
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
            values:
            - value: Unknown
            - value: Succeeded
            - value: Accepted
            - value: Deleting
            - value: Failed
            - value: Canceled
            - value: Deleted
        userPlaneAccessInterface:
          description: The user plane interface on the access network. For 5G networks,
            this is the N3 interface. For 4G networks, this is the S1-U interface.
          type: object
          properties:
            name:
              type: string
              description: The logical name for this interface. This should match
                one of the interfaces configured on your Azure Stack Edge device.
            ipv4Address:
              description: The IPv4 address.
              type: string
              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
            ipv4Subnet:
              description: The IPv4 subnet.
              type: string
              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
            ipv4Gateway:
              description: The default IPv4 gateway (router).
              type: string
              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
            vlanId:
              type: integer
              format: int32
              minimum: 1
              maximum: 4094
              description: 'VLAN identifier of the network interface. Example: 501.'
            ipv4AddressList:
              type: array
              items:
                type: string
                pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                description: IPv4 address.
              x-ms-identifiers: []
              description: The list of IPv4 addresses, for a multi-node system.
            bfdIpv4Endpoints:
              type: array
              items:
                type: string
                pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                description: IPv4 address.
              x-ms-identifiers: []
              description: The IPv4 addresses of the endpoints to send BFD probes
                to.
        userPlaneAccessVirtualIpv4Addresses:
          type: array
[...]
