openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage packet
    core control plane resources
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}
  : delete:
      tags:
      - PacketCoreControlPlane
      operationId: PacketCoreControlPlanes_Delete
      description: Deletes the specified packet core control plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - PacketCoreControlPlane
      operationId: PacketCoreControlPlanes_Get
      description: Gets information about the specified packet core control plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful. The operation returns the resulting packet
            core control plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core control plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core control
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      installation:
                        description: The installation state of the packet core control
                          plane resource.
                        type: object
                        properties:
                          desiredState:
                            description: The desired installation state
                            default: Installed
                            type: string
                            enum:
                            - Uninstalled
                            - Installed
                            x-ms-enum:
                              name: DesiredInstallationState
                              modelAsString: true
                              values:
                              - value: Uninstalled
                                description: Don't install the packet core.
                              - value: Installed
                                description: Install the packet core.
                          state:
                            description: Installation state
                            readOnly: true
                            type: string
                            enum:
                            - Uninstalled
                            - Installing
                            - Installed
                            - Updating
                            - Upgrading
                            - Uninstalling
                            - Reinstalling
                            - RollingBack
                            - Failed
                            x-ms-enum:
                              name: InstallationState
                              modelAsString: true
                              values:
                              - value: Uninstalled
                                description: The packet core is uninstalled.
                              - value: Installing
                                description: The packet core is installing.
                              - value: Installed
                                description: The packet core is installed.
                              - value: Updating
                                description: The packet core is updating its configuration.
                              - value: Upgrading
                                description: The packet core is upgrading to a different
                                  software version.
                              - value: Uninstalling
                                description: The packet core is uninstalling.
                              - value: Reinstalling
                                description: The packet core is reinstalling.
                              - value: RollingBack
                                description: The packet core is rolling back to its
                                  previous version.
                              - value: Failed
                                description: The packet core is in failed state.
                          reinstallRequired:
                            description: Whether a reinstall of the packet core is
                              required to pick up the latest configuration changes.
                            readOnly: true
                            type: string
                            enum:
                            - Required
                            - NotRequired
                            x-ms-enum:
                              name: ReinstallRequired
                              modelAsString: true
                              values:
                              - value: Required
                                description: A reinstall of the packet core is required.
                              - value: NotRequired
                                description: A reinstall of the packet core is not
                                  required.
                          reasons:
                            description: Reason(s) for the current installation state
                              of the packet core.
                            readOnly: true
                            type: array
                            items:
                              type: string
                              description: The reason or list of reasons why a packet
                                core has not been installed or requires a reinstall.
                              enum:
                              - NoSlices
                              - NoPacketCoreDataPlane
                              - NoAttachedDataNetworks
                              - PublicLandMobileNetworkIdentifierHasChanged
                              - ControlPlaneAccessInterfaceHasChanged
                              - UserPlaneAccessInterfaceHasChanged
                              - UserPlaneDataInterfaceHasChanged
                              - ControlPlaneAccessVirtualIpv4AddressesHasChanged
                              - UserPlaneAccessVirtualIpv4AddressesHasChanged
                              x-ms-enum:
                                name: InstallationReason
                                modelAsString: true
                                values:
                                - value: NoSlices
                                  description: The packet core has not been installed
                                    as the mobile network does not have any applicable
                                    configured slices.
                                - value: NoPacketCoreDataPlane
                                  description: The packet core has not been installed
                                    as there is no configured data plane for this
                                    packet core.
                                - value: NoAttachedDataNetworks
                                  description: The packet core has not been installed
                                    as the packet core has no attached data networks.
                                - value: PublicLandMobileNetworkIdentifierHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date PLMN ID.
                                - value: ControlPlaneAccessInterfaceHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date control plane
                                    access interface information.
                                - value: UserPlaneAccessInterfaceHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date user plane core
                                    interface.
                                - value: UserPlaneDataInterfaceHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date user plane access
                                    interface.
                                - value: ControlPlaneAccessVirtualIpv4AddressesHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date control plane
                                    access network virtual IP address.
                                - value: UserPlaneAccessVirtualIpv4AddressesHasChanged
                                  description: A reinstall is required as the packet
                                    core is running with out-of-date user plane access
                                    network virtual IP address.
                            uniqueItems: true
                          operation:
                            description: A reference to an in-progress installation
                              operation
                            readOnly: true
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[^/?#]+/[lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+/[oO][pP][eE][rR][aA][tT][iI][oO][nN][sS][tT][aA][tT][uU][sS][eE][sS]/[^/?#]+$
                                description: Azure Async Operation ID.
                            required:
                            - id
                      sites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][tT][eE][sS]/[^/?#]+$
                              description: Site resource ID.
                          required:
                          - id
                          description: Reference to a site resource.
                          x-ms-azure-resource: true
                        uniqueItems: true
                        minItems: 1
                        description: Site(s) under which this packet core control
                          plane should be deployed. The sites must be in the same
                          location as the packet core control plane.
                      platform:
                        description: The platform where the packet core is deployed.
                        type: object
                        properties:
                          type:
                            description: The platform type where packet core is deployed.
                            type: string
                            enum:
                            - AKS-HCI
                            - 3P-AZURE-STACK-HCI
                            x-ms-enum:
                              name: PlatformType
                              modelAsString: true
                              values:
                              - value: AKS-HCI
                                description: If this option is chosen, you must set
                                  one of "azureStackEdgeDevice", "connectedCluster"
                                  or "customLocation". If multiple are set, they must
                                  be consistent with each other.
                              - value: 3P-AZURE-STACK-HCI
                                description: If this option is chosen, you must set
                                  one of "azureStackHciCluster", "connectedCluster"
                                  or "customLocation". If multiple are set, they must
                                  be consistent with each other.
                          azureStackEdgeDevice:
                            description: The Azure Stack Edge device where the packet
                              core is deployed. If the device is part of a fault tolerant
                              pair, either device in the pair can be specified.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE]/[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE][dD][eE][vV][iI][cC][eE][sS]/[^/?#]+$
                                description: Azure Stack Edge device resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          azureStackEdgeDevices:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE]/[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE][dD][eE][vV][iI][cC][eE][sS]/[^/?#]+$
                                  description: Azure Stack Edge device resource ID.
                              required:
                              - id
                              description: Reference to an Azure Stack Edge device
                                resource.
                              x-ms-azure-resource: true
                            description: The Azure Stack Edge devices where the packet
                              core is deployed. If the packet core is deployed across
                              multiple devices, all devices will appear in this list.
                          azureStackHciCluster:
                            description: The Azure Stack HCI cluster where the packet
                              core is deployed.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[aA][zZ][uU][rR][eE][sS][tT][aA][cC][kK][hH][cC][iI]/[cC][lL][uU][sS][tT][eE][rR][sS]/[^/?#]+$
                                description: Azure Stack HCI cluster resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          connectedCluster:
                            description: Azure Arc connected cluster where the packet
                              core is deployed.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[kK][uU][bB][eE][rR][nN][eE][tT][eE][sS]/[cC][oO][nN][nN][eE][cC][tT][eE][dD][cC][lL][uU][sS][tT][eE][rR][sS]/[^/?#]+$
                                description: Azure Arc connected cluster resource
                                  ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          customLocation:
                            description: Azure Arc custom location where the packet
                              core is deployed.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[eE][xX][tT][eE][nN][dD][eE][dD][lL][oO][cC][aA][tT][iI][oO][nN]/[cC][uU][sS][tT][oO][mM][lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+$
                                description: Azure Arc custom location resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                        required:
                        - type
                      coreNetworkTechnology:
                        description: The core network technology generation (5G core
                          or EPC / 4G core).
                        type: string
                        enum:
                        - 5GC
                        - EPC
                        - EPC + 5GC
                        default: 5GC
                        x-ms-enum:
                          name: CoreNetworkType
                          values:
                          - value: 5GC
                            description: 5G core
                          - value: EPC
                            description: EPC / 4G core
                          - value: EPC + 5GC
                            description: Combined EPC / 4G and 5G core
                      version:
                        type: string
                        description: The desired version of the packet core software.
                      installedVersion:
                        type: string
                        readOnly: true
                        description: The currently installed version of the packet
                          core software.
                      rollbackVersion:
                        type: string
                        readOnly: true
                        description: The previous version of the packet core software
                          that was deployed. Used when performing the rollback action.
                      controlPlaneAccessInterface:
                        description: The control plane interface on the access network.
                          For 5G networks, this is the N2 interface. For 4G networks,
                          this is the S1-MME interface.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The logical name for this interface. This
                              should match one of the interfaces configured on your
                              Azure Stack Edge device.
                          ipv4Address:
                            description: The IPv4 address.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          ipv4Subnet:
                            description: The IPv4 subnet.
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                          ipv4Gateway:
                            description: The default IPv4 gateway (router).
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          vlanId:
                            type: integer
                            format: int32
                            minimum: 1
                            maximum: 4094
                            description: 'VLAN identifier of the network interface.
                              Example: 501.'
                          ipv4AddressList:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The list of IPv4 addresses, for a multi-node
                              system.
                          bfdIpv4Endpoints:
                            type: array
                            items:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                            x-ms-identifiers: []
                            description: The IPv4 addresses of the endpoints to send
                              BFD probes to.
                      controlPlaneAccessVirtualIpv4Addresses:
                        type: array
                        items:
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                          description: IPv4 address.
                        uniqueItems: true
                        description: The virtual IP address(es) for the control plane
                          on the access network in a High Availability (HA) system.
                          In an HA deployment the access network router should be
                          configured to anycast traffic for this address to the control
                          plane access interfaces on the active and standby nodes.
                          In non-HA system this list should be omitted or empty.
                      sku:
                        description: The SKU defining the throughput and SIM allowances
                          for this packet core control plane deployment.
                        type: string
                        enum:
                        - G0
                        - G1
                        - G2
                        - G5
                        - G10
                        x-ms-enum:
                          name: BillingSku
                          modelAsString: true
                          values:
                          - value: G0
                            description: 100 Mbps, 20 active SIMs plan, 2 RANs
                          - value: G1
                            description: 1 Gbps, 100 active SIMs plan, 5 RANs
                          - value: G2
                            description: 2 Gbps, 200 active SIMs plan, 10 RANs
                          - value: G5
                            description: 5 Gbps, 500 active SIMs plan
                          - value: G10
                            description: 10 Gbps, 1000 active SIMs plan
                      ueMtu:
                        description: The MTU (in bytes) signaled to the UE. The same
                          MTU is set on the user plane data links for all data networks.
                          The MTU set on the user plane access link is calculated
                          to be 60 bytes greater than this value to allow for GTP
                          encapsulation.
                        type: integer
                        format: int32
                        minimum: 1280
                        maximum: 1930
                        default: 1440
                      localDiagnosticsAccess:
                        description: The kubernetes ingress configuration to control
                          access to packet core diagnostics over local APIs.
                        type: object
                        properties:
                          authenticationType:
                            type: string
                            description: How to authenticate users who access local
                              diagnostics APIs.
                            enum:
                            - AAD
                            - Password
                            x-ms-enum:
                              name: AuthenticationType
                              modelAsString: true
                              values:
                              - value: AAD
                                description: Use AAD SSO to authenticate the user
                                  (this requires internet access).
                              - value: Password
                                description: Use locally stored passwords to authenticate
                                  the user.
                          httpsServerCertificate:
                            description: The HTTPS server TLS certificate used to
                              secure local access to diagnostics.
                            type: object
                            properties:
                              certificateUrl:
                                type: string
                                description: 'The certificate URL, unversioned. For
                                  example: https://contosovault.vault.azure.net/certificates/ingress.'
                              provisioning:
                                readOnly: true
                                description: The provisioning state of the certificate.
                                type: object
                                properties:
                                  state:
                                    readOnly: true
                                    type: string
                                    description: The certificate's provisioning state
                                    enum:
                                    - NotProvisioned
                                    - Provisioned
                                    - Failed
                                    x-ms-enum:
                                      name: CertificateProvisioningState
                                      modelAsString: true
                                      values:
                                      - value: NotProvisioned
                                        description: The certificate has not been
                                          provisioned.
                                      - value: Provisioned
                                        description: The certificate has been provisioned.
                                      - value: Failed
                                        description: The certificate failed to be
                                          provisioned. The "reason" property explains
                                          why.
                                  reason:
                                    readOnly: true
                                    type: string
                                    description: Reason for certificate provisioning
                                      failure.
                            required:
                            - certificateUrl
                        required:
                        - authenticationType
                      diagnosticsUpload:
                        description: Configuration for uploading packet core diagnostics
                        type: object
                        properties:
                          storageAccountContainerUrl:
                            type: string
                            description: The Storage Account Container URL to upload
                              diagnostics to.
                        required:
                        - storageAccountContainerUrl
                      eventHub:
                        description: Configuration for sending packet core events
                          to an Azure Event Hub.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[eE][vV][eE][nN][tT][hH][uU][bB]/[nN][aA][mM][eE][sS][pP][aA][cC][eE][sS]/[^/?#]+/[eV][vV][eE][nN][tT][hH][uU][bB][sS]/[^/?#]+$
                            description: Resource ID  of Azure Event Hub to send packet
                              core events to.
                          reportingInterval:
                            type: integer
                            format: int32
                            minimum: 30
                            maximum: 3600
                            default: 1800
                            description: The duration (in seconds) between UE usage
                              reports.
                        required:
                        - id
                      signaling:
                        description: Signaling configuration for the packet core.
                        type: object
                        properties:
                          nasReroute:
                            description: Configuration enabling 4G NAS reroute.
                            type: object
                            properties:
                              macroMmeGroupId:
                                type: integer
                                format: int32
                                minimum: 0
                                maximum: 65535
                                description: The macro network's MME group ID. This
                                  is where unknown UEs are sent to via NAS reroute.
                            required:
                            - macroMmeGroupId
                          nasEncryption:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            maxItems: 3
                            items:
                              type: string
                              description: The supported NAS Encryption types.
                              enum:
                              - NEA0/EEA0
                              - NEA1/EEA1
                              - NEA2/EEA2
                              x-ms-enum:
                                name: nasEncryptionType
                                modelAsString: true
                                values:
                                - value: NEA0/EEA0
                                  description: NAS signaling is not encrypted.
                                - value: NEA1/EEA1
                                  description: NAS signaling is encrypted with SNOW
                                    3G cipher.
                                - value: NEA2/EEA2
                                  description: ' NAS signaling is encrypted with AES
                                    cipher.'
                            description: An ordered list of NAS encryption algorithms,
                              used to encrypt control plane traffic between the UE
                              and packet core, in order from most to least preferred.
                              If not specified, the packet core will use a built-in
                              default ordering.
                      interopSettings:
                        type: object
                        description: Settings to allow interoperability with third
                          party components e.g. RANs and UEs.
                      homeNetworkPrivateKeysProvisioning:
                        readOnly: true
                        description: The provisioning state of the secret containing
                          private keys and keyIds for SUPI concealment.
                        type: object
                        properties:
                          state:
                            readOnly: true
                            type: string
                            description: The provisioning state of the private keys
                              for SUPI concealment.
                            enum:
                            - NotProvisioned
                            - Provisioned
                            - Failed
                            x-ms-enum:
                              name: homeNetworkPrivateKeysProvisioningState
                              modelAsString: true
                              values:
                              - value: NotProvisioned
                                description: Provisioning of the private keys for
                                  SUPI concealment has not been attempted.
                              - value: Provisioned
                                description: The private keys for SUPI concealment
                                  are successfully provisioned.
                              - value: Failed
                                description: Provisioning of the private keys for
                                  SUPI concealment has failed.
                        required:
                        - state
                      userConsent:
                        description: The user consent configuration for the packet
                          core.
                        type: object
                        properties:
                          allowSupportTelemetryAccess:
                            type: boolean
                            description: Allow Microsoft to access non-PII telemetry
                              information from the packet core.
                    required:
                    - sites
                    - platform
                    - controlPlaneAccessInterface
                    - sku
                    - localDiagnosticsAccess
                  identity:
                    description: The identity used to retrieve the ingress certificate
                      from Azure key vault.
                    type: object
                    properties:
                      type:
                        description: Type of managed service identity (currently only
                          UserAssigned allowed).
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - PacketCoreControlPlane
      operationId: PacketCoreControlPlanes_CreateOrUpdate
      description: Creates or updates a packet core control plane.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Packet core control plane Properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the packet core control
                        plane resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    installation:
                      description: The installation state of the packet core control
                        plane resource.
                      type: object
                      properties:
                        desiredState:
                          description: The desired installation state
                          default: Installed
                          type: string
                          enum:
                          - Uninstalled
                          - Installed
                          x-ms-enum:
                            name: DesiredInstallationState
                            modelAsString: true
                            values:
                            - value: Uninstalled
                              description: Don't install the packet core.
                            - value: Installed
                              description: Install the packet core.
                        state:
                          description: Installation state
                          readOnly: true
                          type: string
                          enum:
                          - Uninstalled
                          - Installing
                          - Installed
                          - Updating
                          - Upgrading
                          - Uninstalling
                          - Reinstalling
                          - RollingBack
                          - Failed
                          x-ms-enum:
                            name: InstallationState
                            modelAsString: true
                            values:
                            - value: Uninstalled
                              description: The packet core is uninstalled.
                            - value: Installing
                              description: The packet core is installing.
                            - value: Installed
                              description: The packet core is installed.
                            - value: Updating
                              description: The packet core is updating its configuration.
                            - value: Upgrading
                              description: The packet core is upgrading to a different
                                software version.
                            - value: Uninstalling
                              description: The packet core is uninstalling.
                            - value: Reinstalling
                              description: The packet core is reinstalling.
                            - value: RollingBack
                              description: The packet core is rolling back to its
                                previous version.
                            - value: Failed
                              description: The packet core is in failed state.
                        reinstallRequired:
                          description: Whether a reinstall of the packet core is required
                            to pick up the latest configuration changes.
                          readOnly: true
                          type: string
                          enum:
                          - Required
                          - NotRequired
                          x-ms-enum:
                            name: ReinstallRequired
                            modelAsString: true
                            values:
                            - value: Required
                              description: A reinstall of the packet core is required.
                            - value: NotRequired
                              description: A reinstall of the packet core is not required.
                        reasons:
                          description: Reason(s) for the current installation state
                            of the packet core.
                          readOnly: true
                          type: array
                          items:
                            type: string
                            description: The reason or list of reasons why a packet
                              core has not been installed or requires a reinstall.
                            enum:
                            - NoSlices
                            - NoPacketCoreDataPlane
                            - NoAttachedDataNetworks
                            - PublicLandMobileNetworkIdentifierHasChanged
                            - ControlPlaneAccessInterfaceHasChanged
                            - UserPlaneAccessInterfaceHasChanged
                            - UserPlaneDataInterfaceHasChanged
                            - ControlPlaneAccessVirtualIpv4AddressesHasChanged
                            - UserPlaneAccessVirtualIpv4AddressesHasChanged
                            x-ms-enum:
                              name: InstallationReason
                              modelAsString: true
                              values:
                              - value: NoSlices
                                description: The packet core has not been installed
                                  as the mobile network does not have any applicable
                                  configured slices.
                              - value: NoPacketCoreDataPlane
                                description: The packet core has not been installed
                                  as there is no configured data plane for this packet
                                  core.
                              - value: NoAttachedDataNetworks
                                description: The packet core has not been installed
                                  as the packet core has no attached data networks.
                              - value: PublicLandMobileNetworkIdentifierHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date PLMN ID.
                              - value: ControlPlaneAccessInterfaceHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date control plane access
                                  interface information.
                              - value: UserPlaneAccessInterfaceHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date user plane core
                                  interface.
                              - value: UserPlaneDataInterfaceHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date user plane access
                                  interface.
                              - value: ControlPlaneAccessVirtualIpv4AddressesHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date control plane access
                                  network virtual IP address.
                              - value: UserPlaneAccessVirtualIpv4AddressesHasChanged
                                description: A reinstall is required as the packet
                                  core is running with out-of-date user plane access
                                  network virtual IP address.
                          uniqueItems: true
                        operation:
                          description: A reference to an in-progress installation
                            operation
                          readOnly: true
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[^/?#]+/[lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+/[oO][pP][eE][rR][aA][tT][iI][oO][nN][sS][tT][aA][tT][uU][sS][eE][sS]/[^/?#]+$
                              description: Azure Async Operation ID.
                          required:
                          - id
                    sites:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][tT][eE][sS]/[^/?#]+$
                            description: Site resource ID.
                        required:
                        - id
                        description: Reference to a site resource.
                        x-ms-azure-resource: true
                      uniqueItems: true
                      minItems: 1
                      description: Site(s) under which this packet core control plane
                        should be deployed. The sites must be in the same location
                        as the packet core control plane.
                    platform:
                      description: The platform where the packet core is deployed.
                      type: object
                      properties:
                        type:
                          description: The platform type where packet core is deployed.
                          type: string
                          enum:
                          - AKS-HCI
                          - 3P-AZURE-STACK-HCI
                          x-ms-enum:
                            name: PlatformType
                            modelAsString: true
                            values:
                            - value: AKS-HCI
                              description: If this option is chosen, you must set
                                one of "azureStackEdgeDevice", "connectedCluster"
                                or "customLocation". If multiple are set, they must
                                be consistent with each other.
                            - value: 3P-AZURE-STACK-HCI
                              description: If this option is chosen, you must set
                                one of "azureStackHciCluster", "connectedCluster"
                                or "customLocation". If multiple are set, they must
                                be consistent with each other.
                        azureStackEdgeDevice:
                          description: The Azure Stack Edge device where the packet
                            core is deployed. If the device is part of a fault tolerant
                            pair, either device in the pair can be specified.
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE]/[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE][dD][eE][vV][iI][cC][eE][sS]/[^/?#]+$
                              description: Azure Stack Edge device resource ID.
                          required:
                          - id
                          x-ms-azure-resource: true
                        azureStackEdgeDevices:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE]/[dD][aA][tT][aA][bB][oO][xX][eE][dD][gG][eE][dD][eE][vV][iI][cC][eE][sS]/[^/?#]+$
                                description: Azure Stack Edge device resource ID.
                            required:
                            - id
                            description: Reference to an Azure Stack Edge device resource.
                            x-ms-azure-resource: true
                          description: The Azure Stack Edge devices where the packet
                            core is deployed. If the packet core is deployed across
                            multiple devices, all devices will appear in this list.
                        azureStackHciCluster:
                          description: The Azure Stack HCI cluster where the packet
                            core is deployed.
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[aA][zZ][uU][rR][eE][sS][tT][aA][cC][kK][hH][cC][iI]/[cC][lL][uU][sS][tT][eE][rR][sS]/[^/?#]+$
                              description: Azure Stack HCI cluster resource ID.
                          required:
                          - id
                          x-ms-azure-resource: true
                        connectedCluster:
                          description: Azure Arc connected cluster where the packet
                            core is deployed.
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[kK][uU][bB][eE][rR][nN][eE][tT][eE][sS]/[cC][oO][nN][nN][eE][cC][tT][eE][dD][cC][lL][uU][sS][tT][eE][rR][sS]/[^/?#]+$
                              description: Azure Arc connected cluster resource ID.
                          required:
                          - id
                          x-ms-azure-resource: true
                        customLocation:
                          description: Azure Arc custom location where the packet
                            core is deployed.
                          type: object
                          properties:
                            id:
                              type: string
                              pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[eE][xX][tT][eE][nN][dD][eE][dD][lL][oO][cC][aA][tT][iI][oO][nN]/[cC][uU][sS][tT][oO][mM][lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+$
                              description: Azure Arc custom location resource ID.
                          required:
                          - id
                          x-ms-azure-resource: true
                      required:
                      - type
                    coreNetworkTechnology:
                      description: The core network technology generation (5G core
                        or EPC / 4G core).
                      type: string
                      enum:
                      - 5GC
                      - EPC
                      - EPC + 5GC
                      default: 5GC
                      x-ms-enum:
                        name: CoreNetworkType
                        values:
                        - value: 5GC
                          description: 5G core
                        - value: EPC
                          description: EPC / 4G core
                        - value: EPC + 5GC
                          description: Combined EPC / 4G and 5G core
                    version:
                      type: string
                      description: The desired version of the packet core software.
                    installedVersion:
                      type: string
                      readOnly: true
                      description: The currently installed version of the packet core
                        software.
                    rollbackVersion:
                      type: string
                      readOnly: true
                      description: The previous version of the packet core software
                        that was deployed. Used when performing the rollback action.
                    controlPlaneAccessInterface:
                      description: The control plane interface on the access network.
                        For 5G networks, this is the N2 interface. For 4G networks,
                        this is the S1-MME interface.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The logical name for this interface. This should
                            match one of the interfaces configured on your Azure Stack
                            Edge device.
                        ipv4Address:
                          description: The IPv4 address.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        ipv4Subnet:
                          description: The IPv4 subnet.
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
                        ipv4Gateway:
                          description: The default IPv4 gateway (router).
                          type: string
                          pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        vlanId:
                          type: integer
                          format: int32
                          minimum: 1
                          maximum: 4094
                          description: 'VLAN identifier of the network interface.
                            Example: 501.'
                        ipv4AddressList:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The list of IPv4 addresses, for a multi-node
                            system.
                        bfdIpv4Endpoints:
                          type: array
                          items:
                            type: string
                            pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                            description: IPv4 address.
                          x-ms-identifiers: []
                          description: The IPv4 addresses of the endpoints to send
                            BFD probes to.
                    controlPlaneAccessVirtualIpv4Addresses:
                      type: array
                      items:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
                      uniqueItems: true
                      description: The virtual IP address(es) for the control plane
                        on the access network in a High Availability (HA) system.
                        In an HA deployment the access network router should be configured
                        to anycast traffic for this address to the control plane access
                        interfaces on the active and standby nodes. In non-HA system
                        this list should be omitted or empty.
                    sku:
                      description: The SKU defining the throughput and SIM allowances
                        for this packet core control plane deployment.
                      type: string
                      enum:
                      - G0
                      - G1
                      - G2
                      - G5
                      - G10
                      x-ms-enum:
                        name: BillingSku
                        modelAsString: true
                        values:
                        - value: G0
                          description: 100 Mbps, 20 active SIMs plan, 2 RANs
                        - value: G1
                          description: 1 Gbps, 100 active SIMs plan, 5 RANs
                        - value: G2
                          description: 2 Gbps, 200 active SIMs plan, 10 RANs
                        - value: G5
                          description: 5 Gbps, 500 active SIMs plan
                        - value: G10
                          description: 10 Gbps, 1000 active SIMs plan
                    ueMtu:
                      description: The MTU (in bytes) signaled to the UE. The same
                        MTU is set on the user plane data links for all data networks.
                        The MTU set on the user plane access link is calculated to
                        be 60 bytes greater than this value to allow for GTP encapsulation.
                      type: integer
                      format: int32
                      minimum: 1280
                      maximum: 1930
                      default: 1440
                    localDiagnosticsAccess:
                      description: The kubernetes ingress configuration to control
                        access to packet core diagnostics over local APIs.
                      type: object
                      properties:
                        authenticationType:
                          type: string
                          description: How to authenticate users who access local
                            diagnostics APIs.
                          enum:
                          - AAD
                          - Password
                          x-ms-enum:
                            name: AuthenticationType
                            modelAsString: true
                            values:
                            - value: AAD
                              description: Use AAD SSO to authenticate the user (this
                                requires internet access).
                            - value: Password
                              description: Use locally stored passwords to authenticate
                                the user.
                        httpsServerCertificate:
                          description: The HTTPS server TLS certificate used to secure
                            local access to diagnostics.
                          type: object
                          properties:
                            certificateUrl:
                              type: string
                              description: 'The certificate URL, unversioned. For
                                example: https://contosovault.vault.azure.net/certificates/ingress.'
                            provisioning:
                              readOnly: true
                              description: The provisioning state of the certificate.
                              type: object
                              properties:
                                state:
                                  readOnly: true
                                  type: string
                                  description: The certificate's provisioning state
                                  enum:
                                  - NotProvisioned
                                  - Provisioned
                                  - Failed
                                  x-ms-enum:
                                    name: CertificateProvisioningState
                                    modelAsString: true
                                    values:
                                    - value: NotProvisioned
                                      description: The certificate has not been provisioned.
                                    - value: Provisioned
                                      description: The certificate has been provisioned.
                                    - value: Failed
                                      description: The certificate failed to be provisioned.
                                        The "reason" property explains why.
                                reason:
                                  readOnly: true
                                  type: string
                                  description: Reason for certificate provisioning
                                    failure.
                          required:
                          - certificateUrl
                      required:
                      - authenticationType
                    diagnosticsUpload:
                      description: Configuration for uploading packet core diagnostics
                      type: object
                      properties:
                        storageAccountContainerUrl:
                          type: string
                          description: The Storage Account Container URL to upload
                            diagnostics to.
                      required:
                      - storageAccountContainerUrl
                    eventHub:
                      description: Configuration for sending packet core events to
                        an Azure Event Hub.
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[eE][vV][eE][nN][tT][hH][uU][bB]/[nN][aA][mM][eE][sS][pP][aA][cC][eE][sS]/[^/?#]+/[eV][vV][eE][nN][tT][hH][uU][bB][sS]/[^/?#]+$
                          description: Resource ID  of Azure Event Hub to send packet
                            core events to.
                        reportingInterval:
                          type: integer
                          format: int32
                          minimum: 30
                          maximum: 3600
                          default: 1800
                          description: The duration (in seconds) between UE usage
                            reports.
                      required:
                      - id
                    signaling:
                      description: Signaling configuration for the packet core.
                      type: object
                      properties:
                        nasReroute:
                          description: Configuration enabling 4G NAS reroute.
                          type: object
                          properties:
                            macroMmeGroupId:
                              type: integer
                              format: int32
                              minimum: 0
                              maximum: 65535
                              description: The macro network's MME group ID. This
                                is where unknown UEs are sent to via NAS reroute.
                          required:
                          - macroMmeGroupId
                        nasEncryption:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          maxItems: 3
                          items:
                            type: string
                            description: The supported NAS Encryption types.
                            enum:
                            - NEA0/EEA0
                            - NEA1/EEA1
                            - NEA2/EEA2
                            x-ms-enum:
                              name: nasEncryptionType
                              modelAsString: true
                              values:
                              - value: NEA0/EEA0
                                description: NAS signaling is not encrypted.
                              - value: NEA1/EEA1
                                description: NAS signaling is encrypted with SNOW
                                  3G cipher.
                              - value: NEA2/EEA2
                                description: ' NAS signaling is encrypted with AES
                                  cipher.'
                          description: An ordered list of NAS encryption algorithms,
                            used to encrypt control plane traffic between the UE and
                            packet core, in order from most to least preferred. If
                            not specified, the packet core will use a built-in default
                            ordering.
                    interopSettings:
                      type: object
                      description: Settings to allow interoperability with third party
                        components e.g. RANs and UEs.
                    homeNetworkPrivateKeysProvisioning:
                      readOnly: true
                      description: The provisioning state of the secret containing
                        private keys and keyIds for SUPI concealment.
                      type: object
                      properties:
                        state:
                          readOnly: true
                          type: string
                          description: The provisioning state of the private keys
                            for SUPI concealment.
                          enum:
                          - NotProvisioned
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: homeNetworkPrivateKeysProvisioningState
                            modelAsString: true
                            values:
                            - value: NotProvisioned
                              description: Provisioning of the private keys for SUPI
                                concealment has not been attempted.
                            - value: Provisioned
                              description: The private keys for SUPI concealment are
                                successfully provisioned.
                            - value: Failed
                              description: Provisioning of the private keys for SUPI
                                concealment has failed.
                      required:
                      - state
                    userConsent:
                      description: The user consent configuration for the packet core.
                      type: object
                      properties:
                        allowSupportTelemetryAccess:
                          type: boolean
                          description: Allow Microsoft to access non-PII telemetry
                            information from the packet core.
                  required:
                  - sites
                  - platform
                  - controlPlaneAccessInterface
                  - sku
                  - localDiagnosticsAccess
                identity:
                  description: The identity used to retrieve the ingress certificate
                    from Azure key vault.
                  type: object
                  properties:
                    type:
                      description: Type of managed service identity (currently only
                        UserAssigned allowed).
                      enum:
                      - None
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update packet core control
          plane operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting packet
            core control plane resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Packet core control plane Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the packet core control
                          plane resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      installation:
                        description: The installation state of the packet core control
                          plane resource.
                        type: object
                        properties:
                          desiredState:
                            description: The desired installation state
                            default: Installed
                            type: string
                            enum:
                            - Uninstalled
                            - Installed
                            x-ms-enum:
                              name: DesiredInstallationState
                              modelAsString: true
                              values:
                              - value: Uninstalled
[...]
