openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage mobile
    network resources
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/simGroups/{simGroupName}/sims/{simName}
  : delete:
      tags:
      - SIM
      operationId: Sims_Delete
      description: Deletes the specified SIM.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: simGroupName
        in: path
        required: true
        description: The name of the SIM Group.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simName
        in: path
        required: true
        description: The name of the SIM.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - SIM
      operationId: Sims_Get
      description: Gets information about the specified SIM.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: simGroupName
        in: path
        required: true
        description: The name of the SIM Group.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simName
        in: path
        required: true
        description: The name of the SIM.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Request successful. The operation returns the resulting SIM
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      simState:
                        readOnly: true
                        description: The state of the SIM resource.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        - Invalid
                        x-ms-enum:
                          name: SimState
                          modelAsString: true
                          values:
                          - value: Disabled
                            description: The SIM is disabled because not all configuration
                              required for enabling is present.
                          - value: Enabled
                            description: The SIM is enabled.
                          - value: Invalid
                            description: The SIM cannot be enabled because some of
                              the associated configuration is invalid.
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      internationalMobileSubscriberIdentity:
                        type: string
                        pattern: ^[0-9]{5,15}$
                        x-ms-mutability:
                        - create
                        - read
                        description: The international mobile subscriber identity
                          (IMSI) for the SIM.
                      integratedCircuitCardIdentifier:
                        type: string
                        pattern: ^[0-9]{10,20}$
                        description: The integrated circuit card ID (ICCID) for the
                          SIM.
                      deviceType:
                        type: string
                        description: An optional free-form text field that can be
                          used to record the device type this SIM is associated with,
                          for example 'Video camera'. The Azure portal allows SIMs
                          to be grouped and filtered based on this value.
                      simPolicy:
                        description: The SIM policy used by this SIM. The SIM policy
                          must be in the same location as the SIM.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$
                            description: SIM policy resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      staticIpConfiguration:
                        type: array
                        items:
                          type: object
                          description: Static IP configuration for a SIM, scoped to
                            a particular attached data network and slice.
                          properties:
                            attachedDataNetwork:
                              description: The attached data network on which the
                                static IP address will be used. The combination of
                                attached data network and slice defines the network
                                scope of the IP address. The attached data network
                                must be in the same location as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Attached data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            slice:
                              description: The network slice on which the static IP
                                address will be used. The combination of attached
                                data network and slice defines the network scope of
                                the IP address. The slice must be in the same location
                                as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            staticIp:
                              type: object
                              description: The static IP configuration for the SIM
                                to use at the defined network scope.
                              properties:
                                ipv4Address:
                                  description: The IPv4 address assigned to the SIM
                                    at this network scope. This address must be in
                                    the userEquipmentStaticAddressPoolPrefix defined
                                    in the attached data network.
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        minItems: 1
                        uniqueItems: true
                        description: A list of static IP addresses assigned to this
                          SIM. Each address is assigned at a defined network scope,
                          made up of {attached data network, slice}.
                        x-ms-identifiers:
                        - attachedDataNetwork
                        - slice
                      vendorName:
                        readOnly: true
                        type: string
                        description: The name of the SIM vendor who provided this
                          SIM, if any.
                      vendorKeyFingerprint:
                        readOnly: true
                        type: string
                        description: The public key fingerprint of the SIM vendor
                          who provided this SIM, if any.
                      authenticationKey:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Ki value for the SIM.
                      operatorKeyCode:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Opc value for the SIM.
                    required:
                    - internationalMobileSubscriberIdentity
                    description: Common SIM properties.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SIM
      operationId: Sims_CreateOrUpdate
      description: Creates or updates a SIM.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: simGroupName
        in: path
        required: true
        description: The name of the SIM Group.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simName
        in: path
        required: true
        description: The name of the SIM.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the SIM resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    simState:
                      readOnly: true
                      description: The state of the SIM resource.
                      type: string
                      enum:
                      - Disabled
                      - Enabled
                      - Invalid
                      x-ms-enum:
                        name: SimState
                        modelAsString: true
                        values:
                        - value: Disabled
                          description: The SIM is disabled because not all configuration
                            required for enabling is present.
                        - value: Enabled
                          description: The SIM is enabled.
                        - value: Invalid
                          description: The SIM cannot be enabled because some of the
                            associated configuration is invalid.
                    siteProvisioningState:
                      readOnly: true
                      description: A dictionary of sites to the provisioning state
                        of this SIM on that site.
                      type: object
                      additionalProperties:
                        type: string
                        readOnly: true
                        description: The provisioning state of a resource e.g. SIM/SIM
                          policy on a site.
                        enum:
                        - NotApplicable
                        - Adding
                        - Updating
                        - Deleting
                        - Provisioned
                        - Failed
                        x-ms-enum:
                          name: SiteProvisioningState
                          modelAsString: true
                          values:
                          - value: NotApplicable
                            description: The resource should not be provisioned on
                              this site.
                          - value: Adding
                            description: The resource is being added to this site.
                          - value: Updating
                            description: The resource is being updated on this site.
                          - value: Deleting
                            description: The resource is being deleted from this site.
                          - value: Provisioned
                            description: The resource is provisioned on this site.
                          - value: Failed
                            description: The resource failed to be provisioned on
                              this site.
                    internationalMobileSubscriberIdentity:
                      type: string
                      pattern: ^[0-9]{5,15}$
                      x-ms-mutability:
                      - create
                      - read
                      description: The international mobile subscriber identity (IMSI)
                        for the SIM.
                    integratedCircuitCardIdentifier:
                      type: string
                      pattern: ^[0-9]{10,20}$
                      description: The integrated circuit card ID (ICCID) for the
                        SIM.
                    deviceType:
                      type: string
                      description: An optional free-form text field that can be used
                        to record the device type this SIM is associated with, for
                        example 'Video camera'. The Azure portal allows SIMs to be
                        grouped and filtered based on this value.
                    simPolicy:
                      description: The SIM policy used by this SIM. The SIM policy
                        must be in the same location as the SIM.
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$
                          description: SIM policy resource ID.
                      required:
                      - id
                      x-ms-azure-resource: true
                    staticIpConfiguration:
                      type: array
                      items:
                        type: object
                        description: Static IP configuration for a SIM, scoped to
                          a particular attached data network and slice.
                        properties:
                          attachedDataNetwork:
                            description: The attached data network on which the static
                              IP address will be used. The combination of attached
                              data network and slice defines the network scope of
                              the IP address. The attached data network must be in
                              the same location as the SIM.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                description: Attached data network resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          slice:
                            description: The network slice on which the static IP
                              address will be used. The combination of attached data
                              network and slice defines the network scope of the IP
                              address. The slice must be in the same location as the
                              SIM.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                description: Slice resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          staticIp:
                            type: object
                            description: The static IP configuration for the SIM to
                              use at the defined network scope.
                            properties:
                              ipv4Address:
                                description: The IPv4 address assigned to the SIM
                                  at this network scope. This address must be in the
                                  userEquipmentStaticAddressPoolPrefix defined in
                                  the attached data network.
                                type: string
                                pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                      minItems: 1
                      uniqueItems: true
                      description: A list of static IP addresses assigned to this
                        SIM. Each address is assigned at a defined network scope,
                        made up of {attached data network, slice}.
                      x-ms-identifiers:
                      - attachedDataNetwork
                      - slice
                    vendorName:
                      readOnly: true
                      type: string
                      description: The name of the SIM vendor who provided this SIM,
                        if any.
                    vendorKeyFingerprint:
                      readOnly: true
                      type: string
                      description: The public key fingerprint of the SIM vendor who
                        provided this SIM, if any.
                    authenticationKey:
                      type: string
                      pattern: ^[0-9a-fA-F]{32}$
                      x-ms-secret: true
                      x-ms-mutability:
                      - create
                      - update
                      description: The Ki value for the SIM.
                    operatorKeyCode:
                      type: string
                      pattern: ^[0-9a-fA-F]{32}$
                      x-ms-secret: true
                      x-ms-mutability:
                      - create
                      - update
                      description: The Opc value for the SIM.
                  required:
                  - internationalMobileSubscriberIdentity
                  description: Common SIM properties.
                  x-ms-client-flatten: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: Parameters supplied to the create or update SIM operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting SIM
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      simState:
                        readOnly: true
                        description: The state of the SIM resource.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        - Invalid
                        x-ms-enum:
                          name: SimState
                          modelAsString: true
                          values:
                          - value: Disabled
                            description: The SIM is disabled because not all configuration
                              required for enabling is present.
                          - value: Enabled
                            description: The SIM is enabled.
                          - value: Invalid
                            description: The SIM cannot be enabled because some of
                              the associated configuration is invalid.
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      internationalMobileSubscriberIdentity:
                        type: string
                        pattern: ^[0-9]{5,15}$
                        x-ms-mutability:
                        - create
                        - read
                        description: The international mobile subscriber identity
                          (IMSI) for the SIM.
                      integratedCircuitCardIdentifier:
                        type: string
                        pattern: ^[0-9]{10,20}$
                        description: The integrated circuit card ID (ICCID) for the
                          SIM.
                      deviceType:
                        type: string
                        description: An optional free-form text field that can be
                          used to record the device type this SIM is associated with,
                          for example 'Video camera'. The Azure portal allows SIMs
                          to be grouped and filtered based on this value.
                      simPolicy:
                        description: The SIM policy used by this SIM. The SIM policy
                          must be in the same location as the SIM.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$
                            description: SIM policy resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      staticIpConfiguration:
                        type: array
                        items:
                          type: object
                          description: Static IP configuration for a SIM, scoped to
                            a particular attached data network and slice.
                          properties:
                            attachedDataNetwork:
                              description: The attached data network on which the
                                static IP address will be used. The combination of
                                attached data network and slice defines the network
                                scope of the IP address. The attached data network
                                must be in the same location as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Attached data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            slice:
                              description: The network slice on which the static IP
                                address will be used. The combination of attached
                                data network and slice defines the network scope of
                                the IP address. The slice must be in the same location
                                as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            staticIp:
                              type: object
                              description: The static IP configuration for the SIM
                                to use at the defined network scope.
                              properties:
                                ipv4Address:
                                  description: The IPv4 address assigned to the SIM
                                    at this network scope. This address must be in
                                    the userEquipmentStaticAddressPoolPrefix defined
                                    in the attached data network.
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        minItems: 1
                        uniqueItems: true
                        description: A list of static IP addresses assigned to this
                          SIM. Each address is assigned at a defined network scope,
                          made up of {attached data network, slice}.
                        x-ms-identifiers:
                        - attachedDataNetwork
                        - slice
                      vendorName:
                        readOnly: true
                        type: string
                        description: The name of the SIM vendor who provided this
                          SIM, if any.
                      vendorKeyFingerprint:
                        readOnly: true
                        type: string
                        description: The public key fingerprint of the SIM vendor
                          who provided this SIM, if any.
                      authenticationKey:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Ki value for the SIM.
                      operatorKeyCode:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Opc value for the SIM.
                    required:
                    - internationalMobileSubscriberIdentity
                    description: Common SIM properties.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '201':
          description: Create successful. The operation returns the resulting SIM
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      simState:
                        readOnly: true
                        description: The state of the SIM resource.
                        type: string
                        enum:
                        - Disabled
                        - Enabled
                        - Invalid
                        x-ms-enum:
                          name: SimState
                          modelAsString: true
                          values:
                          - value: Disabled
                            description: The SIM is disabled because not all configuration
                              required for enabling is present.
                          - value: Enabled
                            description: The SIM is enabled.
                          - value: Invalid
                            description: The SIM cannot be enabled because some of
                              the associated configuration is invalid.
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      internationalMobileSubscriberIdentity:
                        type: string
                        pattern: ^[0-9]{5,15}$
                        x-ms-mutability:
                        - create
                        - read
                        description: The international mobile subscriber identity
                          (IMSI) for the SIM.
                      integratedCircuitCardIdentifier:
                        type: string
                        pattern: ^[0-9]{10,20}$
                        description: The integrated circuit card ID (ICCID) for the
                          SIM.
                      deviceType:
                        type: string
                        description: An optional free-form text field that can be
                          used to record the device type this SIM is associated with,
                          for example 'Video camera'. The Azure portal allows SIMs
                          to be grouped and filtered based on this value.
                      simPolicy:
                        description: The SIM policy used by this SIM. The SIM policy
                          must be in the same location as the SIM.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$
                            description: SIM policy resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      staticIpConfiguration:
                        type: array
                        items:
                          type: object
                          description: Static IP configuration for a SIM, scoped to
                            a particular attached data network and slice.
                          properties:
                            attachedDataNetwork:
                              description: The attached data network on which the
                                static IP address will be used. The combination of
                                attached data network and slice defines the network
                                scope of the IP address. The attached data network
                                must be in the same location as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Attached data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            slice:
                              description: The network slice on which the static IP
                                address will be used. The combination of attached
                                data network and slice defines the network scope of
                                the IP address. The slice must be in the same location
                                as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            staticIp:
                              type: object
                              description: The static IP configuration for the SIM
                                to use at the defined network scope.
                              properties:
                                ipv4Address:
                                  description: The IPv4 address assigned to the SIM
                                    at this network scope. This address must be in
                                    the userEquipmentStaticAddressPoolPrefix defined
                                    in the attached data network.
                                  type: string
                                  pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        minItems: 1
                        uniqueItems: true
                        description: A list of static IP addresses assigned to this
                          SIM. Each address is assigned at a defined network scope,
                          made up of {attached data network, slice}.
                        x-ms-identifiers:
                        - attachedDataNetwork
                        - slice
                      vendorName:
                        readOnly: true
                        type: string
                        description: The name of the SIM vendor who provided this
                          SIM, if any.
                      vendorKeyFingerprint:
                        readOnly: true
                        type: string
                        description: The public key fingerprint of the SIM vendor
                          who provided this SIM, if any.
                      authenticationKey:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Ki value for the SIM.
                      operatorKeyCode:
                        type: string
                        pattern: ^[0-9a-fA-F]{32}$
                        x-ms-secret: true
                        x-ms-mutability:
                        - create
                        - update
                        description: The Opc value for the SIM.
                    required:
                    - internationalMobileSubscriberIdentity
                    description: Common SIM properties.
                    x-ms-client-flatten: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/simGroups/{simGroupName}/sims
  : get:
      tags:
      - SIMs
      operationId: Sims_ListByGroup
      description: Gets all the SIMs in a SIM group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: simGroupName
        in: path
        required: true
        description: The name of the SIM Group.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Request successful. The operation returns a list of SIM resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the SIM resource.
                              type: string
                              enum:
                              - Unknown
                              - Succeeded
                              - Accepted
                              - Deleting
                              - Failed
                              - Canceled
                              - Deleted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - value: Unknown
                                - value: Succeeded
                                - value: Accepted
                                - value: Deleting
                                - value: Failed
                                - value: Canceled
                                - value: Deleted
                            simState:
                              readOnly: true
                              description: The state of the SIM resource.
                              type: string
                              enum:
                              - Disabled
                              - Enabled
                              - Invalid
                              x-ms-enum:
                                name: SimState
                                modelAsString: true
                                values:
                                - value: Disabled
                                  description: The SIM is disabled because not all
                                    configuration required for enabling is present.
                                - value: Enabled
                                  description: The SIM is enabled.
                                - value: Invalid
                                  description: The SIM cannot be enabled because some
                                    of the associated configuration is invalid.
                            siteProvisioningState:
                              readOnly: true
                              description: A dictionary of sites to the provisioning
                                state of this SIM on that site.
                              type: object
                              additionalProperties:
                                type: string
                                readOnly: true
                                description: The provisioning state of a resource
                                  e.g. SIM/SIM policy on a site.
                                enum:
                                - NotApplicable
                                - Adding
                                - Updating
                                - Deleting
                                - Provisioned
                                - Failed
                                x-ms-enum:
                                  name: SiteProvisioningState
                                  modelAsString: true
                                  values:
                                  - value: NotApplicable
                                    description: The resource should not be provisioned
                                      on this site.
                                  - value: Adding
                                    description: The resource is being added to this
                                      site.
                                  - value: Updating
                                    description: The resource is being updated on
                                      this site.
                                  - value: Deleting
                                    description: The resource is being deleted from
                                      this site.
                                  - value: Provisioned
                                    description: The resource is provisioned on this
                                      site.
                                  - value: Failed
                                    description: The resource failed to be provisioned
                                      on this site.
                            internationalMobileSubscriberIdentity:
                              type: string
                              pattern: ^[0-9]{5,15}$
                              x-ms-mutability:
                              - create
                              - read
                              description: The international mobile subscriber identity
                                (IMSI) for the SIM.
                            integratedCircuitCardIdentifier:
                              type: string
                              pattern: ^[0-9]{10,20}$
                              description: The integrated circuit card ID (ICCID)
                                for the SIM.
                            deviceType:
                              type: string
                              description: An optional free-form text field that can
                                be used to record the device type this SIM is associated
                                with, for example 'Video camera'. The Azure portal
                                allows SIMs to be grouped and filtered based on this
                                value.
                            simPolicy:
                              description: The SIM policy used by this SIM. The SIM
                                policy must be in the same location as the SIM.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$
                                  description: SIM policy resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            staticIpConfiguration:
                              type: array
                              items:
                                type: object
                                description: Static IP configuration for a SIM, scoped
                                  to a particular attached data network and slice.
                                properties:
                                  attachedDataNetwork:
                                    description: The attached data network on which
                                      the static IP address will be used. The combination
                                      of attached data network and slice defines the
                                      network scope of the IP address. The attached
                                      data network must be in the same location as
                                      the SIM.
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                        description: Attached data network resource
                                          ID.
                                    required:
                                    - id
                                    x-ms-azure-resource: true
                                  slice:
                                    description: The network slice on which the static
                                      IP address will be used. The combination of
                                      attached data network and slice defines the
                                      network scope of the IP address. The slice must
                                      be in the same location as the SIM.
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                        description: Slice resource ID.
                                    required:
                                    - id
                                    x-ms-azure-resource: true
                                  staticIp:
                                    type: object
                                    description: The static IP configuration for the
                                      SIM to use at the defined network scope.
                                    properties:
                                      ipv4Address:
                                        description: The IPv4 address assigned to
                                          the SIM at this network scope. This address
                                          must be in the userEquipmentStaticAddressPoolPrefix
                                          defined in the attached data network.
                                        type: string
                                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              minItems: 1
                              uniqueItems: true
                              description: A list of static IP addresses assigned
                                to this SIM. Each address is assigned at a defined
                                network scope, made up of {attached data network,
                                slice}.
                              x-ms-identifiers:
                              - attachedDataNetwork
                              - slice
                            vendorName:
                              readOnly: true
                              type: string
                              description: The name of the SIM vendor who provided
                                this SIM, if any.
                            vendorKeyFingerprint:
                              readOnly: true
                              type: string
                              description: The public key fingerprint of the SIM vendor
                                who provided this SIM, if any.
                            authenticationKey:
                              type: string
                              pattern: ^[0-9a-fA-F]{32}$
                              x-ms-secret: true
                              x-ms-mutability:
                              - create
                              - update
                              description: The Ki value for the SIM.
                            operatorKeyCode:
                              type: string
                              pattern: ^[0-9a-fA-F]{32}$
                              x-ms-secret: true
                              x-ms-mutability:
                              - create
                              - update
                              description: The Opc value for the SIM.
                          required:
                          - internationalMobileSubscriberIdentity
                          description: Common SIM properties.
                          x-ms-client-flatten: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    description: A list of SIMs in a resource group.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for list SIMs API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
[...]
