openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage SIM
    policy resources
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/simPolicies/{simPolicyName}
  : delete:
      tags:
      - SIMPolicy
      operationId: SimPolicies_Delete
      description: Deletes the specified SIM policy.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simPolicyName
        in: path
        required: true
        description: The name of the SIM policy.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. Sets 'Deleting' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - SIMPolicy
      operationId: SimPolicies_Get
      description: Gets information about the specified SIM policy.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simPolicyName
        in: path
        required: true
        description: The name of the SIM policy.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful. The operation returns the resulting SIM
            policy resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: SIM policy Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM policy resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM policy on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      ueAmbr:
                        description: Aggregate maximum bit rate across all non-GBR
                          QoS flows of all PDU sessions of a given UE. See 3GPP TS23.501
                          section 5.7.2.6 for a full description of the UE-AMBR.
                        type: object
                        properties:
                          uplink:
                            description: Uplink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                          downlink:
                            description: Downlink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        required:
                        - uplink
                        - downlink
                      defaultSlice:
                        description: The default slice to use if the UE does not explicitly
                          specify it. This slice must exist in the `sliceConfigurations`
                          map. The slice must be in the same location as the SIM policy.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                            description: Slice resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      rfspIndex:
                        description: RAT/Frequency Selection Priority Index, defined
                          in 3GPP TS 36.413. This is an optional setting and by default
                          is unspecified.
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 256
                      registrationTimer:
                        description: UE periodic registration update timer (5G) or
                          UE periodic tracking area update timer (4G), in seconds.
                        type: integer
                        format: int32
                        minimum: 30
                        default: 3240
                      sliceConfigurations:
                        description: The allowed slices and the settings to use for
                          them. The list must not contain duplicate items and must
                          contain at least one item.
                        type: array
                        items:
                          description: Per-slice settings
                          type: object
                          properties:
                            slice:
                              description: A reference to the slice that these settings
                                apply to. The slice must be in the same location as
                                the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            defaultDataNetwork:
                              description: The default data network to use if the
                                UE does not explicitly specify it. Configuration for
                                this object must exist in the `dataNetworkConfigurations`
                                map. The data network must be in the same location
                                as the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            dataNetworkConfigurations:
                              description: The allowed data networks and the settings
                                to use for them. The list must not contain duplicate
                                items and must contain at least one item.
                              type: array
                              items:
                                description: Settings controlling data network use
                                type: object
                                properties:
                                  dataNetwork:
                                    description: A reference to the data network that
                                      these settings apply to. The data network must
                                      be in the same location as the SIM policy.
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                        description: Data network resource ID.
                                    required:
                                    - id
                                    x-ms-azure-resource: true
                                  sessionAmbr:
                                    description: Aggregate maximum bit rate across
                                      all non-GBR QoS flows of a given PDU session.
                                      See 3GPP TS23.501 section 5.7.2.6 for a full
                                      description of the Session-AMBR.
                                    type: object
                                    properties:
                                      uplink:
                                        description: Uplink bit rate.
                                        type: string
                                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                      downlink:
                                        description: Downlink bit rate.
                                        type: string
                                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                    required:
                                    - uplink
                                    - downlink
                                  5qi:
                                    description: Default 5G QoS Flow Indicator value.
                                      The 5QI identifies a specific QoS forwarding
                                      treatment to be provided to a flow. See 3GPP
                                      TS23.501 section 5.7.2.1 for a full description
                                      of the 5QI parameter, and table 5.7.4-1 for
                                      the definition the 5QI values.
                                    default: 9
                                    type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 255
                                  allocationAndRetentionPriorityLevel:
                                    description: Default QoS Flow allocation and retention
                                      priority (ARP) level. Flows with higher priority
                                      preempt flows with lower priority, if the settings
                                      of `preemptionCapability` and `preemptionVulnerability`
                                      allow it. 1 is the highest level of priority.
                                      If this field is not specified then `5qi` is
                                      used to derive the ARP value. See 3GPP TS23.501
                                      section 5.7.2.2 for a full description of the
                                      ARP parameters.
                                    default: 9
                                    type: integer
                                    format: int32
                                    minimum: 1
                                    maximum: 15
                                  preemptionCapability:
                                    description: Default QoS Flow preemption capability.
                                      The preemption capability of a QoS Flow controls
                                      whether it can preempt another QoS Flow with
                                      a lower priority level. See 3GPP TS23.501 section
                                      5.7.2.2 for a full description of the ARP parameters.
                                    default: NotPreempt
                                    type: string
                                    enum:
                                    - NotPreempt
                                    - MayPreempt
                                    x-ms-enum:
                                      name: PreemptionCapability
                                      modelAsString: true
                                      values:
                                      - value: NotPreempt
                                        description: Cannot preempt
                                      - value: MayPreempt
                                        description: May preempt
                                  preemptionVulnerability:
                                    description: Default QoS Flow preemption vulnerability.
                                      The preemption vulnerability of a QoS Flow controls
                                      whether it can be preempted by a QoS Flow with
                                      a higher priority level. See 3GPP TS23.501 section
                                      5.7.2.2 for a full description of the ARP parameters.
                                    default: Preemptable
                                    type: string
                                    enum:
                                    - NotPreemptable
                                    - Preemptable
                                    x-ms-enum:
                                      name: PreemptionVulnerability
                                      modelAsString: true
                                      values:
                                      - value: NotPreemptable
                                        description: Cannot be preempted
                                      - value: Preemptable
                                        description: May be preempted
                                  defaultSessionType:
                                    description: The default PDU session type, which
                                      is used if the UE does not request a specific
                                      session type.
                                    default: IPv4
                                    type: string
                                    enum:
                                    - IPv4
                                    - IPv6
                                    x-ms-enum:
                                      name: PduSessionType
                                      modelAsString: true
                                      values:
                                      - value: IPv4
                                      - value: IPv6
                                  additionalAllowedSessionTypes:
                                    description: Allowed session types in addition
                                      to the default session type. Must not duplicate
                                      the default session type.
                                    type: array
                                    items:
                                      type: string
                                      description: PDU session type (IPv4/IPv6).
                                      enum:
                                      - IPv4
                                      - IPv6
                                      x-ms-enum:
                                        name: PduSessionType
                                        modelAsString: true
                                        values:
                                        - value: IPv4
                                        - value: IPv6
                                    maxItems: 1
                                  allowedServices:
                                    description: List of services that can be used
                                      as part of this SIM policy. The list must not
                                      contain duplicate items and must contain at
                                      least one item. The services must be in the
                                      same location as the SIM policy.
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][eE][rR][vV][iI][cC][eE][sS]/[^/?#]+$
                                          description: Service resource ID.
                                      required:
                                      - id
                                      description: Reference to a service resource.
                                      x-ms-azure-resource: true
                                    minItems: 1
                                    uniqueItems: true
                                  maximumNumberOfBufferedPackets:
                                    description: The maximum number of downlink packets
                                      to buffer at the user plane for High Latency
                                      Communication - Extended Buffering. See 3GPP
                                      TS29.272 v15.10.0 section 7.3.188 for a full
                                      description. This maximum is not guaranteed
                                      because there is a internal limit on buffered
                                      packets across all PDU sessions.
                                    type: integer
                                    format: int32
                                    minimum: 0
                                    default: 10
                                required:
                                - dataNetwork
                                - sessionAmbr
                                - allowedServices
                              minItems: 1
                              uniqueItems: true
                              x-ms-identifiers:
                              - dataNetwork
                          required:
                          - slice
                          - defaultDataNetwork
                          - dataNetworkConfigurations
                        minItems: 1
                        uniqueItems: true
                        x-ms-identifiers:
                        - slice
                    required:
                    - ueAmbr
                    - defaultSlice
                    - sliceConfigurations
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SIMPolicy
      operationId: SimPolicies_CreateOrUpdate
      description: Creates or updates a SIM policy. Must be created in the same location
        as its parent mobile network.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: mobileNetworkName
        in: path
        required: true
        description: The name of the mobile network.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: simPolicyName
        in: path
        required: true
        description: The name of the SIM policy.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: SIM policy Properties.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the SIM policy resource.
                      type: string
                      enum:
                      - Unknown
                      - Succeeded
                      - Accepted
                      - Deleting
                      - Failed
                      - Canceled
                      - Deleted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - value: Unknown
                        - value: Succeeded
                        - value: Accepted
                        - value: Deleting
                        - value: Failed
                        - value: Canceled
                        - value: Deleted
                    siteProvisioningState:
                      readOnly: true
                      description: A dictionary of sites to the provisioning state
                        of this SIM policy on that site.
                      type: object
                      additionalProperties:
                        type: string
                        readOnly: true
                        description: The provisioning state of a resource e.g. SIM/SIM
                          policy on a site.
                        enum:
                        - NotApplicable
                        - Adding
                        - Updating
                        - Deleting
                        - Provisioned
                        - Failed
                        x-ms-enum:
                          name: SiteProvisioningState
                          modelAsString: true
                          values:
                          - value: NotApplicable
                            description: The resource should not be provisioned on
                              this site.
                          - value: Adding
                            description: The resource is being added to this site.
                          - value: Updating
                            description: The resource is being updated on this site.
                          - value: Deleting
                            description: The resource is being deleted from this site.
                          - value: Provisioned
                            description: The resource is provisioned on this site.
                          - value: Failed
                            description: The resource failed to be provisioned on
                              this site.
                    ueAmbr:
                      description: Aggregate maximum bit rate across all non-GBR QoS
                        flows of all PDU sessions of a given UE. See 3GPP TS23.501
                        section 5.7.2.6 for a full description of the UE-AMBR.
                      type: object
                      properties:
                        uplink:
                          description: Uplink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        downlink:
                          description: Downlink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                      required:
                      - uplink
                      - downlink
                    defaultSlice:
                      description: The default slice to use if the UE does not explicitly
                        specify it. This slice must exist in the `sliceConfigurations`
                        map. The slice must be in the same location as the SIM policy.
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                          description: Slice resource ID.
                      required:
                      - id
                      x-ms-azure-resource: true
                    rfspIndex:
                      description: RAT/Frequency Selection Priority Index, defined
                        in 3GPP TS 36.413. This is an optional setting and by default
                        is unspecified.
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 256
                    registrationTimer:
                      description: UE periodic registration update timer (5G) or UE
                        periodic tracking area update timer (4G), in seconds.
                      type: integer
                      format: int32
                      minimum: 30
                      default: 3240
                    sliceConfigurations:
                      description: The allowed slices and the settings to use for
                        them. The list must not contain duplicate items and must contain
                        at least one item.
                      type: array
                      items:
                        description: Per-slice settings
                        type: object
                        properties:
                          slice:
                            description: A reference to the slice that these settings
                              apply to. The slice must be in the same location as
                              the SIM policy.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                description: Slice resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          defaultDataNetwork:
                            description: The default data network to use if the UE
                              does not explicitly specify it. Configuration for this
                              object must exist in the `dataNetworkConfigurations`
                              map. The data network must be in the same location as
                              the SIM policy.
                            type: object
                            properties:
                              id:
                                type: string
                                pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                description: Data network resource ID.
                            required:
                            - id
                            x-ms-azure-resource: true
                          dataNetworkConfigurations:
                            description: The allowed data networks and the settings
                              to use for them. The list must not contain duplicate
                              items and must contain at least one item.
                            type: array
                            items:
                              description: Settings controlling data network use
                              type: object
                              properties:
                                dataNetwork:
                                  description: A reference to the data network that
                                    these settings apply to. The data network must
                                    be in the same location as the SIM policy.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                      description: Data network resource ID.
                                  required:
                                  - id
                                  x-ms-azure-resource: true
                                sessionAmbr:
                                  description: Aggregate maximum bit rate across all
                                    non-GBR QoS flows of a given PDU session. See
                                    3GPP TS23.501 section 5.7.2.6 for a full description
                                    of the Session-AMBR.
                                  type: object
                                  properties:
                                    uplink:
                                      description: Uplink bit rate.
                                      type: string
                                      pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                    downlink:
                                      description: Downlink bit rate.
                                      type: string
                                      pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                  required:
                                  - uplink
                                  - downlink
                                5qi:
                                  description: Default 5G QoS Flow Indicator value.
                                    The 5QI identifies a specific QoS forwarding treatment
                                    to be provided to a flow. See 3GPP TS23.501 section
                                    5.7.2.1 for a full description of the 5QI parameter,
                                    and table 5.7.4-1 for the definition the 5QI values.
                                  default: 9
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  maximum: 255
                                allocationAndRetentionPriorityLevel:
                                  description: Default QoS Flow allocation and retention
                                    priority (ARP) level. Flows with higher priority
                                    preempt flows with lower priority, if the settings
                                    of `preemptionCapability` and `preemptionVulnerability`
                                    allow it. 1 is the highest level of priority.
                                    If this field is not specified then `5qi` is used
                                    to derive the ARP value. See 3GPP TS23.501 section
                                    5.7.2.2 for a full description of the ARP parameters.
                                  default: 9
                                  type: integer
                                  format: int32
                                  minimum: 1
                                  maximum: 15
                                preemptionCapability:
                                  description: Default QoS Flow preemption capability.
                                    The preemption capability of a QoS Flow controls
                                    whether it can preempt another QoS Flow with a
                                    lower priority level. See 3GPP TS23.501 section
                                    5.7.2.2 for a full description of the ARP parameters.
                                  default: NotPreempt
                                  type: string
                                  enum:
                                  - NotPreempt
                                  - MayPreempt
                                  x-ms-enum:
                                    name: PreemptionCapability
                                    modelAsString: true
                                    values:
                                    - value: NotPreempt
                                      description: Cannot preempt
                                    - value: MayPreempt
                                      description: May preempt
                                preemptionVulnerability:
                                  description: Default QoS Flow preemption vulnerability.
                                    The preemption vulnerability of a QoS Flow controls
                                    whether it can be preempted by a QoS Flow with
                                    a higher priority level. See 3GPP TS23.501 section
                                    5.7.2.2 for a full description of the ARP parameters.
                                  default: Preemptable
                                  type: string
                                  enum:
                                  - NotPreemptable
                                  - Preemptable
                                  x-ms-enum:
                                    name: PreemptionVulnerability
                                    modelAsString: true
                                    values:
                                    - value: NotPreemptable
                                      description: Cannot be preempted
                                    - value: Preemptable
                                      description: May be preempted
                                defaultSessionType:
                                  description: The default PDU session type, which
                                    is used if the UE does not request a specific
                                    session type.
                                  default: IPv4
                                  type: string
                                  enum:
                                  - IPv4
                                  - IPv6
                                  x-ms-enum:
                                    name: PduSessionType
                                    modelAsString: true
                                    values:
                                    - value: IPv4
                                    - value: IPv6
                                additionalAllowedSessionTypes:
                                  description: Allowed session types in addition to
                                    the default session type. Must not duplicate the
                                    default session type.
                                  type: array
                                  items:
                                    type: string
                                    description: PDU session type (IPv4/IPv6).
                                    enum:
                                    - IPv4
                                    - IPv6
                                    x-ms-enum:
                                      name: PduSessionType
                                      modelAsString: true
                                      values:
                                      - value: IPv4
                                      - value: IPv6
                                  maxItems: 1
                                allowedServices:
                                  description: List of services that can be used as
                                    part of this SIM policy. The list must not contain
                                    duplicate items and must contain at least one
                                    item. The services must be in the same location
                                    as the SIM policy.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][eE][rR][vV][iI][cC][eE][sS]/[^/?#]+$
                                        description: Service resource ID.
                                    required:
                                    - id
                                    description: Reference to a service resource.
                                    x-ms-azure-resource: true
                                  minItems: 1
                                  uniqueItems: true
                                maximumNumberOfBufferedPackets:
                                  description: The maximum number of downlink packets
                                    to buffer at the user plane for High Latency Communication
                                    - Extended Buffering. See 3GPP TS29.272 v15.10.0
                                    section 7.3.188 for a full description. This maximum
                                    is not guaranteed because there is a internal
                                    limit on buffered packets across all PDU sessions.
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  default: 10
                              required:
                              - dataNetwork
                              - sessionAmbr
                              - allowedServices
                            minItems: 1
                            uniqueItems: true
                            x-ms-identifiers:
                            - dataNetwork
                        required:
                        - slice
                        - defaultDataNetwork
                        - dataNetworkConfigurations
                      minItems: 1
                      uniqueItems: true
                      x-ms-identifiers:
                      - slice
                  required:
                  - ueAmbr
                  - defaultSlice
                  - sliceConfigurations
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update SIM policy operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting SIM
            policy resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: SIM policy Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM policy resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM policy on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      ueAmbr:
                        description: Aggregate maximum bit rate across all non-GBR
                          QoS flows of all PDU sessions of a given UE. See 3GPP TS23.501
                          section 5.7.2.6 for a full description of the UE-AMBR.
                        type: object
                        properties:
                          uplink:
                            description: Uplink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                          downlink:
                            description: Downlink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        required:
                        - uplink
                        - downlink
                      defaultSlice:
                        description: The default slice to use if the UE does not explicitly
                          specify it. This slice must exist in the `sliceConfigurations`
                          map. The slice must be in the same location as the SIM policy.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                            description: Slice resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      rfspIndex:
                        description: RAT/Frequency Selection Priority Index, defined
                          in 3GPP TS 36.413. This is an optional setting and by default
                          is unspecified.
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 256
                      registrationTimer:
                        description: UE periodic registration update timer (5G) or
                          UE periodic tracking area update timer (4G), in seconds.
                        type: integer
                        format: int32
                        minimum: 30
                        default: 3240
                      sliceConfigurations:
                        description: The allowed slices and the settings to use for
                          them. The list must not contain duplicate items and must
                          contain at least one item.
                        type: array
                        items:
                          description: Per-slice settings
                          type: object
                          properties:
                            slice:
                              description: A reference to the slice that these settings
                                apply to. The slice must be in the same location as
                                the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            defaultDataNetwork:
                              description: The default data network to use if the
                                UE does not explicitly specify it. Configuration for
                                this object must exist in the `dataNetworkConfigurations`
                                map. The data network must be in the same location
                                as the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            dataNetworkConfigurations:
                              description: The allowed data networks and the settings
                                to use for them. The list must not contain duplicate
                                items and must contain at least one item.
                              type: array
                              items:
                                description: Settings controlling data network use
                                type: object
                                properties:
                                  dataNetwork:
                                    description: A reference to the data network that
                                      these settings apply to. The data network must
                                      be in the same location as the SIM policy.
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                        description: Data network resource ID.
                                    required:
                                    - id
                                    x-ms-azure-resource: true
                                  sessionAmbr:
                                    description: Aggregate maximum bit rate across
                                      all non-GBR QoS flows of a given PDU session.
                                      See 3GPP TS23.501 section 5.7.2.6 for a full
                                      description of the Session-AMBR.
                                    type: object
                                    properties:
                                      uplink:
                                        description: Uplink bit rate.
                                        type: string
                                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                      downlink:
                                        description: Downlink bit rate.
                                        type: string
                                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                                    required:
                                    - uplink
                                    - downlink
                                  5qi:
                                    description: Default 5G QoS Flow Indicator value.
                                      The 5QI identifies a specific QoS forwarding
                                      treatment to be provided to a flow. See 3GPP
                                      TS23.501 section 5.7.2.1 for a full description
                                      of the 5QI parameter, and table 5.7.4-1 for
                                      the definition the 5QI values.
                                    default: 9
                                    type: integer
                                    format: int32
                                    minimum: 0
                                    maximum: 255
                                  allocationAndRetentionPriorityLevel:
                                    description: Default QoS Flow allocation and retention
                                      priority (ARP) level. Flows with higher priority
                                      preempt flows with lower priority, if the settings
                                      of `preemptionCapability` and `preemptionVulnerability`
                                      allow it. 1 is the highest level of priority.
                                      If this field is not specified then `5qi` is
                                      used to derive the ARP value. See 3GPP TS23.501
                                      section 5.7.2.2 for a full description of the
                                      ARP parameters.
                                    default: 9
                                    type: integer
                                    format: int32
                                    minimum: 1
                                    maximum: 15
                                  preemptionCapability:
                                    description: Default QoS Flow preemption capability.
                                      The preemption capability of a QoS Flow controls
                                      whether it can preempt another QoS Flow with
                                      a lower priority level. See 3GPP TS23.501 section
                                      5.7.2.2 for a full description of the ARP parameters.
                                    default: NotPreempt
                                    type: string
                                    enum:
                                    - NotPreempt
                                    - MayPreempt
                                    x-ms-enum:
                                      name: PreemptionCapability
                                      modelAsString: true
                                      values:
                                      - value: NotPreempt
                                        description: Cannot preempt
                                      - value: MayPreempt
                                        description: May preempt
                                  preemptionVulnerability:
                                    description: Default QoS Flow preemption vulnerability.
                                      The preemption vulnerability of a QoS Flow controls
                                      whether it can be preempted by a QoS Flow with
                                      a higher priority level. See 3GPP TS23.501 section
                                      5.7.2.2 for a full description of the ARP parameters.
                                    default: Preemptable
                                    type: string
                                    enum:
                                    - NotPreemptable
                                    - Preemptable
                                    x-ms-enum:
                                      name: PreemptionVulnerability
                                      modelAsString: true
                                      values:
                                      - value: NotPreemptable
                                        description: Cannot be preempted
                                      - value: Preemptable
                                        description: May be preempted
                                  defaultSessionType:
                                    description: The default PDU session type, which
                                      is used if the UE does not request a specific
                                      session type.
                                    default: IPv4
                                    type: string
                                    enum:
                                    - IPv4
                                    - IPv6
                                    x-ms-enum:
                                      name: PduSessionType
                                      modelAsString: true
                                      values:
                                      - value: IPv4
                                      - value: IPv6
                                  additionalAllowedSessionTypes:
                                    description: Allowed session types in addition
                                      to the default session type. Must not duplicate
                                      the default session type.
                                    type: array
                                    items:
                                      type: string
                                      description: PDU session type (IPv4/IPv6).
                                      enum:
                                      - IPv4
                                      - IPv6
                                      x-ms-enum:
                                        name: PduSessionType
                                        modelAsString: true
                                        values:
                                        - value: IPv4
                                        - value: IPv6
                                    maxItems: 1
                                  allowedServices:
                                    description: List of services that can be used
                                      as part of this SIM policy. The list must not
                                      contain duplicate items and must contain at
                                      least one item. The services must be in the
                                      same location as the SIM policy.
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][eE][rR][vV][iI][cC][eE][sS]/[^/?#]+$
                                          description: Service resource ID.
                                      required:
                                      - id
                                      description: Reference to a service resource.
                                      x-ms-azure-resource: true
                                    minItems: 1
                                    uniqueItems: true
                                  maximumNumberOfBufferedPackets:
                                    description: The maximum number of downlink packets
                                      to buffer at the user plane for High Latency
                                      Communication - Extended Buffering. See 3GPP
                                      TS29.272 v15.10.0 section 7.3.188 for a full
                                      description. This maximum is not guaranteed
                                      because there is a internal limit on buffered
                                      packets across all PDU sessions.
                                    type: integer
                                    format: int32
                                    minimum: 0
                                    default: 10
                                required:
                                - dataNetwork
                                - sessionAmbr
                                - allowedServices
                              minItems: 1
                              uniqueItems: true
                              x-ms-identifiers:
                              - dataNetwork
                          required:
                          - slice
                          - defaultDataNetwork
                          - dataNetworkConfigurations
                        minItems: 1
                        uniqueItems: true
                        x-ms-identifiers:
                        - slice
                    required:
                    - ueAmbr
                    - defaultSlice
                    - sliceConfigurations
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting SIM
            policy resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: SIM policy Properties.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the SIM policy resource.
                        type: string
                        enum:
                        - Unknown
                        - Succeeded
                        - Accepted
                        - Deleting
                        - Failed
                        - Canceled
                        - Deleted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - value: Unknown
                          - value: Succeeded
                          - value: Accepted
                          - value: Deleting
                          - value: Failed
                          - value: Canceled
                          - value: Deleted
                      siteProvisioningState:
                        readOnly: true
                        description: A dictionary of sites to the provisioning state
                          of this SIM policy on that site.
                        type: object
                        additionalProperties:
                          type: string
                          readOnly: true
                          description: The provisioning state of a resource e.g. SIM/SIM
                            policy on a site.
                          enum:
                          - NotApplicable
                          - Adding
                          - Updating
                          - Deleting
                          - Provisioned
                          - Failed
                          x-ms-enum:
                            name: SiteProvisioningState
                            modelAsString: true
                            values:
                            - value: NotApplicable
                              description: The resource should not be provisioned
                                on this site.
                            - value: Adding
                              description: The resource is being added to this site.
                            - value: Updating
                              description: The resource is being updated on this site.
                            - value: Deleting
                              description: The resource is being deleted from this
                                site.
                            - value: Provisioned
                              description: The resource is provisioned on this site.
                            - value: Failed
                              description: The resource failed to be provisioned on
                                this site.
                      ueAmbr:
                        description: Aggregate maximum bit rate across all non-GBR
                          QoS flows of all PDU sessions of a given UE. See 3GPP TS23.501
                          section 5.7.2.6 for a full description of the UE-AMBR.
                        type: object
                        properties:
                          uplink:
                            description: Uplink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                          downlink:
                            description: Downlink bit rate.
                            type: string
                            pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        required:
                        - uplink
                        - downlink
                      defaultSlice:
                        description: The default slice to use if the UE does not explicitly
                          specify it. This slice must exist in the `sliceConfigurations`
                          map. The slice must be in the same location as the SIM policy.
                        type: object
                        properties:
                          id:
                            type: string
                            pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                            description: Slice resource ID.
                        required:
                        - id
                        x-ms-azure-resource: true
                      rfspIndex:
                        description: RAT/Frequency Selection Priority Index, defined
                          in 3GPP TS 36.413. This is an optional setting and by default
                          is unspecified.
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 256
                      registrationTimer:
                        description: UE periodic registration update timer (5G) or
                          UE periodic tracking area update timer (4G), in seconds.
                        type: integer
                        format: int32
                        minimum: 30
                        default: 3240
                      sliceConfigurations:
                        description: The allowed slices and the settings to use for
                          them. The list must not contain duplicate items and must
                          contain at least one item.
                        type: array
                        items:
                          description: Per-slice settings
                          type: object
                          properties:
                            slice:
                              description: A reference to the slice that these settings
                                apply to. The slice must be in the same location as
                                the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$
                                  description: Slice resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            defaultDataNetwork:
                              description: The default data network to use if the
                                UE does not explicitly specify it. Configuration for
                                this object must exist in the `dataNetworkConfigurations`
                                map. The data network must be in the same location
                                as the SIM policy.
                              type: object
                              properties:
                                id:
                                  type: string
                                  pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$
                                  description: Data network resource ID.
                              required:
                              - id
                              x-ms-azure-resource: true
                            dataNetworkConfigurations:
                              description: The allowed data networks and the settings
                                to use for them. The list must not contain duplicate
                                items and must contain at least one item.
                              type: array
                              items:
                                description: Settings controlling data network use
                                type: object
                                properties:
                                  dataNetwork:
                                    description: A reference to the data network that
                                      these settings apply to. The data network must
                                      be in the same location as the SIM policy.
                                    type: object
                                    properties:
                                      id:
                                        type: string
[...]
