openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to manage the
    virtual network functions deployed using mobile network. They are standard mobile
    network properties defined by 3GPP in TS 29.571 v16.6.0.
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths: {}
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Ipv4Addr:
      type: string
      pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
      description: IPv4 address.
    Ipv4AddrRm:
      description: IPv4 address or null.
      type: string
      pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
      nullable: true
    Ipv4AddrMask:
      type: string
      pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
      description: IPv4 address prefix.
    Ipv4AddrMaskRm:
      description: IPv4 address prefix or null.
      type: string
      pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$
      nullable: true
    BitRate:
      type: string
      pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
      description: Bit rate.
    BitRateRm:
      description: Bit rate or null.
      type: string
      pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
      nullable: true
    Ambr:
      description: Aggregate maximum bit rate.
      type: object
      properties:
        uplink:
          description: Uplink bit rate.
          type: string
          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
        downlink:
          description: Downlink bit rate.
          type: string
          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
      required:
      - uplink
      - downlink
    AmbrRm:
      description: Aggregate maximum bit rate or null.
      type: object
      properties:
        uplink:
          description: Uplink bit rate.
          type: string
          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
        downlink:
          description: Downlink bit rate.
          type: string
          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
      required:
      - uplink
      - downlink
      nullable: true
    RfspIndex:
      type: integer
      format: int32
      minimum: 1
      maximum: 256
      description: RAT/Frequency Selection Priority Index
    RfspIndexRm:
      description: RAT/Frequency Selection Priority Index or null
      type: integer
      format: int32
      minimum: 1
      maximum: 256
      nullable: true
    5Qi:
      type: integer
      format: int32
      minimum: 0
      maximum: 255
      description: 5G QoS Identifier.
    5QiRm:
      description: 5G QoS Identifier or null.
      type: integer
      format: int32
      minimum: 0
      maximum: 255
      nullable: true
    5QiPriorityLevel:
      type: integer
      format: int32
      minimum: 1
      maximum: 127
      description: 5G QoS Identifier priority level.
    5QiPriorityLevelRm:
      description: 5G QoS Identifier priority level or null.
      type: integer
      format: int32
      minimum: 1
      maximum: 127
      nullable: true
    ArpPriorityLevel:
      type: integer
      format: int32
      minimum: 1
      maximum: 15
      description: ARP priority level.
    ArpPriorityLevelRm:
      description: ARP priority level or null.
      type: integer
      format: int32
      minimum: 1
      maximum: 15
      nullable: true
    PreemptionCapability:
      type: string
      description: Preemption capability.
      enum:
      - NotPreempt
      - MayPreempt
      x-ms-enum:
        name: PreemptionCapability
        modelAsString: true
        values:
        - value: NotPreempt
          description: Cannot preempt
        - value: MayPreempt
          description: May preempt
    PreemptionVulnerability:
      type: string
      description: Preemption vulnerability.
      enum:
      - NotPreemptable
      - Preemptable
      x-ms-enum:
        name: PreemptionVulnerability
        modelAsString: true
        values:
        - value: NotPreemptable
          description: Cannot be preempted
        - value: Preemptable
          description: May be preempted
    Arp:
      description: Allocation and Retention Priority (ARP) parameters.
      type: object
      properties:
        priorityLevel:
          description: ARP priority level.
          type: integer
          format: int32
          minimum: 1
          maximum: 15
        preemptCap:
          description: ARP preemption capability.
          type: string
          enum:
          - NotPreempt
          - MayPreempt
          x-ms-enum:
            name: PreemptionCapability
            modelAsString: true
            values:
            - value: NotPreempt
              description: Cannot preempt
            - value: MayPreempt
              description: May preempt
        preemptVuln:
          description: ARP preemption vulnerability
          type: string
          enum:
          - NotPreemptable
          - Preemptable
          x-ms-enum:
            name: PreemptionVulnerability
            modelAsString: true
            values:
            - value: NotPreemptable
              description: Cannot be preempted
            - value: Preemptable
              description: May be preempted
      required:
      - priorityLevel
      - preemptCap
      - preemptVuln
    Mcc:
      type: string
      pattern: ^\d{3}$
      description: Mobile country code.
    MccRm:
      description: Mobile country code or null.
      type: string
      pattern: ^\d{3}$
      nullable: true
    Mnc:
      type: string
      pattern: ^\d{2,3}$
      description: Mobile network code.
    MncRm:
      description: Mobile network code or null.
      type: string
      pattern: ^\d{2,3}$
      nullable: true
    PlmnId:
      description: Public land mobile network (PLMN) ID. This is made up of the mobile
        country code and mobile network code, as defined in https://www.itu.int/rec/T-REC-E.212.
        The values 001-01 and 001-001 can be used for testing and the values 999-99
        and 999-999 can be used on internal private networks.
      type: object
      properties:
        mcc:
          description: Mobile country code (MCC).
          type: string
          pattern: ^\d{3}$
        mnc:
          description: Mobile network code (MNC).
          type: string
          pattern: ^\d{2,3}$
      required:
      - mcc
      - mnc
    PlmnIdRm:
      description: Public land mobile network ID or null.
      type: object
      properties:
        mcc:
          description: Mobile country code (MCC).
          type: string
          pattern: ^\d{3}$
        mnc:
          description: Mobile network code (MNC).
          type: string
          pattern: ^\d{2,3}$
      required:
      - mcc
      - mnc
      nullable: true
    Tac:
      type: string
      pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
      description: Tracking Area Code (TAC).
    TacRm:
      description: Tracking Area Code (TAC) or null.
      type: string
      pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
      nullable: true
    CoreNetworkType:
      type: string
      description: The core network technology generation (5G core, EPC / 4G core
        or EPC / 4G + 5G core).
      enum:
      - 5GC
      - EPC
      - EPC + 5GC
      default: 5GC
      x-ms-enum:
        name: CoreNetworkType
        values:
        - value: 5GC
          description: 5G core
        - value: EPC
          description: EPC / 4G core
        - value: EPC + 5GC
          description: Combined EPC / 4G and 5G core
    CoreNetworkTypeRm:
      description: Core network type or null.
      type: string
      enum:
      - 5GC
      - EPC
      - EPC + 5GC
      default: 5GC
      x-ms-enum:
        name: CoreNetworkType
        values:
        - value: 5GC
          description: 5G core
        - value: EPC
          description: EPC / 4G core
        - value: EPC + 5GC
          description: Combined EPC / 4G and 5G core
      nullable: true
    PduSessionType:
      type: string
      description: PDU session type (IPv4/IPv6).
      enum:
      - IPv4
      - IPv6
      x-ms-enum:
        name: PduSessionType
        modelAsString: true
        values:
        - value: IPv4
        - value: IPv6
    PduSessionTypeRm:
      description: PDU session type or null.
      type: string
      enum:
      - IPv4
      - IPv6
      x-ms-enum:
        name: PduSessionType
        modelAsString: true
        values:
        - value: IPv4
        - value: IPv6
      nullable: true
    Snssai:
      description: Single-network slice selection assistance information (S-NSSAI).
      type: object
      properties:
        sst:
          type: integer
          format: int32
          minimum: 0
          maximum: 255
          description: Slice/service type (SST).
        sd:
          type: string
          pattern: ^[A-Fa-f0-9]{6}$
          description: Slice differentiator (SD).
      required:
      - sst
    Dnn:
      description: Data network name
      type: string
    Pei:
      description: Permanent Equipment Identifier
      type: string
      pattern: ^(imei-[0-9]{15}|imeisv-[0-9]{16}|.+)$
    Supi:
      description: Subscription Permanent Identifier
      type: string
      pattern: ^(imsi-[0-9]{5,15}|nai-.+|.+)$
    PduSessionId:
      description: PDU session identifier
      type: integer
      format: int32
      minimum: 0
      maximum: 255
    Qfi:
      description: Qos Flow Identifier
      type: integer
      format: int32
      minimum: 0
      maximum: 63
    GNbId:
      description: gNodeB identifier
      type: object
      properties:
        bitLength:
          type: integer
          format: int32
          minimum: 22
          maximum: 32
        gNBValue:
          type: string
          pattern: ^[A-Fa-f0-9]{6,8}$
    GlobalRanNodeId:
      description: Global RAN Node ID
      type: object
      properties:
        plmnId:
          x-ms-client-flatten: true
          description: PLMN Identifier
          type: object
          properties:
            mcc:
              description: Mobile country code (MCC).
              type: string
              pattern: ^\d{3}$
            mnc:
              description: Mobile network code (MNC).
              type: string
              pattern: ^\d{2,3}$
          required:
          - mcc
          - mnc
        gNbId:
          x-ms-client-flatten: true
          description: gNodeB identifier
          type: object
          properties:
            bitLength:
              type: integer
              format: int32
              minimum: 22
              maximum: 32
            gNBValue:
              type: string
              pattern: ^[A-Fa-f0-9]{6,8}$
        ngeNbId:
          type: string
          pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
          description: NG-eNodeB identifier
        eNbId:
          type: string
          pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
          description: eNodeB identifier
        n3IwfId:
          type: string
          pattern: ^[A-Fa-f0-9]+$
          description: N3 IWF identifier
        wagfId:
          type: string
          pattern: ^[A-Fa-f0-9]+$
          description: W-AGF identifier
        tngfId:
          type: string
          pattern: ^[A-Fa-f0-9]+$
          description: TNGF identifier
        nid:
          type: string
          pattern: ^[A-Fa-f0-9]{11}$
          description: Network identifier
      required:
      - plmnId
