openapi: 3.0.0
info:
  title: MobileNetworkManagementClient
  description: The resources in this API specification will be used to return UE details
    for a packet core resource.
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/ues/{ueId}/extendedInformation/default
  : get:
      tags:
      - ExtendedUeInformation
      operationId: ExtendedUeInformation_Get
      description: Gets extended information about the specified UE from the packet
        core.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: ueId
        in: path
        required: true
        description: IMSI of a UE.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the complete information
            of a UE in a packet core.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Extended UE Information Properties.
                    type: object
                    properties:
                      ratType:
                        description: RAT Type
                        type: string
                        enum:
                        - 4G
                        - 5G
                        x-ms-enum:
                          name: RatType
                          modelAsString: true
                          values:
                          - value: 4G
                          - value: 5G
                      lastReadAt:
                        type: string
                        format: date-time
                        description: The timestamp of last UE info read from the packet
                          core (UTC).
                    required:
                    - ratType
                    discriminator:
                      propertyName: ratType
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/ues
  : get:
      tags:
      - UeInformation_List
      operationId: UeInformation_List
      description: List all UEs and their state in a packet core.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: packetCoreControlPlaneName
        in: path
        required: true
        description: The name of the packet core control plane.
        x-ms-parameter-location: method
        schema:
          type: string
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Request Successful. This operation return list of UEs and their
            state in a packet core.
          content:
            application/json:
              schema:
                description: Response for packet core list UEs API call.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Basic UE Information Properties.
                          type: object
                          properties:
                            ratType:
                              description: RAT Type
                              type: string
                              enum:
                              - 4G
                              - 5G
                              x-ms-enum:
                                name: RatType
                                modelAsString: true
                                values:
                                - value: 4G
                                - value: 5G
                            ueState:
                              description: State of the UE.
                              type: string
                              enum:
                              - Connected
                              - Idle
                              - Detached
                              - Deregistered
                              - Unknown
                              x-ms-enum:
                                name: UeState
                                modelAsString: true
                            ueIpAddresses:
                              type: array
                              minItems: 1
                              items:
                                description: DNN and UE IP address
                                type: object
                                properties:
                                  dnn:
                                    description: Data network name
                                    type: string
                                  ueIpAddress:
                                    x-ms-client-flatten: true
                                    description: UE IP address
                                    type: object
                                    properties:
                                      ipV4Addr:
                                        type: string
                                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                                        description: IPv4 address.
                            lastReadAt:
                              type: string
                              format: date-time
                              description: The timestamp of last list UEs call to
                                the packet core (UTC).
                          required:
                          - ratType
                          - ueState
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    description: A list of UEs in a packet core and their basic information.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    PacketCoreControlPlaneNameParameter:
      name: packetCoreControlPlaneName
      in: path
      required: true
      description: The name of the packet core control plane.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UeInfoList:
      description: Response for packet core list UEs API call.
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: Basic UE Information Properties.
                type: object
                properties:
                  ratType:
                    description: RAT Type
                    type: string
                    enum:
                    - 4G
                    - 5G
                    x-ms-enum:
                      name: RatType
                      modelAsString: true
                      values:
                      - value: 4G
                      - value: 5G
                  ueState:
                    description: State of the UE.
                    type: string
                    enum:
                    - Connected
                    - Idle
                    - Detached
                    - Deregistered
                    - Unknown
                    x-ms-enum:
                      name: UeState
                      modelAsString: true
                  ueIpAddresses:
                    type: array
                    minItems: 1
                    items:
                      description: DNN and UE IP address
                      type: object
                      properties:
                        dnn:
                          description: Data network name
                          type: string
                        ueIpAddress:
                          x-ms-client-flatten: true
                          description: UE IP address
                          type: object
                          properties:
                            ipV4Addr:
                              type: string
                              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                              description: IPv4 address.
                  lastReadAt:
                    type: string
                    format: date-time
                    description: The timestamp of last list UEs call to the packet
                      core (UTC).
                required:
                - ratType
                - ueState
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - properties
          description: A list of UEs in a packet core and their basic information.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
    UeInfo:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: Basic UE Information Properties.
          type: object
          properties:
            ratType:
              description: RAT Type
              type: string
              enum:
              - 4G
              - 5G
              x-ms-enum:
                name: RatType
                modelAsString: true
                values:
                - value: 4G
                - value: 5G
            ueState:
              description: State of the UE.
              type: string
              enum:
              - Connected
              - Idle
              - Detached
              - Deregistered
              - Unknown
              x-ms-enum:
                name: UeState
                modelAsString: true
            ueIpAddresses:
              type: array
              minItems: 1
              items:
                description: DNN and UE IP address
                type: object
                properties:
                  dnn:
                    description: Data network name
                    type: string
                  ueIpAddress:
                    x-ms-client-flatten: true
                    description: UE IP address
                    type: object
                    properties:
                      ipV4Addr:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
            lastReadAt:
              type: string
              format: date-time
              description: The timestamp of last list UEs call to the packet core
                (UTC).
          required:
          - ratType
          - ueState
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    UeInfoPropertiesFormat:
      description: Basic UE Information Properties.
      type: object
      properties:
        ratType:
          description: RAT Type
          type: string
          enum:
          - 4G
          - 5G
          x-ms-enum:
            name: RatType
            modelAsString: true
            values:
            - value: 4G
            - value: 5G
        ueState:
          description: State of the UE.
          type: string
          enum:
          - Connected
          - Idle
          - Detached
          - Deregistered
          - Unknown
          x-ms-enum:
            name: UeState
            modelAsString: true
        ueIpAddresses:
          type: array
          minItems: 1
          items:
            description: DNN and UE IP address
            type: object
            properties:
              dnn:
                description: Data network name
                type: string
              ueIpAddress:
                x-ms-client-flatten: true
                description: UE IP address
                type: object
                properties:
                  ipV4Addr:
                    type: string
                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                    description: IPv4 address.
        lastReadAt:
          type: string
          format: date-time
          description: The timestamp of last list UEs call to the packet core (UTC).
      required:
      - ratType
      - ueState
    ExtendedUeInfo:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Extended UE Information Properties.
          type: object
          properties:
            ratType:
              description: RAT Type
              type: string
              enum:
              - 4G
              - 5G
              x-ms-enum:
                name: RatType
                modelAsString: true
                values:
                - value: 4G
                - value: 5G
            lastReadAt:
              type: string
              format: date-time
              description: The timestamp of last UE info read from the packet core
                (UTC).
          required:
          - ratType
          discriminator:
            propertyName: ratType
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    ExtendedUeInfoProperties:
      description: Extended UE Information Properties.
      type: object
      properties:
        ratType:
          description: RAT Type
          type: string
          enum:
          - 4G
          - 5G
          x-ms-enum:
            name: RatType
            modelAsString: true
            values:
            - value: 4G
            - value: 5G
        lastReadAt:
          type: string
          format: date-time
          description: The timestamp of last UE info read from the packet core (UTC).
      required:
      - ratType
      discriminator:
        propertyName: ratType
    UeInfo5G:
      type: object
      properties:
        ratType:
          description: RAT Type
          type: string
          enum:
          - 4G
          - 5G
          x-ms-enum:
            name: RatType
            modelAsString: true
            values:
            - value: 4G
            - value: 5G
        lastReadAt:
          type: string
          format: date-time
          description: The timestamp of last UE info read from the packet core (UTC).
        info:
          x-ms-client-flatten: true
          description: UE Information properties for 5G.
          type: object
          required:
          - supi
          - fivegGuti
          properties:
            supi:
              description: Subscription Permanent Identifier
              type: string
              pattern: ^(imsi-[0-9]{5,15}|nai-.+|.+)$
            pei:
              description: Permanent Equipment Identifier
              type: string
              pattern: ^(imei-[0-9]{15}|imeisv-[0-9]{16}|.+)$
            fivegGuti:
              x-ms-client-flatten: true
              description: 5G GUTI
              type: object
              properties:
                plmn:
                  x-ms-client-flatten: true
                  description: Public land mobile network (PLMN) ID. This is made
                    up of the mobile country code and mobile network code, as defined
                    in https://www.itu.int/rec/T-REC-E.212. The values 001-01 and
                    001-001 can be used for testing and the values 999-99 and 999-999
                    can be used on internal private networks.
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
                amfId:
                  x-ms-client-flatten: true
                  description: AMF identifier
                  type: object
                  properties:
                    regionId:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 255
                      description: AMF region identifier
                    setId:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 1023
                      description: AMF set identifier
                    pointer:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 63
                      description: AMF pointer
                  required:
                  - regionId
                  - setId
                  - pointer
                fivegTmsi:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: 5G Temporary Mobile Subscriber Identity
              required:
              - plmn
              - amfId
              - fivegTmsi
            connectionInfo:
              x-ms-client-flatten: true
              description: UE Connection Info for 5G.
              type: object
              required:
              - globalRanNodeId
              - amfUeNgapId
              - ranUeNgapId
              - ueState
              - rrcEstablishmentCause
              properties:
                locationInfo:
                  x-ms-client-flatten: true
                  description: UE Location Info properties
                  type: object
                  properties:
                    locationType:
                      type: string
                      description: Location Type
                    tac:
                      description: Type Allocation Code of UE
                      type: string
                      pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
                    plmn:
                      x-ms-client-flatten: true
                      description: PLMN Identifier
                      type: object
                      properties:
                        mcc:
                          description: Mobile country code (MCC).
                          type: string
                          pattern: ^\d{3}$
                        mnc:
                          description: Mobile network code (MNC).
                          type: string
                          pattern: ^\d{2,3}$
                      required:
                      - mcc
                      - mnc
                  required:
                  - locationType
                  - tac
                  - plmn
                globalRanNodeId:
                  x-ms-client-flatten: true
                  description: Global RAN Node ID
                  type: object
                  properties:
                    plmnId:
                      x-ms-client-flatten: true
                      description: PLMN Identifier
                      type: object
                      properties:
                        mcc:
                          description: Mobile country code (MCC).
                          type: string
                          pattern: ^\d{3}$
                        mnc:
                          description: Mobile network code (MNC).
                          type: string
                          pattern: ^\d{2,3}$
                      required:
                      - mcc
                      - mnc
                    gNbId:
                      x-ms-client-flatten: true
                      description: gNodeB identifier
                      type: object
                      properties:
                        bitLength:
                          type: integer
                          format: int32
                          minimum: 22
                          maximum: 32
                        gNBValue:
                          type: string
                          pattern: ^[A-Fa-f0-9]{6,8}$
                    ngeNbId:
                      type: string
                      pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
                      description: NG-eNodeB identifier
                    eNbId:
                      type: string
                      pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
                      description: eNodeB identifier
                    n3IwfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: N3 IWF identifier
                    wagfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: W-AGF identifier
                    tngfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: TNGF identifier
                    nid:
                      type: string
                      pattern: ^[A-Fa-f0-9]{11}$
                      description: Network identifier
                  required:
                  - plmnId
                perUeTnla:
                  type: string
                  description: Per-UE transport network layer association
                amfUeNgapId:
                  type: integer
                  format: int64
                  minimum: 0
                  description: The AMF UE NGAP ID
                ranUeNgapId:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: The RAN UE NGAP ID
                lastVisitedTai:
                  type: string
                  description: Last Visited TAI
                allowedNssai:
                  type: array
                  description: Allowed Network Slice Selection Assistance Information
                  maxItems: 8
                  items:
                    x-ms-client-flatten: true
                    description: Single-network slice selection assistance information
                      (S-NSSAI).
                    type: object
                    properties:
                      sst:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 255
                        description: Slice/service type (SST).
                      sd:
                        type: string
                        pattern: ^[A-Fa-f0-9]{6}$
                        description: Slice differentiator (SD).
                    required:
                    - sst
                ueState:
                  description: State of the UE.
                  type: string
                  enum:
                  - Connected
                  - Idle
                  - Detached
                  - Deregistered
                  - Unknown
                  x-ms-enum:
                    name: UeState
                    modelAsString: true
                rrcEstablishmentCause:
                  description: Radio connection establishment cause
                  type: string
                  enum:
                  - Emergency
                  - MobileOriginatedSignaling
                  - MobileTerminatedSignaling
                  - MobileOriginatedData
                  - MobileTerminatedData
                  - SMS
                  x-ms-enum:
                    name: RrcEstablishmentCause
                    modelAsString: true
                    values:
                    - value: Emergency
                    - value: MobileOriginatedSignaling
                    - value: MobileTerminatedSignaling
                    - value: MobileOriginatedData
                    - value: MobileTerminatedData
                    - value: SMS
                ueUsageSetting:
                  description: The UE's usage setting
                  type: string
                  enum:
                  - VoiceCentric
                  - DataCentric
                  x-ms-enum:
                    name: UeUsageSetting
                    modelAsString: true
                    values:
                    - value: VoiceCentric
                    - value: DataCentric
                lastActivityTime:
                  type: string
                  format: date-time
                  description: The timestamp of last activity of UE (UTC).
            sessionInfo:
              type: array
              maxItems: 15
              items:
                description: UE Session Info for 5G.
                type: object
                required:
                - pduSessionId
                - dnn
                - snssai
                - ueIpAddress
                - pdnType
                - qosFlow
                - ambr
                properties:
                  pduSessionId:
                    description: PDU session identifier
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 255
                  dnn:
                    description: Data network name
                    type: string
                  snssai:
                    x-ms-client-flatten: true
                    description: Single-network slice selection assistance information
                      (S-NSSAI).
                    type: object
                    properties:
                      sst:
                        type: integer
                        format: int32
                        minimum: 0
                        maximum: 255
                        description: Slice/service type (SST).
                      sd:
                        type: string
                        pattern: ^[A-Fa-f0-9]{6}$
                        description: Slice differentiator (SD).
                    required:
                    - sst
                  ueIpAddress:
                    x-ms-client-flatten: true
                    description: UE IP address
                    type: object
                    properties:
                      ipV4Addr:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
                  pdnType:
                    description: Packet Data Network Type
                    type: string
                    enum:
                    - IPV4
                    x-ms-enum:
                      name: PdnType
                      modelAsString: true
                      values:
                      - value: IPV4
                  ambr:
                    x-ms-client-flatten: true
                    description: Aggregate maximum bit rate.
                    type: object
                    properties:
                      uplink:
                        description: Uplink bit rate.
                        type: string
                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                      downlink:
                        description: Downlink bit rate.
                        type: string
                        pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                    required:
                    - uplink
                    - downlink
                  qosFlow:
                    type: array
                    items:
                      x-ms-client-flatten: true
                      type: object
                      description: QoS Flow
                      required:
                      - qfi
                      - fiveqi
                      properties:
                        qfi:
                          x-ms-client-flatten: true
                          description: Qos Flow Identifier
                          type: integer
                          format: int32
                          minimum: 0
                          maximum: 63
                        fiveqi:
                          x-ms-client-flatten: true
                          type: integer
                          format: int32
                          minimum: 0
                          maximum: 255
                          description: 5G QoS Identifier.
                        mbr:
                          description: Maximum Bit Rate
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            uplink:
                              description: Uplink bit rate.
                              type: string
                              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                            downlink:
                              description: Downlink bit rate.
                              type: string
                              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                          required:
                          - uplink
                          - downlink
                        gbr:
                          description: Guaranteed Bit Rate
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            uplink:
                              description: Uplink bit rate.
                              type: string
                              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                            downlink:
                              description: Downlink bit rate.
                              type: string
                              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                          required:
                          - uplink
                          - downlink
      required:
      - ratType
      - info
      description: Extended UE Information Properties.
      discriminator:
        propertyName: ratType
      x-ms-discriminator-value: 5G
    UeInfo5GProperties:
      description: UE Information properties for 5G.
      type: object
      required:
      - supi
      - fivegGuti
      properties:
        supi:
          description: Subscription Permanent Identifier
          type: string
          pattern: ^(imsi-[0-9]{5,15}|nai-.+|.+)$
        pei:
          description: Permanent Equipment Identifier
          type: string
          pattern: ^(imei-[0-9]{15}|imeisv-[0-9]{16}|.+)$
        fivegGuti:
          x-ms-client-flatten: true
          description: 5G GUTI
          type: object
          properties:
            plmn:
              x-ms-client-flatten: true
              description: Public land mobile network (PLMN) ID. This is made up of
                the mobile country code and mobile network code, as defined in https://www.itu.int/rec/T-REC-E.212.
                The values 001-01 and 001-001 can be used for testing and the values
                999-99 and 999-999 can be used on internal private networks.
              type: object
              properties:
                mcc:
                  description: Mobile country code (MCC).
                  type: string
                  pattern: ^\d{3}$
                mnc:
                  description: Mobile network code (MNC).
                  type: string
                  pattern: ^\d{2,3}$
              required:
              - mcc
              - mnc
            amfId:
              x-ms-client-flatten: true
              description: AMF identifier
              type: object
              properties:
                regionId:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 255
                  description: AMF region identifier
                setId:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 1023
                  description: AMF set identifier
                pointer:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 63
                  description: AMF pointer
              required:
              - regionId
              - setId
              - pointer
            fivegTmsi:
              type: integer
              minimum: 0
              maximum: 4294967295
              description: 5G Temporary Mobile Subscriber Identity
          required:
          - plmn
          - amfId
          - fivegTmsi
        connectionInfo:
          x-ms-client-flatten: true
          description: UE Connection Info for 5G.
          type: object
          required:
          - globalRanNodeId
          - amfUeNgapId
          - ranUeNgapId
          - ueState
          - rrcEstablishmentCause
          properties:
            locationInfo:
              x-ms-client-flatten: true
              description: UE Location Info properties
              type: object
              properties:
                locationType:
                  type: string
                  description: Location Type
                tac:
                  description: Type Allocation Code of UE
                  type: string
                  pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
                plmn:
                  x-ms-client-flatten: true
                  description: PLMN Identifier
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
              required:
              - locationType
              - tac
              - plmn
            globalRanNodeId:
              x-ms-client-flatten: true
              description: Global RAN Node ID
              type: object
              properties:
                plmnId:
                  x-ms-client-flatten: true
                  description: PLMN Identifier
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
                gNbId:
                  x-ms-client-flatten: true
                  description: gNodeB identifier
                  type: object
                  properties:
                    bitLength:
                      type: integer
                      format: int32
                      minimum: 22
                      maximum: 32
                    gNBValue:
                      type: string
                      pattern: ^[A-Fa-f0-9]{6,8}$
                ngeNbId:
                  type: string
                  pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
                  description: NG-eNodeB identifier
                eNbId:
                  type: string
                  pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
                  description: eNodeB identifier
                n3IwfId:
                  type: string
                  pattern: ^[A-Fa-f0-9]+$
                  description: N3 IWF identifier
                wagfId:
                  type: string
                  pattern: ^[A-Fa-f0-9]+$
                  description: W-AGF identifier
                tngfId:
                  type: string
                  pattern: ^[A-Fa-f0-9]+$
                  description: TNGF identifier
                nid:
                  type: string
                  pattern: ^[A-Fa-f0-9]{11}$
                  description: Network identifier
              required:
              - plmnId
            perUeTnla:
              type: string
              description: Per-UE transport network layer association
            amfUeNgapId:
              type: integer
              format: int64
              minimum: 0
              description: The AMF UE NGAP ID
            ranUeNgapId:
              type: integer
              minimum: 0
              maximum: 4294967295
              description: The RAN UE NGAP ID
            lastVisitedTai:
              type: string
              description: Last Visited TAI
            allowedNssai:
              type: array
              description: Allowed Network Slice Selection Assistance Information
              maxItems: 8
              items:
                x-ms-client-flatten: true
                description: Single-network slice selection assistance information
                  (S-NSSAI).
                type: object
                properties:
                  sst:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 255
                    description: Slice/service type (SST).
                  sd:
                    type: string
                    pattern: ^[A-Fa-f0-9]{6}$
                    description: Slice differentiator (SD).
                required:
                - sst
            ueState:
              description: State of the UE.
              type: string
              enum:
              - Connected
              - Idle
              - Detached
              - Deregistered
              - Unknown
              x-ms-enum:
                name: UeState
                modelAsString: true
            rrcEstablishmentCause:
              description: Radio connection establishment cause
              type: string
              enum:
              - Emergency
              - MobileOriginatedSignaling
              - MobileTerminatedSignaling
              - MobileOriginatedData
              - MobileTerminatedData
              - SMS
              x-ms-enum:
                name: RrcEstablishmentCause
                modelAsString: true
                values:
                - value: Emergency
                - value: MobileOriginatedSignaling
                - value: MobileTerminatedSignaling
                - value: MobileOriginatedData
                - value: MobileTerminatedData
                - value: SMS
            ueUsageSetting:
              description: The UE's usage setting
              type: string
              enum:
              - VoiceCentric
              - DataCentric
              x-ms-enum:
                name: UeUsageSetting
                modelAsString: true
                values:
                - value: VoiceCentric
                - value: DataCentric
            lastActivityTime:
              type: string
              format: date-time
              description: The timestamp of last activity of UE (UTC).
        sessionInfo:
          type: array
          maxItems: 15
          items:
            description: UE Session Info for 5G.
            type: object
            required:
            - pduSessionId
            - dnn
            - snssai
            - ueIpAddress
            - pdnType
            - qosFlow
            - ambr
            properties:
              pduSessionId:
                description: PDU session identifier
                type: integer
                format: int32
                minimum: 0
                maximum: 255
              dnn:
                description: Data network name
                type: string
              snssai:
                x-ms-client-flatten: true
                description: Single-network slice selection assistance information
                  (S-NSSAI).
                type: object
                properties:
                  sst:
                    type: integer
                    format: int32
                    minimum: 0
                    maximum: 255
                    description: Slice/service type (SST).
                  sd:
                    type: string
                    pattern: ^[A-Fa-f0-9]{6}$
                    description: Slice differentiator (SD).
                required:
                - sst
              ueIpAddress:
                x-ms-client-flatten: true
                description: UE IP address
                type: object
                properties:
                  ipV4Addr:
                    type: string
                    pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                    description: IPv4 address.
              pdnType:
                description: Packet Data Network Type
                type: string
                enum:
                - IPV4
                x-ms-enum:
                  name: PdnType
                  modelAsString: true
                  values:
                  - value: IPV4
              ambr:
                x-ms-client-flatten: true
                description: Aggregate maximum bit rate.
                type: object
                properties:
                  uplink:
                    description: Uplink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                  downlink:
                    description: Downlink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                required:
                - uplink
                - downlink
              qosFlow:
                type: array
                items:
                  x-ms-client-flatten: true
                  type: object
                  description: QoS Flow
                  required:
                  - qfi
                  - fiveqi
                  properties:
                    qfi:
                      x-ms-client-flatten: true
                      description: Qos Flow Identifier
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 63
                    fiveqi:
                      x-ms-client-flatten: true
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 255
                      description: 5G QoS Identifier.
                    mbr:
                      description: Maximum Bit Rate
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        uplink:
                          description: Uplink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        downlink:
                          description: Downlink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                      required:
                      - uplink
                      - downlink
                    gbr:
                      description: Guaranteed Bit Rate
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        uplink:
                          description: Uplink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                        downlink:
                          description: Downlink bit rate.
                          type: string
                          pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                      required:
                      - uplink
                      - downlink
    Guti5G:
      description: 5G GUTI
      type: object
      properties:
        plmn:
          x-ms-client-flatten: true
          description: Public land mobile network (PLMN) ID. This is made up of the
            mobile country code and mobile network code, as defined in https://www.itu.int/rec/T-REC-E.212.
            The values 001-01 and 001-001 can be used for testing and the values 999-99
            and 999-999 can be used on internal private networks.
          type: object
          properties:
            mcc:
              description: Mobile country code (MCC).
              type: string
              pattern: ^\d{3}$
            mnc:
              description: Mobile network code (MNC).
              type: string
              pattern: ^\d{2,3}$
          required:
          - mcc
          - mnc
        amfId:
          x-ms-client-flatten: true
          description: AMF identifier
          type: object
          properties:
            regionId:
              type: integer
              format: int32
              minimum: 0
              maximum: 255
              description: AMF region identifier
            setId:
              type: integer
              format: int32
              minimum: 0
              maximum: 1023
              description: AMF set identifier
            pointer:
              type: integer
              format: int32
              minimum: 0
              maximum: 63
              description: AMF pointer
          required:
          - regionId
          - setId
          - pointer
        fivegTmsi:
          type: integer
          minimum: 0
          maximum: 4294967295
          description: 5G Temporary Mobile Subscriber Identity
      required:
      - plmn
      - amfId
      - fivegTmsi
    AmfId:
      description: AMF identifier
      type: object
      properties:
        regionId:
          type: integer
          format: int32
          minimum: 0
          maximum: 255
          description: AMF region identifier
        setId:
          type: integer
          format: int32
          minimum: 0
          maximum: 1023
          description: AMF set identifier
        pointer:
          type: integer
          format: int32
          minimum: 0
          maximum: 63
          description: AMF pointer
      required:
      - regionId
      - setId
      - pointer
    UeConnectionInfo5G:
      description: UE Connection Info for 5G.
      type: object
      required:
      - globalRanNodeId
      - amfUeNgapId
      - ranUeNgapId
      - ueState
      - rrcEstablishmentCause
      properties:
        locationInfo:
          x-ms-client-flatten: true
          description: UE Location Info properties
          type: object
          properties:
            locationType:
              type: string
              description: Location Type
            tac:
              description: Type Allocation Code of UE
              type: string
              pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
            plmn:
              x-ms-client-flatten: true
              description: PLMN Identifier
              type: object
              properties:
                mcc:
                  description: Mobile country code (MCC).
                  type: string
                  pattern: ^\d{3}$
                mnc:
                  description: Mobile network code (MNC).
                  type: string
                  pattern: ^\d{2,3}$
              required:
              - mcc
              - mnc
          required:
          - locationType
          - tac
          - plmn
        globalRanNodeId:
          x-ms-client-flatten: true
          description: Global RAN Node ID
          type: object
          properties:
            plmnId:
              x-ms-client-flatten: true
              description: PLMN Identifier
              type: object
              properties:
                mcc:
                  description: Mobile country code (MCC).
                  type: string
                  pattern: ^\d{3}$
                mnc:
                  description: Mobile network code (MNC).
                  type: string
                  pattern: ^\d{2,3}$
              required:
              - mcc
              - mnc
            gNbId:
              x-ms-client-flatten: true
              description: gNodeB identifier
              type: object
              properties:
                bitLength:
                  type: integer
                  format: int32
                  minimum: 22
                  maximum: 32
                gNBValue:
                  type: string
                  pattern: ^[A-Fa-f0-9]{6,8}$
            ngeNbId:
              type: string
              pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
              description: NG-eNodeB identifier
            eNbId:
              type: string
              pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
              description: eNodeB identifier
            n3IwfId:
              type: string
              pattern: ^[A-Fa-f0-9]+$
              description: N3 IWF identifier
            wagfId:
              type: string
              pattern: ^[A-Fa-f0-9]+$
              description: W-AGF identifier
            tngfId:
              type: string
              pattern: ^[A-Fa-f0-9]+$
              description: TNGF identifier
            nid:
              type: string
              pattern: ^[A-Fa-f0-9]{11}$
              description: Network identifier
          required:
          - plmnId
        perUeTnla:
          type: string
          description: Per-UE transport network layer association
        amfUeNgapId:
          type: integer
          format: int64
          minimum: 0
          description: The AMF UE NGAP ID
        ranUeNgapId:
          type: integer
          minimum: 0
          maximum: 4294967295
          description: The RAN UE NGAP ID
        lastVisitedTai:
          type: string
          description: Last Visited TAI
        allowedNssai:
          type: array
          description: Allowed Network Slice Selection Assistance Information
          maxItems: 8
          items:
            x-ms-client-flatten: true
            description: Single-network slice selection assistance information (S-NSSAI).
            type: object
            properties:
              sst:
                type: integer
                format: int32
                minimum: 0
                maximum: 255
                description: Slice/service type (SST).
              sd:
                type: string
                pattern: ^[A-Fa-f0-9]{6}$
                description: Slice differentiator (SD).
            required:
            - sst
        ueState:
          description: State of the UE.
          type: string
          enum:
          - Connected
          - Idle
          - Detached
          - Deregistered
          - Unknown
          x-ms-enum:
            name: UeState
            modelAsString: true
        rrcEstablishmentCause:
          description: Radio connection establishment cause
          type: string
          enum:
          - Emergency
          - MobileOriginatedSignaling
          - MobileTerminatedSignaling
          - MobileOriginatedData
          - MobileTerminatedData
          - SMS
          x-ms-enum:
            name: RrcEstablishmentCause
            modelAsString: true
            values:
            - value: Emergency
            - value: MobileOriginatedSignaling
            - value: MobileTerminatedSignaling
            - value: MobileOriginatedData
            - value: MobileTerminatedData
            - value: SMS
        ueUsageSetting:
          description: The UE's usage setting
          type: string
          enum:
          - VoiceCentric
          - DataCentric
          x-ms-enum:
            name: UeUsageSetting
            modelAsString: true
            values:
            - value: VoiceCentric
            - value: DataCentric
        lastActivityTime:
          type: string
          format: date-time
          description: The timestamp of last activity of UE (UTC).
    UeSessionInfo5G:
      description: UE Session Info for 5G.
      type: object
      required:
      - pduSessionId
      - dnn
      - snssai
      - ueIpAddress
      - pdnType
      - qosFlow
      - ambr
      properties:
        pduSessionId:
          description: PDU session identifier
          type: integer
          format: int32
          minimum: 0
          maximum: 255
        dnn:
          description: Data network name
          type: string
        snssai:
          x-ms-client-flatten: true
          description: Single-network slice selection assistance information (S-NSSAI).
          type: object
          properties:
            sst:
              type: integer
              format: int32
              minimum: 0
              maximum: 255
              description: Slice/service type (SST).
            sd:
              type: string
              pattern: ^[A-Fa-f0-9]{6}$
              description: Slice differentiator (SD).
          required:
          - sst
        ueIpAddress:
          x-ms-client-flatten: true
          description: UE IP address
          type: object
          properties:
            ipV4Addr:
              type: string
              pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
              description: IPv4 address.
        pdnType:
          description: Packet Data Network Type
          type: string
          enum:
          - IPV4
          x-ms-enum:
            name: PdnType
            modelAsString: true
            values:
            - value: IPV4
        ambr:
          x-ms-client-flatten: true
          description: Aggregate maximum bit rate.
          type: object
          properties:
            uplink:
              description: Uplink bit rate.
              type: string
              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
            downlink:
              description: Downlink bit rate.
              type: string
              pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
          required:
          - uplink
          - downlink
        qosFlow:
          type: array
          items:
            x-ms-client-flatten: true
            type: object
            description: QoS Flow
            required:
            - qfi
            - fiveqi
            properties:
              qfi:
                x-ms-client-flatten: true
                description: Qos Flow Identifier
                type: integer
                format: int32
                minimum: 0
                maximum: 63
              fiveqi:
                x-ms-client-flatten: true
                type: integer
                format: int32
                minimum: 0
                maximum: 255
                description: 5G QoS Identifier.
              mbr:
                description: Maximum Bit Rate
                x-ms-client-flatten: true
                type: object
                properties:
                  uplink:
                    description: Uplink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                  downlink:
                    description: Downlink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                required:
                - uplink
                - downlink
              gbr:
                description: Guaranteed Bit Rate
                x-ms-client-flatten: true
                type: object
                properties:
                  uplink:
                    description: Uplink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                  downlink:
                    description: Downlink bit rate.
                    type: string
                    pattern: ^\d+(\.\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$
                required:
                - uplink
                - downlink
    UeInfo4G:
      type: object
      properties:
        ratType:
          description: RAT Type
          type: string
          enum:
          - 4G
          - 5G
          x-ms-enum:
            name: RatType
            modelAsString: true
            values:
            - value: 4G
            - value: 5G
        lastReadAt:
          type: string
          format: date-time
          description: The timestamp of last UE info read from the packet core (UTC).
        info:
          x-ms-client-flatten: true
          description: UE Information properties for 4G.
          type: object
          required:
          - imsi
          - guti
          properties:
            imsi:
              type: string
              pattern: ^[0-9]{5,15}$
              description: International mobile subscriber identifier
            imei:
              type: string
              pattern: ^[0-9]{15}$
              description: International mobile equipment identity
            imeisv:
              type: string
              pattern: ^[0-9]{16}$
              description: "International mobile equipment identity \u2013 software\
                \ version"
            guti:
              x-ms-client-flatten: true
              description: Globally Unique Temporary Identifier (4G)
              type: object
              properties:
                plmn:
                  x-ms-client-flatten: true
                  description: Public land mobile network (PLMN) ID. This is made
                    up of the mobile country code and mobile network code, as defined
                    in https://www.itu.int/rec/T-REC-E.212. The values 001-01 and
                    001-001 can be used for testing and the values 999-99 and 999-999
                    can be used on internal private networks.
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
                mmeId:
                  x-ms-client-flatten: true
                  description: MME identifier
                  type: object
                  properties:
                    groupId:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 65535
                      description: MME group identifier
                    code:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 255
                      description: MME code
                  required:
                  - groupId
                  - code
                mTmsi:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: MME Temporary Mobile Subscriber Identity
              required:
              - plmn
              - mmeId
              - mTmsi
            connectionInfo:
              x-ms-client-flatten: true
              description: UE Connection Info for 4G
              type: object
              required:
              - globalRanNodeId
              - mmeS1apId
              - enbS1apId
              - ueState
              - rrcEstablishmentCause
              properties:
                locationInfo:
                  x-ms-client-flatten: true
                  description: UE Location Info properties
                  type: object
                  properties:
                    locationType:
                      type: string
                      description: Location Type
                    tac:
                      description: Type Allocation Code of UE
                      type: string
                      pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
                    plmn:
                      x-ms-client-flatten: true
                      description: PLMN Identifier
                      type: object
                      properties:
                        mcc:
                          description: Mobile country code (MCC).
                          type: string
                          pattern: ^\d{3}$
                        mnc:
                          description: Mobile network code (MNC).
                          type: string
                          pattern: ^\d{2,3}$
                      required:
                      - mcc
                      - mnc
                  required:
                  - locationType
                  - tac
                  - plmn
                globalRanNodeId:
                  x-ms-client-flatten: true
                  description: Global RAN Node ID
                  type: object
                  properties:
                    plmnId:
                      x-ms-client-flatten: true
                      description: PLMN Identifier
                      type: object
                      properties:
                        mcc:
                          description: Mobile country code (MCC).
                          type: string
                          pattern: ^\d{3}$
                        mnc:
                          description: Mobile network code (MNC).
                          type: string
                          pattern: ^\d{2,3}$
                      required:
                      - mcc
                      - mnc
                    gNbId:
                      x-ms-client-flatten: true
                      description: gNodeB identifier
                      type: object
                      properties:
                        bitLength:
                          type: integer
                          format: int32
                          minimum: 22
                          maximum: 32
                        gNBValue:
                          type: string
                          pattern: ^[A-Fa-f0-9]{6,8}$
                    ngeNbId:
                      type: string
                      pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
                      description: NG-eNodeB identifier
                    eNbId:
                      type: string
                      pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
                      description: eNodeB identifier
                    n3IwfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: N3 IWF identifier
                    wagfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: W-AGF identifier
                    tngfId:
                      type: string
                      pattern: ^[A-Fa-f0-9]+$
                      description: TNGF identifier
                    nid:
                      type: string
                      pattern: ^[A-Fa-f0-9]{11}$
                      description: Network identifier
                  required:
                  - plmnId
                perUeTnla:
                  type: string
                  description: Per-UE transport network layer association
                mmeS1apId:
                  type: integer
                  minimum: 0
                  maximum: 4294967295
                  description: MME S1AP identifier
                enbS1apId:
                  type: integer
                  minimum: 0
                  maximum: 16777215
                  description: eNodeB S1AP identifier
                lastVisitedTai:
                  type: string
                  description: Last Visited TAI
                ueState:
                  description: State of the UE.
                  type: string
                  enum:
                  - Connected
                  - Idle
                  - Detached
                  - Deregistered
                  - Unknown
                  x-ms-enum:
                    name: UeState
                    modelAsString: true
                rrcEstablishmentCause:
                  description: Radio connection establishment cause
                  type: string
                  enum:
                  - Emergency
                  - MobileOriginatedSignaling
                  - MobileTerminatedSignaling
                  - MobileOriginatedData
                  - MobileTerminatedData
                  - SMS
                  x-ms-enum:
                    name: RrcEstablishmentCause
                    modelAsString: true
                    values:
                    - value: Emergency
                    - value: MobileOriginatedSignaling
                    - value: MobileTerminatedSignaling
                    - value: MobileOriginatedData
                    - value: MobileTerminatedData
                    - value: SMS
                ueUsageSetting:
                  description: The UE's usage setting
                  type: string
                  enum:
                  - VoiceCentric
                  - DataCentric
                  x-ms-enum:
                    name: UeUsageSetting
                    modelAsString: true
                    values:
                    - value: VoiceCentric
                    - value: DataCentric
                lastActivityTime:
                  type: string
                  format: date-time
                  description: The timestamp of last activity of UE (UTC).
            sessionInfo:
              type: array
              maxItems: 11
              items:
                description: UE Session Info for 4G
                type: object
                required:
                - ebi
                - apn
                - ueIpAddress
                - pdnType
                properties:
                  ebi:
                    type: integer
                    maximum: 15
                    minimum: 5
                    description: EPS bearer identifier
                  apn:
                    type: string
                    description: Access point name
                  ueIpAddress:
                    x-ms-client-flatten: true
                    description: UE IP address
                    type: object
                    properties:
                      ipV4Addr:
                        type: string
                        pattern: ^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$
                        description: IPv4 address.
                  pdnType:
                    description: Packet Data Network Type
                    type: string
                    enum:
                    - IPV4
                    x-ms-enum:
                      name: PdnType
                      modelAsString: true
                      values:
                      - value: IPV4
      required:
      - ratType
      - info
      description: Extended UE Information Properties.
      discriminator:
        propertyName: ratType
      x-ms-discriminator-value: 4G
    UeInfo4GProperties:
      description: UE Information properties for 4G.
      type: object
      required:
      - imsi
      - guti
      properties:
        imsi:
          type: string
          pattern: ^[0-9]{5,15}$
          description: International mobile subscriber identifier
        imei:
          type: string
          pattern: ^[0-9]{15}$
          description: International mobile equipment identity
        imeisv:
          type: string
          pattern: ^[0-9]{16}$
          description: "International mobile equipment identity \u2013 software version"
        guti:
          x-ms-client-flatten: true
          description: Globally Unique Temporary Identifier (4G)
          type: object
          properties:
            plmn:
              x-ms-client-flatten: true
              description: Public land mobile network (PLMN) ID. This is made up of
                the mobile country code and mobile network code, as defined in https://www.itu.int/rec/T-REC-E.212.
                The values 001-01 and 001-001 can be used for testing and the values
                999-99 and 999-999 can be used on internal private networks.
              type: object
              properties:
                mcc:
                  description: Mobile country code (MCC).
                  type: string
                  pattern: ^\d{3}$
                mnc:
                  description: Mobile network code (MNC).
                  type: string
                  pattern: ^\d{2,3}$
              required:
              - mcc
              - mnc
            mmeId:
              x-ms-client-flatten: true
              description: MME identifier
              type: object
              properties:
                groupId:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 65535
                  description: MME group identifier
                code:
                  type: integer
                  format: int32
                  minimum: 0
                  maximum: 255
                  description: MME code
              required:
              - groupId
              - code
            mTmsi:
              type: integer
              minimum: 0
              maximum: 4294967295
              description: MME Temporary Mobile Subscriber Identity
          required:
          - plmn
          - mmeId
          - mTmsi
        connectionInfo:
          x-ms-client-flatten: true
          description: UE Connection Info for 4G
          type: object
          required:
          - globalRanNodeId
          - mmeS1apId
          - enbS1apId
          - ueState
          - rrcEstablishmentCause
          properties:
            locationInfo:
              x-ms-client-flatten: true
              description: UE Location Info properties
              type: object
              properties:
                locationType:
                  type: string
                  description: Location Type
                tac:
                  description: Type Allocation Code of UE
                  type: string
                  pattern: (^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)
                plmn:
                  x-ms-client-flatten: true
                  description: PLMN Identifier
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
              required:
              - locationType
              - tac
              - plmn
            globalRanNodeId:
              x-ms-client-flatten: true
              description: Global RAN Node ID
              type: object
              properties:
                plmnId:
                  x-ms-client-flatten: true
                  description: PLMN Identifier
                  type: object
                  properties:
                    mcc:
                      description: Mobile country code (MCC).
                      type: string
                      pattern: ^\d{3}$
                    mnc:
                      description: Mobile network code (MNC).
                      type: string
                      pattern: ^\d{2,3}$
                  required:
                  - mcc
                  - mnc
                gNbId:
                  x-ms-client-flatten: true
                  description: gNodeB identifier
                  type: object
                  properties:
                    bitLength:
                      type: integer
                      format: int32
                      minimum: 22
                      maximum: 32
                    gNBValue:
                      type: string
                      pattern: ^[A-Fa-f0-9]{6,8}$
                ngeNbId:
                  type: string
                  pattern: ^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$
                  description: NG-eNodeB identifier
                eNbId:
                  type: string
                  pattern: ^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$
                  description: eNodeB identifier
                n3IwfId:
                  type: string
                  pattern: ^[A-Fa-f0-9]+$
                  description: N3 IWF identifier
                wagfId:
                  type: string
                  pattern: ^[A-Fa-f0-9]+$
                  description: W-AGF identifier
                tngfId:
[...]
