openapi: 3.0.0
info:
  version: 2016-01-29
  title: Power BI Embedded Management Client
  description: Client to manage your Power BI Embedded workspace collections and retrieve
    workspaces.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}
  : get:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_getByName
      description: Retrieves an existing Power BI Workspace Collection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Workspace collection created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource id
                    type: string
                  name:
                    description: Workspace collection name
                    type: string
                  type:
                    description: Resource type
                    type: string
                  location:
                    description: Azure location
                    type: string
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    type: object
                    required:
                    - name
                    - tier
                    properties:
                      name:
                        description: SKU name
                        type: string
                        enum:
                        - S1
                        x-ms-enum:
                          name: AzureSkuName
                          modelAsString: true
                      tier:
                        description: SKU tier
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: AzureSkuTier
                          modelAsString: true
                  properties:
                    description: Properties
                    type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
    put:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_create
      description: Creates a new Power BI Workspace Collection with the specified
        properties. A Power BI Workspace Collection contains one or more workspaces,
        and can be used to provision keys that provide API access to those workspaces.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  description: Azure location
                tags:
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  type: object
                  required:
                  - name
                  - tier
                  properties:
                    name:
                      description: SKU name
                      type: string
                      enum:
                      - S1
                      x-ms-enum:
                        name: AzureSkuName
                        modelAsString: true
                    tier:
                      description: SKU tier
                      type: string
                      enum:
                      - Standard
                      x-ms-enum:
                        name: AzureSkuTier
                        modelAsString: true
        description: Create workspace collection request
        required: true
      responses:
        '200':
          description: Workspace collection created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource id
                    type: string
                  name:
                    description: Workspace collection name
                    type: string
                  type:
                    description: Resource type
                    type: string
                  location:
                    description: Azure location
                    type: string
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    type: object
                    required:
                    - name
                    - tier
                    properties:
                      name:
                        description: SKU name
                        type: string
                        enum:
                        - S1
                        x-ms-enum:
                          name: AzureSkuName
                          modelAsString: true
                      tier:
                        description: SKU tier
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: AzureSkuTier
                          modelAsString: true
                  properties:
                    description: Properties
                    type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
    patch:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_update
      description: Update an existing Power BI Workspace Collection with the specified
        properties.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  type: object
                  required:
                  - name
                  - tier
                  properties:
                    name:
                      description: SKU name
                      type: string
                      enum:
                      - S1
                      x-ms-enum:
                        name: AzureSkuName
                        modelAsString: true
                    tier:
                      description: SKU tier
                      type: string
                      enum:
                      - Standard
                      x-ms-enum:
                        name: AzureSkuTier
                        modelAsString: true
        description: Update workspace collection request
        required: true
      responses:
        '200':
          description: Workspace collection updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource id
                    type: string
                  name:
                    description: Workspace collection name
                    type: string
                  type:
                    description: Resource type
                    type: string
                  location:
                    description: Azure location
                    type: string
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    type: object
                    required:
                    - name
                    - tier
                    properties:
                      name:
                        description: SKU name
                        type: string
                        enum:
                        - S1
                        x-ms-enum:
                          name: AzureSkuName
                          modelAsString: true
                      tier:
                        description: SKU tier
                        type: string
                        enum:
                        - Standard
                        x-ms-enum:
                          name: AzureSkuTier
                          modelAsString: true
                  properties:
                    description: Properties
                    type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
    delete:
      x-ms-long-running-operation: true
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_delete
      description: Delete a Power BI Workspace Collection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '202':
          description: Workspace collection deleted successfully
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/locations/{location}/checkNameAvailability:
    post:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_checkNameAvailability
      description: Verify the specified Power BI Workspace Collection name is valid
        and not already in use.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: location
        in: path
        description: Azure location
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Workspace collection name
                type:
                  type: string
                  description: Resource type
                  default: Microsoft.PowerBI/workspaceCollections
        description: Check name availability request
        required: true
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  nameAvailable:
                    type: boolean
                    description: Specifies a Boolean value that indicates whether
                      the specified Power BI Workspace Collection name is available
                      to use.
                  reason:
                    type: string
                    description: Reason why the workspace collection name cannot be
                      used.
                    enum:
                    - Unavailable
                    - Invalid
                    x-ms-enum:
                      name: CheckNameReason
                      modelAsString: true
                  message:
                    type: string
                    description: Message indicating an unavailable name due to a conflict,
                      or a description of the naming rules that are violated.
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections:
    get:
      x-ms-pageable: {}
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_listByResourceGroup
      description: Retrieves all existing Power BI workspace collections in the specified
        resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Get workspaces response
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource id
                          type: string
                        name:
                          description: Workspace collection name
                          type: string
                        type:
                          description: Resource type
                          type: string
                        location:
                          description: Azure location
                          type: string
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          type: object
                          required:
                          - name
                          - tier
                          properties:
                            name:
                              description: SKU name
                              type: string
                              enum:
                              - S1
                              x-ms-enum:
                                name: AzureSkuName
                                modelAsString: true
                            tier:
                              description: SKU tier
                              type: string
                              enum:
                              - Standard
                              x-ms-enum:
                                name: AzureSkuTier
                                modelAsString: true
                        properties:
                          description: Properties
                          type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/workspaceCollections:
    get:
      x-ms-pageable: {}
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_listBySubscription
      description: Retrieves all existing Power BI workspace collections in the specified
        subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Get workspaces response
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource id
                          type: string
                        name:
                          description: Workspace collection name
                          type: string
                        type:
                          description: Resource type
                          type: string
                        location:
                          description: Azure location
                          type: string
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          type: object
                          required:
                          - name
                          - tier
                          properties:
                            name:
                              description: SKU name
                              type: string
                              enum:
                              - S1
                              x-ms-enum:
                                name: AzureSkuName
                                modelAsString: true
                            tier:
                              description: SKU tier
                              type: string
                              enum:
                              - Standard
                              x-ms-enum:
                                name: AzureSkuTier
                                modelAsString: true
                        properties:
                          description: Properties
                          type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/listKeys
  : post:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_getAccessKeys
      description: Retrieves the primary and secondary access keys for the specified
        Power BI Workspace Collection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Get access keys completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  key1:
                    description: Access key 1
                    type: string
                  key2:
                    description: Access key 2
                    type: string
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/regenerateKey
  : post:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_regenerateKey
      description: Regenerates the primary or secondary access key for the specified
        Power BI Workspace Collection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyName:
                  description: Key name
                  type: string
                  enum:
                  - key1
                  - key2
                  x-ms-enum:
                    name: AccessKeyName
                    modelAsString: false
        description: Access key to regenerate
        required: true
      responses:
        '200':
          description: Get access keys completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  key1:
                    description: Access key 1
                    type: string
                  key2:
                    description: Access key 2
                    type: string
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  /providers/Microsoft.PowerBI/operations:
    get:
      tags:
      - Operations
      operationId: getAvailableOperations
      description: Indicates which operations can be performed by the Power BI Resource
        Provider.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the operation being performed on
                            this particular object. This name should match the action
                            name that appears in RBAC / the event service.
                        display:
                          type: object
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name. This form is also expected to include
                                the publisher/company responsible. Use Title Casing.
                                Begin with "Microsoft" for 1st party services.
                            resource:
                              type: string
                              description: The localized friendly form of the resource
                                type related to this action/operation. This form should
                                match the public documentation for the resource provider.
                                Use Title Casing. For examples, refer to the "name"
                                section.
                            operation:
                              type: string
                              description: The localized friendly name for the operation
                                as shown to the user. This name should be concise
                                (to fit in drop downs), but clear (self-documenting).
                                Use Title Casing and include the entity/resource to
                                which it applies.
                            description:
                              type: string
                              description: The localized friendly description for
                                the operation as shown to the user. This description
                                should be thorough, yet concise. It will be used in
                                tool-tips and detailed views.
                            origin:
                              type: string
                              description: The intended executor of the operation;
                                governs the display of the operation in the RBAC UX
                                and the audit logs UX. Default value is 'user,system'
                    x-ms-identifiers:
                    - name
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/workspaceCollections/{workspaceCollectionName}/workspaces
  : get:
      x-ms-pageable: {}
      tags:
      - Workspaces
      operationId: Workspaces_List
      description: Retrieves all existing Power BI workspaces in the specified workspace
        collection.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: workspaceCollectionName
        in: path
        description: Power BI Embedded Workspace Collection name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      responses:
        '200':
          description: Get workspaces completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Workspace id
                          type: string
                        name:
                          description: Workspace name
                          type: string
                        type:
                          description: Resource type
                          type: string
                        properties:
                          description: Property bag
                          type: object
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      tags:
      - WorkspaceCollections
      operationId: WorkspaceCollections_migrate
      description: Migrates an existing Power BI Workspace Collection to a different
        resource group and/or subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify a Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Azure resource group
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetResourceGroup:
                  type: string
                  description: Name of the resource group the Power BI workspace collections
                    will be migrated to.
                resources:
                  type: array
                  items:
                    type: string
        description: Workspace migration request
        required: true
      responses:
        '200':
          description: Migration completed successfully
        default:
          description: Default Response. It will be deserialized as per the Error
            definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                        target:
                          type: string
                    x-ms-identifiers:
                    - code
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify a Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              target:
                type: string
          x-ms-identifiers:
          - code
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
    WorkspaceCollectionList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource id
                type: string
              name:
                description: Workspace collection name
                type: string
              type:
                description: Resource type
                type: string
              location:
                description: Azure location
                type: string
              tags:
                type: object
                additionalProperties:
                  type: string
              sku:
                type: object
                required:
                - name
                - tier
                properties:
                  name:
                    description: SKU name
                    type: string
                    enum:
                    - S1
                    x-ms-enum:
                      name: AzureSkuName
                      modelAsString: true
                  tier:
                    description: SKU tier
                    type: string
                    enum:
                    - Standard
                    x-ms-enum:
                      name: AzureSkuTier
                      modelAsString: true
              properties:
                description: Properties
                type: object
    WorkspaceList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                description: Workspace id
                type: string
              name:
                description: Workspace name
                type: string
              type:
                description: Resource type
                type: string
              properties:
                description: Property bag
                type: object
    OperationList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the operation being performed on this particular
                  object. This name should match the action name that appears in RBAC
                  / the event service.
              display:
                type: object
                properties:
                  provider:
                    type: string
                    description: The localized friendly form of the resource provider
                      name. This form is also expected to include the publisher/company
                      responsible. Use Title Casing. Begin with "Microsoft" for 1st
                      party services.
                  resource:
                    type: string
                    description: The localized friendly form of the resource type
                      related to this action/operation. This form should match the
                      public documentation for the resource provider. Use Title Casing.
                      For examples, refer to the "name" section.
                  operation:
                    type: string
                    description: The localized friendly name for the operation as
                      shown to the user. This name should be concise (to fit in drop
                      downs), but clear (self-documenting). Use Title Casing and include
                      the entity/resource to which it applies.
                  description:
                    type: string
                    description: The localized friendly description for the operation
                      as shown to the user. This description should be thorough, yet
                      concise. It will be used in tool-tips and detailed views.
                  origin:
                    type: string
                    description: The intended executor of the operation; governs the
                      display of the operation in the RBAC UX and the audit logs UX.
                      Default value is 'user,system'
          x-ms-identifiers:
          - name
    AzureSku:
      type: object
      required:
      - name
      - tier
      properties:
        name:
          description: SKU name
          type: string
          enum:
          - S1
          x-ms-enum:
            name: AzureSkuName
            modelAsString: true
        tier:
          description: SKU tier
          type: string
          enum:
          - Standard
          x-ms-enum:
            name: AzureSkuTier
            modelAsString: true
    WorkspaceCollectionAccessKeys:
      type: object
      properties:
        key1:
          description: Access key 1
          type: string
        key2:
          description: Access key 2
          type: string
    WorkspaceCollectionAccessKey:
      type: object
      properties:
        keyName:
          description: Key name
          type: string
          enum:
          - key1
          - key2
          x-ms-enum:
            name: AccessKeyName
            modelAsString: false
    Workspace:
      type: object
      properties:
        id:
          description: Workspace id
          type: string
        name:
          description: Workspace name
          type: string
        type:
          description: Resource type
          type: string
        properties:
          description: Property bag
          type: object
    WorkspaceCollection:
      type: object
      properties:
        id:
          description: Resource id
          type: string
        name:
          description: Workspace collection name
          type: string
        type:
          description: Resource type
          type: string
        location:
          description: Azure location
          type: string
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          required:
          - name
          - tier
          properties:
            name:
              description: SKU name
              type: string
              enum:
              - S1
              x-ms-enum:
                name: AzureSkuName
                modelAsString: true
            tier:
              description: SKU tier
              type: string
              enum:
              - Standard
              x-ms-enum:
                name: AzureSkuTier
                modelAsString: true
        properties:
          description: Properties
          type: object
    CreateWorkspaceCollectionRequest:
      type: object
      properties:
        location:
          type: string
          description: Azure location
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          required:
          - name
          - tier
          properties:
            name:
              description: SKU name
              type: string
              enum:
              - S1
              x-ms-enum:
                name: AzureSkuName
                modelAsString: true
            tier:
              description: SKU tier
              type: string
              enum:
              - Standard
              x-ms-enum:
                name: AzureSkuTier
                modelAsString: true
    UpdateWorkspaceCollectionRequest:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          type: object
          required:
          - name
          - tier
          properties:
            name:
              description: SKU name
              type: string
              enum:
              - S1
              x-ms-enum:
                name: AzureSkuName
                modelAsString: true
            tier:
              description: SKU tier
              type: string
              enum:
              - Standard
              x-ms-enum:
                name: AzureSkuTier
                modelAsString: true
    CheckNameRequest:
      type: object
      properties:
        name:
          type: string
          description: Workspace collection name
        type:
          type: string
          description: Resource type
          default: Microsoft.PowerBI/workspaceCollections
    CheckNameResponse:
      type: object
      properties:
        nameAvailable:
          type: boolean
          description: Specifies a Boolean value that indicates whether the specified
            Power BI Workspace Collection name is available to use.
        reason:
          type: string
          description: Reason why the workspace collection name cannot be used.
          enum:
          - Unavailable
          - Invalid
          x-ms-enum:
            name: CheckNameReason
            modelAsString: true
        message:
          type: string
          description: Message indicating an unavailable name due to a conflict, or
            a description of the naming rules that are violated.
    MigrateWorkspaceCollectionRequest:
      type: object
      properties:
        targetResourceGroup:
          type: string
          description: Name of the resource group the Power BI workspace collections
            will be migrated to.
        resources:
          type: array
          items:
            type: string
    Operation:
      type: object
      properties:
        name:
          type: string
          description: The name of the operation being performed on this particular
            object. This name should match the action name that appears in RBAC /
            the event service.
        display:
          type: object
          properties:
            provider:
              type: string
              description: The localized friendly form of the resource provider name.
                This form is also expected to include the publisher/company responsible.
                Use Title Casing. Begin with "Microsoft" for 1st party services.
            resource:
              type: string
              description: The localized friendly form of the resource type related
                to this action/operation. This form should match the public documentation
                for the resource provider. Use Title Casing. For examples, refer to
                the "name" section.
            operation:
              type: string
              description: The localized friendly name for the operation as shown
                to the user. This name should be concise (to fit in drop downs), but
                clear (self-documenting). Use Title Casing and include the entity/resource
                to which it applies.
            description:
              type: string
              description: The localized friendly description for the operation as
                shown to the user. This description should be thorough, yet concise.
                It will be used in tool-tips and detailed views.
            origin:
              type: string
              description: The intended executor of the operation; governs the display
                of the operation in the RBAC UX and the audit logs UX. Default value
                is 'user,system'
    Display:
      type: object
      properties:
        provider:
          type: string
          description: The localized friendly form of the resource provider name.
            This form is also expected to include the publisher/company responsible.
            Use Title Casing. Begin with "Microsoft" for 1st party services.
        resource:
          type: string
          description: The localized friendly form of the resource type related to
            this action/operation. This form should match the public documentation
            for the resource provider. Use Title Casing. For examples, refer to the
            "name" section.
        operation:
          type: string
          description: The localized friendly name for the operation as shown to the
            user. This name should be concise (to fit in drop downs), but clear (self-documenting).
            Use Title Casing and include the entity/resource to which it applies.
        description:
          type: string
          description: The localized friendly description for the operation as shown
            to the user. This description should be thorough, yet concise. It will
            be used in tool-tips and detailed views.
        origin:
          type: string
          description: The intended executor of the operation; governs the display
            of the operation in the RBAC UX and the audit logs UX. Default value is
            'user,system'
