openapi: 3.0.0
info:
  version: 2021-12-01
  title: PurviewManagementClient
  description: Creates a Microsoft.Purview management client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags: []
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts:
    get:
      tags:
      - Account
      summary: Gets the accounts resources by resource group.
      description: List accounts in ResourceGroup
      operationId: Accounts_ListByResourceGroup
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The resource group name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The api version to use.
        required: true
        schema:
          type: string
      - name: $skipToken
        in: query
        description: The skip token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Paged list of Account resources
                required:
                - value
                type: object
                properties:
                  count:
                    format: int64
                    description: Total item count.
                    type: integer
                  nextLink:
                    description: The Url of next result page.
                    type: string
                  value:
                    description: Collection of items of type results.
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Gets or sets the identifier.
                          type: string
                          readOnly: true
                        identity:
                          description: Identity Info on the tracked resource
                          type: object
                          properties:
                            principalId:
                              description: Service principal object Id
                              type: string
                              readOnly: true
                            tenantId:
                              description: Tenant Id
                              type: string
                              readOnly: true
                            type:
                              description: Identity Type
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                name: type
                                modelAsString: true
                            userAssignedIdentities:
                              description: User Assigned Identities
                              type: object
                              additionalProperties:
                                description: Uses client ID and Principal ID
                                type: object
                                properties:
                                  clientId:
                                    description: Gets or Sets Client ID
                                    type: string
                                    readOnly: true
                                  principalId:
                                    description: Gets or Sets Principal ID
                                    type: string
                                    readOnly: true
                        location:
                          description: Gets or sets the location.
                          type: string
                        name:
                          description: Gets or sets the name.
                          type: string
                          readOnly: true
                        systemData:
                          type: object
                          properties:
                            createdAt:
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                              type: string
                              readOnly: true
                            createdBy:
                              description: The identity that created the resource.
                              type: string
                              readOnly: true
                            createdByType:
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              format: date-time
                              description: The timestamp of the last modification
                                the resource (UTC).
                              type: string
                              readOnly: true
                            lastModifiedBy:
                              description: The identity that last modified the resource.
                              type: string
                              readOnly: true
                            lastModifiedByType:
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: lastModifiedByType
                                modelAsString: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                        tags:
                          description: Tags on the azure resource.
                          type: object
                          additionalProperties:
                            type: string
                        type:
                          description: Gets or sets the type.
                          type: string
                          readOnly: true
                        properties:
                          description: Gets or sets the properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            accountStatus:
                              type: object
                              properties:
                                accountProvisioningState:
                                  description: Gets the account status code.
                                  enum:
                                  - Unknown
                                  - Creating
                                  - Updating
                                  - Moving
                                  - Deleting
                                  - SoftDeleting
                                  - SoftDeleted
                                  - Failed
                                  - Succeeded
                                  - Canceled
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: accountProvisioningState
                                    modelAsString: true
                                errorDetails:
                                  type: object
                                  properties:
                                    code:
                                      description: Gets or sets the code.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Gets or sets the details.
                                      uniqueItems: false
                                      type: array
                                      items:
                                        description: Default error model
                                        type: object
                                        properties:
                                          code:
                                            description: Gets or sets the code.
                                            type: string
                                            readOnly: true
                                          details:
                                            description: Gets or sets the details.
                                            uniqueItems: false
                                            type: array
                                            items:
                                              description: Default error model
                                              type: object
                                              properties:
                                                code:
                                                  description: Gets or sets the code.
                                                  type: string
                                                  readOnly: true
                                            x-ms-identifiers:
                                            - code
                                            readOnly: true
                                          message:
                                            description: Gets or sets the messages.
                                            type: string
                                            readOnly: true
                                          target:
                                            description: Gets or sets the target.
                                            type: string
                                            readOnly: true
                                      x-ms-identifiers:
                                      - code
                                      readOnly: true
                                    message:
                                      description: Gets or sets the messages.
                                      type: string
                                      readOnly: true
                                    target:
                                      description: Gets or sets the target.
                                      type: string
                                      readOnly: true
                                  description: Default error model
                                  readOnly: true
                              description: The account status.
                              readOnly: true
                            cloudConnectors:
                              description: "Cloud connectors.\r\nExternal cloud identifier\
                                \ used as part of scanning configuration."
                              type: object
                              properties:
                                awsExternalId:
                                  description: "AWS external identifier.\r\nConfigured\
                                    \ in AWS to allow use of the role arn used for\
                                    \ scanning"
                                  type: string
                                  readOnly: true
                            createdAt:
                              format: date-time
                              description: Gets the time at which the entity was created.
                              type: string
                              readOnly: true
                            createdBy:
                              description: Gets the creator of the entity.
                              type: string
                              readOnly: true
                            createdByObjectId:
                              description: Gets the creators of the entity's object
                                id.
                              type: string
                              readOnly: true
                            endpoints:
                              type: object
                              properties:
                                catalog:
                                  description: Gets the catalog endpoint.
                                  type: string
                                  readOnly: true
                                guardian:
                                  description: Gets the guardian endpoint.
                                  type: string
                                  readOnly: true
                                scan:
                                  description: Gets the scan endpoint.
                                  type: string
                                  readOnly: true
                              description: The account endpoints
                              readOnly: true
                            friendlyName:
                              description: Gets or sets the friendly name.
                              type: string
                              readOnly: true
                            managedEventHubState:
                              description: ' Gets or sets the state of managed eventhub.
                                If enabled managed eventhub will be created, if disabled
                                the managed eventhub will be removed.'
                              default: NotSpecified
                              enum:
                              - NotSpecified
                              - Disabled
                              - Enabled
                              type: string
                              x-ms-enum:
                                name: managedEventHubState
                                modelAsString: true
                            managedResourceGroupName:
                              description: Gets or sets the managed resource group
                                name
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            managedResources:
                              type: object
                              properties:
                                eventHubNamespace:
                                  description: Gets the managed event hub namespace
                                    resource identifier.
                                  type: string
                                  readOnly: true
                                resourceGroup:
                                  description: Gets the managed resource group resource
                                    identifier. This resource group will host resource
                                    dependencies for the account.
                                  type: string
                                  readOnly: true
                                storageAccount:
                                  description: Gets the managed storage account resource
                                    identifier.
                                  type: string
                                  readOnly: true
                              description: The managed resources in customer subscription.
                              readOnly: true
                            managedResourcesPublicNetworkAccess:
                              description: Gets or sets the public network access
                                for managed resources.
                              default: NotSpecified
                              enum:
                              - NotSpecified
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: managedResourcesPublicNetworkAccess
                                modelAsString: true
                            privateEndpointConnections:
                              description: Gets the private endpoint connections information.
                              uniqueItems: false
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    description: Gets or sets the identifier.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: Gets or sets the name.
                                    type: string
                                    readOnly: true
                                  systemData:
                                    type: object
                                    properties:
                                      createdAt:
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                        type: string
                                        readOnly: true
                                      createdBy:
                                        description: The identity that created the
                                          resource.
                                        type: string
                                        readOnly: true
                                      createdByType:
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        format: date-time
                                        description: The timestamp of the last modification
                                          the resource (UTC).
                                        type: string
                                        readOnly: true
                                      lastModifiedBy:
                                        description: The identity that last modified
                                          the resource.
                                        type: string
                                        readOnly: true
                                      lastModifiedByType:
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: lastModifiedByType
                                          modelAsString: true
                                    description: Metadata pertaining to creation and
                                      last modification of the resource.
                                    readOnly: true
                                  type:
                                    description: Gets or sets the type.
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: The connection identifier.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The private endpoint information.
                                        type: object
                                        properties:
                                          id:
                                            description: The private endpoint identifier.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: The private link service connection
                                          state.
                                        type: object
                                        properties:
                                          actionsRequired:
                                            description: The required actions.
                                            type: string
                                          description:
                                            description: The description.
                                            type: string
                                          status:
                                            description: The status.
                                            enum:
                                            - Unknown
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: status
                                              modelAsString: true
                                      provisioningState:
                                        description: The provisioning state.
                                        type: string
                                        readOnly: true
                                description: Proxy Azure Resource
                                x-ms-azure-resource: true
                              readOnly: true
                            provisioningState:
                              description: Gets or sets the state of the provisioning.
                              enum:
                              - Unknown
                              - Creating
                              - Moving
                              - Deleting
                              - SoftDeleting
                              - SoftDeleted
                              - Failed
                              - Succeeded
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            publicNetworkAccess:
                              description: Gets or sets the public network access.
                              default: Enabled
                              enum:
                              - NotSpecified
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: publicNetworkAccess
                                modelAsString: true
                        sku:
                          type: object
                          properties:
                            capacity:
                              format: int32
                              description: Gets or sets the sku capacity.
                              type: integer
                            name:
                              description: Gets or sets the sku name.
                              enum:
                              - Standard
                              type: string
                              x-ms-enum:
                                name: name
                                modelAsString: true
                          description: The Sku
                          readOnly: true
                      description: Azure ARM Tracked Resource
                      x-ms-azure-resource: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        uniqueItems: false
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              uniqueItems: false
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - code
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        x-ms-identifiers:
                        - code
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
                    description: Default error model
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/accounts:
    get:
      tags:
      - Account
      summary: Gets the accounts resources by subscription.
      description: List accounts in Subscription
      operationId: Accounts_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The api version to use.
        required: true
        schema:
          type: string
      - name: $skipToken
        in: query
        description: The skip token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Paged list of Account resources
                required:
                - value
                type: object
                properties:
                  count:
                    format: int64
                    description: Total item count.
                    type: integer
                  nextLink:
                    description: The Url of next result page.
                    type: string
                  value:
                    description: Collection of items of type results.
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Gets or sets the identifier.
                          type: string
                          readOnly: true
                        identity:
                          description: Identity Info on the tracked resource
                          type: object
                          properties:
                            principalId:
                              description: Service principal object Id
                              type: string
                              readOnly: true
                            tenantId:
                              description: Tenant Id
                              type: string
                              readOnly: true
                            type:
                              description: Identity Type
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                name: type
                                modelAsString: true
                            userAssignedIdentities:
                              description: User Assigned Identities
                              type: object
                              additionalProperties:
                                description: Uses client ID and Principal ID
                                type: object
                                properties:
                                  clientId:
                                    description: Gets or Sets Client ID
                                    type: string
                                    readOnly: true
                                  principalId:
                                    description: Gets or Sets Principal ID
                                    type: string
                                    readOnly: true
                        location:
                          description: Gets or sets the location.
                          type: string
                        name:
                          description: Gets or sets the name.
                          type: string
                          readOnly: true
                        systemData:
                          type: object
                          properties:
                            createdAt:
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                              type: string
                              readOnly: true
                            createdBy:
                              description: The identity that created the resource.
                              type: string
                              readOnly: true
                            createdByType:
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              format: date-time
                              description: The timestamp of the last modification
                                the resource (UTC).
                              type: string
                              readOnly: true
                            lastModifiedBy:
                              description: The identity that last modified the resource.
                              type: string
                              readOnly: true
                            lastModifiedByType:
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: lastModifiedByType
                                modelAsString: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                        tags:
                          description: Tags on the azure resource.
                          type: object
                          additionalProperties:
                            type: string
                        type:
                          description: Gets or sets the type.
                          type: string
                          readOnly: true
                        properties:
                          description: Gets or sets the properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            accountStatus:
                              type: object
                              properties:
                                accountProvisioningState:
                                  description: Gets the account status code.
                                  enum:
                                  - Unknown
                                  - Creating
                                  - Updating
                                  - Moving
                                  - Deleting
                                  - SoftDeleting
                                  - SoftDeleted
                                  - Failed
                                  - Succeeded
                                  - Canceled
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: accountProvisioningState
                                    modelAsString: true
                                errorDetails:
                                  type: object
                                  properties:
                                    code:
                                      description: Gets or sets the code.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Gets or sets the details.
                                      uniqueItems: false
                                      type: array
                                      items:
                                        description: Default error model
                                        type: object
                                        properties:
                                          code:
                                            description: Gets or sets the code.
                                            type: string
                                            readOnly: true
                                          details:
                                            description: Gets or sets the details.
                                            uniqueItems: false
                                            type: array
                                            items:
                                              description: Default error model
                                              type: object
                                              properties:
                                                code:
                                                  description: Gets or sets the code.
                                                  type: string
                                                  readOnly: true
                                            x-ms-identifiers:
                                            - code
                                            readOnly: true
                                          message:
                                            description: Gets or sets the messages.
                                            type: string
                                            readOnly: true
                                          target:
                                            description: Gets or sets the target.
                                            type: string
                                            readOnly: true
                                      x-ms-identifiers:
                                      - code
                                      readOnly: true
                                    message:
                                      description: Gets or sets the messages.
                                      type: string
                                      readOnly: true
                                    target:
                                      description: Gets or sets the target.
                                      type: string
                                      readOnly: true
                                  description: Default error model
                                  readOnly: true
                              description: The account status.
                              readOnly: true
                            cloudConnectors:
                              description: "Cloud connectors.\r\nExternal cloud identifier\
                                \ used as part of scanning configuration."
                              type: object
                              properties:
                                awsExternalId:
                                  description: "AWS external identifier.\r\nConfigured\
                                    \ in AWS to allow use of the role arn used for\
                                    \ scanning"
                                  type: string
                                  readOnly: true
                            createdAt:
                              format: date-time
                              description: Gets the time at which the entity was created.
                              type: string
                              readOnly: true
                            createdBy:
                              description: Gets the creator of the entity.
                              type: string
                              readOnly: true
                            createdByObjectId:
                              description: Gets the creators of the entity's object
                                id.
                              type: string
                              readOnly: true
                            endpoints:
                              type: object
                              properties:
                                catalog:
                                  description: Gets the catalog endpoint.
                                  type: string
                                  readOnly: true
                                guardian:
                                  description: Gets the guardian endpoint.
                                  type: string
                                  readOnly: true
                                scan:
                                  description: Gets the scan endpoint.
                                  type: string
                                  readOnly: true
                              description: The account endpoints
                              readOnly: true
                            friendlyName:
                              description: Gets or sets the friendly name.
                              type: string
                              readOnly: true
                            managedEventHubState:
                              description: ' Gets or sets the state of managed eventhub.
                                If enabled managed eventhub will be created, if disabled
                                the managed eventhub will be removed.'
                              default: NotSpecified
                              enum:
                              - NotSpecified
                              - Disabled
                              - Enabled
                              type: string
                              x-ms-enum:
                                name: managedEventHubState
                                modelAsString: true
                            managedResourceGroupName:
                              description: Gets or sets the managed resource group
                                name
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            managedResources:
                              type: object
                              properties:
                                eventHubNamespace:
                                  description: Gets the managed event hub namespace
                                    resource identifier.
                                  type: string
                                  readOnly: true
                                resourceGroup:
                                  description: Gets the managed resource group resource
                                    identifier. This resource group will host resource
                                    dependencies for the account.
                                  type: string
                                  readOnly: true
                                storageAccount:
                                  description: Gets the managed storage account resource
                                    identifier.
                                  type: string
                                  readOnly: true
                              description: The managed resources in customer subscription.
                              readOnly: true
                            managedResourcesPublicNetworkAccess:
                              description: Gets or sets the public network access
                                for managed resources.
                              default: NotSpecified
                              enum:
                              - NotSpecified
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: managedResourcesPublicNetworkAccess
                                modelAsString: true
                            privateEndpointConnections:
                              description: Gets the private endpoint connections information.
                              uniqueItems: false
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    description: Gets or sets the identifier.
                                    type: string
                                    readOnly: true
                                  name:
                                    description: Gets or sets the name.
                                    type: string
                                    readOnly: true
                                  systemData:
                                    type: object
                                    properties:
                                      createdAt:
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                        type: string
                                        readOnly: true
                                      createdBy:
                                        description: The identity that created the
                                          resource.
                                        type: string
                                        readOnly: true
                                      createdByType:
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        format: date-time
                                        description: The timestamp of the last modification
                                          the resource (UTC).
                                        type: string
                                        readOnly: true
                                      lastModifiedBy:
                                        description: The identity that last modified
                                          the resource.
                                        type: string
                                        readOnly: true
                                      lastModifiedByType:
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: lastModifiedByType
                                          modelAsString: true
                                    description: Metadata pertaining to creation and
                                      last modification of the resource.
                                    readOnly: true
                                  type:
                                    description: Gets or sets the type.
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: The connection identifier.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The private endpoint information.
                                        type: object
                                        properties:
                                          id:
                                            description: The private endpoint identifier.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: The private link service connection
                                          state.
                                        type: object
                                        properties:
                                          actionsRequired:
                                            description: The required actions.
                                            type: string
                                          description:
                                            description: The description.
                                            type: string
                                          status:
                                            description: The status.
                                            enum:
                                            - Unknown
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: status
                                              modelAsString: true
                                      provisioningState:
                                        description: The provisioning state.
                                        type: string
                                        readOnly: true
                                description: Proxy Azure Resource
                                x-ms-azure-resource: true
                              readOnly: true
                            provisioningState:
                              description: Gets or sets the state of the provisioning.
                              enum:
                              - Unknown
                              - Creating
                              - Moving
                              - Deleting
                              - SoftDeleting
                              - SoftDeleted
                              - Failed
                              - Succeeded
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                            publicNetworkAccess:
                              description: Gets or sets the public network access.
                              default: Enabled
                              enum:
                              - NotSpecified
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: publicNetworkAccess
                                modelAsString: true
                        sku:
                          type: object
                          properties:
                            capacity:
                              format: int32
                              description: Gets or sets the sku capacity.
                              type: integer
                            name:
                              description: Gets or sets the sku name.
                              enum:
                              - Standard
                              type: string
                              x-ms-enum:
                                name: name
                                modelAsString: true
                          description: The Sku
                          readOnly: true
                      description: Azure ARM Tracked Resource
                      x-ms-azure-resource: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        uniqueItems: false
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              uniqueItems: false
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - code
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        x-ms-identifiers:
                        - code
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
                    description: Default error model
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}:
    get:
      tags:
      - Account
      summary: Gets the account resource.
      description: Get an account
      operationId: Accounts_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The resource group name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: accountName
        in: path
        description: The name of the account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: api-version
        in: query
        description: The api version to use.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Gets or sets the identifier.
                    type: string
                    readOnly: true
                  identity:
                    description: Identity Info on the tracked resource
                    type: object
                    properties:
                      principalId:
                        description: Service principal object Id
                        type: string
                        readOnly: true
                      tenantId:
                        description: Tenant Id
                        type: string
                        readOnly: true
                      type:
                        description: Identity Type
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: type
                          modelAsString: true
                      userAssignedIdentities:
                        description: User Assigned Identities
                        type: object
                        additionalProperties:
                          description: Uses client ID and Principal ID
                          type: object
                          properties:
                            clientId:
                              description: Gets or Sets Client ID
                              type: string
                              readOnly: true
                            principalId:
                              description: Gets or Sets Principal ID
                              type: string
                              readOnly: true
                  location:
                    description: Gets or sets the location.
                    type: string
                  name:
                    description: Gets or sets the name.
                    type: string
                    readOnly: true
                  systemData:
                    type: object
                    properties:
                      createdAt:
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                        type: string
                        readOnly: true
                      createdBy:
                        description: The identity that created the resource.
                        type: string
                        readOnly: true
                      createdByType:
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        format: date-time
                        description: The timestamp of the last modification the resource
                          (UTC).
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        description: The identity that last modified the resource.
                        type: string
                        readOnly: true
                      lastModifiedByType:
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: lastModifiedByType
                          modelAsString: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                  tags:
                    description: Tags on the azure resource.
                    type: object
                    additionalProperties:
                      type: string
                  type:
                    description: Gets or sets the type.
                    type: string
                    readOnly: true
                  properties:
                    description: Gets or sets the properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      accountStatus:
                        type: object
                        properties:
                          accountProvisioningState:
                            description: Gets the account status code.
                            enum:
                            - Unknown
                            - Creating
                            - Updating
                            - Moving
                            - Deleting
                            - SoftDeleting
                            - SoftDeleted
                            - Failed
                            - Succeeded
                            - Canceled
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: accountProvisioningState
                              modelAsString: true
                          errorDetails:
                            type: object
                            properties:
                              code:
                                description: Gets or sets the code.
                                type: string
                                readOnly: true
                              details:
                                description: Gets or sets the details.
                                uniqueItems: false
                                type: array
                                items:
                                  description: Default error model
                                  type: object
                                  properties:
                                    code:
                                      description: Gets or sets the code.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Gets or sets the details.
                                      uniqueItems: false
                                      type: array
                                      items:
                                        description: Default error model
                                        type: object
                                        properties:
                                          code:
                                            description: Gets or sets the code.
                                            type: string
                                            readOnly: true
                                      x-ms-identifiers:
                                      - code
                                      readOnly: true
                                    message:
                                      description: Gets or sets the messages.
                                      type: string
                                      readOnly: true
                                    target:
                                      description: Gets or sets the target.
                                      type: string
                                      readOnly: true
                                x-ms-identifiers:
                                - code
                                readOnly: true
                              message:
                                description: Gets or sets the messages.
                                type: string
                                readOnly: true
                              target:
                                description: Gets or sets the target.
                                type: string
                                readOnly: true
                            description: Default error model
                            readOnly: true
                        description: The account status.
                        readOnly: true
                      cloudConnectors:
                        description: "Cloud connectors.\r\nExternal cloud identifier\
                          \ used as part of scanning configuration."
                        type: object
                        properties:
                          awsExternalId:
                            description: "AWS external identifier.\r\nConfigured in\
                              \ AWS to allow use of the role arn used for scanning"
                            type: string
                            readOnly: true
                      createdAt:
                        format: date-time
                        description: Gets the time at which the entity was created.
                        type: string
                        readOnly: true
                      createdBy:
                        description: Gets the creator of the entity.
                        type: string
                        readOnly: true
                      createdByObjectId:
                        description: Gets the creators of the entity's object id.
                        type: string
                        readOnly: true
                      endpoints:
                        type: object
                        properties:
                          catalog:
                            description: Gets the catalog endpoint.
                            type: string
                            readOnly: true
                          guardian:
                            description: Gets the guardian endpoint.
                            type: string
                            readOnly: true
                          scan:
                            description: Gets the scan endpoint.
                            type: string
                            readOnly: true
                        description: The account endpoints
                        readOnly: true
                      friendlyName:
                        description: Gets or sets the friendly name.
                        type: string
                        readOnly: true
                      managedEventHubState:
                        description: ' Gets or sets the state of managed eventhub.
                          If enabled managed eventhub will be created, if disabled
                          the managed eventhub will be removed.'
                        default: NotSpecified
                        enum:
                        - NotSpecified
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: managedEventHubState
                          modelAsString: true
                      managedResourceGroupName:
                        description: Gets or sets the managed resource group name
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      managedResources:
                        type: object
                        properties:
                          eventHubNamespace:
                            description: Gets the managed event hub namespace resource
                              identifier.
                            type: string
                            readOnly: true
                          resourceGroup:
                            description: Gets the managed resource group resource
                              identifier. This resource group will host resource dependencies
                              for the account.
                            type: string
                            readOnly: true
                          storageAccount:
                            description: Gets the managed storage account resource
                              identifier.
                            type: string
                            readOnly: true
                        description: The managed resources in customer subscription.
                        readOnly: true
                      managedResourcesPublicNetworkAccess:
                        description: Gets or sets the public network access for managed
                          resources.
                        default: NotSpecified
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: managedResourcesPublicNetworkAccess
                          modelAsString: true
                      privateEndpointConnections:
                        description: Gets the private endpoint connections information.
                        uniqueItems: false
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: Gets or sets the identifier.
                              type: string
                              readOnly: true
                            name:
                              description: Gets or sets the name.
                              type: string
                              readOnly: true
                            systemData:
                              type: object
                              properties:
                                createdAt:
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                  type: string
                                  readOnly: true
                                createdBy:
                                  description: The identity that created the resource.
                                  type: string
                                  readOnly: true
                                createdByType:
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  format: date-time
                                  description: The timestamp of the last modification
                                    the resource (UTC).
                                  type: string
                                  readOnly: true
                                lastModifiedBy:
                                  description: The identity that last modified the
                                    resource.
                                  type: string
                                  readOnly: true
                                lastModifiedByType:
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: lastModifiedByType
                                    modelAsString: true
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              readOnly: true
                            type:
                              description: Gets or sets the type.
                              type: string
                              readOnly: true
                            properties:
                              description: The connection identifier.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint information.
                                  type: object
                                  properties:
                                    id:
                                      description: The private endpoint identifier.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: The private link service connection
                                    state.
                                  type: object
                                  properties:
                                    actionsRequired:
                                      description: The required actions.
                                      type: string
                                    description:
                                      description: The description.
                                      type: string
                                    status:
                                      description: The status.
                                      enum:
                                      - Unknown
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: status
                                        modelAsString: true
                                provisioningState:
                                  description: The provisioning state.
                                  type: string
                                  readOnly: true
                          description: Proxy Azure Resource
                          x-ms-azure-resource: true
                        readOnly: true
                      provisioningState:
                        description: Gets or sets the state of the provisioning.
                        enum:
                        - Unknown
                        - Creating
                        - Moving
                        - Deleting
                        - SoftDeleting
                        - SoftDeleted
                        - Failed
                        - Succeeded
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                      publicNetworkAccess:
                        description: Gets or sets the public network access.
                        default: Enabled
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: publicNetworkAccess
                          modelAsString: true
                  sku:
                    type: object
                    properties:
                      capacity:
                        format: int32
                        description: Gets or sets the sku capacity.
                        type: integer
                      name:
                        description: Gets or sets the sku name.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: name
                          modelAsString: true
                    description: The Sku
                    readOnly: true
                description: Azure ARM Tracked Resource
                x-ms-azure-resource: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        uniqueItems: false
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              uniqueItems: false
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - code
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        x-ms-identifiers:
                        - code
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
                    description: Default error model
                    readOnly: true
    put:
      tags:
      - Account
      summary: Create or update an account resource
      description: Creates or updates an account
      operationId: Accounts_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The subscription identifier
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The resource group name.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: accountName
        in: path
        description: The name of the account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      - name: api-version
        in: query
        description: The api version to use.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Gets or sets the identifier.
                  type: string
                  readOnly: true
                identity:
                  description: Identity Info on the tracked resource
                  type: object
                  properties:
                    principalId:
                      description: Service principal object Id
                      type: string
                      readOnly: true
                    tenantId:
                      description: Tenant Id
                      type: string
                      readOnly: true
                    type:
                      description: Identity Type
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: type
                        modelAsString: true
                    userAssignedIdentities:
                      description: User Assigned Identities
                      type: object
                      additionalProperties:
                        description: Uses client ID and Principal ID
                        type: object
                        properties:
                          clientId:
                            description: Gets or Sets Client ID
                            type: string
                            readOnly: true
                          principalId:
                            description: Gets or Sets Principal ID
                            type: string
                            readOnly: true
                location:
                  description: Gets or sets the location.
                  type: string
                name:
                  description: Gets or sets the name.
                  type: string
                  readOnly: true
                systemData:
                  type: object
                  properties:
                    createdAt:
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                      type: string
                      readOnly: true
                    createdBy:
                      description: The identity that created the resource.
                      type: string
                      readOnly: true
                    createdByType:
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      format: date-time
                      description: The timestamp of the last modification the resource
                        (UTC).
                      type: string
                      readOnly: true
                    lastModifiedBy:
                      description: The identity that last modified the resource.
                      type: string
                      readOnly: true
                    lastModifiedByType:
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: lastModifiedByType
                        modelAsString: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  readOnly: true
                tags:
                  description: Tags on the azure resource.
                  type: object
                  additionalProperties:
                    type: string
                type:
                  description: Gets or sets the type.
                  type: string
                  readOnly: true
                properties:
                  description: Gets or sets the properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    accountStatus:
                      type: object
                      properties:
                        accountProvisioningState:
                          description: Gets the account status code.
                          enum:
                          - Unknown
                          - Creating
                          - Updating
                          - Moving
                          - Deleting
                          - SoftDeleting
                          - SoftDeleted
                          - Failed
                          - Succeeded
                          - Canceled
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: accountProvisioningState
                            modelAsString: true
                        errorDetails:
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              uniqueItems: false
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                                  details:
                                    description: Gets or sets the details.
                                    uniqueItems: false
                                    type: array
                                    items:
                                      description: Default error model
                                      type: object
                                      properties:
                                        code:
                                          description: Gets or sets the code.
                                          type: string
                                          readOnly: true
                                    x-ms-identifiers:
                                    - code
                                    readOnly: true
                                  message:
                                    description: Gets or sets the messages.
                                    type: string
                                    readOnly: true
                                  target:
                                    description: Gets or sets the target.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - code
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                          description: Default error model
                          readOnly: true
                      description: The account status.
                      readOnly: true
                    cloudConnectors:
                      description: "Cloud connectors.\r\nExternal cloud identifier\
                        \ used as part of scanning configuration."
                      type: object
                      properties:
                        awsExternalId:
                          description: "AWS external identifier.\r\nConfigured in\
                            \ AWS to allow use of the role arn used for scanning"
                          type: string
                          readOnly: true
                    createdAt:
                      format: date-time
                      description: Gets the time at which the entity was created.
                      type: string
                      readOnly: true
                    createdBy:
                      description: Gets the creator of the entity.
                      type: string
                      readOnly: true
                    createdByObjectId:
                      description: Gets the creators of the entity's object id.
                      type: string
                      readOnly: true
                    endpoints:
                      type: object
                      properties:
                        catalog:
                          description: Gets the catalog endpoint.
                          type: string
                          readOnly: true
                        guardian:
                          description: Gets the guardian endpoint.
                          type: string
                          readOnly: true
                        scan:
                          description: Gets the scan endpoint.
                          type: string
                          readOnly: true
                      description: The account endpoints
                      readOnly: true
                    friendlyName:
                      description: Gets or sets the friendly name.
                      type: string
                      readOnly: true
                    managedEventHubState:
                      description: ' Gets or sets the state of managed eventhub. If
                        enabled managed eventhub will be created, if disabled the
                        managed eventhub will be removed.'
                      default: NotSpecified
                      enum:
                      - NotSpecified
                      - Disabled
                      - Enabled
                      type: string
                      x-ms-enum:
                        name: managedEventHubState
                        modelAsString: true
                    managedResourceGroupName:
                      description: Gets or sets the managed resource group name
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    managedResources:
                      type: object
                      properties:
                        eventHubNamespace:
                          description: Gets the managed event hub namespace resource
                            identifier.
                          type: string
                          readOnly: true
                        resourceGroup:
                          description: Gets the managed resource group resource identifier.
                            This resource group will host resource dependencies for
                            the account.
                          type: string
                          readOnly: true
                        storageAccount:
                          description: Gets the managed storage account resource identifier.
                          type: string
                          readOnly: true
                      description: The managed resources in customer subscription.
                      readOnly: true
                    managedResourcesPublicNetworkAccess:
                      description: Gets or sets the public network access for managed
                        resources.
                      default: NotSpecified
                      enum:
                      - NotSpecified
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: managedResourcesPublicNetworkAccess
                        modelAsString: true
                    privateEndpointConnections:
                      description: Gets the private endpoint connections information.
                      uniqueItems: false
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            description: Gets or sets the identifier.
                            type: string
                            readOnly: true
                          name:
                            description: Gets or sets the name.
                            type: string
                            readOnly: true
                          systemData:
                            type: object
                            properties:
                              createdAt:
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                                type: string
                                readOnly: true
                              createdBy:
                                description: The identity that created the resource.
                                type: string
                                readOnly: true
                              createdByType:
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                format: date-time
                                description: The timestamp of the last modification
                                  the resource (UTC).
                                type: string
                                readOnly: true
                              lastModifiedBy:
                                description: The identity that last modified the resource.
                                type: string
                                readOnly: true
                              lastModifiedByType:
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                type: string
                                readOnly: true
                                x-ms-enum:
                                  name: lastModifiedByType
                                  modelAsString: true
                            description: Metadata pertaining to creation and last
                              modification of the resource.
                            readOnly: true
                          type:
                            description: Gets or sets the type.
                            type: string
                            readOnly: true
                          properties:
                            description: The connection identifier.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              privateEndpoint:
                                description: The private endpoint information.
                                type: object
                                properties:
                                  id:
                                    description: The private endpoint identifier.
[...]
