openapi: 3.0.0
info:
  title: Mixed Reality
  description: Mixed Reality Resource Provider Proxy API
  version: 2025-01-01
  x-ms-code-generation-settings:
    name: MixedRealityClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.MixedReality/operations:
    get:
      operationId: Operations_List
      tags:
      - Proxy
      description: Exposing Available Operations
      parameters:
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to list Resource Provider operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    type: array
                    items:
                      description: REST API operation
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          description: The object that represents the operation.
                          type: object
                          required:
                          - provider
                          - resource
                          - operation
                          - description
                          properties:
                            provider:
                              description: 'Service provider: Microsoft.ResourceProvider'
                              type: string
                            resource:
                              description: 'Resource on which the operation is performed:
                                Profile, endpoint, etc.'
                              type: string
                            operation:
                              description: 'Operation type: Read, write, delete, etc.'
                              type: string
                            description:
                              description: Description of operation
                              type: string
                        isDataAction:
                          description: Whether or not this is a data plane operation
                          type: boolean
                        origin:
                          description: The origin
                          type: string
                        properties:
                          description: Properties of the operation
                          type: object
                          properties:
                            serviceSpecification:
                              description: Service specification.
                              type: object
                              properties:
                                logSpecifications:
                                  description: Specifications of the Log for Azure
                                    Monitoring
                                  uniqueItems: false
                                  type: array
                                  items:
                                    description: Specifications of the Log for Azure
                                      Monitoring
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the log
                                        type: string
                                      displayName:
                                        description: Localized friendly display name
                                          of the log
                                        type: string
                                      blobDuration:
                                        description: Blob duration of the log
                                        type: string
                                metricSpecifications:
                                  description: Specifications of the Metrics for Azure
                                    Monitoring
                                  uniqueItems: false
                                  type: array
                                  items:
                                    description: Specifications of the Metrics for
                                      Azure Monitoring
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the metric
                                        type: string
                                      displayName:
                                        description: Localized friendly display name
                                          of the metric
                                        type: string
                                      displayDescription:
                                        description: Localized friendly description
                                          of the metric
                                        type: string
                                      unit:
                                        description: Unit that makes sense for the
                                          metric
                                        type: string
                                      aggregationType:
                                        description: 'Only provide one value for this
                                          field. Valid values: Average, Minimum, Maximum,
                                          Total, Count.'
                                        type: string
                                      supportedAggregationTypes:
                                        description: 'Supported aggregation types.
                                          Valid values: Average, Minimum, Maximum,
                                          Total, Count.'
                                        type: array
                                        items:
                                          description: 'Only provide one value for
                                            this field. Valid values: Average, Minimum,
                                            Maximum, Total, Count.'
                                          type: string
                                      supportedTimeGrainTypes:
                                        description: 'Supported time grains. Valid
                                          values: PT1M, PT5M, PT15M, PT30M, PT1H,
                                          PT6H, PT12H, P1D'
                                        type: array
                                        items:
                                          description: The time grain of the metric
                                          type: string
                                      enableRegionalMdmAccount:
                                        description: Flag to indicate use of regional
                                          Mdm accounts
                                        type: boolean
                                      sourceMdmAccount:
                                        description: Source mdm account
                                        type: string
                                      sourceMdmNamespace:
                                        description: Source mdm namespace
                                        type: string
                                      metricFilterPattern:
                                        description: Metric filter regex pattern
                                        type: string
                                      fillGapWithZero:
                                        description: Flag to determine is Zero is
                                          returned for time duration where no metric
                                          is emitted
                                        type: boolean
                                      category:
                                        description: Metric category
                                        type: string
                                      internalMetricName:
                                        description: Internal metric name.
                                        type: string
                                      dimensions:
                                        description: Dimensions of the metric
                                        uniqueItems: false
                                        type: array
                                        items:
                                          description: Specifications of the Dimension
                                            of metrics
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the dimension
                                              type: string
                                            displayName:
                                              description: Localized friendly display
                                                name of the dimension
                                              type: string
                                            internalName:
                                              description: Internal name of the dimension.
                                              type: string
                                            toBeExportedForShoebox:
                                              description: Whether the dimension should
                                                be included for the shoebox export
                                                scenario.
                                              type: boolean
                                      lockedAggregationType:
                                        description: Locked aggregation type of the
                                          metric
                                        type: string
                    description: List of operations supported by the Resource Provider.
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability:
    post:
      operationId: CheckNameAvailabilityLocal
      tags:
      - Proxy
      description: Check Name Availability for local uniqueness
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: The location in which uniqueness will be verified.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Check Name Availability Request
              type: object
              required:
              - name
              - type
              properties:
                name:
                  description: Resource Name To Verify
                  type: string
                type:
                  description: Fully qualified resource type which includes provider
                    namespace
                  type: string
        description: Check Name Availability Request.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Check Name Availability Response
                type: object
                required:
                - nameAvailable
                properties:
                  nameAvailable:
                    description: if name Available
                    type: boolean
                  reason:
                    description: Resource Name To Verify
                    type: string
                    enum:
                    - Invalid
                    - AlreadyExists
                    x-ms-enum:
                      name: NameUnavailableReason
                      modelAsString: true
                  message:
                    description: detail message
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
components:
  parameters:
    apiVersionParameter:
      name: api-version
      description: The API version to be used with the HTTP request.
      in: query
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      description: The Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      in: path
      required: true
      schema:
        type: string
    locationParameter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: The location in which uniqueness will be verified.
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: ^[-\w\._\(\)]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    CheckNameAvailabilityRequest:
      description: Check Name Availability Request
      type: object
      required:
      - name
      - type
      properties:
        name:
          description: Resource Name To Verify
          type: string
        type:
          description: Fully qualified resource type which includes provider namespace
          type: string
    CheckNameAvailabilityResponse:
      description: Check Name Availability Response
      type: object
      required:
      - nameAvailable
      properties:
        nameAvailable:
          description: if name Available
          type: boolean
        reason:
          description: Resource Name To Verify
          type: string
          enum:
          - Invalid
          - AlreadyExists
          x-ms-enum:
            name: NameUnavailableReason
            modelAsString: true
        message:
          description: detail message
          type: string
    Operation:
      description: REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: The object that represents the operation.
          type: object
          required:
          - provider
          - resource
          - operation
          - description
          properties:
            provider:
              description: 'Service provider: Microsoft.ResourceProvider'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Profile,
                endpoint, etc.'
              type: string
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            description:
              description: Description of operation
              type: string
        isDataAction:
          description: Whether or not this is a data plane operation
          type: boolean
        origin:
          description: The origin
          type: string
        properties:
          description: Properties of the operation
          type: object
          properties:
            serviceSpecification:
              description: Service specification.
              type: object
              properties:
                logSpecifications:
                  description: Specifications of the Log for Azure Monitoring
                  uniqueItems: false
                  type: array
                  items:
                    description: Specifications of the Log for Azure Monitoring
                    type: object
                    properties:
                      name:
                        description: Name of the log
                        type: string
                      displayName:
                        description: Localized friendly display name of the log
                        type: string
                      blobDuration:
                        description: Blob duration of the log
                        type: string
                metricSpecifications:
                  description: Specifications of the Metrics for Azure Monitoring
                  uniqueItems: false
                  type: array
                  items:
                    description: Specifications of the Metrics for Azure Monitoring
                    type: object
                    properties:
                      name:
                        description: Name of the metric
                        type: string
                      displayName:
                        description: Localized friendly display name of the metric
                        type: string
                      displayDescription:
                        description: Localized friendly description of the metric
                        type: string
                      unit:
                        description: Unit that makes sense for the metric
                        type: string
                      aggregationType:
                        description: 'Only provide one value for this field. Valid
                          values: Average, Minimum, Maximum, Total, Count.'
                        type: string
                      supportedAggregationTypes:
                        description: 'Supported aggregation types. Valid values: Average,
                          Minimum, Maximum, Total, Count.'
                        type: array
                        items:
                          description: 'Only provide one value for this field. Valid
                            values: Average, Minimum, Maximum, Total, Count.'
                          type: string
                      supportedTimeGrainTypes:
                        description: 'Supported time grains. Valid values: PT1M, PT5M,
                          PT15M, PT30M, PT1H, PT6H, PT12H, P1D'
                        type: array
                        items:
                          description: The time grain of the metric
                          type: string
                      enableRegionalMdmAccount:
                        description: Flag to indicate use of regional Mdm accounts
                        type: boolean
                      sourceMdmAccount:
                        description: Source mdm account
                        type: string
                      sourceMdmNamespace:
                        description: Source mdm namespace
                        type: string
                      metricFilterPattern:
                        description: Metric filter regex pattern
                        type: string
                      fillGapWithZero:
                        description: Flag to determine is Zero is returned for time
                          duration where no metric is emitted
                        type: boolean
                      category:
                        description: Metric category
                        type: string
                      internalMetricName:
                        description: Internal metric name.
                        type: string
                      dimensions:
                        description: Dimensions of the metric
                        uniqueItems: false
                        type: array
                        items:
                          description: Specifications of the Dimension of metrics
                          type: object
                          properties:
                            name:
                              description: Name of the dimension
                              type: string
                            displayName:
                              description: Localized friendly display name of the
                                dimension
                              type: string
                            internalName:
                              description: Internal name of the dimension.
                              type: string
                            toBeExportedForShoebox:
                              description: Whether the dimension should be included
                                for the shoebox export scenario.
                              type: boolean
                      lockedAggregationType:
                        description: Locked aggregation type of the metric
                        type: string
    OperationProperties:
      description: Operation properties.
      type: object
      properties:
        serviceSpecification:
          description: Service specification.
          type: object
          properties:
            logSpecifications:
              description: Specifications of the Log for Azure Monitoring
              uniqueItems: false
              type: array
              items:
                description: Specifications of the Log for Azure Monitoring
                type: object
                properties:
                  name:
                    description: Name of the log
                    type: string
                  displayName:
                    description: Localized friendly display name of the log
                    type: string
                  blobDuration:
                    description: Blob duration of the log
                    type: string
            metricSpecifications:
              description: Specifications of the Metrics for Azure Monitoring
              uniqueItems: false
              type: array
              items:
                description: Specifications of the Metrics for Azure Monitoring
                type: object
                properties:
                  name:
                    description: Name of the metric
                    type: string
                  displayName:
                    description: Localized friendly display name of the metric
                    type: string
                  displayDescription:
                    description: Localized friendly description of the metric
                    type: string
                  unit:
                    description: Unit that makes sense for the metric
                    type: string
                  aggregationType:
                    description: 'Only provide one value for this field. Valid values:
                      Average, Minimum, Maximum, Total, Count.'
                    type: string
                  supportedAggregationTypes:
                    description: 'Supported aggregation types. Valid values: Average,
                      Minimum, Maximum, Total, Count.'
                    type: array
                    items:
                      description: 'Only provide one value for this field. Valid values:
                        Average, Minimum, Maximum, Total, Count.'
                      type: string
                  supportedTimeGrainTypes:
                    description: 'Supported time grains. Valid values: PT1M, PT5M,
                      PT15M, PT30M, PT1H, PT6H, PT12H, P1D'
                    type: array
                    items:
                      description: The time grain of the metric
                      type: string
                  enableRegionalMdmAccount:
                    description: Flag to indicate use of regional Mdm accounts
                    type: boolean
                  sourceMdmAccount:
                    description: Source mdm account
                    type: string
                  sourceMdmNamespace:
                    description: Source mdm namespace
                    type: string
                  metricFilterPattern:
                    description: Metric filter regex pattern
                    type: string
                  fillGapWithZero:
                    description: Flag to determine is Zero is returned for time duration
                      where no metric is emitted
                    type: boolean
                  category:
                    description: Metric category
                    type: string
                  internalMetricName:
                    description: Internal metric name.
                    type: string
                  dimensions:
                    description: Dimensions of the metric
                    uniqueItems: false
                    type: array
                    items:
                      description: Specifications of the Dimension of metrics
                      type: object
                      properties:
                        name:
                          description: Name of the dimension
                          type: string
                        displayName:
                          description: Localized friendly display name of the dimension
                          type: string
                        internalName:
                          description: Internal name of the dimension.
                          type: string
                        toBeExportedForShoebox:
                          description: Whether the dimension should be included for
                            the shoebox export scenario.
                          type: boolean
                  lockedAggregationType:
                    description: Locked aggregation type of the metric
                    type: string
    ServiceSpecification:
      description: Service specification payload
      type: object
      properties:
        logSpecifications:
          description: Specifications of the Log for Azure Monitoring
          uniqueItems: false
          type: array
          items:
            description: Specifications of the Log for Azure Monitoring
            type: object
            properties:
              name:
                description: Name of the log
                type: string
              displayName:
                description: Localized friendly display name of the log
                type: string
              blobDuration:
                description: Blob duration of the log
                type: string
        metricSpecifications:
          description: Specifications of the Metrics for Azure Monitoring
          uniqueItems: false
          type: array
          items:
            description: Specifications of the Metrics for Azure Monitoring
            type: object
            properties:
              name:
                description: Name of the metric
                type: string
              displayName:
                description: Localized friendly display name of the metric
                type: string
              displayDescription:
                description: Localized friendly description of the metric
                type: string
              unit:
                description: Unit that makes sense for the metric
                type: string
              aggregationType:
                description: 'Only provide one value for this field. Valid values:
                  Average, Minimum, Maximum, Total, Count.'
                type: string
              supportedAggregationTypes:
                description: 'Supported aggregation types. Valid values: Average,
                  Minimum, Maximum, Total, Count.'
                type: array
                items:
                  description: 'Only provide one value for this field. Valid values:
                    Average, Minimum, Maximum, Total, Count.'
                  type: string
              supportedTimeGrainTypes:
                description: 'Supported time grains. Valid values: PT1M, PT5M, PT15M,
                  PT30M, PT1H, PT6H, PT12H, P1D'
                type: array
                items:
                  description: The time grain of the metric
                  type: string
              enableRegionalMdmAccount:
                description: Flag to indicate use of regional Mdm accounts
                type: boolean
              sourceMdmAccount:
                description: Source mdm account
                type: string
              sourceMdmNamespace:
                description: Source mdm namespace
                type: string
              metricFilterPattern:
                description: Metric filter regex pattern
                type: string
              fillGapWithZero:
                description: Flag to determine is Zero is returned for time duration
                  where no metric is emitted
                type: boolean
              category:
                description: Metric category
                type: string
              internalMetricName:
                description: Internal metric name.
                type: string
              dimensions:
                description: Dimensions of the metric
                uniqueItems: false
                type: array
                items:
                  description: Specifications of the Dimension of metrics
                  type: object
                  properties:
                    name:
                      description: Name of the dimension
                      type: string
                    displayName:
                      description: Localized friendly display name of the dimension
                      type: string
                    internalName:
                      description: Internal name of the dimension.
                      type: string
                    toBeExportedForShoebox:
                      description: Whether the dimension should be included for the
                        shoebox export scenario.
                      type: boolean
              lockedAggregationType:
                description: Locked aggregation type of the metric
                type: string
    LogSpecification:
      description: Specifications of the Log for Azure Monitoring
      type: object
      properties:
        name:
          description: Name of the log
          type: string
        displayName:
          description: Localized friendly display name of the log
          type: string
        blobDuration:
          description: Blob duration of the log
          type: string
    MetricSpecification:
      description: Specifications of the Metrics for Azure Monitoring
      type: object
      properties:
        name:
          description: Name of the metric
          type: string
        displayName:
          description: Localized friendly display name of the metric
          type: string
        displayDescription:
          description: Localized friendly description of the metric
          type: string
        unit:
          description: Unit that makes sense for the metric
          type: string
        aggregationType:
          description: 'Only provide one value for this field. Valid values: Average,
            Minimum, Maximum, Total, Count.'
          type: string
        supportedAggregationTypes:
          description: 'Supported aggregation types. Valid values: Average, Minimum,
            Maximum, Total, Count.'
          type: array
          items:
            description: 'Only provide one value for this field. Valid values: Average,
              Minimum, Maximum, Total, Count.'
            type: string
        supportedTimeGrainTypes:
          description: 'Supported time grains. Valid values: PT1M, PT5M, PT15M, PT30M,
            PT1H, PT6H, PT12H, P1D'
          type: array
          items:
            description: The time grain of the metric
            type: string
        enableRegionalMdmAccount:
          description: Flag to indicate use of regional Mdm accounts
          type: boolean
        sourceMdmAccount:
          description: Source mdm account
          type: string
        sourceMdmNamespace:
          description: Source mdm namespace
          type: string
        metricFilterPattern:
          description: Metric filter regex pattern
          type: string
        fillGapWithZero:
          description: Flag to determine is Zero is returned for time duration where
            no metric is emitted
          type: boolean
        category:
          description: Metric category
          type: string
        internalMetricName:
          description: Internal metric name.
          type: string
        dimensions:
          description: Dimensions of the metric
          uniqueItems: false
          type: array
          items:
            description: Specifications of the Dimension of metrics
            type: object
            properties:
              name:
                description: Name of the dimension
                type: string
              displayName:
                description: Localized friendly display name of the dimension
                type: string
              internalName:
                description: Internal name of the dimension.
                type: string
              toBeExportedForShoebox:
                description: Whether the dimension should be included for the shoebox
                  export scenario.
                type: boolean
        lockedAggregationType:
          description: Locked aggregation type of the metric
          type: string
    AggregationType:
      description: 'Only provide one value for this field. Valid values: Average,
        Minimum, Maximum, Total, Count.'
      type: string
    TimeGrainType:
      description: The time grain of the metric
      type: string
    MetricDimension:
      description: Specifications of the Dimension of metrics
      type: object
      properties:
        name:
          description: Name of the dimension
          type: string
        displayName:
          description: Localized friendly display name of the dimension
          type: string
        internalName:
          description: Internal name of the dimension.
          type: string
        toBeExportedForShoebox:
          description: Whether the dimension should be included for the shoebox export
            scenario.
          type: boolean
    OperationDisplay:
      description: The object that represents the operation.
      type: object
      required:
      - provider
      - resource
      - operation
      - description
      properties:
        provider:
          description: 'Service provider: Microsoft.ResourceProvider'
          type: string
        resource:
          description: 'Resource on which the operation is performed: Profile, endpoint,
            etc.'
          type: string
        operation:
          description: 'Operation type: Read, write, delete, etc.'
          type: string
        description:
          description: Description of operation
          type: string
    NameUnavailableReason:
      description: reason of name unavailable.
      type: string
      enum:
      - Invalid
      - AlreadyExists
      x-ms-enum:
        name: NameUnavailableReason
        modelAsString: true
    OperationPage:
      description: Result of the request to list Resource Provider operations. It
        contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            description: REST API operation
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}'
                type: string
              display:
                description: The object that represents the operation.
                type: object
                required:
                - provider
                - resource
                - operation
                - description
                properties:
                  provider:
                    description: 'Service provider: Microsoft.ResourceProvider'
                    type: string
                  resource:
                    description: 'Resource on which the operation is performed: Profile,
                      endpoint, etc.'
                    type: string
                  operation:
                    description: 'Operation type: Read, write, delete, etc.'
                    type: string
                  description:
                    description: Description of operation
                    type: string
              isDataAction:
                description: Whether or not this is a data plane operation
                type: boolean
              origin:
                description: The origin
                type: string
              properties:
                description: Properties of the operation
                type: object
                properties:
                  serviceSpecification:
                    description: Service specification.
                    type: object
                    properties:
                      logSpecifications:
                        description: Specifications of the Log for Azure Monitoring
                        uniqueItems: false
                        type: array
                        items:
                          description: Specifications of the Log for Azure Monitoring
                          type: object
                          properties:
                            name:
                              description: Name of the log
                              type: string
                            displayName:
                              description: Localized friendly display name of the
                                log
                              type: string
                            blobDuration:
                              description: Blob duration of the log
                              type: string
                      metricSpecifications:
                        description: Specifications of the Metrics for Azure Monitoring
                        uniqueItems: false
                        type: array
                        items:
                          description: Specifications of the Metrics for Azure Monitoring
                          type: object
                          properties:
                            name:
                              description: Name of the metric
                              type: string
                            displayName:
                              description: Localized friendly display name of the
                                metric
                              type: string
                            displayDescription:
                              description: Localized friendly description of the metric
                              type: string
                            unit:
                              description: Unit that makes sense for the metric
                              type: string
                            aggregationType:
                              description: 'Only provide one value for this field.
                                Valid values: Average, Minimum, Maximum, Total, Count.'
                              type: string
                            supportedAggregationTypes:
                              description: 'Supported aggregation types. Valid values:
                                Average, Minimum, Maximum, Total, Count.'
                              type: array
                              items:
                                description: 'Only provide one value for this field.
                                  Valid values: Average, Minimum, Maximum, Total,
                                  Count.'
                                type: string
                            supportedTimeGrainTypes:
                              description: 'Supported time grains. Valid values: PT1M,
                                PT5M, PT15M, PT30M, PT1H, PT6H, PT12H, P1D'
                              type: array
                              items:
                                description: The time grain of the metric
                                type: string
                            enableRegionalMdmAccount:
                              description: Flag to indicate use of regional Mdm accounts
                              type: boolean
                            sourceMdmAccount:
                              description: Source mdm account
                              type: string
                            sourceMdmNamespace:
                              description: Source mdm namespace
                              type: string
                            metricFilterPattern:
                              description: Metric filter regex pattern
                              type: string
                            fillGapWithZero:
                              description: Flag to determine is Zero is returned for
                                time duration where no metric is emitted
                              type: boolean
                            category:
                              description: Metric category
                              type: string
                            internalMetricName:
                              description: Internal metric name.
                              type: string
                            dimensions:
                              description: Dimensions of the metric
                              uniqueItems: false
                              type: array
                              items:
                                description: Specifications of the Dimension of metrics
                                type: object
                                properties:
                                  name:
                                    description: Name of the dimension
                                    type: string
                                  displayName:
                                    description: Localized friendly display name of
                                      the dimension
                                    type: string
                                  internalName:
                                    description: Internal name of the dimension.
                                    type: string
                                  toBeExportedForShoebox:
                                    description: Whether the dimension should be included
                                      for the shoebox export scenario.
                                    type: boolean
                            lockedAggregationType:
                              description: Locked aggregation type of the metric
                              type: string
          description: List of operations supported by the Resource Provider.
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there
            are any.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            displaying in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for displaying in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for displaying in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from Azure.
                description: A list of additional details about the error.
            description: An error response from Azure.
          description: A list of additional details about the error.
      description: An error response from Azure.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An Error response.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for displaying in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for displaying in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for displaying in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from Azure.
                    description: A list of additional details about the error.
                description: An error response from Azure.
              description: A list of additional details about the error.
      description: An Error response.
