openapi: 3.0.0
info:
  title: Mixed Reality
  description: Mixed Reality Resource Provider Remote Rendering Resource API
  version: 2025-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/remoteRenderingAccounts:
    get:
      operationId: RemoteRenderingAccounts_ListBySubscription
      tags:
      - Resource
      - Proxy
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n List Remote\
        \ Rendering Accounts by Subscription"
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to get resource collection. It
                  contains a list of resources and a URL link to get the next set
                  of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Property bag.
                          type: object
                          properties:
                            storageAccountName:
                              description: The name of the storage account associated
                                with this accountId
                              type: string
                            accountId:
                              description: unique id of certain account.
                              readOnly: true
                              type: string
                            accountDomain:
                              description: Correspond domain name of certain account
                              readOnly: true
                              type: string
                        identity:
                          description: The identity associated with this account
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                        plan:
                          description: The plan associated with this account
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                        sku:
                          description: The sku associated with this account
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        kind:
                          description: The kind of account, if supported
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        systemData:
                          description: System metadata for this account
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of resources supported by the Resource Provider.
                  nextLink:
                    type: string
                    description: URL to get the next set of resource list results
                      if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts
  : get:
      operationId: RemoteRenderingAccounts_ListByResourceGroup
      tags:
      - Resource
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n List Resources\
        \ by Resource Group"
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to get resource collection. It
                  contains a list of resources and a URL link to get the next set
                  of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Property bag.
                          type: object
                          properties:
                            storageAccountName:
                              description: The name of the storage account associated
                                with this accountId
                              type: string
                            accountId:
                              description: unique id of certain account.
                              readOnly: true
                              type: string
                            accountDomain:
                              description: Correspond domain name of certain account
                              readOnly: true
                              type: string
                        identity:
                          description: The identity associated with this account
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                        plan:
                          description: The plan associated with this account
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of resource identity.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID of resource.
                            type:
                              type: string
                              description: The identity type.
                              enum:
                              - SystemAssigned
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                        sku:
                          description: The sku associated with this account
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        kind:
                          description: The kind of account, if supported
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. Ex - P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        systemData:
                          description: System metadata for this account
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of resources supported by the Resource Provider.
                  nextLink:
                    type: string
                    description: URL to get the next set of resource list results
                      if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}
  : delete:
      operationId: RemoteRenderingAccounts_Delete
      tags:
      - Resource
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n Delete a Remote\
        \ Rendering Account."
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Mixed Reality Account.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
    get:
      operationId: RemoteRenderingAccounts_Get
      tags:
      - Resource
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n Retrieve a Remote\
        \ Rendering Account."
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Mixed Reality Account.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Property bag.
                    type: object
                    properties:
                      storageAccountName:
                        description: The name of the storage account associated with
                          this accountId
                        type: string
                      accountId:
                        description: unique id of certain account.
                        readOnly: true
                        type: string
                      accountDomain:
                        description: Correspond domain name of certain account
                        readOnly: true
                        type: string
                  identity:
                    description: The identity associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  plan:
                    description: The plan associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  sku:
                    description: The sku associated with this account
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  kind:
                    description: The kind of account, if supported
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  systemData:
                    description: System metadata for this account
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
    patch:
      operationId: RemoteRenderingAccounts_Update
      tags:
      - Resource
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n Updating a Remote\
        \ Rendering Account"
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Mixed Reality Account.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Property bag.
                  type: object
                  properties:
                    storageAccountName:
                      description: The name of the storage account associated with
                        this accountId
                      type: string
                    accountId:
                      description: unique id of certain account.
                      readOnly: true
                      type: string
                    accountDomain:
                      description: Correspond domain name of certain account
                      readOnly: true
                      type: string
                identity:
                  description: The identity associated with this account
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                plan:
                  description: The plan associated with this account
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                sku:
                  description: The sku associated with this account
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. Ex - P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                kind:
                  description: The kind of account, if supported
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. Ex - P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                systemData:
                  description: System metadata for this account
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Remote Rendering Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Property bag.
                    type: object
                    properties:
                      storageAccountName:
                        description: The name of the storage account associated with
                          this accountId
                        type: string
                      accountId:
                        description: unique id of certain account.
                        readOnly: true
                        type: string
                      accountDomain:
                        description: Correspond domain name of certain account
                        readOnly: true
                        type: string
                  identity:
                    description: The identity associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  plan:
                    description: The plan associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  sku:
                    description: The sku associated with this account
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  kind:
                    description: The kind of account, if supported
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  systemData:
                    description: System metadata for this account
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: An Error response.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for displaying in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for displaying in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for displaying in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from Azure.
                              description: A list of additional details about the
                                error.
                          description: An error response from Azure.
                        description: A list of additional details about the error.
                description: An Error response.
    put:
      operationId: RemoteRenderingAccounts_Create
      tags:
      - Resource
      description: "\n\n> [!NOTE]\n>\n> **Mixed Reality retirement**\n>\n> The Mixed\
        \ Reality service is now deprecated and will be retired. \n\n Creating or\
        \ Updating a Remote Rendering Account."
      parameters:
      - name: subscriptionId
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Azure resource group.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of an Mixed Reality Account.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        description: The API version to be used with the HTTP request.
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Property bag.
                  type: object
                  properties:
                    storageAccountName:
                      description: The name of the storage account associated with
                        this accountId
                      type: string
                    accountId:
                      description: unique id of certain account.
                      readOnly: true
                      type: string
                    accountDomain:
                      description: Correspond domain name of certain account
                      readOnly: true
                      type: string
                identity:
                  description: The identity associated with this account
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                plan:
                  description: The plan associated with this account
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                sku:
                  description: The sku associated with this account
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. Ex - P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                kind:
                  description: The kind of account, if supported
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. Ex - P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                systemData:
                  description: System metadata for this account
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Remote Rendering Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Property bag.
                    type: object
                    properties:
                      storageAccountName:
                        description: The name of the storage account associated with
                          this accountId
                        type: string
                      accountId:
                        description: unique id of certain account.
                        readOnly: true
                        type: string
                      accountDomain:
                        description: Correspond domain name of certain account
                        readOnly: true
                        type: string
                  identity:
                    description: The identity associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  plan:
                    description: The plan associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  sku:
                    description: The sku associated with this account
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  kind:
                    description: The kind of account, if supported
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  systemData:
                    description: System metadata for this account
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Property bag.
                    type: object
                    properties:
                      storageAccountName:
                        description: The name of the storage account associated with
                          this accountId
                        type: string
                      accountId:
                        description: unique id of certain account.
                        readOnly: true
                        type: string
                      accountDomain:
                        description: Correspond domain name of certain account
                        readOnly: true
                        type: string
                  identity:
                    description: The identity associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  plan:
                    description: The plan associated with this account
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                  sku:
                    description: The sku associated with this account
                    type: object
                    properties:
                      name:
[...]
