openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/CheckNameAvailability:
    post:
      tags:
      - Namespaces
      operationId: Namespaces_CheckNameAvailability
      description: Check the give namespace name availability.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The Name to check the namespace name availability and
                    The namespace name can contain only letters, numbers, and hyphens.
                    The namespace must start with a letter, and it must end with a
                    letter or number.
              required:
              - name
              description: Description of a Check Name availability request properties.
        description: Parameters to check availability of the given namespace name
        required: true
      responses:
        '200':
          description: check availability returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    readOnly: true
                    type: string
                    description: The detailed info regarding the reason associated
                      with the namespace.
                  nameAvailable:
                    type: boolean
                    description: Value indicating namespace is availability, true
                      if the namespace is available; otherwise, false.
                  reason:
                    description: The reason for unavailability of a namespace.
                    type: string
                    enum:
                    - None
                    - InvalidName
                    - SubscriptionIsDisabled
                    - NameInUse
                    - NameInLockdown
                    - TooManyNamespaceInCurrentSubscription
                    x-ms-enum:
                      name: UnavailableReason
                      modelAsString: false
                description: Description of a Check Name availability request properties.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/CheckNameAvailability
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_CheckNameAvailability
      description: Check the give namespace name availability.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The Name to check the namespace name availability and
                    The namespace name can contain only letters, numbers, and hyphens.
                    The namespace must start with a letter, and it must end with a
                    letter or number.
              required:
              - name
              description: Description of a Check Name availability request properties.
        description: Parameters to check availability of the given namespace name
        required: true
      responses:
        '200':
          description: check availability returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    readOnly: true
                    type: string
                    description: The detailed info regarding the reason associated
                      with the namespace.
                  nameAvailable:
                    type: boolean
                    description: Value indicating namespace is availability, true
                      if the namespace is available; otherwise, false.
                  reason:
                    description: The reason for unavailability of a namespace.
                    type: string
                    enum:
                    - None
                    - InvalidName
                    - SubscriptionIsDisabled
                    - NameInUse
                    - NameInLockdown
                    - TooManyNamespaceInCurrentSubscription
                    x-ms-enum:
                      name: UnavailableReason
                      modelAsString: false
                description: Description of a Check Name availability request properties.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
  requestBodies:
    Namespaces_CheckNameAvailabilityParameters:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: The Name to check the namespace name availability and
                  The namespace name can contain only letters, numbers, and hyphens.
                  The namespace must start with a letter, and it must end with a letter
                  or number.
            required:
            - name
            description: Description of a Check Name availability request properties.
      description: Parameters to check availability of the given namespace name
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CheckNameAvailability:
      type: object
      properties:
        name:
          type: string
          description: The Name to check the namespace name availability and The namespace
            name can contain only letters, numbers, and hyphens. The namespace must
            start with a letter, and it must end with a letter or number.
      required:
      - name
      description: Description of a Check Name availability request properties.
    CheckNameAvailabilityResult:
      type: object
      properties:
        message:
          readOnly: true
          type: string
          description: The detailed info regarding the reason associated with the
            namespace.
        nameAvailable:
          type: boolean
          description: Value indicating namespace is availability, true if the namespace
            is available; otherwise, false.
        reason:
          description: The reason for unavailability of a namespace.
          type: string
          enum:
          - None
          - InvalidName
          - SubscriptionIsDisabled
          - NameInUse
          - NameInLockdown
          - TooManyNamespaceInCurrentSubscription
          x-ms-enum:
            name: UnavailableReason
            modelAsString: false
      description: Description of a Check Name availability request properties.
    UnavailableReason:
      type: string
      enum:
      - None
      - InvalidName
      - SubscriptionIsDisabled
      - NameInUse
      - NameInLockdown
      - TooManyNamespaceInCurrentSubscription
      x-ms-enum:
        name: UnavailableReason
        modelAsString: false
      description: Specifies the reason for the unavailability of the service.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
