openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs
  : get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_List
      description: Gets all Alias(Disaster Recovery configurations)
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of Alias(Disaster Recovery
            configurations) for servicebus namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the Alias(Disaster
                                Recovery configuration) - possible values 'Accepted'
                                or 'Succeeded' or 'Failed'
                              enum:
                              - Accepted
                              - Succeeded
                              - Failed
                              x-ms-enum:
                                name: ProvisioningStateDR
                                modelAsString: false
                            pendingReplicationOperationsCount:
                              readOnly: true
                              format: int64
                              type: integer
                              description: Number of entities pending to be replicated.
                            partnerNamespace:
                              type: string
                              description: ARM Id of the Primary/Secondary eventhub
                                namespace name, which is part of GEO DR pairing
                            alternateName:
                              type: string
                              description: Primary/Secondary eventhub namespace name,
                                which is part of GEO DR pairing
                            role:
                              readOnly: true
                              type: string
                              description: role of namespace in GEO DR - possible
                                values 'Primary' or 'PrimaryNotReplicating' or 'Secondary'
                              enum:
                              - Primary
                              - PrimaryNotReplicating
                              - Secondary
                              x-ms-enum:
                                name: RoleDisasterRecovery
                                modelAsString: false
                          description: Properties required to the Create Or Update
                            Alias(Disaster Recovery configurations)
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Alias(Disaster Recovery configurations)
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of Alias(Disaster Recovery configuration)
                description: The result of the List Alias(Disaster Recovery configuration)
                  operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}
  : put:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_CreateOrUpdate
      description: Creates or updates a new Alias(Disaster Recovery configuration)
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: alias
        in: path
        required: true
        x-ms-parameter-location: method
        description: The Disaster Recovery configuration name
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Provisioning state of the Alias(Disaster Recovery
                        configuration) - possible values 'Accepted' or 'Succeeded'
                        or 'Failed'
                      enum:
                      - Accepted
                      - Succeeded
                      - Failed
                      x-ms-enum:
                        name: ProvisioningStateDR
                        modelAsString: false
                    pendingReplicationOperationsCount:
                      readOnly: true
                      format: int64
                      type: integer
                      description: Number of entities pending to be replicated.
                    partnerNamespace:
                      type: string
                      description: ARM Id of the Primary/Secondary eventhub namespace
                        name, which is part of GEO DR pairing
                    alternateName:
                      type: string
                      description: Primary/Secondary eventhub namespace name, which
                        is part of GEO DR pairing
                    role:
                      readOnly: true
                      type: string
                      description: role of namespace in GEO DR - possible values 'Primary'
                        or 'PrimaryNotReplicating' or 'Secondary'
                      enum:
                      - Primary
                      - PrimaryNotReplicating
                      - Secondary
                      x-ms-enum:
                        name: RoleDisasterRecovery
                        modelAsString: false
                  description: Properties required to the Create Or Update Alias(Disaster
                    Recovery configurations)
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters required to create an Alias(Disaster Recovery configuration)
        required: true
      responses:
        '200':
          description: Alias(Disaster Recovery configuration) successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the Alias(Disaster Recovery
                          configuration) - possible values 'Accepted' or 'Succeeded'
                          or 'Failed'
                        enum:
                        - Accepted
                        - Succeeded
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStateDR
                          modelAsString: false
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      partnerNamespace:
                        type: string
                        description: ARM Id of the Primary/Secondary eventhub namespace
                          name, which is part of GEO DR pairing
                      alternateName:
                        type: string
                        description: Primary/Secondary eventhub namespace name, which
                          is part of GEO DR pairing
                      role:
                        readOnly: true
                        type: string
                        description: role of namespace in GEO DR - possible values
                          'Primary' or 'PrimaryNotReplicating' or 'Secondary'
                        enum:
                        - Primary
                        - PrimaryNotReplicating
                        - Secondary
                        x-ms-enum:
                          name: RoleDisasterRecovery
                          modelAsString: false
                    description: Properties required to the Create Or Update Alias(Disaster
                      Recovery configurations)
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Alias(Disaster Recovery configuration) creation request received
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the Alias(Disaster Recovery
                          configuration) - possible values 'Accepted' or 'Succeeded'
                          or 'Failed'
                        enum:
                        - Accepted
                        - Succeeded
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStateDR
                          modelAsString: false
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      partnerNamespace:
                        type: string
                        description: ARM Id of the Primary/Secondary eventhub namespace
                          name, which is part of GEO DR pairing
                      alternateName:
                        type: string
                        description: Primary/Secondary eventhub namespace name, which
                          is part of GEO DR pairing
                      role:
                        readOnly: true
                        type: string
                        description: role of namespace in GEO DR - possible values
                          'Primary' or 'PrimaryNotReplicating' or 'Secondary'
                        enum:
                        - Primary
                        - PrimaryNotReplicating
                        - Secondary
                        x-ms-enum:
                          name: RoleDisasterRecovery
                          modelAsString: false
                    description: Properties required to the Create Or Update Alias(Disaster
                      Recovery configurations)
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    delete:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_Delete
      description: Deletes an Alias(Disaster Recovery configuration)
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: alias
        in: path
        required: true
        x-ms-parameter-location: method
        description: The Disaster Recovery configuration name
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Delete Alias(Disaster Recovery configuration) request accepted
        '204':
          description: No content.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_Get
      description: Retrieves Alias(Disaster Recovery configuration) for primary or
        secondary namespace
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: alias
        in: path
        required: true
        x-ms-parameter-location: method
        description: The Disaster Recovery configuration name
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the Alias(Disaster Recovery configurations)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the Alias(Disaster Recovery
                          configuration) - possible values 'Accepted' or 'Succeeded'
                          or 'Failed'
                        enum:
                        - Accepted
                        - Succeeded
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStateDR
                          modelAsString: false
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      partnerNamespace:
                        type: string
                        description: ARM Id of the Primary/Secondary eventhub namespace
                          name, which is part of GEO DR pairing
                      alternateName:
                        type: string
                        description: Primary/Secondary eventhub namespace name, which
                          is part of GEO DR pairing
                      role:
                        readOnly: true
                        type: string
                        description: role of namespace in GEO DR - possible values
                          'Primary' or 'PrimaryNotReplicating' or 'Secondary'
                        enum:
                        - Primary
                        - PrimaryNotReplicating
                        - Secondary
                        x-ms-enum:
                          name: RoleDisasterRecovery
                          modelAsString: false
                    description: Properties required to the Create Or Update Alias(Disaster
                      Recovery configurations)
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/breakPairing
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_BreakPairing
      description: This operation disables the Disaster Recovery and stops replicating
        changes from primary to secondary namespaces
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: alias
        in: path
        required: true
        x-ms-parameter-location: method
        description: The Disaster Recovery configuration name
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Break-Pairing operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/failover
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_FailOver
      description: Invokes GEO DR failover and reconfigure the alias to point to the
        secondary namespace
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: alias
        in: path
        required: true
        x-ms-parameter-location: method
        description: The Disaster Recovery configuration name
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  properties:
                    IsSafeFailover:
                      type: boolean
                      description: Safe failover is to indicate the service should
                        wait for pending replication to finish before switching to
                        the secondary.
                  description: Safe failover is to indicate the service should wait
                    for pending replication to finish before switching to the secondary.
              description: Safe failover is to indicate the service should wait for
                pending replication to finish before switching to the secondary.
        description: Parameters required to create an Alias(Disaster Recovery configuration)
      responses:
        '200':
          description: Failover operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    AliasNameParameter:
      name: alias
      in: path
      required: true
      x-ms-parameter-location: method
      description: The Disaster Recovery configuration name
      schema:
        type: string
        minLength: 1
        maxLength: 50
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ArmDisasterRecovery:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          properties:
            provisioningState:
              readOnly: true
              type: string
              description: Provisioning state of the Alias(Disaster Recovery configuration)
                - possible values 'Accepted' or 'Succeeded' or 'Failed'
              enum:
              - Accepted
              - Succeeded
              - Failed
              x-ms-enum:
                name: ProvisioningStateDR
                modelAsString: false
            pendingReplicationOperationsCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of entities pending to be replicated.
            partnerNamespace:
              type: string
              description: ARM Id of the Primary/Secondary eventhub namespace name,
                which is part of GEO DR pairing
            alternateName:
              type: string
              description: Primary/Secondary eventhub namespace name, which is part
                of GEO DR pairing
            role:
              readOnly: true
              type: string
              description: role of namespace in GEO DR - possible values 'Primary'
                or 'PrimaryNotReplicating' or 'Secondary'
              enum:
              - Primary
              - PrimaryNotReplicating
              - Secondary
              x-ms-enum:
                name: RoleDisasterRecovery
                modelAsString: false
          description: Properties required to the Create Or Update Alias(Disaster
            Recovery configurations)
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    FailoverProperties:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          properties:
            IsSafeFailover:
              type: boolean
              description: Safe failover is to indicate the service should wait for
                pending replication to finish before switching to the secondary.
          description: Safe failover is to indicate the service should wait for pending
            replication to finish before switching to the secondary.
      description: Safe failover is to indicate the service should wait for pending
        replication to finish before switching to the secondary.
    ArmDisasterRecoveryListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                properties:
                  provisioningState:
                    readOnly: true
                    type: string
                    description: Provisioning state of the Alias(Disaster Recovery
                      configuration) - possible values 'Accepted' or 'Succeeded' or
                      'Failed'
                    enum:
                    - Accepted
                    - Succeeded
                    - Failed
                    x-ms-enum:
                      name: ProvisioningStateDR
                      modelAsString: false
                  pendingReplicationOperationsCount:
                    readOnly: true
                    format: int64
                    type: integer
                    description: Number of entities pending to be replicated.
                  partnerNamespace:
                    type: string
                    description: ARM Id of the Primary/Secondary eventhub namespace
                      name, which is part of GEO DR pairing
                  alternateName:
                    type: string
                    description: Primary/Secondary eventhub namespace name, which
                      is part of GEO DR pairing
                  role:
                    readOnly: true
                    type: string
                    description: role of namespace in GEO DR - possible values 'Primary'
                      or 'PrimaryNotReplicating' or 'Secondary'
                    enum:
                    - Primary
                    - PrimaryNotReplicating
                    - Secondary
                    x-ms-enum:
                      name: RoleDisasterRecovery
                      modelAsString: false
                description: Properties required to the Create Or Update Alias(Disaster
                  Recovery configurations)
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of Alias(Disaster Recovery configurations)
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of Alias(Disaster Recovery configuration)
      description: The result of the List Alias(Disaster Recovery configuration) operation.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
