openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations
  : get:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_List
      description: Gets all migrationConfigurations
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the list of migrationConfigurations
            for servicebus namespace
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: 'Provisioning state of Migration Configuration '
                            pendingReplicationOperationsCount:
                              readOnly: true
                              format: int64
                              type: integer
                              description: Number of entities pending to be replicated.
                            targetNamespace:
                              type: string
                              description: Existing premium Namespace ARM Id name
                                which has no entities, will be used for migration
                            postMigrationName:
                              type: string
                              description: Name to access Standard Namespace after
                                migration
                            migrationState:
                              readOnly: true
                              type: string
                              description: 'State in which Standard to Premium Migration
                                is, possible values : Unknown, Reverting, Completing,
                                Initiating, Syncing, Active'
                          required:
                          - targetNamespace
                          - postMigrationName
                          description: Properties required to the Create Migration
                            Configuration
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Migration Configs
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of migrationConfigurations
                description: The result of the List migrationConfigurations operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}
  : put:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_CreateAndStartMigration
      description: Creates Migration configuration and starts migration of entities
        from Standard to Premium namespace
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: configName
        in: path
        description: The configuration name. Should always be "$default".
        required: true
        x-ms-enum:
          name: MigrationConfigurationName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - $default
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: 'Provisioning state of Migration Configuration '
                    pendingReplicationOperationsCount:
                      readOnly: true
                      format: int64
                      type: integer
                      description: Number of entities pending to be replicated.
                    targetNamespace:
                      type: string
                      description: Existing premium Namespace ARM Id name which has
                        no entities, will be used for migration
                    postMigrationName:
                      type: string
                      description: Name to access Standard Namespace after migration
                    migrationState:
                      readOnly: true
                      type: string
                      description: 'State in which Standard to Premium Migration is,
                        possible values : Unknown, Reverting, Completing, Initiating,
                        Syncing, Active'
                  required:
                  - targetNamespace
                  - postMigrationName
                  description: Properties required to the Create Migration Configuration
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters required to create Migration Configuration
        required: true
      responses:
        '200':
          description: Migration Config successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'Provisioning state of Migration Configuration '
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      targetNamespace:
                        type: string
                        description: Existing premium Namespace ARM Id name which
                          has no entities, will be used for migration
                      postMigrationName:
                        type: string
                        description: Name to access Standard Namespace after migration
                      migrationState:
                        readOnly: true
                        type: string
                        description: 'State in which Standard to Premium Migration
                          is, possible values : Unknown, Reverting, Completing, Initiating,
                          Syncing, Active'
                    required:
                    - targetNamespace
                    - postMigrationName
                    description: Properties required to the Create Migration Configuration
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Migration Config creation request received
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'Provisioning state of Migration Configuration '
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      targetNamespace:
                        type: string
                        description: Existing premium Namespace ARM Id name which
                          has no entities, will be used for migration
                      postMigrationName:
                        type: string
                        description: Name to access Standard Namespace after migration
                      migrationState:
                        readOnly: true
                        type: string
                        description: 'State in which Standard to Premium Migration
                          is, possible values : Unknown, Reverting, Completing, Initiating,
                          Syncing, Active'
                    required:
                    - targetNamespace
                    - postMigrationName
                    description: Properties required to the Create Migration Configuration
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-long-running-operation: true
    delete:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Delete
      description: Deletes a MigrationConfiguration
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: configName
        in: path
        description: The configuration name. Should always be "$default".
        required: true
        x-ms-enum:
          name: MigrationConfigurationName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - $default
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Delete Migration Config request accepted
        '204':
          description: Not Found
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Get
      description: Retrieves Migration Config
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: configName
        in: path
        description: The configuration name. Should always be "$default".
        required: true
        x-ms-enum:
          name: MigrationConfigurationName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - $default
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved Migration Config)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'Provisioning state of Migration Configuration '
                      pendingReplicationOperationsCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of entities pending to be replicated.
                      targetNamespace:
                        type: string
                        description: Existing premium Namespace ARM Id name which
                          has no entities, will be used for migration
                      postMigrationName:
                        type: string
                        description: Name to access Standard Namespace after migration
                      migrationState:
                        readOnly: true
                        type: string
                        description: 'State in which Standard to Premium Migration
                          is, possible values : Unknown, Reverting, Completing, Initiating,
                          Syncing, Active'
                    required:
                    - targetNamespace
                    - postMigrationName
                    description: Properties required to the Create Migration Configuration
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}/upgrade
  : post:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_CompleteMigration
      description: This operation Completes Migration of entities by pointing the
        connection strings to Premium namespace and any entities created after the
        operation will be under Premium Namespace. CompleteMigration operation will
        fail when entity migration is in-progress.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: configName
        in: path
        description: The configuration name. Should always be "$default".
        required: true
        x-ms-enum:
          name: MigrationConfigurationName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - $default
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: upgrade operation of Migration Config is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}/revert
  : post:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Revert
      description: This operation reverts Migration
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: configName
        in: path
        description: The configuration name. Should always be "$default".
        required: true
        x-ms-enum:
          name: MigrationConfigurationName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - $default
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: MigrationConfig Revert operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ConfigNameParameter:
      name: configName
      in: path
      description: The configuration name. Should always be "$default".
      required: true
      x-ms-enum:
        name: MigrationConfigurationName
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - $default
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    MigrationConfigProperties:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          properties:
            provisioningState:
              readOnly: true
              type: string
              description: 'Provisioning state of Migration Configuration '
            pendingReplicationOperationsCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of entities pending to be replicated.
            targetNamespace:
              type: string
              description: Existing premium Namespace ARM Id name which has no entities,
                will be used for migration
            postMigrationName:
              type: string
              description: Name to access Standard Namespace after migration
            migrationState:
              readOnly: true
              type: string
              description: 'State in which Standard to Premium Migration is, possible
                values : Unknown, Reverting, Completing, Initiating, Syncing, Active'
          required:
          - targetNamespace
          - postMigrationName
          description: Properties required to the Create Migration Configuration
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    MigrationConfigListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                properties:
                  provisioningState:
                    readOnly: true
                    type: string
                    description: 'Provisioning state of Migration Configuration '
                  pendingReplicationOperationsCount:
                    readOnly: true
                    format: int64
                    type: integer
                    description: Number of entities pending to be replicated.
                  targetNamespace:
                    type: string
                    description: Existing premium Namespace ARM Id name which has
                      no entities, will be used for migration
                  postMigrationName:
                    type: string
                    description: Name to access Standard Namespace after migration
                  migrationState:
                    readOnly: true
                    type: string
                    description: 'State in which Standard to Premium Migration is,
                      possible values : Unknown, Reverting, Completing, Initiating,
                      Syncing, Active'
                required:
                - targetNamespace
                - postMigrationName
                description: Properties required to the Create Migration Configuration
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of Migration Configs
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of migrationConfigurations
      description: The result of the List migrationConfigurations operation.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
