openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client for managing Namespace
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_List
      description: Gets all the available namespaces within the subscription, irrespective
        of the resource groups.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Namespaces successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Resource Id
                        name:
                          type: string
                          readOnly: true
                          description: Resource name
                        type:
                          type: string
                          readOnly: true
                          description: Resource type
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Geo-location where the resource lives
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags
                        sku:
                          description: Properties of SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuName
                                modelAsString: false
                            tier:
                              type: string
                              description: The billing tier of this particular SKU.
                              enum:
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            capacity:
                              format: int32
                              type: integer
                              description: Messaging units for your service bus premium
                                namespace. Valid capacities are {1, 2, 4, 8, 16} multiples
                                of your properties.premiumMessagingPartitions setting.
                                For example, If properties.premiumMessagingPartitions
                                is 1 then possible capacity values are 1, 2, 4, 8,
                                and 16. If properties.premiumMessagingPartitions is
                                4 then possible capacity values are 4, 8, 16, 32 and
                                64
                          required:
                          - name
                        identity:
                          description: Properties of BYOK Identity description
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            principalId:
                              type: string
                              description: ObjectId from the KeyVault
                              readOnly: true
                            tenantId:
                              type: string
                              description: TenantId from the KeyVault
                              readOnly: true
                            type:
                              description: Type of managed service identity.
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              - None
                              type: string
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              type: object
                              additionalProperties:
                                description: Recognized Dictionary value.
                                type: object
                                properties:
                                  principalId:
                                    description: Principal Id of user assigned identity
                                    type: string
                                    x-ms-client-name: PrincipalId
                                    readOnly: true
                                  clientId:
                                    description: Client Id of user assigned identity
                                    type: string
                                    x-ms-client-name: ClientId
                                    readOnly: true
                              description: Properties for User Assigned Identities
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the namespace.
                          type: object
                          properties:
                            minimumTlsVersion:
                              type: string
                              description: The minimum TLS version for the cluster
                                to support, e.g. '1.2'
                              enum:
                              - '1.0'
                              - '1.1'
                              - '1.2'
                              x-ms-enum:
                                name: TlsVersion
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the namespace.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the namespace.
                            createdAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The time the namespace was created
                            updatedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The time the namespace was updated.
                            serviceBusEndpoint:
                              readOnly: true
                              type: string
                              description: Endpoint you can use to perform Service
                                Bus operations.
                            metricId:
                              readOnly: true
                              type: string
                              description: Identifier for Azure Insights metrics
                            zoneRedundant:
                              type: boolean
                              description: This property reflects if zone redundancy
                                has been enabled for namespaces in regions that support
                                availability zones.
                              x-ms-mutability:
                              - create
                              - read
                            encryption:
                              description: Properties of BYOK Encryption description
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                keyVaultProperties:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      keyName:
                                        type: string
                                        description: Name of the Key from KeyVault
                                      keyVaultUri:
                                        type: string
                                        description: Uri of KeyVault
                                      keyVersion:
                                        type: string
                                        description: Version of KeyVault
                                      identity:
                                        type: object
                                        x-ms-client-flatten: true
                                        properties:
                                          userAssignedIdentity:
                                            type: string
                                            description: ARM ID of user Identity selected
                                              for encryption
                                    description: Properties to configure keyVault
                                      Properties
                                  x-ms-client-name: KeyVaultProperties
                                  description: Properties of KeyVault
                                keySource:
                                  type: string
                                  description: Enumerates the possible value of keySource
                                    for Encryption
                                  default: Microsoft.KeyVault
                                  enum:
                                  - Microsoft.KeyVault
                                  x-ms-enum:
                                    name: keySource
                                    modelAsString: false
                                requireInfrastructureEncryption:
                                  type: boolean
                                  description: Enable Infrastructure Encryption (Double
                                    Encryption)
                            privateEndpointConnections:
                              description: List of private endpoint connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                      or "Microsoft.EventHub/Namespaces/EventHubs"
                                  location:
                                    type: string
                                    readOnly: true
                                    description: The geo-location where the resource
                                      lives
                                  properties:
                                    description: Properties of the PrivateEndpointConnection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The Private Endpoint resource
                                          for this Connection.
                                        type: object
                                        properties:
                                          id:
                                            description: The ARM identifier for Private
                                              Endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Details about the state of the
                                          connection.
                                        type: object
                                        properties:
                                          status:
                                            description: Status of the connection.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: Description of the connection
                                              state.
                                            type: string
                                      provisioningState:
                                        description: Provisioning state of the Private
                                          Endpoint Connection.
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Canceled
                                        - Failed
                                        type: string
                                        x-ms-enum:
                                          name: EndPointProvisioningState
                                          modelAsString: true
                                  systemData:
                                    readOnly: true
                                    description: The system meta data relating to
                                      this resource.
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The type of identity that last
                                          modified the resource.
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                            disableLocalAuth:
                              type: boolean
                              description: This property disables SAS authentication
                                for the Service Bus namespace.
                            alternateName:
                              type: string
                              description: Alternate name for namespace
                            publicNetworkAccess:
                              description: This determines if traffic is allowed over
                                public network. By default it is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              - SecuredByPerimeter
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              default: Enabled
                            premiumMessagingPartitions:
                              format: int32
                              type: integer
                              description: The number of partitions of a Service Bus
                                namespace. This property is only applicable to Premium
                                SKU namespaces. The default value is 1 and possible
                                values are 1, 2 and 4
                      required:
                      - location
                      description: The Resource definition for other than namespace.
                      x-ms-azure-resource: true
                    description: Result of the List Namespace operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of Namespaces.
                description: The response of the List Namespace operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_ListByResourceGroup
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Namespaces successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: Resource Id
                        name:
                          type: string
                          readOnly: true
                          description: Resource name
                        type:
                          type: string
                          readOnly: true
                          description: Resource type
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Geo-location where the resource lives
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags
                        sku:
                          description: Properties of SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuName
                                modelAsString: false
                            tier:
                              type: string
                              description: The billing tier of this particular SKU.
                              enum:
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            capacity:
                              format: int32
                              type: integer
                              description: Messaging units for your service bus premium
                                namespace. Valid capacities are {1, 2, 4, 8, 16} multiples
                                of your properties.premiumMessagingPartitions setting.
                                For example, If properties.premiumMessagingPartitions
                                is 1 then possible capacity values are 1, 2, 4, 8,
                                and 16. If properties.premiumMessagingPartitions is
                                4 then possible capacity values are 4, 8, 16, 32 and
                                64
                          required:
                          - name
                        identity:
                          description: Properties of BYOK Identity description
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            principalId:
                              type: string
                              description: ObjectId from the KeyVault
                              readOnly: true
                            tenantId:
                              type: string
                              description: TenantId from the KeyVault
                              readOnly: true
                            type:
                              description: Type of managed service identity.
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              - None
                              type: string
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              type: object
                              additionalProperties:
                                description: Recognized Dictionary value.
                                type: object
                                properties:
                                  principalId:
                                    description: Principal Id of user assigned identity
                                    type: string
                                    x-ms-client-name: PrincipalId
                                    readOnly: true
                                  clientId:
                                    description: Client Id of user assigned identity
                                    type: string
                                    x-ms-client-name: ClientId
                                    readOnly: true
                              description: Properties for User Assigned Identities
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the namespace.
                          type: object
                          properties:
                            minimumTlsVersion:
                              type: string
                              description: The minimum TLS version for the cluster
                                to support, e.g. '1.2'
                              enum:
                              - '1.0'
                              - '1.1'
                              - '1.2'
                              x-ms-enum:
                                name: TlsVersion
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the namespace.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the namespace.
                            createdAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The time the namespace was created
                            updatedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The time the namespace was updated.
                            serviceBusEndpoint:
                              readOnly: true
                              type: string
                              description: Endpoint you can use to perform Service
                                Bus operations.
                            metricId:
                              readOnly: true
                              type: string
                              description: Identifier for Azure Insights metrics
                            zoneRedundant:
                              type: boolean
                              description: This property reflects if zone redundancy
                                has been enabled for namespaces in regions that support
                                availability zones.
                              x-ms-mutability:
                              - create
                              - read
                            encryption:
                              description: Properties of BYOK Encryption description
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                keyVaultProperties:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      keyName:
                                        type: string
                                        description: Name of the Key from KeyVault
                                      keyVaultUri:
                                        type: string
                                        description: Uri of KeyVault
                                      keyVersion:
                                        type: string
                                        description: Version of KeyVault
                                      identity:
                                        type: object
                                        x-ms-client-flatten: true
                                        properties:
                                          userAssignedIdentity:
                                            type: string
                                            description: ARM ID of user Identity selected
                                              for encryption
                                    description: Properties to configure keyVault
                                      Properties
                                  x-ms-client-name: KeyVaultProperties
                                  description: Properties of KeyVault
                                keySource:
                                  type: string
                                  description: Enumerates the possible value of keySource
                                    for Encryption
                                  default: Microsoft.KeyVault
                                  enum:
                                  - Microsoft.KeyVault
                                  x-ms-enum:
                                    name: keySource
                                    modelAsString: false
                                requireInfrastructureEncryption:
                                  type: boolean
                                  description: Enable Infrastructure Encryption (Double
                                    Encryption)
                            privateEndpointConnections:
                              description: List of private endpoint connections.
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                      or "Microsoft.EventHub/Namespaces/EventHubs"
                                  location:
                                    type: string
                                    readOnly: true
                                    description: The geo-location where the resource
                                      lives
                                  properties:
                                    description: Properties of the PrivateEndpointConnection.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The Private Endpoint resource
                                          for this Connection.
                                        type: object
                                        properties:
                                          id:
                                            description: The ARM identifier for Private
                                              Endpoint.
                                            type: string
                                      privateLinkServiceConnectionState:
                                        description: Details about the state of the
                                          connection.
                                        type: object
                                        properties:
                                          status:
                                            description: Status of the connection.
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            - Disconnected
                                            type: string
                                            x-ms-enum:
                                              name: PrivateLinkConnectionStatus
                                              modelAsString: true
                                          description:
                                            description: Description of the connection
                                              state.
                                            type: string
                                      provisioningState:
                                        description: Provisioning state of the Private
                                          Endpoint Connection.
                                        enum:
                                        - Creating
                                        - Updating
                                        - Deleting
                                        - Succeeded
                                        - Canceled
                                        - Failed
                                        type: string
                                        x-ms-enum:
                                          name: EndPointProvisioningState
                                          modelAsString: true
                                  systemData:
                                    readOnly: true
                                    description: The system meta data relating to
                                      this resource.
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The type of identity that last
                                          modified the resource.
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                            disableLocalAuth:
                              type: boolean
                              description: This property disables SAS authentication
                                for the Service Bus namespace.
                            alternateName:
                              type: string
                              description: Alternate name for namespace
                            publicNetworkAccess:
                              description: This determines if traffic is allowed over
                                public network. By default it is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              - SecuredByPerimeter
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccess
                                modelAsString: true
                              default: Enabled
                            premiumMessagingPartitions:
                              format: int32
                              type: integer
                              description: The number of partitions of a Service Bus
                                namespace. This property is only applicable to Premium
                                SKU namespaces. The default value is 1 and possible
                                values are 1, 2 and 4
                      required:
                      - location
                      description: The Resource definition for other than namespace.
                      x-ms-azure-resource: true
                    description: Result of the List Namespace operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of Namespaces.
                description: The response of the List Namespace operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdate
      description: Creates or updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  description: Resource Id
                name:
                  type: string
                  readOnly: true
                  description: Resource name
                type:
                  type: string
                  readOnly: true
                  description: Resource type
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The Geo-location where the resource lives
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags
                sku:
                  description: Properties of SKU
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of this SKU.
                      enum:
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuName
                        modelAsString: false
                    tier:
                      type: string
                      description: The billing tier of this particular SKU.
                      enum:
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                    capacity:
                      format: int32
                      type: integer
                      description: Messaging units for your service bus premium namespace.
                        Valid capacities are {1, 2, 4, 8, 16} multiples of your properties.premiumMessagingPartitions
                        setting. For example, If properties.premiumMessagingPartitions
                        is 1 then possible capacity values are 1, 2, 4, 8, and 16.
                        If properties.premiumMessagingPartitions is 4 then possible
                        capacity values are 4, 8, 16, 32 and 64
                  required:
                  - name
                identity:
                  description: Properties of BYOK Identity description
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    principalId:
                      type: string
                      description: ObjectId from the KeyVault
                      readOnly: true
                    tenantId:
                      type: string
                      description: TenantId from the KeyVault
                      readOnly: true
                    type:
                      description: Type of managed service identity.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        description: Recognized Dictionary value.
                        type: object
                        properties:
                          principalId:
                            description: Principal Id of user assigned identity
                            type: string
                            x-ms-client-name: PrincipalId
                            readOnly: true
                          clientId:
                            description: Client Id of user assigned identity
                            type: string
                            x-ms-client-name: ClientId
                            readOnly: true
                      description: Properties for User Assigned Identities
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the namespace.
                  type: object
                  properties:
                    minimumTlsVersion:
                      type: string
                      description: The minimum TLS version for the cluster to support,
                        e.g. '1.2'
                      enum:
                      - '1.0'
                      - '1.1'
                      - '1.2'
                      x-ms-enum:
                        name: TlsVersion
                        modelAsString: true
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Provisioning state of the namespace.
                    status:
                      readOnly: true
                      type: string
                      description: Status of the namespace.
                    createdAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: The time the namespace was created
                    updatedAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: The time the namespace was updated.
                    serviceBusEndpoint:
                      readOnly: true
                      type: string
                      description: Endpoint you can use to perform Service Bus operations.
                    metricId:
                      readOnly: true
                      type: string
                      description: Identifier for Azure Insights metrics
                    zoneRedundant:
                      type: boolean
                      description: This property reflects if zone redundancy has been
                        enabled for namespaces in regions that support availability
                        zones.
                      x-ms-mutability:
                      - create
                      - read
                    encryption:
                      description: Properties of BYOK Encryption description
                      type: object
                      x-ms-client-flatten: true
                      properties:
                        keyVaultProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              keyName:
                                type: string
                                description: Name of the Key from KeyVault
                              keyVaultUri:
                                type: string
                                description: Uri of KeyVault
                              keyVersion:
                                type: string
                                description: Version of KeyVault
                              identity:
                                type: object
                                x-ms-client-flatten: true
                                properties:
                                  userAssignedIdentity:
                                    type: string
                                    description: ARM ID of user Identity selected
                                      for encryption
                            description: Properties to configure keyVault Properties
                          x-ms-client-name: KeyVaultProperties
                          description: Properties of KeyVault
                        keySource:
                          type: string
                          description: Enumerates the possible value of keySource
                            for Encryption
                          default: Microsoft.KeyVault
                          enum:
                          - Microsoft.KeyVault
                          x-ms-enum:
                            name: keySource
                            modelAsString: false
                        requireInfrastructureEncryption:
                          type: boolean
                          description: Enable Infrastructure Encryption (Double Encryption)
                    privateEndpointConnections:
                      description: List of private endpoint connections.
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                              or "Microsoft.EventHub/Namespaces/EventHubs"
                          location:
                            type: string
                            readOnly: true
                            description: The geo-location where the resource lives
                          properties:
                            description: Properties of the PrivateEndpointConnection.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              privateEndpoint:
                                description: The Private Endpoint resource for this
                                  Connection.
                                type: object
                                properties:
                                  id:
                                    description: The ARM identifier for Private Endpoint.
                                    type: string
                              privateLinkServiceConnectionState:
                                description: Details about the state of the connection.
                                type: object
                                properties:
                                  status:
                                    description: Status of the connection.
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    type: string
                                    x-ms-enum:
                                      name: PrivateLinkConnectionStatus
                                      modelAsString: true
                                  description:
                                    description: Description of the connection state.
                                    type: string
                              provisioningState:
                                description: Provisioning state of the Private Endpoint
                                  Connection.
                                enum:
                                - Creating
                                - Updating
                                - Deleting
                                - Succeeded
                                - Canceled
                                - Failed
                                type: string
                                x-ms-enum:
                                  name: EndPointProvisioningState
                                  modelAsString: true
                          systemData:
                            readOnly: true
                            description: The system meta data relating to this resource.
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The type of identity that last modified
                                  the resource.
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                    disableLocalAuth:
                      type: boolean
                      description: This property disables SAS authentication for the
                        Service Bus namespace.
                    alternateName:
                      type: string
                      description: Alternate name for namespace
                    publicNetworkAccess:
                      description: This determines if traffic is allowed over public
                        network. By default it is enabled.
                      enum:
                      - Enabled
                      - Disabled
                      - SecuredByPerimeter
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                      default: Enabled
                    premiumMessagingPartitions:
                      format: int32
                      type: integer
                      description: The number of partitions of a Service Bus namespace.
                        This property is only applicable to Premium SKU namespaces.
                        The default value is 1 and possible values are 1, 2 and 4
              required:
              - location
              description: The Resource definition for other than namespace.
              x-ms-azure-resource: true
        description: Parameters supplied to create a namespace resource.
        required: true
      responses:
        '200':
          description: Namespace created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Resource name
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Geo-location where the resource lives
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags
                  sku:
                    description: Properties of SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                      tier:
                        type: string
                        description: The billing tier of this particular SKU.
                        enum:
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      capacity:
                        format: int32
                        type: integer
                        description: Messaging units for your service bus premium
                          namespace. Valid capacities are {1, 2, 4, 8, 16} multiples
                          of your properties.premiumMessagingPartitions setting. For
                          example, If properties.premiumMessagingPartitions is 1 then
                          possible capacity values are 1, 2, 4, 8, and 16. If properties.premiumMessagingPartitions
                          is 4 then possible capacity values are 4, 8, 16, 32 and
                          64
                    required:
                    - name
                  identity:
                    description: Properties of BYOK Identity description
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      principalId:
                        type: string
                        description: ObjectId from the KeyVault
                        readOnly: true
                      tenantId:
                        type: string
                        description: TenantId from the KeyVault
                        readOnly: true
                      type:
                        description: Type of managed service identity.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          description: Recognized Dictionary value.
                          type: object
                          properties:
                            principalId:
                              description: Principal Id of user assigned identity
                              type: string
                              x-ms-client-name: PrincipalId
                              readOnly: true
                            clientId:
                              description: Client Id of user assigned identity
                              type: string
                              x-ms-client-name: ClientId
                              readOnly: true
                        description: Properties for User Assigned Identities
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the namespace.
                    type: object
                    properties:
                      minimumTlsVersion:
                        type: string
                        description: The minimum TLS version for the cluster to support,
                          e.g. '1.2'
                        enum:
                        - '1.0'
                        - '1.1'
                        - '1.2'
                        x-ms-enum:
                          name: TlsVersion
                          modelAsString: true
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Provisioning state of the namespace.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the namespace.
                      createdAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The time the namespace was created
                      updatedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The time the namespace was updated.
                      serviceBusEndpoint:
                        readOnly: true
                        type: string
                        description: Endpoint you can use to perform Service Bus operations.
                      metricId:
                        readOnly: true
                        type: string
                        description: Identifier for Azure Insights metrics
                      zoneRedundant:
                        type: boolean
                        description: This property reflects if zone redundancy has
                          been enabled for namespaces in regions that support availability
                          zones.
                        x-ms-mutability:
                        - create
                        - read
                      encryption:
                        description: Properties of BYOK Encryption description
                        type: object
                        x-ms-client-flatten: true
                        properties:
                          keyVaultProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                keyName:
                                  type: string
                                  description: Name of the Key from KeyVault
                                keyVaultUri:
                                  type: string
                                  description: Uri of KeyVault
                                keyVersion:
                                  type: string
                                  description: Version of KeyVault
                                identity:
                                  type: object
                                  x-ms-client-flatten: true
                                  properties:
                                    userAssignedIdentity:
                                      type: string
                                      description: ARM ID of user Identity selected
                                        for encryption
                              description: Properties to configure keyVault Properties
                            x-ms-client-name: KeyVaultProperties
                            description: Properties of KeyVault
                          keySource:
                            type: string
                            description: Enumerates the possible value of keySource
                              for Encryption
                            default: Microsoft.KeyVault
                            enum:
                            - Microsoft.KeyVault
                            x-ms-enum:
                              name: keySource
                              modelAsString: false
                          requireInfrastructureEncryption:
                            type: boolean
                            description: Enable Infrastructure Encryption (Double
                              Encryption)
                      privateEndpointConnections:
                        description: List of private endpoint connections.
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                                or "Microsoft.EventHub/Namespaces/EventHubs"
                            location:
                              type: string
                              readOnly: true
                              description: The geo-location where the resource lives
                            properties:
                              description: Properties of the PrivateEndpointConnection.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The Private Endpoint resource for this
                                    Connection.
                                  type: object
                                  properties:
                                    id:
                                      description: The ARM identifier for Private
                                        Endpoint.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: Details about the state of the connection.
                                  type: object
                                  properties:
                                    status:
                                      description: Status of the connection.
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateLinkConnectionStatus
                                        modelAsString: true
                                    description:
                                      description: Description of the connection state.
                                      type: string
                                provisioningState:
                                  description: Provisioning state of the Private Endpoint
                                    Connection.
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  type: string
                                  x-ms-enum:
                                    name: EndPointProvisioningState
                                    modelAsString: true
                            systemData:
                              readOnly: true
                              description: The system meta data relating to this resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The type of identity that last modified
                                    the resource.
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      disableLocalAuth:
                        type: boolean
                        description: This property disables SAS authentication for
                          the Service Bus namespace.
                      alternateName:
                        type: string
                        description: Alternate name for namespace
                      publicNetworkAccess:
                        description: This determines if traffic is allowed over public
                          network. By default it is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        - SecuredByPerimeter
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                        default: Enabled
                      premiumMessagingPartitions:
                        format: int32
                        type: integer
                        description: The number of partitions of a Service Bus namespace.
                          This property is only applicable to Premium SKU namespaces.
                          The default value is 1 and possible values are 1, 2 and
                          4
                required:
                - location
                description: The Resource definition for other than namespace.
                x-ms-azure-resource: true
        '201':
          description: Namespace create request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Resource Id
                  name:
                    type: string
                    readOnly: true
                    description: Resource name
                  type:
                    type: string
                    readOnly: true
                    description: Resource type
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The Geo-location where the resource lives
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags
                  sku:
                    description: Properties of SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuName
                          modelAsString: false
                      tier:
                        type: string
                        description: The billing tier of this particular SKU.
                        enum:
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      capacity:
                        format: int32
                        type: integer
                        description: Messaging units for your service bus premium
                          namespace. Valid capacities are {1, 2, 4, 8, 16} multiples
                          of your properties.premiumMessagingPartitions setting. For
                          example, If properties.premiumMessagingPartitions is 1 then
                          possible capacity values are 1, 2, 4, 8, and 16. If properties.premiumMessagingPartitions
                          is 4 then possible capacity values are 4, 8, 16, 32 and
                          64
                    required:
                    - name
                  identity:
                    description: Properties of BYOK Identity description
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      principalId:
                        type: string
                        description: ObjectId from the KeyVault
                        readOnly: true
                      tenantId:
                        type: string
                        description: TenantId from the KeyVault
                        readOnly: true
                      type:
                        description: Type of managed service identity.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          description: Recognized Dictionary value.
                          type: object
                          properties:
                            principalId:
                              description: Principal Id of user assigned identity
                              type: string
                              x-ms-client-name: PrincipalId
                              readOnly: true
                            clientId:
                              description: Client Id of user assigned identity
                              type: string
                              x-ms-client-name: ClientId
                              readOnly: true
                        description: Properties for User Assigned Identities
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
[...]
