openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkRuleSets/default
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateNetworkRuleSet
      description: Create or update NetworkRuleSet for a Namespace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  description: NetworkRuleSet properties
                  x-ms-client-flatten: true
                  properties:
                    trustedServiceAccessEnabled:
                      type: boolean
                      description: Value that indicates whether Trusted Service Access
                        is Enabled or not.
                    defaultAction:
                      type: string
                      description: Default Action for Network Rule Set
                      enum:
                      - Allow
                      - Deny
                      x-ms-enum:
                        name: DefaultAction
                        modelAsString: true
                    virtualNetworkRules:
                      type: array
                      items:
                        type: object
                        x-ms-client-flatten: true
                        properties:
                          subnet:
                            description: Subnet properties
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID of Virtual Network Subnet
                            required:
                            - id
                          ignoreMissingVnetServiceEndpoint:
                            type: boolean
                            description: Value that indicates whether to ignore missing
                              VNet Service Endpoint
                        description: Description of VirtualNetworkRules - NetworkRules
                          resource.
                      description: List VirtualNetwork Rules
                    ipRules:
                      type: array
                      items:
                        type: object
                        x-ms-client-flatten: true
                        properties:
                          ipMask:
                            type: string
                            description: IP Mask
                          action:
                            type: string
                            description: The IP Filter Action
                            enum:
                            - Allow
                            x-ms-enum:
                              name: NetworkRuleIPAction
                              modelAsString: true
                            default: Allow
                        description: Description of NetWorkRuleSet - IpRules resource.
                      description: List of IpRules
                    publicNetworkAccess:
                      description: This determines if traffic is allowed over public
                        network. By default it is enabled.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: PublicNetworkAccessFlag
                        modelAsString: true
                      default: Enabled
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The Namespace IpFilterRule.
        required: true
      responses:
        '200':
          description: Namespace NetworkRuleSet successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    description: NetworkRuleSet properties
                    x-ms-client-flatten: true
                    properties:
                      trustedServiceAccessEnabled:
                        type: boolean
                        description: Value that indicates whether Trusted Service
                          Access is Enabled or not.
                      defaultAction:
                        type: string
                        description: Default Action for Network Rule Set
                        enum:
                        - Allow
                        - Deny
                        x-ms-enum:
                          name: DefaultAction
                          modelAsString: true
                      virtualNetworkRules:
                        type: array
                        items:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            subnet:
                              description: Subnet properties
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID of Virtual Network Subnet
                              required:
                              - id
                            ignoreMissingVnetServiceEndpoint:
                              type: boolean
                              description: Value that indicates whether to ignore
                                missing VNet Service Endpoint
                          description: Description of VirtualNetworkRules - NetworkRules
                            resource.
                        description: List VirtualNetwork Rules
                      ipRules:
                        type: array
                        items:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            ipMask:
                              type: string
                              description: IP Mask
                            action:
                              type: string
                              description: The IP Filter Action
                              enum:
                              - Allow
                              x-ms-enum:
                                name: NetworkRuleIPAction
                                modelAsString: true
                              default: Allow
                          description: Description of NetWorkRuleSet - IpRules resource.
                        description: List of IpRules
                      publicNetworkAccess:
                        description: This determines if traffic is allowed over public
                          network. By default it is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccessFlag
                          modelAsString: true
                        default: Enabled
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetNetworkRuleSet
      description: Gets NetworkRuleSet for a Namespace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Namespace NetworkRuleSet successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    description: NetworkRuleSet properties
                    x-ms-client-flatten: true
                    properties:
                      trustedServiceAccessEnabled:
                        type: boolean
                        description: Value that indicates whether Trusted Service
                          Access is Enabled or not.
                      defaultAction:
                        type: string
                        description: Default Action for Network Rule Set
                        enum:
                        - Allow
                        - Deny
                        x-ms-enum:
                          name: DefaultAction
                          modelAsString: true
                      virtualNetworkRules:
                        type: array
                        items:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            subnet:
                              description: Subnet properties
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID of Virtual Network Subnet
                              required:
                              - id
                            ignoreMissingVnetServiceEndpoint:
                              type: boolean
                              description: Value that indicates whether to ignore
                                missing VNet Service Endpoint
                          description: Description of VirtualNetworkRules - NetworkRules
                            resource.
                        description: List VirtualNetwork Rules
                      ipRules:
                        type: array
                        items:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            ipMask:
                              type: string
                              description: IP Mask
                            action:
                              type: string
                              description: The IP Filter Action
                              enum:
                              - Allow
                              x-ms-enum:
                                name: NetworkRuleIPAction
                                modelAsString: true
                              default: Allow
                          description: Description of NetWorkRuleSet - IpRules resource.
                        description: List of IpRules
                      publicNetworkAccess:
                        description: This determines if traffic is allowed over public
                          network. By default it is enabled.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccessFlag
                          modelAsString: true
                        default: Enabled
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkRuleSets
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListNetworkRuleSets
      description: Gets list of NetworkRuleSet for a Namespace.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: List of NetworkRuleSets for Namespace successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          description: NetworkRuleSet properties
                          x-ms-client-flatten: true
                          properties:
                            trustedServiceAccessEnabled:
                              type: boolean
                              description: Value that indicates whether Trusted Service
                                Access is Enabled or not.
                            defaultAction:
                              type: string
                              description: Default Action for Network Rule Set
                              enum:
                              - Allow
                              - Deny
                              x-ms-enum:
                                name: DefaultAction
                                modelAsString: true
                            virtualNetworkRules:
                              type: array
                              items:
                                type: object
                                x-ms-client-flatten: true
                                properties:
                                  subnet:
                                    description: Subnet properties
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID of Virtual Network
                                          Subnet
                                    required:
                                    - id
                                  ignoreMissingVnetServiceEndpoint:
                                    type: boolean
                                    description: Value that indicates whether to ignore
                                      missing VNet Service Endpoint
                                description: Description of VirtualNetworkRules -
                                  NetworkRules resource.
                              description: List VirtualNetwork Rules
                            ipRules:
                              type: array
                              items:
                                type: object
                                x-ms-client-flatten: true
                                properties:
                                  ipMask:
                                    type: string
                                    description: IP Mask
                                  action:
                                    type: string
                                    description: The IP Filter Action
                                    enum:
                                    - Allow
                                    x-ms-enum:
                                      name: NetworkRuleIPAction
                                      modelAsString: true
                                    default: Allow
                                description: Description of NetWorkRuleSet - IpRules
                                  resource.
                              description: List of IpRules
                            publicNetworkAccess:
                              description: This determines if traffic is allowed over
                                public network. By default it is enabled.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: PublicNetworkAccessFlag
                                modelAsString: true
                              default: Enabled
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the List NetworkRuleSet operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of NetworkRuleSet.
                description: The response of the List NetworkRuleSet operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    NWRuleSetIpRules:
      type: object
      x-ms-client-flatten: true
      properties:
        ipMask:
          type: string
          description: IP Mask
        action:
          type: string
          description: The IP Filter Action
          enum:
          - Allow
          x-ms-enum:
            name: NetworkRuleIPAction
            modelAsString: true
          default: Allow
      description: Description of NetWorkRuleSet - IpRules resource.
    Subnet:
      type: object
      properties:
        id:
          type: string
          description: Resource ID of Virtual Network Subnet
      required:
      - id
      description: Properties supplied for Subnet
    NWRuleSetVirtualNetworkRules:
      type: object
      x-ms-client-flatten: true
      properties:
        subnet:
          description: Subnet properties
          type: object
          properties:
            id:
              type: string
              description: Resource ID of Virtual Network Subnet
          required:
          - id
        ignoreMissingVnetServiceEndpoint:
          type: boolean
          description: Value that indicates whether to ignore missing VNet Service
            Endpoint
      description: Description of VirtualNetworkRules - NetworkRules resource.
    NetworkRuleSet:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          description: NetworkRuleSet properties
          x-ms-client-flatten: true
          properties:
            trustedServiceAccessEnabled:
              type: boolean
              description: Value that indicates whether Trusted Service Access is
                Enabled or not.
            defaultAction:
              type: string
              description: Default Action for Network Rule Set
              enum:
              - Allow
              - Deny
              x-ms-enum:
                name: DefaultAction
                modelAsString: true
            virtualNetworkRules:
              type: array
              items:
                type: object
                x-ms-client-flatten: true
                properties:
                  subnet:
                    description: Subnet properties
                    type: object
                    properties:
                      id:
                        type: string
                        description: Resource ID of Virtual Network Subnet
                    required:
                    - id
                  ignoreMissingVnetServiceEndpoint:
                    type: boolean
                    description: Value that indicates whether to ignore missing VNet
                      Service Endpoint
                description: Description of VirtualNetworkRules - NetworkRules resource.
              description: List VirtualNetwork Rules
            ipRules:
              type: array
              items:
                type: object
                x-ms-client-flatten: true
                properties:
                  ipMask:
                    type: string
                    description: IP Mask
                  action:
                    type: string
                    description: The IP Filter Action
                    enum:
                    - Allow
                    x-ms-enum:
                      name: NetworkRuleIPAction
                      modelAsString: true
                    default: Allow
                description: Description of NetWorkRuleSet - IpRules resource.
              description: List of IpRules
            publicNetworkAccess:
              description: This determines if traffic is allowed over public network.
                By default it is enabled.
              enum:
              - Enabled
              - Disabled
              type: string
              x-ms-enum:
                name: PublicNetworkAccessFlag
                modelAsString: true
              default: Enabled
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    NetworkRuleSetListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                description: NetworkRuleSet properties
                x-ms-client-flatten: true
                properties:
                  trustedServiceAccessEnabled:
                    type: boolean
                    description: Value that indicates whether Trusted Service Access
                      is Enabled or not.
                  defaultAction:
                    type: string
                    description: Default Action for Network Rule Set
                    enum:
                    - Allow
                    - Deny
                    x-ms-enum:
                      name: DefaultAction
                      modelAsString: true
                  virtualNetworkRules:
                    type: array
                    items:
                      type: object
                      x-ms-client-flatten: true
                      properties:
                        subnet:
                          description: Subnet properties
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID of Virtual Network Subnet
                          required:
                          - id
                        ignoreMissingVnetServiceEndpoint:
                          type: boolean
                          description: Value that indicates whether to ignore missing
                            VNet Service Endpoint
                      description: Description of VirtualNetworkRules - NetworkRules
                        resource.
                    description: List VirtualNetwork Rules
                  ipRules:
                    type: array
                    items:
                      type: object
                      x-ms-client-flatten: true
                      properties:
                        ipMask:
                          type: string
                          description: IP Mask
                        action:
                          type: string
                          description: The IP Filter Action
                          enum:
                          - Allow
                          x-ms-enum:
                            name: NetworkRuleIPAction
                            modelAsString: true
                          default: Allow
                      description: Description of NetWorkRuleSet - IpRules resource.
                    description: List of IpRules
                  publicNetworkAccess:
                    description: This determines if traffic is allowed over public
                      network. By default it is enabled.
                    enum:
                    - Enabled
                    - Disabled
                    type: string
                    x-ms-enum:
                      name: PublicNetworkAccessFlag
                      modelAsString: true
                    default: Enabled
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Result of the List NetworkRuleSet operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of NetworkRuleSet.
      description: The response of the List NetworkRuleSet operation.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
