openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available ServiceBus REST API operations.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: Result of the request to list ServiceBus operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    readOnly: true
                    type: array
                    description: List of ServiceBus operations supported by the Microsoft.ServiceBus
                      resource provider.
                    items:
                      description: A Service Bus REST API operation
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{operation}'
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          description: Display of the operation
                          type: object
                          properties:
                            provider:
                              description: Resource provider of the operation
                              type: string
                              readOnly: true
                            resource:
                              description: Resource of the operation
                              type: string
                              readOnly: true
                            operation:
                              description: Localized friendly name for the operation
                              type: string
                              readOnly: true
                            description:
                              description: Localized friendly description for the
                                operation
                              type: string
                              readOnly: true
                        origin:
                          description: Origin of the operation
                          type: string
                        properties:
                          description: Properties of the operation
                          type: object
                          x-ms-client-flatten: true
                  nextLink:
                    readOnly: true
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      type: object
      description: Result of the request to list ServiceBus operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        value:
          readOnly: true
          type: array
          description: List of ServiceBus operations supported by the Microsoft.ServiceBus
            resource provider.
          items:
            description: A Service Bus REST API operation
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: 'Operation name: {provider}/{resource}/{operation}'
              isDataAction:
                description: Indicates whether the operation is a data action
                type: boolean
              display:
                description: Display of the operation
                type: object
                properties:
                  provider:
                    description: Resource provider of the operation
                    type: string
                    readOnly: true
                  resource:
                    description: Resource of the operation
                    type: string
                    readOnly: true
                  operation:
                    description: Localized friendly name for the operation
                    type: string
                    readOnly: true
                  description:
                    description: Localized friendly description for the operation
                    type: string
                    readOnly: true
              origin:
                description: Origin of the operation
                type: string
              properties:
                description: Properties of the operation
                type: object
                x-ms-client-flatten: true
        nextLink:
          readOnly: true
          type: string
          description: URL to get the next set of operation list results if there
            are any.
    Operation:
      description: A Service Bus REST API operation
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
        display:
          description: Display of the operation
          type: object
          properties:
            provider:
              description: Resource provider of the operation
              type: string
              readOnly: true
            resource:
              description: Resource of the operation
              type: string
              readOnly: true
            operation:
              description: Localized friendly name for the operation
              type: string
              readOnly: true
            description:
              description: Localized friendly description for the operation
              type: string
              readOnly: true
        origin:
          description: Origin of the operation
          type: string
        properties:
          description: Properties of the operation
          type: object
          x-ms-client-flatten: true
    OperationDisplay:
      description: Operation display payload
      type: object
      properties:
        provider:
          description: Resource provider of the operation
          type: string
          readOnly: true
        resource:
          description: Resource of the operation
          type: string
          readOnly: true
        operation:
          description: Localized friendly name for the operation
          type: string
          readOnly: true
        description:
          description: Localized friendly description for the operation
          type: string
          readOnly: true
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
