openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues
  : get:
      tags:
      - Queues
      operationId: Queues_ListByNamespace
      description: Gets the queues within a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639415.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $skip
        description: Skip is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skip parameter that specifies a starting
          point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 0
          maximum: 1000
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      responses:
        '200':
          description: Queues successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Queue Properties
                          type: object
                          properties:
                            countDetails:
                              readOnly: true
                              description: Message Count Details.
                              type: object
                              properties:
                                activeMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of active messages in the queue,
                                    topic, or subscription.
                                deadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages that are dead lettered.
                                scheduledMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of scheduled messages.
                                transferMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred to another
                                    queue, topic, or subscription.
                                transferDeadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred into
                                    dead letters.
                            createdAt:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The exact time the message was created.
                            updatedAt:
                              readOnly: true
                              type: string
                              format: date-time
                              description: The exact time the message was updated.
                            accessedAt:
                              readOnly: true
                              type: string
                              format: date-time
                              description: Last time a message was sent, or the last
                                time there was a receive request to this queue.
                            sizeInBytes:
                              readOnly: true
                              format: int64
                              type: integer
                              description: The size of the queue, in bytes.
                            messageCount:
                              readOnly: true
                              format: int64
                              type: integer
                              description: The number of messages in the queue.
                            lockDuration:
                              format: duration
                              type: string
                              description: ISO 8601 timespan duration of a peek-lock;
                                that is, the amount of time that the message is locked
                                for other receivers. The maximum value for LockDuration
                                is 5 minutes; the default value is 1 minute.
                            maxSizeInMegabytes:
                              format: int32
                              type: integer
                              description: The maximum size of the queue in megabytes,
                                which is the size of memory allocated for the queue.
                                Default is 1024.
                            maxMessageSizeInKilobytes:
                              format: int64
                              type: integer
                              description: Maximum size (in KB) of the message payload
                                that can be accepted by the queue. This property is
                                only used in Premium today and default is 1024.
                            requiresDuplicateDetection:
                              type: boolean
                              description: A value indicating if this queue requires
                                duplicate detection.
                            requiresSession:
                              type: boolean
                              description: A value that indicates whether the queue
                                supports the concept of sessions.
                            defaultMessageTimeToLive:
                              format: duration
                              type: string
                              description: ISO 8601 default message timespan to live
                                value. This is the duration after which the message
                                expires, starting from when the message is sent to
                                Service Bus. This is the default value used when TimeToLive
                                is not set on a message itself.
                            deadLetteringOnMessageExpiration:
                              type: boolean
                              description: A value that indicates whether this queue
                                has dead letter support when a message expires.
                            duplicateDetectionHistoryTimeWindow:
                              format: duration
                              type: string
                              description: ISO 8601 timeSpan structure that defines
                                the duration of the duplicate detection history. The
                                default value is 10 minutes.
                            maxDeliveryCount:
                              format: int32
                              type: integer
                              description: The maximum delivery count. A message is
                                automatically deadlettered after this number of deliveries.
                                default value is 10.
                            status:
                              description: Enumerates the possible values for the
                                status of a messaging entity.
                              type: string
                              enum:
                              - Active
                              - Disabled
                              - Restoring
                              - SendDisabled
                              - ReceiveDisabled
                              - Creating
                              - Deleting
                              - Renaming
                              - Unknown
                              x-ms-enum:
                                name: EntityStatus
                                modelAsString: false
                            enableBatchedOperations:
                              type: boolean
                              description: Value that indicates whether server-side
                                batched operations are enabled.
                            autoDeleteOnIdle:
                              format: duration
                              type: string
                              description: ISO 8061 timeSpan idle interval after which
                                the queue is automatically deleted. The minimum duration
                                is 5 minutes.
                            enablePartitioning:
                              type: boolean
                              description: A value that indicates whether the queue
                                is to be partitioned across multiple message brokers.
                            enableExpress:
                              type: boolean
                              description: A value that indicates whether Express
                                Entities are enabled. An express queue holds a message
                                in memory temporarily before writing it to persistent
                                storage.
                            forwardTo:
                              type: string
                              description: Queue/Topic name to forward the messages
                            forwardDeadLetteredMessagesTo:
                              type: string
                              description: Queue/Topic name to forward the Dead Letter
                                message
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the List Queues operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of queues.
                description: The response to the List Queues operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}
  : put:
      tags:
      - Queues
      operationId: Queues_CreateOrUpdate
      description: Creates or updates a Service Bus queue. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: queueName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The queue name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Queue Properties
                  type: object
                  properties:
                    countDetails:
                      readOnly: true
                      description: Message Count Details.
                      type: object
                      properties:
                        activeMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of active messages in the queue, topic,
                            or subscription.
                        deadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages that are dead lettered.
                        scheduledMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of scheduled messages.
                        transferMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred to another queue,
                            topic, or subscription.
                        transferDeadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred into dead letters.
                    createdAt:
                      readOnly: true
                      type: string
                      format: date-time
                      description: The exact time the message was created.
                    updatedAt:
                      readOnly: true
                      type: string
                      format: date-time
                      description: The exact time the message was updated.
                    accessedAt:
                      readOnly: true
                      type: string
                      format: date-time
                      description: Last time a message was sent, or the last time
                        there was a receive request to this queue.
                    sizeInBytes:
                      readOnly: true
                      format: int64
                      type: integer
                      description: The size of the queue, in bytes.
                    messageCount:
                      readOnly: true
                      format: int64
                      type: integer
                      description: The number of messages in the queue.
                    lockDuration:
                      format: duration
                      type: string
                      description: ISO 8601 timespan duration of a peek-lock; that
                        is, the amount of time that the message is locked for other
                        receivers. The maximum value for LockDuration is 5 minutes;
                        the default value is 1 minute.
                    maxSizeInMegabytes:
                      format: int32
                      type: integer
                      description: The maximum size of the queue in megabytes, which
                        is the size of memory allocated for the queue. Default is
                        1024.
                    maxMessageSizeInKilobytes:
                      format: int64
                      type: integer
                      description: Maximum size (in KB) of the message payload that
                        can be accepted by the queue. This property is only used in
                        Premium today and default is 1024.
                    requiresDuplicateDetection:
                      type: boolean
                      description: A value indicating if this queue requires duplicate
                        detection.
                    requiresSession:
                      type: boolean
                      description: A value that indicates whether the queue supports
                        the concept of sessions.
                    defaultMessageTimeToLive:
                      format: duration
                      type: string
                      description: ISO 8601 default message timespan to live value.
                        This is the duration after which the message expires, starting
                        from when the message is sent to Service Bus. This is the
                        default value used when TimeToLive is not set on a message
                        itself.
                    deadLetteringOnMessageExpiration:
                      type: boolean
                      description: A value that indicates whether this queue has dead
                        letter support when a message expires.
                    duplicateDetectionHistoryTimeWindow:
                      format: duration
                      type: string
                      description: ISO 8601 timeSpan structure that defines the duration
                        of the duplicate detection history. The default value is 10
                        minutes.
                    maxDeliveryCount:
                      format: int32
                      type: integer
                      description: The maximum delivery count. A message is automatically
                        deadlettered after this number of deliveries. default value
                        is 10.
                    status:
                      description: Enumerates the possible values for the status of
                        a messaging entity.
                      type: string
                      enum:
                      - Active
                      - Disabled
                      - Restoring
                      - SendDisabled
                      - ReceiveDisabled
                      - Creating
                      - Deleting
                      - Renaming
                      - Unknown
                      x-ms-enum:
                        name: EntityStatus
                        modelAsString: false
                    enableBatchedOperations:
                      type: boolean
                      description: Value that indicates whether server-side batched
                        operations are enabled.
                    autoDeleteOnIdle:
                      format: duration
                      type: string
                      description: ISO 8061 timeSpan idle interval after which the
                        queue is automatically deleted. The minimum duration is 5
                        minutes.
                    enablePartitioning:
                      type: boolean
                      description: A value that indicates whether the queue is to
                        be partitioned across multiple message brokers.
                    enableExpress:
                      type: boolean
                      description: A value that indicates whether Express Entities
                        are enabled. An express queue holds a message in memory temporarily
                        before writing it to persistent storage.
                    forwardTo:
                      type: string
                      description: Queue/Topic name to forward the messages
                    forwardDeadLetteredMessagesTo:
                      type: string
                      description: Queue/Topic name to forward the Dead Letter message
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create or update a queue resource.
        required: true
      responses:
        '200':
          description: Queue successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Queue Properties
                    type: object
                    properties:
                      countDetails:
                        readOnly: true
                        description: Message Count Details.
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      createdAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The exact time the message was created.
                      updatedAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The exact time the message was updated.
                      accessedAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Last time a message was sent, or the last time
                          there was a receive request to this queue.
                      sizeInBytes:
                        readOnly: true
                        format: int64
                        type: integer
                        description: The size of the queue, in bytes.
                      messageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: The number of messages in the queue.
                      lockDuration:
                        format: duration
                        type: string
                        description: ISO 8601 timespan duration of a peek-lock; that
                          is, the amount of time that the message is locked for other
                          receivers. The maximum value for LockDuration is 5 minutes;
                          the default value is 1 minute.
                      maxSizeInMegabytes:
                        format: int32
                        type: integer
                        description: The maximum size of the queue in megabytes, which
                          is the size of memory allocated for the queue. Default is
                          1024.
                      maxMessageSizeInKilobytes:
                        format: int64
                        type: integer
                        description: Maximum size (in KB) of the message payload that
                          can be accepted by the queue. This property is only used
                          in Premium today and default is 1024.
                      requiresDuplicateDetection:
                        type: boolean
                        description: A value indicating if this queue requires duplicate
                          detection.
                      requiresSession:
                        type: boolean
                        description: A value that indicates whether the queue supports
                          the concept of sessions.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8601 default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      deadLetteringOnMessageExpiration:
                        type: boolean
                        description: A value that indicates whether this queue has
                          dead letter support when a message expires.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO 8601 timeSpan structure that defines the
                          duration of the duplicate detection history. The default
                          value is 10 minutes.
                      maxDeliveryCount:
                        format: int32
                        type: integer
                        description: The maximum delivery count. A message is automatically
                          deadlettered after this number of deliveries. default value
                          is 10.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8061 timeSpan idle interval after which the
                          queue is automatically deleted. The minimum duration is
                          5 minutes.
                      enablePartitioning:
                        type: boolean
                        description: A value that indicates whether the queue is to
                          be partitioned across multiple message brokers.
                      enableExpress:
                        type: boolean
                        description: A value that indicates whether Express Entities
                          are enabled. An express queue holds a message in memory
                          temporarily before writing it to persistent storage.
                      forwardTo:
                        type: string
                        description: Queue/Topic name to forward the messages
                      forwardDeadLetteredMessagesTo:
                        type: string
                        description: Queue/Topic name to forward the Dead Letter message
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    delete:
      tags:
      - Queues
      operationId: Queues_Delete
      description: Deletes a queue from the specified namespace in a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639411.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: queueName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The queue name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Queue successfully deleted.
        '204':
          description: No content.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - Queues
      operationId: Queues_Get
      description: Returns a description for the specified queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639380.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: queueName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The queue name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Queue description successfully returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Queue Properties
                    type: object
                    properties:
                      countDetails:
                        readOnly: true
                        description: Message Count Details.
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      createdAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The exact time the message was created.
                      updatedAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: The exact time the message was updated.
                      accessedAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Last time a message was sent, or the last time
                          there was a receive request to this queue.
                      sizeInBytes:
                        readOnly: true
                        format: int64
                        type: integer
                        description: The size of the queue, in bytes.
                      messageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: The number of messages in the queue.
                      lockDuration:
                        format: duration
                        type: string
                        description: ISO 8601 timespan duration of a peek-lock; that
                          is, the amount of time that the message is locked for other
                          receivers. The maximum value for LockDuration is 5 minutes;
                          the default value is 1 minute.
                      maxSizeInMegabytes:
                        format: int32
                        type: integer
                        description: The maximum size of the queue in megabytes, which
                          is the size of memory allocated for the queue. Default is
                          1024.
                      maxMessageSizeInKilobytes:
                        format: int64
                        type: integer
                        description: Maximum size (in KB) of the message payload that
                          can be accepted by the queue. This property is only used
                          in Premium today and default is 1024.
                      requiresDuplicateDetection:
                        type: boolean
                        description: A value indicating if this queue requires duplicate
                          detection.
                      requiresSession:
                        type: boolean
                        description: A value that indicates whether the queue supports
                          the concept of sessions.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8601 default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      deadLetteringOnMessageExpiration:
                        type: boolean
                        description: A value that indicates whether this queue has
                          dead letter support when a message expires.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO 8601 timeSpan structure that defines the
                          duration of the duplicate detection history. The default
                          value is 10 minutes.
                      maxDeliveryCount:
                        format: int32
                        type: integer
                        description: The maximum delivery count. A message is automatically
                          deadlettered after this number of deliveries. default value
                          is 10.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8061 timeSpan idle interval after which the
                          queue is automatically deleted. The minimum duration is
                          5 minutes.
                      enablePartitioning:
                        type: boolean
                        description: A value that indicates whether the queue is to
                          be partitioned across multiple message brokers.
                      enableExpress:
                        type: boolean
                        description: A value that indicates whether Express Entities
                          are enabled. An express queue holds a message in memory
                          temporarily before writing it to persistent storage.
                      forwardTo:
                        type: string
                        description: Queue/Topic name to forward the messages
                      forwardDeadLetteredMessagesTo:
                        type: string
                        description: Queue/Topic name to forward the Dead Letter message
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    SkipParameter:
      name: $skip
      description: Skip is only used if a previous operation returned a partial result.
        If a previous response contains a nextLink element, the value of the nextLink
        element will include a skip parameter that specifies a starting point to use
        for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    TopParameter:
      name: $top
      description: May be used to limit the number of results to the most recent N
        usageDetails.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    QueueNameParameter:
      name: queueName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The queue name.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SBQueueListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                description: Queue Properties
                type: object
                properties:
                  countDetails:
                    readOnly: true
                    description: Message Count Details.
                    type: object
                    properties:
                      activeMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of active messages in the queue, topic,
                          or subscription.
                      deadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages that are dead lettered.
                      scheduledMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of scheduled messages.
                      transferMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred to another queue,
                          topic, or subscription.
                      transferDeadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred into dead letters.
                  createdAt:
                    readOnly: true
                    type: string
                    format: date-time
                    description: The exact time the message was created.
                  updatedAt:
                    readOnly: true
                    type: string
                    format: date-time
                    description: The exact time the message was updated.
                  accessedAt:
                    readOnly: true
                    type: string
                    format: date-time
                    description: Last time a message was sent, or the last time there
                      was a receive request to this queue.
                  sizeInBytes:
                    readOnly: true
                    format: int64
                    type: integer
                    description: The size of the queue, in bytes.
                  messageCount:
                    readOnly: true
                    format: int64
                    type: integer
                    description: The number of messages in the queue.
                  lockDuration:
                    format: duration
                    type: string
                    description: ISO 8601 timespan duration of a peek-lock; that is,
                      the amount of time that the message is locked for other receivers.
                      The maximum value for LockDuration is 5 minutes; the default
                      value is 1 minute.
                  maxSizeInMegabytes:
                    format: int32
                    type: integer
                    description: The maximum size of the queue in megabytes, which
                      is the size of memory allocated for the queue. Default is 1024.
                  maxMessageSizeInKilobytes:
                    format: int64
                    type: integer
                    description: Maximum size (in KB) of the message payload that
                      can be accepted by the queue. This property is only used in
                      Premium today and default is 1024.
                  requiresDuplicateDetection:
                    type: boolean
                    description: A value indicating if this queue requires duplicate
                      detection.
                  requiresSession:
                    type: boolean
                    description: A value that indicates whether the queue supports
                      the concept of sessions.
                  defaultMessageTimeToLive:
                    format: duration
                    type: string
                    description: ISO 8601 default message timespan to live value.
                      This is the duration after which the message expires, starting
                      from when the message is sent to Service Bus. This is the default
                      value used when TimeToLive is not set on a message itself.
                  deadLetteringOnMessageExpiration:
                    type: boolean
                    description: A value that indicates whether this queue has dead
                      letter support when a message expires.
                  duplicateDetectionHistoryTimeWindow:
                    format: duration
                    type: string
                    description: ISO 8601 timeSpan structure that defines the duration
                      of the duplicate detection history. The default value is 10
                      minutes.
                  maxDeliveryCount:
                    format: int32
                    type: integer
                    description: The maximum delivery count. A message is automatically
                      deadlettered after this number of deliveries. default value
                      is 10.
                  status:
                    description: Enumerates the possible values for the status of
                      a messaging entity.
                    type: string
                    enum:
                    - Active
                    - Disabled
                    - Restoring
                    - SendDisabled
                    - ReceiveDisabled
                    - Creating
                    - Deleting
                    - Renaming
                    - Unknown
                    x-ms-enum:
                      name: EntityStatus
                      modelAsString: false
                  enableBatchedOperations:
                    type: boolean
                    description: Value that indicates whether server-side batched
                      operations are enabled.
                  autoDeleteOnIdle:
                    format: duration
                    type: string
                    description: ISO 8061 timeSpan idle interval after which the queue
                      is automatically deleted. The minimum duration is 5 minutes.
                  enablePartitioning:
                    type: boolean
                    description: A value that indicates whether the queue is to be
                      partitioned across multiple message brokers.
                  enableExpress:
                    type: boolean
                    description: A value that indicates whether Express Entities are
                      enabled. An express queue holds a message in memory temporarily
                      before writing it to persistent storage.
                  forwardTo:
                    type: string
                    description: Queue/Topic name to forward the messages
                  forwardDeadLetteredMessagesTo:
                    type: string
                    description: Queue/Topic name to forward the Dead Letter message
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Result of the List Queues operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of queues.
      description: The response to the List Queues operation.
    SBQueue:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          description: Queue Properties
          type: object
          properties:
            countDetails:
              readOnly: true
              description: Message Count Details.
              type: object
              properties:
                activeMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of active messages in the queue, topic, or subscription.
                deadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages that are dead lettered.
                scheduledMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of scheduled messages.
                transferMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred to another queue, topic,
                    or subscription.
                transferDeadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred into dead letters.
            createdAt:
              readOnly: true
              type: string
              format: date-time
              description: The exact time the message was created.
            updatedAt:
              readOnly: true
              type: string
              format: date-time
              description: The exact time the message was updated.
            accessedAt:
              readOnly: true
              type: string
              format: date-time
              description: Last time a message was sent, or the last time there was
                a receive request to this queue.
            sizeInBytes:
              readOnly: true
              format: int64
              type: integer
              description: The size of the queue, in bytes.
            messageCount:
              readOnly: true
              format: int64
              type: integer
              description: The number of messages in the queue.
            lockDuration:
              format: duration
              type: string
              description: ISO 8601 timespan duration of a peek-lock; that is, the
                amount of time that the message is locked for other receivers. The
                maximum value for LockDuration is 5 minutes; the default value is
                1 minute.
            maxSizeInMegabytes:
              format: int32
              type: integer
              description: The maximum size of the queue in megabytes, which is the
                size of memory allocated for the queue. Default is 1024.
            maxMessageSizeInKilobytes:
              format: int64
              type: integer
              description: Maximum size (in KB) of the message payload that can be
                accepted by the queue. This property is only used in Premium today
                and default is 1024.
            requiresDuplicateDetection:
              type: boolean
              description: A value indicating if this queue requires duplicate detection.
            requiresSession:
              type: boolean
              description: A value that indicates whether the queue supports the concept
                of sessions.
            defaultMessageTimeToLive:
              format: duration
              type: string
              description: ISO 8601 default message timespan to live value. This is
                the duration after which the message expires, starting from when the
                message is sent to Service Bus. This is the default value used when
                TimeToLive is not set on a message itself.
            deadLetteringOnMessageExpiration:
              type: boolean
              description: A value that indicates whether this queue has dead letter
                support when a message expires.
            duplicateDetectionHistoryTimeWindow:
              format: duration
              type: string
              description: ISO 8601 timeSpan structure that defines the duration of
                the duplicate detection history. The default value is 10 minutes.
            maxDeliveryCount:
              format: int32
              type: integer
              description: The maximum delivery count. A message is automatically
                deadlettered after this number of deliveries. default value is 10.
            status:
              description: Enumerates the possible values for the status of a messaging
                entity.
              type: string
              enum:
              - Active
              - Disabled
              - Restoring
              - SendDisabled
              - ReceiveDisabled
              - Creating
              - Deleting
              - Renaming
              - Unknown
              x-ms-enum:
                name: EntityStatus
                modelAsString: false
            enableBatchedOperations:
              type: boolean
              description: Value that indicates whether server-side batched operations
                are enabled.
            autoDeleteOnIdle:
              format: duration
              type: string
              description: ISO 8061 timeSpan idle interval after which the queue is
                automatically deleted. The minimum duration is 5 minutes.
            enablePartitioning:
              type: boolean
              description: A value that indicates whether the queue is to be partitioned
                across multiple message brokers.
            enableExpress:
              type: boolean
              description: A value that indicates whether Express Entities are enabled.
                An express queue holds a message in memory temporarily before writing
                it to persistent storage.
            forwardTo:
              type: string
              description: Queue/Topic name to forward the messages
            forwardDeadLetteredMessagesTo:
              type: string
              description: Queue/Topic name to forward the Dead Letter message
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SBQueueProperties:
      type: object
      properties:
        countDetails:
          readOnly: true
          description: Message Count Details.
          type: object
          properties:
            activeMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of active messages in the queue, topic, or subscription.
            deadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages that are dead lettered.
            scheduledMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of scheduled messages.
            transferMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred to another queue, topic,
                or subscription.
            transferDeadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred into dead letters.
        createdAt:
          readOnly: true
          type: string
          format: date-time
          description: The exact time the message was created.
        updatedAt:
          readOnly: true
          type: string
          format: date-time
          description: The exact time the message was updated.
        accessedAt:
          readOnly: true
          type: string
          format: date-time
          description: Last time a message was sent, or the last time there was a
            receive request to this queue.
        sizeInBytes:
          readOnly: true
          format: int64
          type: integer
          description: The size of the queue, in bytes.
        messageCount:
          readOnly: true
          format: int64
          type: integer
          description: The number of messages in the queue.
        lockDuration:
          format: duration
          type: string
          description: ISO 8601 timespan duration of a peek-lock; that is, the amount
            of time that the message is locked for other receivers. The maximum value
            for LockDuration is 5 minutes; the default value is 1 minute.
        maxSizeInMegabytes:
          format: int32
          type: integer
          description: The maximum size of the queue in megabytes, which is the size
            of memory allocated for the queue. Default is 1024.
        maxMessageSizeInKilobytes:
          format: int64
          type: integer
          description: Maximum size (in KB) of the message payload that can be accepted
            by the queue. This property is only used in Premium today and default
            is 1024.
        requiresDuplicateDetection:
          type: boolean
          description: A value indicating if this queue requires duplicate detection.
        requiresSession:
          type: boolean
          description: A value that indicates whether the queue supports the concept
            of sessions.
        defaultMessageTimeToLive:
          format: duration
          type: string
          description: ISO 8601 default message timespan to live value. This is the
            duration after which the message expires, starting from when the message
            is sent to Service Bus. This is the default value used when TimeToLive
            is not set on a message itself.
        deadLetteringOnMessageExpiration:
          type: boolean
          description: A value that indicates whether this queue has dead letter support
            when a message expires.
        duplicateDetectionHistoryTimeWindow:
          format: duration
          type: string
          description: ISO 8601 timeSpan structure that defines the duration of the
            duplicate detection history. The default value is 10 minutes.
        maxDeliveryCount:
          format: int32
          type: integer
          description: The maximum delivery count. A message is automatically deadlettered
            after this number of deliveries. default value is 10.
        status:
          description: Enumerates the possible values for the status of a messaging
            entity.
          type: string
          enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
          x-ms-enum:
            name: EntityStatus
            modelAsString: false
        enableBatchedOperations:
          type: boolean
          description: Value that indicates whether server-side batched operations
            are enabled.
        autoDeleteOnIdle:
          format: duration
          type: string
          description: ISO 8061 timeSpan idle interval after which the queue is automatically
            deleted. The minimum duration is 5 minutes.
        enablePartitioning:
          type: boolean
          description: A value that indicates whether the queue is to be partitioned
            across multiple message brokers.
        enableExpress:
          type: boolean
          description: A value that indicates whether Express Entities are enabled.
            An express queue holds a message in memory temporarily before writing
            it to persistent storage.
        forwardTo:
          type: string
          description: Queue/Topic name to forward the messages
        forwardDeadLetteredMessagesTo:
          type: string
          description: Queue/Topic name to forward the Dead Letter message
      description: The Queue Properties definition.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
[...]
