openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules
  : get:
      tags:
      - Rules
      operationId: Rules_ListBySubscriptions
      description: List all the rules within given topic-subscription
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $skip
        description: Skip is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skip parameter that specifies a starting
          point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 0
          maximum: 1000
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      responses:
        '200':
          description: Successfully retrieved list of Rules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of Rule resource
                          type: object
                          properties:
                            action:
                              description: Represents the filter actions which are
                                allowed for the transformation of a message that have
                                been matched by a filter expression.
                              type: object
                              properties:
                                sqlExpression:
                                  type: string
                                  description: SQL expression. e.g. MyProperty='ABC'
                                compatibilityLevel:
                                  format: int32
                                  type: integer
                                  description: This property is reserved for future
                                    use. An integer value showing the compatibility
                                    level, currently hard-coded to 20.
                                requiresPreprocessing:
                                  type: boolean
                                  default: true
                                  description: Value that indicates whether the rule
                                    action requires preprocessing.
                            filterType:
                              description: Filter type that is evaluated against a
                                BrokeredMessage.
                              type: string
                              enum:
                              - SqlFilter
                              - CorrelationFilter
                              x-ms-enum:
                                name: FilterType
                                modelAsString: false
                            sqlFilter:
                              description: Properties of sqlFilter
                              type: object
                              properties:
                                sqlExpression:
                                  type: string
                                  description: The SQL expression. e.g. MyProperty='ABC'
                                compatibilityLevel:
                                  format: int32
                                  type: integer
                                  description: This property is reserved for future
                                    use. An integer value showing the compatibility
                                    level, currently hard-coded to 20.
                                requiresPreprocessing:
                                  type: boolean
                                  default: true
                                  description: Value that indicates whether the rule
                                    action requires preprocessing.
                            correlationFilter:
                              description: Properties of correlationFilter
                              type: object
                              properties:
                                properties:
                                  type: object
                                  additionalProperties:
                                    type: string
                                  description: dictionary object for custom filters
                                correlationId:
                                  type: string
                                  description: Identifier of the correlation.
                                messageId:
                                  type: string
                                  description: Identifier of the message.
                                to:
                                  type: string
                                  description: Address to send to.
                                replyTo:
                                  type: string
                                  description: Address of the queue to reply to.
                                label:
                                  type: string
                                  description: Application specific label.
                                sessionId:
                                  type: string
                                  description: Session identifier.
                                replyToSessionId:
                                  type: string
                                  description: Session identifier to reply to.
                                contentType:
                                  type: string
                                  description: Content type of the message.
                                requiresPreprocessing:
                                  type: boolean
                                  default: true
                                  description: Value that indicates whether the rule
                                    action requires preprocessing.
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the List Rules operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of rules
                description: The response of the List rule operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}
  : put:
      tags:
      - Rules
      operationId: Rules_CreateOrUpdate
      description: Creates a new rule and updates an existing rule
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: ruleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The rule name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Properties of Rule resource
                  type: object
                  properties:
                    action:
                      description: Represents the filter actions which are allowed
                        for the transformation of a message that have been matched
                        by a filter expression.
                      type: object
                      properties:
                        sqlExpression:
                          type: string
                          description: SQL expression. e.g. MyProperty='ABC'
                        compatibilityLevel:
                          format: int32
                          type: integer
                          description: This property is reserved for future use. An
                            integer value showing the compatibility level, currently
                            hard-coded to 20.
                        requiresPreprocessing:
                          type: boolean
                          default: true
                          description: Value that indicates whether the rule action
                            requires preprocessing.
                    filterType:
                      description: Filter type that is evaluated against a BrokeredMessage.
                      type: string
                      enum:
                      - SqlFilter
                      - CorrelationFilter
                      x-ms-enum:
                        name: FilterType
                        modelAsString: false
                    sqlFilter:
                      description: Properties of sqlFilter
                      type: object
                      properties:
                        sqlExpression:
                          type: string
                          description: The SQL expression. e.g. MyProperty='ABC'
                        compatibilityLevel:
                          format: int32
                          type: integer
                          description: This property is reserved for future use. An
                            integer value showing the compatibility level, currently
                            hard-coded to 20.
                        requiresPreprocessing:
                          type: boolean
                          default: true
                          description: Value that indicates whether the rule action
                            requires preprocessing.
                    correlationFilter:
                      description: Properties of correlationFilter
                      type: object
                      properties:
                        properties:
                          type: object
                          additionalProperties:
                            type: string
                          description: dictionary object for custom filters
                        correlationId:
                          type: string
                          description: Identifier of the correlation.
                        messageId:
                          type: string
                          description: Identifier of the message.
                        to:
                          type: string
                          description: Address to send to.
                        replyTo:
                          type: string
                          description: Address of the queue to reply to.
                        label:
                          type: string
                          description: Application specific label.
                        sessionId:
                          type: string
                          description: Session identifier.
                        replyToSessionId:
                          type: string
                          description: Session identifier to reply to.
                        contentType:
                          type: string
                          description: Content type of the message.
                        requiresPreprocessing:
                          type: boolean
                          default: true
                          description: Value that indicates whether the rule action
                            requires preprocessing.
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a rule.
        required: true
      responses:
        '200':
          description: Rule created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of Rule resource
                    type: object
                    properties:
                      action:
                        description: Represents the filter actions which are allowed
                          for the transformation of a message that have been matched
                          by a filter expression.
                        type: object
                        properties:
                          sqlExpression:
                            type: string
                            description: SQL expression. e.g. MyProperty='ABC'
                          compatibilityLevel:
                            format: int32
                            type: integer
                            description: This property is reserved for future use.
                              An integer value showing the compatibility level, currently
                              hard-coded to 20.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                      filterType:
                        description: Filter type that is evaluated against a BrokeredMessage.
                        type: string
                        enum:
                        - SqlFilter
                        - CorrelationFilter
                        x-ms-enum:
                          name: FilterType
                          modelAsString: false
                      sqlFilter:
                        description: Properties of sqlFilter
                        type: object
                        properties:
                          sqlExpression:
                            type: string
                            description: The SQL expression. e.g. MyProperty='ABC'
                          compatibilityLevel:
                            format: int32
                            type: integer
                            description: This property is reserved for future use.
                              An integer value showing the compatibility level, currently
                              hard-coded to 20.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                      correlationFilter:
                        description: Properties of correlationFilter
                        type: object
                        properties:
                          properties:
                            type: object
                            additionalProperties:
                              type: string
                            description: dictionary object for custom filters
                          correlationId:
                            type: string
                            description: Identifier of the correlation.
                          messageId:
                            type: string
                            description: Identifier of the message.
                          to:
                            type: string
                            description: Address to send to.
                          replyTo:
                            type: string
                            description: Address of the queue to reply to.
                          label:
                            type: string
                            description: Application specific label.
                          sessionId:
                            type: string
                            description: Session identifier.
                          replyToSessionId:
                            type: string
                            description: Session identifier to reply to.
                          contentType:
                            type: string
                            description: Content type of the message.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    delete:
      tags:
      - Rules
      operationId: Rules_Delete
      description: Deletes an existing rule.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: ruleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The rule name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Rule deleted.
        '204':
          description: No Content
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - Subscriptions
      operationId: Rules_Get
      description: Retrieves the description for the specified rule.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: ruleName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The rule name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved rule description.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of Rule resource
                    type: object
                    properties:
                      action:
                        description: Represents the filter actions which are allowed
                          for the transformation of a message that have been matched
                          by a filter expression.
                        type: object
                        properties:
                          sqlExpression:
                            type: string
                            description: SQL expression. e.g. MyProperty='ABC'
                          compatibilityLevel:
                            format: int32
                            type: integer
                            description: This property is reserved for future use.
                              An integer value showing the compatibility level, currently
                              hard-coded to 20.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                      filterType:
                        description: Filter type that is evaluated against a BrokeredMessage.
                        type: string
                        enum:
                        - SqlFilter
                        - CorrelationFilter
                        x-ms-enum:
                          name: FilterType
                          modelAsString: false
                      sqlFilter:
                        description: Properties of sqlFilter
                        type: object
                        properties:
                          sqlExpression:
                            type: string
                            description: The SQL expression. e.g. MyProperty='ABC'
                          compatibilityLevel:
                            format: int32
                            type: integer
                            description: This property is reserved for future use.
                              An integer value showing the compatibility level, currently
                              hard-coded to 20.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                      correlationFilter:
                        description: Properties of correlationFilter
                        type: object
                        properties:
                          properties:
                            type: object
                            additionalProperties:
                              type: string
                            description: dictionary object for custom filters
                          correlationId:
                            type: string
                            description: Identifier of the correlation.
                          messageId:
                            type: string
                            description: Identifier of the message.
                          to:
                            type: string
                            description: Address to send to.
                          replyTo:
                            type: string
                            description: Address of the queue to reply to.
                          label:
                            type: string
                            description: Application specific label.
                          sessionId:
                            type: string
                            description: Session identifier.
                          replyToSessionId:
                            type: string
                            description: Session identifier to reply to.
                          contentType:
                            type: string
                            description: Content type of the message.
                          requiresPreprocessing:
                            type: boolean
                            default: true
                            description: Value that indicates whether the rule action
                              requires preprocessing.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    TopicNameParameter:
      name: topicName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The topic name.
      schema:
        type: string
        minLength: 1
    SubscriptionNameParameter:
      name: subscriptionName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The subscription name.
      schema:
        type: string
        minLength: 1
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    SkipParameter:
      name: $skip
      description: Skip is only used if a previous operation returned a partial result.
        If a previous response contains a nextLink element, the value of the nextLink
        element will include a skip parameter that specifies a starting point to use
        for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    TopParameter:
      name: $top
      description: May be used to limit the number of results to the most recent N
        usageDetails.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    RuleNameParameter:
      name: ruleName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The rule name.
      schema:
        type: string
        minLength: 1
        maxLength: 50
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Rule:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          description: Properties of Rule resource
          type: object
          properties:
            action:
              description: Represents the filter actions which are allowed for the
                transformation of a message that have been matched by a filter expression.
              type: object
              properties:
                sqlExpression:
                  type: string
                  description: SQL expression. e.g. MyProperty='ABC'
                compatibilityLevel:
                  format: int32
                  type: integer
                  description: This property is reserved for future use. An integer
                    value showing the compatibility level, currently hard-coded to
                    20.
                requiresPreprocessing:
                  type: boolean
                  default: true
                  description: Value that indicates whether the rule action requires
                    preprocessing.
            filterType:
              description: Filter type that is evaluated against a BrokeredMessage.
              type: string
              enum:
              - SqlFilter
              - CorrelationFilter
              x-ms-enum:
                name: FilterType
                modelAsString: false
            sqlFilter:
              description: Properties of sqlFilter
              type: object
              properties:
                sqlExpression:
                  type: string
                  description: The SQL expression. e.g. MyProperty='ABC'
                compatibilityLevel:
                  format: int32
                  type: integer
                  description: This property is reserved for future use. An integer
                    value showing the compatibility level, currently hard-coded to
                    20.
                requiresPreprocessing:
                  type: boolean
                  default: true
                  description: Value that indicates whether the rule action requires
                    preprocessing.
            correlationFilter:
              description: Properties of correlationFilter
              type: object
              properties:
                properties:
                  type: object
                  additionalProperties:
                    type: string
                  description: dictionary object for custom filters
                correlationId:
                  type: string
                  description: Identifier of the correlation.
                messageId:
                  type: string
                  description: Identifier of the message.
                to:
                  type: string
                  description: Address to send to.
                replyTo:
                  type: string
                  description: Address of the queue to reply to.
                label:
                  type: string
                  description: Application specific label.
                sessionId:
                  type: string
                  description: Session identifier.
                replyToSessionId:
                  type: string
                  description: Session identifier to reply to.
                contentType:
                  type: string
                  description: Content type of the message.
                requiresPreprocessing:
                  type: boolean
                  default: true
                  description: Value that indicates whether the rule action requires
                    preprocessing.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    Ruleproperties:
      type: object
      properties:
        action:
          description: Represents the filter actions which are allowed for the transformation
            of a message that have been matched by a filter expression.
          type: object
          properties:
            sqlExpression:
              type: string
              description: SQL expression. e.g. MyProperty='ABC'
            compatibilityLevel:
              format: int32
              type: integer
              description: This property is reserved for future use. An integer value
                showing the compatibility level, currently hard-coded to 20.
            requiresPreprocessing:
              type: boolean
              default: true
              description: Value that indicates whether the rule action requires preprocessing.
        filterType:
          description: Filter type that is evaluated against a BrokeredMessage.
          type: string
          enum:
          - SqlFilter
          - CorrelationFilter
          x-ms-enum:
            name: FilterType
            modelAsString: false
        sqlFilter:
          description: Properties of sqlFilter
          type: object
          properties:
            sqlExpression:
              type: string
              description: The SQL expression. e.g. MyProperty='ABC'
            compatibilityLevel:
              format: int32
              type: integer
              description: This property is reserved for future use. An integer value
                showing the compatibility level, currently hard-coded to 20.
            requiresPreprocessing:
              type: boolean
              default: true
              description: Value that indicates whether the rule action requires preprocessing.
        correlationFilter:
          description: Properties of correlationFilter
          type: object
          properties:
            properties:
              type: object
              additionalProperties:
                type: string
              description: dictionary object for custom filters
            correlationId:
              type: string
              description: Identifier of the correlation.
            messageId:
              type: string
              description: Identifier of the message.
            to:
              type: string
              description: Address to send to.
            replyTo:
              type: string
              description: Address of the queue to reply to.
            label:
              type: string
              description: Application specific label.
            sessionId:
              type: string
              description: Session identifier.
            replyToSessionId:
              type: string
              description: Session identifier to reply to.
            contentType:
              type: string
              description: Content type of the message.
            requiresPreprocessing:
              type: boolean
              default: true
              description: Value that indicates whether the rule action requires preprocessing.
      description: Description of Rule Resource.
    RuleListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                description: Properties of Rule resource
                type: object
                properties:
                  action:
                    description: Represents the filter actions which are allowed for
                      the transformation of a message that have been matched by a
                      filter expression.
                    type: object
                    properties:
                      sqlExpression:
                        type: string
                        description: SQL expression. e.g. MyProperty='ABC'
                      compatibilityLevel:
                        format: int32
                        type: integer
                        description: This property is reserved for future use. An
                          integer value showing the compatibility level, currently
                          hard-coded to 20.
                      requiresPreprocessing:
                        type: boolean
                        default: true
                        description: Value that indicates whether the rule action
                          requires preprocessing.
                  filterType:
                    description: Filter type that is evaluated against a BrokeredMessage.
                    type: string
                    enum:
                    - SqlFilter
                    - CorrelationFilter
                    x-ms-enum:
                      name: FilterType
                      modelAsString: false
                  sqlFilter:
                    description: Properties of sqlFilter
                    type: object
                    properties:
                      sqlExpression:
                        type: string
                        description: The SQL expression. e.g. MyProperty='ABC'
                      compatibilityLevel:
                        format: int32
                        type: integer
                        description: This property is reserved for future use. An
                          integer value showing the compatibility level, currently
                          hard-coded to 20.
                      requiresPreprocessing:
                        type: boolean
                        default: true
                        description: Value that indicates whether the rule action
                          requires preprocessing.
                  correlationFilter:
                    description: Properties of correlationFilter
                    type: object
                    properties:
                      properties:
                        type: object
                        additionalProperties:
                          type: string
                        description: dictionary object for custom filters
                      correlationId:
                        type: string
                        description: Identifier of the correlation.
                      messageId:
                        type: string
                        description: Identifier of the message.
                      to:
                        type: string
                        description: Address to send to.
                      replyTo:
                        type: string
                        description: Address of the queue to reply to.
                      label:
                        type: string
                        description: Application specific label.
                      sessionId:
                        type: string
                        description: Session identifier.
                      replyToSessionId:
                        type: string
                        description: Session identifier to reply to.
                      contentType:
                        type: string
                        description: Content type of the message.
                      requiresPreprocessing:
                        type: boolean
                        default: true
                        description: Value that indicates whether the rule action
                          requires preprocessing.
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Result of the List Rules operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of rules
      description: The response of the List rule operation.
    FilterType:
      type: string
      enum:
      - SqlFilter
      - CorrelationFilter
      x-ms-enum:
        name: FilterType
        modelAsString: false
      description: Rule filter types
    SqlFilter:
      type: object
      properties:
        sqlExpression:
          type: string
          description: The SQL expression. e.g. MyProperty='ABC'
        compatibilityLevel:
          format: int32
          type: integer
          description: This property is reserved for future use. An integer value
            showing the compatibility level, currently hard-coded to 20.
        requiresPreprocessing:
          type: boolean
          default: true
          description: Value that indicates whether the rule action requires preprocessing.
      description: Represents a filter which is a composition of an expression and
        an action that is executed in the pub/sub pipeline.
    CorrelationFilter:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: string
          description: dictionary object for custom filters
        correlationId:
          type: string
          description: Identifier of the correlation.
        messageId:
          type: string
          description: Identifier of the message.
        to:
          type: string
          description: Address to send to.
        replyTo:
          type: string
          description: Address of the queue to reply to.
        label:
          type: string
          description: Application specific label.
        sessionId:
          type: string
          description: Session identifier.
        replyToSessionId:
          type: string
          description: Session identifier to reply to.
        contentType:
          type: string
          description: Content type of the message.
        requiresPreprocessing:
          type: boolean
          default: true
          description: Value that indicates whether the rule action requires preprocessing.
      description: Represents the correlation filter expression.
    Action:
      type: object
      properties:
        sqlExpression:
          type: string
          description: SQL expression. e.g. MyProperty='ABC'
        compatibilityLevel:
          format: int32
          type: integer
          description: This property is reserved for future use. An integer value
            showing the compatibility level, currently hard-coded to 20.
        requiresPreprocessing:
          type: boolean
          default: true
          description: Value that indicates whether the rule action requires preprocessing.
      description: Represents the filter actions which are allowed for the transformation
        of a message that have been matched by a filter expression.
    SqlRuleAction:
      type: object
      properties:
        sqlExpression:
          type: string
          description: SQL expression. e.g. MyProperty='ABC'
        compatibilityLevel:
          format: int32
          type: integer
          description: This property is reserved for future use. An integer value
            showing the compatibility level, currently hard-coded to 20.
        requiresPreprocessing:
          type: boolean
          default: true
          description: Value that indicates whether the rule action requires preprocessing.
      description: Represents the filter actions which are allowed for the transformation
        of a message that have been matched by a filter expression.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
