openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions
  : get:
      tags:
      - Subscriptions
      operationId: Subscriptions_ListByTopic
      description: List all the subscriptions under a specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $skip
        description: Skip is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skip parameter that specifies a starting
          point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 0
          maximum: 1000
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      responses:
        '200':
          description: Successfully retrieved list of subscriptions.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of subscriptions resource.
                          type: object
                          properties:
                            messageCount:
                              readOnly: true
                              format: int64
                              type: integer
                              description: Number of messages.
                            createdAt:
                              readOnly: true
                              type: string
                              format: date-time
                              description: Exact time the message was created.
                            accessedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: Last time there was a receive request to
                                this subscription.
                            updatedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The exact time the message was updated.
                            countDetails:
                              readOnly: true
                              description: Message count details
                              type: object
                              properties:
                                activeMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of active messages in the queue,
                                    topic, or subscription.
                                deadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages that are dead lettered.
                                scheduledMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of scheduled messages.
                                transferMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred to another
                                    queue, topic, or subscription.
                                transferDeadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred into
                                    dead letters.
                            lockDuration:
                              format: duration
                              type: string
                              description: ISO 8061 lock duration timespan for the
                                subscription. The default value is 1 minute.
                            requiresSession:
                              type: boolean
                              description: Value indicating if a subscription supports
                                the concept of sessions.
                            defaultMessageTimeToLive:
                              format: duration
                              type: string
                              description: ISO 8061 Default message timespan to live
                                value. This is the duration after which the message
                                expires, starting from when the message is sent to
                                Service Bus. This is the default value used when TimeToLive
                                is not set on a message itself.
                            deadLetteringOnFilterEvaluationExceptions:
                              type: boolean
                              description: Value that indicates whether a subscription
                                has dead letter support on filter evaluation exceptions.
                            deadLetteringOnMessageExpiration:
                              type: boolean
                              description: Value that indicates whether a subscription
                                has dead letter support when a message expires.
                            duplicateDetectionHistoryTimeWindow:
                              format: duration
                              type: string
                              description: ISO 8601 timeSpan structure that defines
                                the duration of the duplicate detection history. The
                                default value is 10 minutes.
                            maxDeliveryCount:
                              format: int32
                              type: integer
                              description: Number of maximum deliveries.
                            status:
                              description: Enumerates the possible values for the
                                status of a messaging entity.
                              type: string
                              enum:
                              - Active
                              - Disabled
                              - Restoring
                              - SendDisabled
                              - ReceiveDisabled
                              - Creating
                              - Deleting
                              - Renaming
                              - Unknown
                              x-ms-enum:
                                name: EntityStatus
                                modelAsString: false
                            enableBatchedOperations:
                              type: boolean
                              description: Value that indicates whether server-side
                                batched operations are enabled.
                            autoDeleteOnIdle:
                              format: duration
                              type: string
                              description: ISO 8061 timeSpan idle interval after which
                                the topic is automatically deleted. The minimum duration
                                is 5 minutes.
                            forwardTo:
                              type: string
                              description: Queue/Topic name to forward the messages
                            forwardDeadLetteredMessagesTo:
                              type: string
                              description: Queue/Topic name to forward the Dead Letter
                                message
                            isClientAffine:
                              type: boolean
                              description: Value that indicates whether the subscription
                                has an affinity to the client id.
                            clientAffineProperties:
                              description: Properties specific to client affine subscriptions.
                              type: object
                              properties:
                                clientId:
                                  type: string
                                  description: Indicates the Client ID of the application
                                    that created the client-affine subscription.
                                isDurable:
                                  type: boolean
                                  description: For client-affine subscriptions, this
                                    value indicates whether the subscription is durable
                                    or not.
                                isShared:
                                  type: boolean
                                  description: For client-affine subscriptions, this
                                    value indicates whether the subscription is shared
                                    or not.
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the List Subscriptions operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of subscriptions.
                description: The response to the List Subscriptions operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}
  : put:
      tags:
      - Subscriptions
      operationId: Subscriptions_CreateOrUpdate
      description: Creates a topic subscription.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Properties of subscriptions resource.
                  type: object
                  properties:
                    messageCount:
                      readOnly: true
                      format: int64
                      type: integer
                      description: Number of messages.
                    createdAt:
                      readOnly: true
                      type: string
                      format: date-time
                      description: Exact time the message was created.
                    accessedAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: Last time there was a receive request to this subscription.
                    updatedAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: The exact time the message was updated.
                    countDetails:
                      readOnly: true
                      description: Message count details
                      type: object
                      properties:
                        activeMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of active messages in the queue, topic,
                            or subscription.
                        deadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages that are dead lettered.
                        scheduledMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of scheduled messages.
                        transferMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred to another queue,
                            topic, or subscription.
                        transferDeadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred into dead letters.
                    lockDuration:
                      format: duration
                      type: string
                      description: ISO 8061 lock duration timespan for the subscription.
                        The default value is 1 minute.
                    requiresSession:
                      type: boolean
                      description: Value indicating if a subscription supports the
                        concept of sessions.
                    defaultMessageTimeToLive:
                      format: duration
                      type: string
                      description: ISO 8061 Default message timespan to live value.
                        This is the duration after which the message expires, starting
                        from when the message is sent to Service Bus. This is the
                        default value used when TimeToLive is not set on a message
                        itself.
                    deadLetteringOnFilterEvaluationExceptions:
                      type: boolean
                      description: Value that indicates whether a subscription has
                        dead letter support on filter evaluation exceptions.
                    deadLetteringOnMessageExpiration:
                      type: boolean
                      description: Value that indicates whether a subscription has
                        dead letter support when a message expires.
                    duplicateDetectionHistoryTimeWindow:
                      format: duration
                      type: string
                      description: ISO 8601 timeSpan structure that defines the duration
                        of the duplicate detection history. The default value is 10
                        minutes.
                    maxDeliveryCount:
                      format: int32
                      type: integer
                      description: Number of maximum deliveries.
                    status:
                      description: Enumerates the possible values for the status of
                        a messaging entity.
                      type: string
                      enum:
                      - Active
                      - Disabled
                      - Restoring
                      - SendDisabled
                      - ReceiveDisabled
                      - Creating
                      - Deleting
                      - Renaming
                      - Unknown
                      x-ms-enum:
                        name: EntityStatus
                        modelAsString: false
                    enableBatchedOperations:
                      type: boolean
                      description: Value that indicates whether server-side batched
                        operations are enabled.
                    autoDeleteOnIdle:
                      format: duration
                      type: string
                      description: ISO 8061 timeSpan idle interval after which the
                        topic is automatically deleted. The minimum duration is 5
                        minutes.
                    forwardTo:
                      type: string
                      description: Queue/Topic name to forward the messages
                    forwardDeadLetteredMessagesTo:
                      type: string
                      description: Queue/Topic name to forward the Dead Letter message
                    isClientAffine:
                      type: boolean
                      description: Value that indicates whether the subscription has
                        an affinity to the client id.
                    clientAffineProperties:
                      description: Properties specific to client affine subscriptions.
                      type: object
                      properties:
                        clientId:
                          type: string
                          description: Indicates the Client ID of the application
                            that created the client-affine subscription.
                        isDurable:
                          type: boolean
                          description: For client-affine subscriptions, this value
                            indicates whether the subscription is durable or not.
                        isShared:
                          type: boolean
                          description: For client-affine subscriptions, this value
                            indicates whether the subscription is shared or not.
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a subscription resource.
        required: true
      responses:
        '200':
          description: Subscription create request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of subscriptions resource.
                    type: object
                    properties:
                      messageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages.
                      createdAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Exact time the message was created.
                      accessedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Last time there was a receive request to this
                          subscription.
                      updatedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The exact time the message was updated.
                      countDetails:
                        readOnly: true
                        description: Message count details
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      lockDuration:
                        format: duration
                        type: string
                        description: ISO 8061 lock duration timespan for the subscription.
                          The default value is 1 minute.
                      requiresSession:
                        type: boolean
                        description: Value indicating if a subscription supports the
                          concept of sessions.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8061 Default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      deadLetteringOnFilterEvaluationExceptions:
                        type: boolean
                        description: Value that indicates whether a subscription has
                          dead letter support on filter evaluation exceptions.
                      deadLetteringOnMessageExpiration:
                        type: boolean
                        description: Value that indicates whether a subscription has
                          dead letter support when a message expires.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO 8601 timeSpan structure that defines the
                          duration of the duplicate detection history. The default
                          value is 10 minutes.
                      maxDeliveryCount:
                        format: int32
                        type: integer
                        description: Number of maximum deliveries.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8061 timeSpan idle interval after which the
                          topic is automatically deleted. The minimum duration is
                          5 minutes.
                      forwardTo:
                        type: string
                        description: Queue/Topic name to forward the messages
                      forwardDeadLetteredMessagesTo:
                        type: string
                        description: Queue/Topic name to forward the Dead Letter message
                      isClientAffine:
                        type: boolean
                        description: Value that indicates whether the subscription
                          has an affinity to the client id.
                      clientAffineProperties:
                        description: Properties specific to client affine subscriptions.
                        type: object
                        properties:
                          clientId:
                            type: string
                            description: Indicates the Client ID of the application
                              that created the client-affine subscription.
                          isDurable:
                            type: boolean
                            description: For client-affine subscriptions, this value
                              indicates whether the subscription is durable or not.
                          isShared:
                            type: boolean
                            description: For client-affine subscriptions, this value
                              indicates whether the subscription is shared or not.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    delete:
      tags:
      - Subscriptions
      operationId: Subscriptions_Delete
      description: Deletes a subscription from the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Subscription successfully deleted.
        '204':
          description: No content.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - Subscriptions
      operationId: Subscriptions_Get
      description: Returns a subscription description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: subscriptionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The subscription name.
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved subscription description.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of subscriptions resource.
                    type: object
                    properties:
                      messageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages.
                      createdAt:
                        readOnly: true
                        type: string
                        format: date-time
                        description: Exact time the message was created.
                      accessedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Last time there was a receive request to this
                          subscription.
                      updatedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The exact time the message was updated.
                      countDetails:
                        readOnly: true
                        description: Message count details
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      lockDuration:
                        format: duration
                        type: string
                        description: ISO 8061 lock duration timespan for the subscription.
                          The default value is 1 minute.
                      requiresSession:
                        type: boolean
                        description: Value indicating if a subscription supports the
                          concept of sessions.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8061 Default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      deadLetteringOnFilterEvaluationExceptions:
                        type: boolean
                        description: Value that indicates whether a subscription has
                          dead letter support on filter evaluation exceptions.
                      deadLetteringOnMessageExpiration:
                        type: boolean
                        description: Value that indicates whether a subscription has
                          dead letter support when a message expires.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO 8601 timeSpan structure that defines the
                          duration of the duplicate detection history. The default
                          value is 10 minutes.
                      maxDeliveryCount:
                        format: int32
                        type: integer
                        description: Number of maximum deliveries.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8061 timeSpan idle interval after which the
                          topic is automatically deleted. The minimum duration is
                          5 minutes.
                      forwardTo:
                        type: string
                        description: Queue/Topic name to forward the messages
                      forwardDeadLetteredMessagesTo:
                        type: string
                        description: Queue/Topic name to forward the Dead Letter message
                      isClientAffine:
                        type: boolean
                        description: Value that indicates whether the subscription
                          has an affinity to the client id.
                      clientAffineProperties:
                        description: Properties specific to client affine subscriptions.
                        type: object
                        properties:
                          clientId:
                            type: string
                            description: Indicates the Client ID of the application
                              that created the client-affine subscription.
                          isDurable:
                            type: boolean
                            description: For client-affine subscriptions, this value
                              indicates whether the subscription is durable or not.
                          isShared:
                            type: boolean
                            description: For client-affine subscriptions, this value
                              indicates whether the subscription is shared or not.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    TopicNameParameter:
      name: topicName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The topic name.
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    SkipParameter:
      name: $skip
      description: Skip is only used if a previous operation returned a partial result.
        If a previous response contains a nextLink element, the value of the nextLink
        element will include a skip parameter that specifies a starting point to use
        for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    TopParameter:
      name: $top
      description: May be used to limit the number of results to the most recent N
        usageDetails.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    SubscriptionNameParameter:
      name: subscriptionName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The subscription name.
      schema:
        type: string
        minLength: 1
        maxLength: 50
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SBSubscriptionListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                description: Properties of subscriptions resource.
                type: object
                properties:
                  messageCount:
                    readOnly: true
                    format: int64
                    type: integer
                    description: Number of messages.
                  createdAt:
                    readOnly: true
                    type: string
                    format: date-time
                    description: Exact time the message was created.
                  accessedAt:
                    readOnly: true
                    format: date-time
                    type: string
                    description: Last time there was a receive request to this subscription.
                  updatedAt:
                    readOnly: true
                    format: date-time
                    type: string
                    description: The exact time the message was updated.
                  countDetails:
                    readOnly: true
                    description: Message count details
                    type: object
                    properties:
                      activeMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of active messages in the queue, topic,
                          or subscription.
                      deadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages that are dead lettered.
                      scheduledMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of scheduled messages.
                      transferMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred to another queue,
                          topic, or subscription.
                      transferDeadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred into dead letters.
                  lockDuration:
                    format: duration
                    type: string
                    description: ISO 8061 lock duration timespan for the subscription.
                      The default value is 1 minute.
                  requiresSession:
                    type: boolean
                    description: Value indicating if a subscription supports the concept
                      of sessions.
                  defaultMessageTimeToLive:
                    format: duration
                    type: string
                    description: ISO 8061 Default message timespan to live value.
                      This is the duration after which the message expires, starting
                      from when the message is sent to Service Bus. This is the default
                      value used when TimeToLive is not set on a message itself.
                  deadLetteringOnFilterEvaluationExceptions:
                    type: boolean
                    description: Value that indicates whether a subscription has dead
                      letter support on filter evaluation exceptions.
                  deadLetteringOnMessageExpiration:
                    type: boolean
                    description: Value that indicates whether a subscription has dead
                      letter support when a message expires.
                  duplicateDetectionHistoryTimeWindow:
                    format: duration
                    type: string
                    description: ISO 8601 timeSpan structure that defines the duration
                      of the duplicate detection history. The default value is 10
                      minutes.
                  maxDeliveryCount:
                    format: int32
                    type: integer
                    description: Number of maximum deliveries.
                  status:
                    description: Enumerates the possible values for the status of
                      a messaging entity.
                    type: string
                    enum:
                    - Active
                    - Disabled
                    - Restoring
                    - SendDisabled
                    - ReceiveDisabled
                    - Creating
                    - Deleting
                    - Renaming
                    - Unknown
                    x-ms-enum:
                      name: EntityStatus
                      modelAsString: false
                  enableBatchedOperations:
                    type: boolean
                    description: Value that indicates whether server-side batched
                      operations are enabled.
                  autoDeleteOnIdle:
                    format: duration
                    type: string
                    description: ISO 8061 timeSpan idle interval after which the topic
                      is automatically deleted. The minimum duration is 5 minutes.
                  forwardTo:
                    type: string
                    description: Queue/Topic name to forward the messages
                  forwardDeadLetteredMessagesTo:
                    type: string
                    description: Queue/Topic name to forward the Dead Letter message
                  isClientAffine:
                    type: boolean
                    description: Value that indicates whether the subscription has
                      an affinity to the client id.
                  clientAffineProperties:
                    description: Properties specific to client affine subscriptions.
                    type: object
                    properties:
                      clientId:
                        type: string
                        description: Indicates the Client ID of the application that
                          created the client-affine subscription.
                      isDurable:
                        type: boolean
                        description: For client-affine subscriptions, this value indicates
                          whether the subscription is durable or not.
                      isShared:
                        type: boolean
                        description: For client-affine subscriptions, this value indicates
                          whether the subscription is shared or not.
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Result of the List Subscriptions operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of subscriptions.
      description: The response to the List Subscriptions operation.
    SBSubscription:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          description: Properties of subscriptions resource.
          type: object
          properties:
            messageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages.
            createdAt:
              readOnly: true
              type: string
              format: date-time
              description: Exact time the message was created.
            accessedAt:
              readOnly: true
              format: date-time
              type: string
              description: Last time there was a receive request to this subscription.
            updatedAt:
              readOnly: true
              format: date-time
              type: string
              description: The exact time the message was updated.
            countDetails:
              readOnly: true
              description: Message count details
              type: object
              properties:
                activeMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of active messages in the queue, topic, or subscription.
                deadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages that are dead lettered.
                scheduledMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of scheduled messages.
                transferMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred to another queue, topic,
                    or subscription.
                transferDeadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred into dead letters.
            lockDuration:
              format: duration
              type: string
              description: ISO 8061 lock duration timespan for the subscription. The
                default value is 1 minute.
            requiresSession:
              type: boolean
              description: Value indicating if a subscription supports the concept
                of sessions.
            defaultMessageTimeToLive:
              format: duration
              type: string
              description: ISO 8061 Default message timespan to live value. This is
                the duration after which the message expires, starting from when the
                message is sent to Service Bus. This is the default value used when
                TimeToLive is not set on a message itself.
            deadLetteringOnFilterEvaluationExceptions:
              type: boolean
              description: Value that indicates whether a subscription has dead letter
                support on filter evaluation exceptions.
            deadLetteringOnMessageExpiration:
              type: boolean
              description: Value that indicates whether a subscription has dead letter
                support when a message expires.
            duplicateDetectionHistoryTimeWindow:
              format: duration
              type: string
              description: ISO 8601 timeSpan structure that defines the duration of
                the duplicate detection history. The default value is 10 minutes.
            maxDeliveryCount:
              format: int32
              type: integer
              description: Number of maximum deliveries.
            status:
              description: Enumerates the possible values for the status of a messaging
                entity.
              type: string
              enum:
              - Active
              - Disabled
              - Restoring
              - SendDisabled
              - ReceiveDisabled
              - Creating
              - Deleting
              - Renaming
              - Unknown
              x-ms-enum:
                name: EntityStatus
                modelAsString: false
            enableBatchedOperations:
              type: boolean
              description: Value that indicates whether server-side batched operations
                are enabled.
            autoDeleteOnIdle:
              format: duration
              type: string
              description: ISO 8061 timeSpan idle interval after which the topic is
                automatically deleted. The minimum duration is 5 minutes.
            forwardTo:
              type: string
              description: Queue/Topic name to forward the messages
            forwardDeadLetteredMessagesTo:
              type: string
              description: Queue/Topic name to forward the Dead Letter message
            isClientAffine:
              type: boolean
              description: Value that indicates whether the subscription has an affinity
                to the client id.
            clientAffineProperties:
              description: Properties specific to client affine subscriptions.
              type: object
              properties:
                clientId:
                  type: string
                  description: Indicates the Client ID of the application that created
                    the client-affine subscription.
                isDurable:
                  type: boolean
                  description: For client-affine subscriptions, this value indicates
                    whether the subscription is durable or not.
                isShared:
                  type: boolean
                  description: For client-affine subscriptions, this value indicates
                    whether the subscription is shared or not.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SBSubscriptionProperties:
      type: object
      properties:
        messageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of messages.
        createdAt:
          readOnly: true
          type: string
          format: date-time
          description: Exact time the message was created.
        accessedAt:
          readOnly: true
          format: date-time
          type: string
          description: Last time there was a receive request to this subscription.
        updatedAt:
          readOnly: true
          format: date-time
          type: string
          description: The exact time the message was updated.
        countDetails:
          readOnly: true
          description: Message count details
          type: object
          properties:
            activeMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of active messages in the queue, topic, or subscription.
            deadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages that are dead lettered.
            scheduledMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of scheduled messages.
            transferMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred to another queue, topic,
                or subscription.
            transferDeadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred into dead letters.
        lockDuration:
          format: duration
          type: string
          description: ISO 8061 lock duration timespan for the subscription. The default
            value is 1 minute.
        requiresSession:
          type: boolean
          description: Value indicating if a subscription supports the concept of
            sessions.
        defaultMessageTimeToLive:
          format: duration
          type: string
          description: ISO 8061 Default message timespan to live value. This is the
            duration after which the message expires, starting from when the message
            is sent to Service Bus. This is the default value used when TimeToLive
            is not set on a message itself.
        deadLetteringOnFilterEvaluationExceptions:
          type: boolean
          description: Value that indicates whether a subscription has dead letter
            support on filter evaluation exceptions.
        deadLetteringOnMessageExpiration:
          type: boolean
          description: Value that indicates whether a subscription has dead letter
            support when a message expires.
        duplicateDetectionHistoryTimeWindow:
          format: duration
          type: string
          description: ISO 8601 timeSpan structure that defines the duration of the
            duplicate detection history. The default value is 10 minutes.
        maxDeliveryCount:
          format: int32
          type: integer
          description: Number of maximum deliveries.
        status:
          description: Enumerates the possible values for the status of a messaging
            entity.
          type: string
          enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
          x-ms-enum:
            name: EntityStatus
            modelAsString: false
        enableBatchedOperations:
          type: boolean
          description: Value that indicates whether server-side batched operations
            are enabled.
        autoDeleteOnIdle:
          format: duration
          type: string
          description: ISO 8061 timeSpan idle interval after which the topic is automatically
            deleted. The minimum duration is 5 minutes.
        forwardTo:
          type: string
          description: Queue/Topic name to forward the messages
        forwardDeadLetteredMessagesTo:
          type: string
          description: Queue/Topic name to forward the Dead Letter message
        isClientAffine:
          type: boolean
          description: Value that indicates whether the subscription has an affinity
            to the client id.
        clientAffineProperties:
          description: Properties specific to client affine subscriptions.
          type: object
          properties:
            clientId:
              type: string
              description: Indicates the Client ID of the application that created
                the client-affine subscription.
            isDurable:
              type: boolean
              description: For client-affine subscriptions, this value indicates whether
                the subscription is durable or not.
            isShared:
              type: boolean
              description: For client-affine subscriptions, this value indicates whether
                the subscription is shared or not.
      description: Description of Subscription Resource.
    SBClientAffineProperties:
      type: object
      properties:
        clientId:
          type: string
          description: Indicates the Client ID of the application that created the
            client-affine subscription.
        isDurable:
          type: boolean
          description: For client-affine subscriptions, this value indicates whether
            the subscription is durable or not.
        isShared:
          type: boolean
          description: For client-affine subscriptions, this value indicates whether
            the subscription is shared or not.
      description: Properties specific to client affine subscriptions.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
[...]
