openapi: 3.0.0
info:
  title: ServiceBusManagementClient
  description: Azure Service Bus client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics
  : get:
      tags:
      - Topics
      operationId: Topics_ListByNamespace
      description: Gets all the topics in a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: $skip
        description: Skip is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skip parameter that specifies a starting
          point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 0
          maximum: 1000
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      responses:
        '200':
          description: Successfully retrieved list of topics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                            or "Microsoft.EventHub/Namespaces/EventHubs"
                        location:
                          type: string
                          readOnly: true
                          description: The geo-location where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of topic resource.
                          type: object
                          properties:
                            sizeInBytes:
                              readOnly: true
                              format: int64
                              type: integer
                              description: Size of the topic, in bytes.
                            createdAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: Exact time the message was created.
                            updatedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: The exact time the message was updated.
                            accessedAt:
                              readOnly: true
                              format: date-time
                              type: string
                              description: Last time the message was sent, or a request
                                was received, for this topic.
                            subscriptionCount:
                              readOnly: true
                              format: int32
                              type: integer
                              description: Number of subscriptions.
                            countDetails:
                              readOnly: true
                              description: Message count details
                              type: object
                              properties:
                                activeMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of active messages in the queue,
                                    topic, or subscription.
                                deadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages that are dead lettered.
                                scheduledMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of scheduled messages.
                                transferMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred to another
                                    queue, topic, or subscription.
                                transferDeadLetterMessageCount:
                                  readOnly: true
                                  format: int64
                                  type: integer
                                  description: Number of messages transferred into
                                    dead letters.
                            defaultMessageTimeToLive:
                              format: duration
                              type: string
                              description: ISO 8601 Default message timespan to live
                                value. This is the duration after which the message
                                expires, starting from when the message is sent to
                                Service Bus. This is the default value used when TimeToLive
                                is not set on a message itself.
                            maxSizeInMegabytes:
                              format: int32
                              type: integer
                              description: Maximum size of the topic in megabytes,
                                which is the size of the memory allocated for the
                                topic. Default is 1024.
                            maxMessageSizeInKilobytes:
                              format: int64
                              type: integer
                              description: Maximum size (in KB) of the message payload
                                that can be accepted by the topic. This property is
                                only used in Premium today and default is 1024.
                            requiresDuplicateDetection:
                              type: boolean
                              description: Value indicating if this topic requires
                                duplicate detection.
                            duplicateDetectionHistoryTimeWindow:
                              format: duration
                              type: string
                              description: ISO8601 timespan structure that defines
                                the duration of the duplicate detection history. The
                                default value is 10 minutes.
                            enableBatchedOperations:
                              type: boolean
                              description: Value that indicates whether server-side
                                batched operations are enabled.
                            status:
                              description: Enumerates the possible values for the
                                status of a messaging entity.
                              type: string
                              enum:
                              - Active
                              - Disabled
                              - Restoring
                              - SendDisabled
                              - ReceiveDisabled
                              - Creating
                              - Deleting
                              - Renaming
                              - Unknown
                              x-ms-enum:
                                name: EntityStatus
                                modelAsString: false
                            supportOrdering:
                              type: boolean
                              description: Value that indicates whether the topic
                                supports ordering.
                            autoDeleteOnIdle:
                              format: duration
                              type: string
                              description: ISO 8601 timespan idle interval after which
                                the topic is automatically deleted. The minimum duration
                                is 5 minutes.
                            enablePartitioning:
                              type: boolean
                              description: Value that indicates whether the topic
                                to be partitioned across multiple message brokers
                                is enabled.
                            enableExpress:
                              type: boolean
                              description: Value that indicates whether Express Entities
                                are enabled. An express topic holds a message in memory
                                temporarily before writing it to persistent storage.
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: Result of the List Topics operation.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Not empty if Value
                      contains incomplete list of topics.
                description: The response to the List Topics operation.
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}
  : put:
      tags:
      - Topics
      operationId: Topics_CreateOrUpdate
      description: Creates a topic in the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                    or "Microsoft.EventHub/Namespaces/EventHubs"
                location:
                  type: string
                  readOnly: true
                  description: The geo-location where the resource lives
                properties:
                  x-ms-client-flatten: true
                  description: Properties of topic resource.
                  type: object
                  properties:
                    sizeInBytes:
                      readOnly: true
                      format: int64
                      type: integer
                      description: Size of the topic, in bytes.
                    createdAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: Exact time the message was created.
                    updatedAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: The exact time the message was updated.
                    accessedAt:
                      readOnly: true
                      format: date-time
                      type: string
                      description: Last time the message was sent, or a request was
                        received, for this topic.
                    subscriptionCount:
                      readOnly: true
                      format: int32
                      type: integer
                      description: Number of subscriptions.
                    countDetails:
                      readOnly: true
                      description: Message count details
                      type: object
                      properties:
                        activeMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of active messages in the queue, topic,
                            or subscription.
                        deadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages that are dead lettered.
                        scheduledMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of scheduled messages.
                        transferMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred to another queue,
                            topic, or subscription.
                        transferDeadLetterMessageCount:
                          readOnly: true
                          format: int64
                          type: integer
                          description: Number of messages transferred into dead letters.
                    defaultMessageTimeToLive:
                      format: duration
                      type: string
                      description: ISO 8601 Default message timespan to live value.
                        This is the duration after which the message expires, starting
                        from when the message is sent to Service Bus. This is the
                        default value used when TimeToLive is not set on a message
                        itself.
                    maxSizeInMegabytes:
                      format: int32
                      type: integer
                      description: Maximum size of the topic in megabytes, which is
                        the size of the memory allocated for the topic. Default is
                        1024.
                    maxMessageSizeInKilobytes:
                      format: int64
                      type: integer
                      description: Maximum size (in KB) of the message payload that
                        can be accepted by the topic. This property is only used in
                        Premium today and default is 1024.
                    requiresDuplicateDetection:
                      type: boolean
                      description: Value indicating if this topic requires duplicate
                        detection.
                    duplicateDetectionHistoryTimeWindow:
                      format: duration
                      type: string
                      description: ISO8601 timespan structure that defines the duration
                        of the duplicate detection history. The default value is 10
                        minutes.
                    enableBatchedOperations:
                      type: boolean
                      description: Value that indicates whether server-side batched
                        operations are enabled.
                    status:
                      description: Enumerates the possible values for the status of
                        a messaging entity.
                      type: string
                      enum:
                      - Active
                      - Disabled
                      - Restoring
                      - SendDisabled
                      - ReceiveDisabled
                      - Creating
                      - Deleting
                      - Renaming
                      - Unknown
                      x-ms-enum:
                        name: EntityStatus
                        modelAsString: false
                    supportOrdering:
                      type: boolean
                      description: Value that indicates whether the topic supports
                        ordering.
                    autoDeleteOnIdle:
                      format: duration
                      type: string
                      description: ISO 8601 timespan idle interval after which the
                        topic is automatically deleted. The minimum duration is 5
                        minutes.
                    enablePartitioning:
                      type: boolean
                      description: Value that indicates whether the topic to be partitioned
                        across multiple message brokers is enabled.
                    enableExpress:
                      type: boolean
                      description: Value that indicates whether Express Entities are
                        enabled. An express topic holds a message in memory temporarily
                        before writing it to persistent storage.
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create a topic resource.
        required: true
      responses:
        '200':
          description: Topic successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of topic resource.
                    type: object
                    properties:
                      sizeInBytes:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Size of the topic, in bytes.
                      createdAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Exact time the message was created.
                      updatedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The exact time the message was updated.
                      accessedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Last time the message was sent, or a request
                          was received, for this topic.
                      subscriptionCount:
                        readOnly: true
                        format: int32
                        type: integer
                        description: Number of subscriptions.
                      countDetails:
                        readOnly: true
                        description: Message count details
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8601 Default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      maxSizeInMegabytes:
                        format: int32
                        type: integer
                        description: Maximum size of the topic in megabytes, which
                          is the size of the memory allocated for the topic. Default
                          is 1024.
                      maxMessageSizeInKilobytes:
                        format: int64
                        type: integer
                        description: Maximum size (in KB) of the message payload that
                          can be accepted by the topic. This property is only used
                          in Premium today and default is 1024.
                      requiresDuplicateDetection:
                        type: boolean
                        description: Value indicating if this topic requires duplicate
                          detection.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO8601 timespan structure that defines the duration
                          of the duplicate detection history. The default value is
                          10 minutes.
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      supportOrdering:
                        type: boolean
                        description: Value that indicates whether the topic supports
                          ordering.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8601 timespan idle interval after which the
                          topic is automatically deleted. The minimum duration is
                          5 minutes.
                      enablePartitioning:
                        type: boolean
                        description: Value that indicates whether the topic to be
                          partitioned across multiple message brokers is enabled.
                      enableExpress:
                        type: boolean
                        description: Value that indicates whether Express Entities
                          are enabled. An express topic holds a message in memory
                          temporarily before writing it to persistent storage.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    delete:
      tags:
      - Topics
      operationId: Topics_Delete
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Topic successfully deleted.
        '204':
          description: No Content
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
    get:
      tags:
      - Topics
      operationId: Topics_Get
      description: Returns a description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: namespaceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The namespace name
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: topicName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The topic name.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      responses:
        '200':
          description: Topic description successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                      or "Microsoft.EventHub/Namespaces/EventHubs"
                  location:
                    type: string
                    readOnly: true
                    description: The geo-location where the resource lives
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of topic resource.
                    type: object
                    properties:
                      sizeInBytes:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Size of the topic, in bytes.
                      createdAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Exact time the message was created.
                      updatedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: The exact time the message was updated.
                      accessedAt:
                        readOnly: true
                        format: date-time
                        type: string
                        description: Last time the message was sent, or a request
                          was received, for this topic.
                      subscriptionCount:
                        readOnly: true
                        format: int32
                        type: integer
                        description: Number of subscriptions.
                      countDetails:
                        readOnly: true
                        description: Message count details
                        type: object
                        properties:
                          activeMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of active messages in the queue, topic,
                              or subscription.
                          deadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages that are dead lettered.
                          scheduledMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of scheduled messages.
                          transferMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred to another
                              queue, topic, or subscription.
                          transferDeadLetterMessageCount:
                            readOnly: true
                            format: int64
                            type: integer
                            description: Number of messages transferred into dead
                              letters.
                      defaultMessageTimeToLive:
                        format: duration
                        type: string
                        description: ISO 8601 Default message timespan to live value.
                          This is the duration after which the message expires, starting
                          from when the message is sent to Service Bus. This is the
                          default value used when TimeToLive is not set on a message
                          itself.
                      maxSizeInMegabytes:
                        format: int32
                        type: integer
                        description: Maximum size of the topic in megabytes, which
                          is the size of the memory allocated for the topic. Default
                          is 1024.
                      maxMessageSizeInKilobytes:
                        format: int64
                        type: integer
                        description: Maximum size (in KB) of the message payload that
                          can be accepted by the topic. This property is only used
                          in Premium today and default is 1024.
                      requiresDuplicateDetection:
                        type: boolean
                        description: Value indicating if this topic requires duplicate
                          detection.
                      duplicateDetectionHistoryTimeWindow:
                        format: duration
                        type: string
                        description: ISO8601 timespan structure that defines the duration
                          of the duplicate detection history. The default value is
                          10 minutes.
                      enableBatchedOperations:
                        type: boolean
                        description: Value that indicates whether server-side batched
                          operations are enabled.
                      status:
                        description: Enumerates the possible values for the status
                          of a messaging entity.
                        type: string
                        enum:
                        - Active
                        - Disabled
                        - Restoring
                        - SendDisabled
                        - ReceiveDisabled
                        - Creating
                        - Deleting
                        - Renaming
                        - Unknown
                        x-ms-enum:
                          name: EntityStatus
                          modelAsString: false
                      supportOrdering:
                        type: boolean
                        description: Value that indicates whether the topic supports
                          ordering.
                      autoDeleteOnIdle:
                        format: duration
                        type: string
                        description: ISO 8601 timespan idle interval after which the
                          topic is automatically deleted. The minimum duration is
                          5 minutes.
                      enablePartitioning:
                        type: boolean
                        description: Value that indicates whether the topic to be
                          partitioned across multiple message brokers is enabled.
                      enableExpress:
                        type: boolean
                        description: Value that indicates whether Express Entities
                          are enabled. An express topic holds a message in memory
                          temporarily before writing it to persistent storage.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            error:
                              type: object
                              description: The error object.
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                    description: The resource management error response.
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  description: The error additional info.
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NamespaceNameParameter:
      name: namespaceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The namespace name
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    SkipParameter:
      name: $skip
      description: Skip is only used if a previous operation returned a partial result.
        If a previous response contains a nextLink element, the value of the nextLink
        element will include a skip parameter that specifies a starting point to use
        for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    TopParameter:
      name: $top
      description: May be used to limit the number of results to the most recent N
        usageDetails.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    TopicNameParameter:
      name: topicName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The topic name.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SBTopicListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
                  or "Microsoft.EventHub/Namespaces/EventHubs"
              location:
                type: string
                readOnly: true
                description: The geo-location where the resource lives
              properties:
                x-ms-client-flatten: true
                description: Properties of topic resource.
                type: object
                properties:
                  sizeInBytes:
                    readOnly: true
                    format: int64
                    type: integer
                    description: Size of the topic, in bytes.
                  createdAt:
                    readOnly: true
                    format: date-time
                    type: string
                    description: Exact time the message was created.
                  updatedAt:
                    readOnly: true
                    format: date-time
                    type: string
                    description: The exact time the message was updated.
                  accessedAt:
                    readOnly: true
                    format: date-time
                    type: string
                    description: Last time the message was sent, or a request was
                      received, for this topic.
                  subscriptionCount:
                    readOnly: true
                    format: int32
                    type: integer
                    description: Number of subscriptions.
                  countDetails:
                    readOnly: true
                    description: Message count details
                    type: object
                    properties:
                      activeMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of active messages in the queue, topic,
                          or subscription.
                      deadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages that are dead lettered.
                      scheduledMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of scheduled messages.
                      transferMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred to another queue,
                          topic, or subscription.
                      transferDeadLetterMessageCount:
                        readOnly: true
                        format: int64
                        type: integer
                        description: Number of messages transferred into dead letters.
                  defaultMessageTimeToLive:
                    format: duration
                    type: string
                    description: ISO 8601 Default message timespan to live value.
                      This is the duration after which the message expires, starting
                      from when the message is sent to Service Bus. This is the default
                      value used when TimeToLive is not set on a message itself.
                  maxSizeInMegabytes:
                    format: int32
                    type: integer
                    description: Maximum size of the topic in megabytes, which is
                      the size of the memory allocated for the topic. Default is 1024.
                  maxMessageSizeInKilobytes:
                    format: int64
                    type: integer
                    description: Maximum size (in KB) of the message payload that
                      can be accepted by the topic. This property is only used in
                      Premium today and default is 1024.
                  requiresDuplicateDetection:
                    type: boolean
                    description: Value indicating if this topic requires duplicate
                      detection.
                  duplicateDetectionHistoryTimeWindow:
                    format: duration
                    type: string
                    description: ISO8601 timespan structure that defines the duration
                      of the duplicate detection history. The default value is 10
                      minutes.
                  enableBatchedOperations:
                    type: boolean
                    description: Value that indicates whether server-side batched
                      operations are enabled.
                  status:
                    description: Enumerates the possible values for the status of
                      a messaging entity.
                    type: string
                    enum:
                    - Active
                    - Disabled
                    - Restoring
                    - SendDisabled
                    - ReceiveDisabled
                    - Creating
                    - Deleting
                    - Renaming
                    - Unknown
                    x-ms-enum:
                      name: EntityStatus
                      modelAsString: false
                  supportOrdering:
                    type: boolean
                    description: Value that indicates whether the topic supports ordering.
                  autoDeleteOnIdle:
                    format: duration
                    type: string
                    description: ISO 8601 timespan idle interval after which the topic
                      is automatically deleted. The minimum duration is 5 minutes.
                  enablePartitioning:
                    type: boolean
                    description: Value that indicates whether the topic to be partitioned
                      across multiple message brokers is enabled.
                  enableExpress:
                    type: boolean
                    description: Value that indicates whether Express Entities are
                      enabled. An express topic holds a message in memory temporarily
                      before writing it to persistent storage.
              systemData:
                readOnly: true
                description: The system meta data relating to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: Result of the List Topics operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains
            incomplete list of topics.
      description: The response to the List Topics operation.
    SBTopic:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          x-ms-client-flatten: true
          description: Properties of topic resource.
          type: object
          properties:
            sizeInBytes:
              readOnly: true
              format: int64
              type: integer
              description: Size of the topic, in bytes.
            createdAt:
              readOnly: true
              format: date-time
              type: string
              description: Exact time the message was created.
            updatedAt:
              readOnly: true
              format: date-time
              type: string
              description: The exact time the message was updated.
            accessedAt:
              readOnly: true
              format: date-time
              type: string
              description: Last time the message was sent, or a request was received,
                for this topic.
            subscriptionCount:
              readOnly: true
              format: int32
              type: integer
              description: Number of subscriptions.
            countDetails:
              readOnly: true
              description: Message count details
              type: object
              properties:
                activeMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of active messages in the queue, topic, or subscription.
                deadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages that are dead lettered.
                scheduledMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of scheduled messages.
                transferMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred to another queue, topic,
                    or subscription.
                transferDeadLetterMessageCount:
                  readOnly: true
                  format: int64
                  type: integer
                  description: Number of messages transferred into dead letters.
            defaultMessageTimeToLive:
              format: duration
              type: string
              description: ISO 8601 Default message timespan to live value. This is
                the duration after which the message expires, starting from when the
                message is sent to Service Bus. This is the default value used when
                TimeToLive is not set on a message itself.
            maxSizeInMegabytes:
              format: int32
              type: integer
              description: Maximum size of the topic in megabytes, which is the size
                of the memory allocated for the topic. Default is 1024.
            maxMessageSizeInKilobytes:
              format: int64
              type: integer
              description: Maximum size (in KB) of the message payload that can be
                accepted by the topic. This property is only used in Premium today
                and default is 1024.
            requiresDuplicateDetection:
              type: boolean
              description: Value indicating if this topic requires duplicate detection.
            duplicateDetectionHistoryTimeWindow:
              format: duration
              type: string
              description: ISO8601 timespan structure that defines the duration of
                the duplicate detection history. The default value is 10 minutes.
            enableBatchedOperations:
              type: boolean
              description: Value that indicates whether server-side batched operations
                are enabled.
            status:
              description: Enumerates the possible values for the status of a messaging
                entity.
              type: string
              enum:
              - Active
              - Disabled
              - Restoring
              - SendDisabled
              - ReceiveDisabled
              - Creating
              - Deleting
              - Renaming
              - Unknown
              x-ms-enum:
                name: EntityStatus
                modelAsString: false
            supportOrdering:
              type: boolean
              description: Value that indicates whether the topic supports ordering.
            autoDeleteOnIdle:
              format: duration
              type: string
              description: ISO 8601 timespan idle interval after which the topic is
                automatically deleted. The minimum duration is 5 minutes.
            enablePartitioning:
              type: boolean
              description: Value that indicates whether the topic to be partitioned
                across multiple message brokers is enabled.
            enableExpress:
              type: boolean
              description: Value that indicates whether Express Entities are enabled.
                An express topic holds a message in memory temporarily before writing
                it to persistent storage.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The type of identity that last modified the resource.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SBTopicProperties:
      type: object
      properties:
        sizeInBytes:
          readOnly: true
          format: int64
          type: integer
          description: Size of the topic, in bytes.
        createdAt:
          readOnly: true
          format: date-time
          type: string
          description: Exact time the message was created.
        updatedAt:
          readOnly: true
          format: date-time
          type: string
          description: The exact time the message was updated.
        accessedAt:
          readOnly: true
          format: date-time
          type: string
          description: Last time the message was sent, or a request was received,
            for this topic.
        subscriptionCount:
          readOnly: true
          format: int32
          type: integer
          description: Number of subscriptions.
        countDetails:
          readOnly: true
          description: Message count details
          type: object
          properties:
            activeMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of active messages in the queue, topic, or subscription.
            deadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages that are dead lettered.
            scheduledMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of scheduled messages.
            transferMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred to another queue, topic,
                or subscription.
            transferDeadLetterMessageCount:
              readOnly: true
              format: int64
              type: integer
              description: Number of messages transferred into dead letters.
        defaultMessageTimeToLive:
          format: duration
          type: string
          description: ISO 8601 Default message timespan to live value. This is the
            duration after which the message expires, starting from when the message
            is sent to Service Bus. This is the default value used when TimeToLive
            is not set on a message itself.
        maxSizeInMegabytes:
          format: int32
          type: integer
          description: Maximum size of the topic in megabytes, which is the size of
            the memory allocated for the topic. Default is 1024.
        maxMessageSizeInKilobytes:
          format: int64
          type: integer
          description: Maximum size (in KB) of the message payload that can be accepted
            by the topic. This property is only used in Premium today and default
            is 1024.
        requiresDuplicateDetection:
          type: boolean
          description: Value indicating if this topic requires duplicate detection.
        duplicateDetectionHistoryTimeWindow:
          format: duration
          type: string
          description: ISO8601 timespan structure that defines the duration of the
            duplicate detection history. The default value is 10 minutes.
        enableBatchedOperations:
          type: boolean
          description: Value that indicates whether server-side batched operations
            are enabled.
        status:
          description: Enumerates the possible values for the status of a messaging
            entity.
          type: string
          enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
          x-ms-enum:
            name: EntityStatus
            modelAsString: false
        supportOrdering:
          type: boolean
          description: Value that indicates whether the topic supports ordering.
        autoDeleteOnIdle:
          format: duration
          type: string
          description: ISO 8601 timespan idle interval after which the topic is automatically
            deleted. The minimum duration is 5 minutes.
        enablePartitioning:
          type: boolean
          description: Value that indicates whether the topic to be partitioned across
            multiple message brokers is enabled.
        enableExpress:
          type: boolean
          description: Value that indicates whether Express Entities are enabled.
            An express topic holds a message in memory temporarily before writing
            it to persistent storage.
      description: The Topic Properties definition.
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties: {}
                          description: The resource management error response.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
                description: The resource management error response.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ProxyResource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.EventHub/Namespaces"
            or "Microsoft.EventHub/Namespaces/EventHubs"
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    MessageCountDetails:
      type: object
      properties:
        activeMessageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of active messages in the queue, topic, or subscription.
        deadLetterMessageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of messages that are dead lettered.
        scheduledMessageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of scheduled messages.
        transferMessageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of messages transferred to another queue, topic, or
            subscription.
        transferDeadLetterMessageCount:
          readOnly: true
          format: int64
          type: integer
          description: Number of messages transferred into dead letters.
      description: Message Count Details.
    EntityStatus:
      type: string
      enum:
      - Active
      - Disabled
      - Restoring
      - SendDisabled
      - ReceiveDisabled
      - Creating
      - Deleting
      - Renaming
      - Unknown
      x-ms-enum:
        name: EntityStatus
        modelAsString: false
      description: Entity status.
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
