openapi: 3.0.0
info:
  title: HDInsight on AKS Management Client
  description: The HDInsight on AKS Management Client.
  version: 2024-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusterpools/{clusterPoolName}
  : get:
      description: Gets a cluster pool.
      operationId: ClusterPools_Get
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: clusterPoolName
        in: path
        required: true
        description: The name of the cluster pool.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Clusterpool details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties. Define cluster pool
                      specific properties.
                    type: object
                    required:
                    - computeProfile
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Canceled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStatus
                          modelAsString: true
                        readOnly: true
                      deploymentId:
                        type: string
                        description: A unique id generated by the RP to identify the
                          resource.
                        readOnly: true
                      managedResourceGroupName:
                        type: string
                        description: 'A resource group created by RP, to hold the
                          resources created by RP on-behalf of customers. It will
                          also be used to generate aksManagedResourceGroupName by
                          pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                          Please make sure it meets resource group name restriction.'
                        minLength: 1
                        maxLength: 40
                      aksManagedResourceGroupName:
                        type: string
                        description: 'A resource group created by AKS, to hold the
                          infrastructure resources created by AKS on-behalf of customers.
                          It is generated by cluster pool name and managed resource
                          group name by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                        readOnly: true
                      clusterPoolProfile:
                        type: object
                        properties:
                          clusterPoolVersion:
                            type: string
                            description: Cluster pool version is a 2-part version.
                            pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                          publicIpTag:
                            description: 'Gets or sets the IP tag for the public IPs
                              created along with the HDInsightOnAks ClusterPools and
                              Clusters. '
                            type: object
                            required:
                            - ipTagType
                            - tag
                            properties:
                              ipTagType:
                                type: string
                                description: 'Gets or sets the ipTag type: Example
                                  FirstPartyUsage.'
                              tag:
                                type: string
                                description: Gets or sets value of the IpTag associated
                                  with the public IP. Example HDInsight, SQL, Storage
                                  etc
                        required:
                        - clusterPoolVersion
                        description: Cluster pool profile.
                      computeProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: The virtual machine SKU.
                            pattern: ^[a-zA-Z0-9_\-]{0,256}$
                          count:
                            description: The number of virtual machines.
                            type: integer
                            format: int32
                            readOnly: true
                          availabilityZones:
                            type: array
                            items:
                              type: string
                            description: The list of Availability zones to use for
                              AKS VMSS nodes.
                        required:
                        - vmSize
                        description: Cluster pool compute profile.
                      aksClusterProfile:
                        type: object
                        properties:
                          aksClusterResourceId:
                            type: string
                            description: ARM Resource ID of the AKS cluster
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ContainerService/managedClusters
                          aksClusterAgentPoolIdentityProfile:
                            type: object
                            properties:
                              msiResourceId:
                                type: string
                                description: ResourceId of the MSI.
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedIdentity/userAssignedIdentities
                              msiClientId:
                                type: string
                                description: ClientId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                              msiObjectId:
                                type: string
                                description: ObjectId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            required:
                            - msiResourceId
                            - msiClientId
                            - msiObjectId
                            description: Identity Profile with details of an MSI.
                          aksVersion:
                            type: string
                            description: AKS control plane and default node pool version
                              of this ClusterPool
                            readOnly: true
                        description: Properties of the cluster pool underlying AKS
                          cluster.
                        readOnly: true
                      networkProfile:
                        type: object
                        properties:
                          subnetId:
                            type: string
                            description: Cluster pool subnet resource id.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          outboundType:
                            type: string
                            enum:
                            - loadBalancer
                            - userDefinedRouting
                            x-ms-enum:
                              name: outboundType
                              modelAsString: true
                              values:
                              - value: loadBalancer
                                description: 'The load balancer is used for egress
                                  through an AKS assigned public IP. This supports
                                  Kubernetes services of type ''loadBalancer''. '
                              - value: userDefinedRouting
                                description: 'Egress paths must be defined by the
                                  user. This is an advanced scenario and requires
                                  proper network configuration. '
                            default: loadBalancer
                            title: The outbound (egress) routing method.
                            description: 'This can only be set at cluster pool creation
                              time and cannot be changed later. '
                          enablePrivateApiServer:
                            type: boolean
                            description: ClusterPool is based on AKS cluster. AKS
                              cluster exposes the API server to public internet by
                              default. If you set this property to true, a private
                              AKS cluster will be created, and it will use private
                              apiserver, which is not exposed to public internet.
                            x-ms-mutability:
                            - create
                            - read
                          apiServerAuthorizedIpRanges:
                            type: array
                            items:
                              type: string
                            title: The IP ranges authorized to access the AKS API
                              server.
                            description: IP ranges are specified in CIDR format, e.g.
                              137.117.106.88/29. This feature is not compatible with
                              private AKS clusters. So you cannot set enablePrivateApiServer
                              to true and apiServerAuthorizedIpRanges at the same
                              time. Currently, this property is not supported and
                              please don't use it.
                        required:
                        - subnetId
                        description: Cluster pool networking configuration.
                      logAnalyticsProfile:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True if log analytics is enabled for cluster
                              pool, otherwise false.
                          workspaceId:
                            type: string
                            description: Log analytics workspace to associate with
                              the OMS agent.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.OperationalInsights/workspaces
                        required:
                        - enabled
                        description: Cluster pool log analytics profile used to enable
                          or disable OMS agent for AKS cluster.
                      status:
                        type: string
                        description: Business status of the resource.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error Response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      description: Creates or updates a cluster pool.
      operationId: ClusterPools_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: clusterPoolName
        in: path
        required: true
        description: The name of the cluster pool.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  description: Gets or sets the properties. Define cluster pool specific
                    properties.
                  type: object
                  required:
                  - computeProfile
                  properties:
                    provisioningState:
                      description: Provisioning state of the resource.
                      type: string
                      enum:
                      - Accepted
                      - Succeeded
                      - Canceled
                      - Failed
                      x-ms-enum:
                        name: ProvisioningStatus
                        modelAsString: true
                      readOnly: true
                    deploymentId:
                      type: string
                      description: A unique id generated by the RP to identify the
                        resource.
                      readOnly: true
                    managedResourceGroupName:
                      type: string
                      description: 'A resource group created by RP, to hold the resources
                        created by RP on-behalf of customers. It will also be used
                        to generate aksManagedResourceGroupName by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                        Please make sure it meets resource group name restriction.'
                      minLength: 1
                      maxLength: 40
                    aksManagedResourceGroupName:
                      type: string
                      description: 'A resource group created by AKS, to hold the infrastructure
                        resources created by AKS on-behalf of customers. It is generated
                        by cluster pool name and managed resource group name by pattern:
                        MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                      readOnly: true
                    clusterPoolProfile:
                      type: object
                      properties:
                        clusterPoolVersion:
                          type: string
                          description: Cluster pool version is a 2-part version.
                          pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                        publicIpTag:
                          description: 'Gets or sets the IP tag for the public IPs
                            created along with the HDInsightOnAks ClusterPools and
                            Clusters. '
                          type: object
                          required:
                          - ipTagType
                          - tag
                          properties:
                            ipTagType:
                              type: string
                              description: 'Gets or sets the ipTag type: Example FirstPartyUsage.'
                            tag:
                              type: string
                              description: Gets or sets value of the IpTag associated
                                with the public IP. Example HDInsight, SQL, Storage
                                etc
                      required:
                      - clusterPoolVersion
                      description: Cluster pool profile.
                    computeProfile:
                      type: object
                      properties:
                        vmSize:
                          type: string
                          description: The virtual machine SKU.
                          pattern: ^[a-zA-Z0-9_\-]{0,256}$
                        count:
                          description: The number of virtual machines.
                          type: integer
                          format: int32
                          readOnly: true
                        availabilityZones:
                          type: array
                          items:
                            type: string
                          description: The list of Availability zones to use for AKS
                            VMSS nodes.
                      required:
                      - vmSize
                      description: Cluster pool compute profile.
                    aksClusterProfile:
                      type: object
                      properties:
                        aksClusterResourceId:
                          type: string
                          description: ARM Resource ID of the AKS cluster
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ContainerService/managedClusters
                        aksClusterAgentPoolIdentityProfile:
                          type: object
                          properties:
                            msiResourceId:
                              type: string
                              description: ResourceId of the MSI.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedIdentity/userAssignedIdentities
                            msiClientId:
                              type: string
                              description: ClientId of the MSI.
                              pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            msiObjectId:
                              type: string
                              description: ObjectId of the MSI.
                              pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                          required:
                          - msiResourceId
                          - msiClientId
                          - msiObjectId
                          description: Identity Profile with details of an MSI.
                        aksVersion:
                          type: string
                          description: AKS control plane and default node pool version
                            of this ClusterPool
                          readOnly: true
                      description: Properties of the cluster pool underlying AKS cluster.
                      readOnly: true
                    networkProfile:
                      type: object
                      properties:
                        subnetId:
                          type: string
                          description: Cluster pool subnet resource id.
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.Network/virtualNetworks/subnets
                        outboundType:
                          type: string
                          enum:
                          - loadBalancer
                          - userDefinedRouting
                          x-ms-enum:
                            name: outboundType
                            modelAsString: true
                            values:
                            - value: loadBalancer
                              description: 'The load balancer is used for egress through
                                an AKS assigned public IP. This supports Kubernetes
                                services of type ''loadBalancer''. '
                            - value: userDefinedRouting
                              description: 'Egress paths must be defined by the user.
                                This is an advanced scenario and requires proper network
                                configuration. '
                          default: loadBalancer
                          title: The outbound (egress) routing method.
                          description: 'This can only be set at cluster pool creation
                            time and cannot be changed later. '
                        enablePrivateApiServer:
                          type: boolean
                          description: ClusterPool is based on AKS cluster. AKS cluster
                            exposes the API server to public internet by default.
                            If you set this property to true, a private AKS cluster
                            will be created, and it will use private apiserver, which
                            is not exposed to public internet.
                          x-ms-mutability:
                          - create
                          - read
                        apiServerAuthorizedIpRanges:
                          type: array
                          items:
                            type: string
                          title: The IP ranges authorized to access the AKS API server.
                          description: IP ranges are specified in CIDR format, e.g.
                            137.117.106.88/29. This feature is not compatible with
                            private AKS clusters. So you cannot set enablePrivateApiServer
                            to true and apiServerAuthorizedIpRanges at the same time.
                            Currently, this property is not supported and please don't
                            use it.
                      required:
                      - subnetId
                      description: Cluster pool networking configuration.
                    logAnalyticsProfile:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: True if log analytics is enabled for cluster
                            pool, otherwise false.
                        workspaceId:
                          type: string
                          description: Log analytics workspace to associate with the
                            OMS agent.
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.OperationalInsights/workspaces
                      required:
                      - enabled
                      description: Cluster pool log analytics profile used to enable
                        or disable OMS agent for AKS cluster.
                    status:
                      type: string
                      description: Business status of the resource.
                      readOnly: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The Cluster Pool to create.
        required: true
      responses:
        '200':
          description: Update successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties. Define cluster pool
                      specific properties.
                    type: object
                    required:
                    - computeProfile
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Canceled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStatus
                          modelAsString: true
                        readOnly: true
                      deploymentId:
                        type: string
                        description: A unique id generated by the RP to identify the
                          resource.
                        readOnly: true
                      managedResourceGroupName:
                        type: string
                        description: 'A resource group created by RP, to hold the
                          resources created by RP on-behalf of customers. It will
                          also be used to generate aksManagedResourceGroupName by
                          pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                          Please make sure it meets resource group name restriction.'
                        minLength: 1
                        maxLength: 40
                      aksManagedResourceGroupName:
                        type: string
                        description: 'A resource group created by AKS, to hold the
                          infrastructure resources created by AKS on-behalf of customers.
                          It is generated by cluster pool name and managed resource
                          group name by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                        readOnly: true
                      clusterPoolProfile:
                        type: object
                        properties:
                          clusterPoolVersion:
                            type: string
                            description: Cluster pool version is a 2-part version.
                            pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                          publicIpTag:
                            description: 'Gets or sets the IP tag for the public IPs
                              created along with the HDInsightOnAks ClusterPools and
                              Clusters. '
                            type: object
                            required:
                            - ipTagType
                            - tag
                            properties:
                              ipTagType:
                                type: string
                                description: 'Gets or sets the ipTag type: Example
                                  FirstPartyUsage.'
                              tag:
                                type: string
                                description: Gets or sets value of the IpTag associated
                                  with the public IP. Example HDInsight, SQL, Storage
                                  etc
                        required:
                        - clusterPoolVersion
                        description: Cluster pool profile.
                      computeProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: The virtual machine SKU.
                            pattern: ^[a-zA-Z0-9_\-]{0,256}$
                          count:
                            description: The number of virtual machines.
                            type: integer
                            format: int32
                            readOnly: true
                          availabilityZones:
                            type: array
                            items:
                              type: string
                            description: The list of Availability zones to use for
                              AKS VMSS nodes.
                        required:
                        - vmSize
                        description: Cluster pool compute profile.
                      aksClusterProfile:
                        type: object
                        properties:
                          aksClusterResourceId:
                            type: string
                            description: ARM Resource ID of the AKS cluster
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ContainerService/managedClusters
                          aksClusterAgentPoolIdentityProfile:
                            type: object
                            properties:
                              msiResourceId:
                                type: string
                                description: ResourceId of the MSI.
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedIdentity/userAssignedIdentities
                              msiClientId:
                                type: string
                                description: ClientId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                              msiObjectId:
                                type: string
                                description: ObjectId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            required:
                            - msiResourceId
                            - msiClientId
                            - msiObjectId
                            description: Identity Profile with details of an MSI.
                          aksVersion:
                            type: string
                            description: AKS control plane and default node pool version
                              of this ClusterPool
                            readOnly: true
                        description: Properties of the cluster pool underlying AKS
                          cluster.
                        readOnly: true
                      networkProfile:
                        type: object
                        properties:
                          subnetId:
                            type: string
                            description: Cluster pool subnet resource id.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          outboundType:
                            type: string
                            enum:
                            - loadBalancer
                            - userDefinedRouting
                            x-ms-enum:
                              name: outboundType
                              modelAsString: true
                              values:
                              - value: loadBalancer
                                description: 'The load balancer is used for egress
                                  through an AKS assigned public IP. This supports
                                  Kubernetes services of type ''loadBalancer''. '
                              - value: userDefinedRouting
                                description: 'Egress paths must be defined by the
                                  user. This is an advanced scenario and requires
                                  proper network configuration. '
                            default: loadBalancer
                            title: The outbound (egress) routing method.
                            description: 'This can only be set at cluster pool creation
                              time and cannot be changed later. '
                          enablePrivateApiServer:
                            type: boolean
                            description: ClusterPool is based on AKS cluster. AKS
                              cluster exposes the API server to public internet by
                              default. If you set this property to true, a private
                              AKS cluster will be created, and it will use private
                              apiserver, which is not exposed to public internet.
                            x-ms-mutability:
                            - create
                            - read
                          apiServerAuthorizedIpRanges:
                            type: array
                            items:
                              type: string
                            title: The IP ranges authorized to access the AKS API
                              server.
                            description: IP ranges are specified in CIDR format, e.g.
                              137.117.106.88/29. This feature is not compatible with
                              private AKS clusters. So you cannot set enablePrivateApiServer
                              to true and apiServerAuthorizedIpRanges at the same
                              time. Currently, this property is not supported and
                              please don't use it.
                        required:
                        - subnetId
                        description: Cluster pool networking configuration.
                      logAnalyticsProfile:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True if log analytics is enabled for cluster
                              pool, otherwise false.
                          workspaceId:
                            type: string
                            description: Log analytics workspace to associate with
                              the OMS agent.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.OperationalInsights/workspaces
                        required:
                        - enabled
                        description: Cluster pool log analytics profile used to enable
                          or disable OMS agent for AKS cluster.
                      status:
                        type: string
                        description: Business status of the resource.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: ClusterPool is created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties. Define cluster pool
                      specific properties.
                    type: object
                    required:
                    - computeProfile
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Canceled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStatus
                          modelAsString: true
                        readOnly: true
                      deploymentId:
                        type: string
                        description: A unique id generated by the RP to identify the
                          resource.
                        readOnly: true
                      managedResourceGroupName:
                        type: string
                        description: 'A resource group created by RP, to hold the
                          resources created by RP on-behalf of customers. It will
                          also be used to generate aksManagedResourceGroupName by
                          pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                          Please make sure it meets resource group name restriction.'
                        minLength: 1
                        maxLength: 40
                      aksManagedResourceGroupName:
                        type: string
                        description: 'A resource group created by AKS, to hold the
                          infrastructure resources created by AKS on-behalf of customers.
                          It is generated by cluster pool name and managed resource
                          group name by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                        readOnly: true
                      clusterPoolProfile:
                        type: object
                        properties:
                          clusterPoolVersion:
                            type: string
                            description: Cluster pool version is a 2-part version.
                            pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                          publicIpTag:
                            description: 'Gets or sets the IP tag for the public IPs
                              created along with the HDInsightOnAks ClusterPools and
                              Clusters. '
                            type: object
                            required:
                            - ipTagType
                            - tag
                            properties:
                              ipTagType:
                                type: string
                                description: 'Gets or sets the ipTag type: Example
                                  FirstPartyUsage.'
                              tag:
                                type: string
                                description: Gets or sets value of the IpTag associated
                                  with the public IP. Example HDInsight, SQL, Storage
                                  etc
                        required:
                        - clusterPoolVersion
                        description: Cluster pool profile.
                      computeProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: The virtual machine SKU.
                            pattern: ^[a-zA-Z0-9_\-]{0,256}$
                          count:
                            description: The number of virtual machines.
                            type: integer
                            format: int32
                            readOnly: true
                          availabilityZones:
                            type: array
                            items:
                              type: string
                            description: The list of Availability zones to use for
                              AKS VMSS nodes.
                        required:
                        - vmSize
                        description: Cluster pool compute profile.
                      aksClusterProfile:
                        type: object
                        properties:
                          aksClusterResourceId:
                            type: string
                            description: ARM Resource ID of the AKS cluster
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ContainerService/managedClusters
                          aksClusterAgentPoolIdentityProfile:
                            type: object
                            properties:
                              msiResourceId:
                                type: string
                                description: ResourceId of the MSI.
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedIdentity/userAssignedIdentities
                              msiClientId:
                                type: string
                                description: ClientId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                              msiObjectId:
                                type: string
                                description: ObjectId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            required:
                            - msiResourceId
                            - msiClientId
                            - msiObjectId
                            description: Identity Profile with details of an MSI.
                          aksVersion:
                            type: string
                            description: AKS control plane and default node pool version
                              of this ClusterPool
                            readOnly: true
                        description: Properties of the cluster pool underlying AKS
                          cluster.
                        readOnly: true
                      networkProfile:
                        type: object
                        properties:
                          subnetId:
                            type: string
                            description: Cluster pool subnet resource id.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          outboundType:
                            type: string
                            enum:
                            - loadBalancer
                            - userDefinedRouting
                            x-ms-enum:
                              name: outboundType
                              modelAsString: true
                              values:
                              - value: loadBalancer
                                description: 'The load balancer is used for egress
                                  through an AKS assigned public IP. This supports
                                  Kubernetes services of type ''loadBalancer''. '
                              - value: userDefinedRouting
                                description: 'Egress paths must be defined by the
                                  user. This is an advanced scenario and requires
                                  proper network configuration. '
                            default: loadBalancer
                            title: The outbound (egress) routing method.
                            description: 'This can only be set at cluster pool creation
                              time and cannot be changed later. '
                          enablePrivateApiServer:
                            type: boolean
                            description: ClusterPool is based on AKS cluster. AKS
                              cluster exposes the API server to public internet by
                              default. If you set this property to true, a private
                              AKS cluster will be created, and it will use private
                              apiserver, which is not exposed to public internet.
                            x-ms-mutability:
                            - create
                            - read
                          apiServerAuthorizedIpRanges:
                            type: array
                            items:
                              type: string
                            title: The IP ranges authorized to access the AKS API
                              server.
                            description: IP ranges are specified in CIDR format, e.g.
                              137.117.106.88/29. This feature is not compatible with
                              private AKS clusters. So you cannot set enablePrivateApiServer
                              to true and apiServerAuthorizedIpRanges at the same
                              time. Currently, this property is not supported and
                              please don't use it.
                        required:
                        - subnetId
                        description: Cluster pool networking configuration.
                      logAnalyticsProfile:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True if log analytics is enabled for cluster
                              pool, otherwise false.
                          workspaceId:
                            type: string
                            description: Log analytics workspace to associate with
                              the OMS agent.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.OperationalInsights/workspaces
                        required:
                        - enabled
                        description: Cluster pool log analytics profile used to enable
                          or disable OMS agent for AKS cluster.
                      status:
                        type: string
                        description: Business status of the resource.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error Response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      description: Updates an existing Cluster Pool Tags.
      operationId: ClusterPools_UpdateTags
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: clusterPoolName
        in: path
        required: true
        description: The name of the cluster pool.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update tags.
        required: true
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties. Define cluster pool
                      specific properties.
                    type: object
                    required:
                    - computeProfile
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Canceled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStatus
                          modelAsString: true
                        readOnly: true
                      deploymentId:
                        type: string
                        description: A unique id generated by the RP to identify the
                          resource.
                        readOnly: true
                      managedResourceGroupName:
                        type: string
                        description: 'A resource group created by RP, to hold the
                          resources created by RP on-behalf of customers. It will
                          also be used to generate aksManagedResourceGroupName by
                          pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                          Please make sure it meets resource group name restriction.'
                        minLength: 1
                        maxLength: 40
                      aksManagedResourceGroupName:
                        type: string
                        description: 'A resource group created by AKS, to hold the
                          infrastructure resources created by AKS on-behalf of customers.
                          It is generated by cluster pool name and managed resource
                          group name by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                        readOnly: true
                      clusterPoolProfile:
                        type: object
                        properties:
                          clusterPoolVersion:
                            type: string
                            description: Cluster pool version is a 2-part version.
                            pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                          publicIpTag:
                            description: 'Gets or sets the IP tag for the public IPs
                              created along with the HDInsightOnAks ClusterPools and
                              Clusters. '
                            type: object
                            required:
                            - ipTagType
                            - tag
                            properties:
                              ipTagType:
                                type: string
                                description: 'Gets or sets the ipTag type: Example
                                  FirstPartyUsage.'
                              tag:
                                type: string
                                description: Gets or sets value of the IpTag associated
                                  with the public IP. Example HDInsight, SQL, Storage
                                  etc
                        required:
                        - clusterPoolVersion
                        description: Cluster pool profile.
                      computeProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: The virtual machine SKU.
                            pattern: ^[a-zA-Z0-9_\-]{0,256}$
                          count:
                            description: The number of virtual machines.
                            type: integer
                            format: int32
                            readOnly: true
                          availabilityZones:
                            type: array
                            items:
                              type: string
                            description: The list of Availability zones to use for
                              AKS VMSS nodes.
                        required:
                        - vmSize
                        description: Cluster pool compute profile.
                      aksClusterProfile:
                        type: object
                        properties:
                          aksClusterResourceId:
                            type: string
                            description: ARM Resource ID of the AKS cluster
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ContainerService/managedClusters
                          aksClusterAgentPoolIdentityProfile:
                            type: object
                            properties:
                              msiResourceId:
                                type: string
                                description: ResourceId of the MSI.
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedIdentity/userAssignedIdentities
                              msiClientId:
                                type: string
                                description: ClientId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                              msiObjectId:
                                type: string
                                description: ObjectId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            required:
                            - msiResourceId
                            - msiClientId
                            - msiObjectId
                            description: Identity Profile with details of an MSI.
                          aksVersion:
                            type: string
                            description: AKS control plane and default node pool version
                              of this ClusterPool
                            readOnly: true
                        description: Properties of the cluster pool underlying AKS
                          cluster.
                        readOnly: true
                      networkProfile:
                        type: object
                        properties:
                          subnetId:
                            type: string
                            description: Cluster pool subnet resource id.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          outboundType:
                            type: string
                            enum:
                            - loadBalancer
                            - userDefinedRouting
                            x-ms-enum:
                              name: outboundType
                              modelAsString: true
                              values:
                              - value: loadBalancer
                                description: 'The load balancer is used for egress
                                  through an AKS assigned public IP. This supports
                                  Kubernetes services of type ''loadBalancer''. '
                              - value: userDefinedRouting
                                description: 'Egress paths must be defined by the
                                  user. This is an advanced scenario and requires
                                  proper network configuration. '
                            default: loadBalancer
                            title: The outbound (egress) routing method.
                            description: 'This can only be set at cluster pool creation
                              time and cannot be changed later. '
                          enablePrivateApiServer:
                            type: boolean
                            description: ClusterPool is based on AKS cluster. AKS
                              cluster exposes the API server to public internet by
                              default. If you set this property to true, a private
                              AKS cluster will be created, and it will use private
                              apiserver, which is not exposed to public internet.
                            x-ms-mutability:
                            - create
                            - read
                          apiServerAuthorizedIpRanges:
                            type: array
                            items:
                              type: string
                            title: The IP ranges authorized to access the AKS API
                              server.
                            description: IP ranges are specified in CIDR format, e.g.
                              137.117.106.88/29. This feature is not compatible with
                              private AKS clusters. So you cannot set enablePrivateApiServer
                              to true and apiServerAuthorizedIpRanges at the same
                              time. Currently, this property is not supported and
                              please don't use it.
                        required:
                        - subnetId
                        description: Cluster pool networking configuration.
                      logAnalyticsProfile:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True if log analytics is enabled for cluster
                              pool, otherwise false.
                          workspaceId:
                            type: string
                            description: Log analytics workspace to associate with
                              the OMS agent.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.OperationalInsights/workspaces
                        required:
                        - enabled
                        description: Cluster pool log analytics profile used to enable
                          or disable OMS agent for AKS cluster.
                      status:
                        type: string
                        description: Business status of the resource.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Gets or sets the properties. Define cluster pool
                      specific properties.
                    type: object
                    required:
                    - computeProfile
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Canceled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningStatus
                          modelAsString: true
                        readOnly: true
                      deploymentId:
                        type: string
                        description: A unique id generated by the RP to identify the
                          resource.
                        readOnly: true
                      managedResourceGroupName:
                        type: string
                        description: 'A resource group created by RP, to hold the
                          resources created by RP on-behalf of customers. It will
                          also be used to generate aksManagedResourceGroupName by
                          pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}.
                          Please make sure it meets resource group name restriction.'
                        minLength: 1
                        maxLength: 40
                      aksManagedResourceGroupName:
                        type: string
                        description: 'A resource group created by AKS, to hold the
                          infrastructure resources created by AKS on-behalf of customers.
                          It is generated by cluster pool name and managed resource
                          group name by pattern: MC_{managedResourceGroupName}_{clusterPoolName}_{region}'
                        readOnly: true
                      clusterPoolProfile:
                        type: object
                        properties:
                          clusterPoolVersion:
                            type: string
                            description: Cluster pool version is a 2-part version.
                            pattern: ^(0|[1-9][0-9]{0,18})\.(0|[1-9][0-9]{0,18})$
                          publicIpTag:
                            description: 'Gets or sets the IP tag for the public IPs
                              created along with the HDInsightOnAks ClusterPools and
                              Clusters. '
                            type: object
                            required:
                            - ipTagType
                            - tag
                            properties:
                              ipTagType:
                                type: string
                                description: 'Gets or sets the ipTag type: Example
                                  FirstPartyUsage.'
                              tag:
                                type: string
                                description: Gets or sets value of the IpTag associated
                                  with the public IP. Example HDInsight, SQL, Storage
                                  etc
                        required:
                        - clusterPoolVersion
                        description: Cluster pool profile.
                      computeProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: The virtual machine SKU.
                            pattern: ^[a-zA-Z0-9_\-]{0,256}$
                          count:
                            description: The number of virtual machines.
                            type: integer
                            format: int32
                            readOnly: true
                          availabilityZones:
                            type: array
                            items:
                              type: string
                            description: The list of Availability zones to use for
                              AKS VMSS nodes.
                        required:
                        - vmSize
                        description: Cluster pool compute profile.
                      aksClusterProfile:
                        type: object
                        properties:
                          aksClusterResourceId:
                            type: string
                            description: ARM Resource ID of the AKS cluster
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ContainerService/managedClusters
                          aksClusterAgentPoolIdentityProfile:
                            type: object
                            properties:
                              msiResourceId:
                                type: string
                                description: ResourceId of the MSI.
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedIdentity/userAssignedIdentities
                              msiClientId:
                                type: string
                                description: ClientId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                              msiObjectId:
                                type: string
                                description: ObjectId of the MSI.
                                pattern: ^[{(]?[0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}[)}]?$
                            required:
                            - msiResourceId
                            - msiClientId
                            - msiObjectId
                            description: Identity Profile with details of an MSI.
                          aksVersion:
                            type: string
                            description: AKS control plane and default node pool version
                              of this ClusterPool
                            readOnly: true
                        description: Properties of the cluster pool underlying AKS
                          cluster.
                        readOnly: true
                      networkProfile:
                        type: object
                        properties:
                          subnetId:
                            type: string
                            description: Cluster pool subnet resource id.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          outboundType:
                            type: string
                            enum:
                            - loadBalancer
                            - userDefinedRouting
                            x-ms-enum:
                              name: outboundType
                              modelAsString: true
                              values:
                              - value: loadBalancer
                                description: 'The load balancer is used for egress
                                  through an AKS assigned public IP. This supports
                                  Kubernetes services of type ''loadBalancer''. '
                              - value: userDefinedRouting
                                description: 'Egress paths must be defined by the
                                  user. This is an advanced scenario and requires
                                  proper network configuration. '
                            default: loadBalancer
                            title: The outbound (egress) routing method.
                            description: 'This can only be set at cluster pool creation
                              time and cannot be changed later. '
                          enablePrivateApiServer:
                            type: boolean
                            description: ClusterPool is based on AKS cluster. AKS
                              cluster exposes the API server to public internet by
                              default. If you set this property to true, a private
[...]
