openapi: 3.0.0
info:
  version: 2025-01-01
  title: AdvisorManagementClient
  description: REST APIs for Azure Advisor
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Advisor/metadata/{name}:
    get:
      tags:
      - Metadata
      summary: Gets the metadata entity.
      operationId: RecommendationMetadata_Get
      parameters:
      - name: name
        in: path
        description: Name of metadata entity.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully retrieved metadata entities
          content:
            application/json:
              schema:
                description: The metadata entity contract.
                type: object
                properties:
                  id:
                    description: The resource Id of the metadata entity.
                    type: string
                  type:
                    description: The type of the metadata entity.
                    type: string
                  name:
                    description: The name of the metadata entity.
                    type: string
                  properties:
                    description: The metadata entity properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        description: The display name.
                        type: string
                      dependsOn:
                        description: The list of keys on which this entity depends
                          on.
                        type: array
                        items:
                          type: string
                      applicableScenarios:
                        description: The list of scenarios applicable to this metadata
                          entity.
                        type: array
                        items:
                          enum:
                          - Alerts
                          type: string
                          x-ms-enum:
                            name: Scenario
                            modelAsString: true
                      supportedValues:
                        description: The list of supported values.
                        type: array
                        items:
                          description: The metadata supported value detail.
                          type: object
                          properties:
                            id:
                              description: The id.
                              type: string
                            displayName:
                              description: The display name.
                              type: string
        '404':
          description: Client sent unknown metadata name
          x-ms-error-response: true
          content:
            application/json:
              schema:
                description: ARM error response body.
                type: object
                properties:
                  message:
                    description: Gets or sets the string that describes the error
                      in detail and provides debugging information.
                    type: string
                  code:
                    description: Gets or sets the string that can be used to programmatically
                      identify the error.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
  /providers/Microsoft.Advisor/metadata:
    get:
      tags:
      - Metadata
      summary: Gets the list of metadata entities.
      operationId: RecommendationMetadata_List
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: "The filter to apply to the recommendation metadata.<br>Filter\
          \ can be applied to properties ['[recommendationCategory](#category)', '[recommendationSubCategory](#recommendationSubCategory)',\
          \ 'RetirementDate'] with operators ['eq', 'and', 'le', 'ge'].<br><br>\u26A0\
          \ **Note:** `recommendationControl` is a legacy filter property and will\
          \ be deprecated in the future. Please use `recommendationSubCategory` for\
          \ filtering recommendation subcategory.<br><br>Valid options for recommendationSubCategory:\
          \ ['BusinessContinuity', 'DisasterRecovery', 'HighAvailability', 'MonitoringAndAlerting',\
          \ 'Other', 'Personalized', 'PrioritizedRecommendations', 'Scalability',\
          \ 'ServiceUpgradeAndRetirement', 'Validation']<br><br>Example:<br>- $filter=recommendationCategory\
          \ eq 'HighAvailability' and recommendationSubCategory eq 'ServiceUpgradeAndRetirement'\
          \ and retirementDate ge '2024-01-01' and retirementDate le '2028-01-01'"
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully retrieved metadata entities
          content:
            application/json:
              schema:
                description: The list of metadata entities
                type: object
                properties:
                  value:
                    description: The list of metadata entities.
                    type: array
                    items:
                      description: The metadata entity contract.
                      type: object
                      properties:
                        id:
                          description: The resource Id of the metadata entity.
                          type: string
                        type:
                          description: The type of the metadata entity.
                          type: string
                        name:
                          description: The name of the metadata entity.
                          type: string
                        properties:
                          description: The metadata entity properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              description: The display name.
                              type: string
                            dependsOn:
                              description: The list of keys on which this entity depends
                                on.
                              type: array
                              items:
                                type: string
                            applicableScenarios:
                              description: The list of scenarios applicable to this
                                metadata entity.
                              type: array
                              items:
                                enum:
                                - Alerts
                                type: string
                                x-ms-enum:
                                  name: Scenario
                                  modelAsString: true
                            supportedValues:
                              description: The list of supported values.
                              type: array
                              items:
                                description: The metadata supported value detail.
                                type: object
                                properties:
                                  id:
                                    description: The id.
                                    type: string
                                  displayName:
                                    description: The display name.
                                    type: string
                  nextLink:
                    description: The link used to get the next page of metadata.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations:
    get:
      tags:
      - Configurations
      summary: Retrieve Azure Advisor configurations.
      description: Retrieve Azure Advisor configurations and also retrieve configurations
        of contained resource groups.
      operationId: Configurations_ListBySubscription
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully retrieved zero or more configurations.
          content:
            application/json:
              schema:
                description: The list of Advisor configurations.
                type: object
                properties:
                  value:
                    description: The list of configurations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The Advisor configuration data structure.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            exclude:
                              description: 'Exclude the resource from Advisor evaluations.
                                Valid values: False (default) or True.'
                              type: boolean
                            lowCpuThreshold:
                              description: 'Minimum percentage threshold for Advisor
                                low CPU utilization evaluation. Valid only for subscriptions.
                                Valid values: 5 (default), 10, 15 or 20.'
                              enum:
                              - '5'
                              - '10'
                              - '15'
                              - '20'
                              type: string
                              x-ms-enum:
                                name: CpuThreshold
                                modelAsString: true
                            duration:
                              description: 'Minimum duration for Advisor low CPU utilization
                                evaluation. Valid only for subscriptions. Valid values:
                                7 (default), 14, 21, 30, 60 or 90.'
                              enum:
                              - '7'
                              - '14'
                              - '21'
                              - '30'
                              - '60'
                              - '90'
                              type: string
                              x-ms-enum:
                                name: Duration
                                modelAsString: true
                            digests:
                              description: Advisor digest configuration. Valid only
                                for subscriptions
                              type: array
                              items:
                                description: Advisor Digest configuration entity
                                type: object
                                properties:
                                  name:
                                    description: Name of digest configuration. Value
                                      is case-insensitive and must be unique within
                                      a subscription.
                                    type: string
                                  actionGroupResourceId:
                                    description: Action group resource id used by
                                      digest.
                                    type: string
                                  frequency:
                                    format: int32
                                    description: Frequency that digest will be triggered,
                                      in days. Value must be between 7 and 30 days
                                      inclusive.
                                    type: integer
                                  categories:
                                    description: Categories to send digest for. If
                                      categories are not provided, then digest will
                                      be sent for all categories.
                                    type: array
                                    items:
                                      enum:
                                      - HighAvailability
                                      - Security
                                      - Performance
                                      - Cost
                                      - OperationalExcellence
                                      type: string
                                      x-ms-enum:
                                        name: Category
                                        modelAsString: true
                                  language:
                                    description: Language for digest content body.
                                      Value must be ISO 639-1 code for one of Azure
                                      portal supported languages. Otherwise, it will
                                      be converted into one. Default value is English
                                      (en).
                                    type: string
                                  state:
                                    description: State of digest configuration.
                                    enum:
                                    - Active
                                    - Disabled
                                    type: string
                                    x-ms-enum:
                                      name: DigestConfigState
                                      modelAsString: true
                              x-ms-identifiers:
                              - name
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of configurations.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}:
    put:
      tags:
      - Configurations
      summary: Create/Overwrite Azure Advisor configuration.
      description: Create/Overwrite Azure Advisor configuration and also delete all
        configurations of contained resource groups.
      operationId: Configurations_CreateInSubscription
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: configurationName
        in: path
        description: Advisor configuration name. Value must be 'default'
        required: true
        x-ms-enum:
          name: ConfigurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The Advisor configuration data structure.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    exclude:
                      description: 'Exclude the resource from Advisor evaluations.
                        Valid values: False (default) or True.'
                      type: boolean
                    lowCpuThreshold:
                      description: 'Minimum percentage threshold for Advisor low CPU
                        utilization evaluation. Valid only for subscriptions. Valid
                        values: 5 (default), 10, 15 or 20.'
                      enum:
                      - '5'
                      - '10'
                      - '15'
                      - '20'
                      type: string
                      x-ms-enum:
                        name: CpuThreshold
                        modelAsString: true
                    duration:
                      description: 'Minimum duration for Advisor low CPU utilization
                        evaluation. Valid only for subscriptions. Valid values: 7
                        (default), 14, 21, 30, 60 or 90.'
                      enum:
                      - '7'
                      - '14'
                      - '21'
                      - '30'
                      - '60'
                      - '90'
                      type: string
                      x-ms-enum:
                        name: Duration
                        modelAsString: true
                    digests:
                      description: Advisor digest configuration. Valid only for subscriptions
                      type: array
                      items:
                        description: Advisor Digest configuration entity
                        type: object
                        properties:
                          name:
                            description: Name of digest configuration. Value is case-insensitive
                              and must be unique within a subscription.
                            type: string
                          actionGroupResourceId:
                            description: Action group resource id used by digest.
                            type: string
                          frequency:
                            format: int32
                            description: Frequency that digest will be triggered,
                              in days. Value must be between 7 and 30 days inclusive.
                            type: integer
                          categories:
                            description: Categories to send digest for. If categories
                              are not provided, then digest will be sent for all categories.
                            type: array
                            items:
                              enum:
                              - HighAvailability
                              - Security
                              - Performance
                              - Cost
                              - OperationalExcellence
                              type: string
                              x-ms-enum:
                                name: Category
                                modelAsString: true
                          language:
                            description: Language for digest content body. Value must
                              be ISO 639-1 code for one of Azure portal supported
                              languages. Otherwise, it will be converted into one.
                              Default value is English (en).
                            type: string
                          state:
                            description: State of digest configuration.
                            enum:
                            - Active
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: DigestConfigState
                              modelAsString: true
                      x-ms-identifiers:
                      - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The Azure Advisor configuration data structure.
        required: true
      responses:
        '200':
          description: Successfully created/overwrote configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The Advisor configuration data structure.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      exclude:
                        description: 'Exclude the resource from Advisor evaluations.
                          Valid values: False (default) or True.'
                        type: boolean
                      lowCpuThreshold:
                        description: 'Minimum percentage threshold for Advisor low
                          CPU utilization evaluation. Valid only for subscriptions.
                          Valid values: 5 (default), 10, 15 or 20.'
                        enum:
                        - '5'
                        - '10'
                        - '15'
                        - '20'
                        type: string
                        x-ms-enum:
                          name: CpuThreshold
                          modelAsString: true
                      duration:
                        description: 'Minimum duration for Advisor low CPU utilization
                          evaluation. Valid only for subscriptions. Valid values:
                          7 (default), 14, 21, 30, 60 or 90.'
                        enum:
                        - '7'
                        - '14'
                        - '21'
                        - '30'
                        - '60'
                        - '90'
                        type: string
                        x-ms-enum:
                          name: Duration
                          modelAsString: true
                      digests:
                        description: Advisor digest configuration. Valid only for
                          subscriptions
                        type: array
                        items:
                          description: Advisor Digest configuration entity
                          type: object
                          properties:
                            name:
                              description: Name of digest configuration. Value is
                                case-insensitive and must be unique within a subscription.
                              type: string
                            actionGroupResourceId:
                              description: Action group resource id used by digest.
                              type: string
                            frequency:
                              format: int32
                              description: Frequency that digest will be triggered,
                                in days. Value must be between 7 and 30 days inclusive.
                              type: integer
                            categories:
                              description: Categories to send digest for. If categories
                                are not provided, then digest will be sent for all
                                categories.
                              type: array
                              items:
                                enum:
                                - HighAvailability
                                - Security
                                - Performance
                                - Cost
                                - OperationalExcellence
                                type: string
                                x-ms-enum:
                                  name: Category
                                  modelAsString: true
                            language:
                              description: Language for digest content body. Value
                                must be ISO 639-1 code for one of Azure portal supported
                                languages. Otherwise, it will be converted into one.
                                Default value is English (en).
                              type: string
                            state:
                              description: State of digest configuration.
                              enum:
                              - Active
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: DigestConfigState
                                modelAsString: true
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations:
    get:
      tags:
      - Configurations
      summary: Retrieve Azure Advisor configurations.
      operationId: Configurations_ListByResourceGroup
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroup
        in: path
        description: The name of the Azure resource group.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully retrieved zero or more configurations.
          content:
            application/json:
              schema:
                description: The list of Advisor configurations.
                type: object
                properties:
                  value:
                    description: The list of configurations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The Advisor configuration data structure.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            exclude:
                              description: 'Exclude the resource from Advisor evaluations.
                                Valid values: False (default) or True.'
                              type: boolean
                            lowCpuThreshold:
                              description: 'Minimum percentage threshold for Advisor
                                low CPU utilization evaluation. Valid only for subscriptions.
                                Valid values: 5 (default), 10, 15 or 20.'
                              enum:
                              - '5'
                              - '10'
                              - '15'
                              - '20'
                              type: string
                              x-ms-enum:
                                name: CpuThreshold
                                modelAsString: true
                            duration:
                              description: 'Minimum duration for Advisor low CPU utilization
                                evaluation. Valid only for subscriptions. Valid values:
                                7 (default), 14, 21, 30, 60 or 90.'
                              enum:
                              - '7'
                              - '14'
                              - '21'
                              - '30'
                              - '60'
                              - '90'
                              type: string
                              x-ms-enum:
                                name: Duration
                                modelAsString: true
                            digests:
                              description: Advisor digest configuration. Valid only
                                for subscriptions
                              type: array
                              items:
                                description: Advisor Digest configuration entity
                                type: object
                                properties:
                                  name:
                                    description: Name of digest configuration. Value
                                      is case-insensitive and must be unique within
                                      a subscription.
                                    type: string
                                  actionGroupResourceId:
                                    description: Action group resource id used by
                                      digest.
                                    type: string
                                  frequency:
                                    format: int32
                                    description: Frequency that digest will be triggered,
                                      in days. Value must be between 7 and 30 days
                                      inclusive.
                                    type: integer
                                  categories:
                                    description: Categories to send digest for. If
                                      categories are not provided, then digest will
                                      be sent for all categories.
                                    type: array
                                    items:
                                      enum:
                                      - HighAvailability
                                      - Security
                                      - Performance
                                      - Cost
                                      - OperationalExcellence
                                      type: string
                                      x-ms-enum:
                                        name: Category
                                        modelAsString: true
                                  language:
                                    description: Language for digest content body.
                                      Value must be ISO 639-1 code for one of Azure
                                      portal supported languages. Otherwise, it will
                                      be converted into one. Default value is English
                                      (en).
                                    type: string
                                  state:
                                    description: State of digest configuration.
                                    enum:
                                    - Active
                                    - Disabled
                                    type: string
                                    x-ms-enum:
                                      name: DigestConfigState
                                      modelAsString: true
                              x-ms-identifiers:
                              - name
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of configurations.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}
  : put:
      tags:
      - Configurations
      summary: Create/Overwrite Azure Advisor configuration.
      operationId: Configurations_CreateInResourceGroup
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: configurationName
        in: path
        description: Advisor configuration name. Value must be 'default'
        required: true
        x-ms-enum:
          name: ConfigurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      - name: resourceGroup
        in: path
        description: The name of the Azure resource group.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The Advisor configuration data structure.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    exclude:
                      description: 'Exclude the resource from Advisor evaluations.
                        Valid values: False (default) or True.'
                      type: boolean
                    lowCpuThreshold:
                      description: 'Minimum percentage threshold for Advisor low CPU
                        utilization evaluation. Valid only for subscriptions. Valid
                        values: 5 (default), 10, 15 or 20.'
                      enum:
                      - '5'
                      - '10'
                      - '15'
                      - '20'
                      type: string
                      x-ms-enum:
                        name: CpuThreshold
                        modelAsString: true
                    duration:
                      description: 'Minimum duration for Advisor low CPU utilization
                        evaluation. Valid only for subscriptions. Valid values: 7
                        (default), 14, 21, 30, 60 or 90.'
                      enum:
                      - '7'
                      - '14'
                      - '21'
                      - '30'
                      - '60'
                      - '90'
                      type: string
                      x-ms-enum:
                        name: Duration
                        modelAsString: true
                    digests:
                      description: Advisor digest configuration. Valid only for subscriptions
                      type: array
                      items:
                        description: Advisor Digest configuration entity
                        type: object
                        properties:
                          name:
                            description: Name of digest configuration. Value is case-insensitive
                              and must be unique within a subscription.
                            type: string
                          actionGroupResourceId:
                            description: Action group resource id used by digest.
                            type: string
                          frequency:
                            format: int32
                            description: Frequency that digest will be triggered,
                              in days. Value must be between 7 and 30 days inclusive.
                            type: integer
                          categories:
                            description: Categories to send digest for. If categories
                              are not provided, then digest will be sent for all categories.
                            type: array
                            items:
                              enum:
                              - HighAvailability
                              - Security
                              - Performance
                              - Cost
                              - OperationalExcellence
                              type: string
                              x-ms-enum:
                                name: Category
                                modelAsString: true
                          language:
                            description: Language for digest content body. Value must
                              be ISO 639-1 code for one of Azure portal supported
                              languages. Otherwise, it will be converted into one.
                              Default value is English (en).
                            type: string
                          state:
                            description: State of digest configuration.
                            enum:
                            - Active
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: DigestConfigState
                              modelAsString: true
                      x-ms-identifiers:
                      - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The Azure Advisor configuration data structure.
        required: true
      responses:
        '200':
          description: Successfully created/overwrote configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The Advisor configuration data structure.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      exclude:
                        description: 'Exclude the resource from Advisor evaluations.
                          Valid values: False (default) or True.'
                        type: boolean
                      lowCpuThreshold:
                        description: 'Minimum percentage threshold for Advisor low
                          CPU utilization evaluation. Valid only for subscriptions.
                          Valid values: 5 (default), 10, 15 or 20.'
                        enum:
                        - '5'
                        - '10'
                        - '15'
                        - '20'
                        type: string
                        x-ms-enum:
                          name: CpuThreshold
                          modelAsString: true
                      duration:
                        description: 'Minimum duration for Advisor low CPU utilization
                          evaluation. Valid only for subscriptions. Valid values:
                          7 (default), 14, 21, 30, 60 or 90.'
                        enum:
                        - '7'
                        - '14'
                        - '21'
                        - '30'
                        - '60'
                        - '90'
                        type: string
                        x-ms-enum:
                          name: Duration
                          modelAsString: true
                      digests:
                        description: Advisor digest configuration. Valid only for
                          subscriptions
                        type: array
                        items:
                          description: Advisor Digest configuration entity
                          type: object
                          properties:
                            name:
                              description: Name of digest configuration. Value is
                                case-insensitive and must be unique within a subscription.
                              type: string
                            actionGroupResourceId:
                              description: Action group resource id used by digest.
                              type: string
                            frequency:
                              format: int32
                              description: Frequency that digest will be triggered,
                                in days. Value must be between 7 and 30 days inclusive.
                              type: integer
                            categories:
                              description: Categories to send digest for. If categories
                                are not provided, then digest will be sent for all
                                categories.
                              type: array
                              items:
                                enum:
                                - HighAvailability
                                - Security
                                - Performance
                                - Cost
                                - OperationalExcellence
                                type: string
                                x-ms-enum:
                                  name: Category
                                  modelAsString: true
                            language:
                              description: Language for digest content body. Value
                                must be ISO 639-1 code for one of Azure portal supported
                                languages. Otherwise, it will be converted into one.
                                Default value is English (en).
                              type: string
                            state:
                              description: State of digest configuration.
                              enum:
                              - Active
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: DigestConfigState
                                modelAsString: true
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations:
    post:
      tags:
      - GenerateRecommendations
      description: Initiates the recommendation generation or computation process
        for a subscription. This operation is asynchronous. The generated recommendations
        are stored in a cache in the Advisor service.
      operationId: Recommendations_Generate
      parameters:
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted. Recommendation generation has been accepted.
          headers:
            Location:
              description: The URL where the status of the asynchronous operation
                can be checked.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}:
    get:
      tags:
      - GenerateRecommendations
      description: Retrieves the status of the recommendation computation or generation
        process. Invoke this API after calling the generation recommendation. The
        URI of this API is returned in the Location field of the response header.
      operationId: Recommendations_GetGenerateStatus
      parameters:
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The operation ID, which can be found from the Location field
          in the generate recommendation response header.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted. Recommendation generation is in progress.
        '204':
          description: NoContent. Recommendation generation has been completed.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations:
    get:
      tags:
      - GetRecommendations
      description: Obtains cached recommendations for a subscription. The recommendations
        are generated or computed by invoking generateRecommendations.
      operationId: Recommendations_List
      parameters:
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: "The filter to apply to the recommendations.<br>Filter can be\
          \ applied to properties ['ResourceId', 'ResourceGroup', 'RecommendationTypeGuid',\
          \ '[Category](#category)', 'SubCategory', 'RetirementDate'] with operators\
          \ ['eq', 'and', 'or', 'lt', 'gt', 'le', 'ge'].<br><br>\u26A0 **Note:** `Control`\
          \ is a legacy filter property and will be deprecated in the future. Please\
          \ use `SubCategory` for filtering recommendation subcategory.<br><br>Valid\
          \ options for SubCategory:<br>['BusinessContinuity', 'DisasterRecovery',\
          \ 'HighAvailability', 'MonitoringAndAlerting', 'Other', 'Personalized',\
          \ 'PrioritizedRecommendations', 'Scalability', 'ServiceUpgradeAndRetirement',\
          \ 'Validation']<br><br>Example:<br>- $filter=Category eq 'Cost' and ResourceGroup\
          \ eq 'MyResourceGroup'<br>-$filter=SubCategory eq 'ServiceUpgradeAndRetirement'\
          \ and RetirementDate le '2024-01-01' and RetirementDate ge '2028-01-01'"
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: The number of recommendations per page if a paged version of
          this API is being used.
        required: false
        schema:
          type: integer
          format: int32
      - name: $skipToken
        in: query
        description: The page-continuation token to use with a paged version of this
          API.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully obtained cached recommendations.
          content:
            application/json:
              schema:
                description: The list of Advisor recommendations.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of recommendations.
                    type: string
                  value:
                    description: The list of recommendations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The properties of the recommendation.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            category:
                              description: The category of the recommendation.
                              enum:
                              - HighAvailability
                              - Security
                              - Performance
                              - Cost
                              - OperationalExcellence
                              type: string
                              x-ms-enum:
                                name: category
                                modelAsString: true
                            control:
                              description: The sub-category of the recommendation.
                              enum:
                              - HighAvailability
                              - BusinessContinuity
                              - DisasterRecovery
                              - Scalability
                              - MonitoringAndAlerting
                              - ServiceUpgradeAndRetirement
                              - Other
                              - PrioritizedRecommendations
                              - Personalized
                              type: string
                              x-ms-enum:
                                name: control
                                modelAsString: true
                            impact:
                              description: The business impact of the recommendation.
                              enum:
                              - High
                              - Medium
                              - Low
                              type: string
                              x-ms-enum:
                                name: impact
                                modelAsString: true
                            impactedField:
                              description: The resource type identified by Advisor.
                              type: string
                            impactedValue:
                              description: The resource identified by Advisor.
                              type: string
                            lastUpdated:
                              format: date-time
                              description: The most recent time that Advisor checked
                                the validity of the recommendation.
                              type: string
                            metadata:
                              description: The recommendation metadata.
                              type: object
                              additionalProperties:
                                type: object
                            recommendationTypeId:
                              description: The recommendation-type GUID.
                              type: string
                            risk:
                              description: The potential risk of not implementing
                                the recommendation.
                              enum:
                              - Error
                              - Warning
                              - None
                              type: string
                              x-ms-enum:
                                name: risk
                                modelAsString: true
                            shortDescription:
                              description: A summary of the recommendation.
                              type: object
                              properties:
                                problem:
                                  description: The issue or opportunity identified
                                    by the recommendation and proposed solution.
                                  type: string
                                solution:
                                  description: The issue or opportunity identified
                                    by the recommendation and proposed solution.
                                  type: string
                            suppressionIds:
                              description: The list of snoozed and dismissed rules
                                for the recommendation.
                              type: array
                              items:
                                format: uuid
                                type: string
                            extendedProperties:
                              description: Extended properties
                              type: object
                              additionalProperties:
                                type: string
                            resourceMetadata:
                              description: Metadata of resource that was assessed
                              type: object
                              properties:
                                resourceId:
                                  description: Azure resource Id of the assessed resource
                                  type: string
                                source:
                                  description: Source from which recommendation is
                                    generated
                                  type: string
                                action:
                                  description: The action to view resource.
                                  type: object
                                  additionalProperties:
                                    type: object
                                singular:
                                  description: 'The singular user friendly name of
                                    resource type. eg: virtual machine'
                                  type: string
                                plural:
                                  description: 'The plural user friendly name of resource
                                    type. eg: virtual machines'
                                  type: string
                            description:
                              description: The detailed description of recommendation.
                              type: string
                            label:
                              description: The label of recommendation.
                              type: string
                            learnMoreLink:
                              description: The link to learn more about recommendation
                                and generation logic.
                              type: string
                            potentialBenefits:
                              description: The potential benefit of implementing recommendation.
                              type: string
                            actions:
                              description: The list of recommended actions to implement
                                recommendation.
                              type: array
                              items:
                                type: object
                                additionalProperties:
                                  type: object
                              x-ms-identifiers: []
                            remediation:
                              description: The automated way to apply recommendation.
                              type: object
                              additionalProperties:
                                type: object
                            exposedMetadataProperties:
                              description: The recommendation metadata properties
                                exposed to customer to provide additional information.
                              type: object
                              additionalProperties:
                                type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Advisor/operations:
    get:
      tags:
      - Operations
      description: Lists all the available Advisor REST API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully retrieved operation list.
          content:
            application/json:
              schema:
                description: The list of Advisor operations.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                  value:
                    description: The list of operations.
                    type: array
                    items:
                      description: The operation supported by Advisor.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}.'
                          type: string
                        display:
                          description: The operation supported by Advisor.
                          type: object
                          properties:
                            description:
                              description: The description of the operation.
                              type: string
                            operation:
                              description: The action that users can perform, based
                                on their permission level.
                              type: string
                            provider:
                              description: 'Service provider: Microsoft Advisor.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                    x-ms-identifiers:
                    - name
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}:
    get:
      tags:
      - GetRecommendations
      description: Obtains details of a cached recommendation.
      operationId: Recommendations_Get
      parameters:
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        required: true
        schema:
          type: string
      - name: recommendationId
        in: path
        description: The recommendation ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the API to be used with the client request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK. Successfully got recommendation detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the recommendation.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      category:
                        description: The category of the recommendation.
                        enum:
                        - HighAvailability
                        - Security
                        - Performance
                        - Cost
                        - OperationalExcellence
                        type: string
                        x-ms-enum:
                          name: category
                          modelAsString: true
                      control:
                        description: The sub-category of the recommendation.
                        enum:
                        - HighAvailability
                        - BusinessContinuity
                        - DisasterRecovery
                        - Scalability
                        - MonitoringAndAlerting
                        - ServiceUpgradeAndRetirement
                        - Other
                        - PrioritizedRecommendations
                        - Personalized
                        type: string
                        x-ms-enum:
                          name: control
                          modelAsString: true
                      impact:
                        description: The business impact of the recommendation.
                        enum:
                        - High
                        - Medium
                        - Low
                        type: string
                        x-ms-enum:
                          name: impact
                          modelAsString: true
                      impactedField:
                        description: The resource type identified by Advisor.
                        type: string
                      impactedValue:
                        description: The resource identified by Advisor.
                        type: string
                      lastUpdated:
                        format: date-time
                        description: The most recent time that Advisor checked the
                          validity of the recommendation.
                        type: string
                      metadata:
                        description: The recommendation metadata.
                        type: object
                        additionalProperties:
                          type: object
                      recommendationTypeId:
                        description: The recommendation-type GUID.
                        type: string
                      risk:
                        description: The potential risk of not implementing the recommendation.
                        enum:
                        - Error
                        - Warning
                        - None
                        type: string
                        x-ms-enum:
                          name: risk
                          modelAsString: true
                      shortDescription:
                        description: A summary of the recommendation.
                        type: object
                        properties:
                          problem:
                            description: The issue or opportunity identified by the
                              recommendation and proposed solution.
                            type: string
                          solution:
                            description: The issue or opportunity identified by the
                              recommendation and proposed solution.
                            type: string
                      suppressionIds:
                        description: The list of snoozed and dismissed rules for the
                          recommendation.
                        type: array
                        items:
                          format: uuid
                          type: string
                      extendedProperties:
                        description: Extended properties
                        type: object
                        additionalProperties:
                          type: string
                      resourceMetadata:
                        description: Metadata of resource that was assessed
                        type: object
                        properties:
                          resourceId:
                            description: Azure resource Id of the assessed resource
                            type: string
                          source:
                            description: Source from which recommendation is generated
                            type: string
                          action:
                            description: The action to view resource.
                            type: object
                            additionalProperties:
                              type: object
                          singular:
                            description: 'The singular user friendly name of resource
                              type. eg: virtual machine'
                            type: string
                          plural:
                            description: 'The plural user friendly name of resource
                              type. eg: virtual machines'
                            type: string
                      description:
                        description: The detailed description of recommendation.
                        type: string
                      label:
                        description: The label of recommendation.
                        type: string
                      learnMoreLink:
                        description: The link to learn more about recommendation and
                          generation logic.
                        type: string
                      potentialBenefits:
                        description: The potential benefit of implementing recommendation.
                        type: string
                      actions:
                        description: The list of recommended actions to implement
                          recommendation.
                        type: array
                        items:
                          type: object
                          additionalProperties:
                            type: object
                        x-ms-identifiers: []
                      remediation:
                        description: The automated way to apply recommendation.
                        type: object
                        additionalProperties:
                          type: object
                      exposedMetadataProperties:
                        description: The recommendation metadata properties exposed
                          to customer to provide additional information.
                        type: object
                        additionalProperties:
                          type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: ARM error response body.
                    type: object
                    properties:
                      message:
                        description: Gets or sets the string that describes the error
                          in detail and provides debugging information.
                        type: string
                      code:
                        description: Gets or sets the string that can be used to programmatically
                          identify the error.
                        type: string
      deprecated: false
  /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}:
    get:
      tags:
      - Suppressions
      description: Obtains the details of a suppression.
      operationId: Suppressions_Get
      parameters:
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource Manager identifier of the
          resource to which the recommendation applies.
        required: true
        schema:
          type: string
      - name: recommendationId
        in: path
        description: The recommendation ID.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the suppression.
        required: true
        schema:
          type: string
      - name: api-version
[...]
