openapi: 3.0.0
info:
  title: DnsResolverManagementClient
  description: The DNS Resolver Management Client.
  version: 2022-07-01
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}
  : put:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_CreateOrUpdate
      description: Creates or updates a DNS resolver.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: ETag of the resource. Omit this value to always overwrite the
          current resource. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new resource to be created, but to prevent
          updating an existing resource. Other values will be ignored.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                etag:
                  description: ETag of the DNS resolver.
                  type: string
                  readOnly: true
                properties:
                  description: Properties of the DNS resolver.
                  x-ms-client-flatten: true
                  type: object
                  required:
                  - virtualNetwork
                  properties:
                    virtualNetwork:
                      description: The reference to the virtual network. This cannot
                        be changed after creation.
                      x-ms-mutability:
                      - read
                      - create
                      type: object
                      required:
                      - id
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    dnsResolverState:
                      description: The current status of the DNS resolver. This is
                        a read-only property and any attempt to set this value will
                        be ignored.
                      type: string
                      enum:
                      - Connected
                      - Disconnected
                      x-ms-enum:
                        name: DnsResolverState
                        modelAsString: true
                      readOnly: true
                    provisioningState:
                      description: The current provisioning state of the DNS resolver.
                        This is a read-only property and any attempt to set this value
                        will be ignored.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      description: The resourceGuid property of the DNS resolver resource.
                      readOnly: true
                      type: string
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      responses:
        '200':
          description: The DNS resolver has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the DNS resolver.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the DNS resolver.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - virtualNetwork
                    properties:
                      virtualNetwork:
                        description: The reference to the virtual network. This cannot
                          be changed after creation.
                        x-ms-mutability:
                        - read
                        - create
                        type: object
                        required:
                        - id
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      dnsResolverState:
                        description: The current status of the DNS resolver. This
                          is a read-only property and any attempt to set this value
                          will be ignored.
                        type: string
                        enum:
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: DnsResolverState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        description: The current provisioning state of the DNS resolver.
                          This is a read-only property and any attempt to set this
                          value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the DNS resolver
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The DNS resolver has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the DNS resolver.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the DNS resolver.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - virtualNetwork
                    properties:
                      virtualNetwork:
                        description: The reference to the virtual network. This cannot
                          be changed after creation.
                        x-ms-mutability:
                        - read
                        - create
                        type: object
                        required:
                        - id
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      dnsResolverState:
                        description: The current status of the DNS resolver. This
                          is a read-only property and any attempt to set this value
                          will be ignored.
                        type: string
                        enum:
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: DnsResolverState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        description: The current provisioning state of the DNS resolver.
                          This is a read-only property and any attempt to set this
                          value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the DNS resolver
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: The operation to upsert DNS resolver has been accepted and
            will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-long-running-operation: true
    patch:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_Update
      description: Updates a DNS resolver.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: ETag of the resource. Omit this value to always overwrite the
          current resource. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Describes a DNS resolver for PATCH operation.
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Tags for DNS Resolver.
        description: Parameters supplied to the Update operation.
        required: true
      responses:
        '200':
          description: The DNS resolver has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the DNS resolver.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the DNS resolver.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - virtualNetwork
                    properties:
                      virtualNetwork:
                        description: The reference to the virtual network. This cannot
                          be changed after creation.
                        x-ms-mutability:
                        - read
                        - create
                        type: object
                        required:
                        - id
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      dnsResolverState:
                        description: The current status of the DNS resolver. This
                          is a read-only property and any attempt to set this value
                          will be ignored.
                        type: string
                        enum:
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: DnsResolverState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        description: The current provisioning state of the DNS resolver.
                          This is a read-only property and any attempt to set this
                          value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the DNS resolver
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: The operation to update DNS resolver has been accepted and
            will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-long-running-operation: true
    delete:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_Delete
      description: 'Deletes a DNS resolver. WARNING: This operation cannot be undone.'
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: ETag of the resource. Omit this value to always overwrite the
          current resource. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The DNS resolver has been deleted.
        '202':
          description: The operation to delete DNS resolver has been accepted and
            will complete asynchronously.
        '204':
          description: The DNS resolver was not found.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-long-running-operation: true
    get:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_Get
      description: Gets properties of a DNS resolver.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The DNS resolver was found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the DNS resolver.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the DNS resolver.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - virtualNetwork
                    properties:
                      virtualNetwork:
                        description: The reference to the virtual network. This cannot
                          be changed after creation.
                        x-ms-mutability:
                        - read
                        - create
                        type: object
                        required:
                        - id
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      dnsResolverState:
                        description: The current status of the DNS resolver. This
                          is a read-only property and any attempt to set this value
                          will be ignored.
                        type: string
                        enum:
                        - Connected
                        - Disconnected
                        x-ms-enum:
                          name: DnsResolverState
                          modelAsString: true
                        readOnly: true
                      provisioningState:
                        description: The current provisioning state of the DNS resolver.
                          This is a read-only property and any attempt to set this
                          value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the DNS resolver
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers:
    get:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_ListByResourceGroup
      description: Lists DNS resolvers within a resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $top
        in: query
        required: false
        description: The maximum number of results to return. If not specified, returns
          up to 100 results.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List of DNS resolvers in the resource group.
          content:
            application/json:
              schema:
                description: The response to an enumeration operation on DNS resolvers.
                type: object
                properties:
                  value:
                    description: Enumeration of the DNS resolvers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        etag:
                          description: ETag of the DNS resolver.
                          type: string
                          readOnly: true
                        properties:
                          description: Properties of the DNS resolver.
                          x-ms-client-flatten: true
                          type: object
                          required:
                          - virtualNetwork
                          properties:
                            virtualNetwork:
                              description: The reference to the virtual network. This
                                cannot be changed after creation.
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            dnsResolverState:
                              description: The current status of the DNS resolver.
                                This is a read-only property and any attempt to set
                                this value will be ignored.
                              type: string
                              enum:
                              - Connected
                              - Disconnected
                              x-ms-enum:
                                name: DnsResolverState
                                modelAsString: true
                              readOnly: true
                            provisioningState:
                              description: The current provisioning state of the DNS
                                resolver. This is a read-only property and any attempt
                                to set this value will be ignored.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              description: The resourceGuid property of the DNS resolver
                                resource.
                              readOnly: true
                              type: string
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The continuation token for the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/dnsResolvers:
    get:
      tags:
      - DnsResolvers
      operationId: DnsResolvers_List
      description: Lists DNS resolvers in all resource groups of a subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $top
        in: query
        required: false
        description: The maximum number of results to return. If not specified, returns
          up to 100 results.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List of DNS resolvers in the subscription.
          content:
            application/json:
              schema:
                description: The response to an enumeration operation on DNS resolvers.
                type: object
                properties:
                  value:
                    description: Enumeration of the DNS resolvers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        etag:
                          description: ETag of the DNS resolver.
                          type: string
                          readOnly: true
                        properties:
                          description: Properties of the DNS resolver.
                          x-ms-client-flatten: true
                          type: object
                          required:
                          - virtualNetwork
                          properties:
                            virtualNetwork:
                              description: The reference to the virtual network. This
                                cannot be changed after creation.
                              x-ms-mutability:
                              - read
                              - create
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            dnsResolverState:
                              description: The current status of the DNS resolver.
                                This is a read-only property and any attempt to set
                                this value will be ignored.
                              type: string
                              enum:
                              - Connected
                              - Disconnected
                              x-ms-enum:
                                name: DnsResolverState
                                modelAsString: true
                              readOnly: true
                            provisioningState:
                              description: The current provisioning state of the DNS
                                resolver. This is a read-only property and any attempt
                                to set this value will be ignored.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              description: The resourceGuid property of the DNS resolver
                                resource.
                              readOnly: true
                              type: string
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The continuation token for the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints/{inboundEndpointName}
  : put:
      tags:
      - InboundEndpoints
      operationId: InboundEndpoints_CreateOrUpdate
      description: Creates or updates an inbound endpoint for a DNS resolver.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inboundEndpointName
        in: path
        required: true
        description: The name of the inbound endpoint for the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: ETag of the resource. Omit this value to always overwrite the
          current resource. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new resource to be created, but to prevent
          updating an existing resource. Other values will be ignored.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                etag:
                  description: ETag of the inbound endpoint.
                  type: string
                  readOnly: true
                properties:
                  description: Properties of the inbound endpoint.
                  x-ms-client-flatten: true
                  type: object
                  required:
                  - ipConfigurations
                  properties:
                    ipConfigurations:
                      description: IP configurations for the inbound endpoint.
                      type: array
                      items:
                        description: IP configuration.
                        type: object
                        required:
                        - subnet
                        properties:
                          subnet:
                            description: The reference to the subnet bound to the
                              IP configuration.
                            type: object
                            required:
                            - id
                            properties:
                              id:
                                type: string
                                description: Resource ID.
                            x-ms-azure-resource: true
                          privateIpAddress:
                            description: Private IP address of the IP configuration.
                            type: string
                          privateIpAllocationMethod:
                            description: Private IP address allocation method.
                            type: string
                            enum:
                            - Static
                            - Dynamic
                            default: Dynamic
                            x-ms-enum:
                              name: IpAllocationMethod
                              modelAsString: true
                      x-ms-identifiers: []
                    provisioningState:
                      description: The current provisioning state of the inbound endpoint.
                        This is a read-only property and any attempt to set this value
                        will be ignored.
                      readOnly: true
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      description: The resourceGuid property of the inbound endpoint
                        resource.
                      readOnly: true
                      type: string
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
      responses:
        '200':
          description: The inbound endpoint for the DNS resolver has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the inbound endpoint.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the inbound endpoint.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - ipConfigurations
                    properties:
                      ipConfigurations:
                        description: IP configurations for the inbound endpoint.
                        type: array
                        items:
                          description: IP configuration.
                          type: object
                          required:
                          - subnet
                          properties:
                            subnet:
                              description: The reference to the subnet bound to the
                                IP configuration.
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            privateIpAddress:
                              description: Private IP address of the IP configuration.
                              type: string
                            privateIpAllocationMethod:
                              description: Private IP address allocation method.
                              type: string
                              enum:
                              - Static
                              - Dynamic
                              default: Dynamic
                              x-ms-enum:
                                name: IpAllocationMethod
                                modelAsString: true
                        x-ms-identifiers: []
                      provisioningState:
                        description: The current provisioning state of the inbound
                          endpoint. This is a read-only property and any attempt to
                          set this value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the inbound endpoint
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The inbound endpoint for the DNS resolver has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  etag:
                    description: ETag of the inbound endpoint.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the inbound endpoint.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - ipConfigurations
                    properties:
                      ipConfigurations:
                        description: IP configurations for the inbound endpoint.
                        type: array
                        items:
                          description: IP configuration.
                          type: object
                          required:
                          - subnet
                          properties:
                            subnet:
                              description: The reference to the subnet bound to the
                                IP configuration.
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            privateIpAddress:
                              description: Private IP address of the IP configuration.
                              type: string
                            privateIpAllocationMethod:
                              description: Private IP address allocation method.
                              type: string
                              enum:
                              - Static
                              - Dynamic
                              default: Dynamic
                              x-ms-enum:
                                name: IpAllocationMethod
                                modelAsString: true
                        x-ms-identifiers: []
                      provisioningState:
                        description: The current provisioning state of the inbound
                          endpoint. This is a read-only property and any attempt to
                          set this value will be ignored.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        description: The resourceGuid property of the inbound endpoint
                          resource.
                        readOnly: true
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: The operation to upsert inbound endpoint for the DNS resolver
            has been accepted and will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                description: An error message
                type: object
                properties:
                  error:
                    description: The error message body
                    type: object
                    properties:
                      code:
                        description: The error code
                        type: string
                      message:
                        description: A description of what caused the error
                        type: string
                      target:
                        description: The target resource of the error message
                        type: string
                      details:
                        description: Extra error information
                        type: array
                        items:
                          description: The body of an error message
                          type: object
                          properties:
                            code:
                              description: The error code
                              type: string
                            message:
                              description: A description of what caused the error
                              type: string
                            target:
                              description: The target resource of the error message
                              type: string
                            details:
                              description: Extra error information
                              type: array
                              items:
                                description: The body of an error message
                                type: object
                                properties:
                                  code:
                                    description: The error code
                                    type: string
                                  message:
                                    description: A description of what caused the
                                      error
                                    type: string
                                  target:
                                    description: The target resource of the error
                                      message
                                    type: string
                                x-ms-external: true
                              x-ms-identifiers: []
                          x-ms-external: true
                        x-ms-identifiers: []
                    x-ms-external: true
                x-ms-external: true
      x-ms-long-running-operation: true
    patch:
      tags:
      - InboundEndpoints
      operationId: InboundEndpoints_Update
      description: Updates an inbound endpoint for a DNS resolver.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dnsResolverName
        in: path
        required: true
        description: The name of the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: inboundEndpointName
        in: path
        required: true
        description: The name of the inbound endpoint for the DNS resolver.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: ETag of the resource. Omit this value to always overwrite the
          current resource. Specify the last-seen ETag value to prevent accidentally
          overwriting any concurrent changes.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Describes an inbound endpoint for a DNS resolver for PATCH
                operation.
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Tags for inbound endpoint.
        description: Parameters supplied to the Update operation.
        required: true
      responses:
        '200':
          description: The inbound endpoint for the DNS resolver has been updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
[...]
