openapi: 3.0.0
info:
  title: EventHubManagementClient
  description: Azure Event Hubs client for managing Event Hubs Cluster, IPFilter Rules
    and VirtualNetworkRules resources.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/clusters:
    get:
      tags:
      - EventHubs Clusters
      operationId: Clusters_ListBySubscription
      description: Lists the available Event Hubs Clusters within an ARM resource
        group
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Clusters returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: Properties of the cluster SKU.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Dedicated
                              x-ms-enum:
                                name: ClusterSkuName
                                modelAsString: true
                            capacity:
                              format: int32
                              minimum: 1
                              type: integer
                              description: The quantity of Event Hubs Cluster Capacity
                                Units contained in this cluster.
                          required:
                          - name
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            createdAt:
                              readOnly: true
                              type: string
                              description: The UTC time when the Event Hubs Cluster
                                was created.
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Unknown
                              - Creating
                              - Deleting
                              - Scaling
                              - Active
                              - Failed
                              - Succeeded
                              - Canceled
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                              description: Provisioning state of the Cluster.
                            updatedAt:
                              readOnly: true
                              type: string
                              description: The UTC time when the Event Hubs Cluster
                                was last updated.
                            metricId:
                              readOnly: true
                              type: string
                              description: The metric ID of the cluster resource.
                                Provided by the service and not modifiable by the
                                user.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the Cluster resource
                            supportsScaling:
                              type: boolean
                              description: A value that indicates whether Scaling
                                is Supported.
                          description: Event Hubs Cluster properties supplied in responses
                            in List or Get operations.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The Event Hubs Clusters present in the List Event
                      Hubs operation results.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Empty unless the
                      value parameter contains an incomplete list of Event Hubs Clusters.
                description: The response of the List Event Hubs Clusters operation.
        default:
          description: Event Hub Cluster error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters:
    get:
      tags:
      - EventHubs Clusters
      operationId: Clusters_ListByResourceGroup
      description: Lists the available Event Hubs Clusters within an ARM resource
        group
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Clusters returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: Properties of the cluster SKU.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this SKU.
                              enum:
                              - Dedicated
                              x-ms-enum:
                                name: ClusterSkuName
                                modelAsString: true
                            capacity:
                              format: int32
                              minimum: 1
                              type: integer
                              description: The quantity of Event Hubs Cluster Capacity
                                Units contained in this cluster.
                          required:
                          - name
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            createdAt:
                              readOnly: true
                              type: string
                              description: The UTC time when the Event Hubs Cluster
                                was created.
                            provisioningState:
                              readOnly: true
                              type: string
                              enum:
                              - Unknown
                              - Creating
                              - Deleting
                              - Scaling
                              - Active
                              - Failed
                              - Succeeded
                              - Canceled
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                              description: Provisioning state of the Cluster.
                            updatedAt:
                              readOnly: true
                              type: string
                              description: The UTC time when the Event Hubs Cluster
                                was last updated.
                            metricId:
                              readOnly: true
                              type: string
                              description: The metric ID of the cluster resource.
                                Provided by the service and not modifiable by the
                                user.
                            status:
                              readOnly: true
                              type: string
                              description: Status of the Cluster resource
                            supportsScaling:
                              type: boolean
                              description: A value that indicates whether Scaling
                                is Supported.
                          description: Event Hubs Cluster properties supplied in responses
                            in List or Get operations.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The Event Hubs Clusters present in the List Event
                      Hubs operation results.
                  nextLink:
                    type: string
                    description: Link to the next set of results. Empty unless the
                      value parameter contains an incomplete list of Event Hubs Clusters.
                description: The response of the List Event Hubs Clusters operation.
        default:
          description: Event Hub Cluster error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}:
    get:
      tags:
      - EventHubs Clusters
      operationId: Clusters_Get
      description: Gets the resource description of the specified Event Hubs Cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Event Hubs Cluster resource description returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: Properties of the cluster SKU.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Dedicated
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                      capacity:
                        format: int32
                        minimum: 1
                        type: integer
                        description: The quantity of Event Hubs Cluster Capacity Units
                          contained in this cluster.
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      createdAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          created.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Unknown
                        - Creating
                        - Deleting
                        - Scaling
                        - Active
                        - Failed
                        - Succeeded
                        - Canceled
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                        description: Provisioning state of the Cluster.
                      updatedAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          last updated.
                      metricId:
                        readOnly: true
                        type: string
                        description: The metric ID of the cluster resource. Provided
                          by the service and not modifiable by the user.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Cluster resource
                      supportsScaling:
                        type: boolean
                        description: A value that indicates whether Scaling is Supported.
                    description: Event Hubs Cluster properties supplied in responses
                      in List or Get operations.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Event Hubs Cluster error response describing why the cluster
            description get operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
    put:
      tags:
      - EventHubs Clusters
      operationId: Clusters_CreateOrUpdate
      description: Creates or updates an instance of an Event Hubs Cluster.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                sku:
                  description: Properties of the cluster SKU.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of this SKU.
                      enum:
                      - Dedicated
                      x-ms-enum:
                        name: ClusterSkuName
                        modelAsString: true
                    capacity:
                      format: int32
                      minimum: 1
                      type: integer
                      description: The quantity of Event Hubs Cluster Capacity Units
                        contained in this cluster.
                  required:
                  - name
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                properties:
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    createdAt:
                      readOnly: true
                      type: string
                      description: The UTC time when the Event Hubs Cluster was created.
                    provisioningState:
                      readOnly: true
                      type: string
                      enum:
                      - Unknown
                      - Creating
                      - Deleting
                      - Scaling
                      - Active
                      - Failed
                      - Succeeded
                      - Canceled
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                      description: Provisioning state of the Cluster.
                    updatedAt:
                      readOnly: true
                      type: string
                      description: The UTC time when the Event Hubs Cluster was last
                        updated.
                    metricId:
                      readOnly: true
                      type: string
                      description: The metric ID of the cluster resource. Provided
                        by the service and not modifiable by the user.
                    status:
                      readOnly: true
                      type: string
                      description: Status of the Cluster resource
                    supportsScaling:
                      type: boolean
                      description: A value that indicates whether Scaling is Supported.
                  description: Event Hubs Cluster properties supplied in responses
                    in List or Get operations.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - location
        description: Parameters for creating a eventhub cluster resource.
        required: true
      responses:
        '200':
          description: Event Hubs Cluster successfully created or updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: Properties of the cluster SKU.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Dedicated
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                      capacity:
                        format: int32
                        minimum: 1
                        type: integer
                        description: The quantity of Event Hubs Cluster Capacity Units
                          contained in this cluster.
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      createdAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          created.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Unknown
                        - Creating
                        - Deleting
                        - Scaling
                        - Active
                        - Failed
                        - Succeeded
                        - Canceled
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                        description: Provisioning state of the Cluster.
                      updatedAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          last updated.
                      metricId:
                        readOnly: true
                        type: string
                        description: The metric ID of the cluster resource. Provided
                          by the service and not modifiable by the user.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Cluster resource
                      supportsScaling:
                        type: boolean
                        description: A value that indicates whether Scaling is Supported.
                    description: Event Hubs Cluster properties supplied in responses
                      in List or Get operations.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Event Hubs Cluster create or update request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: Properties of the cluster SKU.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Dedicated
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                      capacity:
                        format: int32
                        minimum: 1
                        type: integer
                        description: The quantity of Event Hubs Cluster Capacity Units
                          contained in this cluster.
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      createdAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          created.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Unknown
                        - Creating
                        - Deleting
                        - Scaling
                        - Active
                        - Failed
                        - Succeeded
                        - Canceled
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                        description: Provisioning state of the Cluster.
                      updatedAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          last updated.
                      metricId:
                        readOnly: true
                        type: string
                        description: The metric ID of the cluster resource. Provided
                          by the service and not modifiable by the user.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Cluster resource
                      supportsScaling:
                        type: boolean
                        description: A value that indicates whether Scaling is Supported.
                    description: Event Hubs Cluster properties supplied in responses
                      in List or Get operations.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Event Hubs Cluster create or update request accepted.
        default:
          description: Event Hubs error response detailing why the Event Hubs Cluster
            create or update operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-long-running-operation: true
    patch:
      tags:
      - EventHubs Clusters
      operationId: Clusters_Update
      description: Modifies mutable properties on the Event Hubs Cluster. This operation
        is idempotent.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                sku:
                  description: Properties of the cluster SKU.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of this SKU.
                      enum:
                      - Dedicated
                      x-ms-enum:
                        name: ClusterSkuName
                        modelAsString: true
                    capacity:
                      format: int32
                      minimum: 1
                      type: integer
                      description: The quantity of Event Hubs Cluster Capacity Units
                        contained in this cluster.
                  required:
                  - name
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                properties:
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    createdAt:
                      readOnly: true
                      type: string
                      description: The UTC time when the Event Hubs Cluster was created.
                    provisioningState:
                      readOnly: true
                      type: string
                      enum:
                      - Unknown
                      - Creating
                      - Deleting
                      - Scaling
                      - Active
                      - Failed
                      - Succeeded
                      - Canceled
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
                      description: Provisioning state of the Cluster.
                    updatedAt:
                      readOnly: true
                      type: string
                      description: The UTC time when the Event Hubs Cluster was last
                        updated.
                    metricId:
                      readOnly: true
                      type: string
                      description: The metric ID of the cluster resource. Provided
                        by the service and not modifiable by the user.
                    status:
                      readOnly: true
                      type: string
                      description: Status of the Cluster resource
                    supportsScaling:
                      type: boolean
                      description: A value that indicates whether Scaling is Supported.
                  description: Event Hubs Cluster properties supplied in responses
                    in List or Get operations.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The properties of the Event Hubs Cluster which should be updated.
        required: true
      responses:
        '200':
          description: Event Hubs Cluster successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: Properties of the cluster SKU.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Dedicated
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                      capacity:
                        format: int32
                        minimum: 1
                        type: integer
                        description: The quantity of Event Hubs Cluster Capacity Units
                          contained in this cluster.
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      createdAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          created.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Unknown
                        - Creating
                        - Deleting
                        - Scaling
                        - Active
                        - Failed
                        - Succeeded
                        - Canceled
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                        description: Provisioning state of the Cluster.
                      updatedAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          last updated.
                      metricId:
                        readOnly: true
                        type: string
                        description: The metric ID of the cluster resource. Provided
                          by the service and not modifiable by the user.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Cluster resource
                      supportsScaling:
                        type: boolean
                        description: A value that indicates whether Scaling is Supported.
                    description: Event Hubs Cluster properties supplied in responses
                      in List or Get operations.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Event Hubs Cluster update request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: Properties of the cluster SKU.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of this SKU.
                        enum:
                        - Dedicated
                        x-ms-enum:
                          name: ClusterSkuName
                          modelAsString: true
                      capacity:
                        format: int32
                        minimum: 1
                        type: integer
                        description: The quantity of Event Hubs Cluster Capacity Units
                          contained in this cluster.
                    required:
                    - name
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      createdAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          created.
                      provisioningState:
                        readOnly: true
                        type: string
                        enum:
                        - Unknown
                        - Creating
                        - Deleting
                        - Scaling
                        - Active
                        - Failed
                        - Succeeded
                        - Canceled
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                        description: Provisioning state of the Cluster.
                      updatedAt:
                        readOnly: true
                        type: string
                        description: The UTC time when the Event Hubs Cluster was
                          last updated.
                      metricId:
                        readOnly: true
                        type: string
                        description: The metric ID of the cluster resource. Provided
                          by the service and not modifiable by the user.
                      status:
                        readOnly: true
                        type: string
                        description: Status of the Cluster resource
                      supportsScaling:
                        type: boolean
                        description: A value that indicates whether Scaling is Supported.
                    description: Event Hubs Cluster properties supplied in responses
                      in List or Get operations.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Event Hubs Cluster update request accepted.
        default:
          description: Event Hubs error response detailing why the Event Hubs Cluster
            update operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-long-running-operation: true
    delete:
      tags:
      - EventHubs Clusters
      operationId: Clusters_Delete
      description: Deletes an existing Event Hubs Cluster. This operation is idempotent.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      responses:
        '200':
          description: Event Hubs Cluster successfully deleted.
        '202':
          description: Event Hubs Cluster delete request accepted.
        '204':
          description: No content.
        default:
          description: Event Hubs error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/namespaces
  : get:
      tags:
      - EventHubs Clusters Namespace
      operationId: Clusters_ListNamespaces
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      description: List all Event Hubs Namespace IDs in an Event Hubs Dedicated Cluster.
      responses:
        '200':
          description: List of Namespace IDs in Cluster successfully delivered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: id parameter
                      description: The full ARM ID of an Event Hubs Namespace
                    description: Result of the List Namespace IDs operation
                description: The response of the List Namespace IDs operation
        default:
          description: Event Hubs Cluster error response detailing why this operation
            failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
[...]
