openapi: 3.0.0
info:
  title: EventHubManagementClient
  description: Azure Event Hubs client
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available Event Hub REST API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list Event Hub operations. It
                  contains a list of operations and a URL link to get the next set
                  of results.
                properties:
                  value:
                    description: List of Event Hub operations supported by the Microsoft.EventHub
                      resource provider.
                    type: array
                    readOnly: true
                    items:
                      description: A Event Hub REST API operation
                      type: object
                      properties:
                        name:
                          readOnly: true
                          type: string
                          description: 'Operation name: {provider}/{resource}/{operation}'
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          description: Display of the operation
                          type: object
                          properties:
                            provider:
                              description: Resource provider of the operation
                              type: string
                              readOnly: true
                            resource:
                              description: Resource of the operation
                              type: string
                              readOnly: true
                            operation:
                              description: Localized friendly name for the operation
                              type: string
                              readOnly: true
                            description:
                              description: Localized friendly description for the
                                operation
                              type: string
                              readOnly: true
                        origin:
                          description: Origin of the operation
                          type: string
                        properties:
                          description: Properties of the operation
                          type: object
                          x-ms-client-flatten: true
                  nextLink:
                    readOnly: true
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: Eventhub error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list Event Hub operations. It contains
        a list of operations and a URL link to get the next set of results.
      properties:
        value:
          description: List of Event Hub operations supported by the Microsoft.EventHub
            resource provider.
          type: array
          readOnly: true
          items:
            description: A Event Hub REST API operation
            type: object
            properties:
              name:
                readOnly: true
                type: string
                description: 'Operation name: {provider}/{resource}/{operation}'
              isDataAction:
                description: Indicates whether the operation is a data action
                type: boolean
              display:
                description: Display of the operation
                type: object
                properties:
                  provider:
                    description: Resource provider of the operation
                    type: string
                    readOnly: true
                  resource:
                    description: Resource of the operation
                    type: string
                    readOnly: true
                  operation:
                    description: Localized friendly name for the operation
                    type: string
                    readOnly: true
                  description:
                    description: Localized friendly description for the operation
                    type: string
                    readOnly: true
              origin:
                description: Origin of the operation
                type: string
              properties:
                description: Properties of the operation
                type: object
                x-ms-client-flatten: true
        nextLink:
          readOnly: true
          type: string
          description: URL to get the next set of operation list results if there
            are any.
    Operation:
      description: A Event Hub REST API operation
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
        display:
          description: Display of the operation
          type: object
          properties:
            provider:
              description: Resource provider of the operation
              type: string
              readOnly: true
            resource:
              description: Resource of the operation
              type: string
              readOnly: true
            operation:
              description: Localized friendly name for the operation
              type: string
              readOnly: true
            description:
              description: Localized friendly description for the operation
              type: string
              readOnly: true
        origin:
          description: Origin of the operation
          type: string
        properties:
          description: Properties of the operation
          type: object
          x-ms-client-flatten: true
    OperationDisplay:
      description: Operation display payload
      type: object
      properties:
        provider:
          description: Resource provider of the operation
          type: string
          readOnly: true
        resource:
          description: Resource of the operation
          type: string
          readOnly: true
        operation:
          description: Localized friendly name for the operation
          type: string
          readOnly: true
        description:
          description: Localized friendly description for the operation
          type: string
          readOnly: true
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                description: The error additional info.
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      description: Error response indicates Event Hub service is not able to process
        the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    description: The error additional info.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
