openapi: 3.0.0
info:
  title: EventHubManagementClient
  description: Azure Event Hubs client for managing Event Hubs Cluster, IPFilter Rules
    and VirtualNetworkRules resources.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/quotaConfiguration/default
  : patch:
      tags:
      - Event Hubs Clusters Configuration
      operationId: Configuration_Patch
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - settings
              type: object
              properties:
                settings:
                  type: object
                  additionalProperties:
                    type: string
                  description: All possible Cluster settings - a collection of key/value
                    paired settings which apply to quotas and configurations imposed
                    on the cluster.
              description: Contains all settings for the cluster.
        description: Parameters for creating an Event Hubs Cluster resource.
        required: true
      description: Replace all specified Event Hubs Cluster settings with those contained
        in the request body. Leaves the settings not specified in the request body
        unmodified.
      responses:
        '200':
          description: Event Hubs Cluster settings configuration returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: object
                    additionalProperties:
                      type: string
                    description: All possible Cluster settings - a collection of key/value
                      paired settings which apply to quotas and configurations imposed
                      on the cluster.
                description: Contains all settings for the cluster.
        '201':
          description: Event Hubs Cluster setting configuration request successfully
            accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: object
                    additionalProperties:
                      type: string
                    description: All possible Cluster settings - a collection of key/value
                      paired settings which apply to quotas and configurations imposed
                      on the cluster.
                description: Contains all settings for the cluster.
        '202':
          description: Event Hubs Cluster update request accepted.
        default:
          description: Event Hubs Cluster error response describing why the get cluster
            quotas and settings operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
    get:
      tags:
      - Event Hubs Clusters Configuration
      operationId: Configuration_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the resource group within the azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Event Hubs Cluster.
        schema:
          type: string
          minLength: 6
          maxLength: 50
      - name: api-version
        in: query
        required: true
        description: Client API Version.
        schema:
          type: string
      description: Get all Event Hubs Cluster settings - a collection of key/value
        pairs which represent the quotas and settings imposed on the cluster.
      responses:
        '200':
          description: Event Hubs Cluster settings configuration returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: object
                    additionalProperties:
                      type: string
                    description: All possible Cluster settings - a collection of key/value
                      paired settings which apply to quotas and configurations imposed
                      on the cluster.
                description: Contains all settings for the cluster.
        default:
          description: Event Hubs Cluster error response describing why the get cluster
            quotas and settings operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Event Hub service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              description: The error additional info.
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        description: The error additional info.
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the resource group within the azure subscription.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Event Hubs Cluster.
      schema:
        type: string
        minLength: 6
        maxLength: 50
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ClusterQuotaConfigurationProperties:
      type: object
      properties:
        settings:
          type: object
          additionalProperties:
            type: string
          description: All possible Cluster settings - a collection of key/value paired
            settings which apply to quotas and configurations imposed on the cluster.
      description: Contains all settings for the cluster.
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                description: The error additional info.
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      description: Error response indicates Event Hub service is not able to process
        the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    description: The error additional info.
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              description: The error additional info.
