openapi: 3.0.0
info:
  title: NewRelic.Observability
  version: 2024-10-01
  x-cadl-generated:
  - emitter: '@azure-tools/cadl-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Monitors
- name: Accounts
- name: Organizations
- name: Plan
- name: TagRules
paths:
  /providers/NewRelic.Observability/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/accounts:
    get:
      tags:
      - Accounts
      operationId: Accounts_List
      description: List all the existing accounts
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: userEmail
        in: query
        required: true
        description: User Email.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: query
        required: true
        description: Location for NewRelic.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            organizationId:
                              type: string
                              description: organization id
                            accountId:
                              type: string
                              description: account id
                            accountName:
                              type: string
                              description: account name
                            region:
                              type: string
                              description: Region where New Relic account is present
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-cadl-name: AccountResource[]
                    description: The AccountResource items on this page
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-cadl-name: Rest.ResourceLocation
                description: Response of get all accounts Operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/monitors:
    get:
      tags:
      - Monitors
      operationId: Monitors_ListBySubscription
      description: List NewRelicMonitorResource resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning State of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: Monitor resource creation request accepted
                                - name: Creating
                                  value: Creating
                                  description: Monitor resource creation started
                                - name: Updating
                                  value: Updating
                                  description: Monitor resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: Monitor resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: Monitor resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: Monitor resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: Monitor resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: Monitor resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: Monitor resource state is unknown
                            monitoringStatus:
                              description: MonitoringStatus of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: MonitoringStatus
                                modelAsString: true
                                values:
                                - name: Enabled
                                  value: Enabled
                                  description: monitoring is enabled
                                - name: Disabled
                                  value: Disabled
                                  description: monitoring is disabled
                            marketplaceSubscriptionStatus:
                              description: NewRelic Organization properties of the
                                resource
                              readOnly: true
                              type: string
                              enum:
                              - Active
                              - Suspended
                              x-ms-enum:
                                name: MarketplaceSubscriptionStatus
                                modelAsString: true
                                values:
                                - name: Active
                                  value: Active
                                  description: monitoring is enabled
                                - name: Suspended
                                  value: Suspended
                                  description: monitoring is disabled
                            marketplaceSubscriptionId:
                              type: string
                              description: Marketplace Subscription Id
                              readOnly: true
                            newRelicAccountProperties:
                              description: MarketplaceSubscriptionStatus of the resource
                              type: object
                              properties:
                                userId:
                                  type: string
                                  description: User id
                                accountInfo:
                                  description: NewRelic Account Information
                                  type: object
                                  properties:
                                    accountId:
                                      type: string
                                      description: Account id
                                    ingestionKey:
                                      description: ingestion key of account
                                      type: string
                                      format: password
                                      x-ms-secret: true
                                    region:
                                      type: string
                                      description: Region where New Relic account
                                        is present
                                organizationInfo:
                                  description: NewRelic Organization Information
                                  type: object
                                  properties:
                                    organizationId:
                                      type: string
                                      description: Organization id
                                singleSignOnProperties:
                                  description: date when plan was applied
                                  type: object
                                  properties:
                                    singleSignOnState:
                                      description: Single sign-on state
                                      type: string
                                      enum:
                                      - Initial
                                      - Enable
                                      - Disable
                                      - Existing
                                      x-ms-enum:
                                        name: SingleSignOnStates
                                        modelAsString: true
                                    enterpriseAppId:
                                      type: string
                                      description: The Id of the Enterprise App used
                                        for Single sign-on.
                                    singleSignOnUrl:
                                      type: string
                                      description: The login URL specific to this
                                        NewRelic Organization
                                    provisioningState:
                                      description: Provisioning state
                                      type: string
                                      enum:
                                      - Accepted
                                      - Creating
                                      - Updating
                                      - Deleting
                                      - Succeeded
                                      - Failed
                                      - Canceled
                                      - Deleted
                                      - NotSpecified
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                        values:
                                        - name: Accepted
                                          value: Accepted
                                          description: Monitor resource creation request
                                            accepted
                                        - name: Creating
                                          value: Creating
                                          description: Monitor resource creation started
                                        - name: Updating
                                          value: Updating
                                          description: Monitor resource is being updated
                                        - name: Deleting
                                          value: Deleting
                                          description: Monitor resource deletion started
                                        - name: Succeeded
                                          value: Succeeded
                                          description: Monitor resource creation successful
                                        - name: Failed
                                          value: Failed
                                          description: Monitor resource creation failed
                                        - name: Canceled
                                          value: Canceled
                                          description: Monitor resource creation canceled
                                        - name: Deleted
                                          value: Deleted
                                          description: Monitor resource is deleted
                                        - name: NotSpecified
                                          value: NotSpecified
                                          description: Monitor resource state is unknown
                            userInfo:
                              description: User Info
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name
                                  maxLength: 50
                                lastName:
                                  type: string
                                  description: Last name
                                  maxLength: 50
                                emailAddress:
                                  description: User Email
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                phoneNumber:
                                  type: string
                                  description: Contact phone number
                                  maxLength: 40
                                country:
                                  type: string
                                  description: country if user
                            planData:
                              description: Plan details
                              type: object
                              properties:
                                usageType:
                                  description: Different usage type like PAYG/COMMITTED.
                                    this could be enum
                                  type: string
                                  enum:
                                  - PAYG
                                  - COMMITTED
                                  x-ms-enum:
                                    name: UsageType
                                    modelAsString: true
                                    values:
                                    - name: PAYG
                                      value: PAYG
                                      description: Usage type is PAYG
                                    - name: COMMITTED
                                      value: COMMITTED
                                      description: Usage type is COMMITTED
                                billingCycle:
                                  type: string
                                  description: Different billing cycles like Monthly/Weekly.
                                planDetails:
                                  type: string
                                  description: plan id as published by NewRelic
                                effectiveDate:
                                  type: string
                                  format: date-time
                                  description: date when plan was applied
                            liftrResourceCategory:
                              description: Liftr resource category
                              readOnly: true
                              type: string
                              enum:
                              - Unknown
                              - MonitorLogs
                              x-ms-enum:
                                name: LiftrResourceCategories
                                modelAsString: true
                            liftrResourcePreference:
                              type: integer
                              format: int32
                              description: Liftr resource preference. The priority
                                of the resource.
                              readOnly: true
                            orgCreationSource:
                              description: Source of org creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: OrgCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Org is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Org is created from NEWRELIC
                            accountCreationSource:
                              description: Source of account creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: AccountCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Account is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Account is created from NEWRELIC
                            subscriptionState:
                              description: State of the Azure Subscription containing
                                the monitor resource
                              type: string
                            saaSAzureSubscriptionStatus:
                              description: Status of Azure Subscription where Marketplace
                                SaaS is located.
                              type: string
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-cadl-name: NewRelicMonitorResource[]
                    description: The NewRelicMonitorResource items on this page
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-cadl-name: Rest.ResourceLocation
                description: The response of a NewRelicMonitorResource list operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/organizations:
    get:
      tags:
      - Organizations
      operationId: Organizations_List
      description: List all the existing organizations
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: userEmail
        in: query
        required: true
        description: User Email.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: location
        in: query
        required: true
        description: Location for NewRelic.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            organizationId:
                              type: string
                              description: organization id
                            organizationName:
                              type: string
                              description: organization name
                            billingSource:
                              description: Billing source
                              type: string
                              enum:
                              - AZURE
                              - NEWRELIC
                              x-ms-enum:
                                name: BillingSource
                                modelAsString: true
                                values:
                                - name: AZURE
                                  value: AZURE
                                  description: Billing source is Azure
                                - name: NEWRELIC
                                  value: NEWRELIC
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-cadl-name: OrganizationResource[]
                    description: The OrganizationResource items on this page
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-cadl-name: Rest.ResourceLocation
                description: Response of get all organizations Operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/plans:
    get:
      tags:
      - Plan
      operationId: Plans_List
      description: List plans data
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: accountId
        in: query
        required: false
        description: Account Id.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: organizationId
        in: query
        required: false
        description: Organization Id.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            planData:
                              description: Plan details
                              type: object
                              properties:
                                usageType:
                                  description: Different usage type like PAYG/COMMITTED.
                                    this could be enum
                                  type: string
                                  enum:
                                  - PAYG
                                  - COMMITTED
                                  x-ms-enum:
                                    name: UsageType
                                    modelAsString: true
                                    values:
                                    - name: PAYG
                                      value: PAYG
                                      description: Usage type is PAYG
                                    - name: COMMITTED
                                      value: COMMITTED
                                      description: Usage type is COMMITTED
                                billingCycle:
                                  type: string
                                  description: Different billing cycles like Monthly/Weekly.
                                planDetails:
                                  type: string
                                  description: plan id as published by NewRelic
                                effectiveDate:
                                  type: string
                                  format: date-time
                                  description: date when plan was applied
                            orgCreationSource:
                              description: Source of org creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: OrgCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Org is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Org is created from NEWRELIC
                            accountCreationSource:
                              description: Source of account creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: AccountCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Account is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Account is created from NEWRELIC
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-cadl-name: PlanDataResource[]
                    description: The PlanDataResource items on this page
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-cadl-name: Rest.ResourceLocation
                description: Response of get all plan data Operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors:
    get:
      tags:
      - Monitors
      operationId: Monitors_ListByResourceGroup
      description: List NewRelicMonitorResource resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning State of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: Monitor resource creation request accepted
                                - name: Creating
                                  value: Creating
                                  description: Monitor resource creation started
                                - name: Updating
                                  value: Updating
                                  description: Monitor resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: Monitor resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: Monitor resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: Monitor resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: Monitor resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: Monitor resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: Monitor resource state is unknown
                            monitoringStatus:
                              description: MonitoringStatus of the resource
                              readOnly: true
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: MonitoringStatus
                                modelAsString: true
                                values:
                                - name: Enabled
                                  value: Enabled
                                  description: monitoring is enabled
                                - name: Disabled
                                  value: Disabled
                                  description: monitoring is disabled
                            marketplaceSubscriptionStatus:
                              description: NewRelic Organization properties of the
                                resource
                              readOnly: true
                              type: string
                              enum:
                              - Active
                              - Suspended
                              x-ms-enum:
                                name: MarketplaceSubscriptionStatus
                                modelAsString: true
                                values:
                                - name: Active
                                  value: Active
                                  description: monitoring is enabled
                                - name: Suspended
                                  value: Suspended
                                  description: monitoring is disabled
                            marketplaceSubscriptionId:
                              type: string
                              description: Marketplace Subscription Id
                              readOnly: true
                            newRelicAccountProperties:
                              description: MarketplaceSubscriptionStatus of the resource
                              type: object
                              properties:
                                userId:
                                  type: string
                                  description: User id
                                accountInfo:
                                  description: NewRelic Account Information
                                  type: object
                                  properties:
                                    accountId:
                                      type: string
                                      description: Account id
                                    ingestionKey:
                                      description: ingestion key of account
                                      type: string
                                      format: password
                                      x-ms-secret: true
                                    region:
                                      type: string
                                      description: Region where New Relic account
                                        is present
                                organizationInfo:
                                  description: NewRelic Organization Information
                                  type: object
                                  properties:
                                    organizationId:
                                      type: string
                                      description: Organization id
                                singleSignOnProperties:
                                  description: date when plan was applied
                                  type: object
                                  properties:
                                    singleSignOnState:
                                      description: Single sign-on state
                                      type: string
                                      enum:
                                      - Initial
                                      - Enable
                                      - Disable
                                      - Existing
                                      x-ms-enum:
                                        name: SingleSignOnStates
                                        modelAsString: true
                                    enterpriseAppId:
                                      type: string
                                      description: The Id of the Enterprise App used
                                        for Single sign-on.
                                    singleSignOnUrl:
                                      type: string
                                      description: The login URL specific to this
                                        NewRelic Organization
                                    provisioningState:
                                      description: Provisioning state
                                      type: string
                                      enum:
                                      - Accepted
                                      - Creating
                                      - Updating
                                      - Deleting
                                      - Succeeded
                                      - Failed
                                      - Canceled
                                      - Deleted
                                      - NotSpecified
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                        values:
                                        - name: Accepted
                                          value: Accepted
                                          description: Monitor resource creation request
                                            accepted
                                        - name: Creating
                                          value: Creating
                                          description: Monitor resource creation started
                                        - name: Updating
                                          value: Updating
                                          description: Monitor resource is being updated
                                        - name: Deleting
                                          value: Deleting
                                          description: Monitor resource deletion started
                                        - name: Succeeded
                                          value: Succeeded
                                          description: Monitor resource creation successful
                                        - name: Failed
                                          value: Failed
                                          description: Monitor resource creation failed
                                        - name: Canceled
                                          value: Canceled
                                          description: Monitor resource creation canceled
                                        - name: Deleted
                                          value: Deleted
                                          description: Monitor resource is deleted
                                        - name: NotSpecified
                                          value: NotSpecified
                                          description: Monitor resource state is unknown
                            userInfo:
                              description: User Info
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: First name
                                  maxLength: 50
                                lastName:
                                  type: string
                                  description: Last name
                                  maxLength: 50
                                emailAddress:
                                  description: User Email
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                phoneNumber:
                                  type: string
                                  description: Contact phone number
                                  maxLength: 40
                                country:
                                  type: string
                                  description: country if user
                            planData:
                              description: Plan details
                              type: object
                              properties:
                                usageType:
                                  description: Different usage type like PAYG/COMMITTED.
                                    this could be enum
                                  type: string
                                  enum:
                                  - PAYG
                                  - COMMITTED
                                  x-ms-enum:
                                    name: UsageType
                                    modelAsString: true
                                    values:
                                    - name: PAYG
                                      value: PAYG
                                      description: Usage type is PAYG
                                    - name: COMMITTED
                                      value: COMMITTED
                                      description: Usage type is COMMITTED
                                billingCycle:
                                  type: string
                                  description: Different billing cycles like Monthly/Weekly.
                                planDetails:
                                  type: string
                                  description: plan id as published by NewRelic
                                effectiveDate:
                                  type: string
                                  format: date-time
                                  description: date when plan was applied
                            liftrResourceCategory:
                              description: Liftr resource category
                              readOnly: true
                              type: string
                              enum:
                              - Unknown
                              - MonitorLogs
                              x-ms-enum:
                                name: LiftrResourceCategories
                                modelAsString: true
                            liftrResourcePreference:
                              type: integer
                              format: int32
                              description: Liftr resource preference. The priority
                                of the resource.
                              readOnly: true
                            orgCreationSource:
                              description: Source of org creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: OrgCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Org is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Org is created from NEWRELIC
                            accountCreationSource:
                              description: Source of account creation
                              type: string
                              enum:
                              - LIFTR
                              - NEWRELIC
                              x-ms-enum:
                                name: AccountCreationSource
                                modelAsString: true
                                values:
                                - name: LIFTR
                                  value: LIFTR
                                  description: Account is created from LIFTR
                                - name: NEWRELIC
                                  value: NEWRELIC
                                  description: Account is created from NEWRELIC
                            subscriptionState:
                              description: State of the Azure Subscription containing
                                the monitor resource
                              type: string
                            saaSAzureSubscriptionStatus:
                              description: Status of Azure Subscription where Marketplace
                                SaaS is located.
                              type: string
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
[...]
