openapi: 3.0.0
info:
  title: AuthorizationManagementClient
  version: 2022-04-01
  description: Role based access control provides you a way to apply granular level
    policy administration down to individual resources or resource groups. These operations
    enable you to manage role assignments. A role assignment grants access to Azure
    Active Directory users.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForSubscription
      description: List all role assignments that apply to a subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
        x-ms-parameter-location: method
        schema:
          type: string
        allowReserved: true
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns an array of role assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The role assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The role assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The role assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Role assignment properties.
                          properties:
                            scope:
                              readOnly: true
                              type: string
                              description: The role assignment scope.
                            roleDefinitionId:
                              type: string
                              description: The role definition ID.
                            principalId:
                              type: string
                              description: The principal ID.
                            principalType:
                              type: string
                              description: The principal type of the assigned principal
                                ID.
                              enum:
                              - User
                              - Group
                              - ServicePrincipal
                              - ForeignGroup
                              - Device
                              default: User
                              x-ms-enum:
                                name: PrincipalType
                                modelAsString: true
                            description:
                              type: string
                              description: Description of role assignment
                            condition:
                              type: string
                              description: 'The conditions on the role assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition. Currently the
                                only accepted value is '2.0'
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                            delegatedManagedIdentityResourceId:
                              type: string
                              description: Id of the delegated managed identity resource
                          required:
                          - roleDefinitionId
                          - principalId
                          type: object
                      type: object
                      description: Role Assignments
                    description: Role assignment list.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The skipToken to use for getting the next set of
                      results.
                type: object
                description: Role assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-odata: '#/components/schemas/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForResourceGroup
      description: List all role assignments that apply to a resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
        x-ms-parameter-location: method
        schema:
          type: string
        allowReserved: true
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns an array of role assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The role assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The role assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The role assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Role assignment properties.
                          properties:
                            scope:
                              readOnly: true
                              type: string
                              description: The role assignment scope.
                            roleDefinitionId:
                              type: string
                              description: The role definition ID.
                            principalId:
                              type: string
                              description: The principal ID.
                            principalType:
                              type: string
                              description: The principal type of the assigned principal
                                ID.
                              enum:
                              - User
                              - Group
                              - ServicePrincipal
                              - ForeignGroup
                              - Device
                              default: User
                              x-ms-enum:
                                name: PrincipalType
                                modelAsString: true
                            description:
                              type: string
                              description: Description of role assignment
                            condition:
                              type: string
                              description: 'The conditions on the role assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition. Currently the
                                only accepted value is '2.0'
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                            delegatedManagedIdentityResourceId:
                              type: string
                              description: Id of the delegated managed identity resource
                          required:
                          - roleDefinitionId
                          - principalId
                          type: object
                      type: object
                      description: Role Assignments
                    description: Role assignment list.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The skipToken to use for getting the next set of
                      results.
                type: object
                description: Role assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-odata: '#/components/schemas/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/roleAssignments
  : get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForResource
      description: List all role assignments that apply to a resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        description: The resource type name. For example the type name of a web app
          is 'sites' (from Microsoft.Web/sites).
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The resource name.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
        x-ms-parameter-location: method
        schema:
          type: string
        allowReserved: true
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns an array of role assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The role assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The role assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The role assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Role assignment properties.
                          properties:
                            scope:
                              readOnly: true
                              type: string
                              description: The role assignment scope.
                            roleDefinitionId:
                              type: string
                              description: The role definition ID.
                            principalId:
                              type: string
                              description: The principal ID.
                            principalType:
                              type: string
                              description: The principal type of the assigned principal
                                ID.
                              enum:
                              - User
                              - Group
                              - ServicePrincipal
                              - ForeignGroup
                              - Device
                              default: User
                              x-ms-enum:
                                name: PrincipalType
                                modelAsString: true
                            description:
                              type: string
                              description: Description of role assignment
                            condition:
                              type: string
                              description: 'The conditions on the role assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition. Currently the
                                only accepted value is '2.0'
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                            delegatedManagedIdentityResourceId:
                              type: string
                              description: Id of the delegated managed identity resource
                          required:
                          - roleDefinitionId
                          - principalId
                          type: object
                      type: object
                      description: Role Assignments
                    description: Role assignment list.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The skipToken to use for getting the next set of
                      results.
                type: object
                description: Role assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-odata: '#/components/schemas/RoleAssignmentFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Get
      description: Get a role assignment by scope and name.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the operation or resource. Valid scopes are: subscription
          (format: ''/subscriptions/{subscriptionId}''), resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: roleAssignmentName
        in: path
        required: true
        description: The name of the role assignment. It can be any valid GUID.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns the role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
                          ID.
                        enum:
                        - User
                        - Group
                        - ServicePrincipal
                        - ForeignGroup
                        - Device
                        default: User
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      description:
                        type: string
                        description: Description of role assignment
                      condition:
                        type: string
                        description: 'The conditions on the role assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition. Currently the only
                          accepted value is '2.0'
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                      delegatedManagedIdentityResourceId:
                        type: string
                        description: Id of the delegated managed identity resource
                    required:
                    - roleDefinitionId
                    - principalId
                    type: object
                type: object
                description: Role Assignments
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Create
      description: Create or update a role assignment by scope and name.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the operation or resource. Valid scopes are: subscription
          (format: ''/subscriptions/{subscriptionId}''), resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: roleAssignmentName
        in: path
        required: true
        description: The name of the role assignment. It can be any valid GUID.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Role assignment properties.
                  properties:
                    scope:
                      readOnly: true
                      type: string
                      description: The role assignment scope.
                    roleDefinitionId:
                      type: string
                      description: The role definition ID.
                    principalId:
                      type: string
                      description: The principal ID.
                    principalType:
                      type: string
                      description: The principal type of the assigned principal ID.
                      enum:
                      - User
                      - Group
                      - ServicePrincipal
                      - ForeignGroup
                      - Device
                      default: User
                      x-ms-enum:
                        name: PrincipalType
                        modelAsString: true
                    description:
                      type: string
                      description: Description of role assignment
                    condition:
                      type: string
                      description: 'The conditions on the role assignment. This limits
                        the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                        StringEqualsIgnoreCase ''foo_storage_container'''
                    conditionVersion:
                      type: string
                      description: Version of the condition. Currently the only accepted
                        value is '2.0'
                    createdOn:
                      readOnly: true
                      type: string
                      description: Time it was created
                      format: date-time
                    updatedOn:
                      readOnly: true
                      type: string
                      description: Time it was updated
                      format: date-time
                    createdBy:
                      readOnly: true
                      type: string
                      description: Id of the user who created the assignment
                    updatedBy:
                      readOnly: true
                      type: string
                      description: Id of the user who updated the assignment
                    delegatedManagedIdentityResourceId:
                      type: string
                      description: Id of the delegated managed identity resource
                  required:
                  - roleDefinitionId
                  - principalId
                  type: object
              required:
              - properties
              type: object
              description: Role assignment create parameters.
        description: Parameters for the role assignment.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Returns the role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
                          ID.
                        enum:
                        - User
                        - Group
                        - ServicePrincipal
                        - ForeignGroup
                        - Device
                        default: User
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      description:
                        type: string
                        description: Description of role assignment
                      condition:
                        type: string
                        description: 'The conditions on the role assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition. Currently the only
                          accepted value is '2.0'
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                      delegatedManagedIdentityResourceId:
                        type: string
                        description: Id of the delegated managed identity resource
                    required:
                    - roleDefinitionId
                    - principalId
                    type: object
                type: object
                description: Role Assignments
        '201':
          description: Returns the role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
                          ID.
                        enum:
                        - User
                        - Group
                        - ServicePrincipal
                        - ForeignGroup
                        - Device
                        default: User
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      description:
                        type: string
                        description: Description of role assignment
                      condition:
                        type: string
                        description: 'The conditions on the role assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition. Currently the only
                          accepted value is '2.0'
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                      delegatedManagedIdentityResourceId:
                        type: string
                        description: Id of the delegated managed identity resource
                    required:
                    - roleDefinitionId
                    - principalId
                    type: object
                type: object
                description: Role Assignments
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Delete
      description: Delete a role assignment by scope and name.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the operation or resource. Valid scopes are: subscription
          (format: ''/subscriptions/{subscriptionId}''), resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: roleAssignmentName
        in: path
        required: true
        description: The name of the role assignment. It can be any valid GUID.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns the deleted role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
                          ID.
                        enum:
                        - User
                        - Group
                        - ServicePrincipal
                        - ForeignGroup
                        - Device
                        default: User
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      description:
                        type: string
                        description: Description of role assignment
                      condition:
                        type: string
                        description: 'The conditions on the role assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition. Currently the only
                          accepted value is '2.0'
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                      delegatedManagedIdentityResourceId:
                        type: string
                        description: Id of the delegated managed identity resource
                    required:
                    - roleDefinitionId
                    - principalId
                    type: object
                type: object
                description: Role Assignments
        '204':
          description: Role assignment was already deleted or does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /{scope}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForScope
      description: List all role assignments that apply to a scope.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the operation or resource. Valid scopes are: subscription
          (format: ''/subscriptions/{subscriptionId}''), resource group (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
        x-ms-parameter-location: method
        schema:
          type: string
        allowReserved: true
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skipToken
        in: query
        required: false
        description: The skipToken to apply on the operation. Use $skipToken={skiptoken}
          to return paged role assignments following the skipToken passed. Only supported
          on provider level calls.
        x-ms-parameter-location: method
        schema:
          type: string
        allowReserved: true
      responses:
        '200':
          description: Returns an array of role assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The role assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The role assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The role assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Role assignment properties.
                          properties:
                            scope:
                              readOnly: true
                              type: string
                              description: The role assignment scope.
                            roleDefinitionId:
                              type: string
                              description: The role definition ID.
                            principalId:
                              type: string
                              description: The principal ID.
                            principalType:
                              type: string
                              description: The principal type of the assigned principal
                                ID.
                              enum:
                              - User
                              - Group
                              - ServicePrincipal
                              - ForeignGroup
                              - Device
                              default: User
                              x-ms-enum:
                                name: PrincipalType
                                modelAsString: true
                            description:
                              type: string
                              description: Description of role assignment
                            condition:
                              type: string
                              description: 'The conditions on the role assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition. Currently the
                                only accepted value is '2.0'
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                            delegatedManagedIdentityResourceId:
                              type: string
                              description: Id of the delegated managed identity resource
                          required:
                          - roleDefinitionId
                          - principalId
                          type: object
                      type: object
                      description: Role Assignments
                    description: Role assignment list.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The skipToken to use for getting the next set of
                      results.
                type: object
                description: Role assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/RoleAssignmentFilter'
  /{roleAssignmentId}:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_GetById
      description: Get a role assignment by ID.
      parameters:
      - name: roleAssignmentId
        in: path
        required: true
        description: 'The fully qualified ID of the role assignment including scope,
          resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}.
          Example: /subscriptions/<SUB_ID>/resourcegroups/<RESOURCE_GROUP>/providers/Microsoft.Authorization/roleAssignments/<ROLE_ASSIGNMENT_NAME>'
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: tenantId
        in: query
        required: false
        description: Tenant ID for cross-tenant request
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Returns the role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
                          ID.
                        enum:
                        - User
                        - Group
                        - ServicePrincipal
                        - ForeignGroup
                        - Device
                        default: User
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      description:
                        type: string
                        description: Description of role assignment
                      condition:
                        type: string
                        description: 'The conditions on the role assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition. Currently the only
                          accepted value is '2.0'
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                      delegatedManagedIdentityResourceId:
                        type: string
                        description: Id of the delegated managed identity resource
                    required:
                    - roleDefinitionId
                    - principalId
                    type: object
                type: object
                description: Role Assignments
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_CreateById
      description: Create or update a role assignment by ID.
      parameters:
      - name: roleAssignmentId
        in: path
        required: true
        description: 'The fully qualified ID of the role assignment including scope,
          resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}.
          Example: /subscriptions/<SUB_ID>/resourcegroups/<RESOURCE_GROUP>/providers/Microsoft.Authorization/roleAssignments/<ROLE_ASSIGNMENT_NAME>'
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Role assignment properties.
                  properties:
                    scope:
                      readOnly: true
                      type: string
                      description: The role assignment scope.
                    roleDefinitionId:
                      type: string
                      description: The role definition ID.
                    principalId:
                      type: string
                      description: The principal ID.
                    principalType:
                      type: string
                      description: The principal type of the assigned principal ID.
                      enum:
                      - User
                      - Group
                      - ServicePrincipal
                      - ForeignGroup
                      - Device
                      default: User
                      x-ms-enum:
                        name: PrincipalType
                        modelAsString: true
                    description:
                      type: string
                      description: Description of role assignment
                    condition:
                      type: string
                      description: 'The conditions on the role assignment. This limits
                        the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                        StringEqualsIgnoreCase ''foo_storage_container'''
                    conditionVersion:
                      type: string
                      description: Version of the condition. Currently the only accepted
                        value is '2.0'
                    createdOn:
                      readOnly: true
                      type: string
                      description: Time it was created
                      format: date-time
                    updatedOn:
                      readOnly: true
                      type: string
                      description: Time it was updated
                      format: date-time
                    createdBy:
                      readOnly: true
                      type: string
                      description: Id of the user who created the assignment
                    updatedBy:
                      readOnly: true
                      type: string
                      description: Id of the user who updated the assignment
                    delegatedManagedIdentityResourceId:
                      type: string
                      description: Id of the delegated managed identity resource
                  required:
                  - roleDefinitionId
                  - principalId
                  type: object
              required:
              - properties
              type: object
              description: Role assignment create parameters.
        description: Parameters for the role assignment.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Returns the role assignment.
          content:
            application/json:
              schema:
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The role assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The role assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The role assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Role assignment properties.
                    properties:
                      scope:
                        readOnly: true
                        type: string
                        description: The role assignment scope.
                      roleDefinitionId:
                        type: string
                        description: The role definition ID.
                      principalId:
                        type: string
                        description: The principal ID.
                      principalType:
                        type: string
                        description: The principal type of the assigned principal
[...]
