openapi: 3.0.0
info:
  title: AuthorizationManagementClient
  version: 2022-04-01
  description: Role based access control provides you a way to apply granular level
    policy administration down to individual resources or resource groups. These calls
    handle provider operations.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}:
    get:
      tags:
      - ProviderOperationsMetadata
      operationId: ProviderOperationsMetadata_Get
      description: Gets provider operations metadata for the specified resource provider.
      parameters:
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $expand
        in: query
        required: false
        description: Specifies whether to expand the values.
        schema:
          type: string
          default: resourceTypes
      responses:
        '200':
          description: OK - Returns the operations metadata.
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    description: The provider id.
                  name:
                    type: string
                    description: The provider name.
                  type:
                    type: string
                    description: The provider type.
                  displayName:
                    type: string
                    description: The provider display name.
                  resourceTypes:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The resource type name.
                        displayName:
                          type: string
                          description: The resource type display name.
                        operations:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                                description: The operation name.
                              displayName:
                                type: string
                                description: The operation display name.
                              description:
                                type: string
                                description: The operation description.
                              origin:
                                type: string
                                description: The operation origin.
                              properties:
                                type: object
                                x-ms-client-flatten: true
                                description: The operation properties.
                              isDataAction:
                                type: boolean
                                description: The dataAction flag to specify the operation
                                  type.
                            type: object
                            description: Operation
                          x-ms-identifiers: []
                          description: The resource type operations.
                      type: object
                      description: Resource Type
                    x-ms-identifiers:
                    - name
                    description: The provider resource types
                  operations:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The operation name.
                        displayName:
                          type: string
                          description: The operation display name.
                        description:
                          type: string
                          description: The operation description.
                        origin:
                          type: string
                          description: The operation origin.
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The operation properties.
                        isDataAction:
                          type: boolean
                          description: The dataAction flag to specify the operation
                            type.
                      type: object
                      description: Operation
                    x-ms-identifiers: []
                    description: The provider operations.
                type: object
                description: Provider Operations metadata
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /providers/Microsoft.Authorization/providerOperations:
    get:
      tags:
      - ProviderOperationsMetadata
      operationId: ProviderOperationsMetadata_List
      description: Gets provider operations metadata for all resource providers.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $expand
        in: query
        required: false
        description: Specifies whether to expand the values.
        schema:
          type: string
          default: resourceTypes
      responses:
        '200':
          description: OK - Returns an array of the operations metadata.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: The provider id.
                        name:
                          type: string
                          description: The provider name.
                        type:
                          type: string
                          description: The provider type.
                        displayName:
                          type: string
                          description: The provider display name.
                        resourceTypes:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                                description: The resource type name.
                              displayName:
                                type: string
                                description: The resource type display name.
                              operations:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      description: The operation name.
                                    displayName:
                                      type: string
                                      description: The operation display name.
                                    description:
                                      type: string
                                      description: The operation description.
                                    origin:
                                      type: string
                                      description: The operation origin.
                                    properties:
                                      type: object
                                      x-ms-client-flatten: true
                                      description: The operation properties.
                                    isDataAction:
                                      type: boolean
                                      description: The dataAction flag to specify
                                        the operation type.
                                  type: object
                                  description: Operation
                                x-ms-identifiers: []
                                description: The resource type operations.
                            type: object
                            description: Resource Type
                          x-ms-identifiers:
                          - name
                          description: The provider resource types
                        operations:
                          type: array
                          items:
                            properties:
                              name:
                                type: string
                                description: The operation name.
                              displayName:
                                type: string
                                description: The operation display name.
                              description:
                                type: string
                                description: The operation description.
                              origin:
                                type: string
                                description: The operation origin.
                              properties:
                                type: object
                                x-ms-client-flatten: true
                                description: The operation properties.
                              isDataAction:
                                type: boolean
                                description: The dataAction flag to specify the operation
                                  type.
                            type: object
                            description: Operation
                          x-ms-identifiers: []
                          description: The provider operations.
                      type: object
                      description: Provider Operations metadata
                    description: The list of providers.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                type: object
                description: Provider operations metadata list
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The namespace of the resource provider.
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ResourceType:
      properties:
        name:
          type: string
          description: The resource type name.
        displayName:
          type: string
          description: The resource type display name.
        operations:
          type: array
          items:
            properties:
              name:
                type: string
                description: The operation name.
              displayName:
                type: string
                description: The operation display name.
              description:
                type: string
                description: The operation description.
              origin:
                type: string
                description: The operation origin.
              properties:
                type: object
                x-ms-client-flatten: true
                description: The operation properties.
              isDataAction:
                type: boolean
                description: The dataAction flag to specify the operation type.
            type: object
            description: Operation
          x-ms-identifiers: []
          description: The resource type operations.
      type: object
      description: Resource Type
    ProviderOperation:
      properties:
        name:
          type: string
          description: The operation name.
        displayName:
          type: string
          description: The operation display name.
        description:
          type: string
          description: The operation description.
        origin:
          type: string
          description: The operation origin.
        properties:
          type: object
          x-ms-client-flatten: true
          description: The operation properties.
        isDataAction:
          type: boolean
          description: The dataAction flag to specify the operation type.
      type: object
      description: Operation
    ProviderOperationsMetadata:
      properties:
        id:
          type: string
          description: The provider id.
        name:
          type: string
          description: The provider name.
        type:
          type: string
          description: The provider type.
        displayName:
          type: string
          description: The provider display name.
        resourceTypes:
          type: array
          items:
            properties:
              name:
                type: string
                description: The resource type name.
              displayName:
                type: string
                description: The resource type display name.
              operations:
                type: array
                items:
                  properties:
                    name:
                      type: string
                      description: The operation name.
                    displayName:
                      type: string
                      description: The operation display name.
                    description:
                      type: string
                      description: The operation description.
                    origin:
                      type: string
                      description: The operation origin.
                    properties:
                      type: object
                      x-ms-client-flatten: true
                      description: The operation properties.
                    isDataAction:
                      type: boolean
                      description: The dataAction flag to specify the operation type.
                  type: object
                  description: Operation
                x-ms-identifiers: []
                description: The resource type operations.
            type: object
            description: Resource Type
          x-ms-identifiers:
          - name
          description: The provider resource types
        operations:
          type: array
          items:
            properties:
              name:
                type: string
                description: The operation name.
              displayName:
                type: string
                description: The operation display name.
              description:
                type: string
                description: The operation description.
              origin:
                type: string
                description: The operation origin.
              properties:
                type: object
                x-ms-client-flatten: true
                description: The operation properties.
              isDataAction:
                type: boolean
                description: The dataAction flag to specify the operation type.
            type: object
            description: Operation
          x-ms-identifiers: []
          description: The provider operations.
      type: object
      description: Provider Operations metadata
    ProviderOperationsMetadataListResult:
      properties:
        value:
          type: array
          items:
            properties:
              id:
                type: string
                description: The provider id.
              name:
                type: string
                description: The provider name.
              type:
                type: string
                description: The provider type.
              displayName:
                type: string
                description: The provider display name.
              resourceTypes:
                type: array
                items:
                  properties:
                    name:
                      type: string
                      description: The resource type name.
                    displayName:
                      type: string
                      description: The resource type display name.
                    operations:
                      type: array
                      items:
                        properties:
                          name:
                            type: string
                            description: The operation name.
                          displayName:
                            type: string
                            description: The operation display name.
                          description:
                            type: string
                            description: The operation description.
                          origin:
                            type: string
                            description: The operation origin.
                          properties:
                            type: object
                            x-ms-client-flatten: true
                            description: The operation properties.
                          isDataAction:
                            type: boolean
                            description: The dataAction flag to specify the operation
                              type.
                        type: object
                        description: Operation
                      x-ms-identifiers: []
                      description: The resource type operations.
                  type: object
                  description: Resource Type
                x-ms-identifiers:
                - name
                description: The provider resource types
              operations:
                type: array
                items:
                  properties:
                    name:
                      type: string
                      description: The operation name.
                    displayName:
                      type: string
                      description: The operation display name.
                    description:
                      type: string
                      description: The operation description.
                    origin:
                      type: string
                      description: The operation origin.
                    properties:
                      type: object
                      x-ms-client-flatten: true
                      description: The operation properties.
                    isDataAction:
                      type: boolean
                      description: The dataAction flag to specify the operation type.
                  type: object
                  description: Operation
                x-ms-identifiers: []
                description: The provider operations.
            type: object
            description: Provider Operations metadata
          description: The list of providers.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      type: object
      description: Provider operations metadata list
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
