openapi: 3.0.0
info:
  title: AuthorizationManagementClient
  version: 2022-04-01
  description: Role based access control provides you a way to apply granular level
    policy administration down to individual resources or resource groups. These operations
    enable you to get deny assignments. A deny assignment describes the set of actions
    on resources that are denied for Azure Active Directory users.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/denyAssignments
  : get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_ListForResource
      description: Gets deny assignments for a resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: parentResourcePath
        in: path
        required: true
        description: The parent resource identity.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: resourceType
        in: path
        required: true
        description: The resource type of the resource.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The name of the resource to get deny assignments for.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all deny assignments at or above the scope. Use $filter=denyAssignmentName
          eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId
          eq '{id}' to return all deny assignments at, above and below the scope for
          the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to
          return all deny assignments at, above and below the scope for the specified
          principal. This filter is different from the principalId filter as it returns
          not only those deny assignments that contain the specified principal is
          the Principals list but also those deny assignments that contain the specified
          principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId
          filter is used, only the deny assignment name and description properties
          are returned.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of deny assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The deny assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The deny assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The deny assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Deny assignment properties.
                          properties:
                            denyAssignmentName:
                              type: string
                              description: The display name of the deny assignment.
                            description:
                              type: string
                              description: The description of the deny assignment.
                            permissions:
                              type: array
                              items:
                                properties:
                                  actions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to which the deny assignment
                                      does not grant access.
                                  notActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to exclude from that the
                                      deny assignment does not grant access.
                                  dataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to which the deny assignment
                                      does not grant access.
                                  notDataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to exclude from that
                                      the deny assignment does not grant access.
                                  condition:
                                    type: string
                                    description: The conditions on the Deny assignment
                                      permission. This limits the resources it applies
                                      to.
                                  conditionVersion:
                                    type: string
                                    description: Version of the condition.
                                type: object
                                description: Deny assignment permissions.
                              x-ms-identifiers: []
                              description: An array of permissions that are denied
                                by the deny assignment.
                            scope:
                              type: string
                              description: The deny assignment scope.
                            doNotApplyToChildScopes:
                              type: boolean
                              description: Determines if the deny assignment applies
                                to child scopes. Default value is false.
                            principals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                applies.
                            excludePrincipals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                does not apply.
                            isSystemProtected:
                              type: boolean
                              description: Specifies whether this deny assignment
                                was created by Azure and cannot be edited or deleted.
                            condition:
                              type: string
                              description: 'The conditions on the deny assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                          type: object
                      type: object
                      description: Deny Assignment
                    description: Deny assignment list.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                type: object
                description: Deny assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/denyAssignments:
    get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_ListForResourceGroup
      description: Gets deny assignments for a resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all deny assignments at or above the scope. Use $filter=denyAssignmentName
          eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId
          eq '{id}' to return all deny assignments at, above and below the scope for
          the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to
          return all deny assignments at, above and below the scope for the specified
          principal. This filter is different from the principalId filter as it returns
          not only those deny assignments that contain the specified principal is
          the Principals list but also those deny assignments that contain the specified
          principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId
          filter is used, only the deny assignment name and description properties
          are returned.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of deny assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The deny assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The deny assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The deny assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Deny assignment properties.
                          properties:
                            denyAssignmentName:
                              type: string
                              description: The display name of the deny assignment.
                            description:
                              type: string
                              description: The description of the deny assignment.
                            permissions:
                              type: array
                              items:
                                properties:
                                  actions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to which the deny assignment
                                      does not grant access.
                                  notActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to exclude from that the
                                      deny assignment does not grant access.
                                  dataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to which the deny assignment
                                      does not grant access.
                                  notDataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to exclude from that
                                      the deny assignment does not grant access.
                                  condition:
                                    type: string
                                    description: The conditions on the Deny assignment
                                      permission. This limits the resources it applies
                                      to.
                                  conditionVersion:
                                    type: string
                                    description: Version of the condition.
                                type: object
                                description: Deny assignment permissions.
                              x-ms-identifiers: []
                              description: An array of permissions that are denied
                                by the deny assignment.
                            scope:
                              type: string
                              description: The deny assignment scope.
                            doNotApplyToChildScopes:
                              type: boolean
                              description: Determines if the deny assignment applies
                                to child scopes. Default value is false.
                            principals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                applies.
                            excludePrincipals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                does not apply.
                            isSystemProtected:
                              type: boolean
                              description: Specifies whether this deny assignment
                                was created by Azure and cannot be edited or deleted.
                            condition:
                              type: string
                              description: 'The conditions on the deny assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                          type: object
                      type: object
                      description: Deny Assignment
                    description: Deny assignment list.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                type: object
                description: Deny assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/denyAssignments:
    get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_List
      description: Gets all deny assignments for the subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all deny assignments at or above the scope. Use $filter=denyAssignmentName
          eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId
          eq '{id}' to return all deny assignments at, above and below the scope for
          the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to
          return all deny assignments at, above and below the scope for the specified
          principal. This filter is different from the principalId filter as it returns
          not only those deny assignments that contain the specified principal is
          the Principals list but also those deny assignments that contain the specified
          principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId
          filter is used, only the deny assignment name and description properties
          are returned.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of deny assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The deny assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The deny assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The deny assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Deny assignment properties.
                          properties:
                            denyAssignmentName:
                              type: string
                              description: The display name of the deny assignment.
                            description:
                              type: string
                              description: The description of the deny assignment.
                            permissions:
                              type: array
                              items:
                                properties:
                                  actions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to which the deny assignment
                                      does not grant access.
                                  notActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to exclude from that the
                                      deny assignment does not grant access.
                                  dataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to which the deny assignment
                                      does not grant access.
                                  notDataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to exclude from that
                                      the deny assignment does not grant access.
                                  condition:
                                    type: string
                                    description: The conditions on the Deny assignment
                                      permission. This limits the resources it applies
                                      to.
                                  conditionVersion:
                                    type: string
                                    description: Version of the condition.
                                type: object
                                description: Deny assignment permissions.
                              x-ms-identifiers: []
                              description: An array of permissions that are denied
                                by the deny assignment.
                            scope:
                              type: string
                              description: The deny assignment scope.
                            doNotApplyToChildScopes:
                              type: boolean
                              description: Determines if the deny assignment applies
                                to child scopes. Default value is false.
                            principals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                applies.
                            excludePrincipals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                does not apply.
                            isSystemProtected:
                              type: boolean
                              description: Specifies whether this deny assignment
                                was created by Azure and cannot be edited or deleted.
                            condition:
                              type: string
                              description: 'The conditions on the deny assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                          type: object
                      type: object
                      description: Deny Assignment
                    description: Deny assignment list.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                type: object
                description: Deny assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
  /{scope}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}:
    get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_Get
      description: Get the specified deny assignment.
      parameters:
      - name: scope
        in: path
        required: true
        description: The scope of the deny assignment.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: denyAssignmentId
        in: path
        required: true
        description: The ID of the deny assignment to get.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the deny assignment.
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The deny assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The deny assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The deny assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Deny assignment properties.
                    properties:
                      denyAssignmentName:
                        type: string
                        description: The display name of the deny assignment.
                      description:
                        type: string
                        description: The description of the deny assignment.
                      permissions:
                        type: array
                        items:
                          properties:
                            actions:
                              type: array
                              items:
                                type: string
                              description: Actions to which the deny assignment does
                                not grant access.
                            notActions:
                              type: array
                              items:
                                type: string
                              description: Actions to exclude from that the deny assignment
                                does not grant access.
                            dataActions:
                              type: array
                              items:
                                type: string
                              description: Data actions to which the deny assignment
                                does not grant access.
                            notDataActions:
                              type: array
                              items:
                                type: string
                              description: Data actions to exclude from that the deny
                                assignment does not grant access.
                            condition:
                              type: string
                              description: The conditions on the Deny assignment permission.
                                This limits the resources it applies to.
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                          type: object
                          description: Deny assignment permissions.
                        x-ms-identifiers: []
                        description: An array of permissions that are denied by the
                          deny assignment.
                      scope:
                        type: string
                        description: The deny assignment scope.
                      doNotApplyToChildScopes:
                        type: boolean
                        description: Determines if the deny assignment applies to
                          child scopes. Default value is false.
                      principals:
                        type: array
                        items:
                          readOnly: true
                          type: object
                          description: The name of the entity last modified it
                          properties:
                            id:
                              type: string
                              description: The id of the principal made changes
                            displayName:
                              type: string
                              description: The name of the principal made changes
                            type:
                              type: string
                              description: Type of principal such as user , group
                                etc
                            email:
                              type: string
                              description: Email of principal
                        description: Array of principals to which the deny assignment
                          applies.
                      excludePrincipals:
                        type: array
                        items:
                          readOnly: true
                          type: object
                          description: The name of the entity last modified it
                          properties:
                            id:
                              type: string
                              description: The id of the principal made changes
                            displayName:
                              type: string
                              description: The name of the principal made changes
                            type:
                              type: string
                              description: Type of principal such as user , group
                                etc
                            email:
                              type: string
                              description: Email of principal
                        description: Array of principals to which the deny assignment
                          does not apply.
                      isSystemProtected:
                        type: boolean
                        description: Specifies whether this deny assignment was created
                          by Azure and cannot be edited or deleted.
                      condition:
                        type: string
                        description: 'The conditions on the deny assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition.
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                    type: object
                type: object
                description: Deny Assignment
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /{denyAssignmentId}:
    get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_GetById
      description: Gets a deny assignment by ID.
      parameters:
      - name: denyAssignmentId
        in: path
        required: true
        description: The fully qualified deny assignment ID. For example, use the
          format, /subscriptions/{guid}/providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}
          for subscription level deny assignments, or /providers/Microsoft.Authorization/denyAssignments/{denyAssignmentId}
          for tenant level deny assignments.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns the deny assignment.
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: The deny assignment ID.
                  name:
                    type: string
                    readOnly: true
                    description: The deny assignment name.
                  type:
                    type: string
                    readOnly: true
                    description: The deny assignment type.
                  properties:
                    x-ms-client-flatten: true
                    description: Deny assignment properties.
                    properties:
                      denyAssignmentName:
                        type: string
                        description: The display name of the deny assignment.
                      description:
                        type: string
                        description: The description of the deny assignment.
                      permissions:
                        type: array
                        items:
                          properties:
                            actions:
                              type: array
                              items:
                                type: string
                              description: Actions to which the deny assignment does
                                not grant access.
                            notActions:
                              type: array
                              items:
                                type: string
                              description: Actions to exclude from that the deny assignment
                                does not grant access.
                            dataActions:
                              type: array
                              items:
                                type: string
                              description: Data actions to which the deny assignment
                                does not grant access.
                            notDataActions:
                              type: array
                              items:
                                type: string
                              description: Data actions to exclude from that the deny
                                assignment does not grant access.
                            condition:
                              type: string
                              description: The conditions on the Deny assignment permission.
                                This limits the resources it applies to.
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                          type: object
                          description: Deny assignment permissions.
                        x-ms-identifiers: []
                        description: An array of permissions that are denied by the
                          deny assignment.
                      scope:
                        type: string
                        description: The deny assignment scope.
                      doNotApplyToChildScopes:
                        type: boolean
                        description: Determines if the deny assignment applies to
                          child scopes. Default value is false.
                      principals:
                        type: array
                        items:
                          readOnly: true
                          type: object
                          description: The name of the entity last modified it
                          properties:
                            id:
                              type: string
                              description: The id of the principal made changes
                            displayName:
                              type: string
                              description: The name of the principal made changes
                            type:
                              type: string
                              description: Type of principal such as user , group
                                etc
                            email:
                              type: string
                              description: Email of principal
                        description: Array of principals to which the deny assignment
                          applies.
                      excludePrincipals:
                        type: array
                        items:
                          readOnly: true
                          type: object
                          description: The name of the entity last modified it
                          properties:
                            id:
                              type: string
                              description: The id of the principal made changes
                            displayName:
                              type: string
                              description: The name of the principal made changes
                            type:
                              type: string
                              description: Type of principal such as user , group
                                etc
                            email:
                              type: string
                              description: Email of principal
                        description: Array of principals to which the deny assignment
                          does not apply.
                      isSystemProtected:
                        type: boolean
                        description: Specifies whether this deny assignment was created
                          by Azure and cannot be edited or deleted.
                      condition:
                        type: string
                        description: 'The conditions on the deny assignment. This
                          limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                          StringEqualsIgnoreCase ''foo_storage_container'''
                      conditionVersion:
                        type: string
                        description: Version of the condition.
                      createdOn:
                        readOnly: true
                        type: string
                        description: Time it was created
                        format: date-time
                      updatedOn:
                        readOnly: true
                        type: string
                        description: Time it was updated
                        format: date-time
                      createdBy:
                        readOnly: true
                        type: string
                        description: Id of the user who created the assignment
                      updatedBy:
                        readOnly: true
                        type: string
                        description: Id of the user who updated the assignment
                    type: object
                type: object
                description: Deny Assignment
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /{scope}/providers/Microsoft.Authorization/denyAssignments:
    get:
      tags:
      - DenyAssignments
      operationId: DenyAssignments_ListForScope
      description: Gets deny assignments for a scope.
      parameters:
      - name: scope
        in: path
        required: true
        description: The scope of the deny assignments.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all deny assignments at or above the scope. Use $filter=denyAssignmentName
          eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId
          eq '{id}' to return all deny assignments at, above and below the scope for
          the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to
          return all deny assignments at, above and below the scope for the specified
          principal. This filter is different from the principalId filter as it returns
          not only those deny assignments that contain the specified principal is
          the Principals list but also those deny assignments that contain the specified
          principal is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId
          filter is used, only the deny assignment name and description properties
          are returned.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns an array of deny assignments.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          readOnly: true
                          description: The deny assignment ID.
                        name:
                          type: string
                          readOnly: true
                          description: The deny assignment name.
                        type:
                          type: string
                          readOnly: true
                          description: The deny assignment type.
                        properties:
                          x-ms-client-flatten: true
                          description: Deny assignment properties.
                          properties:
                            denyAssignmentName:
                              type: string
                              description: The display name of the deny assignment.
                            description:
                              type: string
                              description: The description of the deny assignment.
                            permissions:
                              type: array
                              items:
                                properties:
                                  actions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to which the deny assignment
                                      does not grant access.
                                  notActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Actions to exclude from that the
                                      deny assignment does not grant access.
                                  dataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to which the deny assignment
                                      does not grant access.
                                  notDataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: Data actions to exclude from that
                                      the deny assignment does not grant access.
                                  condition:
                                    type: string
                                    description: The conditions on the Deny assignment
                                      permission. This limits the resources it applies
                                      to.
                                  conditionVersion:
                                    type: string
                                    description: Version of the condition.
                                type: object
                                description: Deny assignment permissions.
                              x-ms-identifiers: []
                              description: An array of permissions that are denied
                                by the deny assignment.
                            scope:
                              type: string
                              description: The deny assignment scope.
                            doNotApplyToChildScopes:
                              type: boolean
                              description: Determines if the deny assignment applies
                                to child scopes. Default value is false.
                            principals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                applies.
                            excludePrincipals:
                              type: array
                              items:
                                readOnly: true
                                type: object
                                description: The name of the entity last modified
                                  it
                                properties:
                                  id:
                                    type: string
                                    description: The id of the principal made changes
                                  displayName:
                                    type: string
                                    description: The name of the principal made changes
                                  type:
                                    type: string
                                    description: Type of principal such as user ,
                                      group etc
                                  email:
                                    type: string
                                    description: Email of principal
                              description: Array of principals to which the deny assignment
                                does not apply.
                            isSystemProtected:
                              type: boolean
                              description: Specifies whether this deny assignment
                                was created by Azure and cannot be edited or deleted.
                            condition:
                              type: string
                              description: 'The conditions on the deny assignment.
                                This limits the resources it can be assigned to. e.g.:
                                @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
                                StringEqualsIgnoreCase ''foo_storage_container'''
                            conditionVersion:
                              type: string
                              description: Version of the condition.
                            createdOn:
                              readOnly: true
                              type: string
                              description: Time it was created
                              format: date-time
                            updatedOn:
                              readOnly: true
                              type: string
                              description: Time it was updated
                              format: date-time
                            createdBy:
                              readOnly: true
                              type: string
                              description: Id of the user who created the assignment
                            updatedBy:
                              readOnly: true
                              type: string
                              description: Id of the user who updated the assignment
                          type: object
                      type: object
                      description: Deny Assignment
                    description: Deny assignment list.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                type: object
                description: Deny assignment list operation result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/DenyAssignmentFilter'
components:
  parameters:
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The namespace of the resource provider.
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      required: false
      description: The filter to apply on the operation. Use $filter=atScope() to
        return all deny assignments at or above the scope. Use $filter=denyAssignmentName
        eq '{name}' to search deny assignments by name at specified scope. Use $filter=principalId
        eq '{id}' to return all deny assignments at, above and below the scope for
        the specified principal. Use $filter=gdprExportPrincipalId eq '{id}' to return
        all deny assignments at, above and below the scope for the specified principal.
        This filter is different from the principalId filter as it returns not only
        those deny assignments that contain the specified principal is the Principals
        list but also those deny assignments that contain the specified principal
        is the ExcludePrincipals list. Additionally, when gdprExportPrincipalId filter
        is used, only the deny assignment name and description properties are returned.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DenyAssignmentFilter:
      properties:
        denyAssignmentName:
          type: string
          description: Return deny assignment with specified name.
        principalId:
          type: string
          description: Return all deny assignments where the specified principal is
            listed in the principals list of deny assignments.
        gdprExportPrincipalId:
          type: string
          description: Return all deny assignments where the specified principal is
            listed either in the principals list or exclude principals list of deny
            assignments.
      type: object
      description: Deny Assignments filter
    DenyAssignmentProperties:
      properties:
        denyAssignmentName:
          type: string
          description: The display name of the deny assignment.
        description:
          type: string
          description: The description of the deny assignment.
        permissions:
          type: array
          items:
            properties:
              actions:
                type: array
                items:
                  type: string
                description: Actions to which the deny assignment does not grant access.
              notActions:
                type: array
                items:
                  type: string
                description: Actions to exclude from that the deny assignment does
                  not grant access.
              dataActions:
                type: array
                items:
                  type: string
                description: Data actions to which the deny assignment does not grant
                  access.
              notDataActions:
                type: array
                items:
                  type: string
                description: Data actions to exclude from that the deny assignment
                  does not grant access.
              condition:
                type: string
                description: The conditions on the Deny assignment permission. This
                  limits the resources it applies to.
              conditionVersion:
                type: string
                description: Version of the condition.
            type: object
            description: Deny assignment permissions.
          x-ms-identifiers: []
          description: An array of permissions that are denied by the deny assignment.
        scope:
          type: string
          description: The deny assignment scope.
        doNotApplyToChildScopes:
          type: boolean
          description: Determines if the deny assignment applies to child scopes.
            Default value is false.
        principals:
          type: array
          items:
            readOnly: true
            type: object
            description: The name of the entity last modified it
            properties:
              id:
                type: string
                description: The id of the principal made changes
              displayName:
                type: string
                description: The name of the principal made changes
              type:
                type: string
                description: Type of principal such as user , group etc
              email:
                type: string
                description: Email of principal
          description: Array of principals to which the deny assignment applies.
        excludePrincipals:
          type: array
          items:
            readOnly: true
            type: object
            description: The name of the entity last modified it
            properties:
              id:
                type: string
                description: The id of the principal made changes
              displayName:
                type: string
                description: The name of the principal made changes
              type:
                type: string
                description: Type of principal such as user , group etc
              email:
                type: string
                description: Email of principal
          description: Array of principals to which the deny assignment does not apply.
        isSystemProtected:
          type: boolean
          description: Specifies whether this deny assignment was created by Azure
            and cannot be edited or deleted.
        condition:
          type: string
          description: 'The conditions on the deny assignment. This limits the resources
            it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName]
            StringEqualsIgnoreCase ''foo_storage_container'''
        conditionVersion:
          type: string
          description: Version of the condition.
        createdOn:
          readOnly: true
          type: string
          description: Time it was created
          format: date-time
        updatedOn:
          readOnly: true
          type: string
          description: Time it was updated
          format: date-time
        createdBy:
          readOnly: true
          type: string
          description: Id of the user who created the assignment
        updatedBy:
          readOnly: true
          type: string
          description: Id of the user who updated the assignment
      type: object
      description: Deny assignment properties.
    DenyAssignment:
      properties:
        id:
          type: string
          readOnly: true
          description: The deny assignment ID.
        name:
          type: string
          readOnly: true
          description: The deny assignment name.
        type:
          type: string
          readOnly: true
          description: The deny assignment type.
        properties:
          x-ms-client-flatten: true
          description: Deny assignment properties.
          properties:
            denyAssignmentName:
              type: string
              description: The display name of the deny assignment.
            description:
              type: string
              description: The description of the deny assignment.
            permissions:
              type: array
              items:
                properties:
                  actions:
                    type: array
                    items:
                      type: string
                    description: Actions to which the deny assignment does not grant
                      access.
                  notActions:
                    type: array
                    items:
                      type: string
                    description: Actions to exclude from that the deny assignment
                      does not grant access.
                  dataActions:
                    type: array
[...]
