openapi: 3.0.0
info:
  title: ContainerServiceFleetClient
  version: 2025-03-01
  description: Azure Kubernetes Fleet Manager api client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Fleets
- name: FleetMembers
- name: UpdateRuns
- name: FleetUpdateStrategies
- name: AutoUpgradeProfiles
- name: AutoUpgradeProfileOperations
paths:
  /providers/Microsoft.ContainerService/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/fleets:
    get:
      operationId: Fleets_ListBySubscription
      tags:
      - Fleets
      description: Lists fleets in the specified subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Fleet list operation.
                properties:
                  value:
                    type: array
                    description: The Fleet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              x-ms-enum:
                                name: FleetProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Creating
                                  value: Creating
                                  description: The provisioning state of a fleet being
                                    created.
                                - name: Updating
                                  value: Updating
                                  description: The provisioning state of a fleet being
                                    updated.
                                - name: Deleting
                                  value: Deleting
                                  description: The provisioning state of a fleet being
                                    deleted.
                            hubProfile:
                              description: The FleetHubProfile configures the Fleet's
                                hub.
                              type: object
                              properties:
                                dnsPrefix:
                                  type: string
                                  description: DNS prefix used to create the FQDN
                                    for the Fleet hub.
                                  minLength: 1
                                  maxLength: 54
                                  pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][a-zA-Z0-9-]{0,52}[a-zA-Z0-9]$
                                  x-ms-mutability:
                                  - read
                                  - create
                                apiServerAccessProfile:
                                  description: The access profile for the Fleet hub
                                    API server.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    enablePrivateCluster:
                                      type: boolean
                                      description: Whether to create the Fleet hub
                                        as a private cluster or not.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    enableVnetIntegration:
                                      type: boolean
                                      description: Whether to enable apiserver vnet
                                        integration for the Fleet hub or not.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    subnetId:
                                      description: The subnet to be used when apiserver
                                        vnet integration is enabled. It is required
                                        when creating a new Fleet with BYO vnet.
                                      x-ms-mutability:
                                      - read
                                      - create
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Network/virtualNetworks/subnets
                                agentProfile:
                                  description: The agent profile for the Fleet hub.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    subnetId:
                                      description: The ID of the subnet which the
                                        Fleet hub node will join on startup. If this
                                        is not specified, a vnet and subnet will be
                                        generated and used.
                                      x-ms-mutability:
                                      - read
                                      - create
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Network/virtualNetworks/subnets
                                    vmSize:
                                      type: string
                                      description: The virtual machine size of the
                                        Fleet hub.
                                      x-ms-mutability:
                                      - read
                                      - create
                                fqdn:
                                  type: string
                                  description: The FQDN of the Fleet hub.
                                  readOnly: true
                                kubernetesVersion:
                                  type: string
                                  description: The Kubernetes version of the Fleet
                                    hub.
                                  readOnly: true
                                portalFqdn:
                                  type: string
                                  description: The Azure Portal FQDN of the Fleet
                                    hub.
                                  readOnly: true
                            status:
                              description: Status information for the fleet.
                              readOnly: true
                              type: object
                              properties:
                                lastOperationId:
                                  type: string
                                  description: The last operation ID for the fleet.
                                  readOnly: true
                                lastOperationError:
                                  description: The last operation error for the fleet.
                                  readOnly: true
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: The error code.
                                      readOnly: true
                                    message:
                                      type: string
                                      description: The error message.
                                      readOnly: true
                                    target:
                                      type: string
                                      description: The error target.
                                      readOnly: true
                                    details:
                                      type: array
                                      description: The error details.
                                      items:
                                        type: object
                                        description: The error detail.
                                        properties:
                                          code:
                                            type: string
                                            description: The error code.
                                            readOnly: true
                                          message:
                                            type: string
                                            description: The error message.
                                            readOnly: true
                                          target:
                                            type: string
                                            description: The error target.
                                            readOnly: true
                                          details:
                                            type: array
                                            description: The error details.
                                            items:
                                              type: object
                                              description: The error detail.
                                              properties:
                                                code:
                                                  type: string
                                                  description: The error code.
                                                  readOnly: true
                                                message:
                                                  type: string
                                                  description: The error message.
                                                  readOnly: true
                                                target:
                                                  type: string
                                                  description: The error target.
                                                  readOnly: true
                                            readOnly: true
                                            x-ms-identifiers:
                                            - message
                                            - target
                                          additionalInfo:
                                            type: array
                                            description: The error additional info.
                                            items:
                                              type: object
                                              description: The resource management
                                                error additional info.
                                              properties:
                                                type:
                                                  type: string
                                                  description: The additional info
                                                    type.
                                                  readOnly: true
                                                info:
                                                  type: object
                                                  description: The additional info.
                                                  readOnly: true
                                            readOnly: true
                                            x-ms-identifiers: []
                                      readOnly: true
                                      x-ms-identifiers:
                                      - message
                                      - target
                                    additionalInfo:
                                      type: array
                                      description: The error additional info.
                                      items:
                                        type: object
                                        description: The resource management error
                                          additional info.
                                        properties:
                                          type:
                                            type: string
                                            description: The additional info type.
                                            readOnly: true
                                          info:
                                            type: object
                                            description: The additional info.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers: []
                        eTag:
                          type: string
                          description: If eTag is provided in the response body, it
                            may also be provided as a header per the normal etag convention.  Entity
                            tags are used for comparing two or more entities from
                            the same requested resource. HTTP/1.1 uses entity tags
                            in the etag (section 14.19), If-Match (section 14.24),
                            If-None-Match (section 14.26), and If-Range (section 14.27)
                            header fields.
                          readOnly: true
                        identity:
                          description: Managed identity.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets:
    get:
      operationId: Fleets_ListByResourceGroup
      tags:
      - Fleets
      description: Lists fleets in the specified subscription and resource group.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Fleet list operation.
                properties:
                  value:
                    type: array
                    description: The Fleet items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              x-ms-enum:
                                name: FleetProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Creating
                                  value: Creating
                                  description: The provisioning state of a fleet being
                                    created.
                                - name: Updating
                                  value: Updating
                                  description: The provisioning state of a fleet being
                                    updated.
                                - name: Deleting
                                  value: Deleting
                                  description: The provisioning state of a fleet being
                                    deleted.
                            hubProfile:
                              description: The FleetHubProfile configures the Fleet's
                                hub.
                              type: object
                              properties:
                                dnsPrefix:
                                  type: string
                                  description: DNS prefix used to create the FQDN
                                    for the Fleet hub.
                                  minLength: 1
                                  maxLength: 54
                                  pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][a-zA-Z0-9-]{0,52}[a-zA-Z0-9]$
                                  x-ms-mutability:
                                  - read
                                  - create
                                apiServerAccessProfile:
                                  description: The access profile for the Fleet hub
                                    API server.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    enablePrivateCluster:
                                      type: boolean
                                      description: Whether to create the Fleet hub
                                        as a private cluster or not.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    enableVnetIntegration:
                                      type: boolean
                                      description: Whether to enable apiserver vnet
                                        integration for the Fleet hub or not.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    subnetId:
                                      description: The subnet to be used when apiserver
                                        vnet integration is enabled. It is required
                                        when creating a new Fleet with BYO vnet.
                                      x-ms-mutability:
                                      - read
                                      - create
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Network/virtualNetworks/subnets
                                agentProfile:
                                  description: The agent profile for the Fleet hub.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    subnetId:
                                      description: The ID of the subnet which the
                                        Fleet hub node will join on startup. If this
                                        is not specified, a vnet and subnet will be
                                        generated and used.
                                      x-ms-mutability:
                                      - read
                                      - create
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Network/virtualNetworks/subnets
                                    vmSize:
                                      type: string
                                      description: The virtual machine size of the
                                        Fleet hub.
                                      x-ms-mutability:
                                      - read
                                      - create
                                fqdn:
                                  type: string
                                  description: The FQDN of the Fleet hub.
                                  readOnly: true
                                kubernetesVersion:
                                  type: string
                                  description: The Kubernetes version of the Fleet
                                    hub.
                                  readOnly: true
                                portalFqdn:
                                  type: string
                                  description: The Azure Portal FQDN of the Fleet
                                    hub.
                                  readOnly: true
                            status:
                              description: Status information for the fleet.
                              readOnly: true
                              type: object
                              properties:
                                lastOperationId:
                                  type: string
                                  description: The last operation ID for the fleet.
                                  readOnly: true
                                lastOperationError:
                                  description: The last operation error for the fleet.
                                  readOnly: true
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: The error code.
                                      readOnly: true
                                    message:
                                      type: string
                                      description: The error message.
                                      readOnly: true
                                    target:
                                      type: string
                                      description: The error target.
                                      readOnly: true
                                    details:
                                      type: array
                                      description: The error details.
                                      items:
                                        type: object
                                        description: The error detail.
                                        properties:
                                          code:
                                            type: string
                                            description: The error code.
                                            readOnly: true
                                          message:
                                            type: string
                                            description: The error message.
                                            readOnly: true
                                          target:
                                            type: string
                                            description: The error target.
                                            readOnly: true
                                          details:
                                            type: array
                                            description: The error details.
                                            items:
                                              type: object
                                              description: The error detail.
                                              properties:
                                                code:
                                                  type: string
                                                  description: The error code.
                                                  readOnly: true
                                                message:
                                                  type: string
                                                  description: The error message.
                                                  readOnly: true
                                                target:
                                                  type: string
                                                  description: The error target.
                                                  readOnly: true
                                            readOnly: true
                                            x-ms-identifiers:
                                            - message
                                            - target
                                          additionalInfo:
                                            type: array
                                            description: The error additional info.
                                            items:
                                              type: object
                                              description: The resource management
                                                error additional info.
                                              properties:
                                                type:
                                                  type: string
                                                  description: The additional info
                                                    type.
                                                  readOnly: true
                                                info:
                                                  type: object
                                                  description: The additional info.
                                                  readOnly: true
                                            readOnly: true
                                            x-ms-identifiers: []
                                      readOnly: true
                                      x-ms-identifiers:
                                      - message
                                      - target
                                    additionalInfo:
                                      type: array
                                      description: The error additional info.
                                      items:
                                        type: object
                                        description: The resource management error
                                          additional info.
                                        properties:
                                          type:
                                            type: string
                                            description: The additional info type.
                                            readOnly: true
                                          info:
                                            type: object
                                            description: The additional info.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers: []
                        eTag:
                          type: string
                          description: If eTag is provided in the response body, it
                            may also be provided as a header per the normal etag convention.  Entity
                            tags are used for comparing two or more entities from
                            the same requested resource. HTTP/1.1 uses entity tags
                            in the etag (section 14.19), If-Match (section 14.24),
                            If-None-Match (section 14.26), and If-Range (section 14.27)
                            header fields.
                          readOnly: true
                        identity:
                          description: Managed identity.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}:
    get:
      operationId: Fleets_Get
      tags:
      - Fleets
      description: Gets a Fleet.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: FleetProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Creating
                            value: Creating
                            description: The provisioning state of a fleet being created.
                          - name: Updating
                            value: Updating
                            description: The provisioning state of a fleet being updated.
                          - name: Deleting
                            value: Deleting
                            description: The provisioning state of a fleet being deleted.
                      hubProfile:
                        description: The FleetHubProfile configures the Fleet's hub.
                        type: object
                        properties:
                          dnsPrefix:
                            type: string
                            description: DNS prefix used to create the FQDN for the
                              Fleet hub.
                            minLength: 1
                            maxLength: 54
                            pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][a-zA-Z0-9-]{0,52}[a-zA-Z0-9]$
                            x-ms-mutability:
                            - read
                            - create
                          apiServerAccessProfile:
                            description: The access profile for the Fleet hub API
                              server.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              enablePrivateCluster:
                                type: boolean
                                description: Whether to create the Fleet hub as a
                                  private cluster or not.
                                x-ms-mutability:
                                - read
                                - create
                              enableVnetIntegration:
                                type: boolean
                                description: Whether to enable apiserver vnet integration
                                  for the Fleet hub or not.
                                x-ms-mutability:
                                - read
                                - create
                              subnetId:
                                description: The subnet to be used when apiserver
                                  vnet integration is enabled. It is required when
                                  creating a new Fleet with BYO vnet.
                                x-ms-mutability:
                                - read
                                - create
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.Network/virtualNetworks/subnets
                          agentProfile:
                            description: The agent profile for the Fleet hub.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              subnetId:
                                description: The ID of the subnet which the Fleet
                                  hub node will join on startup. If this is not specified,
                                  a vnet and subnet will be generated and used.
                                x-ms-mutability:
                                - read
                                - create
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.Network/virtualNetworks/subnets
                              vmSize:
                                type: string
                                description: The virtual machine size of the Fleet
                                  hub.
                                x-ms-mutability:
                                - read
                                - create
                          fqdn:
                            type: string
                            description: The FQDN of the Fleet hub.
                            readOnly: true
                          kubernetesVersion:
                            type: string
                            description: The Kubernetes version of the Fleet hub.
                            readOnly: true
                          portalFqdn:
                            type: string
                            description: The Azure Portal FQDN of the Fleet hub.
                            readOnly: true
                      status:
                        description: Status information for the fleet.
                        readOnly: true
                        type: object
                        properties:
                          lastOperationId:
                            type: string
                            description: The last operation ID for the fleet.
                            readOnly: true
                          lastOperationError:
                            description: The last operation error for the fleet.
                            readOnly: true
                            type: object
                            properties:
                              code:
                                type: string
                                description: The error code.
                                readOnly: true
                              message:
                                type: string
                                description: The error message.
                                readOnly: true
                              target:
                                type: string
                                description: The error target.
                                readOnly: true
                              details:
                                type: array
                                description: The error details.
                                items:
                                  type: object
                                  description: The error detail.
                                  properties:
                                    code:
                                      type: string
                                      description: The error code.
                                      readOnly: true
                                    message:
                                      type: string
                                      description: The error message.
                                      readOnly: true
                                    target:
                                      type: string
                                      description: The error target.
                                      readOnly: true
                                    details:
                                      type: array
                                      description: The error details.
                                      items:
                                        type: object
                                        description: The error detail.
                                        properties:
                                          code:
                                            type: string
                                            description: The error code.
                                            readOnly: true
                                          message:
                                            type: string
                                            description: The error message.
                                            readOnly: true
                                          target:
                                            type: string
                                            description: The error target.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers:
                                      - message
                                      - target
                                    additionalInfo:
                                      type: array
                                      description: The error additional info.
                                      items:
                                        type: object
                                        description: The resource management error
                                          additional info.
                                        properties:
                                          type:
                                            type: string
                                            description: The additional info type.
                                            readOnly: true
                                          info:
                                            type: object
                                            description: The additional info.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers: []
                                readOnly: true
                                x-ms-identifiers:
                                - message
                                - target
                              additionalInfo:
                                type: array
                                description: The error additional info.
                                items:
                                  type: object
                                  description: The resource management error additional
                                    info.
                                  properties:
                                    type:
                                      type: string
                                      description: The additional info type.
                                      readOnly: true
                                    info:
                                      type: object
                                      description: The additional info.
                                      readOnly: true
                                readOnly: true
                                x-ms-identifiers: []
                  eTag:
                    type: string
                    description: If eTag is provided in the response body, it may
                      also be provided as a header per the normal etag convention.  Entity
                      tags are used for comparing two or more entities from the same
                      requested resource. HTTP/1.1 uses entity tags in the etag (section
                      14.19), If-Match (section 14.24), If-None-Match (section 14.26),
                      and If-Range (section 14.27) header fields.
                    readOnly: true
                  identity:
                    description: Managed identity.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Fleets_CreateOrUpdate
      tags:
      - Fleets
      description: Creates or updates a Fleet.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: The request should only proceed if no entity matches this string.
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      x-ms-enum:
                        name: FleetProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Creating
                          value: Creating
                          description: The provisioning state of a fleet being created.
                        - name: Updating
                          value: Updating
                          description: The provisioning state of a fleet being updated.
                        - name: Deleting
                          value: Deleting
                          description: The provisioning state of a fleet being deleted.
                    hubProfile:
                      description: The FleetHubProfile configures the Fleet's hub.
                      type: object
                      properties:
                        dnsPrefix:
                          type: string
                          description: DNS prefix used to create the FQDN for the
                            Fleet hub.
                          minLength: 1
                          maxLength: 54
                          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][a-zA-Z0-9-]{0,52}[a-zA-Z0-9]$
                          x-ms-mutability:
                          - read
                          - create
                        apiServerAccessProfile:
                          description: The access profile for the Fleet hub API server.
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            enablePrivateCluster:
                              type: boolean
                              description: Whether to create the Fleet hub as a private
                                cluster or not.
                              x-ms-mutability:
                              - read
                              - create
                            enableVnetIntegration:
                              type: boolean
                              description: Whether to enable apiserver vnet integration
                                for the Fleet hub or not.
                              x-ms-mutability:
                              - read
[...]
