openapi: 3.0.0
info:
  title: Cosmos DB - Managed Cassandra
  description: Azure Cosmos DB Database Service Managed Cassandra REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/cassandraClusters:
    get:
      operationId: CassandraClusters_ListBySubscription
      description: List all managed Cassandra clusters in this subscription.
      x-ms-pageable: {}
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved the list of managed Cassandra clusters.
          content:
            application/json:
              schema:
                description: List of managed Cassandra clusters.
                readOnly: true
                type: object
                properties:
                  value:
                    description: Container for the array of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        location:
                          type: string
                          description: The location of the resource group to which
                            the resource belongs.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: 'Tags are a list of key-value pairs that describe
                            the resource. These tags can be used in viewing and grouping
                            this resource (across resource groups). A maximum of 15
                            tags can be provided for a resource. Each tag must have
                            a key no greater than 128 characters and value no greater
                            than 256 characters. For example, the default experience
                            for a template type is set with "defaultExperience": "Cassandra".
                            Current "defaultExperience" values also include "Table",
                            "Graph", "DocumentDB", and "MongoDB".'
                        identity:
                          description: Identity for the resource.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The object id of the identity resource.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id of the resource.
                            type:
                              type: string
                              description: The type of the resource.
                              enum:
                              - SystemAssigned
                              - None
                              x-ms-enum:
                                name: ManagedCassandraResourceIdentityType
                                modelAsString: true
                        properties:
                          type: object
                          description: Properties of a managed Cassandra cluster.
                          properties:
                            provisioningState:
                              description: The status of the resource at the time
                                the operation was called.
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ManagedCassandraProvisioningState
                                modelAsString: true
                            restoreFromBackupId:
                              type: string
                              x-ms-mutability:
                              - create
                              description: To create an empty cluster, omit this field
                                or set it to null. To restore a backup into a new
                                cluster, set this field to the resource id of the
                                backup.
                            delegatedManagementSubnetId:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              description: Resource id of a subnet that this cluster's
                                management service should have its network interface
                                attached to. The subnet must be routable to all subnets
                                that will be delegated to data centers. The resource
                                id must be of the form '/subscriptions/<subscription
                                id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                                network>/subnets/<subnet>'
                            cassandraVersion:
                              type: string
                              description: Which version of Cassandra should this
                                cluster converge to running (e.g., 3.11). When updated,
                                the cluster may take some time to migrate to the new
                                version.
                            clusterNameOverride:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              description: If you need to set the clusterName property
                                in cassandra.yaml to something besides the resource
                                name of the cluster, set the value to use on this
                                property.
                            authenticationMethod:
                              type: string
                              description: Which authentication method Cassandra should
                                use to authenticate clients. 'None' turns off authentication,
                                so should not be used except in emergencies. 'Cassandra'
                                is the default password based authentication. The
                                default is 'Cassandra'.
                              enum:
                              - None
                              - Cassandra
                              - Ldap
                              x-ms-enum:
                                name: AuthenticationMethod
                                modelAsString: true
                            initialCassandraAdminPassword:
                              x-ms-mutability:
                              - create
                              x-ms-secret: true
                              description: Initial password for clients connecting
                                as admin to the cluster. Should be changed after cluster
                                creation. Returns null on GET. This field only applies
                                when the authenticationMethod field is 'Cassandra'.
                              type: string
                            prometheusEndpoint:
                              description: Hostname or IP address where the Prometheus
                                endpoint containing data about the managed Cassandra
                                nodes can be reached.
                              type: object
                              properties:
                                ipAddress:
                                  description: IP address of this seed node.
                                  type: string
                            repairEnabled:
                              type: boolean
                              description: Should automatic repairs run on this cluster?
                                If omitted, this is true, and should stay true unless
                                you are running a hybrid cluster where you are already
                                doing your own repairs.
                            clientCertificates:
                              description: List of TLS certificates used to authorize
                                clients connecting to the cluster. All connections
                                are TLS encrypted whether clientCertificates is set
                                or not, but if clientCertificates is set, the managed
                                Cassandra cluster will reject all connections not
                                bearing a TLS client certificate that can be validated
                                from one or more of the public certificates in this
                                property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            externalGossipCertificates:
                              description: List of TLS certificates used to authorize
                                gossip from unmanaged data centers. The TLS certificates
                                of all nodes in unmanaged data centers must be verifiable
                                using one of the certificates provided in this property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            gossipCertificates:
                              readOnly: true
                              x-ms-mutability:
                              - read
                              description: List of TLS certificates that unmanaged
                                nodes must trust for gossip with managed nodes. All
                                managed nodes will present TLS client certificates
                                that are verifiable using one of the certificates
                                provided in this property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            externalSeedNodes:
                              type: array
                              description: List of IP addresses of seed nodes in unmanaged
                                data centers. These will be added to the seed node
                                lists of all managed nodes.
                              items:
                                type: object
                                properties:
                                  ipAddress:
                                    description: IP address of this seed node.
                                    type: string
                            seedNodes:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  ipAddress:
                                    description: IP address of this seed node.
                                    type: string
                              description: List of IP addresses of seed nodes in the
                                managed data centers. These should be added to the
                                seed node lists of all unmanaged nodes.
                            hoursBetweenBackups:
                              type: integer
                              format: int32
                              description: (Deprecated) Number of hours to wait between
                                taking a backup of the cluster.
                            deallocated:
                              type: boolean
                              description: Whether the cluster and associated data
                                centers has been deallocated.
                            cassandraAuditLoggingEnabled:
                              type: boolean
                              description: Whether Cassandra audit logging is enabled
                            provisionError:
                              description: Error related to resource provisioning.
                              type: object
                              properties:
                                code:
                                  description: The code of error that occurred.
                                  type: string
                                message:
                                  description: The message of the error.
                                  type: string
                                target:
                                  description: The target resource of the error.
                                  type: string
                                additionalErrorInfo:
                                  description: Additional information about the error.
                                  type: string
                            azureConnectionMethod:
                              type: string
                              description: How to connect to the azure services needed
                                for running the cluster
                              enum:
                              - None
                              - VPN
                              x-ms-enum:
                                name: AzureConnectionType
                                modelAsString: true
                            privateLinkResourceId:
                              readOnly: true
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/privateLinkServices
                              description: If the Connection Method is VPN, this is
                                the Id of the private link resource that the datacenters
                                need to connect to.
                      description: The core properties of ARM resources.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters:
    get:
      operationId: CassandraClusters_ListByResourceGroup
      description: List all managed Cassandra clusters in this resource group.
      x-ms-pageable: {}
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Successfully retrieved the list of managed Cassandra clusters.
          content:
            application/json:
              schema:
                description: List of managed Cassandra clusters.
                readOnly: true
                type: object
                properties:
                  value:
                    description: Container for the array of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        location:
                          type: string
                          description: The location of the resource group to which
                            the resource belongs.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: 'Tags are a list of key-value pairs that describe
                            the resource. These tags can be used in viewing and grouping
                            this resource (across resource groups). A maximum of 15
                            tags can be provided for a resource. Each tag must have
                            a key no greater than 128 characters and value no greater
                            than 256 characters. For example, the default experience
                            for a template type is set with "defaultExperience": "Cassandra".
                            Current "defaultExperience" values also include "Table",
                            "Graph", "DocumentDB", and "MongoDB".'
                        identity:
                          description: Identity for the resource.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The object id of the identity resource.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant id of the resource.
                            type:
                              type: string
                              description: The type of the resource.
                              enum:
                              - SystemAssigned
                              - None
                              x-ms-enum:
                                name: ManagedCassandraResourceIdentityType
                                modelAsString: true
                        properties:
                          type: object
                          description: Properties of a managed Cassandra cluster.
                          properties:
                            provisioningState:
                              description: The status of the resource at the time
                                the operation was called.
                              type: string
                              enum:
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ManagedCassandraProvisioningState
                                modelAsString: true
                            restoreFromBackupId:
                              type: string
                              x-ms-mutability:
                              - create
                              description: To create an empty cluster, omit this field
                                or set it to null. To restore a backup into a new
                                cluster, set this field to the resource id of the
                                backup.
                            delegatedManagementSubnetId:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              description: Resource id of a subnet that this cluster's
                                management service should have its network interface
                                attached to. The subnet must be routable to all subnets
                                that will be delegated to data centers. The resource
                                id must be of the form '/subscriptions/<subscription
                                id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                                network>/subnets/<subnet>'
                            cassandraVersion:
                              type: string
                              description: Which version of Cassandra should this
                                cluster converge to running (e.g., 3.11). When updated,
                                the cluster may take some time to migrate to the new
                                version.
                            clusterNameOverride:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              description: If you need to set the clusterName property
                                in cassandra.yaml to something besides the resource
                                name of the cluster, set the value to use on this
                                property.
                            authenticationMethod:
                              type: string
                              description: Which authentication method Cassandra should
                                use to authenticate clients. 'None' turns off authentication,
                                so should not be used except in emergencies. 'Cassandra'
                                is the default password based authentication. The
                                default is 'Cassandra'.
                              enum:
                              - None
                              - Cassandra
                              - Ldap
                              x-ms-enum:
                                name: AuthenticationMethod
                                modelAsString: true
                            initialCassandraAdminPassword:
                              x-ms-mutability:
                              - create
                              x-ms-secret: true
                              description: Initial password for clients connecting
                                as admin to the cluster. Should be changed after cluster
                                creation. Returns null on GET. This field only applies
                                when the authenticationMethod field is 'Cassandra'.
                              type: string
                            prometheusEndpoint:
                              description: Hostname or IP address where the Prometheus
                                endpoint containing data about the managed Cassandra
                                nodes can be reached.
                              type: object
                              properties:
                                ipAddress:
                                  description: IP address of this seed node.
                                  type: string
                            repairEnabled:
                              type: boolean
                              description: Should automatic repairs run on this cluster?
                                If omitted, this is true, and should stay true unless
                                you are running a hybrid cluster where you are already
                                doing your own repairs.
                            clientCertificates:
                              description: List of TLS certificates used to authorize
                                clients connecting to the cluster. All connections
                                are TLS encrypted whether clientCertificates is set
                                or not, but if clientCertificates is set, the managed
                                Cassandra cluster will reject all connections not
                                bearing a TLS client certificate that can be validated
                                from one or more of the public certificates in this
                                property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            externalGossipCertificates:
                              description: List of TLS certificates used to authorize
                                gossip from unmanaged data centers. The TLS certificates
                                of all nodes in unmanaged data centers must be verifiable
                                using one of the certificates provided in this property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            gossipCertificates:
                              readOnly: true
                              x-ms-mutability:
                              - read
                              description: List of TLS certificates that unmanaged
                                nodes must trust for gossip with managed nodes. All
                                managed nodes will present TLS client certificates
                                that are verifiable using one of the certificates
                                provided in this property.
                              type: array
                              items:
                                type: object
                                properties:
                                  pem:
                                    description: PEM formatted public key.
                                    type: string
                            externalSeedNodes:
                              type: array
                              description: List of IP addresses of seed nodes in unmanaged
                                data centers. These will be added to the seed node
                                lists of all managed nodes.
                              items:
                                type: object
                                properties:
                                  ipAddress:
                                    description: IP address of this seed node.
                                    type: string
                            seedNodes:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  ipAddress:
                                    description: IP address of this seed node.
                                    type: string
                              description: List of IP addresses of seed nodes in the
                                managed data centers. These should be added to the
                                seed node lists of all unmanaged nodes.
                            hoursBetweenBackups:
                              type: integer
                              format: int32
                              description: (Deprecated) Number of hours to wait between
                                taking a backup of the cluster.
                            deallocated:
                              type: boolean
                              description: Whether the cluster and associated data
                                centers has been deallocated.
                            cassandraAuditLoggingEnabled:
                              type: boolean
                              description: Whether Cassandra audit logging is enabled
                            provisionError:
                              description: Error related to resource provisioning.
                              type: object
                              properties:
                                code:
                                  description: The code of error that occurred.
                                  type: string
                                message:
                                  description: The message of the error.
                                  type: string
                                target:
                                  description: The target resource of the error.
                                  type: string
                                additionalErrorInfo:
                                  description: Additional information about the error.
                                  type: string
                            azureConnectionMethod:
                              type: string
                              description: How to connect to the azure services needed
                                for running the cluster
                              enum:
                              - None
                              - VPN
                              x-ms-enum:
                                name: AzureConnectionType
                                modelAsString: true
                            privateLinkResourceId:
                              readOnly: true
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/privateLinkServices
                              description: If the Connection Method is VPN, this is
                                the Id of the private link resource that the datacenters
                                need to connect to.
                      description: The core properties of ARM resources.
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{clusterName}
  : get:
      operationId: CassandraClusters_Get
      description: Get the properties of a managed Cassandra cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Managed Cassandra cluster name.
        schema:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The properties of the managed Cassandra cluster were retrieved
            successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the ARM resource.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the ARM resource.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  location:
                    type: string
                    description: The location of the resource group to which the resource
                      belongs.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: 'Tags are a list of key-value pairs that describe
                      the resource. These tags can be used in viewing and grouping
                      this resource (across resource groups). A maximum of 15 tags
                      can be provided for a resource. Each tag must have a key no
                      greater than 128 characters and value no greater than 256 characters.
                      For example, the default experience for a template type is set
                      with "defaultExperience": "Cassandra". Current "defaultExperience"
                      values also include "Table", "Graph", "DocumentDB", and "MongoDB".'
                  identity:
                    description: Identity for the resource.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The object id of the identity resource.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the resource.
                      type:
                        type: string
                        description: The type of the resource.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ManagedCassandraResourceIdentityType
                          modelAsString: true
                  properties:
                    type: object
                    description: Properties of a managed Cassandra cluster.
                    properties:
                      provisioningState:
                        description: The status of the resource at the time the operation
                          was called.
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ManagedCassandraProvisioningState
                          modelAsString: true
                      restoreFromBackupId:
                        type: string
                        x-ms-mutability:
                        - create
                        description: To create an empty cluster, omit this field or
                          set it to null. To restore a backup into a new cluster,
                          set this field to the resource id of the backup.
                      delegatedManagementSubnetId:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: Resource id of a subnet that this cluster's management
                          service should have its network interface attached to. The
                          subnet must be routable to all subnets that will be delegated
                          to data centers. The resource id must be of the form '/subscriptions/<subscription
                          id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                          network>/subnets/<subnet>'
                      cassandraVersion:
                        type: string
                        description: Which version of Cassandra should this cluster
                          converge to running (e.g., 3.11). When updated, the cluster
                          may take some time to migrate to the new version.
                      clusterNameOverride:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: If you need to set the clusterName property in
                          cassandra.yaml to something besides the resource name of
                          the cluster, set the value to use on this property.
                      authenticationMethod:
                        type: string
                        description: Which authentication method Cassandra should
                          use to authenticate clients. 'None' turns off authentication,
                          so should not be used except in emergencies. 'Cassandra'
                          is the default password based authentication. The default
                          is 'Cassandra'.
                        enum:
                        - None
                        - Cassandra
                        - Ldap
                        x-ms-enum:
                          name: AuthenticationMethod
                          modelAsString: true
                      initialCassandraAdminPassword:
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                        description: Initial password for clients connecting as admin
                          to the cluster. Should be changed after cluster creation.
                          Returns null on GET. This field only applies when the authenticationMethod
                          field is 'Cassandra'.
                        type: string
                      prometheusEndpoint:
                        description: Hostname or IP address where the Prometheus endpoint
                          containing data about the managed Cassandra nodes can be
                          reached.
                        type: object
                        properties:
                          ipAddress:
                            description: IP address of this seed node.
                            type: string
                      repairEnabled:
                        type: boolean
                        description: Should automatic repairs run on this cluster?
                          If omitted, this is true, and should stay true unless you
                          are running a hybrid cluster where you are already doing
                          your own repairs.
                      clientCertificates:
                        description: List of TLS certificates used to authorize clients
                          connecting to the cluster. All connections are TLS encrypted
                          whether clientCertificates is set or not, but if clientCertificates
                          is set, the managed Cassandra cluster will reject all connections
                          not bearing a TLS client certificate that can be validated
                          from one or more of the public certificates in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalGossipCertificates:
                        description: List of TLS certificates used to authorize gossip
                          from unmanaged data centers. The TLS certificates of all
                          nodes in unmanaged data centers must be verifiable using
                          one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      gossipCertificates:
                        readOnly: true
                        x-ms-mutability:
                        - read
                        description: List of TLS certificates that unmanaged nodes
                          must trust for gossip with managed nodes. All managed nodes
                          will present TLS client certificates that are verifiable
                          using one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalSeedNodes:
                        type: array
                        description: List of IP addresses of seed nodes in unmanaged
                          data centers. These will be added to the seed node lists
                          of all managed nodes.
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                      seedNodes:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                        description: List of IP addresses of seed nodes in the managed
                          data centers. These should be added to the seed node lists
                          of all unmanaged nodes.
                      hoursBetweenBackups:
                        type: integer
                        format: int32
                        description: (Deprecated) Number of hours to wait between
                          taking a backup of the cluster.
                      deallocated:
                        type: boolean
                        description: Whether the cluster and associated data centers
                          has been deallocated.
                      cassandraAuditLoggingEnabled:
                        type: boolean
                        description: Whether Cassandra audit logging is enabled
                      provisionError:
                        description: Error related to resource provisioning.
                        type: object
                        properties:
                          code:
                            description: The code of error that occurred.
                            type: string
                          message:
                            description: The message of the error.
                            type: string
                          target:
                            description: The target resource of the error.
                            type: string
                          additionalErrorInfo:
                            description: Additional information about the error.
                            type: string
                      azureConnectionMethod:
                        type: string
                        description: How to connect to the azure services needed for
                          running the cluster
                        enum:
                        - None
                        - VPN
                        x-ms-enum:
                          name: AzureConnectionType
                          modelAsString: true
                      privateLinkResourceId:
                        readOnly: true
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Network/privateLinkServices
                        description: If the Connection Method is VPN, this is the
                          Id of the private link resource that the datacenters need
                          to connect to.
                description: The core properties of ARM resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    delete:
      operationId: CassandraClusters_Delete
      description: Deletes a managed Cassandra cluster.
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Managed Cassandra cluster name.
        schema:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Accepted. The managed Cassandra cluster will be deleted asynchronously.
        '204':
          description: No such cluster to delete.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    put:
      operationId: CassandraClusters_CreateUpdate
      description: Create or update a managed Cassandra cluster. When updating, you
        must specify all writable properties. To update only some properties, use
        PATCH.
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Managed Cassandra cluster name.
        schema:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The unique resource identifier of the ARM resource.
                name:
                  readOnly: true
                  type: string
                  description: The name of the ARM resource.
                type:
                  readOnly: true
                  type: string
                  description: The type of Azure resource.
                location:
                  type: string
                  description: The location of the resource group to which the resource
                    belongs.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Tags are a list of key-value pairs that describe the
                    resource. These tags can be used in viewing and grouping this
                    resource (across resource groups). A maximum of 15 tags can be
                    provided for a resource. Each tag must have a key no greater than
                    128 characters and value no greater than 256 characters. For example,
                    the default experience for a template type is set with "defaultExperience":
                    "Cassandra". Current "defaultExperience" values also include "Table",
                    "Graph", "DocumentDB", and "MongoDB".'
                identity:
                  description: Identity for the resource.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The object id of the identity resource.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the resource.
                    type:
                      type: string
                      description: The type of the resource.
                      enum:
                      - SystemAssigned
                      - None
                      x-ms-enum:
                        name: ManagedCassandraResourceIdentityType
                        modelAsString: true
                properties:
                  type: object
                  description: Properties of a managed Cassandra cluster.
                  properties:
                    provisioningState:
                      description: The status of the resource at the time the operation
                        was called.
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ManagedCassandraProvisioningState
                        modelAsString: true
                    restoreFromBackupId:
                      type: string
                      x-ms-mutability:
                      - create
                      description: To create an empty cluster, omit this field or
                        set it to null. To restore a backup into a new cluster, set
                        this field to the resource id of the backup.
                    delegatedManagementSubnetId:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                      description: Resource id of a subnet that this cluster's management
                        service should have its network interface attached to. The
                        subnet must be routable to all subnets that will be delegated
                        to data centers. The resource id must be of the form '/subscriptions/<subscription
                        id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                        network>/subnets/<subnet>'
                    cassandraVersion:
                      type: string
                      description: Which version of Cassandra should this cluster
                        converge to running (e.g., 3.11). When updated, the cluster
                        may take some time to migrate to the new version.
                    clusterNameOverride:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                      description: If you need to set the clusterName property in
                        cassandra.yaml to something besides the resource name of the
                        cluster, set the value to use on this property.
                    authenticationMethod:
                      type: string
                      description: Which authentication method Cassandra should use
                        to authenticate clients. 'None' turns off authentication,
                        so should not be used except in emergencies. 'Cassandra' is
                        the default password based authentication. The default is
                        'Cassandra'.
                      enum:
                      - None
                      - Cassandra
                      - Ldap
                      x-ms-enum:
                        name: AuthenticationMethod
                        modelAsString: true
                    initialCassandraAdminPassword:
                      x-ms-mutability:
                      - create
                      x-ms-secret: true
                      description: Initial password for clients connecting as admin
                        to the cluster. Should be changed after cluster creation.
                        Returns null on GET. This field only applies when the authenticationMethod
                        field is 'Cassandra'.
                      type: string
                    prometheusEndpoint:
                      description: Hostname or IP address where the Prometheus endpoint
                        containing data about the managed Cassandra nodes can be reached.
                      type: object
                      properties:
                        ipAddress:
                          description: IP address of this seed node.
                          type: string
                    repairEnabled:
                      type: boolean
                      description: Should automatic repairs run on this cluster? If
                        omitted, this is true, and should stay true unless you are
                        running a hybrid cluster where you are already doing your
                        own repairs.
                    clientCertificates:
                      description: List of TLS certificates used to authorize clients
                        connecting to the cluster. All connections are TLS encrypted
                        whether clientCertificates is set or not, but if clientCertificates
                        is set, the managed Cassandra cluster will reject all connections
                        not bearing a TLS client certificate that can be validated
                        from one or more of the public certificates in this property.
                      type: array
                      items:
                        type: object
                        properties:
                          pem:
                            description: PEM formatted public key.
                            type: string
                    externalGossipCertificates:
                      description: List of TLS certificates used to authorize gossip
                        from unmanaged data centers. The TLS certificates of all nodes
                        in unmanaged data centers must be verifiable using one of
                        the certificates provided in this property.
                      type: array
                      items:
                        type: object
                        properties:
                          pem:
                            description: PEM formatted public key.
                            type: string
                    gossipCertificates:
                      readOnly: true
                      x-ms-mutability:
                      - read
                      description: List of TLS certificates that unmanaged nodes must
                        trust for gossip with managed nodes. All managed nodes will
                        present TLS client certificates that are verifiable using
                        one of the certificates provided in this property.
                      type: array
                      items:
                        type: object
                        properties:
                          pem:
                            description: PEM formatted public key.
                            type: string
                    externalSeedNodes:
                      type: array
                      description: List of IP addresses of seed nodes in unmanaged
                        data centers. These will be added to the seed node lists of
                        all managed nodes.
                      items:
                        type: object
                        properties:
                          ipAddress:
                            description: IP address of this seed node.
                            type: string
                    seedNodes:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          ipAddress:
                            description: IP address of this seed node.
                            type: string
                      description: List of IP addresses of seed nodes in the managed
                        data centers. These should be added to the seed node lists
                        of all unmanaged nodes.
                    hoursBetweenBackups:
                      type: integer
                      format: int32
                      description: (Deprecated) Number of hours to wait between taking
                        a backup of the cluster.
                    deallocated:
                      type: boolean
                      description: Whether the cluster and associated data centers
                        has been deallocated.
                    cassandraAuditLoggingEnabled:
                      type: boolean
                      description: Whether Cassandra audit logging is enabled
                    provisionError:
                      description: Error related to resource provisioning.
                      type: object
                      properties:
                        code:
                          description: The code of error that occurred.
                          type: string
                        message:
                          description: The message of the error.
                          type: string
                        target:
                          description: The target resource of the error.
                          type: string
                        additionalErrorInfo:
                          description: Additional information about the error.
                          type: string
                    azureConnectionMethod:
                      type: string
                      description: How to connect to the azure services needed for
                        running the cluster
                      enum:
                      - None
                      - VPN
                      x-ms-enum:
                        name: AzureConnectionType
                        modelAsString: true
                    privateLinkResourceId:
                      readOnly: true
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.Network/privateLinkServices
                      description: If the Connection Method is VPN, this is the Id
                        of the private link resource that the datacenters need to
                        connect to.
              description: The core properties of ARM resources.
              x-ms-azure-resource: true
        description: The properties specifying the desired state of the managed Cassandra
          cluster.
        required: true
      responses:
        '200':
          description: The managed Cassandra cluster is being updated. Poll for provisioningState=Succeeded
            to find when creation completes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the ARM resource.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the ARM resource.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  location:
                    type: string
                    description: The location of the resource group to which the resource
                      belongs.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: 'Tags are a list of key-value pairs that describe
                      the resource. These tags can be used in viewing and grouping
                      this resource (across resource groups). A maximum of 15 tags
                      can be provided for a resource. Each tag must have a key no
                      greater than 128 characters and value no greater than 256 characters.
                      For example, the default experience for a template type is set
                      with "defaultExperience": "Cassandra". Current "defaultExperience"
                      values also include "Table", "Graph", "DocumentDB", and "MongoDB".'
                  identity:
                    description: Identity for the resource.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The object id of the identity resource.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the resource.
                      type:
                        type: string
                        description: The type of the resource.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ManagedCassandraResourceIdentityType
                          modelAsString: true
                  properties:
                    type: object
                    description: Properties of a managed Cassandra cluster.
                    properties:
                      provisioningState:
                        description: The status of the resource at the time the operation
                          was called.
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ManagedCassandraProvisioningState
                          modelAsString: true
                      restoreFromBackupId:
                        type: string
                        x-ms-mutability:
                        - create
                        description: To create an empty cluster, omit this field or
                          set it to null. To restore a backup into a new cluster,
                          set this field to the resource id of the backup.
                      delegatedManagementSubnetId:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: Resource id of a subnet that this cluster's management
                          service should have its network interface attached to. The
                          subnet must be routable to all subnets that will be delegated
                          to data centers. The resource id must be of the form '/subscriptions/<subscription
                          id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                          network>/subnets/<subnet>'
                      cassandraVersion:
                        type: string
                        description: Which version of Cassandra should this cluster
                          converge to running (e.g., 3.11). When updated, the cluster
                          may take some time to migrate to the new version.
                      clusterNameOverride:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: If you need to set the clusterName property in
                          cassandra.yaml to something besides the resource name of
                          the cluster, set the value to use on this property.
                      authenticationMethod:
                        type: string
                        description: Which authentication method Cassandra should
                          use to authenticate clients. 'None' turns off authentication,
                          so should not be used except in emergencies. 'Cassandra'
                          is the default password based authentication. The default
                          is 'Cassandra'.
                        enum:
                        - None
                        - Cassandra
                        - Ldap
                        x-ms-enum:
                          name: AuthenticationMethod
                          modelAsString: true
                      initialCassandraAdminPassword:
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                        description: Initial password for clients connecting as admin
                          to the cluster. Should be changed after cluster creation.
                          Returns null on GET. This field only applies when the authenticationMethod
                          field is 'Cassandra'.
                        type: string
                      prometheusEndpoint:
                        description: Hostname or IP address where the Prometheus endpoint
                          containing data about the managed Cassandra nodes can be
                          reached.
                        type: object
                        properties:
                          ipAddress:
                            description: IP address of this seed node.
                            type: string
                      repairEnabled:
                        type: boolean
                        description: Should automatic repairs run on this cluster?
                          If omitted, this is true, and should stay true unless you
                          are running a hybrid cluster where you are already doing
                          your own repairs.
                      clientCertificates:
                        description: List of TLS certificates used to authorize clients
                          connecting to the cluster. All connections are TLS encrypted
                          whether clientCertificates is set or not, but if clientCertificates
                          is set, the managed Cassandra cluster will reject all connections
                          not bearing a TLS client certificate that can be validated
                          from one or more of the public certificates in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalGossipCertificates:
                        description: List of TLS certificates used to authorize gossip
                          from unmanaged data centers. The TLS certificates of all
                          nodes in unmanaged data centers must be verifiable using
                          one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      gossipCertificates:
                        readOnly: true
                        x-ms-mutability:
                        - read
                        description: List of TLS certificates that unmanaged nodes
                          must trust for gossip with managed nodes. All managed nodes
                          will present TLS client certificates that are verifiable
                          using one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalSeedNodes:
                        type: array
                        description: List of IP addresses of seed nodes in unmanaged
                          data centers. These will be added to the seed node lists
                          of all managed nodes.
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                      seedNodes:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                        description: List of IP addresses of seed nodes in the managed
                          data centers. These should be added to the seed node lists
                          of all unmanaged nodes.
                      hoursBetweenBackups:
                        type: integer
                        format: int32
                        description: (Deprecated) Number of hours to wait between
                          taking a backup of the cluster.
                      deallocated:
                        type: boolean
                        description: Whether the cluster and associated data centers
                          has been deallocated.
                      cassandraAuditLoggingEnabled:
                        type: boolean
                        description: Whether Cassandra audit logging is enabled
                      provisionError:
                        description: Error related to resource provisioning.
                        type: object
                        properties:
                          code:
                            description: The code of error that occurred.
                            type: string
                          message:
                            description: The message of the error.
                            type: string
                          target:
                            description: The target resource of the error.
                            type: string
                          additionalErrorInfo:
                            description: Additional information about the error.
                            type: string
                      azureConnectionMethod:
                        type: string
                        description: How to connect to the azure services needed for
                          running the cluster
                        enum:
                        - None
                        - VPN
                        x-ms-enum:
                          name: AzureConnectionType
                          modelAsString: true
                      privateLinkResourceId:
                        readOnly: true
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Network/privateLinkServices
                        description: If the Connection Method is VPN, this is the
                          Id of the private link resource that the datacenters need
                          to connect to.
                description: The core properties of ARM resources.
                x-ms-azure-resource: true
        '201':
          description: The managed Cassandra cluster is being created. Poll for provisioningState=Succeeded
            to find when creation completes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the ARM resource.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the ARM resource.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  location:
                    type: string
                    description: The location of the resource group to which the resource
                      belongs.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: 'Tags are a list of key-value pairs that describe
                      the resource. These tags can be used in viewing and grouping
                      this resource (across resource groups). A maximum of 15 tags
                      can be provided for a resource. Each tag must have a key no
                      greater than 128 characters and value no greater than 256 characters.
                      For example, the default experience for a template type is set
                      with "defaultExperience": "Cassandra". Current "defaultExperience"
                      values also include "Table", "Graph", "DocumentDB", and "MongoDB".'
                  identity:
                    description: Identity for the resource.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The object id of the identity resource.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the resource.
                      type:
                        type: string
                        description: The type of the resource.
                        enum:
                        - SystemAssigned
                        - None
                        x-ms-enum:
                          name: ManagedCassandraResourceIdentityType
                          modelAsString: true
                  properties:
                    type: object
                    description: Properties of a managed Cassandra cluster.
                    properties:
                      provisioningState:
                        description: The status of the resource at the time the operation
                          was called.
                        type: string
                        enum:
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ManagedCassandraProvisioningState
                          modelAsString: true
                      restoreFromBackupId:
                        type: string
                        x-ms-mutability:
                        - create
                        description: To create an empty cluster, omit this field or
                          set it to null. To restore a backup into a new cluster,
                          set this field to the resource id of the backup.
                      delegatedManagementSubnetId:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: Resource id of a subnet that this cluster's management
                          service should have its network interface attached to. The
                          subnet must be routable to all subnets that will be delegated
                          to data centers. The resource id must be of the form '/subscriptions/<subscription
                          id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                          network>/subnets/<subnet>'
                      cassandraVersion:
                        type: string
                        description: Which version of Cassandra should this cluster
                          converge to running (e.g., 3.11). When updated, the cluster
                          may take some time to migrate to the new version.
                      clusterNameOverride:
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                        description: If you need to set the clusterName property in
                          cassandra.yaml to something besides the resource name of
                          the cluster, set the value to use on this property.
                      authenticationMethod:
                        type: string
                        description: Which authentication method Cassandra should
                          use to authenticate clients. 'None' turns off authentication,
                          so should not be used except in emergencies. 'Cassandra'
                          is the default password based authentication. The default
                          is 'Cassandra'.
                        enum:
                        - None
                        - Cassandra
                        - Ldap
                        x-ms-enum:
                          name: AuthenticationMethod
                          modelAsString: true
                      initialCassandraAdminPassword:
                        x-ms-mutability:
                        - create
                        x-ms-secret: true
                        description: Initial password for clients connecting as admin
                          to the cluster. Should be changed after cluster creation.
                          Returns null on GET. This field only applies when the authenticationMethod
                          field is 'Cassandra'.
                        type: string
                      prometheusEndpoint:
                        description: Hostname or IP address where the Prometheus endpoint
                          containing data about the managed Cassandra nodes can be
                          reached.
                        type: object
                        properties:
                          ipAddress:
                            description: IP address of this seed node.
                            type: string
                      repairEnabled:
                        type: boolean
                        description: Should automatic repairs run on this cluster?
                          If omitted, this is true, and should stay true unless you
                          are running a hybrid cluster where you are already doing
                          your own repairs.
                      clientCertificates:
                        description: List of TLS certificates used to authorize clients
                          connecting to the cluster. All connections are TLS encrypted
                          whether clientCertificates is set or not, but if clientCertificates
                          is set, the managed Cassandra cluster will reject all connections
                          not bearing a TLS client certificate that can be validated
                          from one or more of the public certificates in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalGossipCertificates:
                        description: List of TLS certificates used to authorize gossip
                          from unmanaged data centers. The TLS certificates of all
                          nodes in unmanaged data centers must be verifiable using
                          one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      gossipCertificates:
                        readOnly: true
                        x-ms-mutability:
                        - read
                        description: List of TLS certificates that unmanaged nodes
                          must trust for gossip with managed nodes. All managed nodes
                          will present TLS client certificates that are verifiable
                          using one of the certificates provided in this property.
                        type: array
                        items:
                          type: object
                          properties:
                            pem:
                              description: PEM formatted public key.
                              type: string
                      externalSeedNodes:
                        type: array
                        description: List of IP addresses of seed nodes in unmanaged
                          data centers. These will be added to the seed node lists
                          of all managed nodes.
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                      seedNodes:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            ipAddress:
                              description: IP address of this seed node.
                              type: string
                        description: List of IP addresses of seed nodes in the managed
                          data centers. These should be added to the seed node lists
                          of all unmanaged nodes.
                      hoursBetweenBackups:
                        type: integer
                        format: int32
                        description: (Deprecated) Number of hours to wait between
                          taking a backup of the cluster.
                      deallocated:
                        type: boolean
                        description: Whether the cluster and associated data centers
                          has been deallocated.
                      cassandraAuditLoggingEnabled:
                        type: boolean
                        description: Whether Cassandra audit logging is enabled
                      provisionError:
                        description: Error related to resource provisioning.
                        type: object
                        properties:
                          code:
                            description: The code of error that occurred.
                            type: string
                          message:
                            description: The message of the error.
                            type: string
                          target:
                            description: The target resource of the error.
                            type: string
                          additionalErrorInfo:
                            description: Additional information about the error.
                            type: string
                      azureConnectionMethod:
                        type: string
                        description: How to connect to the azure services needed for
                          running the cluster
                        enum:
                        - None
                        - VPN
                        x-ms-enum:
                          name: AzureConnectionType
                          modelAsString: true
                      privateLinkResourceId:
                        readOnly: true
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Network/privateLinkServices
                        description: If the Connection Method is VPN, this is the
                          Id of the private link resource that the datacenters need
                          to connect to.
                description: The core properties of ARM resources.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    patch:
      operationId: CassandraClusters_Update
      description: Updates some of the properties of a managed Cassandra cluster.
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Managed Cassandra cluster name.
        schema:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The unique resource identifier of the ARM resource.
                name:
                  readOnly: true
                  type: string
                  description: The name of the ARM resource.
                type:
                  readOnly: true
                  type: string
                  description: The type of Azure resource.
                location:
                  type: string
                  description: The location of the resource group to which the resource
                    belongs.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: 'Tags are a list of key-value pairs that describe the
                    resource. These tags can be used in viewing and grouping this
                    resource (across resource groups). A maximum of 15 tags can be
                    provided for a resource. Each tag must have a key no greater than
                    128 characters and value no greater than 256 characters. For example,
                    the default experience for a template type is set with "defaultExperience":
                    "Cassandra". Current "defaultExperience" values also include "Table",
                    "Graph", "DocumentDB", and "MongoDB".'
                identity:
                  description: Identity for the resource.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The object id of the identity resource.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the resource.
                    type:
                      type: string
                      description: The type of the resource.
                      enum:
                      - SystemAssigned
                      - None
                      x-ms-enum:
                        name: ManagedCassandraResourceIdentityType
                        modelAsString: true
                properties:
                  type: object
                  description: Properties of a managed Cassandra cluster.
                  properties:
                    provisioningState:
                      description: The status of the resource at the time the operation
                        was called.
                      type: string
                      enum:
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ManagedCassandraProvisioningState
                        modelAsString: true
                    restoreFromBackupId:
                      type: string
                      x-ms-mutability:
                      - create
                      description: To create an empty cluster, omit this field or
                        set it to null. To restore a backup into a new cluster, set
                        this field to the resource id of the backup.
                    delegatedManagementSubnetId:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                      description: Resource id of a subnet that this cluster's management
                        service should have its network interface attached to. The
                        subnet must be routable to all subnets that will be delegated
                        to data centers. The resource id must be of the form '/subscriptions/<subscription
                        id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual
                        network>/subnets/<subnet>'
                    cassandraVersion:
                      type: string
                      description: Which version of Cassandra should this cluster
                        converge to running (e.g., 3.11). When updated, the cluster
                        may take some time to migrate to the new version.
                    clusterNameOverride:
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                      description: If you need to set the clusterName property in
                        cassandra.yaml to something besides the resource name of the
                        cluster, set the value to use on this property.
                    authenticationMethod:
                      type: string
                      description: Which authentication method Cassandra should use
                        to authenticate clients. 'None' turns off authentication,
                        so should not be used except in emergencies. 'Cassandra' is
                        the default password based authentication. The default is
                        'Cassandra'.
                      enum:
                      - None
                      - Cassandra
                      - Ldap
                      x-ms-enum:
                        name: AuthenticationMethod
                        modelAsString: true
                    initialCassandraAdminPassword:
                      x-ms-mutability:
                      - create
                      x-ms-secret: true
                      description: Initial password for clients connecting as admin
[...]
