openapi: 3.0.0
info:
  title: Cosmos DB
  description: Azure Cosmos DB API for MongoDB Role Based Access Control Resource
    Provider REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbRoleDefinitions/{mongoRoleDefinitionId}
  : get:
      operationId: MongoDBResources_GetMongoRoleDefinition
      description: Retrieves the properties of an existing Azure Cosmos DB Mongo Role
        Definition with the given Id.
      parameters:
      - name: mongoRoleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the Role Definition {dbName.roleName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Mongo Role Definition was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Mongo Role Definition.
                    type: object
                    properties:
                      roleName:
                        type: string
                        description: A user-friendly name for the Role Definition.
                          Must be unique for the database account.
                      type:
                        type: string
                        enum:
                        - BuiltInRole
                        - CustomRole
                        description: Indicates whether the Role Definition was built-in
                          or user created.
                        x-ms-enum:
                          name: MongoRoleDefinitionType
                          modelAsString: false
                      databaseName:
                        type: string
                        description: The database name for which access is being granted
                          for this Role Definition.
                      privileges:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              type: object
                              properties:
                                db:
                                  type: string
                                  description: The database name the role is applied.
                                collection:
                                  type: string
                                  description: The collection name the role is applied.
                              description: An Azure Cosmos DB Mongo DB Resource.
                            actions:
                              type: array
                              items:
                                type: string
                              description: An array of actions that are allowed.
                          description: The set of data plane operations permitted
                            through this Role Definition.
                        description: A set of privileges contained by the Role Definition.
                          This will allow application of this Role Definition on the
                          entire database account or any underlying Database / Collection.
                          Scopes higher than Database are not enforceable as privilege.
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            db:
                              type: string
                              description: The database name the role is applied.
                            role:
                              type: string
                              description: The role name.
                          description: The set of roles permitted through this Role
                            Definition.
                        description: The set of roles inherited by this Role Definition.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    put:
      operationId: MongoDBResources_CreateUpdateMongoRoleDefinition
      x-ms-long-running-operation: true
      description: Creates or updates an Azure Cosmos DB Mongo Role Definition.
      parameters:
      - name: mongoRoleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the Role Definition {dbName.roleName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters to create and update an Azure Cosmos DB Mongo
                Role Definition.
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties to create and update an Azure Cosmos DB
                    Mongo Role Definition.
                  type: object
                  properties:
                    roleName:
                      type: string
                      description: A user-friendly name for the Role Definition. Must
                        be unique for the database account.
                    type:
                      type: string
                      enum:
                      - BuiltInRole
                      - CustomRole
                      description: Indicates whether the Role Definition was built-in
                        or user created.
                      x-ms-enum:
                        name: MongoRoleDefinitionType
                        modelAsString: false
                    databaseName:
                      type: string
                      description: The database name for which access is being granted
                        for this Role Definition.
                    privileges:
                      type: array
                      items:
                        type: object
                        properties:
                          resource:
                            type: object
                            properties:
                              db:
                                type: string
                                description: The database name the role is applied.
                              collection:
                                type: string
                                description: The collection name the role is applied.
                            description: An Azure Cosmos DB Mongo DB Resource.
                          actions:
                            type: array
                            items:
                              type: string
                            description: An array of actions that are allowed.
                        description: The set of data plane operations permitted through
                          this Role Definition.
                      description: A set of privileges contained by the Role Definition.
                        This will allow application of this Role Definition on the
                        entire database account or any underlying Database / Collection.
                        Scopes higher than Database are not enforceable as privilege.
                    roles:
                      type: array
                      items:
                        type: object
                        properties:
                          db:
                            type: string
                            description: The database name the role is applied.
                          role:
                            type: string
                            description: The role name.
                        description: The set of roles permitted through this Role
                          Definition.
                      description: The set of roles inherited by this Role Definition.
        description: The properties required to create or update a Role Definition.
        required: true
      responses:
        '200':
          description: The Mongo Role Definition create or update operation was completed
            successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Mongo Role Definition.
                    type: object
                    properties:
                      roleName:
                        type: string
                        description: A user-friendly name for the Role Definition.
                          Must be unique for the database account.
                      type:
                        type: string
                        enum:
                        - BuiltInRole
                        - CustomRole
                        description: Indicates whether the Role Definition was built-in
                          or user created.
                        x-ms-enum:
                          name: MongoRoleDefinitionType
                          modelAsString: false
                      databaseName:
                        type: string
                        description: The database name for which access is being granted
                          for this Role Definition.
                      privileges:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              type: object
                              properties:
                                db:
                                  type: string
                                  description: The database name the role is applied.
                                collection:
                                  type: string
                                  description: The collection name the role is applied.
                              description: An Azure Cosmos DB Mongo DB Resource.
                            actions:
                              type: array
                              items:
                                type: string
                              description: An array of actions that are allowed.
                          description: The set of data plane operations permitted
                            through this Role Definition.
                        description: A set of privileges contained by the Role Definition.
                          This will allow application of this Role Definition on the
                          entire database account or any underlying Database / Collection.
                          Scopes higher than Database are not enforceable as privilege.
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            db:
                              type: string
                              description: The database name the role is applied.
                            role:
                              type: string
                              description: The role name.
                          description: The set of roles permitted through this Role
                            Definition.
                        description: The set of roles inherited by this Role Definition.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        '202':
          description: The Mongo Role Definition create or update request was accepted
            and will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    delete:
      operationId: MongoDBResources_DeleteMongoRoleDefinition
      x-ms-long-running-operation: true
      description: Deletes an existing Azure Cosmos DB Mongo Role Definition.
      parameters:
      - name: mongoRoleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the Role Definition {dbName.roleName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Mongo Role Definition delete operation was completed successfully.
        '202':
          description: The Mongo Role Definition delete request was accepted and will
            complete asynchronously.
        '204':
          description: The requested Mongo Role Definition does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbRoleDefinitions
  : get:
      operationId: MongoDBResources_ListMongoRoleDefinitions
      x-ms-pageable: {}
      description: Retrieves the list of all Azure Cosmos DB Mongo Role Definitions.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties related to the Mongo Role Definition.
                          type: object
                          properties:
                            roleName:
                              type: string
                              description: A user-friendly name for the Role Definition.
                                Must be unique for the database account.
                            type:
                              type: string
                              enum:
                              - BuiltInRole
                              - CustomRole
                              description: Indicates whether the Role Definition was
                                built-in or user created.
                              x-ms-enum:
                                name: MongoRoleDefinitionType
                                modelAsString: false
                            databaseName:
                              type: string
                              description: The database name for which access is being
                                granted for this Role Definition.
                            privileges:
                              type: array
                              items:
                                type: object
                                properties:
                                  resource:
                                    type: object
                                    properties:
                                      db:
                                        type: string
                                        description: The database name the role is
                                          applied.
                                      collection:
                                        type: string
                                        description: The collection name the role
                                          is applied.
                                    description: An Azure Cosmos DB Mongo DB Resource.
                                  actions:
                                    type: array
                                    items:
                                      type: string
                                    description: An array of actions that are allowed.
                                description: The set of data plane operations permitted
                                  through this Role Definition.
                              description: A set of privileges contained by the Role
                                Definition. This will allow application of this Role
                                Definition on the entire database account or any underlying
                                Database / Collection. Scopes higher than Database
                                are not enforceable as privilege.
                            roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  db:
                                    type: string
                                    description: The database name the role is applied.
                                  role:
                                    type: string
                                    description: The role name.
                                description: The set of roles permitted through this
                                  Role Definition.
                              description: The set of roles inherited by this Role
                                Definition.
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
                    description: List of Mongo Role Definitions and their properties.
                description: The relevant Mongo Role Definitions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbUserDefinitions/{mongoUserDefinitionId}
  : get:
      operationId: MongoDBResources_GetMongoUserDefinition
      description: Retrieves the properties of an existing Azure Cosmos DB Mongo User
        Definition with the given Id.
      parameters:
      - name: mongoUserDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the User Definition {dbName.userName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The User Definition was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the User Definition.
                    type: object
                    properties:
                      userName:
                        type: string
                        description: The user name for User Definition.
                      password:
                        type: string
                        description: The password for User Definition. Response does
                          not contain user password.
                      databaseName:
                        type: string
                        description: The database name for which access is being granted
                          for this User Definition.
                      customData:
                        type: string
                        description: A custom definition for the USer Definition.
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            db:
                              type: string
                              description: The database name the role is applied.
                            role:
                              type: string
                              description: The role name.
                          description: The set of roles permitted through this Role
                            Definition.
                        description: The set of roles inherited by the User Definition.
                      mechanisms:
                        type: string
                        description: The Mongo Auth mechanism. For now, we only support
                          auth mechanism SCRAM-SHA-256.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    put:
      operationId: MongoDBResources_CreateUpdateMongoUserDefinition
      x-ms-long-running-operation: true
      description: Creates or updates an Azure Cosmos DB Mongo User Definition.
      parameters:
      - name: mongoUserDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the User Definition {dbName.userName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters to create and update an Azure Cosmos DB Mongo
                User Definition.
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties to create and update an Azure Cosmos DB
                    Mongo User Definition.
                  type: object
                  properties:
                    userName:
                      type: string
                      description: The user name for User Definition.
                    password:
                      type: string
                      description: The password for User Definition. Response does
                        not contain user password.
                    databaseName:
                      type: string
                      description: The database name for which access is being granted
                        for this User Definition.
                    customData:
                      type: string
                      description: A custom definition for the USer Definition.
                    roles:
                      type: array
                      items:
                        type: object
                        properties:
                          db:
                            type: string
                            description: The database name the role is applied.
                          role:
                            type: string
                            description: The role name.
                        description: The set of roles permitted through this Role
                          Definition.
                      description: The set of roles inherited by the User Definition.
                    mechanisms:
                      type: string
                      description: The Mongo Auth mechanism. For now, we only support
                        auth mechanism SCRAM-SHA-256.
        description: The properties required to create or update a User Definition.
        required: true
      responses:
        '200':
          description: The User Definition create or update operation was completed
            successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the User Definition.
                    type: object
                    properties:
                      userName:
                        type: string
                        description: The user name for User Definition.
                      password:
                        type: string
                        description: The password for User Definition. Response does
                          not contain user password.
                      databaseName:
                        type: string
                        description: The database name for which access is being granted
                          for this User Definition.
                      customData:
                        type: string
                        description: A custom definition for the USer Definition.
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            db:
                              type: string
                              description: The database name the role is applied.
                            role:
                              type: string
                              description: The role name.
                          description: The set of roles permitted through this Role
                            Definition.
                        description: The set of roles inherited by the User Definition.
                      mechanisms:
                        type: string
                        description: The Mongo Auth mechanism. For now, we only support
                          auth mechanism SCRAM-SHA-256.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        '202':
          description: The User Definition create or update request was accepted and
            will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    delete:
      operationId: MongoDBResources_DeleteMongoUserDefinition
      x-ms-long-running-operation: true
      description: Deletes an existing Azure Cosmos DB Mongo User Definition.
      parameters:
      - name: mongoUserDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The ID for the User Definition {dbName.userName}.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The User Definition delete operation was completed successfully.
        '202':
          description: The User Definition delete request was accepted and will complete
            asynchronously.
        '204':
          description: The requested User Definition does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbUserDefinitions
  : get:
      operationId: MongoDBResources_ListMongoUserDefinitions
      x-ms-pageable: {}
      description: Retrieves the list of all Azure Cosmos DB Mongo User Definition.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties related to the User Definition.
                          type: object
                          properties:
                            userName:
                              type: string
                              description: The user name for User Definition.
                            password:
                              type: string
                              description: The password for User Definition. Response
                                does not contain user password.
                            databaseName:
                              type: string
                              description: The database name for which access is being
                                granted for this User Definition.
                            customData:
                              type: string
                              description: A custom definition for the USer Definition.
                            roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  db:
                                    type: string
                                    description: The database name the role is applied.
                                  role:
                                    type: string
                                    description: The role name.
                                description: The set of roles permitted through this
                                  Role Definition.
                              description: The set of roles inherited by the User
                                Definition.
                            mechanisms:
                              type: string
                              description: The Mongo Auth mechanism. For now, we only
                                support auth mechanism SCRAM-SHA-256.
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
                    description: List of User Definition and their properties
                description: The relevant User Definition.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
components:
  parameters:
    mongoRoleDefinitionIdParameter:
      name: mongoRoleDefinitionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The ID for the Role Definition {dbName.roleName}.
      schema:
        type: string
    mongoUserDefinitionIdParameter:
      name: mongoUserDefinitionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The ID for the User Definition {dbName.userName}.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    accountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Cosmos DB database account name.
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    MongoRoleDefinitionResource:
      type: object
      properties:
        roleName:
          type: string
          description: A user-friendly name for the Role Definition. Must be unique
            for the database account.
        type:
          type: string
          enum:
          - BuiltInRole
          - CustomRole
          description: Indicates whether the Role Definition was built-in or user
            created.
          x-ms-enum:
            name: MongoRoleDefinitionType
            modelAsString: false
        databaseName:
          type: string
          description: The database name for which access is being granted for this
            Role Definition.
        privileges:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
                properties:
                  db:
                    type: string
                    description: The database name the role is applied.
                  collection:
                    type: string
                    description: The collection name the role is applied.
                description: An Azure Cosmos DB Mongo DB Resource.
              actions:
                type: array
                items:
                  type: string
                description: An array of actions that are allowed.
            description: The set of data plane operations permitted through this Role
              Definition.
          description: A set of privileges contained by the Role Definition. This
            will allow application of this Role Definition on the entire database
            account or any underlying Database / Collection. Scopes higher than Database
            are not enforceable as privilege.
        roles:
          type: array
          items:
            type: object
            properties:
              db:
                type: string
                description: The database name the role is applied.
              role:
                type: string
                description: The role name.
            description: The set of roles permitted through this Role Definition.
          description: The set of roles inherited by this Role Definition.
      description: Azure Cosmos DB Mongo Role Definition resource object.
    MongoRoleDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB Mongo Role Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB Mongo Role
            Definition.
          type: object
          properties:
            roleName:
              type: string
              description: A user-friendly name for the Role Definition. Must be unique
                for the database account.
            type:
              type: string
              enum:
              - BuiltInRole
              - CustomRole
              description: Indicates whether the Role Definition was built-in or user
                created.
              x-ms-enum:
                name: MongoRoleDefinitionType
                modelAsString: false
            databaseName:
              type: string
              description: The database name for which access is being granted for
                this Role Definition.
            privileges:
              type: array
              items:
                type: object
                properties:
                  resource:
                    type: object
                    properties:
                      db:
                        type: string
                        description: The database name the role is applied.
                      collection:
                        type: string
                        description: The collection name the role is applied.
                    description: An Azure Cosmos DB Mongo DB Resource.
                  actions:
                    type: array
                    items:
                      type: string
                    description: An array of actions that are allowed.
                description: The set of data plane operations permitted through this
                  Role Definition.
              description: A set of privileges contained by the Role Definition. This
                will allow application of this Role Definition on the entire database
                account or any underlying Database / Collection. Scopes higher than
                Database are not enforceable as privilege.
            roles:
              type: array
              items:
                type: object
                properties:
                  db:
                    type: string
                    description: The database name the role is applied.
                  role:
                    type: string
                    description: The role name.
                description: The set of roles permitted through this Role Definition.
              description: The set of roles inherited by this Role Definition.
    MongoRoleDefinitionGetResults:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          x-ms-client-flatten: true
          description: Properties related to the Mongo Role Definition.
          type: object
          properties:
            roleName:
              type: string
              description: A user-friendly name for the Role Definition. Must be unique
                for the database account.
            type:
              type: string
              enum:
              - BuiltInRole
              - CustomRole
              description: Indicates whether the Role Definition was built-in or user
                created.
              x-ms-enum:
                name: MongoRoleDefinitionType
                modelAsString: false
            databaseName:
              type: string
              description: The database name for which access is being granted for
                this Role Definition.
            privileges:
              type: array
              items:
                type: object
                properties:
                  resource:
                    type: object
                    properties:
                      db:
                        type: string
                        description: The database name the role is applied.
                      collection:
                        type: string
                        description: The collection name the role is applied.
                    description: An Azure Cosmos DB Mongo DB Resource.
                  actions:
                    type: array
                    items:
                      type: string
                    description: An array of actions that are allowed.
                description: The set of data plane operations permitted through this
                  Role Definition.
              description: A set of privileges contained by the Role Definition. This
                will allow application of this Role Definition on the entire database
                account or any underlying Database / Collection. Scopes higher than
                Database are not enforceable as privilege.
            roles:
              type: array
              items:
                type: object
                properties:
                  db:
                    type: string
                    description: The database name the role is applied.
                  role:
                    type: string
                    description: The role name.
                description: The set of roles permitted through this Role Definition.
              description: The set of roles inherited by this Role Definition.
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    Privilege:
      type: object
      properties:
        resource:
          type: object
          properties:
            db:
              type: string
              description: The database name the role is applied.
            collection:
              type: string
              description: The collection name the role is applied.
          description: An Azure Cosmos DB Mongo DB Resource.
        actions:
          type: array
          items:
            type: string
          description: An array of actions that are allowed.
      description: The set of data plane operations permitted through this Role Definition.
    Role:
      type: object
      properties:
        db:
          type: string
          description: The database name the role is applied.
        role:
          type: string
          description: The role name.
      description: The set of roles permitted through this Role Definition.
    MongoRoleDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                x-ms-client-flatten: true
                description: Properties related to the Mongo Role Definition.
                type: object
                properties:
                  roleName:
                    type: string
                    description: A user-friendly name for the Role Definition. Must
                      be unique for the database account.
                  type:
                    type: string
                    enum:
                    - BuiltInRole
                    - CustomRole
                    description: Indicates whether the Role Definition was built-in
                      or user created.
                    x-ms-enum:
                      name: MongoRoleDefinitionType
                      modelAsString: false
                  databaseName:
                    type: string
                    description: The database name for which access is being granted
                      for this Role Definition.
                  privileges:
                    type: array
                    items:
                      type: object
                      properties:
                        resource:
                          type: object
                          properties:
                            db:
                              type: string
                              description: The database name the role is applied.
                            collection:
                              type: string
                              description: The collection name the role is applied.
                          description: An Azure Cosmos DB Mongo DB Resource.
                        actions:
                          type: array
                          items:
                            type: string
                          description: An array of actions that are allowed.
                      description: The set of data plane operations permitted through
                        this Role Definition.
                    description: A set of privileges contained by the Role Definition.
                      This will allow application of this Role Definition on the entire
                      database account or any underlying Database / Collection. Scopes
                      higher than Database are not enforceable as privilege.
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        db:
                          type: string
                          description: The database name the role is applied.
                        role:
                          type: string
                          description: The role name.
                      description: The set of roles permitted through this Role Definition.
                    description: The set of roles inherited by this Role Definition.
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
          description: List of Mongo Role Definitions and their properties.
      description: The relevant Mongo Role Definitions.
    MongoUserDefinitionResource:
      type: object
      properties:
        userName:
          type: string
          description: The user name for User Definition.
        password:
          type: string
          description: The password for User Definition. Response does not contain
            user password.
        databaseName:
          type: string
          description: The database name for which access is being granted for this
            User Definition.
        customData:
          type: string
          description: A custom definition for the USer Definition.
        roles:
          type: array
          items:
            type: object
            properties:
              db:
                type: string
                description: The database name the role is applied.
              role:
                type: string
                description: The role name.
            description: The set of roles permitted through this Role Definition.
          description: The set of roles inherited by the User Definition.
        mechanisms:
          type: string
          description: The Mongo Auth mechanism. For now, we only support auth mechanism
            SCRAM-SHA-256.
      description: Azure Cosmos DB Mongo User Definition resource object.
    MongoUserDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB Mongo User Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB Mongo User
            Definition.
          type: object
          properties:
            userName:
              type: string
              description: The user name for User Definition.
            password:
              type: string
              description: The password for User Definition. Response does not contain
                user password.
            databaseName:
              type: string
              description: The database name for which access is being granted for
                this User Definition.
            customData:
              type: string
              description: A custom definition for the USer Definition.
            roles:
              type: array
              items:
                type: object
                properties:
                  db:
                    type: string
                    description: The database name the role is applied.
                  role:
                    type: string
                    description: The role name.
                description: The set of roles permitted through this Role Definition.
              description: The set of roles inherited by the User Definition.
            mechanisms:
              type: string
              description: The Mongo Auth mechanism. For now, we only support auth
                mechanism SCRAM-SHA-256.
    MongoUserDefinitionGetResults:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          x-ms-client-flatten: true
          description: Properties related to the User Definition.
          type: object
          properties:
            userName:
              type: string
              description: The user name for User Definition.
            password:
              type: string
              description: The password for User Definition. Response does not contain
                user password.
            databaseName:
              type: string
              description: The database name for which access is being granted for
                this User Definition.
            customData:
              type: string
              description: A custom definition for the USer Definition.
            roles:
              type: array
              items:
                type: object
                properties:
                  db:
                    type: string
                    description: The database name the role is applied.
                  role:
                    type: string
                    description: The role name.
                description: The set of roles permitted through this Role Definition.
              description: The set of roles inherited by the User Definition.
            mechanisms:
              type: string
              description: The Mongo Auth mechanism. For now, we only support auth
                mechanism SCRAM-SHA-256.
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    MongoUserDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                x-ms-client-flatten: true
                description: Properties related to the User Definition.
                type: object
                properties:
                  userName:
                    type: string
                    description: The user name for User Definition.
                  password:
                    type: string
                    description: The password for User Definition. Response does not
                      contain user password.
                  databaseName:
                    type: string
                    description: The database name for which access is being granted
                      for this User Definition.
                  customData:
                    type: string
                    description: A custom definition for the USer Definition.
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        db:
                          type: string
                          description: The database name the role is applied.
                        role:
                          type: string
                          description: The role name.
                      description: The set of roles permitted through this Role Definition.
                    description: The set of roles inherited by the User Definition.
                  mechanisms:
                    type: string
                    description: The Mongo Auth mechanism. For now, we only support
                      auth mechanism SCRAM-SHA-256.
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
          description: List of User Definition and their properties
      description: The relevant User Definition.
    ErrorResponse:
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error Response.
    CloudError:
      x-ms-external: true
      description: An error response from the service.
      properties:
        error:
          properties:
            code:
              description: Error code.
              type: string
            message:
              description: Error message indicating why the operation failed.
              type: string
          description: Error Response.
    ARMProxyResource:
      type: object
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      x-ms-azure-resource: true
