openapi: 3.0.0
info:
  title: Cosmos DB
  description: Azure Cosmos DB Database Service Resource Provider REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/notebookWorkspaces
  : get:
      tags:
      - NotebookWorkspacesResource
      description: Gets the notebook workspace resources of an existing Cosmos DB
        account.
      operationId: NotebookWorkspaces_ListByDatabaseAccount
      x-ms-pageable: {}
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      responses:
        '200':
          description: Successfully retrieved notebook workspace resources.
          content:
            application/json:
              schema:
                description: A list of notebook workspace resources
                type: object
                properties:
                  value:
                    type: array
                    description: Array of notebook workspace resources
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            notebookServerEndpoint:
                              description: Specifies the endpoint of Notebook server.
                              type: string
                              readOnly: true
                            status:
                              description: 'Status of the notebook workspace. Possible
                                values are: Creating, Online, Deleting, Failed, Updating.'
                              type: string
                              readOnly: true
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/notebookWorkspaces/{notebookWorkspaceName}
  : get:
      tags:
      - NotebookWorkspacesResource
      description: Gets the notebook workspace for a Cosmos DB account.
      operationId: NotebookWorkspaces_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Successfully retrieved a specified notebook workspace resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      notebookServerEndpoint:
                        description: Specifies the endpoint of Notebook server.
                        type: string
                        readOnly: true
                      status:
                        description: 'Status of the notebook workspace. Possible values
                          are: Creating, Online, Deleting, Failed, Updating.'
                        type: string
                        readOnly: true
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
    put:
      tags:
      - NotebookWorkspacesResource
      description: Creates the notebook workspace for a Cosmos DB account.
      operationId: NotebookWorkspaces_CreateOrUpdate
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: The unique resource identifier of the database account.
                name:
                  readOnly: true
                  type: string
                  description: The name of the database account.
                type:
                  readOnly: true
                  type: string
                  description: The type of Azure resource.
              description: The resource model definition for a ARM proxy resource.
                It will have everything other than required location and tags
              x-ms-azure-resource: true
        description: The notebook workspace to create for the current database account.
        required: true
      responses:
        '200':
          description: Creation of notebook workspace will complete asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      notebookServerEndpoint:
                        description: Specifies the endpoint of Notebook server.
                        type: string
                        readOnly: true
                      status:
                        description: 'Status of the notebook workspace. Possible values
                          are: Creating, Online, Deleting, Failed, Updating.'
                        type: string
                        readOnly: true
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
    delete:
      tags:
      - NotebookWorkspacesResource
      description: Deletes the notebook workspace for a Cosmos DB account.
      operationId: NotebookWorkspaces_Delete
      x-ms-long-running-operation: true
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '202':
          description: The notebook workspace delete operation will complete asynchronously.
        '204':
          description: The specified notebook workspace does not exist in the database
            account.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/notebookWorkspaces/{notebookWorkspaceName}/listConnectionInfo
  : post:
      tags:
      - NotebookWorkspacesResource
      operationId: NotebookWorkspaces_ListConnectionInfo
      description: Retrieves the connection info for the notebook workspace
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                description: The connection info for the given notebook workspace
                properties:
                  authToken:
                    type: string
                    description: Specifies auth token used for connecting to Notebook
                      server (uses token-based auth).
                    readOnly: true
                  notebookServerEndpoint:
                    type: string
                    description: Specifies the endpoint of Notebook server.
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/notebookWorkspaces/{notebookWorkspaceName}/regenerateAuthToken
  : post:
      tags:
      - NotebookWorkspacesResource
      operationId: NotebookWorkspaces_RegenerateAuthToken
      x-ms-long-running-operation: true
      description: Regenerates the auth token for the notebook workspace
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: OK
        '202':
          description: Accepted. The regenerate auth token operation will complete
            asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/notebookWorkspaces/{notebookWorkspaceName}/start
  : post:
      tags:
      - NotebookWorkspacesResource
      operationId: NotebookWorkspaces_Start
      x-ms-long-running-operation: true
      description: Starts the notebook workspace
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: notebookWorkspaceName
        in: path
        description: The name of the notebook workspace resource.
        required: true
        x-ms-parameter-location: method
        x-ms-enum:
          name: NotebookWorkspaceName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: OK
        '202':
          description: Accepted. The start operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    type: string
                description: Error Response.
components:
  parameters:
    accountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Cosmos DB database account name.
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    NotebookWorkspaceNameParameter:
      name: notebookWorkspaceName
      in: path
      description: The name of the notebook workspace resource.
      required: true
      x-ms-parameter-location: method
      x-ms-enum:
        name: NotebookWorkspaceName
        modelAsString: true
      schema:
        type: string
        enum:
        - default
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    NotebookWorkspaceCreateUpdateParameters:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    NotebookWorkspaceListResult:
      description: A list of notebook workspace resources
      type: object
      properties:
        value:
          type: array
          description: Array of notebook workspace resources
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  notebookServerEndpoint:
                    description: Specifies the endpoint of Notebook server.
                    type: string
                    readOnly: true
                  status:
                    description: 'Status of the notebook workspace. Possible values
                      are: Creating, Online, Deleting, Failed, Updating.'
                    type: string
                    readOnly: true
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
    NotebookWorkspace:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            notebookServerEndpoint:
              description: Specifies the endpoint of Notebook server.
              type: string
              readOnly: true
            status:
              description: 'Status of the notebook workspace. Possible values are:
                Creating, Online, Deleting, Failed, Updating.'
              type: string
              readOnly: true
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    NotebookWorkspaceProperties:
      description: Properties of a notebook workspace resource.
      type: object
      properties:
        notebookServerEndpoint:
          description: Specifies the endpoint of Notebook server.
          type: string
          readOnly: true
        status:
          description: 'Status of the notebook workspace. Possible values are: Creating,
            Online, Deleting, Failed, Updating.'
          type: string
          readOnly: true
    NotebookWorkspaceConnectionInfoResult:
      description: The connection info for the given notebook workspace
      properties:
        authToken:
          type: string
          description: Specifies auth token used for connecting to Notebook server
            (uses token-based auth).
          readOnly: true
        notebookServerEndpoint:
          type: string
          description: Specifies the endpoint of Notebook server.
          readOnly: true
    ErrorResponse:
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error Response.
    ARMProxyResource:
      type: object
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      x-ms-azure-resource: true
