openapi: 3.0.0
info:
  title: Cosmos DB
  description: Azure Cosmos DB Database Service Resource Provider REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for a Cosmos
        DB account.
      operationId: PrivateLinkResources_ListByDatabaseAccount
      x-ms-pageable: {}
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      responses:
        '200':
          description: Successfully retrieved private link resources.
          content:
            application/json:
              schema:
                description: A list of private link resources
                type: object
                properties:
                  value:
                    type: array
                    description: Array of private link resources
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            groupId:
                              description: The private link resource group id.
                              type: string
                              readOnly: true
                            requiredMembers:
                              description: The private link resource required member
                                names.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            requiredZoneNames:
                              description: The private link resource required zone
                                names.
                              type: array
                              items:
                                type: string
                              readOnly: true
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/privateLinkResources/{groupName}
  : get:
      tags:
      - PrivateLinkResources
      description: Gets the private link resources that need to be created for a Cosmos
        DB account.
      operationId: PrivateLinkResources_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: groupName
        in: path
        description: The name of the private link resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a specified private link resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      groupId:
                        description: The private link resource group id.
                        type: string
                        readOnly: true
                      requiredMembers:
                        description: The private link resource required member names.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      requiredZoneNames:
                        description: The private link resource required zone names.
                        type: array
                        items:
                          type: string
                        readOnly: true
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
components:
  parameters:
    accountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Cosmos DB database account name.
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    GroupNameParameter:
      name: groupName
      in: path
      description: The name of the private link resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    PrivateLinkResourceListResult:
      description: A list of private link resources
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                description: Resource properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  groupId:
                    description: The private link resource group id.
                    type: string
                    readOnly: true
                  requiredMembers:
                    description: The private link resource required member names.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  requiredZoneNames:
                    description: The private link resource required zone names.
                    type: array
                    items:
                      type: string
                    readOnly: true
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
    PrivateLinkResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            groupId:
              description: The private link resource group id.
              type: string
              readOnly: true
            requiredMembers:
              description: The private link resource required member names.
              type: array
              items:
                type: string
              readOnly: true
            requiredZoneNames:
              description: The private link resource required zone names.
              type: array
              items:
                type: string
              readOnly: true
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          description: The private link resource required zone names.
          type: array
          items:
            type: string
          readOnly: true
    ARMProxyResource:
      type: object
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      x-ms-azure-resource: true
