openapi: 3.0.0
info:
  title: Cosmos DB
  description: Azure Cosmos DB Role Based Access Control Resource Provider REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlRoleDefinitions/{roleDefinitionId}
  : get:
      operationId: SqlResources_GetSqlRoleDefinition
      description: Retrieves the properties of an existing Azure Cosmos DB SQL Role
        Definition with the given Id.
      parameters:
      - name: roleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Definition.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Role Definition was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Role Definition.
                    properties:
                      roleName:
                        type: string
                        description: A user-friendly name for the Role Definition.
                          Must be unique for the database account.
                      type:
                        type: string
                        enum:
                        - BuiltInRole
                        - CustomRole
                        description: Indicates whether the Role Definition was built-in
                          or user created.
                        x-ms-enum:
                          name: RoleDefinitionType
                          modelAsString: false
                      assignableScopes:
                        type: array
                        items:
                          type: string
                        description: A set of fully qualified Scopes at or below which
                          Role Assignments may be created using this Role Definition.
                          This will allow application of this Role Definition on the
                          entire database account or any underlying Database / Collection.
                          Must have at least one element. Scopes higher than Database
                          account are not enforceable as assignable Scopes. Note that
                          resources referenced in assignable Scopes need not exist.
                      permissions:
                        type: array
                        items:
                          type: object
                          properties:
                            dataActions:
                              type: array
                              items:
                                type: string
                              description: An array of data actions that are allowed.
                            notDataActions:
                              type: array
                              items:
                                type: string
                              description: An array of data actions that are denied.
                          description: The set of data plane operations permitted
                            through this Role Definition.
                        description: The set of operations allowed through this Role
                          Definition.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    put:
      operationId: SqlResources_CreateUpdateSqlRoleDefinition
      x-ms-long-running-operation: true
      description: Creates or updates an Azure Cosmos DB SQL Role Definition.
      parameters:
      - name: roleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Definition.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters to create and update an Azure Cosmos DB SQL
                Role Definition.
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties to create and update an Azure Cosmos DB
                    SQL Role Definition.
                  properties:
                    roleName:
                      type: string
                      description: A user-friendly name for the Role Definition. Must
                        be unique for the database account.
                    type:
                      type: string
                      enum:
                      - BuiltInRole
                      - CustomRole
                      description: Indicates whether the Role Definition was built-in
                        or user created.
                      x-ms-enum:
                        name: RoleDefinitionType
                        modelAsString: false
                    assignableScopes:
                      type: array
                      items:
                        type: string
                      description: A set of fully qualified Scopes at or below which
                        Role Assignments may be created using this Role Definition.
                        This will allow application of this Role Definition on the
                        entire database account or any underlying Database / Collection.
                        Must have at least one element. Scopes higher than Database
                        account are not enforceable as assignable Scopes. Note that
                        resources referenced in assignable Scopes need not exist.
                    permissions:
                      type: array
                      items:
                        type: object
                        properties:
                          dataActions:
                            type: array
                            items:
                              type: string
                            description: An array of data actions that are allowed.
                          notDataActions:
                            type: array
                            items:
                              type: string
                            description: An array of data actions that are denied.
                        description: The set of data plane operations permitted through
                          this Role Definition.
                      description: The set of operations allowed through this Role
                        Definition.
        description: The properties required to create or update a Role Definition.
        required: true
      responses:
        '200':
          description: The Role Definition create or update operation was completed
            successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Role Definition.
                    properties:
                      roleName:
                        type: string
                        description: A user-friendly name for the Role Definition.
                          Must be unique for the database account.
                      type:
                        type: string
                        enum:
                        - BuiltInRole
                        - CustomRole
                        description: Indicates whether the Role Definition was built-in
                          or user created.
                        x-ms-enum:
                          name: RoleDefinitionType
                          modelAsString: false
                      assignableScopes:
                        type: array
                        items:
                          type: string
                        description: A set of fully qualified Scopes at or below which
                          Role Assignments may be created using this Role Definition.
                          This will allow application of this Role Definition on the
                          entire database account or any underlying Database / Collection.
                          Must have at least one element. Scopes higher than Database
                          account are not enforceable as assignable Scopes. Note that
                          resources referenced in assignable Scopes need not exist.
                      permissions:
                        type: array
                        items:
                          type: object
                          properties:
                            dataActions:
                              type: array
                              items:
                                type: string
                              description: An array of data actions that are allowed.
                            notDataActions:
                              type: array
                              items:
                                type: string
                              description: An array of data actions that are denied.
                          description: The set of data plane operations permitted
                            through this Role Definition.
                        description: The set of operations allowed through this Role
                          Definition.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        '202':
          description: The Role Definition create or update request was accepted and
            will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    delete:
      operationId: SqlResources_DeleteSqlRoleDefinition
      x-ms-long-running-operation: true
      description: Deletes an existing Azure Cosmos DB SQL Role Definition.
      parameters:
      - name: roleDefinitionId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Definition.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Role Definition delete operation was completed successfully.
        '202':
          description: The Role Definition delete request was accepted and will complete
            asynchronously.
        '204':
          description: The requested Role Definition does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlRoleDefinitions
  : get:
      operationId: SqlResources_ListSqlRoleDefinitions
      x-ms-pageable: {}
      description: Retrieves the list of all Azure Cosmos DB SQL Role Definitions.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list operation completed successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties related to the Role Definition.
                          properties:
                            roleName:
                              type: string
                              description: A user-friendly name for the Role Definition.
                                Must be unique for the database account.
                            type:
                              type: string
                              enum:
                              - BuiltInRole
                              - CustomRole
                              description: Indicates whether the Role Definition was
                                built-in or user created.
                              x-ms-enum:
                                name: RoleDefinitionType
                                modelAsString: false
                            assignableScopes:
                              type: array
                              items:
                                type: string
                              description: A set of fully qualified Scopes at or below
                                which Role Assignments may be created using this Role
                                Definition. This will allow application of this Role
                                Definition on the entire database account or any underlying
                                Database / Collection. Must have at least one element.
                                Scopes higher than Database account are not enforceable
                                as assignable Scopes. Note that resources referenced
                                in assignable Scopes need not exist.
                            permissions:
                              type: array
                              items:
                                type: object
                                properties:
                                  dataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: An array of data actions that are
                                      allowed.
                                  notDataActions:
                                    type: array
                                    items:
                                      type: string
                                    description: An array of data actions that are
                                      denied.
                                description: The set of data plane operations permitted
                                  through this Role Definition.
                              description: The set of operations allowed through this
                                Role Definition.
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
                    description: List of Role Definitions and their properties.
                description: The relevant Role Definitions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlRoleAssignments/{roleAssignmentId}
  : get:
      operationId: SqlResources_GetSqlRoleAssignment
      description: Retrieves the properties of an existing Azure Cosmos DB SQL Role
        Assignment with the given Id.
      parameters:
      - name: roleAssignmentId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Assignment.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Role Assignment was successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Role Assignment.
                    type: object
                    properties:
                      roleDefinitionId:
                        type: string
                        description: The unique identifier for the associated Role
                          Definition.
                      scope:
                        type: string
                        description: The data plane resource path for which access
                          is being granted through this Role Assignment.
                      principalId:
                        type: string
                        description: The unique identifier for the associated AAD
                          principal in the AAD graph to which access is being granted
                          through this Role Assignment. Tenant ID for the principal
                          is inferred using the tenant associated with the subscription.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    put:
      operationId: SqlResources_CreateUpdateSqlRoleAssignment
      x-ms-long-running-operation: true
      description: Creates or updates an Azure Cosmos DB SQL Role Assignment.
      parameters:
      - name: roleAssignmentId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Assignment.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters to create and update an Azure Cosmos DB SQL
                Role Assignment.
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties to create and update an Azure Cosmos DB
                    SQL Role Assignment.
                  type: object
                  properties:
                    roleDefinitionId:
                      type: string
                      description: The unique identifier for the associated Role Definition.
                    scope:
                      type: string
                      description: The data plane resource path for which access is
                        being granted through this Role Assignment.
                    principalId:
                      type: string
                      description: The unique identifier for the associated AAD principal
                        in the AAD graph to which access is being granted through
                        this Role Assignment. Tenant ID for the principal is inferred
                        using the tenant associated with the subscription.
        description: The properties required to create or update a Role Assignment.
        required: true
      responses:
        '200':
          description: The Role Assignment create or update operation was completed
            successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the database account.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the database account.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties related to the Role Assignment.
                    type: object
                    properties:
                      roleDefinitionId:
                        type: string
                        description: The unique identifier for the associated Role
                          Definition.
                      scope:
                        type: string
                        description: The data plane resource path for which access
                          is being granted through this Role Assignment.
                      principalId:
                        type: string
                        description: The unique identifier for the associated AAD
                          principal in the AAD graph to which access is being granted
                          through this Role Assignment. Tenant ID for the principal
                          is inferred using the tenant associated with the subscription.
                description: The resource model definition for a ARM proxy resource.
                  It will have everything other than required location and tags
                x-ms-azure-resource: true
        '202':
          description: The Role Assignment create or update request was accepted and
            will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
    delete:
      operationId: SqlResources_DeleteSqlRoleAssignment
      x-ms-long-running-operation: true
      description: Deletes an existing Azure Cosmos DB SQL Role Assignment.
      parameters:
      - name: roleAssignmentId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The GUID for the Role Assignment.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Role Assignment delete operation was completed successfully.
        '202':
          description: The Role Assignment delete request was accepted and will complete
            asynchronously.
        '204':
          description: The requested Role Assignment does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlRoleAssignments
  : get:
      operationId: SqlResources_ListSqlRoleAssignments
      x-ms-pageable: {}
      description: Retrieves the list of all Azure Cosmos DB SQL Role Assignments.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list operation completed successfully.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the database
                            account.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the database account.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties related to the Role Assignment.
                          type: object
                          properties:
                            roleDefinitionId:
                              type: string
                              description: The unique identifier for the associated
                                Role Definition.
                            scope:
                              type: string
                              description: The data plane resource path for which
                                access is being granted through this Role Assignment.
                            principalId:
                              type: string
                              description: The unique identifier for the associated
                                AAD principal in the AAD graph to which access is
                                being granted through this Role Assignment. Tenant
                                ID for the principal is inferred using the tenant
                                associated with the subscription.
                      description: The resource model definition for a ARM proxy resource.
                        It will have everything other than required location and tags
                      x-ms-azure-resource: true
                    description: List of Role Assignments and their properties
                description: The relevant Role Assignments.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
components:
  parameters:
    roleDefinitionIdParameter:
      name: roleDefinitionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The GUID for the Role Definition.
      schema:
        type: string
    roleAssignmentIdParameter:
      name: roleAssignmentId
      in: path
      required: true
      x-ms-parameter-location: method
      description: The GUID for the Role Assignment.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    accountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Cosmos DB database account name.
      schema:
        type: string
        minLength: 3
        maxLength: 50
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  schemas:
    SqlRoleDefinitionResource:
      properties:
        roleName:
          type: string
          description: A user-friendly name for the Role Definition. Must be unique
            for the database account.
        type:
          type: string
          enum:
          - BuiltInRole
          - CustomRole
          description: Indicates whether the Role Definition was built-in or user
            created.
          x-ms-enum:
            name: RoleDefinitionType
            modelAsString: false
        assignableScopes:
          type: array
          items:
            type: string
          description: A set of fully qualified Scopes at or below which Role Assignments
            may be created using this Role Definition. This will allow application
            of this Role Definition on the entire database account or any underlying
            Database / Collection. Must have at least one element. Scopes higher than
            Database account are not enforceable as assignable Scopes. Note that resources
            referenced in assignable Scopes need not exist.
        permissions:
          type: array
          items:
            type: object
            properties:
              dataActions:
                type: array
                items:
                  type: string
                description: An array of data actions that are allowed.
              notDataActions:
                type: array
                items:
                  type: string
                description: An array of data actions that are denied.
            description: The set of data plane operations permitted through this Role
              Definition.
          description: The set of operations allowed through this Role Definition.
      description: Azure Cosmos DB SQL Role Definition resource object.
    SqlRoleDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB SQL Role Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB SQL Role
            Definition.
          properties:
            roleName:
              type: string
              description: A user-friendly name for the Role Definition. Must be unique
                for the database account.
            type:
              type: string
              enum:
              - BuiltInRole
              - CustomRole
              description: Indicates whether the Role Definition was built-in or user
                created.
              x-ms-enum:
                name: RoleDefinitionType
                modelAsString: false
            assignableScopes:
              type: array
              items:
                type: string
              description: A set of fully qualified Scopes at or below which Role
                Assignments may be created using this Role Definition. This will allow
                application of this Role Definition on the entire database account
                or any underlying Database / Collection. Must have at least one element.
                Scopes higher than Database account are not enforceable as assignable
                Scopes. Note that resources referenced in assignable Scopes need not
                exist.
            permissions:
              type: array
              items:
                type: object
                properties:
                  dataActions:
                    type: array
                    items:
                      type: string
                    description: An array of data actions that are allowed.
                  notDataActions:
                    type: array
                    items:
                      type: string
                    description: An array of data actions that are denied.
                description: The set of data plane operations permitted through this
                  Role Definition.
              description: The set of operations allowed through this Role Definition.
    SqlRoleDefinitionGetResults:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          x-ms-client-flatten: true
          description: Properties related to the Role Definition.
          properties:
            roleName:
              type: string
              description: A user-friendly name for the Role Definition. Must be unique
                for the database account.
            type:
              type: string
              enum:
              - BuiltInRole
              - CustomRole
              description: Indicates whether the Role Definition was built-in or user
                created.
              x-ms-enum:
                name: RoleDefinitionType
                modelAsString: false
            assignableScopes:
              type: array
              items:
                type: string
              description: A set of fully qualified Scopes at or below which Role
                Assignments may be created using this Role Definition. This will allow
                application of this Role Definition on the entire database account
                or any underlying Database / Collection. Must have at least one element.
                Scopes higher than Database account are not enforceable as assignable
                Scopes. Note that resources referenced in assignable Scopes need not
                exist.
            permissions:
              type: array
              items:
                type: object
                properties:
                  dataActions:
                    type: array
                    items:
                      type: string
                    description: An array of data actions that are allowed.
                  notDataActions:
                    type: array
                    items:
                      type: string
                    description: An array of data actions that are denied.
                description: The set of data plane operations permitted through this
                  Role Definition.
              description: The set of operations allowed through this Role Definition.
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    Permission:
      type: object
      properties:
        dataActions:
          type: array
          items:
            type: string
          description: An array of data actions that are allowed.
        notDataActions:
          type: array
          items:
            type: string
          description: An array of data actions that are denied.
      description: The set of data plane operations permitted through this Role Definition.
    SqlRoleDefinitionListResult:
      properties:
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                x-ms-client-flatten: true
                description: Properties related to the Role Definition.
                properties:
                  roleName:
                    type: string
                    description: A user-friendly name for the Role Definition. Must
                      be unique for the database account.
                  type:
                    type: string
                    enum:
                    - BuiltInRole
                    - CustomRole
                    description: Indicates whether the Role Definition was built-in
                      or user created.
                    x-ms-enum:
                      name: RoleDefinitionType
                      modelAsString: false
                  assignableScopes:
                    type: array
                    items:
                      type: string
                    description: A set of fully qualified Scopes at or below which
                      Role Assignments may be created using this Role Definition.
                      This will allow application of this Role Definition on the entire
                      database account or any underlying Database / Collection. Must
                      have at least one element. Scopes higher than Database account
                      are not enforceable as assignable Scopes. Note that resources
                      referenced in assignable Scopes need not exist.
                  permissions:
                    type: array
                    items:
                      type: object
                      properties:
                        dataActions:
                          type: array
                          items:
                            type: string
                          description: An array of data actions that are allowed.
                        notDataActions:
                          type: array
                          items:
                            type: string
                          description: An array of data actions that are denied.
                      description: The set of data plane operations permitted through
                        this Role Definition.
                    description: The set of operations allowed through this Role Definition.
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
          description: List of Role Definitions and their properties.
      description: The relevant Role Definitions.
    SqlRoleAssignmentResource:
      type: object
      properties:
        roleDefinitionId:
          type: string
          description: The unique identifier for the associated Role Definition.
        scope:
          type: string
          description: The data plane resource path for which access is being granted
            through this Role Assignment.
        principalId:
          type: string
          description: The unique identifier for the associated AAD principal in the
            AAD graph to which access is being granted through this Role Assignment.
            Tenant ID for the principal is inferred using the tenant associated with
            the subscription.
      description: Azure Cosmos DB SQL Role Assignment resource object.
    SqlRoleAssignmentCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB SQL Role Assignment.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB SQL Role
            Assignment.
          type: object
          properties:
            roleDefinitionId:
              type: string
              description: The unique identifier for the associated Role Definition.
            scope:
              type: string
              description: The data plane resource path for which access is being
                granted through this Role Assignment.
            principalId:
              type: string
              description: The unique identifier for the associated AAD principal
                in the AAD graph to which access is being granted through this Role
                Assignment. Tenant ID for the principal is inferred using the tenant
                associated with the subscription.
    SqlRoleAssignmentGetResults:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        properties:
          x-ms-client-flatten: true
          description: Properties related to the Role Assignment.
          type: object
          properties:
            roleDefinitionId:
              type: string
              description: The unique identifier for the associated Role Definition.
            scope:
              type: string
              description: The data plane resource path for which access is being
                granted through this Role Assignment.
            principalId:
              type: string
              description: The unique identifier for the associated AAD principal
                in the AAD graph to which access is being granted through this Role
                Assignment. Tenant ID for the principal is inferred using the tenant
                associated with the subscription.
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      x-ms-azure-resource: true
    SqlRoleAssignmentListResult:
      properties:
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: The unique resource identifier of the database account.
              name:
                readOnly: true
                type: string
                description: The name of the database account.
              type:
                readOnly: true
                type: string
                description: The type of Azure resource.
              properties:
                x-ms-client-flatten: true
                description: Properties related to the Role Assignment.
                type: object
                properties:
                  roleDefinitionId:
                    type: string
                    description: The unique identifier for the associated Role Definition.
                  scope:
                    type: string
                    description: The data plane resource path for which access is
                      being granted through this Role Assignment.
                  principalId:
                    type: string
                    description: The unique identifier for the associated AAD principal
                      in the AAD graph to which access is being granted through this
                      Role Assignment. Tenant ID for the principal is inferred using
                      the tenant associated with the subscription.
            description: The resource model definition for a ARM proxy resource. It
              will have everything other than required location and tags
            x-ms-azure-resource: true
          description: List of Role Assignments and their properties
      description: The relevant Role Assignments.
    ErrorResponse:
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error Response.
    CloudError:
      x-ms-external: true
      description: An error response from the service.
      properties:
        error:
          properties:
            code:
              description: Error code.
              type: string
            message:
              description: Error message indicating why the operation failed.
              type: string
          description: Error Response.
    ARMProxyResource:
      type: object
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the database account.
        name:
          readOnly: true
          type: string
          description: The name of the database account.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
      x-ms-azure-resource: true
