openapi: 3.0.0
info:
  title: Cosmos DB
  description: Azure Cosmos DB Database Service Resource Provider REST API
  version: 2025-04-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts:
    get:
      operationId: RestorableDatabaseAccounts_ListByLocation
      description: Lists all the restorable Azure Cosmos DB database accounts available
        under the subscription and in a region.  This call requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/read'
        permission.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: A Azure Cosmos DB restorable database account.
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a restorable database account.
                          properties:
                            accountName:
                              type: string
                              description: The name of the global database account
                            creationTime:
                              type: string
                              format: date-time
                              description: The creation time of the restorable database
                                account (ISO-8601 format).
                            deletionTime:
                              type: string
                              format: date-time
                              description: The time at which the restorable database
                                account has been deleted (ISO-8601 format).
                            oldestRestorableTime:
                              type: string
                              format: date-time
                              description: The least recent time at which the database
                                account can be restored to (ISO-8601 format).
                            apiType:
                              type: string
                              readOnly: true
                              description: The API type of the restorable database
                                account.
                              enum:
                              - MongoDB
                              - Gremlin
                              - Cassandra
                              - Table
                              - Sql
                              - GremlinV2
                              x-ms-enum:
                                name: ApiType
                                modelAsString: true
                            restorableLocations:
                              type: array
                              readOnly: true
                              description: List of regions where the of the database
                                account can be restored from.
                              items:
                                type: object
                                description: Properties of the regional restorable
                                  account.
                                properties:
                                  locationName:
                                    type: string
                                    readOnly: true
                                    description: The location of the regional restorable
                                      account.
                                  regionalDatabaseAccountInstanceId:
                                    type: string
                                    readOnly: true
                                    description: The instance id of the regional restorable
                                      account.
                                  creationTime:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The creation time of the regional
                                      restorable database account (ISO-8601 format).
                                  deletionTime:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The time at which the regional restorable
                                      database account has been deleted (ISO-8601
                                      format).
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        location:
                          type: string
                          description: The location of the resource group to which
                            the resource belongs.
                    description: List of restorable database accounts and their properties.
                description: The List operation response, that contains the restorable
                  database accounts and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/restorableDatabaseAccounts:
    get:
      operationId: RestorableDatabaseAccounts_List
      description: Lists all the restorable Azure Cosmos DB database accounts available
        under the subscription. This call requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/read'
        permission.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: A Azure Cosmos DB restorable database account.
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a restorable database account.
                          properties:
                            accountName:
                              type: string
                              description: The name of the global database account
                            creationTime:
                              type: string
                              format: date-time
                              description: The creation time of the restorable database
                                account (ISO-8601 format).
                            deletionTime:
                              type: string
                              format: date-time
                              description: The time at which the restorable database
                                account has been deleted (ISO-8601 format).
                            oldestRestorableTime:
                              type: string
                              format: date-time
                              description: The least recent time at which the database
                                account can be restored to (ISO-8601 format).
                            apiType:
                              type: string
                              readOnly: true
                              description: The API type of the restorable database
                                account.
                              enum:
                              - MongoDB
                              - Gremlin
                              - Cassandra
                              - Table
                              - Sql
                              - GremlinV2
                              x-ms-enum:
                                name: ApiType
                                modelAsString: true
                            restorableLocations:
                              type: array
                              readOnly: true
                              description: List of regions where the of the database
                                account can be restored from.
                              items:
                                type: object
                                description: Properties of the regional restorable
                                  account.
                                properties:
                                  locationName:
                                    type: string
                                    readOnly: true
                                    description: The location of the regional restorable
                                      account.
                                  regionalDatabaseAccountInstanceId:
                                    type: string
                                    readOnly: true
                                    description: The instance id of the regional restorable
                                      account.
                                  creationTime:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The creation time of the regional
                                      restorable database account (ISO-8601 format).
                                  deletionTime:
                                    type: string
                                    readOnly: true
                                    format: date-time
                                    description: The time at which the regional restorable
                                      database account has been deleted (ISO-8601
                                      format).
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        location:
                          type: string
                          description: The location of the resource group to which
                            the resource belongs.
                    description: List of restorable database accounts and their properties.
                description: The List operation response, that contains the restorable
                  database accounts and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}
  : get:
      operationId: RestorableDatabaseAccounts_GetByLocation
      description: Retrieves the properties of an existing Azure Cosmos DB restorable
        database account.  This call requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/read/*'
        permission.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      responses:
        '200':
          description: The restorable database account properties were retrieved successfully.
          content:
            application/json:
              schema:
                description: A Azure Cosmos DB restorable database account.
                type: object
                properties:
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: The properties of a restorable database account.
                    properties:
                      accountName:
                        type: string
                        description: The name of the global database account
                      creationTime:
                        type: string
                        format: date-time
                        description: The creation time of the restorable database
                          account (ISO-8601 format).
                      deletionTime:
                        type: string
                        format: date-time
                        description: The time at which the restorable database account
                          has been deleted (ISO-8601 format).
                      oldestRestorableTime:
                        type: string
                        format: date-time
                        description: The least recent time at which the database account
                          can be restored to (ISO-8601 format).
                      apiType:
                        type: string
                        readOnly: true
                        description: The API type of the restorable database account.
                        enum:
                        - MongoDB
                        - Gremlin
                        - Cassandra
                        - Table
                        - Sql
                        - GremlinV2
                        x-ms-enum:
                          name: ApiType
                          modelAsString: true
                      restorableLocations:
                        type: array
                        readOnly: true
                        description: List of regions where the of the database account
                          can be restored from.
                        items:
                          type: object
                          description: Properties of the regional restorable account.
                          properties:
                            locationName:
                              type: string
                              readOnly: true
                              description: The location of the regional restorable
                                account.
                            regionalDatabaseAccountInstanceId:
                              type: string
                              readOnly: true
                              description: The instance id of the regional restorable
                                account.
                            creationTime:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The creation time of the regional restorable
                                database account (ISO-8601 format).
                            deletionTime:
                              type: string
                              readOnly: true
                              format: date-time
                              description: The time at which the regional restorable
                                database account has been deleted (ISO-8601 format).
                  id:
                    readOnly: true
                    type: string
                    description: The unique resource identifier of the ARM resource.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the ARM resource.
                  type:
                    readOnly: true
                    type: string
                    description: The type of Azure resource.
                  location:
                    type: string
                    description: The location of the resource group to which the resource
                      belongs.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sqlDatabases/{databaseName}/containers/{containerName}/retrieveContinuousBackupInformation
  : post:
      operationId: SqlResources_RetrieveContinuousBackupInformation
      description: Retrieves continuous backup information for a container resource.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: databaseName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database name.
        schema:
          type: string
      - name: containerName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB container name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Properties of the regional restorable account.
              properties:
                location:
                  type: string
                  description: The name of the continuous backup restore location.
        description: The name of the continuous backup restore location.
        required: true
      responses:
        '200':
          description: The Sql container retrieve backup information operation completed
            successfully.
          content:
            application/json:
              schema:
                description: Backup information of a resource.
                type: object
                properties:
                  continuousBackupInformation:
                    description: Information about the status of continuous backups.
                    type: object
                    readOnly: true
                    properties:
                      latestRestorableTimestamp:
                        type: string
                        description: The latest restorable timestamp for a resource.
        '202':
          description: The sql container retrieve backup information operation will
            complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlDatabases
  : get:
      operationId: RestorableSqlDatabases_List
      description: Show the event feed of all mutations done on all the Azure Cosmos
        DB SQL databases under the restorable account.  This helps in scenario where
        database was accidentally deleted to get the deletion time.  This API requires
        'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: An Azure Cosmos DB SQL database event
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a SQL database event.
                          properties:
                            resource:
                              type: object
                              description: The resource of an Azure Cosmos DB SQL
                                database event
                              properties:
                                _rid:
                                  type: string
                                  readOnly: true
                                  description: A system generated property. A unique
                                    identifier.
                                operationType:
                                  type: string
                                  readOnly: true
                                  description: The operation type of this database
                                    event.
                                  enum:
                                  - Create
                                  - Replace
                                  - Delete
                                  - Recreate
                                  - SystemOperation
                                  x-ms-enum:
                                    name: OperationType
                                    modelAsString: true
                                canUndelete:
                                  type: string
                                  readOnly: true
                                  description: A state of this database to identify
                                    if this database is restorable in same account.
                                canUndeleteReason:
                                  type: string
                                  readOnly: true
                                  description: The reason why this database can not
                                    be restored in same account.
                                eventTimestamp:
                                  type: string
                                  readOnly: true
                                  description: The time when this database event happened.
                                ownerId:
                                  type: string
                                  readOnly: true
                                  description: The name of the SQL database.
                                ownerResourceId:
                                  type: string
                                  readOnly: true
                                  description: The resource ID of the SQL database.
                                database:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Name of the Cosmos DB SQL database
                                    restoreParameters:
                                      type: object
                                      properties:
                                        restoreSource:
                                          type: string
                                          description: 'The id of the restorable database
                                            account from which the restore has to
                                            be initiated. For example: /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{restorableDatabaseAccountName}'
                                        restoreTimestampInUtc:
                                          type: string
                                          format: date-time
                                          description: Time to which the account has
                                            to be restored (ISO-8601 format).
                                        restoreWithTtlDisabled:
                                          type: boolean
                                          description: Specifies whether the restored
                                            account will have Time-To-Live disabled
                                            upon the successful restore.
                                      description: Parameters to indicate the information
                                        about the restore.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    createMode:
                                      description: Enum to indicate the mode of resource
                                        creation.
                                      type: string
                                      default: Default
                                      enum:
                                      - Default
                                      - Restore
                                      x-ms-enum:
                                        name: CreateMode
                                        modelAsString: true
                                    _rid:
                                      type: string
                                      description: A system generated property. A
                                        unique identifier.
                                      readOnly: true
                                    _ts:
                                      type: number
                                      description: A system generated property that
                                        denotes the last updated timestamp of the
                                        resource.
                                      readOnly: true
                                    _etag:
                                      type: string
                                      description: A system generated property representing
                                        the resource etag required for optimistic
                                        concurrency control.
                                      readOnly: true
                                    _colls:
                                      type: string
                                      readOnly: true
                                      description: A system generated property that
                                        specified the addressable path of the collections
                                        resource.
                                    _users:
                                      type: string
                                      readOnly: true
                                      description: A system generated property that
                                        specifies the addressable path of the users
                                        resource.
                                    _self:
                                      type: string
                                      readOnly: true
                                      description: A system generated property that
                                        specifies the addressable path of the database
                                        resource.
                                  required:
                                  - id
                                  description: Cosmos DB SQL database resource object
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource Identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                    description: List of SQL database events and their properties.
                description: The List operation response, that contains the SQL database
                  events and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlContainers
  : get:
      operationId: RestorableSqlContainers_List
      description: Show the event feed of all mutations done on all the Azure Cosmos
        DB SQL containers under a specific database.  This helps in scenario where
        container was accidentally deleted.  This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read'
        permission
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      - name: restorableSqlDatabaseRid
        in: query
        required: false
        x-ms-parameter-location: method
        description: The resource ID of the SQL database.
        schema:
          type: string
      - name: startTime
        in: query
        required: false
        x-ms-parameter-location: method
        description: Restorable Sql containers event feed start time.
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        x-ms-parameter-location: method
        description: Restorable Sql containers event feed end time.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: An Azure Cosmos DB SQL container event
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a SQL container event.
                          properties:
                            resource:
                              description: The resource of an Azure Cosmos DB SQL
                                container event
                              type: object
                              properties:
                                _rid:
                                  type: string
                                  readOnly: true
                                  description: A system generated property. A unique
                                    identifier.
                                operationType:
                                  type: string
                                  readOnly: true
                                  description: The operation type of this container
                                    event.
                                  enum:
                                  - Create
                                  - Replace
                                  - Delete
                                  - Recreate
                                  - SystemOperation
                                  x-ms-enum:
                                    name: OperationType
                                    modelAsString: true
                                canUndelete:
                                  type: string
                                  readOnly: true
                                  description: A state of this container to identify
                                    if this container is restorable in same account.
                                canUndeleteReason:
                                  type: string
                                  readOnly: true
                                  description: The reason why this container can not
                                    be restored in same account.
                                eventTimestamp:
                                  type: string
                                  readOnly: true
                                  description: The when this container event happened.
                                ownerId:
                                  type: string
                                  readOnly: true
                                  description: The name of this SQL container.
                                ownerResourceId:
                                  type: string
                                  readOnly: true
                                  description: The resource ID of this SQL container.
                                container:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Name of the Cosmos DB SQL container
                                    indexingPolicy:
                                      description: The configuration of the indexing
                                        policy. By default, the indexing is automatic
                                        for all document paths within the container
                                      type: object
                                      properties:
                                        automatic:
                                          type: boolean
                                          description: Indicates if the indexing policy
                                            is automatic
                                        indexingMode:
                                          description: Indicates the indexing mode.
                                          type: string
                                          default: consistent
                                          enum:
                                          - consistent
                                          - lazy
                                          - none
                                          x-ms-enum:
                                            name: IndexingMode
                                            modelAsString: true
                                        includedPaths:
                                          description: List of paths to include in
                                            the indexing
                                          type: array
                                          items:
                                            type: object
                                            description: The paths that are included
                                              in indexing
                                            properties:
                                              path:
                                                type: string
                                                description: The path for which the
                                                  indexing behavior applies to. Index
                                                  paths typically start with root
                                                  and end with wildcard (/path/*)
                                              indexes:
                                                description: List of indexes for this
                                                  path
                                                type: array
                                                items:
                                                  type: object
                                                  description: The indexes for the
                                                    path.
                                                  properties:
                                                    dataType:
                                                      description: The datatype for
                                                        which the indexing behavior
                                                        is applied to.
                                                      type: string
                                                      default: String
                                                      enum:
                                                      - String
                                                      - Number
                                                      - Point
                                                      - Polygon
                                                      - LineString
                                                      - MultiPolygon
                                                      x-ms-enum:
                                                        name: DataType
                                                        modelAsString: true
                                                    precision:
                                                      description: The precision of
                                                        the index. -1 is maximum precision.
                                                      type: integer
                                                    kind:
                                                      description: Indicates the type
                                                        of index.
                                                      type: string
                                                      default: Hash
                                                      enum:
                                                      - Hash
                                                      - Range
                                                      - Spatial
                                                      x-ms-enum:
                                                        name: IndexKind
                                                        modelAsString: true
                                        excludedPaths:
                                          description: List of paths to exclude from
                                            indexing
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              path:
                                                type: string
                                                description: The path for which the
                                                  indexing behavior applies to. Index
                                                  paths typically start with root
                                                  and end with wildcard (/path/*)
                                        compositeIndexes:
                                          description: List of composite path list
                                          type: array
                                          items:
                                            description: List of composite path
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                path:
                                                  type: string
                                                  description: The path for which
                                                    the indexing behavior applies
                                                    to. Index paths typically start
                                                    with root and end with wildcard
                                                    (/path/*)
                                                order:
                                                  description: Sort order for composite
                                                    paths.
                                                  type: string
                                                  enum:
                                                  - ascending
                                                  - descending
                                                  x-ms-enum:
                                                    name: CompositePathSortOrder
                                                    modelAsString: true
                                        spatialIndexes:
                                          description: List of spatial specifics
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              path:
                                                type: string
                                                description: The path for which the
                                                  indexing behavior applies to. Index
                                                  paths typically start with root
                                                  and end with wildcard (/path/*)
                                              types:
                                                description: List of path's spatial
                                                  type
                                                type: array
                                                items:
                                                  description: Indicates the spatial
                                                    type of index.
                                                  type: string
                                                  enum:
                                                  - Point
                                                  - LineString
                                                  - Polygon
                                                  - MultiPolygon
                                                  x-ms-enum:
                                                    name: SpatialType
                                                    modelAsString: true
                                        vectorIndexes:
                                          description: List of paths to include in
                                            the vector indexing
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              path:
                                                type: string
                                                description: The path to the vector
                                                  field in the document.
                                              type:
                                                description: The index type of the
                                                  vector. Currently, flat, diskANN,
                                                  and quantizedFlat are supported.
                                                type: string
                                                enum:
                                                - flat
                                                - diskANN
                                                - quantizedFlat
                                                x-ms-enum:
                                                  name: VectorIndexType
                                                  modelAsString: true
                                            required:
                                            - path
                                            - type
                                    partitionKey:
                                      description: The configuration of the partition
                                        key to be used for partitioning data into
                                        multiple partitions
                                      type: object
                                      properties:
                                        paths:
                                          description: List of paths using which data
                                            within the container can be partitioned
                                          type: array
                                          items:
                                            type: string
                                            description: A path. These typically start
                                              with root (/path)
                                        kind:
                                          description: Indicates the kind of algorithm
                                            used for partitioning. For MultiHash,
                                            multiple partition keys (upto three maximum)
                                            are supported for container create
                                          type: string
                                          default: Hash
                                          enum:
                                          - Hash
                                          - Range
                                          - MultiHash
                                          x-ms-enum:
                                            name: PartitionKind
                                            modelAsString: true
                                        version:
                                          description: Indicates the version of the
                                            partition key definition
                                          type: integer
                                          minimum: 1
                                          maximum: 2
                                          format: int32
                                        systemKey:
                                          description: Indicates if the container
                                            is using a system generated partition
                                            key
                                          type: boolean
                                          readOnly: true
                                    defaultTtl:
                                      type: integer
                                      description: Default time to live
                                    uniqueKeyPolicy:
                                      description: The unique key policy configuration
                                        for specifying uniqueness constraints on documents
                                        in the collection in the Azure Cosmos DB service.
                                      type: object
                                      properties:
                                        uniqueKeys:
                                          description: List of unique keys on that
                                            enforces uniqueness constraint on documents
                                            in the collection in the Azure Cosmos
                                            DB service.
                                          type: array
                                          items:
                                            type: object
                                            description: The unique key on that enforces
                                              uniqueness constraint on documents in
                                              the collection in the Azure Cosmos DB
                                              service.
                                            properties:
                                              paths:
                                                description: List of paths must be
                                                  unique for each document in the
                                                  Azure Cosmos DB service
                                                type: array
                                                items:
                                                  type: string
                                                  description: A path. These typically
                                                    start with root (/path)
                                    conflictResolutionPolicy:
                                      description: The conflict resolution policy
                                        for the container.
                                      type: object
                                      properties:
                                        mode:
                                          description: Indicates the conflict resolution
                                            mode.
                                          type: string
                                          default: LastWriterWins
                                          enum:
                                          - LastWriterWins
                                          - Custom
                                          x-ms-enum:
                                            name: ConflictResolutionMode
                                            modelAsString: true
                                        conflictResolutionPath:
                                          type: string
                                          description: The conflict resolution path
                                            in the case of LastWriterWins mode.
                                        conflictResolutionProcedure:
                                          type: string
                                          description: The procedure to resolve conflicts
                                            in the case of custom mode.
                                    clientEncryptionPolicy:
                                      description: The client encryption policy for
                                        the container.
                                      type: object
                                      properties:
                                        includedPaths:
                                          description: Paths of the item that need
                                            encryption along with path-specific settings.
                                          type: array
                                          items:
                                            type: object
                                            description: .
                                            properties:
                                              path:
                                                description: Path that needs to be
                                                  encrypted.
                                                type: string
                                              clientEncryptionKeyId:
                                                description: The identifier of the
                                                  Client Encryption Key to be used
                                                  to encrypt the path.
                                                type: string
                                              encryptionType:
                                                description: The type of encryption
                                                  to be performed. Eg - Deterministic,
                                                  Randomized.
                                                type: string
                                              encryptionAlgorithm:
                                                description: The encryption algorithm
                                                  which will be used. Eg - AEAD_AES_256_CBC_HMAC_SHA256.
                                                type: string
                                            required:
                                            - path
                                            - clientEncryptionKeyId
                                            - encryptionType
                                            - encryptionAlgorithm
                                          x-ms-identifiers: []
                                        policyFormatVersion:
                                          description: 'Version of the client encryption
                                            policy definition. Supported versions
                                            are 1 and 2. Version 2 supports id and
                                            partition key path encryption. '
                                          type: integer
                                          minimum: 1
                                          maximum: 2
                                          format: int32
                                      required:
                                      - includedPaths
                                      - policyFormatVersion
                                    analyticalStorageTtl:
                                      type: integer
                                      format: int64
                                      description: Analytical TTL.
                                    restoreParameters:
                                      type: object
                                      properties:
                                        restoreSource:
                                          type: string
                                          description: 'The id of the restorable database
                                            account from which the restore has to
                                            be initiated. For example: /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{restorableDatabaseAccountName}'
                                        restoreTimestampInUtc:
                                          type: string
                                          format: date-time
                                          description: Time to which the account has
                                            to be restored (ISO-8601 format).
                                        restoreWithTtlDisabled:
                                          type: boolean
                                          description: Specifies whether the restored
                                            account will have Time-To-Live disabled
                                            upon the successful restore.
                                      description: Parameters to indicate the information
                                        about the restore.
                                      x-ms-mutability:
                                      - read
                                      - create
                                    createMode:
                                      description: Enum to indicate the mode of resource
                                        creation.
                                      type: string
                                      default: Default
                                      enum:
                                      - Default
                                      - Restore
                                      x-ms-enum:
                                        name: CreateMode
                                        modelAsString: true
                                    computedProperties:
                                      description: List of computed properties
                                      type: array
                                      items:
                                        type: object
                                        description: The definition of a computed
                                          property
                                        properties:
                                          name:
                                            type: string
                                            description: The name of a computed property,
                                              for example - "cp_lowerName"
                                          query:
                                            type: string
                                            description: The query that evaluates
                                              the value for computed property, for
                                              example - "SELECT VALUE LOWER(c.name)
                                              FROM c"
                                    vectorEmbeddingPolicy:
                                      description: The vector embedding policy for
                                        the container.
                                      type: object
                                      properties:
                                        vectorEmbeddings:
                                          description: List of vector embeddings
                                          type: array
                                          items:
                                            type: object
                                            description: Represents a vector embedding.
                                              A vector embedding is used to define
                                              a vector field in the documents.
                                            properties:
                                              path:
                                                type: string
                                                description: The path to the vector
                                                  field in the document.
                                              dataType:
                                                description: Indicates the data type
                                                  of vector.
                                                type: string
                                                enum:
                                                - float32
                                                - uint8
                                                - int8
                                                x-ms-enum:
                                                  name: VectorDataType
                                                  modelAsString: true
                                              distanceFunction:
                                                description: The distance function
                                                  to use for distance calculation
                                                  in between vectors.
                                                type: string
                                                enum:
                                                - euclidean
                                                - cosine
                                                - dotproduct
                                                x-ms-enum:
                                                  name: DistanceFunction
                                                  modelAsString: true
                                              dimensions:
                                                type: integer
                                                format: int32
                                                description: The number of dimensions
                                                  in the vector.
                                            required:
                                            - path
                                            - dataType
                                            - distanceFunction
                                            - dimensions
                                    fullTextPolicy:
                                      description: The FullText policy for the container.
                                      type: object
                                      properties:
                                        defaultLanguage:
                                          type: string
                                          description: The default language for a
                                            full text paths.
                                        fullTextPaths:
                                          description: List of FullText Paths
                                          type: array
                                          items:
                                            type: object
                                            description: Represents the full text
                                              path specification.
                                            properties:
                                              path:
                                                type: string
                                                description: The path to the full
                                                  text field in the document.
                                              language:
                                                description: The language of the full
                                                  text field in the document.
                                                type: string
                                            required:
                                            - path
                                    _rid:
                                      type: string
                                      description: A system generated property. A
                                        unique identifier.
                                      readOnly: true
                                    _ts:
                                      type: number
                                      description: A system generated property that
                                        denotes the last updated timestamp of the
                                        resource.
                                      readOnly: true
                                    _etag:
                                      type: string
                                      description: A system generated property representing
                                        the resource etag required for optimistic
                                        concurrency control.
                                      readOnly: true
                                    _self:
                                      type: string
                                      readOnly: true
                                      description: A system generated property that
                                        specifies the addressable path of the container
                                        resource.
                                  required:
                                  - id
                                  description: Cosmos DB SQL container resource object
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource Identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                    description: List of SQL container events and their properties.
                description: The List operation response, that contains the SQL container
                  events and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlResources
  : get:
      operationId: RestorableSqlResources_List
      description: Return a list of database and container combo that exist on the
        account at the given timestamp and location. This helps in scenarios to validate
        what resources exist at given timestamp and location. This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read'
        permission.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      - name: restoreLocation
        in: query
        required: false
        x-ms-parameter-location: method
        description: The location where the restorable resources are located.
        schema:
          type: string
      - name: restoreTimestampInUtc
        in: query
        required: false
        x-ms-parameter-location: method
        description: The timestamp when the restorable resources existed.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      description: Specific Databases to restore.
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        databaseName:
                          type: string
                          description: The name of the database available for restore.
                        collectionNames:
                          type: array
                          description: The names of the collections available for
                            restore.
                          items:
                            type: string
                            description: The name of the collection.
                    description: List of restorable SQL resources, including the database
                      and collection names.
                description: The List operation response, that contains the restorable
                  SQL resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/mongodbDatabases/{databaseName}/collections/{collectionName}/retrieveContinuousBackupInformation
  : post:
      operationId: MongoDBResources_RetrieveContinuousBackupInformation
      description: Retrieves continuous backup information for a Mongodb collection.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: databaseName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database name.
        schema:
          type: string
      - name: collectionName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB collection name.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Properties of the regional restorable account.
              properties:
                location:
                  type: string
                  description: The name of the continuous backup restore location.
        description: The name of the continuous backup restore location.
        required: true
      responses:
        '200':
          description: The Mongodb collection retrieve backup information operation
            completed successfully.
          content:
            application/json:
              schema:
                description: Backup information of a resource.
                type: object
                properties:
                  continuousBackupInformation:
                    description: Information about the status of continuous backups.
                    type: object
                    readOnly: true
                    properties:
                      latestRestorableTimestamp:
                        type: string
                        description: The latest restorable timestamp for a resource.
        '202':
          description: The Mongodb collection retrieve backup information operation
            will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbDatabases
  : get:
      operationId: RestorableMongodbDatabases_List
      description: Show the event feed of all mutations done on all the Azure Cosmos
        DB MongoDB databases under the restorable account.  This helps in scenario
        where database was accidentally deleted to get the deletion time.  This API
        requires  'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read'
        permission
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: An Azure Cosmos DB MongoDB database event
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a MongoDB database event.
                          properties:
                            resource:
                              description: The resource of an Azure Cosmos DB MongoDB
                                database event
                              type: object
                              properties:
                                _rid:
                                  type: string
                                  readOnly: true
                                  description: A system generated property. A unique
                                    identifier.
                                operationType:
                                  type: string
                                  readOnly: true
                                  description: The operation type of this database
                                    event.
                                  enum:
                                  - Create
                                  - Replace
                                  - Delete
                                  - Recreate
                                  - SystemOperation
                                  x-ms-enum:
                                    name: OperationType
                                    modelAsString: true
                                canUndelete:
                                  type: string
                                  readOnly: true
                                  description: A state of this database to identify
                                    if this database is restorable in same account.
                                canUndeleteReason:
                                  type: string
                                  readOnly: true
                                  description: The reason why this database can not
                                    be restored in same account.
                                eventTimestamp:
                                  type: string
                                  readOnly: true
                                  description: The time when this database event happened.
                                ownerId:
                                  type: string
                                  readOnly: true
                                  description: The name of this MongoDB database.
                                ownerResourceId:
                                  type: string
                                  readOnly: true
                                  description: The resource ID of this MongoDB database.
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource Identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                    description: List of MongoDB database events and their properties.
                description: The List operation response, that contains the MongoDB
                  database events and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbCollections
  : get:
      operationId: RestorableMongodbCollections_List
      description: Show the event feed of all mutations done on all the Azure Cosmos
        DB MongoDB collections under a specific database.  This helps in scenario
        where container was accidentally deleted.  This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read'
        permission
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      - name: restorableMongodbDatabaseRid
        in: query
        required: false
        x-ms-parameter-location: method
        description: The resource ID of the MongoDB database.
        schema:
          type: string
      - name: startTime
        in: query
        required: false
        x-ms-parameter-location: method
        description: Restorable MongoDB collections event feed start time.
        schema:
          type: string
      - name: endTime
        in: query
        required: false
        x-ms-parameter-location: method
        description: Restorable MongoDB collections event feed end time.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      description: An Azure Cosmos DB MongoDB collection event
                      type: object
                      properties:
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: The properties of a MongoDB collection event.
                          properties:
                            resource:
                              description: The resource of an Azure Cosmos DB MongoDB
                                collection event
                              type: object
                              properties:
                                _rid:
                                  type: string
                                  readOnly: true
                                  description: A system generated property. A unique
                                    identifier.
                                operationType:
                                  type: string
                                  readOnly: true
                                  description: The operation type of this collection
                                    event.
                                  enum:
                                  - Create
                                  - Replace
                                  - Delete
                                  - Recreate
                                  - SystemOperation
                                  x-ms-enum:
                                    name: OperationType
                                    modelAsString: true
                                canUndelete:
                                  type: string
                                  readOnly: true
                                  description: A state of this collection to identify
                                    if this container is restorable in same account.
                                canUndeleteReason:
                                  type: string
                                  readOnly: true
                                  description: The reason why this collection can
                                    not be restored in same account.
                                eventTimestamp:
                                  type: string
                                  readOnly: true
                                  description: The time when this collection event
                                    happened.
                                ownerId:
                                  type: string
                                  readOnly: true
                                  description: The name of this MongoDB collection.
                                ownerResourceId:
                                  type: string
                                  readOnly: true
                                  description: The resource ID of this MongoDB collection.
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource Identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                    description: List of MongoDB collection events and their properties.
                description: The List operation response, that contains the MongoDB
                  collection events and their properties.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbResources
  : get:
      operationId: RestorableMongodbResources_List
      description: Return a list of database and collection combo that exist on the
        account at the given timestamp and location. This helps in scenarios to validate
        what resources exist at given timestamp and location. This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read'
        permission.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB region, with spaces between words and each word capitalized.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        x-ms-parameter-location: method
        description: The instanceId GUID of a restorable database account.
        schema:
          type: string
      - name: restoreLocation
        in: query
        required: false
        x-ms-parameter-location: method
        description: The location where the restorable resources are located.
        schema:
          type: string
      - name: restoreTimestampInUtc
        in: query
        required: false
        x-ms-parameter-location: method
        description: The timestamp when the restorable resources existed.
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      description: Specific Databases to restore.
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: The unique resource identifier of the ARM resource.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the ARM resource.
                        type:
                          readOnly: true
                          type: string
                          description: The type of Azure resource.
                        databaseName:
                          type: string
                          description: The name of the database available for restore.
                        collectionNames:
                          type: array
                          description: The names of the collections available for
                            restore.
                          items:
                            type: string
                            description: The name of the collection.
                    description: List of restorable MongoDB resources, including the
                      database and collection names.
                description: The List operation response, that contains the restorable
                  MongoDB resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response from the service.
                properties:
                  error:
                    properties:
                      code:
                        description: Error code.
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                    description: Error Response.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}/retrieveContinuousBackupInformation
  : post:
      operationId: GremlinResources_RetrieveContinuousBackupInformation
      description: Retrieves continuous backup information for a gremlin graph.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Cosmos DB database account name.
        schema:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*
      - name: databaseName
        in: path
        required: true
        x-ms-parameter-location: method
[...]
