openapi: 3.0.0
info:
  version: 2019-11-01-preview
  title: ContainerRegistryManagementClient
  description: Admin Container Registry Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ContainerRegistry.Admin/operations:
    get:
      description: Get the list of supported admin container registry rest operations.
      tags:
      - Operations
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK -- The list of operations has been returned.
          content:
            application/json:
              schema:
                description: Pageable list of supported operations.
                type: object
                properties:
                  value:
                    description: List of operations
                    type: array
                    items:
                      description: Describes the supported REST operation.
                      type: object
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object. It should match the action name
                            that appears in RBAC / the event service.
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        display:
                          description: Contains the localized display information
                            for this particular operation / action.
                          readOnly: true
                          type: object
                          properties:
                            provider:
                              description: "The localized friendly form of the resource\
                                \ provider name \u2013 it is expected to also include\
                                \ the publisher/company responsible. It should use\
                                \ Title Casing and begin with \"Microsoft\" for 1st\
                                \ party services. e.g. \"Microsoft Monitoring Insights\"\
                                \ or \"Microsoft Compute.\""
                              type: string
                              readOnly: true
                            resource:
                              description: "The localized friendly form of the resource\
                                \ type related to this action/operation \u2013 it\
                                \ should match the public documentation for the resource\
                                \ provider."
                              type: string
                              readOnly: true
                            operation:
                              description: The localized friendly name for the operation,
                                as it should be shown to the user.
                              type: string
                              readOnly: true
                            description:
                              description: "The localized friendly description for\
                                \ the operation, as it should be shown to the user.\
                                \ It should be thorough, yet concise \u2013 it will\
                                \ be used in tool tips and detailed views."
                              type: string
                              readOnly: true
                    x-ms-identifiers:
                    - name
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Operation:
      description: Describes the supported REST operation.
      type: object
      properties:
        name:
          description: The name of the operation being performed on this particular
            object. It should match the action name that appears in RBAC / the event
            service.
          type: string
          readOnly: true
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
        display:
          description: Contains the localized display information for this particular
            operation / action.
          readOnly: true
          type: object
          properties:
            provider:
              description: "The localized friendly form of the resource provider name\
                \ \u2013 it is expected to also include the publisher/company responsible.\
                \ It should use Title Casing and begin with \"Microsoft\" for 1st\
                \ party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft\
                \ Compute.\""
              type: string
              readOnly: true
            resource:
              description: "The localized friendly form of the resource type related\
                \ to this action/operation \u2013 it should match the public documentation\
                \ for the resource provider."
              type: string
              readOnly: true
            operation:
              description: The localized friendly name for the operation, as it should
                be shown to the user.
              type: string
              readOnly: true
            description:
              description: "The localized friendly description for the operation,\
                \ as it should be shown to the user. It should be thorough, yet concise\
                \ \u2013 it will be used in tool tips and detailed views."
              type: string
              readOnly: true
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      type: object
      properties:
        provider:
          description: "The localized friendly form of the resource provider name\
            \ \u2013 it is expected to also include the publisher/company responsible.\
            \ It should use Title Casing and begin with \"Microsoft\" for 1st party\
            \ services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""
          type: string
          readOnly: true
        resource:
          description: "The localized friendly form of the resource type related to\
            \ this action/operation \u2013 it should match the public documentation\
            \ for the resource provider."
          type: string
          readOnly: true
        operation:
          description: The localized friendly name for the operation, as it should
            be shown to the user.
          type: string
          readOnly: true
        description:
          description: "The localized friendly description for the operation, as it\
            \ should be shown to the user. It should be thorough, yet concise \u2013\
            \ it will be used in tool tips and detailed views."
          type: string
          readOnly: true
    OperationList:
      description: Pageable list of supported operations.
      type: object
      properties:
        value:
          description: List of operations
          type: array
          items:
            description: Describes the supported REST operation.
            type: object
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object. It should match the action name that appears in RBAC / the
                  event service.
                type: string
                readOnly: true
              isDataAction:
                description: Indicates whether the operation is a data action
                type: boolean
              display:
                description: Contains the localized display information for this particular
                  operation / action.
                readOnly: true
                type: object
                properties:
                  provider:
                    description: "The localized friendly form of the resource provider\
                      \ name \u2013 it is expected to also include the publisher/company\
                      \ responsible. It should use Title Casing and begin with \"\
                      Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring\
                      \ Insights\" or \"Microsoft Compute.\""
                    type: string
                    readOnly: true
                  resource:
                    description: "The localized friendly form of the resource type\
                      \ related to this action/operation \u2013 it should match the\
                      \ public documentation for the resource provider."
                    type: string
                    readOnly: true
                  operation:
                    description: The localized friendly name for the operation, as
                      it should be shown to the user.
                    type: string
                    readOnly: true
                  description:
                    description: "The localized friendly description for the operation,\
                      \ as it should be shown to the user. It should be thorough,\
                      \ yet concise \u2013 it will be used in tool tips and detailed\
                      \ views."
                    type: string
                    readOnly: true
          x-ms-identifiers:
          - name
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
