openapi: 3.0.0
info:
  title: DataPlaneAccountClient
  description: Creates a Microsoft.Purview data plane account client.
  version: 2023-10-01-preview
servers:
- url: https://purview.azure.com/account
paths:
  /:
    get:
      tags:
      - Account
      description: Get an account
      operationId: Accounts_GetAccountProperties
      parameters:
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Account resource
                type: object
                properties:
                  id:
                    description: Gets or sets the identifier.
                    type: string
                    readOnly: true
                  identity:
                    description: The Managed Identity of the resource
                    type: object
                    properties:
                      principalId:
                        description: Service principal object Id
                        type: string
                        readOnly: true
                      tenantId:
                        description: Tenant Id
                        type: string
                        readOnly: true
                      type:
                        description: Identity Type
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User Assigned Identities
                        type: object
                        additionalProperties:
                          description: Uses client ID and Principal ID
                          type: object
                          properties:
                            clientId:
                              description: Gets or Sets Client ID
                              type: string
                              readOnly: true
                            principalId:
                              description: Gets or Sets Principal ID
                              type: string
                              readOnly: true
                  location:
                    description: Gets or sets the location.
                    type: string
                  name:
                    description: Gets or sets the name.
                    type: string
                    readOnly: true
                  properties:
                    description: The account properties
                    type: object
                    properties:
                      accountStatus:
                        description: The account status.
                        type: object
                        properties:
                          accountProvisioningState:
                            description: Gets the account status code.
                            enum:
                            - Unknown
                            - Creating
                            - Updating
                            - Moving
                            - Deleting
                            - SoftDeleting
                            - SoftDeleted
                            - Failed
                            - Succeeded
                            - Canceled
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: AccountProvisioningState
                              modelAsString: true
                          errorDetails:
                            description: Default error model
                            type: object
                            properties:
                              code:
                                description: Gets or sets the code.
                                type: string
                                readOnly: true
                              details:
                                description: Gets or sets the details.
                                type: array
                                items:
                                  description: Default error model
                                  type: object
                                  properties:
                                    code:
                                      description: Gets or sets the code.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Gets or sets the details.
                                      type: array
                                      items:
                                        description: Default error model
                                        type: object
                                        properties:
                                          code:
                                            description: Gets or sets the code.
                                            type: string
                                            readOnly: true
                                      readOnly: true
                                    message:
                                      description: Gets or sets the messages.
                                      type: string
                                      readOnly: true
                                    target:
                                      description: Gets or sets the target.
                                      type: string
                                      readOnly: true
                                readOnly: true
                              message:
                                description: Gets or sets the messages.
                                type: string
                                readOnly: true
                              target:
                                description: Gets or sets the target.
                                type: string
                                readOnly: true
                      cloudConnectors:
                        description: External Cloud Service connectors
                        type: object
                        properties:
                          awsExternalId:
                            description: "AWS external identifier.\r\nConfigured in\
                              \ AWS to allow use of the role arn used for scanning"
                            type: string
                            readOnly: true
                      createdAt:
                        format: date-time
                        description: Gets the time at which the entity was created.
                        type: string
                        readOnly: true
                      createdBy:
                        description: Gets the creator of the entity.
                        type: string
                        readOnly: true
                      createdByObjectId:
                        description: Gets the creators of the entity's object id.
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Gets or sets the default domain in the account.
                        type: string
                        readOnly: true
                      endpoints:
                        description: The account endpoints
                        type: object
                        properties:
                          catalog:
                            description: Gets the catalog endpoint.
                            type: string
                            readOnly: true
                          scan:
                            description: Gets the scan endpoint.
                            type: string
                            readOnly: true
                      friendlyName:
                        description: Gets or sets the friendly name.
                        type: string
                        readOnly: true
                      ingestionStorage:
                        description: Ingestion Storage Account Info
                        type: object
                        properties:
                          id:
                            description: Gets or sets the Id.
                            type: string
                            readOnly: true
                          primaryEndpoint:
                            description: Gets or sets the primary endpoint.
                            type: string
                            readOnly: true
                          publicNetworkAccess:
                            description: Gets or sets the public network access setting
                            enum:
                            - NotSpecified
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: PublicNetworkAccess
                              modelAsString: true
                      managedEventHubState:
                        description: Gets or sets the state of managed eventhub. If
                          enabled managed eventhub will be created, if disabled the
                          managed eventhub will be removed.
                        default: NotSpecified
                        enum:
                        - NotSpecified
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: ManagedEventHubState
                          modelAsString: true
                      managedResourceGroupName:
                        description: Gets or sets the managed resource group name
                        type: string
                      managedResources:
                        description: The managed resources in customer subscription.
                        type: object
                        properties:
                          eventHubNamespace:
                            description: Gets the managed event hub namespace resource
                              identifier.
                            type: string
                            readOnly: true
                          resourceGroup:
                            description: Gets the managed resource group resource
                              identifier. This resource group will host resource dependencies
                              for the account.
                            type: string
                            readOnly: true
                          storageAccount:
                            description: Gets the managed storage account resource
                              identifier.
                            type: string
                            readOnly: true
                      managedResourcesPublicNetworkAccess:
                        description: Gets or sets the public network access for managed
                          resources
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      mergeInfo:
                        description: The public Account Merge Info model.
                        type: object
                        properties:
                          accountLocation:
                            description: The account location of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          accountName:
                            description: The account name of the *other* account in
                              the merge operation.
                            type: string
                            readOnly: true
                          accountResourceGroupName:
                            description: The resource group name of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          accountSubscriptionId:
                            description: The subscription id of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          mergeStatus:
                            description: The status of the merge operation.
                            enum:
                            - Succeeded
                            - Failed
                            - InProgress
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MergeStatus
                              modelAsString: true
                          typeOfAccount:
                            description: The type of account this account is for the
                              merge operation.
                            enum:
                            - Primary
                            - Secondary
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MergeAccountType
                              modelAsString: true
                      privateEndpointConnections:
                        description: Gets the private endpoint connections information.
                        type: array
                        items:
                          description: A private endpoint connection class.
                          type: object
                          properties:
                            id:
                              description: Gets or sets the identifier.
                              type: string
                              readOnly: true
                            name:
                              description: Gets or sets the name.
                              type: string
                              readOnly: true
                            properties:
                              description: A private endpoint connection properties
                                class.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: A private endpoint class.
                                  type: object
                                  properties:
                                    id:
                                      description: The private endpoint identifier.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: The private link service connection
                                    state.
                                  type: object
                                  properties:
                                    actionsRequired:
                                      description: The required actions.
                                      type: string
                                    description:
                                      description: The description.
                                      type: string
                                    status:
                                      description: The status.
                                      enum:
                                      - Unknown
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateEndpointConnectionStatus
                                        modelAsString: true
                                provisioningState:
                                  description: The provisioning state.
                                  type: string
                                  readOnly: true
                            systemData:
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdAt:
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                  type: string
                                  readOnly: true
                                createdBy:
                                  description: The identity that created the resource.
                                  type: string
                                  readOnly: true
                                createdByType:
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                                lastModifiedAt:
                                  format: date-time
                                  description: The timestamp of the last modification
                                    the resource (UTC).
                                  type: string
                                  readOnly: true
                                lastModifiedBy:
                                  description: The identity that last modified the
                                    resource.
                                  type: string
                                  readOnly: true
                                lastModifiedByType:
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                            type:
                              description: Gets or sets the type.
                              type: string
                              readOnly: true
                        readOnly: true
                      provisioningState:
                        description: Gets or sets the state of the provisioning.
                        enum:
                        - Unknown
                        - Creating
                        - Moving
                        - Deleting
                        - SoftDeleting
                        - SoftDeleted
                        - Failed
                        - Succeeded
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publicNetworkAccess:
                        description: Gets or sets the public network access.
                        default: Enabled
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                  sku:
                    description: The Sku
                    type: object
                    properties:
                      capacity:
                        format: int32
                        description: Gets or sets the sku capacity.
                        type: integer
                      name:
                        description: Gets or sets the sku name.
                        enum:
                        - Standard
                        - Free
                        type: string
                        x-ms-enum:
                          name: AccountSkuName
                          modelAsString: true
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdAt:
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                        type: string
                        readOnly: true
                      createdBy:
                        description: The identity that created the resource.
                        type: string
                        readOnly: true
                      createdByType:
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        format: date-time
                        description: The timestamp of the last modification the resource
                          (UTC).
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        description: The identity that last modified the resource.
                        type: string
                        readOnly: true
                      lastModifiedByType:
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                  tags:
                    description: Tags on the azure resource.
                    type: object
                    additionalProperties:
                      type: string
                  type:
                    description: Gets or sets the type.
                    type: string
                    readOnly: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
    patch:
      tags:
      - Account
      description: Updates an account
      operationId: Accounts_UpdateAccountProperties
      parameters:
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The account properties that can be updated through data
                plane.
              type: object
              properties:
                friendlyName:
                  description: The friendly name for the azure resource.
                  type: string
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Account resource
                type: object
                properties:
                  id:
                    description: Gets or sets the identifier.
                    type: string
                    readOnly: true
                  identity:
                    description: The Managed Identity of the resource
                    type: object
                    properties:
                      principalId:
                        description: Service principal object Id
                        type: string
                        readOnly: true
                      tenantId:
                        description: Tenant Id
                        type: string
                        readOnly: true
                      type:
                        description: Identity Type
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User Assigned Identities
                        type: object
                        additionalProperties:
                          description: Uses client ID and Principal ID
                          type: object
                          properties:
                            clientId:
                              description: Gets or Sets Client ID
                              type: string
                              readOnly: true
                            principalId:
                              description: Gets or Sets Principal ID
                              type: string
                              readOnly: true
                  location:
                    description: Gets or sets the location.
                    type: string
                  name:
                    description: Gets or sets the name.
                    type: string
                    readOnly: true
                  properties:
                    description: The account properties
                    type: object
                    properties:
                      accountStatus:
                        description: The account status.
                        type: object
                        properties:
                          accountProvisioningState:
                            description: Gets the account status code.
                            enum:
                            - Unknown
                            - Creating
                            - Updating
                            - Moving
                            - Deleting
                            - SoftDeleting
                            - SoftDeleted
                            - Failed
                            - Succeeded
                            - Canceled
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: AccountProvisioningState
                              modelAsString: true
                          errorDetails:
                            description: Default error model
                            type: object
                            properties:
                              code:
                                description: Gets or sets the code.
                                type: string
                                readOnly: true
                              details:
                                description: Gets or sets the details.
                                type: array
                                items:
                                  description: Default error model
                                  type: object
                                  properties:
                                    code:
                                      description: Gets or sets the code.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Gets or sets the details.
                                      type: array
                                      items:
                                        description: Default error model
                                        type: object
                                        properties:
                                          code:
                                            description: Gets or sets the code.
                                            type: string
                                            readOnly: true
                                      readOnly: true
                                    message:
                                      description: Gets or sets the messages.
                                      type: string
                                      readOnly: true
                                    target:
                                      description: Gets or sets the target.
                                      type: string
                                      readOnly: true
                                readOnly: true
                              message:
                                description: Gets or sets the messages.
                                type: string
                                readOnly: true
                              target:
                                description: Gets or sets the target.
                                type: string
                                readOnly: true
                      cloudConnectors:
                        description: External Cloud Service connectors
                        type: object
                        properties:
                          awsExternalId:
                            description: "AWS external identifier.\r\nConfigured in\
                              \ AWS to allow use of the role arn used for scanning"
                            type: string
                            readOnly: true
                      createdAt:
                        format: date-time
                        description: Gets the time at which the entity was created.
                        type: string
                        readOnly: true
                      createdBy:
                        description: Gets the creator of the entity.
                        type: string
                        readOnly: true
                      createdByObjectId:
                        description: Gets the creators of the entity's object id.
                        type: string
                        readOnly: true
                      defaultDomain:
                        description: Gets or sets the default domain in the account.
                        type: string
                        readOnly: true
                      endpoints:
                        description: The account endpoints
                        type: object
                        properties:
                          catalog:
                            description: Gets the catalog endpoint.
                            type: string
                            readOnly: true
                          scan:
                            description: Gets the scan endpoint.
                            type: string
                            readOnly: true
                      friendlyName:
                        description: Gets or sets the friendly name.
                        type: string
                        readOnly: true
                      ingestionStorage:
                        description: Ingestion Storage Account Info
                        type: object
                        properties:
                          id:
                            description: Gets or sets the Id.
                            type: string
                            readOnly: true
                          primaryEndpoint:
                            description: Gets or sets the primary endpoint.
                            type: string
                            readOnly: true
                          publicNetworkAccess:
                            description: Gets or sets the public network access setting
                            enum:
                            - NotSpecified
                            - Enabled
                            - Disabled
                            type: string
                            x-ms-enum:
                              name: PublicNetworkAccess
                              modelAsString: true
                      managedEventHubState:
                        description: Gets or sets the state of managed eventhub. If
                          enabled managed eventhub will be created, if disabled the
                          managed eventhub will be removed.
                        default: NotSpecified
                        enum:
                        - NotSpecified
                        - Disabled
                        - Enabled
                        type: string
                        x-ms-enum:
                          name: ManagedEventHubState
                          modelAsString: true
                      managedResourceGroupName:
                        description: Gets or sets the managed resource group name
                        type: string
                      managedResources:
                        description: The managed resources in customer subscription.
                        type: object
                        properties:
                          eventHubNamespace:
                            description: Gets the managed event hub namespace resource
                              identifier.
                            type: string
                            readOnly: true
                          resourceGroup:
                            description: Gets the managed resource group resource
                              identifier. This resource group will host resource dependencies
                              for the account.
                            type: string
                            readOnly: true
                          storageAccount:
                            description: Gets the managed storage account resource
                              identifier.
                            type: string
                            readOnly: true
                      managedResourcesPublicNetworkAccess:
                        description: Gets or sets the public network access for managed
                          resources
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      mergeInfo:
                        description: The public Account Merge Info model.
                        type: object
                        properties:
                          accountLocation:
                            description: The account location of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          accountName:
                            description: The account name of the *other* account in
                              the merge operation.
                            type: string
                            readOnly: true
                          accountResourceGroupName:
                            description: The resource group name of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          accountSubscriptionId:
                            description: The subscription id of the *other* account
                              in the merge operation.
                            type: string
                            readOnly: true
                          mergeStatus:
                            description: The status of the merge operation.
                            enum:
                            - Succeeded
                            - Failed
                            - InProgress
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MergeStatus
                              modelAsString: true
                          typeOfAccount:
                            description: The type of account this account is for the
                              merge operation.
                            enum:
                            - Primary
                            - Secondary
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MergeAccountType
                              modelAsString: true
                      privateEndpointConnections:
                        description: Gets the private endpoint connections information.
                        type: array
                        items:
                          description: A private endpoint connection class.
                          type: object
                          properties:
                            id:
                              description: Gets or sets the identifier.
                              type: string
                              readOnly: true
                            name:
                              description: Gets or sets the name.
                              type: string
                              readOnly: true
                            properties:
                              description: A private endpoint connection properties
                                class.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: A private endpoint class.
                                  type: object
                                  properties:
                                    id:
                                      description: The private endpoint identifier.
                                      type: string
                                privateLinkServiceConnectionState:
                                  description: The private link service connection
                                    state.
                                  type: object
                                  properties:
                                    actionsRequired:
                                      description: The required actions.
                                      type: string
                                    description:
                                      description: The description.
                                      type: string
                                    status:
                                      description: The status.
                                      enum:
                                      - Unknown
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PrivateEndpointConnectionStatus
                                        modelAsString: true
                                provisioningState:
                                  description: The provisioning state.
                                  type: string
                                  readOnly: true
                            systemData:
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdAt:
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                  type: string
                                  readOnly: true
                                createdBy:
                                  description: The identity that created the resource.
                                  type: string
                                  readOnly: true
                                createdByType:
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                                lastModifiedAt:
                                  format: date-time
                                  description: The timestamp of the last modification
                                    the resource (UTC).
                                  type: string
                                  readOnly: true
                                lastModifiedBy:
                                  description: The identity that last modified the
                                    resource.
                                  type: string
                                  readOnly: true
                                lastModifiedByType:
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                            type:
                              description: Gets or sets the type.
                              type: string
                              readOnly: true
                        readOnly: true
                      provisioningState:
                        description: Gets or sets the state of the provisioning.
                        enum:
                        - Unknown
                        - Creating
                        - Moving
                        - Deleting
                        - SoftDeleting
                        - SoftDeleted
                        - Failed
                        - Succeeded
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      publicNetworkAccess:
                        description: Gets or sets the public network access.
                        default: Enabled
                        enum:
                        - NotSpecified
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                  sku:
                    description: The Sku
                    type: object
                    properties:
                      capacity:
                        format: int32
                        description: Gets or sets the sku capacity.
                        type: integer
                      name:
                        description: Gets or sets the sku name.
                        enum:
                        - Standard
                        - Free
                        type: string
                        x-ms-enum:
                          name: AccountSkuName
                          modelAsString: true
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdAt:
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                        type: string
                        readOnly: true
                      createdBy:
                        description: The identity that created the resource.
                        type: string
                        readOnly: true
                      createdByType:
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        format: date-time
                        description: The timestamp of the last modification the resource
                          (UTC).
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        description: The identity that last modified the resource.
                        type: string
                        readOnly: true
                      lastModifiedByType:
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                  tags:
                    description: Tags on the azure resource.
                    type: object
                    additionalProperties:
                      type: string
                  type:
                    description: Gets or sets the type.
                    type: string
                    readOnly: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
  /listkeys:
    post:
      tags:
      - Account
      description: Lists the connection strings that allow connecting with the Managed
        Event Hub, if it is provisioned. Those connection strings are aimed to receive
        messages from the ATLAS_ENTITIES hub or to send messages to the ATLAS_HOOK
        hub.
      operationId: Accounts_GetAccessKeys
      parameters:
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: The Account access keys.
                type: object
                properties:
                  atlasKafkaPrimaryEndpoint:
                    description: Gets or sets the primary connection string.
                    type: string
                  atlasKafkaSecondaryEndpoint:
                    description: Gets or sets the secondary connection string.
                    type: string
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
  /regeneratekeys:
    post:
      tags:
      - Account
      description: Regenerates either the primary or secondary key of the Managed
        Event Hub, if it is provisioned.
      operationId: Accounts_RegenerateAccessKeys
      parameters:
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: A access key options used for regeneration.
              type: object
              properties:
                keyType:
                  description: The access key type.
                  enum:
                  - PrimaryAtlasKafkaKey
                  - SecondaryAtlasKafkaKey
                  type: string
                  x-ms-enum:
                    name: AccessKeyType
                    modelAsString: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: The Account access keys.
                type: object
                properties:
                  atlasKafkaPrimaryEndpoint:
                    description: Gets or sets the primary connection string.
                    type: string
                  atlasKafkaSecondaryEndpoint:
                    description: Gets or sets the secondary connection string.
                    type: string
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
  /collections/{collectionName}:
    get:
      tags:
      - Collection
      description: Get a collection
      operationId: Collections_GetCollection
      parameters:
      - in: path
        name: collectionName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Collection resource.
                type: object
                properties:
                  collectionProvisioningState:
                    description: Gets the state of the provisioning.
                    enum:
                    - Unknown
                    - Creating
                    - Moving
                    - Deleting
                    - Failed
                    - Succeeded
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: CollectionProvisioningState
                      modelAsString: true
                  description:
                    description: Gets or sets the description.
                    type: string
                  domain:
                    description: Gets the domain.
                    type: string
                    readOnly: true
                  friendlyName:
                    description: Gets or sets the friendly name of the collection.
                    type: string
                  name:
                    description: Gets the name.
                    type: string
                    readOnly: true
                  parentCollection:
                    description: Reference to a Collection.
                    type: object
                    properties:
                      referenceName:
                        description: Gets or sets the reference name.
                        type: string
                      type:
                        description: Gets or sets the reference type property.
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdAt:
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                        type: string
                        readOnly: true
                      createdBy:
                        description: The identity that created the resource.
                        type: string
                        readOnly: true
                      createdByType:
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        format: date-time
                        description: The timestamp of the last modification the resource
                          (UTC).
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        description: The identity that last modified the resource.
                        type: string
                        readOnly: true
                      lastModifiedByType:
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
    put:
      tags:
      - Collection
      description: Creates or updates a collection entity.
      operationId: Collections_CreateOrUpdateCollection
      parameters:
      - in: path
        name: collectionName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Collection resource.
              type: object
              properties:
                collectionProvisioningState:
                  description: Gets the state of the provisioning.
                  enum:
                  - Unknown
                  - Creating
                  - Moving
                  - Deleting
                  - Failed
                  - Succeeded
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: CollectionProvisioningState
                    modelAsString: true
                description:
                  description: Gets or sets the description.
                  type: string
                domain:
                  description: Gets the domain.
                  type: string
                  readOnly: true
                friendlyName:
                  description: Gets or sets the friendly name of the collection.
                  type: string
                name:
                  description: Gets the name.
                  type: string
                  readOnly: true
                parentCollection:
                  description: Reference to a Collection.
                  type: object
                  properties:
                    referenceName:
                      description: Gets or sets the reference name.
                      type: string
                    type:
                      description: Gets or sets the reference type property.
                      type: string
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdAt:
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                      type: string
                      readOnly: true
                    createdBy:
                      description: The identity that created the resource.
                      type: string
                      readOnly: true
                    createdByType:
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
                    lastModifiedAt:
                      format: date-time
                      description: The timestamp of the last modification the resource
                        (UTC).
                      type: string
                      readOnly: true
                    lastModifiedBy:
                      description: The identity that last modified the resource.
                      type: string
                      readOnly: true
                    lastModifiedByType:
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: IdentityType
                        modelAsString: true
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Collection resource.
                type: object
                properties:
                  collectionProvisioningState:
                    description: Gets the state of the provisioning.
                    enum:
                    - Unknown
                    - Creating
                    - Moving
                    - Deleting
                    - Failed
                    - Succeeded
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: CollectionProvisioningState
                      modelAsString: true
                  description:
                    description: Gets or sets the description.
                    type: string
                  domain:
                    description: Gets the domain.
                    type: string
                    readOnly: true
                  friendlyName:
                    description: Gets or sets the friendly name of the collection.
                    type: string
                  name:
                    description: Gets the name.
                    type: string
                    readOnly: true
                  parentCollection:
                    description: Reference to a Collection.
                    type: object
                    properties:
                      referenceName:
                        description: Gets or sets the reference name.
                        type: string
                      type:
                        description: Gets or sets the reference type property.
                        type: string
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdAt:
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                        type: string
                        readOnly: true
                      createdBy:
                        description: The identity that created the resource.
                        type: string
                        readOnly: true
                      createdByType:
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
                      lastModifiedAt:
                        format: date-time
                        description: The timestamp of the last modification the resource
                          (UTC).
                        type: string
                        readOnly: true
                      lastModifiedBy:
                        description: The identity that last modified the resource.
                        type: string
                        readOnly: true
                      lastModifiedByType:
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: IdentityType
                          modelAsString: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
    delete:
      tags:
      - Collection
      description: Deletes a Collection entity.
      operationId: Collections_DeleteCollection
      parameters:
      - in: path
        name: collectionName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
  /collections:
    get:
      tags:
      - Collection
      description: List the collections in the account.
      operationId: Collections_ListCollections
      parameters:
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Paged list of collections.
                required:
                - value
                type: object
                properties:
                  count:
                    format: int64
                    description: Total item count.
                    type: integer
                  nextLink:
                    description: The Url of next result page.
                    type: string
                  value:
                    description: Collection of items of type results.
                    type: array
                    items:
                      description: Collection resource.
                      type: object
                      properties:
                        collectionProvisioningState:
                          description: Gets the state of the provisioning.
                          enum:
                          - Unknown
                          - Creating
                          - Moving
                          - Deleting
                          - Failed
                          - Succeeded
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: CollectionProvisioningState
                            modelAsString: true
                        description:
                          description: Gets or sets the description.
                          type: string
                        domain:
                          description: Gets the domain.
                          type: string
                          readOnly: true
                        friendlyName:
                          description: Gets or sets the friendly name of the collection.
                          type: string
                        name:
                          description: Gets the name.
                          type: string
                          readOnly: true
                        parentCollection:
                          description: Reference to a Collection.
                          type: object
                          properties:
                            referenceName:
                              description: Gets or sets the reference name.
                              type: string
                            type:
                              description: Gets or sets the reference type property.
                              type: string
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdAt:
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                              type: string
                              readOnly: true
                            createdBy:
                              description: The identity that created the resource.
                              type: string
                              readOnly: true
                            createdByType:
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            lastModifiedAt:
                              format: date-time
                              description: The timestamp of the last modification
                                the resource (UTC).
                              type: string
                              readOnly: true
                            lastModifiedBy:
                              description: The identity that last modified the resource.
                              type: string
                              readOnly: true
                            lastModifiedByType:
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /collections/{collectionName}/getChildCollectionNames:
    get:
      tags:
      - Collection
      description: Lists the child collections names in the collection.
      operationId: Collections_ListChildCollectionNames
      parameters:
      - in: path
        name: collectionName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Paged list of collections.
                required:
                - value
                type: object
                properties:
                  count:
                    format: int64
                    description: Total item count.
                    type: integer
                  nextLink:
                    description: The Url of next result page.
                    type: string
                  value:
                    description: Collection of items of type results.
                    type: array
                    items:
                      description: Collection resource.
                      type: object
                      properties:
                        friendlyName:
                          description: Gets or sets the friendly name of the collection.
                          type: string
                          readOnly: true
                        name:
                          description: Gets the name.
                          type: string
                          readOnly: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /collections/{collectionName}/getCollectionPath:
    get:
      tags:
      - Collection
      description: Gets the parent name and parent friendly name chains that represent
        the collection path.
      operationId: Collections_GetCollectionPath
      parameters:
      - in: path
        name: collectionName
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Collection resource.
                type: object
                properties:
                  parentFriendlyNameChain:
                    description: The friendly names of ancestors starting from the
                      default (root) collection and ending with the immediate parent.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  parentNameChain:
                    description: The names of ancestors starting from the default
                      (root) collection and ending with the immediate parent.
                    type: array
                    items:
                      type: string
                    readOnly: true
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                description: Default error response model
                type: object
                properties:
                  error:
                    description: Default error model
                    type: object
                    properties:
                      code:
                        description: Gets or sets the code.
                        type: string
                        readOnly: true
                      details:
                        description: Gets or sets the details.
                        type: array
                        items:
                          description: Default error model
                          type: object
                          properties:
                            code:
                              description: Gets or sets the code.
                              type: string
                              readOnly: true
                            details:
                              description: Gets or sets the details.
                              type: array
                              items:
                                description: Default error model
                                type: object
                                properties:
                                  code:
                                    description: Gets or sets the code.
                                    type: string
                                    readOnly: true
                              readOnly: true
                            message:
                              description: Gets or sets the messages.
                              type: string
                              readOnly: true
                            target:
                              description: Gets or sets the target.
                              type: string
                              readOnly: true
                        readOnly: true
                      message:
                        description: Gets or sets the messages.
                        type: string
                        readOnly: true
                      target:
                        description: Gets or sets the target.
                        type: string
                        readOnly: true
  /contactAssignments/{contactAssignmentId}:
    get:
      tags:
      - ContactAssignment
      description: Get a contactAssignment
      operationId: ContactAssignments_GetContactAssignment
      parameters:
      - in: path
        name: contactAssignmentId
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The api version to use.
        required: true
        x-ms-client-name: ApiVersion
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ContactAssignment resource.
                type: object
                properties:
                  assignmentId:
                    format: uuid
                    description: Gets or sets the id of the assignment.
                    type: string
                  contactGroup:
                    description: Entity reference type.
                    type: object
                    properties:
                      referenceName:
                        description: Gets or sets the reference name.
                        type: string
                      type:
                        description: Gets or sets the reference type property.
                        enum:
                        - Unknown
                        - CollectionReference
                        - ContactGroupDefinitionReference
                        - DatasourceReference
                        - ScanReference
                        - AdaptiveScopeReference
                        type: string
                        x-ms-enum:
                          name: EntityReferenceType
                          modelAsString: true
                  principalId:
                    description: Gets or sets the principal Id.
                    type: string
                  scope:
                    description: Entity reference type.
                    type: object
                    properties:
                      referenceName:
                        description: Gets or sets the reference name.
                        type: string
                      type:
                        description: Gets or sets the reference type property.
                        enum:
                        - Unknown
                        - CollectionReference
                        - ContactGroupDefinitionReference
                        - DatasourceReference
                        - ScanReference
                        - AdaptiveScopeReference
[...]
