openapi: 3.0.0
info:
  title: EdgeMarketplaceClient
  version: 2023-08-01
  description: Edge Market Place Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Offers
paths:
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/offers:
    get:
      tags:
      - Offers
      operationId: Offers_List
      description: List Offer resources by parent
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of result items to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        description: The number of result items to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          default: 0
      - name: maxpagesize
        in: query
        required: false
        description: The maximum number of result items per page.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        required: false
        description: Filter the result list using the given expression.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skipToken
        in: query
        required: false
        description: Skip over when retrieving results.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            contentVersion:
                              type: string
                              description: The content version
                            contentUrl:
                              type: string
                              description: The content url
                            offerContent:
                              description: The offer content
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name of the offer
                                summary:
                                  type: string
                                  description: The summary
                                longSummary:
                                  type: string
                                  description: The long summary
                                description:
                                  type: string
                                  description: The description
                                offerId:
                                  type: string
                                  description: The offer id
                                offerType:
                                  type: string
                                  description: The offer type
                                supportUri:
                                  type: string
                                  description: The support uri
                                popularity:
                                  type: integer
                                  format: int32
                                  description: The popularity of the offer
                                offerPublisher:
                                  description: The publisher of the offer
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: The publisher Id
                                    publisherDisplayName:
                                      type: string
                                      description: The publisher name
                                  required:
                                  - publisherId
                                  - publisherDisplayName
                                availability:
                                  description: The availability of the offer
                                  type: string
                                  enum:
                                  - Private
                                  - Public
                                  x-ms-enum:
                                    name: OfferAvailability
                                    modelAsString: true
                                    values:
                                    - name: Private
                                      value: Private
                                      description: The offer availability is private
                                    - name: Public
                                      value: Public
                                      description: The offer availability is public
                                releaseType:
                                  description: The release type of the offer
                                  type: string
                                  enum:
                                  - Preview
                                  - GA
                                  x-ms-enum:
                                    name: OfferReleaseType
                                    modelAsString: true
                                    values:
                                    - name: Preview
                                      value: Preview
                                      description: The offer in preview
                                    - name: GA
                                      value: GA
                                      description: The offer in GA
                                iconFileUris:
                                  description: The icon files
                                  type: object
                                  properties:
                                    small:
                                      type: string
                                      description: uri of small icon
                                    medium:
                                      type: string
                                      description: uri of medium icon
                                    wide:
                                      type: string
                                      description: uri of wide icon
                                    large:
                                      type: string
                                      description: uri of large icon
                                termsAndConditions:
                                  description: The terms and conditions
                                  type: object
                                  properties:
                                    legalTermsUri:
                                      type: string
                                      description: The legal terms and conditions
                                        uri
                                    legalTermsType:
                                      type: string
                                      description: The type of legal terms
                                    privacyPolicyUri:
                                      type: string
                                      description: The privacy policy uri
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: 'The category ids '
                                  x-typespec-name: string[]
                                operatingSystems:
                                  type: array
                                  items:
                                    type: string
                                  description: The operating systems
                                  x-typespec-name: string[]
                              required:
                              - displayName
                              - offerId
                            provisioningState:
                              description: The resource provisioning state
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            marketplaceSkus:
                              type: array
                              items:
                                type: object
                                properties:
                                  catalogPlanId:
                                    type: string
                                    description: The catalog plan id
                                  marketplaceSkuId:
                                    type: string
                                    description: The marketplace sku id
                                  type:
                                    type: string
                                    description: The type of marketplace sku
                                  displayName:
                                    type: string
                                    description: The display name of marketplace sku
                                  summary:
                                    type: string
                                    description: The summary
                                  longSummary:
                                    type: string
                                    description: The long summary
                                  description:
                                    type: string
                                    description: The description
                                  generation:
                                    type: string
                                    description: The generation
                                  displayRank:
                                    type: integer
                                    format: int32
                                    description: The display rank of the sku
                                  operatingSystem:
                                    description: The operating system supported
                                    type: object
                                    properties:
                                      family:
                                        type: string
                                        description: The family of the operating system
                                      type:
                                        type: string
                                        description: The type of the operating system
                                      name:
                                        type: string
                                        description: The name of the operating system
                                    required:
                                    - name
                                  marketplaceSkuVersions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of sku version
                                        sizeOnDiskInMb:
                                          type: integer
                                          format: int32
                                          description: The size of the image
                                        minimumDownloadSizeInMb:
                                          type: integer
                                          format: int32
                                          description: The size of the download
                                        stageName:
                                          type: string
                                          description: The stage name
                                      description: The marketplace sku version
                                      required:
                                      - name
                                    x-ms-identifiers: []
                                    description: The marketplace sku version
                                    x-typespec-name: MarketplaceSkuVersion[]
                                description: The marketplace sku
                                required:
                                - catalogPlanId
                                - marketplaceSkuId
                              x-ms-identifiers: []
                              description: The marketplace skus
                              x-typespec-name: MarketplaceSku[]
                          required:
                          - offerContent
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The Offer items on this page
                    x-typespec-name: Offer[]
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-typespec-name: TypeSpec.Rest.ResourceLocation
                description: The response of a Offer list operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.EdgeMarketplace/offers:
    get:
      tags:
      - Offers
      operationId: Offers_ListBySubscription
      description: List Offer resources by subscription
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: $top
        in: query
        required: false
        description: The number of result items to return.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        description: The number of result items to skip.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          default: 0
      - name: maxpagesize
        in: query
        required: false
        description: The maximum number of result items per page.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        required: false
        description: Filter the result list using the given expression.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $skipToken
        in: query
        required: false
        description: Skip over when retrieving results.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            contentVersion:
                              type: string
                              description: The content version
                            contentUrl:
                              type: string
                              description: The content url
                            offerContent:
                              description: The offer content
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name of the offer
                                summary:
                                  type: string
                                  description: The summary
                                longSummary:
                                  type: string
                                  description: The long summary
                                description:
                                  type: string
                                  description: The description
                                offerId:
                                  type: string
                                  description: The offer id
                                offerType:
                                  type: string
                                  description: The offer type
                                supportUri:
                                  type: string
                                  description: The support uri
                                popularity:
                                  type: integer
                                  format: int32
                                  description: The popularity of the offer
                                offerPublisher:
                                  description: The publisher of the offer
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: The publisher Id
                                    publisherDisplayName:
                                      type: string
                                      description: The publisher name
                                  required:
                                  - publisherId
                                  - publisherDisplayName
                                availability:
                                  description: The availability of the offer
                                  type: string
                                  enum:
                                  - Private
                                  - Public
                                  x-ms-enum:
                                    name: OfferAvailability
                                    modelAsString: true
                                    values:
                                    - name: Private
                                      value: Private
                                      description: The offer availability is private
                                    - name: Public
                                      value: Public
                                      description: The offer availability is public
                                releaseType:
                                  description: The release type of the offer
                                  type: string
                                  enum:
                                  - Preview
                                  - GA
                                  x-ms-enum:
                                    name: OfferReleaseType
                                    modelAsString: true
                                    values:
                                    - name: Preview
                                      value: Preview
                                      description: The offer in preview
                                    - name: GA
                                      value: GA
                                      description: The offer in GA
                                iconFileUris:
                                  description: The icon files
                                  type: object
                                  properties:
                                    small:
                                      type: string
                                      description: uri of small icon
                                    medium:
                                      type: string
                                      description: uri of medium icon
                                    wide:
                                      type: string
                                      description: uri of wide icon
                                    large:
                                      type: string
                                      description: uri of large icon
                                termsAndConditions:
                                  description: The terms and conditions
                                  type: object
                                  properties:
                                    legalTermsUri:
                                      type: string
                                      description: The legal terms and conditions
                                        uri
                                    legalTermsType:
                                      type: string
                                      description: The type of legal terms
                                    privacyPolicyUri:
                                      type: string
                                      description: The privacy policy uri
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: 'The category ids '
                                  x-typespec-name: string[]
                                operatingSystems:
                                  type: array
                                  items:
                                    type: string
                                  description: The operating systems
                                  x-typespec-name: string[]
                              required:
                              - displayName
                              - offerId
                            provisioningState:
                              description: The resource provisioning state
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            marketplaceSkus:
                              type: array
                              items:
                                type: object
                                properties:
                                  catalogPlanId:
                                    type: string
                                    description: The catalog plan id
                                  marketplaceSkuId:
                                    type: string
                                    description: The marketplace sku id
                                  type:
                                    type: string
                                    description: The type of marketplace sku
                                  displayName:
                                    type: string
                                    description: The display name of marketplace sku
                                  summary:
                                    type: string
                                    description: The summary
                                  longSummary:
                                    type: string
                                    description: The long summary
                                  description:
                                    type: string
                                    description: The description
                                  generation:
                                    type: string
                                    description: The generation
                                  displayRank:
                                    type: integer
                                    format: int32
                                    description: The display rank of the sku
                                  operatingSystem:
                                    description: The operating system supported
                                    type: object
                                    properties:
                                      family:
                                        type: string
                                        description: The family of the operating system
                                      type:
                                        type: string
                                        description: The type of the operating system
                                      name:
                                        type: string
                                        description: The name of the operating system
                                    required:
                                    - name
                                  marketplaceSkuVersions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of sku version
                                        sizeOnDiskInMb:
                                          type: integer
                                          format: int32
                                          description: The size of the image
                                        minimumDownloadSizeInMb:
                                          type: integer
                                          format: int32
                                          description: The size of the download
                                        stageName:
                                          type: string
                                          description: The stage name
                                      description: The marketplace sku version
                                      required:
                                      - name
                                    x-ms-identifiers: []
                                    description: The marketplace sku version
                                    x-typespec-name: MarketplaceSkuVersion[]
                                description: The marketplace sku
                                required:
                                - catalogPlanId
                                - marketplaceSkuId
                              x-ms-identifiers: []
                              description: The marketplace skus
                              x-typespec-name: MarketplaceSku[]
                          required:
                          - offerContent
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The Offer items on this page
                    x-typespec-name: Offer[]
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                    x-typespec-name: TypeSpec.Rest.ResourceLocation
                description: The response of a Offer list operation.
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/offers/{offerId}:
    get:
      tags:
      - Offers
      operationId: Offers_Get
      description: Get a Offer
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        description: Id of the offer
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      contentVersion:
                        type: string
                        description: The content version
                      contentUrl:
                        type: string
                        description: The content url
                      offerContent:
                        description: The offer content
                        type: object
                        properties:
                          displayName:
                            type: string
                            description: The display name of the offer
                          summary:
                            type: string
                            description: The summary
                          longSummary:
                            type: string
                            description: The long summary
                          description:
                            type: string
                            description: The description
                          offerId:
                            type: string
                            description: The offer id
                          offerType:
                            type: string
                            description: The offer type
                          supportUri:
                            type: string
                            description: The support uri
                          popularity:
                            type: integer
                            format: int32
                            description: The popularity of the offer
                          offerPublisher:
                            description: The publisher of the offer
                            type: object
                            properties:
                              publisherId:
                                type: string
                                description: The publisher Id
                              publisherDisplayName:
                                type: string
                                description: The publisher name
                            required:
                            - publisherId
                            - publisherDisplayName
                          availability:
                            description: The availability of the offer
                            type: string
                            enum:
                            - Private
                            - Public
                            x-ms-enum:
                              name: OfferAvailability
                              modelAsString: true
                              values:
                              - name: Private
                                value: Private
                                description: The offer availability is private
                              - name: Public
                                value: Public
                                description: The offer availability is public
                          releaseType:
                            description: The release type of the offer
                            type: string
                            enum:
                            - Preview
                            - GA
                            x-ms-enum:
                              name: OfferReleaseType
                              modelAsString: true
                              values:
                              - name: Preview
                                value: Preview
                                description: The offer in preview
                              - name: GA
                                value: GA
                                description: The offer in GA
                          iconFileUris:
                            description: The icon files
                            type: object
                            properties:
                              small:
                                type: string
                                description: uri of small icon
                              medium:
                                type: string
                                description: uri of medium icon
                              wide:
                                type: string
                                description: uri of wide icon
                              large:
                                type: string
                                description: uri of large icon
                          termsAndConditions:
                            description: The terms and conditions
                            type: object
                            properties:
                              legalTermsUri:
                                type: string
                                description: The legal terms and conditions uri
                              legalTermsType:
                                type: string
                                description: The type of legal terms
                              privacyPolicyUri:
                                type: string
                                description: The privacy policy uri
                          categoryIds:
                            type: array
                            items:
                              type: string
                            description: 'The category ids '
                            x-typespec-name: string[]
                          operatingSystems:
                            type: array
                            items:
                              type: string
                            description: The operating systems
                            x-typespec-name: string[]
                        required:
                        - displayName
                        - offerId
                      provisioningState:
                        description: The resource provisioning state
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                      marketplaceSkus:
                        type: array
                        items:
                          type: object
                          properties:
                            catalogPlanId:
                              type: string
                              description: The catalog plan id
                            marketplaceSkuId:
                              type: string
                              description: The marketplace sku id
                            type:
                              type: string
                              description: The type of marketplace sku
                            displayName:
                              type: string
                              description: The display name of marketplace sku
                            summary:
                              type: string
                              description: The summary
                            longSummary:
                              type: string
                              description: The long summary
                            description:
                              type: string
                              description: The description
                            generation:
                              type: string
                              description: The generation
                            displayRank:
                              type: integer
                              format: int32
                              description: The display rank of the sku
                            operatingSystem:
                              description: The operating system supported
                              type: object
                              properties:
                                family:
                                  type: string
                                  description: The family of the operating system
                                type:
                                  type: string
                                  description: The type of the operating system
                                name:
                                  type: string
                                  description: The name of the operating system
                              required:
                              - name
                            marketplaceSkuVersions:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of sku version
                                  sizeOnDiskInMb:
                                    type: integer
                                    format: int32
                                    description: The size of the image
                                  minimumDownloadSizeInMb:
                                    type: integer
                                    format: int32
                                    description: The size of the download
                                  stageName:
                                    type: string
                                    description: The stage name
                                description: The marketplace sku version
                                required:
                                - name
                              x-ms-identifiers: []
                              description: The marketplace sku version
                              x-typespec-name: MarketplaceSkuVersion[]
                          description: The marketplace sku
                          required:
                          - catalogPlanId
                          - marketplaceSkuId
                        x-ms-identifiers: []
                        description: The marketplace skus
                        x-typespec-name: MarketplaceSku[]
                    required:
                    - offerContent
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/offers/{offerId}/generateAccessToken:
    post:
      tags:
      - Offers
      operationId: Offers_GenerateAccessToken
      description: A long-running resource action.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        description: Id of the offer
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                publisherName:
                  type: string
                  description: The name of the publisher.
                edgeMarketPlaceRegion:
                  type: string
                  description: The region where the disk will be created.
                egeMarketPlaceResourceId:
                  type: string
                  description: The region where the disk will be created.
                hypervGeneration:
                  type: string
                  description: The hyperv version.
                marketPlaceSku:
                  type: string
                  description: The marketplace sku.
                marketPlaceSkuVersion:
                  type: string
                  description: The marketplace sku version.
                deviceSku:
                  type: string
                  description: The device sku.
                deviceVersion:
                  type: string
                  description: The device sku version.
              description: Access token request object
              required:
              - edgeMarketPlaceRegion
        description: The content of the action request
        required: true
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  diskId:
                    type: string
                    description: The disk id.
                  status:
                    type: string
                    description: The access token creation status.
                  accessToken:
                    type: string
                    description: The access token.
                description: The disk access token
                required:
                - accessToken
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/offers/{offerId}/getAccessToken:
    post:
      tags:
      - Offers
      operationId: Offers_GetAccessToken
      description: get access token.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        description: Id of the offer
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requestId:
                  type: string
                  description: The name of the publisher.
              description: Access token request object
              required:
              - requestId
        description: The content of the action request
        required: true
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  diskId:
                    type: string
                    description: The disk id.
                  status:
                    type: string
                    description: The access token creation status.
                  accessToken:
                    type: string
                    description: The access token.
                description: The disk access token
                required:
                - accessToken
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    Azure.Core.FilterQueryParameter:
      name: $filter
      in: query
      required: false
      description: Filter the result list using the given expression.
      x-ms-parameter-location: method
      schema:
        type: string
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      required: false
      description: The maximum number of result items per page.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      required: false
      description: The number of result items to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    Azure.Core.TopQueryParameter:
      name: $top
      in: query
      required: false
      description: The number of result items to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.SkipTokenParameter:
      name: $skipToken
      in: query
      required: false
      description: Skip over when retrieving results.
      x-ms-parameter-location: method
      schema:
        type: string
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      required: true
      description: The fully qualified Azure Resource manager identifier of the resource.
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AccessTokenReadRequest:
      type: object
      properties:
        requestId:
          type: string
          description: The name of the publisher.
      description: Access token request object
      required:
      - requestId
    AccessTokenRequest:
      type: object
      properties:
        publisherName:
          type: string
          description: The name of the publisher.
        edgeMarketPlaceRegion:
          type: string
          description: The region where the disk will be created.
        egeMarketPlaceResourceId:
          type: string
          description: The region where the disk will be created.
        hypervGeneration:
          type: string
          description: The hyperv version.
        marketPlaceSku:
          type: string
          description: The marketplace sku.
        marketPlaceSkuVersion:
          type: string
          description: The marketplace sku version.
        deviceSku:
          type: string
          description: The device sku.
        deviceVersion:
          type: string
          description: The device sku version.
      description: Access token request object
      required:
      - edgeMarketPlaceRegion
    Azure.ResourceManager.ResourceProvisioningState:
      type: string
      description: The provisioning state of a resource type.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ResourceProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
    DiskAccessToken:
      type: object
      properties:
        diskId:
          type: string
          description: The disk id.
        status:
          type: string
          description: The access token creation status.
        accessToken:
          type: string
          description: The access token.
      description: The disk access token
      required:
      - accessToken
    IconFileUris:
      type: object
      properties:
        small:
          type: string
          description: uri of small icon
        medium:
          type: string
          description: uri of medium icon
        wide:
          type: string
          description: uri of wide icon
        large:
          type: string
          description: uri of large icon
      description: Icon files
    MarketplaceSku:
      type: object
      properties:
        catalogPlanId:
          type: string
          description: The catalog plan id
        marketplaceSkuId:
          type: string
          description: The marketplace sku id
        type:
          type: string
          description: The type of marketplace sku
        displayName:
          type: string
          description: The display name of marketplace sku
        summary:
          type: string
          description: The summary
        longSummary:
          type: string
          description: The long summary
        description:
          type: string
          description: The description
        generation:
          type: string
          description: The generation
        displayRank:
          type: integer
          format: int32
          description: The display rank of the sku
        operatingSystem:
          description: The operating system supported
          type: object
          properties:
            family:
              type: string
              description: The family of the operating system
            type:
              type: string
              description: The type of the operating system
            name:
              type: string
              description: The name of the operating system
          required:
          - name
        marketplaceSkuVersions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of sku version
              sizeOnDiskInMb:
                type: integer
                format: int32
                description: The size of the image
              minimumDownloadSizeInMb:
                type: integer
                format: int32
                description: The size of the download
              stageName:
                type: string
                description: The stage name
            description: The marketplace sku version
            required:
            - name
          x-ms-identifiers: []
          description: The marketplace sku version
          x-typespec-name: MarketplaceSkuVersion[]
      description: The marketplace sku
      required:
      - catalogPlanId
      - marketplaceSkuId
    MarketplaceSkuVersion:
      type: object
      properties:
        name:
          type: string
          description: The name of sku version
        sizeOnDiskInMb:
          type: integer
          format: int32
          description: The size of the image
        minimumDownloadSizeInMb:
          type: integer
          format: int32
          description: The size of the download
        stageName:
          type: string
          description: The stage name
      description: The marketplace sku version
      required:
      - name
    Offer:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
          type: object
          properties:
            contentVersion:
              type: string
              description: The content version
            contentUrl:
              type: string
              description: The content url
            offerContent:
              description: The offer content
              type: object
              properties:
                displayName:
                  type: string
                  description: The display name of the offer
                summary:
                  type: string
                  description: The summary
                longSummary:
                  type: string
                  description: The long summary
                description:
                  type: string
                  description: The description
                offerId:
                  type: string
                  description: The offer id
                offerType:
                  type: string
                  description: The offer type
                supportUri:
                  type: string
                  description: The support uri
                popularity:
                  type: integer
                  format: int32
                  description: The popularity of the offer
                offerPublisher:
                  description: The publisher of the offer
                  type: object
                  properties:
                    publisherId:
                      type: string
                      description: The publisher Id
                    publisherDisplayName:
                      type: string
                      description: The publisher name
                  required:
                  - publisherId
                  - publisherDisplayName
                availability:
                  description: The availability of the offer
                  type: string
                  enum:
                  - Private
                  - Public
                  x-ms-enum:
                    name: OfferAvailability
                    modelAsString: true
                    values:
                    - name: Private
                      value: Private
                      description: The offer availability is private
                    - name: Public
                      value: Public
                      description: The offer availability is public
                releaseType:
                  description: The release type of the offer
                  type: string
                  enum:
                  - Preview
                  - GA
                  x-ms-enum:
                    name: OfferReleaseType
                    modelAsString: true
                    values:
                    - name: Preview
                      value: Preview
                      description: The offer in preview
                    - name: GA
                      value: GA
                      description: The offer in GA
                iconFileUris:
                  description: The icon files
                  type: object
                  properties:
                    small:
                      type: string
                      description: uri of small icon
                    medium:
                      type: string
                      description: uri of medium icon
                    wide:
                      type: string
                      description: uri of wide icon
                    large:
                      type: string
                      description: uri of large icon
                termsAndConditions:
                  description: The terms and conditions
                  type: object
                  properties:
                    legalTermsUri:
                      type: string
                      description: The legal terms and conditions uri
                    legalTermsType:
                      type: string
                      description: The type of legal terms
                    privacyPolicyUri:
                      type: string
                      description: The privacy policy uri
                categoryIds:
                  type: array
                  items:
                    type: string
                  description: 'The category ids '
                  x-typespec-name: string[]
                operatingSystems:
                  type: array
                  items:
                    type: string
                  description: The operating systems
                  x-typespec-name: string[]
              required:
              - displayName
              - offerId
            provisioningState:
              description: The resource provisioning state
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              x-ms-enum:
                name: ResourceProvisioningState
                modelAsString: true
                values:
                - name: Succeeded
                  value: Succeeded
                  description: Resource has been created.
                - name: Failed
                  value: Failed
                  description: Resource creation failed.
                - name: Canceled
                  value: Canceled
                  description: Resource creation was canceled.
            marketplaceSkus:
              type: array
              items:
                type: object
                properties:
                  catalogPlanId:
                    type: string
                    description: The catalog plan id
                  marketplaceSkuId:
                    type: string
                    description: The marketplace sku id
                  type:
                    type: string
                    description: The type of marketplace sku
                  displayName:
                    type: string
                    description: The display name of marketplace sku
                  summary:
                    type: string
                    description: The summary
                  longSummary:
                    type: string
                    description: The long summary
                  description:
                    type: string
                    description: The description
                  generation:
                    type: string
                    description: The generation
                  displayRank:
                    type: integer
                    format: int32
                    description: The display rank of the sku
                  operatingSystem:
                    description: The operating system supported
                    type: object
                    properties:
                      family:
                        type: string
                        description: The family of the operating system
                      type:
                        type: string
                        description: The type of the operating system
                      name:
                        type: string
                        description: The name of the operating system
                    required:
                    - name
                  marketplaceSkuVersions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of sku version
                        sizeOnDiskInMb:
[...]
