openapi: 3.0.0
info:
  title: Microsoft.Relationships Management Service
  version: 2023-09-01-preview
  description: Microsoft.Relationships Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: DependencyOfRelationships
- name: ServiceGroupMemberRelationships
paths:
  /{resourceUri}/providers/Microsoft.Relationships/dependencyOf/{name}:
    get:
      operationId: DependencyOfRelationships_Get
      tags:
      - DependencyOfRelationships
      description: Get a DependencyOfRelationship
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of dependencyOf relationship.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{3,64}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: DependencyOfRelationships_CreateOrUpdate
      tags:
      - DependencyOfRelationships
      description: Create a DependencyOfRelationship
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of dependencyOf relationship.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{3,64}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    sourceId:
                      type: string
                      format: arm-id
                      description: The relationship source resource id.
                      readOnly: true
                    targetId:
                      type: string
                      format: arm-id
                      description: The relationship target resource id.
                    targetTenant:
                      type: string
                      description: The relationship target tenant id.
                    originInformation:
                      description: Information about the origin of the relationship.
                      readOnly: true
                      type: object
                      properties:
                        relationshipOriginType:
                          description: Identifies the origin type of the relationship.
                          readOnly: true
                          type: string
                          enum:
                          - ServiceExplicitlyCreated
                          - SystemDiscoveredByRule
                          - UserExplicitlyCreated
                          - UserDiscoveredByRule
                          x-ms-enum:
                            name: RelationshipOrigins
                            modelAsString: true
                            values:
                            - name: ServiceExplicitlyCreated
                              value: ServiceExplicitlyCreated
                              description: The relationship was explicitly created
                                by a system.
                            - name: SystemDiscoveredByRule
                              value: SystemDiscoveredByRule
                              description: The relationship was discovered by a system-created
                                rule.
                            - name: UserExplicitlyCreated
                              value: UserExplicitlyCreated
                              description: The relationship was explicitly created
                                by a user.
                            - name: UserDiscoveredByRule
                              value: UserDiscoveredByRule
                              description: The relationship was discovered by a user-created
                                rule.
                        discoveryEngine:
                          type: string
                          description: The name of the discovery engine that created
                            the relationship.
                          readOnly: true
                      required:
                      - relationshipOriginType
                    metadata:
                      description: Metadata about the relationship.
                      readOnly: true
                      type: object
                      properties:
                        sourceType:
                          type: string
                          description: The type of the relationship source resource.
                          readOnly: true
                        targetType:
                          type: string
                          description: The type of the relationship target resource.
                          readOnly: true
                      required:
                      - sourceType
                      - targetType
                    provisioningState:
                      description: The provisioning state of the relationship.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned.
                        - name: Updating
                          value: Updating
                          description: The resource is being updated.
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted.
                        - name: Accepted
                          value: Accepted
                          description: The resource provisioning request has been
                            accepted.
                  required:
                  - sourceId
                  - targetId
                  - originInformation
                  - metadata
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'DependencyOfRelationship' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'DependencyOfRelationship' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    delete:
      operationId: DependencyOfRelationships_Delete
      tags:
      - DependencyOfRelationships
      description: Delete a DependencyOfRelationship
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of dependencyOf relationship.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{3,64}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /{resourceUri}/providers/Microsoft.Relationships/serviceGroupMember/{name}:
    get:
      operationId: ServiceGroupMemberRelationships_Get
      tags:
      - ServiceGroupMemberRelationships
      description: Get a ServiceGroupMemberRelationship
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of ServiceGroupMember relationship.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{3,64}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Management/serviceGroups
                            scopes:
                            - Tenant
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ServiceGroupMemberRelationships_CreateOrUpdate
      tags:
      - ServiceGroupMemberRelationships
      description: Create a ServiceGroupMemberRelationship
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of ServiceGroupMember relationship.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{3,64}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    sourceId:
                      type: string
                      format: arm-id
                      description: The relationship source resource id.
                      readOnly: true
                    targetId:
                      type: string
                      format: arm-id
                      description: The relationship target resource id.
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.Management/serviceGroups
                          scopes:
                          - Tenant
                    targetTenant:
                      type: string
                      description: The relationship target tenant id.
                    originInformation:
                      description: Information about the origin of the relationship.
                      readOnly: true
                      type: object
                      properties:
                        relationshipOriginType:
                          description: Identifies the origin type of the relationship.
                          readOnly: true
                          type: string
                          enum:
                          - ServiceExplicitlyCreated
                          - SystemDiscoveredByRule
                          - UserExplicitlyCreated
                          - UserDiscoveredByRule
                          x-ms-enum:
                            name: RelationshipOrigins
                            modelAsString: true
                            values:
                            - name: ServiceExplicitlyCreated
                              value: ServiceExplicitlyCreated
                              description: The relationship was explicitly created
                                by a system.
                            - name: SystemDiscoveredByRule
                              value: SystemDiscoveredByRule
                              description: The relationship was discovered by a system-created
                                rule.
                            - name: UserExplicitlyCreated
                              value: UserExplicitlyCreated
                              description: The relationship was explicitly created
                                by a user.
                            - name: UserDiscoveredByRule
                              value: UserDiscoveredByRule
                              description: The relationship was discovered by a user-created
                                rule.
                        discoveryEngine:
                          type: string
                          description: The name of the discovery engine that created
                            the relationship.
                          readOnly: true
                      required:
                      - relationshipOriginType
                    metadata:
                      description: Metadata about the relationship.
                      readOnly: true
                      type: object
                      properties:
                        sourceType:
                          type: string
                          description: The type of the relationship source resource.
                          readOnly: true
                        targetType:
                          type: string
                          description: The type of the relationship target resource.
                          readOnly: true
                      required:
                      - sourceType
                      - targetType
                    provisioningState:
                      description: The provisioning state of the relationship.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned.
                        - name: Updating
                          value: Updating
                          description: The resource is being updated.
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted.
                        - name: Accepted
                          value: Accepted
                          description: The resource provisioning request has been
                            accepted.
                  required:
                  - sourceId
                  - targetId
                  - originInformation
                  - metadata
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'ServiceGroupMemberRelationship' update operation
            succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Management/serviceGroups
                            scopes:
                            - Tenant
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'ServiceGroupMemberRelationship' create operation
            succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      sourceId:
                        type: string
                        format: arm-id
                        description: The relationship source resource id.
                        readOnly: true
                      targetId:
                        type: string
                        format: arm-id
                        description: The relationship target resource id.
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.Management/serviceGroups
                            scopes:
                            - Tenant
                      targetTenant:
                        type: string
                        description: The relationship target tenant id.
                      originInformation:
                        description: Information about the origin of the relationship.
                        readOnly: true
                        type: object
                        properties:
                          relationshipOriginType:
                            description: Identifies the origin type of the relationship.
                            readOnly: true
                            type: string
                            enum:
                            - ServiceExplicitlyCreated
                            - SystemDiscoveredByRule
                            - UserExplicitlyCreated
                            - UserDiscoveredByRule
                            x-ms-enum:
                              name: RelationshipOrigins
                              modelAsString: true
                              values:
                              - name: ServiceExplicitlyCreated
                                value: ServiceExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a system.
                              - name: SystemDiscoveredByRule
                                value: SystemDiscoveredByRule
                                description: The relationship was discovered by a
                                  system-created rule.
                              - name: UserExplicitlyCreated
                                value: UserExplicitlyCreated
                                description: The relationship was explicitly created
                                  by a user.
                              - name: UserDiscoveredByRule
                                value: UserDiscoveredByRule
                                description: The relationship was discovered by a
                                  user-created rule.
                          discoveryEngine:
                            type: string
                            description: The name of the discovery engine that created
                              the relationship.
                            readOnly: true
                        required:
                        - relationshipOriginType
                      metadata:
                        description: Metadata about the relationship.
                        readOnly: true
                        type: object
                        properties:
                          sourceType:
                            type: string
                            description: The type of the relationship source resource.
                            readOnly: true
                          targetType:
                            type: string
                            description: The type of the relationship target resource.
                            readOnly: true
                        required:
                        - sourceType
                        - targetType
                      provisioningState:
                        description: The provisioning state of the relationship.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Accepted
                            value: Accepted
                            description: The resource provisioning request has been
                              accepted.
                    required:
                    - sourceId
                    - targetId
                    - originInformation
                    - metadata
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
[...]
