openapi: 3.0.0
info:
  version: 2023-04-01
  title: Management Groups API
  description: "The Azure Management Groups API enables consolidation of multiple\
    \ \nsubscriptions/resources into an organizational hierarchy and centrally \n\
    manage access control, policies, alerting and reporting for those resources.\n"
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagementGroups
  description: "A Management Group is a customer defined scope (grouping mechanism)\
    \ that \nprovides access control (authorization), policy management and reporting.\
    \ \nManagement Groups are organized in a strictly tree-based hierarchy.\n"
- name: Operations
  description: 'Management operations supported by the Microsoft.Management resource
    provider.

    '
- name: Entities
  description: 'A list of entities that belong to the Management Groups.

    '
paths:
  /providers/Microsoft.Management/managementGroups:
    get:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_List
      description: 'List management groups for the authenticated user.

        '
      parameters:
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      - name: $skiptoken
        in: query
        required: false
        description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Describes the result of the request to list management
                  groups.
                properties:
                  value:
                    description: The list of management groups.
                    type: array
                    items:
                      description: The management group resource.
                      properties:
                        id:
                          type: string
                          description: The fully qualified ID for the management group.  For
                            example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. For example, Microsoft.Management/managementGroups
                          readOnly: true
                        name:
                          type: string
                          description: The name of the management group. For example,
                            00000000-0000-0000-0000-000000000000
                          readOnly: true
                        properties:
                          x-ms-client-flatten: true
                          title: Properties
                          description: The generic properties of a management group.
                          type: object
                          properties:
                            tenantId:
                              type: string
                              description: The AAD Tenant ID associated with the management
                                group. For example, 00000000-0000-0000-0000-000000000000
                            displayName:
                              type: string
                              description: The friendly name of the management group.
                  '@nextLink':
                    description: The URL to use for getting the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
      x-ms-pageable:
        nextLinkName: '@nextLink'
  /providers/Microsoft.Management/managementGroups/{groupId}:
    get:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_Get
      description: 'Get the details of the management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        x-ms-enum:
          name: ManagementGroupExpandType
          modelAsString: true
        x-ms-parameter-location: method
        description: The $expand=children query string parameter allows clients to
          request inclusion of children in the response payload.  $expand=path includes
          the path from the root group to the current group.  $expand=ancestors includes
          the ancestor Ids of the current group.
        schema:
          type: string
          enum:
          - children
          - path
          - ancestors
      - name: $recurse
        in: query
        required: false
        x-ms-parameter-location: method
        description: The $recurse=true query string parameter allows clients to request
          inclusion of entire hierarchy in the response payload. Note that  $expand=children
          must be passed up if $recurse is set to true.
        schema:
          type: boolean
      - name: $filter
        in: query
        required: false
        description: A filter which allows the exclusion of subscriptions from results
          (i.e. '$filter=children.childType ne Subscription')
        x-ms-parameter-location: method
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The management group details.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the management group.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups
                    readOnly: true
                  name:
                    type: string
                    description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of a management group.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the management
                          group. For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the management group.
                      details:
                        title: Details
                        description: The details of a management group.
                        type: object
                        properties:
                          version:
                            type: number
                            format: int32
                            description: The version number of the object.
                          updatedTime:
                            type: string
                            format: date-time
                            description: The date and time when this object was last
                              updated.
                          updatedBy:
                            type: string
                            description: The identity of the principal or process
                              that updated the object.
                          parent:
                            title: Parent
                            description: (Optional) The ID of the parent management
                              group.
                            properties:
                              id:
                                type: string
                                description: The fully qualified ID for the parent
                                  management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                              name:
                                type: string
                                description: The name of the parent management group
                              displayName:
                                type: string
                                description: The friendly name of the parent management
                                  group.
                          path:
                            description: The path from the root to the current group.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                          managementGroupAncestors:
                            description: The ancestors of the management group.
                            type: array
                            items:
                              type: string
                            nullable: true
                          managementGroupAncestorsChain:
                            description: The ancestors of the management group displayed
                              in reversed order, from immediate parent to the root.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                      children:
                        description: The list of children.
                        type: array
                        items:
                          description: The child information of a management group.
                          properties:
                            type:
                              title: The type of child resource.
                              description: The fully qualified resource type which
                                includes provider namespace (e.g. Microsoft.Management/managementGroups)
                              type: string
                              enum:
                              - Microsoft.Management/managementGroups
                              - /subscriptions
                              x-ms-enum:
                                name: ManagementGroupChildType
                                modelAsString: false
                                values:
                                - value: Microsoft.Management/managementGroups
                                - value: /subscriptions
                            id:
                              type: string
                              description: The fully qualified ID for the child resource
                                (management group or subscription).  For example,
                                /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                            name:
                              type: string
                              description: The name of the child entity.
                            displayName:
                              type: string
                              description: The friendly name of the child resource.
                            children:
                              description: The list of children.
                              type: array
                              items:
                                description: The child information of a management
                                  group.
                                properties:
                                  type:
                                    title: The type of child resource.
                                    description: The fully qualified resource type
                                      which includes provider namespace (e.g. Microsoft.Management/managementGroups)
                                    type: string
                                    enum:
                                    - Microsoft.Management/managementGroups
                                    - /subscriptions
                                    x-ms-enum:
                                      name: ManagementGroupChildType
                                      modelAsString: false
                                      values:
                                      - value: Microsoft.Management/managementGroups
                                      - value: /subscriptions
                                  id:
                                    type: string
                                    description: The fully qualified ID for the child
                                      resource (management group or subscription).  For
                                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                  name:
                                    type: string
                                    description: The name of the child entity.
                                  displayName:
                                    type: string
                                    description: The friendly name of the child resource.
                                  children:
                                    description: The list of children.
                                    type: array
                                    items:
                                      description: The child information of a management
                                        group.
                                      properties:
                                        type:
                                          title: The type of child resource.
                                          description: The fully qualified resource
                                            type which includes provider namespace
                                            (e.g. Microsoft.Management/managementGroups)
                                          type: string
                                          enum:
                                          - Microsoft.Management/managementGroups
                                          - /subscriptions
                                          x-ms-enum:
                                            name: ManagementGroupChildType
                                            modelAsString: false
                                            values:
                                            - value: Microsoft.Management/managementGroups
                                            - value: /subscriptions
                                        id:
                                          type: string
                                          description: The fully qualified ID for
                                            the child resource (management group or
                                            subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                        name:
                                          type: string
                                          description: The name of the child entity.
                                        displayName:
                                          type: string
                                          description: The friendly name of the child
                                            resource.
                        nullable: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
    put:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_CreateOrUpdate
      description: 'Create or update a management group.

        If a management group is already created and a subsequent create request is
        issued with different properties, the management group properties will be
        updated.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      requestBody:
        content:
          application/json:
            schema:
              description: Management group creation parameters.
              type: object
              x-ms-azure-resource: true
              properties:
                id:
                  type: string
                  description: The fully qualified ID for the management group.  For
                    example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource.  For example, Microsoft.Management/managementGroups
                  readOnly: true
                name:
                  type: string
                  description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                properties:
                  title: Properties
                  x-ms-client-flatten: true
                  description: The generic properties of a management group used during
                    creation.
                  type: object
                  properties:
                    tenantId:
                      type: string
                      readOnly: true
                      description: The AAD Tenant ID associated with the management
                        group. For example, 00000000-0000-0000-0000-000000000000
                    displayName:
                      type: string
                      description: The friendly name of the management group. If no
                        value is passed then this  field will be set to the groupId.
                      nullable: true
                    details:
                      title: Details
                      description: The details of a management group used during creation.
                      type: object
                      properties:
                        version:
                          type: number
                          readOnly: true
                          format: int32
                          description: The version number of the object.
                        updatedTime:
                          type: string
                          readOnly: true
                          format: date-time
                          description: The date and time when this object was last
                            updated.
                        updatedBy:
                          type: string
                          readOnly: true
                          description: The identity of the principal or process that
                            updated the object.
                        parent:
                          title: Parent
                          description: (Optional) The ID of the parent management
                            group used during creation.
                          properties:
                            id:
                              type: string
                              description: The fully qualified ID for the parent management
                                group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                            name:
                              type: string
                              readOnly: true
                              description: The name of the parent management group
                            displayName:
                              type: string
                              readOnly: true
                              description: The friendly name of the parent management
                                group.
                    children:
                      description: The list of children.
                      readOnly: true
                      type: array
                      items:
                        description: The child information of a management group used
                          during creation.
                        properties:
                          type:
                            title: The type of child resource.
                            readOnly: true
                            description: The fully qualified resource type which includes
                              provider namespace (e.g. Microsoft.Management/managementGroups)
                            type: string
                            enum:
                            - Microsoft.Management/managementGroups
                            - /subscriptions
                            x-ms-enum:
                              name: ManagementGroupChildType
                              modelAsString: false
                              values:
                              - value: Microsoft.Management/managementGroups
                              - value: /subscriptions
                          id:
                            type: string
                            readOnly: true
                            description: The fully qualified ID for the child resource
                              (management group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                          name:
                            type: string
                            readOnly: true
                            description: The name of the child entity.
                          displayName:
                            type: string
                            readOnly: true
                            description: The friendly name of the child resource.
                          children:
                            description: The list of children.
                            readOnly: true
                            type: array
                            items:
                              description: The child information of a management group
                                used during creation.
                              properties:
                                type:
                                  title: The type of child resource.
                                  readOnly: true
                                  description: The fully qualified resource type which
                                    includes provider namespace (e.g. Microsoft.Management/managementGroups)
                                  type: string
                                  enum:
                                  - Microsoft.Management/managementGroups
                                  - /subscriptions
                                  x-ms-enum:
                                    name: ManagementGroupChildType
                                    modelAsString: false
                                    values:
                                    - value: Microsoft.Management/managementGroups
                                    - value: /subscriptions
                                id:
                                  type: string
                                  readOnly: true
                                  description: The fully qualified ID for the child
                                    resource (management group or subscription).  For
                                    example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                name:
                                  type: string
                                  readOnly: true
                                  description: The name of the child entity.
                                displayName:
                                  type: string
                                  readOnly: true
                                  description: The friendly name of the child resource.
                                children:
                                  description: The list of children.
                                  readOnly: true
                                  type: array
                                  items:
                                    description: The child information of a management
                                      group used during creation.
                                    properties:
                                      type:
                                        title: The type of child resource.
                                        readOnly: true
                                        description: The fully qualified resource
                                          type which includes provider namespace (e.g.
                                          Microsoft.Management/managementGroups)
                                        type: string
                                        enum:
                                        - Microsoft.Management/managementGroups
                                        - /subscriptions
                                        x-ms-enum:
                                          name: ManagementGroupChildType
                                          modelAsString: false
                                          values:
                                          - value: Microsoft.Management/managementGroups
                                          - value: /subscriptions
                                      id:
                                        type: string
                                        readOnly: true
                                        description: The fully qualified ID for the
                                          child resource (management group or subscription).  For
                                          example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                      name:
                                        type: string
                                        readOnly: true
                                        description: The name of the child entity.
                                      displayName:
                                        type: string
                                        readOnly: true
                                        description: The friendly name of the child
                                          resource.
                      nullable: true
        description: Management group creation parameters.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The management group details.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the management group.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups
                    readOnly: true
                  name:
                    type: string
                    description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of a management group.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the management
                          group. For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the management group.
                      details:
                        title: Details
                        description: The details of a management group.
                        type: object
                        properties:
                          version:
                            type: number
                            format: int32
                            description: The version number of the object.
                          updatedTime:
                            type: string
                            format: date-time
                            description: The date and time when this object was last
                              updated.
                          updatedBy:
                            type: string
                            description: The identity of the principal or process
                              that updated the object.
                          parent:
                            title: Parent
                            description: (Optional) The ID of the parent management
                              group.
                            properties:
                              id:
                                type: string
                                description: The fully qualified ID for the parent
                                  management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                              name:
                                type: string
                                description: The name of the parent management group
                              displayName:
                                type: string
                                description: The friendly name of the parent management
                                  group.
                          path:
                            description: The path from the root to the current group.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                          managementGroupAncestors:
                            description: The ancestors of the management group.
                            type: array
                            items:
                              type: string
                            nullable: true
                          managementGroupAncestorsChain:
                            description: The ancestors of the management group displayed
                              in reversed order, from immediate parent to the root.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                      children:
                        description: The list of children.
                        type: array
                        items:
                          description: The child information of a management group.
                          properties:
                            type:
                              title: The type of child resource.
                              description: The fully qualified resource type which
                                includes provider namespace (e.g. Microsoft.Management/managementGroups)
                              type: string
                              enum:
                              - Microsoft.Management/managementGroups
                              - /subscriptions
                              x-ms-enum:
                                name: ManagementGroupChildType
                                modelAsString: false
                                values:
                                - value: Microsoft.Management/managementGroups
                                - value: /subscriptions
                            id:
                              type: string
                              description: The fully qualified ID for the child resource
                                (management group or subscription).  For example,
                                /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                            name:
                              type: string
                              description: The name of the child entity.
                            displayName:
                              type: string
                              description: The friendly name of the child resource.
                            children:
                              description: The list of children.
                              type: array
                              items:
                                description: The child information of a management
                                  group.
                                properties:
                                  type:
                                    title: The type of child resource.
                                    description: The fully qualified resource type
                                      which includes provider namespace (e.g. Microsoft.Management/managementGroups)
                                    type: string
                                    enum:
                                    - Microsoft.Management/managementGroups
                                    - /subscriptions
                                    x-ms-enum:
                                      name: ManagementGroupChildType
                                      modelAsString: false
                                      values:
                                      - value: Microsoft.Management/managementGroups
                                      - value: /subscriptions
                                  id:
                                    type: string
                                    description: The fully qualified ID for the child
                                      resource (management group or subscription).  For
                                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                  name:
                                    type: string
                                    description: The name of the child entity.
                                  displayName:
                                    type: string
                                    description: The friendly name of the child resource.
                                  children:
                                    description: The list of children.
                                    type: array
                                    items:
                                      description: The child information of a management
                                        group.
                                      properties:
                                        type:
                                          title: The type of child resource.
                                          description: The fully qualified resource
                                            type which includes provider namespace
                                            (e.g. Microsoft.Management/managementGroups)
                                          type: string
                                          enum:
                                          - Microsoft.Management/managementGroups
                                          - /subscriptions
                                          x-ms-enum:
                                            name: ManagementGroupChildType
                                            modelAsString: false
                                            values:
                                            - value: Microsoft.Management/managementGroups
                                            - value: /subscriptions
                                        id:
                                          type: string
                                          description: The fully qualified ID for
                                            the child resource (management group or
                                            subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                        name:
                                          type: string
                                          description: The name of the child entity.
                                        displayName:
                                          type: string
                                          description: The friendly name of the child
                                            resource.
                        nullable: true
        '202':
          description: Accepted
          headers:
            Location:
              description: 'URL for determining when an operation has completed. Send
                a GET request to the URL in Location header.

                The URI should return a 202 until the operation reaches a terminal
                state and 200 once it reaches a terminal state.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#202-accepted-and-location-headers'
              schema:
                type: string
            Azure-AsyncOperation:
              description: 'URL for checking the ongoing status of the operation.

                To get the status of the asynchronous operation, send a GET request
                to the URL in Azure-AsyncOperation header value.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#asynchronous-operations'
              schema:
                type: string
          content:
            application/json:
              schema:
                description: The results of Azure-AsyncOperation.
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the management group.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups
                    readOnly: true
                  name:
                    type: string
                    description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                    readOnly: true
                  status:
                    type: string
                    description: The current status of the asynchronous operation
                      performed . For example, Running, Succeeded, Failed
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of a management group.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the management
                          group. For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the management group.
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_Update
      description: 'Update a management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      requestBody:
        content:
          application/json:
            schema:
              description: Management group patch parameters.
              type: object
              properties:
                displayName:
                  type: string
                  description: The friendly name of the management group.
                  nullable: true
                parentGroupId:
                  type: string
                  description: (Optional) The fully qualified ID for the parent management
                    group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                  nullable: true
        description: Management group patch parameters.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The management group details.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the management group.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups
                    readOnly: true
                  name:
                    type: string
                    description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of a management group.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the management
                          group. For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the management group.
                      details:
                        title: Details
                        description: The details of a management group.
                        type: object
                        properties:
                          version:
                            type: number
                            format: int32
                            description: The version number of the object.
                          updatedTime:
                            type: string
                            format: date-time
                            description: The date and time when this object was last
                              updated.
                          updatedBy:
                            type: string
                            description: The identity of the principal or process
                              that updated the object.
                          parent:
                            title: Parent
                            description: (Optional) The ID of the parent management
                              group.
                            properties:
                              id:
                                type: string
                                description: The fully qualified ID for the parent
                                  management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                              name:
                                type: string
                                description: The name of the parent management group
                              displayName:
                                type: string
                                description: The friendly name of the parent management
                                  group.
                          path:
                            description: The path from the root to the current group.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                          managementGroupAncestors:
                            description: The ancestors of the management group.
                            type: array
                            items:
                              type: string
                            nullable: true
                          managementGroupAncestorsChain:
                            description: The ancestors of the management group displayed
                              in reversed order, from immediate parent to the root.
                            type: array
                            items:
                              description: A path element of a management group ancestors.
                              properties:
                                name:
                                  type: string
                                  description: The name of the group.
                                displayName:
                                  type: string
                                  description: The friendly name of the group.
                            x-ms-identifiers:
                            - name
                            nullable: true
                      children:
                        description: The list of children.
                        type: array
                        items:
                          description: The child information of a management group.
                          properties:
                            type:
                              title: The type of child resource.
                              description: The fully qualified resource type which
                                includes provider namespace (e.g. Microsoft.Management/managementGroups)
                              type: string
                              enum:
                              - Microsoft.Management/managementGroups
                              - /subscriptions
                              x-ms-enum:
                                name: ManagementGroupChildType
                                modelAsString: false
                                values:
                                - value: Microsoft.Management/managementGroups
                                - value: /subscriptions
                            id:
                              type: string
                              description: The fully qualified ID for the child resource
                                (management group or subscription).  For example,
                                /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                            name:
                              type: string
                              description: The name of the child entity.
                            displayName:
                              type: string
                              description: The friendly name of the child resource.
                            children:
                              description: The list of children.
                              type: array
                              items:
                                description: The child information of a management
                                  group.
                                properties:
                                  type:
                                    title: The type of child resource.
                                    description: The fully qualified resource type
                                      which includes provider namespace (e.g. Microsoft.Management/managementGroups)
                                    type: string
                                    enum:
                                    - Microsoft.Management/managementGroups
                                    - /subscriptions
                                    x-ms-enum:
                                      name: ManagementGroupChildType
                                      modelAsString: false
                                      values:
                                      - value: Microsoft.Management/managementGroups
                                      - value: /subscriptions
                                  id:
                                    type: string
                                    description: The fully qualified ID for the child
                                      resource (management group or subscription).  For
                                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                  name:
                                    type: string
                                    description: The name of the child entity.
                                  displayName:
                                    type: string
                                    description: The friendly name of the child resource.
                                  children:
                                    description: The list of children.
                                    type: array
                                    items:
                                      description: The child information of a management
                                        group.
                                      properties:
                                        type:
                                          title: The type of child resource.
                                          description: The fully qualified resource
                                            type which includes provider namespace
                                            (e.g. Microsoft.Management/managementGroups)
                                          type: string
                                          enum:
                                          - Microsoft.Management/managementGroups
                                          - /subscriptions
                                          x-ms-enum:
                                            name: ManagementGroupChildType
                                            modelAsString: false
                                            values:
                                            - value: Microsoft.Management/managementGroups
                                            - value: /subscriptions
                                        id:
                                          type: string
                                          description: The fully qualified ID for
                                            the child resource (management group or
                                            subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                                        name:
                                          type: string
                                          description: The name of the child entity.
                                        displayName:
                                          type: string
                                          description: The friendly name of the child
                                            resource.
                        nullable: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
    delete:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_Delete
      description: 'Delete management group.

        If a management group contains child resources, the request will fail.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: 'URL for determining when an operation has completed. Send
                a GET request to the URL in Location header.

                The URI should return a 202 until the operation reaches a terminal
                state and 200 once it reaches a terminal state.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#202-accepted-and-location-headers'
              schema:
                type: string
            Azure-AsyncOperation:
              description: 'URL for checking the ongoing status of the operation.

                To get the status of the asynchronous operation, send a GET request
                to the URL in Azure-AsyncOperation header value.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#asynchronous-operations'
              schema:
                type: string
          content:
            application/json:
              schema:
                description: The results of Azure-AsyncOperation.
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the management group.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups
                    readOnly: true
                  name:
                    type: string
                    description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
                    readOnly: true
                  status:
                    type: string
                    description: The current status of the asynchronous operation
                      performed . For example, Running, Succeeded, Failed
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of a management group.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the management
                          group. For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the management group.
        '204':
          description: NoContent
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  /providers/Microsoft.Management/managementGroups/{groupId}/descendants:
    get:
      tags:
      - ManagementGroups
      operationId: ManagementGroups_GetDescendants
      description: 'List all entities that descend from a management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: $skiptoken
        in: query
        required: false
        description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: Number of elements to return when retrieving results. Passing
          this in will override $skipToken.
        x-ms-parameter-location: method
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Describes the result of the request to view descendants.
                properties:
                  value:
                    description: The list of descendants.
                    type: array
                    items:
                      description: The descendant.
                      properties:
                        id:
                          type: string
                          description: The fully qualified ID for the descendant.  For
                            example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                            or /subscriptions/0000000-0000-0000-0000-000000000000
                          readOnly: true
                          nullable: true
                        type:
                          type: string
                          description: The type of the resource. For example, Microsoft.Management/managementGroups
                            or /subscriptions
                          readOnly: true
                          nullable: true
                        name:
                          type: string
                          description: The name of the descendant. For example, 00000000-0000-0000-0000-000000000000
                          readOnly: true
                        properties:
                          title: Properties
                          x-ms-client-flatten: true
                          description: The generic properties of an descendant.
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: The friendly name of the management group.
                              nullable: true
                            parent:
                              title: Parent
                              description: The ID of the parent management group.
                              properties:
                                id:
                                  type: string
                                  description: The fully qualified ID for the parent
                                    management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                              nullable: true
                          nullable: true
                  nextLink:
                    description: The URL to use for getting the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}:
    put:
      tags:
      - ManagementGroups
      operationId: ManagementGroupSubscriptions_Create
      description: 'Associates existing subscription with the management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The details of subscription under management group.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the subscription.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/subscriptions/0000000-0000-0000-0000-000000000001
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups/subscriptions
                    readOnly: true
                  name:
                    type: string
                    description: The stringified id of the subscription. For example,
                      00000000-0000-0000-0000-000000000000
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of subscription under a management
                      group.
                    type: object
                    properties:
                      tenant:
                        type: string
                        description: The AAD Tenant ID associated with the subscription.
                          For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the subscription.
                      parent:
                        title: Parent
                        description: The ID of the parent management group.
                        properties:
                          id:
                            type: string
                            description: The fully qualified ID for the parent management
                              group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                        nullable: true
                      state:
                        type: string
                        description: The state of the subscription.
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
    delete:
      tags:
      - ManagementGroups
      operationId: ManagementGroupSubscriptions_Delete
      description: 'De-associates subscription from the management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
    get:
      tags:
      - ManagementGroups
      operationId: ManagementGroupSubscriptions_GetSubscription
      description: 'Retrieves details about given subscription which is associated
        with the management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: Cache-Control
        in: header
        description: Indicates whether the request should utilize any caches. Populate
          the header with 'no-cache' value to bypass existing caches.
        x-ms-parameter-location: method
        schema:
          type: string
          default: no-cache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The details of subscription under management group.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the subscription.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/subscriptions/0000000-0000-0000-0000-000000000001
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups/subscriptions
                    readOnly: true
                  name:
                    type: string
                    description: The stringified id of the subscription. For example,
                      00000000-0000-0000-0000-000000000000
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of subscription under a management
                      group.
                    type: object
                    properties:
                      tenant:
                        type: string
                        description: The AAD Tenant ID associated with the subscription.
                          For example, 00000000-0000-0000-0000-000000000000
                      displayName:
                        type: string
                        description: The friendly name of the subscription.
                      parent:
                        title: Parent
                        description: The ID of the parent management group.
                        properties:
                          id:
                            type: string
                            description: The fully qualified ID for the parent management
                              group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                        nullable: true
                      state:
                        type: string
                        description: The state of the subscription.
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
  /providers/Microsoft.Management/managementGroups/{groupId}/subscriptions:
    get:
      tags:
      - ManagementGroups
      operationId: ManagementGroupSubscriptions_GetSubscriptionsUnderManagementGroup
      description: 'Retrieves details about all subscriptions which are associated
        with the management group.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      - name: $skiptoken
        in: query
        required: false
        description: "Page continuation token is only used if a previous operation\
          \ returned a partial result. \nIf a previous response contains a nextLink\
          \ element, the value of the nextLink element will include a token parameter\
          \ that specifies a starting point to use for subsequent calls.\n"
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The details of all subscriptions under management group.
                properties:
                  value:
                    description: The list of subscriptions.
                    type: array
                    items:
                      description: The details of subscription under management group.
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          description: The fully qualified ID for the subscription.  For
                            example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/subscriptions/0000000-0000-0000-0000-000000000001
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource.  For example, Microsoft.Management/managementGroups/subscriptions
                          readOnly: true
                        name:
                          type: string
                          description: The stringified id of the subscription. For
                            example, 00000000-0000-0000-0000-000000000000
                          readOnly: true
                        properties:
                          title: Properties
                          x-ms-client-flatten: true
                          description: The generic properties of subscription under
                            a management group.
                          type: object
                          properties:
                            tenant:
                              type: string
                              description: The AAD Tenant ID associated with the subscription.
                                For example, 00000000-0000-0000-0000-000000000000
                            displayName:
                              type: string
                              description: The friendly name of the subscription.
                            parent:
                              title: Parent
                              description: The ID of the parent management group.
                              properties:
                                id:
                                  type: string
                                  description: The fully qualified ID for the parent
                                    management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
                              nullable: true
                            state:
                              type: string
                              description: The state of the subscription.
                  nextLink:
                    description: The URL to use for getting the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/managementGroups/{groupId}/settings:
    get:
      tags:
      - ManagementGroups
      operationId: HierarchySettings_List
      description: 'Gets all the hierarchy settings defined at the Management Group
        level. Settings can only be set on the root Management Group of the hierarchy.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Lists all hierarchy settings.
                properties:
                  value:
                    description: The list of hierarchy settings.
                    type: array
                    items:
                      description: The hierarchy settings resource.
                      properties:
                        id:
                          type: string
                          description: The fully qualified ID for the settings object.  For
                            example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/settings/default.
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource.  For example, Microsoft.Management/managementGroups/settings.
                          readOnly: true
                        name:
                          type: string
                          description: The name of the object. In this case, default.
                          readOnly: true
                        properties:
                          x-ms-client-flatten: true
                          title: Properties
                          description: The generic properties of hierarchy settings.
                          type: object
                          properties:
                            tenantId:
                              type: string
                              description: The AAD Tenant ID associated with the hierarchy
                                settings. For example, 00000000-0000-0000-0000-000000000000
                            requireAuthorizationForGroupCreation:
                              type: boolean
                              description: Indicates whether RBAC access is required
                                upon group creation under the root Management Group.
                                If set to true, user will require Microsoft.Management/managementGroups/write
                                action on the root Management Group scope in order
                                to create new Groups directly under the root. This
                                will prevent new users from creating new Management
                                Groups, unless they are given access.
                            defaultManagementGroup:
                              type: string
                              description: Settings that sets the default Management
                                Group under which new subscriptions get added in this
                                tenant. For example, /providers/Microsoft.Management/managementGroups/defaultGroup
                  '@nextLink':
                    description: The URL to use for getting the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
  /providers/Microsoft.Management/managementGroups/{groupId}/settings/default:
    get:
      tags:
      - ManagementGroups
      operationId: HierarchySettings_Get
      description: 'Gets the hierarchy settings defined at the Management Group level.
        Settings can only be set on the root Management Group of the hierarchy.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Settings defined at the Management Group scope.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the settings object.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/settings/default.
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups/settings.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the object. In this case, default.
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of hierarchy settings.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the hierarchy
                          settings. For example, 00000000-0000-0000-0000-000000000000
                      requireAuthorizationForGroupCreation:
                        type: boolean
                        description: Indicates whether RBAC access is required upon
                          group creation under the root Management Group. If set to
                          true, user will require Microsoft.Management/managementGroups/write
                          action on the root Management Group scope in order to create
                          new Groups directly under the root. This will prevent new
                          users from creating new Management Groups, unless they are
                          given access.
                      defaultManagementGroup:
                        type: string
                        description: Settings that sets the default Management Group
                          under which new subscriptions get added in this tenant.
                          For example, /providers/Microsoft.Management/managementGroups/defaultGroup
        default:
          description: Error
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The details of the error.
                    properties:
                      code:
                        description: One of a server-defined set of error codes.
                        type: string
                      message:
                        description: A human-readable representation of the error.
                        type: string
                      details:
                        description: A human-readable representation of the error's
                          details.
                        type: string
    put:
      tags:
      - ManagementGroups
      operationId: HierarchySettings_CreateOrUpdate
      description: 'Creates or updates the hierarchy settings defined at the Management
        Group level.

        '
      parameters:
      - name: groupId
        in: path
        required: true
        description: Management Group ID.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. The current
          version is 2018-01-01-preview.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for creating or updating Management Group settings
              type: object
              x-ms-azure-resource: true
              properties:
                properties:
                  title: Properties
                  x-ms-client-flatten: true
                  description: The properties of the request to create or update Management
                    Group settings
                  type: object
                  x-ms-azure-resource: true
                  properties:
                    requireAuthorizationForGroupCreation:
                      type: boolean
                      description: Indicates whether RBAC access is required upon
                        group creation under the root Management Group. If set to
                        true, user will require Microsoft.Management/managementGroups/write
                        action on the root Management Group scope in order to create
                        new Groups directly under the root. This will prevent new
                        users from creating new Management Groups, unless they are
                        given access.
                    defaultManagementGroup:
                      type: string
                      description: Settings that sets the default Management Group
                        under which new subscriptions get added in this tenant. For
                        example, /providers/Microsoft.Management/managementGroups/defaultGroup
        description: Tenant level settings request parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Settings defined at the Management Group scope.
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    description: The fully qualified ID for the settings object.  For
                      example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000/settings/default.
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource.  For example, Microsoft.Management/managementGroups/settings.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the object. In this case, default.
                    readOnly: true
                  properties:
                    title: Properties
                    x-ms-client-flatten: true
                    description: The generic properties of hierarchy settings.
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: The AAD Tenant ID associated with the hierarchy
                          settings. For example, 00000000-0000-0000-0000-000000000000
                      requireAuthorizationForGroupCreation:
                        type: boolean
                        description: Indicates whether RBAC access is required upon
                          group creation under the root Management Group. If set to
                          true, user will require Microsoft.Management/managementGroups/write
                          action on the root Management Group scope in order to create
                          new Groups directly under the root. This will prevent new
                          users from creating new Management Groups, unless they are
                          given access.
                      defaultManagementGroup:
                        type: string
[...]
