openapi: 3.0.0
info:
  title: ManagedNetworkManagementClient
  description: The Microsoft Azure Managed Network management API provides a RESTful
    set of web services that interact with Microsoft Azure Networks service to programmatically
    view, control, change, and monitor your entire Azure network centrally and with
    ease.
  version: 2019-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}
  : get:
      tags:
      - ManagedNetworks
      operationId: ManagedNetworks_Get
      description: The Get ManagedNetworks operation gets a Managed Network Resource,
        specified by the resource group and Managed Network name
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedNetworkName
        in: path
        required: true
        description: The name of the Managed Network.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns the specified Managed
            Network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the ManagedNetwork resource.
                        enum:
                        - Updating
                        - Deleting
                        - Failed
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      etag:
                        type: string
                        readOnly: true
                        description: A unique read-only string that changes whenever
                          the resource is updated.
                      scope:
                        description: The collection of management groups, subscriptions,
                          virtual networks, and subnets by the Managed Network. This
                          is a read-only property that is reflective of all ScopeAssignments
                          for this Managed Network
                        properties:
                          managementGroups:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of management groups covered
                              by the Managed Network
                          subscriptions:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of subscriptions covered by
                              the Managed Network
                          virtualNetworks:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of virtual nets covered by
                              the Managed Network
                          subnets:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of  subnets covered by the
                              Managed Network
                      connectivity:
                        readOnly: true
                        description: The collection of groups and policies concerned
                          with connectivity
                        properties:
                          groups:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    managementGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of management groups
                                        covered by the Managed Network
                                    subscriptions:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of subscriptions
                                        covered by the Managed Network
                                    virtualNetworks:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of virtual nets
                                        covered by the Managed Network
                                    subnets:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of  subnets covered
                                        by the Managed Network
                                  description: Base for resource properties.
                                  x-ms-client-flatten: true
                                kind:
                                  description: Responsibility role under which this
                                    Managed Network Group will be created
                                  enum:
                                  - Connectivity
                                  type: string
                                  x-ms-enum:
                                    name: Kind
                                    modelAsString: true
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of connectivity related Managed
                              Network Groups within the Managed Network
                          peerings:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    type:
                                      type: string
                                      enum:
                                      - HubAndSpokeTopology
                                      - MeshTopology
                                      x-ms-enum:
                                        name: type
                                        modelAsString: true
                                      description: Gets or sets the connectivity type
                                        of a network structure policy
                                    hub:
                                      description: Gets or sets the hub virtual network
                                        ID
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                    spokes:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the spokes group IDs
                                    mesh:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the mesh group IDs
                                  description: Base for resource properties.
                                  required:
                                  - type
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of Managed Network Peering
                              Policies within the Managed Network
                    description: Base for resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                description: The general resource model definition
                x-ms-azure-resource: true
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  code:
                    description: The error code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
    put:
      tags:
      - ManagedNetworks
      operationId: ManagedNetworks_CreateOrUpdate
      description: The Put ManagedNetworks operation creates/updates a Managed Network
        Resource, specified by resource group and Managed Network name
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedNetworkName
        in: path
        required: true
        description: The name of the Managed Network.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                    or Microsoft.Storage/storageAccounts.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                tags:
                  type: object
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  type: object
                  properties:
                    provisioningState:
                      type: string
                      readOnly: true
                      description: Provisioning state of the ManagedNetwork resource.
                      enum:
                      - Updating
                      - Deleting
                      - Failed
                      - Succeeded
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    etag:
                      type: string
                      readOnly: true
                      description: A unique read-only string that changes whenever
                        the resource is updated.
                    scope:
                      description: The collection of management groups, subscriptions,
                        virtual networks, and subnets by the Managed Network. This
                        is a read-only property that is reflective of all ScopeAssignments
                        for this Managed Network
                      properties:
                        managementGroups:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: Resource Id
                            description: Generic pointer to a resource
                          description: The collection of management groups covered
                            by the Managed Network
                        subscriptions:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: Resource Id
                            description: Generic pointer to a resource
                          description: The collection of subscriptions covered by
                            the Managed Network
                        virtualNetworks:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: Resource Id
                            description: Generic pointer to a resource
                          description: The collection of virtual nets covered by the
                            Managed Network
                        subnets:
                          type: array
                          items:
                            properties:
                              id:
                                type: string
                                description: Resource Id
                            description: Generic pointer to a resource
                          description: The collection of  subnets covered by the Managed
                            Network
                    connectivity:
                      readOnly: true
                      description: The collection of groups and policies concerned
                        with connectivity
                      properties:
                        groups:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Fully qualified resource Id for the resource.
                                  Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              name:
                                readOnly: true
                                type: string
                                description: The name of the resource
                              type:
                                readOnly: true
                                type: string
                                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                  or Microsoft.Storage/storageAccounts.
                              location:
                                type: string
                                x-ms-mutability:
                                - read
                                - create
                                description: The geo-location where the resource lives
                              properties:
                                type: object
                                properties:
                                  provisioningState:
                                    type: string
                                    readOnly: true
                                    description: Provisioning state of the ManagedNetwork
                                      resource.
                                    enum:
                                    - Updating
                                    - Deleting
                                    - Failed
                                    - Succeeded
                                    x-ms-enum:
                                      name: ProvisioningState
                                      modelAsString: true
                                  etag:
                                    type: string
                                    readOnly: true
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                  managementGroups:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: The collection of management groups
                                      covered by the Managed Network
                                  subscriptions:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: The collection of subscriptions covered
                                      by the Managed Network
                                  virtualNetworks:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: The collection of virtual nets covered
                                      by the Managed Network
                                  subnets:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: The collection of  subnets covered
                                      by the Managed Network
                                description: Base for resource properties.
                                x-ms-client-flatten: true
                              kind:
                                description: Responsibility role under which this
                                  Managed Network Group will be created
                                enum:
                                - Connectivity
                                type: string
                                x-ms-enum:
                                  name: Kind
                                  modelAsString: true
                            description: The general resource model definition
                            x-ms-azure-resource: true
                          description: The collection of connectivity related Managed
                            Network Groups within the Managed Network
                        peerings:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Fully qualified resource Id for the resource.
                                  Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              name:
                                readOnly: true
                                type: string
                                description: The name of the resource
                              type:
                                readOnly: true
                                type: string
                                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                  or Microsoft.Storage/storageAccounts.
                              location:
                                type: string
                                x-ms-mutability:
                                - read
                                - create
                                description: The geo-location where the resource lives
                              properties:
                                type: object
                                properties:
                                  provisioningState:
                                    type: string
                                    readOnly: true
                                    description: Provisioning state of the ManagedNetwork
                                      resource.
                                    enum:
                                    - Updating
                                    - Deleting
                                    - Failed
                                    - Succeeded
                                    x-ms-enum:
                                      name: ProvisioningState
                                      modelAsString: true
                                  etag:
                                    type: string
                                    readOnly: true
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                  type:
                                    type: string
                                    enum:
                                    - HubAndSpokeTopology
                                    - MeshTopology
                                    x-ms-enum:
                                      name: type
                                      modelAsString: true
                                    description: Gets or sets the connectivity type
                                      of a network structure policy
                                  hub:
                                    description: Gets or sets the hub virtual network
                                      ID
                                    properties:
                                      id:
                                        type: string
                                        description: Resource Id
                                  spokes:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: Gets or sets the spokes group IDs
                                  mesh:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                      description: Generic pointer to a resource
                                    description: Gets or sets the mesh group IDs
                                description: Base for resource properties.
                                required:
                                - type
                            description: The general resource model definition
                            x-ms-azure-resource: true
                          description: The collection of Managed Network Peering Policies
                            within the Managed Network
                  description: Base for resource properties.
                  x-ms-client-flatten: true
              required:
              - location
              description: The general resource model definition
              x-ms-azure-resource: true
        description: Parameters supplied to the create/update a Managed Network Resource
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting Managed
            Network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the ManagedNetwork resource.
                        enum:
                        - Updating
                        - Deleting
                        - Failed
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      etag:
                        type: string
                        readOnly: true
                        description: A unique read-only string that changes whenever
                          the resource is updated.
                      scope:
                        description: The collection of management groups, subscriptions,
                          virtual networks, and subnets by the Managed Network. This
                          is a read-only property that is reflective of all ScopeAssignments
                          for this Managed Network
                        properties:
                          managementGroups:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of management groups covered
                              by the Managed Network
                          subscriptions:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of subscriptions covered by
                              the Managed Network
                          virtualNetworks:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of virtual nets covered by
                              the Managed Network
                          subnets:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of  subnets covered by the
                              Managed Network
                      connectivity:
                        readOnly: true
                        description: The collection of groups and policies concerned
                          with connectivity
                        properties:
                          groups:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    managementGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of management groups
                                        covered by the Managed Network
                                    subscriptions:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of subscriptions
                                        covered by the Managed Network
                                    virtualNetworks:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of virtual nets
                                        covered by the Managed Network
                                    subnets:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of  subnets covered
                                        by the Managed Network
                                  description: Base for resource properties.
                                  x-ms-client-flatten: true
                                kind:
                                  description: Responsibility role under which this
                                    Managed Network Group will be created
                                  enum:
                                  - Connectivity
                                  type: string
                                  x-ms-enum:
                                    name: Kind
                                    modelAsString: true
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of connectivity related Managed
                              Network Groups within the Managed Network
                          peerings:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    type:
                                      type: string
                                      enum:
                                      - HubAndSpokeTopology
                                      - MeshTopology
                                      x-ms-enum:
                                        name: type
                                        modelAsString: true
                                      description: Gets or sets the connectivity type
                                        of a network structure policy
                                    hub:
                                      description: Gets or sets the hub virtual network
                                        ID
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                    spokes:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the spokes group IDs
                                    mesh:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the mesh group IDs
                                  description: Base for resource properties.
                                  required:
                                  - type
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of Managed Network Peering
                              Policies within the Managed Network
                    description: Base for resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                description: The general resource model definition
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting Managed
            Network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the ManagedNetwork resource.
                        enum:
                        - Updating
                        - Deleting
                        - Failed
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      etag:
                        type: string
                        readOnly: true
                        description: A unique read-only string that changes whenever
                          the resource is updated.
                      scope:
                        description: The collection of management groups, subscriptions,
                          virtual networks, and subnets by the Managed Network. This
                          is a read-only property that is reflective of all ScopeAssignments
                          for this Managed Network
                        properties:
                          managementGroups:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of management groups covered
                              by the Managed Network
                          subscriptions:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of subscriptions covered by
                              the Managed Network
                          virtualNetworks:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of virtual nets covered by
                              the Managed Network
                          subnets:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of  subnets covered by the
                              Managed Network
                      connectivity:
                        readOnly: true
                        description: The collection of groups and policies concerned
                          with connectivity
                        properties:
                          groups:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    managementGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of management groups
                                        covered by the Managed Network
                                    subscriptions:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of subscriptions
                                        covered by the Managed Network
                                    virtualNetworks:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of virtual nets
                                        covered by the Managed Network
                                    subnets:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of  subnets covered
                                        by the Managed Network
                                  description: Base for resource properties.
                                  x-ms-client-flatten: true
                                kind:
                                  description: Responsibility role under which this
                                    Managed Network Group will be created
                                  enum:
                                  - Connectivity
                                  type: string
                                  x-ms-enum:
                                    name: Kind
                                    modelAsString: true
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of connectivity related Managed
                              Network Groups within the Managed Network
                          peerings:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    type:
                                      type: string
                                      enum:
                                      - HubAndSpokeTopology
                                      - MeshTopology
                                      x-ms-enum:
                                        name: type
                                        modelAsString: true
                                      description: Gets or sets the connectivity type
                                        of a network structure policy
                                    hub:
                                      description: Gets or sets the hub virtual network
                                        ID
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                    spokes:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the spokes group IDs
                                    mesh:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the mesh group IDs
                                  description: Base for resource properties.
                                  required:
                                  - type
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of Managed Network Peering
                              Policies within the Managed Network
                    description: Base for resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                description: The general resource model definition
                x-ms-azure-resource: true
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  code:
                    description: The error code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
    delete:
      tags:
      - ManagedNetworks
      operationId: ManagedNetworks_Delete
      description: The Delete ManagedNetworks operation deletes a Managed Network
        Resource, specified by the  resource group and Managed Network name
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedNetworkName
        in: path
        required: true
        description: The name of the Managed Network.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  code:
                    description: The error code.
                    type: string
                    readOnly: true
                  message:
                    description: The error message.
                    type: string
                    readOnly: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - ManagedNetworks
      operationId: ManagedNetworks_Update
      description: Updates the specified Managed Network resource tags.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client Api Version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: managedNetworkName
        in: path
        required: true
        description: The name of the Managed Network.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: Update Tags of Managed Network
        description: Parameters supplied to update application gateway tags and/or
          scope.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the updated Managed
            Network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the ManagedNetwork resource.
                        enum:
                        - Updating
                        - Deleting
                        - Failed
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      etag:
                        type: string
                        readOnly: true
                        description: A unique read-only string that changes whenever
                          the resource is updated.
                      scope:
                        description: The collection of management groups, subscriptions,
                          virtual networks, and subnets by the Managed Network. This
                          is a read-only property that is reflective of all ScopeAssignments
                          for this Managed Network
                        properties:
                          managementGroups:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of management groups covered
                              by the Managed Network
                          subscriptions:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of subscriptions covered by
                              the Managed Network
                          virtualNetworks:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of virtual nets covered by
                              the Managed Network
                          subnets:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of  subnets covered by the
                              Managed Network
                      connectivity:
                        readOnly: true
                        description: The collection of groups and policies concerned
                          with connectivity
                        properties:
                          groups:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    managementGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of management groups
                                        covered by the Managed Network
                                    subscriptions:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of subscriptions
                                        covered by the Managed Network
                                    virtualNetworks:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of virtual nets
                                        covered by the Managed Network
                                    subnets:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of  subnets covered
                                        by the Managed Network
                                  description: Base for resource properties.
                                  x-ms-client-flatten: true
                                kind:
                                  description: Responsibility role under which this
                                    Managed Network Group will be created
                                  enum:
                                  - Connectivity
                                  type: string
                                  x-ms-enum:
                                    name: Kind
                                    modelAsString: true
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of connectivity related Managed
                              Network Groups within the Managed Network
                          peerings:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    type:
                                      type: string
                                      enum:
                                      - HubAndSpokeTopology
                                      - MeshTopology
                                      x-ms-enum:
                                        name: type
                                        modelAsString: true
                                      description: Gets or sets the connectivity type
                                        of a network structure policy
                                    hub:
                                      description: Gets or sets the hub virtual network
                                        ID
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id
                                    spokes:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the spokes group IDs
                                    mesh:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: Gets or sets the mesh group IDs
                                  description: Base for resource properties.
                                  required:
                                  - type
                              description: The general resource model definition
                              x-ms-azure-resource: true
                            description: The collection of Managed Network Peering
                              Policies within the Managed Network
                    description: Base for resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                description: The general resource model definition
                x-ms-azure-resource: true
        '201':
          description: Update successful. The operation returns the updated Managed
            Network resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                      or Microsoft.Storage/storageAccounts.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  tags:
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    additionalProperties:
                      type: string
                    description: Resource tags
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        type: string
                        readOnly: true
                        description: Provisioning state of the ManagedNetwork resource.
                        enum:
                        - Updating
                        - Deleting
                        - Failed
                        - Succeeded
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      etag:
                        type: string
                        readOnly: true
                        description: A unique read-only string that changes whenever
                          the resource is updated.
                      scope:
                        description: The collection of management groups, subscriptions,
                          virtual networks, and subnets by the Managed Network. This
                          is a read-only property that is reflective of all ScopeAssignments
                          for this Managed Network
                        properties:
                          managementGroups:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of management groups covered
                              by the Managed Network
                          subscriptions:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of subscriptions covered by
                              the Managed Network
                          virtualNetworks:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of virtual nets covered by
                              the Managed Network
                          subnets:
                            type: array
                            items:
                              properties:
                                id:
                                  type: string
                                  description: Resource Id
                              description: Generic pointer to a resource
                            description: The collection of  subnets covered by the
                              Managed Network
                      connectivity:
                        readOnly: true
                        description: The collection of groups and policies concerned
                          with connectivity
                        properties:
                          groups:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Fully qualified resource Id for the
                                    resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                name:
                                  readOnly: true
                                  type: string
                                  description: The name of the resource
                                type:
                                  readOnly: true
                                  type: string
                                  description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                                    or Microsoft.Storage/storageAccounts.
                                location:
                                  type: string
                                  x-ms-mutability:
                                  - read
                                  - create
                                  description: The geo-location where the resource
                                    lives
                                properties:
                                  type: object
                                  properties:
                                    provisioningState:
                                      type: string
                                      readOnly: true
                                      description: Provisioning state of the ManagedNetwork
                                        resource.
                                      enum:
                                      - Updating
                                      - Deleting
                                      - Failed
                                      - Succeeded
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                    etag:
                                      type: string
                                      readOnly: true
                                      description: A unique read-only string that
                                        changes whenever the resource is updated.
                                    managementGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of management groups
                                        covered by the Managed Network
                                    subscriptions:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of subscriptions
                                        covered by the Managed Network
                                    virtualNetworks:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of virtual nets
                                        covered by the Managed Network
                                    subnets:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource Id
                                        description: Generic pointer to a resource
                                      description: The collection of  subnets covered
                                        by the Managed Network
                                  description: Base for resource properties.
                                  x-ms-client-flatten: true
                                kind:
                                  description: Responsibility role under which this
                                    Managed Network Group will be created
                                  enum:
                                  - Connectivity
                                  type: string
[...]
