openapi: 3.0.0
info:
  version: 2020-06-01
  title: PrivateLinkServicesForPowerBIClient
  description: Client to manage Power BI Private Link Service resources and connection
    members.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.PowerBI/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Power BI RP operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      type: object
                      properties:
                        name:
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        display:
                          description: Localized display information for this particular
                            operation.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              type: string
                              readOnly: true
                            operation:
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              type: string
                              readOnly: true
                            description:
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          type: string
                          readOnly: true
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                        actionType:
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          type: string
                          readOnly: true
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                    x-ms-identifiers:
                    - name
                    description: List of operations supported by the resource provider
                    readOnly: true
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI:
    get:
      tags:
      - PrivateLinkServices
      operationId: privateLinkServicesForPowerBI_ListBySubscriptionId
      description: Gets all the private link resources for the given subscription
        id.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  title: TenantResource
                  type: object
                  properties:
                    id:
                      type: string
                      readOnly: true
                      description: Specifies the resource identifier of the resource.
                    name:
                      type: string
                      description: Specifies the name of the resource.
                      readOnly: true
                    type:
                      type: string
                      readOnly: true
                      description: Specifies the type of the resource.
                    systemData:
                      readOnly: true
                      description: The system metadata relating to this resource.
                      type: object
                      properties:
                        createdBy:
                          type: string
                          description: The identity that created the resource.
                        createdByType:
                          type: string
                          description: The type of identity that created the resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        createdAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource creation (UTC).
                        lastModifiedBy:
                          type: string
                          description: The identity that last modified the resource.
                        lastModifiedByType:
                          type: string
                          description: The type of identity that last modified the
                            resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        lastModifiedAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource last modification
                            (UTC)
                    location:
                      type: string
                      description: Specifies the location of the resource.
                    properties:
                      x-ms-client-flatten: true
                      description: Specifies the properties of the resource.
                      title: TenantProperties
                      type: object
                      properties:
                        tenantId:
                          type: string
                          description: Specifies the tenant id of the resource.
                        privateEndpointConnections:
                          type: array
                          items:
                            title: PrivateEndpointConnection
                            type: object
                            properties:
                              id:
                                type: string
                                readOnly: true
                                description: Specifies the id of the resource.
                              name:
                                type: string
                                readOnly: true
                                description: Specifies the name of the resource.
                              type:
                                type: string
                                readOnly: true
                                description: Specifies the type of the resource.
                              systemData:
                                readOnly: true
                                description: The system meta data relating to this
                                  resource.
                                type: object
                                properties:
                                  createdBy:
                                    type: string
                                    description: The identity that created the resource.
                                  createdByType:
                                    type: string
                                    description: The type of identity that created
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  createdAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource creation
                                      (UTC).
                                  lastModifiedBy:
                                    type: string
                                    description: The identity that last modified the
                                      resource.
                                  lastModifiedByType:
                                    type: string
                                    description: The type of identity that last modified
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  lastModifiedAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource last modification
                                      (UTC)
                              properties:
                                x-ms-client-flatten: true
                                description: Specifies the properties of the private
                                  endpoint connection.
                                title: PrivateEndpointConnectionProperties
                                type: object
                                properties:
                                  privateEndpoint:
                                    description: Specifies the private endpoint.
                                    title: PrivateEndpoint
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Specifies the id of private endpoint.
                                  privateLinkServiceConnectionState:
                                    description: Specifies the connection state.
                                    type: object
                                    properties:
                                      status:
                                        description: Status of the connection.
                                        enum:
                                        - Pending
                                        - Approved
                                        - Rejected
                                        - Disconnected
                                        type: string
                                        x-ms-enum:
                                          name: PersistedConnectionStatus
                                          modelAsString: true
                                      description:
                                        description: Description of the connection
                                          state.
                                        type: string
                                      actionsRequired:
                                        description: Actions required (if any).
                                        type: string
                                  provisioningState:
                                    description: Provisioning state of the Private
                                      Endpoint Connection.
                                    enum:
                                    - Creating
                                    - Updating
                                    - Deleting
                                    - Succeeded
                                    - Canceled
                                    - Failed
                                    type: string
                                    x-ms-enum:
                                      name: ResourceProvisioningState
                                      modelAsString: true
                            x-ms-azure-resource: true
                          description: Specifies the private endpoint connections
                            of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags of the resource.
                  x-ms-azure-resource: true
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/operationResults/{operationId}:
    get:
      tags:
      - PrivateLinkServiceResourceOperationResults
      description: Gets operation result of Private Link Service Resources for Power
        BI.
      operationId: PrivateLinkServiceResourceOperationResults_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        description: The id of Azure async operation.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AsyncOperationDetail
                type: object
                properties:
                  id:
                    type: string
                    description: The operation id.
                  name:
                    type: string
                    description: The operation name.
                  status:
                    type: string
                    description: The operation status.
                  startTime:
                    type: string
                    description: The operation start time.
                  endTime:
                    type: string
                    description: The operation end time.
                  error:
                    description: The error.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
        '202':
          description: Operation is in progress.
          content:
            application/json:
              schema:
                title: AsyncOperationDetail
                type: object
                properties:
                  id:
                    type: string
                    description: The operation id.
                  name:
                    type: string
                    description: The operation name.
                  status:
                    type: string
                    description: The operation status.
                  startTime:
                    type: string
                    description: The operation start time.
                  endTime:
                    type: string
                    description: The operation end time.
                  error:
                    description: The error.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI
  : get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_ListByResourceGroup
      description: Gets all the private link resources for the given resource group.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  title: TenantResource
                  type: object
                  properties:
                    id:
                      type: string
                      readOnly: true
                      description: Specifies the resource identifier of the resource.
                    name:
                      type: string
                      description: Specifies the name of the resource.
                      readOnly: true
                    type:
                      type: string
                      readOnly: true
                      description: Specifies the type of the resource.
                    systemData:
                      readOnly: true
                      description: The system metadata relating to this resource.
                      type: object
                      properties:
                        createdBy:
                          type: string
                          description: The identity that created the resource.
                        createdByType:
                          type: string
                          description: The type of identity that created the resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        createdAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource creation (UTC).
                        lastModifiedBy:
                          type: string
                          description: The identity that last modified the resource.
                        lastModifiedByType:
                          type: string
                          description: The type of identity that last modified the
                            resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        lastModifiedAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource last modification
                            (UTC)
                    location:
                      type: string
                      description: Specifies the location of the resource.
                    properties:
                      x-ms-client-flatten: true
                      description: Specifies the properties of the resource.
                      title: TenantProperties
                      type: object
                      properties:
                        tenantId:
                          type: string
                          description: Specifies the tenant id of the resource.
                        privateEndpointConnections:
                          type: array
                          items:
                            title: PrivateEndpointConnection
                            type: object
                            properties:
                              id:
                                type: string
                                readOnly: true
                                description: Specifies the id of the resource.
                              name:
                                type: string
                                readOnly: true
                                description: Specifies the name of the resource.
                              type:
                                type: string
                                readOnly: true
                                description: Specifies the type of the resource.
                              systemData:
                                readOnly: true
                                description: The system meta data relating to this
                                  resource.
                                type: object
                                properties:
                                  createdBy:
                                    type: string
                                    description: The identity that created the resource.
                                  createdByType:
                                    type: string
                                    description: The type of identity that created
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  createdAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource creation
                                      (UTC).
                                  lastModifiedBy:
                                    type: string
                                    description: The identity that last modified the
                                      resource.
                                  lastModifiedByType:
                                    type: string
                                    description: The type of identity that last modified
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  lastModifiedAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource last modification
                                      (UTC)
                              properties:
                                x-ms-client-flatten: true
                                description: Specifies the properties of the private
                                  endpoint connection.
                                title: PrivateEndpointConnectionProperties
                                type: object
                                properties:
                                  privateEndpoint:
                                    description: Specifies the private endpoint.
                                    title: PrivateEndpoint
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Specifies the id of private endpoint.
                                  privateLinkServiceConnectionState:
                                    description: Specifies the connection state.
                                    type: object
                                    properties:
                                      status:
                                        description: Status of the connection.
                                        enum:
                                        - Pending
                                        - Approved
                                        - Rejected
                                        - Disconnected
                                        type: string
                                        x-ms-enum:
                                          name: PersistedConnectionStatus
                                          modelAsString: true
                                      description:
                                        description: Description of the connection
                                          state.
                                        type: string
                                      actionsRequired:
                                        description: Actions required (if any).
                                        type: string
                                  provisioningState:
                                    description: Provisioning state of the Private
                                      Endpoint Connection.
                                    enum:
                                    - Creating
                                    - Updating
                                    - Deleting
                                    - Succeeded
                                    - Canceled
                                    - Failed
                                    type: string
                                    x-ms-enum:
                                      name: ResourceProvisioningState
                                      modelAsString: true
                            x-ms-azure-resource: true
                          description: Specifies the private endpoint connections
                            of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags of the resource.
                  x-ms-azure-resource: true
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}
  : get:
      tags:
      - PowerBIResources
      operationId: PowerBIResources_ListByResourceName
      description: Gets all the private link resources for the given Azure resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: azureResourceName
        in: path
        required: true
        description: The name of the Azure resource.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  title: TenantResource
                  type: object
                  properties:
                    id:
                      type: string
                      readOnly: true
                      description: Specifies the resource identifier of the resource.
                    name:
                      type: string
                      description: Specifies the name of the resource.
                      readOnly: true
                    type:
                      type: string
                      readOnly: true
                      description: Specifies the type of the resource.
                    systemData:
                      readOnly: true
                      description: The system metadata relating to this resource.
                      type: object
                      properties:
                        createdBy:
                          type: string
                          description: The identity that created the resource.
                        createdByType:
                          type: string
                          description: The type of identity that created the resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        createdAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource creation (UTC).
                        lastModifiedBy:
                          type: string
                          description: The identity that last modified the resource.
                        lastModifiedByType:
                          type: string
                          description: The type of identity that last modified the
                            resource.
                          enum:
                          - User
                          - Application
                          - ManagedIdentity
                          - Key
                          x-ms-enum:
                            name: createdByType
                            modelAsString: true
                        lastModifiedAt:
                          type: string
                          format: date-time
                          description: The timestamp of resource last modification
                            (UTC)
                    location:
                      type: string
                      description: Specifies the location of the resource.
                    properties:
                      x-ms-client-flatten: true
                      description: Specifies the properties of the resource.
                      title: TenantProperties
                      type: object
                      properties:
                        tenantId:
                          type: string
                          description: Specifies the tenant id of the resource.
                        privateEndpointConnections:
                          type: array
                          items:
                            title: PrivateEndpointConnection
                            type: object
                            properties:
                              id:
                                type: string
                                readOnly: true
                                description: Specifies the id of the resource.
                              name:
                                type: string
                                readOnly: true
                                description: Specifies the name of the resource.
                              type:
                                type: string
                                readOnly: true
                                description: Specifies the type of the resource.
                              systemData:
                                readOnly: true
                                description: The system meta data relating to this
                                  resource.
                                type: object
                                properties:
                                  createdBy:
                                    type: string
                                    description: The identity that created the resource.
                                  createdByType:
                                    type: string
                                    description: The type of identity that created
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  createdAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource creation
                                      (UTC).
                                  lastModifiedBy:
                                    type: string
                                    description: The identity that last modified the
                                      resource.
                                  lastModifiedByType:
                                    type: string
                                    description: The type of identity that last modified
                                      the resource.
                                    enum:
                                    - User
                                    - Application
                                    - ManagedIdentity
                                    - Key
                                    x-ms-enum:
                                      name: createdByType
                                      modelAsString: true
                                  lastModifiedAt:
                                    type: string
                                    format: date-time
                                    description: The timestamp of resource last modification
                                      (UTC)
                              properties:
                                x-ms-client-flatten: true
                                description: Specifies the properties of the private
                                  endpoint connection.
                                title: PrivateEndpointConnectionProperties
                                type: object
                                properties:
                                  privateEndpoint:
                                    description: Specifies the private endpoint.
                                    title: PrivateEndpoint
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Specifies the id of private endpoint.
                                  privateLinkServiceConnectionState:
                                    description: Specifies the connection state.
                                    type: object
                                    properties:
                                      status:
                                        description: Status of the connection.
                                        enum:
                                        - Pending
                                        - Approved
                                        - Rejected
                                        - Disconnected
                                        type: string
                                        x-ms-enum:
                                          name: PersistedConnectionStatus
                                          modelAsString: true
                                      description:
                                        description: Description of the connection
                                          state.
                                        type: string
                                      actionsRequired:
                                        description: Actions required (if any).
                                        type: string
                                  provisioningState:
                                    description: Provisioning state of the Private
                                      Endpoint Connection.
                                    enum:
                                    - Creating
                                    - Updating
                                    - Deleting
                                    - Succeeded
                                    - Canceled
                                    - Failed
                                    type: string
                                    x-ms-enum:
                                      name: ResourceProvisioningState
                                      modelAsString: true
                            x-ms-azure-resource: true
                          description: Specifies the private endpoint connections
                            of the resource.
                    tags:
                      type: object
                      additionalProperties:
                        type: string
                      description: Specifies the tags of the resource.
                  x-ms-azure-resource: true
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - PowerBIResources
      operationId: PowerBIResources_Create
      description: Creates or updates a Private Link Service Resource for Power BI.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: azureResourceName
        in: path
        required: true
        description: The name of the Azure resource.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to be used with the HTTP request.
        schema:
          type: string
      - name: x-ms-client-tenant-id
        in: header
        description: The client tenant id in header. This is a GUID-formatted string
          (e.g. 00000000-0000-0000-0000-000000000000).
        required: false
        x-ms-client-name: ClientTenantId
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: TenantResource
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  description: Specifies the resource identifier of the resource.
                name:
                  type: string
                  description: Specifies the name of the resource.
                  readOnly: true
                type:
                  type: string
                  readOnly: true
                  description: Specifies the type of the resource.
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  description: Specifies the location of the resource.
                properties:
                  x-ms-client-flatten: true
                  description: Specifies the properties of the resource.
                  title: TenantProperties
                  type: object
                  properties:
                    tenantId:
                      type: string
                      description: Specifies the tenant id of the resource.
                    privateEndpointConnections:
                      type: array
                      items:
                        title: PrivateEndpointConnection
                        type: object
                        properties:
                          id:
                            type: string
                            readOnly: true
                            description: Specifies the id of the resource.
                          name:
                            type: string
                            readOnly: true
                            description: Specifies the name of the resource.
                          type:
                            type: string
                            readOnly: true
                            description: Specifies the type of the resource.
                          systemData:
                            readOnly: true
                            description: The system meta data relating to this resource.
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            x-ms-client-flatten: true
                            description: Specifies the properties of the private endpoint
                              connection.
                            title: PrivateEndpointConnectionProperties
                            type: object
                            properties:
                              privateEndpoint:
                                description: Specifies the private endpoint.
                                title: PrivateEndpoint
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Specifies the id of private endpoint.
                              privateLinkServiceConnectionState:
                                description: Specifies the connection state.
                                type: object
                                properties:
                                  status:
                                    description: Status of the connection.
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    - Disconnected
                                    type: string
                                    x-ms-enum:
                                      name: PersistedConnectionStatus
                                      modelAsString: true
                                  description:
                                    description: Description of the connection state.
                                    type: string
                                  actionsRequired:
                                    description: Actions required (if any).
                                    type: string
                              provisioningState:
                                description: Provisioning state of the Private Endpoint
                                  Connection.
                                enum:
                                - Creating
                                - Updating
                                - Deleting
                                - Succeeded
                                - Canceled
                                - Failed
                                type: string
                                x-ms-enum:
                                  name: ResourceProvisioningState
                                  modelAsString: true
                        x-ms-azure-resource: true
                      description: Specifies the private endpoint connections of the
                        resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Specifies the tags of the resource.
              x-ms-azure-resource: true
        description: Tenant resource to be created or updated.
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                title: TenantResource
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Specifies the resource identifier of the resource.
                  name:
                    type: string
                    description: Specifies the name of the resource.
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Specifies the type of the resource.
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Specifies the location of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Specifies the properties of the resource.
                    title: TenantProperties
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: Specifies the tenant id of the resource.
                      privateEndpointConnections:
                        type: array
                        items:
                          title: PrivateEndpointConnection
                          type: object
                          properties:
                            id:
                              type: string
                              readOnly: true
                              description: Specifies the id of the resource.
                            name:
                              type: string
                              readOnly: true
                              description: Specifies the name of the resource.
                            type:
                              type: string
                              readOnly: true
                              description: Specifies the type of the resource.
                            systemData:
                              readOnly: true
                              description: The system meta data relating to this resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              x-ms-client-flatten: true
                              description: Specifies the properties of the private
                                endpoint connection.
                              title: PrivateEndpointConnectionProperties
                              type: object
                              properties:
                                privateEndpoint:
                                  description: Specifies the private endpoint.
                                  title: PrivateEndpoint
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Specifies the id of private endpoint.
                                privateLinkServiceConnectionState:
                                  description: Specifies the connection state.
                                  type: object
                                  properties:
                                    status:
                                      description: Status of the connection.
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      - Disconnected
                                      type: string
                                      x-ms-enum:
                                        name: PersistedConnectionStatus
                                        modelAsString: true
                                    description:
                                      description: Description of the connection state.
                                      type: string
                                    actionsRequired:
                                      description: Actions required (if any).
                                      type: string
                                provisioningState:
                                  description: Provisioning state of the Private Endpoint
                                    Connection.
                                  enum:
                                  - Creating
                                  - Updating
                                  - Deleting
                                  - Succeeded
                                  - Canceled
                                  - Failed
                                  type: string
                                  x-ms-enum:
                                    name: ResourceProvisioningState
                                    modelAsString: true
                          x-ms-azure-resource: true
                        description: Specifies the private endpoint connections of
                          the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Specifies the tags of the resource.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: TenantResource
                type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Specifies the resource identifier of the resource.
                  name:
                    type: string
                    description: Specifies the name of the resource.
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                    description: Specifies the type of the resource.
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    description: Specifies the location of the resource.
                  properties:
                    x-ms-client-flatten: true
                    description: Specifies the properties of the resource.
                    title: TenantProperties
                    type: object
                    properties:
                      tenantId:
                        type: string
                        description: Specifies the tenant id of the resource.
                      privateEndpointConnections:
                        type: array
                        items:
                          title: PrivateEndpointConnection
                          type: object
                          properties:
                            id:
                              type: string
                              readOnly: true
                              description: Specifies the id of the resource.
                            name:
                              type: string
                              readOnly: true
                              description: Specifies the name of the resource.
                            type:
                              type: string
                              readOnly: true
                              description: Specifies the type of the resource.
                            systemData:
                              readOnly: true
                              description: The system meta data relating to this resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
[...]
