openapi: 3.0.0
info:
  version: 2021-02-01-preview
  title: DFP
  description: DFP Web API provides a RESTful set of web services that enables users
    to create, retrieve, update, and delete DFP instances
  x-ms-code-generation-settings:
    name: DFPManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynamics365FraudProtection/instances/{instanceName}
  : get:
      description: Gets details about the specified instances.
      tags:
      - Instances
      operationId: Instances_GetDetails
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure Resource group of which a given DFP instance
          is part. This name must be at least 1 character in length, and no more than
          90.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: instanceName
        in: path
        required: true
        description: The name of the instance. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      description: Provisions the specified DFP instance based on the configuration
        specified in the request.
      tags:
      - Instances
      operationId: Instances_Create
      x-ms-long-running-operation: true
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure Resource group of which a given DFP instance
          is part. This name must be at least 1 character in length, and no more than
          90.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: instanceName
        in: path
        required: true
        description: The name of the DFP instances. It must be a minimum of 3 characters,
          and a maximum of 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  properties:
                    administration:
                      description: A collection of DFP instance administrators
                      type: object
                      properties:
                        members:
                          type: array
                          items:
                            type: string
                            description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                          description: An array of administrator user identities.
                    provisioningState:
                      type: string
                      enum:
                      - Deleting
                      - Succeeded
                      - Failed
                      - Paused
                      - Suspended
                      - Provisioning
                      - Updating
                      - Suspending
                      - Pausing
                      - Resuming
                      - Preparing
                      - Scaling
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                      description: The current deployment state of DFP resource. The
                        provisioningState is to indicate states for resource provisioning.
                  description: An object that represents a set of mutable DFP resource
                    properties.
                  x-ms-client-flatten: true
                location:
                  type: string
                  description: Location of the DFP resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Key-value pairs of additional resource provisioning
                    properties.
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - location
        description: Contains the information used to provision the DFP instance.
        required: true
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        '201':
          description: InProgress. The resource will be created asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        '202':
          description: InProgress. Accepted. The resource will be updated asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      description: Deletes the specified DFP instance.
      tags:
      - Instances
      operationId: Instances_Delete
      x-ms-long-running-operation: true
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure Resource group of which a given DFP instance
          is part. This name must be at least 1 character in length, and no more than
          90.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: instanceName
        in: path
        required: true
        description: The name of the DFP instance. It must be at least 3 characters
          in length, and no more than 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted. The resource will be deleted asynchronously.
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      description: Updates the current state of the specified DFP instance.
      tags:
      - Instances
      operationId: Instances_Update
      x-ms-long-running-operation: true
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure Resource group of which a given DFP instance
          is part. This name must be at least 1 character in length, and no more than
          90.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: instanceName
        in: path
        required: true
        description: The name of the DFP instance. It must be at least 3 characters
          in length, and no more than 63.
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Provision request specification
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Key-value pairs of additional provisioning properties.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the provision operation request
                  type: object
                  properties:
                    administration:
                      description: A collection of DFP instance administrators
                      type: object
                      properties:
                        members:
                          type: array
                          items:
                            type: string
                            description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                          description: An array of administrator user identities.
        description: Request object that contains the updated information for the
          instance.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        '202':
          description: Accepted. The resource will be updated asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      administration:
                        description: A collection of DFP instance administrators
                        type: object
                        properties:
                          members:
                            type: array
                            items:
                              type: string
                              description: 'The UPN of the user. For example: johnsmith@contoso.com.'
                            description: An array of administrator user identities.
                      provisioningState:
                        type: string
                        enum:
                        - Deleting
                        - Succeeded
                        - Failed
                        - Paused
                        - Suspended
                        - Provisioning
                        - Updating
                        - Suspending
                        - Pausing
                        - Resuming
                        - Preparing
                        - Scaling
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                        description: The current deployment state of DFP resource.
                          The provisioningState is to indicate states for resource
                          provisioning.
                    description: An object that represents a set of mutable DFP resource
                      properties.
                    x-ms-client-flatten: true
                  location:
                    type: string
                    description: Location of the DFP resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Key-value pairs of additional resource provisioning
                      properties.
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /providers/Microsoft.Dynamics365FraudProtection/operations:
    get:
      tags:
      - Operations
      operationId: ListOperations
      description: Lists all of the available DFP REST API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      type: object
                      properties:
                        name:
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          type: string
                          readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        display:
                          description: Localized display information for this particular
                            operation.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              type: string
                              readOnly: true
                            resource:
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              type: string
                              readOnly: true
                            operation:
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              type: string
                              readOnly: true
                            description:
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              type: string
                              readOnly: true
                        origin:
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          type: string
                          readOnly: true
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                        actionType:
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          type: string
                          readOnly: true
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                    x-ms-identifiers:
                    - name
                    description: List of operations supported by the resource provider
                    readOnly: true
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dynamics365FraudProtection/instances
  : get:
      description: Gets all the Dedicated instance for the given resource group.
      tags:
      - Instances
      operationId: Instances_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Azure Resource group of which a given DFP instance
          is part. This name must be at least 1 character in length, and no more than
          90.
        schema:
          type: string
          minLength: 1
          maxLength: 90
          pattern: ^[-\w\._\(\)]+$
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: An array of DFP instance resources.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            administration:
                              description: A collection of DFP instance administrators
                              type: object
                              properties:
                                members:
                                  type: array
                                  items:
                                    type: string
                                    description: 'The UPN of the user. For example:
                                      johnsmith@contoso.com.'
                                  description: An array of administrator user identities.
                            provisioningState:
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                              description: The current deployment state of DFP resource.
                                The provisioningState is to indicate states for resource
                                provisioning.
                          description: An object that represents a set of mutable
                            DFP resource properties.
                          x-ms-client-flatten: true
                        location:
                          type: string
                          description: Location of the DFP resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Key-value pairs of additional resource provisioning
                            properties.
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - location
                    description: An array of DFP instance resources.
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
                    readOnly: true
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Dynamics365FraudProtection/instances:
    get:
      description: Lists all the Dedicated instances for the given subscription.
      tags:
      - Instances
      operationId: Instances_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: An array of DFP instance resources.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            administration:
                              description: A collection of DFP instance administrators
                              type: object
                              properties:
                                members:
                                  type: array
                                  items:
                                    type: string
                                    description: 'The UPN of the user. For example:
                                      johnsmith@contoso.com.'
                                  description: An array of administrator user identities.
                            provisioningState:
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                              description: The current deployment state of DFP resource.
                                The provisioningState is to indicate states for resource
                                provisioning.
                          description: An object that represents a set of mutable
                            DFP resource properties.
                          x-ms-client-flatten: true
                        location:
                          type: string
                          description: Location of the DFP resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Key-value pairs of additional resource provisioning
                            properties.
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - location
                    description: An array of DFP instance resources.
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
                    readOnly: true
                required:
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Dynamics365FraudProtection/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Instances
      operationId: Instances_CheckNameAvailability
      description: Check the name availability in the target location.
      parameters:
      - name: location
        in: path
        required: true
        description: The region name which the operation will lookup into.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: A unique identifier for a Microsoft Azure subscription. The subscription
          ID forms part of the URI for every service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Details of DFP instance name request body.
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[a-z][a-z0-9]*$
                  minLength: 3
                  maxLength: 63
                  description: Name for checking availability.
                type:
                  type: string
                  default: Microsoft.Dynamics365FraudProtection/instances
                  description: The resource type of DFP instance.
        description: The name of the instance.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The checking result of DFP instance name availability.
                type: object
                properties:
                  nameAvailable:
                    type: boolean
                    description: Indicator of availability of the DFP instance name.
                  reason:
                    type: string
[...]
