openapi: 3.0.0
info:
  version: 2025-03-01
  title: WebApplicationFirewallManagement
  description: APIs to manage web application firewall rules.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9_\-\(\)\.]*[^\.]$
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Defines a list of WebApplicationFirewallPolicies. It
                  contains a list of WebApplicationFirewallPolicy objects and a URL
                  link to get the next set of results.
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the web application firewall
                            policy.
                          properties:
                            policySettings:
                              description: Describes settings for the policy.
                              properties:
                                enabledState:
                                  description: Describes if the policy is in enabled
                                    or disabled state. Defaults to Enabled if not
                                    specified.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: PolicyEnabledState
                                    modelAsString: true
                                mode:
                                  description: Describes if it is in detection mode
                                    or prevention mode at policy level.
                                  type: string
                                  enum:
                                  - Prevention
                                  - Detection
                                  x-ms-enum:
                                    name: PolicyMode
                                    modelAsString: true
                                redirectUrl:
                                  description: If action type is redirect, this field
                                    represents redirect URL for the client.
                                  type: string
                                customBlockResponseStatusCode:
                                  description: If the action type is block, customer
                                    can override the response status code.
                                  type: integer
                                customBlockResponseBody:
                                  description: If the action type is block, customer
                                    can override the response body. The body must
                                    be specified in base64 encoding.
                                  type: string
                                  pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                                requestBodyCheck:
                                  description: Describes if policy managed rules will
                                    inspect the request body content.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: PolicyRequestBodyCheck
                                    modelAsString: true
                                javascriptChallengeExpirationInMinutes:
                                  description: Defines the JavaScript challenge cookie
                                    validity lifetime in minutes. This setting is
                                    only applicable to Premium_AzureFrontDoor. Value
                                    must be an integer between 5 and 1440 with the
                                    default value being 30.
                                  type: integer
                                  format: int32
                                  minimum: 5
                                  maximum: 1440
                                captchaExpirationInMinutes:
                                  description: Defines the Captcha cookie validity
                                    lifetime in minutes. This setting is only applicable
                                    to Premium_AzureFrontDoor. Value must be an integer
                                    between 5 and 1440 with the default value being
                                    30.
                                  type: integer
                                  format: int32
                                  minimum: 5
                                  maximum: 1440
                                logScrubbing:
                                  description: Defines rules that scrub sensitive
                                    fields in the Web Application Firewall logs.
                                  type: object
                                  x-ms-client-flatten: true
                                  properties:
                                    state:
                                      type: string
                                      description: State of the log scrubbing config.
                                        Default value is Enabled.
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: WebApplicationFirewallScrubbingState
                                        modelAsString: true
                                    scrubbingRules:
                                      type: array
                                      items:
                                        description: Defines the contents of the log
                                          scrubbing rules.
                                        type: object
                                        required:
                                        - matchVariable
                                        - selectorMatchOperator
                                        properties:
                                          matchVariable:
                                            type: string
                                            enum:
                                            - RequestIPAddress
                                            - RequestUri
                                            - QueryStringArgNames
                                            - RequestHeaderNames
                                            - RequestCookieNames
                                            - RequestBodyPostArgNames
                                            - RequestBodyJsonArgNames
                                            description: The variable to be scrubbed
                                              from the logs.
                                            x-ms-enum:
                                              name: scrubbingRuleEntryMatchVariable
                                              modelAsString: true
                                          selectorMatchOperator:
                                            type: string
                                            enum:
                                            - EqualsAny
                                            - Equals
                                            description: When matchVariable is a collection,
                                              operate on the selector to specify which
                                              elements in the collection this rule
                                              applies to.
                                            x-ms-enum:
                                              name: ' scrubbingRuleEntryMatchOperator'
                                              modelAsString: true
                                          selector:
                                            type: string
                                            description: When matchVariable is a collection,
                                              operator used to specify which elements
                                              in the collection this rule applies
                                              to.
                                          state:
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            description: Defines the state of a log
                                              scrubbing rule. Default value is enabled.
                                            x-ms-enum:
                                              name: ' scrubbingRuleEntryState'
                                              modelAsString: true
                                      x-ms-identifiers: []
                                      description: List of log scrubbing rules applied
                                        to the Web Application Firewall logs.
                            customRules:
                              description: Describes custom rules inside the policy.
                              properties:
                                rules:
                                  description: List of rules
                                  type: array
                                  items:
                                    description: Defines contents of a web application
                                      rule
                                    required:
                                    - priority
                                    - ruleType
                                    - matchConditions
                                    - action
                                    properties:
                                      name:
                                        type: string
                                        description: Describes the name of the rule.
                                        maxLength: 128
                                      priority:
                                        description: Describes priority of the rule.
                                          Rules with a lower value will be evaluated
                                          before rules with a higher value.
                                        type: integer
                                      enabledState:
                                        description: Describes if the custom rule
                                          is in enabled or disabled state. Defaults
                                          to Enabled if not specified.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: CustomRuleEnabledState
                                          modelAsString: true
                                      ruleType:
                                        description: Describes type of rule.
                                        type: string
                                        enum:
                                        - MatchRule
                                        - RateLimitRule
                                        x-ms-enum:
                                          name: RuleType
                                          modelAsString: true
                                      rateLimitDurationInMinutes:
                                        description: Time window for resetting the
                                          rate limit count. Default is 1 minute.
                                        type: integer
                                        minimum: 0
                                        maximum: 5
                                      rateLimitThreshold:
                                        description: Number of allowed requests per
                                          client within the time window.
                                        type: integer
                                        minimum: 0
                                      groupBy:
                                        description: Describes the list of variables
                                          to group the rate limit requests
                                        type: array
                                        items:
                                          description: Describes the variables available
                                            to group the rate limit requests
                                          required:
                                          - variableName
                                          type: object
                                          properties:
                                            variableName:
                                              description: Describes the supported
                                                variable for group by
                                              type: string
                                              enum:
                                              - SocketAddr
                                              - GeoLocation
                                              - None
                                              x-ms-enum:
                                                name: VariableName
                                                modelAsString: true
                                        x-ms-identifiers: []
                                      matchConditions:
                                        description: List of match conditions.
                                        type: array
                                        items:
                                          description: Define a match condition.
                                          required:
                                          - matchVariable
                                          - operator
                                          - matchValue
                                          properties:
                                            matchVariable:
                                              description: Request variable to compare
                                                with.
                                              type: string
                                              enum:
                                              - RemoteAddr
                                              - RequestMethod
                                              - QueryString
                                              - PostArgs
                                              - RequestUri
                                              - RequestHeader
                                              - RequestBody
                                              - Cookies
                                              - SocketAddr
                                              x-ms-enum:
                                                name: MatchVariable
                                                modelAsString: true
                                            selector:
                                              description: Match against a specific
                                                key from the QueryString, PostArgs,
                                                RequestHeader or Cookies variables.
                                                Default is null.
                                              type: string
                                            operator:
                                              description: Comparison type to use
                                                for matching with the variable value.
                                              type: string
                                              enum:
                                              - Any
                                              - IPMatch
                                              - GeoMatch
                                              - Equal
                                              - Contains
                                              - LessThan
                                              - GreaterThan
                                              - LessThanOrEqual
                                              - GreaterThanOrEqual
                                              - BeginsWith
                                              - EndsWith
                                              - RegEx
                                              x-ms-enum:
                                                name: Operator
                                                modelAsString: true
                                            negateCondition:
                                              description: Describes if the result
                                                of this condition should be negated.
                                              type: boolean
                                            matchValue:
                                              description: List of possible match
                                                values.
                                              type: array
                                              items:
                                                type: string
                                            transforms:
                                              description: List of transforms.
                                              type: array
                                              items:
                                                description: Describes what transforms
                                                  applied before matching.
                                                type: string
                                                enum:
                                                - Lowercase
                                                - Uppercase
                                                - Trim
                                                - UrlDecode
                                                - UrlEncode
                                                - RemoveNulls
                                                x-ms-enum:
                                                  name: TransformType
                                                  modelAsString: true
                                      action:
                                        description: Describes what action to be applied
                                          when rule matches.
                                        type: string
                                        enum:
                                        - Allow
                                        - Block
                                        - Log
                                        - Redirect
                                        - AnomalyScoring
                                        - JSChallenge
                                        - CAPTCHA
                                        x-ms-enum:
                                          name: ActionType
                                          modelAsString: true
                            managedRules:
                              description: Describes managed rules inside the policy.
                              properties:
                                managedRuleSets:
                                  description: List of rule sets.
                                  type: array
                                  items:
                                    type: object
                                    description: Defines a managed rule set.
                                    required:
                                    - ruleSetType
                                    - ruleSetVersion
                                    properties:
                                      ruleSetType:
                                        description: Defines the rule set type to
                                          use.
                                        type: string
                                      ruleSetVersion:
                                        description: Defines the version of the rule
                                          set to use.
                                        type: string
                                      ruleSetAction:
                                        description: Defines the rule set action.
                                        title: ruleSetAction
                                        type: string
                                        enum:
                                        - Block
                                        - Log
                                        - Redirect
                                        x-ms-enum:
                                          name: ManagedRuleSetActionType
                                          modelAsString: true
                                      exclusions:
                                        type: array
                                        items:
                                          required:
                                          - matchVariable
                                          - selectorMatchOperator
                                          - selector
                                          description: Exclude variables from managed
                                            rule evaluation.
                                          properties:
                                            matchVariable:
                                              type: string
                                              enum:
                                              - RequestHeaderNames
                                              - RequestCookieNames
                                              - QueryStringArgNames
                                              - RequestBodyPostArgNames
                                              - RequestBodyJsonArgNames
                                              description: The variable type to be
                                                excluded.
                                              x-ms-enum:
                                                name: ManagedRuleExclusionMatchVariable
                                                modelAsString: true
                                            selectorMatchOperator:
                                              type: string
                                              enum:
                                              - Equals
                                              - Contains
                                              - StartsWith
                                              - EndsWith
                                              - EqualsAny
                                              description: Comparison operator to
                                                apply to the selector when specifying
                                                which elements in the collection this
                                                exclusion applies to.
                                              x-ms-enum:
                                                name: ManagedRuleExclusionSelectorMatchOperator
                                                modelAsString: true
                                            selector:
                                              type: string
                                              description: Selector value for which
                                                elements in the collection this exclusion
                                                applies to.
                                        description: Describes the exclusions that
                                          are applied to all rules in the set.
                                      ruleGroupOverrides:
                                        description: Defines the rule group overrides
                                          to apply to the rule set.
                                        type: array
                                        items:
                                          description: Defines a managed rule group
                                            override setting.
                                          required:
                                          - ruleGroupName
                                          properties:
                                            ruleGroupName:
                                              description: Describes the managed rule
                                                group to override.
                                              type: string
                                            exclusions:
                                              type: array
                                              items:
                                                required:
                                                - matchVariable
                                                - selectorMatchOperator
                                                - selector
                                                description: Exclude variables from
                                                  managed rule evaluation.
                                                properties:
                                                  matchVariable:
                                                    type: string
                                                    enum:
                                                    - RequestHeaderNames
                                                    - RequestCookieNames
                                                    - QueryStringArgNames
                                                    - RequestBodyPostArgNames
                                                    - RequestBodyJsonArgNames
                                                    description: The variable type
                                                      to be excluded.
                                                    x-ms-enum:
                                                      name: ManagedRuleExclusionMatchVariable
                                                      modelAsString: true
                                                  selectorMatchOperator:
                                                    type: string
                                                    enum:
                                                    - Equals
                                                    - Contains
                                                    - StartsWith
                                                    - EndsWith
                                                    - EqualsAny
                                                    description: Comparison operator
                                                      to apply to the selector when
                                                      specifying which elements in
                                                      the collection this exclusion
                                                      applies to.
                                                    x-ms-enum:
                                                      name: ManagedRuleExclusionSelectorMatchOperator
                                                      modelAsString: true
                                                  selector:
                                                    type: string
                                                    description: Selector value for
                                                      which elements in the collection
                                                      this exclusion applies to.
                                              description: Describes the exclusions
                                                that are applied to all rules in the
                                                group.
                                            rules:
                                              description: List of rules that will
                                                be disabled. If none specified, all
                                                rules in the group will be disabled.
                                              type: array
                                              items:
                                                description: Defines a managed rule
                                                  group override setting.
                                                required:
                                                - ruleId
                                                properties:
                                                  ruleId:
                                                    description: Identifier for the
                                                      managed rule.
                                                    type: string
                                                  enabledState:
                                                    description: Describes if the
                                                      managed rule is in enabled or
                                                      disabled state. Defaults to
                                                      Disabled if not specified.
                                                    type: string
                                                    enum:
                                                    - Disabled
                                                    - Enabled
                                                    x-ms-enum:
                                                      name: ManagedRuleEnabledState
                                                      modelAsString: true
                                                  action:
                                                    description: Describes the override
                                                      action to be applied when rule
                                                      matches.
                                                    type: string
                                                    enum:
                                                    - Allow
                                                    - Block
                                                    - Log
                                                    - Redirect
                                                    - AnomalyScoring
                                                    - JSChallenge
                                                    - CAPTCHA
                                                    x-ms-enum:
                                                      name: ActionType
                                                      modelAsString: true
                                                  exclusions:
                                                    type: array
                                                    items:
                                                      required:
                                                      - matchVariable
                                                      - selectorMatchOperator
                                                      - selector
                                                      description: Exclude variables
                                                        from managed rule evaluation.
                                                      properties:
                                                        matchVariable:
                                                          type: string
                                                          enum:
                                                          - RequestHeaderNames
                                                          - RequestCookieNames
                                                          - QueryStringArgNames
                                                          - RequestBodyPostArgNames
                                                          - RequestBodyJsonArgNames
                                                          description: The variable
                                                            type to be excluded.
                                                          x-ms-enum:
                                                            name: ManagedRuleExclusionMatchVariable
                                                            modelAsString: true
                                                        selectorMatchOperator:
                                                          type: string
                                                          enum:
                                                          - Equals
                                                          - Contains
                                                          - StartsWith
                                                          - EndsWith
                                                          - EqualsAny
                                                          description: Comparison
                                                            operator to apply to the
                                                            selector when specifying
                                                            which elements in the
                                                            collection this exclusion
                                                            applies to.
                                                          x-ms-enum:
                                                            name: ManagedRuleExclusionSelectorMatchOperator
                                                            modelAsString: true
                                                        selector:
                                                          type: string
                                                          description: Selector value
                                                            for which elements in
                                                            the collection this exclusion
                                                            applies to.
                                                    description: Describes the exclusions
                                                      that are applied to this specific
                                                      rule.
                            frontendEndpointLinks:
                              description: Describes Frontend Endpoints associated
                                with this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Frontend
                                  Endpoint.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            routingRuleLinks:
                              description: Describes Routing Rules associated with
                                this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Routing
                                  Rule.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            securityPolicyLinks:
                              description: Describes Security Policy associated with
                                this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Security
                                  Policy.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the policy.
                            resourceState:
                              title: Resource status of the policy.
                              readOnly: true
                              enum:
                              - Creating
                              - Enabling
                              - Enabled
                              - Disabling
                              - Disabled
                              - Deleting
                              type: string
                              x-ms-enum:
                                name: PolicyResourceState
                                modelAsString: true
                        etag:
                          type: string
                          description: Gets a unique read-only string that changes
                            whenever the resource is updated.
                        sku:
                          description: The pricing tier of web application firewall
                            policy. Defaults to Classic_AzureFrontDoor if not specified.
                          properties:
                            name:
                              description: Name of the pricing tier.
                              enum:
                              - Classic_AzureFrontDoor
                              - Standard_AzureFrontDoor
                              - Premium_AzureFrontDoor
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          type: object
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of WebApplicationFirewallPolicies within a resource
                      group.
                  nextLink:
                    type: string
                    description: URL to get the next set of WebApplicationFirewallPolicy
                      objects if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Front Door service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  code:
                    description: Error code.
                    readOnly: true
                    type: string
                  message:
                    description: Error message indicating why the operation failed.
                    readOnly: true
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/frontDoorWebApplicationFirewallPolicies:
    get:
      tags:
      - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a subscription.
      operationId: Policies_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Defines a list of WebApplicationFirewallPolicies. It
                  contains a list of WebApplicationFirewallPolicy objects and a URL
                  link to get the next set of results.
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the web application firewall
                            policy.
                          properties:
                            policySettings:
                              description: Describes settings for the policy.
                              properties:
                                enabledState:
                                  description: Describes if the policy is in enabled
                                    or disabled state. Defaults to Enabled if not
                                    specified.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: PolicyEnabledState
                                    modelAsString: true
                                mode:
                                  description: Describes if it is in detection mode
                                    or prevention mode at policy level.
                                  type: string
                                  enum:
                                  - Prevention
                                  - Detection
                                  x-ms-enum:
                                    name: PolicyMode
                                    modelAsString: true
                                redirectUrl:
                                  description: If action type is redirect, this field
                                    represents redirect URL for the client.
                                  type: string
                                customBlockResponseStatusCode:
                                  description: If the action type is block, customer
                                    can override the response status code.
                                  type: integer
                                customBlockResponseBody:
                                  description: If the action type is block, customer
                                    can override the response body. The body must
                                    be specified in base64 encoding.
                                  type: string
                                  pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                                requestBodyCheck:
                                  description: Describes if policy managed rules will
                                    inspect the request body content.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: PolicyRequestBodyCheck
                                    modelAsString: true
                                javascriptChallengeExpirationInMinutes:
                                  description: Defines the JavaScript challenge cookie
                                    validity lifetime in minutes. This setting is
                                    only applicable to Premium_AzureFrontDoor. Value
                                    must be an integer between 5 and 1440 with the
                                    default value being 30.
                                  type: integer
                                  format: int32
                                  minimum: 5
                                  maximum: 1440
                                captchaExpirationInMinutes:
                                  description: Defines the Captcha cookie validity
                                    lifetime in minutes. This setting is only applicable
                                    to Premium_AzureFrontDoor. Value must be an integer
                                    between 5 and 1440 with the default value being
                                    30.
                                  type: integer
                                  format: int32
                                  minimum: 5
                                  maximum: 1440
                                logScrubbing:
                                  description: Defines rules that scrub sensitive
                                    fields in the Web Application Firewall logs.
                                  type: object
                                  x-ms-client-flatten: true
                                  properties:
                                    state:
                                      type: string
                                      description: State of the log scrubbing config.
                                        Default value is Enabled.
                                      enum:
                                      - Enabled
                                      - Disabled
                                      x-ms-enum:
                                        name: WebApplicationFirewallScrubbingState
                                        modelAsString: true
                                    scrubbingRules:
                                      type: array
                                      items:
                                        description: Defines the contents of the log
                                          scrubbing rules.
                                        type: object
                                        required:
                                        - matchVariable
                                        - selectorMatchOperator
                                        properties:
                                          matchVariable:
                                            type: string
                                            enum:
                                            - RequestIPAddress
                                            - RequestUri
                                            - QueryStringArgNames
                                            - RequestHeaderNames
                                            - RequestCookieNames
                                            - RequestBodyPostArgNames
                                            - RequestBodyJsonArgNames
                                            description: The variable to be scrubbed
                                              from the logs.
                                            x-ms-enum:
                                              name: scrubbingRuleEntryMatchVariable
                                              modelAsString: true
                                          selectorMatchOperator:
                                            type: string
                                            enum:
                                            - EqualsAny
                                            - Equals
                                            description: When matchVariable is a collection,
                                              operate on the selector to specify which
                                              elements in the collection this rule
                                              applies to.
                                            x-ms-enum:
                                              name: ' scrubbingRuleEntryMatchOperator'
                                              modelAsString: true
                                          selector:
                                            type: string
                                            description: When matchVariable is a collection,
                                              operator used to specify which elements
                                              in the collection this rule applies
                                              to.
                                          state:
                                            type: string
                                            enum:
                                            - Enabled
                                            - Disabled
                                            description: Defines the state of a log
                                              scrubbing rule. Default value is enabled.
                                            x-ms-enum:
                                              name: ' scrubbingRuleEntryState'
                                              modelAsString: true
                                      x-ms-identifiers: []
                                      description: List of log scrubbing rules applied
                                        to the Web Application Firewall logs.
                            customRules:
                              description: Describes custom rules inside the policy.
                              properties:
                                rules:
                                  description: List of rules
                                  type: array
                                  items:
                                    description: Defines contents of a web application
                                      rule
                                    required:
                                    - priority
                                    - ruleType
                                    - matchConditions
                                    - action
                                    properties:
                                      name:
                                        type: string
                                        description: Describes the name of the rule.
                                        maxLength: 128
                                      priority:
                                        description: Describes priority of the rule.
                                          Rules with a lower value will be evaluated
                                          before rules with a higher value.
                                        type: integer
                                      enabledState:
                                        description: Describes if the custom rule
                                          is in enabled or disabled state. Defaults
                                          to Enabled if not specified.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: CustomRuleEnabledState
                                          modelAsString: true
                                      ruleType:
                                        description: Describes type of rule.
                                        type: string
                                        enum:
                                        - MatchRule
                                        - RateLimitRule
                                        x-ms-enum:
                                          name: RuleType
                                          modelAsString: true
                                      rateLimitDurationInMinutes:
                                        description: Time window for resetting the
                                          rate limit count. Default is 1 minute.
                                        type: integer
                                        minimum: 0
                                        maximum: 5
                                      rateLimitThreshold:
                                        description: Number of allowed requests per
                                          client within the time window.
                                        type: integer
                                        minimum: 0
                                      groupBy:
                                        description: Describes the list of variables
                                          to group the rate limit requests
                                        type: array
                                        items:
                                          description: Describes the variables available
                                            to group the rate limit requests
                                          required:
                                          - variableName
                                          type: object
                                          properties:
                                            variableName:
                                              description: Describes the supported
                                                variable for group by
                                              type: string
                                              enum:
                                              - SocketAddr
                                              - GeoLocation
                                              - None
                                              x-ms-enum:
                                                name: VariableName
                                                modelAsString: true
                                        x-ms-identifiers: []
                                      matchConditions:
                                        description: List of match conditions.
                                        type: array
                                        items:
                                          description: Define a match condition.
                                          required:
                                          - matchVariable
                                          - operator
                                          - matchValue
                                          properties:
                                            matchVariable:
                                              description: Request variable to compare
                                                with.
                                              type: string
                                              enum:
                                              - RemoteAddr
                                              - RequestMethod
                                              - QueryString
                                              - PostArgs
                                              - RequestUri
                                              - RequestHeader
                                              - RequestBody
                                              - Cookies
                                              - SocketAddr
                                              x-ms-enum:
                                                name: MatchVariable
                                                modelAsString: true
                                            selector:
                                              description: Match against a specific
                                                key from the QueryString, PostArgs,
                                                RequestHeader or Cookies variables.
                                                Default is null.
                                              type: string
                                            operator:
                                              description: Comparison type to use
                                                for matching with the variable value.
                                              type: string
                                              enum:
                                              - Any
                                              - IPMatch
                                              - GeoMatch
                                              - Equal
                                              - Contains
                                              - LessThan
                                              - GreaterThan
                                              - LessThanOrEqual
                                              - GreaterThanOrEqual
                                              - BeginsWith
                                              - EndsWith
                                              - RegEx
                                              x-ms-enum:
                                                name: Operator
                                                modelAsString: true
                                            negateCondition:
                                              description: Describes if the result
                                                of this condition should be negated.
                                              type: boolean
                                            matchValue:
                                              description: List of possible match
                                                values.
                                              type: array
                                              items:
                                                type: string
                                            transforms:
                                              description: List of transforms.
                                              type: array
                                              items:
                                                description: Describes what transforms
                                                  applied before matching.
                                                type: string
                                                enum:
                                                - Lowercase
                                                - Uppercase
                                                - Trim
                                                - UrlDecode
                                                - UrlEncode
                                                - RemoveNulls
                                                x-ms-enum:
                                                  name: TransformType
                                                  modelAsString: true
                                      action:
                                        description: Describes what action to be applied
                                          when rule matches.
                                        type: string
                                        enum:
                                        - Allow
                                        - Block
                                        - Log
                                        - Redirect
                                        - AnomalyScoring
                                        - JSChallenge
                                        - CAPTCHA
                                        x-ms-enum:
                                          name: ActionType
                                          modelAsString: true
                            managedRules:
                              description: Describes managed rules inside the policy.
                              properties:
                                managedRuleSets:
                                  description: List of rule sets.
                                  type: array
                                  items:
                                    type: object
                                    description: Defines a managed rule set.
                                    required:
                                    - ruleSetType
                                    - ruleSetVersion
                                    properties:
                                      ruleSetType:
                                        description: Defines the rule set type to
                                          use.
                                        type: string
                                      ruleSetVersion:
                                        description: Defines the version of the rule
                                          set to use.
                                        type: string
                                      ruleSetAction:
                                        description: Defines the rule set action.
                                        title: ruleSetAction
                                        type: string
                                        enum:
                                        - Block
                                        - Log
                                        - Redirect
                                        x-ms-enum:
                                          name: ManagedRuleSetActionType
                                          modelAsString: true
                                      exclusions:
                                        type: array
                                        items:
                                          required:
                                          - matchVariable
                                          - selectorMatchOperator
                                          - selector
                                          description: Exclude variables from managed
                                            rule evaluation.
                                          properties:
                                            matchVariable:
                                              type: string
                                              enum:
                                              - RequestHeaderNames
                                              - RequestCookieNames
                                              - QueryStringArgNames
                                              - RequestBodyPostArgNames
                                              - RequestBodyJsonArgNames
                                              description: The variable type to be
                                                excluded.
                                              x-ms-enum:
                                                name: ManagedRuleExclusionMatchVariable
                                                modelAsString: true
                                            selectorMatchOperator:
                                              type: string
                                              enum:
                                              - Equals
                                              - Contains
                                              - StartsWith
                                              - EndsWith
                                              - EqualsAny
                                              description: Comparison operator to
                                                apply to the selector when specifying
                                                which elements in the collection this
                                                exclusion applies to.
                                              x-ms-enum:
                                                name: ManagedRuleExclusionSelectorMatchOperator
                                                modelAsString: true
                                            selector:
                                              type: string
                                              description: Selector value for which
                                                elements in the collection this exclusion
                                                applies to.
                                        description: Describes the exclusions that
                                          are applied to all rules in the set.
                                      ruleGroupOverrides:
                                        description: Defines the rule group overrides
                                          to apply to the rule set.
                                        type: array
                                        items:
                                          description: Defines a managed rule group
                                            override setting.
                                          required:
                                          - ruleGroupName
                                          properties:
                                            ruleGroupName:
                                              description: Describes the managed rule
                                                group to override.
                                              type: string
                                            exclusions:
                                              type: array
                                              items:
                                                required:
                                                - matchVariable
                                                - selectorMatchOperator
                                                - selector
                                                description: Exclude variables from
                                                  managed rule evaluation.
                                                properties:
                                                  matchVariable:
                                                    type: string
                                                    enum:
                                                    - RequestHeaderNames
                                                    - RequestCookieNames
                                                    - QueryStringArgNames
                                                    - RequestBodyPostArgNames
                                                    - RequestBodyJsonArgNames
                                                    description: The variable type
                                                      to be excluded.
                                                    x-ms-enum:
                                                      name: ManagedRuleExclusionMatchVariable
                                                      modelAsString: true
                                                  selectorMatchOperator:
                                                    type: string
                                                    enum:
                                                    - Equals
                                                    - Contains
                                                    - StartsWith
                                                    - EndsWith
                                                    - EqualsAny
                                                    description: Comparison operator
                                                      to apply to the selector when
                                                      specifying which elements in
                                                      the collection this exclusion
                                                      applies to.
                                                    x-ms-enum:
                                                      name: ManagedRuleExclusionSelectorMatchOperator
                                                      modelAsString: true
                                                  selector:
                                                    type: string
                                                    description: Selector value for
                                                      which elements in the collection
                                                      this exclusion applies to.
                                              description: Describes the exclusions
                                                that are applied to all rules in the
                                                group.
                                            rules:
                                              description: List of rules that will
                                                be disabled. If none specified, all
                                                rules in the group will be disabled.
                                              type: array
                                              items:
                                                description: Defines a managed rule
                                                  group override setting.
                                                required:
                                                - ruleId
                                                properties:
                                                  ruleId:
                                                    description: Identifier for the
                                                      managed rule.
                                                    type: string
                                                  enabledState:
                                                    description: Describes if the
                                                      managed rule is in enabled or
                                                      disabled state. Defaults to
                                                      Disabled if not specified.
                                                    type: string
                                                    enum:
                                                    - Disabled
                                                    - Enabled
                                                    x-ms-enum:
                                                      name: ManagedRuleEnabledState
                                                      modelAsString: true
                                                  action:
                                                    description: Describes the override
                                                      action to be applied when rule
                                                      matches.
                                                    type: string
                                                    enum:
                                                    - Allow
                                                    - Block
                                                    - Log
                                                    - Redirect
                                                    - AnomalyScoring
                                                    - JSChallenge
                                                    - CAPTCHA
                                                    x-ms-enum:
                                                      name: ActionType
                                                      modelAsString: true
                                                  exclusions:
                                                    type: array
                                                    items:
                                                      required:
                                                      - matchVariable
                                                      - selectorMatchOperator
                                                      - selector
                                                      description: Exclude variables
                                                        from managed rule evaluation.
                                                      properties:
                                                        matchVariable:
                                                          type: string
                                                          enum:
                                                          - RequestHeaderNames
                                                          - RequestCookieNames
                                                          - QueryStringArgNames
                                                          - RequestBodyPostArgNames
                                                          - RequestBodyJsonArgNames
                                                          description: The variable
                                                            type to be excluded.
                                                          x-ms-enum:
                                                            name: ManagedRuleExclusionMatchVariable
                                                            modelAsString: true
                                                        selectorMatchOperator:
                                                          type: string
                                                          enum:
                                                          - Equals
                                                          - Contains
                                                          - StartsWith
                                                          - EndsWith
                                                          - EqualsAny
                                                          description: Comparison
                                                            operator to apply to the
                                                            selector when specifying
                                                            which elements in the
                                                            collection this exclusion
                                                            applies to.
                                                          x-ms-enum:
                                                            name: ManagedRuleExclusionSelectorMatchOperator
                                                            modelAsString: true
                                                        selector:
                                                          type: string
                                                          description: Selector value
                                                            for which elements in
                                                            the collection this exclusion
                                                            applies to.
                                                    description: Describes the exclusions
                                                      that are applied to this specific
                                                      rule.
                            frontendEndpointLinks:
                              description: Describes Frontend Endpoints associated
                                with this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Frontend
                                  Endpoint.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            routingRuleLinks:
                              description: Describes Routing Rules associated with
                                this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Routing
                                  Rule.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            securityPolicyLinks:
                              description: Describes Security Policy associated with
                                this Web Application Firewall policy.
                              type: array
                              readOnly: true
                              items:
                                description: Defines the Resource ID for a Security
                                  Policy.
                                type: object
                                readOnly: true
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                            provisioningState:
                              readOnly: true
                              type: string
                              description: Provisioning state of the policy.
                            resourceState:
                              title: Resource status of the policy.
                              readOnly: true
                              enum:
                              - Creating
                              - Enabling
                              - Enabled
                              - Disabling
                              - Disabled
                              - Deleting
                              type: string
                              x-ms-enum:
                                name: PolicyResourceState
                                modelAsString: true
                        etag:
                          type: string
                          description: Gets a unique read-only string that changes
                            whenever the resource is updated.
                        sku:
                          description: The pricing tier of web application firewall
                            policy. Defaults to Classic_AzureFrontDoor if not specified.
                          properties:
                            name:
                              description: Name of the pricing tier.
                              enum:
                              - Classic_AzureFrontDoor
                              - Standard_AzureFrontDoor
                              - Premium_AzureFrontDoor
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          type: object
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of WebApplicationFirewallPolicies within a resource
                      group.
                  nextLink:
                    type: string
                    description: URL to get the next set of WebApplicationFirewallPolicy
                      objects if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Front Door service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Error code.
                        readOnly: true
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        readOnly: true
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Retrieve protection policy with specified name within a resource
        group.
      operationId: Policies_Get
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the Resource group within the Azure subscription.
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9_\-\(\)\.]*[^\.]$
      - name: policyName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The name of the Web Application Firewall Policy.
        schema:
          type: string
          maxLength: 128
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the web application firewall policy.
                    properties:
                      policySettings:
                        description: Describes settings for the policy.
                        properties:
                          enabledState:
                            description: Describes if the policy is in enabled or
                              disabled state. Defaults to Enabled if not specified.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: PolicyEnabledState
                              modelAsString: true
                          mode:
                            description: Describes if it is in detection mode or prevention
                              mode at policy level.
                            type: string
                            enum:
                            - Prevention
                            - Detection
                            x-ms-enum:
                              name: PolicyMode
                              modelAsString: true
                          redirectUrl:
                            description: If action type is redirect, this field represents
                              redirect URL for the client.
                            type: string
                          customBlockResponseStatusCode:
                            description: If the action type is block, customer can
                              override the response status code.
                            type: integer
                          customBlockResponseBody:
                            description: If the action type is block, customer can
                              override the response body. The body must be specified
                              in base64 encoding.
                            type: string
                            pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
                          requestBodyCheck:
                            description: Describes if policy managed rules will inspect
                              the request body content.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: PolicyRequestBodyCheck
                              modelAsString: true
                          javascriptChallengeExpirationInMinutes:
                            description: Defines the JavaScript challenge cookie validity
                              lifetime in minutes. This setting is only applicable
                              to Premium_AzureFrontDoor. Value must be an integer
                              between 5 and 1440 with the default value being 30.
                            type: integer
                            format: int32
                            minimum: 5
                            maximum: 1440
                          captchaExpirationInMinutes:
                            description: Defines the Captcha cookie validity lifetime
                              in minutes. This setting is only applicable to Premium_AzureFrontDoor.
                              Value must be an integer between 5 and 1440 with the
                              default value being 30.
                            type: integer
                            format: int32
                            minimum: 5
                            maximum: 1440
                          logScrubbing:
                            description: Defines rules that scrub sensitive fields
                              in the Web Application Firewall logs.
                            type: object
                            x-ms-client-flatten: true
                            properties:
                              state:
                                type: string
                                description: State of the log scrubbing config. Default
                                  value is Enabled.
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: WebApplicationFirewallScrubbingState
                                  modelAsString: true
                              scrubbingRules:
                                type: array
                                items:
                                  description: Defines the contents of the log scrubbing
                                    rules.
                                  type: object
                                  required:
                                  - matchVariable
                                  - selectorMatchOperator
                                  properties:
                                    matchVariable:
                                      type: string
                                      enum:
                                      - RequestIPAddress
                                      - RequestUri
                                      - QueryStringArgNames
                                      - RequestHeaderNames
                                      - RequestCookieNames
                                      - RequestBodyPostArgNames
                                      - RequestBodyJsonArgNames
                                      description: The variable to be scrubbed from
                                        the logs.
                                      x-ms-enum:
                                        name: scrubbingRuleEntryMatchVariable
                                        modelAsString: true
                                    selectorMatchOperator:
                                      type: string
                                      enum:
                                      - EqualsAny
                                      - Equals
                                      description: When matchVariable is a collection,
                                        operate on the selector to specify which elements
                                        in the collection this rule applies to.
                                      x-ms-enum:
                                        name: ' scrubbingRuleEntryMatchOperator'
                                        modelAsString: true
                                    selector:
                                      type: string
                                      description: When matchVariable is a collection,
                                        operator used to specify which elements in
                                        the collection this rule applies to.
                                    state:
                                      type: string
                                      enum:
                                      - Enabled
                                      - Disabled
                                      description: Defines the state of a log scrubbing
                                        rule. Default value is enabled.
                                      x-ms-enum:
                                        name: ' scrubbingRuleEntryState'
                                        modelAsString: true
                                x-ms-identifiers: []
                                description: List of log scrubbing rules applied to
                                  the Web Application Firewall logs.
                      customRules:
                        description: Describes custom rules inside the policy.
                        properties:
                          rules:
                            description: List of rules
                            type: array
                            items:
                              description: Defines contents of a web application rule
                              required:
                              - priority
                              - ruleType
                              - matchConditions
                              - action
                              properties:
                                name:
                                  type: string
                                  description: Describes the name of the rule.
                                  maxLength: 128
                                priority:
                                  description: Describes priority of the rule. Rules
                                    with a lower value will be evaluated before rules
                                    with a higher value.
                                  type: integer
                                enabledState:
                                  description: Describes if the custom rule is in
                                    enabled or disabled state. Defaults to Enabled
                                    if not specified.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: CustomRuleEnabledState
                                    modelAsString: true
                                ruleType:
                                  description: Describes type of rule.
                                  type: string
                                  enum:
                                  - MatchRule
                                  - RateLimitRule
                                  x-ms-enum:
                                    name: RuleType
                                    modelAsString: true
                                rateLimitDurationInMinutes:
                                  description: Time window for resetting the rate
                                    limit count. Default is 1 minute.
                                  type: integer
                                  minimum: 0
                                  maximum: 5
                                rateLimitThreshold:
                                  description: Number of allowed requests per client
                                    within the time window.
                                  type: integer
                                  minimum: 0
                                groupBy:
                                  description: Describes the list of variables to
                                    group the rate limit requests
                                  type: array
                                  items:
                                    description: Describes the variables available
                                      to group the rate limit requests
                                    required:
                                    - variableName
                                    type: object
                                    properties:
                                      variableName:
                                        description: Describes the supported variable
                                          for group by
                                        type: string
                                        enum:
                                        - SocketAddr
                                        - GeoLocation
                                        - None
[...]
