openapi: 3.0.0
info:
  version: 2025-05-01
  title: PeeringManagementClient
  description: APIs to manage Peering resources through the Azure Resource Manager.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/cdnPeeringPrefixes:
    get:
      tags:
      - CdnPeeringPrefixes
      description: Lists all of the advertised prefixes for the specified peering
        location
      operationId: CdnPeeringPrefixes_List
      parameters:
      - name: peeringLocation
        in: query
        description: The peering location.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of CDN peering prefixes.
                type: object
                properties:
                  value:
                    description: The list of CDN peering prefixes.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        id:
                          description: The ID of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        properties:
                          description: The properties that define a cdn peering prefix.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            prefix:
                              description: The prefix.
                              type: string
                              readOnly: true
                            azureRegion:
                              description: The Azure region.
                              type: string
                              readOnly: true
                            azureService:
                              description: The Azure service.
                              type: string
                              readOnly: true
                            isPrimaryRegion:
                              description: The flag that indicates whether or not
                                this is the primary region.
                              type: boolean
                              readOnly: true
                            bgpCommunity:
                              description: The BGP Community
                              type: string
                              readOnly: true
                      description: The ARM resource class.
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
                  nextLink:
                    description: The link to fetch the next page of CDN peering prefixes.
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/checkServiceProviderAvailability:
    post:
      tags:
      - CheckServiceProviderAvailability
      description: Checks if the peering service provider is present within 1000 miles
        of customer's location
      operationId: CheckServiceProviderAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Class for CheckServiceProviderAvailabilityInput
              type: object
              properties:
                peeringServiceLocation:
                  description: Gets or sets the peering service location.
                  type: string
                peeringServiceProvider:
                  description: Gets or sets the peering service provider.
                  type: string
        description: The CheckServiceProviderAvailabilityInput indicating customer
          location and service provider.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                enum:
                - Available
                - Unavailable
                type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings:
    get:
      tags:
      - LegacyPeerings
      description: Lists all of the legacy peerings under the given subscription matching
        the specified kind and location.
      operationId: LegacyPeerings_List
      parameters:
      - name: peeringLocation
        in: query
        description: The location of the peering.
        required: true
        schema:
          type: string
      - name: kind
        in: query
        description: The kind of the peering.
        required: true
        x-ms-enum:
          name: LegacyPeeringsKind
          modelAsString: true
        schema:
          type: string
          enum:
          - Direct
          - Exchange
      - name: asn
        in: query
        description: The ASN number associated with a legacy peering.
        required: false
        schema:
          type: integer
          format: int32
      - name: directPeeringType
        in: query
        description: The direct peering type.
        required: false
        x-ms-enum:
          name: directPeeringType
          modelAsString: true
        schema:
          type: string
          enum:
          - Edge
          - Transit
          - Cdn
          - Internal
          - Ix
          - IxRs
          - Voice
          - EdgeZoneForOperators
          - PeerProp
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of peerings.
                type: object
                properties:
                  value:
                    description: The list of peerings.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        id:
                          description: The ID of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        sku:
                          description: The SKU that defines the tier and kind of the
                            peering.
                          type: object
                          properties:
                            name:
                              description: The name of the peering SKU.
                              type: string
                            tier:
                              description: The tier of the peering SKU.
                              enum:
                              - Basic
                              - Premium
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: tier
                                modelAsString: true
                            family:
                              description: The family of the peering SKU.
                              enum:
                              - Direct
                              - Exchange
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: family
                                modelAsString: true
                            size:
                              description: The size of the peering SKU.
                              enum:
                              - Free
                              - Metered
                              - Unlimited
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: size
                                modelAsString: true
                        kind:
                          description: The kind of the peering.
                          enum:
                          - Direct
                          - Exchange
                          type: string
                          x-ms-enum:
                            name: kind
                            modelAsString: true
                        properties:
                          description: The properties that define a peering.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            direct:
                              description: The properties that define a direct peering.
                              type: object
                              properties:
                                connections:
                                  description: The set of connections that constitute
                                    a direct peering.
                                  type: array
                                  items:
                                    description: The properties that define a direct
                                      connection.
                                    type: object
                                    properties:
                                      bandwidthInMbps:
                                        format: int32
                                        description: The bandwidth of the connection.
                                        type: integer
                                      provisionedBandwidthInMbps:
                                        format: int32
                                        description: The bandwidth that is actually
                                          provisioned.
                                        type: integer
                                        readOnly: true
                                      sessionAddressProvider:
                                        description: The field indicating if Microsoft
                                          provides session ip addresses.
                                        enum:
                                        - Microsoft
                                        - Peer
                                        type: string
                                        x-ms-enum:
                                          name: sessionAddressProvider
                                          modelAsString: true
                                      useForPeeringService:
                                        description: The flag that indicates whether
                                          or not the connection is used for peering
                                          service.
                                        type: boolean
                                      microsoftTrackingId:
                                        description: The ID used within Microsoft's
                                          peering provisioning system to track the
                                          connection
                                        type: string
                                        readOnly: true
                                      peeringDBFacilityId:
                                        format: int32
                                        description: The PeeringDB.com ID of the facility
                                          at which the connection has to be set up.
                                        type: integer
                                      connectionState:
                                        description: The state of the connection.
                                        enum:
                                        - None
                                        - PendingApproval
                                        - Approved
                                        - ProvisioningStarted
                                        - ProvisioningFailed
                                        - ProvisioningCompleted
                                        - Validating
                                        - Active
                                        - TypeChangeRequested
                                        - TypeChangeInProgress
                                        - ExternalBlocker
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: connectionState
                                          modelAsString: true
                                      bgpSession:
                                        description: The BGP session associated with
                                          the connection.
                                        type: object
                                        properties:
                                          sessionPrefixV4:
                                            description: The IPv4 prefix that contains
                                              both ends' IPv4 addresses.
                                            type: string
                                          sessionPrefixV6:
                                            description: The IPv6 prefix that contains
                                              both ends' IPv6 addresses.
                                            type: string
                                          microsoftSessionIPv4Address:
                                            description: The IPv4 session address
                                              on Microsoft's end.
                                            type: string
                                          microsoftSessionIPv6Address:
                                            description: The IPv6 session address
                                              on Microsoft's end.
                                            type: string
                                          peerSessionIPv4Address:
                                            description: The IPv4 session address
                                              on peer's end.
                                            type: string
                                          peerSessionIPv6Address:
                                            description: The IPv6 session address
                                              on peer's end.
                                            type: string
                                          sessionStateV4:
                                            description: The state of the IPv4 session.
                                            enum:
                                            - None
                                            - Idle
                                            - Connect
                                            - Active
                                            - OpenSent
                                            - OpenConfirm
                                            - OpenReceived
                                            - Established
                                            - PendingAdd
                                            - PendingUpdate
                                            - PendingRemove
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: sessionStateV4
                                              modelAsString: true
                                          sessionStateV6:
                                            description: The state of the IPv6 session.
                                            enum:
                                            - None
                                            - Idle
                                            - Connect
                                            - Active
                                            - OpenSent
                                            - OpenConfirm
                                            - OpenReceived
                                            - Established
                                            - PendingAdd
                                            - PendingUpdate
                                            - PendingRemove
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: sessionStateV6
                                              modelAsString: true
                                          maxPrefixesAdvertisedV4:
                                            format: int32
                                            description: The maximum number of prefixes
                                              advertised over the IPv4 session.
                                            type: integer
                                          maxPrefixesAdvertisedV6:
                                            format: int32
                                            description: The maximum number of prefixes
                                              advertised over the IPv6 session.
                                            type: integer
                                          md5AuthenticationKey:
                                            description: The MD5 authentication key
                                              of the session.
                                            type: string
                                      connectionIdentifier:
                                        description: The unique identifier (GUID)
                                          for the connection.
                                        type: string
                                      errorMessage:
                                        description: The error message related to
                                          the connection state, if any.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                useForPeeringService:
                                  description: The flag that indicates whether or
                                    not the peering is used for peering service.
                                  type: boolean
                                  readOnly: true
                                peerAsn:
                                  description: The reference of the peer ASN.
                                  type: object
                                  properties:
                                    id:
                                      description: The identifier of the referenced
                                        resource.
                                      type: string
                                directPeeringType:
                                  description: The type of direct peering.
                                  enum:
                                  - Edge
                                  - Transit
                                  - Cdn
                                  - Internal
                                  - Ix
                                  - IxRs
                                  - Voice
                                  - EdgeZoneForOperators
                                  - PeerProp
                                  type: string
                                  x-ms-enum:
                                    name: directPeeringType
                                    modelAsString: true
                            exchange:
                              description: The properties that define an exchange
                                peering.
                              type: object
                              properties:
                                connections:
                                  description: The set of connections that constitute
                                    an exchange peering.
                                  type: array
                                  items:
                                    description: The properties that define an exchange
                                      connection.
                                    type: object
                                    properties:
                                      peeringDBFacilityId:
                                        format: int32
                                        description: The PeeringDB.com ID of the facility
                                          at which the connection has to be set up.
                                        type: integer
                                      connectionState:
                                        description: The state of the connection.
                                        enum:
                                        - None
                                        - PendingApproval
                                        - Approved
                                        - ProvisioningStarted
                                        - ProvisioningFailed
                                        - ProvisioningCompleted
                                        - Validating
                                        - Active
                                        - TypeChangeRequested
                                        - TypeChangeInProgress
                                        - ExternalBlocker
                                        type: string
                                        readOnly: true
                                        x-ms-enum:
                                          name: connectionState
                                          modelAsString: true
                                      bgpSession:
                                        description: The BGP session associated with
                                          the connection.
                                        type: object
                                        properties:
                                          sessionPrefixV4:
                                            description: The IPv4 prefix that contains
                                              both ends' IPv4 addresses.
                                            type: string
                                          sessionPrefixV6:
                                            description: The IPv6 prefix that contains
                                              both ends' IPv6 addresses.
                                            type: string
                                          microsoftSessionIPv4Address:
                                            description: The IPv4 session address
                                              on Microsoft's end.
                                            type: string
                                          microsoftSessionIPv6Address:
                                            description: The IPv6 session address
                                              on Microsoft's end.
                                            type: string
                                          peerSessionIPv4Address:
                                            description: The IPv4 session address
                                              on peer's end.
                                            type: string
                                          peerSessionIPv6Address:
                                            description: The IPv6 session address
                                              on peer's end.
                                            type: string
                                          sessionStateV4:
                                            description: The state of the IPv4 session.
                                            enum:
                                            - None
                                            - Idle
                                            - Connect
                                            - Active
                                            - OpenSent
                                            - OpenConfirm
                                            - OpenReceived
                                            - Established
                                            - PendingAdd
                                            - PendingUpdate
                                            - PendingRemove
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: sessionStateV4
                                              modelAsString: true
                                          sessionStateV6:
                                            description: The state of the IPv6 session.
                                            enum:
                                            - None
                                            - Idle
                                            - Connect
                                            - Active
                                            - OpenSent
                                            - OpenConfirm
                                            - OpenReceived
                                            - Established
                                            - PendingAdd
                                            - PendingUpdate
                                            - PendingRemove
                                            type: string
                                            readOnly: true
                                            x-ms-enum:
                                              name: sessionStateV6
                                              modelAsString: true
                                          maxPrefixesAdvertisedV4:
                                            format: int32
                                            description: The maximum number of prefixes
                                              advertised over the IPv4 session.
                                            type: integer
                                          maxPrefixesAdvertisedV6:
                                            format: int32
                                            description: The maximum number of prefixes
                                              advertised over the IPv6 session.
                                            type: integer
                                          md5AuthenticationKey:
                                            description: The MD5 authentication key
                                              of the session.
                                            type: string
                                      connectionIdentifier:
                                        description: The unique identifier (GUID)
                                          for the connection.
                                        type: string
                                      errorMessage:
                                        description: The error message related to
                                          the connection state, if any.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                peerAsn:
                                  description: The reference of the peer ASN.
                                  type: object
                                  properties:
                                    id:
                                      description: The identifier of the referenced
                                        resource.
                                      type: string
                            connectivityProbes:
                              description: The connectivity probes associated with
                                the peering.
                              type: array
                              items:
                                description: "Represents a connectivity probe, a configuration\
                                  \ peers can add to direct and exchange peerings\
                                  \ to create ping tests. These ping\r\ntests will\
                                  \ allow us to generate availability, jitter, and\
                                  \ latency data for traffic (using ICMP or TCP) from\
                                  \ Azure to an endpoint\r\nIP address given by the\
                                  \ customer. This data will be emitted such that\
                                  \ the peer can view these metrics in the Azure portal\
                                  \ in the\r\nConnectivity probe blade of their peering."
                                type: object
                                properties:
                                  endpoint:
                                    description: The endpoint IP address where traffic
                                      will be sent to from Azure for the connectivity
                                      probe.
                                    type: string
                                    x-ms-mutability:
                                    - read
                                    - create
                                  azureRegion:
                                    description: The Azure region where traffic will
                                      originate from for the connectivity probe.
                                    type: string
                                    x-ms-mutability:
                                    - read
                                    - create
                                  protocol:
                                    description: The protocol of the traffic that
                                      will be sent for the connectivity probe.
                                    enum:
                                    - None
                                    - ICMP
                                    - TCP
                                    type: string
                                    x-ms-enum:
                                      name: protocol
                                      modelAsString: true
                                  prefixesToAccesslist:
                                    description: "Set to contain the prefixes that\
                                      \ agents in Azure will send traffic from. For\
                                      \ peers to allow into their\r\nnetwork the connectivity\
                                      \ probe traffic can reach their endpoint for\
                                      \ the connectivity probe."
                                    type: array
                                    items:
                                      type: string
                                    readOnly: true
                                    x-ms-identifiers: []
                              x-ms-identifiers: []
                            peeringLocation:
                              description: The location of the peering.
                              type: string
                            provisioningState:
                              description: The provisioning state of the resource.
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                        location:
                          description: The location of the resource.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        tags:
                          description: The resource tags.
                          type: object
                          additionalProperties:
                            type: string
                      description: The ARM resource class.
                      x-ms-azure-resource: true
                      required:
                      - sku
                      - kind
                      - location
                    x-ms-identifiers: []
                  nextLink:
                    description: The link to fetch the next page of peerings.
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/lookingGlass:
    post:
      tags:
      - LookingGlass
      description: Run looking glass functionality
      operationId: LookingGlass_Invoke
      parameters:
      - name: command
        in: query
        description: 'The command to be executed: ping, traceroute, bgpRoute.'
        required: true
        x-ms-enum:
          name: LookingGlassCommand
          modelAsString: true
        schema:
          type: string
          enum:
          - Traceroute
          - Ping
          - BgpRoute
      - name: sourceType
        in: query
        description: 'The type of the source: Edge site or Azure Region.'
        required: true
        x-ms-enum:
          name: LookingGlassSourceType
          modelAsString: true
        schema:
          type: string
          enum:
          - EdgeSite
          - AzureRegion
      - name: sourceLocation
        in: query
        description: The location of the source.
        required: true
        schema:
          type: string
      - name: destinationIP
        in: query
        description: The IP address of the destination.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Looking glass output model
                type: object
                properties:
                  command:
                    description: Invoked command
                    enum:
                    - Traceroute
                    - Ping
                    - BgpRoute
                    type: string
                    x-ms-enum:
                      name: command
                      modelAsString: true
                  output:
                    description: Output of the command
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
  /providers/Microsoft.Peering/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available API operations for peering resources.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of peering API operations.
                type: object
                properties:
                  value:
                    description: The list of peering API operations.
                    type: array
                    items:
                      description: The peering API operation.
                      type: object
                      properties:
                        name:
                          description: The name of the operation.
                          type: string
                          readOnly: true
                        display:
                          description: The information related to the operation.
                          readOnly: true
                          type: object
                          properties:
                            provider:
                              description: The name of the resource provider.
                              type: string
                              readOnly: true
                            resource:
                              description: The type of the resource.
                              type: string
                              readOnly: true
                            operation:
                              description: The name of the operation.
                              type: string
                              readOnly: true
                            description:
                              description: The description of the operation.
                              type: string
                              readOnly: true
                        isDataAction:
                          description: The flag that indicates whether the operation
                            applies to data plane.
                          type: boolean
                          readOnly: true
                        properties:
                          description: The properties of the operation.
                          readOnly: true
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            serviceSpecification:
                              description: Service specification payload.
                              readOnly: true
                              type: object
                              properties:
                                metricSpecifications:
                                  description: Specifications of the Metrics for Azure
                                    Monitoring.
                                  type: array
                                  items:
                                    description: Specifications of the Metrics for
                                      Azure Monitoring.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the metric.
                                        type: string
                                        readOnly: true
                                      displayName:
                                        description: Localized friendly display name
                                          of the metric.
                                        type: string
                                        readOnly: true
                                      displayDescription:
                                        description: Localized friendly description
                                          of the metric.
                                        type: string
                                        readOnly: true
                                      unit:
                                        description: Unit that makes sense for the
                                          metric.
                                        type: string
                                        readOnly: true
                                      aggregationType:
                                        description: 'Aggregation type will be set
                                          to one of the values: Average, Minimum,
                                          Maximum, Total, Count.'
                                        type: string
                                        readOnly: true
                                      supportedTimeGrainTypes:
                                        description: Supported time grain types for
                                          the metric.
                                        type: array
                                        items:
                                          type: string
                                        readOnly: true
                                        x-ms-identifiers: []
                                      dimensions:
                                        description: Dimensions of the metric.
                                        type: array
                                        items:
                                          description: Dimensions of the metric.
                                          type: object
                                          properties:
                                            name:
                                              description: Name of the dimension.
                                              type: string
                                              readOnly: true
                                            displayName:
                                              description: Localized friendly display
                                                name of the dimension.
                                              type: string
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers: []
                    x-ms-identifiers: []
                  nextLink:
                    description: The link to fetch the next page of peering API operations.
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}:
    get:
      tags:
      - PeerAsns
      description: Gets the peer ASN with the specified name under the given subscription.
      operationId: PeerAsns_Get
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a peer's ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      peerAsn:
                        format: int32
                        description: The Autonomous System Number (ASN) of the peer.
                        type: integer
                      peerContactDetail:
                        description: The contact details of the peer.
                        type: array
                        items:
                          description: The contact detail class.
                          type: object
                          properties:
                            role:
                              description: The role of the contact.
                              enum:
                              - Noc
                              - Policy
                              - Technical
                              - Service
                              - Escalation
                              - Other
                              type: string
                              x-ms-enum:
                                name: role
                                modelAsString: true
                            email:
                              description: The e-mail address of the contact.
                              type: string
                            phone:
                              description: The phone number of the contact.
                              type: string
                        x-ms-identifiers: []
                      peerName:
                        description: The name of the peer.
                        type: string
                      validationState:
                        description: The validation state of the ASN associated with
                          the peer.
                        enum:
                        - None
                        - Pending
                        - Approved
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: validationState
                          modelAsString: true
                      errorMessage:
                        description: The error message for the validation state
                        type: string
                        readOnly: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
    put:
      tags:
      - PeerAsns
      description: Creates a new peer ASN or updates an existing peer ASN with the
        specified name under the given subscription.
      operationId: PeerAsns_CreateOrUpdate
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
          pattern: '[A-Za-z0-9_.-]{1,63}'
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the resource.
                  type: string
                  readOnly: true
                id:
                  description: The ID of the resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the resource.
                  type: string
                  readOnly: true
                properties:
                  description: The properties that define a peer's ASN.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    peerAsn:
                      format: int32
                      description: The Autonomous System Number (ASN) of the peer.
                      type: integer
                    peerContactDetail:
                      description: The contact details of the peer.
                      type: array
                      items:
                        description: The contact detail class.
                        type: object
                        properties:
                          role:
                            description: The role of the contact.
                            enum:
                            - Noc
                            - Policy
                            - Technical
                            - Service
                            - Escalation
                            - Other
                            type: string
                            x-ms-enum:
                              name: role
                              modelAsString: true
                          email:
                            description: The e-mail address of the contact.
                            type: string
                          phone:
                            description: The phone number of the contact.
                            type: string
                      x-ms-identifiers: []
                    peerName:
                      description: The name of the peer.
                      type: string
                    validationState:
                      description: The validation state of the ASN associated with
                        the peer.
                      enum:
                      - None
                      - Pending
                      - Approved
                      - Failed
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: validationState
                        modelAsString: true
                    errorMessage:
                      description: The error message for the validation state
                      type: string
                      readOnly: true
              description: The ARM resource class.
              x-ms-azure-resource: true
        description: The peer ASN.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a peer's ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      peerAsn:
                        format: int32
                        description: The Autonomous System Number (ASN) of the peer.
                        type: integer
                      peerContactDetail:
                        description: The contact details of the peer.
                        type: array
                        items:
                          description: The contact detail class.
                          type: object
                          properties:
                            role:
                              description: The role of the contact.
                              enum:
                              - Noc
                              - Policy
                              - Technical
                              - Service
                              - Escalation
                              - Other
                              type: string
                              x-ms-enum:
                                name: role
                                modelAsString: true
                            email:
                              description: The e-mail address of the contact.
                              type: string
                            phone:
                              description: The phone number of the contact.
                              type: string
                        x-ms-identifiers: []
                      peerName:
                        description: The name of the peer.
                        type: string
                      validationState:
                        description: The validation state of the ASN associated with
                          the peer.
                        enum:
                        - None
                        - Pending
                        - Approved
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: validationState
                          modelAsString: true
                      errorMessage:
                        description: The error message for the validation state
                        type: string
                        readOnly: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a peer's ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      peerAsn:
                        format: int32
                        description: The Autonomous System Number (ASN) of the peer.
                        type: integer
                      peerContactDetail:
                        description: The contact details of the peer.
                        type: array
                        items:
                          description: The contact detail class.
                          type: object
                          properties:
                            role:
                              description: The role of the contact.
                              enum:
                              - Noc
                              - Policy
                              - Technical
                              - Service
                              - Escalation
                              - Other
                              type: string
                              x-ms-enum:
                                name: role
                                modelAsString: true
                            email:
                              description: The e-mail address of the contact.
                              type: string
                            phone:
                              description: The phone number of the contact.
                              type: string
                        x-ms-identifiers: []
                      peerName:
                        description: The name of the peer.
                        type: string
                      validationState:
                        description: The validation state of the ASN associated with
                          the peer.
                        enum:
                        - None
                        - Pending
                        - Approved
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: validationState
                          modelAsString: true
                      errorMessage:
                        description: The error message for the validation state
                        type: string
                        readOnly: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
    delete:
      tags:
      - PeerAsns
      description: Deletes an existing peer ASN with the specified name under the
        given subscription.
      operationId: PeerAsns_Delete
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns:
    get:
      tags:
      - PeerAsns
      description: Lists all of the peer ASNs under the given subscription.
      operationId: PeerAsns_ListBySubscription
      parameters:
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of peer ASNs.
                type: object
                properties:
                  value:
                    description: The list of peer ASNs.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        id:
                          description: The ID of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        properties:
                          description: The properties that define a peer's ASN.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            peerAsn:
                              format: int32
                              description: The Autonomous System Number (ASN) of the
                                peer.
                              type: integer
                            peerContactDetail:
                              description: The contact details of the peer.
                              type: array
                              items:
                                description: The contact detail class.
                                type: object
                                properties:
                                  role:
                                    description: The role of the contact.
                                    enum:
                                    - Noc
                                    - Policy
                                    - Technical
                                    - Service
                                    - Escalation
                                    - Other
                                    type: string
                                    x-ms-enum:
                                      name: role
                                      modelAsString: true
                                  email:
                                    description: The e-mail address of the contact.
                                    type: string
                                  phone:
                                    description: The phone number of the contact.
                                    type: string
                              x-ms-identifiers: []
                            peerName:
                              description: The name of the peer.
                              type: string
                            validationState:
                              description: The validation state of the ASN associated
                                with the peer.
                              enum:
                              - None
                              - Pending
                              - Approved
                              - Failed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: validationState
                                modelAsString: true
                            errorMessage:
                              description: The error message for the validation state
                              type: string
                              readOnly: true
                      description: The ARM resource class.
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
                  nextLink:
                    description: The link to fetch the next page of peer ASNs.
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations:
    get:
      tags:
      - PeeringLocations
      description: Lists all of the available peering locations for the specified
        kind of peering.
      operationId: PeeringLocations_List
      parameters:
      - name: kind
        in: query
        description: The kind of the peering.
        required: true
        x-ms-enum:
          name: PeeringLocationsKind
          modelAsString: true
        schema:
          type: string
          enum:
          - Direct
          - Exchange
      - name: directPeeringType
        in: query
        description: The type of direct peering.
        required: false
        x-ms-enum:
          name: PeeringLocationsDirectPeeringType
          modelAsString: true
        schema:
          type: string
          enum:
          - Edge
          - Transit
          - Cdn
          - Internal
          - Ix
          - IxRs
          - Voice
          - EdgeZoneForOperators
          - PeerProp
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of peering locations.
                type: object
                properties:
                  value:
                    description: The list of peering locations.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        id:
                          description: The ID of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        kind:
                          description: The kind of peering that the peering location
                            supports.
                          enum:
                          - Direct
                          - Exchange
                          type: string
                          x-ms-enum:
                            name: kind
                            modelAsString: true
                        properties:
                          description: The properties that define a peering location.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            direct:
                              description: The properties that define a direct peering
                                location.
                              type: object
                              properties:
                                peeringFacilities:
                                  description: The list of direct peering facilities
                                    at the peering location.
                                  type: array
                                  items:
                                    description: The properties that define a direct
                                      peering facility.
                                    type: object
                                    properties:
                                      address:
                                        description: The address of the direct peering
                                          facility.
                                        type: string
                                      directPeeringType:
                                        description: The type of the direct peering.
                                        enum:
                                        - Edge
                                        - Transit
                                        - Cdn
                                        - Internal
                                        - Ix
                                        - IxRs
                                        - Voice
                                        - EdgeZoneForOperators
                                        - PeerProp
                                        type: string
                                        x-ms-enum:
                                          name: directPeeringType
                                          modelAsString: true
                                      peeringDBFacilityId:
                                        format: int32
                                        description: The PeeringDB.com ID of the facility.
                                        type: integer
                                      peeringDBFacilityLink:
                                        description: The PeeringDB.com URL of the
                                          facility.
                                        type: string
                                  x-ms-identifiers: []
                                bandwidthOffers:
                                  description: The list of bandwidth offers available
                                    at the peering location.
                                  type: array
                                  items:
                                    description: The properties that define a peering
                                      bandwidth offer.
                                    type: object
                                    properties:
                                      offerName:
                                        description: The name of the bandwidth offer.
                                        type: string
                                      valueInMbps:
                                        format: int32
                                        description: The value of the bandwidth offer
                                          in Mbps.
                                        type: integer
                                  x-ms-identifiers: []
                            exchange:
                              description: The properties that define an exchange
                                peering location.
                              type: object
                              properties:
                                peeringFacilities:
                                  description: The list of exchange peering facilities
                                    at the peering location.
                                  type: array
                                  items:
                                    description: The properties that define an exchange
                                      peering facility.
                                    type: object
                                    properties:
                                      exchangeName:
                                        description: The name of the exchange peering
                                          facility.
                                        type: string
                                      bandwidthInMbps:
                                        format: int32
                                        description: The bandwidth of the connection
                                          between Microsoft and the exchange peering
                                          facility.
                                        type: integer
                                      microsoftIPv4Address:
                                        description: The IPv4 address of Microsoft
                                          at the exchange peering facility.
                                        type: string
                                      microsoftIPv6Address:
                                        description: The IPv6 address of Microsoft
                                          at the exchange peering facility.
                                        type: string
                                      facilityIPv4Prefix:
                                        description: The IPv4 prefixes associated
                                          with the exchange peering facility.
                                        type: string
                                      facilityIPv6Prefix:
                                        description: The IPv6 prefixes associated
                                          with the exchange peering facility.
                                        type: string
                                      peeringDBFacilityId:
                                        format: int32
                                        description: The PeeringDB.com ID of the facility.
                                        type: integer
                                      peeringDBFacilityLink:
                                        description: The PeeringDB.com URL of the
                                          facility.
                                        type: string
                                  x-ms-identifiers: []
                            peeringLocation:
                              description: The name of the peering location.
                              type: string
                            country:
                              description: The country in which the peering location
                                exists.
                              type: string
                            azureRegion:
                              description: The Azure region associated with the peering
                                location.
                              type: string
                      description: The ARM resource class.
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
                  nextLink:
                    description: The link to fetch the next page of peering locations.
                    type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns/{registeredAsnName}
  : get:
      tags:
      - PeeringRegisteredAsns
      description: Gets an existing registered ASN with the specified name under the
        given subscription, resource group and peering.
      operationId: RegisteredAsns_Get
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringName
        in: path
        description: The name of the peering.
        required: true
        schema:
          type: string
      - name: registeredAsnName
        in: path
        description: The name of the registered ASN.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a registered ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      asn:
                        format: int32
                        description: The customer's ASN from which traffic originates.
                        type: integer
                      peeringServicePrefixKey:
                        description: The peering service prefix key that is to be
                          shared with the customer.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
    put:
      tags:
      - PeeringRegisteredAsns
      description: Creates a new registered ASN with the specified name under the
        given subscription, resource group and peering.
      operationId: RegisteredAsns_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringName
        in: path
        description: The name of the peering.
        required: true
        schema:
          type: string
          pattern: '[A-Za-z0-9_.-]{1,63}'
      - name: registeredAsnName
        in: path
        description: The name of the ASN.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the resource.
                  type: string
                  readOnly: true
                id:
                  description: The ID of the resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the resource.
                  type: string
                  readOnly: true
                properties:
                  description: The properties that define a registered ASN.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    asn:
                      format: int32
                      description: The customer's ASN from which traffic originates.
                      type: integer
                    peeringServicePrefixKey:
                      description: The peering service prefix key that is to be shared
                        with the customer.
                      type: string
                      readOnly: true
                    provisioningState:
                      description: The provisioning state of the resource.
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: provisioningState
                        modelAsString: true
              description: The ARM resource class.
              x-ms-azure-resource: true
        description: The properties needed to create a registered ASN.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a registered ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      asn:
                        format: int32
                        description: The customer's ASN from which traffic originates.
                        type: integer
                      peeringServicePrefixKey:
                        description: The peering service prefix key that is to be
                          shared with the customer.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  id:
                    description: The ID of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  properties:
                    description: The properties that define a registered ASN.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      asn:
                        format: int32
                        description: The customer's ASN from which traffic originates.
                        type: integer
                      peeringServicePrefixKey:
                        description: The peering service prefix key that is to be
                          shared with the customer.
                        type: string
                        readOnly: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: provisioningState
                          modelAsString: true
                description: The ARM resource class.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
    delete:
      tags:
      - PeeringRegisteredAsns
      description: Deletes an existing registered ASN with the specified name under
        the given subscription, resource group and peering.
      operationId: RegisteredAsns_Delete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringName
        in: path
        description: The name of the peering.
        required: true
        schema:
          type: string
      - name: registeredAsnName
        in: path
        description: The name of the registered ASN.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                description: The error response that indicates why an operation has
                  failed.
                type: object
                properties:
                  error:
                    description: The error detail that describes why an operation
                      has failed.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                        readOnly: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns
  : get:
      tags:
      - PeeringRegisteredAsns
      description: Lists all registered ASNs under the given subscription, resource
        group and peering.
      operationId: RegisteredAsns_ListByPeering
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringName
        in: path
        description: The name of the peering.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The Azure subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: The client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The paginated list of peering registered ASNs.
                type: object
                properties:
                  value:
                    description: The list of peering registered ASNs.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        id:
                          description: The ID of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        properties:
                          description: The properties that define a registered ASN.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            asn:
                              format: int32
                              description: The customer's ASN from which traffic originates.
                              type: integer
                            peeringServicePrefixKey:
                              description: The peering service prefix key that is
                                to be shared with the customer.
                              type: string
                              readOnly: true
                            provisioningState:
                              description: The provisioning state of the resource.
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: provisioningState
                                modelAsString: true
                      description: The ARM resource class.
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
[...]
