openapi: 3.0.0
info:
  version: 2023-05-01
  title: ExtensionsClient
  description: Use these APIs to create extension resources through ARM, for Kubernetes
    Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}
  : put:
      tags:
      - Extensions
      - ClusterExtensions
      description: Create a new Kubernetes Cluster Extension.
      operationId: Extensions_Create
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        description: Name of the Extension.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  x-ms-client-flatten: true
                  description: Properties of an Extension resource
                  properties:
                    extensionType:
                      description: Type of the Extension, of which this resource is
                        an instance of.  It must be one of the Extension Types registered
                        with Microsoft.KubernetesConfiguration by the Extension publisher.
                      type: string
                    autoUpgradeMinorVersion:
                      description: Flag to note if this extension participates in
                        auto upgrade of minor version, or not.
                      type: boolean
                      default: true
                    releaseTrain:
                      description: ReleaseTrain this extension participates in for
                        auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion
                        is 'true'.
                      type: string
                      default: Stable
                    version:
                      description: User-specified version of the extension for this
                        extension to 'pin'. To use 'version', autoUpgradeMinorVersion
                        must be 'false'.
                      type: string
                      nullable: true
                    scope:
                      description: Scope at which the extension is installed.
                      type: object
                      properties:
                        cluster:
                          type: object
                          description: Specifies that the scope of the extension is
                            Cluster
                          properties:
                            releaseNamespace:
                              description: Namespace where the extension Release must
                                be placed, for a Cluster scoped extension.  If this
                                namespace does not exist, it will be created
                              type: string
                          nullable: true
                        namespace:
                          type: object
                          description: Specifies that the scope of the extension is
                            Namespace
                          properties:
                            targetNamespace:
                              description: Namespace where the extension will be created
                                for an Namespace scoped extension.  If this namespace
                                does not exist, it will be created
                              type: string
                          nullable: true
                    configurationSettings:
                      description: Configuration settings, as name-value pairs for
                        configuring this extension.
                      type: object
                      additionalProperties:
                        type: string
                      nullable: true
                    configurationProtectedSettings:
                      description: Configuration settings that are sensitive, as name-value
                        pairs for configuring this extension.
                      type: object
                      x-ms-secret: true
                      additionalProperties:
                        type: string
                      nullable: true
                    currentVersion:
                      description: Currently installed version of the extension.
                      type: string
                      readOnly: true
                      nullable: true
                    provisioningState:
                      description: Status of installation of this extension.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    statuses:
                      description: Status from this extension.
                      type: array
                      items:
                        description: Status from the extension.
                        type: object
                        readOnly: true
                        properties:
                          code:
                            type: string
                            description: Status code provided by the Extension
                          displayStatus:
                            type: string
                            description: Short description of status of the extension.
                          level:
                            type: string
                            description: Level of the status.
                            enum:
                            - Error
                            - Warning
                            - Information
                            default: Information
                            x-ms-enum:
                              name: LevelType
                              modelAsString: true
                          message:
                            type: string
                            description: Detailed message of the status from the Extension.
                          time:
                            type: string
                            description: DateLiteral (per ISO8601) noting the time
                              of installation status.
                      x-ms-identifiers: []
                      nullable: true
                    errorInfo:
                      description: Error information from the Agent - e.g. errors
                        during installation.
                      type: object
                      readOnly: true
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                        details:
                          readOnly: true
                          type: array
                          items:
                            description: The error detail.
                            type: object
                            properties:
                              code:
                                readOnly: true
                                type: string
                                description: The error code.
                              message:
                                readOnly: true
                                type: string
                                description: The error message.
                              target:
                                readOnly: true
                                type: string
                                description: The error target.
                              details:
                                readOnly: true
                                type: array
                                items:
                                  description: The error detail.
                                  type: object
                                  properties:
                                    code:
                                      readOnly: true
                                      type: string
                                      description: The error code.
                                    message:
                                      readOnly: true
                                      type: string
                                      description: The error message.
                                    target:
                                      readOnly: true
                                      type: string
                                      description: The error target.
                                x-ms-identifiers:
                                - message
                                - target
                                description: The error details.
                              additionalInfo:
                                readOnly: true
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      readOnly: true
                                      type: string
                                      description: The additional info type.
                                    info:
                                      readOnly: true
                                      type: object
                                      description: The additional info.
                                  description: The resource management error additional
                                    info.
                                x-ms-identifiers: []
                                description: The error additional info.
                          x-ms-identifiers:
                          - message
                          - target
                          description: The error details.
                        additionalInfo:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The additional info type.
                              info:
                                readOnly: true
                                type: object
                                description: The additional info.
                            description: The resource management error additional
                              info.
                          x-ms-identifiers: []
                          description: The error additional info.
                      nullable: true
                    customLocationSettings:
                      description: Custom Location settings properties.
                      type: object
                      readOnly: true
                      additionalProperties:
                        type: string
                      nullable: true
                    packageUri:
                      description: Uri of the Helm package
                      type: string
                      readOnly: true
                      nullable: true
                    aksAssignedIdentity:
                      description: Identity of the Extension resource in an AKS cluster
                      type: object
                      properties:
                        principalId:
                          readOnly: true
                          type: string
                          description: The principal ID of resource identity.
                        tenantId:
                          readOnly: true
                          type: string
                          description: The tenant ID of resource.
                        type:
                          type: string
                          description: The identity type.
                          enum:
                          - SystemAssigned
                          - UserAssigned
                          x-ms-enum:
                            name: AKSIdentityType
                            modelAsString: false
                      nullable: true
                    isSystemExtension:
                      readOnly: true
                      description: Flag to note if this extension is a system extension
                      type: boolean
                      default: false
                identity:
                  description: Identity of the Extension resource
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                  nullable: true
                systemData:
                  description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                plan:
                  description: The plan information.
                  type: object
                  properties:
                    name:
                      type: string
                      description: A user defined name of the 3rd Party Artifact that
                        is being procured.
                    publisher:
                      type: string
                      description: The publisher of the 3rd Party Artifact that is
                        being bought. E.g. NewRelic
                    product:
                      type: string
                      description: 'The 3rd Party artifact that is being procured.
                        E.g. NewRelic. Product maps to the OfferID specified for the
                        artifact at the time of Data Market onboarding. '
                    promotionCode:
                      type: string
                      description: A publisher provided promotion code as provisioned
                        in Data Market for the said product/artifact.
                    version:
                      type: string
                      description: The version of the desired product/artifact.
                  required:
                  - name
                  - publisher
                  - product
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties necessary to Create an Extension.
        required: true
      responses:
        '200':
          description: Request received successfully for an existing resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties of an Extension resource
                    properties:
                      extensionType:
                        description: Type of the Extension, of which this resource
                          is an instance of.  It must be one of the Extension Types
                          registered with Microsoft.KubernetesConfiguration by the
                          Extension publisher.
                        type: string
                      autoUpgradeMinorVersion:
                        description: Flag to note if this extension participates in
                          auto upgrade of minor version, or not.
                        type: boolean
                        default: true
                      releaseTrain:
                        description: ReleaseTrain this extension participates in for
                          auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion
                          is 'true'.
                        type: string
                        default: Stable
                      version:
                        description: User-specified version of the extension for this
                          extension to 'pin'. To use 'version', autoUpgradeMinorVersion
                          must be 'false'.
                        type: string
                        nullable: true
                      scope:
                        description: Scope at which the extension is installed.
                        type: object
                        properties:
                          cluster:
                            type: object
                            description: Specifies that the scope of the extension
                              is Cluster
                            properties:
                              releaseNamespace:
                                description: Namespace where the extension Release
                                  must be placed, for a Cluster scoped extension.  If
                                  this namespace does not exist, it will be created
                                type: string
                            nullable: true
                          namespace:
                            type: object
                            description: Specifies that the scope of the extension
                              is Namespace
                            properties:
                              targetNamespace:
                                description: Namespace where the extension will be
                                  created for an Namespace scoped extension.  If this
                                  namespace does not exist, it will be created
                                type: string
                            nullable: true
                      configurationSettings:
                        description: Configuration settings, as name-value pairs for
                          configuring this extension.
                        type: object
                        additionalProperties:
                          type: string
                        nullable: true
                      configurationProtectedSettings:
                        description: Configuration settings that are sensitive, as
                          name-value pairs for configuring this extension.
                        type: object
                        x-ms-secret: true
                        additionalProperties:
                          type: string
                        nullable: true
                      currentVersion:
                        description: Currently installed version of the extension.
                        type: string
                        readOnly: true
                        nullable: true
                      provisioningState:
                        description: Status of installation of this extension.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      statuses:
                        description: Status from this extension.
                        type: array
                        items:
                          description: Status from the extension.
                          type: object
                          readOnly: true
                          properties:
                            code:
                              type: string
                              description: Status code provided by the Extension
                            displayStatus:
                              type: string
                              description: Short description of status of the extension.
                            level:
                              type: string
                              description: Level of the status.
                              enum:
                              - Error
                              - Warning
                              - Information
                              default: Information
                              x-ms-enum:
                                name: LevelType
                                modelAsString: true
                            message:
                              type: string
                              description: Detailed message of the status from the
                                Extension.
                            time:
                              type: string
                              description: DateLiteral (per ISO8601) noting the time
                                of installation status.
                        x-ms-identifiers: []
                        nullable: true
                      errorInfo:
                        description: Error information from the Agent - e.g. errors
                          during installation.
                        type: object
                        readOnly: true
                        properties:
                          code:
                            readOnly: true
                            type: string
                            description: The error code.
                          message:
                            readOnly: true
                            type: string
                            description: The error message.
                          target:
                            readOnly: true
                            type: string
                            description: The error target.
                          details:
                            readOnly: true
                            type: array
                            items:
                              description: The error detail.
                              type: object
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    description: The error detail.
                                    type: object
                                    properties:
                                      code:
                                        readOnly: true
                                        type: string
                                        description: The error code.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The error message.
                                      target:
                                        readOnly: true
                                        type: string
                                        description: The error target.
                                  x-ms-identifiers:
                                  - message
                                  - target
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                            x-ms-identifiers:
                            - message
                            - target
                            description: The error details.
                          additionalInfo:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  readOnly: true
                                  type: string
                                  description: The additional info type.
                                info:
                                  readOnly: true
                                  type: object
                                  description: The additional info.
                              description: The resource management error additional
                                info.
                            x-ms-identifiers: []
                            description: The error additional info.
                        nullable: true
                      customLocationSettings:
                        description: Custom Location settings properties.
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: string
                        nullable: true
                      packageUri:
                        description: Uri of the Helm package
                        type: string
                        readOnly: true
                        nullable: true
                      aksAssignedIdentity:
                        description: Identity of the Extension resource in an AKS
                          cluster
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of resource identity.
                          tenantId:
                            readOnly: true
                            type: string
                            description: The tenant ID of resource.
                          type:
                            type: string
                            description: The identity type.
                            enum:
                            - SystemAssigned
                            - UserAssigned
                            x-ms-enum:
                              name: AKSIdentityType
                              modelAsString: false
                        nullable: true
                      isSystemExtension:
                        readOnly: true
                        description: Flag to note if this extension is a system extension
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the Extension resource
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    nullable: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  plan:
                    description: The plan information.
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Request received successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties of an Extension resource
                    properties:
                      extensionType:
                        description: Type of the Extension, of which this resource
                          is an instance of.  It must be one of the Extension Types
                          registered with Microsoft.KubernetesConfiguration by the
                          Extension publisher.
                        type: string
                      autoUpgradeMinorVersion:
                        description: Flag to note if this extension participates in
                          auto upgrade of minor version, or not.
                        type: boolean
                        default: true
                      releaseTrain:
                        description: ReleaseTrain this extension participates in for
                          auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion
                          is 'true'.
                        type: string
                        default: Stable
                      version:
                        description: User-specified version of the extension for this
                          extension to 'pin'. To use 'version', autoUpgradeMinorVersion
                          must be 'false'.
                        type: string
                        nullable: true
                      scope:
                        description: Scope at which the extension is installed.
                        type: object
                        properties:
                          cluster:
                            type: object
                            description: Specifies that the scope of the extension
                              is Cluster
                            properties:
                              releaseNamespace:
                                description: Namespace where the extension Release
                                  must be placed, for a Cluster scoped extension.  If
                                  this namespace does not exist, it will be created
                                type: string
                            nullable: true
                          namespace:
                            type: object
                            description: Specifies that the scope of the extension
                              is Namespace
                            properties:
                              targetNamespace:
                                description: Namespace where the extension will be
                                  created for an Namespace scoped extension.  If this
                                  namespace does not exist, it will be created
                                type: string
                            nullable: true
                      configurationSettings:
                        description: Configuration settings, as name-value pairs for
                          configuring this extension.
                        type: object
                        additionalProperties:
                          type: string
                        nullable: true
                      configurationProtectedSettings:
                        description: Configuration settings that are sensitive, as
                          name-value pairs for configuring this extension.
                        type: object
                        x-ms-secret: true
                        additionalProperties:
                          type: string
                        nullable: true
                      currentVersion:
                        description: Currently installed version of the extension.
                        type: string
                        readOnly: true
                        nullable: true
                      provisioningState:
                        description: Status of installation of this extension.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      statuses:
                        description: Status from this extension.
                        type: array
                        items:
                          description: Status from the extension.
                          type: object
                          readOnly: true
                          properties:
                            code:
                              type: string
                              description: Status code provided by the Extension
                            displayStatus:
                              type: string
                              description: Short description of status of the extension.
                            level:
                              type: string
                              description: Level of the status.
                              enum:
                              - Error
                              - Warning
                              - Information
                              default: Information
                              x-ms-enum:
                                name: LevelType
                                modelAsString: true
                            message:
                              type: string
                              description: Detailed message of the status from the
                                Extension.
                            time:
                              type: string
                              description: DateLiteral (per ISO8601) noting the time
                                of installation status.
                        x-ms-identifiers: []
                        nullable: true
                      errorInfo:
                        description: Error information from the Agent - e.g. errors
                          during installation.
                        type: object
                        readOnly: true
                        properties:
                          code:
                            readOnly: true
                            type: string
                            description: The error code.
                          message:
                            readOnly: true
                            type: string
                            description: The error message.
                          target:
                            readOnly: true
                            type: string
                            description: The error target.
                          details:
                            readOnly: true
                            type: array
                            items:
                              description: The error detail.
                              type: object
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    description: The error detail.
                                    type: object
                                    properties:
                                      code:
                                        readOnly: true
                                        type: string
                                        description: The error code.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The error message.
                                      target:
                                        readOnly: true
                                        type: string
                                        description: The error target.
                                  x-ms-identifiers:
                                  - message
                                  - target
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                            x-ms-identifiers:
                            - message
                            - target
                            description: The error details.
                          additionalInfo:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  readOnly: true
                                  type: string
                                  description: The additional info type.
                                info:
                                  readOnly: true
                                  type: object
                                  description: The additional info.
                              description: The resource management error additional
                                info.
                            x-ms-identifiers: []
                            description: The error additional info.
                        nullable: true
                      customLocationSettings:
                        description: Custom Location settings properties.
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: string
                        nullable: true
                      packageUri:
                        description: Uri of the Helm package
                        type: string
                        readOnly: true
                        nullable: true
                      aksAssignedIdentity:
                        description: Identity of the Extension resource in an AKS
                          cluster
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of resource identity.
                          tenantId:
                            readOnly: true
                            type: string
                            description: The tenant ID of resource.
                          type:
                            type: string
                            description: The identity type.
                            enum:
                            - SystemAssigned
                            - UserAssigned
                            x-ms-enum:
                              name: AKSIdentityType
                              modelAsString: false
                        nullable: true
                      isSystemExtension:
                        readOnly: true
                        description: Flag to note if this extension is a system extension
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the Extension resource
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    nullable: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  plan:
                    description: The plan information.
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - Extensions
      - ClusterExtensions
      description: Gets Kubernetes Cluster Extension.
      operationId: Extensions_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        description: Name of the Extension.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties of an Extension resource
                    properties:
                      extensionType:
                        description: Type of the Extension, of which this resource
                          is an instance of.  It must be one of the Extension Types
                          registered with Microsoft.KubernetesConfiguration by the
                          Extension publisher.
                        type: string
                      autoUpgradeMinorVersion:
                        description: Flag to note if this extension participates in
                          auto upgrade of minor version, or not.
                        type: boolean
                        default: true
                      releaseTrain:
                        description: ReleaseTrain this extension participates in for
                          auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion
                          is 'true'.
                        type: string
                        default: Stable
                      version:
                        description: User-specified version of the extension for this
                          extension to 'pin'. To use 'version', autoUpgradeMinorVersion
                          must be 'false'.
                        type: string
                        nullable: true
                      scope:
                        description: Scope at which the extension is installed.
                        type: object
                        properties:
                          cluster:
                            type: object
                            description: Specifies that the scope of the extension
                              is Cluster
                            properties:
                              releaseNamespace:
                                description: Namespace where the extension Release
                                  must be placed, for a Cluster scoped extension.  If
                                  this namespace does not exist, it will be created
                                type: string
                            nullable: true
                          namespace:
                            type: object
                            description: Specifies that the scope of the extension
                              is Namespace
                            properties:
                              targetNamespace:
                                description: Namespace where the extension will be
                                  created for an Namespace scoped extension.  If this
                                  namespace does not exist, it will be created
                                type: string
                            nullable: true
                      configurationSettings:
                        description: Configuration settings, as name-value pairs for
                          configuring this extension.
                        type: object
                        additionalProperties:
                          type: string
                        nullable: true
                      configurationProtectedSettings:
                        description: Configuration settings that are sensitive, as
                          name-value pairs for configuring this extension.
                        type: object
                        x-ms-secret: true
                        additionalProperties:
                          type: string
                        nullable: true
                      currentVersion:
                        description: Currently installed version of the extension.
                        type: string
                        readOnly: true
                        nullable: true
                      provisioningState:
                        description: Status of installation of this extension.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      statuses:
                        description: Status from this extension.
                        type: array
                        items:
                          description: Status from the extension.
                          type: object
                          readOnly: true
                          properties:
                            code:
                              type: string
                              description: Status code provided by the Extension
                            displayStatus:
                              type: string
                              description: Short description of status of the extension.
                            level:
                              type: string
                              description: Level of the status.
                              enum:
                              - Error
                              - Warning
                              - Information
                              default: Information
                              x-ms-enum:
                                name: LevelType
                                modelAsString: true
                            message:
                              type: string
                              description: Detailed message of the status from the
                                Extension.
                            time:
                              type: string
                              description: DateLiteral (per ISO8601) noting the time
                                of installation status.
                        x-ms-identifiers: []
                        nullable: true
                      errorInfo:
                        description: Error information from the Agent - e.g. errors
                          during installation.
                        type: object
                        readOnly: true
                        properties:
                          code:
                            readOnly: true
                            type: string
                            description: The error code.
                          message:
                            readOnly: true
                            type: string
                            description: The error message.
                          target:
                            readOnly: true
                            type: string
                            description: The error target.
                          details:
                            readOnly: true
                            type: array
                            items:
                              description: The error detail.
                              type: object
                              properties:
                                code:
                                  readOnly: true
                                  type: string
                                  description: The error code.
                                message:
                                  readOnly: true
                                  type: string
                                  description: The error message.
                                target:
                                  readOnly: true
                                  type: string
                                  description: The error target.
                                details:
                                  readOnly: true
                                  type: array
                                  items:
                                    description: The error detail.
                                    type: object
                                    properties:
                                      code:
                                        readOnly: true
                                        type: string
                                        description: The error code.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The error message.
                                      target:
                                        readOnly: true
                                        type: string
                                        description: The error target.
                                  x-ms-identifiers:
                                  - message
                                  - target
                                  description: The error details.
                                additionalInfo:
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        readOnly: true
                                        type: string
                                        description: The additional info type.
                                      info:
                                        readOnly: true
                                        type: object
                                        description: The additional info.
                                    description: The resource management error additional
                                      info.
                                  x-ms-identifiers: []
                                  description: The error additional info.
                            x-ms-identifiers:
                            - message
                            - target
                            description: The error details.
                          additionalInfo:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  readOnly: true
                                  type: string
                                  description: The additional info type.
                                info:
                                  readOnly: true
                                  type: object
                                  description: The additional info.
                              description: The resource management error additional
                                info.
                            x-ms-identifiers: []
                            description: The error additional info.
                        nullable: true
                      customLocationSettings:
                        description: Custom Location settings properties.
                        type: object
                        readOnly: true
                        additionalProperties:
                          type: string
                        nullable: true
                      packageUri:
                        description: Uri of the Helm package
                        type: string
                        readOnly: true
                        nullable: true
                      aksAssignedIdentity:
                        description: Identity of the Extension resource in an AKS
                          cluster
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of resource identity.
                          tenantId:
                            readOnly: true
                            type: string
                            description: The tenant ID of resource.
                          type:
                            type: string
                            description: The identity type.
                            enum:
                            - SystemAssigned
                            - UserAssigned
                            x-ms-enum:
                              name: AKSIdentityType
                              modelAsString: false
                        nullable: true
                      isSystemExtension:
                        readOnly: true
                        description: Flag to note if this extension is a system extension
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the Extension resource
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                    nullable: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  plan:
                    description: The plan information.
                    type: object
                    properties:
                      name:
                        type: string
                        description: A user defined name of the 3rd Party Artifact
                          that is being procured.
                      publisher:
                        type: string
                        description: The publisher of the 3rd Party Artifact that
                          is being bought. E.g. NewRelic
                      product:
                        type: string
                        description: 'The 3rd Party artifact that is being procured.
                          E.g. NewRelic. Product maps to the OfferID specified for
                          the artifact at the time of Data Market onboarding. '
                      promotionCode:
                        type: string
                        description: A publisher provided promotion code as provisioned
                          in Data Market for the said product/artifact.
                      version:
                        type: string
                        description: The version of the desired product/artifact.
                    required:
                    - name
                    - publisher
                    - product
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - Extensions
      - ClusterExtensions
      description: Delete a Kubernetes Cluster Extension. This will cause the Agent
        to Uninstall the extension from the cluster.
      operationId: Extensions_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        description: Name of the Extension.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: forceDelete
        in: query
        description: Delete the extension resource in Azure - not the normal asynchronous
          delete.
        schema:
          type: boolean
      responses:
        '200':
          description: OK
        '202':
          description: Accepted.  The request has been accepted for processing.
        '204':
          description: No Content.  The request has been accepted but the extension
            was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - Extensions
      - ClusterExtensions
      description: Patch an existing Kubernetes Cluster Extension.
      operationId: Extensions_Update
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: extensionName
        in: path
        description: Name of the Extension.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: The Extension Patch Request object.
              type: object
              properties:
                properties:
                  type: object
                  x-ms-client-flatten: true
                  description: Updatable properties of an Extension Patch Request
                  properties:
                    autoUpgradeMinorVersion:
                      description: Flag to note if this extension participates in
                        auto upgrade of minor version, or not.
                      type: boolean
                      default: true
                    releaseTrain:
                      description: ReleaseTrain this extension participates in for
                        auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion
                        is 'true'.
                      type: string
                      default: Stable
                    version:
                      description: Version of the extension for this extension, if
                        it is 'pinned' to a specific version. autoUpgradeMinorVersion
                        must be 'false'.
                      type: string
                      nullable: true
                    configurationSettings:
                      description: Configuration settings, as name-value pairs for
                        configuring this extension.
                      type: object
                      additionalProperties:
                        type: string
                      nullable: true
                    configurationProtectedSettings:
                      description: Configuration settings that are sensitive, as name-value
                        pairs for configuring this extension.
                      type: object
                      x-ms-secret: true
                      additionalProperties:
                        type: string
                      nullable: true
        description: Properties to Patch in an existing Extension.
        required: true
      responses:
        '200':
          description: No update is done to extension so return OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties of an Extension resource
                    properties:
                      extensionType:
                        description: Type of the Extension, of which this resource
                          is an instance of.  It must be one of the Extension Types
                          registered with Microsoft.KubernetesConfiguration by the
                          Extension publisher.
                        type: string
                      autoUpgradeMinorVersion:
[...]
