openapi: 3.0.0
info:
  version: 2023-05-01
  title: FluxConfigurationClient
  description: Use these APIs to create Flux Configuration resources through ARM,
    for Kubernetes Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/fluxConfigurations/{fluxConfigurationName}
  : get:
      tags:
      - FluxConfiguration
      - Flux
      description: Gets details of the Flux Configuration.
      operationId: FluxConfigurations_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: fluxConfigurationName
        in: path
        description: Name of the Flux Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties to create a Flux Configuration resource
                    properties:
                      scope:
                        description: Scope at which the operator will be installed.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        enum:
                        - cluster
                        - namespace
                        default: cluster
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      namespace:
                        description: The namespace to which this configuration is
                          installed to. Maximum of 253 lower case alphanumeric characters,
                          hyphen and period only.
                        type: string
                        default: default
                        x-ms-mutability:
                        - create
                        - read
                      sourceKind:
                        description: Source Kind to pull the configuration data from.
                        default: GitRepository
                        type: string
                        enum:
                        - GitRepository
                        - Bucket
                        - AzureBlob
                        x-ms-enum:
                          name: SourceKindType
                          modelAsString: true
                      suspend:
                        description: Whether this configuration should suspend its
                          reconciliation of its kustomizations and sources.
                        type: boolean
                        default: false
                      gitRepository:
                        description: Parameters to reconcile to the GitRepository
                          source kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              git repository.
                            type: string
                            nullable: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster git repository source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster git repository source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          repositoryRef:
                            description: The source reference for the GitRepository
                              object.
                            type: object
                            properties:
                              branch:
                                description: The git repository branch name to checkout.
                                type: string
                                nullable: true
                              tag:
                                description: The git repository tag name to checkout.
                                  This takes precedence over branch.
                                type: string
                                nullable: true
                              semver:
                                description: The semver range used to match against
                                  git repository tags. This takes precedence over
                                  tag.
                                type: string
                                nullable: true
                              commit:
                                description: The commit SHA to checkout. This value
                                  must be combined with the branch name to be valid.
                                  This takes precedence over semver.
                                type: string
                                nullable: true
                            nullable: true
                          sshKnownHosts:
                            description: Base64-encoded known_hosts value containing
                              public SSH keys required to access private git repositories
                              over SSH
                            type: string
                            nullable: true
                          httpsUser:
                            description: Plaintext HTTPS username used to access private
                              git repositories over HTTPS
                            type: string
                            nullable: true
                          httpsCACert:
                            description: Base64-encoded HTTPS certificate authority
                              contents used to access git private git repositories
                              over HTTPS
                            type: string
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      bucket:
                        description: Parameters to reconcile to the Bucket source
                          kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              S3 bucket.
                            type: string
                          bucketName:
                            description: The bucket name to sync from the url endpoint
                              for the flux configuration.
                            type: string
                          insecure:
                            description: Specify whether to use insecure communication
                              when puling data from the S3 bucket.
                            type: boolean
                            default: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster bucket source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster bucket source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          accessKey:
                            description: Plaintext access key used to securely access
                              the S3 bucket
                            type: string
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      azureBlob:
                        description: Parameters to reconcile to the AzureBlob source
                          kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              Azure Blob storage account.
                            type: string
                            nullable: true
                          containerName:
                            description: The Azure Blob container name to sync from
                              the url endpoint for the flux configuration.
                            type: string
                            nullable: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster Azure Blob source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster Azure Blob source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          servicePrincipal:
                            description: Parameters to authenticate using Service
                              Principal.
                            type: object
                            properties:
                              clientId:
                                description: The client Id for authenticating a Service
                                  Principal.
                                type: string
                                nullable: true
                              tenantId:
                                description: The tenant Id for authenticating a Service
                                  Principal
                                type: string
                                nullable: true
                              clientSecret:
                                description: The client secret for authenticating
                                  a Service Principal
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificate:
                                description: 'Base64-encoded certificate used to authenticate
                                  a Service Principal '
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificatePassword:
                                description: 'The password for the certificate used
                                  to authenticate a Service Principal '
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificateSendChain:
                                description: Specifies whether to include x5c header
                                  in client claims when acquiring a token to enable
                                  subject name / issuer based authentication for the
                                  Client Certificate
                                type: boolean
                                default: false
                            nullable: true
                          accountKey:
                            description: The account key (shared key) to access the
                              storage account
                            type: string
                            x-ms-secret: true
                            nullable: true
                          sasToken:
                            description: The Shared Access token to access the storage
                              container
                            type: string
                            x-ms-secret: true
                            nullable: true
                          managedIdentity:
                            description: Parameters to authenticate using a Managed
                              Identity.
                            type: object
                            properties:
                              clientId:
                                description: The client Id for authenticating a Managed
                                  Identity.
                                type: string
                                nullable: true
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      kustomizations:
                        description: Array of kustomizations used to reconcile the
                          artifact pulled by the source type on the cluster.
                        type: object
                        additionalProperties:
                          type: object
                          description: The Kustomization defining how to reconcile
                            the artifact pulled by the source type on the cluster.
                          properties:
                            name:
                              description: Name of the Kustomization, matching the
                                key in the Kustomizations object map.
                              type: string
                              readOnly: true
                            path:
                              description: The path in the source reference to reconcile
                                on the cluster.
                              type: string
                              default: ''
                            dependsOn:
                              description: Specifies other Kustomizations that this
                                Kustomization depends on. This Kustomization will
                                not reconcile until all dependencies have completed
                                their reconciliation.
                              type: array
                              items:
                                description: Kustomization name of dependency.
                                type: string
                              nullable: true
                            timeoutInSeconds:
                              description: The maximum time to attempt to reconcile
                                the Kustomization on the cluster.
                              type: integer
                              format: int64
                              default: 600
                              nullable: true
                            syncIntervalInSeconds:
                              description: The interval at which to re-reconcile the
                                Kustomization on the cluster.
                              type: integer
                              format: int64
                              default: 600
                              nullable: true
                            retryIntervalInSeconds:
                              description: The interval at which to re-reconcile the
                                Kustomization on the cluster in the event of failure
                                on reconciliation.
                              type: integer
                              format: int64
                              nullable: true
                            prune:
                              description: Enable/disable garbage collections of Kubernetes
                                objects created by this Kustomization.
                              type: boolean
                              default: false
                            force:
                              description: Enable/disable re-creating Kubernetes resources
                                on the cluster when patching fails due to an immutable
                                field change.
                              type: boolean
                              default: false
                            wait:
                              description: Enable/disable health check for all Kubernetes
                                objects created by this Kustomization.
                              type: boolean
                              default: true
                            postBuild:
                              description: Used for variable substitution for this
                                Kustomization after kustomize build.
                              type: object
                              properties:
                                substitute:
                                  description: Key/value pairs holding the variables
                                    to be substituted in this Kustomization.
                                  type: object
                                  additionalProperties:
                                    type: string
                                  nullable: true
                                substituteFrom:
                                  description: Array of ConfigMaps/Secrets from which
                                    the variables are substituted for this Kustomization.
                                  type: array
                                  items:
                                    type: object
                                    description: Array of ConfigMaps/Secrets from
                                      which the variables are substituted for this
                                      Kustomization.
                                    properties:
                                      kind:
                                        description: Define whether it is ConfigMap
                                          or Secret that holds the variables to be
                                          used in substitution.
                                        type: string
                                      name:
                                        description: Name of the ConfigMap/Secret
                                          that holds the variables to be used in substitution.
                                        type: string
                                      optional:
                                        description: Set to True to proceed without
                                          ConfigMap/Secret, if it is not present.
                                        type: boolean
                                        default: false
                                    nullable: true
                                  x-ms-identifiers: []
                                  nullable: true
                              nullable: true
                          nullable: true
                        nullable: true
                      configurationProtectedSettings:
                        description: Key-value pairs of protected configuration settings
                          for the configuration
                        type: object
                        x-ms-secret: true
                        additionalProperties:
                          type: string
                        nullable: true
                      statuses:
                        description: Statuses of the Flux Kubernetes resources created
                          by the fluxConfiguration or created by the managed objects
                          provisioned by the fluxConfiguration.
                        type: array
                        readOnly: true
                        items:
                          type: object
                          description: Statuses of objects deployed by the user-specified
                            kustomizations from the git repository.
                          properties:
                            name:
                              description: Name of the applied object
                              type: string
                            namespace:
                              description: Namespace of the applied object
                              type: string
                            kind:
                              description: Kind of the applied object
                              type: string
                            complianceState:
                              description: Compliance state of the applied object
                                showing whether the applied object has come into a
                                ready state on the cluster.
                              type: string
                              enum:
                              - Compliant
                              - Non-Compliant
                              - Pending
                              - Suspended
                              - Unknown
                              default: Unknown
                              x-ms-enum:
                                name: FluxComplianceState
                                modelAsString: true
                            appliedBy:
                              description: Object reference to the Kustomization that
                                applied this object
                              type: object
                              properties:
                                name:
                                  description: Name of the object
                                  type: string
                                namespace:
                                  description: Namespace of the object
                                  type: string
                              nullable: true
                            statusConditions:
                              description: List of Kubernetes object status conditions
                                present on the cluster
                              type: array
                              items:
                                type: object
                                description: Status condition of Kubernetes object
                                properties:
                                  lastTransitionTime:
                                    description: Last time this status condition has
                                      changed
                                    type: string
                                    format: date-time
                                  message:
                                    description: A more verbose description of the
                                      object status condition
                                    type: string
                                  reason:
                                    description: Reason for the specified status condition
                                      type status
                                    type: string
                                  status:
                                    description: Status of the Kubernetes object condition
                                      type
                                    type: string
                                  type:
                                    description: Object status condition type for
                                      this object
                                    type: string
                              x-ms-identifiers:
                              - type
                              nullable: true
                            helmReleaseProperties:
                              description: Additional properties that are provided
                                from objects of the HelmRelease kind
                              type: object
                              properties:
                                lastRevisionApplied:
                                  description: The revision number of the last released
                                    object change
                                  type: integer
                                  format: int64
                                  nullable: true
                                helmChartRef:
                                  description: The reference to the HelmChart object
                                    used as the source to this HelmRelease
                                  type: object
                                  properties:
                                    name:
                                      description: Name of the object
                                      type: string
                                    namespace:
                                      description: Namespace of the object
                                      type: string
                                  nullable: true
                                failureCount:
                                  description: Total number of times that the HelmRelease
                                    failed to install or upgrade
                                  type: integer
                                  format: int64
                                  nullable: true
                                installFailureCount:
                                  description: Number of times that the HelmRelease
                                    failed to install
                                  type: integer
                                  format: int64
                                  nullable: true
                                upgradeFailureCount:
                                  description: Number of times that the HelmRelease
                                    failed to upgrade
                                  type: integer
                                  format: int64
                                  nullable: true
                              nullable: true
                          nullable: true
                        x-ms-identifiers:
                        - name
                        - namespace
                        - kind
                        nullable: true
                      repositoryPublicKey:
                        description: Public Key associated with this fluxConfiguration
                          (either generated within the cluster or provided by the
                          user).
                        type: string
                        readOnly: true
                        nullable: true
                      sourceSyncedCommitId:
                        description: Branch and/or SHA of the source commit synced
                          with the cluster.
                        type: string
                        readOnly: true
                        nullable: true
                      sourceUpdatedAt:
                        description: Datetime the fluxConfiguration synced its source
                          on the cluster.
                        type: string
                        format: date-time
                        readOnly: true
                        nullable: true
                      statusUpdatedAt:
                        description: Datetime the fluxConfiguration synced its status
                          on the cluster with Azure.
                        type: string
                        format: date-time
                        readOnly: true
                        nullable: true
                      waitForReconciliation:
                        description: Whether flux configuration deployment should
                          wait for cluster to reconcile the kustomizations.
                        type: boolean
                        nullable: true
                      reconciliationWaitDuration:
                        description: Maximum duration to wait for flux configuration
                          reconciliation. E.g PT1H, PT5M, P1D
                        type: string
                        nullable: true
                      complianceState:
                        description: Combined status of the Flux Kubernetes resources
                          created by the fluxConfiguration or created by the managed
                          objects.
                        type: string
                        readOnly: true
                        enum:
                        - Compliant
                        - Non-Compliant
                        - Pending
                        - Suspended
                        - Unknown
                        default: Unknown
                        x-ms-enum:
                          name: FluxComplianceState
                          modelAsString: true
                      provisioningState:
                        description: Status of the creation of the fluxConfiguration.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      errorMessage:
                        description: Error message returned to the user in the case
                          of provisioning failure.
                        type: string
                        readOnly: true
                        nullable: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - FluxConfiguration
      - Flux
      description: Create a new Kubernetes Flux Configuration.
      operationId: FluxConfigurations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: fluxConfigurationName
        in: path
        description: Name of the Flux Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  x-ms-client-flatten: true
                  description: Properties to create a Flux Configuration resource
                  properties:
                    scope:
                      description: Scope at which the operator will be installed.
                      x-ms-mutability:
                      - create
                      - read
                      type: string
                      enum:
                      - cluster
                      - namespace
                      default: cluster
                      x-ms-enum:
                        name: ScopeType
                        modelAsString: true
                    namespace:
                      description: The namespace to which this configuration is installed
                        to. Maximum of 253 lower case alphanumeric characters, hyphen
                        and period only.
                      type: string
                      default: default
                      x-ms-mutability:
                      - create
                      - read
                    sourceKind:
                      description: Source Kind to pull the configuration data from.
                      default: GitRepository
                      type: string
                      enum:
                      - GitRepository
                      - Bucket
                      - AzureBlob
                      x-ms-enum:
                        name: SourceKindType
                        modelAsString: true
                    suspend:
                      description: Whether this configuration should suspend its reconciliation
                        of its kustomizations and sources.
                      type: boolean
                      default: false
                    gitRepository:
                      description: Parameters to reconcile to the GitRepository source
                        kind type.
                      type: object
                      properties:
                        url:
                          description: The URL to sync for the flux configuration
                            git repository.
                          type: string
                          nullable: true
                        timeoutInSeconds:
                          description: The maximum time to attempt to reconcile the
                            cluster git repository source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        syncIntervalInSeconds:
                          description: The interval at which to re-reconcile the cluster
                            git repository source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        repositoryRef:
                          description: The source reference for the GitRepository
                            object.
                          type: object
                          properties:
                            branch:
                              description: The git repository branch name to checkout.
                              type: string
                              nullable: true
                            tag:
                              description: The git repository tag name to checkout.
                                This takes precedence over branch.
                              type: string
                              nullable: true
                            semver:
                              description: The semver range used to match against
                                git repository tags. This takes precedence over tag.
                              type: string
                              nullable: true
                            commit:
                              description: The commit SHA to checkout. This value
                                must be combined with the branch name to be valid.
                                This takes precedence over semver.
                              type: string
                              nullable: true
                          nullable: true
                        sshKnownHosts:
                          description: Base64-encoded known_hosts value containing
                            public SSH keys required to access private git repositories
                            over SSH
                          type: string
                          nullable: true
                        httpsUser:
                          description: Plaintext HTTPS username used to access private
                            git repositories over HTTPS
                          type: string
                          nullable: true
                        httpsCACert:
                          description: Base64-encoded HTTPS certificate authority
                            contents used to access git private git repositories over
                            HTTPS
                          type: string
                          nullable: true
                        localAuthRef:
                          description: Name of a local secret on the Kubernetes cluster
                            to use as the authentication secret rather than the managed
                            or user-provided configuration secrets.
                          type: string
                          nullable: true
                      nullable: true
                    bucket:
                      description: Parameters to reconcile to the Bucket source kind
                        type.
                      type: object
                      properties:
                        url:
                          description: The URL to sync for the flux configuration
                            S3 bucket.
                          type: string
                        bucketName:
                          description: The bucket name to sync from the url endpoint
                            for the flux configuration.
                          type: string
                        insecure:
                          description: Specify whether to use insecure communication
                            when puling data from the S3 bucket.
                          type: boolean
                          default: true
                        timeoutInSeconds:
                          description: The maximum time to attempt to reconcile the
                            cluster bucket source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        syncIntervalInSeconds:
                          description: The interval at which to re-reconcile the cluster
                            bucket source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        accessKey:
                          description: Plaintext access key used to securely access
                            the S3 bucket
                          type: string
                          nullable: true
                        localAuthRef:
                          description: Name of a local secret on the Kubernetes cluster
                            to use as the authentication secret rather than the managed
                            or user-provided configuration secrets.
                          type: string
                          nullable: true
                      nullable: true
                    azureBlob:
                      description: Parameters to reconcile to the AzureBlob source
                        kind type.
                      type: object
                      properties:
                        url:
                          description: The URL to sync for the flux configuration
                            Azure Blob storage account.
                          type: string
                          nullable: true
                        containerName:
                          description: The Azure Blob container name to sync from
                            the url endpoint for the flux configuration.
                          type: string
                          nullable: true
                        timeoutInSeconds:
                          description: The maximum time to attempt to reconcile the
                            cluster Azure Blob source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        syncIntervalInSeconds:
                          description: The interval at which to re-reconcile the cluster
                            Azure Blob source with the remote.
                          type: integer
                          format: int64
                          default: 600
                          nullable: true
                        servicePrincipal:
                          description: Parameters to authenticate using Service Principal.
                          type: object
                          properties:
                            clientId:
                              description: The client Id for authenticating a Service
                                Principal.
                              type: string
                              nullable: true
                            tenantId:
                              description: The tenant Id for authenticating a Service
                                Principal
                              type: string
                              nullable: true
                            clientSecret:
                              description: The client secret for authenticating a
                                Service Principal
                              type: string
                              x-ms-secret: true
                              nullable: true
                            clientCertificate:
                              description: 'Base64-encoded certificate used to authenticate
                                a Service Principal '
                              type: string
                              x-ms-secret: true
                              nullable: true
                            clientCertificatePassword:
                              description: 'The password for the certificate used
                                to authenticate a Service Principal '
                              type: string
                              x-ms-secret: true
                              nullable: true
                            clientCertificateSendChain:
                              description: Specifies whether to include x5c header
                                in client claims when acquiring a token to enable
                                subject name / issuer based authentication for the
                                Client Certificate
                              type: boolean
                              default: false
                          nullable: true
                        accountKey:
                          description: The account key (shared key) to access the
                            storage account
                          type: string
                          x-ms-secret: true
                          nullable: true
                        sasToken:
                          description: The Shared Access token to access the storage
                            container
                          type: string
                          x-ms-secret: true
                          nullable: true
                        managedIdentity:
                          description: Parameters to authenticate using a Managed
                            Identity.
                          type: object
                          properties:
                            clientId:
                              description: The client Id for authenticating a Managed
                                Identity.
                              type: string
                              nullable: true
                          nullable: true
                        localAuthRef:
                          description: Name of a local secret on the Kubernetes cluster
                            to use as the authentication secret rather than the managed
                            or user-provided configuration secrets.
                          type: string
                          nullable: true
                      nullable: true
                    kustomizations:
                      description: Array of kustomizations used to reconcile the artifact
                        pulled by the source type on the cluster.
                      type: object
                      additionalProperties:
                        type: object
                        description: The Kustomization defining how to reconcile the
                          artifact pulled by the source type on the cluster.
                        properties:
                          name:
                            description: Name of the Kustomization, matching the key
                              in the Kustomizations object map.
                            type: string
                            readOnly: true
                          path:
                            description: The path in the source reference to reconcile
                              on the cluster.
                            type: string
                            default: ''
                          dependsOn:
                            description: Specifies other Kustomizations that this
                              Kustomization depends on. This Kustomization will not
                              reconcile until all dependencies have completed their
                              reconciliation.
                            type: array
                            items:
                              description: Kustomization name of dependency.
                              type: string
                            nullable: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the Kustomization on the cluster.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              Kustomization on the cluster.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          retryIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              Kustomization on the cluster in the event of failure
                              on reconciliation.
                            type: integer
                            format: int64
                            nullable: true
                          prune:
                            description: Enable/disable garbage collections of Kubernetes
                              objects created by this Kustomization.
                            type: boolean
                            default: false
                          force:
                            description: Enable/disable re-creating Kubernetes resources
                              on the cluster when patching fails due to an immutable
                              field change.
                            type: boolean
                            default: false
                          wait:
                            description: Enable/disable health check for all Kubernetes
                              objects created by this Kustomization.
                            type: boolean
                            default: true
                          postBuild:
                            description: Used for variable substitution for this Kustomization
                              after kustomize build.
                            type: object
                            properties:
                              substitute:
                                description: Key/value pairs holding the variables
                                  to be substituted in this Kustomization.
                                type: object
                                additionalProperties:
                                  type: string
                                nullable: true
                              substituteFrom:
                                description: Array of ConfigMaps/Secrets from which
                                  the variables are substituted for this Kustomization.
                                type: array
                                items:
                                  type: object
                                  description: Array of ConfigMaps/Secrets from which
                                    the variables are substituted for this Kustomization.
                                  properties:
                                    kind:
                                      description: Define whether it is ConfigMap
                                        or Secret that holds the variables to be used
                                        in substitution.
                                      type: string
                                    name:
                                      description: Name of the ConfigMap/Secret that
                                        holds the variables to be used in substitution.
                                      type: string
                                    optional:
                                      description: Set to True to proceed without
                                        ConfigMap/Secret, if it is not present.
                                      type: boolean
                                      default: false
                                  nullable: true
                                x-ms-identifiers: []
                                nullable: true
                            nullable: true
                        nullable: true
                      nullable: true
                    configurationProtectedSettings:
                      description: Key-value pairs of protected configuration settings
                        for the configuration
                      type: object
                      x-ms-secret: true
                      additionalProperties:
                        type: string
                      nullable: true
                    statuses:
                      description: Statuses of the Flux Kubernetes resources created
                        by the fluxConfiguration or created by the managed objects
                        provisioned by the fluxConfiguration.
                      type: array
                      readOnly: true
                      items:
                        type: object
                        description: Statuses of objects deployed by the user-specified
                          kustomizations from the git repository.
                        properties:
                          name:
                            description: Name of the applied object
                            type: string
                          namespace:
                            description: Namespace of the applied object
                            type: string
                          kind:
                            description: Kind of the applied object
                            type: string
                          complianceState:
                            description: Compliance state of the applied object showing
                              whether the applied object has come into a ready state
                              on the cluster.
                            type: string
                            enum:
                            - Compliant
                            - Non-Compliant
                            - Pending
                            - Suspended
                            - Unknown
                            default: Unknown
                            x-ms-enum:
                              name: FluxComplianceState
                              modelAsString: true
                          appliedBy:
                            description: Object reference to the Kustomization that
                              applied this object
                            type: object
                            properties:
                              name:
                                description: Name of the object
                                type: string
                              namespace:
                                description: Namespace of the object
                                type: string
                            nullable: true
                          statusConditions:
                            description: List of Kubernetes object status conditions
                              present on the cluster
                            type: array
                            items:
                              type: object
                              description: Status condition of Kubernetes object
                              properties:
                                lastTransitionTime:
                                  description: Last time this status condition has
                                    changed
                                  type: string
                                  format: date-time
                                message:
                                  description: A more verbose description of the object
                                    status condition
                                  type: string
                                reason:
                                  description: Reason for the specified status condition
                                    type status
                                  type: string
                                status:
                                  description: Status of the Kubernetes object condition
                                    type
                                  type: string
                                type:
                                  description: Object status condition type for this
                                    object
                                  type: string
                            x-ms-identifiers:
                            - type
                            nullable: true
                          helmReleaseProperties:
                            description: Additional properties that are provided from
                              objects of the HelmRelease kind
                            type: object
                            properties:
                              lastRevisionApplied:
                                description: The revision number of the last released
                                  object change
                                type: integer
                                format: int64
                                nullable: true
                              helmChartRef:
                                description: The reference to the HelmChart object
                                  used as the source to this HelmRelease
                                type: object
                                properties:
                                  name:
                                    description: Name of the object
                                    type: string
                                  namespace:
                                    description: Namespace of the object
                                    type: string
                                nullable: true
                              failureCount:
                                description: Total number of times that the HelmRelease
                                  failed to install or upgrade
                                type: integer
                                format: int64
                                nullable: true
                              installFailureCount:
                                description: Number of times that the HelmRelease
                                  failed to install
                                type: integer
                                format: int64
                                nullable: true
                              upgradeFailureCount:
                                description: Number of times that the HelmRelease
                                  failed to upgrade
                                type: integer
                                format: int64
                                nullable: true
                            nullable: true
                        nullable: true
                      x-ms-identifiers:
                      - name
                      - namespace
                      - kind
                      nullable: true
                    repositoryPublicKey:
                      description: Public Key associated with this fluxConfiguration
                        (either generated within the cluster or provided by the user).
                      type: string
                      readOnly: true
                      nullable: true
                    sourceSyncedCommitId:
                      description: Branch and/or SHA of the source commit synced with
                        the cluster.
                      type: string
                      readOnly: true
                      nullable: true
                    sourceUpdatedAt:
                      description: Datetime the fluxConfiguration synced its source
                        on the cluster.
                      type: string
                      format: date-time
                      readOnly: true
                      nullable: true
                    statusUpdatedAt:
                      description: Datetime the fluxConfiguration synced its status
                        on the cluster with Azure.
                      type: string
                      format: date-time
                      readOnly: true
                      nullable: true
                    waitForReconciliation:
                      description: Whether flux configuration deployment should wait
                        for cluster to reconcile the kustomizations.
                      type: boolean
                      nullable: true
                    reconciliationWaitDuration:
                      description: Maximum duration to wait for flux configuration
                        reconciliation. E.g PT1H, PT5M, P1D
                      type: string
                      nullable: true
                    complianceState:
                      description: Combined status of the Flux Kubernetes resources
                        created by the fluxConfiguration or created by the managed
                        objects.
                      type: string
                      readOnly: true
                      enum:
                      - Compliant
                      - Non-Compliant
                      - Pending
                      - Suspended
                      - Unknown
                      default: Unknown
                      x-ms-enum:
                        name: FluxComplianceState
                        modelAsString: true
                    provisioningState:
                      description: Status of the creation of the fluxConfiguration.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    errorMessage:
                      description: Error message returned to the user in the case
                        of provisioning failure.
                      type: string
                      readOnly: true
                      nullable: true
                systemData:
                  description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties necessary to Create a FluxConfiguration.
        required: true
      responses:
        '200':
          description: Request received successfully for an existing resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties to create a Flux Configuration resource
                    properties:
                      scope:
                        description: Scope at which the operator will be installed.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        enum:
                        - cluster
                        - namespace
                        default: cluster
                        x-ms-enum:
                          name: ScopeType
                          modelAsString: true
                      namespace:
                        description: The namespace to which this configuration is
                          installed to. Maximum of 253 lower case alphanumeric characters,
                          hyphen and period only.
                        type: string
                        default: default
                        x-ms-mutability:
                        - create
                        - read
                      sourceKind:
                        description: Source Kind to pull the configuration data from.
                        default: GitRepository
                        type: string
                        enum:
                        - GitRepository
                        - Bucket
                        - AzureBlob
                        x-ms-enum:
                          name: SourceKindType
                          modelAsString: true
                      suspend:
                        description: Whether this configuration should suspend its
                          reconciliation of its kustomizations and sources.
                        type: boolean
                        default: false
                      gitRepository:
                        description: Parameters to reconcile to the GitRepository
                          source kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              git repository.
                            type: string
                            nullable: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster git repository source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster git repository source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          repositoryRef:
                            description: The source reference for the GitRepository
                              object.
                            type: object
                            properties:
                              branch:
                                description: The git repository branch name to checkout.
                                type: string
                                nullable: true
                              tag:
                                description: The git repository tag name to checkout.
                                  This takes precedence over branch.
                                type: string
                                nullable: true
                              semver:
                                description: The semver range used to match against
                                  git repository tags. This takes precedence over
                                  tag.
                                type: string
                                nullable: true
                              commit:
                                description: The commit SHA to checkout. This value
                                  must be combined with the branch name to be valid.
                                  This takes precedence over semver.
                                type: string
                                nullable: true
                            nullable: true
                          sshKnownHosts:
                            description: Base64-encoded known_hosts value containing
                              public SSH keys required to access private git repositories
                              over SSH
                            type: string
                            nullable: true
                          httpsUser:
                            description: Plaintext HTTPS username used to access private
                              git repositories over HTTPS
                            type: string
                            nullable: true
                          httpsCACert:
                            description: Base64-encoded HTTPS certificate authority
                              contents used to access git private git repositories
                              over HTTPS
                            type: string
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      bucket:
                        description: Parameters to reconcile to the Bucket source
                          kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              S3 bucket.
                            type: string
                          bucketName:
                            description: The bucket name to sync from the url endpoint
                              for the flux configuration.
                            type: string
                          insecure:
                            description: Specify whether to use insecure communication
                              when puling data from the S3 bucket.
                            type: boolean
                            default: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster bucket source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster bucket source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          accessKey:
                            description: Plaintext access key used to securely access
                              the S3 bucket
                            type: string
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      azureBlob:
                        description: Parameters to reconcile to the AzureBlob source
                          kind type.
                        type: object
                        properties:
                          url:
                            description: The URL to sync for the flux configuration
                              Azure Blob storage account.
                            type: string
                            nullable: true
                          containerName:
                            description: The Azure Blob container name to sync from
                              the url endpoint for the flux configuration.
                            type: string
                            nullable: true
                          timeoutInSeconds:
                            description: The maximum time to attempt to reconcile
                              the cluster Azure Blob source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          syncIntervalInSeconds:
                            description: The interval at which to re-reconcile the
                              cluster Azure Blob source with the remote.
                            type: integer
                            format: int64
                            default: 600
                            nullable: true
                          servicePrincipal:
                            description: Parameters to authenticate using Service
                              Principal.
                            type: object
                            properties:
                              clientId:
                                description: The client Id for authenticating a Service
                                  Principal.
                                type: string
                                nullable: true
                              tenantId:
                                description: The tenant Id for authenticating a Service
                                  Principal
                                type: string
                                nullable: true
                              clientSecret:
                                description: The client secret for authenticating
                                  a Service Principal
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificate:
                                description: 'Base64-encoded certificate used to authenticate
                                  a Service Principal '
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificatePassword:
                                description: 'The password for the certificate used
                                  to authenticate a Service Principal '
                                type: string
                                x-ms-secret: true
                                nullable: true
                              clientCertificateSendChain:
                                description: Specifies whether to include x5c header
                                  in client claims when acquiring a token to enable
                                  subject name / issuer based authentication for the
                                  Client Certificate
                                type: boolean
                                default: false
                            nullable: true
                          accountKey:
                            description: The account key (shared key) to access the
                              storage account
                            type: string
                            x-ms-secret: true
                            nullable: true
                          sasToken:
                            description: The Shared Access token to access the storage
                              container
                            type: string
                            x-ms-secret: true
                            nullable: true
                          managedIdentity:
                            description: Parameters to authenticate using a Managed
                              Identity.
                            type: object
                            properties:
                              clientId:
                                description: The client Id for authenticating a Managed
                                  Identity.
                                type: string
                                nullable: true
                            nullable: true
                          localAuthRef:
                            description: Name of a local secret on the Kubernetes
                              cluster to use as the authentication secret rather than
                              the managed or user-provided configuration secrets.
                            type: string
                            nullable: true
                        nullable: true
                      kustomizations:
                        description: Array of kustomizations used to reconcile the
                          artifact pulled by the source type on the cluster.
                        type: object
                        additionalProperties:
                          type: object
                          description: The Kustomization defining how to reconcile
                            the artifact pulled by the source type on the cluster.
                          properties:
                            name:
                              description: Name of the Kustomization, matching the
                                key in the Kustomizations object map.
                              type: string
                              readOnly: true
                            path:
                              description: The path in the source reference to reconcile
                                on the cluster.
                              type: string
                              default: ''
                            dependsOn:
                              description: Specifies other Kustomizations that this
                                Kustomization depends on. This Kustomization will
                                not reconcile until all dependencies have completed
                                their reconciliation.
                              type: array
                              items:
                                description: Kustomization name of dependency.
                                type: string
                              nullable: true
                            timeoutInSeconds:
                              description: The maximum time to attempt to reconcile
                                the Kustomization on the cluster.
                              type: integer
                              format: int64
                              default: 600
                              nullable: true
                            syncIntervalInSeconds:
                              description: The interval at which to re-reconcile the
                                Kustomization on the cluster.
                              type: integer
                              format: int64
                              default: 600
                              nullable: true
                            retryIntervalInSeconds:
                              description: The interval at which to re-reconcile the
                                Kustomization on the cluster in the event of failure
                                on reconciliation.
                              type: integer
                              format: int64
                              nullable: true
                            prune:
                              description: Enable/disable garbage collections of Kubernetes
                                objects created by this Kustomization.
                              type: boolean
                              default: false
                            force:
                              description: Enable/disable re-creating Kubernetes resources
                                on the cluster when patching fails due to an immutable
                                field change.
                              type: boolean
                              default: false
                            wait:
                              description: Enable/disable health check for all Kubernetes
                                objects created by this Kustomization.
                              type: boolean
                              default: true
                            postBuild:
                              description: Used for variable substitution for this
                                Kustomization after kustomize build.
                              type: object
                              properties:
                                substitute:
                                  description: Key/value pairs holding the variables
                                    to be substituted in this Kustomization.
                                  type: object
                                  additionalProperties:
                                    type: string
                                  nullable: true
                                substituteFrom:
                                  description: Array of ConfigMaps/Secrets from which
                                    the variables are substituted for this Kustomization.
                                  type: array
                                  items:
                                    type: object
                                    description: Array of ConfigMaps/Secrets from
                                      which the variables are substituted for this
                                      Kustomization.
                                    properties:
                                      kind:
                                        description: Define whether it is ConfigMap
                                          or Secret that holds the variables to be
                                          used in substitution.
                                        type: string
                                      name:
                                        description: Name of the ConfigMap/Secret
                                          that holds the variables to be used in substitution.
                                        type: string
                                      optional:
                                        description: Set to True to proceed without
                                          ConfigMap/Secret, if it is not present.
                                        type: boolean
                                        default: false
                                    nullable: true
                                  x-ms-identifiers: []
                                  nullable: true
                              nullable: true
                          nullable: true
                        nullable: true
                      configurationProtectedSettings:
                        description: Key-value pairs of protected configuration settings
                          for the configuration
                        type: object
                        x-ms-secret: true
                        additionalProperties:
                          type: string
                        nullable: true
                      statuses:
                        description: Statuses of the Flux Kubernetes resources created
                          by the fluxConfiguration or created by the managed objects
                          provisioned by the fluxConfiguration.
                        type: array
                        readOnly: true
                        items:
                          type: object
                          description: Statuses of objects deployed by the user-specified
                            kustomizations from the git repository.
                          properties:
                            name:
                              description: Name of the applied object
                              type: string
                            namespace:
                              description: Namespace of the applied object
                              type: string
                            kind:
                              description: Kind of the applied object
                              type: string
                            complianceState:
                              description: Compliance state of the applied object
                                showing whether the applied object has come into a
                                ready state on the cluster.
                              type: string
                              enum:
                              - Compliant
                              - Non-Compliant
                              - Pending
                              - Suspended
                              - Unknown
                              default: Unknown
                              x-ms-enum:
                                name: FluxComplianceState
                                modelAsString: true
                            appliedBy:
                              description: Object reference to the Kustomization that
                                applied this object
                              type: object
                              properties:
                                name:
                                  description: Name of the object
                                  type: string
                                namespace:
                                  description: Namespace of the object
                                  type: string
                              nullable: true
                            statusConditions:
                              description: List of Kubernetes object status conditions
                                present on the cluster
                              type: array
                              items:
                                type: object
                                description: Status condition of Kubernetes object
                                properties:
                                  lastTransitionTime:
                                    description: Last time this status condition has
                                      changed
                                    type: string
                                    format: date-time
                                  message:
                                    description: A more verbose description of the
                                      object status condition
                                    type: string
                                  reason:
                                    description: Reason for the specified status condition
                                      type status
                                    type: string
                                  status:
                                    description: Status of the Kubernetes object condition
[...]
