openapi: 3.0.0
info:
  version: 2023-05-01
  title: SourceControlConfigurationClient
  description: Use these APIs to create Source Control Configuration resources through
    ARM, for Kubernetes Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations/{sourceControlConfigurationName}
  : get:
      tags:
      - SourceControlConfiguration
      description: Gets details of the Source Control Configuration.
      operationId: SourceControlConfigurations_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlConfigurationName
        in: path
        description: Name of the Source Control Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties to create a Source Control Configuration
                      resource
                    properties:
                      repositoryUrl:
                        type: string
                        description: Url of the SourceControl Repository.
                      operatorNamespace:
                        description: The namespace to which this operator is installed
                          to. Maximum of 253 lower case alphanumeric characters, hyphen
                          and period only.
                        type: string
                        default: default
                      operatorInstanceName:
                        description: Instance name of the operator - identifying the
                          specific configuration.
                        type: string
                      operatorType:
                        description: Type of the operator
                        type: string
                        enum:
                        - Flux
                        x-ms-enum:
                          name: OperatorType
                          modelAsString: true
                      operatorParams:
                        description: Any Parameters for the Operator instance in string
                          format.
                        type: string
                      configurationProtectedSettings:
                        description: Name-value pairs of protected configuration settings
                          for the configuration
                        type: object
                        additionalProperties:
                          type: string
                      operatorScope:
                        description: Scope at which the operator will be installed.
                        type: string
                        enum:
                        - cluster
                        - namespace
                        default: cluster
                        x-ms-enum:
                          name: OperatorScopeType
                          modelAsString: true
                      repositoryPublicKey:
                        description: Public Key associated with this SourceControl
                          configuration (either generated within the cluster or provided
                          by the user).
                        type: string
                        readOnly: true
                      sshKnownHostsContents:
                        description: Base64-encoded known_hosts contents containing
                          public SSH keys required to access private Git instances
                        type: string
                      enableHelmOperator:
                        description: Option to enable Helm Operator for this git configuration.
                        type: boolean
                      helmOperatorProperties:
                        description: Properties for Helm operator.
                        type: object
                        properties:
                          chartVersion:
                            description: Version of the operator Helm chart.
                            type: string
                          chartValues:
                            description: Values override for the operator Helm chart.
                            type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource provider.
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningStateType
                        enum:
                        - Accepted
                        - Deleting
                        - Running
                        - Succeeded
                        - Failed
                      complianceStatus:
                        type: object
                        description: Compliance Status of the Configuration
                        readOnly: true
                        properties:
                          complianceState:
                            description: The compliance state of the configuration.
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ComplianceStateType
                              modelAsString: true
                            enum:
                            - Pending
                            - Compliant
                            - Noncompliant
                            - Installed
                            - Failed
                          lastConfigApplied:
                            description: Datetime the configuration was last applied.
                            type: string
                            format: date-time
                          message:
                            description: Message from when the configuration was applied.
                            type: string
                          messageLevel:
                            description: Level of the message.
                            type: string
                            enum:
                            - Error
                            - Warning
                            - Information
                            x-ms-enum:
                              name: MessageLevelType
                              modelAsString: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - SourceControlConfiguration
      description: Create a new Kubernetes Source Control Configuration.
      operationId: SourceControlConfigurations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlConfigurationName
        in: path
        description: Name of the Source Control Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  type: object
                  x-ms-client-flatten: true
                  description: Properties to create a Source Control Configuration
                    resource
                  properties:
                    repositoryUrl:
                      type: string
                      description: Url of the SourceControl Repository.
                    operatorNamespace:
                      description: The namespace to which this operator is installed
                        to. Maximum of 253 lower case alphanumeric characters, hyphen
                        and period only.
                      type: string
                      default: default
                    operatorInstanceName:
                      description: Instance name of the operator - identifying the
                        specific configuration.
                      type: string
                    operatorType:
                      description: Type of the operator
                      type: string
                      enum:
                      - Flux
                      x-ms-enum:
                        name: OperatorType
                        modelAsString: true
                    operatorParams:
                      description: Any Parameters for the Operator instance in string
                        format.
                      type: string
                    configurationProtectedSettings:
                      description: Name-value pairs of protected configuration settings
                        for the configuration
                      type: object
                      additionalProperties:
                        type: string
                    operatorScope:
                      description: Scope at which the operator will be installed.
                      type: string
                      enum:
                      - cluster
                      - namespace
                      default: cluster
                      x-ms-enum:
                        name: OperatorScopeType
                        modelAsString: true
                    repositoryPublicKey:
                      description: Public Key associated with this SourceControl configuration
                        (either generated within the cluster or provided by the user).
                      type: string
                      readOnly: true
                    sshKnownHostsContents:
                      description: Base64-encoded known_hosts contents containing
                        public SSH keys required to access private Git instances
                      type: string
                    enableHelmOperator:
                      description: Option to enable Helm Operator for this git configuration.
                      type: boolean
                    helmOperatorProperties:
                      description: Properties for Helm operator.
                      type: object
                      properties:
                        chartVersion:
                          description: Version of the operator Helm chart.
                          type: string
                        chartValues:
                          description: Values override for the operator Helm chart.
                          type: string
                    provisioningState:
                      type: string
                      description: The provisioning state of the resource provider.
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: ProvisioningStateType
                      enum:
                      - Accepted
                      - Deleting
                      - Running
                      - Succeeded
                      - Failed
                    complianceStatus:
                      type: object
                      description: Compliance Status of the Configuration
                      readOnly: true
                      properties:
                        complianceState:
                          description: The compliance state of the configuration.
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: ComplianceStateType
                            modelAsString: true
                          enum:
                          - Pending
                          - Compliant
                          - Noncompliant
                          - Installed
                          - Failed
                        lastConfigApplied:
                          description: Datetime the configuration was last applied.
                          type: string
                          format: date-time
                        message:
                          description: Message from when the configuration was applied.
                          type: string
                        messageLevel:
                          description: Level of the message.
                          type: string
                          enum:
                          - Error
                          - Warning
                          - Information
                          x-ms-enum:
                            name: MessageLevelType
                            modelAsString: true
                systemData:
                  description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties necessary to Create KubernetesConfiguration.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties to create a Source Control Configuration
                      resource
                    properties:
                      repositoryUrl:
                        type: string
                        description: Url of the SourceControl Repository.
                      operatorNamespace:
                        description: The namespace to which this operator is installed
                          to. Maximum of 253 lower case alphanumeric characters, hyphen
                          and period only.
                        type: string
                        default: default
                      operatorInstanceName:
                        description: Instance name of the operator - identifying the
                          specific configuration.
                        type: string
                      operatorType:
                        description: Type of the operator
                        type: string
                        enum:
                        - Flux
                        x-ms-enum:
                          name: OperatorType
                          modelAsString: true
                      operatorParams:
                        description: Any Parameters for the Operator instance in string
                          format.
                        type: string
                      configurationProtectedSettings:
                        description: Name-value pairs of protected configuration settings
                          for the configuration
                        type: object
                        additionalProperties:
                          type: string
                      operatorScope:
                        description: Scope at which the operator will be installed.
                        type: string
                        enum:
                        - cluster
                        - namespace
                        default: cluster
                        x-ms-enum:
                          name: OperatorScopeType
                          modelAsString: true
                      repositoryPublicKey:
                        description: Public Key associated with this SourceControl
                          configuration (either generated within the cluster or provided
                          by the user).
                        type: string
                        readOnly: true
                      sshKnownHostsContents:
                        description: Base64-encoded known_hosts contents containing
                          public SSH keys required to access private Git instances
                        type: string
                      enableHelmOperator:
                        description: Option to enable Helm Operator for this git configuration.
                        type: boolean
                      helmOperatorProperties:
                        description: Properties for Helm operator.
                        type: object
                        properties:
                          chartVersion:
                            description: Version of the operator Helm chart.
                            type: string
                          chartValues:
                            description: Values override for the operator Helm chart.
                            type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource provider.
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningStateType
                        enum:
                        - Accepted
                        - Deleting
                        - Running
                        - Succeeded
                        - Failed
                      complianceStatus:
                        type: object
                        description: Compliance Status of the Configuration
                        readOnly: true
                        properties:
                          complianceState:
                            description: The compliance state of the configuration.
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ComplianceStateType
                              modelAsString: true
                            enum:
                            - Pending
                            - Compliant
                            - Noncompliant
                            - Installed
                            - Failed
                          lastConfigApplied:
                            description: Datetime the configuration was last applied.
                            type: string
                            format: date-time
                          message:
                            description: Message from when the configuration was applied.
                            type: string
                          messageLevel:
                            description: Level of the message.
                            type: string
                            enum:
                            - Error
                            - Warning
                            - Information
                            x-ms-enum:
                              name: MessageLevelType
                              modelAsString: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    description: Properties to create a Source Control Configuration
                      resource
                    properties:
                      repositoryUrl:
                        type: string
                        description: Url of the SourceControl Repository.
                      operatorNamespace:
                        description: The namespace to which this operator is installed
                          to. Maximum of 253 lower case alphanumeric characters, hyphen
                          and period only.
                        type: string
                        default: default
                      operatorInstanceName:
                        description: Instance name of the operator - identifying the
                          specific configuration.
                        type: string
                      operatorType:
                        description: Type of the operator
                        type: string
                        enum:
                        - Flux
                        x-ms-enum:
                          name: OperatorType
                          modelAsString: true
                      operatorParams:
                        description: Any Parameters for the Operator instance in string
                          format.
                        type: string
                      configurationProtectedSettings:
                        description: Name-value pairs of protected configuration settings
                          for the configuration
                        type: object
                        additionalProperties:
                          type: string
                      operatorScope:
                        description: Scope at which the operator will be installed.
                        type: string
                        enum:
                        - cluster
                        - namespace
                        default: cluster
                        x-ms-enum:
                          name: OperatorScopeType
                          modelAsString: true
                      repositoryPublicKey:
                        description: Public Key associated with this SourceControl
                          configuration (either generated within the cluster or provided
                          by the user).
                        type: string
                        readOnly: true
                      sshKnownHostsContents:
                        description: Base64-encoded known_hosts contents containing
                          public SSH keys required to access private Git instances
                        type: string
                      enableHelmOperator:
                        description: Option to enable Helm Operator for this git configuration.
                        type: boolean
                      helmOperatorProperties:
                        description: Properties for Helm operator.
                        type: object
                        properties:
                          chartVersion:
                            description: Version of the operator Helm chart.
                            type: string
                          chartValues:
                            description: Values override for the operator Helm chart.
                            type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource provider.
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningStateType
                        enum:
                        - Accepted
                        - Deleting
                        - Running
                        - Succeeded
                        - Failed
                      complianceStatus:
                        type: object
                        description: Compliance Status of the Configuration
                        readOnly: true
                        properties:
                          complianceState:
                            description: The compliance state of the configuration.
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ComplianceStateType
                              modelAsString: true
                            enum:
                            - Pending
                            - Compliant
                            - Noncompliant
                            - Installed
                            - Failed
                          lastConfigApplied:
                            description: Datetime the configuration was last applied.
                            type: string
                            format: date-time
                          message:
                            description: Message from when the configuration was applied.
                            type: string
                          messageLevel:
                            description: Level of the message.
                            type: string
                            enum:
                            - Error
                            - Warning
                            - Information
                            x-ms-enum:
                              name: MessageLevelType
                              modelAsString: true
                  systemData:
                    description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - SourceControlConfiguration
      description: This will delete the YAML file used to set up the Source control
        configuration, thus stopping future sync from the source repo.
      operationId: SourceControlConfigurations_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sourceControlConfigurationName
        in: path
        description: Name of the Source Control Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK.  The request has been completed successfully.
        '204':
          description: No Content.  The request has been accepted but the configuration
            was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations
  : get:
      tags:
      - SourceControlConfiguration
      description: List all Source Control Configurations.
      operationId: SourceControlConfigurations_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of the request to list Source Control Configurations.  It
                  contains a list of SourceControlConfiguration objects and a URL
                  link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          description: Properties to create a Source Control Configuration
                            resource
                          properties:
                            repositoryUrl:
                              type: string
                              description: Url of the SourceControl Repository.
                            operatorNamespace:
                              description: The namespace to which this operator is
                                installed to. Maximum of 253 lower case alphanumeric
                                characters, hyphen and period only.
                              type: string
                              default: default
                            operatorInstanceName:
                              description: Instance name of the operator - identifying
                                the specific configuration.
                              type: string
                            operatorType:
                              description: Type of the operator
                              type: string
                              enum:
                              - Flux
                              x-ms-enum:
                                name: OperatorType
                                modelAsString: true
                            operatorParams:
                              description: Any Parameters for the Operator instance
                                in string format.
                              type: string
                            configurationProtectedSettings:
                              description: Name-value pairs of protected configuration
                                settings for the configuration
                              type: object
                              additionalProperties:
                                type: string
                            operatorScope:
                              description: Scope at which the operator will be installed.
                              type: string
                              enum:
                              - cluster
                              - namespace
                              default: cluster
                              x-ms-enum:
                                name: OperatorScopeType
                                modelAsString: true
                            repositoryPublicKey:
                              description: Public Key associated with this SourceControl
                                configuration (either generated within the cluster
                                or provided by the user).
                              type: string
                              readOnly: true
                            sshKnownHostsContents:
                              description: Base64-encoded known_hosts contents containing
                                public SSH keys required to access private Git instances
                              type: string
                            enableHelmOperator:
                              description: Option to enable Helm Operator for this
                                git configuration.
                              type: boolean
                            helmOperatorProperties:
                              description: Properties for Helm operator.
                              type: object
                              properties:
                                chartVersion:
                                  description: Version of the operator Helm chart.
                                  type: string
                                chartValues:
                                  description: Values override for the operator Helm
                                    chart.
                                  type: string
                            provisioningState:
                              type: string
                              description: The provisioning state of the resource
                                provider.
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningStateType
                              enum:
                              - Accepted
                              - Deleting
                              - Running
                              - Succeeded
                              - Failed
                            complianceStatus:
                              type: object
                              description: Compliance Status of the Configuration
                              readOnly: true
                              properties:
                                complianceState:
                                  description: The compliance state of the configuration.
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: ComplianceStateType
                                    modelAsString: true
                                  enum:
                                  - Pending
                                  - Compliant
                                  - Noncompliant
                                  - Installed
                                  - Failed
                                lastConfigApplied:
                                  description: Datetime the configuration was last
                                    applied.
                                  type: string
                                  format: date-time
                                message:
                                  description: Message from when the configuration
                                    was applied.
                                  type: string
                                messageLevel:
                                  description: Level of the message.
                                  type: string
                                  enum:
                                  - Error
                                  - Warning
                                  - Information
                                  x-ms-enum:
                                    name: MessageLevelType
                                    modelAsString: true
                        systemData:
                          description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Source Control Configurations within a Kubernetes
                      cluster.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of configuration objects,
                      if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SourceControlConfigurationNameParameter:
      name: sourceControlConfigurationName
      in: path
      description: Name of the Source Control Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ClusterRpParameter:
      name: clusterRp
      in: path
      required: true
      description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes,
        Microsoft.HybridContainerService.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterResourceNameParameter:
      name: clusterResourceName
      in: path
      required: true
      description: The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters,
        provisionedClusters.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the kubernetes cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ComplianceStatus:
      description: Compliance Status details
      type: object
      readOnly: true
      properties:
        complianceState:
          description: The compliance state of the configuration.
          type: string
          readOnly: true
          x-ms-enum:
            name: ComplianceStateType
            modelAsString: true
          enum:
          - Pending
          - Compliant
          - Noncompliant
          - Installed
          - Failed
        lastConfigApplied:
          description: Datetime the configuration was last applied.
          type: string
          format: date-time
        message:
          description: Message from when the configuration was applied.
          type: string
        messageLevel:
          description: Level of the message.
          type: string
          enum:
          - Error
          - Warning
          - Information
          x-ms-enum:
            name: MessageLevelType
            modelAsString: true
    ChartVersion:
      description: Version of the operator Helm chart.
      type: string
    ChartValues:
      description: Values override for the operator Helm chart.
      type: string
    HelmOperatorProperties:
      description: Properties for Helm operator.
      type: object
      properties:
        chartVersion:
          description: Version of the operator Helm chart.
          type: string
        chartValues:
          description: Values override for the operator Helm chart.
          type: string
    ConfigurationProtectedSettings:
      description: Name-value pairs of protected configuration settings for the configuration
      type: object
      additionalProperties:
        type: string
    OperatorTypeDefinition:
      description: Type of the operator
      type: string
      enum:
      - Flux
      x-ms-enum:
        name: OperatorType
        modelAsString: true
    OperatorScopeDefinition:
      description: Scope at which the operator will be installed.
      type: string
      enum:
      - cluster
      - namespace
      default: cluster
      x-ms-enum:
        name: OperatorScopeType
        modelAsString: true
    SourceControlConfiguration:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          type: object
          x-ms-client-flatten: true
          description: Properties to create a Source Control Configuration resource
          properties:
            repositoryUrl:
              type: string
              description: Url of the SourceControl Repository.
            operatorNamespace:
              description: The namespace to which this operator is installed to. Maximum
                of 253 lower case alphanumeric characters, hyphen and period only.
              type: string
              default: default
            operatorInstanceName:
              description: Instance name of the operator - identifying the specific
                configuration.
              type: string
            operatorType:
              description: Type of the operator
              type: string
              enum:
              - Flux
              x-ms-enum:
                name: OperatorType
                modelAsString: true
            operatorParams:
              description: Any Parameters for the Operator instance in string format.
              type: string
            configurationProtectedSettings:
              description: Name-value pairs of protected configuration settings for
                the configuration
              type: object
              additionalProperties:
                type: string
            operatorScope:
              description: Scope at which the operator will be installed.
              type: string
              enum:
              - cluster
              - namespace
              default: cluster
              x-ms-enum:
                name: OperatorScopeType
                modelAsString: true
            repositoryPublicKey:
              description: Public Key associated with this SourceControl configuration
                (either generated within the cluster or provided by the user).
              type: string
              readOnly: true
            sshKnownHostsContents:
              description: Base64-encoded known_hosts contents containing public SSH
                keys required to access private Git instances
              type: string
            enableHelmOperator:
              description: Option to enable Helm Operator for this git configuration.
              type: boolean
            helmOperatorProperties:
              description: Properties for Helm operator.
              type: object
              properties:
                chartVersion:
                  description: Version of the operator Helm chart.
                  type: string
                chartValues:
                  description: Values override for the operator Helm chart.
                  type: string
            provisioningState:
              type: string
              description: The provisioning state of the resource provider.
              readOnly: true
              x-ms-enum:
                modelAsString: true
                name: ProvisioningStateType
              enum:
              - Accepted
              - Deleting
              - Running
              - Succeeded
              - Failed
            complianceStatus:
              type: object
              description: Compliance Status of the Configuration
              readOnly: true
              properties:
                complianceState:
                  description: The compliance state of the configuration.
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: ComplianceStateType
                    modelAsString: true
                  enum:
                  - Pending
                  - Compliant
                  - Noncompliant
                  - Installed
                  - Failed
                lastConfigApplied:
                  description: Datetime the configuration was last applied.
                  type: string
                  format: date-time
                message:
                  description: Message from when the configuration was applied.
                  type: string
                messageLevel:
                  description: Level of the message.
                  type: string
                  enum:
                  - Error
                  - Warning
                  - Information
                  x-ms-enum:
                    name: MessageLevelType
                    modelAsString: true
        systemData:
          description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SourceControlConfigurationList:
      description: Result of the request to list Source Control Configurations.  It
        contains a list of SourceControlConfiguration objects and a URL link to get
        the next set of results.
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                type: object
                x-ms-client-flatten: true
                description: Properties to create a Source Control Configuration resource
                properties:
                  repositoryUrl:
                    type: string
                    description: Url of the SourceControl Repository.
                  operatorNamespace:
                    description: The namespace to which this operator is installed
                      to. Maximum of 253 lower case alphanumeric characters, hyphen
                      and period only.
                    type: string
                    default: default
                  operatorInstanceName:
                    description: Instance name of the operator - identifying the specific
                      configuration.
                    type: string
                  operatorType:
                    description: Type of the operator
                    type: string
                    enum:
                    - Flux
                    x-ms-enum:
                      name: OperatorType
                      modelAsString: true
                  operatorParams:
                    description: Any Parameters for the Operator instance in string
                      format.
                    type: string
                  configurationProtectedSettings:
                    description: Name-value pairs of protected configuration settings
                      for the configuration
                    type: object
                    additionalProperties:
                      type: string
                  operatorScope:
                    description: Scope at which the operator will be installed.
                    type: string
                    enum:
                    - cluster
                    - namespace
                    default: cluster
                    x-ms-enum:
                      name: OperatorScopeType
                      modelAsString: true
                  repositoryPublicKey:
                    description: Public Key associated with this SourceControl configuration
                      (either generated within the cluster or provided by the user).
                    type: string
                    readOnly: true
                  sshKnownHostsContents:
                    description: Base64-encoded known_hosts contents containing public
                      SSH keys required to access private Git instances
                    type: string
                  enableHelmOperator:
                    description: Option to enable Helm Operator for this git configuration.
                    type: boolean
                  helmOperatorProperties:
                    description: Properties for Helm operator.
                    type: object
                    properties:
                      chartVersion:
                        description: Version of the operator Helm chart.
                        type: string
                      chartValues:
                        description: Values override for the operator Helm chart.
                        type: string
                  provisioningState:
                    type: string
                    description: The provisioning state of the resource provider.
                    readOnly: true
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningStateType
                    enum:
                    - Accepted
                    - Deleting
                    - Running
                    - Succeeded
                    - Failed
                  complianceStatus:
                    type: object
                    description: Compliance Status of the Configuration
                    readOnly: true
                    properties:
                      complianceState:
                        description: The compliance state of the configuration.
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ComplianceStateType
                          modelAsString: true
                        enum:
                        - Pending
                        - Compliant
                        - Noncompliant
                        - Installed
                        - Failed
                      lastConfigApplied:
                        description: Datetime the configuration was last applied.
                        type: string
                        format: date-time
                      message:
                        description: Message from when the configuration was applied.
                        type: string
                      messageLevel:
                        description: Level of the message.
                        type: string
                        enum:
                        - Error
                        - Warning
                        - Information
                        x-ms-enum:
                          name: MessageLevelType
                          modelAsString: true
              systemData:
                description: Top level metadata https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/common-api-contracts.md#system-metadata-for-all-azure-resources
                type: object
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of Source Control Configurations within a Kubernetes cluster.
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of configuration objects, if any.
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
[...]
