openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements/{agreementName}:
    get:
      tags:
      - Agreement
      description: Gets an agreement by ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Agreements_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: agreementName
        description: The ID that uniquely identifies an agreement.
        required: true
        schema:
          type: string
          pattern: ^[a-fA-F0-9]{1,12}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A billing account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: An agreement.
                    type: object
                    properties:
                      acceptanceMode:
                        description: The mode of acceptance for an agreement.
                        enum:
                        - Other
                        - ClickToAccept
                        - ESignEmbedded
                        - ESignOffline
                        - Implicit
                        - Offline
                        - PhysicalSign
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AcceptanceMode
                          modelAsString: true
                      agreementLink:
                        description: The URL to download the agreement.
                        type: string
                        readOnly: true
                      billingProfileInfo:
                        description: The list of billing profiles associated with
                          agreement and present only for specific agreements.
                        type: array
                        items:
                          description: Details about billing profile associated with
                            agreement and available only for specific agreements.
                          type: object
                          properties:
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                            billingProfileId:
                              description: The friendly ID that uniquely identifies
                                a billing profile.
                              type: string
                            billingProfileSystemId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            indirectRelationshipOrganizationName:
                              description: Billing account name. Available for a specific
                                type of agreement.
                              type: string
                        readOnly: true
                        x-ms-identifiers: []
                      category:
                        description: The category of the agreement.
                        enum:
                        - Other
                        - AffiliatePurchaseTerms
                        - IndirectForGovernmentAgreement
                        - MicrosoftCustomerAgreement
                        - MicrosoftPartnerAgreement
                        - UKCloudComputeFramework
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: Category
                          modelAsString: true
                      displayName:
                        description: The name of the agreement signed by a customer.
                        type: string
                        readOnly: true
                      effectiveDate:
                        format: date-time
                        description: The date from which the agreement is effective.
                        type: string
                        readOnly: true
                      expirationDate:
                        format: date-time
                        description: The date when the agreement expires.
                        type: string
                        readOnly: true
                      participants:
                        description: The list of participants that participates in
                          acceptance of an agreement.
                        type: array
                        items:
                          description: Billing account name. Available for a specific
                            type of agreement.
                          type: object
                          properties:
                            email:
                              description: The email address of the participant.
                              type: string
                              readOnly: true
                            status:
                              description: The acceptance status of the participant.
                              type: string
                              readOnly: true
                            statusDate:
                              format: date-time
                              description: The date when the status got changed.
                              type: string
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
                      status:
                        description: The current status of the agreement.
                        type: string
                        readOnly: true
                      leadBillingAccountName:
                        description: The ID of the lead billing account if this agreement
                          is part of the Customer Affiliate Purchase Terms.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/agreements:
    get:
      tags:
      - Agreement
      description: Lists the agreements for a billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Agreements_ListByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: expand
        description: May be used to expand the participants.
        schema:
          type: string
      responses:
        '200':
          description: Result of listing agreements.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: An agreement.
                          type: object
                          properties:
                            acceptanceMode:
                              description: The mode of acceptance for an agreement.
                              enum:
                              - Other
                              - ClickToAccept
                              - ESignEmbedded
                              - ESignOffline
                              - Implicit
                              - Offline
                              - PhysicalSign
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: AcceptanceMode
                                modelAsString: true
                            agreementLink:
                              description: The URL to download the agreement.
                              type: string
                              readOnly: true
                            billingProfileInfo:
                              description: The list of billing profiles associated
                                with agreement and present only for specific agreements.
                              type: array
                              items:
                                description: Details about billing profile associated
                                  with agreement and available only for specific agreements.
                                type: object
                                properties:
                                  billingAccountId:
                                    description: The fully qualified ID that uniquely
                                      identifies a billing account.
                                    type: string
                                  billingProfileDisplayName:
                                    description: The name of the billing profile.
                                    type: string
                                  billingProfileId:
                                    description: The friendly ID that uniquely identifies
                                      a billing profile.
                                    type: string
                                  billingProfileSystemId:
                                    description: The fully qualified ID that uniquely
                                      identifies a billing profile.
                                    type: string
                                  indirectRelationshipOrganizationName:
                                    description: Billing account name. Available for
                                      a specific type of agreement.
                                    type: string
                              readOnly: true
                              x-ms-identifiers: []
                            category:
                              description: The category of the agreement.
                              enum:
                              - Other
                              - AffiliatePurchaseTerms
                              - IndirectForGovernmentAgreement
                              - MicrosoftCustomerAgreement
                              - MicrosoftPartnerAgreement
                              - UKCloudComputeFramework
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: Category
                                modelAsString: true
                            displayName:
                              description: The name of the agreement signed by a customer.
                              type: string
                              readOnly: true
                            effectiveDate:
                              format: date-time
                              description: The date from which the agreement is effective.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: The date when the agreement expires.
                              type: string
                              readOnly: true
                            participants:
                              description: The list of participants that participates
                                in acceptance of an agreement.
                              type: array
                              items:
                                description: Billing account name. Available for a
                                  specific type of agreement.
                                type: object
                                properties:
                                  email:
                                    description: The email address of the participant.
                                    type: string
                                    readOnly: true
                                  status:
                                    description: The acceptance status of the participant.
                                    type: string
                                    readOnly: true
                                  statusDate:
                                    format: date-time
                                    description: The date when the status got changed.
                                    type: string
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                            status:
                              description: The current status of the agreement.
                              type: string
                              readOnly: true
                            leadBillingAccountName:
                              description: The ID of the lead billing account if this
                                agreement is part of the Customer Affiliate Purchase
                                Terms.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    billingAccountName:
      in: path
      name: billingAccountName
      description: The ID that uniquely identifies a billing account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
    apiVersionParameter:
      in: query
      name: api-version
      description: The version of the API to be used with the client request. The
        current version is 2024-04-01.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Agreement:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
        properties:
          description: An agreement.
          type: object
          properties:
            acceptanceMode:
              description: The mode of acceptance for an agreement.
              enum:
              - Other
              - ClickToAccept
              - ESignEmbedded
              - ESignOffline
              - Implicit
              - Offline
              - PhysicalSign
              type: string
              readOnly: true
              x-ms-enum:
                name: AcceptanceMode
                modelAsString: true
            agreementLink:
              description: The URL to download the agreement.
              type: string
              readOnly: true
            billingProfileInfo:
              description: The list of billing profiles associated with agreement
                and present only for specific agreements.
              type: array
              items:
                description: Details about billing profile associated with agreement
                  and available only for specific agreements.
                type: object
                properties:
                  billingAccountId:
                    description: The fully qualified ID that uniquely identifies a
                      billing account.
                    type: string
                  billingProfileDisplayName:
                    description: The name of the billing profile.
                    type: string
                  billingProfileId:
                    description: The friendly ID that uniquely identifies a billing
                      profile.
                    type: string
                  billingProfileSystemId:
                    description: The fully qualified ID that uniquely identifies a
                      billing profile.
                    type: string
                  indirectRelationshipOrganizationName:
                    description: Billing account name. Available for a specific type
                      of agreement.
                    type: string
              readOnly: true
              x-ms-identifiers: []
            category:
              description: The category of the agreement.
              enum:
              - Other
              - AffiliatePurchaseTerms
              - IndirectForGovernmentAgreement
              - MicrosoftCustomerAgreement
              - MicrosoftPartnerAgreement
              - UKCloudComputeFramework
              type: string
              readOnly: true
              x-ms-enum:
                name: Category
                modelAsString: true
            displayName:
              description: The name of the agreement signed by a customer.
              type: string
              readOnly: true
            effectiveDate:
              format: date-time
              description: The date from which the agreement is effective.
              type: string
              readOnly: true
            expirationDate:
              format: date-time
              description: The date when the agreement expires.
              type: string
              readOnly: true
            participants:
              description: The list of participants that participates in acceptance
                of an agreement.
              type: array
              items:
                description: Billing account name. Available for a specific type of
                  agreement.
                type: object
                properties:
                  email:
                    description: The email address of the participant.
                    type: string
                    readOnly: true
                  status:
                    description: The acceptance status of the participant.
                    type: string
                    readOnly: true
                  statusDate:
                    format: date-time
                    description: The date when the status got changed.
                    type: string
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
            status:
              description: The current status of the agreement.
              type: string
              readOnly: true
            leadBillingAccountName:
              description: The ID of the lead billing account if this agreement is
                part of the Customer Affiliate Purchase Terms.
              type: string
              readOnly: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    AgreementListResult:
      description: A container for a list of resources
      type: object
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
        value:
          description: The list of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              tags:
                description: Dictionary of metadata associated with the resource.
                  It may not be populated for all resource types. Maximum key/value
                  length supported of 256 characters. Keys/value should not empty
                  value nor null. Keys can not contain < > % & \ ? /
                type: object
                additionalProperties:
                  type: string
              properties:
                description: An agreement.
                type: object
                properties:
                  acceptanceMode:
                    description: The mode of acceptance for an agreement.
                    enum:
                    - Other
                    - ClickToAccept
                    - ESignEmbedded
                    - ESignOffline
                    - Implicit
                    - Offline
                    - PhysicalSign
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: AcceptanceMode
                      modelAsString: true
                  agreementLink:
                    description: The URL to download the agreement.
                    type: string
                    readOnly: true
                  billingProfileInfo:
                    description: The list of billing profiles associated with agreement
                      and present only for specific agreements.
                    type: array
                    items:
                      description: Details about billing profile associated with agreement
                        and available only for specific agreements.
                      type: object
                      properties:
                        billingAccountId:
                          description: The fully qualified ID that uniquely identifies
                            a billing account.
                          type: string
                        billingProfileDisplayName:
                          description: The name of the billing profile.
                          type: string
                        billingProfileId:
                          description: The friendly ID that uniquely identifies a
                            billing profile.
                          type: string
                        billingProfileSystemId:
                          description: The fully qualified ID that uniquely identifies
                            a billing profile.
                          type: string
                        indirectRelationshipOrganizationName:
                          description: Billing account name. Available for a specific
                            type of agreement.
                          type: string
                    readOnly: true
                    x-ms-identifiers: []
                  category:
                    description: The category of the agreement.
                    enum:
                    - Other
                    - AffiliatePurchaseTerms
                    - IndirectForGovernmentAgreement
                    - MicrosoftCustomerAgreement
                    - MicrosoftPartnerAgreement
                    - UKCloudComputeFramework
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: Category
                      modelAsString: true
                  displayName:
                    description: The name of the agreement signed by a customer.
                    type: string
                    readOnly: true
                  effectiveDate:
                    format: date-time
                    description: The date from which the agreement is effective.
                    type: string
                    readOnly: true
                  expirationDate:
                    format: date-time
                    description: The date when the agreement expires.
                    type: string
                    readOnly: true
                  participants:
                    description: The list of participants that participates in acceptance
                      of an agreement.
                    type: array
                    items:
                      description: Billing account name. Available for a specific
                        type of agreement.
                      type: object
                      properties:
                        email:
                          description: The email address of the participant.
                          type: string
                          readOnly: true
                        status:
                          description: The acceptance status of the participant.
                          type: string
                          readOnly: true
                        statusDate:
                          format: date-time
                          description: The date when the status got changed.
                          type: string
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
                  status:
                    description: The current status of the agreement.
                    type: string
                    readOnly: true
                  leadBillingAccountName:
                    description: The ID of the lead billing account if this agreement
                      is part of the Customer Affiliate Purchase Terms.
                    type: string
                    readOnly: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          readOnly: true
          x-ms-identifiers:
          - id
    AgreementProperties:
      description: An agreement.
      type: object
      properties:
        acceptanceMode:
          description: The mode of acceptance for an agreement.
          enum:
          - Other
          - ClickToAccept
          - ESignEmbedded
          - ESignOffline
          - Implicit
          - Offline
          - PhysicalSign
          type: string
          readOnly: true
          x-ms-enum:
            name: AcceptanceMode
            modelAsString: true
        agreementLink:
          description: The URL to download the agreement.
          type: string
          readOnly: true
        billingProfileInfo:
          description: The list of billing profiles associated with agreement and
            present only for specific agreements.
          type: array
          items:
            description: Details about billing profile associated with agreement and
              available only for specific agreements.
            type: object
            properties:
              billingAccountId:
                description: The fully qualified ID that uniquely identifies a billing
                  account.
                type: string
              billingProfileDisplayName:
                description: The name of the billing profile.
                type: string
              billingProfileId:
                description: The friendly ID that uniquely identifies a billing profile.
                type: string
              billingProfileSystemId:
                description: The fully qualified ID that uniquely identifies a billing
                  profile.
                type: string
              indirectRelationshipOrganizationName:
                description: Billing account name. Available for a specific type of
                  agreement.
                type: string
          readOnly: true
          x-ms-identifiers: []
        category:
          description: The category of the agreement.
          enum:
          - Other
          - AffiliatePurchaseTerms
          - IndirectForGovernmentAgreement
          - MicrosoftCustomerAgreement
          - MicrosoftPartnerAgreement
          - UKCloudComputeFramework
          type: string
          readOnly: true
          x-ms-enum:
            name: Category
            modelAsString: true
        displayName:
          description: The name of the agreement signed by a customer.
          type: string
          readOnly: true
        effectiveDate:
          format: date-time
          description: The date from which the agreement is effective.
          type: string
          readOnly: true
        expirationDate:
          format: date-time
          description: The date when the agreement expires.
          type: string
          readOnly: true
        participants:
          description: The list of participants that participates in acceptance of
            an agreement.
          type: array
          items:
            description: Billing account name. Available for a specific type of agreement.
            type: object
            properties:
              email:
                description: The email address of the participant.
                type: string
                readOnly: true
              status:
                description: The acceptance status of the participant.
                type: string
                readOnly: true
              statusDate:
                format: date-time
                description: The date when the status got changed.
                type: string
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
        status:
          description: The current status of the agreement.
          type: string
          readOnly: true
        leadBillingAccountName:
          description: The ID of the lead billing account if this agreement is part
            of the Customer Affiliate Purchase Terms.
          type: string
          readOnly: true
    BillingProfileInfo:
      description: Details about billing profile associated with agreement and available
        only for specific agreements.
      type: object
      properties:
        billingAccountId:
          description: The fully qualified ID that uniquely identifies a billing account.
          type: string
        billingProfileDisplayName:
          description: The name of the billing profile.
          type: string
        billingProfileId:
          description: The friendly ID that uniquely identifies a billing profile.
          type: string
        billingProfileSystemId:
          description: The fully qualified ID that uniquely identifies a billing profile.
          type: string
        indirectRelationshipOrganizationName:
          description: Billing account name. Available for a specific type of agreement.
          type: string
    Participant:
      description: Billing account name. Available for a specific type of agreement.
      type: object
      properties:
        email:
          description: The email address of the participant.
          type: string
          readOnly: true
        status:
          description: The acceptance status of the participant.
          type: string
          readOnly: true
        statusDate:
          format: date-time
          description: The date when the status got changed.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ProxyResourceWithTags:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
