openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/availableBalance/default:
    get:
      tags:
      - AvailableBalance
      description: The Available Credit or Payment on Account Balance for a billing
        account. The credit balance can be used to settle due or past due invoices
        and is supported for billing accounts with agreement type Microsoft Customer
        Agreement. The payment on account balance is supported for billing accounts
        with agreement type Microsoft Customer Agreement or Microsoft Online Services
        Program.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: AvailableBalances_GetByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Available Credit or Payment on Account Balance. The credit
            balance can be used to settle due or past due invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The Available Credit or Payment on Account Balance.
                      The credit balance can be used to settle due or past due invoices.
                    type: object
                    properties:
                      amount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      paymentsOnAccount:
                        description: The list of payments on accounts.
                        type: array
                        items:
                          description: A Payment on Account.
                          type: object
                          properties:
                            amount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile for the payments
                                on account.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile for the
                                payments on account.
                              type: string
                              readOnly: true
                            invoiceId:
                              description: The ID of the invoice for which the payments
                                on account was generated.
                              type: string
                              readOnly: true
                            invoiceName:
                              description: The name of the invoice for the payments
                                on account.
                              type: string
                              readOnly: true
                            date:
                              format: date-time
                              description: The date of the payments on account.
                              type: string
                              readOnly: true
                            paymentMethodType:
                              description: Payment on Account type.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: PaymentMethodFamily
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      totalPaymentsOnAccount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default
  : get:
      tags:
      - AvailableBalance
      description: The Available Credit or Payment on Account Balance for a billing
        profile. The credit balance can be used to settle due or past due invoices
        and is supported for billing accounts with agreement type Microsoft Customer
        Agreement. The payment on account balance is supported for billing accounts
        with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: AvailableBalances_GetByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Available Credit or Payment on Account Balance. The credit
            balance can be used to settle due or past due invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The Available Credit or Payment on Account Balance.
                      The credit balance can be used to settle due or past due invoices.
                    type: object
                    properties:
                      amount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      paymentsOnAccount:
                        description: The list of payments on accounts.
                        type: array
                        items:
                          description: A Payment on Account.
                          type: object
                          properties:
                            amount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile for the payments
                                on account.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile for the
                                payments on account.
                              type: string
                              readOnly: true
                            invoiceId:
                              description: The ID of the invoice for which the payments
                                on account was generated.
                              type: string
                              readOnly: true
                            invoiceName:
                              description: The name of the invoice for the payments
                                on account.
                              type: string
                              readOnly: true
                            date:
                              format: date-time
                              description: The date of the payments on account.
                              type: string
                              readOnly: true
                            paymentMethodType:
                              description: Payment on Account type.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: PaymentMethodFamily
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      totalPaymentsOnAccount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    billingAccountName:
      in: path
      name: billingAccountName
      description: The ID that uniquely identifies a billing account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
    apiVersionParameter:
      in: query
      name: api-version
      description: The version of the API to be used with the client request. The
        current version is 2024-04-01.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingProfileName:
      in: path
      name: billingProfileName
      description: The ID that uniquely identifies a billing profile.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z\d-_]{1,128}$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailableBalance:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
        properties:
          description: The Available Credit or Payment on Account Balance. The credit
            balance can be used to settle due or past due invoices.
          type: object
          properties:
            amount:
              type: object
              properties:
                currency:
                  description: The currency for the amount value.
                  type: string
                  readOnly: true
                value:
                  description: The amount value. For example, if the currency is USD,
                    then a value of 600 would be $600.00.
                  type: number
                  readOnly: true
              description: The amount.
              readOnly: true
            paymentsOnAccount:
              description: The list of payments on accounts.
              type: array
              items:
                description: A Payment on Account.
                type: object
                properties:
                  amount:
                    type: object
                    properties:
                      currency:
                        description: The currency for the amount value.
                        type: string
                        readOnly: true
                      value:
                        description: The amount value. For example, if the currency
                          is USD, then a value of 600 would be $600.00.
                        type: number
                        readOnly: true
                    description: The amount.
                    readOnly: true
                  billingProfileId:
                    description: The ID of the billing profile for the payments on
                      account.
                    type: string
                    readOnly: true
                  billingProfileDisplayName:
                    description: The name of the billing profile for the payments
                      on account.
                    type: string
                    readOnly: true
                  invoiceId:
                    description: The ID of the invoice for which the payments on account
                      was generated.
                    type: string
                    readOnly: true
                  invoiceName:
                    description: The name of the invoice for the payments on account.
                    type: string
                    readOnly: true
                  date:
                    format: date-time
                    description: The date of the payments on account.
                    type: string
                    readOnly: true
                  paymentMethodType:
                    description: Payment on Account type.
                    enum:
                    - Other
                    - None
                    - CreditCard
                    - Credits
                    - CheckWire
                    - EWallet
                    - TaskOrder
                    - DirectDebit
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: PaymentMethodFamily
                      modelAsString: true
              readOnly: true
              x-ms-identifiers: []
            totalPaymentsOnAccount:
              type: object
              properties:
                currency:
                  description: The currency for the amount value.
                  type: string
                  readOnly: true
                value:
                  description: The amount value. For example, if the currency is USD,
                    then a value of 600 would be $600.00.
                  type: number
                  readOnly: true
              description: The amount.
              readOnly: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    AvailableBalanceProperties:
      description: The Available Credit or Payment on Account Balance. The credit
        balance can be used to settle due or past due invoices.
      type: object
      properties:
        amount:
          type: object
          properties:
            currency:
              description: The currency for the amount value.
              type: string
              readOnly: true
            value:
              description: The amount value. For example, if the currency is USD,
                then a value of 600 would be $600.00.
              type: number
              readOnly: true
          description: The amount.
          readOnly: true
        paymentsOnAccount:
          description: The list of payments on accounts.
          type: array
          items:
            description: A Payment on Account.
            type: object
            properties:
              amount:
                type: object
                properties:
                  currency:
                    description: The currency for the amount value.
                    type: string
                    readOnly: true
                  value:
                    description: The amount value. For example, if the currency is
                      USD, then a value of 600 would be $600.00.
                    type: number
                    readOnly: true
                description: The amount.
                readOnly: true
              billingProfileId:
                description: The ID of the billing profile for the payments on account.
                type: string
                readOnly: true
              billingProfileDisplayName:
                description: The name of the billing profile for the payments on account.
                type: string
                readOnly: true
              invoiceId:
                description: The ID of the invoice for which the payments on account
                  was generated.
                type: string
                readOnly: true
              invoiceName:
                description: The name of the invoice for the payments on account.
                type: string
                readOnly: true
              date:
                format: date-time
                description: The date of the payments on account.
                type: string
                readOnly: true
              paymentMethodType:
                description: Payment on Account type.
                enum:
                - Other
                - None
                - CreditCard
                - Credits
                - CheckWire
                - EWallet
                - TaskOrder
                - DirectDebit
                type: string
                readOnly: true
                x-ms-enum:
                  name: PaymentMethodFamily
                  modelAsString: true
          readOnly: true
          x-ms-identifiers: []
        totalPaymentsOnAccount:
          type: object
          properties:
            currency:
              description: The currency for the amount value.
              type: string
              readOnly: true
            value:
              description: The amount value. For example, if the currency is USD,
                then a value of 600 would be $600.00.
              type: number
              readOnly: true
          description: The amount.
          readOnly: true
    PaymentOnAccount:
      description: A Payment on Account.
      type: object
      properties:
        amount:
          type: object
          properties:
            currency:
              description: The currency for the amount value.
              type: string
              readOnly: true
            value:
              description: The amount value. For example, if the currency is USD,
                then a value of 600 would be $600.00.
              type: number
              readOnly: true
          description: The amount.
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile for the payments on account.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile for the payments on account.
          type: string
          readOnly: true
        invoiceId:
          description: The ID of the invoice for which the payments on account was
            generated.
          type: string
          readOnly: true
        invoiceName:
          description: The name of the invoice for the payments on account.
          type: string
          readOnly: true
        date:
          format: date-time
          description: The date of the payments on account.
          type: string
          readOnly: true
        paymentMethodType:
          description: Payment on Account type.
          enum:
          - Other
          - None
          - CreditCard
          - Credits
          - CheckWire
          - EWallet
          - TaskOrder
          - DirectDebit
          type: string
          readOnly: true
          x-ms-enum:
            name: PaymentMethodFamily
            modelAsString: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ProxyResourceWithTags:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    Amount:
      description: The amount.
      type: object
      properties:
        currency:
          description: The currency for the amount value.
          type: string
          readOnly: true
        value:
          description: The amount value. For example, if the currency is USD, then
            a value of 600 would be $600.00.
          type: number
          readOnly: true
      readOnly: true
