openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/addPaymentTerms:
    post:
      tags:
      - BillingAccount
      description: Adds payment terms to all the billing profiles under the billing
        account. Currently, payment terms can be added only on billing accounts that
        have Agreement Type as 'Microsoft Customer Agreement' and AccountType as 'Enterprise'.
        This action needs pre-authorization and only Field Sellers are authorized
        to add the payment terms and is not a self-serve action.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_AddPaymentTerms
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                description: The properties of payment term.
                type: object
                properties:
                  term:
                    description: Represents duration in netXX format. Always in days.
                    type: string
                  startDate:
                    format: date-time
                    description: The date on when the defined 'Payment Term' will
                      be effective from and is always in UTC.
                    type: string
                  endDate:
                    format: date-time
                    description: The date on when the defined 'Payment Term' will
                      end and is always in UTC.
                    type: string
                  isDefault:
                    description: Indicates payment term is the standard payment term.
                    type: boolean
                    readOnly: true
              x-ms-identifiers: []
        description: The properties of payment term.
        required: true
      responses:
        '200':
          description: The list of billing accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing account.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      accountStatus:
                        description: The current status of the billing account.
                        enum:
                        - Other
                        - Active
                        - UnderReview
                        - Disabled
                        - Deleted
                        - Extended
                        - Pending
                        - New
                        - Expired
                        - Terminated
                        - Transferred
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: true
                      accountType:
                        description: The type of customer.
                        enum:
                        - Other
                        - Enterprise
                        - Individual
                        - Partner
                        - Reseller
                        - ClassicPartner
                        - Internal
                        - Tenant
                        - Business
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      accountSubType:
                        description: The tier of the account.
                        enum:
                        - Other
                        - None
                        - Individual
                        - Professional
                        - Enterprise
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountSubType
                          modelAsString: true
                      accountStatusReasonCode:
                        description: Reason for the specified billing account status.
                        enum:
                        - Other
                        - UnusualActivity
                        - ManuallyTerminated
                        - Expired
                        - Transferred
                        - TerminateProcessing
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingAccountStatusReasonCode
                          modelAsString: true
                      agreementType:
                        description: The type of agreement.
                        enum:
                        - Other
                        - MicrosoftCustomerAgreement
                        - EnterpriseAgreement
                        - MicrosoftOnlineServicesProgram
                        - MicrosoftPartnerAgreement
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AgreementType
                          modelAsString: true
                      displayName:
                        description: The billing account name.
                        type: string
                      enrollmentDetails:
                        type: object
                        properties:
                          startDate:
                            format: date-time
                            description: The start date of the enrollment.
                            type: string
                          endDate:
                            format: date-time
                            description: The end date of the enrollment.
                            type: string
                          currency:
                            description: The billing currency for the enrollment.
                            type: string
                            readOnly: true
                          channel:
                            description: The channel type of the enrollment.
                            type: string
                            readOnly: true
                          language:
                            description: The language for the enrollment.
                            type: string
                            readOnly: true
                          countryCode:
                            description: The country code of the enrollment.
                            type: string
                            readOnly: true
                          billingCycle:
                            description: The billing cycle for the enrollment.
                            type: string
                            readOnly: true
                          extendedTermOption:
                            description: The billing account extension opted by the
                              company.
                            enum:
                            - Other
                            - Opted-In
                            - Opted-Out
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ExtendedTermOption
                              modelAsString: true
                          supportLevel:
                            description: The support level offer associated with an
                              enrollment.
                            enum:
                            - Other
                            - Standard
                            - Pro-Direct
                            - Developer
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: SupportLevel
                              modelAsString: true
                          supportCoverage:
                            description: The support coverage period for the enrollment.
                            type: string
                            readOnly: true
                          cloud:
                            description: The cloud of the enrollment.
                            type: string
                            readOnly: true
                          poNumber:
                            description: The purchase order number of the enrollment.
                            type: string
                          markupStatus:
                            description: Markup status of enrollment, applicable only
                              for indirect enrollments.
                            enum:
                            - Other
                            - Disabled
                            - Preview
                            - Published
                            - Locked
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MarkupStatus
                              modelAsString: true
                          indirectRelationshipInfo:
                            type: object
                            properties:
                              billingAccountName:
                                description: The billing account name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              billingProfileName:
                                description: The billing profile name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              displayName:
                                description: The display name of the partner or customer
                                  for an indirect motion.
                                type: string
                            description: Identifies the billing profile that is linked
                              to another billing profile in indirect purchase motion.
                          invoiceRecipient:
                            description: The contact who receives invoices of the
                              enrollment.
                            type: string
                            readOnly: true
                        description: The properties of an enrollment.
                      hasReadAccess:
                        description: Indicates whether user has read access to the
                          billing account.
                        type: boolean
                      hasNoBillingProfiles:
                        description: Indicates whether or not the billing account
                          has any billing profiles.
                        type: boolean
                      notificationEmailAddress:
                        description: Notification email address for legacy account.
                          Available for agreement type Microsoft Online Services Program.
                        type: string
                      primaryBillingTenantId:
                        description: The tenant that was used to set up the billing
                          account. By default, only users from this tenant can get
                          role assignments on the billing account and all purchases
                          are provisioned in this tenant.
                        type: string
                      soldTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      registrationNumber:
                        type: object
                        properties:
                          id:
                            description: The unique identification number of the organization
                              linked with the billing account.
                            type: string
                          required:
                            description: Identifies if the registration number is
                              required for the billing account.
                            type: boolean
                            readOnly: true
                          type:
                            description: The types of registration number allowed
                              based on the country of the billing account.
                            type: array
                            items:
                              type: string
                            readOnly: true
                            x-ms-identifiers: []
                        description: Describes the registration number of the organization
                          linked with the billing account.
                      billingRelationshipTypes:
                        description: Identifies the billing relationships represented
                          by a billing account. The billing relationship may be between
                          Microsoft, the customer, and/or a third-party.
                        type: array
                        items:
                          description: Identifies the billing relationships represented
                            by a billing account or billing profile. The billing relationship
                            may be between Microsoft, the customer, and/or a third-party.
                          enum:
                          - Other
                          - Direct
                          - IndirectCustomer
                          - IndirectPartner
                          - CSPPartner
                          - CSPCustomer
                          type: string
                          x-ms-enum:
                            name: BillingRelationshipType
                            modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      qualifications:
                        description: Qualifications for pricing on a billing account.
                          Values may be Commercial, Education, Charity or Government.
                        type: array
                        items:
                          type: string
                        readOnly: true
                        x-ms-identifiers: []
                      taxIds:
                        description: A list of tax identifiers for the billing account.
                        type: array
                        items:
                          description: A tax identifier for the billing account.
                          type: object
                          properties:
                            id:
                              description: The id of the tax identifier.
                              type: string
                            type:
                              description: The type of the tax identifier.
                              enum:
                              - Other
                              - BrazilCcmId
                              - BrazilCnpjId
                              - BrazilCpfId
                              - CanadianFederalExempt
                              - CanadianProvinceExempt
                              - ExternalTaxation
                              - IndiaFederalTanId
                              - IndiaFederalServiceTaxId
                              - IndiaPanId
                              - IndiaStateCstId
                              - IndiaStateGstINId
                              - IndiaStateVatId
                              - IntlExempt
                              - USExempt
                              - VatId
                              - LoveCode
                              - MobileBarCode
                              - NationalIdentificationNumber
                              - PublicSectorId
                              type: string
                              x-ms-enum:
                                name: TaxIdentifierType
                                modelAsString: true
                            scope:
                              description: The scope of the tax identifier.
                              type: string
                            country:
                              description: The country of the tax identifier.
                              type: string
                            status:
                              description: The status of the tax identifier.
                              enum:
                              - Other
                              - Valid
                              - Invalid
                              type: string
                              x-ms-enum:
                                name: TaxIdentifierStatus
                                modelAsString: true
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/cancelPaymentTerms:
    post:
      tags:
      - BillingAccount
      description: Cancels all the payment terms on billing account that falls after
        the cancellation date in the request. Currently, cancel payment terms is only
        served by admin actions and is not a self-serve action.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_CancelPaymentTerms
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              format: date-time
              type: string
        description: Date after which any payment terms that needs to be cancelled.
        required: true
      responses:
        '200':
          description: The list of billing accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing account.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      accountStatus:
                        description: The current status of the billing account.
                        enum:
                        - Other
                        - Active
                        - UnderReview
                        - Disabled
                        - Deleted
                        - Extended
                        - Pending
                        - New
                        - Expired
                        - Terminated
                        - Transferred
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: true
                      accountType:
                        description: The type of customer.
                        enum:
                        - Other
                        - Enterprise
                        - Individual
                        - Partner
                        - Reseller
                        - ClassicPartner
                        - Internal
                        - Tenant
                        - Business
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      accountSubType:
                        description: The tier of the account.
                        enum:
                        - Other
                        - None
                        - Individual
                        - Professional
                        - Enterprise
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountSubType
                          modelAsString: true
                      accountStatusReasonCode:
                        description: Reason for the specified billing account status.
                        enum:
                        - Other
                        - UnusualActivity
                        - ManuallyTerminated
                        - Expired
                        - Transferred
                        - TerminateProcessing
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingAccountStatusReasonCode
                          modelAsString: true
                      agreementType:
                        description: The type of agreement.
                        enum:
                        - Other
                        - MicrosoftCustomerAgreement
                        - EnterpriseAgreement
                        - MicrosoftOnlineServicesProgram
                        - MicrosoftPartnerAgreement
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AgreementType
                          modelAsString: true
                      displayName:
                        description: The billing account name.
                        type: string
                      enrollmentDetails:
                        type: object
                        properties:
                          startDate:
                            format: date-time
                            description: The start date of the enrollment.
                            type: string
                          endDate:
                            format: date-time
                            description: The end date of the enrollment.
                            type: string
                          currency:
                            description: The billing currency for the enrollment.
                            type: string
                            readOnly: true
                          channel:
                            description: The channel type of the enrollment.
                            type: string
                            readOnly: true
                          language:
                            description: The language for the enrollment.
                            type: string
                            readOnly: true
                          countryCode:
                            description: The country code of the enrollment.
                            type: string
                            readOnly: true
                          billingCycle:
                            description: The billing cycle for the enrollment.
                            type: string
                            readOnly: true
                          extendedTermOption:
                            description: The billing account extension opted by the
                              company.
                            enum:
                            - Other
                            - Opted-In
                            - Opted-Out
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ExtendedTermOption
                              modelAsString: true
                          supportLevel:
                            description: The support level offer associated with an
                              enrollment.
                            enum:
                            - Other
                            - Standard
                            - Pro-Direct
                            - Developer
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: SupportLevel
                              modelAsString: true
                          supportCoverage:
                            description: The support coverage period for the enrollment.
                            type: string
                            readOnly: true
                          cloud:
                            description: The cloud of the enrollment.
                            type: string
                            readOnly: true
                          poNumber:
                            description: The purchase order number of the enrollment.
                            type: string
                          markupStatus:
                            description: Markup status of enrollment, applicable only
                              for indirect enrollments.
                            enum:
                            - Other
                            - Disabled
                            - Preview
                            - Published
                            - Locked
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MarkupStatus
                              modelAsString: true
                          indirectRelationshipInfo:
                            type: object
                            properties:
                              billingAccountName:
                                description: The billing account name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              billingProfileName:
                                description: The billing profile name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              displayName:
                                description: The display name of the partner or customer
                                  for an indirect motion.
                                type: string
                            description: Identifies the billing profile that is linked
                              to another billing profile in indirect purchase motion.
                          invoiceRecipient:
                            description: The contact who receives invoices of the
                              enrollment.
                            type: string
                            readOnly: true
                        description: The properties of an enrollment.
                      hasReadAccess:
                        description: Indicates whether user has read access to the
                          billing account.
                        type: boolean
                      hasNoBillingProfiles:
                        description: Indicates whether or not the billing account
                          has any billing profiles.
                        type: boolean
                      notificationEmailAddress:
                        description: Notification email address for legacy account.
                          Available for agreement type Microsoft Online Services Program.
                        type: string
                      primaryBillingTenantId:
                        description: The tenant that was used to set up the billing
                          account. By default, only users from this tenant can get
                          role assignments on the billing account and all purchases
                          are provisioned in this tenant.
                        type: string
                      soldTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      registrationNumber:
                        type: object
                        properties:
                          id:
                            description: The unique identification number of the organization
                              linked with the billing account.
                            type: string
                          required:
                            description: Identifies if the registration number is
                              required for the billing account.
                            type: boolean
                            readOnly: true
                          type:
                            description: The types of registration number allowed
                              based on the country of the billing account.
                            type: array
                            items:
                              type: string
                            readOnly: true
                            x-ms-identifiers: []
                        description: Describes the registration number of the organization
                          linked with the billing account.
                      billingRelationshipTypes:
                        description: Identifies the billing relationships represented
                          by a billing account. The billing relationship may be between
                          Microsoft, the customer, and/or a third-party.
                        type: array
                        items:
                          description: Identifies the billing relationships represented
                            by a billing account or billing profile. The billing relationship
                            may be between Microsoft, the customer, and/or a third-party.
                          enum:
                          - Other
                          - Direct
                          - IndirectCustomer
                          - IndirectPartner
                          - CSPPartner
                          - CSPCustomer
                          type: string
                          x-ms-enum:
                            name: BillingRelationshipType
                            modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      qualifications:
                        description: Qualifications for pricing on a billing account.
                          Values may be Commercial, Education, Charity or Government.
                        type: array
                        items:
                          type: string
                        readOnly: true
                        x-ms-identifiers: []
                      taxIds:
                        description: A list of tax identifiers for the billing account.
                        type: array
                        items:
                          description: A tax identifier for the billing account.
                          type: object
                          properties:
                            id:
                              description: The id of the tax identifier.
                              type: string
                            type:
                              description: The type of the tax identifier.
                              enum:
                              - Other
                              - BrazilCcmId
                              - BrazilCnpjId
                              - BrazilCpfId
                              - CanadianFederalExempt
                              - CanadianProvinceExempt
                              - ExternalTaxation
                              - IndiaFederalTanId
                              - IndiaFederalServiceTaxId
                              - IndiaPanId
                              - IndiaStateCstId
                              - IndiaStateGstINId
                              - IndiaStateVatId
                              - IntlExempt
                              - USExempt
                              - VatId
                              - LoveCode
                              - MobileBarCode
                              - NationalIdentificationNumber
                              - PublicSectorId
                              type: string
                              x-ms-enum:
                                name: TaxIdentifierType
                                modelAsString: true
                            scope:
                              description: The scope of the tax identifier.
                              type: string
                            country:
                              description: The country of the tax identifier.
                              type: string
                            status:
                              description: The status of the tax identifier.
                              enum:
                              - Other
                              - Valid
                              - Invalid
                              type: string
                              x-ms-enum:
                                name: TaxIdentifierStatus
                                modelAsString: true
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/confirmTransition:
    post:
      tags:
      - BillingAccount
      description: Gets the transition details for a billing account that has transitioned
        from agreement type Microsoft Online Services Program to agreement type Microsoft
        Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_ConfirmTransition
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The details for a billing account transitioned from agreement
            type Microsoft Online Services Program to agreement type Microsoft Customer
            Agreement.
          content:
            application/json:
              schema:
                description: The details for a billing account transitioned from agreement
                  type Microsoft Online Services Program to agreement type Microsoft
                  Customer Agreement.
                type: object
                properties:
                  transitionDate:
                    format: date-time
                    description: The transition completion date.
                    type: string
                    readOnly: true
                  anniversaryDay:
                    format: int32
                    description: The anniversary day of the pre-transitioned account
                      of type Microsoft Online Services Program.
                    type: integer
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/listInvoiceSectionsWithCreateSubscriptionPermission:
    post:
      tags:
      - BillingAccount
      description: Lists the invoice sections for which the user has permission to
        create Azure subscriptions. The operation is supported only for billing accounts
        with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_ListInvoiceSectionsByCreateSubscriptionPermission
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      description: Invoice section properties with create subscription
                        permission.
                      type: object
                      properties:
                        billingProfileDisplayName:
                          description: The name of the billing profile.
                          type: string
                          readOnly: true
                        billingProfileId:
                          description: The fully qualified ID that uniquely identifies
                            a billing profile.
                          type: string
                          readOnly: true
                        billingProfileSystemId:
                          description: The system generated unique identifier for
                            a billing profile.
                          type: string
                          readOnly: true
                        billingProfileStatus:
                          description: The status of the billing profile.
                          enum:
                          - Other
                          - Active
                          - Disabled
                          - Warned
                          - Deleted
                          - UnderReview
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: BillingProfileStatus
                            modelAsString: true
                        billingProfileStatusReasonCode:
                          description: Reason for the specified billing profile status.
                          enum:
                          - Other
                          - PastDue
                          - UnusualActivity
                          - SpendingLimitReached
                          - SpendingLimitExpired
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: BillingProfileStatusReasonCode
                            modelAsString: true
                        billingProfileSpendingLimit:
                          description: The billing profile spending limit.
                          enum:
                          - 'Off'
                          - 'On'
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: SpendingLimit
                            modelAsString: true
                        enabledAzurePlans:
                          description: Enabled azure plans for the associated billing
                            profile.
                          type: array
                          items:
                            description: Details of the Azure plan.
                            type: object
                            properties:
                              productId:
                                description: The ID that uniquely identifies a product.
                                type: string
                              skuId:
                                description: The ID that uniquely identifies a sku.
                                type: string
                              skuDescription:
                                description: The sku description.
                                type: string
                          readOnly: true
                          x-ms-identifiers: []
                        invoiceSectionDisplayName:
                          description: The name of the invoice section.
                          type: string
                          readOnly: true
                        invoiceSectionId:
                          description: The fully qualified ID that uniquely identifies
                            an invoice section.
                          type: string
                          readOnly: true
                        invoiceSectionSystemId:
                          description: The system generated unique identifier for
                            an invoice section.
                          type: string
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - invoiceSectionId
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/validatePaymentTerms:
    post:
      tags:
      - BillingAccount
      description: Validates payment terms on a billing account with agreement type
        'Microsoft Customer Agreement' and account type 'Enterprise'.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_ValidatePaymentTerms
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                description: The properties of payment term.
                type: object
                properties:
                  term:
                    description: Represents duration in netXX format. Always in days.
                    type: string
                  startDate:
                    format: date-time
                    description: The date on when the defined 'Payment Term' will
                      be effective from and is always in UTC.
                    type: string
                  endDate:
                    format: date-time
                    description: The date on when the defined 'Payment Term' will
                      end and is always in UTC.
                    type: string
                  isDefault:
                    description: Indicates payment term is the standard payment term.
                    type: boolean
                    readOnly: true
              x-ms-identifiers: []
        description: The properties of payment term.
        required: true
      responses:
        '200':
          description: Result of the payment terms eligibility.
          content:
            application/json:
              schema:
                description: Result of the payment terms eligibility.
                type: object
                properties:
                  eligibilityStatus:
                    description: Indicates the eligibility status of the payment terms.
                    enum:
                    - Other
                    - Valid
                    - Invalid
                    type: string
                    x-ms-enum:
                      name: PaymentTermsEligibilityStatus
                      modelAsString: true
                  eligibilityDetails:
                    description: Details of the payment terms eligibility.
                    type: array
                    items:
                      description: Details of the payment terms eligibility.
                      type: object
                      properties:
                        code:
                          description: Indicates the reason for the ineligibility
                            of the payment terms.
                          enum:
                          - Other
                          - OverlappingPaymentTerms
                          - InvalidDateFormat
                          - InvalidDateRange
                          - InactiveBillingAccount
                          - InvalidBillingAccountType
                          - NullOrEmptyPaymentTerms
                          - BillingAccountNotFound
                          - IneligibleBillingAccountStatus
                          - InvalidTerms
                          type: string
                          x-ms-enum:
                            name: PaymentTermsEligibilityCode
                            modelAsString: true
                        message:
                          description: Indicates the message for the ineligibility
                            of the payment terms.
                          type: string
                    x-ms-identifiers: []
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}:
    get:
      tags:
      - BillingAccount
      description: Gets a billing account by its ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingAccounts_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A billing account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing account.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      accountStatus:
                        description: The current status of the billing account.
                        enum:
                        - Other
                        - Active
                        - UnderReview
                        - Disabled
                        - Deleted
                        - Extended
                        - Pending
                        - New
                        - Expired
                        - Terminated
                        - Transferred
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: true
                      accountType:
                        description: The type of customer.
                        enum:
                        - Other
                        - Enterprise
                        - Individual
                        - Partner
                        - Reseller
                        - ClassicPartner
                        - Internal
                        - Tenant
                        - Business
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      accountSubType:
                        description: The tier of the account.
                        enum:
                        - Other
                        - None
                        - Individual
                        - Professional
                        - Enterprise
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountSubType
                          modelAsString: true
                      accountStatusReasonCode:
                        description: Reason for the specified billing account status.
                        enum:
                        - Other
                        - UnusualActivity
                        - ManuallyTerminated
                        - Expired
                        - Transferred
                        - TerminateProcessing
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingAccountStatusReasonCode
                          modelAsString: true
                      agreementType:
                        description: The type of agreement.
                        enum:
                        - Other
                        - MicrosoftCustomerAgreement
                        - EnterpriseAgreement
                        - MicrosoftOnlineServicesProgram
                        - MicrosoftPartnerAgreement
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AgreementType
                          modelAsString: true
                      displayName:
                        description: The billing account name.
                        type: string
                      enrollmentDetails:
                        type: object
                        properties:
                          startDate:
                            format: date-time
                            description: The start date of the enrollment.
                            type: string
                          endDate:
                            format: date-time
                            description: The end date of the enrollment.
                            type: string
                          currency:
                            description: The billing currency for the enrollment.
                            type: string
                            readOnly: true
                          channel:
                            description: The channel type of the enrollment.
                            type: string
                            readOnly: true
                          language:
                            description: The language for the enrollment.
                            type: string
                            readOnly: true
                          countryCode:
                            description: The country code of the enrollment.
                            type: string
                            readOnly: true
                          billingCycle:
                            description: The billing cycle for the enrollment.
                            type: string
                            readOnly: true
                          extendedTermOption:
                            description: The billing account extension opted by the
                              company.
                            enum:
                            - Other
                            - Opted-In
                            - Opted-Out
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: ExtendedTermOption
                              modelAsString: true
                          supportLevel:
                            description: The support level offer associated with an
                              enrollment.
                            enum:
                            - Other
                            - Standard
                            - Pro-Direct
                            - Developer
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: SupportLevel
                              modelAsString: true
                          supportCoverage:
                            description: The support coverage period for the enrollment.
                            type: string
                            readOnly: true
                          cloud:
                            description: The cloud of the enrollment.
                            type: string
                            readOnly: true
                          poNumber:
                            description: The purchase order number of the enrollment.
                            type: string
                          markupStatus:
                            description: Markup status of enrollment, applicable only
                              for indirect enrollments.
                            enum:
                            - Other
                            - Disabled
                            - Preview
                            - Published
                            - Locked
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: MarkupStatus
                              modelAsString: true
                          indirectRelationshipInfo:
                            type: object
                            properties:
                              billingAccountName:
                                description: The billing account name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              billingProfileName:
                                description: The billing profile name of the partner
                                  or the customer for an indirect motion.
                                type: string
                              displayName:
                                description: The display name of the partner or customer
                                  for an indirect motion.
                                type: string
                            description: Identifies the billing profile that is linked
                              to another billing profile in indirect purchase motion.
                          invoiceRecipient:
                            description: The contact who receives invoices of the
                              enrollment.
                            type: string
                            readOnly: true
                        description: The properties of an enrollment.
                      hasReadAccess:
[...]
