openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments/{billingRoleAssignmentName}
  : delete:
      tags:
      - BillingRoleAssignment
      description: Deletes a role assignment on a billing profile. The operation is
        supported for billing accounts with agreement type Microsoft Partner Agreement
        or Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_DeleteByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: billingRoleAssignmentName
        description: The ID that uniquely identifies a role assignment.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: The request has succeeded with no response body.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - BillingRoleAssignment
      description: Gets a role assignment for the caller on a billing profile. The
        operation is supported for billing accounts with agreement type Microsoft
        Partner Agreement or Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_GetByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: billingRoleAssignmentName
        description: The ID that uniquely identifies a role assignment.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The properties of the billing role assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The properties of the billing role assignment.
                    required:
                    - roleDefinitionId
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdOn:
                        format: date-time
                        description: The date the role assignment was created.
                        type: string
                        readOnly: true
                      createdByPrincipalTenantId:
                        description: The tenant Id of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalId:
                        description: The object ID of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalPuid:
                        description: The principal PUID of the user who created the
                          role assignment.
                        type: string
                        readOnly: true
                      createdByUserEmailAddress:
                        description: The email address of the user who created the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedOn:
                        format: date-time
                        description: The date the role assignment was modified.
                        type: string
                        readOnly: true
                      modifiedByPrincipalPuid:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByUserEmailAddress:
                        description: The email address of the user who modified the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedByPrincipalId:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByPrincipalTenantId:
                        description: The tenant Id of the user who modified the role
                          assignment.
                        type: string
                        readOnly: true
                      principalPuid:
                        description: The principal PUID of the user to whom the role
                          was assigned.
                        type: string
                      principalId:
                        description: The object id of the user to whom the role was
                          assigned.
                        type: string
                      principalTenantId:
                        description: The principal tenant id of the user to whom the
                          role was assigned.
                        type: string
                      roleDefinitionId:
                        description: The ID of the role definition.
                        minLength: 1
                        type: string
                      scope:
                        description: The scope at which the role was assigned.
                        type: string
                      userAuthenticationType:
                        description: The authentication type of the user, whether
                          Organization or MSA, of the user to whom the role was assigned.
                          This is supported only for billing accounts with agreement
                          type Enterprise Agreement.
                        type: string
                      userEmailAddress:
                        description: The email address of the user to whom the role
                          was assigned. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                      principalTenantName:
                        description: The friendly name of the tenant of the user to
                          whom the role was assigned. This will be 'Primary Tenant'
                          for the primary tenant of the billing account.
                        type: string
                        readOnly: true
                      principalDisplayName:
                        description: The display name of the principal to whom the
                          role was assigned.
                        type: string
                        readOnly: true
                      principalType:
                        description: The type of a role Assignment.
                        enum:
                        - Unknown
                        - None
                        - User
                        - Group
                        - DirectoryRole
                        - ServicePrincipal
                        - Everyone
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      billingRequestId:
                        description: The ID of the billing request that was created
                          for the role assignment. This is only applicable to cross
                          tenant role assignments or role assignments created through
                          the billing request.
                        type: string
                        readOnly: true
                      billingAccountId:
                        description: The fully qualified ID that uniquely identifies
                          a billing account.
                        type: string
                        readOnly: true
                      billingAccountDisplayName:
                        description: The name of the billing account.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                        readOnly: true
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRoleAssignments
  : get:
      tags:
      - BillingRoleAssignment
      description: Lists the role assignments for the caller on a billing profile.
        The operation is supported for billing accounts with agreement type Microsoft
        Partner Agreement or Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_ListByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The list of the billing role assignments.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: The properties of the billing role assignment.
                          required:
                          - roleDefinitionId
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            createdOn:
                              format: date-time
                              description: The date the role assignment was created.
                              type: string
                              readOnly: true
                            createdByPrincipalTenantId:
                              description: The tenant Id of the user who created the
                                role assignment.
                              type: string
                              readOnly: true
                            createdByPrincipalId:
                              description: The object ID of the user who created the
                                role assignment.
                              type: string
                              readOnly: true
                            createdByPrincipalPuid:
                              description: The principal PUID of the user who created
                                the role assignment.
                              type: string
                              readOnly: true
                            createdByUserEmailAddress:
                              description: The email address of the user who created
                                the role assignment. This is supported only for billing
                                accounts with agreement type Enterprise Agreement.
                              type: string
                              readOnly: true
                            modifiedOn:
                              format: date-time
                              description: The date the role assignment was modified.
                              type: string
                              readOnly: true
                            modifiedByPrincipalPuid:
                              description: The principal PUID of the user who modified
                                the role assignment.
                              type: string
                              readOnly: true
                            modifiedByUserEmailAddress:
                              description: The email address of the user who modified
                                the role assignment. This is supported only for billing
                                accounts with agreement type Enterprise Agreement.
                              type: string
                              readOnly: true
                            modifiedByPrincipalId:
                              description: The principal PUID of the user who modified
                                the role assignment.
                              type: string
                              readOnly: true
                            modifiedByPrincipalTenantId:
                              description: The tenant Id of the user who modified
                                the role assignment.
                              type: string
                              readOnly: true
                            principalPuid:
                              description: The principal PUID of the user to whom
                                the role was assigned.
                              type: string
                            principalId:
                              description: The object id of the user to whom the role
                                was assigned.
                              type: string
                            principalTenantId:
                              description: The principal tenant id of the user to
                                whom the role was assigned.
                              type: string
                            roleDefinitionId:
                              description: The ID of the role definition.
                              minLength: 1
                              type: string
                            scope:
                              description: The scope at which the role was assigned.
                              type: string
                            userAuthenticationType:
                              description: The authentication type of the user, whether
                                Organization or MSA, of the user to whom the role
                                was assigned. This is supported only for billing accounts
                                with agreement type Enterprise Agreement.
                              type: string
                            userEmailAddress:
                              description: The email address of the user to whom the
                                role was assigned. This is supported only for billing
                                accounts with agreement type Enterprise Agreement.
                              type: string
                            principalTenantName:
                              description: The friendly name of the tenant of the
                                user to whom the role was assigned. This will be 'Primary
                                Tenant' for the primary tenant of the billing account.
                              type: string
                              readOnly: true
                            principalDisplayName:
                              description: The display name of the principal to whom
                                the role was assigned.
                              type: string
                              readOnly: true
                            principalType:
                              description: The type of a role Assignment.
                              enum:
                              - Unknown
                              - None
                              - User
                              - Group
                              - DirectoryRole
                              - ServicePrincipal
                              - Everyone
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: PrincipalType
                                modelAsString: true
                            billingRequestId:
                              description: The ID of the billing request that was
                                created for the role assignment. This is only applicable
                                to cross tenant role assignments or role assignments
                                created through the billing request.
                              type: string
                              readOnly: true
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                              readOnly: true
                            billingAccountDisplayName:
                              description: The name of the billing account.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/createBillingRoleAssignment
  : post:
      tags:
      - BillingRoleAssignment
      description: Adds a role assignment on a billing profile. The operation is supported
        for billing accounts with agreement type Microsoft Partner Agreement or Microsoft
        Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_CreateByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The properties of the billing role assignment.
              required:
              - roleDefinitionId
              type: object
              properties:
                provisioningState:
                  description: The provisioning state of the resource during a long-running
                    operation.
                  enum:
                  - Succeeded
                  - Canceled
                  - Failed
                  - New
                  - Pending
                  - Provisioning
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: ProvisioningState
                    modelAsString: true
                createdOn:
                  format: date-time
                  description: The date the role assignment was created.
                  type: string
                  readOnly: true
                createdByPrincipalTenantId:
                  description: The tenant Id of the user who created the role assignment.
                  type: string
                  readOnly: true
                createdByPrincipalId:
                  description: The object ID of the user who created the role assignment.
                  type: string
                  readOnly: true
                createdByPrincipalPuid:
                  description: The principal PUID of the user who created the role
                    assignment.
                  type: string
                  readOnly: true
                createdByUserEmailAddress:
                  description: The email address of the user who created the role
                    assignment. This is supported only for billing accounts with agreement
                    type Enterprise Agreement.
                  type: string
                  readOnly: true
                modifiedOn:
                  format: date-time
                  description: The date the role assignment was modified.
                  type: string
                  readOnly: true
                modifiedByPrincipalPuid:
                  description: The principal PUID of the user who modified the role
                    assignment.
                  type: string
                  readOnly: true
                modifiedByUserEmailAddress:
                  description: The email address of the user who modified the role
                    assignment. This is supported only for billing accounts with agreement
                    type Enterprise Agreement.
                  type: string
                  readOnly: true
                modifiedByPrincipalId:
                  description: The principal PUID of the user who modified the role
                    assignment.
                  type: string
                  readOnly: true
                modifiedByPrincipalTenantId:
                  description: The tenant Id of the user who modified the role assignment.
                  type: string
                  readOnly: true
                principalPuid:
                  description: The principal PUID of the user to whom the role was
                    assigned.
                  type: string
                principalId:
                  description: The object id of the user to whom the role was assigned.
                  type: string
                principalTenantId:
                  description: The principal tenant id of the user to whom the role
                    was assigned.
                  type: string
                roleDefinitionId:
                  description: The ID of the role definition.
                  minLength: 1
                  type: string
                scope:
                  description: The scope at which the role was assigned.
                  type: string
                userAuthenticationType:
                  description: The authentication type of the user, whether Organization
                    or MSA, of the user to whom the role was assigned. This is supported
                    only for billing accounts with agreement type Enterprise Agreement.
                  type: string
                userEmailAddress:
                  description: The email address of the user to whom the role was
                    assigned. This is supported only for billing accounts with agreement
                    type Enterprise Agreement.
                  type: string
                principalTenantName:
                  description: The friendly name of the tenant of the user to whom
                    the role was assigned. This will be 'Primary Tenant' for the primary
                    tenant of the billing account.
                  type: string
                  readOnly: true
                principalDisplayName:
                  description: The display name of the principal to whom the role
                    was assigned.
                  type: string
                  readOnly: true
                principalType:
                  description: The type of a role Assignment.
                  enum:
                  - Unknown
                  - None
                  - User
                  - Group
                  - DirectoryRole
                  - ServicePrincipal
                  - Everyone
                  type: string
                  readOnly: true
                  x-ms-enum:
                    name: PrincipalType
                    modelAsString: true
                billingRequestId:
                  description: The ID of the billing request that was created for
                    the role assignment. This is only applicable to cross tenant role
                    assignments or role assignments created through the billing request.
                  type: string
                  readOnly: true
                billingAccountId:
                  description: The fully qualified ID that uniquely identifies a billing
                    account.
                  type: string
                  readOnly: true
                billingAccountDisplayName:
                  description: The name of the billing account.
                  type: string
                  readOnly: true
                billingProfileId:
                  description: The fully qualified ID that uniquely identifies a billing
                    profile.
                  type: string
                  readOnly: true
                billingProfileDisplayName:
                  description: The name of the billing profile.
                  type: string
                  readOnly: true
                invoiceSectionId:
                  description: The fully qualified ID that uniquely identifies an
                    invoice section.
                  type: string
                  readOnly: true
                invoiceSectionDisplayName:
                  description: The name of the invoice section.
                  type: string
                  readOnly: true
                customerId:
                  description: The fully qualified ID that uniquely identifies a customer.
                  type: string
                  readOnly: true
                customerDisplayName:
                  description: The name of the customer.
                  type: string
                  readOnly: true
        description: The properties of the billing role assignment.
        required: true
      responses:
        '200':
          description: The properties of the billing role assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The properties of the billing role assignment.
                    required:
                    - roleDefinitionId
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdOn:
                        format: date-time
                        description: The date the role assignment was created.
                        type: string
                        readOnly: true
                      createdByPrincipalTenantId:
                        description: The tenant Id of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalId:
                        description: The object ID of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalPuid:
                        description: The principal PUID of the user who created the
                          role assignment.
                        type: string
                        readOnly: true
                      createdByUserEmailAddress:
                        description: The email address of the user who created the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedOn:
                        format: date-time
                        description: The date the role assignment was modified.
                        type: string
                        readOnly: true
                      modifiedByPrincipalPuid:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByUserEmailAddress:
                        description: The email address of the user who modified the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedByPrincipalId:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByPrincipalTenantId:
                        description: The tenant Id of the user who modified the role
                          assignment.
                        type: string
                        readOnly: true
                      principalPuid:
                        description: The principal PUID of the user to whom the role
                          was assigned.
                        type: string
                      principalId:
                        description: The object id of the user to whom the role was
                          assigned.
                        type: string
                      principalTenantId:
                        description: The principal tenant id of the user to whom the
                          role was assigned.
                        type: string
                      roleDefinitionId:
                        description: The ID of the role definition.
                        minLength: 1
                        type: string
                      scope:
                        description: The scope at which the role was assigned.
                        type: string
                      userAuthenticationType:
                        description: The authentication type of the user, whether
                          Organization or MSA, of the user to whom the role was assigned.
                          This is supported only for billing accounts with agreement
                          type Enterprise Agreement.
                        type: string
                      userEmailAddress:
                        description: The email address of the user to whom the role
                          was assigned. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                      principalTenantName:
                        description: The friendly name of the tenant of the user to
                          whom the role was assigned. This will be 'Primary Tenant'
                          for the primary tenant of the billing account.
                        type: string
                        readOnly: true
                      principalDisplayName:
                        description: The display name of the principal to whom the
                          role was assigned.
                        type: string
                        readOnly: true
                      principalType:
                        description: The type of a role Assignment.
                        enum:
                        - Unknown
                        - None
                        - User
                        - Group
                        - DirectoryRole
                        - ServicePrincipal
                        - Everyone
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      billingRequestId:
                        description: The ID of the billing request that was created
                          for the role assignment. This is only applicable to cross
                          tenant role assignments or role assignments created through
                          the billing request.
                        type: string
                        readOnly: true
                      billingAccountId:
                        description: The fully qualified ID that uniquely identifies
                          a billing account.
                        type: string
                        readOnly: true
                      billingAccountDisplayName:
                        description: The name of the billing account.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                        readOnly: true
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: The properties of the billing role assignment.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingRoleAssignments/{billingRoleAssignmentName}
  : delete:
      tags:
      - BillingRoleAssignment
      description: Deletes a role assignment on a customer. The operation is supported
        for billing accounts with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_DeleteByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: billingRoleAssignmentName
        description: The ID that uniquely identifies a role assignment.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: The request has succeeded with no response body.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - BillingRoleAssignment
      description: Gets a role assignment for the caller on a customer. The operation
        is supported for billing accounts with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRoleAssignments_GetByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: billingRoleAssignmentName
        description: The ID that uniquely identifies a role assignment.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12}(_[a-fA-F0-9]{8}[-]?([a-fA-F0-9]{4}[-]?){3}[a-fA-F0-9]{12})?$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The properties of the billing role assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The properties of the billing role assignment.
                    required:
                    - roleDefinitionId
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdOn:
                        format: date-time
                        description: The date the role assignment was created.
                        type: string
                        readOnly: true
                      createdByPrincipalTenantId:
                        description: The tenant Id of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalId:
                        description: The object ID of the user who created the role
                          assignment.
                        type: string
                        readOnly: true
                      createdByPrincipalPuid:
                        description: The principal PUID of the user who created the
                          role assignment.
                        type: string
                        readOnly: true
                      createdByUserEmailAddress:
                        description: The email address of the user who created the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedOn:
                        format: date-time
                        description: The date the role assignment was modified.
                        type: string
                        readOnly: true
                      modifiedByPrincipalPuid:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByUserEmailAddress:
                        description: The email address of the user who modified the
                          role assignment. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                        readOnly: true
                      modifiedByPrincipalId:
                        description: The principal PUID of the user who modified the
                          role assignment.
                        type: string
                        readOnly: true
                      modifiedByPrincipalTenantId:
                        description: The tenant Id of the user who modified the role
                          assignment.
                        type: string
                        readOnly: true
                      principalPuid:
                        description: The principal PUID of the user to whom the role
                          was assigned.
                        type: string
                      principalId:
                        description: The object id of the user to whom the role was
                          assigned.
                        type: string
                      principalTenantId:
                        description: The principal tenant id of the user to whom the
                          role was assigned.
                        type: string
                      roleDefinitionId:
                        description: The ID of the role definition.
                        minLength: 1
                        type: string
                      scope:
                        description: The scope at which the role was assigned.
                        type: string
                      userAuthenticationType:
                        description: The authentication type of the user, whether
                          Organization or MSA, of the user to whom the role was assigned.
                          This is supported only for billing accounts with agreement
                          type Enterprise Agreement.
                        type: string
                      userEmailAddress:
                        description: The email address of the user to whom the role
                          was assigned. This is supported only for billing accounts
                          with agreement type Enterprise Agreement.
                        type: string
                      principalTenantName:
                        description: The friendly name of the tenant of the user to
                          whom the role was assigned. This will be 'Primary Tenant'
                          for the primary tenant of the billing account.
                        type: string
                        readOnly: true
                      principalDisplayName:
                        description: The display name of the principal to whom the
                          role was assigned.
                        type: string
                        readOnly: true
                      principalType:
                        description: The type of a role Assignment.
                        enum:
                        - Unknown
                        - None
                        - User
                        - Group
                        - DirectoryRole
                        - ServicePrincipal
                        - Everyone
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: PrincipalType
                          modelAsString: true
                      billingRequestId:
                        description: The ID of the billing request that was created
                          for the role assignment. This is only applicable to cross
                          tenant role assignments or role assignments created through
                          the billing request.
                        type: string
                        readOnly: true
                      billingAccountId:
                        description: The fully qualified ID that uniquely identifies
                          a billing account.
                        type: string
                        readOnly: true
                      billingAccountDisplayName:
                        description: The name of the billing account.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                        readOnly: true
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
[...]
