openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default:
    get:
      tags:
      - BillingProperty
      description: Gets the billing properties for a subscription
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProperty_Get
      parameters:
      - in: path
        name: subscriptionId
        description: The ID that uniquely identifies a billing subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
      - in: query
        name: includeBillingCountry
        description: A flag that specifies whether or not to include billing country.
        schema:
          type: boolean
          default: false
      - in: query
        name: includeTransitionStatus
        description: A flag that specifies whether or not to include transition status
          for billing accounts with agreement type Microsoft Customer Agreement.
        schema:
          type: boolean
          default: false
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A billing property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing property.
                    type: object
                    properties:
                      billingAccountAgreementType:
                        description: The type of agreement.
                        enum:
                        - Other
                        - MicrosoftCustomerAgreement
                        - EnterpriseAgreement
                        - MicrosoftOnlineServicesProgram
                        - MicrosoftPartnerAgreement
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AgreementType
                          modelAsString: true
                      billingAccountDisplayName:
                        description: The name of the billing account.
                        type: string
                        readOnly: true
                      billingAccountId:
                        description: The fully qualified ID that uniquely identifies
                          a billing account.
                        type: string
                        readOnly: true
                      accountAdminNotificationEmailAddress:
                        description: Notification email address for legacy account.
                          Available for agreement type Microsoft Online Services Program.
                        type: string
                        readOnly: true
                      billingAccountSoldToCountry:
                        description: The country of the individual or organization
                          that is responsible for the billing account.
                        type: string
                        readOnly: true
                      billingAccountStatus:
                        description: The current status of the billing account.
                        enum:
                        - Other
                        - Active
                        - UnderReview
                        - Disabled
                        - Deleted
                        - Extended
                        - Pending
                        - New
                        - Expired
                        - Terminated
                        - Transferred
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: true
                      billingAccountStatusReasonCode:
                        description: Reason for the specified billing account status.
                        enum:
                        - Other
                        - UnusualActivity
                        - ManuallyTerminated
                        - Expired
                        - Transferred
                        - TerminateProcessing
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingAccountStatusReasonCode
                          modelAsString: true
                      billingAccountType:
                        description: The type of customer.
                        enum:
                        - Other
                        - Enterprise
                        - Individual
                        - Partner
                        - Reseller
                        - ClassicPartner
                        - Internal
                        - Tenant
                        - Business
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      billingAccountSubType:
                        description: The tier of the account.
                        enum:
                        - Other
                        - None
                        - Individual
                        - Professional
                        - Enterprise
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountSubType
                          modelAsString: true
                      billingCurrency:
                        description: The billing currency for the subscription. Available
                          for billing accounts with agreement type Enterprise Agreement
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                        readOnly: true
                      billingProfileSpendingLimit:
                        description: The billing profile spending limit.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SpendingLimit
                          modelAsString: true
                      billingProfileSpendingLimitDetails:
                        description: The details of billing profile spending limit.
                        type: array
                        items:
                          description: The billing profile spending limit.
                          type: object
                          properties:
                            amount:
                              description: The initial amount for the billing profile.
                              type: number
                            currency:
                              description: The currency in which the charges for the
                                billing profile are billed.
                              type: string
                            startDate:
                              format: date-time
                              description: The date when this spending limit goes
                                into effect.
                              type: string
                            endDate:
                              format: date-time
                              description: The date when this spending limit is no
                                longer in effect.
                              type: string
                            type:
                              description: The type of spending limit.
                              enum:
                              - Other
                              - None
                              - FreeAccount
                              - Sandbox
                              - AzureForStudents
                              - AcademicSponsorship
                              - AzureConsumptionCredit
                              - AzurePassSponsorship
                              - MpnSponsorship
                              - MSDN
                              - NonProfitSponsorship
                              - Sponsorship
                              - StartupSponsorship
                              - AzureForStudentsStarter
                              - VisualStudio
                              type: string
                              x-ms-enum:
                                name: SpendingLimitType
                                modelAsString: true
                            status:
                              description: The status of current spending limit.
                              enum:
                              - Other
                              - None
                              - Active
                              - Expired
                              - LimitReached
                              - LimitRemoved
                              type: string
                              x-ms-enum:
                                name: SpendingLimitStatus
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      billingProfileStatus:
                        description: The status of the billing profile.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatus
                          modelAsString: true
                      billingProfileStatusReasonCode:
                        description: Reason for the specified billing profile status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatusReasonCode
                          modelAsString: true
                      billingProfilePaymentMethodFamily:
                        description: The payment method family of the primary payment
                          method for the billing profile.
                        enum:
                        - Other
                        - None
                        - CreditCard
                        - Credits
                        - CheckWire
                        - EWallet
                        - TaskOrder
                        - DirectDebit
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: PaymentMethodFamily
                          modelAsString: true
                      billingProfilePaymentMethodType:
                        description: The payment method type of the primary payment
                          method for the billing profile.
                        type: string
                        readOnly: true
                      billingTenantId:
                        description: The Azure AD tenant ID of the billing account
                          for the subscription.
                        type: string
                        readOnly: true
                      costCenter:
                        description: The cost center applied to the subscription.
                          Available for agreement type Microsoft Customer Agreement
                          and Microsoft Partner Agreement. This property can be updated
                          via patch.
                        type: string
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                        readOnly: true
                      customerStatus:
                        description: Identifies the status of an customer. This is
                          an upcoming property that will be populated in the future.
                        enum:
                        - Other
                        - Active
                        - Pending
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CustomerStatus
                          modelAsString: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionStatus:
                        description: Identifies the status of an invoice section.
                        enum:
                        - Other
                        - Active
                        - Deleted
                        - Disabled
                        - UnderReview
                        - Warned
                        - Restricted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceSectionState
                          modelAsString: true
                      invoiceSectionStatusReasonCode:
                        description: Reason for the specified invoice section status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceSectionStateReasonCode
                          modelAsString: true
                      isTransitionedBillingAccount:
                        description: Specifies if the billing account for the subscription
                          is transitioned from a Microsoft Online Service Program
                          to a Microsoft Customer Agreement (MCA) account. Will be
                          present and value will be true if its a transitioned billing
                          account.
                        type: boolean
                        readOnly: true
                      skuDescription:
                        description: The sku description.
                        type: string
                        readOnly: true
                      skuId:
                        description: The ID that uniquely identifies a sku.
                        type: string
                        readOnly: true
                      subscriptionBillingStatus:
                        description: The subscription status.
                        enum:
                        - Other
                        - Unknown
                        - Active
                        - Disabled
                        - Deleted
                        - Warned
                        - Expiring
                        - Expired
                        - AutoRenew
                        - Cancelled
                        - Suspended
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingSubscriptionStatus
                          modelAsString: true
                      subscriptionBillingStatusDetails:
                        description: The reason codes for the subscription status.
                        type: array
                        items:
                          description: The suspension details for a subscription.
                            This field is not available for Enterprise Agreement billing
                            accounts.
                          type: object
                          properties:
                            effectiveDate:
                              format: date-time
                              description: The suspension effective date for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: string
                              readOnly: true
                            reason:
                              description: The suspension reason for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              enum:
                              - None
                              - Cancelled
                              - PastDue
                              - SuspiciousActivity
                              - Other
                              - Transferred
                              - PolicyViolation
                              - SpendingLimitReached
                              - Expired
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SubscriptionStatusReason
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      subscriptionBillingType:
                        description: The type of billing subscription.
                        enum:
                        - None
                        - Benefit
                        - Free
                        - Paid
                        - PrePaid
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SubscriptionBillingType
                          modelAsString: true
                      subscriptionServiceUsageAddress:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      subscriptionWorkloadType:
                        description: The Azure workload type of the subscription.
                        enum:
                        - None
                        - Production
                        - DevTest
                        - Internal
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SubscriptionWorkloadType
                          modelAsString: true
                      enrollmentDetails:
                        type: object
                        properties:
                          departmentDisplayName:
                            description: The name of the department
                            type: string
                          departmentId:
                            description: The ID that uniquely identifies the department.
                            type: string
                          enrollmentAccountStatus:
                            description: The status of the enrollment account.
                            type: string
                          enrollmentAccountDisplayName:
                            description: The name of the enrollment account.
                            type: string
                          enrollmentAccountId:
                            description: The ID that uniquely identifies an enrollment
                              account.
                            type: string
                        description: The enrollment details for the subscription.
                          Available for billing accounts with agreement type Enterprise
                          Agreement.
                      isAccountAdmin:
                        description: Indicates whether user is the account admin.
                        type: boolean
                        readOnly: true
                      productId:
                        description: The ID that uniquely identifies a product.
                        type: string
                        readOnly: true
                      productName:
                        description: The ID that uniquely identifies a product.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - BillingProperty
      description: Updates the billing property of a subscription. Currently, cost
        center can be updated for billing accounts with agreement type Microsoft Customer
        Agreement and subscription service usage address can be updated for billing
        accounts with agreement type Microsoft Online Service Program.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProperty_Update
      parameters:
      - in: path
        name: subscriptionId
        description: The ID that uniquely identifies a billing subscription.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  description: Dictionary of metadata associated with the resource.
                    It may not be populated for all resource types. Maximum key/value
                    length supported of 256 characters. Keys/value should not empty
                    value nor null. Keys can not contain < > % & \ ? /
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: A billing property.
                  type: object
                  properties:
                    billingAccountAgreementType:
                      description: The type of agreement.
                      enum:
                      - Other
                      - MicrosoftCustomerAgreement
                      - EnterpriseAgreement
                      - MicrosoftOnlineServicesProgram
                      - MicrosoftPartnerAgreement
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: AgreementType
                        modelAsString: true
                    billingAccountDisplayName:
                      description: The name of the billing account.
                      type: string
                      readOnly: true
                    billingAccountId:
                      description: The fully qualified ID that uniquely identifies
                        a billing account.
                      type: string
                      readOnly: true
                    accountAdminNotificationEmailAddress:
                      description: Notification email address for legacy account.
                        Available for agreement type Microsoft Online Services Program.
                      type: string
                      readOnly: true
                    billingAccountSoldToCountry:
                      description: The country of the individual or organization that
                        is responsible for the billing account.
                      type: string
                      readOnly: true
                    billingAccountStatus:
                      description: The current status of the billing account.
                      enum:
                      - Other
                      - Active
                      - UnderReview
                      - Disabled
                      - Deleted
                      - Extended
                      - Pending
                      - New
                      - Expired
                      - Terminated
                      - Transferred
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: AccountStatus
                        modelAsString: true
                    billingAccountStatusReasonCode:
                      description: Reason for the specified billing account status.
                      enum:
                      - Other
                      - UnusualActivity
                      - ManuallyTerminated
                      - Expired
                      - Transferred
                      - TerminateProcessing
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingAccountStatusReasonCode
                        modelAsString: true
                    billingAccountType:
                      description: The type of customer.
                      enum:
                      - Other
                      - Enterprise
                      - Individual
                      - Partner
                      - Reseller
                      - ClassicPartner
                      - Internal
                      - Tenant
                      - Business
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: AccountType
                        modelAsString: true
                    billingAccountSubType:
                      description: The tier of the account.
                      enum:
                      - Other
                      - None
                      - Individual
                      - Professional
                      - Enterprise
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: AccountSubType
                        modelAsString: true
                    billingCurrency:
                      description: The billing currency for the subscription. Available
                        for billing accounts with agreement type Enterprise Agreement
                      type: string
                      readOnly: true
                    billingProfileDisplayName:
                      description: The name of the billing profile.
                      type: string
                      readOnly: true
                    billingProfileId:
                      description: The fully qualified ID that uniquely identifies
                        a billing profile.
                      type: string
                      readOnly: true
                    billingProfileSpendingLimit:
                      description: The billing profile spending limit.
                      enum:
                      - 'Off'
                      - 'On'
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SpendingLimit
                        modelAsString: true
                    billingProfileSpendingLimitDetails:
                      description: The details of billing profile spending limit.
                      type: array
                      items:
                        description: The billing profile spending limit.
                        type: object
                        properties:
                          amount:
                            description: The initial amount for the billing profile.
                            type: number
                          currency:
                            description: The currency in which the charges for the
                              billing profile are billed.
                            type: string
                          startDate:
                            format: date-time
                            description: The date when this spending limit goes into
                              effect.
                            type: string
                          endDate:
                            format: date-time
                            description: The date when this spending limit is no longer
                              in effect.
                            type: string
                          type:
                            description: The type of spending limit.
                            enum:
                            - Other
                            - None
                            - FreeAccount
                            - Sandbox
                            - AzureForStudents
                            - AcademicSponsorship
                            - AzureConsumptionCredit
                            - AzurePassSponsorship
                            - MpnSponsorship
                            - MSDN
                            - NonProfitSponsorship
                            - Sponsorship
                            - StartupSponsorship
                            - AzureForStudentsStarter
                            - VisualStudio
                            type: string
                            x-ms-enum:
                              name: SpendingLimitType
                              modelAsString: true
                          status:
                            description: The status of current spending limit.
                            enum:
                            - Other
                            - None
                            - Active
                            - Expired
                            - LimitReached
                            - LimitRemoved
                            type: string
                            x-ms-enum:
                              name: SpendingLimitStatus
                              modelAsString: true
                      readOnly: true
                      x-ms-identifiers: []
                    billingProfileStatus:
                      description: The status of the billing profile.
                      enum:
                      - Other
                      - Active
                      - Disabled
                      - Warned
                      - Deleted
                      - UnderReview
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingProfileStatus
                        modelAsString: true
                    billingProfileStatusReasonCode:
                      description: Reason for the specified billing profile status.
                      enum:
                      - Other
                      - PastDue
                      - UnusualActivity
                      - SpendingLimitReached
                      - SpendingLimitExpired
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingProfileStatusReasonCode
                        modelAsString: true
                    billingProfilePaymentMethodFamily:
                      description: The payment method family of the primary payment
                        method for the billing profile.
                      enum:
                      - Other
                      - None
                      - CreditCard
                      - Credits
                      - CheckWire
                      - EWallet
                      - TaskOrder
                      - DirectDebit
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: PaymentMethodFamily
                        modelAsString: true
                    billingProfilePaymentMethodType:
                      description: The payment method type of the primary payment
                        method for the billing profile.
                      type: string
                      readOnly: true
                    billingTenantId:
                      description: The Azure AD tenant ID of the billing account for
                        the subscription.
                      type: string
                      readOnly: true
                    costCenter:
                      description: The cost center applied to the subscription. Available
                        for agreement type Microsoft Customer Agreement and Microsoft
                        Partner Agreement. This property can be updated via patch.
                      type: string
                    customerDisplayName:
                      description: The name of the customer.
                      type: string
                      readOnly: true
                    customerId:
                      description: The fully qualified ID that uniquely identifies
                        a customer.
                      type: string
                      readOnly: true
                    customerStatus:
                      description: Identifies the status of an customer. This is an
                        upcoming property that will be populated in the future.
                      enum:
                      - Other
                      - Active
                      - Pending
                      - Disabled
                      - Warned
                      - Deleted
                      - UnderReview
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: CustomerStatus
                        modelAsString: true
                    invoiceSectionDisplayName:
                      description: The name of the invoice section.
                      type: string
                      readOnly: true
                    invoiceSectionId:
                      description: The fully qualified ID that uniquely identifies
                        an invoice section.
                      type: string
                      readOnly: true
                    invoiceSectionStatus:
                      description: Identifies the status of an invoice section.
                      enum:
                      - Other
                      - Active
                      - Deleted
                      - Disabled
                      - UnderReview
                      - Warned
                      - Restricted
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: InvoiceSectionState
                        modelAsString: true
                    invoiceSectionStatusReasonCode:
                      description: Reason for the specified invoice section status.
                      enum:
                      - Other
                      - PastDue
                      - UnusualActivity
                      - SpendingLimitReached
                      - SpendingLimitExpired
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: InvoiceSectionStateReasonCode
                        modelAsString: true
                    isTransitionedBillingAccount:
                      description: Specifies if the billing account for the subscription
                        is transitioned from a Microsoft Online Service Program to
                        a Microsoft Customer Agreement (MCA) account. Will be present
                        and value will be true if its a transitioned billing account.
                      type: boolean
                      readOnly: true
                    skuDescription:
                      description: The sku description.
                      type: string
                      readOnly: true
                    skuId:
                      description: The ID that uniquely identifies a sku.
                      type: string
                      readOnly: true
                    subscriptionBillingStatus:
                      description: The subscription status.
                      enum:
                      - Other
                      - Unknown
                      - Active
                      - Disabled
                      - Deleted
                      - Warned
                      - Expiring
                      - Expired
                      - AutoRenew
                      - Cancelled
                      - Suspended
                      - Failed
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingSubscriptionStatus
                        modelAsString: true
                    subscriptionBillingStatusDetails:
                      description: The reason codes for the subscription status.
                      type: array
                      items:
                        description: The suspension details for a subscription. This
                          field is not available for Enterprise Agreement billing
                          accounts.
                        type: object
                        properties:
                          effectiveDate:
                            format: date-time
                            description: The suspension effective date for a subscription.
                              This field is not available for Enterprise Agreement
                              billing accounts.
                            type: string
                            readOnly: true
                          reason:
                            description: The suspension reason for a subscription.
                              This field is not available for Enterprise Agreement
                              billing accounts.
                            enum:
                            - None
                            - Cancelled
                            - PastDue
                            - SuspiciousActivity
                            - Other
                            - Transferred
                            - PolicyViolation
                            - SpendingLimitReached
                            - Expired
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: SubscriptionStatusReason
                              modelAsString: true
                      readOnly: true
                      x-ms-identifiers: []
                    subscriptionBillingType:
                      description: The type of billing subscription.
                      enum:
                      - None
                      - Benefit
                      - Free
                      - Paid
                      - PrePaid
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SubscriptionBillingType
                        modelAsString: true
                    subscriptionServiceUsageAddress:
                      type: object
                      properties:
                        addressLine1:
                          description: Address line 1.
                          minLength: 1
                          type: string
                        addressLine2:
                          description: Address line 2.
                          type: string
                        addressLine3:
                          description: Address line 3.
                          type: string
                        city:
                          description: Address city.
                          type: string
                        companyName:
                          description: Company name. Optional for MCA Individual (Pay-as-you-go).
                          type: string
                        country:
                          description: Country code uses ISO 3166-1 Alpha-2 format.
                          minLength: 1
                          type: string
                        district:
                          description: Address district.
                          type: string
                        email:
                          description: Email address.
                          type: string
                        firstName:
                          description: First name. Optional for MCA Enterprise.
                          type: string
                        lastName:
                          description: Last name. Optional for MCA Enterprise.
                          type: string
                        middleName:
                          description: Middle name.
                          type: string
                        phoneNumber:
                          description: Phone number.
                          type: string
                        postalCode:
                          description: Postal code.
                          type: string
                        region:
                          description: Address region.
                          type: string
                        isValidAddress:
                          description: Indicates if the address is incomplete.
                          type: boolean
                      required:
                      - addressLine1
                      - country
                      description: Address details.
                    subscriptionWorkloadType:
                      description: The Azure workload type of the subscription.
                      enum:
                      - None
                      - Production
                      - DevTest
                      - Internal
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SubscriptionWorkloadType
                        modelAsString: true
                    enrollmentDetails:
                      type: object
                      properties:
                        departmentDisplayName:
                          description: The name of the department
                          type: string
                        departmentId:
                          description: The ID that uniquely identifies the department.
                          type: string
                        enrollmentAccountStatus:
                          description: The status of the enrollment account.
                          type: string
                        enrollmentAccountDisplayName:
                          description: The name of the enrollment account.
                          type: string
                        enrollmentAccountId:
                          description: The ID that uniquely identifies an enrollment
                            account.
                          type: string
                      description: The enrollment details for the subscription. Available
                        for billing accounts with agreement type Enterprise Agreement.
                    isAccountAdmin:
                      description: Indicates whether user is the account admin.
                      type: boolean
                      readOnly: true
                    productId:
                      description: The ID that uniquely identifies a product.
                      type: string
                      readOnly: true
                    productName:
                      description: The ID that uniquely identifies a product.
                      type: string
                      readOnly: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: A billing property.
        required: true
      responses:
        '200':
          description: A billing property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing property.
                    type: object
                    properties:
                      billingAccountAgreementType:
                        description: The type of agreement.
                        enum:
                        - Other
                        - MicrosoftCustomerAgreement
                        - EnterpriseAgreement
                        - MicrosoftOnlineServicesProgram
                        - MicrosoftPartnerAgreement
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AgreementType
                          modelAsString: true
                      billingAccountDisplayName:
                        description: The name of the billing account.
                        type: string
                        readOnly: true
                      billingAccountId:
                        description: The fully qualified ID that uniquely identifies
                          a billing account.
                        type: string
                        readOnly: true
                      accountAdminNotificationEmailAddress:
                        description: Notification email address for legacy account.
                          Available for agreement type Microsoft Online Services Program.
                        type: string
                        readOnly: true
                      billingAccountSoldToCountry:
                        description: The country of the individual or organization
                          that is responsible for the billing account.
                        type: string
                        readOnly: true
                      billingAccountStatus:
                        description: The current status of the billing account.
                        enum:
                        - Other
                        - Active
                        - UnderReview
                        - Disabled
                        - Deleted
                        - Extended
                        - Pending
                        - New
                        - Expired
                        - Terminated
                        - Transferred
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountStatus
                          modelAsString: true
                      billingAccountStatusReasonCode:
                        description: Reason for the specified billing account status.
                        enum:
                        - Other
                        - UnusualActivity
                        - ManuallyTerminated
                        - Expired
                        - Transferred
                        - TerminateProcessing
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingAccountStatusReasonCode
                          modelAsString: true
                      billingAccountType:
                        description: The type of customer.
                        enum:
                        - Other
                        - Enterprise
                        - Individual
                        - Partner
                        - Reseller
                        - ClassicPartner
                        - Internal
                        - Tenant
                        - Business
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountType
                          modelAsString: true
                      billingAccountSubType:
                        description: The tier of the account.
                        enum:
                        - Other
                        - None
                        - Individual
                        - Professional
                        - Enterprise
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: AccountSubType
                          modelAsString: true
                      billingCurrency:
                        description: The billing currency for the subscription. Available
                          for billing accounts with agreement type Enterprise Agreement
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                        readOnly: true
                      billingProfileSpendingLimit:
                        description: The billing profile spending limit.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SpendingLimit
                          modelAsString: true
                      billingProfileSpendingLimitDetails:
                        description: The details of billing profile spending limit.
                        type: array
                        items:
                          description: The billing profile spending limit.
                          type: object
                          properties:
                            amount:
                              description: The initial amount for the billing profile.
                              type: number
                            currency:
                              description: The currency in which the charges for the
                                billing profile are billed.
                              type: string
                            startDate:
                              format: date-time
                              description: The date when this spending limit goes
                                into effect.
                              type: string
                            endDate:
                              format: date-time
                              description: The date when this spending limit is no
                                longer in effect.
                              type: string
                            type:
                              description: The type of spending limit.
                              enum:
                              - Other
                              - None
                              - FreeAccount
                              - Sandbox
                              - AzureForStudents
                              - AcademicSponsorship
                              - AzureConsumptionCredit
                              - AzurePassSponsorship
                              - MpnSponsorship
                              - MSDN
                              - NonProfitSponsorship
                              - Sponsorship
                              - StartupSponsorship
                              - AzureForStudentsStarter
                              - VisualStudio
                              type: string
                              x-ms-enum:
                                name: SpendingLimitType
                                modelAsString: true
                            status:
                              description: The status of current spending limit.
                              enum:
                              - Other
                              - None
                              - Active
                              - Expired
                              - LimitReached
                              - LimitRemoved
                              type: string
                              x-ms-enum:
                                name: SpendingLimitStatus
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      billingProfileStatus:
                        description: The status of the billing profile.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatus
                          modelAsString: true
                      billingProfileStatusReasonCode:
                        description: Reason for the specified billing profile status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatusReasonCode
                          modelAsString: true
                      billingProfilePaymentMethodFamily:
                        description: The payment method family of the primary payment
                          method for the billing profile.
                        enum:
                        - Other
                        - None
                        - CreditCard
                        - Credits
                        - CheckWire
                        - EWallet
                        - TaskOrder
                        - DirectDebit
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: PaymentMethodFamily
                          modelAsString: true
                      billingProfilePaymentMethodType:
                        description: The payment method type of the primary payment
                          method for the billing profile.
                        type: string
                        readOnly: true
                      billingTenantId:
                        description: The Azure AD tenant ID of the billing account
                          for the subscription.
                        type: string
                        readOnly: true
                      costCenter:
                        description: The cost center applied to the subscription.
                          Available for agreement type Microsoft Customer Agreement
                          and Microsoft Partner Agreement. This property can be updated
                          via patch.
                        type: string
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                        readOnly: true
                      customerStatus:
                        description: Identifies the status of an customer. This is
                          an upcoming property that will be populated in the future.
                        enum:
                        - Other
                        - Active
                        - Pending
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: CustomerStatus
                          modelAsString: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionStatus:
                        description: Identifies the status of an invoice section.
                        enum:
                        - Other
                        - Active
                        - Deleted
                        - Disabled
                        - UnderReview
                        - Warned
                        - Restricted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceSectionState
                          modelAsString: true
                      invoiceSectionStatusReasonCode:
                        description: Reason for the specified invoice section status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceSectionStateReasonCode
                          modelAsString: true
                      isTransitionedBillingAccount:
                        description: Specifies if the billing account for the subscription
                          is transitioned from a Microsoft Online Service Program
                          to a Microsoft Customer Agreement (MCA) account. Will be
                          present and value will be true if its a transitioned billing
                          account.
                        type: boolean
                        readOnly: true
                      skuDescription:
                        description: The sku description.
                        type: string
                        readOnly: true
                      skuId:
                        description: The ID that uniquely identifies a sku.
                        type: string
                        readOnly: true
                      subscriptionBillingStatus:
                        description: The subscription status.
                        enum:
                        - Other
                        - Unknown
                        - Active
                        - Disabled
                        - Deleted
                        - Warned
                        - Expiring
                        - Expired
                        - AutoRenew
                        - Cancelled
                        - Suspended
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingSubscriptionStatus
                          modelAsString: true
                      subscriptionBillingStatusDetails:
                        description: The reason codes for the subscription status.
                        type: array
                        items:
                          description: The suspension details for a subscription.
                            This field is not available for Enterprise Agreement billing
                            accounts.
                          type: object
                          properties:
                            effectiveDate:
                              format: date-time
                              description: The suspension effective date for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: string
                              readOnly: true
                            reason:
                              description: The suspension reason for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              enum:
                              - None
                              - Cancelled
                              - PastDue
                              - SuspiciousActivity
                              - Other
                              - Transferred
                              - PolicyViolation
                              - SpendingLimitReached
                              - Expired
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SubscriptionStatusReason
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      subscriptionBillingType:
                        description: The type of billing subscription.
                        enum:
                        - None
                        - Benefit
                        - Free
                        - Paid
                        - PrePaid
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SubscriptionBillingType
                          modelAsString: true
                      subscriptionServiceUsageAddress:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      subscriptionWorkloadType:
                        description: The Azure workload type of the subscription.
                        enum:
                        - None
                        - Production
                        - DevTest
                        - Internal
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SubscriptionWorkloadType
                          modelAsString: true
                      enrollmentDetails:
                        type: object
                        properties:
                          departmentDisplayName:
                            description: The name of the department
                            type: string
                          departmentId:
                            description: The ID that uniquely identifies the department.
                            type: string
                          enrollmentAccountStatus:
                            description: The status of the enrollment account.
                            type: string
                          enrollmentAccountDisplayName:
                            description: The name of the enrollment account.
                            type: string
                          enrollmentAccountId:
                            description: The ID that uniquely identifies an enrollment
                              account.
                            type: string
                        description: The enrollment details for the subscription.
                          Available for billing accounts with agreement type Enterprise
                          Agreement.
                      isAccountAdmin:
                        description: Indicates whether user is the account admin.
                        type: boolean
                        readOnly: true
                      productId:
                        description: The ID that uniquely identifies a product.
                        type: string
                        readOnly: true
                      productName:
                        description: The ID that uniquely identifies a product.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    subscriptionId:
      in: path
      name: subscriptionId
      description: The ID that uniquely identifies a billing subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
    apiVersionParameter:
      in: query
      name: api-version
      description: The version of the API to be used with the client request. The
        current version is 2024-04-01.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    BillingProperty:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
        properties:
          description: A billing property.
          type: object
          properties:
            billingAccountAgreementType:
              description: The type of agreement.
              enum:
              - Other
              - MicrosoftCustomerAgreement
              - EnterpriseAgreement
              - MicrosoftOnlineServicesProgram
              - MicrosoftPartnerAgreement
              type: string
              readOnly: true
              x-ms-enum:
                name: AgreementType
                modelAsString: true
            billingAccountDisplayName:
              description: The name of the billing account.
              type: string
              readOnly: true
            billingAccountId:
              description: The fully qualified ID that uniquely identifies a billing
                account.
              type: string
              readOnly: true
            accountAdminNotificationEmailAddress:
              description: Notification email address for legacy account. Available
                for agreement type Microsoft Online Services Program.
              type: string
              readOnly: true
            billingAccountSoldToCountry:
              description: The country of the individual or organization that is responsible
                for the billing account.
              type: string
              readOnly: true
            billingAccountStatus:
              description: The current status of the billing account.
              enum:
              - Other
              - Active
              - UnderReview
              - Disabled
              - Deleted
              - Extended
              - Pending
              - New
              - Expired
              - Terminated
              - Transferred
              type: string
              readOnly: true
              x-ms-enum:
                name: AccountStatus
                modelAsString: true
            billingAccountStatusReasonCode:
              description: Reason for the specified billing account status.
              enum:
              - Other
              - UnusualActivity
              - ManuallyTerminated
              - Expired
              - Transferred
              - TerminateProcessing
              type: string
              readOnly: true
              x-ms-enum:
                name: BillingAccountStatusReasonCode
                modelAsString: true
            billingAccountType:
              description: The type of customer.
              enum:
              - Other
              - Enterprise
              - Individual
              - Partner
              - Reseller
              - ClassicPartner
              - Internal
              - Tenant
              - Business
              type: string
              readOnly: true
              x-ms-enum:
                name: AccountType
                modelAsString: true
            billingAccountSubType:
              description: The tier of the account.
              enum:
              - Other
              - None
              - Individual
              - Professional
              - Enterprise
              type: string
              readOnly: true
              x-ms-enum:
                name: AccountSubType
                modelAsString: true
            billingCurrency:
              description: The billing currency for the subscription. Available for
                billing accounts with agreement type Enterprise Agreement
              type: string
              readOnly: true
            billingProfileDisplayName:
              description: The name of the billing profile.
              type: string
              readOnly: true
            billingProfileId:
              description: The fully qualified ID that uniquely identifies a billing
                profile.
              type: string
              readOnly: true
            billingProfileSpendingLimit:
              description: The billing profile spending limit.
              enum:
              - 'Off'
              - 'On'
              type: string
              readOnly: true
              x-ms-enum:
                name: SpendingLimit
                modelAsString: true
            billingProfileSpendingLimitDetails:
              description: The details of billing profile spending limit.
              type: array
              items:
                description: The billing profile spending limit.
                type: object
                properties:
                  amount:
                    description: The initial amount for the billing profile.
                    type: number
                  currency:
                    description: The currency in which the charges for the billing
                      profile are billed.
                    type: string
                  startDate:
                    format: date-time
                    description: The date when this spending limit goes into effect.
                    type: string
                  endDate:
                    format: date-time
                    description: The date when this spending limit is no longer in
                      effect.
                    type: string
                  type:
                    description: The type of spending limit.
                    enum:
                    - Other
                    - None
                    - FreeAccount
                    - Sandbox
                    - AzureForStudents
                    - AcademicSponsorship
                    - AzureConsumptionCredit
                    - AzurePassSponsorship
                    - MpnSponsorship
                    - MSDN
                    - NonProfitSponsorship
                    - Sponsorship
                    - StartupSponsorship
                    - AzureForStudentsStarter
                    - VisualStudio
                    type: string
[...]
