openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingRequests:
    get:
      tags:
      - BillingRequest
      description: The list of billing requests submitted for the billing profile.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRequests_ListByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing requests.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A request submitted by a user to manage billing.
                            Users with an owner role on the scope can approve or decline
                            these requests.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            additionalInformation:
                              description: Additional information for the billing
                                request.
                              type: object
                              additionalProperties:
                                type: string
                            reviewedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            reviewalDate:
                              format: date-time
                              description: The date and time when the request was
                                reviewed.
                              type: string
                              readOnly: true
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                              readOnly: true
                            billingAccountName:
                              description: The ID that uniquely identifies a billing
                                account.
                              type: string
                              readOnly: true
                            billingAccountDisplayName:
                              description: The name of the billing account.
                              type: string
                              readOnly: true
                            billingAccountPrimaryBillingTenantId:
                              description: The primary tenant ID of the billing account
                                for which the billing request was submitted.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            createdBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            creationDate:
                              format: date-time
                              description: The date and time when the request was
                                created.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: The date and time when the request expires.
                              type: string
                              readOnly: true
                            decisionReason:
                              description: The reason to approve or decline the request.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The fully qualified ID that uniquely identifies
                                a billing subscription.
                              type: string
                              readOnly: true
                            subscriptionName:
                              description: The ID that uniquely identifies a billing
                                subscription.
                              type: string
                              readOnly: true
                            subscriptionDisplayName:
                              description: The name of the billing subscription.
                              type: string
                              readOnly: true
                            justification:
                              description: Justification for submitting request.
                              type: string
                            recipients:
                              description: The recipients of the billing request.
                              type: array
                              items:
                                description: A principal who has interacted with a
                                  billing entity.
                                type: object
                                properties:
                                  tenantId:
                                    description: The tenant id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  objectId:
                                    description: The object id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  upn:
                                    description: The user principal name of the principal
                                      who has interacted with a billing entity.
                                    type: string
                              x-ms-identifiers: []
                            requestScope:
                              description: The billing scope for which the request
                                was submitted (ex. '/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}').
                              type: string
                            billingScope:
                              description: The billing scope for which the request
                                will be applied. This is a read only property derived
                                by the service.
                              type: string
                              readOnly: true
                            status:
                              description: Status of billing request.
                              enum:
                              - Other
                              - Pending
                              - Approved
                              - Declined
                              - Cancelled
                              - Completed
                              - Expired
                              type: string
                              x-ms-enum:
                                name: BillingRequestStatus
                                modelAsString: true
                            type:
                              description: Type of billing request.
                              enum:
                              - Other
                              - InvoiceAccess
                              - ProvisioningAccess
                              - RoleAssignment
                              - UpdateBillingPolicy
                              type: string
                              x-ms-enum:
                                name: BillingRequestType
                                modelAsString: true
                            lastUpdatedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            lastUpdatedDate:
                              format: date-time
                              description: Date and time of last update.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingRequests
  : get:
      tags:
      - BillingRequest
      description: The list of billing requests submitted for the customer.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRequests_ListByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing requests.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A request submitted by a user to manage billing.
                            Users with an owner role on the scope can approve or decline
                            these requests.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            additionalInformation:
                              description: Additional information for the billing
                                request.
                              type: object
                              additionalProperties:
                                type: string
                            reviewedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            reviewalDate:
                              format: date-time
                              description: The date and time when the request was
                                reviewed.
                              type: string
                              readOnly: true
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                              readOnly: true
                            billingAccountName:
                              description: The ID that uniquely identifies a billing
                                account.
                              type: string
                              readOnly: true
                            billingAccountDisplayName:
                              description: The name of the billing account.
                              type: string
                              readOnly: true
                            billingAccountPrimaryBillingTenantId:
                              description: The primary tenant ID of the billing account
                                for which the billing request was submitted.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            createdBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            creationDate:
                              format: date-time
                              description: The date and time when the request was
                                created.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: The date and time when the request expires.
                              type: string
                              readOnly: true
                            decisionReason:
                              description: The reason to approve or decline the request.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The fully qualified ID that uniquely identifies
                                a billing subscription.
                              type: string
                              readOnly: true
                            subscriptionName:
                              description: The ID that uniquely identifies a billing
                                subscription.
                              type: string
                              readOnly: true
                            subscriptionDisplayName:
                              description: The name of the billing subscription.
                              type: string
                              readOnly: true
                            justification:
                              description: Justification for submitting request.
                              type: string
                            recipients:
                              description: The recipients of the billing request.
                              type: array
                              items:
                                description: A principal who has interacted with a
                                  billing entity.
                                type: object
                                properties:
                                  tenantId:
                                    description: The tenant id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  objectId:
                                    description: The object id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  upn:
                                    description: The user principal name of the principal
                                      who has interacted with a billing entity.
                                    type: string
                              x-ms-identifiers: []
                            requestScope:
                              description: The billing scope for which the request
                                was submitted (ex. '/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}').
                              type: string
                            billingScope:
                              description: The billing scope for which the request
                                will be applied. This is a read only property derived
                                by the service.
                              type: string
                              readOnly: true
                            status:
                              description: Status of billing request.
                              enum:
                              - Other
                              - Pending
                              - Approved
                              - Declined
                              - Cancelled
                              - Completed
                              - Expired
                              type: string
                              x-ms-enum:
                                name: BillingRequestStatus
                                modelAsString: true
                            type:
                              description: Type of billing request.
                              enum:
                              - Other
                              - InvoiceAccess
                              - ProvisioningAccess
                              - RoleAssignment
                              - UpdateBillingPolicy
                              type: string
                              x-ms-enum:
                                name: BillingRequestType
                                modelAsString: true
                            lastUpdatedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            lastUpdatedDate:
                              format: date-time
                              description: Date and time of last update.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingRequests
  : get:
      tags:
      - BillingRequest
      description: The list of billing requests submitted for the invoice section.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRequests_ListByInvoiceSection
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing requests.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A request submitted by a user to manage billing.
                            Users with an owner role on the scope can approve or decline
                            these requests.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            additionalInformation:
                              description: Additional information for the billing
                                request.
                              type: object
                              additionalProperties:
                                type: string
                            reviewedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            reviewalDate:
                              format: date-time
                              description: The date and time when the request was
                                reviewed.
                              type: string
                              readOnly: true
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                              readOnly: true
                            billingAccountName:
                              description: The ID that uniquely identifies a billing
                                account.
                              type: string
                              readOnly: true
                            billingAccountDisplayName:
                              description: The name of the billing account.
                              type: string
                              readOnly: true
                            billingAccountPrimaryBillingTenantId:
                              description: The primary tenant ID of the billing account
                                for which the billing request was submitted.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            createdBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            creationDate:
                              format: date-time
                              description: The date and time when the request was
                                created.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: The date and time when the request expires.
                              type: string
                              readOnly: true
                            decisionReason:
                              description: The reason to approve or decline the request.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The fully qualified ID that uniquely identifies
                                a billing subscription.
                              type: string
                              readOnly: true
                            subscriptionName:
                              description: The ID that uniquely identifies a billing
                                subscription.
                              type: string
                              readOnly: true
                            subscriptionDisplayName:
                              description: The name of the billing subscription.
                              type: string
                              readOnly: true
                            justification:
                              description: Justification for submitting request.
                              type: string
                            recipients:
                              description: The recipients of the billing request.
                              type: array
                              items:
                                description: A principal who has interacted with a
                                  billing entity.
                                type: object
                                properties:
                                  tenantId:
                                    description: The tenant id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  objectId:
                                    description: The object id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  upn:
                                    description: The user principal name of the principal
                                      who has interacted with a billing entity.
                                    type: string
                              x-ms-identifiers: []
                            requestScope:
                              description: The billing scope for which the request
                                was submitted (ex. '/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}').
                              type: string
                            billingScope:
                              description: The billing scope for which the request
                                will be applied. This is a read only property derived
                                by the service.
                              type: string
                              readOnly: true
                            status:
                              description: Status of billing request.
                              enum:
                              - Other
                              - Pending
                              - Approved
                              - Declined
                              - Cancelled
                              - Completed
                              - Expired
                              type: string
                              x-ms-enum:
                                name: BillingRequestStatus
                                modelAsString: true
                            type:
                              description: Type of billing request.
                              enum:
                              - Other
                              - InvoiceAccess
                              - ProvisioningAccess
                              - RoleAssignment
                              - UpdateBillingPolicy
                              type: string
                              x-ms-enum:
                                name: BillingRequestType
                                modelAsString: true
                            lastUpdatedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            lastUpdatedDate:
                              format: date-time
                              description: Date and time of last update.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingRequests:
    get:
      tags:
      - BillingRequest
      description: The list of billing requests submitted for the billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingRequests_ListByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing requests.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A request submitted by a user to manage billing.
                            Users with an owner role on the scope can approve or decline
                            these requests.
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            additionalInformation:
                              description: Additional information for the billing
                                request.
                              type: object
                              additionalProperties:
                                type: string
                            reviewedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            reviewalDate:
                              format: date-time
                              description: The date and time when the request was
                                reviewed.
                              type: string
                              readOnly: true
                            billingAccountId:
                              description: The fully qualified ID that uniquely identifies
                                a billing account.
                              type: string
                              readOnly: true
                            billingAccountName:
                              description: The ID that uniquely identifies a billing
                                account.
                              type: string
                              readOnly: true
                            billingAccountDisplayName:
                              description: The name of the billing account.
                              type: string
                              readOnly: true
                            billingAccountPrimaryBillingTenantId:
                              description: The primary tenant ID of the billing account
                                for which the billing request was submitted.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            createdBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            creationDate:
                              format: date-time
                              description: The date and time when the request was
                                created.
                              type: string
                              readOnly: true
                            expirationDate:
                              format: date-time
                              description: The date and time when the request expires.
                              type: string
                              readOnly: true
                            decisionReason:
                              description: The reason to approve or decline the request.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The fully qualified ID that uniquely identifies
                                a billing subscription.
                              type: string
                              readOnly: true
                            subscriptionName:
                              description: The ID that uniquely identifies a billing
                                subscription.
                              type: string
                              readOnly: true
                            subscriptionDisplayName:
                              description: The name of the billing subscription.
                              type: string
                              readOnly: true
                            justification:
                              description: Justification for submitting request.
                              type: string
                            recipients:
                              description: The recipients of the billing request.
                              type: array
                              items:
                                description: A principal who has interacted with a
                                  billing entity.
                                type: object
                                properties:
                                  tenantId:
                                    description: The tenant id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  objectId:
                                    description: The object id of the principal who
                                      has interacted with a billing entity.
                                    type: string
                                  upn:
                                    description: The user principal name of the principal
                                      who has interacted with a billing entity.
                                    type: string
                              x-ms-identifiers: []
                            requestScope:
                              description: The billing scope for which the request
                                was submitted (ex. '/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}').
                              type: string
                            billingScope:
                              description: The billing scope for which the request
                                will be applied. This is a read only property derived
                                by the service.
                              type: string
                              readOnly: true
                            status:
                              description: Status of billing request.
                              enum:
                              - Other
                              - Pending
                              - Approved
                              - Declined
                              - Cancelled
                              - Completed
                              - Expired
                              type: string
                              x-ms-enum:
                                name: BillingRequestStatus
                                modelAsString: true
                            type:
                              description: Type of billing request.
                              enum:
                              - Other
                              - InvoiceAccess
                              - ProvisioningAccess
                              - RoleAssignment
                              - UpdateBillingPolicy
                              type: string
                              x-ms-enum:
                                name: BillingRequestType
                                modelAsString: true
                            lastUpdatedBy:
                              type: object
                              properties:
                                tenantId:
                                  description: The tenant id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                objectId:
                                  description: The object id of the principal who
                                    has interacted with a billing entity.
                                  type: string
                                upn:
                                  description: The user principal name of the principal
                                    who has interacted with a billing entity.
                                  type: string
                              description: A principal who has interacted with a billing
                                entity.
                            lastUpdatedDate:
                              format: date-time
                              description: Date and time of last update.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
[...]
