openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/validateDeleteEligibility
  : post:
      tags:
      - BillingProfile
      description: Validates if the billing profile can be deleted. The operation
        is supported for billing accounts with agreement type Microsoft Customer Agreement
        and Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProfiles_ValidateDeleteEligibility
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Eligibility to delete a billing profile result.
          content:
            application/json:
              schema:
                description: Eligibility to delete a billing profile result.
                type: object
                properties:
                  eligibilityStatus:
                    description: Status describing if billing profile is eligible
                      to be deleted.
                    enum:
                    - Allowed
                    - NotAllowed
                    type: string
                    x-ms-enum:
                      name: DeleteBillingProfileEligibilityStatus
                      modelAsString: true
                  eligibilityDetails:
                    description: Validation details of delete billing profile eligibility.
                    type: array
                    items:
                      description: Validation details of delete billing profile eligibility.
                      type: object
                      properties:
                        code:
                          description: Code of the delete invoice section eligibility
                            response.
                          enum:
                          - None
                          - ActiveCredits
                          - ActiveCreditCard
                          - LastBillingProfile
                          - NotSupported
                          - OutstandingCharges
                          - PendingCharges
                          - ReservedInstances
                          - ActiveBillingSubscriptions
                          type: string
                          x-ms-enum:
                            name: DeleteBillingProfileEligibilityCode
                            modelAsString: true
                        message:
                          description: Validation message.
                          type: string
                    x-ms-identifiers: []
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}:
    delete:
      tags:
      - BillingProfile
      description: Deletes a billing profile. The operation is supported for billing
        accounts with agreement type Microsoft Customer Agreement and Microsoft Partner
        Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProfiles_Delete
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        '204':
          description: The request has succeeded with no response body.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - BillingProfile
      description: Gets a billing profile by its ID. The operation is supported for
        billing accounts with agreement type Microsoft Customer Agreement and Microsoft
        Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProfiles_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A billing profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing profile.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingRelationshipType:
                        description: Identifies the billing relationship represented
                          by the billing profile. The billing relationship may be
                          between Microsoft, the customer, and/or a third-party.
                        enum:
                        - Other
                        - Direct
                        - IndirectCustomer
                        - IndirectPartner
                        - CSPPartner
                        - CSPCustomer
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingRelationshipType
                          modelAsString: true
                      billTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      currency:
                        description: The currency in which the charges for the billing
                          profile are billed.
                        type: string
                        readOnly: true
                      displayName:
                        description: The name of the billing profile.
                        type: string
                      enabledAzurePlans:
                        description: Information about the enabled azure plans.
                        type: array
                        items:
                          description: Details of the Azure plan.
                          type: object
                          properties:
                            productId:
                              description: The ID that uniquely identifies a product.
                              type: string
                            skuId:
                              description: The ID that uniquely identifies a sku.
                              type: string
                            skuDescription:
                              description: The sku description.
                              type: string
                        x-ms-identifiers: []
                      hasReadAccess:
                        description: Indicates whether user has read access to the
                          billing profile.
                        type: boolean
                        readOnly: true
                      indirectRelationshipInfo:
                        type: object
                        properties:
                          billingAccountName:
                            description: The billing account name of the partner or
                              the customer for an indirect motion.
                            type: string
                          billingProfileName:
                            description: The billing profile name of the partner or
                              the customer for an indirect motion.
                            type: string
                          displayName:
                            description: The display name of the partner or customer
                              for an indirect motion.
                            type: string
                        description: Identifies the billing profile that is linked
                          to another billing profile in indirect purchase motion.
                      invoiceDay:
                        format: int32
                        description: The day of the month when the invoice for the
                          billing profile is generated.
                        type: integer
                        readOnly: true
                      invoiceEmailOptIn:
                        description: Flag controlling whether the invoices for the
                          billing profile are sent through email.
                        type: boolean
                      invoiceRecipients:
                        description: The list of email addresses to receive invoices
                          by email for the billing profile.
                        type: array
                        items:
                          type: string
                        x-ms-identifiers: []
                      poNumber:
                        description: The default purchase order number that will appear
                          on the invoices generated for the billing profile.
                        type: string
                      shipTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      soldTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      spendingLimit:
                        description: The billing profile spending limit.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SpendingLimit
                          modelAsString: true
                      spendingLimitDetails:
                        description: The details of billing profile spending limit.
                        type: array
                        items:
                          description: The billing profile spending limit.
                          type: object
                          properties:
                            amount:
                              description: The initial amount for the billing profile.
                              type: number
                            currency:
                              description: The currency in which the charges for the
                                billing profile are billed.
                              type: string
                            startDate:
                              format: date-time
                              description: The date when this spending limit goes
                                into effect.
                              type: string
                            endDate:
                              format: date-time
                              description: The date when this spending limit is no
                                longer in effect.
                              type: string
                            type:
                              description: The type of spending limit.
                              enum:
                              - Other
                              - None
                              - FreeAccount
                              - Sandbox
                              - AzureForStudents
                              - AcademicSponsorship
                              - AzureConsumptionCredit
                              - AzurePassSponsorship
                              - MpnSponsorship
                              - MSDN
                              - NonProfitSponsorship
                              - Sponsorship
                              - StartupSponsorship
                              - AzureForStudentsStarter
                              - VisualStudio
                              type: string
                              x-ms-enum:
                                name: SpendingLimitType
                                modelAsString: true
                            status:
                              description: The status of current spending limit.
                              enum:
                              - Other
                              - None
                              - Active
                              - Expired
                              - LimitReached
                              - LimitRemoved
                              type: string
                              x-ms-enum:
                                name: SpendingLimitStatus
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      status:
                        description: The status of the billing profile.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatus
                          modelAsString: true
                      statusReasonCode:
                        description: Reason for the specified billing profile status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatusReasonCode
                          modelAsString: true
                      systemId:
                        description: The system generated unique identifier for a
                          billing profile.
                        type: string
                        readOnly: true
                      tags:
                        description: Dictionary of metadata associated with the resource.
                          Maximum key/value length supported of 256 characters. Keys/value
                          should not empty value nor null. Keys can not contain <
                          > % & \ ? /
                        type: object
                        additionalProperties:
                          type: string
                      targetClouds:
                        description: Identifies the cloud environments that are associated
                          with a billing profile. This is a system managed optional
                          field and gets updated as the billing profile gets associated
                          with accounts in various clouds.
                        type: array
                        readOnly: true
                        items:
                          type: string
                      currentPaymentTerm:
                        type: object
                        properties:
                          term:
                            description: Represents duration in netXX format. Always
                              in days.
                            type: string
                          startDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will be effective from and is always in UTC.
                            type: string
                          endDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will end and is always in UTC.
                            type: string
                          isDefault:
                            description: Indicates payment term is the standard payment
                              term.
                            type: boolean
                            readOnly: true
                        description: The properties of payment term.
                      otherPaymentTerms:
                        description: The other payment terms of the billing profile.
                        type: array
                        items:
                          description: The properties of payment term.
                          type: object
                          properties:
                            term:
                              description: Represents duration in netXX format. Always
                                in days.
                              type: string
                            startDate:
                              format: date-time
                              description: The date on when the defined 'Payment Term'
                                will be effective from and is always in UTC.
                              type: string
                            endDate:
                              format: date-time
                              description: The date on when the defined 'Payment Term'
                                will end and is always in UTC.
                              type: string
                            isDefault:
                              description: Indicates payment term is the standard
                                payment term.
                              type: boolean
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - BillingProfile
      description: Creates or updates a billing profile. The operation is supported
        for billing accounts with agreement type Microsoft Customer Agreement and
        Microsoft Partner Agreement. If you are a MCA Individual (Pay-as-you-go) customer,
        then please use the Azure portal experience to create the billing profile.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingProfiles_CreateOrUpdate
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  description: Dictionary of metadata associated with the resource.
                    It may not be populated for all resource types. Maximum key/value
                    length supported of 256 characters. Keys/value should not empty
                    value nor null. Keys can not contain < > % & \ ? /
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: A billing profile.
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the resource during a
                        long-running operation.
                      enum:
                      - Succeeded
                      - Canceled
                      - Failed
                      - New
                      - Pending
                      - Provisioning
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    billingRelationshipType:
                      description: Identifies the billing relationship represented
                        by the billing profile. The billing relationship may be between
                        Microsoft, the customer, and/or a third-party.
                      enum:
                      - Other
                      - Direct
                      - IndirectCustomer
                      - IndirectPartner
                      - CSPPartner
                      - CSPCustomer
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingRelationshipType
                        modelAsString: true
                    billTo:
                      type: object
                      properties:
                        addressLine1:
                          description: Address line 1.
                          minLength: 1
                          type: string
                        addressLine2:
                          description: Address line 2.
                          type: string
                        addressLine3:
                          description: Address line 3.
                          type: string
                        city:
                          description: Address city.
                          type: string
                        companyName:
                          description: Company name. Optional for MCA Individual (Pay-as-you-go).
                          type: string
                        country:
                          description: Country code uses ISO 3166-1 Alpha-2 format.
                          minLength: 1
                          type: string
                        district:
                          description: Address district.
                          type: string
                        email:
                          description: Email address.
                          type: string
                        firstName:
                          description: First name. Optional for MCA Enterprise.
                          type: string
                        lastName:
                          description: Last name. Optional for MCA Enterprise.
                          type: string
                        middleName:
                          description: Middle name.
                          type: string
                        phoneNumber:
                          description: Phone number.
                          type: string
                        postalCode:
                          description: Postal code.
                          type: string
                        region:
                          description: Address region.
                          type: string
                        isValidAddress:
                          description: Indicates if the address is incomplete.
                          type: boolean
                      required:
                      - addressLine1
                      - country
                      description: Address details.
                    currency:
                      description: The currency in which the charges for the billing
                        profile are billed.
                      type: string
                      readOnly: true
                    displayName:
                      description: The name of the billing profile.
                      type: string
                    enabledAzurePlans:
                      description: Information about the enabled azure plans.
                      type: array
                      items:
                        description: Details of the Azure plan.
                        type: object
                        properties:
                          productId:
                            description: The ID that uniquely identifies a product.
                            type: string
                          skuId:
                            description: The ID that uniquely identifies a sku.
                            type: string
                          skuDescription:
                            description: The sku description.
                            type: string
                      x-ms-identifiers: []
                    hasReadAccess:
                      description: Indicates whether user has read access to the billing
                        profile.
                      type: boolean
                      readOnly: true
                    indirectRelationshipInfo:
                      type: object
                      properties:
                        billingAccountName:
                          description: The billing account name of the partner or
                            the customer for an indirect motion.
                          type: string
                        billingProfileName:
                          description: The billing profile name of the partner or
                            the customer for an indirect motion.
                          type: string
                        displayName:
                          description: The display name of the partner or customer
                            for an indirect motion.
                          type: string
                      description: Identifies the billing profile that is linked to
                        another billing profile in indirect purchase motion.
                    invoiceDay:
                      format: int32
                      description: The day of the month when the invoice for the billing
                        profile is generated.
                      type: integer
                      readOnly: true
                    invoiceEmailOptIn:
                      description: Flag controlling whether the invoices for the billing
                        profile are sent through email.
                      type: boolean
                    invoiceRecipients:
                      description: The list of email addresses to receive invoices
                        by email for the billing profile.
                      type: array
                      items:
                        type: string
                      x-ms-identifiers: []
                    poNumber:
                      description: The default purchase order number that will appear
                        on the invoices generated for the billing profile.
                      type: string
                    shipTo:
                      type: object
                      properties:
                        addressLine1:
                          description: Address line 1.
                          minLength: 1
                          type: string
                        addressLine2:
                          description: Address line 2.
                          type: string
                        addressLine3:
                          description: Address line 3.
                          type: string
                        city:
                          description: Address city.
                          type: string
                        companyName:
                          description: Company name. Optional for MCA Individual (Pay-as-you-go).
                          type: string
                        country:
                          description: Country code uses ISO 3166-1 Alpha-2 format.
                          minLength: 1
                          type: string
                        district:
                          description: Address district.
                          type: string
                        email:
                          description: Email address.
                          type: string
                        firstName:
                          description: First name. Optional for MCA Enterprise.
                          type: string
                        lastName:
                          description: Last name. Optional for MCA Enterprise.
                          type: string
                        middleName:
                          description: Middle name.
                          type: string
                        phoneNumber:
                          description: Phone number.
                          type: string
                        postalCode:
                          description: Postal code.
                          type: string
                        region:
                          description: Address region.
                          type: string
                        isValidAddress:
                          description: Indicates if the address is incomplete.
                          type: boolean
                      required:
                      - addressLine1
                      - country
                      description: Address details.
                    soldTo:
                      type: object
                      properties:
                        addressLine1:
                          description: Address line 1.
                          minLength: 1
                          type: string
                        addressLine2:
                          description: Address line 2.
                          type: string
                        addressLine3:
                          description: Address line 3.
                          type: string
                        city:
                          description: Address city.
                          type: string
                        companyName:
                          description: Company name. Optional for MCA Individual (Pay-as-you-go).
                          type: string
                        country:
                          description: Country code uses ISO 3166-1 Alpha-2 format.
                          minLength: 1
                          type: string
                        district:
                          description: Address district.
                          type: string
                        email:
                          description: Email address.
                          type: string
                        firstName:
                          description: First name. Optional for MCA Enterprise.
                          type: string
                        lastName:
                          description: Last name. Optional for MCA Enterprise.
                          type: string
                        middleName:
                          description: Middle name.
                          type: string
                        phoneNumber:
                          description: Phone number.
                          type: string
                        postalCode:
                          description: Postal code.
                          type: string
                        region:
                          description: Address region.
                          type: string
                        isValidAddress:
                          description: Indicates if the address is incomplete.
                          type: boolean
                      required:
                      - addressLine1
                      - country
                      description: Address details.
                    spendingLimit:
                      description: The billing profile spending limit.
                      enum:
                      - 'Off'
                      - 'On'
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: SpendingLimit
                        modelAsString: true
                    spendingLimitDetails:
                      description: The details of billing profile spending limit.
                      type: array
                      items:
                        description: The billing profile spending limit.
                        type: object
                        properties:
                          amount:
                            description: The initial amount for the billing profile.
                            type: number
                          currency:
                            description: The currency in which the charges for the
                              billing profile are billed.
                            type: string
                          startDate:
                            format: date-time
                            description: The date when this spending limit goes into
                              effect.
                            type: string
                          endDate:
                            format: date-time
                            description: The date when this spending limit is no longer
                              in effect.
                            type: string
                          type:
                            description: The type of spending limit.
                            enum:
                            - Other
                            - None
                            - FreeAccount
                            - Sandbox
                            - AzureForStudents
                            - AcademicSponsorship
                            - AzureConsumptionCredit
                            - AzurePassSponsorship
                            - MpnSponsorship
                            - MSDN
                            - NonProfitSponsorship
                            - Sponsorship
                            - StartupSponsorship
                            - AzureForStudentsStarter
                            - VisualStudio
                            type: string
                            x-ms-enum:
                              name: SpendingLimitType
                              modelAsString: true
                          status:
                            description: The status of current spending limit.
                            enum:
                            - Other
                            - None
                            - Active
                            - Expired
                            - LimitReached
                            - LimitRemoved
                            type: string
                            x-ms-enum:
                              name: SpendingLimitStatus
                              modelAsString: true
                      readOnly: true
                      x-ms-identifiers: []
                    status:
                      description: The status of the billing profile.
                      enum:
                      - Other
                      - Active
                      - Disabled
                      - Warned
                      - Deleted
                      - UnderReview
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingProfileStatus
                        modelAsString: true
                    statusReasonCode:
                      description: Reason for the specified billing profile status.
                      enum:
                      - Other
                      - PastDue
                      - UnusualActivity
                      - SpendingLimitReached
                      - SpendingLimitExpired
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: BillingProfileStatusReasonCode
                        modelAsString: true
                    systemId:
                      description: The system generated unique identifier for a billing
                        profile.
                      type: string
                      readOnly: true
                    tags:
                      description: Dictionary of metadata associated with the resource.
                        Maximum key/value length supported of 256 characters. Keys/value
                        should not empty value nor null. Keys can not contain < >
                        % & \ ? /
                      type: object
                      additionalProperties:
                        type: string
                    targetClouds:
                      description: Identifies the cloud environments that are associated
                        with a billing profile. This is a system managed optional
                        field and gets updated as the billing profile gets associated
                        with accounts in various clouds.
                      type: array
                      readOnly: true
                      items:
                        type: string
                    currentPaymentTerm:
                      type: object
                      properties:
                        term:
                          description: Represents duration in netXX format. Always
                            in days.
                          type: string
                        startDate:
                          format: date-time
                          description: The date on when the defined 'Payment Term'
                            will be effective from and is always in UTC.
                          type: string
                        endDate:
                          format: date-time
                          description: The date on when the defined 'Payment Term'
                            will end and is always in UTC.
                          type: string
                        isDefault:
                          description: Indicates payment term is the standard payment
                            term.
                          type: boolean
                          readOnly: true
                      description: The properties of payment term.
                    otherPaymentTerms:
                      description: The other payment terms of the billing profile.
                      type: array
                      items:
                        description: The properties of payment term.
                        type: object
                        properties:
                          term:
                            description: Represents duration in netXX format. Always
                              in days.
                            type: string
                          startDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will be effective from and is always in UTC.
                            type: string
                          endDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will end and is always in UTC.
                            type: string
                          isDefault:
                            description: Indicates payment term is the standard payment
                              term.
                            type: boolean
                            readOnly: true
                      readOnly: true
                      x-ms-identifiers: []
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: A billing profile.
        required: true
      responses:
        '200':
          description: A billing profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing profile.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingRelationshipType:
                        description: Identifies the billing relationship represented
                          by the billing profile. The billing relationship may be
                          between Microsoft, the customer, and/or a third-party.
                        enum:
                        - Other
                        - Direct
                        - IndirectCustomer
                        - IndirectPartner
                        - CSPPartner
                        - CSPCustomer
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingRelationshipType
                          modelAsString: true
                      billTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      currency:
                        description: The currency in which the charges for the billing
                          profile are billed.
                        type: string
                        readOnly: true
                      displayName:
                        description: The name of the billing profile.
                        type: string
                      enabledAzurePlans:
                        description: Information about the enabled azure plans.
                        type: array
                        items:
                          description: Details of the Azure plan.
                          type: object
                          properties:
                            productId:
                              description: The ID that uniquely identifies a product.
                              type: string
                            skuId:
                              description: The ID that uniquely identifies a sku.
                              type: string
                            skuDescription:
                              description: The sku description.
                              type: string
                        x-ms-identifiers: []
                      hasReadAccess:
                        description: Indicates whether user has read access to the
                          billing profile.
                        type: boolean
                        readOnly: true
                      indirectRelationshipInfo:
                        type: object
                        properties:
                          billingAccountName:
                            description: The billing account name of the partner or
                              the customer for an indirect motion.
                            type: string
                          billingProfileName:
                            description: The billing profile name of the partner or
                              the customer for an indirect motion.
                            type: string
                          displayName:
                            description: The display name of the partner or customer
                              for an indirect motion.
                            type: string
                        description: Identifies the billing profile that is linked
                          to another billing profile in indirect purchase motion.
                      invoiceDay:
                        format: int32
                        description: The day of the month when the invoice for the
                          billing profile is generated.
                        type: integer
                        readOnly: true
                      invoiceEmailOptIn:
                        description: Flag controlling whether the invoices for the
                          billing profile are sent through email.
                        type: boolean
                      invoiceRecipients:
                        description: The list of email addresses to receive invoices
                          by email for the billing profile.
                        type: array
                        items:
                          type: string
                        x-ms-identifiers: []
                      poNumber:
                        description: The default purchase order number that will appear
                          on the invoices generated for the billing profile.
                        type: string
                      shipTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      soldTo:
                        type: object
                        properties:
                          addressLine1:
                            description: Address line 1.
                            minLength: 1
                            type: string
                          addressLine2:
                            description: Address line 2.
                            type: string
                          addressLine3:
                            description: Address line 3.
                            type: string
                          city:
                            description: Address city.
                            type: string
                          companyName:
                            description: Company name. Optional for MCA Individual
                              (Pay-as-you-go).
                            type: string
                          country:
                            description: Country code uses ISO 3166-1 Alpha-2 format.
                            minLength: 1
                            type: string
                          district:
                            description: Address district.
                            type: string
                          email:
                            description: Email address.
                            type: string
                          firstName:
                            description: First name. Optional for MCA Enterprise.
                            type: string
                          lastName:
                            description: Last name. Optional for MCA Enterprise.
                            type: string
                          middleName:
                            description: Middle name.
                            type: string
                          phoneNumber:
                            description: Phone number.
                            type: string
                          postalCode:
                            description: Postal code.
                            type: string
                          region:
                            description: Address region.
                            type: string
                          isValidAddress:
                            description: Indicates if the address is incomplete.
                            type: boolean
                        required:
                        - addressLine1
                        - country
                        description: Address details.
                      spendingLimit:
                        description: The billing profile spending limit.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SpendingLimit
                          modelAsString: true
                      spendingLimitDetails:
                        description: The details of billing profile spending limit.
                        type: array
                        items:
                          description: The billing profile spending limit.
                          type: object
                          properties:
                            amount:
                              description: The initial amount for the billing profile.
                              type: number
                            currency:
                              description: The currency in which the charges for the
                                billing profile are billed.
                              type: string
                            startDate:
                              format: date-time
                              description: The date when this spending limit goes
                                into effect.
                              type: string
                            endDate:
                              format: date-time
                              description: The date when this spending limit is no
                                longer in effect.
                              type: string
                            type:
                              description: The type of spending limit.
                              enum:
                              - Other
                              - None
                              - FreeAccount
                              - Sandbox
                              - AzureForStudents
                              - AcademicSponsorship
                              - AzureConsumptionCredit
                              - AzurePassSponsorship
                              - MpnSponsorship
                              - MSDN
                              - NonProfitSponsorship
                              - Sponsorship
                              - StartupSponsorship
                              - AzureForStudentsStarter
                              - VisualStudio
                              type: string
                              x-ms-enum:
                                name: SpendingLimitType
                                modelAsString: true
                            status:
                              description: The status of current spending limit.
                              enum:
                              - Other
                              - None
                              - Active
                              - Expired
                              - LimitReached
                              - LimitRemoved
                              type: string
                              x-ms-enum:
                                name: SpendingLimitStatus
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      status:
                        description: The status of the billing profile.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Warned
                        - Deleted
                        - UnderReview
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatus
                          modelAsString: true
                      statusReasonCode:
                        description: Reason for the specified billing profile status.
                        enum:
                        - Other
                        - PastDue
                        - UnusualActivity
                        - SpendingLimitReached
                        - SpendingLimitExpired
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingProfileStatusReasonCode
                          modelAsString: true
                      systemId:
                        description: The system generated unique identifier for a
                          billing profile.
                        type: string
                        readOnly: true
                      tags:
                        description: Dictionary of metadata associated with the resource.
                          Maximum key/value length supported of 256 characters. Keys/value
                          should not empty value nor null. Keys can not contain <
                          > % & \ ? /
                        type: object
                        additionalProperties:
                          type: string
                      targetClouds:
                        description: Identifies the cloud environments that are associated
                          with a billing profile. This is a system managed optional
                          field and gets updated as the billing profile gets associated
                          with accounts in various clouds.
                        type: array
                        readOnly: true
                        items:
                          type: string
                      currentPaymentTerm:
                        type: object
                        properties:
                          term:
                            description: Represents duration in netXX format. Always
                              in days.
                            type: string
                          startDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will be effective from and is always in UTC.
                            type: string
                          endDate:
                            format: date-time
                            description: The date on when the defined 'Payment Term'
                              will end and is always in UTC.
                            type: string
                          isDefault:
                            description: Indicates payment term is the standard payment
                              term.
                            type: boolean
                            readOnly: true
                        description: The properties of payment term.
                      otherPaymentTerms:
                        description: The other payment terms of the billing profile.
                        type: array
                        items:
                          description: The properties of payment term.
                          type: object
                          properties:
                            term:
                              description: Represents duration in netXX format. Always
                                in days.
                              type: string
                            startDate:
                              format: date-time
                              description: The date on when the defined 'Payment Term'
                                will be effective from and is always in UTC.
                              type: string
                            endDate:
                              format: date-time
                              description: The date on when the defined 'Payment Term'
                                will end and is always in UTC.
                              type: string
                            isDefault:
                              description: Indicates payment term is the standard
                                payment term.
                              type: boolean
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: A billing profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A billing profile.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
[...]
