openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions/{billingSubscriptionName}
  : get:
      tags:
      - BillingSubscription
      description: Gets a subscription by its billing profile and ID. The operation
        is supported for billing accounts with agreement type Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingSubscriptions_GetByBillingProfile
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingProfileName
        in: path
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingSubscriptionName
        in: path
        description: The ID that uniquely identifies a subscription.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: expand
        description: Can be used to expand `Reseller`, `ConsumptionCostCenter`, `LastMonthCharges`
          and `MonthToDateCharges`
        schema:
          type: string
      responses:
        '200':
          description: A billing subscription.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: The properties of a(n) BillingSubscription
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      autoRenew:
                        description: Indicates whether auto renewal is turned on or
                          off for a product.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        x-ms-enum:
                          name: AutoRenew
                          modelAsString: true
                      beneficiaryTenantId:
                        description: The provisioning tenant of the subscription.
                        type: string
                      beneficiary:
                        description: The beneficiary of the billing subscription.
                        type: object
                        properties:
                          tenantId:
                            description: The ID that uniquely identifies a tenant.
                            type: string
                          objectId:
                            description: The ID that uniquely identifies a user in
                              a tenant.
                            type: string
                      billingFrequency:
                        description: 'The billing frequency in ISO8601 format of product
                          in the subscription. Example: P1M, P3M, P1Y'
                        type: string
                      billingProfileId:
                        description: The fully qualified ID that uniquely identifies
                          a billing profile.
                        type: string
                      billingPolicies:
                        type: object
                        description: Dictionary of billing policies associated with
                          the subscription.
                        additionalProperties:
                          type: string
                        maxItems: 50
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile.
                        type: string
                        readOnly: true
                      billingProfileName:
                        description: The ID that uniquely identifies a billing profile.
                        type: string
                        readOnly: true
                      consumptionCostCenter:
                        description: The cost center applied to the subscription.
                          This field is only available for consumption subscriptions
                          of Microsoft Customer Agreement or Enterprise Agreement
                          Type billing accounts.
                        type: string
                      customerId:
                        description: The fully qualified ID that uniquely identifies
                          a customer.
                        type: string
                      customerDisplayName:
                        description: The name of the customer.
                        type: string
                        readOnly: true
                      customerName:
                        description: The ID that uniquely identifies a customer.
                        type: string
                        readOnly: true
                      displayName:
                        description: The name of the billing subscription.
                        type: string
                      enrollmentAccountId:
                        description: The enrollment Account ID associated with the
                          subscription. This field is available only for the Enterprise
                          Agreement Type billing accounts.
                        type: string
                        readOnly: true
                      enrollmentAccountDisplayName:
                        description: The enrollment Account name associated with the
                          subscription. This field is available only for the Enterprise
                          Agreement Type billing accounts.
                        type: string
                        readOnly: true
                      enrollmentAccountSubscriptionDetails:
                        x-ms-client-flatten: true
                        description: Enrollment Account Subscription details. This
                          field is available only for the Enterprise Agreement Type
                          billing accounts.
                        type: object
                        properties:
                          enrollmentAccountStartDate:
                            format: date-time
                            description: The enrollment Account and the subscription
                              association start date. This field is available only
                              for the Enterprise Agreement Type.
                            type: string
                            readOnly: true
                          subscriptionEnrollmentAccountStatus:
                            description: The current enrollment account status of
                              the subscription. This field is available only for the
                              Enterprise Agreement Type.
                            enum:
                            - Active
                            - Cancelled
                            - Expired
                            - Deleted
                            - TransferredOut
                            - Transferring
                            - Inactive
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: SubscriptionEnrollmentAccountStatus
                              modelAsString: true
                        readOnly: true
                      invoiceSectionId:
                        description: The fully qualified ID that uniquely identifies
                          an invoice section.
                        type: string
                      invoiceSectionDisplayName:
                        description: The name of the invoice section.
                        type: string
                        readOnly: true
                      invoiceSectionName:
                        description: The ID that uniquely identifies an invoice section.
                        type: string
                        readOnly: true
                      lastMonthCharges:
                        description: The last month's charges. This field is only
                          available for usage based subscriptions of Microsoft Customer
                          Agreement billing accounts.
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                      monthToDateCharges:
                        description: The current month to date charges. This field
                          is only available for usage based subscriptions of Microsoft
                          Customer Agreement billing accounts.
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                      nextBillingCycleDetails:
                        description: Next billing cycle details of the subscription.
                        type: object
                        properties:
                          billingFrequency:
                            description: Billing frequency of the product under the
                              subscription.
                            type: string
                            readOnly: true
                        readOnly: true
                      offerId:
                        description: The offer ID for the subscription. This field
                          is only available for the Microsoft Online Services Program
                          billing accounts or billing accounts with agreement type
                          Enterprise Agreement.
                        type: string
                        readOnly: true
                      productCategory:
                        description: 'The category of the product for which the subscription
                          is purchased. Possible values include: AzureSupport, Hardware,
                          ReservationOrder, SaaS, SavingsPlanOrder, Software, UsageBased,
                          Other.'
                        type: string
                        readOnly: true
                      productType:
                        description: Type of the product for which the subscription
                          is purchased.
                        type: string
                        readOnly: true
                      productTypeId:
                        description: Id of the product for which the subscription
                          is purchased.
                        type: string
                      purchaseDate:
                        format: date-time
                        description: Purchase date of the product in UTC time.
                        type: string
                        readOnly: true
                      quantity:
                        format: int64
                        description: The quantity of licenses or fulfillment units
                          for the subscription.
                        type: integer
                      reseller:
                        description: Reseller for this subscription. The fields is
                          not available for Microsoft Partner Agreement billing accounts.
                        type: object
                        properties:
                          resellerId:
                            description: The MPN ID of the reseller.
                            type: string
                            readOnly: true
                          description:
                            description: The name of the reseller.
                            type: string
                            readOnly: true
                        readOnly: true
                      renewalTermDetails:
                        description: Details for the next renewal term of a subscription.
                        type: object
                        properties:
                          billingFrequency:
                            description: 'The billing frequency in ISO8601 format
                              of product in the subscription. Example: P1M, P3M, P1Y'
                            type: string
                            readOnly: true
                          productId:
                            description: Id of the product for which the subscription
                              is purchased.
                            type: string
                            readOnly: true
                          productTypeId:
                            description: Type Id of the product for which the subscription
                              is purchased.
                            type: string
                            readOnly: true
                          skuId:
                            description: The SKU ID of the product for which the subscription
                              is purchased. This field is is only available  for Microsoft
                              Customer Agreement billing accounts.
                            type: string
                            readOnly: true
                          termDuration:
                            description: 'The duration in ISO8601 format for which
                              you can use the subscription. Example: P1M, P3M, P1Y'
                            type: string
                            readOnly: true
                          quantity:
                            format: int64
                            description: The quantity of licenses or fulfillment units
                              for the subscription.
                            type: integer
                          termEndDate:
                            format: date-time
                            description: End date of the term in UTC time.
                            type: string
                            readOnly: true
                        readOnly: true
                      skuId:
                        description: The SKU ID of the product for which the subscription
                          is purchased. This field is is only available  for Microsoft
                          Customer Agreement billing accounts.
                        type: string
                      skuDescription:
                        description: The SKU description of the product for which
                          the subscription is purchased. This field is is only available
                          for billing accounts with agreement type Microsoft Customer
                          Agreement and Microsoft Partner Agreement.
                        type: string
                        readOnly: true
                      systemOverrides:
                        description: System imposed policies that regulate behavior
                          of the subscription.
                        type: object
                        properties:
                          cancellation:
                            description: The policy override for the subscription
                              indicates whether the self-serve cancellation or seat
                              reduction is allowed.
                            enum:
                            - NotAllowed
                            - Allowed
                            type: string
                            readOnly: true
                            x-ms-enum:
                              name: Cancellation
                              modelAsString: true
                          cancellationAllowedEndDate:
                            format: date-time
                            description: The end date in UTC time by when the self-serve
                              cancellation ends.
                            type: string
                            readOnly: true
                      resourceUri:
                        description: Unique identifier of the linked resource.
                        type: string
                        readOnly: true
                      termDuration:
                        description: 'The duration in ISO8601 format for which you
                          can use the subscription. Example: P1M, P3M, P1Y'
                        type: string
                      termStartDate:
                        format: date-time
                        description: Start date of the term in UTC time.
                        type: string
                        readOnly: true
                      termEndDate:
                        format: date-time
                        description: End date of the term in UTC time.
                        type: string
                        readOnly: true
                      provisioningTenantId:
                        description: The tenant in which the subscription is provisioned.
                        type: string
                      status:
                        description: The status of the subscription. This field is
                          not available for Enterprise Agreement billing accounts
                        enum:
                        - Other
                        - Unknown
                        - Active
                        - Disabled
                        - Deleted
                        - Warned
                        - Expiring
                        - Expired
                        - AutoRenew
                        - Cancelled
                        - Suspended
                        - Failed
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingSubscriptionStatus
                          modelAsString: true
                      operationStatus:
                        description: The status of an operation on the subscription.
                          When None, there is no ongoing operation. When LockedForUpdate,
                          write operations will be blocked on the Billing Subscription.
                          Other is the default value and you may need to refer to
                          the latest API version for more details.
                        enum:
                        - Other
                        - None
                        - LockedForUpdate
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: BillingSubscriptionOperationStatus
                          modelAsString: true
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      subscriptionId:
                        description: The ID of the subscription.
                        type: string
                        readOnly: true
                      suspensionReasons:
                        description: The suspension reason for a subscription. This
                          field is not available for Enterprise Agreement billing
                          accounts.
                        type: array
                        items:
                          type: string
                        readOnly: true
                        x-ms-identifiers: []
                      suspensionReasonDetails:
                        description: The suspension details for a subscription. This
                          field is not available for Enterprise Agreement billing
                          accounts.
                        type: array
                        items:
                          description: The suspension details for a subscription.
                            This field is not available for Enterprise Agreement billing
                            accounts.
                          type: object
                          properties:
                            effectiveDate:
                              format: date-time
                              description: The suspension effective date for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: string
                              readOnly: true
                            reason:
                              description: The suspension reason for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              enum:
                              - None
                              - Cancelled
                              - PastDue
                              - SuspiciousActivity
                              - Other
                              - Transferred
                              - PolicyViolation
                              - SpendingLimitReached
                              - Expired
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SubscriptionStatusReason
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions
  : get:
      tags:
      - BillingSubscription
      description: Lists the subscriptions that are billed to a billing profile. The
        operation is supported for billing accounts with agreement type Microsoft
        Customer Agreement or Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingSubscriptions_ListByBillingProfile
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingProfileName
        in: path
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: includeDeleted
        description: Can be used to get deleted billing subscriptions.
        schema:
          type: boolean
          default: false
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: expand
        description: Can be used to expand `Reseller`, `ConsumptionCostCenter`, `LastMonthCharges`
          and `MonthToDateCharges`
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing subscriptions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  totalCount:
                    description: Total number of records.
                    type: number
                    format: int32
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: The properties of a(n) BillingSubscription
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            autoRenew:
                              description: Indicates whether auto renewal is turned
                                on or off for a product.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              x-ms-enum:
                                name: AutoRenew
                                modelAsString: true
                            beneficiaryTenantId:
                              description: The provisioning tenant of the subscription.
                              type: string
                            beneficiary:
                              description: The beneficiary of the billing subscription.
                              type: object
                              properties:
                                tenantId:
                                  description: The ID that uniquely identifies a tenant.
                                  type: string
                                objectId:
                                  description: The ID that uniquely identifies a user
                                    in a tenant.
                                  type: string
                            billingFrequency:
                              description: 'The billing frequency in ISO8601 format
                                of product in the subscription. Example: P1M, P3M,
                                P1Y'
                              type: string
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            billingPolicies:
                              type: object
                              description: Dictionary of billing policies associated
                                with the subscription.
                              additionalProperties:
                                type: string
                              maxItems: 50
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            consumptionCostCenter:
                              description: The cost center applied to the subscription.
                                This field is only available for consumption subscriptions
                                of Microsoft Customer Agreement or Enterprise Agreement
                                Type billing accounts.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            displayName:
                              description: The name of the billing subscription.
                              type: string
                            enrollmentAccountId:
                              description: The enrollment Account ID associated with
                                the subscription. This field is available only for
                                the Enterprise Agreement Type billing accounts.
                              type: string
                              readOnly: true
                            enrollmentAccountDisplayName:
                              description: The enrollment Account name associated
                                with the subscription. This field is available only
                                for the Enterprise Agreement Type billing accounts.
                              type: string
                              readOnly: true
                            enrollmentAccountSubscriptionDetails:
                              x-ms-client-flatten: true
                              description: Enrollment Account Subscription details.
                                This field is available only for the Enterprise Agreement
                                Type billing accounts.
                              type: object
                              properties:
                                enrollmentAccountStartDate:
                                  format: date-time
                                  description: The enrollment Account and the subscription
                                    association start date. This field is available
                                    only for the Enterprise Agreement Type.
                                  type: string
                                  readOnly: true
                                subscriptionEnrollmentAccountStatus:
                                  description: The current enrollment account status
                                    of the subscription. This field is available only
                                    for the Enterprise Agreement Type.
                                  enum:
                                  - Active
                                  - Cancelled
                                  - Expired
                                  - Deleted
                                  - TransferredOut
                                  - Transferring
                                  - Inactive
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: SubscriptionEnrollmentAccountStatus
                                    modelAsString: true
                              readOnly: true
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            lastMonthCharges:
                              description: The last month's charges. This field is
                                only available for usage based subscriptions of Microsoft
                                Customer Agreement billing accounts.
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                            monthToDateCharges:
                              description: The current month to date charges. This
                                field is only available for usage based subscriptions
                                of Microsoft Customer Agreement billing accounts.
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                            nextBillingCycleDetails:
                              description: Next billing cycle details of the subscription.
                              type: object
                              properties:
                                billingFrequency:
                                  description: Billing frequency of the product under
                                    the subscription.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            offerId:
                              description: The offer ID for the subscription. This
                                field is only available for the Microsoft Online Services
                                Program billing accounts or billing accounts with
                                agreement type Enterprise Agreement.
                              type: string
                              readOnly: true
                            productCategory:
                              description: 'The category of the product for which
                                the subscription is purchased. Possible values include:
                                AzureSupport, Hardware, ReservationOrder, SaaS, SavingsPlanOrder,
                                Software, UsageBased, Other.'
                              type: string
                              readOnly: true
                            productType:
                              description: Type of the product for which the subscription
                                is purchased.
                              type: string
                              readOnly: true
                            productTypeId:
                              description: Id of the product for which the subscription
                                is purchased.
                              type: string
                            purchaseDate:
                              format: date-time
                              description: Purchase date of the product in UTC time.
                              type: string
                              readOnly: true
                            quantity:
                              format: int64
                              description: The quantity of licenses or fulfillment
                                units for the subscription.
                              type: integer
                            reseller:
                              description: Reseller for this subscription. The fields
                                is not available for Microsoft Partner Agreement billing
                                accounts.
                              type: object
                              properties:
                                resellerId:
                                  description: The MPN ID of the reseller.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The name of the reseller.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            renewalTermDetails:
                              description: Details for the next renewal term of a
                                subscription.
                              type: object
                              properties:
                                billingFrequency:
                                  description: 'The billing frequency in ISO8601 format
                                    of product in the subscription. Example: P1M,
                                    P3M, P1Y'
                                  type: string
                                  readOnly: true
                                productId:
                                  description: Id of the product for which the subscription
                                    is purchased.
                                  type: string
                                  readOnly: true
                                productTypeId:
                                  description: Type Id of the product for which the
                                    subscription is purchased.
                                  type: string
                                  readOnly: true
                                skuId:
                                  description: The SKU ID of the product for which
                                    the subscription is purchased. This field is is
                                    only available  for Microsoft Customer Agreement
                                    billing accounts.
                                  type: string
                                  readOnly: true
                                termDuration:
                                  description: 'The duration in ISO8601 format for
                                    which you can use the subscription. Example: P1M,
                                    P3M, P1Y'
                                  type: string
                                  readOnly: true
                                quantity:
                                  format: int64
                                  description: The quantity of licenses or fulfillment
                                    units for the subscription.
                                  type: integer
                                termEndDate:
                                  format: date-time
                                  description: End date of the term in UTC time.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            skuId:
                              description: The SKU ID of the product for which the
                                subscription is purchased. This field is is only available  for
                                Microsoft Customer Agreement billing accounts.
                              type: string
                            skuDescription:
                              description: The SKU description of the product for
                                which the subscription is purchased. This field is
                                is only available for billing accounts with agreement
                                type Microsoft Customer Agreement and Microsoft Partner
                                Agreement.
                              type: string
                              readOnly: true
                            systemOverrides:
                              description: System imposed policies that regulate behavior
                                of the subscription.
                              type: object
                              properties:
                                cancellation:
                                  description: The policy override for the subscription
                                    indicates whether the self-serve cancellation
                                    or seat reduction is allowed.
                                  enum:
                                  - NotAllowed
                                  - Allowed
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: Cancellation
                                    modelAsString: true
                                cancellationAllowedEndDate:
                                  format: date-time
                                  description: The end date in UTC time by when the
                                    self-serve cancellation ends.
                                  type: string
                                  readOnly: true
                            resourceUri:
                              description: Unique identifier of the linked resource.
                              type: string
                              readOnly: true
                            termDuration:
                              description: 'The duration in ISO8601 format for which
                                you can use the subscription. Example: P1M, P3M, P1Y'
                              type: string
                            termStartDate:
                              format: date-time
                              description: Start date of the term in UTC time.
                              type: string
                              readOnly: true
                            termEndDate:
                              format: date-time
                              description: End date of the term in UTC time.
                              type: string
                              readOnly: true
                            provisioningTenantId:
                              description: The tenant in which the subscription is
                                provisioned.
                              type: string
                            status:
                              description: The status of the subscription. This field
                                is not available for Enterprise Agreement billing
                                accounts
                              enum:
                              - Other
                              - Unknown
                              - Active
                              - Disabled
                              - Deleted
                              - Warned
                              - Expiring
                              - Expired
                              - AutoRenew
                              - Cancelled
                              - Suspended
                              - Failed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BillingSubscriptionStatus
                                modelAsString: true
                            operationStatus:
                              description: The status of an operation on the subscription.
                                When None, there is no ongoing operation. When LockedForUpdate,
                                write operations will be blocked on the Billing Subscription.
                                Other is the default value and you may need to refer
                                to the latest API version for more details.
                              enum:
                              - Other
                              - None
                              - LockedForUpdate
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BillingSubscriptionOperationStatus
                                modelAsString: true
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            subscriptionId:
                              description: The ID of the subscription.
                              type: string
                              readOnly: true
                            suspensionReasons:
                              description: The suspension reason for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: array
                              items:
                                type: string
                              readOnly: true
                              x-ms-identifiers: []
                            suspensionReasonDetails:
                              description: The suspension details for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: array
                              items:
                                description: The suspension details for a subscription.
                                  This field is not available for Enterprise Agreement
                                  billing accounts.
                                type: object
                                properties:
                                  effectiveDate:
                                    format: date-time
                                    description: The suspension effective date for
                                      a subscription. This field is not available
                                      for Enterprise Agreement billing accounts.
                                    type: string
                                    readOnly: true
                                  reason:
                                    description: The suspension reason for a subscription.
                                      This field is not available for Enterprise Agreement
                                      billing accounts.
                                    enum:
                                    - None
                                    - Cancelled
                                    - PastDue
                                    - SuspiciousActivity
                                    - Other
                                    - Transferred
                                    - PolicyViolation
                                    - SpendingLimitReached
                                    - Expired
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: SubscriptionStatusReason
                                      modelAsString: true
                              readOnly: true
                              x-ms-identifiers: []
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/billingSubscriptions
  : get:
      tags:
      - BillingSubscription
      description: Lists the subscriptions for a customer. The operation is supported
        only for billing accounts with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: BillingSubscriptions_ListByCustomer
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingProfileName
        in: path
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: customerName
        in: path
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: includeDeleted
        description: Can be used to get deleted billing subscriptions.
        schema:
          type: boolean
          default: false
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: expand
        description: Can be used to expand `Reseller`, `ConsumptionCostCenter`, `LastMonthCharges`
          and `MonthToDateCharges`
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of billing subscriptions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  totalCount:
                    description: Total number of records.
                    type: number
                    format: int32
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: The properties of a(n) BillingSubscription
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            autoRenew:
                              description: Indicates whether auto renewal is turned
                                on or off for a product.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              x-ms-enum:
                                name: AutoRenew
                                modelAsString: true
                            beneficiaryTenantId:
                              description: The provisioning tenant of the subscription.
                              type: string
                            beneficiary:
                              description: The beneficiary of the billing subscription.
                              type: object
                              properties:
                                tenantId:
                                  description: The ID that uniquely identifies a tenant.
                                  type: string
                                objectId:
                                  description: The ID that uniquely identifies a user
                                    in a tenant.
                                  type: string
                            billingFrequency:
                              description: 'The billing frequency in ISO8601 format
                                of product in the subscription. Example: P1M, P3M,
                                P1Y'
                              type: string
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            billingPolicies:
                              type: object
                              description: Dictionary of billing policies associated
                                with the subscription.
                              additionalProperties:
                                type: string
                              maxItems: 50
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                              type: string
                              readOnly: true
                            billingProfileName:
                              description: The ID that uniquely identifies a billing
                                profile.
                              type: string
                              readOnly: true
                            consumptionCostCenter:
                              description: The cost center applied to the subscription.
                                This field is only available for consumption subscriptions
                                of Microsoft Customer Agreement or Enterprise Agreement
                                Type billing accounts.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                              readOnly: true
                            customerName:
                              description: The ID that uniquely identifies a customer.
                              type: string
                              readOnly: true
                            displayName:
                              description: The name of the billing subscription.
                              type: string
                            enrollmentAccountId:
                              description: The enrollment Account ID associated with
                                the subscription. This field is available only for
                                the Enterprise Agreement Type billing accounts.
                              type: string
                              readOnly: true
                            enrollmentAccountDisplayName:
                              description: The enrollment Account name associated
                                with the subscription. This field is available only
                                for the Enterprise Agreement Type billing accounts.
                              type: string
                              readOnly: true
                            enrollmentAccountSubscriptionDetails:
                              x-ms-client-flatten: true
                              description: Enrollment Account Subscription details.
                                This field is available only for the Enterprise Agreement
                                Type billing accounts.
                              type: object
                              properties:
                                enrollmentAccountStartDate:
                                  format: date-time
                                  description: The enrollment Account and the subscription
                                    association start date. This field is available
                                    only for the Enterprise Agreement Type.
                                  type: string
                                  readOnly: true
                                subscriptionEnrollmentAccountStatus:
                                  description: The current enrollment account status
                                    of the subscription. This field is available only
                                    for the Enterprise Agreement Type.
                                  enum:
                                  - Active
                                  - Cancelled
                                  - Expired
                                  - Deleted
                                  - TransferredOut
                                  - Transferring
                                  - Inactive
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: SubscriptionEnrollmentAccountStatus
                                    modelAsString: true
                              readOnly: true
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                              readOnly: true
                            invoiceSectionName:
                              description: The ID that uniquely identifies an invoice
                                section.
                              type: string
                              readOnly: true
                            lastMonthCharges:
                              description: The last month's charges. This field is
                                only available for usage based subscriptions of Microsoft
                                Customer Agreement billing accounts.
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                            monthToDateCharges:
                              description: The current month to date charges. This
                                field is only available for usage based subscriptions
                                of Microsoft Customer Agreement billing accounts.
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                            nextBillingCycleDetails:
                              description: Next billing cycle details of the subscription.
                              type: object
                              properties:
                                billingFrequency:
                                  description: Billing frequency of the product under
                                    the subscription.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            offerId:
                              description: The offer ID for the subscription. This
                                field is only available for the Microsoft Online Services
                                Program billing accounts or billing accounts with
                                agreement type Enterprise Agreement.
                              type: string
                              readOnly: true
                            productCategory:
                              description: 'The category of the product for which
                                the subscription is purchased. Possible values include:
                                AzureSupport, Hardware, ReservationOrder, SaaS, SavingsPlanOrder,
                                Software, UsageBased, Other.'
                              type: string
                              readOnly: true
                            productType:
                              description: Type of the product for which the subscription
                                is purchased.
                              type: string
                              readOnly: true
                            productTypeId:
                              description: Id of the product for which the subscription
                                is purchased.
                              type: string
                            purchaseDate:
                              format: date-time
                              description: Purchase date of the product in UTC time.
                              type: string
                              readOnly: true
                            quantity:
                              format: int64
                              description: The quantity of licenses or fulfillment
                                units for the subscription.
                              type: integer
                            reseller:
                              description: Reseller for this subscription. The fields
                                is not available for Microsoft Partner Agreement billing
                                accounts.
                              type: object
                              properties:
                                resellerId:
                                  description: The MPN ID of the reseller.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The name of the reseller.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            renewalTermDetails:
                              description: Details for the next renewal term of a
                                subscription.
                              type: object
                              properties:
                                billingFrequency:
                                  description: 'The billing frequency in ISO8601 format
                                    of product in the subscription. Example: P1M,
                                    P3M, P1Y'
                                  type: string
                                  readOnly: true
                                productId:
                                  description: Id of the product for which the subscription
                                    is purchased.
                                  type: string
                                  readOnly: true
                                productTypeId:
                                  description: Type Id of the product for which the
                                    subscription is purchased.
                                  type: string
                                  readOnly: true
                                skuId:
                                  description: The SKU ID of the product for which
                                    the subscription is purchased. This field is is
                                    only available  for Microsoft Customer Agreement
                                    billing accounts.
                                  type: string
                                  readOnly: true
                                termDuration:
                                  description: 'The duration in ISO8601 format for
                                    which you can use the subscription. Example: P1M,
                                    P3M, P1Y'
                                  type: string
                                  readOnly: true
                                quantity:
                                  format: int64
                                  description: The quantity of licenses or fulfillment
                                    units for the subscription.
                                  type: integer
                                termEndDate:
                                  format: date-time
                                  description: End date of the term in UTC time.
                                  type: string
                                  readOnly: true
                              readOnly: true
                            skuId:
                              description: The SKU ID of the product for which the
                                subscription is purchased. This field is is only available  for
                                Microsoft Customer Agreement billing accounts.
                              type: string
                            skuDescription:
                              description: The SKU description of the product for
                                which the subscription is purchased. This field is
                                is only available for billing accounts with agreement
                                type Microsoft Customer Agreement and Microsoft Partner
                                Agreement.
                              type: string
                              readOnly: true
                            systemOverrides:
                              description: System imposed policies that regulate behavior
                                of the subscription.
                              type: object
                              properties:
                                cancellation:
                                  description: The policy override for the subscription
                                    indicates whether the self-serve cancellation
                                    or seat reduction is allowed.
                                  enum:
                                  - NotAllowed
                                  - Allowed
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: Cancellation
                                    modelAsString: true
                                cancellationAllowedEndDate:
                                  format: date-time
                                  description: The end date in UTC time by when the
                                    self-serve cancellation ends.
                                  type: string
                                  readOnly: true
                            resourceUri:
                              description: Unique identifier of the linked resource.
                              type: string
                              readOnly: true
                            termDuration:
                              description: 'The duration in ISO8601 format for which
                                you can use the subscription. Example: P1M, P3M, P1Y'
                              type: string
                            termStartDate:
                              format: date-time
                              description: Start date of the term in UTC time.
                              type: string
                              readOnly: true
                            termEndDate:
                              format: date-time
                              description: End date of the term in UTC time.
                              type: string
                              readOnly: true
                            provisioningTenantId:
                              description: The tenant in which the subscription is
                                provisioned.
                              type: string
                            status:
                              description: The status of the subscription. This field
                                is not available for Enterprise Agreement billing
                                accounts
                              enum:
                              - Other
                              - Unknown
                              - Active
                              - Disabled
                              - Deleted
                              - Warned
                              - Expiring
                              - Expired
                              - AutoRenew
                              - Cancelled
                              - Suspended
                              - Failed
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BillingSubscriptionStatus
                                modelAsString: true
                            operationStatus:
                              description: The status of an operation on the subscription.
                                When None, there is no ongoing operation. When LockedForUpdate,
                                write operations will be blocked on the Billing Subscription.
                                Other is the default value and you may need to refer
                                to the latest API version for more details.
                              enum:
                              - Other
                              - None
                              - LockedForUpdate
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: BillingSubscriptionOperationStatus
                                modelAsString: true
                            provisioningState:
                              description: The provisioning state of the resource
                                during a long-running operation.
                              enum:
                              - Succeeded
                              - Canceled
                              - Failed
                              - New
                              - Pending
                              - Provisioning
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            subscriptionId:
                              description: The ID of the subscription.
                              type: string
                              readOnly: true
                            suspensionReasons:
                              description: The suspension reason for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: array
                              items:
                                type: string
                              readOnly: true
                              x-ms-identifiers: []
                            suspensionReasonDetails:
                              description: The suspension details for a subscription.
                                This field is not available for Enterprise Agreement
                                billing accounts.
                              type: array
                              items:
                                description: The suspension details for a subscription.
[...]
