openapi: 3.0.0
info:
  version: 2024-04-01
  title: BillingManagementClient
  description: Billing client provides access to billing resources for Azure subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}:
    get:
      description: Get a savings plan order by billing account.
      operationId: SavingsPlanOrders_GetByBillingAccount
      tags:
      - Savings plan order
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - name: savingsPlanOrderId
        description: Order ID of the savings plan
        in: path
        x-ms-parameter-location: method
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: expand
        description: May be used to expand the planInformation.
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Savings plan SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  properties:
                    description: Savings plan order properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Display name
                      provisioningState:
                        description: The provisioning state of the savings plan, e.g.
                          Succeeded
                        readOnly: true
                        type: string
                      billingScopeId:
                        type: string
                        description: Subscription that will be charged for purchasing
                          SavingsPlan
                      billingProfileId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the billing profile
                          where the savings plan is applied. Present only for Field-led
                          or Customer-led customers.
                      customerId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the customer where
                          the savings plan is applied. Present only for Partner-led
                          customers.
                      billingAccountId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the billing account
                          where the savings plan is applied.
                      term:
                        type: string
                        description: Represents the Savings plan term in ISO 8601
                          format.
                        enum:
                        - P1Y
                        - P3Y
                        - P5Y
                        x-ms-enum:
                          name: SavingsPlanTerm
                          modelAsString: true
                      billingPlan:
                        type: string
                        description: Represents the billing plan in ISO 8601 format.
                          Required only for monthly purchases.
                        enum:
                        - P1M
                        x-ms-enum:
                          name: BillingPlan
                          modelAsString: true
                      benefitStartTime:
                        type: string
                        format: date-time
                        description: DateTime when the savings plan benefit started.
                        readOnly: true
                      expiryDateTime:
                        type: string
                        format: date-time
                        description: DateTime when the savings plan will expire.
                        readOnly: true
                      planInformation:
                        type: object
                        description: Information describing the type of billing plan
                          for this savings plan.
                        properties:
                          pricingCurrencyTotal:
                            description: Amount of money to be paid for the Order.
                              Tax is not included.
                            type: object
                            properties:
                              currencyCode:
                                type: string
                                description: The ISO 4217 3-letter currency code for
                                  the currency used by this purchase record.
                              amount:
                                type: number
                                format: double
                          startDate:
                            type: string
                            format: date
                            description: Date when the billing plan has started.
                          nextPaymentDueDate:
                            type: string
                            format: date
                            description: For recurring billing plans, indicates the
                              date when next payment will be processed. Null when
                              total is paid off.
                          transactions:
                            type: array
                            items:
                              type: object
                              description: Information about payment related to a
                                savings plan order.
                              properties:
                                dueDate:
                                  type: string
                                  format: date
                                  description: Date when the payment needs to be done.
                                paymentDate:
                                  type: string
                                  format: date
                                  description: Date when the transaction is completed.
                                    Null when it is scheduled.
                                pricingCurrencyTotal:
                                  description: Amount in pricing currency. Tax not
                                    included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                billingCurrencyTotal:
                                  description: Amount charged in Billing currency.
                                    Tax not included. Is null for future payments
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                status:
                                  type: string
                                  description: Describes whether the payment is completed,
                                    failed, pending, cancelled or scheduled in the
                                    future.
                                  enum:
                                  - Succeeded
                                  - Failed
                                  - Scheduled
                                  - Cancelled
                                  - Completed
                                  - Pending
                                  x-ms-enum:
                                    name: PaymentStatus
                                    modelAsString: true
                                extendedStatusInfo:
                                  type: object
                                  readOnly: true
                                  description: Extended status information
                                  properties:
                                    statusCode:
                                      type: string
                                      description: Status code providing additional
                                        information.
                                    message:
                                      type: string
                                      description: The message giving detailed information
                                        about the status code.
                                    properties:
                                      type: object
                                      description: Properties specific to credit line
                                        check failure
                                      x-ms-client-flatten: true
                                      properties:
                                        subscriptionId:
                                          type: string
                                          description: The subscription that has failed
                                            credit line check.
                            x-ms-identifiers: []
                      savingsPlans:
                        type: array
                        items:
                          type: string
                          description: Identifier of the savings plan
                          readOnly: true
                      extendedStatusInfo:
                        type: object
                        readOnly: true
                        description: Extended status information
                        properties:
                          statusCode:
                            type: string
                            description: Status code providing additional information.
                          message:
                            type: string
                            description: The message giving detailed information about
                              the status code.
                          properties:
                            type: object
                            description: Properties specific to credit line check
                              failure
                            x-ms-client-flatten: true
                            properties:
                              subscriptionId:
                                type: string
                                description: The subscription that has failed credit
                                  line check.
                      productCode:
                        type: string
                        description: Represents UPN
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders:
    get:
      description: List all Savings plan orders by billing account.
      operationId: SavingsPlanOrders_ListByBillingAccount
      tags:
      - Savings plan order
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: skiptoken
        description: The number of savings plans to skip from the list before returning
          results
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                description: List of savings plan orders
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: Savings plan SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        properties:
                          description: Savings plan order properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Display name
                            provisioningState:
                              description: The provisioning state of the savings plan,
                                e.g. Succeeded
                              readOnly: true
                              type: string
                            billingScopeId:
                              type: string
                              description: Subscription that will be charged for purchasing
                                SavingsPlan
                            billingProfileId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                profile where the savings plan is applied. Present
                                only for Field-led or Customer-led customers.
                            customerId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the customer
                                where the savings plan is applied. Present only for
                                Partner-led customers.
                            billingAccountId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                account where the savings plan is applied.
                            term:
                              type: string
                              description: Represents the Savings plan term in ISO
                                8601 format.
                              enum:
                              - P1Y
                              - P3Y
                              - P5Y
                              x-ms-enum:
                                name: SavingsPlanTerm
                                modelAsString: true
                            billingPlan:
                              type: string
                              description: Represents the billing plan in ISO 8601
                                format. Required only for monthly purchases.
                              enum:
                              - P1M
                              x-ms-enum:
                                name: BillingPlan
                                modelAsString: true
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: DateTime when the savings plan benefit
                                started.
                              readOnly: true
                            expiryDateTime:
                              type: string
                              format: date-time
                              description: DateTime when the savings plan will expire.
                              readOnly: true
                            planInformation:
                              type: object
                              description: Information describing the type of billing
                                plan for this savings plan.
                              properties:
                                pricingCurrencyTotal:
                                  description: Amount of money to be paid for the
                                    Order. Tax is not included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                startDate:
                                  type: string
                                  format: date
                                  description: Date when the billing plan has started.
                                nextPaymentDueDate:
                                  type: string
                                  format: date
                                  description: For recurring billing plans, indicates
                                    the date when next payment will be processed.
                                    Null when total is paid off.
                                transactions:
                                  type: array
                                  items:
                                    type: object
                                    description: Information about payment related
                                      to a savings plan order.
                                    properties:
                                      dueDate:
                                        type: string
                                        format: date
                                        description: Date when the payment needs to
                                          be done.
                                      paymentDate:
                                        type: string
                                        format: date
                                        description: Date when the transaction is
                                          completed. Null when it is scheduled.
                                      pricingCurrencyTotal:
                                        description: Amount in pricing currency. Tax
                                          not included.
                                        type: object
                                        properties:
                                          currencyCode:
                                            type: string
                                            description: The ISO 4217 3-letter currency
                                              code for the currency used by this purchase
                                              record.
                                          amount:
                                            type: number
                                            format: double
                                      billingCurrencyTotal:
                                        description: Amount charged in Billing currency.
                                          Tax not included. Is null for future payments
                                        type: object
                                        properties:
                                          currencyCode:
                                            type: string
                                            description: The ISO 4217 3-letter currency
                                              code for the currency used by this purchase
                                              record.
                                          amount:
                                            type: number
                                            format: double
                                      status:
                                        type: string
                                        description: Describes whether the payment
                                          is completed, failed, pending, cancelled
                                          or scheduled in the future.
                                        enum:
                                        - Succeeded
                                        - Failed
                                        - Scheduled
                                        - Cancelled
                                        - Completed
                                        - Pending
                                        x-ms-enum:
                                          name: PaymentStatus
                                          modelAsString: true
                                      extendedStatusInfo:
                                        type: object
                                        readOnly: true
                                        description: Extended status information
                                        properties:
                                          statusCode:
                                            type: string
                                            description: Status code providing additional
                                              information.
                                          message:
                                            type: string
                                            description: The message giving detailed
                                              information about the status code.
                                          properties:
                                            type: object
                                            description: Properties specific to credit
                                              line check failure
                                            x-ms-client-flatten: true
                                            properties:
                                              subscriptionId:
                                                type: string
                                                description: The subscription that
                                                  has failed credit line check.
                                  x-ms-identifiers: []
                            savingsPlans:
                              type: array
                              items:
                                type: string
                                description: Identifier of the savings plan
                                readOnly: true
                            extendedStatusInfo:
                              type: object
                              readOnly: true
                              description: Extended status information
                              properties:
                                statusCode:
                                  type: string
                                  description: Status code providing additional information.
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                                properties:
                                  type: object
                                  description: Properties specific to credit line
                                    check failure
                                  x-ms-client-flatten: true
                                  properties:
                                    subscriptionId:
                                      type: string
                                      description: The subscription that has failed
                                        credit line check.
                            productCode:
                              type: string
                              description: Represents UPN
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - sku
                  nextLink:
                    type: string
                    description: Url to get the next page.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans:
    get:
      description: List savings plans in an order by billing account.
      operationId: SavingsPlans_ListBySavingsPlanOrder
      tags:
      - Savings plan
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - name: savingsPlanOrderId
        description: Order ID of the savings plan
        in: path
        x-ms-parameter-location: method
        required: true
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                description: List of savings plans
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: Savings plan SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        properties:
                          description: Savings plan properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Display name
                            provisioningState:
                              type: string
                              description: Provisioning state
                              readOnly: true
                              enum:
                              - PendingBilling
                              - ConfirmedBilling
                              - Creating
                              - Failed
                              - Created
                              - Succeeded
                              - Canceled
                              - Expired
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            displayProvisioningState:
                              description: The provisioning state of the savings plan
                                for display, e.g. Succeeded
                              type: string
                              readOnly: true
                            userFriendlyAppliedScopeType:
                              description: The applied scope type of the savings plan
                                for display, e.g. Shared
                              type: string
                              readOnly: true
                            billingScopeId:
                              type: string
                              description: Subscription that will be charged for purchasing
                                SavingsPlan
                            billingProfileId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                profile where the savings plan is applied. Present
                                only for Field-led or Customer-led customers.
                            customerId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the customer
                                where the savings plan is applied. Present only for
                                Partner-led customers.
                            billingAccountId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                account where the savings plan is applied.
                            term:
                              type: string
                              description: Represents the Savings plan term in ISO
                                8601 format.
                              enum:
                              - P1Y
                              - P3Y
                              - P5Y
                              x-ms-enum:
                                name: SavingsPlanTerm
                                modelAsString: true
                            renew:
                              type: boolean
                              default: false
                              description: Setting this to true will automatically
                                purchase a new benefit on the expiration date time.
                            renewSource:
                              type: string
                              description: SavingsPlan Id of the SavingsPlan from
                                which this SavingsPlan is renewed.
                            renewDestination:
                              type: string
                              description: SavingsPlan Id of the SavingsPlan which
                                is purchased because of renew.
                            renewProperties:
                              type: object
                              description: Properties specific to renew.
                              properties:
                                purchaseProperties:
                                  type: object
                                  description: Purchase request.
                                  properties:
                                    sku:
                                      type: object
                                      description: The SKU to be applied for this
                                        resource
                                      properties:
                                        name:
                                          type: string
                                          description: Name of the SKU to be applied
                                    properties:
                                      x-ms-client-flatten: true
                                      type: object
                                      description: Purchase request properties.
                                      properties:
                                        displayName:
                                          type: string
                                          description: Friendly name of the savings
                                            plan
                                        billingScopeId:
                                          type: string
                                          description: Subscription that will be charged
                                            for purchasing SavingsPlan
                                        term:
                                          type: string
                                          description: Represents the Savings plan
                                            term in ISO 8601 format.
                                          enum:
                                          - P1Y
                                          - P3Y
                                          - P5Y
                                          x-ms-enum:
                                            name: SavingsPlanTerm
                                            modelAsString: true
                                        billingPlan:
                                          type: string
                                          description: Represents the billing plan
                                            in ISO 8601 format. Required only for
                                            monthly purchases.
                                          enum:
                                          - P1M
                                          x-ms-enum:
                                            name: BillingPlan
                                            modelAsString: true
                                        appliedScopeType:
                                          type: string
                                          description: Type of the Applied Scope.
                                          enum:
                                          - Single
                                          - Shared
                                          - ManagementGroup
                                          x-ms-enum:
                                            name: AppliedScopeType
                                            modelAsString: true
                                        commitment:
                                          type: object
                                          properties:
                                            currencyCode:
                                              type: string
                                              description: The ISO 4217 3-letter currency
                                                code for the currency used by this
                                                purchase record.
                                            amount:
                                              type: number
                                              format: double
                                            grain:
                                              type: string
                                              description: Commitment grain.
                                              enum:
                                              - Hourly
                                              x-ms-enum:
                                                name: CommitmentGrain
                                                modelAsString: true
                                          description: The price.
                                        renew:
                                          type: boolean
                                          default: false
                                          description: Setting this to true will automatically
                                            purchase a new benefit on the expiration
                                            date time.
                                        appliedScopeProperties:
                                          type: object
                                          description: Properties specific to applied
                                            scope type. Not required if not applicable.
                                          properties:
                                            tenantId:
                                              type: string
                                              description: Tenant ID where the savings
                                                plan where the benefit is applied.
                                            managementGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the management group where the
                                                benefit is applied.
                                            subscriptionId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the subscription where the benefit
                                                is applied.
                                            resourceGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the resource group where the benefit
                                                is applied.
                                            displayName:
                                              type: string
                                              description: Display name
                            billingPlan:
                              type: string
                              description: Represents the billing plan in ISO 8601
                                format. Required only for monthly purchases.
                              enum:
                              - P1M
                              x-ms-enum:
                                name: BillingPlan
                                modelAsString: true
                            appliedScopeType:
                              type: string
                              description: Type of the Applied Scope.
                              enum:
                              - Single
                              - Shared
                              - ManagementGroup
                              x-ms-enum:
                                name: AppliedScopeType
                                modelAsString: true
                            appliedScopeProperties:
                              type: object
                              description: Properties specific to applied scope type.
                                Not required if not applicable.
                              properties:
                                tenantId:
                                  type: string
                                  description: Tenant ID where the savings plan where
                                    the benefit is applied.
                                managementGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the management
                                    group where the benefit is applied.
                                subscriptionId:
                                  type: string
                                  description: Fully-qualified identifier of the subscription
                                    where the benefit is applied.
                                resourceGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the resource
                                    group where the benefit is applied.
                                displayName:
                                  type: string
                                  description: Display name
                            commitment:
                              type: object
                              properties:
                                currencyCode:
                                  type: string
                                  description: The ISO 4217 3-letter currency code
                                    for the currency used by this purchase record.
                                amount:
                                  type: number
                                  format: double
                                grain:
                                  type: string
                                  description: Commitment grain.
                                  enum:
                                  - Hourly
                                  x-ms-enum:
                                    name: CommitmentGrain
                                    modelAsString: true
                              description: The price.
                            effectiveDateTime:
                              type: string
                              format: date-time
                              description: DateTime of the savings plan starting when
                                this version is effective from.
                              readOnly: true
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: This is the DateTime when the savings plan
                                benefit starts.
                              readOnly: true
                            expiryDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the savings
                                plan will expire.
                              readOnly: true
                            purchaseDateTime:
                              type: string
                              format: date-time
                              description: Date time when the savings plan was purchased.
                              readOnly: true
                            utilization:
                              readOnly: true
                              type: object
                              description: Savings plan utilization
                              properties:
                                trend:
                                  description: The trend for a savings plan's utilization
                                  readOnly: true
                                  type: string
                                aggregates:
                                  description: The array of aggregates of a savings
                                    plan's utilization
                                  type: array
                                  items:
                                    description: The aggregate values of savings plan
                                      utilization
                                    type: object
                                    properties:
                                      grain:
                                        description: The grain of the aggregate
                                        readOnly: true
                                        type: number
                                      grainUnit:
                                        description: The grain unit of the aggregate
                                        readOnly: true
                                        type: string
                                      value:
                                        description: The aggregate value
                                        readOnly: true
                                        type: number
                                      valueUnit:
                                        description: The aggregate value unit
                                        readOnly: true
                                        type: string
                                  x-ms-identifiers: []
                            extendedStatusInfo:
                              type: object
                              readOnly: true
                              description: Extended status information
                              properties:
                                statusCode:
                                  type: string
                                  description: Status code providing additional information.
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                                properties:
                                  type: object
                                  description: Properties specific to credit line
                                    check failure
                                  x-ms-client-flatten: true
                                  properties:
                                    subscriptionId:
                                      type: string
                                      description: The subscription that has failed
                                        credit line check.
                            productCode:
                              type: string
                              description: Represents UPN
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - sku
                  nextLink:
                    type: string
                    description: Url to get the next page.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlans:
    get:
      description: List savings plans by billing account.
      operationId: SavingsPlans_ListByBillingAccount
      tags:
      - Savings plan
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: skiptoken
        description: The number of savings plans to skip from the list before returning
          results
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      - name: take
        description: The number of savings plans to return
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      - name: selectedState
        description: The selected provisioning state
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      - name: refreshSummary
        description: To indicate whether to refresh the roll up counts of the savings
          plans group by provisioning states
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: Savings plan SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        properties:
                          description: Savings plan properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Display name
                            provisioningState:
                              type: string
                              description: Provisioning state
                              readOnly: true
                              enum:
                              - PendingBilling
                              - ConfirmedBilling
                              - Creating
                              - Failed
                              - Created
                              - Succeeded
                              - Canceled
                              - Expired
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            displayProvisioningState:
                              description: The provisioning state of the savings plan
                                for display, e.g. Succeeded
                              type: string
                              readOnly: true
                            userFriendlyAppliedScopeType:
                              description: The applied scope type of the savings plan
                                for display, e.g. Shared
                              type: string
                              readOnly: true
                            billingScopeId:
                              type: string
                              description: Subscription that will be charged for purchasing
                                SavingsPlan
                            billingProfileId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                profile where the savings plan is applied. Present
                                only for Field-led or Customer-led customers.
                            customerId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the customer
                                where the savings plan is applied. Present only for
                                Partner-led customers.
                            billingAccountId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                account where the savings plan is applied.
                            term:
                              type: string
                              description: Represents the Savings plan term in ISO
                                8601 format.
                              enum:
                              - P1Y
                              - P3Y
                              - P5Y
                              x-ms-enum:
                                name: SavingsPlanTerm
                                modelAsString: true
                            renew:
                              type: boolean
                              default: false
                              description: Setting this to true will automatically
                                purchase a new benefit on the expiration date time.
                            renewSource:
                              type: string
                              description: SavingsPlan Id of the SavingsPlan from
                                which this SavingsPlan is renewed.
                            renewDestination:
                              type: string
                              description: SavingsPlan Id of the SavingsPlan which
                                is purchased because of renew.
                            renewProperties:
                              type: object
                              description: Properties specific to renew.
                              properties:
                                purchaseProperties:
                                  type: object
                                  description: Purchase request.
                                  properties:
                                    sku:
                                      type: object
                                      description: The SKU to be applied for this
                                        resource
                                      properties:
                                        name:
                                          type: string
                                          description: Name of the SKU to be applied
                                    properties:
                                      x-ms-client-flatten: true
                                      type: object
                                      description: Purchase request properties.
                                      properties:
                                        displayName:
                                          type: string
                                          description: Friendly name of the savings
                                            plan
                                        billingScopeId:
                                          type: string
                                          description: Subscription that will be charged
                                            for purchasing SavingsPlan
                                        term:
                                          type: string
                                          description: Represents the Savings plan
                                            term in ISO 8601 format.
                                          enum:
                                          - P1Y
                                          - P3Y
                                          - P5Y
                                          x-ms-enum:
                                            name: SavingsPlanTerm
                                            modelAsString: true
                                        billingPlan:
                                          type: string
                                          description: Represents the billing plan
                                            in ISO 8601 format. Required only for
                                            monthly purchases.
                                          enum:
                                          - P1M
                                          x-ms-enum:
                                            name: BillingPlan
                                            modelAsString: true
                                        appliedScopeType:
                                          type: string
                                          description: Type of the Applied Scope.
                                          enum:
                                          - Single
                                          - Shared
                                          - ManagementGroup
                                          x-ms-enum:
                                            name: AppliedScopeType
                                            modelAsString: true
                                        commitment:
                                          type: object
                                          properties:
                                            currencyCode:
                                              type: string
                                              description: The ISO 4217 3-letter currency
                                                code for the currency used by this
                                                purchase record.
                                            amount:
                                              type: number
                                              format: double
                                            grain:
                                              type: string
                                              description: Commitment grain.
                                              enum:
                                              - Hourly
                                              x-ms-enum:
                                                name: CommitmentGrain
                                                modelAsString: true
                                          description: The price.
                                        renew:
                                          type: boolean
                                          default: false
                                          description: Setting this to true will automatically
                                            purchase a new benefit on the expiration
                                            date time.
                                        appliedScopeProperties:
                                          type: object
                                          description: Properties specific to applied
                                            scope type. Not required if not applicable.
                                          properties:
                                            tenantId:
                                              type: string
                                              description: Tenant ID where the savings
                                                plan where the benefit is applied.
                                            managementGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the management group where the
                                                benefit is applied.
                                            subscriptionId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the subscription where the benefit
                                                is applied.
                                            resourceGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the resource group where the benefit
                                                is applied.
                                            displayName:
                                              type: string
                                              description: Display name
                            billingPlan:
                              type: string
                              description: Represents the billing plan in ISO 8601
                                format. Required only for monthly purchases.
                              enum:
                              - P1M
                              x-ms-enum:
                                name: BillingPlan
                                modelAsString: true
                            appliedScopeType:
                              type: string
                              description: Type of the Applied Scope.
                              enum:
                              - Single
                              - Shared
                              - ManagementGroup
                              x-ms-enum:
                                name: AppliedScopeType
                                modelAsString: true
                            appliedScopeProperties:
                              type: object
                              description: Properties specific to applied scope type.
                                Not required if not applicable.
                              properties:
                                tenantId:
                                  type: string
                                  description: Tenant ID where the savings plan where
                                    the benefit is applied.
                                managementGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the management
                                    group where the benefit is applied.
                                subscriptionId:
                                  type: string
                                  description: Fully-qualified identifier of the subscription
                                    where the benefit is applied.
                                resourceGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the resource
                                    group where the benefit is applied.
                                displayName:
                                  type: string
                                  description: Display name
                            commitment:
                              type: object
                              properties:
                                currencyCode:
                                  type: string
                                  description: The ISO 4217 3-letter currency code
                                    for the currency used by this purchase record.
                                amount:
                                  type: number
                                  format: double
                                grain:
                                  type: string
                                  description: Commitment grain.
                                  enum:
                                  - Hourly
                                  x-ms-enum:
                                    name: CommitmentGrain
                                    modelAsString: true
                              description: The price.
                            effectiveDateTime:
                              type: string
                              format: date-time
                              description: DateTime of the savings plan starting when
                                this version is effective from.
                              readOnly: true
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: This is the DateTime when the savings plan
                                benefit starts.
                              readOnly: true
                            expiryDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the savings
                                plan will expire.
                              readOnly: true
                            purchaseDateTime:
                              type: string
                              format: date-time
                              description: Date time when the savings plan was purchased.
                              readOnly: true
                            utilization:
                              readOnly: true
                              type: object
                              description: Savings plan utilization
                              properties:
                                trend:
                                  description: The trend for a savings plan's utilization
                                  readOnly: true
                                  type: string
                                aggregates:
                                  description: The array of aggregates of a savings
                                    plan's utilization
                                  type: array
                                  items:
                                    description: The aggregate values of savings plan
                                      utilization
                                    type: object
                                    properties:
                                      grain:
                                        description: The grain of the aggregate
                                        readOnly: true
                                        type: number
                                      grainUnit:
                                        description: The grain unit of the aggregate
                                        readOnly: true
                                        type: string
                                      value:
                                        description: The aggregate value
                                        readOnly: true
                                        type: number
                                      valueUnit:
                                        description: The aggregate value unit
                                        readOnly: true
                                        type: string
                                  x-ms-identifiers: []
                            extendedStatusInfo:
                              type: object
                              readOnly: true
                              description: Extended status information
                              properties:
                                statusCode:
                                  type: string
                                  description: Status code providing additional information.
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                                properties:
                                  type: object
                                  description: Properties specific to credit line
                                    check failure
                                  x-ms-client-flatten: true
                                  properties:
                                    subscriptionId:
                                      type: string
                                      description: The subscription that has failed
                                        credit line check.
                            productCode:
                              type: string
                              description: Represents UPN
                      title: Resource
[...]
