openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}/enrollmentAccounts/{enrollmentAccountName}
  : get:
      tags:
      - EnrollmentAccount
      description: Gets an enrollment account by department. The operation is supported
        only for billing accounts with agreement type Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: EnrollmentAccounts_GetByDepartment
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: departmentName
        description: The name of the department.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: enrollmentAccountName
        description: The name of the enrollment account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: It is an organizational hierarchy within a billing
                      account to administer and manage azure costs.
                    type: object
                    properties:
                      costCenter:
                        description: The cost center associated with the enrollment
                          account.
                        type: string
                      displayName:
                        description: The name of the enrollment account.
                        type: string
                      departmentDisplayName:
                        description: The name of the department under which the enrollment
                          account exists.
                        type: string
                        readOnly: true
                      departmentId:
                        description: The ID that uniquely identifies the department.
                        type: string
                        readOnly: true
                      isDevTestEnabled:
                        description: Boolean flag which enables subscribers to run
                          development and testing workloads on Azure at special Dev/Test
                          rates.
                        type: boolean
                      accountOwner:
                        description: The owner of the enrollment account.
                        type: string
                        readOnly: true
                      authType:
                        description: The authorization type of the enrollment account.
                        type: string
                        readOnly: true
                      status:
                        description: The status of the enrollment account.
                        type: string
                        readOnly: true
                      startDate:
                        format: date-time
                        description: The date from which the enrollment account became
                          valid and functional.
                        type: string
                        readOnly: true
                      endDate:
                        format: date-time
                        description: The date of expiration of the enrollment account.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}/enrollmentAccounts:
    get:
      tags:
      - EnrollmentAccount
      description: Lists the enrollment accounts for a department. The operation is
        supported only for billing accounts with agreement type Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: EnrollmentAccounts_ListByDepartment
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: departmentName
        description: The name of the department.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: It is an organizational hierarchy within a
                            billing account to administer and manage azure costs.
                          type: object
                          properties:
                            costCenter:
                              description: The cost center associated with the enrollment
                                account.
                              type: string
                            displayName:
                              description: The name of the enrollment account.
                              type: string
                            departmentDisplayName:
                              description: The name of the department under which
                                the enrollment account exists.
                              type: string
                              readOnly: true
                            departmentId:
                              description: The ID that uniquely identifies the department.
                              type: string
                              readOnly: true
                            isDevTestEnabled:
                              description: Boolean flag which enables subscribers
                                to run development and testing workloads on Azure
                                at special Dev/Test rates.
                              type: boolean
                            accountOwner:
                              description: The owner of the enrollment account.
                              type: string
                              readOnly: true
                            authType:
                              description: The authorization type of the enrollment
                                account.
                              type: string
                              readOnly: true
                            status:
                              description: The status of the enrollment account.
                              type: string
                              readOnly: true
                            startDate:
                              format: date-time
                              description: The date from which the enrollment account
                                became valid and functional.
                              type: string
                              readOnly: true
                            endDate:
                              format: date-time
                              description: The date of expiration of the enrollment
                                account.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}:
    get:
      tags:
      - EnrollmentAccount
      description: Gets an enrollment account by ID. The operation is supported only
        for billing accounts with agreement type Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: EnrollmentAccounts_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: enrollmentAccountName
        description: The name of the enrollment account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: It is an organizational hierarchy within a billing
                      account to administer and manage azure costs.
                    type: object
                    properties:
                      costCenter:
                        description: The cost center associated with the enrollment
                          account.
                        type: string
                      displayName:
                        description: The name of the enrollment account.
                        type: string
                      departmentDisplayName:
                        description: The name of the department under which the enrollment
                          account exists.
                        type: string
                        readOnly: true
                      departmentId:
                        description: The ID that uniquely identifies the department.
                        type: string
                        readOnly: true
                      isDevTestEnabled:
                        description: Boolean flag which enables subscribers to run
                          development and testing workloads on Azure at special Dev/Test
                          rates.
                        type: boolean
                      accountOwner:
                        description: The owner of the enrollment account.
                        type: string
                        readOnly: true
                      authType:
                        description: The authorization type of the enrollment account.
                        type: string
                        readOnly: true
                      status:
                        description: The status of the enrollment account.
                        type: string
                        readOnly: true
                      startDate:
                        format: date-time
                        description: The date from which the enrollment account became
                          valid and functional.
                        type: string
                        readOnly: true
                      endDate:
                        format: date-time
                        description: The date of expiration of the enrollment account.
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts:
    get:
      tags:
      - EnrollmentAccount
      description: Lists the enrollment accounts for a billing account. The operation
        is supported only for billing accounts with agreement type Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: EnrollmentAccounts_ListByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: It is an organizational hierarchy within a
                            billing account to administer and manage azure costs.
                          type: object
                          properties:
                            costCenter:
                              description: The cost center associated with the enrollment
                                account.
                              type: string
                            displayName:
                              description: The name of the enrollment account.
                              type: string
                            departmentDisplayName:
                              description: The name of the department under which
                                the enrollment account exists.
                              type: string
                              readOnly: true
                            departmentId:
                              description: The ID that uniquely identifies the department.
                              type: string
                              readOnly: true
                            isDevTestEnabled:
                              description: Boolean flag which enables subscribers
                                to run development and testing workloads on Azure
                                at special Dev/Test rates.
                              type: boolean
                            accountOwner:
                              description: The owner of the enrollment account.
                              type: string
                              readOnly: true
                            authType:
                              description: The authorization type of the enrollment
                                account.
                              type: string
                              readOnly: true
                            status:
                              description: The status of the enrollment account.
                              type: string
                              readOnly: true
                            startDate:
                              format: date-time
                              description: The date from which the enrollment account
                                became valid and functional.
                              type: string
                              readOnly: true
                            endDate:
                              format: date-time
                              description: The date of expiration of the enrollment
                                account.
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    billingAccountName:
      in: path
      name: billingAccountName
      description: The ID that uniquely identifies a billing account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
    departmentName:
      in: path
      name: departmentName
      description: The name of the department.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z\d-_]{1,128}$
    enrollmentAccountName:
      in: path
      name: enrollmentAccountName
      description: The name of the enrollment account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z\d-_]{1,128}$
    apiVersionParameter:
      in: query
      name: api-version
      description: The version of the API to be used with the client request. The
        current version is 2024-04-01.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    filter:
      in: query
      name: filter
      description: The filter query option allows clients to filter a collection of
        resources that are addressed by a request URL.
      x-ms-parameter-location: method
      schema:
        type: string
    orderBy:
      in: query
      name: orderBy
      description: The orderby query option allows clients to request resources in
        a particular order.
      x-ms-parameter-location: method
      schema:
        type: string
    top:
      in: query
      name: top
      description: The top query option requests the number of items in the queried
        collection to be included in the result. The maximum supported value for top
        is 50.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int64
    skip:
      in: query
      name: skip
      description: The skip query option requests the number of items in the queried
        collection that are to be skipped and not included in the result.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int64
    count:
      in: query
      name: count
      description: The count query option allows clients to request a count of the
        matching resources included with the resources in the response.
      x-ms-parameter-location: method
      schema:
        type: boolean
    search:
      in: query
      name: search
      description: The search query option allows clients to request items within
        a collection matching a free-text search expression. search is only supported
        for string fields.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    EnrollmentAccount:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
        properties:
          description: It is an organizational hierarchy within a billing account
            to administer and manage azure costs.
          type: object
          properties:
            costCenter:
              description: The cost center associated with the enrollment account.
              type: string
            displayName:
              description: The name of the enrollment account.
              type: string
            departmentDisplayName:
              description: The name of the department under which the enrollment account
                exists.
              type: string
              readOnly: true
            departmentId:
              description: The ID that uniquely identifies the department.
              type: string
              readOnly: true
            isDevTestEnabled:
              description: Boolean flag which enables subscribers to run development
                and testing workloads on Azure at special Dev/Test rates.
              type: boolean
            accountOwner:
              description: The owner of the enrollment account.
              type: string
              readOnly: true
            authType:
              description: The authorization type of the enrollment account.
              type: string
              readOnly: true
            status:
              description: The status of the enrollment account.
              type: string
              readOnly: true
            startDate:
              format: date-time
              description: The date from which the enrollment account became valid
                and functional.
              type: string
              readOnly: true
            endDate:
              format: date-time
              description: The date of expiration of the enrollment account.
              type: string
              readOnly: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    EnrollmentAccountListResult:
      description: A container for a list of resources
      type: object
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
        value:
          description: The list of resources.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              tags:
                description: Dictionary of metadata associated with the resource.
                  It may not be populated for all resource types. Maximum key/value
                  length supported of 256 characters. Keys/value should not empty
                  value nor null. Keys can not contain < > % & \ ? /
                type: object
                additionalProperties:
                  type: string
              properties:
                description: It is an organizational hierarchy within a billing account
                  to administer and manage azure costs.
                type: object
                properties:
                  costCenter:
                    description: The cost center associated with the enrollment account.
                    type: string
                  displayName:
                    description: The name of the enrollment account.
                    type: string
                  departmentDisplayName:
                    description: The name of the department under which the enrollment
                      account exists.
                    type: string
                    readOnly: true
                  departmentId:
                    description: The ID that uniquely identifies the department.
                    type: string
                    readOnly: true
                  isDevTestEnabled:
                    description: Boolean flag which enables subscribers to run development
                      and testing workloads on Azure at special Dev/Test rates.
                    type: boolean
                  accountOwner:
                    description: The owner of the enrollment account.
                    type: string
                    readOnly: true
                  authType:
                    description: The authorization type of the enrollment account.
                    type: string
                    readOnly: true
                  status:
                    description: The status of the enrollment account.
                    type: string
                    readOnly: true
                  startDate:
                    format: date-time
                    description: The date from which the enrollment account became
                      valid and functional.
                    type: string
                    readOnly: true
                  endDate:
                    format: date-time
                    description: The date of expiration of the enrollment account.
                    type: string
                    readOnly: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          readOnly: true
          x-ms-identifiers:
          - id
    EnrollmentAccountProperties:
      description: It is an organizational hierarchy within a billing account to administer
        and manage azure costs.
      type: object
      properties:
        costCenter:
          description: The cost center associated with the enrollment account.
          type: string
        displayName:
          description: The name of the enrollment account.
          type: string
        departmentDisplayName:
          description: The name of the department under which the enrollment account
            exists.
          type: string
          readOnly: true
        departmentId:
          description: The ID that uniquely identifies the department.
          type: string
          readOnly: true
        isDevTestEnabled:
          description: Boolean flag which enables subscribers to run development and
            testing workloads on Azure at special Dev/Test rates.
          type: boolean
        accountOwner:
          description: The owner of the enrollment account.
          type: string
          readOnly: true
        authType:
          description: The authorization type of the enrollment account.
          type: string
          readOnly: true
        status:
          description: The status of the enrollment account.
          type: string
          readOnly: true
        startDate:
          format: date-time
          description: The date from which the enrollment account became valid and
            functional.
          type: string
          readOnly: true
        endDate:
          format: date-time
          description: The date of expiration of the enrollment account.
          type: string
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ProxyResourceWithTags:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
