openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices:
    get:
      tags:
      - Invoice
      description: Lists the invoices for a billing profile for a given start date
        and end date. The operation is supported for billing accounts with agreement
        type Microsoft Partner Agreement or Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_ListByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: periodStartDate
        description: The start date of the billing period for which the invoice is
          generated. The date is in MM-DD-YYYY format.
        schema:
          type: string
          format: date
      - in: query
        name: periodEndDate
        description: The end date of the billing period for which the invoice is generated.
          The date is in MM-DD-YYYY format.
        schema:
          type: string
          format: date
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of invoices.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: An invoice.
                          type: object
                          properties:
                            amountDue:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            azurePrepaymentApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            billedAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            billedDocumentId:
                              description: The Id of the active invoice which is originally
                                billed after this invoice was voided. This field is
                                applicable to the void invoices only.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile for which
                                the invoice is generated.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile for which
                                the invoice is generated.
                              type: string
                              readOnly: true
                            creditAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            creditForDocumentId:
                              description: The Id of the invoice which got voided
                                and this credit note was issued as a result. This
                                field is applicable to the credit notes only.
                              type: string
                              readOnly: true
                            documents:
                              description: List of documents available to download
                                and view such as invoice, credit note, or tax receipt.
                              type: array
                              items:
                                description: The properties of a document.
                                type: object
                                properties:
                                  documentNumbers:
                                    description: The document numbers for the invoice
                                      document.
                                    type: array
                                    items:
                                      type: string
                                    readOnly: true
                                    x-ms-identifiers: []
                                  externalUrl:
                                    description: The URL to download the invoice document
                                      if the source is external to Microsoft.Billing.
                                    type: string
                                    readOnly: true
                                  kind:
                                    description: The type of the document.
                                    enum:
                                    - Other
                                    - Invoice
                                    - VoidNote
                                    - TaxReceipt
                                    - CreditNote
                                    - Summary
                                    - Transactions
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: InvoiceDocumentType
                                      modelAsString: true
                                  name:
                                    description: The ID that uniquely identifies an
                                      invoice document. This ID may be an identifier
                                      for an invoice PDF, a credit note, or a tax
                                      receipt.
                                    type: string
                                    readOnly: true
                                  url:
                                    description: The URL to download the invoice document
                                      if the source is internal to Microsoft.Billing.
                                    type: string
                                    readOnly: true
                                  source:
                                    description: The source of the document. ENF for
                                      Brazil and DRS for rest of the world.
                                    enum:
                                    - Other
                                    - DRS
                                    - ENF
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: DocumentSource
                                      modelAsString: true
                              readOnly: true
                              x-ms-identifiers: []
                            documentType:
                              description: The type of the document.
                              enum:
                              - Other
                              - Invoice
                              - VoidNote
                              - TaxReceipt
                              - CreditNote
                              - Summary
                              - Transactions
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: InvoiceDocumentType
                                modelAsString: true
                            dueDate:
                              format: date-time
                              description: The due date for the invoice.
                              type: string
                              readOnly: true
                            failedPayments:
                              description: List of failed payments.
                              type: array
                              items:
                                description: A failed payment.
                                type: object
                                properties:
                                  date:
                                    format: date-time
                                    description: The date when the payment was attempted.
                                    type: string
                                    readOnly: true
                                  failedPaymentReason:
                                    description: The reason that the payment failed.
                                    enum:
                                    - Other
                                    - BankDeclined
                                    - CardExpired
                                    - IncorrectCardDetails
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: FailedPaymentReason
                                      modelAsString: true
                              readOnly: true
                              x-ms-identifiers: []
                            freeAzureCreditApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            invoiceDate:
                              format: date-time
                              description: The date when the invoice was generated.
                              type: string
                              readOnly: true
                            invoicePeriodEndDate:
                              format: date-time
                              description: The end date of the billing period for
                                which the invoice is generated. The date is in MM-DD-YYYY
                                format.
                              type: string
                              readOnly: true
                            invoicePeriodStartDate:
                              format: date-time
                              description: The start date of the billing period for
                                which the invoice is generated. The date is in MM-DD-YYYY
                                format.
                              type: string
                              readOnly: true
                            invoiceType:
                              description: Invoice type.
                              enum:
                              - Other
                              - AzureServices
                              - AzureMarketplace
                              - AzureSupport
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: InvoiceType
                                modelAsString: true
                            isMonthlyInvoice:
                              description: Specifies if the invoice is generated as
                                part of monthly invoicing cycle or not. This field
                                is applicable to billing accounts with agreement type
                                Microsoft Customer Agreement.
                              type: boolean
                              readOnly: true
                            payments:
                              description: List of payments.
                              type: array
                              items:
                                description: An invoice payment.
                                type: object
                                properties:
                                  amount:
                                    type: object
                                    properties:
                                      currency:
                                        description: The currency for the amount value.
                                        type: string
                                        readOnly: true
                                      value:
                                        description: The amount value. For example,
                                          if the currency is USD, then a value of
                                          600 would be $600.00.
                                        type: number
                                        readOnly: true
                                    description: The amount.
                                    readOnly: true
                                  date:
                                    format: date-time
                                    description: The date when the payment was made.
                                    type: string
                                    readOnly: true
                                  paymentMethodId:
                                    description: The ID that uniquely identifies the
                                      payment method used for the invoice.
                                    type: string
                                    readOnly: true
                                  paymentMethodFamily:
                                    description: The family of payment method.
                                    enum:
                                    - Other
                                    - None
                                    - CreditCard
                                    - Credits
                                    - CheckWire
                                    - EWallet
                                    - TaskOrder
                                    - DirectDebit
                                    type: string
                                    readOnly: true
                                    x-ms-enum:
                                      name: PaymentMethodFamily
                                      modelAsString: true
                                  paymentMethodType:
                                    description: The type of payment method.
                                    type: string
                                    readOnly: true
                                  paymentType:
                                    description: The type of payment.
                                    type: string
                                    readOnly: true
                                readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                            purchaseOrderNumber:
                              description: An optional purchase order number for the
                                invoice.
                              type: string
                              readOnly: true
                            rebillDetails:
                              type: object
                              properties:
                                invoiceDocumentId:
                                  description: The ID of invoice.
                                  type: string
                                  readOnly: true
                                creditNoteDocumentId:
                                  description: The ID of credit note.
                                  type: string
                                  readOnly: true
                                rebillDetails:
                                  description: The rebill details of an invoice.
                                  type: object
                                  properties:
                                    invoiceDocumentId:
                                      description: The ID of invoice.
                                      type: string
                                      readOnly: true
                                    creditNoteDocumentId:
                                      description: The ID of credit note.
                                      type: string
                                      readOnly: true
                                    rebillDetails:
                                      description: The rebill details of an invoice.
                                      type: object
                                      properties:
                                        invoiceDocumentId:
                                          description: The ID of invoice.
                                          type: string
                                          readOnly: true
                                        creditNoteDocumentId:
                                          description: The ID of credit note.
                                          type: string
                                          readOnly: true
                                      readOnly: true
                                  readOnly: true
                              description: The rebill details of an invoice.
                              readOnly: true
                            status:
                              description: The current status of the invoice.
                              enum:
                              - Other
                              - Due
                              - OverDue
                              - Paid
                              - Void
                              - Locked
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: InvoiceStatus
                                modelAsString: true
                            subscriptionDisplayName:
                              description: The name of the billing subscription for
                                which the invoice is generated.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The ID of the subscription for which the
                                invoice is generated.
                              type: string
                              readOnly: true
                            specialTaxationType:
                              description: Identifies the type of tax calculation
                                used for the invoice. The field is applicable only
                                to invoices with special tax calculation logic.
                              enum:
                              - SubtotalLevel
                              - InvoiceLevel
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: SpecialTaxationType
                                modelAsString: true
                            subTotal:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            taxAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            totalAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            refundDetails:
                              type: object
                              properties:
                                requestedOn:
                                  format: date-time
                                  description: Date when the refund was requested.
                                  type: string
                                  readOnly: true
                                approvedOn:
                                  format: date-time
                                  description: Date when the refund was approved.
                                  type: string
                                  readOnly: true
                                completedOn:
                                  format: date-time
                                  description: Date when the refund was completed.
                                  type: string
                                  readOnly: true
                                amountRequested:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                amountRefunded:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                rebillInvoiceId:
                                  description: The invoice ID of the rebill invoice
                                    for a refund.
                                  type: string
                                  readOnly: true
                                transactionCount:
                                  format: int32
                                  description: The number of transactions refunded.
                                  type: integer
                                  readOnly: true
                                refundStatus:
                                  description: The status of refund request.
                                  enum:
                                  - Other
                                  - Pending
                                  - Approved
                                  - Declined
                                  - Cancelled
                                  - Completed
                                  - Expired
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: RefundStatus
                                    modelAsString: true
                                refundOperationId:
                                  description: The ID of refund operation.
                                  type: string
                                  readOnly: true
                                refundReason:
                                  description: The reason for refund.
                                  enum:
                                  - Other
                                  - AccidentalConversion
                                  - UnclearPricing
                                  - AccidentalPurchase
                                  - ForgotToCancel
                                  - UnclearDocumentation
                                  type: string
                                  readOnly: true
                                  x-ms-enum:
                                    name: RefundReasonCode
                                    modelAsString: true
                              description: The details of refund request.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/downloadDocuments:
    post:
      tags:
      - Invoice
      description: Gets a URL to download multiple invoice documents (invoice pdf,
        tax receipts, credit notes) as a zip file. The operation is supported for
        billing accounts with agreement type Microsoft Partner Agreement or Microsoft
        Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_DownloadDocumentsByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                description: A list of download details for individual documents.
                type: object
                properties:
                  documentName:
                    description: The ID that uniquely identifies an invoice document.
                      This ID may be an identifier for an invoice PDF, a credit note,
                      or a tax receipt. If omitted, the most recent invoice PDF for
                      the invoice will be returned.
                    type: string
                  invoiceName:
                    description: The ID that uniquely identifies an invoice.
                    type: string
              x-ms-identifiers: []
        description: A list of download details for individual documents.
        required: true
      responses:
        '200':
          description: A secure URL that can be used to download a an entity until
            the URL expires.
          content:
            application/json:
              schema:
                description: A secure URL that can be used to download a an entity
                  until the URL expires.
                type: object
                properties:
                  expiryTime:
                    description: The time in UTC when the download URL will expire.
                    type: string
                    readOnly: true
                  url:
                    description: The URL to the PDF or .zip file.
                    type: string
                    readOnly: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/amend:
    post:
      tags:
      - Invoice
      description: Regenerate an invoice by billing account name and invoice name.
        The operation is supported for billing accounts with agreement type Microsoft
        Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_Amend
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: invoiceName
        description: The ID that uniquely identifies an invoice.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(H[0-9]-[A-Z0-9]+)$|^(?:([GHT]|HT){1}[A-Z0-9]{9})$|^(?:[D]{1}[A-Z0-9]{9})$|^(?:E{1}[B-Z0-9]{1}[A-Z0-9]{8})$|^(?:EA[A-Z0-9]{8})$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/download:
    post:
      tags:
      - Invoice
      description: Gets a URL to download an invoice document. The operation is supported
        for billing accounts with agreement type Microsoft Partner Agreement, Microsoft
        Customer Agreement or Enterprise Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_DownloadByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: invoiceName
        description: The ID that uniquely identifies an invoice.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(H[0-9]-[A-Z0-9]+)$|^(?:([GHT]|HT){1}[A-Z0-9]{9})$|^(?:[D]{1}[A-Z0-9]{9})$|^(?:E{1}[B-Z0-9]{1}[A-Z0-9]{8})$|^(?:EA[A-Z0-9]{8})$
      - in: query
        name: documentName
        description: The ID that uniquely identifies an invoice document. This ID
          may be an identifier for an invoice PDF, a credit note, or a tax receipt.
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A secure URL that can be used to download a an entity until
            the URL expires.
          content:
            application/json:
              schema:
                description: A secure URL that can be used to download a an entity
                  until the URL expires.
                type: object
                properties:
                  expiryTime:
                    description: The time in UTC when the download URL will expire.
                    type: string
                    readOnly: true
                  url:
                    description: The URL to the PDF or .zip file.
                    type: string
                    readOnly: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/downloadSummary:
    post:
      tags:
      - Invoice
      description: Gets a URL to download the summary document for an invoice. The
        operation is supported for billing accounts with agreement type Enterprise
        Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_DownloadSummaryByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: invoiceName
        description: The ID that uniquely identifies an invoice.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(H[0-9]-[A-Z0-9]+)$|^(?:([GHT]|HT){1}[A-Z0-9]{9})$|^(?:[D]{1}[A-Z0-9]{9})$|^(?:E{1}[B-Z0-9]{1}[A-Z0-9]{8})$|^(?:EA[A-Z0-9]{8})$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A secure URL that can be used to download a an entity until
            the URL expires.
          content:
            application/json:
              schema:
                description: A secure URL that can be used to download a an entity
                  until the URL expires.
                type: object
                properties:
                  expiryTime:
                    description: The time in UTC when the download URL will expire.
                    type: string
                    readOnly: true
                  url:
                    description: The URL to the PDF or .zip file.
                    type: string
                    readOnly: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}:
    get:
      tags:
      - Invoice
      description: Gets an invoice by billing account name and ID. The operation is
        supported for all billing account types.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Invoices_GetByBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: invoiceName
        description: The ID that uniquely identifies an invoice.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(H[0-9]-[A-Z0-9]+)$|^(?:([GHT]|HT){1}[A-Z0-9]{9})$|^(?:[D]{1}[A-Z0-9]{9})$|^(?:E{1}[B-Z0-9]{1}[A-Z0-9]{8})$|^(?:EA[A-Z0-9]{8})$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: An invoice.
                    type: object
                    properties:
                      amountDue:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      azurePrepaymentApplied:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      billedAmount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      billedDocumentId:
                        description: The Id of the active invoice which is originally
                          billed after this invoice was voided. This field is applicable
                          to the void invoices only.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile for which the
                          invoice is generated.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The ID of the billing profile for which the invoice
                          is generated.
                        type: string
                        readOnly: true
                      creditAmount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      creditForDocumentId:
                        description: The Id of the invoice which got voided and this
                          credit note was issued as a result. This field is applicable
                          to the credit notes only.
                        type: string
                        readOnly: true
                      documents:
                        description: List of documents available to download and view
                          such as invoice, credit note, or tax receipt.
                        type: array
                        items:
                          description: The properties of a document.
                          type: object
                          properties:
                            documentNumbers:
                              description: The document numbers for the invoice document.
                              type: array
                              items:
                                type: string
                              readOnly: true
                              x-ms-identifiers: []
                            externalUrl:
                              description: The URL to download the invoice document
                                if the source is external to Microsoft.Billing.
                              type: string
                              readOnly: true
                            kind:
                              description: The type of the document.
                              enum:
                              - Other
                              - Invoice
                              - VoidNote
                              - TaxReceipt
                              - CreditNote
                              - Summary
                              - Transactions
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: InvoiceDocumentType
                                modelAsString: true
                            name:
                              description: The ID that uniquely identifies an invoice
                                document. This ID may be an identifier for an invoice
                                PDF, a credit note, or a tax receipt.
                              type: string
                              readOnly: true
                            url:
                              description: The URL to download the invoice document
                                if the source is internal to Microsoft.Billing.
                              type: string
                              readOnly: true
                            source:
                              description: The source of the document. ENF for Brazil
                                and DRS for rest of the world.
                              enum:
                              - Other
                              - DRS
                              - ENF
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: DocumentSource
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      documentType:
                        description: The type of the document.
                        enum:
                        - Other
                        - Invoice
                        - VoidNote
                        - TaxReceipt
                        - CreditNote
                        - Summary
                        - Transactions
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceDocumentType
                          modelAsString: true
                      dueDate:
                        format: date-time
                        description: The due date for the invoice.
                        type: string
                        readOnly: true
                      failedPayments:
                        description: List of failed payments.
                        type: array
                        items:
                          description: A failed payment.
                          type: object
                          properties:
                            date:
                              format: date-time
                              description: The date when the payment was attempted.
                              type: string
                              readOnly: true
                            failedPaymentReason:
                              description: The reason that the payment failed.
                              enum:
                              - Other
                              - BankDeclined
                              - CardExpired
                              - IncorrectCardDetails
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: FailedPaymentReason
                                modelAsString: true
                        readOnly: true
                        x-ms-identifiers: []
                      freeAzureCreditApplied:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      invoiceDate:
                        format: date-time
                        description: The date when the invoice was generated.
                        type: string
                        readOnly: true
                      invoicePeriodEndDate:
                        format: date-time
                        description: The end date of the billing period for which
                          the invoice is generated. The date is in MM-DD-YYYY format.
                        type: string
                        readOnly: true
                      invoicePeriodStartDate:
                        format: date-time
                        description: The start date of the billing period for which
                          the invoice is generated. The date is in MM-DD-YYYY format.
                        type: string
                        readOnly: true
                      invoiceType:
                        description: Invoice type.
                        enum:
                        - Other
                        - AzureServices
                        - AzureMarketplace
                        - AzureSupport
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceType
                          modelAsString: true
                      isMonthlyInvoice:
                        description: Specifies if the invoice is generated as part
                          of monthly invoicing cycle or not. This field is applicable
                          to billing accounts with agreement type Microsoft Customer
                          Agreement.
                        type: boolean
                        readOnly: true
                      payments:
                        description: List of payments.
                        type: array
                        items:
                          description: An invoice payment.
                          type: object
                          properties:
                            amount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            date:
                              format: date-time
                              description: The date when the payment was made.
                              type: string
                              readOnly: true
                            paymentMethodId:
                              description: The ID that uniquely identifies the payment
                                method used for the invoice.
                              type: string
                              readOnly: true
                            paymentMethodFamily:
                              description: The family of payment method.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: PaymentMethodFamily
                                modelAsString: true
                            paymentMethodType:
                              description: The type of payment method.
                              type: string
                              readOnly: true
                            paymentType:
                              description: The type of payment.
                              type: string
                              readOnly: true
                          readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
                      purchaseOrderNumber:
                        description: An optional purchase order number for the invoice.
                        type: string
                        readOnly: true
                      rebillDetails:
                        type: object
                        properties:
                          invoiceDocumentId:
                            description: The ID of invoice.
                            type: string
                            readOnly: true
                          creditNoteDocumentId:
                            description: The ID of credit note.
                            type: string
                            readOnly: true
                          rebillDetails:
                            description: The rebill details of an invoice.
                            type: object
                            properties:
                              invoiceDocumentId:
                                description: The ID of invoice.
                                type: string
                                readOnly: true
                              creditNoteDocumentId:
                                description: The ID of credit note.
                                type: string
                                readOnly: true
                              rebillDetails:
                                description: The rebill details of an invoice.
                                type: object
                                properties:
                                  invoiceDocumentId:
                                    description: The ID of invoice.
                                    type: string
                                    readOnly: true
                                  creditNoteDocumentId:
                                    description: The ID of credit note.
                                    type: string
                                    readOnly: true
                                readOnly: true
                            readOnly: true
                        description: The rebill details of an invoice.
                        readOnly: true
                      status:
                        description: The current status of the invoice.
                        enum:
                        - Other
                        - Due
                        - OverDue
                        - Paid
                        - Void
                        - Locked
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: InvoiceStatus
                          modelAsString: true
                      subscriptionDisplayName:
                        description: The name of the billing subscription for which
                          the invoice is generated.
                        type: string
                        readOnly: true
                      subscriptionId:
                        description: The ID of the subscription for which the invoice
                          is generated.
                        type: string
                        readOnly: true
                      specialTaxationType:
                        description: Identifies the type of tax calculation used for
                          the invoice. The field is applicable only to invoices with
                          special tax calculation logic.
                        enum:
                        - SubtotalLevel
                        - InvoiceLevel
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: SpecialTaxationType
                          modelAsString: true
                      subTotal:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      taxAmount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      totalAmount:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      refundDetails:
                        type: object
                        properties:
                          requestedOn:
                            format: date-time
                            description: Date when the refund was requested.
                            type: string
                            readOnly: true
                          approvedOn:
                            format: date-time
                            description: Date when the refund was approved.
                            type: string
                            readOnly: true
                          completedOn:
                            format: date-time
                            description: Date when the refund was completed.
                            type: string
                            readOnly: true
                          amountRequested:
                            type: object
                            properties:
                              currency:
                                description: The currency for the amount value.
                                type: string
                                readOnly: true
                              value:
                                description: The amount value. For example, if the
                                  currency is USD, then a value of 600 would be $600.00.
                                type: number
                                readOnly: true
                            description: The amount.
                            readOnly: true
                          amountRefunded:
                            type: object
                            properties:
                              currency:
                                description: The currency for the amount value.
                                type: string
                                readOnly: true
                              value:
                                description: The amount value. For example, if the
                                  currency is USD, then a value of 600 would be $600.00.
                                type: number
                                readOnly: true
                            description: The amount.
[...]
