openapi: 3.0.0
info:
  description: The billing client allows you to view and manage your billing details
    programmatically.
  title: BillingManagementClient
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethodLinks:
    get:
      description: Lists payment methods attached to a billing profile. The operation
        is supported only for billing accounts with agreement type Microsoft Customer
        Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_ListByBillingProfile
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingProfileName
        in: path
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The list of payment method links.
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    readOnly: true
                    type: string
                  value:
                    description: The list of payment method links.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Payment method link properties
                          x-ms-client-flatten: true
                          properties:
                            accountHolderName:
                              description: The account holder name for the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            displayName:
                              description: The display name of the payment method.
                              readOnly: true
                              type: string
                            expiration:
                              description: The expiration month and year of the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            family:
                              description: The family of payment method.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              readOnly: true
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodFamily
                            lastFourDigits:
                              description: Last four digits of payment method.
                              readOnly: true
                              type: string
                            logos:
                              description: The list of logos for the payment method.
                              items:
                                description: Logo of payment method.
                                properties:
                                  mimeType:
                                    description: MIME type of the logo.
                                    readOnly: true
                                    type: string
                                  url:
                                    description: Public URL of image of the logo.
                                    readOnly: true
                                    type: string
                                type: object
                              readOnly: true
                              type: array
                              x-ms-identifiers: []
                            paymentMethod:
                              description: Projection of a payment method. Will not
                                be returned in this or future versions.
                              properties:
                                id:
                                  description: Id of payment method.
                                  type: string
                                  readOnly: true
                                accountHolderName:
                                  description: The account holder name for the payment
                                    method. This is only supported for payment methods
                                    with family CreditCard.
                                  readOnly: true
                                  type: string
                                displayName:
                                  description: The display name of the payment method.
                                  readOnly: true
                                  type: string
                                expiration:
                                  description: The expiration month and year of the
                                    payment method. This is only supported for payment
                                    methods with family CreditCard.
                                  readOnly: true
                                  type: string
                                family:
                                  description: The family of payment method.
                                  enum:
                                  - Other
                                  - None
                                  - CreditCard
                                  - Credits
                                  - CheckWire
                                  - EWallet
                                  - TaskOrder
                                  - DirectDebit
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: paymentMethodFamily
                                lastFourDigits:
                                  description: Last four digits of payment method.
                                  readOnly: true
                                  type: string
                                logos:
                                  description: The list of logos for the payment method.
                                  items:
                                    description: Logo of payment method.
                                    properties:
                                      mimeType:
                                        description: MIME type of the logo.
                                        readOnly: true
                                        type: string
                                      url:
                                        description: Public URL of image of the logo.
                                        readOnly: true
                                        type: string
                                    type: object
                                  type: array
                                  x-ms-identifiers: []
                                paymentMethodType:
                                  description: The type of payment method.
                                  readOnly: true
                                  type: string
                                status:
                                  description: Status of the payment method.
                                  enum:
                                  - active
                                  - inactive
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: paymentMethodStatus
                              type: object
                            paymentMethodId:
                              description: 'Id of payment method. Example: /providers/Microsoft.Billing/paymentMethods/ABCDABCDABC0'
                              type: string
                            paymentMethodType:
                              description: The type of payment method.
                              readOnly: true
                              type: string
                            status:
                              description: Status of the payment method.
                              enum:
                              - active
                              - inactive
                              readOnly: true
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodStatus
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    type: array
                    x-ms-identifiers:
                    - id
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethodLinks/{paymentMethodName}
  : get:
      description: Gets a payment method linked with a billing profile. The operation
        is supported only for billing accounts with agreement type Microsoft Customer
        Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_GetByBillingProfile
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingProfileName
        in: path
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The ID that uniquely identifies a payment method.
        in: path
        name: paymentMethodName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Payment method link properties
                    x-ms-client-flatten: true
                    properties:
                      accountHolderName:
                        description: The account holder name for the payment method.
                          This is only supported for payment methods with family CreditCard.
                        readOnly: true
                        type: string
                      displayName:
                        description: The display name of the payment method.
                        readOnly: true
                        type: string
                      expiration:
                        description: The expiration month and year of the payment
                          method. This is only supported for payment methods with
                          family CreditCard.
                        readOnly: true
                        type: string
                      family:
                        description: The family of payment method.
                        enum:
                        - Other
                        - None
                        - CreditCard
                        - Credits
                        - CheckWire
                        - EWallet
                        - TaskOrder
                        - DirectDebit
                        readOnly: true
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodFamily
                      lastFourDigits:
                        description: Last four digits of payment method.
                        readOnly: true
                        type: string
                      logos:
                        description: The list of logos for the payment method.
                        items:
                          description: Logo of payment method.
                          properties:
                            mimeType:
                              description: MIME type of the logo.
                              readOnly: true
                              type: string
                            url:
                              description: Public URL of image of the logo.
                              readOnly: true
                              type: string
                          type: object
                        readOnly: true
                        type: array
                        x-ms-identifiers: []
                      paymentMethod:
                        description: Projection of a payment method. Will not be returned
                          in this or future versions.
                        properties:
                          id:
                            description: Id of payment method.
                            type: string
                            readOnly: true
                          accountHolderName:
                            description: The account holder name for the payment method.
                              This is only supported for payment methods with family
                              CreditCard.
                            readOnly: true
                            type: string
                          displayName:
                            description: The display name of the payment method.
                            readOnly: true
                            type: string
                          expiration:
                            description: The expiration month and year of the payment
                              method. This is only supported for payment methods with
                              family CreditCard.
                            readOnly: true
                            type: string
                          family:
                            description: The family of payment method.
                            enum:
                            - Other
                            - None
                            - CreditCard
                            - Credits
                            - CheckWire
                            - EWallet
                            - TaskOrder
                            - DirectDebit
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: paymentMethodFamily
                          lastFourDigits:
                            description: Last four digits of payment method.
                            readOnly: true
                            type: string
                          logos:
                            description: The list of logos for the payment method.
                            items:
                              description: Logo of payment method.
                              properties:
                                mimeType:
                                  description: MIME type of the logo.
                                  readOnly: true
                                  type: string
                                url:
                                  description: Public URL of image of the logo.
                                  readOnly: true
                                  type: string
                              type: object
                            type: array
                            x-ms-identifiers: []
                          paymentMethodType:
                            description: The type of payment method.
                            readOnly: true
                            type: string
                          status:
                            description: Status of the payment method.
                            enum:
                            - active
                            - inactive
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: paymentMethodStatus
                        type: object
                      paymentMethodId:
                        description: 'Id of payment method. Example: /providers/Microsoft.Billing/paymentMethods/ABCDABCDABC0'
                        type: string
                      paymentMethodType:
                        description: The type of payment method.
                        readOnly: true
                        type: string
                      status:
                        description: Status of the payment method.
                        enum:
                        - active
                        - inactive
                        readOnly: true
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodStatus
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/paymentMethods:
    get:
      description: Lists the payment methods available for a billing account. Along
        with the payment methods owned by the caller, these payment methods can be
        attached to a billing profile to make payments. The operation is supported
        only for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_ListByBillingAccount
      parameters:
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The list of payment methods.
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    readOnly: true
                    type: string
                  value:
                    description: The list of payment methods.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Payment method properties
                          x-ms-client-flatten: true
                          properties:
                            id:
                              description: Id of payment method.
                              type: string
                              readOnly: true
                            accountHolderName:
                              description: The account holder name for the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            displayName:
                              description: The display name of the payment method.
                              readOnly: true
                              type: string
                            expiration:
                              description: The expiration month and year of the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            family:
                              description: The family of payment method.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodFamily
                            lastFourDigits:
                              description: Last four digits of payment method.
                              readOnly: true
                              type: string
                            logos:
                              description: The list of logos for the payment method.
                              items:
                                description: Logo of payment method.
                                properties:
                                  mimeType:
                                    description: MIME type of the logo.
                                    readOnly: true
                                    type: string
                                  url:
                                    description: Public URL of image of the logo.
                                    readOnly: true
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            paymentMethodType:
                              description: The type of payment method.
                              readOnly: true
                              type: string
                            status:
                              description: Status of the payment method.
                              enum:
                              - active
                              - inactive
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodStatus
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    type: array
                type: object
                x-ms-identifiers:
                - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/paymentMethods/{paymentMethodName}:
    get:
      description: Gets a payment method available for a billing account. The operation
        is supported only for billing accounts with agreement type Microsoft Customer
        Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_GetByBillingAccount
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: billingAccountName
        in: path
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The ID that uniquely identifies a payment method.
        in: path
        name: paymentMethodName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Payment method properties
                    x-ms-client-flatten: true
                    properties:
                      id:
                        description: Id of payment method.
                        type: string
                        readOnly: true
                      accountHolderName:
                        description: The account holder name for the payment method.
                          This is only supported for payment methods with family CreditCard.
                        readOnly: true
                        type: string
                      displayName:
                        description: The display name of the payment method.
                        readOnly: true
                        type: string
                      expiration:
                        description: The expiration month and year of the payment
                          method. This is only supported for payment methods with
                          family CreditCard.
                        readOnly: true
                        type: string
                      family:
                        description: The family of payment method.
                        enum:
                        - Other
                        - None
                        - CreditCard
                        - Credits
                        - CheckWire
                        - EWallet
                        - TaskOrder
                        - DirectDebit
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodFamily
                      lastFourDigits:
                        description: Last four digits of payment method.
                        readOnly: true
                        type: string
                      logos:
                        description: The list of logos for the payment method.
                        items:
                          description: Logo of payment method.
                          properties:
                            mimeType:
                              description: MIME type of the logo.
                              readOnly: true
                              type: string
                            url:
                              description: Public URL of image of the logo.
                              readOnly: true
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      paymentMethodType:
                        description: The type of payment method.
                        readOnly: true
                        type: string
                      status:
                        description: Status of the payment method.
                        enum:
                        - active
                        - inactive
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodStatus
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
  /providers/Microsoft.Billing/paymentMethods:
    get:
      description: Lists the payment methods owned by the caller.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_ListByUser
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The list of payment methods.
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    readOnly: true
                    type: string
                  value:
                    description: The list of payment methods.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Payment method properties
                          x-ms-client-flatten: true
                          properties:
                            id:
                              description: Id of payment method.
                              type: string
                              readOnly: true
                            accountHolderName:
                              description: The account holder name for the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            displayName:
                              description: The display name of the payment method.
                              readOnly: true
                              type: string
                            expiration:
                              description: The expiration month and year of the payment
                                method. This is only supported for payment methods
                                with family CreditCard.
                              readOnly: true
                              type: string
                            family:
                              description: The family of payment method.
                              enum:
                              - Other
                              - None
                              - CreditCard
                              - Credits
                              - CheckWire
                              - EWallet
                              - TaskOrder
                              - DirectDebit
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodFamily
                            lastFourDigits:
                              description: Last four digits of payment method.
                              readOnly: true
                              type: string
                            logos:
                              description: The list of logos for the payment method.
                              items:
                                description: Logo of payment method.
                                properties:
                                  mimeType:
                                    description: MIME type of the logo.
                                    readOnly: true
                                    type: string
                                  url:
                                    description: Public URL of image of the logo.
                                    readOnly: true
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            paymentMethodType:
                              description: The type of payment method.
                              readOnly: true
                              type: string
                            status:
                              description: Status of the payment method.
                              enum:
                              - active
                              - inactive
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: paymentMethodStatus
                          type: object
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    type: array
                type: object
                x-ms-identifiers:
                - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/paymentMethods/{paymentMethodName}:
    delete:
      description: Deletes a payment method owned by the caller.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_DeleteByUser
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The ID that uniquely identifies a payment method.
        in: path
        name: paymentMethodName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
        '204':
          description: The resource was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
    get:
      description: Gets a payment method owned by the caller.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: PaymentMethods_GetByUser
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The ID that uniquely identifies a payment method.
        in: path
        name: paymentMethodName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Payment method properties
                    x-ms-client-flatten: true
                    properties:
                      id:
                        description: Id of payment method.
                        type: string
                        readOnly: true
                      accountHolderName:
                        description: The account holder name for the payment method.
                          This is only supported for payment methods with family CreditCard.
                        readOnly: true
                        type: string
                      displayName:
                        description: The display name of the payment method.
                        readOnly: true
                        type: string
                      expiration:
                        description: The expiration month and year of the payment
                          method. This is only supported for payment methods with
                          family CreditCard.
                        readOnly: true
                        type: string
                      family:
                        description: The family of payment method.
                        enum:
                        - Other
                        - None
                        - CreditCard
                        - Credits
                        - CheckWire
                        - EWallet
                        - TaskOrder
                        - DirectDebit
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodFamily
                      lastFourDigits:
                        description: Last four digits of payment method.
                        readOnly: true
                        type: string
                      logos:
                        description: The list of logos for the payment method.
                        items:
                          description: Logo of payment method.
                          properties:
                            mimeType:
                              description: MIME type of the logo.
                              readOnly: true
                              type: string
                            url:
                              description: Public URL of image of the logo.
                              readOnly: true
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      paymentMethodType:
                        description: The type of payment method.
                        readOnly: true
                        type: string
                      status:
                        description: Status of the payment method.
                        enum:
                        - active
                        - inactive
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: paymentMethodStatus
                    type: object
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - PaymentMethods
components:
  parameters:
    billingAccountNameParameter:
      name: billingAccountName
      in: path
      description: The ID that uniquely identifies a billing account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingProfileNameParameter:
      name: billingProfileName
      in: path
      description: The ID that uniquely identifies a billing profile.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    paymentMethodNameParameter:
      description: The ID that uniquely identifies a payment method.
      in: path
      name: paymentMethodName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      in: query
      name: api-version
      description: The version of the API to be used with the client request. The
        current version is 2024-04-01.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          description: Dictionary of metadata associated with the resource. It may
            not be populated for all resource types. Maximum key/value length supported
            of 256 characters. Keys/value should not empty value nor null. Keys can
            not contain < > % & \ ? /
          type: object
          additionalProperties:
            type: string
        properties:
          description: Payment method properties
          x-ms-client-flatten: true
          properties:
            id:
              description: Id of payment method.
              type: string
              readOnly: true
            accountHolderName:
              description: The account holder name for the payment method. This is
                only supported for payment methods with family CreditCard.
              readOnly: true
              type: string
            displayName:
              description: The display name of the payment method.
              readOnly: true
              type: string
[...]
