openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/policies/{policyName}
  : get:
      tags:
      - Policy
      description: Lists the policies for a customer. This operation is supported
        only for billing accounts with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Policies_GetByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: policyName
        description: Service-defined resource names such as 'default' which are reserved
          resource names.
        required: true
        x-ms-enum:
          name: ServiceDefinedResourceName
          modelAsString: true
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
          enum:
          - default
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A policy at customer scope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at customer scope.
                    required:
                    - viewCharges
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/policies/default
  : put:
      tags:
      - Policy
      description: Updates the policies for a customer. This operation is supported
        only for billing accounts with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Policies_CreateOrUpdateByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  description: Dictionary of metadata associated with the resource.
                    It may not be populated for all resource types. Maximum key/value
                    length supported of 256 characters. Keys/value should not empty
                    value nor null. Keys can not contain < > % & \ ? /
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: A policy at customer scope.
                  required:
                  - viewCharges
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the resource during a
                        long-running operation.
                      enum:
                      - Succeeded
                      - Canceled
                      - Failed
                      - New
                      - Pending
                      - Provisioning
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    viewCharges:
                      description: The policy that controls whether the users in customer's
                        organization can view charges at pay-as-you-go prices.
                      enum:
                      - Other
                      - Allowed
                      - NotAllowed
                      type: string
                      x-ms-enum:
                        name: ViewChargesPolicy
                        modelAsString: true
                    policies:
                      description: List of all policies defined at the billing scope.
                      type: array
                      items:
                        description: The summary of the policy.
                        type: object
                        properties:
                          name:
                            description: The name of the policy.
                            type: string
                          value:
                            description: The value of the policy.
                            type: string
                          policyType:
                            description: The type of the policy.
                            enum:
                            - Other
                            - UserControlled
                            - SystemControlled
                            type: string
                            x-ms-enum:
                              name: PolicyType
                              modelAsString: true
                          scope:
                            description: The scope at which the policy is defined.
                            type: string
                      x-ms-identifiers:
                      - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: A policy at customer scope.
        required: true
      responses:
        '200':
          description: A policy at customer scope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at customer scope.
                    required:
                    - viewCharges
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: A policy at customer scope.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at customer scope.
                    required:
                    - viewCharges
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/policies/default:
    get:
      tags:
      - Policy
      description: Lists the policies for a billing profile. This operation is supported
        only for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Policies_GetByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A policy at billing profile scope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at billing profile scope.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      enterpriseAgreementPolicies:
                        type: object
                        properties:
                          authenticationType:
                            description: The state showing the enrollment auth level.
                            enum:
                            - Other
                            - MicrosoftAccountOnly
                            - MixedAccount
                            - OrganizationalAccountCrossTenant
                            - OrganizationalAccountOnly
                            type: string
                            x-ms-enum:
                              name: EnrollmentAuthLevelState
                              modelAsString: true
                          accountOwnerViewCharges:
                            description: The policy that controls whether account
                              owner can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentAccountOwnerViewCharges
                              modelAsString: true
                          departmentAdminViewCharges:
                            description: The policy that controls whether department
                              admin can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentDepartmentAdminViewCharges
                              modelAsString: true
                        description: The policies for Enterprise Agreement enrollments.
                      invoiceSectionLabelManagement:
                        description: The policy that controls invoice section label
                          management at invoice section scope. This is allowed by
                          default.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: InvoiceSectionLabelManagementPolicy
                          modelAsString: true
                      marketplacePurchases:
                        description: The policy that controls whether Azure marketplace
                          purchases are allowed.
                        enum:
                        - Other
                        - AllAllowed
                        - Disabled
                        - NotAllowed
                        - OnlyFreeAllowed
                        type: string
                        x-ms-enum:
                          name: MarketplacePurchasesPolicy
                          modelAsString: true
                      reservationPurchases:
                        description: The policy that controls whether Azure reservation
                          purchases are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ReservationPurchasesPolicy
                          modelAsString: true
                      savingsPlanPurchases:
                        description: The policy that controls whether users with Azure
                          savings plan purchase are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: SavingsPlanPurchasesPolicy
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Policy
      description: Updates the policies for a billing profile. This operation is supported
        only for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Policies_CreateOrUpdateByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  description: Dictionary of metadata associated with the resource.
                    It may not be populated for all resource types. Maximum key/value
                    length supported of 256 characters. Keys/value should not empty
                    value nor null. Keys can not contain < > % & \ ? /
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: A policy at billing profile scope.
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state of the resource during a
                        long-running operation.
                      enum:
                      - Succeeded
                      - Canceled
                      - Failed
                      - New
                      - Pending
                      - Provisioning
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    enterpriseAgreementPolicies:
                      type: object
                      properties:
                        authenticationType:
                          description: The state showing the enrollment auth level.
                          enum:
                          - Other
                          - MicrosoftAccountOnly
                          - MixedAccount
                          - OrganizationalAccountCrossTenant
                          - OrganizationalAccountOnly
                          type: string
                          x-ms-enum:
                            name: EnrollmentAuthLevelState
                            modelAsString: true
                        accountOwnerViewCharges:
                          description: The policy that controls whether account owner
                            can view charges.
                          enum:
                          - Other
                          - Allowed
                          - Disabled
                          - NotAllowed
                          type: string
                          x-ms-enum:
                            name: EnrollmentAccountOwnerViewCharges
                            modelAsString: true
                        departmentAdminViewCharges:
                          description: The policy that controls whether department
                            admin can view charges.
                          enum:
                          - Other
                          - Allowed
                          - Disabled
                          - NotAllowed
                          type: string
                          x-ms-enum:
                            name: EnrollmentDepartmentAdminViewCharges
                            modelAsString: true
                      description: The policies for Enterprise Agreement enrollments.
                    invoiceSectionLabelManagement:
                      description: The policy that controls invoice section label
                        management at invoice section scope. This is allowed by default.
                      enum:
                      - Other
                      - Allowed
                      - NotAllowed
                      type: string
                      x-ms-enum:
                        name: InvoiceSectionLabelManagementPolicy
                        modelAsString: true
                    marketplacePurchases:
                      description: The policy that controls whether Azure marketplace
                        purchases are allowed.
                      enum:
                      - Other
                      - AllAllowed
                      - Disabled
                      - NotAllowed
                      - OnlyFreeAllowed
                      type: string
                      x-ms-enum:
                        name: MarketplacePurchasesPolicy
                        modelAsString: true
                    reservationPurchases:
                      description: The policy that controls whether Azure reservation
                        purchases are allowed.
                      enum:
                      - Other
                      - Allowed
                      - Disabled
                      - NotAllowed
                      type: string
                      x-ms-enum:
                        name: ReservationPurchasesPolicy
                        modelAsString: true
                    savingsPlanPurchases:
                      description: The policy that controls whether users with Azure
                        savings plan purchase are allowed.
                      enum:
                      - Other
                      - Allowed
                      - Disabled
                      - NotAllowed
                      type: string
                      x-ms-enum:
                        name: SavingsPlanPurchasesPolicy
                        modelAsString: true
                    viewCharges:
                      description: The policy that controls whether the users in customer's
                        organization can view charges at pay-as-you-go prices.
                      enum:
                      - Other
                      - Allowed
                      - NotAllowed
                      type: string
                      x-ms-enum:
                        name: ViewChargesPolicy
                        modelAsString: true
                    policies:
                      description: List of all policies defined at the billing scope.
                      type: array
                      items:
                        description: The summary of the policy.
                        type: object
                        properties:
                          name:
                            description: The name of the policy.
                            type: string
                          value:
                            description: The value of the policy.
                            type: string
                          policyType:
                            description: The type of the policy.
                            enum:
                            - Other
                            - UserControlled
                            - SystemControlled
                            type: string
                            x-ms-enum:
                              name: PolicyType
                              modelAsString: true
                          scope:
                            description: The scope at which the policy is defined.
                            type: string
                      x-ms-identifiers:
                      - name
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: A policy at billing profile scope.
        required: true
      responses:
        '200':
          description: A policy at billing profile scope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at billing profile scope.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      enterpriseAgreementPolicies:
                        type: object
                        properties:
                          authenticationType:
                            description: The state showing the enrollment auth level.
                            enum:
                            - Other
                            - MicrosoftAccountOnly
                            - MixedAccount
                            - OrganizationalAccountCrossTenant
                            - OrganizationalAccountOnly
                            type: string
                            x-ms-enum:
                              name: EnrollmentAuthLevelState
                              modelAsString: true
                          accountOwnerViewCharges:
                            description: The policy that controls whether account
                              owner can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentAccountOwnerViewCharges
                              modelAsString: true
                          departmentAdminViewCharges:
                            description: The policy that controls whether department
                              admin can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentDepartmentAdminViewCharges
                              modelAsString: true
                        description: The policies for Enterprise Agreement enrollments.
                      invoiceSectionLabelManagement:
                        description: The policy that controls invoice section label
                          management at invoice section scope. This is allowed by
                          default.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: InvoiceSectionLabelManagementPolicy
                          modelAsString: true
                      marketplacePurchases:
                        description: The policy that controls whether Azure marketplace
                          purchases are allowed.
                        enum:
                        - Other
                        - AllAllowed
                        - Disabled
                        - NotAllowed
                        - OnlyFreeAllowed
                        type: string
                        x-ms-enum:
                          name: MarketplacePurchasesPolicy
                          modelAsString: true
                      reservationPurchases:
                        description: The policy that controls whether Azure reservation
                          purchases are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ReservationPurchasesPolicy
                          modelAsString: true
                      savingsPlanPurchases:
                        description: The policy that controls whether users with Azure
                          savings plan purchase are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: SavingsPlanPurchasesPolicy
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: A policy at billing profile scope.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at billing profile scope.
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      enterpriseAgreementPolicies:
                        type: object
                        properties:
                          authenticationType:
                            description: The state showing the enrollment auth level.
                            enum:
                            - Other
                            - MicrosoftAccountOnly
                            - MixedAccount
                            - OrganizationalAccountCrossTenant
                            - OrganizationalAccountOnly
                            type: string
                            x-ms-enum:
                              name: EnrollmentAuthLevelState
                              modelAsString: true
                          accountOwnerViewCharges:
                            description: The policy that controls whether account
                              owner can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentAccountOwnerViewCharges
                              modelAsString: true
                          departmentAdminViewCharges:
                            description: The policy that controls whether department
                              admin can view charges.
                            enum:
                            - Other
                            - Allowed
                            - Disabled
                            - NotAllowed
                            type: string
                            x-ms-enum:
                              name: EnrollmentDepartmentAdminViewCharges
                              modelAsString: true
                        description: The policies for Enterprise Agreement enrollments.
                      invoiceSectionLabelManagement:
                        description: The policy that controls invoice section label
                          management at invoice section scope. This is allowed by
                          default.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: InvoiceSectionLabelManagementPolicy
                          modelAsString: true
                      marketplacePurchases:
                        description: The policy that controls whether Azure marketplace
                          purchases are allowed.
                        enum:
                        - Other
                        - AllAllowed
                        - Disabled
                        - NotAllowed
                        - OnlyFreeAllowed
                        type: string
                        x-ms-enum:
                          name: MarketplacePurchasesPolicy
                          modelAsString: true
                      reservationPurchases:
                        description: The policy that controls whether Azure reservation
                          purchases are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ReservationPurchasesPolicy
                          modelAsString: true
                      savingsPlanPurchases:
                        description: The policy that controls whether users with Azure
                          savings plan purchase are allowed.
                        enum:
                        - Other
                        - Allowed
                        - Disabled
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: SavingsPlanPurchasesPolicy
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
                                modelAsString: true
                            scope:
                              description: The scope at which the policy is defined.
                              type: string
                        x-ms-identifiers:
                        - name
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/policies/default:
    get:
      tags:
      - Policy
      description: Lists the policies for a customer at billing account scope. This
        operation is supported only for billing accounts with agreement type Microsoft
        Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Policies_GetByCustomerAtBillingAccount
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A policy at customer scope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A policy at customer scope.
                    required:
                    - viewCharges
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state of the resource during
                          a long-running operation.
                        enum:
                        - Succeeded
                        - Canceled
                        - Failed
                        - New
                        - Pending
                        - Provisioning
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      viewCharges:
                        description: The policy that controls whether the users in
                          customer's organization can view charges at pay-as-you-go
                          prices.
                        enum:
                        - Other
                        - Allowed
                        - NotAllowed
                        type: string
                        x-ms-enum:
                          name: ViewChargesPolicy
                          modelAsString: true
                      policies:
                        description: List of all policies defined at the billing scope.
                        type: array
                        items:
                          description: The summary of the policy.
                          type: object
                          properties:
                            name:
                              description: The name of the policy.
                              type: string
                            value:
                              description: The value of the policy.
                              type: string
                            policyType:
                              description: The type of the policy.
                              enum:
                              - Other
                              - UserControlled
                              - SystemControlled
                              type: string
                              x-ms-enum:
                                name: PolicyType
[...]
