openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products
  : get:
      tags:
      - Product
      description: Lists the products for an invoice section. These don't include
        products billed based on usage. The operation is supported only for billing
        accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_ListByInvoiceSection
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of products. It contains a list of available product
            summaries in reverse chronological order by purchase date.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A product.
                          type: object
                          properties:
                            autoRenew:
                              description: Indicates whether auto renewal is turned
                                on or off for a product.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              x-ms-enum:
                                name: AutoRenew
                                modelAsString: true
                            availabilityId:
                              description: The availability of the product.
                              type: string
                              readOnly: true
                            billingFrequency:
                              description: The frequency at which the product will
                                be billed.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            customerId:
                              description: The ID of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            displayName:
                              description: The display name of the product.
                              type: string
                              readOnly: true
                            endDate:
                              description: The date when the product will be renewed
                                or canceled.
                              type: string
                              readOnly: true
                            invoiceSectionId:
                              description: The ID of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            lastCharge:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            lastChargeDate:
                              description: The date of the last charge.
                              type: string
                              readOnly: true
                            productType:
                              description: The description of the type of product.
                              type: string
                              readOnly: true
                            productTypeId:
                              description: The ID of the type of product.
                              type: string
                              readOnly: true
                            skuId:
                              description: The sku ID of the product.
                              type: string
                              readOnly: true
                            skuDescription:
                              description: The sku description of the product.
                              type: string
                              readOnly: true
                            purchaseDate:
                              description: The date when the product was purchased.
                              type: string
                              readOnly: true
                            quantity:
                              format: int64
                              description: The quantity purchased for the product.
                              type: integer
                              readOnly: true
                            status:
                              description: The status of the product.
                              enum:
                              - Other
                              - Active
                              - Disabled
                              - Deleted
                              - PastDue
                              - Expiring
                              - Expired
                              - AutoRenew
                              - Canceled
                              - Suspended
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProductStatus
                                modelAsString: true
                            tenantId:
                              description: The id of the tenant in which the product
                                is used.
                              type: string
                              readOnly: true
                            reseller:
                              type: object
                              properties:
                                resellerId:
                                  description: The MPN ID of the reseller.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The name of the reseller.
                                  type: string
                                  readOnly: true
                              description: Details of the reseller.
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/products:
    get:
      tags:
      - Product
      description: Lists the products for a billing profile. These don't include products
        billed based on usage. The operation is supported for billing accounts with
        agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_ListByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of products. It contains a list of available product
            summaries in reverse chronological order by purchase date.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A product.
                          type: object
                          properties:
                            autoRenew:
                              description: Indicates whether auto renewal is turned
                                on or off for a product.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              x-ms-enum:
                                name: AutoRenew
                                modelAsString: true
                            availabilityId:
                              description: The availability of the product.
                              type: string
                              readOnly: true
                            billingFrequency:
                              description: The frequency at which the product will
                                be billed.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            customerId:
                              description: The ID of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            displayName:
                              description: The display name of the product.
                              type: string
                              readOnly: true
                            endDate:
                              description: The date when the product will be renewed
                                or canceled.
                              type: string
                              readOnly: true
                            invoiceSectionId:
                              description: The ID of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            lastCharge:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            lastChargeDate:
                              description: The date of the last charge.
                              type: string
                              readOnly: true
                            productType:
                              description: The description of the type of product.
                              type: string
                              readOnly: true
                            productTypeId:
                              description: The ID of the type of product.
                              type: string
                              readOnly: true
                            skuId:
                              description: The sku ID of the product.
                              type: string
                              readOnly: true
                            skuDescription:
                              description: The sku description of the product.
                              type: string
                              readOnly: true
                            purchaseDate:
                              description: The date when the product was purchased.
                              type: string
                              readOnly: true
                            quantity:
                              format: int64
                              description: The quantity purchased for the product.
                              type: integer
                              readOnly: true
                            status:
                              description: The status of the product.
                              enum:
                              - Other
                              - Active
                              - Disabled
                              - Deleted
                              - PastDue
                              - Expiring
                              - Expired
                              - AutoRenew
                              - Canceled
                              - Suspended
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProductStatus
                                modelAsString: true
                            tenantId:
                              description: The id of the tenant in which the product
                                is used.
                              type: string
                              readOnly: true
                            reseller:
                              type: object
                              properties:
                                resellerId:
                                  description: The MPN ID of the reseller.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The name of the reseller.
                                  type: string
                                  readOnly: true
                              description: Details of the reseller.
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/products:
    get:
      tags:
      - Product
      description: Lists the products for a customer. These don't include products
        billed based on usage.The operation is supported only for billing accounts
        with agreement type Microsoft Partner Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_ListByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of products. It contains a list of available product
            summaries in reverse chronological order by purchase date.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A product.
                          type: object
                          properties:
                            autoRenew:
                              description: Indicates whether auto renewal is turned
                                on or off for a product.
                              enum:
                              - 'Off'
                              - 'On'
                              type: string
                              x-ms-enum:
                                name: AutoRenew
                                modelAsString: true
                            availabilityId:
                              description: The availability of the product.
                              type: string
                              readOnly: true
                            billingFrequency:
                              description: The frequency at which the product will
                                be billed.
                              type: string
                              readOnly: true
                            billingProfileId:
                              description: The ID of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            billingProfileDisplayName:
                              description: The name of the billing profile to which
                                the product is billed.
                              type: string
                              readOnly: true
                            customerId:
                              description: The ID of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer for whom the product
                                was purchased. The field is applicable only for Microsoft
                                Partner Agreement billing account.
                              type: string
                              readOnly: true
                            displayName:
                              description: The display name of the product.
                              type: string
                              readOnly: true
                            endDate:
                              description: The date when the product will be renewed
                                or canceled.
                              type: string
                              readOnly: true
                            invoiceSectionId:
                              description: The ID of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            invoiceSectionDisplayName:
                              description: The name of the invoice section to which
                                the product is billed.
                              type: string
                              readOnly: true
                            lastCharge:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            lastChargeDate:
                              description: The date of the last charge.
                              type: string
                              readOnly: true
                            productType:
                              description: The description of the type of product.
                              type: string
                              readOnly: true
                            productTypeId:
                              description: The ID of the type of product.
                              type: string
                              readOnly: true
                            skuId:
                              description: The sku ID of the product.
                              type: string
                              readOnly: true
                            skuDescription:
                              description: The sku description of the product.
                              type: string
                              readOnly: true
                            purchaseDate:
                              description: The date when the product was purchased.
                              type: string
                              readOnly: true
                            quantity:
                              format: int64
                              description: The quantity purchased for the product.
                              type: integer
                              readOnly: true
                            status:
                              description: The status of the product.
                              enum:
                              - Other
                              - Active
                              - Disabled
                              - Deleted
                              - PastDue
                              - Expiring
                              - Expired
                              - AutoRenew
                              - Canceled
                              - Suspended
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProductStatus
                                modelAsString: true
                            tenantId:
                              description: The id of the tenant in which the product
                                is used.
                              type: string
                              readOnly: true
                            reseller:
                              type: object
                              properties:
                                resellerId:
                                  description: The MPN ID of the reseller.
                                  type: string
                                  readOnly: true
                                description:
                                  description: The name of the reseller.
                                  type: string
                                  readOnly: true
                              description: Details of the reseller.
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products/{productName}/move:
    post:
      tags:
      - Product
      description: Moves a product's charges to a new invoice section. The new invoice
        section must belong to the same billing profile as the existing invoice section.
        This operation is supported only for products that are purchased with a recurring
        charge and for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_Move
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: productName
        description: The ID that uniquely identifies a product.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The properties of the product to initiate a transfer.
              required:
              - destinationInvoiceSectionId
              type: object
              properties:
                destinationInvoiceSectionId:
                  description: The destination invoice section id.
                  minLength: 1
                  type: string
        description: The properties of the product to initiate a transfer.
        required: true
      responses:
        '200':
          description: A product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A product.
                    type: object
                    properties:
                      autoRenew:
                        description: Indicates whether auto renewal is turned on or
                          off for a product.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        x-ms-enum:
                          name: AutoRenew
                          modelAsString: true
                      availabilityId:
                        description: The availability of the product.
                        type: string
                        readOnly: true
                      billingFrequency:
                        description: The frequency at which the product will be billed.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The ID of the billing profile to which the product
                          is billed.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile to which the
                          product is billed.
                        type: string
                        readOnly: true
                      customerId:
                        description: The ID of the customer for whom the product was
                          purchased. The field is applicable only for Microsoft Partner
                          Agreement billing account.
                        type: string
                        readOnly: true
                      customerDisplayName:
                        description: The name of the customer for whom the product
                          was purchased. The field is applicable only for Microsoft
                          Partner Agreement billing account.
                        type: string
                        readOnly: true
                      displayName:
                        description: The display name of the product.
                        type: string
                        readOnly: true
                      endDate:
                        description: The date when the product will be renewed or
                          canceled.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The ID of the invoice section to which the product
                          is billed.
                        type: string
                        readOnly: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section to which the
                          product is billed.
                        type: string
                        readOnly: true
                      lastCharge:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      lastChargeDate:
                        description: The date of the last charge.
                        type: string
                        readOnly: true
                      productType:
                        description: The description of the type of product.
                        type: string
                        readOnly: true
                      productTypeId:
                        description: The ID of the type of product.
                        type: string
                        readOnly: true
                      skuId:
                        description: The sku ID of the product.
                        type: string
                        readOnly: true
                      skuDescription:
                        description: The sku description of the product.
                        type: string
                        readOnly: true
                      purchaseDate:
                        description: The date when the product was purchased.
                        type: string
                        readOnly: true
                      quantity:
                        format: int64
                        description: The quantity purchased for the product.
                        type: integer
                        readOnly: true
                      status:
                        description: The status of the product.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Deleted
                        - PastDue
                        - Expiring
                        - Expired
                        - AutoRenew
                        - Canceled
                        - Suspended
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProductStatus
                          modelAsString: true
                      tenantId:
                        description: The id of the tenant in which the product is
                          used.
                        type: string
                        readOnly: true
                      reseller:
                        type: object
                        properties:
                          resellerId:
                            description: The MPN ID of the reseller.
                            type: string
                            readOnly: true
                          description:
                            description: The name of the reseller.
                            type: string
                            readOnly: true
                        description: Details of the reseller.
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: An operation accepted result that returns a 'Location' header
            that the client can poll to view the result of the operation.
          headers:
            Location:
              schema:
                type: string
            Retry-After:
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products/{productName}/validateMoveEligibility:
    post:
      tags:
      - Product
      description: Validates if a product's charges can be moved to a new invoice
        section. This operation is supported only for products that are purchased
        with a recurring charge and for billing accounts with agreement type Microsoft
        Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_ValidateMoveEligibility
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: productName
        description: The ID that uniquely identifies a product.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The properties of the product to initiate a transfer.
              required:
              - destinationInvoiceSectionId
              type: object
              properties:
                destinationInvoiceSectionId:
                  description: The destination invoice section id.
                  minLength: 1
                  type: string
        description: The properties of the product to initiate a transfer.
        required: true
      responses:
        '200':
          description: Result of the transfer eligibility validation.
          content:
            application/json:
              schema:
                description: Result of the transfer eligibility validation.
                type: object
                properties:
                  isMoveEligible:
                    description: Specifies whether the subscription is eligible to
                      be transferred.
                    type: boolean
                  errorDetails:
                    type: object
                    properties:
                      code:
                        description: Error code for the product transfer validation.
                        enum:
                        - Other
                        - BillingAccountInactive
                        - DestinationBillingProfileInactive
                        - DestinationBillingProfileNotFound
                        - DestinationBillingProfilePastDue
                        - DestinationInvoiceSectionInactive
                        - DestinationInvoiceSectionNotFound
                        - InsufficientPermissionOnDestination
                        - InsufficientPermissionOnSource
                        - InvalidDestination
                        - InvalidSource
                        - MarketplaceNotEnabledOnDestination
                        - ProductInactive
                        - ProductNotFound
                        - ProductTypeNotSupported
                        - SourceBillingProfilePastDue
                        - SourceInvoiceSectionInactive
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: MoveValidationErrorCode
                          modelAsString: true
                      message:
                        description: The error message.
                        type: string
                        readOnly: true
                      details:
                        description: Error details of the transfer eligibility validation.
                        type: string
                        readOnly: true
                    description: Error details of the transfer eligibility validation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products/{productName}:
    get:
      tags:
      - Product
      description: Gets a product by ID. The operation is supported only for billing
        accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Products_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: productName
        description: The ID that uniquely identifies a product.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: A product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: A product.
                    type: object
                    properties:
                      autoRenew:
                        description: Indicates whether auto renewal is turned on or
                          off for a product.
                        enum:
                        - 'Off'
                        - 'On'
                        type: string
                        x-ms-enum:
                          name: AutoRenew
                          modelAsString: true
                      availabilityId:
                        description: The availability of the product.
                        type: string
                        readOnly: true
                      billingFrequency:
                        description: The frequency at which the product will be billed.
                        type: string
                        readOnly: true
                      billingProfileId:
                        description: The ID of the billing profile to which the product
                          is billed.
                        type: string
                        readOnly: true
                      billingProfileDisplayName:
                        description: The name of the billing profile to which the
                          product is billed.
                        type: string
                        readOnly: true
                      customerId:
                        description: The ID of the customer for whom the product was
                          purchased. The field is applicable only for Microsoft Partner
                          Agreement billing account.
                        type: string
                        readOnly: true
                      customerDisplayName:
                        description: The name of the customer for whom the product
                          was purchased. The field is applicable only for Microsoft
                          Partner Agreement billing account.
                        type: string
                        readOnly: true
                      displayName:
                        description: The display name of the product.
                        type: string
                        readOnly: true
                      endDate:
                        description: The date when the product will be renewed or
                          canceled.
                        type: string
                        readOnly: true
                      invoiceSectionId:
                        description: The ID of the invoice section to which the product
                          is billed.
                        type: string
                        readOnly: true
                      invoiceSectionDisplayName:
                        description: The name of the invoice section to which the
                          product is billed.
                        type: string
                        readOnly: true
                      lastCharge:
                        type: object
                        properties:
                          currency:
                            description: The currency for the amount value.
                            type: string
                            readOnly: true
                          value:
                            description: The amount value. For example, if the currency
                              is USD, then a value of 600 would be $600.00.
                            type: number
                            readOnly: true
                        description: The amount.
                        readOnly: true
                      lastChargeDate:
                        description: The date of the last charge.
                        type: string
                        readOnly: true
                      productType:
                        description: The description of the type of product.
                        type: string
                        readOnly: true
                      productTypeId:
                        description: The ID of the type of product.
                        type: string
                        readOnly: true
                      skuId:
                        description: The sku ID of the product.
                        type: string
                        readOnly: true
                      skuDescription:
                        description: The sku description of the product.
                        type: string
                        readOnly: true
                      purchaseDate:
                        description: The date when the product was purchased.
                        type: string
                        readOnly: true
                      quantity:
                        format: int64
                        description: The quantity purchased for the product.
                        type: integer
                        readOnly: true
                      status:
                        description: The status of the product.
                        enum:
                        - Other
                        - Active
                        - Disabled
                        - Deleted
                        - PastDue
                        - Expiring
                        - Expired
                        - AutoRenew
                        - Canceled
                        - Suspended
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProductStatus
                          modelAsString: true
                      tenantId:
                        description: The id of the tenant in which the product is
                          used.
                        type: string
                        readOnly: true
                      reseller:
                        type: object
                        properties:
                          resellerId:
                            description: The MPN ID of the reseller.
                            type: string
                            readOnly: true
                          description:
                            description: The name of the reseller.
                            type: string
                            readOnly: true
                        description: Details of the reseller.
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
[...]
