openapi: 3.0.0
info:
  description: Billing client provides access to billing resources for Azure subscriptions.
  title: BillingManagementClient
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/reservations:
    get:
      description: Lists the reservations in the billing account and the roll up counts
        of reservations group by provisioning states.
      operationId: Reservations_ListByBillingAccount
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: skiptoken
        description: The number of reservations to skip from the list before returning
          results
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      - name: refreshSummary
        description: To indicate whether to refresh the roll up counts of the reservations
          group by provisioning states
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      - name: selectedState
        description: The selected provisioning state
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      - name: take
        description: The number of reservations to return in API response.
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The list of reservations and summary of roll out count
                  of reservations in each state.
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    readOnly: true
                    type: string
                  summary:
                    description: The roll out count summary of the reservations
                    type: object
                    properties:
                      cancelledCount:
                        description: The number of reservation in Cancelled state
                        readOnly: true
                        type: number
                      expiredCount:
                        description: The number of reservation in Expired state
                        readOnly: true
                        type: number
                      expiringCount:
                        description: The number of reservation in Expiring state
                        readOnly: true
                        type: number
                      failedCount:
                        description: The number of reservation in Failed state
                        readOnly: true
                        type: number
                      pendingCount:
                        description: The number of reservation in Pending state
                        readOnly: true
                        type: number
                      succeededCount:
                        description: The number of reservation in Succeeded state
                        readOnly: true
                        type: number
                      noBenefitCount:
                        description: The number of reservation in 'No Benefit' state
                        readOnly: true
                        type: number
                      warningCount:
                        description: The number of reservation in Warning state
                        readOnly: true
                        type: number
                      processingCount:
                        description: The number of reservation in Processing state
                        readOnly: true
                        type: number
                  value:
                    description: The list of reservations.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          description: The location of the reservation.
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        etag:
                          type: integer
                          format: int32
                        properties:
                          description: The properties associated to this reservation
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            reservedResourceType:
                              description: The reserved source type of the reservation,
                                e.g. virtual machine.
                              readOnly: true
                              type: string
                            instanceFlexibility:
                              description: Allows reservation discount to be applied
                                across skus within the same auto fit group. Not all
                                skus support instance size flexibility.
                              type: string
                              enum:
                              - 'On'
                              - 'Off'
                              x-ms-enum:
                                name: InstanceFlexibility
                                modelAsString: true
                            displayName:
                              description: The display name of the reservation
                              readOnly: true
                              type: string
                            appliedScopes:
                              description: The array of applied scopes of a reservation.
                                Will be null if the reservation is in Shared scope
                              items:
                                description: Reservation applied scope
                                readOnly: true
                                type: string
                              type: array
                            appliedScopeType:
                              description: The applied scope type of the reservation.
                              readOnly: true
                              type: string
                            archived:
                              description: Indicates if the reservation is archived
                              type: boolean
                            capabilities:
                              description: Capabilities of the reservation
                              type: string
                            quantity:
                              description: The number of the reservation.
                              readOnly: true
                              type: number
                            provisioningState:
                              description: The provisioning state of the reservation,
                                e.g. Succeeded
                              readOnly: true
                              type: string
                            effectiveDateTime:
                              description: The effective date time of the reservation
                              readOnly: true
                              type: string
                              format: date-time
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: This is the DateTime when the reservation
                                benefit started.
                            lastUpdatedDateTime:
                              type: string
                              format: date-time
                              description: DateTime of the last time the reservation
                                was updated.
                              readOnly: true
                            expiryDate:
                              description: The expiry date of the reservation
                              readOnly: true
                              type: string
                            expiryDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the reservation
                                will expire.
                            reviewDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the Azure Hybrid
                                Benefit needs to be reviewed.
                            skuDescription:
                              description: The sku description of the reservation
                              readOnly: true
                              type: string
                            extendedStatusInfo:
                              description: The message giving detailed information
                                about the status code.
                              type: object
                              properties:
                                statusCode:
                                  type: string
                                  description: The status of the reservation.
                                  enum:
                                  - None
                                  - Pending
                                  - Processing
                                  - Active
                                  - PurchaseError
                                  - PaymentInstrumentError
                                  - Split
                                  - Merged
                                  - Expired
                                  - Succeeded
                                  - CapacityError
                                  - CapacityRestricted
                                  - Exchanged
                                  - UnknownError
                                  - RiskCheckFailed
                                  - CreditLineCheckFailed
                                  - Warning
                                  - NoBenefitDueToSubscriptionTransfer
                                  - NoBenefitDueToSubscriptionDeletion
                                  - NoBenefit
                                  x-ms-enum:
                                    name: ReservationStatusCode
                                    modelAsString: true
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                                properties:
                                  description: Properties for extended status information
                                  type: object
                                  properties:
                                    subscriptionId:
                                      type: string
                                      description: Subscription Id
                            billingPlan:
                              description: The billing plan options available for
                                this sku.
                              type: string
                              enum:
                              - Upfront
                              - Monthly
                              x-ms-enum:
                                name: ReservationBillingPlan
                                modelAsString: true
                            displayProvisioningState:
                              description: The provisioning state of the reservation
                                for display, e.g. Succeeded
                              readOnly: true
                              type: string
                            provisioningSubState:
                              description: The provisioning state of the reservation,
                                e.g. Succeeded
                              readOnly: true
                              type: string
                            purchaseDate:
                              type: string
                              format: date
                              description: This is the date when the reservation was
                                purchased.
                            purchaseDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the reservation
                                was purchased.
                            splitProperties:
                              type: object
                              description: Properties of reservation split
                              properties:
                                splitDestinations:
                                  type: array
                                  items:
                                    type: string
                                  description: List of destination resource id that
                                    are created due to split. Format of the resource
                                    id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                splitSource:
                                  type: string
                                  description: Resource id of the reservation from
                                    which this is split. Format of the resource id
                                    is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            mergeProperties:
                              type: object
                              description: Properties of reservation merge
                              properties:
                                mergeDestination:
                                  type: string
                                  description: Reservation resource id Created due
                                    to the merge. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                mergeSources:
                                  type: array
                                  items:
                                    type: string
                                  description: Resource ids of the source reservation's
                                    merged to form this reservation. Format of the
                                    resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            swapProperties:
                              type: object
                              description: Properties of reservation swap
                              properties:
                                swapSource:
                                  type: string
                                  description: Resource id of the source reservation
                                    that gets swapped. Format of the resource id is
                                    /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                swapDestination:
                                  type: string
                                  description: Reservation resource id that the original
                                    resource gets swapped to. Format of the resource
                                    id is /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            appliedScopeProperties:
                              type: object
                              description: Properties specific to applied scope type.
                                Not required if not applicable. Required and need
                                to provide tenantId and managementGroupId if AppliedScopeType
                                is ManagementGroup
                              properties:
                                tenantId:
                                  type: string
                                  description: Tenant ID where the reservation should
                                    apply benefit.
                                managementGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the management
                                    group where the benefit must be applied.
                                subscriptionId:
                                  type: string
                                  description: Fully-qualified identifier of the subscription.
                                resourceGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the resource
                                    group.
                                displayName:
                                  type: string
                                  description: Display name
                            billingScopeId:
                              description: Subscription that will be charged for purchasing
                                reservation or savings plan
                              readOnly: true
                              type: string
                            renew:
                              description: The renew state of the reservation
                              readOnly: true
                              type: boolean
                            renewSource:
                              description: The renew source of the reservation
                              readOnly: true
                              type: string
                            renewDestination:
                              type: string
                              description: Reservation Id of the reservation which
                                is purchased because of renew. Format of the resource
                                Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}.
                            renewProperties:
                              type: object
                              description: The renew properties for a reservation.
                              properties:
                                purchaseProperties:
                                  type: object
                                  description: The request for reservation purchase
                                  properties:
                                    sku:
                                      type: object
                                      description: The name of sku
                                      properties:
                                        name:
                                          type: string
                                    location:
                                      type: string
                                      description: The Azure region where the reserved
                                        resource lives.
                                      x-ms-mutability:
                                      - create
                                      - read
                                    properties:
                                      x-ms-client-flatten: true
                                      type: object
                                      description: Properties of reservation purchase
                                        request
                                      properties:
                                        reservedResourceType:
                                          description: The reserved source type of
                                            the reservation, e.g. virtual machine.
                                          readOnly: true
                                          type: string
                                        billingScopeId:
                                          type: string
                                          readOnly: true
                                          description: Subscription that will be charged
                                            for purchasing reservation or savings
                                            plan
                                        term:
                                          description: The term of the reservation,
                                            e.g. P1Y
                                          readOnly: true
                                          type: string
                                        billingPlan:
                                          type: string
                                          description: Represent the billing plans.
                                          enum:
                                          - Upfront
                                          - Monthly
                                          x-ms-enum:
                                            name: ReservationBillingPlan
                                            modelAsString: true
                                        quantity:
                                          type: integer
                                          format: int32
                                          description: Quantity of the skus that are
                                            part of the reservation. Must be greater
                                            than zero.
                                        displayName:
                                          type: string
                                          description: Friendly name of the reservation
                                        appliedScopeType:
                                          type: string
                                          description: Type of the Applied Scope.
                                          enum:
                                          - Single
                                          - Shared
                                          - ManagementGroup
                                          x-ms-enum:
                                            name: AppliedScopeType
                                            modelAsString: true
                                        appliedScopes:
                                          type: array
                                          description: List of the subscriptions that
                                            the benefit will be applied. Do not specify
                                            if AppliedScopeType is Shared.
                                          items:
                                            type: string
                                            minItems: 1
                                            maxItems: 1
                                          x-ms-identifiers: []
                                        appliedScopeProperties:
                                          type: object
                                          description: Properties specific to applied
                                            scope type. Not required if not applicable.
                                            Required and need to provide tenantId
                                            and managementGroupId if AppliedScopeType
                                            is ManagementGroup
                                          properties:
                                            tenantId:
                                              type: string
                                              description: Tenant ID where the reservation
                                                should apply benefit.
                                            managementGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the management group where the
                                                benefit must be applied.
                                            subscriptionId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the subscription.
                                            resourceGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the resource group.
                                            displayName:
                                              type: string
                                              description: Display name
                                        renew:
                                          type: boolean
                                          default: false
                                          description: Setting this to true will automatically
                                            purchase a new reservation on the expiration
                                            date time.
                                        reservedResourceProperties:
                                          type: object
                                          description: Properties specific to each
                                            reserved resource type. Not required if
                                            not applicable.
                                          x-ms-client-flatten: true
                                          properties:
                                            instanceFlexibility:
                                              type: string
                                              description: Turning this on will apply
                                                the reservation discount to other
                                                VMs in the same VM size group. Only
                                                specify for VirtualMachines reserved
                                                resource type.
                                              enum:
                                              - 'On'
                                              - 'Off'
                                              x-ms-enum:
                                                name: InstanceFlexibility
                                                modelAsString: true
                                        instanceFlexibility:
                                          description: Allows reservation discount
                                            to be applied across skus within the same
                                            auto fit group. Not all skus support instance
                                            size flexibility.
                                          type: string
                                          enum:
                                          - 'On'
                                          - 'Off'
                                          x-ms-enum:
                                            name: InstanceFlexibility
                                            modelAsString: true
                                        reviewDateTime:
                                          type: string
                                          format: date-time
                                          description: This is the date-time when
                                            the Azure hybrid benefit needs to be reviewed.
                                pricingCurrencyTotal:
                                  description: Amount that Microsoft uses for record.
                                    Used during refund for calculating refund limit.
                                    Tax is not included. This is locked price 30 days
                                    before expiry.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                billingCurrencyTotal:
                                  description: Currency and amount that customer will
                                    be charged in customer's local currency for renewal
                                    purchase. Tax is not included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                            term:
                              description: The term of the reservation, e.g. P1Y
                              readOnly: true
                              type: string
                            userFriendlyAppliedScopeType:
                              description: The applied scope type of the reservation
                                for display, e.g. Shared
                              readOnly: true
                              type: string
                            userFriendlyRenewState:
                              description: The renew state of the reservation for
                                display, e.g. On
                              readOnly: true
                              type: string
                            utilization:
                              readOnly: true
                              type: object
                              description: Reservation utilization
                              x-ms-client-flatten: true
                              properties:
                                trend:
                                  description: last 7 day utilization trend for a
                                    reservation
                                  readOnly: true
                                  type: string
                                aggregates:
                                  description: The array of aggregates of a reservation's
                                    utilization
                                  type: array
                                  items:
                                    description: The aggregate values of reservation
                                      utilization
                                    properties:
                                      grain:
                                        description: The grain of the aggregate
                                        readOnly: true
                                        type: number
                                      grainUnit:
                                        description: The grain unit of the aggregate
                                        readOnly: true
                                        type: string
                                      value:
                                        description: The aggregate value
                                        readOnly: true
                                        type: number
                                      valueUnit:
                                        description: The aggregate value unit
                                        readOnly: true
                                        type: string
                                    type: object
                                  x-ms-identifiers: []
                            productCode:
                              type: string
                              description: Represents UPN
                        tags:
                          description: Tags for this reservation
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        sku:
                          description: The sku information associated to this reservation
                          type: object
                          properties:
                            name:
                              description: The name of the reservation sku.
                              readOnly: true
                              type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    type: array
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      tags:
      - Reservations
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/reservations:
    get:
      tags:
      - Reservations
      operationId: Reservations_ListByBillingProfile
      description: Lists the reservations for a billing profile and the roll up counts
        of reservations group by provisioning state.
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: skiptoken
        description: The number of reservations to skip from the list before returning
          results
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      - name: refreshSummary
        description: To indicate whether to refresh the roll up counts of the reservations
          group by provisioning states
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      - name: selectedState
        description: The selected provisioning state
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      - name: take
        description: The number of reservations to return in API response.
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: number
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The list of reservations and summary of roll out count
                  of reservations in each state.
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    readOnly: true
                    type: string
                  summary:
                    description: The roll out count summary of the reservations
                    type: object
                    properties:
                      cancelledCount:
                        description: The number of reservation in Cancelled state
                        readOnly: true
                        type: number
                      expiredCount:
                        description: The number of reservation in Expired state
                        readOnly: true
                        type: number
                      expiringCount:
                        description: The number of reservation in Expiring state
                        readOnly: true
                        type: number
                      failedCount:
                        description: The number of reservation in Failed state
                        readOnly: true
                        type: number
                      pendingCount:
                        description: The number of reservation in Pending state
                        readOnly: true
                        type: number
                      succeededCount:
                        description: The number of reservation in Succeeded state
                        readOnly: true
                        type: number
                      noBenefitCount:
                        description: The number of reservation in 'No Benefit' state
                        readOnly: true
                        type: number
                      warningCount:
                        description: The number of reservation in Warning state
                        readOnly: true
                        type: number
                      processingCount:
                        description: The number of reservation in Processing state
                        readOnly: true
                        type: number
                  value:
                    description: The list of reservations.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          description: The location of the reservation.
                          type: string
                          x-ms-mutability:
                          - create
                          - read
                        etag:
                          type: integer
                          format: int32
                        properties:
                          description: The properties associated to this reservation
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            reservedResourceType:
                              description: The reserved source type of the reservation,
                                e.g. virtual machine.
                              readOnly: true
                              type: string
                            instanceFlexibility:
                              description: Allows reservation discount to be applied
                                across skus within the same auto fit group. Not all
                                skus support instance size flexibility.
                              type: string
                              enum:
                              - 'On'
                              - 'Off'
                              x-ms-enum:
                                name: InstanceFlexibility
                                modelAsString: true
                            displayName:
                              description: The display name of the reservation
                              readOnly: true
                              type: string
                            appliedScopes:
                              description: The array of applied scopes of a reservation.
                                Will be null if the reservation is in Shared scope
                              items:
                                description: Reservation applied scope
                                readOnly: true
                                type: string
                              type: array
                            appliedScopeType:
                              description: The applied scope type of the reservation.
                              readOnly: true
                              type: string
                            archived:
                              description: Indicates if the reservation is archived
                              type: boolean
                            capabilities:
                              description: Capabilities of the reservation
                              type: string
                            quantity:
                              description: The number of the reservation.
                              readOnly: true
                              type: number
                            provisioningState:
                              description: The provisioning state of the reservation,
                                e.g. Succeeded
                              readOnly: true
                              type: string
                            effectiveDateTime:
                              description: The effective date time of the reservation
                              readOnly: true
                              type: string
                              format: date-time
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: This is the DateTime when the reservation
                                benefit started.
                            lastUpdatedDateTime:
                              type: string
                              format: date-time
                              description: DateTime of the last time the reservation
                                was updated.
                              readOnly: true
                            expiryDate:
                              description: The expiry date of the reservation
                              readOnly: true
                              type: string
                            expiryDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the reservation
                                will expire.
                            reviewDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the Azure Hybrid
                                Benefit needs to be reviewed.
                            skuDescription:
                              description: The sku description of the reservation
                              readOnly: true
                              type: string
                            extendedStatusInfo:
                              description: The message giving detailed information
                                about the status code.
                              type: object
                              properties:
                                statusCode:
                                  type: string
                                  description: The status of the reservation.
                                  enum:
                                  - None
                                  - Pending
                                  - Processing
                                  - Active
                                  - PurchaseError
                                  - PaymentInstrumentError
                                  - Split
                                  - Merged
                                  - Expired
                                  - Succeeded
                                  - CapacityError
                                  - CapacityRestricted
                                  - Exchanged
                                  - UnknownError
                                  - RiskCheckFailed
                                  - CreditLineCheckFailed
                                  - Warning
                                  - NoBenefitDueToSubscriptionTransfer
                                  - NoBenefitDueToSubscriptionDeletion
                                  - NoBenefit
                                  x-ms-enum:
                                    name: ReservationStatusCode
                                    modelAsString: true
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                                properties:
                                  description: Properties for extended status information
                                  type: object
                                  properties:
                                    subscriptionId:
                                      type: string
                                      description: Subscription Id
                            billingPlan:
                              description: The billing plan options available for
                                this sku.
                              type: string
                              enum:
                              - Upfront
                              - Monthly
                              x-ms-enum:
                                name: ReservationBillingPlan
                                modelAsString: true
                            displayProvisioningState:
                              description: The provisioning state of the reservation
                                for display, e.g. Succeeded
                              readOnly: true
                              type: string
                            provisioningSubState:
                              description: The provisioning state of the reservation,
                                e.g. Succeeded
                              readOnly: true
                              type: string
                            purchaseDate:
                              type: string
                              format: date
                              description: This is the date when the reservation was
                                purchased.
                            purchaseDateTime:
                              type: string
                              format: date-time
                              description: This is the date-time when the reservation
                                was purchased.
                            splitProperties:
                              type: object
                              description: Properties of reservation split
                              properties:
                                splitDestinations:
                                  type: array
                                  items:
                                    type: string
                                  description: List of destination resource id that
                                    are created due to split. Format of the resource
                                    id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                splitSource:
                                  type: string
                                  description: Resource id of the reservation from
                                    which this is split. Format of the resource id
                                    is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            mergeProperties:
                              type: object
                              description: Properties of reservation merge
                              properties:
                                mergeDestination:
                                  type: string
                                  description: Reservation resource id Created due
                                    to the merge. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                mergeSources:
                                  type: array
                                  items:
                                    type: string
                                  description: Resource ids of the source reservation's
                                    merged to form this reservation. Format of the
                                    resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            swapProperties:
                              type: object
                              description: Properties of reservation swap
                              properties:
                                swapSource:
                                  type: string
                                  description: Resource id of the source reservation
                                    that gets swapped. Format of the resource id is
                                    /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                                swapDestination:
                                  type: string
                                  description: Reservation resource id that the original
                                    resource gets swapped to. Format of the resource
                                    id is /providers/microsoft.capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                            appliedScopeProperties:
                              type: object
                              description: Properties specific to applied scope type.
                                Not required if not applicable. Required and need
                                to provide tenantId and managementGroupId if AppliedScopeType
                                is ManagementGroup
                              properties:
                                tenantId:
                                  type: string
                                  description: Tenant ID where the reservation should
                                    apply benefit.
                                managementGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the management
                                    group where the benefit must be applied.
                                subscriptionId:
                                  type: string
                                  description: Fully-qualified identifier of the subscription.
                                resourceGroupId:
                                  type: string
                                  description: Fully-qualified identifier of the resource
                                    group.
                                displayName:
                                  type: string
                                  description: Display name
                            billingScopeId:
                              description: Subscription that will be charged for purchasing
                                reservation or savings plan
                              readOnly: true
                              type: string
                            renew:
                              description: The renew state of the reservation
                              readOnly: true
                              type: boolean
                            renewSource:
                              description: The renew source of the reservation
                              readOnly: true
                              type: string
                            renewDestination:
                              type: string
                              description: Reservation Id of the reservation which
                                is purchased because of renew. Format of the resource
                                Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}.
                            renewProperties:
                              type: object
                              description: The renew properties for a reservation.
                              properties:
                                purchaseProperties:
                                  type: object
                                  description: The request for reservation purchase
                                  properties:
                                    sku:
                                      type: object
                                      description: The name of sku
                                      properties:
                                        name:
                                          type: string
                                    location:
                                      type: string
                                      description: The Azure region where the reserved
                                        resource lives.
                                      x-ms-mutability:
                                      - create
                                      - read
                                    properties:
                                      x-ms-client-flatten: true
                                      type: object
                                      description: Properties of reservation purchase
                                        request
                                      properties:
                                        reservedResourceType:
                                          description: The reserved source type of
                                            the reservation, e.g. virtual machine.
                                          readOnly: true
                                          type: string
                                        billingScopeId:
                                          type: string
                                          readOnly: true
                                          description: Subscription that will be charged
                                            for purchasing reservation or savings
                                            plan
                                        term:
                                          description: The term of the reservation,
                                            e.g. P1Y
                                          readOnly: true
                                          type: string
                                        billingPlan:
                                          type: string
                                          description: Represent the billing plans.
                                          enum:
                                          - Upfront
                                          - Monthly
                                          x-ms-enum:
                                            name: ReservationBillingPlan
                                            modelAsString: true
                                        quantity:
                                          type: integer
                                          format: int32
                                          description: Quantity of the skus that are
                                            part of the reservation. Must be greater
                                            than zero.
                                        displayName:
                                          type: string
                                          description: Friendly name of the reservation
                                        appliedScopeType:
                                          type: string
                                          description: Type of the Applied Scope.
                                          enum:
                                          - Single
                                          - Shared
                                          - ManagementGroup
                                          x-ms-enum:
                                            name: AppliedScopeType
                                            modelAsString: true
                                        appliedScopes:
                                          type: array
                                          description: List of the subscriptions that
                                            the benefit will be applied. Do not specify
                                            if AppliedScopeType is Shared.
                                          items:
                                            type: string
                                            minItems: 1
                                            maxItems: 1
                                          x-ms-identifiers: []
                                        appliedScopeProperties:
                                          type: object
                                          description: Properties specific to applied
                                            scope type. Not required if not applicable.
                                            Required and need to provide tenantId
                                            and managementGroupId if AppliedScopeType
                                            is ManagementGroup
                                          properties:
                                            tenantId:
                                              type: string
                                              description: Tenant ID where the reservation
                                                should apply benefit.
                                            managementGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the management group where the
                                                benefit must be applied.
                                            subscriptionId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the subscription.
                                            resourceGroupId:
                                              type: string
                                              description: Fully-qualified identifier
                                                of the resource group.
                                            displayName:
                                              type: string
                                              description: Display name
                                        renew:
                                          type: boolean
                                          default: false
                                          description: Setting this to true will automatically
                                            purchase a new reservation on the expiration
                                            date time.
                                        reservedResourceProperties:
                                          type: object
                                          description: Properties specific to each
                                            reserved resource type. Not required if
                                            not applicable.
                                          x-ms-client-flatten: true
                                          properties:
                                            instanceFlexibility:
                                              type: string
                                              description: Turning this on will apply
                                                the reservation discount to other
                                                VMs in the same VM size group. Only
                                                specify for VirtualMachines reserved
                                                resource type.
                                              enum:
                                              - 'On'
                                              - 'Off'
                                              x-ms-enum:
                                                name: InstanceFlexibility
                                                modelAsString: true
                                        instanceFlexibility:
                                          description: Allows reservation discount
                                            to be applied across skus within the same
                                            auto fit group. Not all skus support instance
                                            size flexibility.
                                          type: string
                                          enum:
                                          - 'On'
                                          - 'Off'
                                          x-ms-enum:
                                            name: InstanceFlexibility
                                            modelAsString: true
                                        reviewDateTime:
                                          type: string
                                          format: date-time
                                          description: This is the date-time when
                                            the Azure hybrid benefit needs to be reviewed.
                                pricingCurrencyTotal:
                                  description: Amount that Microsoft uses for record.
                                    Used during refund for calculating refund limit.
                                    Tax is not included. This is locked price 30 days
                                    before expiry.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                billingCurrencyTotal:
                                  description: Currency and amount that customer will
                                    be charged in customer's local currency for renewal
                                    purchase. Tax is not included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                            term:
                              description: The term of the reservation, e.g. P1Y
                              readOnly: true
                              type: string
                            userFriendlyAppliedScopeType:
                              description: The applied scope type of the reservation
                                for display, e.g. Shared
                              readOnly: true
                              type: string
                            userFriendlyRenewState:
                              description: The renew state of the reservation for
                                display, e.g. On
                              readOnly: true
                              type: string
                            utilization:
                              readOnly: true
                              type: object
                              description: Reservation utilization
                              x-ms-client-flatten: true
                              properties:
                                trend:
                                  description: last 7 day utilization trend for a
                                    reservation
                                  readOnly: true
                                  type: string
                                aggregates:
                                  description: The array of aggregates of a reservation's
                                    utilization
                                  type: array
                                  items:
                                    description: The aggregate values of reservation
                                      utilization
                                    properties:
                                      grain:
                                        description: The grain of the aggregate
                                        readOnly: true
                                        type: number
                                      grainUnit:
                                        description: The grain unit of the aggregate
                                        readOnly: true
                                        type: string
                                      value:
                                        description: The aggregate value
                                        readOnly: true
                                        type: number
                                      valueUnit:
                                        description: The aggregate value unit
                                        readOnly: true
                                        type: string
                                    type: object
                                  x-ms-identifiers: []
                            productCode:
                              type: string
                              description: Represents UPN
                        tags:
                          description: Tags for this reservation
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        sku:
                          description: The sku information associated to this reservation
                          type: object
                          properties:
                            name:
                              description: The name of the reservation sku.
                              readOnly: true
                              type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    type: array
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/reservationOrders/{reservationOrderId}/reservations/{reservationId}
  : get:
      summary: Get Reservation details in the billing account.
      description: Get specific Reservation details in the billing account.
      operationId: Reservations_GetByReservationOrder
      parameters:
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - name: reservationOrderId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Order Id of the reservation
        schema:
          type: string
      - name: reservationId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Id of the reservation item
        schema:
          type: string
      - name: expand
        description: May be used to expand the detail information of some properties.
        in: query
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
      tags:
      - Reservation
      responses:
        '200':
          description: Get `Reservation` details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    description: The location of the reservation.
                    type: string
                    x-ms-mutability:
                    - create
                    - read
                  etag:
                    type: integer
                    format: int32
                  properties:
                    description: The properties associated to this reservation
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      reservedResourceType:
                        description: The reserved source type of the reservation,
                          e.g. virtual machine.
                        readOnly: true
                        type: string
                      instanceFlexibility:
                        description: Allows reservation discount to be applied across
                          skus within the same auto fit group. Not all skus support
                          instance size flexibility.
                        type: string
                        enum:
                        - 'On'
                        - 'Off'
                        x-ms-enum:
                          name: InstanceFlexibility
                          modelAsString: true
                      displayName:
                        description: The display name of the reservation
                        readOnly: true
                        type: string
                      appliedScopes:
                        description: The array of applied scopes of a reservation.
                          Will be null if the reservation is in Shared scope
                        items:
                          description: Reservation applied scope
                          readOnly: true
                          type: string
                        type: array
                      appliedScopeType:
                        description: The applied scope type of the reservation.
                        readOnly: true
                        type: string
                      archived:
                        description: Indicates if the reservation is archived
                        type: boolean
                      capabilities:
                        description: Capabilities of the reservation
                        type: string
                      quantity:
                        description: The number of the reservation.
                        readOnly: true
                        type: number
                      provisioningState:
                        description: The provisioning state of the reservation, e.g.
                          Succeeded
                        readOnly: true
                        type: string
                      effectiveDateTime:
                        description: The effective date time of the reservation
                        readOnly: true
                        type: string
                        format: date-time
                      benefitStartTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the reservation benefit
                          started.
                      lastUpdatedDateTime:
                        type: string
                        format: date-time
                        description: DateTime of the last time the reservation was
                          updated.
                        readOnly: true
                      expiryDate:
                        description: The expiry date of the reservation
                        readOnly: true
                        type: string
                      expiryDateTime:
                        type: string
                        format: date-time
                        description: This is the date-time when the reservation will
                          expire.
                      reviewDateTime:
                        type: string
                        format: date-time
                        description: This is the date-time when the Azure Hybrid Benefit
                          needs to be reviewed.
                      skuDescription:
                        description: The sku description of the reservation
                        readOnly: true
                        type: string
                      extendedStatusInfo:
                        description: The message giving detailed information about
                          the status code.
                        type: object
                        properties:
                          statusCode:
                            type: string
                            description: The status of the reservation.
                            enum:
                            - None
                            - Pending
                            - Processing
                            - Active
                            - PurchaseError
                            - PaymentInstrumentError
                            - Split
                            - Merged
                            - Expired
                            - Succeeded
                            - CapacityError
                            - CapacityRestricted
                            - Exchanged
                            - UnknownError
                            - RiskCheckFailed
                            - CreditLineCheckFailed
                            - Warning
                            - NoBenefitDueToSubscriptionTransfer
                            - NoBenefitDueToSubscriptionDeletion
                            - NoBenefit
                            x-ms-enum:
                              name: ReservationStatusCode
                              modelAsString: true
                          message:
                            type: string
                            description: The message giving detailed information about
                              the status code.
                          properties:
                            description: Properties for extended status information
                            type: object
                            properties:
                              subscriptionId:
                                type: string
                                description: Subscription Id
                      billingPlan:
                        description: The billing plan options available for this sku.
                        type: string
                        enum:
                        - Upfront
                        - Monthly
                        x-ms-enum:
                          name: ReservationBillingPlan
                          modelAsString: true
                      displayProvisioningState:
                        description: The provisioning state of the reservation for
                          display, e.g. Succeeded
                        readOnly: true
                        type: string
                      provisioningSubState:
                        description: The provisioning state of the reservation, e.g.
                          Succeeded
                        readOnly: true
                        type: string
                      purchaseDate:
                        type: string
                        format: date
                        description: This is the date when the reservation was purchased.
                      purchaseDateTime:
                        type: string
                        format: date-time
                        description: This is the date-time when the reservation was
                          purchased.
                      splitProperties:
                        type: object
                        description: Properties of reservation split
                        properties:
                          splitDestinations:
                            type: array
                            items:
                              type: string
                            description: List of destination resource id that are
                              created due to split. Format of the resource id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}
                          splitSource:
                            type: string
[...]
