openapi: 3.0.0
info:
  version: 2024-04-01
  title: BillingManagementClient
  description: Billing client provides access to billing resources for Azure subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transfers/{transferName}
  : get:
      tags:
      - Transfers
      description: Gets a transfer request by ID. The operation is supported only
        for billing accounts with agreement type Microsoft Customer Agreement.
      operationId: Transfers_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - name: transferName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a transfer request.
        schema:
          type: string
          pattern: ^[a-z0-9]*$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Details of transfer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Transfers
      description: Sends a request to a user in another billing account to transfer
        billing ownership of their subscriptions. The operation is supported only
        for billing accounts with agreement type Microsoft Customer Agreement.
      operationId: Transfers_Initiate
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - name: transferName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a transfer request.
        schema:
          type: string
          pattern: ^[a-z0-9]*$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request parameters to initiate transfer.
              properties:
                properties:
                  description: Request parameters to initiate transfer.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    recipientEmailId:
                      type: string
                      description: The email ID of the recipient to whom the transfer
                        request is sent.
        description: Request parameters that are provided to the initiate transfer
          operation.
        required: true
      responses:
        '200':
          description: Initiated transfer details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Initiated transfer details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transfers/{transferName}/cancel
  : post:
      tags:
      - Transfers
      description: Cancels a transfer request. The operation is supported only for
        billing accounts with agreement type Microsoft Customer Agreement.
      operationId: Transfers_Cancel
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - name: transferName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a transfer request.
        schema:
          type: string
          pattern: ^[a-z0-9]*$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Details of canceled transfer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transfers
  : get:
      tags:
      - Transfers
      description: Lists the transfer requests for an invoice section. The operation
        is supported only for billing accounts with agreement type Microsoft Customer
        Agreement.
      operationId: Transfers_List
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: List of transfers initiated from this invoice section.
          content:
            application/json:
              schema:
                type: object
                description: The list of transfers initiated by caller.
                properties:
                  value:
                    description: The list of transfers initiated by caller.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Details of the transfer.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            expirationTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The time at which the transfer request
                                expires.
                            transferStatus:
                              type: string
                              description: Overall transfer status.
                              readOnly: true
                              enum:
                              - Expired
                              - Pending
                              - InProgress
                              - Completed
                              - CompletedWithErrors
                              - Failed
                              - Canceled
                              - Declined
                              x-ms-enum:
                                name: transferStatus
                                modelAsString: true
                            recipientEmailId:
                              type: string
                              readOnly: true
                              description: The email ID of the user to whom the transfer
                                request was sent.
                            initiatorEmailId:
                              type: string
                              readOnly: true
                              description: The email ID of the user who sent the transfer
                                request.
                            canceledBy:
                              type: string
                              readOnly: true
                              description: The email ID of the user who canceled the
                                transfer request.
                            detailedTransferStatus:
                              type: array
                              readOnly: true
                              description: Detailed transfer status.
                              items:
                                type: object
                                description: Detailed transfer status.
                                properties:
                                  productType:
                                    type: string
                                    readOnly: true
                                    description: Type of product that is transferred.
                                    enum:
                                    - AzureSubscription
                                    - AzureReservation
                                    - Department
                                    - SavingsPlan
                                    - SAAS
                                    x-ms-enum:
                                      name: productType
                                      modelAsString: true
                                  productId:
                                    type: string
                                    readOnly: true
                                    description: The ID of the product that is transferred.
                                  productName:
                                    type: string
                                    readOnly: true
                                    description: The name of the product that is transferred.
                                  skuDescription:
                                    type: string
                                    readOnly: true
                                    description: The SKU of the product that is transferred.
                                  transferStatus:
                                    type: string
                                    readOnly: true
                                    description: Transfer status.
                                    enum:
                                    - NotStarted
                                    - InProgress
                                    - Completed
                                    - Failed
                                    x-ms-enum:
                                      name: productTransferStatus
                                      modelAsString: true
                                  errorDetails:
                                    description: Error details for transfer execution.
                                    type: object
                                    properties:
                                      code:
                                        type: string
                                        readOnly: true
                                        description: Error code.
                                      message:
                                        type: string
                                        readOnly: true
                                        description: Error message.
                              x-ms-identifiers: []
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transfers/{transferName}
  : get:
      tags:
      - Transfers
      description: Gets a transfer request by ID. The operation is supported only
        for billing accounts with agreement type Microsoft Partner Agreement.
      operationId: PartnerTransfers_Get
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - name: transferName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a transfer request.
        schema:
          type: string
          pattern: ^[a-z0-9]*$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Details of transfer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorCustomerType:
                        type: string
                        description: The type of customer who sent the transfer request.
                        readOnly: true
                        enum:
                        - Partner
                        - EA
                        x-ms-enum:
                          name: initiatorCustomerType
                          modelAsString: true
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      resellerId:
                        type: string
                        description: Optional MPN ID of the reseller for transfer
                          requests that are sent from a Microsoft Partner Agreement
                          billing account.
                        readOnly: true
                      resellerName:
                        type: string
                        description: Optional name of the reseller for transfer requests
                          that are sent from Microsoft Partner Agreement billing account.
                        readOnly: true
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Transfers
      description: Sends a request to a user in a customer's billing account to transfer
        billing ownership of their subscriptions. The operation is supported only
        for billing accounts with agreement type Microsoft Partner Agreement.
      operationId: PartnerTransfers_Initiate
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - name: transferName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a transfer request.
        schema:
          type: string
          pattern: ^[a-z0-9]*$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request parameters to initiate partner transfer.
              properties:
                properties:
                  description: Request parameters to initiate partner transfer.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    recipientEmailId:
                      type: string
                      description: The email ID of the recipient to whom the transfer
                        request is sent.
                    resellerId:
                      type: string
                      description: Optional MPN ID of the reseller for transfer requests
                        that are sent from a Microsoft Partner Agreement billing account.
        description: Request parameters that are provided to the initiate transfer
          operation.
        required: true
      responses:
        '200':
          description: Initiated transfer details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    description: Dictionary of metadata associated with the resource.
                      It may not be populated for all resource types. Maximum key/value
                      length supported of 256 characters. Keys/value should not empty
                      value nor null. Keys can not contain < > % & \ ? /
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Details of the transfer.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      expirationTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The time at which the transfer request expires.
                      transferStatus:
                        type: string
                        description: Overall transfer status.
                        readOnly: true
                        enum:
                        - Expired
                        - Pending
                        - InProgress
                        - Completed
                        - CompletedWithErrors
                        - Failed
                        - Canceled
                        - Declined
                        x-ms-enum:
                          name: transferStatus
                          modelAsString: true
                      recipientEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user to whom the transfer
                          request was sent.
                      initiatorCustomerType:
                        type: string
                        description: The type of customer who sent the transfer request.
                        readOnly: true
                        enum:
                        - Partner
                        - EA
                        x-ms-enum:
                          name: initiatorCustomerType
                          modelAsString: true
                      initiatorEmailId:
                        type: string
                        readOnly: true
                        description: The email ID of the user who sent the transfer
                          request.
                      resellerId:
                        type: string
                        description: Optional MPN ID of the reseller for transfer
                          requests that are sent from a Microsoft Partner Agreement
                          billing account.
                        readOnly: true
                      resellerName:
                        type: string
                        description: Optional name of the reseller for transfer requests
                          that are sent from Microsoft Partner Agreement billing account.
                        readOnly: true
                      canceledBy:
                        type: string
                        readOnly: true
                        description: The email ID of the user who canceled the transfer
                          request.
                      detailedTransferStatus:
                        type: array
                        readOnly: true
                        description: Detailed transfer status.
                        items:
                          type: object
                          description: Detailed transfer status.
                          properties:
                            productType:
                              type: string
                              readOnly: true
                              description: Type of product that is transferred.
                              enum:
                              - AzureSubscription
                              - AzureReservation
                              - Department
                              - SavingsPlan
                              - SAAS
                              x-ms-enum:
                                name: productType
                                modelAsString: true
                            productId:
                              type: string
                              readOnly: true
                              description: The ID of the product that is transferred.
                            productName:
                              type: string
                              readOnly: true
                              description: The name of the product that is transferred.
                            skuDescription:
                              type: string
                              readOnly: true
                              description: The SKU of the product that is transferred.
                            transferStatus:
                              type: string
                              readOnly: true
                              description: Transfer status.
                              enum:
                              - NotStarted
                              - InProgress
                              - Completed
                              - Failed
                              x-ms-enum:
                                name: productTransferStatus
                                modelAsString: true
                            errorDetails:
                              description: Error details for transfer execution.
                              type: object
                              properties:
                                code:
                                  type: string
                                  readOnly: true
                                  description: Error code.
                                message:
                                  type: string
                                  readOnly: true
                                  description: Error message.
                        x-ms-identifiers: []
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Initiated transfer details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
[...]
