openapi: 3.0.0
info:
  title: BillingManagementClient
  description: Documentation for Microsoft.Billing.
  contact:
    name: Microsoft.Billing
    url: https://learn.microsoft.com/en-us/rest/api/billing/
    email: pacebpexphot@microsoft.com
  version: 2024-04-01
servers:
- url: https://management.azure.com
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers/{customerName}/transactions
  : get:
      tags:
      - Transaction
      description: Lists the billed or unbilled transactions by customer id for given
        start date and end date. Transactions include purchases, refunds and Azure
        usage charges. Unbilled transactions are listed under pending invoice Id and
        do not include tax. Tax is added to the amount once an invoice is generated.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Transactions_ListByCustomer
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: customerName
        description: The ID that uniquely identifies a customer.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: periodStartDate
        description: The start date to fetch the transactions. The date should be
          specified in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: periodEndDate
        description: The end date to fetch the transactions. The date should be specified
          in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: type
        description: The type of transaction.
        required: true
        x-ms-enum:
          name: TransactionType
          modelAsString: true
        schema:
          type: string
          enum:
          - Other
          - Billed
          - Unbilled
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of transactions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A transaction.
                          type: object
                          properties:
                            azureCreditApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            azurePlan:
                              description: Details of the Azure plan.
                              type: string
                            billingCurrency:
                              description: The ISO 4217 code for the currency in which
                                this transaction is billed.
                              type: string
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            consumptionCommitmentDecremented:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            creditType:
                              description: The credit type of the transaction. Applies
                                only to credited transactions.
                              enum:
                              - Other
                              - AzureFreeCredit
                              - AzureCreditOffer
                              - ServiceInterruption
                              - Refund
                              type: string
                              x-ms-enum:
                                name: CreditType
                                modelAsString: true
                            date:
                              format: date-time
                              description: The date of transaction.
                              type: string
                            discount:
                              description: The percentage discount, if any, applied
                                to this transaction.
                              type: number
                            effectivePrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            exchangeRate:
                              description: The exchange rate used to convert charged
                                amount to billing currency, if applicable.
                              type: number
                            invoice:
                              description: Invoice name on which the transaction was
                                billed or 'Pending' if the transaction is not billed.
                              type: string
                            invoiceId:
                              description: The fully qualified ID of the invoice on
                                which the transaction was billed. This field is only
                                applicable for transactions which are billed.
                              type: string
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                            isThirdParty:
                              description: Whether or not the transaction is third
                                party.
                              type: boolean
                            kind:
                              description: Type of the transaction, billed or unbilled.
                              enum:
                              - Other
                              - All
                              - Reservation
                              type: string
                              x-ms-enum:
                                name: TransactionKind
                                modelAsString: true
                            marketPrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            partNumber:
                              description: The part number of the product for which
                                the transaction took place. The field is only applicable
                                for Enterprise Agreement invoices.
                              type: string
                            pricingCurrency:
                              description: The ISO 4217 code for the currency in which
                                the product is priced.
                              type: string
                            productDescription:
                              description: The description of the product for which
                                the transaction took place.
                              type: string
                            productFamily:
                              description: The family of the product for which the
                                transaction took place.
                              type: string
                            productTypeId:
                              description: The ID of the product type for which the
                                transaction took place.
                              type: string
                            productType:
                              description: The type of the product for which the transaction
                                took place.
                              type: string
                            quantity:
                              format: int32
                              description: The quantity purchased in the transaction.
                              type: integer
                            reasonCode:
                              description: There reason code for the transaction.
                              type: string
                            servicePeriodStartDate:
                              format: date-time
                              description: The date of the purchase of the product,
                                or the start date of the month in which usage started.
                              type: string
                            servicePeriodEndDate:
                              format: date-time
                              description: The end date of the product term, or the
                                end date of the month in which usage ended.
                              type: string
                            subTotal:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            tax:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionType:
                              description: The type of transaction.
                              type: string
                            units:
                              description: The number of units used for a given product.
                              type: number
                            unitOfMeasure:
                              description: The unit of measure used to bill for the
                                product. For example, compute services are billed
                                per hour.
                              type: string
                            unitType:
                              description: The description for the unit of measure
                                for a given product.
                              type: string
                            specialTaxationType:
                              description: Identifies the type of tax calculation
                                used for the invoice. The field is applicable only
                                to invoices with special tax calculation logic.
                              enum:
                              - SubtotalLevel
                              - InvoiceLevel
                              type: string
                              x-ms-enum:
                                name: SpecialTaxationType
                                modelAsString: true
                            refundTransactionDetails:
                              type: object
                              properties:
                                amountRequested:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                amountRefunded:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                refundOperationId:
                                  description: The ID of refund operation.
                                  type: string
                              description: The refund details of a transaction.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transactions
  : get:
      tags:
      - Transaction
      description: Lists the billed or unbilled transactions by invoice section name
        for given start date and end date. Transactions include purchases, refunds
        and Azure usage charges. Unbilled transactions are listed under pending invoice
        Id and do not include tax. Tax is added to the amount once an invoice is generated.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Transactions_ListByInvoiceSection
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: path
        name: invoiceSectionName
        description: The ID that uniquely identifies an invoice section.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: periodStartDate
        description: The start date to fetch the transactions. The date should be
          specified in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: periodEndDate
        description: The end date to fetch the transactions. The date should be specified
          in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: type
        description: The type of transaction.
        required: true
        x-ms-enum:
          name: TransactionType
          modelAsString: true
        schema:
          type: string
          enum:
          - Other
          - Billed
          - Unbilled
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of transactions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A transaction.
                          type: object
                          properties:
                            azureCreditApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            azurePlan:
                              description: Details of the Azure plan.
                              type: string
                            billingCurrency:
                              description: The ISO 4217 code for the currency in which
                                this transaction is billed.
                              type: string
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            consumptionCommitmentDecremented:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            creditType:
                              description: The credit type of the transaction. Applies
                                only to credited transactions.
                              enum:
                              - Other
                              - AzureFreeCredit
                              - AzureCreditOffer
                              - ServiceInterruption
                              - Refund
                              type: string
                              x-ms-enum:
                                name: CreditType
                                modelAsString: true
                            date:
                              format: date-time
                              description: The date of transaction.
                              type: string
                            discount:
                              description: The percentage discount, if any, applied
                                to this transaction.
                              type: number
                            effectivePrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            exchangeRate:
                              description: The exchange rate used to convert charged
                                amount to billing currency, if applicable.
                              type: number
                            invoice:
                              description: Invoice name on which the transaction was
                                billed or 'Pending' if the transaction is not billed.
                              type: string
                            invoiceId:
                              description: The fully qualified ID of the invoice on
                                which the transaction was billed. This field is only
                                applicable for transactions which are billed.
                              type: string
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                            isThirdParty:
                              description: Whether or not the transaction is third
                                party.
                              type: boolean
                            kind:
                              description: Type of the transaction, billed or unbilled.
                              enum:
                              - Other
                              - All
                              - Reservation
                              type: string
                              x-ms-enum:
                                name: TransactionKind
                                modelAsString: true
                            marketPrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            partNumber:
                              description: The part number of the product for which
                                the transaction took place. The field is only applicable
                                for Enterprise Agreement invoices.
                              type: string
                            pricingCurrency:
                              description: The ISO 4217 code for the currency in which
                                the product is priced.
                              type: string
                            productDescription:
                              description: The description of the product for which
                                the transaction took place.
                              type: string
                            productFamily:
                              description: The family of the product for which the
                                transaction took place.
                              type: string
                            productTypeId:
                              description: The ID of the product type for which the
                                transaction took place.
                              type: string
                            productType:
                              description: The type of the product for which the transaction
                                took place.
                              type: string
                            quantity:
                              format: int32
                              description: The quantity purchased in the transaction.
                              type: integer
                            reasonCode:
                              description: There reason code for the transaction.
                              type: string
                            servicePeriodStartDate:
                              format: date-time
                              description: The date of the purchase of the product,
                                or the start date of the month in which usage started.
                              type: string
                            servicePeriodEndDate:
                              format: date-time
                              description: The end date of the product term, or the
                                end date of the month in which usage ended.
                              type: string
                            subTotal:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            tax:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionType:
                              description: The type of transaction.
                              type: string
                            units:
                              description: The number of units used for a given product.
                              type: number
                            unitOfMeasure:
                              description: The unit of measure used to bill for the
                                product. For example, compute services are billed
                                per hour.
                              type: string
                            unitType:
                              description: The description for the unit of measure
                                for a given product.
                              type: string
                            specialTaxationType:
                              description: Identifies the type of tax calculation
                                used for the invoice. The field is applicable only
                                to invoices with special tax calculation logic.
                              enum:
                              - SubtotalLevel
                              - InvoiceLevel
                              type: string
                              x-ms-enum:
                                name: SpecialTaxationType
                                modelAsString: true
                            refundTransactionDetails:
                              type: object
                              properties:
                                amountRequested:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                amountRefunded:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                refundOperationId:
                                  description: The ID of refund operation.
                                  type: string
                              description: The refund details of a transaction.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/transactions:
    get:
      tags:
      - Transaction
      description: Lists the billed or unbilled transactions by billing profile name
        for given start and end date. Transactions include purchases, refunds and
        Azure usage charges. Unbilled transactions are listed under pending invoice
        Id and do not include tax. Tax is added to the amount once an invoice is generated.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Transactions_ListByBillingProfile
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: billingProfileName
        description: The ID that uniquely identifies a billing profile.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z\d-_]{1,128}$
      - in: query
        name: periodStartDate
        description: The start date to fetch the transactions. The date should be
          specified in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: periodEndDate
        description: The end date to fetch the transactions. The date should be specified
          in MM-DD-YYYY format.
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: type
        description: The type of transaction.
        required: true
        x-ms-enum:
          name: TransactionType
          modelAsString: true
        schema:
          type: string
          enum:
          - Other
          - Billed
          - Unbilled
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of transactions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A transaction.
                          type: object
                          properties:
                            azureCreditApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            azurePlan:
                              description: Details of the Azure plan.
                              type: string
                            billingCurrency:
                              description: The ISO 4217 code for the currency in which
                                this transaction is billed.
                              type: string
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            consumptionCommitmentDecremented:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            creditType:
                              description: The credit type of the transaction. Applies
                                only to credited transactions.
                              enum:
                              - Other
                              - AzureFreeCredit
                              - AzureCreditOffer
                              - ServiceInterruption
                              - Refund
                              type: string
                              x-ms-enum:
                                name: CreditType
                                modelAsString: true
                            date:
                              format: date-time
                              description: The date of transaction.
                              type: string
                            discount:
                              description: The percentage discount, if any, applied
                                to this transaction.
                              type: number
                            effectivePrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            exchangeRate:
                              description: The exchange rate used to convert charged
                                amount to billing currency, if applicable.
                              type: number
                            invoice:
                              description: Invoice name on which the transaction was
                                billed or 'Pending' if the transaction is not billed.
                              type: string
                            invoiceId:
                              description: The fully qualified ID of the invoice on
                                which the transaction was billed. This field is only
                                applicable for transactions which are billed.
                              type: string
                            invoiceSectionDisplayName:
                              description: The name of the invoice section.
                              type: string
                            invoiceSectionId:
                              description: The fully qualified ID that uniquely identifies
                                an invoice section.
                              type: string
                            isThirdParty:
                              description: Whether or not the transaction is third
                                party.
                              type: boolean
                            kind:
                              description: Type of the transaction, billed or unbilled.
                              enum:
                              - Other
                              - All
                              - Reservation
                              type: string
                              x-ms-enum:
                                name: TransactionKind
                                modelAsString: true
                            marketPrice:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            partNumber:
                              description: The part number of the product for which
                                the transaction took place. The field is only applicable
                                for Enterprise Agreement invoices.
                              type: string
                            pricingCurrency:
                              description: The ISO 4217 code for the currency in which
                                the product is priced.
                              type: string
                            productDescription:
                              description: The description of the product for which
                                the transaction took place.
                              type: string
                            productFamily:
                              description: The family of the product for which the
                                transaction took place.
                              type: string
                            productTypeId:
                              description: The ID of the product type for which the
                                transaction took place.
                              type: string
                            productType:
                              description: The type of the product for which the transaction
                                took place.
                              type: string
                            quantity:
                              format: int32
                              description: The quantity purchased in the transaction.
                              type: integer
                            reasonCode:
                              description: There reason code for the transaction.
                              type: string
                            servicePeriodStartDate:
                              format: date-time
                              description: The date of the purchase of the product,
                                or the start date of the month in which usage started.
                              type: string
                            servicePeriodEndDate:
                              format: date-time
                              description: The end date of the product term, or the
                                end date of the month in which usage ended.
                              type: string
                            subTotal:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            tax:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionAmount:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            transactionType:
                              description: The type of transaction.
                              type: string
                            units:
                              description: The number of units used for a given product.
                              type: number
                            unitOfMeasure:
                              description: The unit of measure used to bill for the
                                product. For example, compute services are billed
                                per hour.
                              type: string
                            unitType:
                              description: The description for the unit of measure
                                for a given product.
                              type: string
                            specialTaxationType:
                              description: Identifies the type of tax calculation
                                used for the invoice. The field is applicable only
                                to invoices with special tax calculation logic.
                              enum:
                              - SubtotalLevel
                              - InvoiceLevel
                              type: string
                              x-ms-enum:
                                name: SpecialTaxationType
                                modelAsString: true
                            refundTransactionDetails:
                              type: object
                              properties:
                                amountRequested:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                amountRefunded:
                                  type: object
                                  properties:
                                    currency:
                                      description: The currency for the amount value.
                                      type: string
                                      readOnly: true
                                    value:
                                      description: The amount value. For example,
                                        if the currency is USD, then a value of 600
                                        would be $600.00.
                                      type: number
                                      readOnly: true
                                  description: The amount.
                                  readOnly: true
                                refundOperationId:
                                  description: The ID of refund operation.
                                  type: string
                              description: The refund details of a transaction.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                    x-ms-identifiers:
                    - id
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices/{invoiceName}/transactions:
    get:
      tags:
      - Transaction
      description: Lists the transactions for an invoice. Transactions include purchases,
        refunds and Azure usage charges.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      operationId: Transactions_ListByInvoice
      parameters:
      - in: path
        name: billingAccountName
        description: The ID that uniquely identifies a billing account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([0-9]+|([Pp][Cc][Nn]\.[A-Za-z0-9]+)|[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}(:[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}_[0-9]{4}(-[0-9]{2}){2})?)$
      - in: path
        name: invoiceName
        description: The ID that uniquely identifies an invoice.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(H[0-9]-[A-Z0-9]+)$|^(?:([GHT]|HT){1}[A-Z0-9]{9})$|^(?:[D]{1}[A-Z0-9]{9})$|^(?:E{1}[B-Z0-9]{1}[A-Z0-9]{8})$|^(?:EA[A-Z0-9]{8})$
      - in: query
        name: api-version
        description: The version of the API to be used with the client request. The
          current version is 2024-04-01.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: filter
        description: The filter query option allows clients to filter a collection
          of resources that are addressed by a request URL.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: orderBy
        description: The orderby query option allows clients to request resources
          in a particular order.
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: top
        description: The top query option requests the number of items in the queried
          collection to be included in the result. The maximum supported value for
          top is 50.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: skip
        description: The skip query option requests the number of items in the queried
          collection that are to be skipped and not included in the result.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int64
      - in: query
        name: count
        description: The count query option allows clients to request a count of the
          matching resources included with the resources in the response.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - in: query
        name: search
        description: The search query option allows clients to request items within
          a collection matching a free-text search expression. search is only supported
          for string fields.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The list of transactions.
          content:
            application/json:
              schema:
                description: A container for a list of resources
                type: object
                properties:
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
                  value:
                    description: The list of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          description: Dictionary of metadata associated with the
                            resource. It may not be populated for all resource types.
                            Maximum key/value length supported of 256 characters.
                            Keys/value should not empty value nor null. Keys can not
                            contain < > % & \ ? /
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: A transaction.
                          type: object
                          properties:
                            azureCreditApplied:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            azurePlan:
                              description: Details of the Azure plan.
                              type: string
                            billingCurrency:
                              description: The ISO 4217 code for the currency in which
                                this transaction is billed.
                              type: string
                            billingProfileDisplayName:
                              description: The name of the billing profile.
                            billingProfileId:
                              description: The fully qualified ID that uniquely identifies
                                a billing profile.
                              type: string
                            consumptionCommitmentDecremented:
                              type: object
                              properties:
                                currency:
                                  description: The currency for the amount value.
                                  type: string
                                  readOnly: true
                                value:
                                  description: The amount value. For example, if the
                                    currency is USD, then a value of 600 would be
                                    $600.00.
                                  type: number
                                  readOnly: true
                              description: The amount.
                              readOnly: true
                            customerDisplayName:
                              description: The name of the customer.
                              type: string
                            customerId:
                              description: The fully qualified ID that uniquely identifies
                                a customer.
                              type: string
                            creditType:
[...]
