openapi: 3.0.0
info:
  title: TrafficManagerManagementClient
  version: 2022-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}
  : patch:
      tags:
      - Endpoints
      operationId: Endpoints_Update
      description: Update a Traffic Manager endpoint.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        description: The name of the Traffic Manager profile.
        schema:
          type: string
      - name: endpointType
        in: path
        required: true
        description: The type of the Traffic Manager endpoint to be updated.
        x-ms-enum:
          name: EndpointType
          modelAsString: false
        schema:
          type: string
          enum:
          - AzureEndpoints
          - ExternalEndpoints
          - NestedEndpoints
      - name: endpointName
        in: path
        required: true
        description: The name of the Traffic Manager endpoint to be updated.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                name:
                  type: string
                  description: The name of the resource
                type:
                  type: string
                  description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                properties:
                  x-ms-client-flatten: true
                  description: The properties of the Traffic Manager endpoint.
                  properties:
                    targetResourceId:
                      type: string
                      description: The Azure Resource URI of the of the endpoint.
                        Not applicable to endpoints of type 'ExternalEndpoints'.
                    target:
                      type: string
                      description: The fully-qualified DNS name or IP address of the
                        endpoint. Traffic Manager returns this value in DNS responses
                        to direct traffic to this endpoint.
                    endpointStatus:
                      type: string
                      description: The status of the endpoint. If the endpoint is
                        Enabled, it is probed for endpoint health and is included
                        in the traffic routing method.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: EndpointStatus
                        modelAsString: true
                    weight:
                      type: integer
                      format: int64
                      description: The weight of this endpoint when using the 'Weighted'
                        traffic routing method. Possible values are from 1 to 1000.
                    priority:
                      type: integer
                      format: int64
                      description: The priority of this endpoint when using the 'Priority'
                        traffic routing method. Possible values are from 1 to 1000,
                        lower values represent higher priority. This is an optional
                        parameter.  If specified, it must be specified on all endpoints,
                        and no two endpoints can share the same priority value.
                    endpointLocation:
                      type: string
                      description: Specifies the location of the external or nested
                        endpoints when using the 'Performance' traffic routing method.
                    endpointMonitorStatus:
                      type: string
                      description: The monitoring status of the endpoint.
                      enum:
                      - CheckingEndpoint
                      - Online
                      - Degraded
                      - Disabled
                      - Inactive
                      - Stopped
                      - Unmonitored
                      x-ms-enum:
                        name: EndpointMonitorStatus
                        modelAsString: true
                    minChildEndpoints:
                      type: integer
                      format: int64
                      description: The minimum number of endpoints that must be available
                        in the child profile in order for the parent profile to be
                        considered available. Only applicable to endpoint of type
                        'NestedEndpoints'.
                    minChildEndpointsIPv4:
                      type: integer
                      format: int64
                      description: The minimum number of IPv4 (DNS record type A)
                        endpoints that must be available in the child profile in order
                        for the parent profile to be considered available. Only applicable
                        to endpoint of type 'NestedEndpoints'.
                    minChildEndpointsIPv6:
                      type: integer
                      format: int64
                      description: The minimum number of IPv6 (DNS record type AAAA)
                        endpoints that must be available in the child profile in order
                        for the parent profile to be considered available. Only applicable
                        to endpoint of type 'NestedEndpoints'.
                    geoMapping:
                      type: array
                      items:
                        type: string
                      description: The list of countries/regions mapped to this endpoint
                        when using the 'Geographic' traffic routing method. Please
                        consult Traffic Manager Geographic documentation for a full
                        list of accepted values.
                    subnets:
                      type: array
                      items:
                        type: object
                        properties:
                          first:
                            type: string
                            description: First address in the subnet.
                          last:
                            type: string
                            description: Last address in the subnet.
                          scope:
                            type: integer
                            description: Block size (number of leading bits in the
                              subnet mask).
                        description: Subnet first address, scope, and/or last address.
                      description: The list of subnets, IP addresses, and/or address
                        ranges mapped to this endpoint when using the 'Subnet' traffic
                        routing method. An empty list will match all ranges not covered
                        by other endpoints.
                    customHeaders:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Header name.
                          value:
                            type: string
                            description: Header value.
                        description: Custom header name and value.
                      description: List of custom headers.
                    alwaysServe:
                      type: string
                      description: If Always Serve is enabled, probing for endpoint
                        health will be disabled and endpoints will be included in
                        the traffic routing method.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: AlwaysServe
                        modelAsString: true
              description: The core properties of ARM resources
              x-ms-azure-resource: true
        description: The Traffic Manager endpoint parameters supplied to the Update
          operation.
        required: true
      responses:
        '200':
          description: The updated Traffic Manager endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                  name:
                    type: string
                    description: The name of the resource
                  type:
                    type: string
                    description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Traffic Manager endpoint.
                    properties:
                      targetResourceId:
                        type: string
                        description: The Azure Resource URI of the of the endpoint.
                          Not applicable to endpoints of type 'ExternalEndpoints'.
                      target:
                        type: string
                        description: The fully-qualified DNS name or IP address of
                          the endpoint. Traffic Manager returns this value in DNS
                          responses to direct traffic to this endpoint.
                      endpointStatus:
                        type: string
                        description: The status of the endpoint. If the endpoint is
                          Enabled, it is probed for endpoint health and is included
                          in the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EndpointStatus
                          modelAsString: true
                      weight:
                        type: integer
                        format: int64
                        description: The weight of this endpoint when using the 'Weighted'
                          traffic routing method. Possible values are from 1 to 1000.
                      priority:
                        type: integer
                        format: int64
                        description: The priority of this endpoint when using the
                          'Priority' traffic routing method. Possible values are from
                          1 to 1000, lower values represent higher priority. This
                          is an optional parameter.  If specified, it must be specified
                          on all endpoints, and no two endpoints can share the same
                          priority value.
                      endpointLocation:
                        type: string
                        description: Specifies the location of the external or nested
                          endpoints when using the 'Performance' traffic routing method.
                      endpointMonitorStatus:
                        type: string
                        description: The monitoring status of the endpoint.
                        enum:
                        - CheckingEndpoint
                        - Online
                        - Degraded
                        - Disabled
                        - Inactive
                        - Stopped
                        - Unmonitored
                        x-ms-enum:
                          name: EndpointMonitorStatus
                          modelAsString: true
                      minChildEndpoints:
                        type: integer
                        format: int64
                        description: The minimum number of endpoints that must be
                          available in the child profile in order for the parent profile
                          to be considered available. Only applicable to endpoint
                          of type 'NestedEndpoints'.
                      minChildEndpointsIPv4:
                        type: integer
                        format: int64
                        description: The minimum number of IPv4 (DNS record type A)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      minChildEndpointsIPv6:
                        type: integer
                        format: int64
                        description: The minimum number of IPv6 (DNS record type AAAA)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      geoMapping:
                        type: array
                        items:
                          type: string
                        description: The list of countries/regions mapped to this
                          endpoint when using the 'Geographic' traffic routing method.
                          Please consult Traffic Manager Geographic documentation
                          for a full list of accepted values.
                      subnets:
                        type: array
                        items:
                          type: object
                          properties:
                            first:
                              type: string
                              description: First address in the subnet.
                            last:
                              type: string
                              description: Last address in the subnet.
                            scope:
                              type: integer
                              description: Block size (number of leading bits in the
                                subnet mask).
                          description: Subnet first address, scope, and/or last address.
                        description: The list of subnets, IP addresses, and/or address
                          ranges mapped to this endpoint when using the 'Subnet' traffic
                          routing method. An empty list will match all ranges not
                          covered by other endpoints.
                      customHeaders:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Header name.
                            value:
                              type: string
                              description: Header value.
                          description: Custom header name and value.
                        description: List of custom headers.
                      alwaysServe:
                        type: string
                        description: If Always Serve is enabled, probing for endpoint
                          health will be disabled and endpoints will be included in
                          the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: AlwaysServe
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
    get:
      tags:
      - Endpoints
      operationId: Endpoints_Get
      description: Gets a Traffic Manager endpoint.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        description: The name of the Traffic Manager profile.
        schema:
          type: string
      - name: endpointType
        in: path
        required: true
        description: The type of the Traffic Manager endpoint.
        x-ms-enum:
          name: EndpointType
          modelAsString: false
        schema:
          type: string
          enum:
          - AzureEndpoints
          - ExternalEndpoints
          - NestedEndpoints
      - name: endpointName
        in: path
        required: true
        description: The name of the Traffic Manager endpoint.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Traffic Manager endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                  name:
                    type: string
                    description: The name of the resource
                  type:
                    type: string
                    description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Traffic Manager endpoint.
                    properties:
                      targetResourceId:
                        type: string
                        description: The Azure Resource URI of the of the endpoint.
                          Not applicable to endpoints of type 'ExternalEndpoints'.
                      target:
                        type: string
                        description: The fully-qualified DNS name or IP address of
                          the endpoint. Traffic Manager returns this value in DNS
                          responses to direct traffic to this endpoint.
                      endpointStatus:
                        type: string
                        description: The status of the endpoint. If the endpoint is
                          Enabled, it is probed for endpoint health and is included
                          in the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EndpointStatus
                          modelAsString: true
                      weight:
                        type: integer
                        format: int64
                        description: The weight of this endpoint when using the 'Weighted'
                          traffic routing method. Possible values are from 1 to 1000.
                      priority:
                        type: integer
                        format: int64
                        description: The priority of this endpoint when using the
                          'Priority' traffic routing method. Possible values are from
                          1 to 1000, lower values represent higher priority. This
                          is an optional parameter.  If specified, it must be specified
                          on all endpoints, and no two endpoints can share the same
                          priority value.
                      endpointLocation:
                        type: string
                        description: Specifies the location of the external or nested
                          endpoints when using the 'Performance' traffic routing method.
                      endpointMonitorStatus:
                        type: string
                        description: The monitoring status of the endpoint.
                        enum:
                        - CheckingEndpoint
                        - Online
                        - Degraded
                        - Disabled
                        - Inactive
                        - Stopped
                        - Unmonitored
                        x-ms-enum:
                          name: EndpointMonitorStatus
                          modelAsString: true
                      minChildEndpoints:
                        type: integer
                        format: int64
                        description: The minimum number of endpoints that must be
                          available in the child profile in order for the parent profile
                          to be considered available. Only applicable to endpoint
                          of type 'NestedEndpoints'.
                      minChildEndpointsIPv4:
                        type: integer
                        format: int64
                        description: The minimum number of IPv4 (DNS record type A)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      minChildEndpointsIPv6:
                        type: integer
                        format: int64
                        description: The minimum number of IPv6 (DNS record type AAAA)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      geoMapping:
                        type: array
                        items:
                          type: string
                        description: The list of countries/regions mapped to this
                          endpoint when using the 'Geographic' traffic routing method.
                          Please consult Traffic Manager Geographic documentation
                          for a full list of accepted values.
                      subnets:
                        type: array
                        items:
                          type: object
                          properties:
                            first:
                              type: string
                              description: First address in the subnet.
                            last:
                              type: string
                              description: Last address in the subnet.
                            scope:
                              type: integer
                              description: Block size (number of leading bits in the
                                subnet mask).
                          description: Subnet first address, scope, and/or last address.
                        description: The list of subnets, IP addresses, and/or address
                          ranges mapped to this endpoint when using the 'Subnet' traffic
                          routing method. An empty list will match all ranges not
                          covered by other endpoints.
                      customHeaders:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Header name.
                            value:
                              type: string
                              description: Header value.
                          description: Custom header name and value.
                        description: List of custom headers.
                      alwaysServe:
                        type: string
                        description: If Always Serve is enabled, probing for endpoint
                          health will be disabled and endpoints will be included in
                          the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: AlwaysServe
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
    put:
      tags:
      - Endpoints
      operationId: Endpoints_CreateOrUpdate
      description: Create or update a Traffic Manager endpoint.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        description: The name of the Traffic Manager profile.
        schema:
          type: string
      - name: endpointType
        in: path
        required: true
        description: The type of the Traffic Manager endpoint to be created or updated.
        x-ms-enum:
          name: EndpointType
          modelAsString: false
        schema:
          type: string
          enum:
          - AzureEndpoints
          - ExternalEndpoints
          - NestedEndpoints
      - name: endpointName
        in: path
        required: true
        description: The name of the Traffic Manager endpoint to be created or updated.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource Id for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                name:
                  type: string
                  description: The name of the resource
                type:
                  type: string
                  description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                properties:
                  x-ms-client-flatten: true
                  description: The properties of the Traffic Manager endpoint.
                  properties:
                    targetResourceId:
                      type: string
                      description: The Azure Resource URI of the of the endpoint.
                        Not applicable to endpoints of type 'ExternalEndpoints'.
                    target:
                      type: string
                      description: The fully-qualified DNS name or IP address of the
                        endpoint. Traffic Manager returns this value in DNS responses
                        to direct traffic to this endpoint.
                    endpointStatus:
                      type: string
                      description: The status of the endpoint. If the endpoint is
                        Enabled, it is probed for endpoint health and is included
                        in the traffic routing method.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: EndpointStatus
                        modelAsString: true
                    weight:
                      type: integer
                      format: int64
                      description: The weight of this endpoint when using the 'Weighted'
                        traffic routing method. Possible values are from 1 to 1000.
                    priority:
                      type: integer
                      format: int64
                      description: The priority of this endpoint when using the 'Priority'
                        traffic routing method. Possible values are from 1 to 1000,
                        lower values represent higher priority. This is an optional
                        parameter.  If specified, it must be specified on all endpoints,
                        and no two endpoints can share the same priority value.
                    endpointLocation:
                      type: string
                      description: Specifies the location of the external or nested
                        endpoints when using the 'Performance' traffic routing method.
                    endpointMonitorStatus:
                      type: string
                      description: The monitoring status of the endpoint.
                      enum:
                      - CheckingEndpoint
                      - Online
                      - Degraded
                      - Disabled
                      - Inactive
                      - Stopped
                      - Unmonitored
                      x-ms-enum:
                        name: EndpointMonitorStatus
                        modelAsString: true
                    minChildEndpoints:
                      type: integer
                      format: int64
                      description: The minimum number of endpoints that must be available
                        in the child profile in order for the parent profile to be
                        considered available. Only applicable to endpoint of type
                        'NestedEndpoints'.
                    minChildEndpointsIPv4:
                      type: integer
                      format: int64
                      description: The minimum number of IPv4 (DNS record type A)
                        endpoints that must be available in the child profile in order
                        for the parent profile to be considered available. Only applicable
                        to endpoint of type 'NestedEndpoints'.
                    minChildEndpointsIPv6:
                      type: integer
                      format: int64
                      description: The minimum number of IPv6 (DNS record type AAAA)
                        endpoints that must be available in the child profile in order
                        for the parent profile to be considered available. Only applicable
                        to endpoint of type 'NestedEndpoints'.
                    geoMapping:
                      type: array
                      items:
                        type: string
                      description: The list of countries/regions mapped to this endpoint
                        when using the 'Geographic' traffic routing method. Please
                        consult Traffic Manager Geographic documentation for a full
                        list of accepted values.
                    subnets:
                      type: array
                      items:
                        type: object
                        properties:
                          first:
                            type: string
                            description: First address in the subnet.
                          last:
                            type: string
                            description: Last address in the subnet.
                          scope:
                            type: integer
                            description: Block size (number of leading bits in the
                              subnet mask).
                        description: Subnet first address, scope, and/or last address.
                      description: The list of subnets, IP addresses, and/or address
                        ranges mapped to this endpoint when using the 'Subnet' traffic
                        routing method. An empty list will match all ranges not covered
                        by other endpoints.
                    customHeaders:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Header name.
                          value:
                            type: string
                            description: Header value.
                        description: Custom header name and value.
                      description: List of custom headers.
                    alwaysServe:
                      type: string
                      description: If Always Serve is enabled, probing for endpoint
                        health will be disabled and endpoints will be included in
                        the traffic routing method.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: AlwaysServe
                        modelAsString: true
              description: The core properties of ARM resources
              x-ms-azure-resource: true
        description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate
          operation.
        required: true
      responses:
        '200':
          description: The created or updated Endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                  name:
                    type: string
                    description: The name of the resource
                  type:
                    type: string
                    description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Traffic Manager endpoint.
                    properties:
                      targetResourceId:
                        type: string
                        description: The Azure Resource URI of the of the endpoint.
                          Not applicable to endpoints of type 'ExternalEndpoints'.
                      target:
                        type: string
                        description: The fully-qualified DNS name or IP address of
                          the endpoint. Traffic Manager returns this value in DNS
                          responses to direct traffic to this endpoint.
                      endpointStatus:
                        type: string
                        description: The status of the endpoint. If the endpoint is
                          Enabled, it is probed for endpoint health and is included
                          in the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EndpointStatus
                          modelAsString: true
                      weight:
                        type: integer
                        format: int64
                        description: The weight of this endpoint when using the 'Weighted'
                          traffic routing method. Possible values are from 1 to 1000.
                      priority:
                        type: integer
                        format: int64
                        description: The priority of this endpoint when using the
                          'Priority' traffic routing method. Possible values are from
                          1 to 1000, lower values represent higher priority. This
                          is an optional parameter.  If specified, it must be specified
                          on all endpoints, and no two endpoints can share the same
                          priority value.
                      endpointLocation:
                        type: string
                        description: Specifies the location of the external or nested
                          endpoints when using the 'Performance' traffic routing method.
                      endpointMonitorStatus:
                        type: string
                        description: The monitoring status of the endpoint.
                        enum:
                        - CheckingEndpoint
                        - Online
                        - Degraded
                        - Disabled
                        - Inactive
                        - Stopped
                        - Unmonitored
                        x-ms-enum:
                          name: EndpointMonitorStatus
                          modelAsString: true
                      minChildEndpoints:
                        type: integer
                        format: int64
                        description: The minimum number of endpoints that must be
                          available in the child profile in order for the parent profile
                          to be considered available. Only applicable to endpoint
                          of type 'NestedEndpoints'.
                      minChildEndpointsIPv4:
                        type: integer
                        format: int64
                        description: The minimum number of IPv4 (DNS record type A)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      minChildEndpointsIPv6:
                        type: integer
                        format: int64
                        description: The minimum number of IPv6 (DNS record type AAAA)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      geoMapping:
                        type: array
                        items:
                          type: string
                        description: The list of countries/regions mapped to this
                          endpoint when using the 'Geographic' traffic routing method.
                          Please consult Traffic Manager Geographic documentation
                          for a full list of accepted values.
                      subnets:
                        type: array
                        items:
                          type: object
                          properties:
                            first:
                              type: string
                              description: First address in the subnet.
                            last:
                              type: string
                              description: Last address in the subnet.
                            scope:
                              type: integer
                              description: Block size (number of leading bits in the
                                subnet mask).
                          description: Subnet first address, scope, and/or last address.
                        description: The list of subnets, IP addresses, and/or address
                          ranges mapped to this endpoint when using the 'Subnet' traffic
                          routing method. An empty list will match all ranges not
                          covered by other endpoints.
                      customHeaders:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Header name.
                            value:
                              type: string
                              description: Header value.
                          description: Custom header name and value.
                        description: List of custom headers.
                      alwaysServe:
                        type: string
                        description: If Always Serve is enabled, probing for endpoint
                          health will be disabled and endpoints will be included in
                          the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: AlwaysServe
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        '201':
          description: The created or updated Endpoint.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource Id for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                  name:
                    type: string
                    description: The name of the resource
                  type:
                    type: string
                    description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Traffic Manager endpoint.
                    properties:
                      targetResourceId:
                        type: string
                        description: The Azure Resource URI of the of the endpoint.
                          Not applicable to endpoints of type 'ExternalEndpoints'.
                      target:
                        type: string
                        description: The fully-qualified DNS name or IP address of
                          the endpoint. Traffic Manager returns this value in DNS
                          responses to direct traffic to this endpoint.
                      endpointStatus:
                        type: string
                        description: The status of the endpoint. If the endpoint is
                          Enabled, it is probed for endpoint health and is included
                          in the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: EndpointStatus
                          modelAsString: true
                      weight:
                        type: integer
                        format: int64
                        description: The weight of this endpoint when using the 'Weighted'
                          traffic routing method. Possible values are from 1 to 1000.
                      priority:
                        type: integer
                        format: int64
                        description: The priority of this endpoint when using the
                          'Priority' traffic routing method. Possible values are from
                          1 to 1000, lower values represent higher priority. This
                          is an optional parameter.  If specified, it must be specified
                          on all endpoints, and no two endpoints can share the same
                          priority value.
                      endpointLocation:
                        type: string
                        description: Specifies the location of the external or nested
                          endpoints when using the 'Performance' traffic routing method.
                      endpointMonitorStatus:
                        type: string
                        description: The monitoring status of the endpoint.
                        enum:
                        - CheckingEndpoint
                        - Online
                        - Degraded
                        - Disabled
                        - Inactive
                        - Stopped
                        - Unmonitored
                        x-ms-enum:
                          name: EndpointMonitorStatus
                          modelAsString: true
                      minChildEndpoints:
                        type: integer
                        format: int64
                        description: The minimum number of endpoints that must be
                          available in the child profile in order for the parent profile
                          to be considered available. Only applicable to endpoint
                          of type 'NestedEndpoints'.
                      minChildEndpointsIPv4:
                        type: integer
                        format: int64
                        description: The minimum number of IPv4 (DNS record type A)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      minChildEndpointsIPv6:
                        type: integer
                        format: int64
                        description: The minimum number of IPv6 (DNS record type AAAA)
                          endpoints that must be available in the child profile in
                          order for the parent profile to be considered available.
                          Only applicable to endpoint of type 'NestedEndpoints'.
                      geoMapping:
                        type: array
                        items:
                          type: string
                        description: The list of countries/regions mapped to this
                          endpoint when using the 'Geographic' traffic routing method.
                          Please consult Traffic Manager Geographic documentation
                          for a full list of accepted values.
                      subnets:
                        type: array
                        items:
                          type: object
                          properties:
                            first:
                              type: string
                              description: First address in the subnet.
                            last:
                              type: string
                              description: Last address in the subnet.
                            scope:
                              type: integer
                              description: Block size (number of leading bits in the
                                subnet mask).
                          description: Subnet first address, scope, and/or last address.
                        description: The list of subnets, IP addresses, and/or address
                          ranges mapped to this endpoint when using the 'Subnet' traffic
                          routing method. An empty list will match all ranges not
                          covered by other endpoints.
                      customHeaders:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Header name.
                            value:
                              type: string
                              description: Header value.
                          description: Custom header name and value.
                        description: List of custom headers.
                      alwaysServe:
                        type: string
                        description: If Always Serve is enabled, probing for endpoint
                          health will be disabled and endpoints will be included in
                          the traffic routing method.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: AlwaysServe
                          modelAsString: true
                description: The core properties of ARM resources
                x-ms-azure-resource: true
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
    delete:
      tags:
      - Endpoints
      operationId: Endpoints_Delete
      description: Deletes a Traffic Manager endpoint.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: profileName
        in: path
        required: true
        description: The name of the Traffic Manager profile.
        schema:
          type: string
      - name: endpointType
        in: path
        required: true
        description: The type of the Traffic Manager endpoint to be deleted.
        x-ms-enum:
          name: EndpointType
          modelAsString: false
        schema:
          type: string
          enum:
          - AzureEndpoints
          - ExternalEndpoints
          - NestedEndpoints
      - name: endpointName
        in: path
        required: true
        description: The name of the Traffic Manager endpoint to be deleted.
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The Traffic Manager Endpoint was deleted successfully.
          content:
            application/json:
              schema:
                properties:
                  boolean:
                    type: boolean
                    x-ms-client-name: operationResult
                    readOnly: true
                    description: The result of the operation or request.
                description: The result of the request or operation.
        '204':
          description: The Traffic Manager Endpoint does not exist. It could have
            been deleted on a previous request.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      tags:
      - Profiles
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      description: Checks the availability of a Traffic Manager Relative DNS name.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: The name of the resource.
                type:
                  type: string
                  description: The type of the resource.
              description: Parameters supplied to check Traffic Manager name operation.
        description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability
          operation.
        required: true
      responses:
        '200':
          description: The Traffic Manager Name Availability.
          content:
            application/json:
              schema:
                properties:
                  name:
                    type: string
                    description: The relative name.
                  type:
                    type: string
                    description: Traffic Manager profile resource type.
                  nameAvailable:
                    type: boolean
                    description: Describes whether the relative name is available
                      or not.
                  reason:
                    type: string
                    description: The reason why the name is not available, when applicable.
                  message:
                    type: string
                    description: Descriptive message that explains why the name is
                      not available, when applicable.
                description: Class representing a Traffic Manager Name Availability
                  response.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/checkTrafficManagerNameAvailabilityV2:
    post:
      tags:
      - Profiles
      operationId: Profiles_checkTrafficManagerNameAvailabilityV2
      description: Checks the availability of a Traffic Manager Relative DNS name.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: The name of the resource.
                type:
                  type: string
                  description: The type of the resource.
              description: Parameters supplied to check Traffic Manager name operation.
        description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability
          operation.
        required: true
      responses:
        '200':
          description: The Traffic Manager Name Availability.
          content:
            application/json:
              schema:
                properties:
                  name:
                    type: string
                    description: The relative name.
                  type:
                    type: string
                    description: Traffic Manager profile resource type.
                  nameAvailable:
                    type: boolean
                    description: Describes whether the relative name is available
                      or not.
                  reason:
                    type: string
                    description: The reason why the name is not available, when applicable.
                  message:
                    type: string
                    description: Descriptive message that explains why the name is
                      not available, when applicable.
                description: Class representing a Traffic Manager Name Availability
                  response.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      tags:
      - Profiles
      x-ms-pageable: {}
      operationId: Profiles_ListByResourceGroup
      description: Lists all Traffic Manager profiles within a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list of Traffic Manager profiles.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource Id for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                        name:
                          type: string
                          description: The name of the resource
                        type:
                          type: string
                          description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The Azure Region where the resource lives
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of the Traffic Manager profile.
                          properties:
                            profileStatus:
                              type: string
                              description: The status of the Traffic Manager profile.
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: ProfileStatus
                                modelAsString: true
                            trafficRoutingMethod:
                              type: string
                              description: The traffic routing method of the Traffic
                                Manager profile.
                              enum:
                              - Performance
                              - Priority
                              - Weighted
                              - Geographic
                              - MultiValue
                              - Subnet
                              x-ms-enum:
                                name: TrafficRoutingMethod
                                modelAsString: true
                            dnsConfig:
                              description: The DNS settings of the Traffic Manager
                                profile.
                              properties:
                                relativeName:
                                  type: string
                                  description: The relative DNS name provided by this
                                    Traffic Manager profile. This value is combined
                                    with the DNS domain name used by Azure Traffic
                                    Manager to form the fully-qualified domain name
                                    (FQDN) of the profile.
                                fqdn:
                                  type: string
                                  readOnly: true
                                  description: The fully-qualified domain name (FQDN)
                                    of the Traffic Manager profile. This is formed
                                    from the concatenation of the RelativeName with
                                    the DNS domain used by Azure Traffic Manager.
                                ttl:
                                  type: integer
                                  format: int64
                                  description: The DNS Time-To-Live (TTL), in seconds.
                                    This informs the local DNS resolvers and DNS clients
                                    how long to cache DNS responses provided by this
                                    Traffic Manager profile.
                            monitorConfig:
                              description: The endpoint monitoring settings of the
                                Traffic Manager profile.
                              properties:
                                profileMonitorStatus:
                                  type: string
                                  description: The profile-level monitoring status
                                    of the Traffic Manager profile.
                                  enum:
                                  - CheckingEndpoints
                                  - Online
                                  - Degraded
                                  - Disabled
                                  - Inactive
                                  x-ms-enum:
                                    name: ProfileMonitorStatus
                                    modelAsString: true
                                protocol:
                                  type: string
                                  description: The protocol (HTTP, HTTPS or TCP) used
                                    to probe for endpoint health.
                                  enum:
                                  - HTTP
                                  - HTTPS
                                  - TCP
                                  x-ms-enum:
                                    name: MonitorProtocol
                                    modelAsString: true
                                port:
                                  type: integer
                                  format: int64
                                  description: The TCP port used to probe for endpoint
                                    health.
                                path:
                                  type: string
                                  description: The path relative to the endpoint domain
                                    name used to probe for endpoint health.
                                intervalInSeconds:
                                  type: integer
                                  format: int64
                                  description: The monitor interval for endpoints
                                    in this profile. This is the interval at which
                                    Traffic Manager will check the health of each
                                    endpoint in this profile.
                                timeoutInSeconds:
                                  type: integer
                                  format: int64
                                  description: The monitor timeout for endpoints in
                                    this profile. This is the time that Traffic Manager
                                    allows endpoints in this profile to response to
                                    the health check.
                                toleratedNumberOfFailures:
                                  type: integer
                                  format: int64
                                  description: The number of consecutive failed health
                                    check that Traffic Manager tolerates before declaring
                                    an endpoint in this profile Degraded after the
                                    next failed health check.
                                customHeaders:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Header name.
                                      value:
                                        type: string
                                        description: Header value.
                                    description: Custom header name and value.
                                  description: List of custom headers.
                                expectedStatusCodeRanges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      min:
                                        type: integer
                                        description: Min status code.
                                      max:
                                        type: integer
                                        description: Max status code.
                                    description: Min and max value of a status code
                                      range.
                                  description: List of expected status code ranges.
                            endpoints:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Fully qualified resource Id for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
                                  name:
                                    type: string
                                    description: The name of the resource
                                  type:
                                    type: string
                                    description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: The properties of the Traffic Manager
                                      endpoint.
                                    properties:
                                      targetResourceId:
                                        type: string
                                        description: The Azure Resource URI of the
                                          of the endpoint. Not applicable to endpoints
                                          of type 'ExternalEndpoints'.
                                      target:
                                        type: string
                                        description: The fully-qualified DNS name
                                          or IP address of the endpoint. Traffic Manager
                                          returns this value in DNS responses to direct
                                          traffic to this endpoint.
                                      endpointStatus:
                                        type: string
                                        description: The status of the endpoint. If
                                          the endpoint is Enabled, it is probed for
                                          endpoint health and is included in the traffic
                                          routing method.
                                        enum:
                                        - Enabled
                                        - Disabled
                                        x-ms-enum:
                                          name: EndpointStatus
                                          modelAsString: true
                                      weight:
                                        type: integer
                                        format: int64
                                        description: The weight of this endpoint when
                                          using the 'Weighted' traffic routing method.
                                          Possible values are from 1 to 1000.
                                      priority:
                                        type: integer
                                        format: int64
                                        description: The priority of this endpoint
                                          when using the 'Priority' traffic routing
                                          method. Possible values are from 1 to 1000,
                                          lower values represent higher priority.
                                          This is an optional parameter.  If specified,
                                          it must be specified on all endpoints, and
                                          no two endpoints can share the same priority
                                          value.
                                      endpointLocation:
                                        type: string
                                        description: Specifies the location of the
                                          external or nested endpoints when using
                                          the 'Performance' traffic routing method.
                                      endpointMonitorStatus:
                                        type: string
                                        description: The monitoring status of the
                                          endpoint.
                                        enum:
                                        - CheckingEndpoint
                                        - Online
                                        - Degraded
                                        - Disabled
                                        - Inactive
                                        - Stopped
                                        - Unmonitored
                                        x-ms-enum:
                                          name: EndpointMonitorStatus
                                          modelAsString: true
                                      minChildEndpoints:
                                        type: integer
                                        format: int64
                                        description: The minimum number of endpoints
                                          that must be available in the child profile
                                          in order for the parent profile to be considered
                                          available. Only applicable to endpoint of
                                          type 'NestedEndpoints'.
                                      minChildEndpointsIPv4:
                                        type: integer
                                        format: int64
                                        description: The minimum number of IPv4 (DNS
                                          record type A) endpoints that must be available
                                          in the child profile in order for the parent
                                          profile to be considered available. Only
                                          applicable to endpoint of type 'NestedEndpoints'.
                                      minChildEndpointsIPv6:
                                        type: integer
                                        format: int64
                                        description: The minimum number of IPv6 (DNS
                                          record type AAAA) endpoints that must be
                                          available in the child profile in order
                                          for the parent profile to be considered
                                          available. Only applicable to endpoint of
                                          type 'NestedEndpoints'.
                                      geoMapping:
                                        type: array
                                        items:
                                          type: string
                                        description: The list of countries/regions
                                          mapped to this endpoint when using the 'Geographic'
                                          traffic routing method. Please consult Traffic
                                          Manager Geographic documentation for a full
                                          list of accepted values.
                                      subnets:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            first:
                                              type: string
                                              description: First address in the subnet.
                                            last:
                                              type: string
                                              description: Last address in the subnet.
                                            scope:
                                              type: integer
                                              description: Block size (number of leading
                                                bits in the subnet mask).
                                          description: Subnet first address, scope,
                                            and/or last address.
                                        description: The list of subnets, IP addresses,
                                          and/or address ranges mapped to this endpoint
                                          when using the 'Subnet' traffic routing
                                          method. An empty list will match all ranges
                                          not covered by other endpoints.
                                      customHeaders:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                              description: Header name.
                                            value:
                                              type: string
                                              description: Header value.
                                          description: Custom header name and value.
                                        description: List of custom headers.
                                      alwaysServe:
                                        type: string
                                        description: If Always Serve is enabled, probing
                                          for endpoint health will be disabled and
                                          endpoints will be included in the traffic
                                          routing method.
                                        enum:
                                        - Enabled
                                        - Disabled
                                        x-ms-enum:
                                          name: AlwaysServe
                                          modelAsString: true
                                description: The core properties of ARM resources
                                x-ms-azure-resource: true
                              description: The list of endpoints in the Traffic Manager
                                profile.
                            trafficViewEnrollmentStatus:
                              type: string
                              description: Indicates whether Traffic View is 'Enabled'
                                or 'Disabled' for the Traffic Manager profile. Null,
                                indicates 'Disabled'. Enabling this feature will increase
                                the cost of the Traffic Manage profile.
                              enum:
                              - Enabled
                              - Disabled
                              x-ms-enum:
                                name: TrafficViewEnrollmentStatus
                                modelAsString: true
                            allowedEndpointRecordTypes:
                              type: array
                              items:
                                description: The allowed type DNS record types for
                                  this profile.
                                type: string
                                enum:
                                - DomainName
                                - IPv4Address
                                - IPv6Address
                                - Any
                                x-ms-enum:
                                  name: AllowedEndpointRecordType
                                  modelAsString: true
                              description: The list of allowed endpoint record types.
                            maxReturn:
                              type: integer
                              description: Maximum number of endpoints to be returned
                                for MultiValue routing type.
                              format: int64
                      description: The core properties of ARM resources
                      x-ms-azure-resource: true
                    description: Gets the list of Traffic manager profiles.
                description: The list Traffic Manager profiles operation response.
        default:
          description: Default response. It will be deserialized as per the Error
            definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The content of the error.
                    type: object
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
                      target:
                        type: string
                        description: Error target
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Error code
                            message:
                              type: string
                              description: Error message
                            target:
                              type: string
                              description: Error target
                            details:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Error code
                                  message:
                                    type: string
                                    description: Error message
                                  target:
                                    type: string
                                    description: Error target
                                description: The content of an error returned by the
                                  Azure Resource Manager
                                x-ms-external: true
                              description: Error details
                          description: The content of an error returned by the Azure
                            Resource Manager
                          x-ms-external: true
                        description: Error details
                    x-ms-external: true
                description: An error returned by the Azure Resource Manager
                x-ms-external: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      tags:
      - Profiles
      x-ms-pageable: {}
      operationId: Profiles_ListBySubscription
      description: Lists all Traffic Manager profiles within a subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
[...]
