openapi: 3.0.0
info:
  version: 2020-12-01-preview
  title: Edge Ordering Service-Partner
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.EdgeOrderPartner/operations:
    get:
      tags:
      - Operations
      description: This method gets all the operations that are exposed for customer.
      operationId: ListOperationsPartner
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrderPartner/locations/{location}/productFamilies/{familyIdentifier}/inventories/{serialNumber}/manageInventoryMetadata
  : post:
      tags:
      - PartnerInventory
      summary: API for updating inventory metadata and inventory configuration
      operationId: ManageInventoryMetadata
      parameters:
      - $ref: '#/components/parameters/familyIdentifierParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/locationParameter'
      - $ref: '#/components/parameters/serialNumberParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageInventoryMetadataRequest'
        description: Updates inventory metadata and inventory configuration
        required: true
      responses:
        '200':
          description: '"Success"'
        '202':
          description: '"Request is accepted to manage inventory metadata"'
        '204':
          description: '"No content"'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrderPartner/locations/{location}/productFamilies/{familyIdentifier}/inventories/{serialNumber}/manageLink
  : post:
      tags:
      - PartnerInventory
      summary: API for linking management resource with inventory
      operationId: ManageLink
      parameters:
      - $ref: '#/components/parameters/familyIdentifierParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/locationParameter'
      - $ref: '#/components/parameters/serialNumberParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageLinkRequest'
        description: Links the management resource to the inventory
        required: true
      responses:
        '200':
          description: '"Success"'
        '204':
          description: '"No content"'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrderPartner/searchInventories:
    post:
      tags:
      - PartnerInventory
      summary: API for Search inventories
      operationId: SearchInventories
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInventoriesRequest'
        description: Searches inventories with the given filters and returns in the
          form of a list
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerInventoryList'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
servers:
- url: https://management.azure.com
components:
  parameters:
    familyIdentifierParameter:
      name: familyIdentifier
      in: path
      description: Unique identifier for the product family
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    locationParameter:
      name: location
      in: path
      description: The location of the resource
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    serialNumberParameter:
      name: serialNumber
      in: path
      description: The serial number of the device
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AdditionalErrorInfo:
      type: object
      properties:
        type:
          type: string
        info:
          type: object
    AdditionalInventoryDetails:
      description: Contains additional data about inventory in dictionary format
      type: object
      properties:
        additionalData:
          description: Additional Data
          type: object
          additionalProperties:
            type: string
          readOnly: true
    AdditionalOrderItemDetails:
      description: Contains additional order item details
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StageDetails'
        subscription:
          $ref: '#/components/schemas/SubscriptionDetails'
    BillingDetails:
      description: Contains billing details for the inventory
      type: object
      properties:
        billingType:
          description: Billing type for the inventory
          type: string
          readOnly: true
        status:
          description: Billing status for the inventory
          type: string
          readOnly: true
    CloudError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/CloudError'
          readOnly: true
        additionalInfo:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/AdditionalErrorInfo'
          readOnly: true
      x-ms-external: true
    ConfigurationData:
      description: Contains information about inventory configuration
      type: object
      properties:
        familyIdentifier:
          description: Family identifier of inventory
          type: string
          readOnly: true
        productLineIdentifier:
          description: Product Line identifier of inventory
          type: string
          readOnly: true
        productIdentifier:
          description: Product identifier of inventory
          type: string
          readOnly: true
        configurationIdentifier:
          description: Configuration identifier of inventory
          type: string
          readOnly: true
        configurationIdentifierOnDevice:
          description: "Configuration identifier on device - this is used in case
            of any mismatch\r\nbetween actual configuration on inventory and configuration
            stored in service"
          type: string
          readOnly: true
    ConfigurationDetails:
      description: Contains additional configuration details about inventory
      type: object
      properties:
        specifications:
          description: Collection of specification details about the inventory
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/SpecificationDetails'
          readOnly: true
    ConfigurationOnDevice:
      description: Configuration parameters for ManageInventoryMetadata call
      required:
      - configurationIdentifier
      type: object
      properties:
        configurationIdentifier:
          description: Configuration identifier on device
          type: string
    InventoryAdditionalDetails:
      description: Represents additional details about the partner inventory
      type: object
      properties:
        orderItem:
          $ref: '#/components/schemas/AdditionalOrderItemDetails'
        inventoryMetadata:
          description: Contains inventory metadata
          type: string
          readOnly: true
        configuration:
          $ref: '#/components/schemas/ConfigurationDetails'
        inventory:
          $ref: '#/components/schemas/AdditionalInventoryDetails'
        billing:
          $ref: '#/components/schemas/BillingDetails'
        inventorySecrets:
          description: Represents secrets on the inventory
          type: object
          additionalProperties:
            type: string
          readOnly: true
    InventoryData:
      description: Contains basic information about inventory
      type: object
      properties:
        status:
          description: Inventory status
          type: string
          readOnly: true
        location:
          description: Inventory location
          type: string
          readOnly: true
        registrationAllowed:
          description: Boolean flag to indicate if registration is allowed
          type: boolean
          readOnly: true
    InventoryProperties:
      description: Represents inventory properties
      type: object
      properties:
        serialNumber:
          description: Serial number of the device.
          type: string
          readOnly: true
        orderItem:
          $ref: '#/components/schemas/OrderItemData'
        configuration:
          $ref: '#/components/schemas/ConfigurationData'
        managementResource:
          $ref: '#/components/schemas/ManagementResourceData'
        inventory:
          $ref: '#/components/schemas/InventoryData'
        location:
          description: Location of inventory
          type: string
          readOnly: true
        details:
          $ref: '#/components/schemas/InventoryAdditionalDetails'
    ManageInventoryMetadataRequest:
      description: Request body for ManageInventoryMetadata call
      required:
      - inventoryMetadata
      type: object
      properties:
        inventoryMetadata:
          description: Inventory metadata to be updated
          type: string
        configurationOnDevice:
          $ref: '#/components/schemas/ConfigurationOnDevice'
    ManageLinkRequest:
      description: Request body for ManageLink call
      required:
      - managementResourceArmId
      - operation
      - tenantId
      type: object
      properties:
        managementResourceArmId:
          description: "Arm Id of the management resource to which inventory is to
            be linked\r\nFor unlink operation, enter empty string"
          type: string
        operation:
          description: Operation to be performed - Link, Unlink, Relink
          enum:
          - Link
          - Unlink
          - Relink
          type: string
          x-ms-enum:
            name: ManageLinkOperation
            modelAsExtensible: true
            values:
            - value: Link
              description: Link.
            - value: Unlink
              description: Unlink.
            - value: Relink
              description: Relink.
        tenantId:
          description: Tenant ID of management resource associated with inventory
          type: string
    ManagementResourceData:
      description: Contains information about management resource
      type: object
      properties:
        armId:
          description: Arm ID of management resource associated with inventory
          type: string
          readOnly: true
        tenantId:
          description: Tenant ID of management resource associated with inventory
          type: string
          readOnly: true
    OrderItemData:
      description: Contains information about the order item to which inventory belongs
      type: object
      properties:
        armId:
          description: Arm ID of order item
          type: string
          readOnly: true
        orderItemType:
          description: Order item type - purchase or rental
          enum:
          - Purchase
          - Rental
          type: string
          readOnly: true
          x-ms-enum:
            name: OrderItemType
            modelAsExtensible: true
            values:
            - value: Purchase
              description: Purchase OrderItem.
            - value: Rental
              description: Rental OrderItem.
    StageDetails:
      description: Resource stage details.
      type: object
      properties:
        stageStatus:
          description: Stage status.
          enum:
          - None
          - InProgress
          - Succeeded
          - Failed
          - Cancelled
          - Cancelling
          type: string
          readOnly: true
          x-ms-enum:
            name: StageStatus
            modelAsExtensible: true
            values:
            - value: None
              description: No status available yet.
            - value: InProgress
              description: Stage is in progress.
            - value: Succeeded
              description: Stage has succeeded.
            - value: Failed
              description: Stage has failed.
            - value: Cancelled
              description: Stage has been cancelled.
            - value: Cancelling
              description: Stage is cancelling.
        stageName:
          description: Stage name
          enum:
          - DeviceOrdered
          - DevicePrepared
          - PickedUp
          - AtAzureDC
          - DataCopy
          - Completed
          - CompletedWithErrors
          - Cancelled
          - Aborted
          - CompletedWithWarnings
          - ReadyToDispatchFromAzureDC
          - ReadyToReceiveAtAzureDC
          - Placed
          - InReview
          - Confirmed
          - ReadyForDispatch
          - Shipped
          - Delivered
          - InUse
          type: string
          readOnly: true
          x-ms-enum:
            name: StageName
            modelAsExtensible: true
            values:
            - value: DeviceOrdered
              description: An order has been created.
            - value: DevicePrepared
              description: A device has been prepared for the order.
            - value: PickedUp
              description: Device has been picked up from user and in transit to Azure
                datacenter.
            - value: AtAzureDC
              description: Device has been received at Azure datacenter from the user.
            - value: DataCopy
              description: Data copy from the device at Azure datacenter.
            - value: Completed
              description: Order has completed.
            - value: CompletedWithErrors
              description: Order has completed with errors.
            - value: Cancelled
              description: Order has been cancelled.
            - value: Aborted
              description: Order has been aborted.
            - value: Current
            - value: CompletedWithWarnings
              description: Order has completed with warnings.
            - value: ReadyToDispatchFromAzureDC
              description: Device is ready to be handed to customer from Azure DC.
            - value: ReadyToReceiveAtAzureDC
              description: Device can be dropped off at Azure DC.
            - value: Placed
              description: Currently in draft mode and can still be cancelled
            - value: InReview
              description: Order is currently in draft mode and can still be cancelled
            - value: Confirmed
              description: Order is confirmed
            - value: ReadyForDispatch
              description: Order is ready for dispatch
            - value: Shipped
              description: Order is in transit to customer
            - value: Delivered
              description: Order is delivered to customer
            - value: InUse
              description: Order is in use at customer site
        displayName:
          description: Display name of the resource stage.
          type: string
          readOnly: true
        startTime:
          format: date-time
          description: Stage start time
          type: string
          readOnly: true
    PartnerInventory:
      description: Represents partner inventory contract
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/InventoryProperties'
    PartnerInventoryList:
      description: Represents the list of partner inventories
      type: object
      properties:
        value:
          description: List of partner inventories
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/PartnerInventory'
          readOnly: true
        nextLink:
          description: Link for the next set of partner inventories.
          type: string
    SearchInventoriesRequest:
      description: Request body for SearchInventories call
      required:
      - serialNumber
      - familyIdentifier
      type: object
      properties:
        serialNumber:
          description: Serial number of the inventory
          type: string
        familyIdentifier:
          description: Family identifier for inventory
          type: string
    SpecificationDetails:
      description: Specification details for the inventory
      type: object
      properties:
        name:
          description: Name of the specification property
          type: string
          readOnly: true
        value:
          description: Value of the specification property
          type: string
          readOnly: true
    SubscriptionDetails:
      description: Contains subscription details
      type: object
      properties:
        id:
          description: Subscription Id
          type: string
          readOnly: true
        state:
          description: Subscription State
          type: string
          readOnly: true
        quotaId:
          description: Subscription QuotaId
          type: string
          readOnly: true
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider
        Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control
            (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true"
            for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name,
                e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related
                to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation;
                suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart
                Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation;
                suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based
            Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
          - user
          - system
          - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions
            that are for internal only APIs.
          type: string
          readOnly: true
          enum:
          - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider.
        It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
          - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there
            are any).
          readOnly: true
