openapi: 3.0.0
info:
  version: 2025-04-01
  title: OperationsClient
  description: Use these APIs to create extension resources through ARM, for Kubernetes
    Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/operations
  : get:
      tags:
      - Operations in a Cluster
      operationId: OperationStatus_List
      description: List Async Operations, currently in progress, in a cluster
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operations in a cluster
          content:
            application/json:
              schema:
                description: The async operations in progress, in the cluster.
                type: object
                readOnly: true
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      description: The current status of an async operation.
                      type: object
                      required:
                      - status
                      properties:
                        id:
                          description: Fully qualified ID for the async operation.
                          type: string
                        name:
                          description: Name of the async operation.
                          type: string
                        status:
                          description: Operation status.
                          type: string
                        properties:
                          description: Additional information, if available.
                          type: object
                          additionalProperties:
                            type: string
                          nullable: true
                        error:
                          description: If present, details of the operation error.
                          type: object
                          readOnly: true
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                                  details:
                                    readOnly: true
                                    type: array
                                    items:
                                      description: The error detail.
                                      type: object
                                      properties:
                                        code:
                                          readOnly: true
                                          type: string
                                          description: The error code.
                                        message:
                                          readOnly: true
                                          type: string
                                          description: The error message.
                                        target:
                                          readOnly: true
                                          type: string
                                          description: The error target.
                                    x-ms-identifiers:
                                    - message
                                    - target
                                    description: The error details.
                                  additionalInfo:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          readOnly: true
                                          type: string
                                          description: The additional info type.
                                        info:
                                          readOnly: true
                                          type: object
                                          description: The additional info.
                                      description: The resource management error additional
                                        info.
                                    x-ms-identifiers: []
                                    description: The error additional info.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                          nullable: true
                    description: List of async operations in progress, in the cluster.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of Operation Result objects,
                      if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.KubernetesConfiguration/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: List all the available operations the KubernetesConfiguration resource
        provider supports.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                description: Result of the request to list operations.
                type: object
                readOnly: true
                properties:
                  value:
                    type: array
                    items:
                      description: Supported operation of this resource provider.
                      type: object
                      readOnly: true
                      properties:
                        name:
                          description: Operation name, in format of {provider}/{resource}/{operation}
                          type: string
                        display:
                          description: Display metadata associated with the operation.
                          type: object
                          properties:
                            provider:
                              description: 'Resource provider: Microsoft KubernetesConfiguration.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                            operation:
                              description: 'Type of operation: get, read, delete,
                                etc.'
                              type: string
                            description:
                              description: Description of this operation.
                              type: string
                        isDataAction:
                          description: The flag that indicates whether the operation
                            applies to data plane.
                          type: boolean
                          readOnly: true
                        origin:
                          description: Origin of the operation
                          type: string
                          readOnly: true
                    description: List of operations supported by this resource provider.
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to the next set of results, if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ClusterRpParameter:
      name: clusterRp
      in: path
      required: true
      description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes,
        Microsoft.HybridContainerService.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterResourceNameParameter:
      name: clusterResourceName
      in: path
      required: true
      description: The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters,
        provisionedClusters.
      x-ms-parameter-location: method
      schema:
        type: string
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the kubernetes cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
      - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        properties:
          description: Additional information, if available.
          type: object
          additionalProperties:
            type: string
          nullable: true
        error:
          description: If present, details of the operation error.
          type: object
          readOnly: true
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
          nullable: true
    OperationStatusList:
      description: The async operations in progress, in the cluster.
      type: object
      readOnly: true
      properties:
        value:
          type: array
          readOnly: true
          items:
            description: The current status of an async operation.
            type: object
            required:
            - status
            properties:
              id:
                description: Fully qualified ID for the async operation.
                type: string
              name:
                description: Name of the async operation.
                type: string
              status:
                description: Operation status.
                type: string
              properties:
                description: Additional information, if available.
                type: object
                additionalProperties:
                  type: string
                nullable: true
              error:
                description: If present, details of the operation error.
                type: object
                readOnly: true
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                        details:
                          readOnly: true
                          type: array
                          items:
                            description: The error detail.
                            type: object
                            properties:
                              code:
                                readOnly: true
                                type: string
                                description: The error code.
                              message:
                                readOnly: true
                                type: string
                                description: The error message.
                              target:
                                readOnly: true
                                type: string
                                description: The error target.
                          x-ms-identifiers:
                          - message
                          - target
                          description: The error details.
                        additionalInfo:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The additional info type.
                              info:
                                readOnly: true
                                type: object
                                description: The additional info.
                            description: The resource management error additional
                              info.
                          x-ms-identifiers: []
                          description: The error additional info.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
                nullable: true
          description: List of async operations in progress, in the cluster.
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of Operation Result objects, if any.
    ResourceProviderOperation:
      description: Supported operation of this resource provider.
      type: object
      readOnly: true
      properties:
        name:
          description: Operation name, in format of {provider}/{resource}/{operation}
          type: string
        display:
          description: Display metadata associated with the operation.
          type: object
          properties:
            provider:
              description: 'Resource provider: Microsoft KubernetesConfiguration.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            description:
              description: Description of this operation.
              type: string
        isDataAction:
          description: The flag that indicates whether the operation applies to data
            plane.
          type: boolean
          readOnly: true
        origin:
          description: Origin of the operation
          type: string
          readOnly: true
    ResourceProviderOperationList:
      description: Result of the request to list operations.
      type: object
      readOnly: true
      properties:
        value:
          type: array
          items:
            description: Supported operation of this resource provider.
            type: object
            readOnly: true
            properties:
              name:
                description: Operation name, in format of {provider}/{resource}/{operation}
                type: string
              display:
                description: Display metadata associated with the operation.
                type: object
                properties:
                  provider:
                    description: 'Resource provider: Microsoft KubernetesConfiguration.'
                    type: string
                  resource:
                    description: Resource on which the operation is performed.
                    type: string
                  operation:
                    description: 'Type of operation: get, read, delete, etc.'
                    type: string
                  description:
                    description: Description of this operation.
                    type: string
              isDataAction:
                description: The flag that indicates whether the operation applies
                  to data plane.
                type: boolean
                readOnly: true
              origin:
                description: Origin of the operation
                type: string
                readOnly: true
          description: List of operations supported by this resource provider.
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          readOnly: true
          description: URL to the next set of results, if any.
