openapi: 3.0.0
info:
  description: Compute operation results.
  title: FabricAdminClient
  version: 2020-10-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/computeOperationResults/{operation}
  : get:
      tags:
      - ComputeOperationResults
      description: Returns the status of a compute operation.
      operationId: ComputeOperationResults_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: operation
        description: Operation identifier.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: The region where the resource is located.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Compute operation result properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      instances:
                        description: List of operation result instances.
                        type: array
                        items:
                          type: string
                      provisioningState:
                        description: Success or failure of operation.
                        type: string
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/computeOperationResults
  : get:
      tags:
      - ComputeOperationResults
      description: Returns a list of all compute operation results at a location.
      operationId: ComputeOperationResults_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of compute operation results.
                type: object
                properties:
                  value:
                    description: List of compute operation results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: The region where the resource is located.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Compute operation result properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            instances:
                              description: List of operation result instances.
                              type: array
                              items:
                                type: string
                            provisioningState:
                              description: Success or failure of operation.
                              type: string
                      description: Base resource object.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/ComputeOperationResult'
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2020-10-01
    OperationParameter:
      name: operation
      description: Operation identifier.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: Name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Location of the resource.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ComputeOperationResult:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Compute operation result properties.
          x-ms-client-flatten: true
          type: object
          properties:
            instances:
              description: List of operation result instances.
              type: array
              items:
                type: string
            provisioningState:
              description: Success or failure of operation.
              type: string
      description: Base resource object.
      x-ms-azure-resource: true
    ComputeOperationResultModel:
      description: Compute operation result properties.
      type: object
      properties:
        instances:
          description: List of operation result instances.
          type: array
          items:
            type: string
        provisioningState:
          description: Success or failure of operation.
          type: string
    ComputeOperationResultList:
      description: Pageable list of compute operation results.
      type: object
      properties:
        value:
          description: List of compute operation results.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: The region where the resource is located.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Compute operation result properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  instances:
                    description: List of operation result instances.
                    type: array
                    items:
                      type: string
                  provisioningState:
                    description: Success or failure of operation.
                    type: string
            description: Base resource object.
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
