openapi: 3.0.0
info:
  description: Scale unit operation endpoints and objects.
  title: FabricAdminClient
  version: 2020-10-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/scaleOut
  : post:
      tags:
      - ScaleUnits
      description: Scales out a scale unit.
      operationId: ScaleUnits_ScaleOut
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnit
        description: Name of the scale units.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      requestBody:
        content:
          application/json:
            schema:
              description: A list of input data that allows for adding a set of scale
                unit nodes.
              type: object
              properties:
                nodeList:
                  description: List of nodes in the scale unit.
                  type: array
                  items:
                    description: Input data that allows for adding a scale unit node.
                    type: object
                    properties:
                      bmcIpv4Address:
                        x-ms-client-name: BMCIPv4Address
                        description: BMC address of the physical machine.
                        type: string
                      computerName:
                        description: Computer name of the physical machine.
                        type: string
                  x-ms-identifiers: []
                awaitStorageConvergence:
                  description: Flag indicates if the operation should wait for storage
                    to converge before returning.
                  type: boolean
        description: A list of input data that allows for adding a set of scale unit
          nodes.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/setGpuPartitionSize
  : post:
      tags:
      - ScaleUnits
      description: Set GPU partition size.
      operationId: ScaleUnits_SetGPUPartitionSize
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnit
        description: Name of the scale units.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      requestBody:
        content:
          application/json:
            schema:
              description: Input data for setting GPU partitions.
              type: object
              properties:
                gpuPartitionSize:
                  x-ms-client-name: GpuPartitionSize
                  description: Number of GPU partitions
                  type: integer
                  format: int32
        description: Number of GPU partitions.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/createFromJson
  : post:
      tags:
      - ScaleUnits
      description: Add a new scale unit.
      operationId: ScaleUnits_CreateFromJson
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnit
        description: Name of the scale units.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      requestBody:
        content:
          application/json:
            schema:
              description: A list of input data that allows for creating the new scale
                unit.
              type: object
              properties:
                clusterName:
                  description: Cluster name for the new scale unit.
                  type: string
                physicalNodes:
                  description: List of nodes in the scale unit.
                  type: array
                  items:
                    description: Description of a bare metal node used for scale unit
                      scale out operations.
                    type: object
                    properties:
                      bmcIpAddress:
                        x-ms-client-name: BMCIPAddress
                        description: BMC address of the physical machine.
                        type: string
                      name:
                        description: Computer name of the physical machine.
                        type: string
                  x-ms-identifiers:
                  - bmcIpAddress
                torSwitchBgpAsn:
                  description: The ASN for the cluster's rack TOR.
                  type: string
                softwareBgpAsn:
                  description: The software ASN for the cluster's rack.
                  type: string
                torSwitchBgpPeerIp:
                  description: The list of IP addresses used for TOR communication.
                  type: array
                  items:
                    type: string
                infrastructureNetwork:
                  description: The information associated with the infrastructure
                    network that will be subdivided into subnets.
                  type: object
                  properties:
                    subnet:
                      description: The subnet IP mask in the example format 10.0.0.0/25.
                      type: array
                      items:
                        type: string
                    vlanId:
                      description: The Vlan ID of the subnet.
                      type: array
                      items:
                        type: string
                storageNetwork:
                  description: The information associated with the storage network
                    that will be subdivided into subnets.
                  type: object
                  properties:
                    subnet:
                      description: The subnet IP mask in the example format 10.0.0.0/25.
                      type: array
                      items:
                        type: string
                    vlanId:
                      description: The Vlan ID of the subnet.
                      type: array
                      items:
                        type: string
                netQosPriority:
                  description: The network QOS priority setting.
                  type: integer
                  format: int32
        description: A list of input data that allows for creating the new scale unit.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}
  : get:
      tags:
      - ScaleUnits
      description: Returns the requested scale unit.
      operationId: ScaleUnits_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnit
        description: Name of the scale units.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: The region where the resource is located.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a scale unit.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      scaleUnitType:
                        description: Type of cluster.
                        enum:
                        - Unknown
                        - ComputeOnly
                        - StorageOnly
                        - HyperConverged
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ScaleUnitType
                      logicalFaultDomain:
                        description: Fault domain name of the cluster.
                        type: integer
                        format: int32
                      nodes:
                        description: List of nodes in the server.
                        type: array
                        items:
                          type: string
                      state:
                        description: Current state of the cluster.
                        enum:
                        - Unknown
                        - Creating
                        - Running
                        - Upgrading
                        - Deleting
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ScaleUnitState
                      model:
                        description: Model of the servers in the cluster.
                        type: string
                      totalCapacity:
                        description: Capacity information for the cluster.
                        type: object
                        properties:
                          memoryGB:
                            description: The memory for the physical machine.
                            type: number
                            format: float
                          cores:
                            description: The number of CPU cores for the physical
                              machine.
                            type: integer
                            format: int64
                      isMultiNode:
                        description: Denotes if more than one node in cluster.
                        type: boolean
                      isGpuAvailable:
                        description: Denotes if GPU resource is available in the cluster.
                        type: boolean
                      gpuPartitionSize:
                        description: GPU partition size.
                        type: integer
                        format: int32
                      gpuType:
                        description: Type of GPU.
                        enum:
                        - GPUP
                        - DDA
                        - None
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: GpuType
                description: Base resource object.
                x-ms-azure-resource: true
        '404':
          description: NOT FOUND
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits
  : get:
      tags:
      - ScaleUnits
      description: Returns a list of all scale units at a location.
      operationId: ScaleUnits_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A pageable list of scale units.
                type: object
                properties:
                  value:
                    description: List of scale units.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: The region where the resource is located.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a scale unit.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            scaleUnitType:
                              description: Type of cluster.
                              enum:
                              - Unknown
                              - ComputeOnly
                              - StorageOnly
                              - HyperConverged
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ScaleUnitType
                            logicalFaultDomain:
                              description: Fault domain name of the cluster.
                              type: integer
                              format: int32
                            nodes:
                              description: List of nodes in the server.
                              type: array
                              items:
                                type: string
                            state:
                              description: Current state of the cluster.
                              enum:
                              - Unknown
                              - Creating
                              - Running
                              - Upgrading
                              - Deleting
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ScaleUnitState
                            model:
                              description: Model of the servers in the cluster.
                              type: string
                            totalCapacity:
                              description: Capacity information for the cluster.
                              type: object
                              properties:
                                memoryGB:
                                  description: The memory for the physical machine.
                                  type: number
                                  format: float
                                cores:
                                  description: The number of CPU cores for the physical
                                    machine.
                                  type: integer
                                  format: int64
                            isMultiNode:
                              description: Denotes if more than one node in cluster.
                              type: boolean
                            isGpuAvailable:
                              description: Denotes if GPU resource is available in
                                the cluster.
                              type: boolean
                            gpuPartitionSize:
                              description: GPU partition size.
                              type: integer
                              format: int32
                            gpuType:
                              description: Type of GPU.
                              enum:
                              - GPUP
                              - DDA
                              - None
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: GpuType
                      description: Base resource object.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        '404':
          description: NOT FOUND
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/ScaleUnit'
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2020-10-01
    ScaleUnitParameter:
      name: scaleUnit
      description: Name of the scale units.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: Name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Location of the resource.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ScaleUnitCapacity:
      description: The capacity information for a physical machine.
      type: object
      properties:
        memoryGB:
          description: The memory for the physical machine.
          type: number
          format: float
        cores:
          description: The number of CPU cores for the physical machine.
          type: integer
          format: int64
    ScaleUnit:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of a scale unit.
          x-ms-client-flatten: true
          type: object
          properties:
            scaleUnitType:
              description: Type of cluster.
              enum:
              - Unknown
              - ComputeOnly
              - StorageOnly
              - HyperConverged
              type: string
              x-ms-enum:
                modelAsString: true
                name: ScaleUnitType
            logicalFaultDomain:
              description: Fault domain name of the cluster.
              type: integer
              format: int32
            nodes:
              description: List of nodes in the server.
              type: array
              items:
                type: string
            state:
              description: Current state of the cluster.
              enum:
              - Unknown
              - Creating
              - Running
              - Upgrading
              - Deleting
              type: string
              x-ms-enum:
                modelAsString: true
                name: ScaleUnitState
            model:
              description: Model of the servers in the cluster.
              type: string
            totalCapacity:
              description: Capacity information for the cluster.
              type: object
              properties:
                memoryGB:
                  description: The memory for the physical machine.
                  type: number
                  format: float
                cores:
                  description: The number of CPU cores for the physical machine.
                  type: integer
                  format: int64
            isMultiNode:
              description: Denotes if more than one node in cluster.
              type: boolean
            isGpuAvailable:
              description: Denotes if GPU resource is available in the cluster.
              type: boolean
            gpuPartitionSize:
              description: GPU partition size.
              type: integer
              format: int32
            gpuType:
              description: Type of GPU.
              enum:
              - GPUP
              - DDA
              - None
              type: string
              x-ms-enum:
                modelAsString: true
                name: GpuType
      description: Base resource object.
      x-ms-azure-resource: true
    ScaleUnitModel:
      description: Properties of a scale unit.
      type: object
      properties:
        scaleUnitType:
          description: Type of cluster.
          enum:
          - Unknown
          - ComputeOnly
          - StorageOnly
          - HyperConverged
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleUnitType
        logicalFaultDomain:
          description: Fault domain name of the cluster.
          type: integer
          format: int32
        nodes:
          description: List of nodes in the server.
          type: array
          items:
            type: string
        state:
          description: Current state of the cluster.
          enum:
          - Unknown
          - Creating
          - Running
          - Upgrading
          - Deleting
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleUnitState
        model:
          description: Model of the servers in the cluster.
          type: string
        totalCapacity:
          description: Capacity information for the cluster.
          type: object
          properties:
            memoryGB:
              description: The memory for the physical machine.
              type: number
              format: float
            cores:
              description: The number of CPU cores for the physical machine.
              type: integer
              format: int64
        isMultiNode:
          description: Denotes if more than one node in cluster.
          type: boolean
        isGpuAvailable:
          description: Denotes if GPU resource is available in the cluster.
          type: boolean
        gpuPartitionSize:
          description: GPU partition size.
          type: integer
          format: int32
        gpuType:
          description: Type of GPU.
          enum:
          - GPUP
          - DDA
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: GpuType
    ScaleUnitList:
      description: A pageable list of scale units.
      type: object
      properties:
        value:
          description: List of scale units.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: The region where the resource is located.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Properties of a scale unit.
                x-ms-client-flatten: true
                type: object
                properties:
                  scaleUnitType:
                    description: Type of cluster.
                    enum:
                    - Unknown
                    - ComputeOnly
                    - StorageOnly
                    - HyperConverged
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ScaleUnitType
                  logicalFaultDomain:
                    description: Fault domain name of the cluster.
                    type: integer
                    format: int32
                  nodes:
                    description: List of nodes in the server.
                    type: array
                    items:
                      type: string
                  state:
                    description: Current state of the cluster.
                    enum:
                    - Unknown
                    - Creating
                    - Running
                    - Upgrading
                    - Deleting
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ScaleUnitState
                  model:
                    description: Model of the servers in the cluster.
                    type: string
                  totalCapacity:
                    description: Capacity information for the cluster.
                    type: object
                    properties:
                      memoryGB:
                        description: The memory for the physical machine.
                        type: number
                        format: float
                      cores:
                        description: The number of CPU cores for the physical machine.
                        type: integer
                        format: int64
                  isMultiNode:
                    description: Denotes if more than one node in cluster.
                    type: boolean
                  isGpuAvailable:
                    description: Denotes if GPU resource is available in the cluster.
                    type: boolean
                  gpuPartitionSize:
                    description: GPU partition size.
                    type: integer
                    format: int32
                  gpuType:
                    description: Type of GPU.
                    enum:
                    - GPUP
                    - DDA
                    - None
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: GpuType
            description: Base resource object.
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    SetGpuPartitionSizeParameter:
      description: Input data for setting GPU partitions.
      type: object
      properties:
        gpuPartitionSize:
          x-ms-client-name: GpuPartitionSize
          description: Number of GPU partitions
          type: integer
          format: int32
    ScaleOutScaleUnitParameters:
      description: Input data that allows for adding a scale unit node.
      type: object
      properties:
        bmcIpv4Address:
          x-ms-client-name: BMCIPv4Address
          description: BMC address of the physical machine.
          type: string
        computerName:
          description: Computer name of the physical machine.
          type: string
    ScaleOutScaleUnitParametersList:
      description: A list of input data that allows for adding a set of scale unit
        nodes.
      type: object
      properties:
        nodeList:
          description: List of nodes in the scale unit.
          type: array
          items:
            description: Input data that allows for adding a scale unit node.
            type: object
            properties:
              bmcIpv4Address:
                x-ms-client-name: BMCIPv4Address
                description: BMC address of the physical machine.
                type: string
              computerName:
                description: Computer name of the physical machine.
                type: string
          x-ms-identifiers: []
        awaitStorageConvergence:
          description: Flag indicates if the operation should wait for storage to
            converge before returning.
          type: boolean
    NetworkDefinitionParameter:
      description: A definition of the network received from a new cluster operation.
      type: object
      properties:
        subnet:
          description: The subnet IP mask in the example format 10.0.0.0/25.
          type: array
          items:
            type: string
        vlanId:
          description: The Vlan ID of the subnet.
          type: array
          items:
            type: string
    DeploymentJsonPhysicalNodeParameters:
      description: Description of a bare metal node used for scale unit scale out
        operations.
      type: object
      properties:
        bmcIpAddress:
          x-ms-client-name: BMCIPAddress
          description: BMC address of the physical machine.
          type: string
        name:
          description: Computer name of the physical machine.
          type: string
    CreateFromJsonScaleUnitParametersList:
      description: A list of input data that allows for creating the new scale unit.
      type: object
      properties:
        clusterName:
          description: Cluster name for the new scale unit.
          type: string
        physicalNodes:
          description: List of nodes in the scale unit.
          type: array
          items:
            description: Description of a bare metal node used for scale unit scale
              out operations.
            type: object
            properties:
              bmcIpAddress:
                x-ms-client-name: BMCIPAddress
                description: BMC address of the physical machine.
                type: string
              name:
                description: Computer name of the physical machine.
                type: string
          x-ms-identifiers:
          - bmcIpAddress
        torSwitchBgpAsn:
          description: The ASN for the cluster's rack TOR.
          type: string
        softwareBgpAsn:
          description: The software ASN for the cluster's rack.
          type: string
        torSwitchBgpPeerIp:
          description: The list of IP addresses used for TOR communication.
          type: array
          items:
            type: string
        infrastructureNetwork:
          description: The information associated with the infrastructure network
            that will be subdivided into subnets.
          type: object
          properties:
            subnet:
              description: The subnet IP mask in the example format 10.0.0.0/25.
              type: array
              items:
                type: string
            vlanId:
              description: The Vlan ID of the subnet.
              type: array
              items:
                type: string
        storageNetwork:
          description: The information associated with the storage network that will
            be subdivided into subnets.
          type: object
          properties:
            subnet:
              description: The subnet IP mask in the example format 10.0.0.0/25.
              type: array
              items:
                type: string
            vlanId:
              description: The Vlan ID of the subnet.
              type: array
              items:
                type: string
        netQosPriority:
          description: The network QOS priority setting.
          type: integer
          format: int32
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
