openapi: 3.0.0
info:
  description: Scale unit node operation endpoints and objects.
  title: FabricAdminClient
  version: 2020-10-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Shutdown
  : post:
      tags:
      - ScaleUnitNodes
      description: Shutdown a scale unit node.
      operationId: ScaleUnitNodes_Shutdown
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOff
  : post:
      tags:
      - ScaleUnitNodes
      description: Power off a scale unit node.
      operationId: ScaleUnitNodes_PowerOff
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/PowerOn
  : post:
      tags:
      - ScaleUnitNodes
      description: Power on a scale unit node.
      operationId: ScaleUnitNodes_PowerOn
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StartMaintenanceMode
  : post:
      tags:
      - ScaleUnitNodes
      description: Start maintenance mode for a scale unit node.
      operationId: ScaleUnitNodes_StartMaintenanceMode
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/StopMaintenanceMode
  : post:
      tags:
      - ScaleUnitNodes
      description: Stop maintenance mode for a scale unit node.
      operationId: ScaleUnitNodes_StopMaintenanceMode
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}/Repair
  : post:
      tags:
      - ScaleUnitNodes
      description: Repairs a node of the cluster.
      operationId: ScaleUnitNodes_Repair
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      requestBody:
        content:
          application/json:
            schema:
              description: Description of a bare metal node used for ScaleOut operation
                on a cluster.
              type: object
              properties:
                bmcIpv4Address:
                  x-ms-client-name: BMCIPv4Address
                  description: BMC address of the physical machine.
                  type: string
                vendor:
                  description: Vendor of the physical machine.
                  type: string
                model:
                  description: Model of the physical machine.
                  type: string
                serialNumber:
                  description: Serial number of the physical machine.
                  type: string
                biosVersion:
                  description: Bios version of the physical machine.
                  type: string
                computerName:
                  description: Name of the computer.
                  type: string
                clusterName:
                  description: Name of the cluster.
                  type: string
                macAddress:
                  description: Name of the MAC address of the bare metal node.
                  type: string
        description: Description of a node.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes/{scaleUnitNode}
  : get:
      tags:
      - ScaleUnitNodes
      description: Return the requested scale unit node.
      operationId: ScaleUnitNodes_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: scaleUnitNode
        description: Name of the scale unit node.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: The region where the resource is located.
                    type: string
                  tags:
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Holds all properties related to a scale unit node.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      scaleUnitNodeStatus:
                        description: Status of the physical machine.
                        enum:
                        - Running
                        - Maintenance
                        - Stopped
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: ScaleUnitNodeStatus
                      powerState:
                        description: PowerState of the physical machine.
                        enum:
                        - Stopped
                        - Starting
                        - Running
                        - Stopping
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: PowerState
                      bmcAddress:
                        description: BMC address of the physical machine.
                        type: string
                      scaleUnitName:
                        description: Cluster name of the physical machine.
                        type: string
                      scaleUnitUri:
                        description: URI of the corresponding cluster.
                        type: string
                      canPowerOff:
                        description: Value indicating whether the node can be powered
                          off.
                        type: boolean
                      vendor:
                        description: Vendor of the physical machine.
                        type: string
                      model:
                        description: Model of the physical machine.
                        type: string
                      serialNumber:
                        description: Serial number of the physical machine.
                        type: string
                      biosVersion:
                        description: BIOS version of the physical machine.
                        type: string
                      capacity:
                        description: Capacity of the physical machine.
                        type: object
                        properties:
                          memoryGB:
                            description: The memory for the physical machine.
                            type: number
                            format: float
                          cores:
                            description: The number of CPU cores for the physical
                              machine.
                            type: integer
                            format: int64
                      gpus:
                        description: GPU resource list of the physical machine.
                        type: array
                        items:
                          type: object
                          description: The GPU information on the physical machine.
                          properties:
                            hostDriverVersion:
                              description: GPU host driver version.
                              type: string
                            name:
                              description: GPU name.
                              type: string
                            partitionSize:
                              description: GPU partition size.
                              type: integer
                              format: int32
                            slotLocation:
                              description: GPU slot location.
                              type: string
                            oem:
                              description: GPU OEM information
                              type: string
                            type:
                              description: Type of GPU.
                              enum:
                              - GPUP
                              - DDA
                              - None
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: GpuType
                        x-ms-identifiers:
                        - name
                        - type
                description: Base resource object.
                x-ms-azure-resource: true
        '404':
          description: NOT FOUND
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnitNodes
  : get:
      tags:
      - ScaleUnitNodes
      description: Returns a list of all scale unit nodes in a location.
      operationId: ScaleUnitNodes_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2020-10-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A pageable list of scale unit nodes.
                type: object
                properties:
                  value:
                    description: List of scale unit nodes.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: The region where the resource is located.
                          type: string
                        tags:
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Holds all properties related to a scale unit
                            node.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            scaleUnitNodeStatus:
                              description: Status of the physical machine.
                              enum:
                              - Running
                              - Maintenance
                              - Stopped
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ScaleUnitNodeStatus
                            powerState:
                              description: PowerState of the physical machine.
                              enum:
                              - Stopped
                              - Starting
                              - Running
                              - Stopping
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: PowerState
                            bmcAddress:
                              description: BMC address of the physical machine.
                              type: string
                            scaleUnitName:
                              description: Cluster name of the physical machine.
                              type: string
                            scaleUnitUri:
                              description: URI of the corresponding cluster.
                              type: string
                            canPowerOff:
                              description: Value indicating whether the node can be
                                powered off.
                              type: boolean
                            vendor:
                              description: Vendor of the physical machine.
                              type: string
                            model:
                              description: Model of the physical machine.
                              type: string
                            serialNumber:
                              description: Serial number of the physical machine.
                              type: string
                            biosVersion:
                              description: BIOS version of the physical machine.
                              type: string
                            capacity:
                              description: Capacity of the physical machine.
                              type: object
                              properties:
                                memoryGB:
                                  description: The memory for the physical machine.
                                  type: number
                                  format: float
                                cores:
                                  description: The number of CPU cores for the physical
                                    machine.
                                  type: integer
                                  format: int64
                            gpus:
                              description: GPU resource list of the physical machine.
                              type: array
                              items:
                                type: object
                                description: The GPU information on the physical machine.
                                properties:
                                  hostDriverVersion:
                                    description: GPU host driver version.
                                    type: string
                                  name:
                                    description: GPU name.
                                    type: string
                                  partitionSize:
                                    description: GPU partition size.
                                    type: integer
                                    format: int32
                                  slotLocation:
                                    description: GPU slot location.
                                    type: string
                                  oem:
                                    description: GPU OEM information
                                    type: string
                                  type:
                                    description: Type of GPU.
                                    enum:
                                    - GPUP
                                    - DDA
                                    - None
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: GpuType
                              x-ms-identifiers:
                              - name
                              - type
                      description: Base resource object.
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI to the next page.
                    type: string
        '404':
          description: NOT FOUND
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/ScaleUnitNode'
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2020-10-01
    ScaleUnitNodeParameter:
      name: scaleUnitNode
      description: Name of the scale unit node.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: Name of the resource group.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Location of the resource.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    BareMetalNodeDescription:
      description: Description of a bare metal node used for ScaleOut operation on
        a cluster.
      type: object
      properties:
        bmcIpv4Address:
          x-ms-client-name: BMCIPv4Address
          description: BMC address of the physical machine.
          type: string
        vendor:
          description: Vendor of the physical machine.
          type: string
        model:
          description: Model of the physical machine.
          type: string
        serialNumber:
          description: Serial number of the physical machine.
          type: string
        biosVersion:
          description: Bios version of the physical machine.
          type: string
        computerName:
          description: Name of the computer.
          type: string
        clusterName:
          description: Name of the cluster.
          type: string
        macAddress:
          description: Name of the MAC address of the bare metal node.
          type: string
    ScaleUnitNode:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Holds all properties related to a scale unit node.
          x-ms-client-flatten: true
          type: object
          properties:
            scaleUnitNodeStatus:
              description: Status of the physical machine.
              enum:
              - Running
              - Maintenance
              - Stopped
              type: string
              x-ms-enum:
                modelAsString: true
                name: ScaleUnitNodeStatus
            powerState:
              description: PowerState of the physical machine.
              enum:
              - Stopped
              - Starting
              - Running
              - Stopping
              type: string
              x-ms-enum:
                modelAsString: true
                name: PowerState
            bmcAddress:
              description: BMC address of the physical machine.
              type: string
            scaleUnitName:
              description: Cluster name of the physical machine.
              type: string
            scaleUnitUri:
              description: URI of the corresponding cluster.
              type: string
            canPowerOff:
              description: Value indicating whether the node can be powered off.
              type: boolean
            vendor:
              description: Vendor of the physical machine.
              type: string
            model:
              description: Model of the physical machine.
              type: string
            serialNumber:
              description: Serial number of the physical machine.
              type: string
            biosVersion:
              description: BIOS version of the physical machine.
              type: string
            capacity:
              description: Capacity of the physical machine.
              type: object
              properties:
                memoryGB:
                  description: The memory for the physical machine.
                  type: number
                  format: float
                cores:
                  description: The number of CPU cores for the physical machine.
                  type: integer
                  format: int64
            gpus:
              description: GPU resource list of the physical machine.
              type: array
              items:
                type: object
                description: The GPU information on the physical machine.
                properties:
                  hostDriverVersion:
                    description: GPU host driver version.
                    type: string
                  name:
                    description: GPU name.
                    type: string
                  partitionSize:
                    description: GPU partition size.
                    type: integer
                    format: int32
                  slotLocation:
                    description: GPU slot location.
                    type: string
                  oem:
                    description: GPU OEM information
                    type: string
                  type:
                    description: Type of GPU.
                    enum:
                    - GPUP
                    - DDA
                    - None
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: GpuType
              x-ms-identifiers:
              - name
              - type
      description: Base resource object.
      x-ms-azure-resource: true
    ScaleUnitNodeModel:
      description: Holds all properties related to a scale unit node.
      type: object
      properties:
        scaleUnitNodeStatus:
          description: Status of the physical machine.
          enum:
          - Running
          - Maintenance
          - Stopped
          type: string
          x-ms-enum:
            modelAsString: true
            name: ScaleUnitNodeStatus
        powerState:
          description: PowerState of the physical machine.
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          type: string
          x-ms-enum:
            modelAsString: true
            name: PowerState
        bmcAddress:
          description: BMC address of the physical machine.
          type: string
        scaleUnitName:
          description: Cluster name of the physical machine.
          type: string
        scaleUnitUri:
          description: URI of the corresponding cluster.
          type: string
        canPowerOff:
          description: Value indicating whether the node can be powered off.
          type: boolean
        vendor:
          description: Vendor of the physical machine.
          type: string
        model:
          description: Model of the physical machine.
          type: string
        serialNumber:
          description: Serial number of the physical machine.
          type: string
        biosVersion:
          description: BIOS version of the physical machine.
          type: string
        capacity:
          description: Capacity of the physical machine.
          type: object
          properties:
            memoryGB:
              description: The memory for the physical machine.
              type: number
              format: float
            cores:
              description: The number of CPU cores for the physical machine.
              type: integer
              format: int64
        gpus:
          description: GPU resource list of the physical machine.
          type: array
          items:
            type: object
            description: The GPU information on the physical machine.
            properties:
              hostDriverVersion:
                description: GPU host driver version.
                type: string
              name:
                description: GPU name.
                type: string
              partitionSize:
                description: GPU partition size.
                type: integer
                format: int32
              slotLocation:
                description: GPU slot location.
                type: string
              oem:
                description: GPU OEM information
                type: string
              type:
                description: Type of GPU.
                enum:
                - GPUP
                - DDA
                - None
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: GpuType
          x-ms-identifiers:
          - name
          - type
    GpuModel:
      description: The GPU information on the physical machine.
      type: object
      properties:
        hostDriverVersion:
          description: GPU host driver version.
          type: string
        name:
          description: GPU name.
          type: string
        partitionSize:
          description: GPU partition size.
          type: integer
          format: int32
        slotLocation:
          description: GPU slot location.
          type: string
        oem:
          description: GPU OEM information
          type: string
        type:
          description: Type of GPU.
          enum:
          - GPUP
          - DDA
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: GpuType
    ScaleUnitNodeList:
      description: A pageable list of scale unit nodes.
      type: object
      properties:
        value:
          description: List of scale unit nodes.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: The region where the resource is located.
                type: string
              tags:
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Holds all properties related to a scale unit node.
                x-ms-client-flatten: true
                type: object
                properties:
                  scaleUnitNodeStatus:
                    description: Status of the physical machine.
                    enum:
                    - Running
                    - Maintenance
                    - Stopped
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ScaleUnitNodeStatus
                  powerState:
                    description: PowerState of the physical machine.
                    enum:
                    - Stopped
                    - Starting
                    - Running
                    - Stopping
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: PowerState
                  bmcAddress:
                    description: BMC address of the physical machine.
                    type: string
                  scaleUnitName:
                    description: Cluster name of the physical machine.
                    type: string
                  scaleUnitUri:
                    description: URI of the corresponding cluster.
                    type: string
                  canPowerOff:
                    description: Value indicating whether the node can be powered
                      off.
                    type: boolean
                  vendor:
                    description: Vendor of the physical machine.
                    type: string
                  model:
                    description: Model of the physical machine.
                    type: string
                  serialNumber:
                    description: Serial number of the physical machine.
                    type: string
                  biosVersion:
                    description: BIOS version of the physical machine.
                    type: string
                  capacity:
                    description: Capacity of the physical machine.
                    type: object
                    properties:
                      memoryGB:
                        description: The memory for the physical machine.
                        type: number
                        format: float
                      cores:
                        description: The number of CPU cores for the physical machine.
                        type: integer
                        format: int64
                  gpus:
                    description: GPU resource list of the physical machine.
                    type: array
                    items:
                      type: object
                      description: The GPU information on the physical machine.
                      properties:
                        hostDriverVersion:
                          description: GPU host driver version.
                          type: string
                        name:
                          description: GPU name.
                          type: string
                        partitionSize:
                          description: GPU partition size.
                          type: integer
                          format: int32
                        slotLocation:
                          description: GPU slot location.
                          type: string
                        oem:
                          description: GPU OEM information
                          type: string
                        type:
                          description: Type of GPU.
                          enum:
                          - GPUP
                          - DDA
                          - None
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: GpuType
                    x-ms-identifiers:
                    - name
                    - type
            description: Base resource object.
            x-ms-azure-resource: true
        nextLink:
          description: The URI to the next page.
          type: string
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: The region where the resource is located.
          type: string
        tags:
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ScaleUnitCapacity:
      description: The capacity information for a physical machine.
      type: object
      properties:
        memoryGB:
          description: The memory for the physical machine.
          type: number
          format: float
        cores:
          description: The number of CPU cores for the physical machine.
          type: integer
          format: int64
