openapi: 3.0.0
info:
  description: "Azure Managed Lustre provides a fully managed Lustre\xAE file system,\
    \ integrated with Blob storage, for use on demand. These operations create and\
    \ manage Azure Managed Lustre file systems."
  title: Managed Lustre client
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/amlFilesystems:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of AML file systems. Note that entity references might
            replace complete file system objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                description: Result of the request to list AML file systems. It contains
                  a list of AML file systems and a URL link to get the next set of
                  results.
                properties:
                  nextLink:
                    description: URL to get the next set of AML file system list results,
                      if there are any.
                    type: string
                  value:
                    description: List of AML file systems.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: The managed identity used by the AML file system,
                            if configured.
                          type: object
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID for the user-assigned
                                identity of the resource.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID associated with the resource.
                            type:
                              type: string
                              description: The type of identity used for the resource.
                              enum:
                              - UserAssigned
                              - None
                              x-ms-enum:
                                name: AmlFilesystemIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              description: A dictionary where each key is a user assigned
                                identity resource ID, and each key's value is an empty
                                dictionary.
                              type: object
                              additionalProperties:
                                type: object
                                x-ms-client-name: userAssignedIdentitiesValue
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: The principal ID of the user-assigned
                                      identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: The client ID of the user-assigned
                                      identity.
                        sku:
                          description: SKU for the resource.
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            name:
                              description: SKU name for this resource.
                              type: string
                          type: object
                        zones:
                          type: array
                          items:
                            type: string
                          description: Availability zones for resources. This field
                            should only contain a single element in the array.
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the AML file system.
                          properties:
                            storageCapacityTiB:
                              description: The size of the AML file system, in TiB.
                                This might be rounded up.
                              x-ms-mutability:
                              - read
                              - create
                              type: number
                              format: float
                            health:
                              description: Health of the AML file system.
                              readOnly: true
                              properties:
                                state:
                                  description: List of AML file system health states.
                                  enum:
                                  - Unavailable
                                  - Available
                                  - Degraded
                                  - Transitioning
                                  - Maintenance
                                  x-ms-enum:
                                    name: AmlFilesystemHealthStateType
                                    modelAsString: true
                                  type: string
                                statusCode:
                                  description: Server-defined error code for the AML
                                    file system health
                                  type: string
                                statusDescription:
                                  description: Describes the health state.
                                  type: string
                              type: object
                            provisioningState:
                              description: ARM provisioning state.
                              enum:
                              - Succeeded
                              - Failed
                              - Creating
                              - Deleting
                              - Updating
                              - Canceled
                              x-ms-enum:
                                name: AmlFilesystemProvisioningStateType
                                modelAsString: true
                              type: string
                              readOnly: true
                            filesystemSubnet:
                              description: Subnet used for managing the AML file system
                                and for client-facing operations. This subnet should
                                have at least a /24 subnet mask within the VNET's
                                address space.
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                            clientInfo:
                              description: Client information for the AML file system.
                              type: object
                              readOnly: true
                              properties:
                                mgsAddress:
                                  description: The IPv4 address used by clients to
                                    mount the AML file system's Lustre Management
                                    Service (MGS).
                                  readOnly: true
                                  type: string
                                mountCommand:
                                  description: Recommended command to mount the AML
                                    file system
                                  readOnly: true
                                  type: string
                                lustreVersion:
                                  type: string
                                  description: The version of Lustre running in the
                                    AML file system
                                  readOnly: true
                                containerStorageInterface:
                                  description: Container Storage Interface information
                                    for the AML file system.
                                  type: object
                                  readOnly: true
                                  properties:
                                    persistentVolumeClaim:
                                      description: Recommended AKS Persistent Volume
                                        Claim for the CSI driver, in Base64 encoded
                                        YAML
                                      readOnly: true
                                      type: string
                                    persistentVolume:
                                      description: Recommended AKS Persistent Volume
                                        for the CSI driver, in Base64 encoded YAML
                                      readOnly: true
                                      type: string
                                    storageClass:
                                      description: Recommended AKS Storage Class for
                                        the CSI driver, in Base64 encoded YAML
                                      readOnly: true
                                      type: string
                            throughputProvisionedMBps:
                              type: integer
                              format: int32
                              description: Throughput provisioned in MB per sec, calculated
                                as storageCapacityTiB * per-unit storage throughput
                              readOnly: true
                            encryptionSettings:
                              description: Specifies encryption settings of the AML
                                file system.
                              properties:
                                keyEncryptionKey:
                                  description: Specifies the location of the encryption
                                    key in Key Vault.
                                  type: object
                                  properties:
                                    keyUrl:
                                      type: string
                                      description: The URL referencing a key encryption
                                        key in key vault.
                                    sourceVault:
                                      type: object
                                      description: Describes a resource Id to source
                                        key vault.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id.
                                  required:
                                  - keyUrl
                                  - sourceVault
                              type: object
                            maintenanceWindow:
                              description: Start time of a 30-minute weekly maintenance
                                window.
                              type: object
                              properties:
                                dayOfWeek:
                                  type: string
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: MaintenanceDayOfWeekType
                                    modelAsString: false
                                  description: Day of the week on which the maintenance
                                    window will occur.
                                timeOfDayUTC:
                                  type: string
                                  pattern: ^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
                                  description: The time of day (in UTC) to start the
                                    maintenance window.
                            hsm:
                              type: object
                              description: Hydration and archive settings and status
                              properties:
                                settings:
                                  description: Specifies HSM settings of the AML file
                                    system.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    container:
                                      description: Resource ID of storage container
                                        used for hydrating the namespace and archiving
                                        from the namespace. The resource provider
                                        must have permission to create SAS tokens
                                        on the storage account.
                                      type: string
                                    loggingContainer:
                                      description: Resource ID of storage container
                                        used for logging events and errors.  Must
                                        be a separate container in the same storage
                                        account as the hydration and archive container.
                                        The resource provider must have permission
                                        to create SAS tokens on the storage account.
                                      type: string
                                    importPrefix:
                                      description: Only blobs in the non-logging container
                                        that start with this path/prefix get imported
                                        into the cluster namespace. This is only used
                                        during initial creation of the AML file system.
                                        It automatically creates an import job resource
                                        that can be deleted.
                                      type: string
                                      default: /
                                    importPrefixesInitial:
                                      type: array
                                      description: Only blobs in the non-logging container
                                        that start with one of the paths/prefixes
                                        in this array get imported into the cluster
                                        namespace. This is only used during initial
                                        creation of the AML file system and has '/'
                                        as the default value. It automatically creates
                                        an import job resource that can be deleted.
                                      items:
                                        type: string
                                  required:
                                  - container
                                  - loggingContainer
                                archiveStatus:
                                  type: array
                                  readOnly: true
                                  description: Archive status
                                  items:
                                    description: Information about the AML file system
                                      archive
                                    type: object
                                    readOnly: true
                                    properties:
                                      filesystemPath:
                                        readOnly: true
                                        type: string
                                        description: Lustre file system path to archive
                                          relative to the file system root.  Specify
                                          '/' to archive all modified data.
                                      status:
                                        description: The status of the archive
                                        type: object
                                        readOnly: true
                                        properties:
                                          state:
                                            readOnly: true
                                            description: The state of the archive
                                              operation
                                            type: string
                                            enum:
                                            - NotConfigured
                                            - Idle
                                            - InProgress
                                            - Canceled
                                            - Completed
                                            - Failed
                                            - Cancelling
                                            - FSScanInProgress
                                            x-ms-enum:
                                              name: ArchiveStatusType
                                              modelAsString: true
                                          lastCompletionTime:
                                            readOnly: true
                                            description: The time of the last completed
                                              archive operation
                                            type: string
                                            format: date-time
                                          lastStartedTime:
                                            readOnly: true
                                            description: The time the latest archive
                                              operation started
                                            type: string
                                            format: date-time
                                          percentComplete:
                                            readOnly: true
                                            description: The completion percentage
                                              of the archive operation
                                            type: integer
                                            format: int32
                                          errorCode:
                                            readOnly: true
                                            description: Server-defined error code
                                              for the archive operation
                                            type: string
                                          errorMessage:
                                            readOnly: true
                                            description: Server-defined error message
                                              for the archive operation
                                            type: string
                                  x-ms-identifiers:
                                  - filesystemPath
                            rootSquashSettings:
                              description: Specifies root squash settings of the AML
                                file system.
                              properties:
                                mode:
                                  type: string
                                  description: 'Squash mode of the AML file system.
                                    ''All'': User and Group IDs on files will be squashed
                                    to the provided values for all users on non-trusted
                                    systems. ''RootOnly'': User and Group IDs on files
                                    will be squashed to provided values for solely
                                    the root user on non-trusted systems. ''None'':
                                    No squashing of User and Group IDs is performed
                                    for any users on any systems.'
                                  enum:
                                  - None
                                  - RootOnly
                                  - All
                                  x-ms-enum:
                                    name: AmlFilesystemSquashMode
                                    modelAsString: true
                                noSquashNidLists:
                                  description: Semicolon separated NID IP Address
                                    list(s) to be added to the TrustedSystems.
                                  type: string
                                squashUID:
                                  type: integer
                                  description: User ID to squash to.
                                  format: int64
                                squashGID:
                                  type: integer
                                  description: Group ID to squash to.
                                  format: int64
                                status:
                                  readOnly: true
                                  type: string
                                  description: AML file system squash status.
                              type: object
                          type: object
                          required:
                          - filesystemSubnet
                          - storageCapacityTiB
                          - maintenanceWindow
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - amlFilesystems
      description: Returns all AML file systems the user has access to under a subscription.
      operationId: amlFilesystems_List
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems:
    get:
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of AmlFilesystem objects. Note that entity references
            might replace complete AmlFilesystem objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                description: Result of the request to list AML file systems. It contains
                  a list of AML file systems and a URL link to get the next set of
                  results.
                properties:
                  nextLink:
                    description: URL to get the next set of AML file system list results,
                      if there are any.
                    type: string
                  value:
                    description: List of AML file systems.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: The managed identity used by the AML file system,
                            if configured.
                          type: object
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID for the user-assigned
                                identity of the resource.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID associated with the resource.
                            type:
                              type: string
                              description: The type of identity used for the resource.
                              enum:
                              - UserAssigned
                              - None
                              x-ms-enum:
                                name: AmlFilesystemIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              description: A dictionary where each key is a user assigned
                                identity resource ID, and each key's value is an empty
                                dictionary.
                              type: object
                              additionalProperties:
                                type: object
                                x-ms-client-name: userAssignedIdentitiesValue
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: The principal ID of the user-assigned
                                      identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: The client ID of the user-assigned
                                      identity.
                        sku:
                          description: SKU for the resource.
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            name:
                              description: SKU name for this resource.
                              type: string
                          type: object
                        zones:
                          type: array
                          items:
                            type: string
                          description: Availability zones for resources. This field
                            should only contain a single element in the array.
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the AML file system.
                          properties:
                            storageCapacityTiB:
                              description: The size of the AML file system, in TiB.
                                This might be rounded up.
                              x-ms-mutability:
                              - read
                              - create
                              type: number
                              format: float
                            health:
                              description: Health of the AML file system.
                              readOnly: true
                              properties:
                                state:
                                  description: List of AML file system health states.
                                  enum:
                                  - Unavailable
                                  - Available
                                  - Degraded
                                  - Transitioning
                                  - Maintenance
                                  x-ms-enum:
                                    name: AmlFilesystemHealthStateType
                                    modelAsString: true
                                  type: string
                                statusCode:
                                  description: Server-defined error code for the AML
                                    file system health
                                  type: string
                                statusDescription:
                                  description: Describes the health state.
                                  type: string
                              type: object
                            provisioningState:
                              description: ARM provisioning state.
                              enum:
                              - Succeeded
                              - Failed
                              - Creating
                              - Deleting
                              - Updating
                              - Canceled
                              x-ms-enum:
                                name: AmlFilesystemProvisioningStateType
                                modelAsString: true
                              type: string
                              readOnly: true
                            filesystemSubnet:
                              description: Subnet used for managing the AML file system
                                and for client-facing operations. This subnet should
                                have at least a /24 subnet mask within the VNET's
                                address space.
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                            clientInfo:
                              description: Client information for the AML file system.
                              type: object
                              readOnly: true
                              properties:
                                mgsAddress:
                                  description: The IPv4 address used by clients to
                                    mount the AML file system's Lustre Management
                                    Service (MGS).
                                  readOnly: true
                                  type: string
                                mountCommand:
                                  description: Recommended command to mount the AML
                                    file system
                                  readOnly: true
                                  type: string
                                lustreVersion:
                                  type: string
                                  description: The version of Lustre running in the
                                    AML file system
                                  readOnly: true
                                containerStorageInterface:
                                  description: Container Storage Interface information
                                    for the AML file system.
                                  type: object
                                  readOnly: true
                                  properties:
                                    persistentVolumeClaim:
                                      description: Recommended AKS Persistent Volume
                                        Claim for the CSI driver, in Base64 encoded
                                        YAML
                                      readOnly: true
                                      type: string
                                    persistentVolume:
                                      description: Recommended AKS Persistent Volume
                                        for the CSI driver, in Base64 encoded YAML
                                      readOnly: true
                                      type: string
                                    storageClass:
                                      description: Recommended AKS Storage Class for
                                        the CSI driver, in Base64 encoded YAML
                                      readOnly: true
                                      type: string
                            throughputProvisionedMBps:
                              type: integer
                              format: int32
                              description: Throughput provisioned in MB per sec, calculated
                                as storageCapacityTiB * per-unit storage throughput
                              readOnly: true
                            encryptionSettings:
                              description: Specifies encryption settings of the AML
                                file system.
                              properties:
                                keyEncryptionKey:
                                  description: Specifies the location of the encryption
                                    key in Key Vault.
                                  type: object
                                  properties:
                                    keyUrl:
                                      type: string
                                      description: The URL referencing a key encryption
                                        key in key vault.
                                    sourceVault:
                                      type: object
                                      description: Describes a resource Id to source
                                        key vault.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id.
                                  required:
                                  - keyUrl
                                  - sourceVault
                              type: object
                            maintenanceWindow:
                              description: Start time of a 30-minute weekly maintenance
                                window.
                              type: object
                              properties:
                                dayOfWeek:
                                  type: string
                                  enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  x-ms-enum:
                                    name: MaintenanceDayOfWeekType
                                    modelAsString: false
                                  description: Day of the week on which the maintenance
                                    window will occur.
                                timeOfDayUTC:
                                  type: string
                                  pattern: ^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
                                  description: The time of day (in UTC) to start the
                                    maintenance window.
                            hsm:
                              type: object
                              description: Hydration and archive settings and status
                              properties:
                                settings:
                                  description: Specifies HSM settings of the AML file
                                    system.
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    container:
                                      description: Resource ID of storage container
                                        used for hydrating the namespace and archiving
                                        from the namespace. The resource provider
                                        must have permission to create SAS tokens
                                        on the storage account.
                                      type: string
                                    loggingContainer:
                                      description: Resource ID of storage container
                                        used for logging events and errors.  Must
                                        be a separate container in the same storage
                                        account as the hydration and archive container.
                                        The resource provider must have permission
                                        to create SAS tokens on the storage account.
                                      type: string
                                    importPrefix:
                                      description: Only blobs in the non-logging container
                                        that start with this path/prefix get imported
                                        into the cluster namespace. This is only used
                                        during initial creation of the AML file system.
                                        It automatically creates an import job resource
                                        that can be deleted.
                                      type: string
                                      default: /
                                    importPrefixesInitial:
                                      type: array
                                      description: Only blobs in the non-logging container
                                        that start with one of the paths/prefixes
                                        in this array get imported into the cluster
                                        namespace. This is only used during initial
                                        creation of the AML file system and has '/'
                                        as the default value. It automatically creates
                                        an import job resource that can be deleted.
                                      items:
                                        type: string
                                  required:
                                  - container
                                  - loggingContainer
                                archiveStatus:
                                  type: array
                                  readOnly: true
                                  description: Archive status
                                  items:
                                    description: Information about the AML file system
                                      archive
                                    type: object
                                    readOnly: true
                                    properties:
                                      filesystemPath:
                                        readOnly: true
                                        type: string
                                        description: Lustre file system path to archive
                                          relative to the file system root.  Specify
                                          '/' to archive all modified data.
                                      status:
                                        description: The status of the archive
                                        type: object
                                        readOnly: true
                                        properties:
                                          state:
                                            readOnly: true
                                            description: The state of the archive
                                              operation
                                            type: string
                                            enum:
                                            - NotConfigured
                                            - Idle
                                            - InProgress
                                            - Canceled
                                            - Completed
                                            - Failed
                                            - Cancelling
                                            - FSScanInProgress
                                            x-ms-enum:
                                              name: ArchiveStatusType
                                              modelAsString: true
                                          lastCompletionTime:
                                            readOnly: true
                                            description: The time of the last completed
                                              archive operation
                                            type: string
                                            format: date-time
                                          lastStartedTime:
                                            readOnly: true
                                            description: The time the latest archive
                                              operation started
                                            type: string
                                            format: date-time
                                          percentComplete:
                                            readOnly: true
                                            description: The completion percentage
                                              of the archive operation
                                            type: integer
                                            format: int32
                                          errorCode:
                                            readOnly: true
                                            description: Server-defined error code
                                              for the archive operation
                                            type: string
                                          errorMessage:
                                            readOnly: true
                                            description: Server-defined error message
                                              for the archive operation
                                            type: string
                                  x-ms-identifiers:
                                  - filesystemPath
                            rootSquashSettings:
                              description: Specifies root squash settings of the AML
                                file system.
                              properties:
                                mode:
                                  type: string
                                  description: 'Squash mode of the AML file system.
                                    ''All'': User and Group IDs on files will be squashed
                                    to the provided values for all users on non-trusted
                                    systems. ''RootOnly'': User and Group IDs on files
                                    will be squashed to provided values for solely
                                    the root user on non-trusted systems. ''None'':
                                    No squashing of User and Group IDs is performed
                                    for any users on any systems.'
                                  enum:
                                  - None
                                  - RootOnly
                                  - All
                                  x-ms-enum:
                                    name: AmlFilesystemSquashMode
                                    modelAsString: true
                                noSquashNidLists:
                                  description: Semicolon separated NID IP Address
                                    list(s) to be added to the TrustedSystems.
                                  type: string
                                squashUID:
                                  type: integer
                                  description: User ID to squash to.
                                  format: int64
                                squashGID:
                                  type: integer
                                  description: Group ID to squash to.
                                  format: int64
                                status:
                                  readOnly: true
                                  type: string
                                  description: AML file system squash status.
                              type: object
                          type: object
                          required:
                          - filesystemSubnet
                          - storageCapacityTiB
                          - maintenanceWindow
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    type: array
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - amlFilesystems
      description: Returns all AML file systems the user has access to under a resource
        group.
      operationId: amlFilesystems_ListByResourceGroup
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}
  : delete:
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: Name for the AML file system. Allows alphanumerics, underscores,
          and hyphens. Start and end with alphanumeric.
        in: path
        name: amlFilesystemName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 80
          pattern: ^[0-9a-zA-Z][-0-9a-zA-Z_]{0,78}[0-9a-zA-Z]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: AML file system deleted.
        '202':
          description: Started the AML file system's transition to Deleted state.
            Poll the AML file system to monitor.
          headers:
            Location:
              description: Location URI to poll for result
              schema:
                type: string
            Azure-AsyncOperation:
              description: URI to poll for the operation status
              schema:
                type: string
        '204':
          description: AML file system deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      tags:
      - amlFilesystems
      description: Schedules an AML file system for deletion.
      operationId: amlFilesystems_Delete
    get:
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - description: Name for the AML file system. Allows alphanumerics, underscores,
          and hyphens. Start and end with alphanumeric.
        in: path
        name: amlFilesystemName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 80
          pattern: ^[0-9a-zA-Z][-0-9a-zA-Z_]{0,78}[0-9a-zA-Z]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Returns the AML file system object corresponding to amlFilesystemName.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: The managed identity used by the AML file system,
                      if configured.
                    type: object
                    x-ms-mutability:
                    - read
                    - create
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID for the user-assigned identity
                          of the resource.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID associated with the resource.
                      type:
                        type: string
                        description: The type of identity used for the resource.
                        enum:
                        - UserAssigned
                        - None
                        x-ms-enum:
                          name: AmlFilesystemIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: A dictionary where each key is a user assigned
                          identity resource ID, and each key's value is an empty dictionary.
                        type: object
                        additionalProperties:
                          type: object
                          x-ms-client-name: userAssignedIdentitiesValue
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID of the user-assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client ID of the user-assigned identity.
                  sku:
                    description: SKU for the resource.
                    x-ms-mutability:
                    - read
                    - create
                    properties:
                      name:
                        description: SKU name for this resource.
                        type: string
                    type: object
                  zones:
                    type: array
                    items:
                      type: string
                    description: Availability zones for resources. This field should
                      only contain a single element in the array.
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the AML file system.
                    properties:
                      storageCapacityTiB:
                        description: The size of the AML file system, in TiB. This
                          might be rounded up.
                        x-ms-mutability:
                        - read
                        - create
                        type: number
                        format: float
                      health:
                        description: Health of the AML file system.
                        readOnly: true
                        properties:
                          state:
                            description: List of AML file system health states.
                            enum:
                            - Unavailable
                            - Available
                            - Degraded
                            - Transitioning
                            - Maintenance
                            x-ms-enum:
                              name: AmlFilesystemHealthStateType
                              modelAsString: true
                            type: string
                          statusCode:
                            description: Server-defined error code for the AML file
                              system health
                            type: string
                          statusDescription:
                            description: Describes the health state.
                            type: string
                        type: object
                      provisioningState:
                        description: ARM provisioning state.
                        enum:
                        - Succeeded
                        - Failed
                        - Creating
                        - Deleting
                        - Updating
                        - Canceled
                        x-ms-enum:
                          name: AmlFilesystemProvisioningStateType
                          modelAsString: true
                        type: string
                        readOnly: true
                      filesystemSubnet:
                        description: Subnet used for managing the AML file system
                          and for client-facing operations. This subnet should have
                          at least a /24 subnet mask within the VNET's address space.
                        x-ms-mutability:
                        - read
                        - create
                        type: string
                      clientInfo:
                        description: Client information for the AML file system.
                        type: object
                        readOnly: true
                        properties:
                          mgsAddress:
                            description: The IPv4 address used by clients to mount
                              the AML file system's Lustre Management Service (MGS).
                            readOnly: true
                            type: string
                          mountCommand:
                            description: Recommended command to mount the AML file
                              system
                            readOnly: true
                            type: string
                          lustreVersion:
                            type: string
                            description: The version of Lustre running in the AML
                              file system
                            readOnly: true
                          containerStorageInterface:
                            description: Container Storage Interface information for
                              the AML file system.
                            type: object
                            readOnly: true
                            properties:
                              persistentVolumeClaim:
                                description: Recommended AKS Persistent Volume Claim
                                  for the CSI driver, in Base64 encoded YAML
                                readOnly: true
                                type: string
                              persistentVolume:
                                description: Recommended AKS Persistent Volume for
                                  the CSI driver, in Base64 encoded YAML
                                readOnly: true
                                type: string
                              storageClass:
                                description: Recommended AKS Storage Class for the
                                  CSI driver, in Base64 encoded YAML
                                readOnly: true
                                type: string
                      throughputProvisionedMBps:
                        type: integer
                        format: int32
                        description: Throughput provisioned in MB per sec, calculated
                          as storageCapacityTiB * per-unit storage throughput
                        readOnly: true
                      encryptionSettings:
                        description: Specifies encryption settings of the AML file
                          system.
                        properties:
                          keyEncryptionKey:
                            description: Specifies the location of the encryption
                              key in Key Vault.
                            type: object
                            properties:
                              keyUrl:
                                type: string
                                description: The URL referencing a key encryption
                                  key in key vault.
                              sourceVault:
                                type: object
                                description: Describes a resource Id to source key
                                  vault.
                                properties:
                                  id:
                                    type: string
                                    description: Resource Id.
                            required:
                            - keyUrl
                            - sourceVault
                        type: object
                      maintenanceWindow:
                        description: Start time of a 30-minute weekly maintenance
                          window.
                        type: object
                        properties:
                          dayOfWeek:
                            type: string
                            enum:
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            - Sunday
                            x-ms-enum:
                              name: MaintenanceDayOfWeekType
                              modelAsString: false
                            description: Day of the week on which the maintenance
                              window will occur.
                          timeOfDayUTC:
                            type: string
                            pattern: ^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
                            description: The time of day (in UTC) to start the maintenance
                              window.
                      hsm:
                        type: object
                        description: Hydration and archive settings and status
                        properties:
                          settings:
                            description: Specifies HSM settings of the AML file system.
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              container:
                                description: Resource ID of storage container used
                                  for hydrating the namespace and archiving from the
                                  namespace. The resource provider must have permission
                                  to create SAS tokens on the storage account.
                                type: string
                              loggingContainer:
                                description: Resource ID of storage container used
                                  for logging events and errors.  Must be a separate
                                  container in the same storage account as the hydration
                                  and archive container. The resource provider must
                                  have permission to create SAS tokens on the storage
                                  account.
                                type: string
                              importPrefix:
                                description: Only blobs in the non-logging container
                                  that start with this path/prefix get imported into
                                  the cluster namespace. This is only used during
                                  initial creation of the AML file system. It automatically
                                  creates an import job resource that can be deleted.
                                type: string
                                default: /
                              importPrefixesInitial:
                                type: array
                                description: Only blobs in the non-logging container
                                  that start with one of the paths/prefixes in this
                                  array get imported into the cluster namespace. This
                                  is only used during initial creation of the AML
                                  file system and has '/' as the default value. It
                                  automatically creates an import job resource that
                                  can be deleted.
                                items:
                                  type: string
                            required:
                            - container
                            - loggingContainer
                          archiveStatus:
                            type: array
                            readOnly: true
                            description: Archive status
                            items:
                              description: Information about the AML file system archive
                              type: object
                              readOnly: true
                              properties:
                                filesystemPath:
                                  readOnly: true
                                  type: string
                                  description: Lustre file system path to archive
                                    relative to the file system root.  Specify '/'
                                    to archive all modified data.
                                status:
                                  description: The status of the archive
                                  type: object
                                  readOnly: true
                                  properties:
                                    state:
                                      readOnly: true
                                      description: The state of the archive operation
                                      type: string
                                      enum:
                                      - NotConfigured
                                      - Idle
                                      - InProgress
                                      - Canceled
                                      - Completed
                                      - Failed
                                      - Cancelling
                                      - FSScanInProgress
                                      x-ms-enum:
                                        name: ArchiveStatusType
                                        modelAsString: true
                                    lastCompletionTime:
                                      readOnly: true
                                      description: The time of the last completed
                                        archive operation
                                      type: string
                                      format: date-time
                                    lastStartedTime:
                                      readOnly: true
                                      description: The time the latest archive operation
                                        started
                                      type: string
                                      format: date-time
                                    percentComplete:
                                      readOnly: true
                                      description: The completion percentage of the
                                        archive operation
                                      type: integer
                                      format: int32
                                    errorCode:
                                      readOnly: true
                                      description: Server-defined error code for the
                                        archive operation
                                      type: string
                                    errorMessage:
                                      readOnly: true
                                      description: Server-defined error message for
                                        the archive operation
                                      type: string
                            x-ms-identifiers:
                            - filesystemPath
                      rootSquashSettings:
                        description: Specifies root squash settings of the AML file
                          system.
                        properties:
                          mode:
                            type: string
                            description: 'Squash mode of the AML file system. ''All'':
                              User and Group IDs on files will be squashed to the
                              provided values for all users on non-trusted systems.
                              ''RootOnly'': User and Group IDs on files will be squashed
                              to provided values for solely the root user on non-trusted
                              systems. ''None'': No squashing of User and Group IDs
                              is performed for any users on any systems.'
                            enum:
                            - None
                            - RootOnly
                            - All
                            x-ms-enum:
                              name: AmlFilesystemSquashMode
                              modelAsString: true
                          noSquashNidLists:
                            description: Semicolon separated NID IP Address list(s)
                              to be added to the TrustedSystems.
                            type: string
                          squashUID:
                            type: integer
                            description: User ID to squash to.
                            format: int64
                          squashGID:
                            type: integer
                            description: Group ID to squash to.
                            format: int64
                          status:
                            readOnly: true
                            type: string
                            description: AML file system squash status.
                        type: object
                    type: object
                    required:
                    - filesystemSubnet
                    - storageCapacityTiB
                    - maintenanceWindow
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      tags:
      - amlFilesystems
      description: Returns an AML file system.
      operationId: amlFilesystems_Get
    put:
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name for the AML file system. Allows alphanumerics, underscores,
          and hyphens. Start and end with alphanumeric.
        in: path
        name: amlFilesystemName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 80
          pattern: ^[0-9a-zA-Z][-0-9a-zA-Z_]{0,78}[0-9a-zA-Z]$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                identity:
                  description: The managed identity used by the AML file system, if
                    configured.
                  type: object
                  x-ms-mutability:
                  - read
                  - create
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID for the user-assigned identity
                        of the resource.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID associated with the resource.
                    type:
                      type: string
                      description: The type of identity used for the resource.
                      enum:
                      - UserAssigned
                      - None
                      x-ms-enum:
                        name: AmlFilesystemIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      description: A dictionary where each key is a user assigned
                        identity resource ID, and each key's value is an empty dictionary.
                      type: object
                      additionalProperties:
                        type: object
                        x-ms-client-name: userAssignedIdentitiesValue
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal ID of the user-assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client ID of the user-assigned identity.
                sku:
                  description: SKU for the resource.
                  x-ms-mutability:
                  - read
                  - create
                  properties:
                    name:
                      description: SKU name for this resource.
                      type: string
                  type: object
[...]
