openapi: 3.0.0
info:
  description: A Storage Cache provides scalable caching service for NAS clients,
    serving data from either NFSv3 or Blob at-rest storage (referred to as "Storage
    Targets"). These operations allow you to manage Caches.
  title: Storage Cache Mgmt Client
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.StorageCache/operations:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list of available Resource Provider operations.
          content:
            application/json:
              schema:
                description: Result of the request to list Resource Provider operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  nextLink:
                    description: URL to get the next set of operation list results
                      if there are any.
                    type: string
                  value:
                    description: List of Resource Provider operations supported by
                      the Microsoft.StorageCache resource provider.
                    items:
                      description: 'REST API operation description: see https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3023-operationsapiimplementation'
                      properties:
                        display:
                          type: object
                          description: The object that represents the operation.
                          properties:
                            operation:
                              description: 'Operation type: Read, write, delete, etc.'
                              type: string
                            provider:
                              description: 'Service provider: Microsoft.StorageCache'
                              type: string
                            resource:
                              description: 'Resource on which the operation is performed:
                                Cache, etc.'
                              type: string
                            description:
                              description: The description of the operation
                              type: string
                        origin:
                          description: Origin of the operation.
                          type: string
                        isDataAction:
                          description: The flag that indicates whether the operation
                            applies to data plane.
                          type: boolean
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Additional details about an operation.
                          type: object
                          properties:
                            serviceSpecification:
                              type: object
                              description: Specification of the all the metrics provided
                                for a resource type.
                              properties:
                                metricSpecifications:
                                  description: Details about operations related to
                                    metrics.
                                  type: array
                                  items:
                                    type: object
                                    description: Details about operation related to
                                      metrics.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the metric.
                                      displayName:
                                        type: string
                                        description: Localized display name of the
                                          metric.
                                      displayDescription:
                                        type: string
                                        description: The description of the metric.
                                      unit:
                                        type: string
                                        description: The unit that the metric is measured
                                          in.
                                      aggregationType:
                                        type: string
                                        description: The type of metric aggregation.
                                      supportedAggregationTypes:
                                        description: Support metric aggregation type.
                                        type: array
                                        items:
                                          enum:
                                          - NotSpecified
                                          - None
                                          - Average
                                          - Minimum
                                          - Maximum
                                          - Total
                                          - Count
                                          type: string
                                          x-ms-enum:
                                            name: MetricAggregationType
                                            modelAsString: true
                                      metricClass:
                                        description: Type of metrics.
                                        type: string
                                      dimensions:
                                        description: Dimensions of the metric
                                        type: array
                                        items:
                                          type: object
                                          description: Specifications of the Dimension
                                            of metrics.
                                          properties:
                                            name:
                                              type: string
                                              description: Name of the dimension
                                            displayName:
                                              type: string
                                              description: Localized friendly display
                                                name of the dimension
                                            internalName:
                                              type: string
                                              description: Internal name of the dimension.
                                            toBeExportedForShoebox:
                                              description: To be exported to shoe
                                                box.
                                              type: boolean
                                        x-ms-identifiers: []
                                  x-ms-identifiers:
                                  - name
                                logSpecifications:
                                  description: Details about operations related to
                                    logs.
                                  type: array
                                  items:
                                    type: object
                                    description: Details about operation related to
                                      logs.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the log.
                                      displayName:
                                        type: string
                                        description: Localized display name of the
                                          log.
                                  x-ms-identifiers:
                                  - name
                      type: object
                    type: array
                    x-ms-identifiers: []
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      tags:
      - Operations
      description: Lists all of the available Resource Provider operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/skus:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of SKU descriptors.
          content:
            application/json:
              schema:
                type: object
                description: The response from the List Cache SKUs operation.
                properties:
                  nextLink:
                    description: The URI to fetch the next page of cache SKUs.
                    type: string
                  value:
                    description: The list of SKUs available for the subscription.
                    readOnly: true
                    items:
                      description: A resource SKU.
                      properties:
                        resourceType:
                          readOnly: true
                          type: string
                          description: The type of resource the SKU applies to.
                        capabilities:
                          description: A list of capabilities of this SKU, such as
                            throughput or ops/sec.
                          items:
                            description: A resource SKU capability.
                            properties:
                              name:
                                description: Name of a capability, such as ops/sec.
                                type: string
                              value:
                                description: Quantity, if the capability is measured
                                  by quantity.
                                type: string
                            type: object
                          type: array
                          x-ms-identifiers:
                          - name
                        locations:
                          readOnly: true
                          type: array
                          items:
                            type: string
                          description: The set of locations where the SKU is available.
                            This is the supported and registered Azure Geo Regions
                            (e.g., West US, East US, Southeast Asia, etc.).
                        locationInfo:
                          description: The set of locations where the SKU is available.
                          items:
                            description: Resource SKU location information.
                            properties:
                              location:
                                description: Location where this SKU is available.
                                type: string
                              zones:
                                description: Zones if any.
                                type: array
                                items:
                                  type: string
                            type: object
                          type: array
                          x-ms-identifiers: []
                        name:
                          description: The name of this SKU.
                          type: string
                        restrictions:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The type of restrictions. In this version,
                                  the only possible value for this is location.
                              values:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: The value of restrictions. If the restriction
                                  type is set to location, then this would be the
                                  different locations where the SKU is restricted.
                              reasonCode:
                                type: string
                                enum:
                                - QuotaId
                                - NotAvailableForSubscription
                                x-ms-enum:
                                  name: ReasonCode
                                  modelAsString: true
                                description: The reason for the restriction. As of
                                  now this can be "QuotaId" or "NotAvailableForSubscription".
                                  "QuotaId" is set when the SKU has requiredQuotas
                                  parameter as the subscription does not belong to
                                  that quota. "NotAvailableForSubscription" is related
                                  to capacity at the datacenter.
                            description: The restrictions preventing this SKU from
                              being used.
                          description: The restrictions preventing this SKU from being
                            used. This is empty if there are no restrictions.
                          x-ms-identifiers: []
                      type: object
                    type: array
                    x-ms-identifiers: []
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - SKUs
      description: Get the list of StorageCache.Cache SKUs available to this subscription.
      operationId: Skus_List
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/usageModels:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of UsageModel descriptors.
          content:
            application/json:
              schema:
                description: A list of cache usage models.
                properties:
                  nextLink:
                    description: The URI to fetch the next page of cache usage models.
                    type: string
                  value:
                    description: The list of usage models available for the subscription.
                    items:
                      description: A usage model.
                      properties:
                        display:
                          description: Localized information describing this usage
                            model.
                          type: object
                          properties:
                            description:
                              description: String to display for this usage model.
                              type: string
                        modelName:
                          description: Non-localized keyword name for this usage model.
                          type: string
                        targetType:
                          description: The type of Storage Target to which this model
                            is applicable (only nfs3 as of this version).
                          type: string
                      type: object
                    type: array
                    x-ms-identifiers:
                    - modelName
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - UsageModels
      description: Get the list of cache usage models available to this subscription.
      operationId: UsageModels_List
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/ascOperations/{operationId}:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: operationId
        in: path
        description: The ID of an ongoing async operation.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The asynchronous operation was returned.
          content:
            application/json:
              schema:
                description: The status of operation.
                type: object
                properties:
                  id:
                    type: string
                    description: The operation Id.
                  name:
                    type: string
                    description: The operation name.
                  startTime:
                    type: string
                    description: The start time of the operation.
                  endTime:
                    type: string
                    description: The end time of the operation.
                  status:
                    type: string
                    description: The status of the operation.
                  error:
                    type: object
                    description: The error detail of the operation if any.
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Additional operation-specific properties
                    type: object
                    properties:
                      output:
                        type: object
                        description: Additional operation-specific output.
                        additionalProperties:
                          type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      tags:
      - AscOperations
      description: Gets the status of an asynchronous operation for the Azure HPC
        Cache
      operationId: AscOperations_Get
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/usages:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        required: true
        description: The name of the region to query for usage information.
        schema:
          type: string
      responses:
        '200':
          description: The usage information was returned.
          content:
            application/json:
              schema:
                description: Result of the request to list resource usages. It contains
                  a list of resource usages & limits and a URL link to get the next
                  set of results.
                properties:
                  nextLink:
                    description: URL to get the next set of resource usage list results
                      if there are any.
                    readOnly: true
                    type: string
                  value:
                    description: List of usages and limits for resources controlled
                      by the Microsoft.StorageCache resource provider.
                    items:
                      description: The usage and limit (quota) for a resource.
                      properties:
                        limit:
                          description: The limit (quota) for this resource.
                          readOnly: true
                          type: integer
                          format: int32
                          minimum: 0
                        unit:
                          description: Unit that the limit and usages are expressed
                            in, such as 'Count'.
                          readOnly: true
                          type: string
                        currentValue:
                          description: The current usage of this resource.
                          readOnly: true
                          type: integer
                          format: int32
                          minimum: 0
                        name:
                          description: Naming information for this resource type.
                          readOnly: true
                          type: object
                          properties:
                            value:
                              description: Canonical name for this resource type.
                              type: string
                            localizedValue:
                              description: Localized name for this resource type.
                              type: string
                      type: object
                    readOnly: true
                    type: array
                    x-ms-identifiers:
                    - name
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - AscUsages
      description: Gets the quantity used and quota limit for resources
      operationId: AscUsages_List
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/caches:
    get:
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of cache objects. Note that entity references might
            replace complete cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                description: Result of the request to list caches. It contains a list
                  of caches and a URL link to get the next set of results.
                properties:
                  nextLink:
                    description: URL to get the next set of cache list results, if
                      there are any.
                    type: string
                  value:
                    description: List of Caches.
                    items:
                      description: 'A cache instance. Follows Azure Resource Manager
                        standards: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md'
                      properties:
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        id:
                          description: Resource ID of the cache.
                          readOnly: true
                          type: string
                        location:
                          description: Region name string.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        name:
                          description: Name of cache.
                          readOnly: true
                          pattern: ^[-0-9a-zA-Z_]{1,80}$
                          type: string
                        type:
                          description: Type of the cache; Microsoft.StorageCache/Cache
                          readOnly: true
                          type: string
                        identity:
                          description: The identity of the cache, if configured.
                          type: object
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID for the system-assigned
                                identity of the cache.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID associated with the cache.
                            type:
                              type: string
                              description: The type of identity used for the cache
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              - None
                              x-ms-enum:
                                name: CacheIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              type: object
                              description: A dictionary where each key is a user assigned
                                identity resource ID, and each key's value is an empty
                                dictionary.
                              additionalProperties:
                                type: object
                                x-ms-client-name: userAssignedIdentitiesValue
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: The principal ID of the user-assigned
                                      identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: The client ID of the user-assigned
                                      identity.
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the cache.
                          properties:
                            cacheSizeGB:
                              description: The size of this Cache, in GB.
                              type: integer
                              format: int32
                              x-ms-mutability:
                              - read
                              - create
                            health:
                              description: Health of the cache.
                              readOnly: true
                              type: object
                              properties:
                                state:
                                  description: List of cache health states. Down is
                                    when the cluster is not responding.  Degraded
                                    is when its functioning but has some alerts. Transitioning
                                    when it is creating or deleting. Unknown will
                                    be returned in old api versions when a new value
                                    is added in future versions. WaitingForKey is
                                    when the create is waiting for the system assigned
                                    identity to be given access to the encryption
                                    key in the encryption settings.
                                  enum:
                                  - Unknown
                                  - Healthy
                                  - Degraded
                                  - Down
                                  - Transitioning
                                  - Stopping
                                  - Stopped
                                  - Upgrading
                                  - Flushing
                                  - WaitingForKey
                                  - StartFailed
                                  - UpgradeFailed
                                  x-ms-enum:
                                    name: HealthStateType
                                    modelAsString: true
                                  type: string
                                statusDescription:
                                  description: Describes explanation of state.
                                  type: string
                                conditions:
                                  description: Outstanding conditions that need to
                                    be investigated and resolved.
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    description: Outstanding conditions that will
                                      need to be resolved.
                                    properties:
                                      timestamp:
                                        readOnly: true
                                        type: string
                                        format: date-time
                                        description: The time when the condition was
                                          raised.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The issue requiring attention.
                                  x-ms-identifiers: []
                            mountAddresses:
                              description: Array of IPv4 addresses that can be used
                                by clients mounting this cache.
                              readOnly: true
                              items:
                                type: string
                              type: array
                            provisioningState:
                              description: ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Deleting
                              - Updating
                              x-ms-enum:
                                name: ProvisioningStateType
                                modelAsString: true
                              type: string
                              readOnly: true
                            subnet:
                              description: Subnet used for the cache.
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                            upgradeStatus:
                              description: Upgrade status of the cache.
                              readOnly: true
                              properties:
                                currentFirmwareVersion:
                                  description: Version string of the firmware currently
                                    installed on this cache.
                                  type: string
                                  readOnly: true
                                firmwareUpdateStatus:
                                  description: True if there is a firmware update
                                    ready to install on this cache. The firmware will
                                    automatically be installed after firmwareUpdateDeadline
                                    if not triggered earlier via the upgrade operation.
                                  enum:
                                  - available
                                  - unavailable
                                  x-ms-enum:
                                    name: FirmwareStatusType
                                    modelAsString: true
                                  readOnly: true
                                  type: string
                                firmwareUpdateDeadline:
                                  description: Time at which the pending firmware
                                    update will automatically be installed on the
                                    cache.
                                  format: date-time
                                  type: string
                                  readOnly: true
                                lastFirmwareUpdate:
                                  description: Time of the last successful firmware
                                    update.
                                  format: date-time
                                  type: string
                                  readOnly: true
                                pendingFirmwareVersion:
                                  description: When firmwareUpdateAvailable is true,
                                    this field holds the version string for the update.
                                  type: string
                                  readOnly: true
                              type: object
                            upgradeSettings:
                              description: Upgrade settings of the cache.
                              properties:
                                upgradeScheduleEnabled:
                                  description: True if the user chooses to select
                                    an installation time between now and firmwareUpdateDeadline.
                                    Else the firmware will automatically be installed
                                    after firmwareUpdateDeadline if not triggered
                                    earlier via the upgrade operation.
                                  type: boolean
                                scheduledTime:
                                  description: When upgradeScheduleEnabled is true,
                                    this field holds the user-chosen upgrade time.
                                    At the user-chosen time, the firmware update will
                                    automatically be installed on the cache.
                                  format: date-time
                                  type: string
                              type: object
                            networkSettings:
                              description: Specifies network settings of the cache.
                              type: object
                              properties:
                                mtu:
                                  description: The IPv4 maximum transmission unit
                                    configured for the subnet.
                                  type: integer
                                  format: int32
                                  minimum: 576
                                  maximum: 1500
                                  default: 1500
                                utilityAddresses:
                                  description: Array of additional IP addresses used
                                    by this cache.
                                  readOnly: true
                                  items:
                                    type: string
                                  type: array
                                dnsServers:
                                  description: DNS servers for the cache to use.  It
                                    will be set from the network configuration if
                                    no value is provided.
                                  type: array
                                  items:
                                    type: string
                                dnsSearchDomain:
                                  description: DNS search domain
                                  type: string
                                ntpServer:
                                  description: NTP server IP Address or FQDN for the
                                    cache to use. The default is time.windows.com.
                                  type: string
                                  default: time.windows.com
                            encryptionSettings:
                              description: Specifies encryption settings of the cache.
                              type: object
                              properties:
                                keyEncryptionKey:
                                  x-ms-secret: true
                                  description: Specifies the location of the key encryption
                                    key in key vault.
                                  type: object
                                  properties:
                                    keyUrl:
                                      type: string
                                      description: The URL referencing a key encryption
                                        key in key vault.
                                    sourceVault:
                                      type: object
                                      description: Describes a resource Id to source
                                        key vault.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource Id.
                                  required:
                                  - keyUrl
                                  - sourceVault
                                rotationToLatestKeyVersionEnabled:
                                  type: boolean
                                  description: Specifies whether the service will
                                    automatically rotate to the newest version of
                                    the key in the key vault.
                            securitySettings:
                              description: Specifies security settings of the cache.
                              type: object
                              properties:
                                accessPolicies:
                                  description: NFS access policies defined for this
                                    cache.
                                  items:
                                    type: object
                                    description: A set of rules describing access
                                      policies applied to NFSv3 clients of the cache.
                                    properties:
                                      name:
                                        description: Name identifying this policy.
                                          Access Policy names are not case sensitive.
                                        type: string
                                      accessRules:
                                        description: The set of rules describing client
                                          accesses allowed under this policy.
                                        type: array
                                        items:
                                          type: object
                                          description: Rule to place restrictions
                                            on portions of the cache namespace being
                                            presented to clients.
                                          properties:
                                            scope:
                                              description: Scope for this rule. The
                                                scope and filter determine which clients
                                                match the rule.
                                              type: string
                                              enum:
                                              - default
                                              - network
                                              - host
                                              x-ms-enum:
                                                name: NfsAccessRuleScope
                                                modelAsString: true
                                            filter:
                                              description: Filter applied to the scope
                                                for this rule. The filter's format
                                                depends on its scope. 'default' scope
                                                matches all clients and has no filter
                                                value. 'network' scope takes a filter
                                                in CIDR format (for example, 10.99.1.0/24).
                                                'host' takes an IP address or fully
                                                qualified domain name as filter. If
                                                a client does not match any filter
                                                rule and there is no default rule,
                                                access is denied.
                                              type: string
                                            access:
                                              description: Access allowed by this
                                                rule.
                                              type: string
                                              enum:
                                              - 'no'
                                              - ro
                                              - rw
                                              x-ms-enum:
                                                name: NfsAccessRuleAccess
                                                modelAsString: true
                                            suid:
                                              description: Allow SUID semantics.
                                              type: boolean
                                            submountAccess:
                                              description: For the default policy,
                                                allow access to subdirectories under
                                                the root export. If this is set to
                                                no, clients can only mount the path
                                                '/'. If set to yes, clients can mount
                                                a deeper path, like '/a/b'.
                                              type: boolean
                                            rootSquash:
                                              description: Map root accesses to anonymousUID
                                                and anonymousGID.
                                              type: boolean
                                            anonymousUID:
                                              description: UID value that replaces
                                                0 when rootSquash is true. 65534 will
                                                be used if not provided.
                                              type: string
                                            anonymousGID:
                                              description: GID value that replaces
                                                0 when rootSquash is true. This will
                                                use the value of anonymousUID if not
                                                provided.
                                              type: string
                                          required:
                                          - scope
                                          - access
                                        x-ms-identifiers: []
                                    required:
                                    - name
                                    - accessRules
                                  type: array
                                  x-ms-identifiers:
                                  - name
                            directoryServicesSettings:
                              description: Specifies Directory Services settings of
                                the cache.
                              type: object
                              properties:
                                activeDirectory:
                                  description: Specifies settings for joining the
                                    HPC Cache to an Active Directory domain.
                                  properties:
                                    primaryDnsIpAddress:
                                      description: Primary DNS IP address used to
                                        resolve the Active Directory domain controller's
                                        fully qualified domain name.
                                      type: string
                                    secondaryDnsIpAddress:
                                      description: Secondary DNS IP address used to
                                        resolve the Active Directory domain controller's
                                        fully qualified domain name.
                                      type: string
                                    domainName:
                                      description: The fully qualified domain name
                                        of the Active Directory domain controller.
                                      type: string
                                    domainNetBiosName:
                                      description: The Active Directory domain's NetBIOS
                                        name.
                                      type: string
                                    cacheNetBiosName:
                                      description: The NetBIOS name to assign to the
                                        HPC Cache when it joins the Active Directory
                                        domain as a server. Length must 1-15 characters
                                        from the class [-0-9a-zA-Z].
                                      pattern: ^[-0-9a-zA-Z]{1,15}$
                                      type: string
                                    domainJoined:
                                      description: True if the HPC Cache is joined
                                        to the Active Directory domain.
                                      type: string
                                      readOnly: true
                                      enum:
                                      - 'Yes'
                                      - 'No'
                                      - Error
                                      x-ms-enum:
                                        name: DomainJoinedType
                                        modelAsString: true
                                    credentials:
                                      type: object
                                      description: Active Directory admin credentials
                                        used to join the HPC Cache to a domain.
                                      properties:
                                        username:
                                          description: Username of the Active Directory
                                            domain administrator. This value is stored
                                            encrypted and not returned on response.
                                          type: string
                                        password:
                                          description: Plain text password of the
                                            Active Directory domain administrator.
                                            This value is stored encrypted and not
                                            returned on response.
                                          x-ms-secret: true
                                          type: string
                                          x-ms-mutability:
                                          - read
                                          - create
                                          - update
                                      required:
                                      - username
                                  type: object
                                  required:
                                  - primaryDnsIpAddress
                                  - domainNetBiosName
                                  - domainName
                                  - cacheNetBiosName
                                usernameDownload:
                                  description: Specifies settings for Extended Groups.
                                    Extended Groups allows users to be members of
                                    more than 16 groups.
                                  type: object
                                  properties:
                                    extendedGroups:
                                      type: boolean
                                      description: Whether or not Extended Groups
                                        is enabled.
                                    usernameSource:
                                      description: This setting determines how the
                                        cache gets username and group names for clients.
                                      enum:
                                      - AD
                                      - LDAP
                                      - File
                                      - None
                                      x-ms-enum:
                                        name: UsernameSource
                                        modelAsString: true
                                      type: string
                                      default: None
                                    groupFileURI:
                                      type: string
                                      description: The URI of the file containing
                                        group information (in /etc/group file format).
                                        This field must be populated when 'usernameSource'
                                        is set to 'File'.
                                    userFileURI:
                                      type: string
                                      description: The URI of the file containing
                                        user information (in /etc/passwd file format).
                                        This field must be populated when 'usernameSource'
                                        is set to 'File'.
                                    ldapServer:
                                      type: string
                                      description: The fully qualified domain name
                                        or IP address of the LDAP server to use.
                                    ldapBaseDN:
                                      type: string
                                      description: The base distinguished name for
                                        the LDAP domain.
                                    encryptLdapConnection:
                                      type: boolean
                                      description: Whether or not the LDAP connection
                                        should be encrypted.
                                      default: false
                                    requireValidCertificate:
                                      type: boolean
                                      description: Determines if the certificates
                                        must be validated by a certificate authority.
                                        When true, caCertificateURI must be provided.
                                      default: false
                                    autoDownloadCertificate:
                                      type: boolean
                                      description: Determines if the certificate should
                                        be automatically downloaded. This applies
                                        to 'caCertificateURI' only if 'requireValidCertificate'
                                        is true.
                                      default: false
                                    caCertificateURI:
                                      type: string
                                      description: The URI of the CA certificate to
                                        validate the LDAP secure connection. This
                                        field must be populated when 'requireValidCertificate'
                                        is set to true.
                                    usernameDownloaded:
                                      description: Indicates whether or not the HPC
                                        Cache has performed the username download
                                        successfully.
                                      type: string
                                      readOnly: true
                                      enum:
                                      - 'Yes'
                                      - 'No'
                                      - Error
                                      x-ms-enum:
                                        name: UsernameDownloadedType
                                        modelAsString: true
                                    credentials:
                                      type: object
                                      description: When present, these are the credentials
                                        for the secure LDAP connection.
                                      properties:
                                        bindDn:
                                          type: string
                                          description: The Bind Distinguished Name
                                            identity to be used in the secure LDAP
                                            connection. This value is stored encrypted
                                            and not returned on response.
                                          x-ms-mutability:
                                          - read
                                          - create
                                          - update
                                        bindPassword:
                                          type: string
                                          x-ms-secret: true
                                          description: The Bind password to be used
                                            in the secure LDAP connection. This value
                                            is stored encrypted and not returned on
                                            response.
                            zones:
                              type: array
                              items:
                                type: string
                              description: Availability zones for resources. This
                                field should only contain a single element in the
                                array.
                              x-ms-mutability:
                              - read
                              - create
                            primingJobs:
                              description: Specifies the priming jobs defined in the
                                cache.
                              items:
                                description: A priming job instance.
                                properties:
                                  primingJobName:
                                    description: The priming job name.
                                    x-ms-mutability:
                                    - read
                                    - create
                                    pattern: ^[-0-9a-zA-Z_]{1,80}$
                                    type: string
                                  primingManifestUrl:
                                    description: The URL for the priming manifest
                                      file to download. This file must be readable
                                      from the HPC Cache. When the file is in Azure
                                      blob storage the URL should include a Shared
                                      Access Signature (SAS) granting read permissions
                                      on the blob.
                                    type: string
                                    x-ms-mutability:
                                    - create
                                    x-ms-secret: true
                                  primingJobId:
                                    description: The unique identifier of the priming
                                      job.
                                    pattern: ^[-0-9a-zA-Z_]{1,80}$
                                    readOnly: true
                                    type: string
                                  primingJobState:
                                    description: The state of the priming operation.
                                    enum:
                                    - Queued
                                    - Running
                                    - Paused
                                    - Complete
                                    readOnly: true
                                    type: string
                                    x-ms-enum:
                                      name: PrimingJobState
                                      modelAsString: true
                                  primingJobStatus:
                                    description: The status code of the priming job.
                                    type: string
                                    readOnly: true
                                  primingJobDetails:
                                    description: The job details or error information
                                      if any.
                                    type: string
                                    readOnly: true
                                  primingJobPercentComplete:
                                    description: The current progress of the priming
                                      job, as a percentage.
                                    type: number
                                    format: double
                                    maximum: 100
                                    minimum: 0
                                    readOnly: true
                                required:
                                - primingJobName
                                - primingManifestUrl
                                type: object
                              type: array
                              x-ms-identifiers:
                              - primingJobId
                              readOnly: true
                            spaceAllocation:
                              description: Specifies the space allocation percentage
                                for each storage target in the cache.
                              items:
                                description: Storage Target space allocation properties.
                                properties:
                                  name:
                                    description: Name of the storage target.
                                    pattern: ^[-0-9a-zA-Z_]{1,80}$
                                    type: string
                                  allocationPercentage:
                                    description: The percentage of cache space allocated
                                      for this storage target
                                    type: integer
                                    format: int32
                                    minimum: 1
                                    maximum: 100
                                type: object
                              type: array
                              x-ms-identifiers:
                              - name
                              readOnly: true
                          type: object
                        sku:
                          x-ms-mutability:
                          - read
                          - create
                          description: SKU for the cache.
                          properties:
                            name:
                              description: SKU name for this cache.
                              type: string
                          type: object
                      x-ms-azure-resource: true
                      type: object
                    type: array
                type: object
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                description: An error response.
                properties:
                  error:
                    description: The body of the error.
                    properties:
                      code:
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                        type: string
                      details:
                        description: A list of additional details about the error.
                        items:
                          description: An error response.
                          properties:
                            code:
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                              type: string
                            details:
                              description: A list of additional details about the
                                error.
                              items:
                                description: An error response.
                                properties:
                                  code:
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                    type: string
                                type: object
                              type: array
                              x-ms-identifiers: []
                            message:
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                              type: string
                            target:
                              description: The target of the particular error. For
                                example, the name of the property in error.
                              type: string
                          type: object
                        type: array
                        x-ms-identifiers: []
                      message:
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                        type: string
                      target:
                        description: The target of the particular error. For example,
                          the name of the property in error.
                        type: string
                    type: object
                type: object
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Caches
      description: Returns all caches the user has access to under a subscription.
      operationId: Caches_List
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches:
    get:
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: A list of cache objects. Note that entity references might
            replace complete cache objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                description: Result of the request to list caches. It contains a list
                  of caches and a URL link to get the next set of results.
                properties:
                  nextLink:
                    description: URL to get the next set of cache list results, if
                      there are any.
                    type: string
                  value:
                    description: List of Caches.
                    items:
                      description: 'A cache instance. Follows Azure Resource Manager
                        standards: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md'
                      properties:
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        id:
                          description: Resource ID of the cache.
                          readOnly: true
                          type: string
                        location:
                          description: Region name string.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        name:
                          description: Name of cache.
                          readOnly: true
                          pattern: ^[-0-9a-zA-Z_]{1,80}$
                          type: string
                        type:
                          description: Type of the cache; Microsoft.StorageCache/Cache
                          readOnly: true
                          type: string
                        identity:
                          description: The identity of the cache, if configured.
                          type: object
                          x-ms-mutability:
                          - read
                          - create
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal ID for the system-assigned
                                identity of the cache.
                            tenantId:
                              readOnly: true
                              type: string
                              description: The tenant ID associated with the cache.
                            type:
                              type: string
                              description: The type of identity used for the cache
                              enum:
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              - None
                              x-ms-enum:
                                name: CacheIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              type: object
                              description: A dictionary where each key is a user assigned
                                identity resource ID, and each key's value is an empty
                                dictionary.
                              additionalProperties:
                                type: object
                                x-ms-client-name: userAssignedIdentitiesValue
                                properties:
                                  principalId:
                                    readOnly: true
                                    type: string
                                    description: The principal ID of the user-assigned
                                      identity.
                                  clientId:
                                    readOnly: true
                                    type: string
                                    description: The client ID of the user-assigned
                                      identity.
                        systemData:
                          readOnly: true
                          description: The system meta data relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the cache.
                          properties:
                            cacheSizeGB:
                              description: The size of this Cache, in GB.
                              type: integer
                              format: int32
                              x-ms-mutability:
                              - read
                              - create
                            health:
                              description: Health of the cache.
                              readOnly: true
                              type: object
                              properties:
                                state:
                                  description: List of cache health states. Down is
                                    when the cluster is not responding.  Degraded
                                    is when its functioning but has some alerts. Transitioning
                                    when it is creating or deleting. Unknown will
                                    be returned in old api versions when a new value
                                    is added in future versions. WaitingForKey is
                                    when the create is waiting for the system assigned
                                    identity to be given access to the encryption
                                    key in the encryption settings.
                                  enum:
                                  - Unknown
                                  - Healthy
                                  - Degraded
                                  - Down
                                  - Transitioning
                                  - Stopping
                                  - Stopped
                                  - Upgrading
                                  - Flushing
                                  - WaitingForKey
                                  - StartFailed
                                  - UpgradeFailed
                                  x-ms-enum:
                                    name: HealthStateType
                                    modelAsString: true
                                  type: string
                                statusDescription:
                                  description: Describes explanation of state.
                                  type: string
                                conditions:
                                  description: Outstanding conditions that need to
                                    be investigated and resolved.
                                  readOnly: true
                                  type: array
                                  items:
                                    type: object
                                    description: Outstanding conditions that will
                                      need to be resolved.
                                    properties:
                                      timestamp:
                                        readOnly: true
                                        type: string
                                        format: date-time
                                        description: The time when the condition was
                                          raised.
                                      message:
                                        readOnly: true
                                        type: string
                                        description: The issue requiring attention.
                                  x-ms-identifiers: []
                            mountAddresses:
                              description: Array of IPv4 addresses that can be used
                                by clients mounting this cache.
                              readOnly: true
                              items:
                                type: string
                              type: array
                            provisioningState:
                              description: ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Creating
                              - Deleting
                              - Updating
                              x-ms-enum:
                                name: ProvisioningStateType
                                modelAsString: true
                              type: string
                              readOnly: true
                            subnet:
                              description: Subnet used for the cache.
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                            upgradeStatus:
                              description: Upgrade status of the cache.
                              readOnly: true
                              properties:
                                currentFirmwareVersion:
                                  description: Version string of the firmware currently
                                    installed on this cache.
                                  type: string
                                  readOnly: true
                                firmwareUpdateStatus:
                                  description: True if there is a firmware update
                                    ready to install on this cache. The firmware will
                                    automatically be installed after firmwareUpdateDeadline
                                    if not triggered earlier via the upgrade operation.
                                  enum:
                                  - available
                                  - unavailable
                                  x-ms-enum:
                                    name: FirmwareStatusType
                                    modelAsString: true
                                  readOnly: true
                                  type: string
                                firmwareUpdateDeadline:
                                  description: Time at which the pending firmware
                                    update will automatically be installed on the
                                    cache.
                                  format: date-time
                                  type: string
                                  readOnly: true
                                lastFirmwareUpdate:
                                  description: Time of the last successful firmware
                                    update.
                                  format: date-time
                                  type: string
                                  readOnly: true
                                pendingFirmwareVersion:
                                  description: When firmwareUpdateAvailable is true,
                                    this field holds the version string for the update.
                                  type: string
                                  readOnly: true
                              type: object
                            upgradeSettings:
                              description: Upgrade settings of the cache.
                              properties:
                                upgradeScheduleEnabled:
                                  description: True if the user chooses to select
[...]
