openapi: 3.0.0
info:
  title: CognitiveServicesManagementClient
  description: Cognitive Services Management Client
  version: 2025-06-01
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}
  : put:
      tags:
      - CognitiveServicesAccounts
      description: Create Cognitive Services Account. Accounts is a resource group
        wide resource type. It holds the keys for developer to access intelligent
        APIs. It's also the resource type for billing.
      operationId: Accounts_Create
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        required: true
        description: The name of Cognitive Services account.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                etag:
                  type: string
                  readOnly: true
                  description: Resource Etag.
                kind:
                  description: The Kind of the resource.
                  type: string
                sku:
                  description: The resource model definition representing SKU
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. Ex - P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      - Enterprise
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                identity:
                  type: object
                  description: Identity for the resource.
                  properties:
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of resource.
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of resource identity.
                    userAssignedIdentities:
                      description: 'The list of user assigned identities associated
                        with the resource. The user identity dictionary key references
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
                      type: object
                      additionalProperties:
                        description: User-assigned managed identity.
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: Azure Active Directory principal ID associated
                              with this Identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: Client App Id associated with this identity.
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Properties of Cognitive Services account.
                  type: object
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: Gets the status of the cognitive services account
                        at the time the operation was called.
                      enum:
                      - Accepted
                      - Creating
                      - Deleting
                      - Moving
                      - Failed
                      - Succeeded
                      - ResolvingDNS
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    endpoint:
                      type: string
                      description: Endpoint of the created account.
                      readOnly: true
                    internalId:
                      type: string
                      description: The internal identifier (deprecated, do not use
                        this property).
                      readOnly: true
                    capabilities:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the SkuCapability.
                          value:
                            type: string
                            description: The value of the SkuCapability.
                        description: SkuCapability indicates the capability of a certain
                          feature.
                      x-ms-identifiers:
                      - name
                      description: Gets the capabilities of the cognitive services
                        account. Each item indicates the capability of a specific
                        feature. The values are read-only and for reference only.
                    isMigrated:
                      type: boolean
                      description: If the resource is migrated from an existing key.
                      readOnly: true
                    migrationToken:
                      type: string
                      description: Resource migration token.
                    skuChangeInfo:
                      description: Sku change info of account.
                      readOnly: true
                      type: object
                      properties:
                        countOfDowngrades:
                          type: number
                          description: Gets the count of downgrades.
                        countOfUpgradesAfterDowngrades:
                          type: number
                          description: Gets the count of upgrades after downgrades.
                        lastChangeDate:
                          type: string
                          description: Gets the last change date.
                    customSubDomainName:
                      type: string
                      description: Optional subdomain name used for token-based authentication.
                    networkAcls:
                      description: A collection of rules governing the accessibility
                        from specific network locations.
                      type: object
                      properties:
                        defaultAction:
                          type: string
                          description: The default action when no rule from ipRules
                            and from virtualNetworkRules match. This is only used
                            after the bypass property has been evaluated.
                          enum:
                          - Allow
                          - Deny
                          x-ms-enum:
                            name: NetworkRuleAction
                            modelAsString: true
                        bypass:
                          type: string
                          description: Setting for trusted services.
                          enum:
                          - None
                          - AzureServices
                          x-ms-enum:
                            name: ByPassSelection
                            modelAsString: true
                        ipRules:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                description: An IPv4 address range in CIDR notation,
                                  such as '124.56.78.91' (simple IP address) or '124.56.78.0/24'
                                  (all addresses that start with 124.56.78).
                            required:
                            - value
                            description: A rule governing the accessibility from a
                              specific ip address or ip range.
                          x-ms-identifiers: []
                          description: The list of IP address rules.
                        virtualNetworkRules:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Full resource id of a vnet subnet, such
                                  as '/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1'.
                              state:
                                type: string
                                description: Gets the state of virtual network rule.
                              ignoreMissingVnetServiceEndpoint:
                                type: boolean
                                description: Ignore missing vnet service endpoint
                                  or not.
                            required:
                            - id
                            description: A rule governing the accessibility from a
                              specific virtual network.
                          description: The list of virtual network rules.
                    encryption:
                      description: The encryption properties for this resource.
                      type: object
                      properties:
                        keyVaultProperties:
                          description: Properties of KeyVault
                          type: object
                          properties:
                            keyName:
                              type: string
                              description: Name of the Key from KeyVault
                            keyVersion:
                              type: string
                              description: Version of the Key from KeyVault
                            keyVaultUri:
                              type: string
                              description: Uri of KeyVault
                            identityClientId:
                              type: string
                        keySource:
                          type: string
                          description: Enumerates the possible value of keySource
                            for Encryption
                          default: Microsoft.KeyVault
                          enum:
                          - Microsoft.CognitiveServices
                          - Microsoft.KeyVault
                          x-ms-enum:
                            name: keySource
                            modelAsString: true
                    userOwnedStorage:
                      type: array
                      items:
                        type: object
                        properties:
                          resourceId:
                            type: string
                            description: Full resource id of a Microsoft.Storage resource.
                          identityClientId:
                            type: string
                        description: The user owned storage for Cognitive Services
                          account.
                      x-ms-identifiers:
                      - resourceId
                      description: The storage accounts for this resource.
                    amlWorkspace:
                      description: The user owned AML account properties.
                      type: object
                      properties:
                        resourceId:
                          type: string
                          description: Full resource id of a AML account resource.
                        identityClientId:
                          type: string
                          description: Identity Client id of a AML account resource.
                    privateEndpointConnections:
                      type: array
                      readOnly: true
                      items:
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            description: Fully qualified resource ID for the resource.
                              Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          name:
                            readOnly: true
                            type: string
                            description: The name of the resource
                          type:
                            readOnly: true
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                          etag:
                            type: string
                            readOnly: true
                            description: Resource Etag.
                          properties:
                            description: Resource properties.
                            type: object
                            properties:
                              privateEndpoint:
                                description: The resource of private end point.
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: The ARM identifier for Private Endpoint
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                readOnly: true
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                              groupIds:
                                type: array
                                items:
                                  type: string
                                description: The private link resource group ids.
                            required:
                            - privateLinkServiceConnectionState
                          systemData:
                            readOnly: true
                            description: Metadata pertaining to creation and last
                              modification of the resource.
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          location:
                            type: string
                            description: The location of the private endpoint connection
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                        x-ms-client-name: AzureEntityResource
                      description: The private endpoint connection associated with
                        the Cognitive Services account.
                    publicNetworkAccess:
                      type: string
                      description: Whether or not public endpoint access is allowed
                        for this account.
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: PublicNetworkAccess
                        modelAsString: true
                    apiProperties:
                      description: The api properties for special APIs.
                      type: object
                      additionalProperties:
                        type: object
                      properties:
                        qnaRuntimeEndpoint:
                          type: string
                          description: (QnAMaker Only) The runtime endpoint of QnAMaker.
                        qnaAzureSearchEndpointKey:
                          type: string
                          description: (QnAMaker Only) The Azure Search endpoint key
                            of QnAMaker.
                        qnaAzureSearchEndpointId:
                          type: string
                          description: (QnAMaker Only) The Azure Search endpoint id
                            of QnAMaker.
                        statisticsEnabled:
                          type: boolean
                          description: (Bing Search Only) The flag to enable statistics
                            of Bing Search.
                        eventHubConnectionString:
                          type: string
                          description: (Personalization Only) The flag to enable statistics
                            of Bing Search.
                          pattern: ^( *)Endpoint=sb://(.*);( *)SharedAccessKeyName=(.*);(
                            *)SharedAccessKey=(.*)$
                          maxLength: 1000
                        storageAccountConnectionString:
                          type: string
                          description: (Personalization Only) The storage account
                            connection string.
                          pattern: ^(( *)DefaultEndpointsProtocol=(http|https)( *);(
                            *))?AccountName=(.*)AccountKey=(.*)EndpointSuffix=(.*)$
                          maxLength: 1000
                        aadClientId:
                          type: string
                          description: (Metrics Advisor Only) The Azure AD Client
                            Id (Application Id).
                          maxLength: 500
                        aadTenantId:
                          type: string
                          description: (Metrics Advisor Only) The Azure AD Tenant
                            Id.
                          maxLength: 500
                        superUser:
                          type: string
                          description: (Metrics Advisor Only) The super user of Metrics
                            Advisor.
                          maxLength: 500
                        websiteName:
                          type: string
                          description: (Metrics Advisor Only) The website name of
                            Metrics Advisor.
                          maxLength: 500
                    dateCreated:
                      readOnly: true
                      type: string
                      description: Gets the date of cognitive services account creation.
                    callRateLimit:
                      readOnly: true
                      type: object
                      properties:
                        count:
                          type: number
                          description: The count value of Call Rate Limit.
                        renewalPeriod:
                          type: number
                          description: The renewal period in seconds of Call Rate
                            Limit.
                        rules:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              renewalPeriod:
                                type: number
                              count:
                                type: number
                              minCount:
                                type: number
                              dynamicThrottlingEnabled:
                                type: boolean
                              matchPatterns:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    path:
                                      type: string
                                    method:
                                      type: string
                                x-ms-identifiers:
                                - path
                                - method
                          x-ms-identifiers:
                          - key
                      description: The call rate limit Cognitive Services account.
                    dynamicThrottlingEnabled:
                      type: boolean
                      description: The flag to enable dynamic throttling.
                    quotaLimit:
                      readOnly: true
                      type: object
                      properties:
                        count:
                          type: number
                        renewalPeriod:
                          type: number
                        rules:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              renewalPeriod:
                                type: number
                              count:
                                type: number
                              minCount:
                                type: number
                              dynamicThrottlingEnabled:
                                type: boolean
                              matchPatterns:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    path:
                                      type: string
                                    method:
                                      type: string
                                x-ms-identifiers:
                                - path
                                - method
                          x-ms-identifiers:
                          - key
                    restrictOutboundNetworkAccess:
                      type: boolean
                    allowedFqdnList:
                      type: array
                      items:
                        type: string
                    disableLocalAuth:
                      type: boolean
                    endpoints:
                      readOnly: true
                      type: object
                      additionalProperties:
                        type: string
                    restore:
                      type: boolean
                      x-ms-mutability:
                      - create
                      - update
                    deletionDate:
                      type: string
                      description: The deletion date, only available for deleted account.
                      readOnly: true
                    scheduledPurgeDate:
                      type: string
                      description: The scheduled purge date, only available for deleted
                        account.
                      readOnly: true
                    locations:
                      description: The multiregion settings of Cognitive Services
                        account.
                      type: object
                      properties:
                        routingMethod:
                          type: string
                          enum:
                          - Priority
                          - Weighted
                          - Performance
                          x-ms-enum:
                            name: RoutingMethods
                            modelAsString: true
                          description: Multiregion routing methods.
                        regions:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Name of the region.
                              value:
                                type: number
                                description: A value for priority or weighted routing
                                  methods.
                              customsubdomain:
                                type: string
                                description: Maps the region to the regional custom
                                  subdomain.
                            description: The call rate limit Cognitive Services account.
                          x-ms-identifiers:
                          - name
                    commitmentPlanAssociations:
                      type: array
                      items:
                        type: object
                        properties:
                          commitmentPlanId:
                            type: string
                            description: The Azure resource id of the commitment plan.
                          commitmentPlanLocation:
                            type: string
                            description: The location of of the commitment plan.
                        description: The commitment plan association.
                      x-ms-identifiers:
                      - commitmentPlanId
                      description: The commitment plan associations of Cognitive Services
                        account.
                      readOnly: true
                    abusePenalty:
                      readOnly: true
                      description: The abuse penalty.
                      type: object
                      properties:
                        action:
                          type: string
                          enum:
                          - Throttle
                          - Block
                          x-ms-enum:
                            name: AbusePenaltyAction
                            modelAsString: true
                          description: The action of AbusePenalty.
                        rateLimitPercentage:
                          type: number
                          description: The percentage of rate limit.
                        expiration:
                          type: string
                          format: date-time
                          description: The datetime of expiration of the AbusePenalty.
                    raiMonitorConfig:
                      description: Cognitive Services Rai Monitor Config.
                      type: object
                      properties:
                        adxStorageResourceId:
                          type: string
                          description: The storage resource Id.
                        identityClientId:
                          type: string
                          description: The identity client Id to access the storage.
                    networkInjections:
                      type: array
                      items:
                        description: Specifies in AI Foundry where virtual network
                          injection occurs to secure scenarios like Agents entirely
                          within the user's private network, eliminating public internet
                          exposure while maintaining control over network configurations
                          and resources.
                        type: object
                        properties:
                          scenario:
                            type: string
                            enum:
                            - none
                            - agent
                            x-ms-enum:
                              name: scenarioType
                              modelAsString: true
                            description: Specifies what features in AI Foundry network
                              injection applies to. Currently only supports 'agent'
                              for agent scenarios. 'none' means no network injection.
                          subnetArmId:
                            description: Specify the subnet for which your Agent Client
                              is injected into.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/virtualNetworks/subnets
                          useMicrosoftManagedNetwork:
                            description: Boolean to enable Microsoft Managed Network
                              for subnet delegation
                            type: boolean
                    allowProjectManagement:
                      type: boolean
                      description: Specifies whether this resource support project
                        management as child resources, used as containers for access
                        management, data isolation and cost in AI Foundry.
                    defaultProject:
                      type: string
                      description: Specifies the project, by project name, that is
                        targeted when data plane endpoints are called without a project
                        parameter.
                    associatedProjects:
                      type: array
                      items:
                        type: string
                      description: Specifies the projects, by project name, that are
                        associated with this resource.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-name: AzureEntityResource
        description: The parameters to provide for the created account.
        required: true
      responses:
        '200':
          description: If resource is created successfully or already existed, the
            service should return 200 (OK).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  kind:
                    description: The Kind of the resource.
                    type: string
                  sku:
                    description: The resource model definition representing SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        - Enterprise
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  identity:
                    type: object
                    description: Identity for the resource.
                    properties:
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      userAssignedIdentities:
                        description: 'The list of user assigned identities associated
                          with the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
                        type: object
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this Identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of Cognitive Services account.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Gets the status of the cognitive services account
                          at the time the operation was called.
                        enum:
                        - Accepted
                        - Creating
                        - Deleting
                        - Moving
                        - Failed
                        - Succeeded
                        - ResolvingDNS
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      endpoint:
                        type: string
                        description: Endpoint of the created account.
                        readOnly: true
                      internalId:
                        type: string
                        description: The internal identifier (deprecated, do not use
                          this property).
                        readOnly: true
                      capabilities:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SkuCapability.
                            value:
                              type: string
                              description: The value of the SkuCapability.
                          description: SkuCapability indicates the capability of a
                            certain feature.
                        x-ms-identifiers:
                        - name
                        description: Gets the capabilities of the cognitive services
                          account. Each item indicates the capability of a specific
                          feature. The values are read-only and for reference only.
                      isMigrated:
                        type: boolean
                        description: If the resource is migrated from an existing
                          key.
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Resource migration token.
                      skuChangeInfo:
                        description: Sku change info of account.
                        readOnly: true
                        type: object
                        properties:
                          countOfDowngrades:
                            type: number
                            description: Gets the count of downgrades.
                          countOfUpgradesAfterDowngrades:
                            type: number
                            description: Gets the count of upgrades after downgrades.
                          lastChangeDate:
                            type: string
                            description: Gets the last change date.
                      customSubDomainName:
                        type: string
                        description: Optional subdomain name used for token-based
                          authentication.
                      networkAcls:
                        description: A collection of rules governing the accessibility
                          from specific network locations.
                        type: object
                        properties:
                          defaultAction:
                            type: string
                            description: The default action when no rule from ipRules
                              and from virtualNetworkRules match. This is only used
                              after the bypass property has been evaluated.
                            enum:
                            - Allow
                            - Deny
                            x-ms-enum:
                              name: NetworkRuleAction
                              modelAsString: true
                          bypass:
                            type: string
                            description: Setting for trusted services.
                            enum:
                            - None
                            - AzureServices
                            x-ms-enum:
                              name: ByPassSelection
                              modelAsString: true
                          ipRules:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: string
                                  description: An IPv4 address range in CIDR notation,
                                    such as '124.56.78.91' (simple IP address) or
                                    '124.56.78.0/24' (all addresses that start with
                                    124.56.78).
                              required:
                              - value
                              description: A rule governing the accessibility from
                                a specific ip address or ip range.
                            x-ms-identifiers: []
                            description: The list of IP address rules.
                          virtualNetworkRules:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Full resource id of a vnet subnet,
                                    such as '/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1'.
                                state:
                                  type: string
                                  description: Gets the state of virtual network rule.
                                ignoreMissingVnetServiceEndpoint:
                                  type: boolean
                                  description: Ignore missing vnet service endpoint
                                    or not.
                              required:
                              - id
                              description: A rule governing the accessibility from
                                a specific virtual network.
                            description: The list of virtual network rules.
                      encryption:
                        description: The encryption properties for this resource.
                        type: object
                        properties:
                          keyVaultProperties:
                            description: Properties of KeyVault
                            type: object
                            properties:
                              keyName:
                                type: string
                                description: Name of the Key from KeyVault
                              keyVersion:
                                type: string
                                description: Version of the Key from KeyVault
                              keyVaultUri:
                                type: string
                                description: Uri of KeyVault
                              identityClientId:
                                type: string
                          keySource:
                            type: string
                            description: Enumerates the possible value of keySource
                              for Encryption
                            default: Microsoft.KeyVault
                            enum:
                            - Microsoft.CognitiveServices
                            - Microsoft.KeyVault
                            x-ms-enum:
                              name: keySource
                              modelAsString: true
                      userOwnedStorage:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              description: Full resource id of a Microsoft.Storage
                                resource.
                            identityClientId:
                              type: string
                          description: The user owned storage for Cognitive Services
                            account.
                        x-ms-identifiers:
                        - resourceId
                        description: The storage accounts for this resource.
                      amlWorkspace:
                        description: The user owned AML account properties.
                        type: object
                        properties:
                          resourceId:
                            type: string
                            description: Full resource id of a AML account resource.
                          identityClientId:
                            type: string
                            description: Identity Client id of a AML account resource.
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            etag:
                              type: string
                              readOnly: true
                              description: Resource Etag.
                            properties:
                              description: Resource properties.
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The resource of private end point.
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: The ARM identifier for Private
                                        Endpoint
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  readOnly: true
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                groupIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The private link resource group ids.
                              required:
                              - privateLinkServiceConnectionState
                            systemData:
                              readOnly: true
                              description: Metadata pertaining to creation and last
                                modification of the resource.
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            location:
                              type: string
                              description: The location of the private endpoint connection
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                          x-ms-client-name: AzureEntityResource
                        description: The private endpoint connection associated with
                          the Cognitive Services account.
                      publicNetworkAccess:
                        type: string
                        description: Whether or not public endpoint access is allowed
                          for this account.
                        enum:
                        - Enabled
                        - Disabled
                        x-ms-enum:
                          name: PublicNetworkAccess
                          modelAsString: true
                      apiProperties:
                        description: The api properties for special APIs.
                        type: object
                        additionalProperties:
                          type: object
                        properties:
                          qnaRuntimeEndpoint:
                            type: string
                            description: (QnAMaker Only) The runtime endpoint of QnAMaker.
                          qnaAzureSearchEndpointKey:
                            type: string
                            description: (QnAMaker Only) The Azure Search endpoint
                              key of QnAMaker.
                          qnaAzureSearchEndpointId:
                            type: string
                            description: (QnAMaker Only) The Azure Search endpoint
                              id of QnAMaker.
                          statisticsEnabled:
                            type: boolean
                            description: (Bing Search Only) The flag to enable statistics
                              of Bing Search.
                          eventHubConnectionString:
                            type: string
                            description: (Personalization Only) The flag to enable
                              statistics of Bing Search.
                            pattern: ^( *)Endpoint=sb://(.*);( *)SharedAccessKeyName=(.*);(
                              *)SharedAccessKey=(.*)$
                            maxLength: 1000
                          storageAccountConnectionString:
                            type: string
                            description: (Personalization Only) The storage account
                              connection string.
                            pattern: ^(( *)DefaultEndpointsProtocol=(http|https)(
                              *);( *))?AccountName=(.*)AccountKey=(.*)EndpointSuffix=(.*)$
                            maxLength: 1000
                          aadClientId:
                            type: string
                            description: (Metrics Advisor Only) The Azure AD Client
                              Id (Application Id).
                            maxLength: 500
                          aadTenantId:
                            type: string
                            description: (Metrics Advisor Only) The Azure AD Tenant
                              Id.
                            maxLength: 500
                          superUser:
                            type: string
                            description: (Metrics Advisor Only) The super user of
                              Metrics Advisor.
                            maxLength: 500
                          websiteName:
                            type: string
                            description: (Metrics Advisor Only) The website name of
                              Metrics Advisor.
                            maxLength: 500
                      dateCreated:
                        readOnly: true
                        type: string
                        description: Gets the date of cognitive services account creation.
                      callRateLimit:
                        readOnly: true
                        type: object
                        properties:
                          count:
                            type: number
                            description: The count value of Call Rate Limit.
                          renewalPeriod:
                            type: number
                            description: The renewal period in seconds of Call Rate
                              Limit.
                          rules:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                renewalPeriod:
                                  type: number
                                count:
                                  type: number
                                minCount:
                                  type: number
                                dynamicThrottlingEnabled:
                                  type: boolean
                                matchPatterns:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                      method:
                                        type: string
                                  x-ms-identifiers:
                                  - path
                                  - method
                            x-ms-identifiers:
                            - key
                        description: The call rate limit Cognitive Services account.
                      dynamicThrottlingEnabled:
                        type: boolean
                        description: The flag to enable dynamic throttling.
                      quotaLimit:
                        readOnly: true
                        type: object
                        properties:
                          count:
                            type: number
                          renewalPeriod:
                            type: number
                          rules:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                renewalPeriod:
                                  type: number
                                count:
                                  type: number
                                minCount:
                                  type: number
                                dynamicThrottlingEnabled:
                                  type: boolean
                                matchPatterns:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                      method:
                                        type: string
                                  x-ms-identifiers:
                                  - path
                                  - method
                            x-ms-identifiers:
                            - key
                      restrictOutboundNetworkAccess:
                        type: boolean
                      allowedFqdnList:
                        type: array
                        items:
                          type: string
                      disableLocalAuth:
                        type: boolean
                      endpoints:
                        readOnly: true
                        type: object
                        additionalProperties:
                          type: string
                      restore:
                        type: boolean
                        x-ms-mutability:
                        - create
                        - update
                      deletionDate:
                        type: string
                        description: The deletion date, only available for deleted
                          account.
                        readOnly: true
                      scheduledPurgeDate:
                        type: string
                        description: The scheduled purge date, only available for
                          deleted account.
                        readOnly: true
                      locations:
                        description: The multiregion settings of Cognitive Services
                          account.
                        type: object
                        properties:
                          routingMethod:
                            type: string
                            enum:
                            - Priority
                            - Weighted
                            - Performance
                            x-ms-enum:
                              name: RoutingMethods
                              modelAsString: true
                            description: Multiregion routing methods.
                          regions:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Name of the region.
                                value:
                                  type: number
                                  description: A value for priority or weighted routing
                                    methods.
                                customsubdomain:
                                  type: string
                                  description: Maps the region to the regional custom
                                    subdomain.
                              description: The call rate limit Cognitive Services
                                account.
                            x-ms-identifiers:
                            - name
                      commitmentPlanAssociations:
                        type: array
                        items:
                          type: object
                          properties:
                            commitmentPlanId:
                              type: string
                              description: The Azure resource id of the commitment
                                plan.
                            commitmentPlanLocation:
                              type: string
                              description: The location of of the commitment plan.
                          description: The commitment plan association.
                        x-ms-identifiers:
                        - commitmentPlanId
                        description: The commitment plan associations of Cognitive
                          Services account.
                        readOnly: true
                      abusePenalty:
                        readOnly: true
                        description: The abuse penalty.
                        type: object
                        properties:
                          action:
                            type: string
                            enum:
                            - Throttle
                            - Block
                            x-ms-enum:
                              name: AbusePenaltyAction
                              modelAsString: true
                            description: The action of AbusePenalty.
                          rateLimitPercentage:
                            type: number
                            description: The percentage of rate limit.
                          expiration:
                            type: string
                            format: date-time
                            description: The datetime of expiration of the AbusePenalty.
                      raiMonitorConfig:
                        description: Cognitive Services Rai Monitor Config.
                        type: object
                        properties:
                          adxStorageResourceId:
                            type: string
                            description: The storage resource Id.
                          identityClientId:
                            type: string
                            description: The identity client Id to access the storage.
                      networkInjections:
                        type: array
                        items:
                          description: Specifies in AI Foundry where virtual network
                            injection occurs to secure scenarios like Agents entirely
                            within the user's private network, eliminating public
                            internet exposure while maintaining control over network
                            configurations and resources.
                          type: object
                          properties:
                            scenario:
                              type: string
                              enum:
                              - none
                              - agent
                              x-ms-enum:
                                name: scenarioType
                                modelAsString: true
                              description: Specifies what features in AI Foundry network
                                injection applies to. Currently only supports 'agent'
                                for agent scenarios. 'none' means no network injection.
                            subnetArmId:
                              description: Specify the subnet for which your Agent
                                Client is injected into.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/virtualNetworks/subnets
                            useMicrosoftManagedNetwork:
                              description: Boolean to enable Microsoft Managed Network
                                for subnet delegation
                              type: boolean
                      allowProjectManagement:
                        type: boolean
                        description: Specifies whether this resource support project
                          management as child resources, used as containers for access
                          management, data isolation and cost in AI Foundry.
                      defaultProject:
                        type: string
                        description: Specifies the project, by project name, that
                          is targeted when data plane endpoints are called without
                          a project parameter.
                      associatedProjects:
                        type: array
                        items:
                          type: string
                        description: Specifies the projects, by project name, that
                          are associated with this resource.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-name: AzureEntityResource
        '201':
          description: If resource is created successfully, the service should return
            201 (OK).
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  kind:
                    description: The Kind of the resource.
                    type: string
                  sku:
                    description: The resource model definition representing SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. Ex - P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        - Enterprise
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  identity:
                    type: object
                    description: Identity for the resource.
                    properties:
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of resource.
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of resource identity.
                      userAssignedIdentities:
                        description: 'The list of user assigned identities associated
                          with the resource. The user identity dictionary key references
                          will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
                        type: object
                        additionalProperties:
                          description: User-assigned managed identity.
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: Azure Active Directory principal ID associated
                                with this Identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: Client App Id associated with this identity.
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of Cognitive Services account.
                    type: object
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: Gets the status of the cognitive services account
                          at the time the operation was called.
                        enum:
                        - Accepted
                        - Creating
                        - Deleting
                        - Moving
                        - Failed
                        - Succeeded
                        - ResolvingDNS
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      endpoint:
                        type: string
                        description: Endpoint of the created account.
                        readOnly: true
                      internalId:
                        type: string
                        description: The internal identifier (deprecated, do not use
                          this property).
                        readOnly: true
                      capabilities:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SkuCapability.
                            value:
                              type: string
                              description: The value of the SkuCapability.
                          description: SkuCapability indicates the capability of a
                            certain feature.
                        x-ms-identifiers:
                        - name
                        description: Gets the capabilities of the cognitive services
                          account. Each item indicates the capability of a specific
                          feature. The values are read-only and for reference only.
                      isMigrated:
                        type: boolean
                        description: If the resource is migrated from an existing
                          key.
                        readOnly: true
                      migrationToken:
                        type: string
                        description: Resource migration token.
                      skuChangeInfo:
                        description: Sku change info of account.
                        readOnly: true
                        type: object
                        properties:
                          countOfDowngrades:
                            type: number
                            description: Gets the count of downgrades.
                          countOfUpgradesAfterDowngrades:
                            type: number
                            description: Gets the count of upgrades after downgrades.
                          lastChangeDate:
                            type: string
                            description: Gets the last change date.
                      customSubDomainName:
                        type: string
                        description: Optional subdomain name used for token-based
                          authentication.
                      networkAcls:
                        description: A collection of rules governing the accessibility
                          from specific network locations.
                        type: object
                        properties:
                          defaultAction:
                            type: string
                            description: The default action when no rule from ipRules
                              and from virtualNetworkRules match. This is only used
                              after the bypass property has been evaluated.
                            enum:
                            - Allow
                            - Deny
                            x-ms-enum:
                              name: NetworkRuleAction
                              modelAsString: true
                          bypass:
                            type: string
                            description: Setting for trusted services.
                            enum:
                            - None
                            - AzureServices
                            x-ms-enum:
                              name: ByPassSelection
                              modelAsString: true
                          ipRules:
                            type: array
                            items:
                              type: object
                              properties:
                                value:
                                  type: string
                                  description: An IPv4 address range in CIDR notation,
                                    such as '124.56.78.91' (simple IP address) or
                                    '124.56.78.0/24' (all addresses that start with
                                    124.56.78).
                              required:
                              - value
                              description: A rule governing the accessibility from
                                a specific ip address or ip range.
                            x-ms-identifiers: []
                            description: The list of IP address rules.
                          virtualNetworkRules:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Full resource id of a vnet subnet,
                                    such as '/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1'.
                                state:
                                  type: string
                                  description: Gets the state of virtual network rule.
                                ignoreMissingVnetServiceEndpoint:
                                  type: boolean
                                  description: Ignore missing vnet service endpoint
                                    or not.
                              required:
                              - id
                              description: A rule governing the accessibility from
                                a specific virtual network.
                            description: The list of virtual network rules.
                      encryption:
                        description: The encryption properties for this resource.
                        type: object
                        properties:
                          keyVaultProperties:
                            description: Properties of KeyVault
                            type: object
                            properties:
                              keyName:
                                type: string
                                description: Name of the Key from KeyVault
                              keyVersion:
                                type: string
                                description: Version of the Key from KeyVault
                              keyVaultUri:
                                type: string
                                description: Uri of KeyVault
                              identityClientId:
                                type: string
                          keySource:
                            type: string
                            description: Enumerates the possible value of keySource
                              for Encryption
                            default: Microsoft.KeyVault
                            enum:
                            - Microsoft.CognitiveServices
                            - Microsoft.KeyVault
                            x-ms-enum:
                              name: keySource
                              modelAsString: true
                      userOwnedStorage:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              description: Full resource id of a Microsoft.Storage
                                resource.
                            identityClientId:
                              type: string
                          description: The user owned storage for Cognitive Services
                            account.
                        x-ms-identifiers:
                        - resourceId
                        description: The storage accounts for this resource.
                      amlWorkspace:
                        description: The user owned AML account properties.
                        type: object
                        properties:
                          resourceId:
                            type: string
                            description: Full resource id of a AML account resource.
                          identityClientId:
                            type: string
                            description: Identity Client id of a AML account resource.
                      privateEndpointConnections:
                        type: array
                        readOnly: true
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            etag:
                              type: string
                              readOnly: true
                              description: Resource Etag.
                            properties:
                              description: Resource properties.
                              type: object
                              properties:
                                privateEndpoint:
[...]
