openapi: 3.0.0
info:
  title: Oracle Database Resource Manager
  version: 2024-06-01
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: CloudExadataInfrastructures
- name: DbServers
- name: CloudVmClusters
- name: VirtualNetworkAddresses
- name: SystemVersions
- name: OracleSubscriptions
- name: DbNodes
- name: GiVersions
- name: DbSystemShapes
- name: DnsPrivateViews
- name: DnsPrivateZones
- name: AutonomousDatabases
- name: AutonomousDatabaseBackups
- name: AutonomousDatabaseCharacterSets
- name: AutonomousDatabaseNationalCharacterSets
- name: AutonomousDatabaseVersions
paths:
  /providers/Oracle.Database/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Oracle.Database/autonomousDatabases:
    get:
      operationId: AutonomousDatabases_ListBySubscription
      tags:
      - AutonomousDatabases
      description: List AutonomousDatabase resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a AutonomousDatabase list operation.
                properties:
                  value:
                    type: array
                    description: The AutonomousDatabase items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            adminPassword:
                              description: Admin password.
                              minLength: 12
                              maxLength: 30
                              x-ms-mutability:
                              - update
                              - create
                              type: string
                              format: password
                              x-ms-secret: true
                            dataBaseType:
                              description: Database type to be created.
                              x-ms-mutability:
                              - create
                              type: string
                              enum:
                              - Regular
                              - Clone
                              x-ms-enum:
                                name: DataBaseType
                                modelAsString: true
                                values:
                                - name: Regular
                                  value: Regular
                                  description: Regular DB
                                - name: Clone
                                  value: Clone
                                  description: Clone DB
                            autonomousMaintenanceScheduleType:
                              description: The maintenance schedule type of the Autonomous
                                Database Serverless.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: string
                              enum:
                              - Early
                              - Regular
                              x-ms-enum:
                                name: AutonomousMaintenanceScheduleType
                                modelAsString: true
                                values:
                                - name: Early
                                  value: Early
                                  description: Early maintenance schedule
                                - name: Regular
                                  value: Regular
                                  description: Regular maintenance schedule
                            characterSet:
                              type: string
                              description: The character set for the autonomous database.
                              minLength: 1
                              maxLength: 255
                              x-ms-mutability:
                              - read
                              - create
                            computeCount:
                              type: number
                              format: float
                              description: The compute amount (CPUs) available to
                                the database.
                              minimum: 0.1
                              maximum: 512
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            computeModel:
                              description: The compute model of the Autonomous Database.
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                              enum:
                              - ECPU
                              - OCPU
                              x-ms-enum:
                                name: ComputeModel
                                modelAsString: true
                                values:
                                - name: ECPU
                                  value: ECPU
                                  description: ECPU model type
                                - name: OCPU
                                  value: OCPU
                                  description: OCPU model type
                            cpuCoreCount:
                              type: integer
                              format: int32
                              description: The number of CPU cores to be made available
                                to the database.
                              minimum: 1
                              maximum: 128
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            customerContacts:
                              type: array
                              description: Customer Contacts.
                              items:
                                type: object
                                description: CustomerContact resource properties
                                properties:
                                  email:
                                    type: string
                                    description: The email address used by Oracle
                                      to send notifications regarding databases and
                                      infrastructure.
                                    minLength: 1
                                    maxLength: 320
                                required:
                                - email
                              x-ms-identifiers: []
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            dataStorageSizeInTbs:
                              type: integer
                              format: int32
                              description: The quantity of data in the database, in
                                terabytes.
                              minimum: 1
                              maximum: 384
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            dataStorageSizeInGbs:
                              type: integer
                              format: int32
                              description: The size, in gigabytes, of the data volume
                                that will be created and attached to the database.
                              minimum: 20
                              maximum: 393216
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            dbVersion:
                              type: string
                              description: A valid Oracle Database version for Autonomous
                                Database.
                              minLength: 1
                              maxLength: 255
                              x-ms-mutability:
                              - read
                              - create
                            dbWorkload:
                              description: The Autonomous Database workload type
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                              enum:
                              - OLTP
                              - DW
                              - AJD
                              - APEX
                              x-ms-enum:
                                name: WorkloadType
                                modelAsString: true
                                values:
                                - name: OLTP
                                  value: OLTP
                                  description: OLTP - indicates an Autonomous Transaction
                                    Processing database
                                - name: DW
                                  value: DW
                                  description: DW - indicates an Autonomous Data Warehouse
                                    database
                                - name: AJD
                                  value: AJD
                                  description: AJD - indicates an Autonomous JSON
                                    Database
                                - name: APEX
                                  value: APEX
                                  description: APEX - indicates an Autonomous Database
                                    with the Oracle APEX Application Development workload
                                    type.
                            displayName:
                              type: string
                              description: The user-friendly name for the Autonomous
                                Database.
                              minLength: 1
                              maxLength: 255
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            isAutoScalingEnabled:
                              type: boolean
                              description: Indicates if auto scaling is enabled for
                                the Autonomous Database CPU core count.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            isAutoScalingForStorageEnabled:
                              type: boolean
                              description: Indicates if auto scaling is enabled for
                                the Autonomous Database storage.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            peerDbIds:
                              type: array
                              description: The list of Azure resource IDs of standby
                                databases located in Autonomous Data Guard remote
                                regions that are associated with the source database.
                                Note that for Autonomous Database Serverless instances,
                                standby databases located in the same region as the
                                source primary database do not have Azure IDs.
                              items:
                                type: string
                              readOnly: true
                            peerDbId:
                              type: string
                              description: The Azure resource ID of the Disaster Recovery
                                peer database, which is located in a different region
                                from the current peer database.
                              minLength: 1
                              maxLength: 255
                              x-ms-mutability:
                              - update
                            isLocalDataGuardEnabled:
                              type: boolean
                              description: Indicates whether the Autonomous Database
                                has local or called in-region Data Guard enabled.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            isRemoteDataGuardEnabled:
                              type: boolean
                              description: Indicates whether the Autonomous Database
                                has Cross Region Data Guard enabled.
                              readOnly: true
                            localDisasterRecoveryType:
                              description: Indicates the local disaster recovery (DR)
                                type of the Autonomous Database Serverless instance.Autonomous
                                Data Guard (ADG) DR type provides business critical
                                DR with a faster recovery time objective (RTO) during
                                failover or switchover.Backup-based DR type provides
                                lower cost DR with a slower RTO during failover or
                                switchover.
                              readOnly: true
                              type: string
                              enum:
                              - Adg
                              - BackupBased
                              x-ms-enum:
                                name: DisasterRecoveryType
                                modelAsString: true
                                values:
                                - name: Adg
                                  value: Adg
                                  description: ADG type
                                - name: BackupBased
                                  value: BackupBased
                                  description: Backup based type
                            localStandbyDb:
                              description: Local Autonomous Disaster Recovery standby
                                database details.
                              readOnly: true
                              type: object
                              properties:
                                lagTimeInSeconds:
                                  type: integer
                                  format: int32
                                  description: The amount of time, in seconds, that
                                    the data of the standby database lags the data
                                    of the primary database. Can be used to determine
                                    the potential data loss in the event of a failover.
                                lifecycleState:
                                  description: The current state of the Autonomous
                                    Database.
                                  type: string
                                  enum:
                                  - Provisioning
                                  - Available
                                  - Stopping
                                  - Stopped
                                  - Starting
                                  - Terminating
                                  - Terminated
                                  - Unavailable
                                  - RestoreInProgress
                                  - RestoreFailed
                                  - BackupInProgress
                                  - ScaleInProgress
                                  - AvailableNeedsAttention
                                  - Updating
                                  - MaintenanceInProgress
                                  - Restarting
                                  - Recreating
                                  - RoleChangeInProgress
                                  - Upgrading
                                  - Inaccessible
                                  - Standby
                                  x-ms-enum:
                                    name: AutonomousDatabaseLifecycleState
                                    modelAsString: true
                                    values:
                                    - name: Provisioning
                                      value: Provisioning
                                      description: Indicates that resource in Provisioning
                                        state
                                    - name: Available
                                      value: Available
                                      description: Indicates that resource in Available
                                        state
                                    - name: Stopping
                                      value: Stopping
                                      description: Indicates that resource in Stopping
                                        state
                                    - name: Stopped
                                      value: Stopped
                                      description: Indicates that resource in Stopped
                                        state
                                    - name: Starting
                                      value: Starting
                                      description: Indicates that resource in Starting
                                        state
                                    - name: Terminating
                                      value: Terminating
                                      description: Indicates that resource in Terminating
                                        state
                                    - name: Terminated
                                      value: Terminated
                                      description: Indicates that resource in Terminated
                                        state
                                    - name: Unavailable
                                      value: Unavailable
                                      description: Indicates that resource in Unavailable
                                        state
                                    - name: RestoreInProgress
                                      value: RestoreInProgress
                                      description: Indicates that resource in RestoreInProgress
                                        state
                                    - name: RestoreFailed
                                      value: RestoreFailed
                                      description: Indicates that resource in RestoreFailed
                                        state
                                    - name: BackupInProgress
                                      value: BackupInProgress
                                      description: Indicates that resource in BackupInProgress
                                        state
                                    - name: ScaleInProgress
                                      value: ScaleInProgress
                                      description: Indicates that resource in ScaleInProgress
                                        state
                                    - name: AvailableNeedsAttention
                                      value: AvailableNeedsAttention
                                      description: Indicates that resource is available
                                        but needs attention
                                    - name: Updating
                                      value: Updating
                                      description: Indicates that resource in Updating
                                        state
                                    - name: MaintenanceInProgress
                                      value: MaintenanceInProgress
                                      description: Indicates that resource maintenance
                                        in progress state
                                    - name: Restarting
                                      value: Restarting
                                      description: Indicates that resource in Restarting
                                        state
                                    - name: Recreating
                                      value: Recreating
                                      description: Indicates that resource in Recreating
                                        state
                                    - name: RoleChangeInProgress
                                      value: RoleChangeInProgress
                                      description: Indicates that resource role change
                                        in progress state
                                    - name: Upgrading
                                      value: Upgrading
                                      description: Indicates that resource in Upgrading
                                        state
                                    - name: Inaccessible
                                      value: Inaccessible
                                      description: IIndicates that resource in Inaccessible
                                        state
                                    - name: Standby
                                      value: Standby
                                      description: Indicates that resource in Standby
                                        state
                                lifecycleDetails:
                                  type: string
                                  description: Additional information about the current
                                    lifecycle state.
                                timeDataGuardRoleChanged:
                                  type: string
                                  description: The date and time the Autonomous Data
                                    Guard role was switched for the standby Autonomous
                                    Database.
                                timeDisasterRecoveryRoleChanged:
                                  type: string
                                  description: The date and time the Disaster Recovery
                                    role was switched for the standby Autonomous Database.
                            failedDataRecoveryInSeconds:
                              type: integer
                              format: int32
                              description: Indicates the number of seconds of data
                                loss for a Data Guard failover.
                              readOnly: true
                            isMtlsConnectionRequired:
                              type: boolean
                              description: Specifies if the Autonomous Database requires
                                mTLS connections.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            isPreviewVersionWithServiceTermsAccepted:
                              type: boolean
                              description: Specifies if the Autonomous Database preview
                                version is being provisioned.
                              x-ms-mutability:
                              - create
                            licenseModel:
                              description: The Oracle license model that applies to
                                the Oracle Autonomous Database. The default is LICENSE_INCLUDED.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: string
                              enum:
                              - LicenseIncluded
                              - BringYourOwnLicense
                              x-ms-enum:
                                name: LicenseModel
                                modelAsString: true
                                values:
                                - name: LicenseIncluded
                                  value: LicenseIncluded
                                  description: License included
                                - name: BringYourOwnLicense
                                  value: BringYourOwnLicense
                                  description: Bring Your Own License
                            ncharacterSet:
                              type: string
                              description: The character set for the Autonomous Database.
                              minLength: 1
                              maxLength: 255
                              x-ms-mutability:
                              - read
                              - create
                            lifecycleDetails:
                              type: string
                              description: Additional information about the current
                                lifecycle state.
                              readOnly: true
                            provisioningState:
                              description: Azure resource provisioning state.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              x-ms-enum:
                                name: AzureResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: Indicates that resource in Provisioning
                                    state
                            lifecycleState:
                              description: Views lifecycleState
                              readOnly: true
                              type: string
                              enum:
                              - Provisioning
                              - Available
                              - Stopping
                              - Stopped
                              - Starting
                              - Terminating
                              - Terminated
                              - Unavailable
                              - RestoreInProgress
                              - RestoreFailed
                              - BackupInProgress
                              - ScaleInProgress
                              - AvailableNeedsAttention
                              - Updating
                              - MaintenanceInProgress
                              - Restarting
                              - Recreating
                              - RoleChangeInProgress
                              - Upgrading
                              - Inaccessible
                              - Standby
                              x-ms-enum:
                                name: AutonomousDatabaseLifecycleState
                                modelAsString: true
                                values:
                                - name: Provisioning
                                  value: Provisioning
                                  description: Indicates that resource in Provisioning
                                    state
                                - name: Available
                                  value: Available
                                  description: Indicates that resource in Available
                                    state
                                - name: Stopping
                                  value: Stopping
                                  description: Indicates that resource in Stopping
                                    state
                                - name: Stopped
                                  value: Stopped
                                  description: Indicates that resource in Stopped
                                    state
                                - name: Starting
                                  value: Starting
                                  description: Indicates that resource in Starting
                                    state
                                - name: Terminating
                                  value: Terminating
                                  description: Indicates that resource in Terminating
                                    state
                                - name: Terminated
                                  value: Terminated
                                  description: Indicates that resource in Terminated
                                    state
                                - name: Unavailable
                                  value: Unavailable
                                  description: Indicates that resource in Unavailable
                                    state
                                - name: RestoreInProgress
                                  value: RestoreInProgress
                                  description: Indicates that resource in RestoreInProgress
                                    state
                                - name: RestoreFailed
                                  value: RestoreFailed
                                  description: Indicates that resource in RestoreFailed
                                    state
                                - name: BackupInProgress
                                  value: BackupInProgress
                                  description: Indicates that resource in BackupInProgress
                                    state
                                - name: ScaleInProgress
                                  value: ScaleInProgress
                                  description: Indicates that resource in ScaleInProgress
                                    state
                                - name: AvailableNeedsAttention
                                  value: AvailableNeedsAttention
                                  description: Indicates that resource is available
                                    but needs attention
                                - name: Updating
                                  value: Updating
                                  description: Indicates that resource in Updating
                                    state
                                - name: MaintenanceInProgress
                                  value: MaintenanceInProgress
                                  description: Indicates that resource maintenance
                                    in progress state
                                - name: Restarting
                                  value: Restarting
                                  description: Indicates that resource in Restarting
                                    state
                                - name: Recreating
                                  value: Recreating
                                  description: Indicates that resource in Recreating
                                    state
                                - name: RoleChangeInProgress
                                  value: RoleChangeInProgress
                                  description: Indicates that resource role change
                                    in progress state
                                - name: Upgrading
                                  value: Upgrading
                                  description: Indicates that resource in Upgrading
                                    state
                                - name: Inaccessible
                                  value: Inaccessible
                                  description: IIndicates that resource in Inaccessible
                                    state
                                - name: Standby
                                  value: Standby
                                  description: Indicates that resource in Standby
                                    state
                            scheduledOperations:
                              description: The list of scheduled operations.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: object
                              properties:
                                dayOfWeek:
                                  description: Day of week
                                  type: object
                                  properties:
                                    name:
                                      description: Name of the day of the week.
                                      type: string
                                      enum:
                                      - Monday
                                      - Tuesday
                                      - Wednesday
                                      - Thursday
                                      - Friday
                                      - Saturday
                                      - Sunday
                                      x-ms-enum:
                                        name: DayOfWeekName
                                        modelAsString: true
                                        values:
                                        - name: Monday
                                          value: Monday
                                          description: Monday value
                                        - name: Tuesday
                                          value: Tuesday
                                          description: Tuesday value
                                        - name: Wednesday
                                          value: Wednesday
                                          description: Wednesday value
                                        - name: Thursday
                                          value: Thursday
                                          description: Thursday value
                                        - name: Friday
                                          value: Friday
                                          description: Friday value
                                        - name: Saturday
                                          value: Saturday
                                          description: Saturday value
                                        - name: Sunday
                                          value: Sunday
                                          description: Sunday value
                                  required:
                                  - name
                                scheduledStartTime:
                                  type: string
                                  description: auto start time. value must be of ISO-8601
                                    format HH:mm
                                  minLength: 1
                                  maxLength: 50
                                scheduledStopTime:
                                  type: string
                                  description: auto stop time. value must be of ISO-8601
                                    format HH:mm
                                  minLength: 1
                                  maxLength: 50
                              required:
                              - dayOfWeek
                            privateEndpointIp:
                              type: string
                              description: The private endpoint Ip address for the
                                resource.
                              x-ms-mutability:
                              - read
                              - create
                            privateEndpointLabel:
                              type: string
                              description: The resource's private endpoint label.
                              x-ms-mutability:
                              - read
                              - create
                            ociUrl:
                              type: string
                              description: HTTPS link to OCI resources exposed to
                                Azure Customer via Azure Interface.
                              readOnly: true
                            subnetId:
                              description: Client subnet
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/virtualNetworks/subnets
                            vnetId:
                              description: VNET for network connectivity
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/virtualNetworks
                            timeCreated:
                              type: string
                              format: date-time
                              description: The date and time that the database was
                                created.
                              readOnly: true
                            timeMaintenanceBegin:
                              type: string
                              format: date-time
                              description: The date and time when maintenance will
                                begin.
                              readOnly: true
                            timeMaintenanceEnd:
                              type: string
                              format: date-time
                              description: The date and time when maintenance will
                                end.
                              readOnly: true
                            actualUsedDataStorageSizeInTbs:
                              type: number
                              format: double
                              description: The current amount of storage in use for
                                user and system data, in terabytes (TB).
                              readOnly: true
                            allocatedStorageSizeInTbs:
                              type: number
                              format: double
                              description: The amount of storage currently allocated
                                for the database tables and billed for, rounded up.
                              readOnly: true
                            apexDetails:
                              description: Information about Oracle APEX Application
                                Development.
                              readOnly: true
                              type: object
                              properties:
                                apexVersion:
                                  type: string
                                  description: The Oracle APEX Application Development
                                    version.
                                ordsVersion:
                                  type: string
                                  description: The Oracle REST Data Services (ORDS)
                                    version.
                            availableUpgradeVersions:
                              type: array
                              description: List of Oracle Database versions available
                                for a database upgrade. If there are no version upgrades
                                available, this list is empty.
                              items:
                                type: string
                              readOnly: true
                            connectionStrings:
                              description: The connection string used to connect to
                                the Autonomous Database.
                              readOnly: true
                              type: object
                              properties:
                                allConnectionStrings:
                                  description: Returns all connection strings that
                                    can be used to connect to the Autonomous Database.
                                  type: object
                                  properties:
                                    high:
                                      type: string
                                      description: The High database service provides
                                        the highest level of resources to each SQL
                                        statement resulting in the highest performance,
                                        but supports the fewest number of concurrent
                                        SQL statements.
                                      minLength: 10
                                      maxLength: 255
                                    low:
                                      type: string
                                      description: The Low database service provides
                                        the least level of resources to each SQL statement,
                                        but supports the most number of concurrent
                                        SQL statements.
                                      minLength: 10
                                      maxLength: 255
                                    medium:
                                      type: string
                                      description: The Medium database service provides
                                        a lower level of resources to each SQL statement
                                        potentially resulting a lower level of performance,
                                        but supports more concurrent SQL statements.
                                      minLength: 10
                                      maxLength: 255
                                dedicated:
                                  type: string
                                  description: The database service provides the least
                                    level of resources to each SQL statement, but
                                    supports the most number of concurrent SQL statements.
                                  minLength: 10
                                  maxLength: 255
                                high:
                                  type: string
                                  description: The High database service provides
                                    the highest level of resources to each SQL statement
                                    resulting in the highest performance, but supports
                                    the fewest number of concurrent SQL statements.
                                  minLength: 10
                                  maxLength: 255
                                low:
                                  type: string
                                  description: The Low database service provides the
                                    least level of resources to each SQL statement,
                                    but supports the most number of concurrent SQL
                                    statements.
                                  minLength: 10
                                  maxLength: 255
                                medium:
                                  type: string
                                  description: The Medium database service provides
                                    a lower level of resources to each SQL statement
                                    potentially resulting a lower level of performance,
                                    but supports more concurrent SQL statements.
                                  minLength: 10
                                  maxLength: 255
                                profiles:
                                  type: array
                                  description: A list of connection string profiles
                                    to allow clients to group, filter and select connection
                                    string values based on structured metadata.
                                  items:
                                    type: object
                                    description: The connection string profile to
                                      allow clients to group, filter and select connection
                                      string values based on structured metadata.
                                    properties:
                                      consumerGroup:
                                        description: Consumer group used by the connection.
                                        type: string
                                        enum:
                                        - High
                                        - Medium
                                        - Low
                                        - Tp
                                        - Tpurgent
                                        x-ms-enum:
                                          name: ConsumerGroup
                                          modelAsString: true
                                          values:
                                          - name: High
                                            value: High
                                            description: High group
                                          - name: Medium
                                            value: Medium
                                            description: Medium group
                                          - name: Low
                                            value: Low
                                            description: Low group
                                          - name: Tp
                                            value: Tp
                                            description: TP group
                                          - name: Tpurgent
                                            value: Tpurgent
                                            description: TPurgent group
                                      displayName:
                                        type: string
                                        description: A user-friendly name for the
                                          connection.
                                        minLength: 1
                                        maxLength: 255
                                      hostFormat:
                                        description: Host format used in connection
                                          string.
                                        type: string
                                        enum:
                                        - Fqdn
                                        - Ip
                                        x-ms-enum:
                                          name: HostFormatType
                                          modelAsString: true
                                          values:
                                          - name: Fqdn
                                            value: Fqdn
                                            description: FQDN format
                                          - name: Ip
                                            value: Ip
                                            description: IP format
                                      isRegional:
                                        type: boolean
                                        description: True for a regional connection
                                          string, applicable to cross-region DG only.
                                      protocol:
                                        description: Protocol used by the connection.
                                        type: string
                                        enum:
                                        - TCP
                                        - TCPS
                                        x-ms-enum:
                                          name: ProtocolType
                                          modelAsString: true
                                          values:
                                          - name: TCP
                                            value: TCP
                                            description: TCP protocol
                                          - name: TCPS
                                            value: TCPS
                                            description: TCPS protocol
                                      sessionMode:
                                        description: Specifies whether the listener
                                          performs a direct hand-off of the session,
                                          or redirects the session.
                                        type: string
                                        enum:
                                        - Direct
                                        - Redirect
                                        x-ms-enum:
                                          name: SessionModeType
                                          modelAsString: true
                                          values:
                                          - name: Direct
                                            value: Direct
                                            description: Direct session mode
                                          - name: Redirect
                                            value: Redirect
                                            description: Redirect session mode
                                      syntaxFormat:
                                        description: Specifies whether the connection
                                          string is using the long (LONG), Easy Connect
                                          (EZCONNECT), or Easy Connect Plus (EZCONNECTPLUS)
                                          format.
                                        type: string
                                        enum:
                                        - Long
                                        - Ezconnect
                                        - Ezconnectplus
                                        x-ms-enum:
                                          name: SyntaxFormatType
                                          modelAsString: true
                                          values:
                                          - name: Long
                                            value: Long
                                            description: Long format
                                          - name: Ezconnect
                                            value: Ezconnect
                                            description: Ezconnect format
                                          - name: Ezconnectplus
                                            value: Ezconnectplus
                                            description: Ezconnectplus format
                                      tlsAuthentication:
                                        description: Specifies whether the TLS handshake
                                          is using one-way (SERVER) or mutual (MUTUAL)
                                          authentication.
                                        type: string
                                        enum:
                                        - Server
                                        - Mutual
                                        x-ms-enum:
                                          name: TlsAuthenticationType
                                          modelAsString: true
                                          values:
                                          - name: Server
                                            value: Server
                                            description: Server authentication
                                          - name: Mutual
                                            value: Mutual
                                            description: Mutual TLS
                                      value:
                                        type: string
                                        description: Connection string value.
                                    required:
                                    - displayName
                                    - hostFormat
                                    - protocol
                                    - sessionMode
                                    - syntaxFormat
                                    - value
                                  x-ms-identifiers: []
                            connectionUrls:
                              description: 'The URLs for accessing Oracle Application
                                Express (APEX) and SQL Developer Web with a browser
                                from a Compute instance within your VCN or that has
                                a direct connection to your VCN. '
                              readOnly: true
                              type: object
                              properties:
                                apexUrl:
                                  type: string
                                  description: Oracle Application Express (APEX) URL.
                                  minLength: 10
                                  maxLength: 512
                                databaseTransformsUrl:
                                  type: string
                                  description: The URL of the Database Transforms
                                    for the Autonomous Database.
                                  minLength: 10
                                  maxLength: 512
                                graphStudioUrl:
                                  type: string
                                  description: The URL of the Graph Studio for the
                                    Autonomous Database.
                                  minLength: 10
                                  maxLength: 512
                                machineLearningNotebookUrl:
                                  type: string
                                  description: The URL of the Oracle Machine Learning
                                    (OML) Notebook for the Autonomous Database.
                                  minLength: 10
                                  maxLength: 512
                                mongoDbUrl:
                                  type: string
                                  description: The URL of the MongoDB API for the
                                    Autonomous Database.
                                  minLength: 10
                                  maxLength: 512
                                ordsUrl:
                                  type: string
                                  description: The Oracle REST Data Services (ORDS)
                                    URL of the Web Access for the Autonomous Database.
                                  minLength: 10
                                  maxLength: 512
                                sqlDevWebUrl:
                                  type: string
                                  description: Oracle SQL Developer Web URL.
                                  minLength: 10
                                  maxLength: 512
                            dataSafeStatus:
                              description: Status of the Data Safe registration for
                                this Autonomous Database.
                              readOnly: true
                              type: string
                              enum:
                              - Registering
                              - Registered
                              - Deregistering
                              - NotRegistered
                              - Failed
                              x-ms-enum:
                                name: DataSafeStatusType
                                modelAsString: true
                                values:
                                - name: Registering
                                  value: Registering
                                  description: Registering status
                                - name: Registered
                                  value: Registered
                                  description: Registered status
                                - name: Deregistering
                                  value: Deregistering
                                  description: Deregistering status
                                - name: NotRegistered
                                  value: NotRegistered
                                  description: NotRegistered status
                                - name: Failed
                                  value: Failed
                                  description: Failed status
                            databaseEdition:
                              description: The Oracle Database Edition that applies
                                to the Autonomous databases.
                              x-ms-mutability:
                              - read
                              - update
                              - create
                              type: string
                              enum:
                              - StandardEdition
                              - EnterpriseEdition
                              x-ms-enum:
                                name: DatabaseEditionType
                                modelAsString: true
                                values:
                                - name: StandardEdition
                                  value: StandardEdition
                                  description: Standard edition
                                - name: EnterpriseEdition
                                  value: EnterpriseEdition
                                  description: Enterprise edition
                            autonomousDatabaseId:
                              description: Autonomous Database ID
                              x-ms-mutability:
                              - read
                              - create
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Oracle.Database/autonomousDatabases
                            inMemoryAreaInGbs:
                              type: integer
                              format: int32
                              description: The area assigned to In-Memory tables in
                                Autonomous Database.
                              readOnly: true
                            nextLongTermBackupTimeStamp:
                              type: string
                              format: date-time
                              description: The date and time when the next long-term
                                backup would be created.
                              readOnly: true
                            longTermBackupSchedule:
                              description: Details for the long-term backup schedule.
                              x-ms-mutability:
                              - read
                              - update
                              type: object
                              properties:
                                repeatCadence:
                                  description: The frequency of the long-term backup
                                    schedule
                                  type: string
                                  enum:
                                  - OneTime
                                  - Weekly
                                  - Monthly
                                  - Yearly
                                  x-ms-enum:
                                    name: RepeatCadenceType
                                    modelAsString: true
                                    values:
                                    - name: OneTime
                                      value: OneTime
                                      description: Repeat one time
                                    - name: Weekly
                                      value: Weekly
                                      description: Repeat weekly
                                    - name: Monthly
                                      value: Monthly
                                      description: Repeat monthly
                                    - name: Yearly
                                      value: Yearly
                                      description: Repeat yearly
                                timeOfBackup:
                                  type: string
                                  format: date-time
                                  description: The timestamp for the long-term backup
                                    schedule. For a MONTHLY cadence, months having
                                    fewer days than the provided date will have the
                                    backup taken on the last day of that month.
                                retentionPeriodInDays:
                                  description: Retention period, in days, for backups.
                                  type: integer
                                  format: int32
                                  minimum: 90
                                  maximum: 2558
                                isDisabled:
                                  type: boolean
                                  description: Indicates if the long-term backup schedule
                                    should be deleted. The default value is `FALSE`.
                            isPreview:
                              type: boolean
                              description: Indicates if the Autonomous Database version
                                is a preview version.
                              readOnly: true
                            localAdgAutoFailoverMaxDataLossLimit:
                              type: integer
                              format: int32
                              description: Parameter that allows users to select an
                                acceptable maximum data loss limit in seconds, up
                                to which Automatic Failover will be triggered when
                                necessary for a Local Autonomous Data Guard
                              minimum: 0
                              maximum: 3600
                              x-ms-mutability:
                              - read
                              - update
                            memoryPerOracleComputeUnitInGbs:
                              type: integer
                              format: int32
                              description: The amount of memory (in GBs) enabled per
                                ECPU or OCPU.
                              readOnly: true
                            openMode:
                              description: Indicates the Autonomous Database mode.
                              x-ms-mutability:
                              - read
                              - update
                              type: string
                              enum:
                              - ReadOnly
                              - ReadWrite
                              x-ms-enum:
                                name: OpenModeType
                                modelAsString: true
                                values:
                                - name: ReadOnly
                                  value: ReadOnly
                                  description: ReadOnly mode
                                - name: ReadWrite
                                  value: ReadWrite
                                  description: ReadWrite mode
                            operationsInsightsStatus:
                              description: Status of Operations Insights for this
                                Autonomous Database.
                              readOnly: true
                              type: string
                              enum:
                              - Enabling
                              - Enabled
                              - Disabling
                              - NotEnabled
                              - FailedEnabling
                              - FailedDisabling
                              x-ms-enum:
                                name: OperationsInsightsStatusType
                                modelAsString: true
                                values:
                                - name: Enabling
                                  value: Enabling
                                  description: Enabling status
                                - name: Enabled
                                  value: Enabled
                                  description: Enabled status
                                - name: Disabling
                                  value: Disabling
                                  description: Disabling status
                                - name: NotEnabled
                                  value: NotEnabled
                                  description: NotEnabled status
                                - name: FailedEnabling
                                  value: FailedEnabling
                                  description: FailedEnabling status
                                - name: FailedDisabling
                                  value: FailedDisabling
                                  description: FailedDisabling status
                            permissionLevel:
                              description: The Autonomous Database permission level.
                              x-ms-mutability:
                              - read
                              - update
                              type: string
                              enum:
                              - Restricted
                              - Unrestricted
                              x-ms-enum:
                                name: PermissionLevelType
                                modelAsString: true
                                values:
                                - name: Restricted
                                  value: Restricted
                                  description: Restricted permission level
                                - name: Unrestricted
                                  value: Unrestricted
                                  description: Unrestricted permission level
                            privateEndpoint:
                              type: string
                              description: The private endpoint for the resource.
                              readOnly: true
                            provisionableCpus:
                              type: array
                              description: An array of CPU values that an Autonomous
                                Database can be scaled to.
                              items:
                                type: integer
                                format: int32
                              readOnly: true
                            role:
                              description: The Data Guard role of the Autonomous Container
                                Database or Autonomous Database, if Autonomous Data
                                Guard is enabled.
                              x-ms-mutability:
                              - read
                              - update
                              type: string
                              enum:
                              - Primary
                              - Standby
                              - DisabledStandby
                              - BackupCopy
                              - SnapshotStandby
                              x-ms-enum:
                                name: RoleType
                                modelAsString: true
                                values:
                                - name: Primary
                                  value: Primary
                                  description: Primary role
                                - name: Standby
                                  value: Standby
                                  description: Standby role
                                - name: DisabledStandby
                                  value: DisabledStandby
                                  description: DisabledStandby role
                                - name: BackupCopy
                                  value: BackupCopy
                                  description: BackupCopy role
                                - name: SnapshotStandby
                                  value: SnapshotStandby
                                  description: SnapshotStandby role
                            serviceConsoleUrl:
                              type: string
                              description: The URL of the Service Console for the
                                Autonomous Database.
                              minLength: 10
                              maxLength: 255
                              readOnly: true
                            sqlWebDeveloperUrl:
                              type: string
                              description: The SQL Web Developer URL for the Oracle
                                Autonomous Database.
                              minLength: 10
                              maxLength: 2048
                              readOnly: true
                            supportedRegionsToCloneTo:
                              type: array
                              description: The list of regions that support the creation
                                of an Autonomous Database clone or an Autonomous Data
                                Guard standby database.
                              maxItems: 50
                              items:
                                type: string
                              readOnly: true
                            timeDataGuardRoleChanged:
                              type: string
                              description: The date and time the Autonomous Data Guard
                                role was switched for the Autonomous Database.
                              readOnly: true
                            timeDeletionOfFreeAutonomousDatabase:
                              type: string
                              description: The date and time the Always Free database
                                will be automatically deleted because of inactivity.
                              readOnly: true
                            timeLocalDataGuardEnabled:
                              type: string
                              description: The date and time that Autonomous Data
                                Guard was enabled for an Autonomous Database where
                                the standby was provisioned in the same region as
                                the primary database.
                              readOnly: true
                            timeOfLastFailover:
                              type: string
                              description: The timestamp of the last failover operation.
                              readOnly: true
                            timeOfLastRefresh:
                              type: string
                              description: The date and time when last refresh happened.
                              readOnly: true
                            timeOfLastRefreshPoint:
                              type: string
                              description: The refresh point timestamp (UTC).
                              readOnly: true
                            timeOfLastSwitchover:
                              type: string
                              description: The timestamp of the last switchover operation
                                for the Autonomous Database.
                              readOnly: true
                            timeReclamationOfFreeAutonomousDatabase:
                              type: string
                              description: The date and time the Always Free database
                                will be stopped because of inactivity.
                              readOnly: true
                            usedDataStorageSizeInGbs:
                              type: integer
                              format: int32
                              description: The storage space consumed by Autonomous
                                Database in GBs.
                              readOnly: true
                            usedDataStorageSizeInTbs:
                              type: integer
                              format: int32
                              description: The amount of storage that has been used,
                                in terabytes.
                              readOnly: true
                            ocid:
                              description: Database ocid
                              readOnly: true
                              type: string
                              minLength: 1
                              maxLength: 255
                            backupRetentionPeriodInDays:
                              type: integer
                              format: int32
                              description: Retention period, in days, for long-term
                                backups
                              x-ms-mutability:
                              - read
                              - update
                              - create
                            whitelistedIps:
                              type: array
                              description: 'The client IP access control list (ACL).
                                This is an array of CIDR notations and/or IP addresses.
                                Values should be separate strings, separated by commas.
                                Example: [''1.1.1.1'',''1.1.1.0/24'',''1.1.2.25'']'
                              items:
                                type: string
                                description: 'The client IP access control list (ACL).
                                  This is an array of CIDR notations and/or IP addresses.
                                  Values should be separate strings, separated by
                                  commas. Example: [''1.1.1.1'',''1.1.1.0/24'',''1.1.2.25'']'
                                minLength: 1
                                maxLength: 1024
                              x-ms-mutability:
                              - read
                              - update
                              - create
                          discriminator:
                            propertyName: dataBaseType
                          required:
                          - dataBaseType
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Oracle.Database/cloudExadataInfrastructures:
    get:
      operationId: CloudExadataInfrastructures_ListBySubscription
      tags:
      - CloudExadataInfrastructures
      description: List CloudExadataInfrastructure resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a CloudExadataInfrastructure list operation.
                properties:
                  value:
                    type: array
                    description: The CloudExadataInfrastructure items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
[...]
