openapi: 3.0.0
info:
  title: Microsoft.ServiceLinker
  description: Microsoft.ServiceLinker provider
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceLinker/locations/{location}/dryruns
  : get:
      tags:
      - Connector
      operationId: Connector_ListDryrun
      description: list dryrun jobs
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: The list of dryrun.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of dryrun list.
                    type: string
                    nullable: true
                  value:
                    description: The list of dryrun.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The properties of the dryrun job.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            parameters:
                              description: The parameters of the dryrun
                              discriminator:
                                propertyName: actionName
                              type: object
                              properties:
                                actionName:
                                  description: The name of action for you dryrun job.
                                  type: string
                                  enum:
                                  - createOrUpdate
                                  x-ms-enum:
                                    name: DryrunActionName
                                    modelAsString: true
                              required:
                              - actionName
                            prerequisiteResults:
                              readOnly: true
                              description: the result of the dryrun
                              type: array
                              items:
                                description: A result of dryrun
                                discriminator:
                                  propertyName: type
                                type: object
                                properties:
                                  type:
                                    description: The type of dryrun result.
                                    type: string
                                    enum:
                                    - basicError
                                    - permissionsMissing
                                    x-ms-enum:
                                      name: DryrunPrerequisiteResultType
                                      modelAsString: true
                                required:
                                - type
                              x-ms-identifiers: []
                            operationPreviews:
                              readOnly: true
                              description: the preview of the operations for creation
                              type: array
                              items:
                                description: The preview of the operations for creation
                                type: object
                                properties:
                                  name:
                                    description: The operation name
                                    type: string
                                  operationType:
                                    description: The operation type
                                    type: string
                                    enum:
                                    - configConnection
                                    - configNetwork
                                    - configAuth
                                    x-ms-enum:
                                      name: DryrunPreviewOperationType
                                      modelAsString: true
                                  description:
                                    description: The description of the operation
                                    type: string
                                  action:
                                    description: The action defined by RBAC, refer
                                      https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                                    type: string
                                  scope:
                                    description: The scope of the operation, refer
                                      https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                                    type: string
                              x-ms-identifiers: []
                            provisioningState:
                              readOnly: true
                              type: string
                              description: 'The provisioning state. '
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceLinker/locations/{location}/dryruns/{dryrunName}
  : get:
      tags:
      - Connector
      operationId: Connector_GetDryrun
      description: get a dryrun job
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: dryrunName
        in: path
        required: true
        description: The name of dryrun.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the dryrun job.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      parameters:
                        description: The parameters of the dryrun
                        discriminator:
                          propertyName: actionName
                        type: object
                        properties:
                          actionName:
                            description: The name of action for you dryrun job.
                            type: string
                            enum:
                            - createOrUpdate
                            x-ms-enum:
                              name: DryrunActionName
                              modelAsString: true
                        required:
                        - actionName
                      prerequisiteResults:
                        readOnly: true
                        description: the result of the dryrun
                        type: array
                        items:
                          description: A result of dryrun
                          discriminator:
                            propertyName: type
                          type: object
                          properties:
                            type:
                              description: The type of dryrun result.
                              type: string
                              enum:
                              - basicError
                              - permissionsMissing
                              x-ms-enum:
                                name: DryrunPrerequisiteResultType
                                modelAsString: true
                          required:
                          - type
                        x-ms-identifiers: []
                      operationPreviews:
                        readOnly: true
                        description: the preview of the operations for creation
                        type: array
                        items:
                          description: The preview of the operations for creation
                          type: object
                          properties:
                            name:
                              description: The operation name
                              type: string
                            operationType:
                              description: The operation type
                              type: string
                              enum:
                              - configConnection
                              - configNetwork
                              - configAuth
                              x-ms-enum:
                                name: DryrunPreviewOperationType
                                modelAsString: true
                            description:
                              description: The description of the operation
                              type: string
                            action:
                              description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                              type: string
                            scope:
                              description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                              type: string
                        x-ms-identifiers: []
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state. '
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Connector
      operationId: Connector_CreateDryrun
      description: create a dryrun job to do necessary check before actual creation
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: dryrunName
        in: path
        required: true
        description: The name of dryrun.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The properties of the dryrun job.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    parameters:
                      description: The parameters of the dryrun
                      discriminator:
                        propertyName: actionName
                      type: object
                      properties:
                        actionName:
                          description: The name of action for you dryrun job.
                          type: string
                          enum:
                          - createOrUpdate
                          x-ms-enum:
                            name: DryrunActionName
                            modelAsString: true
                      required:
                      - actionName
                    prerequisiteResults:
                      readOnly: true
                      description: the result of the dryrun
                      type: array
                      items:
                        description: A result of dryrun
                        discriminator:
                          propertyName: type
                        type: object
                        properties:
                          type:
                            description: The type of dryrun result.
                            type: string
                            enum:
                            - basicError
                            - permissionsMissing
                            x-ms-enum:
                              name: DryrunPrerequisiteResultType
                              modelAsString: true
                        required:
                        - type
                      x-ms-identifiers: []
                    operationPreviews:
                      readOnly: true
                      description: the preview of the operations for creation
                      type: array
                      items:
                        description: The preview of the operations for creation
                        type: object
                        properties:
                          name:
                            description: The operation name
                            type: string
                          operationType:
                            description: The operation type
                            type: string
                            enum:
                            - configConnection
                            - configNetwork
                            - configAuth
                            x-ms-enum:
                              name: DryrunPreviewOperationType
                              modelAsString: true
                          description:
                            description: The description of the operation
                            type: string
                          action:
                            description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                            type: string
                          scope:
                            description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                            type: string
                      x-ms-identifiers: []
                    provisioningState:
                      readOnly: true
                      type: string
                      description: 'The provisioning state. '
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: dryrun resource.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the dryrun job.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      parameters:
                        description: The parameters of the dryrun
                        discriminator:
                          propertyName: actionName
                        type: object
                        properties:
                          actionName:
                            description: The name of action for you dryrun job.
                            type: string
                            enum:
                            - createOrUpdate
                            x-ms-enum:
                              name: DryrunActionName
                              modelAsString: true
                        required:
                        - actionName
                      prerequisiteResults:
                        readOnly: true
                        description: the result of the dryrun
                        type: array
                        items:
                          description: A result of dryrun
                          discriminator:
                            propertyName: type
                          type: object
                          properties:
                            type:
                              description: The type of dryrun result.
                              type: string
                              enum:
                              - basicError
                              - permissionsMissing
                              x-ms-enum:
                                name: DryrunPrerequisiteResultType
                                modelAsString: true
                          required:
                          - type
                        x-ms-identifiers: []
                      operationPreviews:
                        readOnly: true
                        description: the preview of the operations for creation
                        type: array
                        items:
                          description: The preview of the operations for creation
                          type: object
                          properties:
                            name:
                              description: The operation name
                              type: string
                            operationType:
                              description: The operation type
                              type: string
                              enum:
                              - configConnection
                              - configNetwork
                              - configAuth
                              x-ms-enum:
                                name: DryrunPreviewOperationType
                                modelAsString: true
                            description:
                              description: The description of the operation
                              type: string
                            action:
                              description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                              type: string
                            scope:
                              description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                              type: string
                        x-ms-identifiers: []
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state. '
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Long running operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the dryrun job.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      parameters:
                        description: The parameters of the dryrun
                        discriminator:
                          propertyName: actionName
                        type: object
                        properties:
                          actionName:
                            description: The name of action for you dryrun job.
                            type: string
                            enum:
                            - createOrUpdate
                            x-ms-enum:
                              name: DryrunActionName
                              modelAsString: true
                        required:
                        - actionName
                      prerequisiteResults:
                        readOnly: true
                        description: the result of the dryrun
                        type: array
                        items:
                          description: A result of dryrun
                          discriminator:
                            propertyName: type
                          type: object
                          properties:
                            type:
                              description: The type of dryrun result.
                              type: string
                              enum:
                              - basicError
                              - permissionsMissing
                              x-ms-enum:
                                name: DryrunPrerequisiteResultType
                                modelAsString: true
                          required:
                          - type
                        x-ms-identifiers: []
                      operationPreviews:
                        readOnly: true
                        description: the preview of the operations for creation
                        type: array
                        items:
                          description: The preview of the operations for creation
                          type: object
                          properties:
                            name:
                              description: The operation name
                              type: string
                            operationType:
                              description: The operation type
                              type: string
                              enum:
                              - configConnection
                              - configNetwork
                              - configAuth
                              x-ms-enum:
                                name: DryrunPreviewOperationType
                                modelAsString: true
                            description:
                              description: The description of the operation
                              type: string
                            action:
                              description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                              type: string
                            scope:
                              description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                              type: string
                        x-ms-identifiers: []
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state. '
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Connector
      operationId: Connector_UpdateDryrun
      description: update a dryrun job to do necessary check before actual creation
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: dryrunName
        in: path
        required: true
        description: The name of dryrun.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: a dryrun job to be updated.
              properties:
                properties:
                  description: The properties of the dryrun job.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    parameters:
                      description: The parameters of the dryrun
                      discriminator:
                        propertyName: actionName
                      type: object
                      properties:
                        actionName:
                          description: The name of action for you dryrun job.
                          type: string
                          enum:
                          - createOrUpdate
                          x-ms-enum:
                            name: DryrunActionName
                            modelAsString: true
                      required:
                      - actionName
                    prerequisiteResults:
                      readOnly: true
                      description: the result of the dryrun
                      type: array
                      items:
                        description: A result of dryrun
                        discriminator:
                          propertyName: type
                        type: object
                        properties:
                          type:
                            description: The type of dryrun result.
                            type: string
                            enum:
                            - basicError
                            - permissionsMissing
                            x-ms-enum:
                              name: DryrunPrerequisiteResultType
                              modelAsString: true
                        required:
                        - type
                      x-ms-identifiers: []
                    operationPreviews:
                      readOnly: true
                      description: the preview of the operations for creation
                      type: array
                      items:
                        description: The preview of the operations for creation
                        type: object
                        properties:
                          name:
                            description: The operation name
                            type: string
                          operationType:
                            description: The operation type
                            type: string
                            enum:
                            - configConnection
                            - configNetwork
                            - configAuth
                            x-ms-enum:
                              name: DryrunPreviewOperationType
                              modelAsString: true
                          description:
                            description: The description of the operation
                            type: string
                          action:
                            description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                            type: string
                          scope:
                            description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                            type: string
                      x-ms-identifiers: []
                    provisioningState:
                      readOnly: true
                      type: string
                      description: 'The provisioning state. '
        description: dryrun resource.
        required: true
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the dryrun job.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      parameters:
                        description: The parameters of the dryrun
                        discriminator:
                          propertyName: actionName
                        type: object
                        properties:
                          actionName:
                            description: The name of action for you dryrun job.
                            type: string
                            enum:
                            - createOrUpdate
                            x-ms-enum:
                              name: DryrunActionName
                              modelAsString: true
                        required:
                        - actionName
                      prerequisiteResults:
                        readOnly: true
                        description: the result of the dryrun
                        type: array
                        items:
                          description: A result of dryrun
                          discriminator:
                            propertyName: type
                          type: object
                          properties:
                            type:
                              description: The type of dryrun result.
                              type: string
                              enum:
                              - basicError
                              - permissionsMissing
                              x-ms-enum:
                                name: DryrunPrerequisiteResultType
                                modelAsString: true
                          required:
                          - type
                        x-ms-identifiers: []
                      operationPreviews:
                        readOnly: true
                        description: the preview of the operations for creation
                        type: array
                        items:
                          description: The preview of the operations for creation
                          type: object
                          properties:
                            name:
                              description: The operation name
                              type: string
                            operationType:
                              description: The operation type
                              type: string
                              enum:
                              - configConnection
                              - configNetwork
                              - configAuth
                              x-ms-enum:
                                name: DryrunPreviewOperationType
                                modelAsString: true
                            description:
                              description: The description of the operation
                              type: string
                            action:
                              description: The action defined by RBAC, refer https://docs.microsoft.com/azure/role-based-access-control/role-definitions#actions-format
                              type: string
                            scope:
                              description: The scope of the operation, refer https://docs.microsoft.com/azure/role-based-access-control/scope-overview
                              type: string
                        x-ms-identifiers: []
                      provisioningState:
                        readOnly: true
                        type: string
                        description: 'The provisioning state. '
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted - Returns this status until the asynchronous operation
            has completed.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Connector
      operationId: Connector_DeleteDryrun
      description: delete a dryrun job
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: dryrunName
        in: path
        required: true
        description: The name of dryrun.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK. The job is deleted.
        '204':
          description: Deleted. The job is not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceLinker/locations/{location}/connectors
  : get:
      deprecated: false
      description: Returns list of connector which connects to the resource, which
        supports to config the target service during the resource provision.
      operationId: Connector_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Connector details.
          content:
            application/json:
              schema:
                description: The list of Linker.
                type: object
                properties:
                  nextLink:
                    description: The Linker used to get the next page of Linker list.
                    type: string
                    nullable: true
                  value:
                    description: The list of Linkers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                          nullable: true
                        properties:
                          description: The properties of the Linker.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            targetService:
                              description: The target service properties
                              discriminator:
                                propertyName: type
                              type: object
                              properties:
                                type:
                                  description: The target service type.
                                  type: string
                                  enum:
                                  - AzureResource
                                  - ConfluentBootstrapServer
                                  - ConfluentSchemaRegistry
                                  - SelfHostedServer
                                  x-ms-enum:
                                    name: targetServiceType
                                    modelAsString: true
                              required:
                              - type
                            authInfo:
                              description: The authentication type.
                              discriminator:
                                propertyName: authType
                              type: object
                              properties:
                                authType:
                                  description: The authentication type.
                                  type: string
                                  enum:
                                  - systemAssignedIdentity
                                  - userAssignedIdentity
                                  - servicePrincipalSecret
                                  - servicePrincipalCertificate
                                  - secret
                                  - accessKey
                                  - userAccount
                                  - easyAuthMicrosoftEntraID
                                  x-ms-enum:
                                    name: AuthType
                                    modelAsString: true
                                authMode:
                                  description: Optional. Indicates how to configure
                                    authentication. If optInAllAuth, service linker
                                    configures authentication such as enabling identity
                                    on source resource and granting RBAC roles. If
                                    optOutAllAuth, opt out authentication setup. Default
                                    is optInAllAuth.
                                  type: string
                                  enum:
                                  - optInAllAuth
                                  - optOutAllAuth
                                  x-ms-enum:
                                    name: authMode
                                    modelAsString: true
                                    values:
                                    - value: optInAllAuth
                                      description: Default authentication configuration
                                        according to the authentication type.
                                    - value: optOutAllAuth
                                      description: Skip all authentication configuration
                                        such as enabling managed identity and granting
                                        RBAC roles
                              required:
                              - authType
                            clientType:
                              description: The application client type
                              type: string
                              enum:
                              - none
                              - dotnet
                              - java
                              - python
                              - go
                              - php
                              - ruby
                              - django
                              - nodejs
                              - springBoot
                              - kafka-springBoot
                              - jms-springBoot
                              - dapr
                              x-ms-enum:
                                name: clientType
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              type: string
                              description: 'The provisioning state. '
                            vNetSolution:
                              description: The VNet solution.
                              type: object
                              properties:
                                type:
                                  description: Type of VNet solution.
                                  type: string
                                  enum:
                                  - serviceEndpoint
                                  - privateLink
                                  x-ms-enum:
                                    name: vNetSolutionType
                                    modelAsString: true
                                  nullable: true
                                deleteOrUpdateBehavior:
                                  description: Indicates whether to clean up previous
                                    operation when Linker is updating or deleting
                                  type: string
                                  enum:
                                  - Default
                                  - ForcedCleanup
                                  x-ms-enum:
                                    name: DeleteOrUpdateBehavior
                                    modelAsString: true
                              nullable: true
                            secretStore:
                              description: An option to store secret value in secure
                                place
                              type: object
                              properties:
                                keyVaultId:
                                  type: string
                                  description: The key vault id to store secret
                                  nullable: true
                                keyVaultSecretName:
                                  type: string
                                  description: The key vault secret name to store
                                    secret, only valid when storing one secret
                                  nullable: true
                              nullable: true
                            scope:
                              type: string
                              description: connection scope in source service.
                              nullable: true
                            publicNetworkSolution:
                              description: The network solution.
                              type: object
                              properties:
                                deleteOrUpdateBehavior:
                                  description: Indicates whether to clean up previous
                                    operation(such as firewall rules) when Linker
                                    is updating or deleting
                                  type: string
                                  enum:
                                  - Default
                                  - ForcedCleanup
                                  x-ms-enum:
                                    name: DeleteOrUpdateBehavior
                                    modelAsString: true
                                action:
                                  description: Optional. Indicates public network
                                    solution. If enable, enable public network access
                                    of target service with best try. Default is enable.
                                    If optOut, opt out public network access configuration.
                                  type: string
                                  enum:
                                  - enable
                                  - optOut
                                  x-ms-enum:
                                    name: actionType
                                    modelAsString: true
                                firewallRules:
                                  description: Describe firewall rules of target service
                                    to make sure source application could connect
                                    to the target.
                                  type: object
                                  properties:
                                    ipRanges:
                                      type: array
                                      items:
                                        type: string
                                      description: This value specifies the set of
                                        IP addresses or IP address ranges in CIDR
                                        form to be included as the allowed list of
                                        client IPs for a given database account.
                                    azureServices:
                                      description: Allow Azure services to access
                                        the target service if true.
                                      type: string
                                      enum:
                                      - 'true'
                                      - 'false'
                                      x-ms-enum:
                                        name: allowType
                                        modelAsString: true
                                    callerClientIP:
                                      description: Allow caller client IP to access
                                        the target service if true. the property is
                                        used when connecting local application to
                                        target service.
                                      type: string
                                      enum:
                                      - 'true'
                                      - 'false'
                                      x-ms-enum:
                                        name: allowType
                                        modelAsString: true
                              nullable: true
                            configurationInfo:
                              description: The connection information consumed by
                                applications, including secrets, connection strings.
                              type: object
                              properties:
                                deleteOrUpdateBehavior:
                                  description: Indicates whether to clean up previous
                                    operation when Linker is updating or deleting
                                  type: string
                                  enum:
                                  - Default
                                  - ForcedCleanup
                                  x-ms-enum:
                                    name: DeleteOrUpdateBehavior
                                    modelAsString: true
                                action:
                                  description: Optional, indicate whether to apply
                                    configurations on source application. If enable,
                                    generate configurations and applied to the source
                                    application. Default is enable. If optOut, no
                                    configuration change will be made on source.
                                  type: string
                                  enum:
                                  - enable
                                  - optOut
                                  x-ms-enum:
                                    name: actionType
                                    modelAsString: true
                                customizedKeys:
                                  description: Optional. A dictionary of default key
                                    name and customized key name mapping. If not specified,
                                    default key name will be used for generate configurations
                                  type: object
                                  additionalProperties:
                                    type: string
                                daprProperties:
                                  description: Indicates some additional properties
                                    for dapr client type
                                  type: object
                                  properties:
                                    version:
                                      type: string
                                      description: The dapr component version
                                      nullable: true
                                    componentType:
                                      type: string
                                      description: The dapr component type
                                      nullable: true
                                    secretStoreComponent:
                                      type: string
                                      description: The name of a secret store dapr
                                        to retrieve secret
                                      nullable: true
                                    metadata:
                                      description: Additional dapr metadata
                                      type: array
                                      items:
                                        description: The dapr component metadata.
                                        type: object
                                        properties:
                                          name:
                                            description: Metadata property name.
                                            type: string
                                          value:
                                            description: Metadata property value.
                                            type: string
                                          secretRef:
                                            description: The secret name where dapr
                                              could get value
                                            type: string
                                          description:
                                            description: The description of the metadata,
                                              returned from configuration api
                                            type: string
                                          required:
                                            description: The value indicating whether
                                              the metadata is required or not
                                            type: string
                                            enum:
                                            - 'true'
                                            - 'false'
                                            x-ms-enum:
                                              name: DaprMetadataRequired
                                              modelAsString: true
                                      x-ms-identifiers:
                                      - name
                                    scopes:
                                      description: The dapr component scopes
                                      type: array
                                      items:
                                        type: string
                                    runtimeVersion:
                                      type: string
                                      readOnly: true
                                      description: The runtime version supported by
                                        the properties
                                      nullable: true
                                    bindingComponentDirection:
                                      type: string
                                      enum:
                                      - input
                                      - output
                                      x-ms-enum:
                                        name: DaprBindingComponentDirection
                                        modelAsString: true
                                      readOnly: true
[...]
