openapi: 3.0.0
info:
  title: ServiceFabricManagementClient
  description: Azure Service Fabric Resource Provider API Client
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters:
    get:
      operationId: ManagedClusters_ListByResourceGroup
      summary: Gets the list of Service Fabric cluster resources created in the specified
        resource group.
      description: Gets all Service Fabric cluster resources created or in the process
        of being created in the resource group.
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      tags:
      - ManagedCluster
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Azure resource identifier.
                          readOnly: true
                        name:
                          type: string
                          description: Azure resource name.
                          readOnly: true
                        type:
                          type: string
                          description: Azure resource type.
                          readOnly: true
                        location:
                          type: string
                          description: Azure resource location.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          description: Azure resource tags.
                          additionalProperties:
                            type: string
                        etag:
                          type: string
                          description: Azure resource etag.
                          readOnly: true
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC).
                        properties:
                          x-ms-client-flatten: true
                          description: The managed cluster resource properties
                          type: object
                          required:
                          - dnsName
                          - adminUserName
                          properties:
                            dnsName:
                              type: string
                              description: The cluster dns name.
                            fqdn:
                              type: string
                              description: The fully qualified domain name associated
                                with the public load balancer of the cluster.
                              readOnly: true
                            ipv4Address:
                              type: string
                              description: The IPv4 address associated with the public
                                load balancer of the cluster.
                              readOnly: true
                            clusterId:
                              type: string
                              description: A service generated unique identifier for
                                the cluster resource.
                              readOnly: true
                            clusterState:
                              readOnly: true
                              description: The current state of the cluster.
                              type: string
                              enum:
                              - WaitingForNodes
                              - Deploying
                              - BaselineUpgrade
                              - Upgrading
                              - UpgradeFailed
                              - Ready
                              x-ms-enum:
                                name: ClusterState
                                modelAsString: true
                                values:
                                - value: WaitingForNodes
                                  description: Indicates that the cluster resource
                                    is created and the resource provider is waiting
                                    for Service Fabric VM extension to boot up and
                                    report to it.
                                - value: Deploying
                                  description: Indicates that the Service Fabric runtime
                                    is being installed on the VMs. Cluster resource
                                    will be in this state until the cluster boots
                                    up and system services are up.
                                - value: BaselineUpgrade
                                  description: Indicates that the cluster is upgrading
                                    to establishes the cluster version. This upgrade
                                    is automatically initiated when the cluster boots
                                    up for the first time.
                                - value: Upgrading
                                  description: Indicates that the cluster is being
                                    upgraded with the user provided configuration.
                                - value: UpgradeFailed
                                  description: Indicates that the last upgrade for
                                    the cluster has failed.
                                - value: Ready
                                  description: Indicates that the cluster is in a
                                    stable state.
                            clusterCertificateThumbprints:
                              type: array
                              items:
                                type: string
                              description: List of thumbprints of the cluster certificates.
                              readOnly: true
                            clientConnectionPort:
                              type: integer
                              format: int32
                              description: The port used for client connections to
                                the cluster.
                              default: 19000
                            httpGatewayConnectionPort:
                              type: integer
                              format: int32
                              description: The port used for HTTP connections to the
                                cluster.
                              default: 19080
                            adminUserName:
                              type: string
                              description: VM admin user name.
                            adminPassword:
                              type: string
                              x-ms-secret: true
                              format: password
                              description: VM admin user password.
                            loadBalancingRules:
                              type: array
                              items:
                                type: object
                                required:
                                - frontendPort
                                - backendPort
                                - protocol
                                - probeProtocol
                                properties:
                                  frontendPort:
                                    type: integer
                                    format: int32
                                    description: The port for the external endpoint.
                                      Port numbers for each rule must be unique within
                                      the Load Balancer. Acceptable values are between
                                      1 and 65534.
                                    minimum: 1
                                    maximum: 65534
                                  backendPort:
                                    type: integer
                                    format: int32
                                    description: The port used for internal connections
                                      on the endpoint. Acceptable values are between
                                      1 and 65535.
                                    minimum: 1
                                    maximum: 65534
                                  protocol:
                                    type: string
                                    description: The reference to the transport protocol
                                      used by the load balancing rule.
                                    enum:
                                    - tcp
                                    - udp
                                    x-ms-enum:
                                      name: protocol
                                      modelAsString: true
                                  probePort:
                                    type: integer
                                    format: int32
                                    description: The prob port used by the load balancing
                                      rule. Acceptable values are between 1 and 65535.
                                    minimum: 1
                                    maximum: 65534
                                  probeProtocol:
                                    type: string
                                    description: the reference to the load balancer
                                      probe used by the load balancing rule.
                                    enum:
                                    - tcp
                                    - http
                                    - https
                                    x-ms-enum:
                                      name: probeProtocol
                                      modelAsString: true
                                  probeRequestPath:
                                    type: string
                                    description: The probe request path. Only supported
                                      for HTTP/HTTPS probes.
                                  loadDistribution:
                                    type: string
                                    description: The load distribution policy for
                                      this rule.
                                description: Describes a load balancing rule.
                              x-ms-identifiers: []
                              description: Load balancing rules that are applied to
                                the public load balancer of the cluster.
                            allowRdpAccess:
                              type: boolean
                              description: Setting this to true enables RDP access
                                to the VM. The default NSG rule opens RDP port to
                                Internet which can be overridden with custom Network
                                Security Rules. The default value for this setting
                                is false.
                            networkSecurityRules:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                - protocol
                                - access
                                - priority
                                - direction
                                properties:
                                  name:
                                    type: string
                                    description: Network security rule name.
                                  description:
                                    type: string
                                    description: Network security rule description.
                                  protocol:
                                    type: string
                                    description: Network protocol this rule applies
                                      to.
                                    enum:
                                    - http
                                    - https
                                    - tcp
                                    - udp
                                    - icmp
                                    - ah
                                    - esp
                                    x-ms-enum:
                                      name: nsgProtocol
                                      modelAsString: true
                                  sourceAddressPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The CIDR or source IP ranges.
                                  destinationAddressPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The destination address prefixes.
                                      CIDR or destination IP ranges.
                                  sourcePortRanges:
                                    type: array
                                    items:
                                      type: string
                                    description: The source port ranges.
                                  destinationPortRanges:
                                    type: array
                                    items:
                                      type: string
                                    description: The destination port ranges.
                                  sourceAddressPrefix:
                                    type: string
                                    description: The CIDR or source IP range. Asterisk
                                      '*' can also be used to match all source IPs.
                                      Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
                                      and 'Internet' can also be used. If this is
                                      an ingress rule, specifies where network traffic
                                      originates from.
                                  destinationAddressPrefix:
                                    type: string
                                    description: The destination address prefix. CIDR
                                      or destination IP range. Asterisk '*' can also
                                      be used to match all source IPs. Default tags
                                      such as 'VirtualNetwork', 'AzureLoadBalancer'
                                      and 'Internet' can also be used.
                                  sourcePortRange:
                                    type: string
                                    description: The source port or range. Integer
                                      or range between 0 and 65535. Asterisk '*' can
                                      also be used to match all ports.
                                  destinationPortRange:
                                    type: string
                                    description: he destination port or range. Integer
                                      or range between 0 and 65535. Asterisk '*' can
                                      also be used to match all ports.
                                  access:
                                    type: string
                                    description: The network traffic is allowed or
                                      denied.
                                    enum:
                                    - allow
                                    - deny
                                    x-ms-enum:
                                      name: access
                                      modelAsString: true
                                  priority:
                                    type: integer
                                    format: int32
                                    description: The priority of the rule. The value
                                      can be in the range 1000 to 3000. Values outside
                                      this range are reserved for Service Fabric ManagerCluster
                                      Resource Provider. The priority number must
                                      be unique for each rule in the collection. The
                                      lower the priority number, the higher the priority
                                      of the rule.
                                    minimum: 1000
                                    maximum: 3000
                                  direction:
                                    type: string
                                    description: Network security rule direction.
                                    enum:
                                    - inbound
                                    - outbound
                                    x-ms-enum:
                                      name: direction
                                      modelAsString: true
                                description: Describes a network security rule.
                              x-ms-identifiers: []
                              description: Custom Network Security Rules that are
                                applied to the Virtual Network of the cluster.
                            clients:
                              type: array
                              items:
                                type: object
                                required:
                                - isAdmin
                                properties:
                                  isAdmin:
                                    type: boolean
                                    description: Indicates if the client certificate
                                      has admin access to the cluster. Non admin clients
                                      can perform only read only operations on the
                                      cluster.
                                  thumbprint:
                                    type: string
                                    description: Certificate thumbprint.
                                  commonName:
                                    type: string
                                    description: Certificate common name.
                                  issuerThumbprint:
                                    type: string
                                    description: Issuer thumbprint for the certificate.
                                      Only used together with CommonName.
                                description: Client certificate definition.
                              x-ms-identifiers: []
                              description: Client certificates that are allowed to
                                manage the cluster.
                            azureActiveDirectory:
                              description: The AAD authentication settings of the
                                cluster.
                              type: object
                              properties:
                                tenantId:
                                  type: string
                                  description: Azure active directory tenant id.
                                clusterApplication:
                                  type: string
                                  description: Azure active directory cluster application
                                    id.
                                clientApplication:
                                  type: string
                                  description: Azure active directory client application
                                    id.
                            fabricSettings:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                - parameters
                                properties:
                                  name:
                                    type: string
                                    description: The section name of the fabric settings.
                                  parameters:
                                    type: array
                                    description: The collection of parameters in the
                                      section.
                                    items:
                                      type: object
                                      required:
                                      - name
                                      - value
                                      properties:
                                        name:
                                          type: string
                                          description: The parameter name of fabric
                                            setting.
                                        value:
                                          type: string
                                          description: The parameter value of fabric
                                            setting.
                                      description: Describes a parameter in fabric
                                        settings of the cluster.
                                    x-ms-identifiers:
                                    - name
                                description: Describes a section in the fabric settings
                                  of the cluster.
                              x-ms-identifiers: []
                              description: The list of custom fabric settings to configure
                                the cluster.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the managed cluster
                                resource.
                              type: string
                              enum:
                              - None
                              - Creating
                              - Created
                              - Updating
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - Deleted
                              - Other
                              x-ms-enum:
                                name: ManagedResourceProvisioningState
                                modelAsString: true
                            clusterCodeVersion:
                              type: string
                              description: The Service Fabric runtime version of the
                                cluster. This property is required when **clusterUpgradeMode**
                                is set to 'Manual'. To get list of available Service
                                Fabric versions for new clusters use [ClusterVersion
                                API](./ClusterVersion.md). To get the list of available
                                version for existing clusters use **availableClusterVersions**.
                            clusterUpgradeMode:
                              type: string
                              description: 'The upgrade mode of the cluster when new
                                Service Fabric runtime version is available.

                                '
                              enum:
                              - Automatic
                              - Manual
                              default: Automatic
                              x-ms-enum:
                                name: ClusterUpgradeMode
                                modelAsString: true
                                values:
                                - value: Automatic
                                  description: The cluster will be automatically upgraded
                                    to the latest Service Fabric runtime version,
                                    **clusterUpgradeCadence** will determine when
                                    the upgrade starts after the new version becomes
                                    available.
                                - value: Manual
                                  description: The cluster will not be automatically
                                    upgraded to the latest Service Fabric runtime
                                    version. The cluster is upgraded by setting the
                                    **clusterCodeVersion** property in the cluster
                                    resource.
                            clusterUpgradeCadence:
                              description: Indicates when new cluster runtime version
                                upgrades will be applied after they are released.
                                By default is Wave0. Only applies when **clusterUpgradeMode**
                                is set to 'Automatic'.
                              type: string
                              enum:
                              - Wave0
                              - Wave1
                              - Wave2
                              x-ms-enum:
                                name: clusterUpgradeCadence
                                modelAsString: true
                                values:
                                - value: Wave0
                                  description: Cluster upgrade starts immediately
                                    after a new version is rolled out. Recommended
                                    for Test/Dev clusters.
                                - value: Wave1
                                  description: Cluster upgrade starts 7 days after
                                    a new version is rolled out. Recommended for Pre-prod
                                    clusters.
                                - value: Wave2
                                  description: Cluster upgrade starts 14 days after
                                    a new version is rolled out. Recommended for Production
                                    clusters.
                            addonFeatures:
                              type: array
                              items:
                                type: string
                                description: Available cluster add-on features
                                enum:
                                - DnsService
                                - BackupRestoreService
                                - ResourceMonitorService
                                x-ms-enum:
                                  name: ManagedClusterAddOnFeature
                                  modelAsString: true
                                  values:
                                  - value: DnsService
                                    description: Dns service
                                  - value: BackupRestoreService
                                    description: Backup and restore service
                                  - value: ResourceMonitorService
                                    description: Resource monitor service
                              description: List of add-on features to enable on the
                                cluster.
                            enableAutoOSUpgrade:
                              type: boolean
                              description: Setting this to true enables automatic
                                OS upgrade for the node types that are created using
                                any platform OS image with version 'latest'. The default
                                value for this setting is false.
                            zonalResiliency:
                              type: boolean
                              description: Indicates if the cluster has zone resiliency.
                              default: false
                            applicationTypeVersionsCleanupPolicy:
                              description: The policy used to clean up unused versions.
                              type: object
                              required:
                              - maxUnusedVersionsToKeep
                              properties:
                                maxUnusedVersionsToKeep:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  description: Number of unused versions per application
                                    type to keep.
                            enableIpv6:
                              type: boolean
                              description: Setting this to true creates IPv6 address
                                space for the default VNet used by the cluster. This
                                setting cannot be changed once the cluster is created.
                                The default value for this setting is false.
                            subnetId:
                              type: string
                              description: If specified, the node types for the cluster
                                are created in this subnet instead of the default
                                VNet. The **networkSecurityRules** specified for the
                                cluster are also applied to this subnet. This setting
                                cannot be changed once the cluster is created.
                            ipTags:
                              type: array
                              items:
                                type: object
                                required:
                                - ipTagType
                                - tag
                                properties:
                                  ipTagType:
                                    type: string
                                    description: 'IP tag type. Example: FirstPartyUsage.'
                                  tag:
                                    type: string
                                    description: 'IP tag associated with the public
                                      IP. Example: SQL, Storage etc.'
                                description: The IP tag associated with the public
                                  IP address.
                              x-ms-identifiers: []
                              description: The list of IP tags associated with the
                                default public IP address of the cluster.
                            ipv6Address:
                              type: string
                              description: IPv6 address for the cluster if IPv6 is
                                enabled.
                              readOnly: true
                            enableServicePublicIP:
                              type: boolean
                              description: Setting this to true will link the IPv4
                                address as the ServicePublicIP of the IPv6 address.
                                It can only be set to True if IPv6 is enabled on the
                                cluster.
                            auxiliarySubnets:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                properties:
                                  name:
                                    type: string
                                    description: Subnet name.
                                  enableIpv6:
                                    type: boolean
                                    description: Indicates wether to enable Ipv6 or
                                      not. If not provided, it will take the same
                                      configuration as the cluster.
                                  privateEndpointNetworkPolicies:
                                    type: string
                                    description: Enable or Disable apply network policies
                                      on private end point in the subnet.
                                    enum:
                                    - enabled
                                    - disabled
                                    x-ms-enum:
                                      name: privateEndpointNetworkPolicies
                                      modelAsString: true
                                  privateLinkServiceNetworkPolicies:
                                    type: string
                                    description: Enable or Disable apply network policies
                                      on private link service in the subnet.
                                    enum:
                                    - enabled
                                    - disabled
                                    x-ms-enum:
                                      name: privateLinkServiceNetworkPolicies
                                      modelAsString: true
                                  networkSecurityGroupId:
                                    type: string
                                    description: Full resource id for the network
                                      security group.
                                description: Describes a Subnet.
                              x-ms-identifiers: []
                              description: Auxiliary subnets for the cluster.
                            serviceEndpoints:
                              type: array
                              items:
                                type: object
                                required:
                                - service
                                properties:
                                  service:
                                    type: string
                                    description: The type of the endpoint service.
                                  locations:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of locations.
                                description: The service endpoint properties.
                              x-ms-identifiers: []
                              description: Service endpoints for subnets in the cluster.
                            zonalUpdateMode:
                              description: Indicates the update mode for Cross Az
                                clusters.
                              type: string
                              enum:
                              - Standard
                              - Fast
                              x-ms-enum:
                                name: ZonalUpdateMode
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: The cluster will use 5 upgrade domains
                                    for Cross Az Node types.
                                - value: Fast
                                  description: The cluster will use a maximum of 3
                                    upgrade domains per zone instead of 5 for Cross
                                    Az Node types for faster deployments.
                            useCustomVnet:
                              type: boolean
                              description: For new clusters, this parameter indicates
                                that it uses Bring your own VNet, but the subnet is
                                specified at node type level; and for such clusters,
                                the subnetId property is required for node types.
                            publicIPPrefixId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPPrefixes
                              description: Specify the resource id of a public IPv4
                                prefix that the load balancer will allocate a public
                                IPv4 address from. This setting cannot be changed
                                once the cluster is created.
                            publicIPv6PrefixId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPPrefixes
                              description: Specify the resource id of a public IPv6
                                prefix that the load balancer will allocate a public
                                IPv6 address from. This setting cannot be changed
                                once the cluster is created.
                            ddosProtectionPlanId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/ddosProtectionPlans
                              description: Specify the resource id of a DDoS network
                                protection plan that will be associated with the virtual
                                network of the cluster.
                            upgradeDescription:
                              description: The policy to use when upgrading the cluster.
                              type: object
                              properties:
                                forceRestart:
                                  type: boolean
                                  description: If true, then processes are forcefully
                                    restarted during upgrade even when the code version
                                    has not changed (the upgrade only changes configuration
                                    or data).
                                healthPolicy:
                                  description: The cluster health policy defines a
                                    health policy used to evaluate the health of the
                                    cluster during a cluster upgrade.
                                  type: object
                                  required:
                                  - maxPercentUnhealthyNodes
                                  - maxPercentUnhealthyApplications
                                  properties:
                                    maxPercentUnhealthyNodes:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy nodes before reporting an error.
                                        For example, to allow 10% of nodes to be unhealthy,
                                        this value would be 10.


                                        The percentage represents the maximum tolerated
                                        percentage of nodes that can be unhealthy
                                        before the cluster is considered in error.

                                        If the percentage is respected but there is
                                        at least one unhealthy node, the health is
                                        evaluated as Warning.

                                        The percentage is calculated by dividing the
                                        number of unhealthy nodes over the total number
                                        of nodes in the cluster.

                                        The computation rounds up to tolerate one
                                        failure on small numbers of nodes. Default
                                        percentage is zero.


                                        In large clusters, some nodes will always
                                        be down or out for repairs, so this percentage
                                        should be configured to tolerate that.

                                        '
                                      default: 0
                                      minimum: 0
                                      maximum: 100
                                    maxPercentUnhealthyApplications:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy applications before reporting
                                        an error. For example, to allow 10% of applications
                                        to be unhealthy, this value would be 10.


                                        The percentage represents the maximum tolerated
                                        percentage of applications that can be unhealthy
                                        before the cluster is considered in error.

                                        If the percentage is respected but there is
                                        at least one unhealthy application, the health
                                        is evaluated as Warning.

                                        This is calculated by dividing the number
                                        of unhealthy applications over the total number
                                        of application instances in the cluster, excluding
                                        applications of application types that are
                                        included in the ApplicationTypeHealthPolicyMap.

                                        The computation rounds up to tolerate one
                                        failure on small numbers of applications.
                                        Default percentage is zero.

                                        '
                                      default: 0
                                      minimum: 0
                                      maximum: 100
                                deltaHealthPolicy:
                                  description: The cluster delta health policy defines
                                    a health policy used to evaluate the health of
                                    the cluster during a cluster upgrade.
                                  type: object
                                  required:
                                  - maxPercentDeltaUnhealthyNodes
                                  properties:
                                    maxPercentDeltaUnhealthyNodes:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of nodes health degradation allowed during
                                        cluster upgrades.

                                        The delta is measured between the state of
                                        the nodes at the beginning of upgrade and
                                        the state of the nodes at the time of the
                                        health evaluation.

                                        The check is performed after every upgrade
                                        domain upgrade completion to make sure the
                                        global state of the cluster is within tolerated
                                        limits.

                                        '
                                      minimum: 0
                                      maximum: 100
                                    maxPercentUpgradeDomainDeltaUnhealthyNodes:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of upgrade domain nodes health degradation
                                        allowed during cluster upgrades.

                                        The delta is measured between the state of
                                        the upgrade domain nodes at the beginning
                                        of upgrade and the state of the upgrade domain
                                        nodes at the time of the health evaluation.

                                        The check is performed after every upgrade
                                        domain upgrade completion for all completed
                                        upgrade domains to make sure the state of
                                        the upgrade domains is within tolerated limits.

                                        '
                                      minimum: 0
                                      maximum: 100
                                    maxPercentDeltaUnhealthyApplications:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of applications health degradation allowed
                                        during cluster upgrades.

                                        The delta is measured between the state of
                                        the applications at the beginning of upgrade
                                        and the state of the applications at the time
                                        of the health evaluation.

                                        The check is performed after every upgrade
                                        domain upgrade completion to make sure the
                                        global state of the cluster is within tolerated
                                        limits. System services are not included in
                                        this.

                                        NOTE: This value will overwrite the value
                                        specified in properties.UpgradeDescription.HealthPolicy.MaxPercentUnhealthyApplications

                                        '
                                      minimum: 0
                                      maximum: 100
                                monitoringPolicy:
                                  description: The cluster monitoring policy describes
                                    the parameters for monitoring an upgrade in Monitored
                                    mode.
                                  type: object
                                  required:
                                  - healthCheckWaitDuration
                                  - healthCheckStableDuration
                                  - healthCheckRetryTimeout
                                  - upgradeTimeout
                                  - upgradeDomainTimeout
                                  properties:
                                    healthCheckWaitDuration:
                                      type: string
                                      x-ms-format: duration-constant
                                      description: The length of time to wait after
                                        completing an upgrade domain before performing
                                        health checks. The duration can be in either
                                        hh:mm:ss or in d.hh:mm:ss.ms format.
                                    healthCheckStableDuration:
                                      type: string
                                      x-ms-format: duration-constant
                                      description: The amount of time that the application
                                        or cluster must remain healthy before the
                                        upgrade proceeds to the next upgrade domain.
                                        The duration can be in either hh:mm:ss or
                                        in d.hh:mm:ss.ms format.
                                    healthCheckRetryTimeout:
                                      type: string
                                      description: The amount of time to retry health
                                        evaluation when the application or cluster
                                        is unhealthy before the upgrade rolls back.
                                        The timeout can be in either hh:mm:ss or in
                                        d.hh:mm:ss.ms format.
                                    upgradeTimeout:
                                      type: string
                                      description: The amount of time the overall
                                        upgrade has to complete before the upgrade
                                        rolls back. The timeout can be in either hh:mm:ss
                                        or in d.hh:mm:ss.ms format.
                                    upgradeDomainTimeout:
                                      type: string
                                      description: The amount of time each upgrade
                                        domain has to complete before the upgrade
                                        rolls back. The timeout can be in either hh:mm:ss
                                        or in d.hh:mm:ss.ms format.
                                upgradeReplicaSetCheckTimeout:
                                  type: string
                                  description: 'The maximum amount of time to block
                                    processing of an upgrade domain and prevent loss
                                    of availability when there are unexpected issues.

                                    When this timeout expires, processing of the upgrade
                                    domain will proceed regardless of availability
                                    loss issues.

                                    The timeout is reset at the start of each upgrade
                                    domain. The timeout can be in either hh:mm:ss
                                    or in d.hh:mm:ss.ms format.

                                    This value must be between 00:00:00 and 49710.06:28:15
                                    (unsigned 32 bit integer for seconds)

                                    '
                            httpGatewayTokenAuthConnectionPort:
                              type: integer
                              format: int32
                              description: The port used for token-auth based HTTPS
                                connections to the cluster. Cannot be set to the same
                                port as HttpGatewayEndpoint.
                            enableHttpGatewayExclusiveAuthMode:
                              type: boolean
                              description: If true, token-based authentication is
                                not allowed on the HttpGatewayEndpoint. This is required
                                to support TLS versions 1.3 and above. If token-based
                                authentication is used, HttpGatewayTokenAuthConnectionPort
                                must be defined.
                        sku:
                          description: The sku of the managed cluster
                          type: object
                          required:
                          - name
                          properties:
                            name:
                              description: Sku Name.
                              type: string
                              enum:
                              - Basic
                              - Standard
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                                values:
                                - value: Basic
                                  description: Basic requires a minimum of 3 nodes
                                    and allows only 1 node type.
                                - value: Standard
                                  description: Requires a minimum of 5 nodes and allows
                                    1 or more node type.
                      required:
                      - location
                      - sku
                      description: The resource model definition.
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: Managed Cluster list results
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/managedClusters:
    get:
      operationId: ManagedClusters_ListBySubscription
      summary: Gets the list of Service Fabric cluster resources created in the specified
        subscription.
      description: Gets all Service Fabric cluster resources created or in the process
        of being created in the subscription.
      parameters:
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      tags:
      - ManagedCluster
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Azure resource identifier.
                          readOnly: true
                        name:
                          type: string
                          description: Azure resource name.
                          readOnly: true
                        type:
                          type: string
                          description: Azure resource type.
                          readOnly: true
                        location:
                          type: string
                          description: Azure resource location.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          description: Azure resource tags.
                          additionalProperties:
                            type: string
                        etag:
                          type: string
                          description: Azure resource etag.
                          readOnly: true
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC).
                        properties:
                          x-ms-client-flatten: true
                          description: The managed cluster resource properties
                          type: object
                          required:
                          - dnsName
                          - adminUserName
                          properties:
                            dnsName:
                              type: string
                              description: The cluster dns name.
                            fqdn:
                              type: string
                              description: The fully qualified domain name associated
                                with the public load balancer of the cluster.
                              readOnly: true
                            ipv4Address:
                              type: string
                              description: The IPv4 address associated with the public
                                load balancer of the cluster.
                              readOnly: true
                            clusterId:
                              type: string
                              description: A service generated unique identifier for
                                the cluster resource.
                              readOnly: true
                            clusterState:
                              readOnly: true
                              description: The current state of the cluster.
                              type: string
                              enum:
                              - WaitingForNodes
                              - Deploying
                              - BaselineUpgrade
                              - Upgrading
                              - UpgradeFailed
                              - Ready
                              x-ms-enum:
                                name: ClusterState
                                modelAsString: true
                                values:
                                - value: WaitingForNodes
                                  description: Indicates that the cluster resource
                                    is created and the resource provider is waiting
                                    for Service Fabric VM extension to boot up and
                                    report to it.
                                - value: Deploying
                                  description: Indicates that the Service Fabric runtime
                                    is being installed on the VMs. Cluster resource
                                    will be in this state until the cluster boots
                                    up and system services are up.
                                - value: BaselineUpgrade
                                  description: Indicates that the cluster is upgrading
                                    to establishes the cluster version. This upgrade
                                    is automatically initiated when the cluster boots
                                    up for the first time.
                                - value: Upgrading
                                  description: Indicates that the cluster is being
                                    upgraded with the user provided configuration.
                                - value: UpgradeFailed
                                  description: Indicates that the last upgrade for
                                    the cluster has failed.
                                - value: Ready
                                  description: Indicates that the cluster is in a
                                    stable state.
                            clusterCertificateThumbprints:
                              type: array
                              items:
                                type: string
                              description: List of thumbprints of the cluster certificates.
                              readOnly: true
                            clientConnectionPort:
                              type: integer
                              format: int32
                              description: The port used for client connections to
                                the cluster.
                              default: 19000
                            httpGatewayConnectionPort:
                              type: integer
                              format: int32
                              description: The port used for HTTP connections to the
                                cluster.
                              default: 19080
                            adminUserName:
                              type: string
                              description: VM admin user name.
                            adminPassword:
                              type: string
                              x-ms-secret: true
                              format: password
                              description: VM admin user password.
                            loadBalancingRules:
                              type: array
                              items:
                                type: object
                                required:
                                - frontendPort
                                - backendPort
                                - protocol
                                - probeProtocol
                                properties:
                                  frontendPort:
                                    type: integer
                                    format: int32
                                    description: The port for the external endpoint.
                                      Port numbers for each rule must be unique within
                                      the Load Balancer. Acceptable values are between
                                      1 and 65534.
                                    minimum: 1
                                    maximum: 65534
                                  backendPort:
                                    type: integer
                                    format: int32
                                    description: The port used for internal connections
                                      on the endpoint. Acceptable values are between
                                      1 and 65535.
                                    minimum: 1
                                    maximum: 65534
                                  protocol:
                                    type: string
                                    description: The reference to the transport protocol
                                      used by the load balancing rule.
                                    enum:
                                    - tcp
                                    - udp
                                    x-ms-enum:
                                      name: protocol
                                      modelAsString: true
                                  probePort:
                                    type: integer
                                    format: int32
                                    description: The prob port used by the load balancing
                                      rule. Acceptable values are between 1 and 65535.
                                    minimum: 1
                                    maximum: 65534
                                  probeProtocol:
                                    type: string
                                    description: the reference to the load balancer
                                      probe used by the load balancing rule.
                                    enum:
                                    - tcp
                                    - http
                                    - https
                                    x-ms-enum:
                                      name: probeProtocol
                                      modelAsString: true
                                  probeRequestPath:
                                    type: string
                                    description: The probe request path. Only supported
                                      for HTTP/HTTPS probes.
                                  loadDistribution:
                                    type: string
                                    description: The load distribution policy for
                                      this rule.
                                description: Describes a load balancing rule.
                              x-ms-identifiers: []
                              description: Load balancing rules that are applied to
                                the public load balancer of the cluster.
                            allowRdpAccess:
                              type: boolean
                              description: Setting this to true enables RDP access
                                to the VM. The default NSG rule opens RDP port to
                                Internet which can be overridden with custom Network
                                Security Rules. The default value for this setting
                                is false.
                            networkSecurityRules:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                - protocol
                                - access
                                - priority
                                - direction
                                properties:
                                  name:
                                    type: string
                                    description: Network security rule name.
                                  description:
                                    type: string
                                    description: Network security rule description.
                                  protocol:
                                    type: string
                                    description: Network protocol this rule applies
                                      to.
                                    enum:
                                    - http
                                    - https
                                    - tcp
                                    - udp
                                    - icmp
                                    - ah
                                    - esp
                                    x-ms-enum:
                                      name: nsgProtocol
                                      modelAsString: true
                                  sourceAddressPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The CIDR or source IP ranges.
                                  destinationAddressPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The destination address prefixes.
                                      CIDR or destination IP ranges.
                                  sourcePortRanges:
                                    type: array
                                    items:
                                      type: string
                                    description: The source port ranges.
                                  destinationPortRanges:
                                    type: array
                                    items:
                                      type: string
                                    description: The destination port ranges.
                                  sourceAddressPrefix:
                                    type: string
                                    description: The CIDR or source IP range. Asterisk
                                      '*' can also be used to match all source IPs.
                                      Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
                                      and 'Internet' can also be used. If this is
                                      an ingress rule, specifies where network traffic
                                      originates from.
                                  destinationAddressPrefix:
                                    type: string
                                    description: The destination address prefix. CIDR
                                      or destination IP range. Asterisk '*' can also
                                      be used to match all source IPs. Default tags
                                      such as 'VirtualNetwork', 'AzureLoadBalancer'
                                      and 'Internet' can also be used.
                                  sourcePortRange:
                                    type: string
                                    description: The source port or range. Integer
                                      or range between 0 and 65535. Asterisk '*' can
                                      also be used to match all ports.
                                  destinationPortRange:
                                    type: string
                                    description: he destination port or range. Integer
                                      or range between 0 and 65535. Asterisk '*' can
                                      also be used to match all ports.
                                  access:
                                    type: string
                                    description: The network traffic is allowed or
                                      denied.
                                    enum:
                                    - allow
                                    - deny
                                    x-ms-enum:
                                      name: access
                                      modelAsString: true
                                  priority:
                                    type: integer
                                    format: int32
                                    description: The priority of the rule. The value
                                      can be in the range 1000 to 3000. Values outside
                                      this range are reserved for Service Fabric ManagerCluster
                                      Resource Provider. The priority number must
                                      be unique for each rule in the collection. The
                                      lower the priority number, the higher the priority
                                      of the rule.
                                    minimum: 1000
                                    maximum: 3000
                                  direction:
                                    type: string
                                    description: Network security rule direction.
                                    enum:
                                    - inbound
                                    - outbound
                                    x-ms-enum:
                                      name: direction
                                      modelAsString: true
                                description: Describes a network security rule.
                              x-ms-identifiers: []
                              description: Custom Network Security Rules that are
                                applied to the Virtual Network of the cluster.
                            clients:
                              type: array
                              items:
                                type: object
                                required:
                                - isAdmin
                                properties:
                                  isAdmin:
                                    type: boolean
                                    description: Indicates if the client certificate
                                      has admin access to the cluster. Non admin clients
                                      can perform only read only operations on the
                                      cluster.
                                  thumbprint:
                                    type: string
                                    description: Certificate thumbprint.
                                  commonName:
                                    type: string
                                    description: Certificate common name.
                                  issuerThumbprint:
                                    type: string
                                    description: Issuer thumbprint for the certificate.
                                      Only used together with CommonName.
                                description: Client certificate definition.
                              x-ms-identifiers: []
                              description: Client certificates that are allowed to
                                manage the cluster.
                            azureActiveDirectory:
                              description: The AAD authentication settings of the
                                cluster.
                              type: object
                              properties:
                                tenantId:
                                  type: string
                                  description: Azure active directory tenant id.
                                clusterApplication:
                                  type: string
                                  description: Azure active directory cluster application
                                    id.
                                clientApplication:
                                  type: string
                                  description: Azure active directory client application
                                    id.
                            fabricSettings:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                - parameters
                                properties:
                                  name:
                                    type: string
                                    description: The section name of the fabric settings.
                                  parameters:
                                    type: array
                                    description: The collection of parameters in the
                                      section.
                                    items:
                                      type: object
                                      required:
                                      - name
                                      - value
                                      properties:
                                        name:
                                          type: string
                                          description: The parameter name of fabric
                                            setting.
                                        value:
                                          type: string
                                          description: The parameter value of fabric
                                            setting.
                                      description: Describes a parameter in fabric
                                        settings of the cluster.
                                    x-ms-identifiers:
                                    - name
                                description: Describes a section in the fabric settings
                                  of the cluster.
                              x-ms-identifiers: []
                              description: The list of custom fabric settings to configure
                                the cluster.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the managed cluster
                                resource.
                              type: string
                              enum:
                              - None
                              - Creating
                              - Created
                              - Updating
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleting
                              - Deleted
                              - Other
                              x-ms-enum:
                                name: ManagedResourceProvisioningState
                                modelAsString: true
                            clusterCodeVersion:
                              type: string
                              description: The Service Fabric runtime version of the
                                cluster. This property is required when **clusterUpgradeMode**
                                is set to 'Manual'. To get list of available Service
                                Fabric versions for new clusters use [ClusterVersion
                                API](./ClusterVersion.md). To get the list of available
                                version for existing clusters use **availableClusterVersions**.
                            clusterUpgradeMode:
                              type: string
                              description: 'The upgrade mode of the cluster when new
                                Service Fabric runtime version is available.

                                '
                              enum:
                              - Automatic
                              - Manual
                              default: Automatic
                              x-ms-enum:
                                name: ClusterUpgradeMode
                                modelAsString: true
                                values:
                                - value: Automatic
                                  description: The cluster will be automatically upgraded
                                    to the latest Service Fabric runtime version,
                                    **clusterUpgradeCadence** will determine when
                                    the upgrade starts after the new version becomes
                                    available.
                                - value: Manual
                                  description: The cluster will not be automatically
                                    upgraded to the latest Service Fabric runtime
                                    version. The cluster is upgraded by setting the
                                    **clusterCodeVersion** property in the cluster
                                    resource.
                            clusterUpgradeCadence:
                              description: Indicates when new cluster runtime version
                                upgrades will be applied after they are released.
                                By default is Wave0. Only applies when **clusterUpgradeMode**
                                is set to 'Automatic'.
                              type: string
                              enum:
                              - Wave0
                              - Wave1
                              - Wave2
                              x-ms-enum:
                                name: clusterUpgradeCadence
                                modelAsString: true
                                values:
                                - value: Wave0
                                  description: Cluster upgrade starts immediately
                                    after a new version is rolled out. Recommended
                                    for Test/Dev clusters.
                                - value: Wave1
                                  description: Cluster upgrade starts 7 days after
                                    a new version is rolled out. Recommended for Pre-prod
                                    clusters.
                                - value: Wave2
                                  description: Cluster upgrade starts 14 days after
                                    a new version is rolled out. Recommended for Production
                                    clusters.
                            addonFeatures:
                              type: array
                              items:
                                type: string
                                description: Available cluster add-on features
                                enum:
                                - DnsService
                                - BackupRestoreService
                                - ResourceMonitorService
                                x-ms-enum:
                                  name: ManagedClusterAddOnFeature
                                  modelAsString: true
                                  values:
                                  - value: DnsService
                                    description: Dns service
                                  - value: BackupRestoreService
                                    description: Backup and restore service
                                  - value: ResourceMonitorService
                                    description: Resource monitor service
                              description: List of add-on features to enable on the
                                cluster.
                            enableAutoOSUpgrade:
                              type: boolean
                              description: Setting this to true enables automatic
                                OS upgrade for the node types that are created using
                                any platform OS image with version 'latest'. The default
                                value for this setting is false.
                            zonalResiliency:
                              type: boolean
                              description: Indicates if the cluster has zone resiliency.
                              default: false
                            applicationTypeVersionsCleanupPolicy:
                              description: The policy used to clean up unused versions.
                              type: object
                              required:
                              - maxUnusedVersionsToKeep
                              properties:
                                maxUnusedVersionsToKeep:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  description: Number of unused versions per application
                                    type to keep.
                            enableIpv6:
                              type: boolean
                              description: Setting this to true creates IPv6 address
                                space for the default VNet used by the cluster. This
                                setting cannot be changed once the cluster is created.
                                The default value for this setting is false.
                            subnetId:
                              type: string
                              description: If specified, the node types for the cluster
                                are created in this subnet instead of the default
                                VNet. The **networkSecurityRules** specified for the
                                cluster are also applied to this subnet. This setting
                                cannot be changed once the cluster is created.
                            ipTags:
                              type: array
                              items:
                                type: object
                                required:
                                - ipTagType
                                - tag
                                properties:
                                  ipTagType:
                                    type: string
                                    description: 'IP tag type. Example: FirstPartyUsage.'
                                  tag:
                                    type: string
                                    description: 'IP tag associated with the public
                                      IP. Example: SQL, Storage etc.'
                                description: The IP tag associated with the public
                                  IP address.
                              x-ms-identifiers: []
                              description: The list of IP tags associated with the
                                default public IP address of the cluster.
                            ipv6Address:
                              type: string
                              description: IPv6 address for the cluster if IPv6 is
                                enabled.
                              readOnly: true
                            enableServicePublicIP:
                              type: boolean
                              description: Setting this to true will link the IPv4
                                address as the ServicePublicIP of the IPv6 address.
                                It can only be set to True if IPv6 is enabled on the
                                cluster.
                            auxiliarySubnets:
                              type: array
                              items:
                                type: object
                                required:
                                - name
                                properties:
                                  name:
                                    type: string
                                    description: Subnet name.
                                  enableIpv6:
                                    type: boolean
                                    description: Indicates wether to enable Ipv6 or
                                      not. If not provided, it will take the same
                                      configuration as the cluster.
                                  privateEndpointNetworkPolicies:
                                    type: string
                                    description: Enable or Disable apply network policies
                                      on private end point in the subnet.
                                    enum:
                                    - enabled
                                    - disabled
                                    x-ms-enum:
                                      name: privateEndpointNetworkPolicies
                                      modelAsString: true
                                  privateLinkServiceNetworkPolicies:
                                    type: string
                                    description: Enable or Disable apply network policies
                                      on private link service in the subnet.
                                    enum:
                                    - enabled
                                    - disabled
                                    x-ms-enum:
                                      name: privateLinkServiceNetworkPolicies
                                      modelAsString: true
                                  networkSecurityGroupId:
                                    type: string
                                    description: Full resource id for the network
                                      security group.
                                description: Describes a Subnet.
                              x-ms-identifiers: []
                              description: Auxiliary subnets for the cluster.
                            serviceEndpoints:
                              type: array
                              items:
                                type: object
                                required:
                                - service
                                properties:
                                  service:
                                    type: string
                                    description: The type of the endpoint service.
                                  locations:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of locations.
                                description: The service endpoint properties.
                              x-ms-identifiers: []
                              description: Service endpoints for subnets in the cluster.
                            zonalUpdateMode:
                              description: Indicates the update mode for Cross Az
                                clusters.
                              type: string
                              enum:
                              - Standard
                              - Fast
                              x-ms-enum:
                                name: ZonalUpdateMode
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: The cluster will use 5 upgrade domains
                                    for Cross Az Node types.
                                - value: Fast
                                  description: The cluster will use a maximum of 3
                                    upgrade domains per zone instead of 5 for Cross
                                    Az Node types for faster deployments.
                            useCustomVnet:
                              type: boolean
                              description: For new clusters, this parameter indicates
                                that it uses Bring your own VNet, but the subnet is
                                specified at node type level; and for such clusters,
                                the subnetId property is required for node types.
                            publicIPPrefixId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPPrefixes
                              description: Specify the resource id of a public IPv4
                                prefix that the load balancer will allocate a public
                                IPv4 address from. This setting cannot be changed
                                once the cluster is created.
                            publicIPv6PrefixId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPPrefixes
                              description: Specify the resource id of a public IPv6
                                prefix that the load balancer will allocate a public
                                IPv6 address from. This setting cannot be changed
                                once the cluster is created.
                            ddosProtectionPlanId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/ddosProtectionPlans
                              description: Specify the resource id of a DDoS network
                                protection plan that will be associated with the virtual
                                network of the cluster.
                            upgradeDescription:
                              description: The policy to use when upgrading the cluster.
                              type: object
                              properties:
                                forceRestart:
                                  type: boolean
                                  description: If true, then processes are forcefully
                                    restarted during upgrade even when the code version
                                    has not changed (the upgrade only changes configuration
                                    or data).
                                healthPolicy:
                                  description: The cluster health policy defines a
                                    health policy used to evaluate the health of the
                                    cluster during a cluster upgrade.
                                  type: object
                                  required:
                                  - maxPercentUnhealthyNodes
                                  - maxPercentUnhealthyApplications
                                  properties:
                                    maxPercentUnhealthyNodes:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy nodes before reporting an error.
[...]
