openapi: 3.0.0
info:
  title: ServiceFabricManagementClient
  description: Azure Service Fabric Resource Provider API Client
  version: 2024-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedclusters/{clusterName}/applicationTypes/{applicationTypeName}
  : get:
      tags:
      - ApplicationType
      operationId: ApplicationTypes_Get
      summary: Gets a Service Fabric managed application type name resource.
      description: Get a Service Fabric application type name resource created or
        in the process of being created in the Service Fabric managed cluster resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The application type name properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    put:
      tags:
      - ApplicationType
      operationId: ApplicationTypes_CreateOrUpdate
      summary: Creates or updates a Service Fabric managed application type name resource.
      description: Create or update a Service Fabric managed application type name
        resource with the specified name.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Azure resource identifier.
                  readOnly: true
                name:
                  type: string
                  description: Azure resource name.
                  readOnly: true
                type:
                  type: string
                  description: Azure resource type.
                  readOnly: true
                location:
                  type: string
                  description: Resource location depends on the parent resource.
                  x-ms-mutability:
                  - create
                  - read
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Azure resource tags.
                  x-ms-mutability:
                  - create
                  - read
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC).
                properties:
                  x-ms-client-flatten: true
                  type: object
                  description: The application type name properties
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The current deployment or provisioning state, which
                        only appears in the response.
              description: The resource model definition for proxy-only resource.
              x-ms-azure-resource: true
        description: The application type name resource.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The application type name properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    patch:
      tags:
      - ApplicationType
      operationId: ApplicationTypes_Update
      summary: Updates the tags of an application type resource of a given managed
        cluster.
      description: Updates the tags of an application type resource of a given managed
        cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  description: Application type update parameters
                  additionalProperties:
                    type: string
              description: Application type update request
        description: The application type resource updated tags.
        required: true
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The application type name properties
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response.
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    delete:
      tags:
      - ApplicationType
      operationId: ApplicationTypes_Delete
      summary: Deletes a Service Fabric managed application type name resource.
      description: Delete a Service Fabric managed application type name resource
        with the specified name.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '200':
          description: The operation completed successfully.
        '202':
          description: The request was accepted and the operation will complete asynchronously.
        '204':
          description: The resource was not found.
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedclusters/{clusterName}/applicationTypes
  : get:
      tags:
      - ApplicationType
      operationId: ApplicationTypes_List
      summary: Gets the list of application type name resources created in the specified
        Service Fabric managed cluster resource.
      description: Gets all application type name resources created or in the process
        of being created in the Service Fabric managed cluster resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The list of application type names.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Azure resource identifier.
                          readOnly: true
                        name:
                          type: string
                          description: Azure resource name.
                          readOnly: true
                        type:
                          type: string
                          description: Azure resource type.
                          readOnly: true
                        location:
                          type: string
                          description: Resource location depends on the parent resource.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Azure resource tags.
                          x-ms-mutability:
                          - create
                          - read
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC).
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: The application type name properties
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: The current deployment or provisioning
                                state, which only appears in the response.
                      description: The resource model definition for proxy-only resource.
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URL to get the next set of application type list
                      results if there are any.
                    readOnly: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedclusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}
  : get:
      tags:
      - ApplicationTypeVersion
      operationId: ApplicationTypeVersions_Get
      summary: Gets a Service Fabric managed application type version resource.
      description: Get a Service Fabric managed application type version resource
        created or in the process of being created in the Service Fabric managed application
        type name resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: version
        in: path
        description: The application type version.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The properties of the application type version resource.
                    required:
                    - appPackageUrl
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response
                      appPackageUrl:
                        type: string
                        description: The URL to the application package
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    put:
      tags:
      - ApplicationTypeVersion
      operationId: ApplicationTypeVersions_CreateOrUpdate
      summary: Creates or updates a Service Fabric managed application type version
        resource.
      description: Create or update a Service Fabric managed application type version
        resource with the specified name.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: version
        in: path
        description: The application type version.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Azure resource identifier.
                  readOnly: true
                name:
                  type: string
                  description: Azure resource name.
                  readOnly: true
                type:
                  type: string
                  description: Azure resource type.
                  readOnly: true
                location:
                  type: string
                  description: Resource location depends on the parent resource.
                  x-ms-mutability:
                  - create
                  - read
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Azure resource tags.
                  x-ms-mutability:
                  - create
                  - read
                systemData:
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC).
                properties:
                  x-ms-client-flatten: true
                  type: object
                  description: The properties of the application type version resource.
                  required:
                  - appPackageUrl
                  properties:
                    provisioningState:
                      readOnly: true
                      type: string
                      description: The current deployment or provisioning state, which
                        only appears in the response
                    appPackageUrl:
                      type: string
                      description: The URL to the application package
              description: The resource model definition for proxy-only resource.
              x-ms-azure-resource: true
        description: The application type version resource.
        required: true
        x-ms-parameter-location: method
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The properties of the application type version resource.
                    required:
                    - appPackageUrl
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response
                      appPackageUrl:
                        type: string
                        description: The URL to the application package
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        '202':
          description: The request was accepted and the operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: The URL to get the status of an ongoing long-running operation.
              schema:
                type: string
            Location:
              description: The URL to get the status of a completed long-running operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The properties of the application type version resource.
                    required:
                    - appPackageUrl
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response
                      appPackageUrl:
                        type: string
                        description: The URL to the application package
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    patch:
      tags:
      - ApplicationTypeVersion
      operationId: ApplicationTypeVersions_Update
      summary: Updates the tags of an application type version resource of a given
        managed cluster.
      description: Updates the tags of an application type version resource of a given
        managed cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: version
        in: path
        description: The application type version.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  description: Application type version update parameters
                  additionalProperties:
                    type: string
              description: Application type version update request
        description: The application type version resource updated tags.
        required: true
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The properties of the application type version resource.
                    required:
                    - appPackageUrl
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response
                      appPackageUrl:
                        type: string
                        description: The URL to the application package
                description: The resource model definition for proxy-only resource.
                x-ms-azure-resource: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
    delete:
      tags:
      - ApplicationTypeVersion
      operationId: ApplicationTypeVersions_Delete
      summary: Deletes a Service Fabric managed application type version resource.
      description: Delete a Service Fabric managed application type version resource
        with the specified name.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: version
        in: path
        description: The application type version.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '200':
          description: The operation completed successfully.
        '202':
          description: The request was accepted and the operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: The URL to get the status of an ongoing long-running operation.
              schema:
                type: string
            Location:
              description: The URL to get the status of a completed long-running operation.
              schema:
                type: string
        '204':
          description: The resource was not found.
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedclusters/{clusterName}/applicationTypes/{applicationTypeName}/versions
  : get:
      tags:
      - ApplicationTypeVersion
      operationId: ApplicationTypeVersions_ListByApplicationTypes
      summary: Gets the list of application type version resources created in the
        specified Service Fabric managed application type name resource.
      description: Gets all application type version resources created or in the process
        of being created in the Service Fabric managed application type name resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationTypeName
        in: path
        description: The name of the application type name resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The list of application type version resources for the
                  specified application type name resource.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Azure resource identifier.
                          readOnly: true
                        name:
                          type: string
                          description: Azure resource name.
                          readOnly: true
                        type:
                          type: string
                          description: Azure resource type.
                          readOnly: true
                        location:
                          type: string
                          description: Resource location depends on the parent resource.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Azure resource tags.
                          x-ms-mutability:
                          - create
                          - read
                        systemData:
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC).
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          description: The properties of the application type version
                            resource.
                          required:
                          - appPackageUrl
                          properties:
                            provisioningState:
                              readOnly: true
                              type: string
                              description: The current deployment or provisioning
                                state, which only appears in the response
                            appPackageUrl:
                              type: string
                              description: The URL to the application package
                      description: The resource model definition for proxy-only resource.
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URL to get the next set of application type version
                      list results if there are any.
                    readOnly: true
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/applications/{applicationName}/fetchUpgradeStatus
  : post:
      tags:
      - Application
      operationId: Applications_ReadUpgrade
      summary: Get the status of the latest application upgrade.
      description: Get the status of the latest application upgrade. It will query
        the cluster to find the status of the latest application upgrade.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationName
        in: path
        description: The name of the application resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '202':
          description: The operation was accepted.
          headers:
            Azure-AsyncOperation:
              description: The URL to get the status of an ongoing long-running operation.
              schema:
                type: string
            Location:
              description: The URL to get the status of a completed long-running operation.
              schema:
                type: string
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/applications/{applicationName}/startRollback
  : post:
      tags:
      - Application
      operationId: Applications_StartRollback
      summary: Send a request to start a rollback of the current application upgrade.
      description: Send a request to start a rollback of the current application upgrade.
        This will start rolling back the application to the previous version.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationName
        in: path
        description: The name of the application resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '202':
          description: The operation was accepted.
          headers:
            Azure-AsyncOperation:
              description: The URL to get the status of an ongoing long-running operation.
              schema:
                type: string
            Location:
              description: The URL to get the status of a completed long-running operation.
              schema:
                type: string
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/applications/{applicationName}/resumeUpgrade
  : post:
      tags:
      - Application
      operationId: Applications_ResumeUpgrade
      summary: Send a request to resume the current application upgrade.
      description: Send a request to resume the current application upgrade. This
        will resume the application upgrade from where it was paused.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationName
        in: path
        description: The name of the application resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                upgradeDomainName:
                  description: The upgrade domain name. Expected to be the next upgrade
                    domain if the application is upgrading.
                  type: string
              description: Parameters for Resume Upgrade action. The upgrade domain
                name must be specified.
        description: The parameters for resuming an application upgrade.
        required: true
        x-ms-parameter-location: method
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      responses:
        '202':
          description: The operation was accepted.
          headers:
            Azure-AsyncOperation:
              description: The URL to get the status of an ongoing long-running operation.
              schema:
                type: string
            Location:
              description: The URL to get the status of a completed long-running operation.
              schema:
                type: string
        default:
          description: The detailed error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      message:
                        type: string
                        description: The error message.
                description: The structure of the error.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedclusters/{clusterName}/applications/{applicationName}
  : get:
      tags:
      - Application
      operationId: Applications_Get
      summary: Gets a Service Fabric managed application resource.
      description: Get a Service Fabric managed application resource created or in
        the process of being created in the Service Fabric cluster resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The customer subscription identifier.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterName
        in: path
        description: The name of the cluster resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: applicationName
        in: path
        description: The name of the application resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The version of the Service Fabric resource provider API. This
          is a required parameter and it's value must be "2024-04-01" for this specification.
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Azure resource identifier.
                    readOnly: true
                  name:
                    type: string
                    description: Azure resource name.
                    readOnly: true
                  type:
                    type: string
                    description: Azure resource type.
                    readOnly: true
                  location:
                    type: string
                    description: Resource location depends on the parent resource.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Azure resource tags.
                    x-ms-mutability:
                    - create
                    - read
                  systemData:
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC).
                  identity:
                    type: object
                    description: Describes the managed identities for an Azure resource.
                    properties:
                      principalId:
                        type: string
                        readOnly: true
                        description: The principal id of the managed identity. This
                          property will only be provided for a system assigned identity.
                      tenantId:
                        type: string
                        readOnly: true
                        description: The tenant id of the managed identity. This property
                          will only be provided for a system assigned identity.
                      type:
                        type: string
                        description: The type of managed identity for the resource.
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: false
                          values:
                          - value: None
                            description: Indicates that no identity is associated
                              with the resource.
                          - value: SystemAssigned
                            description: Indicates that system assigned identity is
                              associated with the resource.
                          - value: UserAssigned
                            description: Indicates that user assigned identity is
                              associated with the resource.
                          - value: SystemAssigned, UserAssigned
                            description: Indicates that both system assigned and user
                              assigned identity are associated with the resource.
                      userAssignedIdentities:
                        type: object
                        description: 'The list of user identities associated with
                          the resource. The user identity dictionary key references
                          will be ARM resource ids in the form:

                          ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

                          '
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              type: string
                              readOnly: true
                              description: The principal id of user assigned identity.
                            clientId:
                              type: string
                              readOnly: true
                              description: The client id of user assigned identity.
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    description: The application resource properties.
                    properties:
                      provisioningState:
                        readOnly: true
                        type: string
                        description: The current deployment or provisioning state,
                          which only appears in the response
                      version:
                        type: string
                        description: 'The version of the application type as defined
                          in the application manifest.

                          This name must be the full Arm Resource ID for the referenced
                          application type version.

                          '
                      parameters:
                        type: object
                        description: List of application parameters with overridden
                          values from their default values specified in the application
                          manifest.
                        additionalProperties:
                          type: string
                      upgradePolicy:
                        type: object
                        description: Describes the policy for a monitored application
                          upgrade.
                        properties:
                          applicationHealthPolicy:
                            type: object
                            description: 'Defines a health policy used to evaluate
                              the health of an application or one of its children
                              entities.

                              '
                            required:
                            - considerWarningAsError
                            - maxPercentUnhealthyDeployedApplications
                            properties:
                              considerWarningAsError:
                                type: boolean
                                description: Indicates whether warnings are treated
                                  with the same severity as errors.
                              maxPercentUnhealthyDeployedApplications:
                                type: integer
                                format: int32
                                description: 'The maximum allowed percentage of unhealthy
                                  deployed applications. Allowed values are Byte values
                                  from zero to 100.

                                  The percentage represents the maximum tolerated
                                  percentage of deployed applications that can be
                                  unhealthy before the application is considered in
                                  error.

                                  This is calculated by dividing the number of unhealthy
                                  deployed applications over the number of nodes where
                                  the application is currently deployed on in the
                                  cluster.

                                  The computation rounds up to tolerate one failure
                                  on small numbers of nodes. Default percentage is
                                  zero.

                                  '
                              defaultServiceTypeHealthPolicy:
                                description: The health policy used by default to
                                  evaluate the health of a service type.
                                type: object
                                required:
                                - maxPercentUnhealthyServices
                                - maxPercentUnhealthyPartitionsPerService
                                - maxPercentUnhealthyReplicasPerPartition
                                properties:
                                  maxPercentUnhealthyServices:
                                    type: integer
                                    format: int32
                                    description: 'The maximum allowed percentage of
                                      unhealthy services.


                                      The percentage represents the maximum tolerated
                                      percentage of services that can be unhealthy
                                      before the application is considered in error.

                                      If the percentage is respected but there is
                                      at least one unhealthy service, the health is
                                      evaluated as Warning.

                                      This is calculated by dividing the number of
                                      unhealthy services of the specific service type
                                      over the total number of services of the specific
                                      service type.

                                      The computation rounds up to tolerate one failure
                                      on small numbers of services.

                                      '
                                    minimum: 0
                                    maximum: 100
                                  maxPercentUnhealthyPartitionsPerService:
                                    type: integer
                                    format: int32
                                    description: 'The maximum allowed percentage of
                                      unhealthy partitions per service.


                                      The percentage represents the maximum tolerated
                                      percentage of partitions that can be unhealthy
                                      before the service is considered in error.

                                      If the percentage is respected but there is
                                      at least one unhealthy partition, the health
                                      is evaluated as Warning.

                                      The percentage is calculated by dividing the
                                      number of unhealthy partitions over the total
                                      number of partitions in the service.

                                      The computation rounds up to tolerate one failure
                                      on small numbers of partitions.

                                      '
                                    minimum: 0
                                    maximum: 100
                                  maxPercentUnhealthyReplicasPerPartition:
                                    type: integer
                                    format: int32
                                    description: 'The maximum allowed percentage of
                                      unhealthy replicas per partition.


                                      The percentage represents the maximum tolerated
                                      percentage of replicas that can be unhealthy
                                      before the partition is considered in error.

                                      If the percentage is respected but there is
                                      at least one unhealthy replica, the health is
                                      evaluated as Warning.

                                      The percentage is calculated by dividing the
                                      number of unhealthy replicas over the total
                                      number of replicas in the partition.

                                      The computation rounds up to tolerate one failure
                                      on small numbers of replicas.

                                      '
                                    minimum: 0
                                    maximum: 100
                              serviceTypeHealthPolicyMap:
                                description: The map with service type health policy
                                  per service type name. The map is empty by default.
                                type: object
                                additionalProperties:
                                  type: object
                                  description: 'Represents the health policy used
                                    to evaluate the health of services belonging to
                                    a service type.

                                    '
                                  required:
                                  - maxPercentUnhealthyServices
                                  - maxPercentUnhealthyPartitionsPerService
                                  - maxPercentUnhealthyReplicasPerPartition
                                  properties:
                                    maxPercentUnhealthyServices:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy services.


                                        The percentage represents the maximum tolerated
                                        percentage of services that can be unhealthy
                                        before the application is considered in error.

                                        If the percentage is respected but there is
                                        at least one unhealthy service, the health
                                        is evaluated as Warning.

                                        This is calculated by dividing the number
                                        of unhealthy services of the specific service
                                        type over the total number of services of
                                        the specific service type.

                                        The computation rounds up to tolerate one
                                        failure on small numbers of services.

                                        '
                                      minimum: 0
                                      maximum: 100
                                    maxPercentUnhealthyPartitionsPerService:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy partitions per service.


                                        The percentage represents the maximum tolerated
                                        percentage of partitions that can be unhealthy
                                        before the service is considered in error.

                                        If the percentage is respected but there is
                                        at least one unhealthy partition, the health
                                        is evaluated as Warning.

                                        The percentage is calculated by dividing the
                                        number of unhealthy partitions over the total
                                        number of partitions in the service.

                                        The computation rounds up to tolerate one
                                        failure on small numbers of partitions.

                                        '
                                      minimum: 0
                                      maximum: 100
                                    maxPercentUnhealthyReplicasPerPartition:
                                      type: integer
                                      format: int32
                                      description: 'The maximum allowed percentage
                                        of unhealthy replicas per partition.


                                        The percentage represents the maximum tolerated
                                        percentage of replicas that can be unhealthy
                                        before the partition is considered in error.

                                        If the percentage is respected but there is
                                        at least one unhealthy replica, the health
                                        is evaluated as Warning.

                                        The percentage is calculated by dividing the
                                        number of unhealthy replicas over the total
                                        number of replicas in the partition.

                                        The computation rounds up to tolerate one
                                        failure on small numbers of replicas.

                                        '
                                      minimum: 0
                                      maximum: 100
                          forceRestart:
                            type: boolean
                            description: If true, then processes are forcefully restarted
                              during upgrade even when the code version has not changed
                              (the upgrade only changes configuration or data).
                            default: false
                          rollingUpgradeMonitoringPolicy:
                            type: object
                            description: The policy used for monitoring the application
                              upgrade
                            required:
                            - failureAction
                            - healthCheckWaitDuration
                            - healthCheckStableDuration
                            - healthCheckRetryTimeout
                            - upgradeTimeout
                            - upgradeDomainTimeout
                            properties:
                              failureAction:
                                type: string
                                description: The compensating action to perform when
                                  a Monitored upgrade encounters monitoring policy
                                  or health policy violations. Invalid indicates the
                                  failure action is invalid. Rollback specifies that
                                  the upgrade will start rolling back automatically.
                                  Manual indicates that the upgrade will switch to
                                  UnmonitoredManual upgrade mode.
                                enum:
                                - Rollback
                                - Manual
                                x-ms-enum:
                                  name: FailureAction
                                  modelAsString: true
                                  values:
                                  - value: Rollback
                                    description: Indicates that a rollback of the
                                      upgrade will be performed by Service Fabric
                                      if the upgrade fails.
                                  - value: Manual
                                    description: Indicates that a manual repair will
                                      need to be performed by the administrator if
                                      the upgrade fails. Service Fabric will not proceed
                                      to the next upgrade domain automatically.
                              healthCheckWaitDuration:
                                type: string
                                x-ms-format: duration-constant
                                description: The amount of time to wait after completing
                                  an upgrade domain before applying health policies.
                                  It is interpreted as a string representing an ISO
                                  8601 duration with following format "hh:mm:ss.fff".
                              healthCheckStableDuration:
                                type: string
                                x-ms-format: duration-constant
                                description: The amount of time that the application
                                  or cluster must remain healthy before the upgrade
                                  proceeds to the next upgrade domain. It is interpreted
                                  as a string representing an ISO 8601 duration with
                                  following format "hh:mm:ss.fff".
                              healthCheckRetryTimeout:
                                type: string
                                description: The amount of time to retry health evaluation
                                  when the application or cluster is unhealthy before
                                  FailureAction is executed. It is interpreted as
                                  a string representing an ISO 8601 duration with
                                  following format "hh:mm:ss.fff".
                              upgradeTimeout:
                                type: string
                                description: The amount of time the overall upgrade
                                  has to complete before FailureAction is executed.
                                  Cannot be larger than 12 hours. It is interpreted
                                  as a string representing an ISO 8601 duration with
                                  following format "hh:mm:ss.fff".
                              upgradeDomainTimeout:
                                type: string
                                description: The amount of time each upgrade domain
                                  has to complete before FailureAction is executed.
                                  Cannot be larger than 12 hours. It is interpreted
                                  as a string representing an ISO 8601 duration with
                                  following format "hh:mm:ss.fff".
                          instanceCloseDelayDuration:
                            type: integer
                            format: int64
                            description: Duration in seconds, to wait before a stateless
                              instance is closed, to allow the active requests to
                              drain gracefully. This would be effective when the instance
                              is closing during the application/cluster upgrade, only
                              for those instances which have a non-zero delay duration
                              configured in the service description.
                          upgradeMode:
                            type: string
                            description: The mode used to monitor health during a
                              rolling upgrade. The values are Monitored, and UnmonitoredAuto.
                            enum:
                            - Monitored
                            - UnmonitoredAuto
                            x-ms-enum:
                              name: RollingUpgradeMode
                              modelAsString: true
                              values:
                              - value: Monitored
                                description: The upgrade will stop after completing
                                  each upgrade domain and automatically monitor health
                                  before proceeding. The value is 0.
                              - value: UnmonitoredAuto
                                description: The upgrade will proceed automatically
                                  without performing any health monitoring. The value
                                  is 1.
                          upgradeReplicaSetCheckTimeout:
                            type: integer
                            format: int64
                            description: The maximum amount of time to block processing
                              of an upgrade domain and prevent loss of availability
                              when there are unexpected issues. When this timeout
                              expires, processing of the upgrade domain will proceed
                              regardless of availability loss issues. The timeout
                              is reset at the start of each upgrade domain. Valid
                              values are between 0 and 42949672925 inclusive. (unsigned
                              32-bit integer).
[...]
