openapi: 3.0.0
info:
  title: HybridContainerService
  description: The Microsoft.HybridContainerService Rest API spec.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/virtualNetworks/{virtualNetworkName}
  : get:
      operationId: virtualNetworks_Retrieve
      summary: Gets the specified virtual network resource
      description: Gets the specified virtual network resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualNetworkName
        description: Parameter for the name of the virtual network
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Gets the virtualNetwork resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      infraVnetProfile:
                        type: object
                        properties:
                          hci:
                            type: object
                            properties:
                              mocGroup:
                                type: string
                                description: Group in MOC(Microsoft On-premises Cloud)
                              mocLocation:
                                type: string
                                description: Location in MOC(Microsoft On-premises
                                  Cloud)
                              mocVnetName:
                                type: string
                                description: Virtual Network name in MOC(Microsoft
                                  On-premises Cloud)
                            description: Infrastructure network profile for HCI platform
                      vipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes API Server
                          and services if using HA Proxy load balancer
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      vmipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes node VMs
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      dnsServers:
                        type: array
                        description: List of DNS server IP Addresses associated with
                          the network
                        items:
                          type: string
                      gateway:
                        type: string
                        description: IP Address of the Gateway associated with the
                          network
                      ipAddressPrefix:
                        type: string
                        description: IP Address Prefix of the network
                      vlanID:
                        type: integer
                        format: int32
                        description: VLAN Id used by the network
                      provisioningState:
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        - Creating
                        - Deleting
                        - Updating
                        - Accepted
                        x-ms-enum:
                          modelAsString: true
                          name: provisioningState
                      status:
                        type: object
                        readOnly: true
                        properties:
                          operationStatus:
                            type: object
                            description: The detailed status of the long running operation.
                            properties:
                              error:
                                type: object
                                description: The error if any from the operation.
                                properties:
                                  code:
                                    type: string
                                    description: The error code from the operation.
                                  message:
                                    type: string
                                    description: The error message from the operation.
                              operationId:
                                type: string
                                description: The identifier of the operation.
                              status:
                                type: string
                                description: The status of the operation.
                        description: Status of the virtual network resource
                    description: Properties of the virtual network resource
                  extendedLocation:
                    type: object
                    description: Extended location pointing to the underlying infrastructure
                    properties:
                      type:
                        type: string
                        description: 'The extended location type. Allowed value: ''CustomLocation'''
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          modelAsString: true
                          name: ExtendedLocationTypes
                      name:
                        type: string
                        description: ARM Id of the extended location.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: virtualNetworks_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Creates or updates the virtual network resource
      description: Creates or updates the virtual network resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualNetworkName
        description: Parameter for the name of the virtual network
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    infraVnetProfile:
                      type: object
                      properties:
                        hci:
                          type: object
                          properties:
                            mocGroup:
                              type: string
                              description: Group in MOC(Microsoft On-premises Cloud)
                            mocLocation:
                              type: string
                              description: Location in MOC(Microsoft On-premises Cloud)
                            mocVnetName:
                              type: string
                              description: Virtual Network name in MOC(Microsoft On-premises
                                Cloud)
                          description: Infrastructure network profile for HCI platform
                    vipPool:
                      type: array
                      description: Range of IP Addresses for Kubernetes API Server
                        and services if using HA Proxy load balancer
                      x-ms-identifiers: []
                      items:
                        type: object
                        properties:
                          endIP:
                            type: string
                            description: Ending IP address for the IP Pool
                          startIP:
                            type: string
                            description: Starting IP address for the IP Pool
                    vmipPool:
                      type: array
                      description: Range of IP Addresses for Kubernetes node VMs
                      x-ms-identifiers: []
                      items:
                        type: object
                        properties:
                          endIP:
                            type: string
                            description: Ending IP address for the IP Pool
                          startIP:
                            type: string
                            description: Starting IP address for the IP Pool
                    dnsServers:
                      type: array
                      description: List of DNS server IP Addresses associated with
                        the network
                      items:
                        type: string
                    gateway:
                      type: string
                      description: IP Address of the Gateway associated with the network
                    ipAddressPrefix:
                      type: string
                      description: IP Address Prefix of the network
                    vlanID:
                      type: integer
                      format: int32
                      description: VLAN Id used by the network
                    provisioningState:
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Pending
                      - Creating
                      - Deleting
                      - Updating
                      - Accepted
                      x-ms-enum:
                        modelAsString: true
                        name: provisioningState
                    status:
                      type: object
                      readOnly: true
                      properties:
                        operationStatus:
                          type: object
                          description: The detailed status of the long running operation.
                          properties:
                            error:
                              type: object
                              description: The error if any from the operation.
                              properties:
                                code:
                                  type: string
                                  description: The error code from the operation.
                                message:
                                  type: string
                                  description: The error message from the operation.
                            operationId:
                              type: string
                              description: The identifier of the operation.
                            status:
                              type: string
                              description: The status of the operation.
                      description: Status of the virtual network resource
                  description: Properties of the virtual network resource
                extendedLocation:
                  type: object
                  description: Extended location pointing to the underlying infrastructure
                  properties:
                    type:
                      type: string
                      description: 'The extended location type. Allowed value: ''CustomLocation'''
                      enum:
                      - CustomLocation
                      x-ms-enum:
                        modelAsString: true
                        name: ExtendedLocationTypes
                    name:
                      type: string
                      description: ARM Id of the extended location.
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Virtual Network resource definition
        required: true
      responses:
        '200':
          description: Updates the virtualNetworks resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      infraVnetProfile:
                        type: object
                        properties:
                          hci:
                            type: object
                            properties:
                              mocGroup:
                                type: string
                                description: Group in MOC(Microsoft On-premises Cloud)
                              mocLocation:
                                type: string
                                description: Location in MOC(Microsoft On-premises
                                  Cloud)
                              mocVnetName:
                                type: string
                                description: Virtual Network name in MOC(Microsoft
                                  On-premises Cloud)
                            description: Infrastructure network profile for HCI platform
                      vipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes API Server
                          and services if using HA Proxy load balancer
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      vmipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes node VMs
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      dnsServers:
                        type: array
                        description: List of DNS server IP Addresses associated with
                          the network
                        items:
                          type: string
                      gateway:
                        type: string
                        description: IP Address of the Gateway associated with the
                          network
                      ipAddressPrefix:
                        type: string
                        description: IP Address Prefix of the network
                      vlanID:
                        type: integer
                        format: int32
                        description: VLAN Id used by the network
                      provisioningState:
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        - Creating
                        - Deleting
                        - Updating
                        - Accepted
                        x-ms-enum:
                          modelAsString: true
                          name: provisioningState
                      status:
                        type: object
                        readOnly: true
                        properties:
                          operationStatus:
                            type: object
                            description: The detailed status of the long running operation.
                            properties:
                              error:
                                type: object
                                description: The error if any from the operation.
                                properties:
                                  code:
                                    type: string
                                    description: The error code from the operation.
                                  message:
                                    type: string
                                    description: The error message from the operation.
                              operationId:
                                type: string
                                description: The identifier of the operation.
                              status:
                                type: string
                                description: The status of the operation.
                        description: Status of the virtual network resource
                    description: Properties of the virtual network resource
                  extendedLocation:
                    type: object
                    description: Extended location pointing to the underlying infrastructure
                    properties:
                      type:
                        type: string
                        description: 'The extended location type. Allowed value: ''CustomLocation'''
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          modelAsString: true
                          name: ExtendedLocationTypes
                      name:
                        type: string
                        description: ARM Id of the extended location.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Creates the virtualNetworks resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      infraVnetProfile:
                        type: object
                        properties:
                          hci:
                            type: object
                            properties:
                              mocGroup:
                                type: string
                                description: Group in MOC(Microsoft On-premises Cloud)
                              mocLocation:
                                type: string
                                description: Location in MOC(Microsoft On-premises
                                  Cloud)
                              mocVnetName:
                                type: string
                                description: Virtual Network name in MOC(Microsoft
                                  On-premises Cloud)
                            description: Infrastructure network profile for HCI platform
                      vipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes API Server
                          and services if using HA Proxy load balancer
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      vmipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes node VMs
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      dnsServers:
                        type: array
                        description: List of DNS server IP Addresses associated with
                          the network
                        items:
                          type: string
                      gateway:
                        type: string
                        description: IP Address of the Gateway associated with the
                          network
                      ipAddressPrefix:
                        type: string
                        description: IP Address Prefix of the network
                      vlanID:
                        type: integer
                        format: int32
                        description: VLAN Id used by the network
                      provisioningState:
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        - Creating
                        - Deleting
                        - Updating
                        - Accepted
                        x-ms-enum:
                          modelAsString: true
                          name: provisioningState
                      status:
                        type: object
                        readOnly: true
                        properties:
                          operationStatus:
                            type: object
                            description: The detailed status of the long running operation.
                            properties:
                              error:
                                type: object
                                description: The error if any from the operation.
                                properties:
                                  code:
                                    type: string
                                    description: The error code from the operation.
                                  message:
                                    type: string
                                    description: The error message from the operation.
                              operationId:
                                type: string
                                description: The identifier of the operation.
                              status:
                                type: string
                                description: The status of the operation.
                        description: Status of the virtual network resource
                    description: Properties of the virtual network resource
                  extendedLocation:
                    type: object
                    description: Extended location pointing to the underlying infrastructure
                    properties:
                      type:
                        type: string
                        description: 'The extended location type. Allowed value: ''CustomLocation'''
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          modelAsString: true
                          name: ExtendedLocationTypes
                      name:
                        type: string
                        description: ARM Id of the extended location.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      operationId: virtualNetworks_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Deletes the specified virtual network resource
      description: Deletes the specified virtual network resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualNetworkName
        description: Parameter for the name of the virtual network
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      operationId: virtualNetworks_Update
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Patches the virtual network resource
      description: Patches the virtual network resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualNetworkName
        description: Parameter for the name of the virtual network
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: The Virtual Network resource patch definition.
        description: Virtual Network resource patch definition
        required: true
      responses:
        '200':
          description: Updates the virtualNetworks resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      infraVnetProfile:
                        type: object
                        properties:
                          hci:
                            type: object
                            properties:
                              mocGroup:
                                type: string
                                description: Group in MOC(Microsoft On-premises Cloud)
                              mocLocation:
                                type: string
                                description: Location in MOC(Microsoft On-premises
                                  Cloud)
                              mocVnetName:
                                type: string
                                description: Virtual Network name in MOC(Microsoft
                                  On-premises Cloud)
                            description: Infrastructure network profile for HCI platform
                      vipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes API Server
                          and services if using HA Proxy load balancer
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      vmipPool:
                        type: array
                        description: Range of IP Addresses for Kubernetes node VMs
                        x-ms-identifiers: []
                        items:
                          type: object
                          properties:
                            endIP:
                              type: string
                              description: Ending IP address for the IP Pool
                            startIP:
                              type: string
                              description: Starting IP address for the IP Pool
                      dnsServers:
                        type: array
                        description: List of DNS server IP Addresses associated with
                          the network
                        items:
                          type: string
                      gateway:
                        type: string
                        description: IP Address of the Gateway associated with the
                          network
                      ipAddressPrefix:
                        type: string
                        description: IP Address Prefix of the network
                      vlanID:
                        type: integer
                        format: int32
                        description: VLAN Id used by the network
                      provisioningState:
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Pending
                        - Creating
                        - Deleting
                        - Updating
                        - Accepted
                        x-ms-enum:
                          modelAsString: true
                          name: provisioningState
                      status:
                        type: object
                        readOnly: true
                        properties:
                          operationStatus:
                            type: object
                            description: The detailed status of the long running operation.
                            properties:
                              error:
                                type: object
                                description: The error if any from the operation.
                                properties:
                                  code:
                                    type: string
                                    description: The error code from the operation.
                                  message:
                                    type: string
                                    description: The error message from the operation.
                              operationId:
                                type: string
                                description: The identifier of the operation.
                              status:
                                type: string
                                description: The status of the operation.
                        description: Status of the virtual network resource
                    description: Properties of the virtual network resource
                  extendedLocation:
                    type: object
                    description: Extended location pointing to the underlying infrastructure
                    properties:
                      type:
                        type: string
                        description: 'The extended location type. Allowed value: ''CustomLocation'''
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          modelAsString: true
                          name: ExtendedLocationTypes
                      name:
                        type: string
                        description: ARM Id of the extended location.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Updates the virtualNetworks resource.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/virtualNetworks
  : get:
      operationId: virtualNetworks_ListByResourceGroup
      summary: Lists the virtual networks in the specified resource group
      description: Lists the virtual networks in the specified resource group
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists the virtual networks in the specified resource group
          content:
            application/json:
              schema:
                type: object
                description: A list of virtual network resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            infraVnetProfile:
                              type: object
                              properties:
                                hci:
                                  type: object
                                  properties:
                                    mocGroup:
                                      type: string
                                      description: Group in MOC(Microsoft On-premises
                                        Cloud)
                                    mocLocation:
                                      type: string
                                      description: Location in MOC(Microsoft On-premises
                                        Cloud)
                                    mocVnetName:
                                      type: string
                                      description: Virtual Network name in MOC(Microsoft
                                        On-premises Cloud)
                                  description: Infrastructure network profile for
                                    HCI platform
                            vipPool:
                              type: array
                              description: Range of IP Addresses for Kubernetes API
                                Server and services if using HA Proxy load balancer
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  endIP:
                                    type: string
                                    description: Ending IP address for the IP Pool
                                  startIP:
                                    type: string
                                    description: Starting IP address for the IP Pool
                            vmipPool:
                              type: array
                              description: Range of IP Addresses for Kubernetes node
                                VMs
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  endIP:
                                    type: string
                                    description: Ending IP address for the IP Pool
                                  startIP:
                                    type: string
                                    description: Starting IP address for the IP Pool
                            dnsServers:
                              type: array
                              description: List of DNS server IP Addresses associated
                                with the network
                              items:
                                type: string
                            gateway:
                              type: string
                              description: IP Address of the Gateway associated with
                                the network
                            ipAddressPrefix:
                              type: string
                              description: IP Address Prefix of the network
                            vlanID:
                              type: integer
                              format: int32
                              description: VLAN Id used by the network
                            provisioningState:
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Pending
                              - Creating
                              - Deleting
                              - Updating
                              - Accepted
                              x-ms-enum:
                                modelAsString: true
                                name: provisioningState
                            status:
                              type: object
                              readOnly: true
                              properties:
                                operationStatus:
                                  type: object
                                  description: The detailed status of the long running
                                    operation.
                                  properties:
                                    error:
                                      type: object
                                      description: The error if any from the operation.
                                      properties:
                                        code:
                                          type: string
                                          description: The error code from the operation.
                                        message:
                                          type: string
                                          description: The error message from the
                                            operation.
                                    operationId:
                                      type: string
                                      description: The identifier of the operation.
                                    status:
                                      type: string
                                      description: The status of the operation.
                              description: Status of the virtual network resource
                          description: Properties of the virtual network resource
                        extendedLocation:
                          type: object
                          description: Extended location pointing to the underlying
                            infrastructure
                          properties:
                            type:
                              type: string
                              description: 'The extended location type. Allowed value:
                                ''CustomLocation'''
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                modelAsString: true
                                name: ExtendedLocationTypes
                            name:
                              type: string
                              description: ARM Id of the extended location.
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                x-ms-identifiers: []
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridContainerService/virtualNetworks:
    get:
      operationId: virtualNetworks_ListBySubscription
      summary: Lists the virtual networks in the specified subscription
      description: Lists the virtual networks in the specified subscription
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists the virtual networks in the specified subscription
          content:
            application/json:
              schema:
                type: object
                description: A list of virtual network resources.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            infraVnetProfile:
                              type: object
                              properties:
                                hci:
                                  type: object
                                  properties:
                                    mocGroup:
                                      type: string
                                      description: Group in MOC(Microsoft On-premises
                                        Cloud)
                                    mocLocation:
                                      type: string
                                      description: Location in MOC(Microsoft On-premises
                                        Cloud)
                                    mocVnetName:
                                      type: string
                                      description: Virtual Network name in MOC(Microsoft
                                        On-premises Cloud)
                                  description: Infrastructure network profile for
                                    HCI platform
                            vipPool:
                              type: array
                              description: Range of IP Addresses for Kubernetes API
                                Server and services if using HA Proxy load balancer
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  endIP:
                                    type: string
                                    description: Ending IP address for the IP Pool
                                  startIP:
                                    type: string
                                    description: Starting IP address for the IP Pool
                            vmipPool:
                              type: array
                              description: Range of IP Addresses for Kubernetes node
                                VMs
                              x-ms-identifiers: []
                              items:
                                type: object
                                properties:
                                  endIP:
                                    type: string
                                    description: Ending IP address for the IP Pool
                                  startIP:
                                    type: string
                                    description: Starting IP address for the IP Pool
                            dnsServers:
                              type: array
                              description: List of DNS server IP Addresses associated
                                with the network
                              items:
                                type: string
                            gateway:
                              type: string
                              description: IP Address of the Gateway associated with
                                the network
                            ipAddressPrefix:
                              type: string
                              description: IP Address Prefix of the network
                            vlanID:
                              type: integer
                              format: int32
                              description: VLAN Id used by the network
                            provisioningState:
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Pending
                              - Creating
                              - Deleting
                              - Updating
                              - Accepted
                              x-ms-enum:
                                modelAsString: true
                                name: provisioningState
                            status:
                              type: object
                              readOnly: true
                              properties:
                                operationStatus:
                                  type: object
                                  description: The detailed status of the long running
                                    operation.
[...]
