openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureArcDataManagementClient
  description: The AzureArcData management API provides a RESTful set of web APIs
    to manage Azure Data Services on Azure Arc Resources.
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.AzureArcData/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Azure Data Services on Azure Arc API
        operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved operations.
          content:
            application/json:
              schema:
                description: Result of the request to list Azure Data Services on
                  Azure Arc operations.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      description: Azure Data Services on Azure Arc operation definition.
                      type: object
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object.
                          type: string
                        display:
                          description: The localized display information for this
                            particular operation / action.
                          type: object
                          properties:
                            provider:
                              description: The localized friendly form of the resource
                                provider name.
                              type: string
                            resource:
                              description: The localized friendly form of the resource
                                type related to this action/operation.
                              type: string
                            operation:
                              description: The localized friendly name for the operation.
                              type: string
                            description:
                              description: The localized friendly description for
                                the operation.
                              type: string
                          required:
                          - provider
                          - resource
                          - operation
                          - description
                        origin:
                          description: The intended executor of the operation.
                          enum:
                          - user
                          - system
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: OperationOrigin
                            modelAsString: true
                        isDataAction:
                          description: Indicates whether the operation is a data action
                          type: boolean
                        properties:
                          description: Additional descriptions for the operation.
                          type: object
                          additionalProperties: {}
                          readOnly: true
                          x-ms-client-flatten: false
                      required:
                      - name
                      - display
                      - isDataAction
                    x-ms-identifiers:
                    - name
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue -\
            \ An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove\
            \ - Invalid cross subscription move of resource.\n\n * 400 RPGenericUser\
            \ - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument\
            \ - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}'\
            \ not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0}\
            \ is not in a provisioned state, the request cannot be proceeded forward\n\
            \n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\
            \n * 403 AccessDenied - Access denied.\n\n * 404 ResourceNotFound - The\
            \ requested resource was not found.\n\n * 404 SubscriptionDoesNotExist\
            \ - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource\
            \ does not exist.\n\n * 404 OperationIdNotFound - Operation id could not\
            \ be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\
            \n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled\
            \ - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot\
            \ move resources(s) because some resources are missing in the request.\n\
            \n * 409 OperationInProgress - Operation in progress on resource already.\n\
            \n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem\
            \ - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred\
            \ - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation\
            \ timed out."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/sqlManagedInstances:
    get:
      tags:
      - SqlManagedInstances
      operationId: SqlManagedInstances_List
      summary: List sqlManagedInstance resources in the subscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A list of SqlManagedInstance.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: 'null'
                          x-ms-client-flatten: false
                          type: object
                          properties:
                            dataControllerId:
                              type: string
                              description: 'null'
                            admin:
                              type: string
                              description: The instance admin user
                            startTime:
                              type: string
                              description: The instance start time
                            endTime:
                              type: string
                              description: The instance end time
                            k8sRaw:
                              description: The raw kubernetes information
                              type: object
                              properties:
                                spec:
                                  type: object
                                  description: The kubernetes spec information.
                                  properties:
                                    scheduling:
                                      type: object
                                      description: The kubernetes scheduling information.
                                      properties:
                                        default:
                                          type: object
                                          description: The kubernetes scheduling options.
                                            It describes restrictions used to help
                                            Kubernetes select appropriate nodes to
                                            host the database service
                                          properties:
                                            resources:
                                              type: object
                                              description: The kubernetes resource
                                                limits and requests used to restrict
                                                or reserve resource usage.
                                              properties:
                                                requests:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Requests for a kubernetes
                                                    resource type (e.g 'cpu', 'memory').
                                                    The 'cpu' request must be less
                                                    than or equal to 'cpu' limit.
                                                    Default 'cpu' is 2, minimum is
                                                    1. Default 'memory' is '4Gi',
                                                    minimum is '2Gi. If sku.tier is
                                                    GeneralPurpose, maximum 'cpu'
                                                    is 24 and maximum 'memory' is
                                                    '128Gi'.
                                                limits:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Limits for a kubernetes
                                                    resource type (e.g 'cpu', 'memory').
                                                    The 'cpu' request must be less
                                                    than or equal to 'cpu' limit.
                                                    Default 'cpu' is 2, minimum is
                                                    1. Default 'memory' is '4Gi',
                                                    minimum is '2Gi. If sku.tier is
                                                    GeneralPurpose, maximum 'cpu'
                                                    is 24 and maximum 'memory' is
                                                    '128Gi'.
                                              additionalProperties: {}
                                          additionalProperties: {}
                                      additionalProperties: {}
                                    replicas:
                                      type: integer
                                      format: int32
                                      description: This option specifies the number
                                        of SQL Managed Instance replicas that will
                                        be deployed in your Kubernetes cluster for
                                        high availability purposes. If sku.tier is
                                        BusinessCritical, allowed values are '2' or
                                        '3' with default of '3'. If sku.tier is GeneralPurpose,
                                        replicas must be '1'.
                                    security:
                                      type: object
                                      description: The kubernetes security information.
                                      properties:
                                        adminLoginSecret:
                                          type: string
                                          description: Admin login secret key
                                        serviceCertificateSecret:
                                          type: string
                                          description: Service certificate secret
                                            used
                                        activeDirectory:
                                          type: object
                                          description: The kubernetes active directory
                                            information.
                                          properties:
                                            connector:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of the connector
                                                namespace:
                                                  type: string
                                                  description: Name space of the connector
                                            accountName:
                                              type: string
                                              description: Account name for AAD
                                            keytabSecret:
                                              type: string
                                              description: Keytab secret used to authenticate
                                                with Active Directory.
                                            encryptionTypes:
                                              type: array
                                              description: An array of encryption
                                                types
                                              items:
                                                type: string
                                        transparentDataEncryption:
                                          type: object
                                          description: Transparent data encryption
                                            information.
                                          properties:
                                            mode:
                                              type: string
                                              description: Transparent data encryption
                                                mode. Can be Service Managed, Customer
                                                managed or disabled
                                            protectorSecret:
                                              type: string
                                              description: Protector secret for customer
                                                managed Transparent data encryption
                                                mode
                                      additionalProperties: {}
                                    settings:
                                      type: object
                                      description: The kubernetes settings information.
                                      properties:
                                        network:
                                          type: object
                                          description: The kubernetes network settings
                                            information.
                                          properties:
                                            forceencryption:
                                              type: integer
                                              format: int32
                                              description: If 1, then SQL Server forces
                                                all connections to be encrypted. By
                                                default, this option is 0
                                            tlsciphers:
                                              type: string
                                              description: Specifies which ciphers
                                                are allowed by SQL Server for TLS
                                            tlsprotocols:
                                              type: string
                                              description: A comma-separated list
                                                of which TLS protocols are allowed
                                                by SQL Server
                                      additionalProperties: {}
                                  additionalProperties: {}
                              additionalProperties: {}
                            basicLoginInformation:
                              description: Username and password for basic authentication.
                              type: object
                              properties:
                                username:
                                  type: string
                                  description: Login username.
                                password:
                                  type: string
                                  description: Login password.
                                  x-ms-mutability:
                                  - create
                                  - update
                                  x-ms-secret: true
                            lastUploadedDate:
                              type: string
                              format: date-time
                              description: Last uploaded date from Kubernetes cluster.
                                Defaults to current date time
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state of the Arc-enabled
                                SQL Managed Instance resource.
                            activeDirectoryInformation:
                              description: Active Directory information related to
                                this SQL Managed Instance.
                              type: object
                              properties:
                                keytabInformation:
                                  description: Keytab information that is used for
                                    the Sql Managed Instance when Active Directory
                                    authentication is used.
                                  type: object
                                  properties:
                                    keytab:
                                      type: string
                                      description: A base64-encoded keytab.
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            licenseType:
                              type: string
                              enum:
                              - BasePrice
                              - LicenseIncluded
                              - DisasterRecovery
                              x-ms-enum:
                                name: arcSqlManagedInstanceLicenseType
                                modelAsString: true
                              default: BasePrice
                              description: The license type to apply for this managed
                                instance.
                            clusterId:
                              type: string
                              description: If a CustomLocation is provided, this contains
                                the ARM id of the connected cluster the custom location
                                belongs to.
                            extensionId:
                              type: string
                              description: If a CustomLocation is provided, this contains
                                the ARM id of the extension the custom location belongs
                                to.
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        sku:
                          description: Resource sku.
                          type: object
                          properties:
                            name:
                              type: string
                              enum:
                              - vCore
                              description: The name of the SKU.
                              x-ms-enum:
                                name: SqlManagedInstanceSkuName
                                modelAsString: false
                            tier:
                              type: string
                              enum:
                              - GeneralPurpose
                              - BusinessCritical
                              x-ms-enum:
                                name: SqlManagedInstanceSkuTier
                                modelAsString: false
                              default: GeneralPurpose
                              description: The pricing tier for the instance.
                            dev:
                              type: boolean
                              default: true
                              description: 'Whether dev/test is enabled. When the
                                dev field is set to true, the resource is used for
                                dev/test purpose. '
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: The SKU family
                            capacity:
                              type: integer
                              format: int32
                              description: The SKU capacity
                          required:
                          - name
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue -\
            \ An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove\
            \ - Invalid cross subscription move of resource.\n\n * 404 ResourceNotFound\
            \ - The requested resource was not found."
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances:
    get:
      tags:
      - SqlManagedInstances
      operationId: SqlManagedInstances_ListByResourceGroup
      description: Gets all sqlManagedInstances in a resource group.
      summary: List sqlManagedInstance resources in the resource group
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A list of SqlManagedInstance.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: 'null'
                          x-ms-client-flatten: false
                          type: object
                          properties:
                            dataControllerId:
                              type: string
                              description: 'null'
                            admin:
                              type: string
                              description: The instance admin user
                            startTime:
                              type: string
                              description: The instance start time
                            endTime:
                              type: string
                              description: The instance end time
                            k8sRaw:
                              description: The raw kubernetes information
                              type: object
                              properties:
                                spec:
                                  type: object
                                  description: The kubernetes spec information.
                                  properties:
                                    scheduling:
                                      type: object
                                      description: The kubernetes scheduling information.
                                      properties:
                                        default:
                                          type: object
                                          description: The kubernetes scheduling options.
                                            It describes restrictions used to help
                                            Kubernetes select appropriate nodes to
                                            host the database service
                                          properties:
                                            resources:
                                              type: object
                                              description: The kubernetes resource
                                                limits and requests used to restrict
                                                or reserve resource usage.
                                              properties:
                                                requests:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Requests for a kubernetes
                                                    resource type (e.g 'cpu', 'memory').
                                                    The 'cpu' request must be less
                                                    than or equal to 'cpu' limit.
                                                    Default 'cpu' is 2, minimum is
                                                    1. Default 'memory' is '4Gi',
                                                    minimum is '2Gi. If sku.tier is
                                                    GeneralPurpose, maximum 'cpu'
                                                    is 24 and maximum 'memory' is
                                                    '128Gi'.
                                                limits:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Limits for a kubernetes
                                                    resource type (e.g 'cpu', 'memory').
                                                    The 'cpu' request must be less
                                                    than or equal to 'cpu' limit.
                                                    Default 'cpu' is 2, minimum is
                                                    1. Default 'memory' is '4Gi',
                                                    minimum is '2Gi. If sku.tier is
                                                    GeneralPurpose, maximum 'cpu'
                                                    is 24 and maximum 'memory' is
                                                    '128Gi'.
                                              additionalProperties: {}
                                          additionalProperties: {}
                                      additionalProperties: {}
                                    replicas:
                                      type: integer
                                      format: int32
                                      description: This option specifies the number
                                        of SQL Managed Instance replicas that will
                                        be deployed in your Kubernetes cluster for
                                        high availability purposes. If sku.tier is
                                        BusinessCritical, allowed values are '2' or
                                        '3' with default of '3'. If sku.tier is GeneralPurpose,
                                        replicas must be '1'.
                                    security:
                                      type: object
                                      description: The kubernetes security information.
                                      properties:
                                        adminLoginSecret:
                                          type: string
                                          description: Admin login secret key
                                        serviceCertificateSecret:
                                          type: string
                                          description: Service certificate secret
                                            used
                                        activeDirectory:
                                          type: object
                                          description: The kubernetes active directory
                                            information.
                                          properties:
                                            connector:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of the connector
                                                namespace:
                                                  type: string
                                                  description: Name space of the connector
                                            accountName:
                                              type: string
                                              description: Account name for AAD
                                            keytabSecret:
                                              type: string
                                              description: Keytab secret used to authenticate
                                                with Active Directory.
                                            encryptionTypes:
                                              type: array
                                              description: An array of encryption
                                                types
                                              items:
                                                type: string
                                        transparentDataEncryption:
                                          type: object
                                          description: Transparent data encryption
                                            information.
                                          properties:
                                            mode:
                                              type: string
                                              description: Transparent data encryption
                                                mode. Can be Service Managed, Customer
                                                managed or disabled
                                            protectorSecret:
                                              type: string
                                              description: Protector secret for customer
                                                managed Transparent data encryption
                                                mode
                                      additionalProperties: {}
                                    settings:
                                      type: object
                                      description: The kubernetes settings information.
                                      properties:
                                        network:
                                          type: object
                                          description: The kubernetes network settings
                                            information.
                                          properties:
                                            forceencryption:
                                              type: integer
                                              format: int32
                                              description: If 1, then SQL Server forces
                                                all connections to be encrypted. By
                                                default, this option is 0
                                            tlsciphers:
                                              type: string
                                              description: Specifies which ciphers
                                                are allowed by SQL Server for TLS
                                            tlsprotocols:
                                              type: string
                                              description: A comma-separated list
                                                of which TLS protocols are allowed
                                                by SQL Server
                                      additionalProperties: {}
                                  additionalProperties: {}
                              additionalProperties: {}
                            basicLoginInformation:
                              description: Username and password for basic authentication.
                              type: object
                              properties:
                                username:
                                  type: string
                                  description: Login username.
                                password:
                                  type: string
                                  description: Login password.
                                  x-ms-mutability:
                                  - create
                                  - update
                                  x-ms-secret: true
                            lastUploadedDate:
                              type: string
                              format: date-time
                              description: Last uploaded date from Kubernetes cluster.
                                Defaults to current date time
                            provisioningState:
                              type: string
                              readOnly: true
                              description: The provisioning state of the Arc-enabled
                                SQL Managed Instance resource.
                            activeDirectoryInformation:
                              description: Active Directory information related to
                                this SQL Managed Instance.
                              type: object
                              properties:
                                keytabInformation:
                                  description: Keytab information that is used for
                                    the Sql Managed Instance when Active Directory
                                    authentication is used.
                                  type: object
                                  properties:
                                    keytab:
                                      type: string
                                      description: A base64-encoded keytab.
                                      x-ms-mutability:
                                      - create
                                      - update
                                      x-ms-secret: true
                            licenseType:
                              type: string
                              enum:
                              - BasePrice
                              - LicenseIncluded
                              - DisasterRecovery
                              x-ms-enum:
                                name: arcSqlManagedInstanceLicenseType
                                modelAsString: true
                              default: BasePrice
                              description: The license type to apply for this managed
                                instance.
                            clusterId:
                              type: string
                              description: If a CustomLocation is provided, this contains
                                the ARM id of the connected cluster the custom location
                                belongs to.
                            extensionId:
                              type: string
                              description: If a CustomLocation is provided, this contains
                                the ARM id of the extension the custom location belongs
                                to.
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        sku:
                          description: Resource sku.
                          type: object
                          properties:
                            name:
                              type: string
                              enum:
                              - vCore
                              description: The name of the SKU.
                              x-ms-enum:
                                name: SqlManagedInstanceSkuName
                                modelAsString: false
                            tier:
                              type: string
                              enum:
                              - GeneralPurpose
                              - BusinessCritical
                              x-ms-enum:
                                name: SqlManagedInstanceSkuTier
                                modelAsString: false
                              default: GeneralPurpose
                              description: The pricing tier for the instance.
                            dev:
                              type: boolean
                              default: true
                              description: 'Whether dev/test is enabled. When the
                                dev field is set to true, the resource is used for
                                dev/test purpose. '
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: The SKU family
                            capacity:
                              type: integer
                              format: int32
                              description: The SKU capacity
                          required:
                          - name
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances/{sqlManagedInstanceName}
  : get:
      tags:
      - SqlManagedInstances
      operationId: SqlManagedInstances_Get
      description: Retrieves a SQL Managed Instance resource
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlManagedInstanceName
        description: Name of SQL Managed Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: 'null'
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      dataControllerId:
                        type: string
                        description: 'null'
                      admin:
                        type: string
                        description: The instance admin user
                      startTime:
                        type: string
                        description: The instance start time
                      endTime:
                        type: string
                        description: The instance end time
                      k8sRaw:
                        description: The raw kubernetes information
                        type: object
                        properties:
                          spec:
                            type: object
                            description: The kubernetes spec information.
                            properties:
                              scheduling:
                                type: object
                                description: The kubernetes scheduling information.
                                properties:
                                  default:
                                    type: object
                                    description: The kubernetes scheduling options.
                                      It describes restrictions used to help Kubernetes
                                      select appropriate nodes to host the database
                                      service
                                    properties:
                                      resources:
                                        type: object
                                        description: The kubernetes resource limits
                                          and requests used to restrict or reserve
                                          resource usage.
                                        properties:
                                          requests:
                                            type: object
                                            additionalProperties:
                                              type: string
                                            description: Requests for a kubernetes
                                              resource type (e.g 'cpu', 'memory').
                                              The 'cpu' request must be less than
                                              or equal to 'cpu' limit. Default 'cpu'
                                              is 2, minimum is 1. Default 'memory'
                                              is '4Gi', minimum is '2Gi. If sku.tier
                                              is GeneralPurpose, maximum 'cpu' is
                                              24 and maximum 'memory' is '128Gi'.
                                          limits:
                                            type: object
                                            additionalProperties:
                                              type: string
                                            description: Limits for a kubernetes resource
                                              type (e.g 'cpu', 'memory'). The 'cpu'
                                              request must be less than or equal to
                                              'cpu' limit. Default 'cpu' is 2, minimum
                                              is 1. Default 'memory' is '4Gi', minimum
                                              is '2Gi. If sku.tier is GeneralPurpose,
                                              maximum 'cpu' is 24 and maximum 'memory'
                                              is '128Gi'.
                                        additionalProperties: {}
                                    additionalProperties: {}
                                additionalProperties: {}
                              replicas:
                                type: integer
                                format: int32
                                description: This option specifies the number of SQL
                                  Managed Instance replicas that will be deployed
                                  in your Kubernetes cluster for high availability
                                  purposes. If sku.tier is BusinessCritical, allowed
                                  values are '2' or '3' with default of '3'. If sku.tier
                                  is GeneralPurpose, replicas must be '1'.
                              security:
                                type: object
                                description: The kubernetes security information.
                                properties:
                                  adminLoginSecret:
                                    type: string
                                    description: Admin login secret key
                                  serviceCertificateSecret:
                                    type: string
                                    description: Service certificate secret used
                                  activeDirectory:
                                    type: object
                                    description: The kubernetes active directory information.
                                    properties:
                                      connector:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the connector
                                          namespace:
                                            type: string
                                            description: Name space of the connector
                                      accountName:
                                        type: string
                                        description: Account name for AAD
                                      keytabSecret:
                                        type: string
                                        description: Keytab secret used to authenticate
                                          with Active Directory.
                                      encryptionTypes:
                                        type: array
                                        description: An array of encryption types
                                        items:
                                          type: string
                                  transparentDataEncryption:
                                    type: object
                                    description: Transparent data encryption information.
                                    properties:
                                      mode:
                                        type: string
                                        description: Transparent data encryption mode.
                                          Can be Service Managed, Customer managed
                                          or disabled
                                      protectorSecret:
                                        type: string
                                        description: Protector secret for customer
                                          managed Transparent data encryption mode
                                additionalProperties: {}
                              settings:
                                type: object
                                description: The kubernetes settings information.
                                properties:
                                  network:
                                    type: object
                                    description: The kubernetes network settings information.
                                    properties:
                                      forceencryption:
                                        type: integer
                                        format: int32
                                        description: If 1, then SQL Server forces
                                          all connections to be encrypted. By default,
                                          this option is 0
                                      tlsciphers:
                                        type: string
                                        description: Specifies which ciphers are allowed
                                          by SQL Server for TLS
                                      tlsprotocols:
                                        type: string
                                        description: A comma-separated list of which
                                          TLS protocols are allowed by SQL Server
                                additionalProperties: {}
                            additionalProperties: {}
                        additionalProperties: {}
                      basicLoginInformation:
                        description: Username and password for basic authentication.
                        type: object
                        properties:
                          username:
                            type: string
                            description: Login username.
                          password:
                            type: string
                            description: Login password.
                            x-ms-mutability:
                            - create
                            - update
                            x-ms-secret: true
                      lastUploadedDate:
                        type: string
                        format: date-time
                        description: Last uploaded date from Kubernetes cluster. Defaults
                          to current date time
                      provisioningState:
                        type: string
                        readOnly: true
                        description: The provisioning state of the Arc-enabled SQL
                          Managed Instance resource.
                      activeDirectoryInformation:
                        description: Active Directory information related to this
                          SQL Managed Instance.
                        type: object
                        properties:
                          keytabInformation:
                            description: Keytab information that is used for the Sql
                              Managed Instance when Active Directory authentication
                              is used.
                            type: object
                            properties:
                              keytab:
                                type: string
                                description: A base64-encoded keytab.
                                x-ms-mutability:
                                - create
                                - update
                                x-ms-secret: true
                      licenseType:
                        type: string
                        enum:
                        - BasePrice
                        - LicenseIncluded
                        - DisasterRecovery
                        x-ms-enum:
                          name: arcSqlManagedInstanceLicenseType
                          modelAsString: true
                        default: BasePrice
                        description: The license type to apply for this managed instance.
                      clusterId:
                        type: string
                        description: If a CustomLocation is provided, this contains
                          the ARM id of the connected cluster the custom location
                          belongs to.
                      extensionId:
                        type: string
                        description: If a CustomLocation is provided, this contains
                          the ARM id of the extension the custom location belongs
                          to.
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  sku:
                    description: Resource sku.
                    type: object
                    properties:
                      name:
                        type: string
                        enum:
                        - vCore
                        description: The name of the SKU.
                        x-ms-enum:
                          name: SqlManagedInstanceSkuName
                          modelAsString: false
                      tier:
                        type: string
                        enum:
                        - GeneralPurpose
                        - BusinessCritical
                        x-ms-enum:
                          name: SqlManagedInstanceSkuTier
                          modelAsString: false
                        default: GeneralPurpose
                        description: The pricing tier for the instance.
                      dev:
                        type: boolean
                        default: true
                        description: 'Whether dev/test is enabled. When the dev field
                          is set to true, the resource is used for dev/test purpose. '
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: The SKU family
                      capacity:
                        type: integer
                        format: int32
                        description: The SKU capacity
                    required:
                    - name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - SqlManagedInstances
      operationId: SqlManagedInstances_Create
      description: Creates or replaces a SQL Managed Instance resource
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlManagedInstanceName
        description: Name of SQL Managed Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: 'null'
                  x-ms-client-flatten: false
                  type: object
                  properties:
                    dataControllerId:
                      type: string
                      description: 'null'
                    admin:
                      type: string
                      description: The instance admin user
                    startTime:
                      type: string
                      description: The instance start time
                    endTime:
                      type: string
                      description: The instance end time
                    k8sRaw:
                      description: The raw kubernetes information
                      type: object
                      properties:
                        spec:
                          type: object
                          description: The kubernetes spec information.
                          properties:
                            scheduling:
                              type: object
                              description: The kubernetes scheduling information.
                              properties:
                                default:
                                  type: object
                                  description: The kubernetes scheduling options.
                                    It describes restrictions used to help Kubernetes
                                    select appropriate nodes to host the database
                                    service
                                  properties:
                                    resources:
                                      type: object
                                      description: The kubernetes resource limits
                                        and requests used to restrict or reserve resource
                                        usage.
                                      properties:
                                        requests:
                                          type: object
                                          additionalProperties:
                                            type: string
                                          description: Requests for a kubernetes resource
                                            type (e.g 'cpu', 'memory'). The 'cpu'
                                            request must be less than or equal to
                                            'cpu' limit. Default 'cpu' is 2, minimum
                                            is 1. Default 'memory' is '4Gi', minimum
                                            is '2Gi. If sku.tier is GeneralPurpose,
                                            maximum 'cpu' is 24 and maximum 'memory'
                                            is '128Gi'.
                                        limits:
                                          type: object
                                          additionalProperties:
                                            type: string
                                          description: Limits for a kubernetes resource
                                            type (e.g 'cpu', 'memory'). The 'cpu'
                                            request must be less than or equal to
                                            'cpu' limit. Default 'cpu' is 2, minimum
                                            is 1. Default 'memory' is '4Gi', minimum
                                            is '2Gi. If sku.tier is GeneralPurpose,
                                            maximum 'cpu' is 24 and maximum 'memory'
                                            is '128Gi'.
                                      additionalProperties: {}
                                  additionalProperties: {}
                              additionalProperties: {}
                            replicas:
                              type: integer
                              format: int32
                              description: This option specifies the number of SQL
                                Managed Instance replicas that will be deployed in
                                your Kubernetes cluster for high availability purposes.
                                If sku.tier is BusinessCritical, allowed values are
                                '2' or '3' with default of '3'. If sku.tier is GeneralPurpose,
                                replicas must be '1'.
                            security:
                              type: object
                              description: The kubernetes security information.
                              properties:
                                adminLoginSecret:
                                  type: string
                                  description: Admin login secret key
                                serviceCertificateSecret:
                                  type: string
                                  description: Service certificate secret used
                                activeDirectory:
                                  type: object
                                  description: The kubernetes active directory information.
                                  properties:
                                    connector:
[...]
