openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureArcDataManagementClient
  description: The AzureArcData management API provides a RESTful set of web APIs
    to manage Azure Data Services on Azure Arc Resources.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}
  : put:
      tags:
      - SqlServerAvailabilityGroups
      operationId: SqlServerAvailabilityGroups_Create
      description: Creates or replaces an Arc Sql Server Availability Group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: availabilityGroupName
        description: Name of SQL Availability Group
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: Properties of Arc Sql Server availability group
                  x-ms-client-flatten: false
                  type: object
                  properties:
                    availabilityGroupId:
                      type: string
                      description: ID GUID of the availability group.
                      pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                      readOnly: true
                    serverName:
                      type: string
                      description: the SQL server name.
                      readOnly: true
                    instanceName:
                      type: string
                      description: the SQL Server Instance name.
                      readOnly: true
                    collectionTimestamp:
                      description: Timestamp for when the data was collected from
                        the client machine.
                      type: string
                      format: date-time
                      readOnly: true
                    info:
                      description: Availability Group Info
                      x-ms-client-flatten: false
                      type: object
                      properties:
                        failureConditionLevel:
                          type: integer
                          description: User-defined failure condition level under
                            which an automatic failover must be triggered.
                          format: int32
                        healthCheckTimeout:
                          type: integer
                          description: Wait time (in milliseconds) for the sp_server_diagnostics
                            system stored procedure to return server-health information,
                            before the server instance is assumed to be slow or not
                            responding.
                          format: int32
                        automatedBackupPreferenceDescription:
                          type: string
                          description: Preferred location for performing backups on
                            the availability databases in this availability group.
                          readOnly: true
                        version:
                          type: integer
                          description: SQL Server availability group current version.
                          format: int32
                          readOnly: true
                        basicFeatures:
                          type: boolean
                          description: Specifies whether this is a basic availability
                            group.
                        dtcSupport:
                          type: boolean
                          description: Specifies whether DTC support has been enabled
                            for this availability group.
                        dbFailover:
                          type: boolean
                          description: Specifies whether the availability group supports
                            failover for database health conditions.
                        isDistributed:
                          type: boolean
                          description: Specifies whether this is a distributed availability
                            group.
                        clusterTypeDescription:
                          type: string
                          description: SQL Server availability group cluster type
                            description
                          readOnly: true
                        requiredSynchronizedSecondariesToCommit:
                          type: integer
                          description: The number of secondary replicas that must
                            be in a synchronized state for a commit to complete.
                          format: int32
                        isContained:
                          type: boolean
                          description: SQL Server availability group contained system
                            databases.
                        primaryReplica:
                          type: string
                          description: Name of the server instance that is hosting
                            the current primary replica.
                          readOnly: true
                        primaryRecoveryHealthDescription:
                          type: string
                          description: Indicates the recovery health of the primary
                            replica.
                          readOnly: true
                        secondaryRecoveryHealthDescription:
                          type: string
                          description: Indicates the recovery health of a secondary
                            replica.
                          readOnly: true
                        synchronizationHealthDescription:
                          type: string
                          description: Reflects a roll-up of the synchronization health
                            of all availability replicas in the availability group.
                          readOnly: true
                        replicationPartnerType:
                          type: string
                          enum:
                          - SQLServer
                          - AzureSQLVM
                          - AzureSQLManagedInstance
                          - Unknown
                          x-ms-enum:
                            name: replicationPartnerType
                            modelAsString: false
                          readOnly: true
                    replicas:
                      description: A list of Availability Group Replicas.
                      type: object
                      properties:
                        value:
                          description: Array of Availability Group Replicas.
                          type: array
                          items:
                            type: object
                            description: The properties of Arc Sql availability group
                              replica resource
                            properties:
                              replicaId:
                                type: string
                                description: ID GUID of the availability group.
                                pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                                readOnly: true
                              replicaName:
                                type: string
                                description: the replica name.
                              configure:
                                description: 'null'
                                x-ms-client-flatten: false
                                type: object
                                properties:
                                  endpointUrl:
                                    type: string
                                    description: Mirroring endpoint URL of availability
                                      group replica
                                  availabilityModeDescription:
                                    type: string
                                    description: The Availability Synchronization
                                      mode of the availability group replica.
                                    readOnly: true
                                  failoverModeDescription:
                                    type: string
                                    description: The failover mode of the availability
                                      group replica.
                                    readOnly: true
                                  sessionTimeout:
                                    type: integer
                                    description: The time-out period of availability
                                      group session replica, in seconds.
                                    format: int32
                                  primaryRoleAllowConnectionsDescription:
                                    type: string
                                    description: Whether the availability allows all
                                      connections or only read-write connections.
                                    readOnly: true
                                  secondaryRoleAllowConnectionsDescription:
                                    type: string
                                    description: Whether an availability replica that
                                      is performing the secondary role (that is, a
                                      secondary replica) can accept connections from
                                      clients.
                                    readOnly: true
                                  replicaCreateDate:
                                    type: string
                                    description: Date that the replica was created.
                                    format: date-time
                                    readOnly: true
                                  replicaModifyDate:
                                    type: string
                                    description: Date that the replica was modified.
                                    format: date-time
                                    readOnly: true
                                  backupPriority:
                                    type: integer
                                    description: Represents the user-specified priority
                                      for performing backups on this replica relative
                                      to the other replicas in the same availability
                                      group.
                                    format: int32
                                  readOnlyRoutingUrl:
                                    type: string
                                    description: Connectivity endpoint (URL) of the
                                      read only availability replica.
                                  readWriteRoutingUrl:
                                    type: string
                                    description: Connectivity endpoint (URL) of the
                                      read write availability replica.
                                  seedingModeDescription:
                                    type: string
                                    description: Describes seeding mode.
                                    readOnly: true
                              state:
                                description: 'null'
                                x-ms-client-flatten: false
                                type: object
                                properties:
                                  availabilityGroupReplicaRole:
                                    type: string
                                    description: Current Always On availability groups
                                      role of the availability group replica.
                                    readOnly: true
                                  operationalStateDescription:
                                    type: string
                                    description: Current operational state of the
                                      availability group replica
                                    readOnly: true
                                  recoveryHealthDescription:
                                    type: string
                                    description: Recovery health of the availability
                                      group replica.
                                    readOnly: true
                                  synchronizationHealthDescription:
                                    type: string
                                    description: Reflects a rollup of the database
                                      synchronization state (synchronization_state)
                                      of all joined availability databases (also known
                                      as replicas) and the availability mode of the
                                      replica (synchronous-commit or asynchronous-commit
                                      mode). The rollup will reflect the least healthy
                                      accumulated state the databases on the replica.
                                    readOnly: true
                                  connectedStateDescription:
                                    type: string
                                    description: Whether a secondary replica is currently
                                      connected to the primary replica.
                                    readOnly: true
                                  lastConnectErrorDescription:
                                    type: string
                                    description: Text description of the last connection
                                      error of the availability group replica.
                                    readOnly: true
                                  lastConnectErrorTimestamp:
                                    type: string
                                    description: Date and time timestamp indicating
                                      when the last connect error occurred.
                                    format: date-time
                                    readOnly: true
                          x-ms-identifiers: []
                        nextLink:
                          description: Link to retrieve next page of results.
                          type: string
                          readOnly: true
                    databases:
                      description: A list of Availability Group Database Replicas.
                      type: object
                      properties:
                        value:
                          description: Array of Availability Group Database Replicas.
                          type: array
                          items:
                            type: object
                            description: The properties of Arc Sql availability group
                              database replica resource
                            properties:
                              databaseName:
                                type: string
                                description: the database name.
                              replicaName:
                                type: string
                                description: the database replica name.
                                readOnly: true
                              isLocal:
                                type: boolean
                                description: Whether the availability database is
                                  local.
                                readOnly: true
                              isPrimaryReplica:
                                type: boolean
                                description: Returns 1 if the replica is primary,
                                  or 0 if it is a secondary replica.
                                readOnly: true
                              synchronizationStateDescription:
                                type: string
                                description: Description of the data-movement state.
                                readOnly: true
                              isCommitParticipant:
                                type: boolean
                                description: Whether this replica is transaction committer.
                                readOnly: true
                              synchronizationHealthDescription:
                                type: string
                                description: Description of the health of database.
                                readOnly: true
                              databaseStateDescription:
                                type: string
                                description: Description of the database state of
                                  the availability replica.
                                readOnly: true
                              isSuspended:
                                type: boolean
                                description: Whether this data movement is suspended.
                                readOnly: true
                              suspendReasonDescription:
                                type: string
                                description: Description of the database suspended
                                  state reason.
                                readOnly: true
                          x-ms-identifiers: []
                        nextLink:
                          description: Link to retrieve next page of results.
                          type: string
                          readOnly: true
                    provisioningState:
                      type: string
                      description: The provisioning state of the Arc-enabled SQL Server
                        availability group resource.
                      readOnly: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The request body for availability group resource.
        required: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server availability group
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      availabilityGroupId:
                        type: string
                        description: ID GUID of the availability group.
                        pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                        readOnly: true
                      serverName:
                        type: string
                        description: the SQL server name.
                        readOnly: true
                      instanceName:
                        type: string
                        description: the SQL Server Instance name.
                        readOnly: true
                      collectionTimestamp:
                        description: Timestamp for when the data was collected from
                          the client machine.
                        type: string
                        format: date-time
                        readOnly: true
                      info:
                        description: Availability Group Info
                        x-ms-client-flatten: false
                        type: object
                        properties:
                          failureConditionLevel:
                            type: integer
                            description: User-defined failure condition level under
                              which an automatic failover must be triggered.
                            format: int32
                          healthCheckTimeout:
                            type: integer
                            description: Wait time (in milliseconds) for the sp_server_diagnostics
                              system stored procedure to return server-health information,
                              before the server instance is assumed to be slow or
                              not responding.
                            format: int32
                          automatedBackupPreferenceDescription:
                            type: string
                            description: Preferred location for performing backups
                              on the availability databases in this availability group.
                            readOnly: true
                          version:
                            type: integer
                            description: SQL Server availability group current version.
                            format: int32
                            readOnly: true
                          basicFeatures:
                            type: boolean
                            description: Specifies whether this is a basic availability
                              group.
                          dtcSupport:
                            type: boolean
                            description: Specifies whether DTC support has been enabled
                              for this availability group.
                          dbFailover:
                            type: boolean
                            description: Specifies whether the availability group
                              supports failover for database health conditions.
                          isDistributed:
                            type: boolean
                            description: Specifies whether this is a distributed availability
                              group.
                          clusterTypeDescription:
                            type: string
                            description: SQL Server availability group cluster type
                              description
                            readOnly: true
                          requiredSynchronizedSecondariesToCommit:
                            type: integer
                            description: The number of secondary replicas that must
                              be in a synchronized state for a commit to complete.
                            format: int32
                          isContained:
                            type: boolean
                            description: SQL Server availability group contained system
                              databases.
                          primaryReplica:
                            type: string
                            description: Name of the server instance that is hosting
                              the current primary replica.
                            readOnly: true
                          primaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of the primary
                              replica.
                            readOnly: true
                          secondaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of a secondary
                              replica.
                            readOnly: true
                          synchronizationHealthDescription:
                            type: string
                            description: Reflects a roll-up of the synchronization
                              health of all availability replicas in the availability
                              group.
                            readOnly: true
                          replicationPartnerType:
                            type: string
                            enum:
                            - SQLServer
                            - AzureSQLVM
                            - AzureSQLManagedInstance
                            - Unknown
                            x-ms-enum:
                              name: replicationPartnerType
                              modelAsString: false
                            readOnly: true
                      replicas:
                        description: A list of Availability Group Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group replica resource
                              properties:
                                replicaId:
                                  type: string
                                  description: ID GUID of the availability group.
                                  pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                                  readOnly: true
                                replicaName:
                                  type: string
                                  description: the replica name.
                                configure:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    endpointUrl:
                                      type: string
                                      description: Mirroring endpoint URL of availability
                                        group replica
                                    availabilityModeDescription:
                                      type: string
                                      description: The Availability Synchronization
                                        mode of the availability group replica.
                                      readOnly: true
                                    failoverModeDescription:
                                      type: string
                                      description: The failover mode of the availability
                                        group replica.
                                      readOnly: true
                                    sessionTimeout:
                                      type: integer
                                      description: The time-out period of availability
                                        group session replica, in seconds.
                                      format: int32
                                    primaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether the availability allows
                                        all connections or only read-write connections.
                                      readOnly: true
                                    secondaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether an availability replica
                                        that is performing the secondary role (that
                                        is, a secondary replica) can accept connections
                                        from clients.
                                      readOnly: true
                                    replicaCreateDate:
                                      type: string
                                      description: Date that the replica was created.
                                      format: date-time
                                      readOnly: true
                                    replicaModifyDate:
                                      type: string
                                      description: Date that the replica was modified.
                                      format: date-time
                                      readOnly: true
                                    backupPriority:
                                      type: integer
                                      description: Represents the user-specified priority
                                        for performing backups on this replica relative
                                        to the other replicas in the same availability
                                        group.
                                      format: int32
                                    readOnlyRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read only availability replica.
                                    readWriteRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read write availability replica.
                                    seedingModeDescription:
                                      type: string
                                      description: Describes seeding mode.
                                      readOnly: true
                                state:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    availabilityGroupReplicaRole:
                                      type: string
                                      description: Current Always On availability
                                        groups role of the availability group replica.
                                      readOnly: true
                                    operationalStateDescription:
                                      type: string
                                      description: Current operational state of the
                                        availability group replica
                                      readOnly: true
                                    recoveryHealthDescription:
                                      type: string
                                      description: Recovery health of the availability
                                        group replica.
                                      readOnly: true
                                    synchronizationHealthDescription:
                                      type: string
                                      description: Reflects a rollup of the database
                                        synchronization state (synchronization_state)
                                        of all joined availability databases (also
                                        known as replicas) and the availability mode
                                        of the replica (synchronous-commit or asynchronous-commit
                                        mode). The rollup will reflect the least healthy
                                        accumulated state the databases on the replica.
                                      readOnly: true
                                    connectedStateDescription:
                                      type: string
                                      description: Whether a secondary replica is
                                        currently connected to the primary replica.
                                      readOnly: true
                                    lastConnectErrorDescription:
                                      type: string
                                      description: Text description of the last connection
                                        error of the availability group replica.
                                      readOnly: true
                                    lastConnectErrorTimestamp:
                                      type: string
                                      description: Date and time timestamp indicating
                                        when the last connect error occurred.
                                      format: date-time
                                      readOnly: true
                            x-ms-identifiers: []
                          nextLink:
                            description: Link to retrieve next page of results.
                            type: string
                            readOnly: true
                      databases:
                        description: A list of Availability Group Database Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Database Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group database replica resource
                              properties:
                                databaseName:
                                  type: string
                                  description: the database name.
                                replicaName:
                                  type: string
                                  description: the database replica name.
                                  readOnly: true
                                isLocal:
                                  type: boolean
                                  description: Whether the availability database is
                                    local.
                                  readOnly: true
                                isPrimaryReplica:
                                  type: boolean
                                  description: Returns 1 if the replica is primary,
                                    or 0 if it is a secondary replica.
                                  readOnly: true
                                synchronizationStateDescription:
                                  type: string
                                  description: Description of the data-movement state.
                                  readOnly: true
                                isCommitParticipant:
                                  type: boolean
                                  description: Whether this replica is transaction
                                    committer.
                                  readOnly: true
                                synchronizationHealthDescription:
                                  type: string
                                  description: Description of the health of database.
                                  readOnly: true
                                databaseStateDescription:
                                  type: string
                                  description: Description of the database state of
                                    the availability replica.
                                  readOnly: true
                                isSuspended:
                                  type: boolean
                                  description: Whether this data movement is suspended.
                                  readOnly: true
                                suspendReasonDescription:
                                  type: string
                                  description: Description of the database suspended
                                    state reason.
                                  readOnly: true
                            x-ms-identifiers: []
                          nextLink:
                            description: Link to retrieve next page of results.
                            type: string
                            readOnly: true
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server availability group resource.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server availability group
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      availabilityGroupId:
                        type: string
                        description: ID GUID of the availability group.
                        pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                        readOnly: true
                      serverName:
                        type: string
                        description: the SQL server name.
                        readOnly: true
                      instanceName:
                        type: string
                        description: the SQL Server Instance name.
                        readOnly: true
                      collectionTimestamp:
                        description: Timestamp for when the data was collected from
                          the client machine.
                        type: string
                        format: date-time
                        readOnly: true
                      info:
                        description: Availability Group Info
                        x-ms-client-flatten: false
                        type: object
                        properties:
                          failureConditionLevel:
                            type: integer
                            description: User-defined failure condition level under
                              which an automatic failover must be triggered.
                            format: int32
                          healthCheckTimeout:
                            type: integer
                            description: Wait time (in milliseconds) for the sp_server_diagnostics
                              system stored procedure to return server-health information,
                              before the server instance is assumed to be slow or
                              not responding.
                            format: int32
                          automatedBackupPreferenceDescription:
                            type: string
                            description: Preferred location for performing backups
                              on the availability databases in this availability group.
                            readOnly: true
                          version:
                            type: integer
                            description: SQL Server availability group current version.
                            format: int32
                            readOnly: true
                          basicFeatures:
                            type: boolean
                            description: Specifies whether this is a basic availability
                              group.
                          dtcSupport:
                            type: boolean
                            description: Specifies whether DTC support has been enabled
                              for this availability group.
                          dbFailover:
                            type: boolean
                            description: Specifies whether the availability group
                              supports failover for database health conditions.
                          isDistributed:
                            type: boolean
                            description: Specifies whether this is a distributed availability
                              group.
                          clusterTypeDescription:
                            type: string
                            description: SQL Server availability group cluster type
                              description
                            readOnly: true
                          requiredSynchronizedSecondariesToCommit:
                            type: integer
                            description: The number of secondary replicas that must
                              be in a synchronized state for a commit to complete.
                            format: int32
                          isContained:
                            type: boolean
                            description: SQL Server availability group contained system
                              databases.
                          primaryReplica:
                            type: string
                            description: Name of the server instance that is hosting
                              the current primary replica.
                            readOnly: true
                          primaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of the primary
                              replica.
                            readOnly: true
                          secondaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of a secondary
                              replica.
                            readOnly: true
                          synchronizationHealthDescription:
                            type: string
                            description: Reflects a roll-up of the synchronization
                              health of all availability replicas in the availability
                              group.
                            readOnly: true
                          replicationPartnerType:
                            type: string
                            enum:
                            - SQLServer
                            - AzureSQLVM
                            - AzureSQLManagedInstance
                            - Unknown
                            x-ms-enum:
                              name: replicationPartnerType
                              modelAsString: false
                            readOnly: true
                      replicas:
                        description: A list of Availability Group Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group replica resource
                              properties:
                                replicaId:
                                  type: string
                                  description: ID GUID of the availability group.
                                  pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                                  readOnly: true
                                replicaName:
                                  type: string
                                  description: the replica name.
                                configure:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    endpointUrl:
                                      type: string
                                      description: Mirroring endpoint URL of availability
                                        group replica
                                    availabilityModeDescription:
                                      type: string
                                      description: The Availability Synchronization
                                        mode of the availability group replica.
                                      readOnly: true
                                    failoverModeDescription:
                                      type: string
                                      description: The failover mode of the availability
                                        group replica.
                                      readOnly: true
                                    sessionTimeout:
                                      type: integer
                                      description: The time-out period of availability
                                        group session replica, in seconds.
                                      format: int32
                                    primaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether the availability allows
                                        all connections or only read-write connections.
                                      readOnly: true
                                    secondaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether an availability replica
                                        that is performing the secondary role (that
                                        is, a secondary replica) can accept connections
                                        from clients.
                                      readOnly: true
                                    replicaCreateDate:
                                      type: string
                                      description: Date that the replica was created.
                                      format: date-time
                                      readOnly: true
                                    replicaModifyDate:
                                      type: string
                                      description: Date that the replica was modified.
                                      format: date-time
                                      readOnly: true
                                    backupPriority:
                                      type: integer
                                      description: Represents the user-specified priority
                                        for performing backups on this replica relative
                                        to the other replicas in the same availability
                                        group.
                                      format: int32
                                    readOnlyRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read only availability replica.
                                    readWriteRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read write availability replica.
                                    seedingModeDescription:
                                      type: string
                                      description: Describes seeding mode.
                                      readOnly: true
                                state:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    availabilityGroupReplicaRole:
                                      type: string
                                      description: Current Always On availability
                                        groups role of the availability group replica.
                                      readOnly: true
                                    operationalStateDescription:
                                      type: string
                                      description: Current operational state of the
                                        availability group replica
                                      readOnly: true
                                    recoveryHealthDescription:
                                      type: string
                                      description: Recovery health of the availability
                                        group replica.
                                      readOnly: true
                                    synchronizationHealthDescription:
                                      type: string
                                      description: Reflects a rollup of the database
                                        synchronization state (synchronization_state)
                                        of all joined availability databases (also
                                        known as replicas) and the availability mode
                                        of the replica (synchronous-commit or asynchronous-commit
                                        mode). The rollup will reflect the least healthy
                                        accumulated state the databases on the replica.
                                      readOnly: true
                                    connectedStateDescription:
                                      type: string
                                      description: Whether a secondary replica is
                                        currently connected to the primary replica.
                                      readOnly: true
                                    lastConnectErrorDescription:
                                      type: string
                                      description: Text description of the last connection
                                        error of the availability group replica.
                                      readOnly: true
                                    lastConnectErrorTimestamp:
                                      type: string
                                      description: Date and time timestamp indicating
                                        when the last connect error occurred.
                                      format: date-time
                                      readOnly: true
                            x-ms-identifiers: []
                          nextLink:
                            description: Link to retrieve next page of results.
                            type: string
                            readOnly: true
                      databases:
                        description: A list of Availability Group Database Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Database Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group database replica resource
                              properties:
                                databaseName:
                                  type: string
                                  description: the database name.
                                replicaName:
                                  type: string
                                  description: the database replica name.
                                  readOnly: true
                                isLocal:
                                  type: boolean
                                  description: Whether the availability database is
                                    local.
                                  readOnly: true
                                isPrimaryReplica:
                                  type: boolean
                                  description: Returns 1 if the replica is primary,
                                    or 0 if it is a secondary replica.
                                  readOnly: true
                                synchronizationStateDescription:
                                  type: string
                                  description: Description of the data-movement state.
                                  readOnly: true
                                isCommitParticipant:
                                  type: boolean
                                  description: Whether this replica is transaction
                                    committer.
                                  readOnly: true
                                synchronizationHealthDescription:
                                  type: string
                                  description: Description of the health of database.
                                  readOnly: true
                                databaseStateDescription:
                                  type: string
                                  description: Description of the database state of
                                    the availability replica.
                                  readOnly: true
                                isSuspended:
                                  type: boolean
                                  description: Whether this data movement is suspended.
                                  readOnly: true
                                suspendReasonDescription:
                                  type: string
                                  description: Description of the database suspended
                                    state reason.
                                  readOnly: true
                            x-ms-identifiers: []
                          nextLink:
                            description: Link to retrieve next page of results.
                            type: string
                            readOnly: true
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server availability group resource.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - SqlServerAvailabilityGroups
      operationId: SqlServerAvailabilityGroups_Delete
      description: Deletes an Arc Sql Server availability group resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: availabilityGroupName
        description: Name of SQL Availability Group
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Resource deletion is in progress.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: The specified availability group does not exist.
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - SqlServerAvailabilityGroups
      operationId: SqlServerAvailabilityGroups_Get
      description: Retrieves an Arc Sql Server availability group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: availabilityGroupName
        description: Name of SQL Availability Group
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server availability group
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      availabilityGroupId:
                        type: string
                        description: ID GUID of the availability group.
                        pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                        readOnly: true
                      serverName:
                        type: string
                        description: the SQL server name.
                        readOnly: true
                      instanceName:
                        type: string
                        description: the SQL Server Instance name.
                        readOnly: true
                      collectionTimestamp:
                        description: Timestamp for when the data was collected from
                          the client machine.
                        type: string
                        format: date-time
                        readOnly: true
                      info:
                        description: Availability Group Info
                        x-ms-client-flatten: false
                        type: object
                        properties:
                          failureConditionLevel:
                            type: integer
                            description: User-defined failure condition level under
                              which an automatic failover must be triggered.
                            format: int32
                          healthCheckTimeout:
                            type: integer
                            description: Wait time (in milliseconds) for the sp_server_diagnostics
                              system stored procedure to return server-health information,
                              before the server instance is assumed to be slow or
                              not responding.
                            format: int32
                          automatedBackupPreferenceDescription:
                            type: string
                            description: Preferred location for performing backups
                              on the availability databases in this availability group.
                            readOnly: true
                          version:
                            type: integer
                            description: SQL Server availability group current version.
                            format: int32
                            readOnly: true
                          basicFeatures:
                            type: boolean
                            description: Specifies whether this is a basic availability
                              group.
                          dtcSupport:
                            type: boolean
                            description: Specifies whether DTC support has been enabled
                              for this availability group.
                          dbFailover:
                            type: boolean
                            description: Specifies whether the availability group
                              supports failover for database health conditions.
                          isDistributed:
                            type: boolean
                            description: Specifies whether this is a distributed availability
                              group.
                          clusterTypeDescription:
                            type: string
                            description: SQL Server availability group cluster type
                              description
                            readOnly: true
                          requiredSynchronizedSecondariesToCommit:
                            type: integer
                            description: The number of secondary replicas that must
                              be in a synchronized state for a commit to complete.
                            format: int32
                          isContained:
                            type: boolean
                            description: SQL Server availability group contained system
                              databases.
                          primaryReplica:
                            type: string
                            description: Name of the server instance that is hosting
                              the current primary replica.
                            readOnly: true
                          primaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of the primary
                              replica.
                            readOnly: true
                          secondaryRecoveryHealthDescription:
                            type: string
                            description: Indicates the recovery health of a secondary
                              replica.
                            readOnly: true
                          synchronizationHealthDescription:
                            type: string
                            description: Reflects a roll-up of the synchronization
                              health of all availability replicas in the availability
                              group.
                            readOnly: true
                          replicationPartnerType:
                            type: string
                            enum:
                            - SQLServer
                            - AzureSQLVM
                            - AzureSQLManagedInstance
                            - Unknown
                            x-ms-enum:
                              name: replicationPartnerType
                              modelAsString: false
                            readOnly: true
                      replicas:
                        description: A list of Availability Group Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group replica resource
                              properties:
                                replicaId:
                                  type: string
                                  description: ID GUID of the availability group.
                                  pattern: ^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$
                                  readOnly: true
                                replicaName:
                                  type: string
                                  description: the replica name.
                                configure:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    endpointUrl:
                                      type: string
                                      description: Mirroring endpoint URL of availability
                                        group replica
                                    availabilityModeDescription:
                                      type: string
                                      description: The Availability Synchronization
                                        mode of the availability group replica.
                                      readOnly: true
                                    failoverModeDescription:
                                      type: string
                                      description: The failover mode of the availability
                                        group replica.
                                      readOnly: true
                                    sessionTimeout:
                                      type: integer
                                      description: The time-out period of availability
                                        group session replica, in seconds.
                                      format: int32
                                    primaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether the availability allows
                                        all connections or only read-write connections.
                                      readOnly: true
                                    secondaryRoleAllowConnectionsDescription:
                                      type: string
                                      description: Whether an availability replica
                                        that is performing the secondary role (that
                                        is, a secondary replica) can accept connections
                                        from clients.
                                      readOnly: true
                                    replicaCreateDate:
                                      type: string
                                      description: Date that the replica was created.
                                      format: date-time
                                      readOnly: true
                                    replicaModifyDate:
                                      type: string
                                      description: Date that the replica was modified.
                                      format: date-time
                                      readOnly: true
                                    backupPriority:
                                      type: integer
                                      description: Represents the user-specified priority
                                        for performing backups on this replica relative
                                        to the other replicas in the same availability
                                        group.
                                      format: int32
                                    readOnlyRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read only availability replica.
                                    readWriteRoutingUrl:
                                      type: string
                                      description: Connectivity endpoint (URL) of
                                        the read write availability replica.
                                    seedingModeDescription:
                                      type: string
                                      description: Describes seeding mode.
                                      readOnly: true
                                state:
                                  description: 'null'
                                  x-ms-client-flatten: false
                                  type: object
                                  properties:
                                    availabilityGroupReplicaRole:
                                      type: string
                                      description: Current Always On availability
                                        groups role of the availability group replica.
                                      readOnly: true
                                    operationalStateDescription:
                                      type: string
                                      description: Current operational state of the
                                        availability group replica
                                      readOnly: true
                                    recoveryHealthDescription:
                                      type: string
                                      description: Recovery health of the availability
                                        group replica.
                                      readOnly: true
                                    synchronizationHealthDescription:
                                      type: string
                                      description: Reflects a rollup of the database
                                        synchronization state (synchronization_state)
                                        of all joined availability databases (also
                                        known as replicas) and the availability mode
                                        of the replica (synchronous-commit or asynchronous-commit
                                        mode). The rollup will reflect the least healthy
                                        accumulated state the databases on the replica.
                                      readOnly: true
                                    connectedStateDescription:
                                      type: string
                                      description: Whether a secondary replica is
                                        currently connected to the primary replica.
                                      readOnly: true
                                    lastConnectErrorDescription:
                                      type: string
                                      description: Text description of the last connection
                                        error of the availability group replica.
                                      readOnly: true
                                    lastConnectErrorTimestamp:
                                      type: string
                                      description: Date and time timestamp indicating
                                        when the last connect error occurred.
                                      format: date-time
                                      readOnly: true
                            x-ms-identifiers: []
                          nextLink:
                            description: Link to retrieve next page of results.
                            type: string
                            readOnly: true
                      databases:
                        description: A list of Availability Group Database Replicas.
                        type: object
                        properties:
                          value:
                            description: Array of Availability Group Database Replicas.
                            type: array
                            items:
                              type: object
                              description: The properties of Arc Sql availability
                                group database replica resource
                              properties:
                                databaseName:
                                  type: string
                                  description: the database name.
                                replicaName:
                                  type: string
                                  description: the database replica name.
                                  readOnly: true
                                isLocal:
                                  type: boolean
                                  description: Whether the availability database is
                                    local.
                                  readOnly: true
                                isPrimaryReplica:
                                  type: boolean
                                  description: Returns 1 if the replica is primary,
                                    or 0 if it is a secondary replica.
                                  readOnly: true
                                synchronizationStateDescription:
                                  type: string
                                  description: Description of the data-movement state.
                                  readOnly: true
                                isCommitParticipant:
                                  type: boolean
                                  description: Whether this replica is transaction
                                    committer.
                                  readOnly: true
                                synchronizationHealthDescription:
                                  type: string
                                  description: Description of the health of database.
                                  readOnly: true
                                databaseStateDescription:
                                  type: string
                                  description: Description of the database state of
                                    the availability replica.
                                  readOnly: true
                                isSuspended:
                                  type: boolean
                                  description: Whether this data movement is suspended.
                                  readOnly: true
                                suspendReasonDescription:
                                  type: string
                                  description: Description of the database suspended
                                    state reason.
[...]
