openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureArcDataManagementClient
  description: The AzureArcData management API provides a RESTful set of web APIs
    to manage Azure Data Services on Azure Arc Resources.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/databases/{databaseName}
  : put:
      tags:
      - SqlServerDatabases
      operationId: SqlServerDatabases_Create
      description: Creates or replaces an Arc Sql Server Database.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        description: Name of the database
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: Properties of Arc Sql Server database
                  x-ms-client-flatten: false
                  type: object
                  properties:
                    collationName:
                      description: Collation of the database.
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    databaseCreationDate:
                      format: date-time
                      description: Creation date of the database.
                      type: string
                    compatibilityLevel:
                      type: integer
                      minimum: 80
                      maximum: 200
                      format: int32
                      description: Compatibility level of the database
                    sizeMB:
                      type: number
                      format: float
                      description: Size of the database.
                    spaceAvailableMB:
                      type: number
                      format: float
                      description: Space left of the database.
                    state:
                      description: State of the database.
                      enum:
                      - Online
                      - Restoring
                      - Recovering
                      - RecoveryPending
                      - Suspect
                      - Emergency
                      - Offline
                      - Copying
                      - OfflineSecondary
                      type: string
                      x-ms-enum:
                        name: DatabaseState
                        modelAsString: true
                    isReadOnly:
                      type: boolean
                      description: Whether the database is read only or not.
                    recoveryMode:
                      description: Status of the database.
                      enum:
                      - Full
                      - Bulk-logged
                      - Simple
                      type: string
                      x-ms-enum:
                        name: RecoveryMode
                        modelAsString: true
                    databaseOptions:
                      type: object
                      description: List of features that are enabled for the database
                      properties:
                        isAutoCloseOn:
                          type: boolean
                        isAutoShrinkOn:
                          type: boolean
                        isAutoCreateStatsOn:
                          type: boolean
                        isAutoUpdateStatsOn:
                          type: boolean
                        isRemoteDataArchiveEnabled:
                          type: boolean
                        isMemoryOptimizationEnabled:
                          type: boolean
                        isEncrypted:
                          type: boolean
                        isTrustworthyOn:
                          type: boolean
                    backupInformation:
                      type: object
                      properties:
                        lastFullBackup:
                          format: date-time
                          description: Date time of last full backup.
                          type: string
                        lastLogBackup:
                          format: date-time
                          description: Date time of last log backup.
                          type: string
                    backupPolicy:
                      description: The backup profile for the SQL server.
                      type: object
                      properties:
                        retentionPeriodDays:
                          type: integer
                          description: The retention period for all the databases
                            in this managed instance.
                          minimum: 0
                          maximum: 35
                          format: int32
                        fullBackupDays:
                          type: integer
                          description: The value indicating days between full backups.
                          minimum: 0
                          maximum: 7
                          format: int32
                        differentialBackupHours:
                          description: The differential backup interval in hours.
                          enum:
                          - 12
                          - 24
                          type: integer
                          format: int32
                          x-ms-enum:
                            name: differentialBackupHours
                            modelAsString: false
                        transactionLogBackupMinutes:
                          type: integer
                          description: The value indicating minutes between transaction
                            log backups.
                          minimum: 0
                          maximum: 60
                          format: int32
                    earliestRestoreDate:
                      format: date-time
                      description: This records the earliest start date and time that
                        restore is available for this database (ISO8601 format).
                      type: string
                      readOnly: true
                    createMode:
                      description: 'Database create mode. PointInTimeRestore: Create
                        a database by restoring a point in time backup of an existing
                        database. sourceDatabaseId and restorePointInTime must be
                        specified.'
                      enum:
                      - Default
                      - PointInTimeRestore
                      type: string
                      x-ms-enum:
                        name: DatabaseCreateMode
                        modelAsString: true
                    sourceDatabaseId:
                      description: The resource identifier of the source database
                        associated with create operation of this database.
                      type: string
                      format: arm-id
                    restorePointInTime:
                      format: date-time
                      description: Conditional. If createMode is PointInTimeRestore,
                        this value is required. Specifies the point in time (ISO8601
                        format) of the source database that will be restored to create
                        the new database.
                      type: string
                    provisioningState:
                      type: string
                      description: The provisioning state of the Arc-enabled SQL Server
                        database resource.
                      readOnly: true
                    lastDatabaseUploadTime:
                      type: string
                      format: date-time
                      description: The time when last successful database upload was
                        performed.
                      readOnly: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The request body for database resource.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server database
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      collationName:
                        description: Collation of the database.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      databaseCreationDate:
                        format: date-time
                        description: Creation date of the database.
                        type: string
                      compatibilityLevel:
                        type: integer
                        minimum: 80
                        maximum: 200
                        format: int32
                        description: Compatibility level of the database
                      sizeMB:
                        type: number
                        format: float
                        description: Size of the database.
                      spaceAvailableMB:
                        type: number
                        format: float
                        description: Space left of the database.
                      state:
                        description: State of the database.
                        enum:
                        - Online
                        - Restoring
                        - Recovering
                        - RecoveryPending
                        - Suspect
                        - Emergency
                        - Offline
                        - Copying
                        - OfflineSecondary
                        type: string
                        x-ms-enum:
                          name: DatabaseState
                          modelAsString: true
                      isReadOnly:
                        type: boolean
                        description: Whether the database is read only or not.
                      recoveryMode:
                        description: Status of the database.
                        enum:
                        - Full
                        - Bulk-logged
                        - Simple
                        type: string
                        x-ms-enum:
                          name: RecoveryMode
                          modelAsString: true
                      databaseOptions:
                        type: object
                        description: List of features that are enabled for the database
                        properties:
                          isAutoCloseOn:
                            type: boolean
                          isAutoShrinkOn:
                            type: boolean
                          isAutoCreateStatsOn:
                            type: boolean
                          isAutoUpdateStatsOn:
                            type: boolean
                          isRemoteDataArchiveEnabled:
                            type: boolean
                          isMemoryOptimizationEnabled:
                            type: boolean
                          isEncrypted:
                            type: boolean
                          isTrustworthyOn:
                            type: boolean
                      backupInformation:
                        type: object
                        properties:
                          lastFullBackup:
                            format: date-time
                            description: Date time of last full backup.
                            type: string
                          lastLogBackup:
                            format: date-time
                            description: Date time of last log backup.
                            type: string
                      backupPolicy:
                        description: The backup profile for the SQL server.
                        type: object
                        properties:
                          retentionPeriodDays:
                            type: integer
                            description: The retention period for all the databases
                              in this managed instance.
                            minimum: 0
                            maximum: 35
                            format: int32
                          fullBackupDays:
                            type: integer
                            description: The value indicating days between full backups.
                            minimum: 0
                            maximum: 7
                            format: int32
                          differentialBackupHours:
                            description: The differential backup interval in hours.
                            enum:
                            - 12
                            - 24
                            type: integer
                            format: int32
                            x-ms-enum:
                              name: differentialBackupHours
                              modelAsString: false
                          transactionLogBackupMinutes:
                            type: integer
                            description: The value indicating minutes between transaction
                              log backups.
                            minimum: 0
                            maximum: 60
                            format: int32
                      earliestRestoreDate:
                        format: date-time
                        description: This records the earliest start date and time
                          that restore is available for this database (ISO8601 format).
                        type: string
                        readOnly: true
                      createMode:
                        description: 'Database create mode. PointInTimeRestore: Create
                          a database by restoring a point in time backup of an existing
                          database. sourceDatabaseId and restorePointInTime must be
                          specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        type: string
                        x-ms-enum:
                          name: DatabaseCreateMode
                          modelAsString: true
                      sourceDatabaseId:
                        description: The resource identifier of the source database
                          associated with create operation of this database.
                        type: string
                        format: arm-id
                      restorePointInTime:
                        format: date-time
                        description: Conditional. If createMode is PointInTimeRestore,
                          this value is required. Specifies the point in time (ISO8601
                          format) of the source database that will be restored to
                          create the new database.
                        type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server database resource.
                        readOnly: true
                      lastDatabaseUploadTime:
                        type: string
                        format: date-time
                        description: The time when last successful database upload
                          was performed.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server database
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      collationName:
                        description: Collation of the database.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      databaseCreationDate:
                        format: date-time
                        description: Creation date of the database.
                        type: string
                      compatibilityLevel:
                        type: integer
                        minimum: 80
                        maximum: 200
                        format: int32
                        description: Compatibility level of the database
                      sizeMB:
                        type: number
                        format: float
                        description: Size of the database.
                      spaceAvailableMB:
                        type: number
                        format: float
                        description: Space left of the database.
                      state:
                        description: State of the database.
                        enum:
                        - Online
                        - Restoring
                        - Recovering
                        - RecoveryPending
                        - Suspect
                        - Emergency
                        - Offline
                        - Copying
                        - OfflineSecondary
                        type: string
                        x-ms-enum:
                          name: DatabaseState
                          modelAsString: true
                      isReadOnly:
                        type: boolean
                        description: Whether the database is read only or not.
                      recoveryMode:
                        description: Status of the database.
                        enum:
                        - Full
                        - Bulk-logged
                        - Simple
                        type: string
                        x-ms-enum:
                          name: RecoveryMode
                          modelAsString: true
                      databaseOptions:
                        type: object
                        description: List of features that are enabled for the database
                        properties:
                          isAutoCloseOn:
                            type: boolean
                          isAutoShrinkOn:
                            type: boolean
                          isAutoCreateStatsOn:
                            type: boolean
                          isAutoUpdateStatsOn:
                            type: boolean
                          isRemoteDataArchiveEnabled:
                            type: boolean
                          isMemoryOptimizationEnabled:
                            type: boolean
                          isEncrypted:
                            type: boolean
                          isTrustworthyOn:
                            type: boolean
                      backupInformation:
                        type: object
                        properties:
                          lastFullBackup:
                            format: date-time
                            description: Date time of last full backup.
                            type: string
                          lastLogBackup:
                            format: date-time
                            description: Date time of last log backup.
                            type: string
                      backupPolicy:
                        description: The backup profile for the SQL server.
                        type: object
                        properties:
                          retentionPeriodDays:
                            type: integer
                            description: The retention period for all the databases
                              in this managed instance.
                            minimum: 0
                            maximum: 35
                            format: int32
                          fullBackupDays:
                            type: integer
                            description: The value indicating days between full backups.
                            minimum: 0
                            maximum: 7
                            format: int32
                          differentialBackupHours:
                            description: The differential backup interval in hours.
                            enum:
                            - 12
                            - 24
                            type: integer
                            format: int32
                            x-ms-enum:
                              name: differentialBackupHours
                              modelAsString: false
                          transactionLogBackupMinutes:
                            type: integer
                            description: The value indicating minutes between transaction
                              log backups.
                            minimum: 0
                            maximum: 60
                            format: int32
                      earliestRestoreDate:
                        format: date-time
                        description: This records the earliest start date and time
                          that restore is available for this database (ISO8601 format).
                        type: string
                        readOnly: true
                      createMode:
                        description: 'Database create mode. PointInTimeRestore: Create
                          a database by restoring a point in time backup of an existing
                          database. sourceDatabaseId and restorePointInTime must be
                          specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        type: string
                        x-ms-enum:
                          name: DatabaseCreateMode
                          modelAsString: true
                      sourceDatabaseId:
                        description: The resource identifier of the source database
                          associated with create operation of this database.
                        type: string
                        format: arm-id
                      restorePointInTime:
                        format: date-time
                        description: Conditional. If createMode is PointInTimeRestore,
                          this value is required. Specifies the point in time (ISO8601
                          format) of the source database that will be restored to
                          create the new database.
                        type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server database resource.
                        readOnly: true
                      lastDatabaseUploadTime:
                        type: string
                        format: date-time
                        description: The time when last successful database upload
                          was performed.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - SqlServerDatabases
      operationId: SqlServerDatabases_Delete
      description: Deletes an Arc Sql Server database resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        description: Name of the database
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '202':
          description: Resource deletion is in progress.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: The specified database does not exist.
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - SqlServerDatabases
      operationId: SqlServerDatabases_Get
      description: Retrieves an Arc Sql Server database.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        description: Name of the database
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server database
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      collationName:
                        description: Collation of the database.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      databaseCreationDate:
                        format: date-time
                        description: Creation date of the database.
                        type: string
                      compatibilityLevel:
                        type: integer
                        minimum: 80
                        maximum: 200
                        format: int32
                        description: Compatibility level of the database
                      sizeMB:
                        type: number
                        format: float
                        description: Size of the database.
                      spaceAvailableMB:
                        type: number
                        format: float
                        description: Space left of the database.
                      state:
                        description: State of the database.
                        enum:
                        - Online
                        - Restoring
                        - Recovering
                        - RecoveryPending
                        - Suspect
                        - Emergency
                        - Offline
                        - Copying
                        - OfflineSecondary
                        type: string
                        x-ms-enum:
                          name: DatabaseState
                          modelAsString: true
                      isReadOnly:
                        type: boolean
                        description: Whether the database is read only or not.
                      recoveryMode:
                        description: Status of the database.
                        enum:
                        - Full
                        - Bulk-logged
                        - Simple
                        type: string
                        x-ms-enum:
                          name: RecoveryMode
                          modelAsString: true
                      databaseOptions:
                        type: object
                        description: List of features that are enabled for the database
                        properties:
                          isAutoCloseOn:
                            type: boolean
                          isAutoShrinkOn:
                            type: boolean
                          isAutoCreateStatsOn:
                            type: boolean
                          isAutoUpdateStatsOn:
                            type: boolean
                          isRemoteDataArchiveEnabled:
                            type: boolean
                          isMemoryOptimizationEnabled:
                            type: boolean
                          isEncrypted:
                            type: boolean
                          isTrustworthyOn:
                            type: boolean
                      backupInformation:
                        type: object
                        properties:
                          lastFullBackup:
                            format: date-time
                            description: Date time of last full backup.
                            type: string
                          lastLogBackup:
                            format: date-time
                            description: Date time of last log backup.
                            type: string
                      backupPolicy:
                        description: The backup profile for the SQL server.
                        type: object
                        properties:
                          retentionPeriodDays:
                            type: integer
                            description: The retention period for all the databases
                              in this managed instance.
                            minimum: 0
                            maximum: 35
                            format: int32
                          fullBackupDays:
                            type: integer
                            description: The value indicating days between full backups.
                            minimum: 0
                            maximum: 7
                            format: int32
                          differentialBackupHours:
                            description: The differential backup interval in hours.
                            enum:
                            - 12
                            - 24
                            type: integer
                            format: int32
                            x-ms-enum:
                              name: differentialBackupHours
                              modelAsString: false
                          transactionLogBackupMinutes:
                            type: integer
                            description: The value indicating minutes between transaction
                              log backups.
                            minimum: 0
                            maximum: 60
                            format: int32
                      earliestRestoreDate:
                        format: date-time
                        description: This records the earliest start date and time
                          that restore is available for this database (ISO8601 format).
                        type: string
                        readOnly: true
                      createMode:
                        description: 'Database create mode. PointInTimeRestore: Create
                          a database by restoring a point in time backup of an existing
                          database. sourceDatabaseId and restorePointInTime must be
                          specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        type: string
                        x-ms-enum:
                          name: DatabaseCreateMode
                          modelAsString: true
                      sourceDatabaseId:
                        description: The resource identifier of the source database
                          associated with create operation of this database.
                        type: string
                        format: arm-id
                      restorePointInTime:
                        format: date-time
                        description: Conditional. If createMode is PointInTimeRestore,
                          this value is required. Specifies the point in time (ISO8601
                          format) of the source database that will be restored to
                          create the new database.
                        type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server database resource.
                        readOnly: true
                      lastDatabaseUploadTime:
                        type: string
                        format: date-time
                        description: The time when last successful database upload
                          was performed.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - SqlServerDatabases
      description: Updates an existing database.
      operationId: SqlServerDatabases_Update
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: databaseName
        description: Name of the database
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: An update to database resource.
              type: object
              properties:
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: The data controller's properties
                  x-ms-client-flatten: false
                  type: object
                  properties:
                    collationName:
                      description: Collation of the database.
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    databaseCreationDate:
                      format: date-time
                      description: Creation date of the database.
                      type: string
                    compatibilityLevel:
                      type: integer
                      minimum: 80
                      maximum: 200
                      format: int32
                      description: Compatibility level of the database
                    sizeMB:
                      type: number
                      format: float
                      description: Size of the database.
                    spaceAvailableMB:
                      type: number
                      format: float
                      description: Space left of the database.
                    state:
                      description: State of the database.
                      enum:
                      - Online
                      - Restoring
                      - Recovering
                      - RecoveryPending
                      - Suspect
                      - Emergency
                      - Offline
                      - Copying
                      - OfflineSecondary
                      type: string
                      x-ms-enum:
                        name: DatabaseState
                        modelAsString: true
                    isReadOnly:
                      type: boolean
                      description: Whether the database is read only or not.
                    recoveryMode:
                      description: Status of the database.
                      enum:
                      - Full
                      - Bulk-logged
                      - Simple
                      type: string
                      x-ms-enum:
                        name: RecoveryMode
                        modelAsString: true
                    databaseOptions:
                      type: object
                      description: List of features that are enabled for the database
                      properties:
                        isAutoCloseOn:
                          type: boolean
                        isAutoShrinkOn:
                          type: boolean
                        isAutoCreateStatsOn:
                          type: boolean
                        isAutoUpdateStatsOn:
                          type: boolean
                        isRemoteDataArchiveEnabled:
                          type: boolean
                        isMemoryOptimizationEnabled:
                          type: boolean
                        isEncrypted:
                          type: boolean
                        isTrustworthyOn:
                          type: boolean
                    backupInformation:
                      type: object
                      properties:
                        lastFullBackup:
                          format: date-time
                          description: Date time of last full backup.
                          type: string
                        lastLogBackup:
                          format: date-time
                          description: Date time of last log backup.
                          type: string
                    backupPolicy:
                      description: The backup profile for the SQL server.
                      type: object
                      properties:
                        retentionPeriodDays:
                          type: integer
                          description: The retention period for all the databases
                            in this managed instance.
                          minimum: 0
                          maximum: 35
                          format: int32
                        fullBackupDays:
                          type: integer
                          description: The value indicating days between full backups.
                          minimum: 0
                          maximum: 7
                          format: int32
                        differentialBackupHours:
                          description: The differential backup interval in hours.
                          enum:
                          - 12
                          - 24
                          type: integer
                          format: int32
                          x-ms-enum:
                            name: differentialBackupHours
                            modelAsString: false
                        transactionLogBackupMinutes:
                          type: integer
                          description: The value indicating minutes between transaction
                            log backups.
                          minimum: 0
                          maximum: 60
                          format: int32
                    earliestRestoreDate:
                      format: date-time
                      description: This records the earliest start date and time that
                        restore is available for this database (ISO8601 format).
                      type: string
                      readOnly: true
                    createMode:
                      description: 'Database create mode. PointInTimeRestore: Create
                        a database by restoring a point in time backup of an existing
                        database. sourceDatabaseId and restorePointInTime must be
                        specified.'
                      enum:
                      - Default
                      - PointInTimeRestore
                      type: string
                      x-ms-enum:
                        name: DatabaseCreateMode
                        modelAsString: true
                    sourceDatabaseId:
                      description: The resource identifier of the source database
                        associated with create operation of this database.
                      type: string
                      format: arm-id
                    restorePointInTime:
                      format: date-time
                      description: Conditional. If createMode is PointInTimeRestore,
                        this value is required. Specifies the point in time (ISO8601
                        format) of the source database that will be restored to create
                        the new database.
                      type: string
                    provisioningState:
                      type: string
                      description: The provisioning state of the Arc-enabled SQL Server
                        database resource.
                      readOnly: true
                    lastDatabaseUploadTime:
                      type: string
                      format: date-time
                      description: The time when last successful database upload was
                        performed.
                      readOnly: true
        description: The requested database resource state.
        required: true
      responses:
        '200':
          description: Successfully updated the database.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Properties of Arc Sql Server database
                    x-ms-client-flatten: false
                    type: object
                    properties:
                      collationName:
                        description: Collation of the database.
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      databaseCreationDate:
                        format: date-time
                        description: Creation date of the database.
                        type: string
                      compatibilityLevel:
                        type: integer
                        minimum: 80
                        maximum: 200
                        format: int32
                        description: Compatibility level of the database
                      sizeMB:
                        type: number
                        format: float
                        description: Size of the database.
                      spaceAvailableMB:
                        type: number
                        format: float
                        description: Space left of the database.
                      state:
                        description: State of the database.
                        enum:
                        - Online
                        - Restoring
                        - Recovering
                        - RecoveryPending
                        - Suspect
                        - Emergency
                        - Offline
                        - Copying
                        - OfflineSecondary
                        type: string
                        x-ms-enum:
                          name: DatabaseState
                          modelAsString: true
                      isReadOnly:
                        type: boolean
                        description: Whether the database is read only or not.
                      recoveryMode:
                        description: Status of the database.
                        enum:
                        - Full
                        - Bulk-logged
                        - Simple
                        type: string
                        x-ms-enum:
                          name: RecoveryMode
                          modelAsString: true
                      databaseOptions:
                        type: object
                        description: List of features that are enabled for the database
                        properties:
                          isAutoCloseOn:
                            type: boolean
                          isAutoShrinkOn:
                            type: boolean
                          isAutoCreateStatsOn:
                            type: boolean
                          isAutoUpdateStatsOn:
                            type: boolean
                          isRemoteDataArchiveEnabled:
                            type: boolean
                          isMemoryOptimizationEnabled:
                            type: boolean
                          isEncrypted:
                            type: boolean
                          isTrustworthyOn:
                            type: boolean
                      backupInformation:
                        type: object
                        properties:
                          lastFullBackup:
                            format: date-time
                            description: Date time of last full backup.
                            type: string
                          lastLogBackup:
                            format: date-time
                            description: Date time of last log backup.
                            type: string
                      backupPolicy:
                        description: The backup profile for the SQL server.
                        type: object
                        properties:
                          retentionPeriodDays:
                            type: integer
                            description: The retention period for all the databases
                              in this managed instance.
                            minimum: 0
                            maximum: 35
                            format: int32
                          fullBackupDays:
                            type: integer
                            description: The value indicating days between full backups.
                            minimum: 0
                            maximum: 7
                            format: int32
                          differentialBackupHours:
                            description: The differential backup interval in hours.
                            enum:
                            - 12
                            - 24
                            type: integer
                            format: int32
                            x-ms-enum:
                              name: differentialBackupHours
                              modelAsString: false
                          transactionLogBackupMinutes:
                            type: integer
                            description: The value indicating minutes between transaction
                              log backups.
                            minimum: 0
                            maximum: 60
                            format: int32
                      earliestRestoreDate:
                        format: date-time
                        description: This records the earliest start date and time
                          that restore is available for this database (ISO8601 format).
                        type: string
                        readOnly: true
                      createMode:
                        description: 'Database create mode. PointInTimeRestore: Create
                          a database by restoring a point in time backup of an existing
                          database. sourceDatabaseId and restorePointInTime must be
                          specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        type: string
                        x-ms-enum:
                          name: DatabaseCreateMode
                          modelAsString: true
                      sourceDatabaseId:
                        description: The resource identifier of the source database
                          associated with create operation of this database.
                        type: string
                        format: arm-id
                      restorePointInTime:
                        format: date-time
                        description: Conditional. If createMode is PointInTimeRestore,
                          this value is required. Specifies the point in time (ISO8601
                          format) of the source database that will be restored to
                          create the new database.
                        type: string
                      provisioningState:
                        type: string
                        description: The provisioning state of the Arc-enabled SQL
                          Server database resource.
                        readOnly: true
                      lastDatabaseUploadTime:
                        type: string
                        format: date-time
                        description: The time when last successful database upload
                          was performed.
                        readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Resource update is in progress.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/databases
  : get:
      tags:
      - SqlServerDatabases
      operationId: SqlServerDatabases_List
      summary: List the databases associated with the given Arc Sql Server.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the Azure subscription
        x-ms-parameter-location: client
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the Azure resource group
        x-ms-parameter-location: method
        schema:
          type: string
      - name: sqlServerInstanceName
        description: Name of SQL Server Instance
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A list of Arc Sql Server database.
                type: object
                properties:
                  value:
                    description: Array of  Arc Sql Server database.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: Properties of Arc Sql Server database
                          x-ms-client-flatten: false
                          type: object
                          properties:
                            collationName:
                              description: Collation of the database.
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            databaseCreationDate:
                              format: date-time
                              description: Creation date of the database.
                              type: string
                            compatibilityLevel:
                              type: integer
                              minimum: 80
                              maximum: 200
                              format: int32
                              description: Compatibility level of the database
                            sizeMB:
                              type: number
                              format: float
                              description: Size of the database.
                            spaceAvailableMB:
                              type: number
                              format: float
                              description: Space left of the database.
                            state:
                              description: State of the database.
                              enum:
                              - Online
                              - Restoring
                              - Recovering
                              - RecoveryPending
                              - Suspect
                              - Emergency
                              - Offline
                              - Copying
                              - OfflineSecondary
                              type: string
                              x-ms-enum:
                                name: DatabaseState
                                modelAsString: true
                            isReadOnly:
                              type: boolean
                              description: Whether the database is read only or not.
                            recoveryMode:
                              description: Status of the database.
                              enum:
                              - Full
                              - Bulk-logged
                              - Simple
                              type: string
                              x-ms-enum:
                                name: RecoveryMode
                                modelAsString: true
                            databaseOptions:
                              type: object
                              description: List of features that are enabled for the
                                database
                              properties:
                                isAutoCloseOn:
                                  type: boolean
                                isAutoShrinkOn:
                                  type: boolean
                                isAutoCreateStatsOn:
                                  type: boolean
                                isAutoUpdateStatsOn:
                                  type: boolean
                                isRemoteDataArchiveEnabled:
                                  type: boolean
                                isMemoryOptimizationEnabled:
                                  type: boolean
                                isEncrypted:
                                  type: boolean
                                isTrustworthyOn:
                                  type: boolean
                            backupInformation:
                              type: object
                              properties:
                                lastFullBackup:
                                  format: date-time
                                  description: Date time of last full backup.
                                  type: string
                                lastLogBackup:
                                  format: date-time
                                  description: Date time of last log backup.
                                  type: string
                            backupPolicy:
                              description: The backup profile for the SQL server.
                              type: object
                              properties:
                                retentionPeriodDays:
                                  type: integer
                                  description: The retention period for all the databases
                                    in this managed instance.
                                  minimum: 0
                                  maximum: 35
                                  format: int32
                                fullBackupDays:
                                  type: integer
                                  description: The value indicating days between full
[...]
