openapi: 3.0.0
info:
  title: Azure Maps Search Service
  version: 2023-06-01
  description: Azure Maps Search REST APIs
servers:
- url: https://atlas.microsoft.com
security:
- AADToken:
  - https://atlas.microsoft.com/.default
- AzureKey: []
- SasToken: []
paths:
  /geocode:
    get:
      summary: Use to get longitude and latitude coordinates of a street address or
        name of a place.
      description: '


        The `Get Geocoding` API is an HTTP `GET` request that returns the longitude
        and latitude coordinates of the location being searched.


        In many cases, the complete search service might be too much, for instance
        if you are only interested in traditional geocoding. Search can also be accessed
        for address look up exclusively. The geocoding is performed by hitting the
        geocoding endpoint with just the address or partial address in question. The
        geocoding search index will be queried for everything above the street level
        data. No Point of Interest (POIs) will be returned. Note that the geocoder
        is very tolerant of typos and incomplete addresses. It will also handle everything
        from exact street addresses or street or intersections as well as higher level
        geographies such as city centers, counties and states. The response also returns
        detailed address properties such as street, postal code, municipality, and
        country/region information.'
      operationId: Search_GetGeocoding
      parameters:
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: "Language in which search results should be returned. \n\nPlease\
          \ refer to [Supported Languages](/azure/azure-maps/supported-languages)\
          \ for details."
        required: false
        x-ms-parameter-location: client
        schema:
          type: string
      - name: top
        in: query
        description: 'Maximum number of responses that will be returned. Default:
          5, minimum: 1 and maximum: 20.'
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
          default: 5
      - name: query
        in: query
        description: A string that contains information about a location, such as
          an address or landmark name.
        required: false
        schema:
          type: string
      - name: addressLine
        in: query
        description: 'The official street line of an address relative to the area,
          as specified by the locality, or postalCode, properties. Typical use of
          this element would be to provide a street address or any official address.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: countryRegion
        in: query
        description: 'Signal for the geocoding result to an [ISO 3166-1 Alpha-2 region/country
          code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) that is specified
          e.g. FR./


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: bbox
        in: query
        description: 'A rectangular area on the earth defined as a bounding box object.
          The sides of the rectangles are defined by longitude and latitude values.
          When you specify this parameter, the geographical area is taken into account
          when computing the results of a location query.


          Example: lon1,lat1,lon2,lat2'
        required: false
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: number
            format: double
          minItems: 4
          maxItems: 4
      - name: view
        in: query
        description: "A string that represents an [ISO 3166-1 Alpha-2 region/country\
          \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). This will alter\
          \ Geopolitical disputed borders and labels to align with the specified user\
          \ region. By default, the View parameter is set to \u201CAuto\u201D even\
          \ if you haven\u2019t defined it in the request.\n\nPlease refer to [Supported\
          \ Views](https://aka.ms/AzureMapsLocalizationViews) for details and to see\
          \ the available Views."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: coordinates
        in: query
        description: "A point on the earth specified as a longitude and latitude.\
          \ When you specify this parameter, the user\u2019s location is taken into\
          \ account and the results returned may be more relevant to the user. Example:\
          \ &coordinates=lon,lat"
        required: false
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: number
            format: double
          minItems: 2
          maxItems: 2
      - name: adminDistrict
        in: query
        description: 'The country subdivision portion of an address, such as WA.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: adminDistrict2
        in: query
        description: 'The county for the structured address, such as King.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: adminDistrict3
        in: query
        description: 'The named area for the structured address.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: locality
        in: query
        description: 'The locality portion of an address, such as Seattle.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: postalCode
        in: query
        description: 'The postal code portion of an address.


          **If query is given, should not use this parameter.**'
        required: false
        schema:
          type: string
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Specifies which account is intended for usage in conjunction
          with the Azure AD security model.  It represents a unique ID for the Azure
          Maps account and can be retrieved from the Azure Maps management  plane
          Account API. To use Azure AD security in Azure Maps see the following [articles](https://aka.ms/amauthdetails)
          for guidance.
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
          content:
            application/geo+json:
              schema:
                description: This object is returned from a successful Geocoding call
                type: object
                properties:
                  type:
                    type: string
                    description: The type of a FeatureCollection object must be FeatureCollection.
                    enum:
                    - FeatureCollection
                    x-ms-enum:
                      name: FeatureCollectionEnum
                      modelAsString: true
                      values:
                      - value: FeatureCollection
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The type of a feature must be Feature.
                          enum:
                          - Feature
                          x-ms-enum:
                            name: FeatureTypeEnum
                            modelAsString: true
                            values:
                            - value: Feature
                        id:
                          type: string
                          description: ID for feature returned
                        properties:
                          type: object
                          properties:
                            type:
                              type: string
                              description: "One of: \n* Address\n* RoadBlock\n* RoadIntersection\n\
                                * Neighborhood\n* PopulatedPlace\n* Postcode1\n* AdminDivision1\n\
                                * AdminDivision2\n* CountryRegion"
                            confidence:
                              description: "The level of confidence that the geocoded\
                                \ location result is a match. Use this value with\
                                \ the match code to determine for more complete information\
                                \ about the match.\n\nThe confidence of a geocoded\
                                \ location is based on many factors including the\
                                \ relative importance of the geocoded location and\
                                \ the user\u2019s location, if specified."
                              type: string
                              enum:
                              - High
                              - Medium
                              - Low
                              x-ms-enum:
                                name: ConfidenceEnum
                                modelAsString: true
                                values:
                                - value: High
                                  description: 'If the confidence is set to `High`,
                                    one or more strong matches were found. Multiple
                                    `High` confidence matches are sorted in ranked
                                    order by importance when applicable. For example,
                                    landmarks have importance but addresses do not.


                                    If a request includes a location or a view, then
                                    the ranking may change appropriately. For example,
                                    a location query for "Paris" returns "Paris, France"
                                    and "Paris, TX" both with `High` confidence. "Paris,
                                    France" is always ranked first due to importance
                                    unless a user location indicates that the user
                                    is in or very close to Paris, TX or the map view
                                    indicates that the user is searching in that area.'
                                - value: Medium
                                  description: 'In some situations, the returned match
                                    may not be at the same level as the information
                                    provided in the request. For example, a request
                                    may specify address information and the geocode
                                    service may only be able to match a postal code.
                                    In this case, if the geocode service has a confidence
                                    that the postal code matches the data, the confidence
                                    is set to `Medium` and the match code is set to
                                    `UpHierarchy` to specify that it could not match
                                    all of the information and had to search up-hierarchy.


                                    If the location information in the query is ambiguous,
                                    and there is no additional information to rank
                                    the locations (such as user location or the relative
                                    importance of the location), the confidence is
                                    set to `Medium`. For example, a location query
                                    for "148th Ave, Bellevue" may return "148th Ave
                                    SE" and "148th Ave NE" both with `Medium` confidence.


                                    If the location information in the query does
                                    not provide enough information to geocode a specific
                                    location, a less precise location value may be
                                    returned and the confidence is set to `Medium`.
                                    For example, if an address is provided, but a
                                    match is not found for the house number, the geocode
                                    result with a Roadblock entity type may be returned.'
                                - value: Low
                            matchCodes:
                              description: 'One or more match code values that represent
                                the geocoding level for each location in the response.


                                For example, a geocoded location with match codes
                                of `Good` and `Ambiguous` means that more than one
                                geocode location was found for the location information
                                and that the geocode service did not have search up-hierarchy
                                to find a match.


                                Similarly, a geocoded location with match codes of
                                `Ambiguous` and `UpHierarchy` implies that a geocode
                                location could not be found that matched all the provided
                                location information, so the geocode service had to
                                search up-hierarchy and found multiple matches at
                                that level. An example of up an `Ambiguous` and `UpHierarchy`
                                result is when you provide complete address information,
                                but the geocode service cannot locate a match for
                                the street address and instead returns information
                                for more than one RoadBlock value.


                                The possible values are:


                                `Good`: The location has only one match or all returned
                                matches are considered strong matches. For example,
                                a query for New York returns several Good matches.


                                `Ambiguous`: The location is one of a set of possible
                                matches. For example, when you query for the street
                                address 128 Main St., the response may return two
                                locations for 128 North Main St. and 128 South Main
                                St. because there is not enough information to determine
                                which option to choose.


                                `UpHierarchy`: The location represents a move up the
                                geographic hierarchy. This occurs when a match for
                                the location request was not found, so a less precise
                                result is returned. For example, if a match for the
                                requested address cannot be found, then a match code
                                of `UpHierarchy` with a RoadBlock entity type may
                                be returned.'
                              type: array
                              items:
                                type: string
                                enum:
                                - Good
                                - Ambiguous
                                - UpHierarchy
                                x-ms-enum:
                                  name: MatchCodesEnum
                                  modelAsString: true
                                  values:
                                  - value: Good
                                  - value: Ambiguous
                                  - value: UpHierarchy
                            address:
                              description: The address of the result
                              type: object
                              properties:
                                addressLine:
                                  description: AddressLine that includes Street Name
                                    and Number
                                  type: string
                                locality:
                                  description: locality property
                                  type: string
                                neighborhood:
                                  description: neighborhood property
                                  type: string
                                adminDistricts:
                                  description: The subdivision name in the country
                                    or region for an address. This element is typically
                                    treated as the first order administrative subdivision,
                                    but in some cases it also contains the second,
                                    third, or fourth order subdivision in a country,
                                    dependency, or region.
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: "The name for the corresponding\
                                          \ adminDistrict field, \nFor adminDistrict[0],\
                                          \ this could be full name of state such\
                                          \ as Washington, \nFor adminDistrict[1],\
                                          \ this could be the full name of the county"
                                      shortName:
                                        type: string
                                        description: "The short name for the corresponding\
                                          \ adminDistrict field, \nFor adminDistrict[0],\
                                          \ this could be short name of state such\
                                          \ as WA, \nFor adminDistrict[1], this could\
                                          \ be the short name of the county"
                                postalCode:
                                  description: Postal Code property
                                  type: string
                                countryRegion:
                                  type: object
                                  properties:
                                    ISO:
                                      description: ISO of country/region
                                      type: string
                                    name:
                                      description: name of country/region
                                      type: string
                                formattedAddress:
                                  description: Formatted Address property
                                  type: string
                                intersection:
                                  description: The address of the result.
                                  type: object
                                  properties:
                                    baseStreet:
                                      description: Primary street for the location.
                                      type: string
                                    secondaryStreet1:
                                      description: The first intersecting street.
                                      type: string
                                    secondaryStreet2:
                                      description: If any, the second intersecting
                                        street.
                                      type: string
                                    intersectionType:
                                      description: Type of intersection.
                                      type: string
                                    displayName:
                                      description: Complete name of the intersection.
                                      type: string
                            geocodePoints:
                              description: A collection of geocode points that differ
                                in how they were calculated and their suggested use.
                              type: array
                              items:
                                type: object
                                properties:
                                  geometry:
                                    type: object
                                    properties:
                                      type:
                                        description: Specifies the `GeoJSON` type.
                                          Must be one of the nine valid GeoJSON object
                                          types - Point, MultiPoint, LineString, MultiLineString,
                                          Polygon, MultiPolygon, GeometryCollection,
                                          Feature and FeatureCollection.
                                        type: string
                                        enum:
                                        - Point
                                        - MultiPoint
                                        - LineString
                                        - MultiLineString
                                        - Polygon
                                        - MultiPolygon
                                        - GeometryCollection
                                        - Feature
                                        - FeatureCollection
                                        x-ms-enum:
                                          name: GeoJsonObjectType
                                          modelAsString: false
                                          values:
                                          - value: Point
                                            description: '`GeoJSON Point` geometry.'
                                            name: GeoJsonPoint
                                          - value: MultiPoint
                                            description: '`GeoJSON MultiPoint` geometry.'
                                            name: GeoJsonMultiPoint
                                          - value: LineString
                                            description: '`GeoJSON LineString` geometry.'
                                            name: GeoJsonLineString
                                          - value: MultiLineString
                                            description: '`GeoJSON MultiLineString`
                                              geometry.'
                                            name: GeoJsonMultiLineString
                                          - value: Polygon
                                            description: '`GeoJSON Polygon` geometry.'
                                            name: GeoJsonPolygon
                                          - value: MultiPolygon
                                            description: '`GeoJSON MultiPolygon` geometry.'
                                            name: GeoJsonMultiPolygon
                                          - value: GeometryCollection
                                            description: '`GeoJSON GeometryCollection`
                                              geometry.'
                                            name: GeoJsonGeometryCollection
                                          - value: Feature
                                            description: '`GeoJSON Feature` object.'
                                            name: GeoJsonFeature
                                          - value: FeatureCollection
                                            description: '`GeoJSON FeatureCollection`
                                              object.'
                                            name: GeoJsonFeatureCollection
                                      bbox:
                                        x-ms-client-name: boundingBox
                                        description: Bounding box. Projection used
                                          - EPSG:3857. Please refer to [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                                          for details.
                                        type: array
                                        items:
                                          type: number
                                          format: double
                                      coordinates:
                                        description: A `Position` is an array of numbers
                                          with two or more elements. The first two
                                          elements are _longitude_ and _latitude_,
                                          precisely in that order. _Altitude/Elevation_
                                          is an optional third element. Please refer
                                          to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.1)
                                          for details.
                                        type: array
                                        items:
                                          type: number
                                          format: double
                                    required:
                                    - type
                                    - coordinates
                                    description: A valid `GeoJSON` object. Please
                                      refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3)
                                      for details.
                                    discriminator:
                                      propertyName: type
                                    x-ms-discriminator-value: Point
                                  calculationMethod:
                                    description: The method that was used to compute
                                      the geocode point.
                                    type: string
                                    enum:
                                    - Interpolation
                                    - InterpolationOffset
                                    - Parcel
                                    - Rooftop
                                    x-ms-enum:
                                      name: CalculationMethodEnum
                                      modelAsString: true
                                      values:
                                      - value: Interpolation
                                        description: The geocode point was matched
                                          to a point on a road using interpolation.
                                      - value: InterpolationOffset
                                        description: The geocode point was matched
                                          to a point on a road using interpolation
                                          with an additional offset to shift the point
                                          to the side of the street.
                                      - value: Parcel
                                        description: The geocode point was matched
                                          to the center of a parcel.
                                      - value: Rooftop
                                        description: The geocode point was matched
                                          to the rooftop of a building.
                                  usageTypes:
                                    description: 'The best use for the geocode point.

                                      Each geocode point is defined as a `Route` point,
                                      a `Display` point or both.

                                      Use `Route` points if you are creating a route
                                      to the location. Use `Display` points if you
                                      are showing the location on a map. For example,
                                      if the location is a park, a `Route` point may
                                      specify an entrance to the park where you can
                                      enter with a car, and a `Display` point may
                                      be a point that specifies the center of the
                                      park.'
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                      - Display
                                      - Route
                                      x-ms-enum:
                                        name: UsageTypeEnum
                                        modelAsString: true
                                        values:
                                        - value: Display
                                        - value: Route
                        geometry:
                          type: object
                          properties:
                            type:
                              description: Specifies the `GeoJSON` type. Must be one
                                of the nine valid GeoJSON object types - Point, MultiPoint,
                                LineString, MultiLineString, Polygon, MultiPolygon,
                                GeometryCollection, Feature and FeatureCollection.
                              type: string
                              enum:
                              - Point
                              - MultiPoint
                              - LineString
                              - MultiLineString
                              - Polygon
                              - MultiPolygon
                              - GeometryCollection
                              - Feature
                              - FeatureCollection
                              x-ms-enum:
                                name: GeoJsonObjectType
                                modelAsString: false
                                values:
                                - value: Point
                                  description: '`GeoJSON Point` geometry.'
                                  name: GeoJsonPoint
                                - value: MultiPoint
                                  description: '`GeoJSON MultiPoint` geometry.'
                                  name: GeoJsonMultiPoint
                                - value: LineString
                                  description: '`GeoJSON LineString` geometry.'
                                  name: GeoJsonLineString
                                - value: MultiLineString
                                  description: '`GeoJSON MultiLineString` geometry.'
                                  name: GeoJsonMultiLineString
                                - value: Polygon
                                  description: '`GeoJSON Polygon` geometry.'
                                  name: GeoJsonPolygon
                                - value: MultiPolygon
                                  description: '`GeoJSON MultiPolygon` geometry.'
                                  name: GeoJsonMultiPolygon
                                - value: GeometryCollection
                                  description: '`GeoJSON GeometryCollection` geometry.'
                                  name: GeoJsonGeometryCollection
                                - value: Feature
                                  description: '`GeoJSON Feature` object.'
                                  name: GeoJsonFeature
                                - value: FeatureCollection
                                  description: '`GeoJSON FeatureCollection` object.'
                                  name: GeoJsonFeatureCollection
                            bbox:
                              x-ms-client-name: boundingBox
                              description: Bounding box. Projection used - EPSG:3857.
                                Please refer to [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                                for details.
                              type: array
                              items:
                                type: number
                                format: double
                            coordinates:
                              description: A `Position` is an array of numbers with
                                two or more elements. The first two elements are _longitude_
                                and _latitude_, precisely in that order. _Altitude/Elevation_
                                is an optional third element. Please refer to [RFC
                                7946](https://tools.ietf.org/html/rfc7946#section-3.1.1)
                                for details.
                              type: array
                              items:
                                type: number
                                format: double
                          required:
                          - type
                          - coordinates
                          description: A valid `GeoJSON` object. Please refer to [RFC
                            7946](https://tools.ietf.org/html/rfc7946#section-3) for
                            details.
                          discriminator:
                            propertyName: type
                          x-ms-discriminator-value: Point
                        bbox:
                          x-ms-client-name: boundingBox
                          description: Bounding box. Projection used - EPSG:3857.
                            Please refer to [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                            for details.
                          type: array
                          items:
                            type: number
                            format: double
                      required:
                      - geometry
                  nextLink:
                    type: string
                    description: The is the link to the next page of the features
                      returned. If it's the last page, no this field.
        default:
          description: An unexpected error occurred.
          x-ms-error-response: true
          content:
            application/geo+json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers: []
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /geocode:batch:
    post:
      summary: Use to send a batch of queries to the [Geocoding](/rest/api/maps/search/get-geocoding)
        API in a single request.
      description: "\n\nThe `Get Geocoding Batch` API is an HTTP `POST` request that\
        \ sends batches of up to **100** queries to the [Geocoding](/rest/api/maps/search/get-geocoding)\
        \ API in a single request. \n\n### Submit Synchronous Batch Request\nThe Synchronous\
        \ API is recommended for lightweight batch requests. When the service receives\
        \ a request, it will respond as soon as the batch items are calculated and\
        \ there will be no possibility to retrieve the results later. The Synchronous\
        \ API will return a timeout error (a 408 response) if the request takes longer\
        \ than 60 seconds. The number of batch items is limited to **100** for this\
        \ API.\n```\nPOST https://atlas.microsoft.com/geocode:batch?api-version=2023-06-01\n\
        ```\n### POST Body for Batch Request\nTo send the _geocoding_ queries you\
        \ will use a `POST` request where the request body will contain the `batchItems`\
        \ array in `json` format and the `Content-Type` header will be set to `application/json`.\
        \ Here's a sample request body containing 2 _geocoding_ queries:\n\n\n```\n\
        {\n  \"batchItems\": [\n    {\n      \"addressLine\": \"One, Microsoft Way,\
        \ Redmond, WA 98052\",\n      \"top\": 2\n    },\n    {\n      \"addressLine\"\
        : \"Pike Pl\",\n      \"adminDistrict\": \"WA\",\n      \"locality\": \"Seattle\"\
        ,\n      \"top\": 3\n    }\n  ]\n}\n```\n\nA _geocoding_ batchItem object\
        \ can accept any of the supported _geocoding_ [URI parameters](/rest/api/maps/search/get-geocoding#uri-parameters).\n\
        \n\nThe batch should contain at least **1** query.\n\n\n### Batch Response\
        \ Model\nThe batch response contains a `summary` component that indicates\
        \ the `totalRequests` that were part of the original batch request and `successfulRequests`\
        \ i.e. queries which were executed successfully. The batch response also includes\
        \ a `batchItems` array which contains a response for each and every query\
        \ in the batch request. The `batchItems` will contain the results in the exact\
        \ same order the original queries were sent in the batch request. Each item\
        \ is of one of the following types:\n\n  - [`GeocodingResponse`](/rest/api/maps/search/get-geocoding#geocodingresponse)\
        \ - If the query completed successfully.\n\n  - `Error` - If the query failed.\
        \ The response will contain a `code` and a `message` in this case.\n\n\n"
      operationId: Search_GetGeocodingBatch
      parameters:
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Specifies which account is intended for usage in conjunction
          with the Azure AD security model.  It represents a unique ID for the Azure
          Maps account and can be retrieved from the Azure Maps management  plane
          Account API. To use Azure AD security in Azure Maps see the following [articles](https://aka.ms/amauthdetails)
          for guidance.
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: "Language in which search results should be returned. \n\nPlease\
          \ refer to [Supported Languages](/azure/azure-maps/supported-languages)\
          \ for details."
        required: false
        x-ms-parameter-location: client
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The list of address geocoding queries/requests to process.
                The list can contain a max of 100 queries and must contain at least
                1 query.
              type: object
              properties:
                batchItems:
                  description: The list of queries to process.
                  type: array
                  items:
                    description: Batch Query object
                    type: object
                    properties:
                      optionalId:
                        description: id of the request which would show in corresponding
                          batchItem
                        type: string
                      top:
                        description: 'Maximum number of responses that will be returned.
                          Default: 5, minimum: 1 and maximum: 20.'
                        type: integer
                        format: int32
                        default: 5
                        minimum: 1
                        maximum: 20
                      query:
                        description: A string that contains information about a location,
                          such as an address or landmark name.
                        type: string
                      addressLine:
                        description: 'The official street line of an address relative
                          to the area, as specified by the locality, or postalCode,
                          properties. Typical use of this element would be to provide
                          a street address or any official address.


                          **If query is given, should not use this parameter.**'
                        type: string
                      countryRegion:
                        description: 'Signal for the geocoding result to an [ISO 3166-1
                          Alpha-2 region/country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
                          that is specified e.g. FR./


                          **If query is given, should not use this parameter.**'
                        type: string
                      bbox:
                        description: 'A rectangular area on the earth defined as a
                          bounding box object. The sides of the rectangles are defined
                          by longitude and latitude values. For more information,
                          see Location and Area Types. When you specify this parameter,
                          the geographical area is taken into account when computing
                          the results of a location query.


                          Example: [lon1, lat1, lon2, lat2]'
                        type: array
                        items:
                          type: number
                          format: double
                        minItems: 4
                        maxItems: 4
                      view:
                        description: A string that specifies an [ISO 3166-1 Alpha-2
                          region/country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
                          This will alter Geopolitical disputed borders and labels
                          to align with the specified user region.
                        type: string
                        default: auto
                      coordinates:
                        description: "A point on the earth specified as a longitude\
                          \ and latitude. When you specify this parameter, the user\u2019\
                          s location is taken into account and the results returned\
                          \ may be more relevant to the user. Example: [lon, lat]"
                        type: array
                        items:
                          type: number
                          format: double
                        minItems: 2
                        maxItems: 2
                      adminDistrict:
                        description: 'The country subdivision portion of an address,
                          such as WA.


                          **If query is given, should not use this parameter.**'
                        type: string
                      adminDistrict2:
                        description: 'The county for the structured address, such
                          as King.


                          **If query is given, should not use this parameter.**'
                        type: string
                      adminDistrict3:
                        description: 'The named area for the structured address.


                          **If query is given, should not use this parameter.**'
                        type: string
                      locality:
                        description: 'The locality portion of an address, such as
                          Seattle.


                          **If query is given, should not use this parameter.**'
                        type: string
                      postalCode:
                        description: 'The postal code portion of an address.


                          **If query is given, should not use this parameter.**'
                        type: string
        description: The list of address geocoding queries/requests to process. The
          list can contain a max of 100 queries and must contain at least 1 query.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: This object is returned from a successful Geocoding Batch
                  service call.
                type: object
                properties:
                  summary:
                    description: Summary for the batch request
                    type: object
                    properties:
                      successfulRequests:
                        description: Number of successful requests in the batch
                        type: integer
                        format: int32
                      totalRequests:
                        description: Total number of requests in the batch
                        type: integer
                        format: int32
                  batchItems:
                    description: Array containing the batch results.
                    type: array
                    items:
                      type: object
                      properties:
                        optionalId:
                          description: id of the batchItem which would be the same
                            as the id in the request
                          type: string
                        type:
                          type: string
                          description: The type of a FeatureCollection object must
                            be FeatureCollection.
                          enum:
                          - FeatureCollection
                          x-ms-enum:
                            name: FeatureCollectionEnum
                            modelAsString: true
                            values:
                            - value: FeatureCollection
                        features:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: The type of a feature must be Feature.
                                enum:
                                - Feature
                                x-ms-enum:
                                  name: FeatureTypeEnum
                                  modelAsString: true
                                  values:
                                  - value: Feature
                              id:
                                type: string
                                description: ID for feature returned
                              properties:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: "One of: \n* Address\n* RoadBlock\n\
                                      * RoadIntersection\n* Neighborhood\n* PopulatedPlace\n\
                                      * Postcode1\n* AdminDivision1\n* AdminDivision2\n\
                                      * CountryRegion"
                                  confidence:
                                    description: "The level of confidence that the\
                                      \ geocoded location result is a match. Use this\
                                      \ value with the match code to determine for\
                                      \ more complete information about the match.\n\
                                      \nThe confidence of a geocoded location is based\
                                      \ on many factors including the relative importance\
                                      \ of the geocoded location and the user\u2019\
                                      s location, if specified."
                                    type: string
                                    enum:
                                    - High
                                    - Medium
                                    - Low
                                    x-ms-enum:
                                      name: ConfidenceEnum
                                      modelAsString: true
                                      values:
                                      - value: High
                                        description: 'If the confidence is set to
                                          `High`, one or more strong matches were
                                          found. Multiple `High` confidence matches
                                          are sorted in ranked order by importance
                                          when applicable. For example, landmarks
                                          have importance but addresses do not.


                                          If a request includes a location or a view,
                                          then the ranking may change appropriately.
                                          For example, a location query for "Paris"
                                          returns "Paris, France" and "Paris, TX"
                                          both with `High` confidence. "Paris, France"
                                          is always ranked first due to importance
                                          unless a user location indicates that the
                                          user is in or very close to Paris, TX or
                                          the map view indicates that the user is
                                          searching in that area.'
                                      - value: Medium
                                        description: 'In some situations, the returned
                                          match may not be at the same level as the
                                          information provided in the request. For
                                          example, a request may specify address information
                                          and the geocode service may only be able
                                          to match a postal code. In this case, if
                                          the geocode service has a confidence that
                                          the postal code matches the data, the confidence
                                          is set to `Medium` and the match code is
                                          set to `UpHierarchy` to specify that it
                                          could not match all of the information and
                                          had to search up-hierarchy.


                                          If the location information in the query
                                          is ambiguous, and there is no additional
                                          information to rank the locations (such
                                          as user location or the relative importance
                                          of the location), the confidence is set
                                          to `Medium`. For example, a location query
                                          for "148th Ave, Bellevue" may return "148th
                                          Ave SE" and "148th Ave NE" both with `Medium`
                                          confidence.


                                          If the location information in the query
                                          does not provide enough information to geocode
                                          a specific location, a less precise location
                                          value may be returned and the confidence
                                          is set to `Medium`. For example, if an address
                                          is provided, but a match is not found for
                                          the house number, the geocode result with
                                          a Roadblock entity type may be returned.'
                                      - value: Low
                                  matchCodes:
                                    description: 'One or more match code values that
                                      represent the geocoding level for each location
                                      in the response.


                                      For example, a geocoded location with match
                                      codes of `Good` and `Ambiguous` means that more
                                      than one geocode location was found for the
                                      location information and that the geocode service
                                      did not have search up-hierarchy to find a match.


                                      Similarly, a geocoded location with match codes
                                      of `Ambiguous` and `UpHierarchy` implies that
                                      a geocode location could not be found that matched
                                      all the provided location information, so the
                                      geocode service had to search up-hierarchy and
                                      found multiple matches at that level. An example
                                      of up an `Ambiguous` and `UpHierarchy` result
                                      is when you provide complete address information,
                                      but the geocode service cannot locate a match
                                      for the street address and instead returns information
                                      for more than one RoadBlock value.


                                      The possible values are:


                                      `Good`: The location has only one match or all
                                      returned matches are considered strong matches.
                                      For example, a query for New York returns several
                                      Good matches.


                                      `Ambiguous`: The location is one of a set of
                                      possible matches. For example, when you query
                                      for the street address 128 Main St., the response
                                      may return two locations for 128 North Main
                                      St. and 128 South Main St. because there is
                                      not enough information to determine which option
                                      to choose.


                                      `UpHierarchy`: The location represents a move
                                      up the geographic hierarchy. This occurs when
                                      a match for the location request was not found,
                                      so a less precise result is returned. For example,
                                      if a match for the requested address cannot
                                      be found, then a match code of `UpHierarchy`
                                      with a RoadBlock entity type may be returned.'
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                      - Good
                                      - Ambiguous
                                      - UpHierarchy
                                      x-ms-enum:
                                        name: MatchCodesEnum
                                        modelAsString: true
                                        values:
                                        - value: Good
                                        - value: Ambiguous
                                        - value: UpHierarchy
                                  address:
                                    description: The address of the result
                                    type: object
                                    properties:
                                      addressLine:
                                        description: AddressLine that includes Street
                                          Name and Number
                                        type: string
                                      locality:
                                        description: locality property
                                        type: string
                                      neighborhood:
                                        description: neighborhood property
                                        type: string
                                      adminDistricts:
                                        description: The subdivision name in the country
                                          or region for an address. This element is
                                          typically treated as the first order administrative
                                          subdivision, but in some cases it also contains
                                          the second, third, or fourth order subdivision
                                          in a country, dependency, or region.
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                              description: "The name for the corresponding\
                                                \ adminDistrict field, \nFor adminDistrict[0],\
                                                \ this could be full name of state\
                                                \ such as Washington, \nFor adminDistrict[1],\
                                                \ this could be the full name of the\
                                                \ county"
                                            shortName:
                                              type: string
                                              description: "The short name for the\
                                                \ corresponding adminDistrict field,\
                                                \ \nFor adminDistrict[0], this could\
                                                \ be short name of state such as WA,\
                                                \ \nFor adminDistrict[1], this could\
                                                \ be the short name of the county"
                                      postalCode:
                                        description: Postal Code property
                                        type: string
                                      countryRegion:
                                        type: object
                                        properties:
                                          ISO:
                                            description: ISO of country/region
                                            type: string
                                          name:
                                            description: name of country/region
                                            type: string
                                      formattedAddress:
                                        description: Formatted Address property
                                        type: string
                                      intersection:
                                        description: The address of the result.
                                        type: object
                                        properties:
                                          baseStreet:
                                            description: Primary street for the location.
                                            type: string
                                          secondaryStreet1:
                                            description: The first intersecting street.
                                            type: string
                                          secondaryStreet2:
                                            description: If any, the second intersecting
                                              street.
                                            type: string
                                          intersectionType:
                                            description: Type of intersection.
                                            type: string
                                          displayName:
                                            description: Complete name of the intersection.
                                            type: string
                                  geocodePoints:
                                    description: A collection of geocode points that
                                      differ in how they were calculated and their
                                      suggested use.
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        geometry:
                                          type: object
                                          properties:
                                            type:
                                              description: Specifies the `GeoJSON`
                                                type. Must be one of the nine valid
                                                GeoJSON object types - Point, MultiPoint,
                                                LineString, MultiLineString, Polygon,
                                                MultiPolygon, GeometryCollection,
                                                Feature and FeatureCollection.
                                              type: string
                                              enum:
                                              - Point
                                              - MultiPoint
                                              - LineString
                                              - MultiLineString
                                              - Polygon
                                              - MultiPolygon
                                              - GeometryCollection
                                              - Feature
                                              - FeatureCollection
                                              x-ms-enum:
                                                name: GeoJsonObjectType
                                                modelAsString: false
                                                values:
                                                - value: Point
                                                  description: '`GeoJSON Point` geometry.'
                                                  name: GeoJsonPoint
                                                - value: MultiPoint
                                                  description: '`GeoJSON MultiPoint`
                                                    geometry.'
                                                  name: GeoJsonMultiPoint
                                                - value: LineString
                                                  description: '`GeoJSON LineString`
                                                    geometry.'
                                                  name: GeoJsonLineString
                                                - value: MultiLineString
                                                  description: '`GeoJSON MultiLineString`
                                                    geometry.'
                                                  name: GeoJsonMultiLineString
                                                - value: Polygon
                                                  description: '`GeoJSON Polygon`
                                                    geometry.'
                                                  name: GeoJsonPolygon
                                                - value: MultiPolygon
                                                  description: '`GeoJSON MultiPolygon`
                                                    geometry.'
                                                  name: GeoJsonMultiPolygon
                                                - value: GeometryCollection
                                                  description: '`GeoJSON GeometryCollection`
                                                    geometry.'
                                                  name: GeoJsonGeometryCollection
                                                - value: Feature
                                                  description: '`GeoJSON Feature`
                                                    object.'
                                                  name: GeoJsonFeature
                                                - value: FeatureCollection
                                                  description: '`GeoJSON FeatureCollection`
                                                    object.'
                                                  name: GeoJsonFeatureCollection
                                            bbox:
                                              x-ms-client-name: boundingBox
                                              description: Bounding box. Projection
                                                used - EPSG:3857. Please refer to
                                                [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                                                for details.
                                              type: array
                                              items:
                                                type: number
                                                format: double
                                            coordinates:
                                              description: A `Position` is an array
                                                of numbers with two or more elements.
                                                The first two elements are _longitude_
                                                and _latitude_, precisely in that
                                                order. _Altitude/Elevation_ is an
                                                optional third element. Please refer
                                                to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.1)
                                                for details.
                                              type: array
                                              items:
                                                type: number
                                                format: double
                                          required:
                                          - type
                                          - coordinates
                                          description: A valid `GeoJSON` object. Please
                                            refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3)
                                            for details.
                                          discriminator:
                                            propertyName: type
                                          x-ms-discriminator-value: Point
                                        calculationMethod:
                                          description: The method that was used to
                                            compute the geocode point.
                                          type: string
                                          enum:
                                          - Interpolation
                                          - InterpolationOffset
                                          - Parcel
                                          - Rooftop
                                          x-ms-enum:
                                            name: CalculationMethodEnum
                                            modelAsString: true
                                            values:
                                            - value: Interpolation
                                              description: The geocode point was matched
                                                to a point on a road using interpolation.
                                            - value: InterpolationOffset
                                              description: The geocode point was matched
                                                to a point on a road using interpolation
                                                with an additional offset to shift
                                                the point to the side of the street.
                                            - value: Parcel
                                              description: The geocode point was matched
                                                to the center of a parcel.
                                            - value: Rooftop
                                              description: The geocode point was matched
                                                to the rooftop of a building.
                                        usageTypes:
                                          description: 'The best use for the geocode
                                            point.

                                            Each geocode point is defined as a `Route`
                                            point, a `Display` point or both.

                                            Use `Route` points if you are creating
                                            a route to the location. Use `Display`
                                            points if you are showing the location
                                            on a map. For example, if the location
                                            is a park, a `Route` point may specify
                                            an entrance to the park where you can
                                            enter with a car, and a `Display` point
                                            may be a point that specifies the center
                                            of the park.'
                                          type: array
                                          items:
                                            type: string
                                            enum:
                                            - Display
                                            - Route
                                            x-ms-enum:
                                              name: UsageTypeEnum
                                              modelAsString: true
                                              values:
                                              - value: Display
                                              - value: Route
                              geometry:
                                type: object
                                properties:
                                  type:
                                    description: Specifies the `GeoJSON` type. Must
                                      be one of the nine valid GeoJSON object types
                                      - Point, MultiPoint, LineString, MultiLineString,
                                      Polygon, MultiPolygon, GeometryCollection, Feature
                                      and FeatureCollection.
                                    type: string
                                    enum:
                                    - Point
                                    - MultiPoint
                                    - LineString
                                    - MultiLineString
                                    - Polygon
                                    - MultiPolygon
                                    - GeometryCollection
                                    - Feature
                                    - FeatureCollection
                                    x-ms-enum:
                                      name: GeoJsonObjectType
                                      modelAsString: false
                                      values:
                                      - value: Point
                                        description: '`GeoJSON Point` geometry.'
                                        name: GeoJsonPoint
                                      - value: MultiPoint
                                        description: '`GeoJSON MultiPoint` geometry.'
                                        name: GeoJsonMultiPoint
                                      - value: LineString
                                        description: '`GeoJSON LineString` geometry.'
                                        name: GeoJsonLineString
                                      - value: MultiLineString
                                        description: '`GeoJSON MultiLineString` geometry.'
                                        name: GeoJsonMultiLineString
                                      - value: Polygon
                                        description: '`GeoJSON Polygon` geometry.'
                                        name: GeoJsonPolygon
                                      - value: MultiPolygon
                                        description: '`GeoJSON MultiPolygon` geometry.'
                                        name: GeoJsonMultiPolygon
                                      - value: GeometryCollection
                                        description: '`GeoJSON GeometryCollection`
                                          geometry.'
                                        name: GeoJsonGeometryCollection
                                      - value: Feature
                                        description: '`GeoJSON Feature` object.'
                                        name: GeoJsonFeature
                                      - value: FeatureCollection
                                        description: '`GeoJSON FeatureCollection`
                                          object.'
                                        name: GeoJsonFeatureCollection
                                  bbox:
                                    x-ms-client-name: boundingBox
                                    description: Bounding box. Projection used - EPSG:3857.
                                      Please refer to [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                                      for details.
                                    type: array
                                    items:
                                      type: number
                                      format: double
                                  coordinates:
                                    description: A `Position` is an array of numbers
                                      with two or more elements. The first two elements
                                      are _longitude_ and _latitude_, precisely in
                                      that order. _Altitude/Elevation_ is an optional
                                      third element. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.1)
                                      for details.
                                    type: array
                                    items:
                                      type: number
                                      format: double
                                required:
                                - type
                                - coordinates
                                description: A valid `GeoJSON` object. Please refer
                                  to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3)
                                  for details.
                                discriminator:
                                  propertyName: type
                                x-ms-discriminator-value: Point
                              bbox:
                                x-ms-client-name: boundingBox
                                description: Bounding box. Projection used - EPSG:3857.
                                  Please refer to [RFC 7946](https://datatracker.ietf.org/doc/html/rfc7946#section-5)
                                  for details.
                                type: array
                                items:
                                  type: number
                                  format: double
                            required:
                            - geometry
                        nextLink:
                          type: string
                          description: The is the link to the next page of the features
                            returned. If it's the last page, no this field.
                        error:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                                  details:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: object
                                      description: The error detail.
                                      properties:
                                        code:
                                          readOnly: true
                                          type: string
                                          description: The error code.
                                        message:
                                          readOnly: true
                                          type: string
                                          description: The error message.
                                        target:
                                          readOnly: true
                                          type: string
                                          description: The error target.
                                    x-ms-identifiers: []
                                    description: The error details.
                                  additionalInfo:
                                    readOnly: true
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          readOnly: true
                                          type: string
                                          description: The additional info type.
                                        info:
                                          readOnly: true
                                          type: object
                                          description: The additional info.
                                      description: The resource management error additional
                                        info.
                                    x-ms-identifiers: []
                                    description: The error additional info.
                              x-ms-identifiers: []
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                  nextLink:
                    type: string
                    description: The is the link to the next page of the features
                      returned. If it's the last page, no this field.
        default:
          description: An unexpected error occurred.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers: []
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers: []
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /search/polygon:
    get:
      summary: Use to get polygon data of a geographical area shape such as a city
        or a country region.
      description: '


        The `Get Polygon` API is an HTTP `GET` request that supplies polygon data
        of a geographical area outline such as a city or a country region.'
      operationId: Search_GetPolygon
      parameters:
      - name: x-ms-client-id
        x-ms-client-name: clientId
        description: Specifies which account is intended for usage in conjunction
          with the Azure AD security model.  It represents a unique ID for the Azure
          Maps account and can be retrieved from the Azure Maps management  plane
          Account API. To use Azure AD security in Azure Maps see the following [articles](https://aka.ms/amauthdetails)
          for guidance.
        in: header
        x-ms-parameter-location: client
        schema:
          type: string
      - name: api-version
        description: Version number of Azure Maps API.
        in: query
        required: true
        x-ms-parameter-location: client
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: "Language in which search results should be returned. \n\nPlease\
          \ refer to [Supported Languages](/azure/azure-maps/supported-languages)\
          \ for details."
        required: false
        x-ms-parameter-location: client
        schema:
          type: string
      - name: coordinates
        in: query
        description: 'A point on the earth specified as a longitude and latitude.
          Example: &coordinates=lon,lat'
        required: true
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: number
            format: double
          minItems: 2
          maxItems: 2
      - name: view
        in: query
        description: "A string that represents an [ISO 3166-1 Alpha-2 region/country\
          \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). This will alter\
          \ Geopolitical disputed borders and labels to align with the specified user\
          \ region. By default, the View parameter is set to \u201CAuto\u201D even\
          \ if you haven\u2019t defined it in the request.\n\nPlease refer to [Supported\
          \ Views](https://aka.ms/AzureMapsLocalizationViews) for details and to see\
          \ the available Views."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resultType
        in: query
        description: The geopolitical concept to return a boundary for. If not specified,
          the default is `countryRegion` result type.
        required: false
        x-ms-enum:
          name: BoundaryResultTypeEnum
          modelAsString: true
          values:
          - name: countryRegion
            value: countryRegion
            description: Country or region.
          - name: adminDistrict
            value: adminDistrict
            description: First administrative level within the country/region level,
              such as a state or a province.
          - name: adminDistrict2
            value: adminDistrict2
            description: Second administrative level within the country/region level,
              such as a county.
          - name: postalCode
            value: postalCode
            description: The smallest post code category, such as a zip code.
          - name: postalCode2
            value: postalCode2
            description: The next largest post code category after postalCode that
              is created by aggregating postalCode areas.
          - name: postalCode3
            value: postalCode3
            description: The next largest post code category after postalCode2 that
              is created by aggregating postalCode2 areas.
          - name: postalCode4
            value: postalCode4
            description: The next largest post code category after postalCode3 that
              is created by aggregating postalCode3 areas.
          - name: neighborhood
            value: neighborhood
            description: A section of a populated place that is typically well-known,
              but often with indistinct boundaries.
          - name: locality
            value: locality
            description: A concentrated area of human settlement, such as a city,
              town or village.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - countryRegion
          - adminDistrict
          - adminDistrict2
          - postalCode
          - postalCode2
          - postalCode3
          - postalCode4
          - neighborhood
          - locality
          default: countryRegion
      - name: resolution
        in: query
        description: Resolution determines the amount of points to send back. If not
          specified, the default is medium resolution.
        required: false
        x-ms-enum:
          name: ResolutionEnum
          modelAsString: true
          values:
          - name: small
            value: small
            description: Return the boundary geometry with the least amount of points.
          - name: medium
            value: medium
            description: Return the boundary geometry with more or the same amount
              of points as small.
          - name: large
            value: large
            description: Return the boundary geometry with more or the same amount
              of points as medium.
          - name: huge
            value: huge
            description: Return the boundary geometry with more or the same amount
              of points as large.
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - small
          - medium
          - large
          - huge
          default: medium
[...]
