openapi: 3.0.0
info:
  version: 2019-12-01
  title: Software Plan RP
  description: Azure software plans let users create and manage licenses for various
    software used in Azure.
  x-ms-code-generation-settings:
    name: SoftwareplanClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.SoftwarePlan/register:
    post:
      description: Register to Microsoft.SoftwarePlan resource provider.
      operationId: SoftwarePlan_Register
      tags:
      - Software plan
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '204':
          description: OK - Microsoft.SoftwarePlan is registered
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits:
    get:
      description: Get all hybrid use benefits associated with an ARM resource.
      operationId: HybridUseBenefit_List
      tags:
      - Hybrid use benefits
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: Supports applying filter on the type of SKU
        schema:
          type: string
      responses:
        '200':
          description: OK - returns an array of plans at that scope
          content:
            application/json:
              schema:
                description: List of hybrid use benefits
                properties:
                  value:
                    description: List of hybrid use benefits
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        sku:
                          description: Hybrid use benefit SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        etag:
                          type: integer
                          format: int32
                          description: Indicates the revision of the hybrid use benefit
                          readOnly: true
                        properties:
                          description: Property bag for a hybrid use benefit response
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              type: string
                              description: Provisioning state
                              readOnly: true
                              enum:
                              - Succeeded
                              - Cancelled
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            createdDate:
                              type: string
                              description: Created date
                              format: date-time
                              readOnly: true
                            lastUpdatedDate:
                              type: string
                              description: Last updated date
                              format: date-time
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - sku
                  nextLink:
                    type: string
                    description: Url to get the next page of items.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}:
    put:
      description: Create a new hybrid use benefit under a given scope
      operationId: HybridUseBenefit_Create
      tags:
      - Hybrid use benefit
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: planId
        in: path
        x-ms-parameter-location: method
        required: true
        description: This is a unique identifier for a plan. Should be a guid.
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                sku:
                  description: Hybrid use benefit SKU
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the SKU to be applied
                etag:
                  type: integer
                  format: int32
                  description: Indicates the revision of the hybrid use benefit
                  readOnly: true
                properties:
                  description: Property bag for a hybrid use benefit response
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      type: string
                      description: Provisioning state
                      readOnly: true
                      enum:
                      - Succeeded
                      - Cancelled
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    createdDate:
                      type: string
                      description: Created date
                      format: date-time
                      readOnly: true
                    lastUpdatedDate:
                      type: string
                      description: Last updated date
                      format: date-time
                      readOnly: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - sku
        description: Request body for creating a hybrid use benefit
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK - returns the plan that is created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  sku:
                    description: Hybrid use benefit SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  etag:
                    type: integer
                    format: int32
                    description: Indicates the revision of the hybrid use benefit
                    readOnly: true
                  properties:
                    description: Property bag for a hybrid use benefit response
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Succeeded
                        - Cancelled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdDate:
                        type: string
                        description: Created date
                        format: date-time
                        readOnly: true
                      lastUpdatedDate:
                        type: string
                        description: Last updated date
                        format: date-time
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
    patch:
      description: Updates an existing hybrid use benefit
      operationId: HybridUseBenefit_Update
      tags:
      - Hybrid use benefit
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: planId
        in: path
        x-ms-parameter-location: method
        required: true
        description: This is a unique identifier for a plan. Should be a guid.
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                sku:
                  description: Hybrid use benefit SKU
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the SKU to be applied
                etag:
                  type: integer
                  format: int32
                  description: Indicates the revision of the hybrid use benefit
                  readOnly: true
                properties:
                  description: Property bag for a hybrid use benefit response
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      type: string
                      description: Provisioning state
                      readOnly: true
                      enum:
                      - Succeeded
                      - Cancelled
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    createdDate:
                      type: string
                      description: Created date
                      format: date-time
                      readOnly: true
                    lastUpdatedDate:
                      type: string
                      description: Last updated date
                      format: date-time
                      readOnly: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - sku
        description: Request body for creating a hybrid use benefit
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK - successfully updated the given hybrid use benefit
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  sku:
                    description: Hybrid use benefit SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  etag:
                    type: integer
                    format: int32
                    description: Indicates the revision of the hybrid use benefit
                    readOnly: true
                  properties:
                    description: Property bag for a hybrid use benefit response
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Succeeded
                        - Cancelled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdDate:
                        type: string
                        description: Created date
                        format: date-time
                        readOnly: true
                      lastUpdatedDate:
                        type: string
                        description: Last updated date
                        format: date-time
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
    get:
      description: Gets a given plan ID
      operationId: HybridUseBenefit_Get
      tags:
      - Hybrid use benefit
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: planId
        in: path
        x-ms-parameter-location: method
        required: true
        description: This is a unique identifier for a plan. Should be a guid.
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: OK - returns the plan that is created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  sku:
                    description: Hybrid use benefit SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  etag:
                    type: integer
                    format: int32
                    description: Indicates the revision of the hybrid use benefit
                    readOnly: true
                  properties:
                    description: Property bag for a hybrid use benefit response
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Succeeded
                        - Cancelled
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      createdDate:
                        type: string
                        description: Created date
                        format: date-time
                        readOnly: true
                      lastUpdatedDate:
                        type: string
                        description: Last updated date
                        format: date-time
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
    delete:
      description: Deletes a given plan ID
      operationId: HybridUseBenefit_Delete
      tags:
      - Hybrid use benefit
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: planId
        in: path
        x-ms-parameter-location: method
        required: true
        description: This is a unique identifier for a plan. Should be a guid.
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: OK - successfully deleted the given plan
        '204':
          description: OK - there was no plan to delete
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}/revisions:
    get:
      description: Gets the version history of a hybrid use benefit
      operationId: HybridUseBenefitRevision_List
      tags:
      - Hybrid use benefit revisions
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: planId
        in: path
        x-ms-parameter-location: method
        required: true
        description: This is a unique identifier for a plan. Should be a guid.
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: OK - returns an array of plans ordered by revision
          content:
            application/json:
              schema:
                description: List of hybrid use benefits
                properties:
                  value:
                    description: List of hybrid use benefits
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        sku:
                          description: Hybrid use benefit SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        etag:
                          type: integer
                          format: int32
                          description: Indicates the revision of the hybrid use benefit
                          readOnly: true
                        properties:
                          description: Property bag for a hybrid use benefit response
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              type: string
                              description: Provisioning state
                              readOnly: true
                              enum:
                              - Succeeded
                              - Cancelled
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            createdDate:
                              type: string
                              description: Created date
                              format: date-time
                              readOnly: true
                            lastUpdatedDate:
                              type: string
                              description: Last updated date
                              format: date-time
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - sku
                  nextLink:
                    type: string
                    description: Url to get the next page of items.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
  /{scope}/providers/Microsoft.SoftwarePlan/operations:
    get:
      summary: Get operations.
      description: List all the operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: scope
        in: path
        x-ms-parameter-location: method
        required: true
        description: The scope at which the operation is performed. This is limited
          to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
          for now
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      tags:
      - Software plan operations
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                type: object
                description: List all the operations.
                properties:
                  value:
                    type: array
                    description: List of all operations
                    items:
                      type: object
                      description: Operation response.
                      properties:
                        name:
                          type: string
                          description: Name of the operation
                        display:
                          description: Display properties for the operation
                          type: object
                          properties:
                            provider:
                              description: Resource Provider name
                              type: string
                            resource:
                              description: Resource that is acted upon
                              type: string
                            operation:
                              description: Operation to be performed
                              type: string
                            description:
                              description: Description of the operation
                              type: string
                        origin:
                          description: Origin of the response
                          type: string
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: Url to get the next page of items.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                description: Error object returned by the RP
                properties:
                  code:
                    description: Error code
                    type: string
                    enum:
                    - InvalidRequestParameter
                    - MissingRequestParameter
                    x-ms-enum:
                      name: ErrorCode
                      modelAsString: true
                  message:
                    type: string
                    description: A user readable error message. Localized based on
                      x-ms-effective-locale header in the request
components:
  parameters:
    ScopeParameter:
      name: scope
      in: path
      x-ms-parameter-location: method
      required: true
      description: The scope at which the operation is performed. This is limited
        to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts
        for now
      schema:
        type: string
    PlanIdParameter:
      name: planId
      in: path
      x-ms-parameter-location: method
      required: true
      description: This is a unique identifier for a plan. Should be a guid.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
  requestBodies:
    HybridUseBenefit_CreateBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              sku:
                description: Hybrid use benefit SKU
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the SKU to be applied
              etag:
                type: integer
                format: int32
                description: Indicates the revision of the hybrid use benefit
                readOnly: true
              properties:
                description: Property bag for a hybrid use benefit response
                x-ms-client-flatten: true
                properties:
                  provisioningState:
                    type: string
                    description: Provisioning state
                    readOnly: true
                    enum:
                    - Succeeded
                    - Cancelled
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  createdDate:
                    type: string
                    description: Created date
                    format: date-time
                    readOnly: true
                  lastUpdatedDate:
                    type: string
                    description: Last updated date
                    format: date-time
                    readOnly: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - sku
      description: Request body for creating a hybrid use benefit
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Error:
      type: object
      description: Error object returned by the RP
      properties:
        code:
          description: Error code
          type: string
          enum:
          - InvalidRequestParameter
          - MissingRequestParameter
          x-ms-enum:
            name: ErrorCode
            modelAsString: true
        message:
          type: string
          description: A user readable error message. Localized based on x-ms-effective-locale
            header in the request
    ErrorCode:
      type: string
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
    Sku:
      type: object
      description: The SKU to be applied for this resource
      properties:
        name:
          type: string
          description: Name of the SKU to be applied
    ProvisioningState:
      type: string
      description: Represent the current state of the Reservation.
      enum:
      - Succeeded
      - Cancelled
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    HybridUseBenefitListResult:
      description: List of hybrid use benefits
      properties:
        value:
          description: List of hybrid use benefits
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              sku:
                description: Hybrid use benefit SKU
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the SKU to be applied
              etag:
                type: integer
                format: int32
                description: Indicates the revision of the hybrid use benefit
                readOnly: true
              properties:
                description: Property bag for a hybrid use benefit response
                x-ms-client-flatten: true
                properties:
                  provisioningState:
                    type: string
                    description: Provisioning state
                    readOnly: true
                    enum:
                    - Succeeded
                    - Cancelled
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  createdDate:
                    type: string
                    description: Created date
                    format: date-time
                    readOnly: true
                  lastUpdatedDate:
                    type: string
                    description: Last updated date
                    format: date-time
                    readOnly: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - sku
        nextLink:
          type: string
          description: Url to get the next page of items.
    HybridUseBenefitModel:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        sku:
          description: Hybrid use benefit SKU
          type: object
          properties:
            name:
              type: string
              description: Name of the SKU to be applied
        etag:
          type: integer
          format: int32
          description: Indicates the revision of the hybrid use benefit
          readOnly: true
        properties:
          description: Property bag for a hybrid use benefit response
          x-ms-client-flatten: true
          properties:
            provisioningState:
              type: string
              description: Provisioning state
              readOnly: true
              enum:
              - Succeeded
              - Cancelled
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            createdDate:
              type: string
              description: Created date
              format: date-time
              readOnly: true
            lastUpdatedDate:
              type: string
              description: Last updated date
              format: date-time
              readOnly: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - sku
    HybridUseBenefitProperties:
      description: Hybrid use benefit properties
      properties:
        provisioningState:
          type: string
          description: Provisioning state
          readOnly: true
          enum:
          - Succeeded
          - Cancelled
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        createdDate:
          type: string
          description: Created date
          format: date-time
          readOnly: true
        lastUpdatedDate:
          type: string
          description: Last updated date
          format: date-time
          readOnly: true
    OperationList:
      type: object
      description: List all the operations.
      properties:
        value:
          type: array
          description: List of all operations
          items:
            type: object
            description: Operation response.
            properties:
              name:
                type: string
                description: Name of the operation
              display:
                description: Display properties for the operation
                type: object
                properties:
                  provider:
                    description: Resource Provider name
                    type: string
                  resource:
                    description: Resource that is acted upon
                    type: string
                  operation:
                    description: Operation to be performed
                    type: string
                  description:
                    description: Description of the operation
                    type: string
              origin:
                description: Origin of the response
                type: string
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: Url to get the next page of items.
    OperationResponse:
      type: object
      description: Operation response.
      properties:
        name:
          type: string
          description: Name of the operation
        display:
          description: Display properties for the operation
          type: object
          properties:
            provider:
              description: Resource Provider name
              type: string
            resource:
              description: Resource that is acted upon
              type: string
            operation:
              description: Operation to be performed
              type: string
            description:
              description: Description of the operation
              type: string
        origin:
          description: Origin of the response
          type: string
    OperationDisplay:
      type: object
      description: Display fields for an operation.
      properties:
        provider:
          description: Resource Provider name
          type: string
        resource:
          description: Resource that is acted upon
          type: string
        operation:
          description: Operation to be performed
          type: string
        description:
          description: Description of the operation
          type: string
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
