openapi: 3.0.0
info:
  version: 2023-10-01-preview
  title: Workloads Client
  description: The workloads connector client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/connectors/{connectorName}
  : put:
      tags:
      - Connector
      operationId: Connectors_Create
      x-ms-long-running-operation: true
      description: Creates a connector resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the connector resource
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]+-?[A-Za-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                identity:
                  description: Managed service identity (user assigned identities)
                  type: object
                  properties:
                    type:
                      description: Type of manage identity
                      enum:
                      - None
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      description: User assigned identities dictionary
                      type: object
                      title: User-Assigned Identities
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
                properties:
                  x-ms-client-flatten: true
                  description: Defines the connector resource properties.
                  type: object
                  required:
                  - sourceResourceId
                  properties:
                    sourceResourceId:
                      description: Defines the ID of the connector's source resource.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    provisioningState:
                      readOnly: true
                      description: Defines the provisioning states.
                      enum:
                      - Succeeded
                      - Updating
                      - Creating
                      - Failed
                      - Deleting
                      - Canceled
                      type: string
                      x-ms-enum:
                        name: ConnectorProvisioningState
                        modelAsString: true
                    errors:
                      description: Indicates any errors on the connector resource.
                      readOnly: true
                      type: object
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                        details:
                          description: Internal error details.
                          type: array
                          items:
                            type: object
                            description: Error definition.
                            properties:
                              code:
                                description: Service specific error code which serves
                                  as the substatus for the HTTP error code.
                                type: string
                                readOnly: true
                              message:
                                description: Description of the error.
                                type: string
                                readOnly: true
                              details:
                                description: Internal error details.
                                type: array
                                items:
                                  type: object
                                  description: Error definition.
                                  properties:
                                    code:
                                      description: Service specific error code which
                                        serves as the substatus for the HTTP error
                                        code.
                                      type: string
                                      readOnly: true
                                    message:
                                      description: Description of the error.
                                      type: string
                                      readOnly: true
                                x-ms-identifiers: []
                                readOnly: true
                          x-ms-identifiers: []
                          readOnly: true
                    managedResourceGroupConfiguration:
                      description: Managed resource group configuration
                      type: object
                      properties:
                        name:
                          type: string
                          description: Managed resource group name
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Connector resource request body.
      responses:
        '200':
          description: Describes the connector resource which is updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed service identity (user assigned identities)
                    type: object
                    properties:
                      type:
                        description: Type of manage identity
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User assigned identities dictionary
                        type: object
                        title: User-Assigned Identities
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: Defines the connector resource properties.
                    type: object
                    required:
                    - sourceResourceId
                    properties:
                      sourceResourceId:
                        description: Defines the ID of the connector's source resource.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        readOnly: true
                        description: Defines the provisioning states.
                        enum:
                        - Succeeded
                        - Updating
                        - Creating
                        - Failed
                        - Deleting
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ConnectorProvisioningState
                          modelAsString: true
                      errors:
                        description: Indicates any errors on the connector resource.
                        readOnly: true
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Describes the connector resource created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed service identity (user assigned identities)
                    type: object
                    properties:
                      type:
                        description: Type of manage identity
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User assigned identities dictionary
                        type: object
                        title: User-Assigned Identities
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: Defines the connector resource properties.
                    type: object
                    required:
                    - sourceResourceId
                    properties:
                      sourceResourceId:
                        description: Defines the ID of the connector's source resource.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        readOnly: true
                        description: Defines the provisioning states.
                        enum:
                        - Succeeded
                        - Updating
                        - Creating
                        - Failed
                        - Deleting
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ConnectorProvisioningState
                          modelAsString: true
                      errors:
                        description: Indicates any errors on the connector resource.
                        readOnly: true
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - Connector
      operationId: Connectors_Get
      description: Gets a connector resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the connector resource
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]+-?[A-Za-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Describes the connector resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed service identity (user assigned identities)
                    type: object
                    properties:
                      type:
                        description: Type of manage identity
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User assigned identities dictionary
                        type: object
                        title: User-Assigned Identities
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: Defines the connector resource properties.
                    type: object
                    required:
                    - sourceResourceId
                    properties:
                      sourceResourceId:
                        description: Defines the ID of the connector's source resource.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        readOnly: true
                        description: Defines the provisioning states.
                        enum:
                        - Succeeded
                        - Updating
                        - Creating
                        - Failed
                        - Deleting
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ConnectorProvisioningState
                          modelAsString: true
                      errors:
                        description: Indicates any errors on the connector resource.
                        readOnly: true
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Connector
      operationId: Connectors_Update
      description: Updates a connector resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the connector resource
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]+-?[A-Za-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: Defines the request body for updating a connector.
              type: object
              properties:
                tags:
                  description: Gets or sets the resource tags.
                  type: object
                  additionalProperties:
                    type: string
                identity:
                  description: Managed service identity (user assigned identities)
                  type: object
                  properties:
                    type:
                      description: Type of manage identity
                      enum:
                      - None
                      - UserAssigned
                      type: string
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      description: User assigned identities dictionary
                      type: object
                      title: User-Assigned Identities
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
        description: Request body to update a connector resource.
      responses:
        '200':
          description: Describes the connector resource which is successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Managed service identity (user assigned identities)
                    type: object
                    properties:
                      type:
                        description: Type of manage identity
                        enum:
                        - None
                        - UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        description: User assigned identities dictionary
                        type: object
                        title: User-Assigned Identities
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                  properties:
                    x-ms-client-flatten: true
                    description: Defines the connector resource properties.
                    type: object
                    required:
                    - sourceResourceId
                    properties:
                      sourceResourceId:
                        description: Defines the ID of the connector's source resource.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        readOnly: true
                        description: Defines the provisioning states.
                        enum:
                        - Succeeded
                        - Updating
                        - Creating
                        - Failed
                        - Deleting
                        - Canceled
                        type: string
                        x-ms-enum:
                          name: ConnectorProvisioningState
                          modelAsString: true
                      errors:
                        description: Indicates any errors on the connector resource.
                        readOnly: true
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - Connector
      operationId: Connectors_Delete
      x-ms-long-running-operation: true
      description: Deletes a connector resource and its child resources, which are
        the associated connection resources. All the child resources have to be deleted
        before deleting the connector resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: connectorName
        in: path
        required: true
        description: The name of the connector resource
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[A-Za-z0-9]+-?[A-Za-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Accepted
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/connectors:
    get:
      tags:
      - Connectors
      operationId: Connectors_ListByResourceGroup
      x-ms-pageable:
        nextLinkName: nextLink
      description: Gets all connector resources in a Resource Group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list of all connector resources.
          content:
            application/json:
              schema:
                description: Defines the collection of connector resources.
                type: object
                required:
                - value
                properties:
                  value:
                    description: Gets the list of connector resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed service identity (user assigned identities)
                          type: object
                          properties:
                            type:
                              description: Type of manage identity
                              enum:
                              - None
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              description: User assigned identities dictionary
                              type: object
                              title: User-Assigned Identities
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                        properties:
                          x-ms-client-flatten: true
                          description: Defines the connector resource properties.
                          type: object
                          required:
                          - sourceResourceId
                          properties:
                            sourceResourceId:
                              description: Defines the ID of the connector's source
                                resource.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            provisioningState:
                              readOnly: true
                              description: Defines the provisioning states.
                              enum:
                              - Succeeded
                              - Updating
                              - Creating
                              - Failed
                              - Deleting
                              - Canceled
                              type: string
                              x-ms-enum:
                                name: ConnectorProvisioningState
                                modelAsString: true
                            errors:
                              description: Indicates any errors on the connector resource.
                              readOnly: true
                              type: object
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                      details:
                                        description: Internal error details.
                                        type: array
                                        items:
                                          type: object
                                          description: Error definition.
                                          properties:
                                            code:
                                              description: Service specific error
                                                code which serves as the substatus
                                                for the HTTP error code.
                                              type: string
                                              readOnly: true
                                            message:
                                              description: Description of the error.
                                              type: string
                                              readOnly: true
                                        x-ms-identifiers: []
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            managedResourceGroupConfiguration:
                              description: Managed resource group configuration
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Managed resource group name
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Gets the value of next link.
                    type: string
                    format: uri
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Workloads/connectors:
    get:
      tags:
      - Connectors
      operationId: Connectors_ListBySubscription
      x-ms-pageable:
        nextLinkName: nextLink
      description: Gets all connector resources in a Subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The list of all connector resources in the Subscription.
          content:
            application/json:
              schema:
                description: Defines the collection of connector resources.
                type: object
                required:
                - value
                properties:
                  value:
                    description: Gets the list of connector resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Managed service identity (user assigned identities)
                          type: object
                          properties:
                            type:
                              description: Type of manage identity
                              enum:
                              - None
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              description: User assigned identities dictionary
                              type: object
                              title: User-Assigned Identities
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                        properties:
                          x-ms-client-flatten: true
                          description: Defines the connector resource properties.
                          type: object
                          required:
                          - sourceResourceId
                          properties:
                            sourceResourceId:
                              description: Defines the ID of the connector's source
                                resource.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            provisioningState:
                              readOnly: true
                              description: Defines the provisioning states.
                              enum:
                              - Succeeded
                              - Updating
                              - Creating
                              - Failed
                              - Deleting
                              - Canceled
                              type: string
                              x-ms-enum:
                                name: ConnectorProvisioningState
                                modelAsString: true
                            errors:
                              description: Indicates any errors on the connector resource.
                              readOnly: true
                              type: object
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
[...]
