openapi: 3.0.0
info:
  title: ACE Provisioning ManagementPartner API
  description: This API describe ACE Provisioning ManagementPartner
  version: 2018-02-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.ManagementPartner/partners/{partnerId}:
    get:
      summary: Get a specific `Partner`.
      description: Get the management partner using the partnerId, objectId and tenantId.
      operationId: Partner_Get
      parameters:
      - name: partnerId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Id of the Partner
        schema:
          type: string
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Partner
      responses:
        '200':
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations response
                x-ms-azure-resource: true
                properties:
                  etag:
                    type: integer
                    description: Type of the partner
                  id:
                    type: string
                    readOnly: true
                    description: Identifier of the partner
                  name:
                    type: string
                    readOnly: true
                    description: Name of the partner
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the partner
                    type: object
                    properties:
                      partnerId:
                        type: string
                        description: This is the partner id
                      partnerName:
                        type: string
                        description: This is the partner name
                      tenantId:
                        type: string
                        description: This is the tenant id.
                      objectId:
                        type: string
                        description: This is the object id.
                      version:
                        type: integer
                        format: int32
                        description: This is the version.
                      updatedTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was updated.
                      createdTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was created.
                      state:
                        x-ms-client-flatten: true
                        description: This is the partner state
                        type: string
                        enum:
                        - Active
                        - Deleted
                        x-ms-enum:
                          name: ManagementPartnerState
                          modelAsString: true
                  type:
                    type: string
                    readOnly: true
                    description: Type of resource. "Microsoft.ManagementPartner/partners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
    put:
      summary: Create a specific `Partner`.
      description: Create a management partner for the objectId and tenantId.
      operationId: Partner_Create
      parameters:
      - name: partnerId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Id of the Partner
        schema:
          type: string
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Partner
      responses:
        '200':
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations response
                x-ms-azure-resource: true
                properties:
                  etag:
                    type: integer
                    description: Type of the partner
                  id:
                    type: string
                    readOnly: true
                    description: Identifier of the partner
                  name:
                    type: string
                    readOnly: true
                    description: Name of the partner
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the partner
                    type: object
                    properties:
                      partnerId:
                        type: string
                        description: This is the partner id
                      partnerName:
                        type: string
                        description: This is the partner name
                      tenantId:
                        type: string
                        description: This is the tenant id.
                      objectId:
                        type: string
                        description: This is the object id.
                      version:
                        type: integer
                        format: int32
                        description: This is the version.
                      updatedTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was updated.
                      createdTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was created.
                      state:
                        x-ms-client-flatten: true
                        description: This is the partner state
                        type: string
                        enum:
                        - Active
                        - Deleted
                        x-ms-enum:
                          name: ManagementPartnerState
                          modelAsString: true
                  type:
                    type: string
                    readOnly: true
                    description: Type of resource. "Microsoft.ManagementPartner/partners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
    patch:
      summary: Update a specific `Partner`.
      description: Update the management partner for the objectId and tenantId.
      operationId: Partner_Update
      parameters:
      - name: partnerId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Id of the Partner
        schema:
          type: string
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Partner
      responses:
        '200':
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations response
                x-ms-azure-resource: true
                properties:
                  etag:
                    type: integer
                    description: Type of the partner
                  id:
                    type: string
                    readOnly: true
                    description: Identifier of the partner
                  name:
                    type: string
                    readOnly: true
                    description: Name of the partner
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the partner
                    type: object
                    properties:
                      partnerId:
                        type: string
                        description: This is the partner id
                      partnerName:
                        type: string
                        description: This is the partner name
                      tenantId:
                        type: string
                        description: This is the tenant id.
                      objectId:
                        type: string
                        description: This is the object id.
                      version:
                        type: integer
                        format: int32
                        description: This is the version.
                      updatedTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was updated.
                      createdTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was created.
                      state:
                        x-ms-client-flatten: true
                        description: This is the partner state
                        type: string
                        enum:
                        - Active
                        - Deleted
                        x-ms-enum:
                          name: ManagementPartnerState
                          modelAsString: true
                  type:
                    type: string
                    readOnly: true
                    description: Type of resource. "Microsoft.ManagementPartner/partners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
    delete:
      summary: Delete a specific `Partner`.
      description: Delete the management partner for the objectId and tenantId.
      operationId: Partner_Delete
      parameters:
      - name: partnerId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Id of the Partner
        schema:
          type: string
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Partner
      responses:
        '200':
          description: Deleted the `Partner`.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
  /providers/Microsoft.ManagementPartner/operations:
    get:
      summary: Get operations.
      description: List all the operations.
      operationId: Operation_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Operation
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations list
                properties:
                  value:
                    type: array
                    items:
                      description: this is the operation response property
                      type: object
                      properties:
                        name:
                          type: string
                          description: this is the operation response name
                        display:
                          description: this is the operation display
                          type: object
                          properties:
                            provider:
                              type: string
                              description: the is management partner provider
                            resource:
                              type: string
                              description: the is management partner resource
                            operation:
                              type: string
                              description: the is management partner operation
                            description:
                              type: string
                              description: the is management partner operation description
                        origin:
                          type: string
                          description: the is operation response origin information
                    x-ms-identifiers:
                    - name
                    description: this is the operation response list
                  nextLink:
                    type: string
                    description: Url to get the next page of items.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
  /providers/Microsoft.ManagementPartner/partners:
    get:
      summary: Get a specific `Partner`.
      description: Get the management partner using the objectId and tenantId.
      operationId: Partners_Get
      parameters:
      - name: api-version
        in: query
        description: Supported version.
        required: true
        schema:
          type: string
      tags:
      - Partners
      responses:
        '200':
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations response
                x-ms-azure-resource: true
                properties:
                  etag:
                    type: integer
                    description: Type of the partner
                  id:
                    type: string
                    readOnly: true
                    description: Identifier of the partner
                  name:
                    type: string
                    readOnly: true
                    description: Name of the partner
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the partner
                    type: object
                    properties:
                      partnerId:
                        type: string
                        description: This is the partner id
                      partnerName:
                        type: string
                        description: This is the partner name
                      tenantId:
                        type: string
                        description: This is the tenant id.
                      objectId:
                        type: string
                        description: This is the object id.
                      version:
                        type: integer
                        format: int32
                        description: This is the version.
                      updatedTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was updated.
                      createdTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the partner was created.
                      state:
                        x-ms-client-flatten: true
                        description: This is the partner state
                        type: string
                        enum:
                        - Active
                        - Deleted
                        x-ms-enum:
                          name: ManagementPartnerState
                          modelAsString: true
                  type:
                    type: string
                    readOnly: true
                    description: Type of resource. "Microsoft.ManagementPartner/partners"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                description: this is the management partner operations error
                properties:
                  error:
                    description: this is the ExtendedErrorInfo property
                    type: object
                    properties:
                      code:
                        description: this is the error response code
                        type: string
                      message:
                        type: string
                        description: this is the extended error info message
                  code:
                    description: this is the error response code
                    type: string
                  message:
                    type: string
                    description: this is the extended error info message
components:
  parameters:
    PartnerIdParameter:
      name: partnerId
      x-ms-parameter-location: method
      in: path
      required: true
      description: Id of the Partner
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Supported version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PartnerResponse:
      type: object
      description: this is the management partner operations response
      x-ms-azure-resource: true
      properties:
        etag:
          type: integer
          description: Type of the partner
        id:
          type: string
          readOnly: true
          description: Identifier of the partner
        name:
          type: string
          readOnly: true
          description: Name of the partner
        properties:
          x-ms-client-flatten: true
          description: Properties of the partner
          type: object
          properties:
            partnerId:
              type: string
              description: This is the partner id
            partnerName:
              type: string
              description: This is the partner name
            tenantId:
              type: string
              description: This is the tenant id.
            objectId:
              type: string
              description: This is the object id.
            version:
              type: integer
              format: int32
              description: This is the version.
            updatedTime:
              type: string
              format: date-time
              description: This is the DateTime when the partner was updated.
            createdTime:
              type: string
              format: date-time
              description: This is the DateTime when the partner was created.
            state:
              x-ms-client-flatten: true
              description: This is the partner state
              type: string
              enum:
              - Active
              - Deleted
              x-ms-enum:
                name: ManagementPartnerState
                modelAsString: true
        type:
          type: string
          readOnly: true
          description: Type of resource. "Microsoft.ManagementPartner/partners"
    PartnerProperties:
      type: object
      description: this is the management partner properties
      properties:
        partnerId:
          type: string
          description: This is the partner id
        partnerName:
          type: string
          description: This is the partner name
        tenantId:
          type: string
          description: This is the tenant id.
        objectId:
          type: string
          description: This is the object id.
        version:
          type: integer
          format: int32
          description: This is the version.
        updatedTime:
          type: string
          format: date-time
          description: This is the DateTime when the partner was updated.
        createdTime:
          type: string
          format: date-time
          description: This is the DateTime when the partner was created.
        state:
          x-ms-client-flatten: true
          description: This is the partner state
          type: string
          enum:
          - Active
          - Deleted
          x-ms-enum:
            name: ManagementPartnerState
            modelAsString: true
    ManagementPartnerState:
      type: string
      description: 'this is the management partner state: Active or Deleted'
      enum:
      - Active
      - Deleted
      x-ms-enum:
        name: ManagementPartnerState
        modelAsString: true
    ErrorResponseCode:
      type: string
      description: this is the error response code that management partner operations
        may return
    Error:
      type: object
      description: this is the management partner operations error
      properties:
        error:
          description: this is the ExtendedErrorInfo property
          type: object
          properties:
            code:
              description: this is the error response code
              type: string
            message:
              type: string
              description: this is the extended error info message
        code:
          description: this is the error response code
          type: string
        message:
          type: string
          description: this is the extended error info message
    ExtendedErrorInfo:
      type: object
      description: this is the extended error info
      properties:
        code:
          description: this is the error response code
          type: string
        message:
          type: string
          description: this is the extended error info message
    OperationList:
      type: object
      description: this is the management partner operations list
      properties:
        value:
          type: array
          items:
            description: this is the operation response property
            type: object
            properties:
              name:
                type: string
                description: this is the operation response name
              display:
                description: this is the operation display
                type: object
                properties:
                  provider:
                    type: string
                    description: the is management partner provider
                  resource:
                    type: string
                    description: the is management partner resource
                  operation:
                    type: string
                    description: the is management partner operation
                  description:
                    type: string
                    description: the is management partner operation description
              origin:
                type: string
                description: the is operation response origin information
          x-ms-identifiers:
          - name
          description: this is the operation response list
        nextLink:
          type: string
          description: Url to get the next page of items.
    OperationResponse:
      type: object
      description: this is the management partner operations response
      properties:
        name:
          type: string
          description: this is the operation response name
        display:
          description: this is the operation display
          type: object
          properties:
            provider:
              type: string
              description: the is management partner provider
            resource:
              type: string
              description: the is management partner resource
            operation:
              type: string
              description: the is management partner operation
            description:
              type: string
              description: the is management partner operation description
        origin:
          type: string
          description: the is operation response origin information
    OperationDisplay:
      description: this is the management partner operation
      type: object
      properties:
        provider:
          type: string
          description: the is management partner provider
        resource:
          type: string
          description: the is management partner resource
        operation:
          type: string
          description: the is management partner operation
        description:
          type: string
          description: the is management partner operation description
