openapi: 3.0.0
info:
  title: Azure Monitor Metrics Data API
  description: Provides APIs for getting the metric data for Azure resources.
  version: 2024-02-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/metrics:
    get:
      tags:
      - Metrics
      operationId: Metrics_ListAtSubscriptionScope
      description: '**Lists the metric data for a subscription**. This API used the
        [default ARM throttling limits](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling).'
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: region
        in: query
        required: true
        description: The region where the metrics you want reside.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: timespan
        in: query
        required: false
        description: The timespan of the query. It is a string with the following
          format 'startDateTime_ISO/endDateTime_ISO'.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: interval
        in: query
        required: false
        description: 'The interval (i.e. timegrain) of the query in ISO 8601 duration
          format. Defaults to PT1M. Special case for ''FULL'' value that returns single
          datapoint for entire time span requested.

          *Examples: PT15M, PT1H, P1D, FULL*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: metricnames
        in: query
        required: false
        description: The names of the metrics (comma separated) to retrieve. Limit
          20 metrics.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: aggregation
        in: query
        required: false
        description: 'The list of aggregation types (comma separated) to retrieve.

          *Examples: average, minimum, maximum*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: top
        in: query
        required: false
        description: 'The maximum number of records to retrieve per resource ID in
          the request.

          Valid only if filter is specified.

          Defaults to 10.'
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: orderby
        in: query
        required: false
        description: 'The aggregation to use for sorting results and the direction
          of the sort.

          Only one order can be specified.

          *Examples: sum asc*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric\
          \ contains metadata A, B and C.<br>- Return all time series of C where A\
          \ = a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
          b1\u2019 or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid variant:<br>**$filter=A\
          \ eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018*\u2019 or B\
          \ = \u2018b2\u2019**<br>This is invalid because the logical or operator\
          \ cannot separate two different metadata names.<br>- Return all time series\
          \ where A = a1, B = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and\
          \ B eq \u2018b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series\
          \ where A = a1<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018*\u2019 and\
          \ C eq \u2018*\u2019**."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resultType
        in: query
        x-ms-enum:
          name: MetricResultType
          modelAsString: true
        description: Reduces the set of data collected. The syntax allowed depends
          on the operation. See the operation's description for details.
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
          enum:
          - Data
          - Metadata
      - name: metricnamespace
        in: query
        required: false
        description: Metric namespace where the metrics you want reside.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: AutoAdjustTimegrain
        in: query
        required: false
        description: When set to true, if the timespan passed in is not supported
          by this metric, the API will return the result using the closest supported
          timespan. When set to false, an error is returned for invalid timespan parameters.
          Defaults to false.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: ValidateDimensions
        in: query
        required: false
        description: When set to false, invalid filter parameter values will be ignored.
          When set to true, an error is returned for invalid filter parameters. Defaults
          to true.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: rollupby
        in: query
        required: false
        description: Dimension name(s) to rollup results by. For example if you only
          want to see metric values with a filter like 'City eq Seattle or City eq
          Tacoma' but don't want to see separate values for each city, you can specify
          'RollUpBy=City' to see the results for Seattle and Tacoma rolled up into
          one timeseries.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successful request to get the list of metric values.
          content:
            application/json:
              schema:
                type: object
                description: The response to a metrics query.
                properties:
                  cost:
                    type: number
                    format: int32
                    minimum: 0
                    description: The integer value representing the relative cost
                      of the query.
                  timespan:
                    type: string
                    description: The timespan for which the data was retrieved. Its
                      value consists of two datetimes concatenated, separated by '/'.  This
                      may be adjusted in the future and returned back from what was
                      originally requested.
                  interval:
                    type: string
                    description: "The interval (window size) for which the metric\
                      \ data was returned in ISO 8601 duration format with a special\
                      \ case for 'FULL' value that returns single datapoint for entire\
                      \ time span requested (*Examples: PT15M, PT1H, P1D, FULL*).\
                      \ \nThis may be adjusted and different from what was originally\
                      \ requested if AutoAdjustTimegrain=true is specified. This is\
                      \ not present if a metadata request was made."
                  namespace:
                    type: string
                    description: The namespace of the metrics being queried
                  resourceregion:
                    type: string
                    description: The region of the resource being queried for metrics.
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The metric Id.
                        type:
                          type: string
                          description: The resource type of the metric resource.
                        name:
                          description: The name and the display name of the metric,
                            i.e. it is localizable string.
                          type: object
                          required:
                          - value
                          properties:
                            value:
                              type: string
                              description: The invariant value.
                            localizedValue:
                              type: string
                              description: The display name.
                        displayDescription:
                          type: string
                          description: Detailed description of this metric.
                        errorCode:
                          type: string
                          description: '''Success'' or the error details on query
                            failures for this metric.'
                        errorMessage:
                          type: string
                          description: Error message encountered querying this specific
                            metric.
                        unit:
                          description: The unit of the metric.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          - Percent
                          - MilliSeconds
                          - ByteSeconds
                          - Unspecified
                          - Cores
                          - MilliCores
                          - NanoCores
                          - BitsPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - value: Count
                              description: Unit of raw quantity.
                            - value: Bytes
                              description: Unit of memory in bytes.
                            - value: Seconds
                              description: Unit of time in seconds.
                            - value: CountPerSecond
                              description: Rate unit of raw quantity per second.
                            - value: BytesPerSecond
                              description: Rate unit of memory in bytes per second.
                            - value: Percent
                              description: Percentage unit.
                            - value: MilliSeconds
                              description: Unit of time in 1/1000th of a second.
                            - value: ByteSeconds
                              description: Unit of data transfer or storage. It is
                                the size of the data in bytes multiplied by the time
                                it takes to transfer or store the data in seconds.
                            - value: Unspecified
                              description: No specified unit.
                            - value: Cores
                              description: Unit of processing power.
                            - value: MilliCores
                              description: Unit of processing power in 1/1000th of
                                a CPU core.
                            - value: NanoCores
                              description: Unit of processing power in one billionth
                                of a CPU core.
                            - value: BitsPerSecond
                              description: Rate unit of binary digits per second.
                        timeseries:
                          type: array
                          items:
                            type: object
                            properties:
                              metadatavalues:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the metadata.
                                      type: object
                                      required:
                                      - value
                                      properties:
                                        value:
                                          type: string
                                          description: The invariant value.
                                        localizedValue:
                                          type: string
                                          description: The display name.
                                    value:
                                      type: string
                                      description: The value of the metadata.
                                  description: Represents a metric metadata value.
                                x-ms-identifiers:
                                - name
                                description: The metadata values returned if $filter
                                  was specified in the call.
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - timeStamp
                                  properties:
                                    timeStamp:
                                      type: string
                                      format: date-time
                                      description: The timestamp for the metric value
                                        in ISO 8601 format.
                                    average:
                                      type: number
                                      format: double
                                      description: The average value in the time range.
                                    minimum:
                                      type: number
                                      format: double
                                      description: The least value in the time range.
                                    maximum:
                                      type: number
                                      format: double
                                      description: The greatest value in the time
                                        range.
                                    total:
                                      type: number
                                      format: double
                                      description: The sum of all of the values in
                                        the time range.
                                    count:
                                      type: number
                                      format: double
                                      description: The number of samples in the time
                                        range. Can be used to determine the number
                                        of values that contributed to the average
                                        value.
                                  description: Represents a metric value.
                                x-ms-identifiers:
                                - timeStamp
                                description: An array of data points representing
                                  the metric values.  This is only returned if a result
                                  type of data is specified.
                            description: A time series result type. The discriminator
                              value is always TimeSeries in this case.
                          x-ms-identifiers: []
                          description: The time series returned when a data query
                            is performed.
                      required:
                      - id
                      - type
                      - name
                      - unit
                      - timeseries
                      description: The result data of a query.
                    description: The value of the collection.
                required:
                - timespan
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error Response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.)
                type: object
                properties:
                  error:
                    description: The error object.
                    title: Error Response
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-odata: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/MetadataValue
    post:
      tags:
      - Metrics
      operationId: Metrics_ListAtSubscriptionScopePost
      description: '**Lists the metric data for a subscription**. Parameters can be
        specified on either query params or the body. This API used the [default ARM
        throttling limits](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling).'
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: region
        in: query
        required: true
        description: The region where the metrics you want reside.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: timespan
        in: query
        required: false
        description: The timespan of the query. It is a string with the following
          format 'startDateTime_ISO/endDateTime_ISO'.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: interval
        in: query
        required: false
        description: 'The interval (i.e. timegrain) of the query in ISO 8601 duration
          format. Defaults to PT1M. Special case for ''FULL'' value that returns single
          datapoint for entire time span requested.

          *Examples: PT15M, PT1H, P1D, FULL*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: metricnames
        in: query
        required: false
        description: The names of the metrics (comma separated) to retrieve. Limit
          20 metrics.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: aggregation
        in: query
        required: false
        description: 'The list of aggregation types (comma separated) to retrieve.

          *Examples: average, minimum, maximum*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: top
        in: query
        required: false
        description: 'The maximum number of records to retrieve per resource ID in
          the request.

          Valid only if filter is specified.

          Defaults to 10.'
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: orderby
        in: query
        required: false
        description: 'The aggregation to use for sorting results and the direction
          of the sort.

          Only one order can be specified.

          *Examples: sum asc*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric\
          \ contains metadata A, B and C.<br>- Return all time series of C where A\
          \ = a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
          b1\u2019 or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid variant:<br>**$filter=A\
          \ eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018*\u2019 or B\
          \ = \u2018b2\u2019**<br>This is invalid because the logical or operator\
          \ cannot separate two different metadata names.<br>- Return all time series\
          \ where A = a1, B = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and\
          \ B eq \u2018b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series\
          \ where A = a1<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018*\u2019 and\
          \ C eq \u2018*\u2019**."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resultType
        in: query
        x-ms-enum:
          name: MetricResultType
          modelAsString: true
        description: Reduces the set of data collected. The syntax allowed depends
          on the operation. See the operation's description for details.
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
          enum:
          - Data
          - Metadata
      - name: metricnamespace
        in: query
        required: false
        description: Metric namespace where the metrics you want reside.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: AutoAdjustTimegrain
        in: query
        required: false
        description: When set to true, if the timespan passed in is not supported
          by this metric, the API will return the result using the closest supported
          timespan. When set to false, an error is returned for invalid timespan parameters.
          Defaults to false.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: ValidateDimensions
        in: query
        required: false
        description: When set to false, invalid filter parameter values will be ignored.
          When set to true, an error is returned for invalid filter parameters. Defaults
          to true.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: rollupby
        in: query
        required: false
        description: Dimension name(s) to rollup results by. For example if you only
          want to see metric values with a filter like 'City eq Seattle or City eq
          Tacoma' but don't want to see separate values for each city, you can specify
          'RollUpBy=City' to see the results for Seattle and Tacoma rolled up into
          one timeseries.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Query parameters can also be specified in the body, specifying
                the same parameter in both the body and query parameters will result
                in an error.
              type: object
              properties:
                timespan:
                  description: The timespan of the query. It is a string with the
                    following format 'startDateTime_ISO/endDateTime_ISO'.
                  type: string
                interval:
                  description: 'The interval (i.e. timegrain) of the query in ISO
                    8601 duration format. Defaults to PT1M. Special case for ''FULL''
                    value that returns single datapoint for entire time span requested.

                    *Examples: PT15M, PT1H, P1D, FULL*'
                  type: string
                metricNames:
                  description: The names of the metrics (comma separated) to retrieve.
                  type: string
                aggregation:
                  description: The list of aggregation types (comma separated) to
                    retrieve.
                  type: string
                filter:
                  description: "The **$filter** is used to reduce the set of metric\
                    \ data returned.<br>Example:<br>Metric contains metadata A, B\
                    \ and C.<br>- Return all time series of C where A = a1 and B =\
                    \ b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019\
                    \ or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid\
                    \ variant:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019\
                    \ and C eq \u2018*\u2019 or B = \u2018b2\u2019**<br>This is invalid\
                    \ because the logical or operator cannot separate two different\
                    \ metadata names.<br>- Return all time series where A = a1, B\
                    \ = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
                    b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series\
                    \ where A = a1<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
                    *\u2019 and C eq \u2018*\u2019**."
                  type: string
                top:
                  description: 'The maximum number of records to retrieve.

                    Valid only if $filter is specified.

                    Defaults to 10.'
                  type: integer
                  format: int32
                orderBy:
                  description: 'The aggregation to use for sorting results and the
                    direction of the sort.

                    Only one order can be specified.

                    Examples: sum asc.'
                  type: string
                rollUpBy:
                  description: Dimension name(s) to rollup results by. For example
                    if you only want to see metric values with a filter like 'City
                    eq Seattle or City eq Tacoma' but don't want to see separate values
                    for each city, you can specify 'RollUpBy=City' to see the results
                    for Seattle and Tacoma rolled up into one timeseries.
                  type: string
                resultType:
                  description: Reduces the set of data collected. The syntax allowed
                    depends on the operation. See the operation's description for
                    details.
                  type: string
                  enum:
                  - Data
                  - Metadata
                  x-ms-enum:
                    name: MetricResultType
                    modelAsString: true
                metricNamespace:
                  description: Metric namespace where the metrics you want reside.
                  type: string
                autoAdjustTimegrain:
                  description: When set to true, if the timespan passed in is not
                    supported by this metric, the API will return the result using
                    the closest supported timespan. When set to false, an error is
                    returned for invalid timespan parameters. Defaults to false.
                  type: boolean
                validateDimensions:
                  description: When set to false, invalid filter parameter values
                    will be ignored. When set to true, an error is returned for invalid
                    filter parameters. Defaults to true.
                  type: boolean
        description: Parameters serialized in the body
      responses:
        '200':
          description: Successful request to get the list of metric values.
          content:
            application/json:
              schema:
                type: object
                description: The response to a metrics query.
                properties:
                  cost:
                    type: number
                    format: int32
                    minimum: 0
                    description: The integer value representing the relative cost
                      of the query.
                  timespan:
                    type: string
                    description: The timespan for which the data was retrieved. Its
                      value consists of two datetimes concatenated, separated by '/'.  This
                      may be adjusted in the future and returned back from what was
                      originally requested.
                  interval:
                    type: string
                    description: "The interval (window size) for which the metric\
                      \ data was returned in ISO 8601 duration format with a special\
                      \ case for 'FULL' value that returns single datapoint for entire\
                      \ time span requested (*Examples: PT15M, PT1H, P1D, FULL*).\
                      \ \nThis may be adjusted and different from what was originally\
                      \ requested if AutoAdjustTimegrain=true is specified. This is\
                      \ not present if a metadata request was made."
                  namespace:
                    type: string
                    description: The namespace of the metrics being queried
                  resourceregion:
                    type: string
                    description: The region of the resource being queried for metrics.
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The metric Id.
                        type:
                          type: string
                          description: The resource type of the metric resource.
                        name:
                          description: The name and the display name of the metric,
                            i.e. it is localizable string.
                          type: object
                          required:
                          - value
                          properties:
                            value:
                              type: string
                              description: The invariant value.
                            localizedValue:
                              type: string
                              description: The display name.
                        displayDescription:
                          type: string
                          description: Detailed description of this metric.
                        errorCode:
                          type: string
                          description: '''Success'' or the error details on query
                            failures for this metric.'
                        errorMessage:
                          type: string
                          description: Error message encountered querying this specific
                            metric.
                        unit:
                          description: The unit of the metric.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          - Percent
                          - MilliSeconds
                          - ByteSeconds
                          - Unspecified
                          - Cores
                          - MilliCores
                          - NanoCores
                          - BitsPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - value: Count
                              description: Unit of raw quantity.
                            - value: Bytes
                              description: Unit of memory in bytes.
                            - value: Seconds
                              description: Unit of time in seconds.
                            - value: CountPerSecond
                              description: Rate unit of raw quantity per second.
                            - value: BytesPerSecond
                              description: Rate unit of memory in bytes per second.
                            - value: Percent
                              description: Percentage unit.
                            - value: MilliSeconds
                              description: Unit of time in 1/1000th of a second.
                            - value: ByteSeconds
                              description: Unit of data transfer or storage. It is
                                the size of the data in bytes multiplied by the time
                                it takes to transfer or store the data in seconds.
                            - value: Unspecified
                              description: No specified unit.
                            - value: Cores
                              description: Unit of processing power.
                            - value: MilliCores
                              description: Unit of processing power in 1/1000th of
                                a CPU core.
                            - value: NanoCores
                              description: Unit of processing power in one billionth
                                of a CPU core.
                            - value: BitsPerSecond
                              description: Rate unit of binary digits per second.
                        timeseries:
                          type: array
                          items:
                            type: object
                            properties:
                              metadatavalues:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the metadata.
                                      type: object
                                      required:
                                      - value
                                      properties:
                                        value:
                                          type: string
                                          description: The invariant value.
                                        localizedValue:
                                          type: string
                                          description: The display name.
                                    value:
                                      type: string
                                      description: The value of the metadata.
                                  description: Represents a metric metadata value.
                                x-ms-identifiers:
                                - name
                                description: The metadata values returned if $filter
                                  was specified in the call.
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - timeStamp
                                  properties:
                                    timeStamp:
                                      type: string
                                      format: date-time
                                      description: The timestamp for the metric value
                                        in ISO 8601 format.
                                    average:
                                      type: number
                                      format: double
                                      description: The average value in the time range.
                                    minimum:
                                      type: number
                                      format: double
                                      description: The least value in the time range.
                                    maximum:
                                      type: number
                                      format: double
                                      description: The greatest value in the time
                                        range.
                                    total:
                                      type: number
                                      format: double
                                      description: The sum of all of the values in
                                        the time range.
                                    count:
                                      type: number
                                      format: double
                                      description: The number of samples in the time
                                        range. Can be used to determine the number
                                        of values that contributed to the average
                                        value.
                                  description: Represents a metric value.
                                x-ms-identifiers:
                                - timeStamp
                                description: An array of data points representing
                                  the metric values.  This is only returned if a result
                                  type of data is specified.
                            description: A time series result type. The discriminator
                              value is always TimeSeries in this case.
                          x-ms-identifiers: []
                          description: The time series returned when a data query
                            is performed.
                      required:
                      - id
                      - type
                      - name
                      - unit
                      - timeseries
                      description: The result data of a query.
                    description: The value of the collection.
                required:
                - timespan
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error Response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.)
                type: object
                properties:
                  error:
                    description: The error object.
                    title: Error Response
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-odata: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/MetadataValue
  /{resourceUri}/providers/Microsoft.Insights/metrics:
    get:
      tags:
      - Metrics
      operationId: Metrics_List
      description: '**Lists the metric values for a resource**. This API used the
        [default ARM throttling limits](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling).'
      parameters:
      - name: resourceUri
        in: path
        required: true
        description: The identifier of the resource.
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: timespan
        in: query
        required: false
        description: The timespan of the query. It is a string with the following
          format 'startDateTime_ISO/endDateTime_ISO'.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: interval
        in: query
        required: false
        description: 'The interval (i.e. timegrain) of the query in ISO 8601 duration
          format. Defaults to PT1M. Special case for ''FULL'' value that returns single
          datapoint for entire time span requested.

          *Examples: PT15M, PT1H, P1D, FULL*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: metricnames
        in: query
        required: false
        description: The names of the metrics (comma separated) to retrieve. Limit
          20 metrics.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: aggregation
        in: query
        required: false
        description: 'The list of aggregation types (comma separated) to retrieve.

          *Examples: average, minimum, maximum*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: top
        in: query
        required: false
        description: 'The maximum number of records to retrieve per resource ID in
          the request.

          Valid only if filter is specified.

          Defaults to 10.'
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: orderby
        in: query
        required: false
        description: 'The aggregation to use for sorting results and the direction
          of the sort.

          Only one order can be specified.

          *Examples: sum asc*'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $filter
        in: query
        description: "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric\
          \ contains metadata A, B and C.<br>- Return all time series of C where A\
          \ = a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
          b1\u2019 or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid variant:<br>**$filter=A\
          \ eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018*\u2019 or B\
          \ = \u2018b2\u2019**<br>This is invalid because the logical or operator\
          \ cannot separate two different metadata names.<br>- Return all time series\
          \ where A = a1, B = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and\
          \ B eq \u2018b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series\
          \ where A = a1<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018*\u2019 and\
          \ C eq \u2018*\u2019**."
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resultType
        in: query
        x-ms-enum:
          name: ResultType
          modelAsString: false
        description: Reduces the set of data collected. The syntax allowed depends
          on the operation. See the operation's description for details.
        x-ms-parameter-location: method
        required: false
        schema:
          type: string
          enum:
          - Data
          - Metadata
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: metricnamespace
        in: query
        required: false
        description: Metric namespace where the metrics you want reside.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: AutoAdjustTimegrain
        in: query
        required: false
        description: When set to true, if the timespan passed in is not supported
          by this metric, the API will return the result using the closest supported
          timespan. When set to false, an error is returned for invalid timespan parameters.
          Defaults to false.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: ValidateDimensions
        in: query
        required: false
        description: When set to false, invalid filter parameter values will be ignored.
          When set to true, an error is returned for invalid filter parameters. Defaults
          to true.
        x-ms-parameter-location: method
        schema:
          type: boolean
      - name: rollupby
        in: query
        required: false
        description: Dimension name(s) to rollup results by. For example if you only
          want to see metric values with a filter like 'City eq Seattle or City eq
          Tacoma' but don't want to see separate values for each city, you can specify
          'RollUpBy=City' to see the results for Seattle and Tacoma rolled up into
          one timeseries.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successful request to get the list of metric values.
          content:
            application/json:
              schema:
                type: object
                description: The response to a metrics query.
                properties:
                  cost:
                    type: number
                    format: int32
                    minimum: 0
                    description: The integer value representing the relative cost
                      of the query.
                  timespan:
                    type: string
                    description: The timespan for which the data was retrieved. Its
                      value consists of two datetimes concatenated, separated by '/'.  This
                      may be adjusted in the future and returned back from what was
                      originally requested.
                  interval:
                    type: string
                    description: "The interval (window size) for which the metric\
                      \ data was returned in ISO 8601 duration format with a special\
                      \ case for 'FULL' value that returns single datapoint for entire\
                      \ time span requested (*Examples: PT15M, PT1H, P1D, FULL*).\
                      \ \nThis may be adjusted and different from what was originally\
                      \ requested if AutoAdjustTimegrain=true is specified. This is\
                      \ not present if a metadata request was made."
                  namespace:
                    type: string
                    description: The namespace of the metrics being queried
                  resourceregion:
                    type: string
                    description: The region of the resource being queried for metrics.
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The metric Id.
                        type:
                          type: string
                          description: The resource type of the metric resource.
                        name:
                          description: The name and the display name of the metric,
                            i.e. it is localizable string.
                          type: object
                          required:
                          - value
                          properties:
                            value:
                              type: string
                              description: The invariant value.
                            localizedValue:
                              type: string
                              description: The display name.
                        displayDescription:
                          type: string
                          description: Detailed description of this metric.
                        errorCode:
                          type: string
                          description: '''Success'' or the error details on query
                            failures for this metric.'
                        errorMessage:
                          type: string
                          description: Error message encountered querying this specific
                            metric.
                        unit:
                          description: The unit of the metric.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          - Percent
                          - MilliSeconds
                          - ByteSeconds
                          - Unspecified
                          - Cores
                          - MilliCores
                          - NanoCores
                          - BitsPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - value: Count
                              description: Unit of raw quantity.
                            - value: Bytes
                              description: Unit of memory in bytes.
                            - value: Seconds
                              description: Unit of time in seconds.
                            - value: CountPerSecond
                              description: Rate unit of raw quantity per second.
                            - value: BytesPerSecond
                              description: Rate unit of memory in bytes per second.
                            - value: Percent
                              description: Percentage unit.
                            - value: MilliSeconds
                              description: Unit of time in 1/1000th of a second.
                            - value: ByteSeconds
                              description: Unit of data transfer or storage. It is
                                the size of the data in bytes multiplied by the time
                                it takes to transfer or store the data in seconds.
                            - value: Unspecified
                              description: No specified unit.
                            - value: Cores
                              description: Unit of processing power.
                            - value: MilliCores
                              description: Unit of processing power in 1/1000th of
                                a CPU core.
                            - value: NanoCores
                              description: Unit of processing power in one billionth
                                of a CPU core.
                            - value: BitsPerSecond
                              description: Rate unit of binary digits per second.
                        timeseries:
                          type: array
                          items:
                            type: object
                            properties:
                              metadatavalues:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      description: The name of the metadata.
                                      type: object
                                      required:
                                      - value
                                      properties:
                                        value:
                                          type: string
                                          description: The invariant value.
                                        localizedValue:
                                          type: string
                                          description: The display name.
                                    value:
                                      type: string
                                      description: The value of the metadata.
                                  description: Represents a metric metadata value.
                                x-ms-identifiers:
                                - name
                                description: The metadata values returned if $filter
                                  was specified in the call.
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - timeStamp
                                  properties:
                                    timeStamp:
                                      type: string
                                      format: date-time
                                      description: The timestamp for the metric value
                                        in ISO 8601 format.
                                    average:
                                      type: number
                                      format: double
                                      description: The average value in the time range.
                                    minimum:
                                      type: number
                                      format: double
                                      description: The least value in the time range.
                                    maximum:
                                      type: number
                                      format: double
                                      description: The greatest value in the time
                                        range.
                                    total:
                                      type: number
                                      format: double
                                      description: The sum of all of the values in
                                        the time range.
                                    count:
                                      type: number
                                      format: double
                                      description: The number of samples in the time
                                        range. Can be used to determine the number
                                        of values that contributed to the average
                                        value.
                                  description: Represents a metric value.
                                x-ms-identifiers:
                                - timeStamp
                                description: An array of data points representing
                                  the metric values.  This is only returned if a result
                                  type of data is specified.
                            description: A time series result type. The discriminator
                              value is always TimeSeries in this case.
                          x-ms-identifiers: []
                          description: The time series returned when a data query
                            is performed.
                      required:
                      - id
                      - type
                      - name
                      - unit
                      - timeseries
                      description: The result data of a query.
                    description: The value of the collection.
                required:
                - timespan
                - value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error Response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.)
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      title: Error Response
                      description: Common error response for all Azure Resource Manager
                        APIs to return error details for failed operations. (This
                        also follows the OData error response format.)
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                        details:
                          readOnly: true
                          type: array
                          items:
                            title: Error Response
                            description: Common error response for all Azure Resource
                              Manager APIs to return error details for failed operations.
                              (This also follows the OData error response format.)
                            type: object
                            properties:
                              code:
                                readOnly: true
                                type: string
                                description: The error code.
                              message:
                                readOnly: true
                                type: string
                                description: The error message.
                              target:
                                readOnly: true
                                type: string
                                description: The error target.
                          x-ms-identifiers:
                          - message
                          - target
                          description: The error details.
                        additionalInfo:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                readOnly: true
                                type: string
                                description: The additional info type.
                              info:
                                readOnly: true
                                type: object
                                description: The additional info.
                            description: The resource management error additional
                              info.
                          x-ms-identifiers: []
                          description: The error additional info.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
      x-ms-odata: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/MetadataValue
components:
  parameters:
    TimespanParameter:
      name: timespan
      in: query
      required: false
      description: The timespan of the query. It is a string with the following format
        'startDateTime_ISO/endDateTime_ISO'.
      x-ms-parameter-location: method
      schema:
        type: string
    IntervalParameter:
      name: interval
      in: query
      required: false
      description: 'The interval (i.e. timegrain) of the query in ISO 8601 duration
        format. Defaults to PT1M. Special case for ''FULL'' value that returns single
        datapoint for entire time span requested.

        *Examples: PT15M, PT1H, P1D, FULL*'
      x-ms-parameter-location: method
      schema:
        type: string
    MetricNamesParameter:
      name: metricnames
      in: query
      required: false
      description: The names of the metrics (comma separated) to retrieve. Limit 20
        metrics.
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric\
        \ contains metadata A, B and C.<br>- Return all time series of C where A =\
        \ a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019\
        \ or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid variant:<br>**$filter=A\
        \ eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018*\u2019 or B =\
        \ \u2018b2\u2019**<br>This is invalid because the logical or operator cannot\
        \ separate two different metadata names.<br>- Return all time series where\
        \ A = a1, B = b1 and C = c1:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
        b1\u2019 and C eq \u2018c1\u2019**<br>- Return all time series where A = a1<br>**$filter=A\
        \ eq \u2018a1\u2019 and B eq \u2018*\u2019 and C eq \u2018*\u2019**."
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionScopeResultTypeParameter:
      name: resultType
      in: query
      x-ms-enum:
        name: MetricResultType
        modelAsString: true
      description: Reduces the set of data collected. The syntax allowed depends on
        the operation. See the operation's description for details.
      x-ms-parameter-location: method
      required: false
      schema:
        type: string
        enum:
        - Data
        - Metadata
    ResultTypeParameter:
      name: resultType
      in: query
      x-ms-enum:
        name: ResultType
        modelAsString: false
      description: Reduces the set of data collected. The syntax allowed depends on
        the operation. See the operation's description for details.
      x-ms-parameter-location: method
      required: false
      schema:
        type: string
        enum:
        - Data
        - Metadata
    AutoAdjustTimegrain:
      name: AutoAdjustTimegrain
      in: query
      required: false
      description: When set to true, if the timespan passed in is not supported by
        this metric, the API will return the result using the closest supported timespan.
        When set to false, an error is returned for invalid timespan parameters. Defaults
        to false.
      x-ms-parameter-location: method
      schema:
        type: boolean
    ValidateDimensions:
      name: ValidateDimensions
      in: query
      required: false
      description: When set to false, invalid filter parameter values will be ignored.
        When set to true, an error is returned for invalid filter parameters. Defaults
        to true.
      x-ms-parameter-location: method
      schema:
        type: boolean
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    RegionParameter:
      name: region
      in: query
      required: true
      description: The region where the metrics you want reside.
      x-ms-parameter-location: method
      schema:
        type: string
    AggregationsParameter:
      name: aggregation
      in: query
      required: false
      description: 'The list of aggregation types (comma separated) to retrieve.

        *Examples: average, minimum, maximum*'
      x-ms-parameter-location: method
      schema:
        type: string
    TopParameter:
      name: top
      in: query
      required: false
      description: 'The maximum number of records to retrieve per resource ID in the
        request.

        Valid only if filter is specified.

        Defaults to 10.'
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    OrderByParameter:
      name: orderby
      in: query
      required: false
      description: 'The aggregation to use for sorting results and the direction of
        the sort.

        Only one order can be specified.

        *Examples: sum asc*'
      x-ms-parameter-location: method
      schema:
        type: string
    MetricNamespaceParameter:
      name: metricnamespace
      in: query
      required: false
      description: Metric namespace where the metrics you want reside.
      x-ms-parameter-location: method
      schema:
        type: string
    RollUpByParameter:
      name: rollupby
      in: query
      required: false
      description: Dimension name(s) to rollup results by. For example if you only
        want to see metric values with a filter like 'City eq Seattle or City eq Tacoma'
        but don't want to see separate values for each city, you can specify 'RollUpBy=City'
        to see the results for Seattle and Tacoma rolled up into one timeseries.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceUriParameter:
      name: resourceUri
      in: path
      required: true
      description: The identifier of the resource.
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SubscriptionScopeMetricsRequestBodyParameters:
      description: Query parameters can also be specified in the body, specifying
        the same parameter in both the body and query parameters will result in an
        error.
      type: object
      properties:
        timespan:
          description: The timespan of the query. It is a string with the following
            format 'startDateTime_ISO/endDateTime_ISO'.
          type: string
        interval:
          description: 'The interval (i.e. timegrain) of the query in ISO 8601 duration
            format. Defaults to PT1M. Special case for ''FULL'' value that returns
            single datapoint for entire time span requested.

            *Examples: PT15M, PT1H, P1D, FULL*'
          type: string
        metricNames:
          description: The names of the metrics (comma separated) to retrieve.
          type: string
        aggregation:
          description: The list of aggregation types (comma separated) to retrieve.
          type: string
        filter:
          description: "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric\
            \ contains metadata A, B and C.<br>- Return all time series of C where\
            \ A = a1 and B = b1 or b2<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018\
            b1\u2019 or B eq \u2018b2\u2019 and C eq \u2018*\u2019**<br>- Invalid\
            \ variant:<br>**$filter=A eq \u2018a1\u2019 and B eq \u2018b1\u2019 and\
            \ C eq \u2018*\u2019 or B = \u2018b2\u2019**<br>This is invalid because\
            \ the logical or operator cannot separate two different metadata names.<br>-\
            \ Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A\
            \ eq \u2018a1\u2019 and B eq \u2018b1\u2019 and C eq \u2018c1\u2019**<br>-\
            \ Return all time series where A = a1<br>**$filter=A eq \u2018a1\u2019\
            \ and B eq \u2018*\u2019 and C eq \u2018*\u2019**."
          type: string
        top:
          description: 'The maximum number of records to retrieve.

            Valid only if $filter is specified.

            Defaults to 10.'
          type: integer
          format: int32
        orderBy:
          description: 'The aggregation to use for sorting results and the direction
            of the sort.

            Only one order can be specified.

            Examples: sum asc.'
          type: string
        rollUpBy:
          description: Dimension name(s) to rollup results by. For example if you
            only want to see metric values with a filter like 'City eq Seattle or
            City eq Tacoma' but don't want to see separate values for each city, you
            can specify 'RollUpBy=City' to see the results for Seattle and Tacoma
            rolled up into one timeseries.
          type: string
        resultType:
          description: Reduces the set of data collected. The syntax allowed depends
            on the operation. See the operation's description for details.
          type: string
          enum:
          - Data
          - Metadata
          x-ms-enum:
            name: MetricResultType
            modelAsString: true
        metricNamespace:
          description: Metric namespace where the metrics you want reside.
          type: string
        autoAdjustTimegrain:
          description: When set to true, if the timespan passed in is not supported
            by this metric, the API will return the result using the closest supported
            timespan. When set to false, an error is returned for invalid timespan
            parameters. Defaults to false.
          type: boolean
        validateDimensions:
          description: When set to false, invalid filter parameter values will be
            ignored. When set to true, an error is returned for invalid filter parameters.
            Defaults to true.
          type: boolean
    Response:
      type: object
      description: The response to a metrics query.
      properties:
        cost:
          type: number
          format: int32
          minimum: 0
          description: The integer value representing the relative cost of the query.
        timespan:
          type: string
          description: The timespan for which the data was retrieved. Its value consists
            of two datetimes concatenated, separated by '/'.  This may be adjusted
            in the future and returned back from what was originally requested.
        interval:
          type: string
          description: "The interval (window size) for which the metric data was returned\
            \ in ISO 8601 duration format with a special case for 'FULL' value that\
            \ returns single datapoint for entire time span requested (*Examples:\
            \ PT15M, PT1H, P1D, FULL*). \nThis may be adjusted and different from\
            \ what was originally requested if AutoAdjustTimegrain=true is specified.\
            \ This is not present if a metadata request was made."
        namespace:
          type: string
          description: The namespace of the metrics being queried
        resourceregion:
          type: string
          description: The region of the resource being queried for metrics.
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The metric Id.
              type:
                type: string
                description: The resource type of the metric resource.
              name:
                description: The name and the display name of the metric, i.e. it
                  is localizable string.
                type: object
                required:
                - value
                properties:
                  value:
                    type: string
                    description: The invariant value.
                  localizedValue:
                    type: string
                    description: The display name.
              displayDescription:
                type: string
                description: Detailed description of this metric.
              errorCode:
                type: string
                description: '''Success'' or the error details on query failures for
                  this metric.'
              errorMessage:
                type: string
                description: Error message encountered querying this specific metric.
              unit:
                description: The unit of the metric.
                type: string
                enum:
                - Count
                - Bytes
                - Seconds
                - CountPerSecond
                - BytesPerSecond
                - Percent
                - MilliSeconds
                - ByteSeconds
                - Unspecified
                - Cores
                - MilliCores
                - NanoCores
                - BitsPerSecond
                x-ms-enum:
                  name: MetricUnit
                  modelAsString: true
                  values:
                  - value: Count
                    description: Unit of raw quantity.
                  - value: Bytes
                    description: Unit of memory in bytes.
                  - value: Seconds
                    description: Unit of time in seconds.
                  - value: CountPerSecond
                    description: Rate unit of raw quantity per second.
                  - value: BytesPerSecond
                    description: Rate unit of memory in bytes per second.
                  - value: Percent
                    description: Percentage unit.
                  - value: MilliSeconds
                    description: Unit of time in 1/1000th of a second.
                  - value: ByteSeconds
                    description: Unit of data transfer or storage. It is the size
                      of the data in bytes multiplied by the time it takes to transfer
                      or store the data in seconds.
                  - value: Unspecified
                    description: No specified unit.
                  - value: Cores
                    description: Unit of processing power.
                  - value: MilliCores
                    description: Unit of processing power in 1/1000th of a CPU core.
                  - value: NanoCores
                    description: Unit of processing power in one billionth of a CPU
                      core.
                  - value: BitsPerSecond
                    description: Rate unit of binary digits per second.
              timeseries:
                type: array
                items:
                  type: object
                  properties:
                    metadatavalues:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            description: The name of the metadata.
                            type: object
                            required:
                            - value
                            properties:
                              value:
                                type: string
                                description: The invariant value.
                              localizedValue:
                                type: string
                                description: The display name.
                          value:
                            type: string
                            description: The value of the metadata.
                        description: Represents a metric metadata value.
                      x-ms-identifiers:
                      - name
                      description: The metadata values returned if $filter was specified
                        in the call.
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - timeStamp
                        properties:
                          timeStamp:
                            type: string
                            format: date-time
                            description: The timestamp for the metric value in ISO
                              8601 format.
                          average:
                            type: number
                            format: double
                            description: The average value in the time range.
                          minimum:
                            type: number
                            format: double
                            description: The least value in the time range.
                          maximum:
                            type: number
                            format: double
                            description: The greatest value in the time range.
                          total:
                            type: number
                            format: double
                            description: The sum of all of the values in the time
                              range.
                          count:
                            type: number
                            format: double
                            description: The number of samples in the time range.
                              Can be used to determine the number of values that contributed
                              to the average value.
                        description: Represents a metric value.
                      x-ms-identifiers:
                      - timeStamp
                      description: An array of data points representing the metric
                        values.  This is only returned if a result type of data is
                        specified.
                  description: A time series result type. The discriminator value
                    is always TimeSeries in this case.
                x-ms-identifiers: []
                description: The time series returned when a data query is performed.
            required:
            - id
            - type
            - name
            - unit
            - timeseries
            description: The result data of a query.
          description: The value of the collection.
      required:
      - timespan
      - value
    ErrorResponse:
      title: Error Response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.)
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            title: Error Response
            description: Common error response for all Azure Resource Manager APIs
              to return error details for failed operations. (This also follows the
              OData error response format.)
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  title: Error Response
                  description: Common error response for all Azure Resource Manager
                    APIs to return error details for failed operations. (This also
                    follows the OData error response format.)
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorContract:
      title: Error Response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.)
      type: object
      properties:
        error:
          description: The error object.
          title: Error Response
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                title: Error Response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.)
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      title: Error Response
                      description: Common error response for all Azure Resource Manager
                        APIs to return error details for failed operations. (This
                        also follows the OData error response format.)
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    LocalizableString:
      type: object
      required:
      - value
      properties:
        value:
          type: string
          description: The invariant value.
        localizedValue:
          type: string
          description: The display name.
      description: The localizable string class.
    Unit:
      type: string
      description: The unit of the metric.
      enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
      - ByteSeconds
      - Unspecified
      - Cores
      - MilliCores
      - NanoCores
      - BitsPerSecond
      x-ms-enum:
        name: MetricUnit
        modelAsString: true
        values:
        - value: Count
          description: Unit of raw quantity.
        - value: Bytes
          description: Unit of memory in bytes.
        - value: Seconds
          description: Unit of time in seconds.
        - value: CountPerSecond
          description: Rate unit of raw quantity per second.
        - value: BytesPerSecond
          description: Rate unit of memory in bytes per second.
        - value: Percent
[...]
