openapi: 3.0.0
info:
  title: Microsoft.AzureStackHCI
  version: 2025-06-01-preview
  description: Azure Stack HCI management service
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GalleryImages
- name: LogicalNetworks
- name: MarketplaceGalleryImages
- name: NetworkInterfaces
- name: NetworkSecurityGroups
- name: SecurityRules
- name: StorageContainers
- name: VirtualHardDisks
- name: VirtualMachineInstances
- name: HybridIdentityMetadataGroup
- name: AttestationStatuses
- name: GuestAgents
paths:
  /{resourceUri}/providers/Microsoft.AzureStackHCI/virtualMachineInstances:
    get:
      operationId: VirtualMachineInstances_List
      tags:
      - VirtualMachineInstances
      description: Lists all of the virtual machine instances within the specified
        parent resource.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a VirtualMachineInstance list operation.
                properties:
                  value:
                    type: array
                    description: The VirtualMachineInstance items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            hardwareProfile:
                              description: HardwareProfile - Specifies the hardware
                                settings for the virtual machine instance.
                              type: object
                              properties:
                                vmSize:
                                  type: string
                                  description: Enum of VM Sizes
                                  default: Default
                                  enum:
                                  - Default
                                  - Standard_A2_v2
                                  - Standard_A4_v2
                                  - Standard_D2s_v3
                                  - Standard_D4s_v3
                                  - Standard_D8s_v3
                                  - Standard_D16s_v3
                                  - Standard_D32s_v3
                                  - Standard_DS2_v2
                                  - Standard_DS3_v2
                                  - Standard_DS4_v2
                                  - Standard_DS5_v2
                                  - Standard_DS13_v2
                                  - Standard_K8S_v1
                                  - Standard_K8S2_v1
                                  - Standard_K8S3_v1
                                  - Standard_K8S4_v1
                                  - Standard_NK6
                                  - Standard_NK12
                                  - Standard_NV6
                                  - Standard_NV12
                                  - Standard_K8S5_v1
                                  - Custom
                                  x-ms-enum:
                                    name: VmSizeEnum
                                    modelAsString: true
                                    values:
                                    - name: Default
                                      value: Default
                                      description: Default virtual machine size
                                    - name: Standard_A2_v2
                                      value: Standard_A2_v2
                                      description: Standard A2 v2 virtual machine
                                        size
                                    - name: Standard_A4_v2
                                      value: Standard_A4_v2
                                      description: Standard A4 v2 virtual machine
                                        size
                                    - name: Standard_D2s_v3
                                      value: Standard_D2s_v3
                                      description: Standard D2s v3 virtual machine
                                        size
                                    - name: Standard_D4s_v3
                                      value: Standard_D4s_v3
                                      description: Standard D4s v3 virtual machine
                                        size
                                    - name: Standard_D8s_v3
                                      value: Standard_D8s_v3
                                      description: Standard D8s v3 virtual machine
                                        size
                                    - name: Standard_D16s_v3
                                      value: Standard_D16s_v3
                                      description: Standard D16s v3 virtual machine
                                        size
                                    - name: Standard_D32s_v3
                                      value: Standard_D32s_v3
                                      description: Standard D32s v3 virtual machine
                                        size
                                    - name: Standard_DS2_v2
                                      value: Standard_DS2_v2
                                      description: Standard DS2 v2 virtual machine
                                        size
                                    - name: Standard_DS3_v2
                                      value: Standard_DS3_v2
                                      description: Standard DS3 v2 virtual machine
                                        size
                                    - name: Standard_DS4_v2
                                      value: Standard_DS4_v2
                                      description: Standard DS4 v2 virtual machine
                                        size
                                    - name: Standard_DS5_v2
                                      value: Standard_DS5_v2
                                      description: Standard DS5 v2 virtual machine
                                        size
                                    - name: Standard_DS13_v2
                                      value: Standard_DS13_v2
                                      description: Standard DS13 v2 virtual machine
                                        size
                                    - name: Standard_K8S_v1
                                      value: Standard_K8S_v1
                                      description: Standard K8S v1 virtual machine
                                        size
                                    - name: Standard_K8S2_v1
                                      value: Standard_K8S2_v1
                                      description: Standard K8S2 v1 virtual machine
                                        size
                                    - name: Standard_K8S3_v1
                                      value: Standard_K8S3_v1
                                      description: Standard K8S3 v1 virtual machine
                                        size
                                    - name: Standard_K8S4_v1
                                      value: Standard_K8S4_v1
                                      description: Standard K8S4 v1 virtual machine
                                        size
                                    - name: Standard_NK6
                                      value: Standard_NK6
                                      description: Standard NK6 virtual machine size
                                    - name: Standard_NK12
                                      value: Standard_NK12
                                      description: Standard NK12 virtual machine size
                                    - name: Standard_NV6
                                      value: Standard_NV6
                                      description: Standard NV6 virtual machine size
                                    - name: Standard_NV12
                                      value: Standard_NV12
                                      description: Standard NV12 virtual machine size
                                    - name: Standard_K8S5_v1
                                      value: Standard_K8S5_v1
                                      description: Standard K8S5 v1 virtual machine
                                        size
                                    - name: Custom
                                      value: Custom
                                      description: Custom virtual machine size
                                processors:
                                  type: integer
                                  format: int32
                                  description: number of processors for the virtual
                                    machine instance
                                memoryMB:
                                  type: integer
                                  format: int64
                                  description: RAM in MB for the virtual machine instance
                                dynamicMemoryConfig:
                                  description: Dynamic memory config
                                  type: object
                                  properties:
                                    maximumMemoryMB:
                                      type: integer
                                      format: int64
                                      description: Maximum memory in MB
                                    minimumMemoryMB:
                                      type: integer
                                      format: int64
                                      description: Minimum memory in MB
                                    targetMemoryBuffer:
                                      type: integer
                                      format: int32
                                      description: Defines the amount of extra memory
                                        that should be reserved for a virtual machine
                                        instance at runtime, as a percentage of the
                                        total memory that the virtual machine instance
                                        is thought to need. This only applies to virtual
                                        systems with dynamic memory enabled. This
                                        property can be in the range of 5 to 2000.
                                virtualMachineGPUs:
                                  type: array
                                  description: virtualMachineGPUs - list of gpus to
                                    be attached to the virtual machine instance
                                  items:
                                    type: object
                                    description: GPU properties - describes the GPU
                                      configuration.
                                    properties:
                                      assignmentType:
                                        description: GPU assignment type
                                        type: string
                                        enum:
                                        - GpuDDA
                                        - GpuP
                                        x-ms-enum:
                                          name: GpuAssignmentTypeEnum
                                          modelAsString: true
                                          values:
                                          - name: GpuDDA
                                            value: GpuDDA
                                            description: Attach Graphics Processing
                                              Unit (GPU) using Discrete Device Assignment
                                              (DDA)
                                          - name: GpuP
                                            value: GpuP
                                            description: Attach Graphics Processing
                                              Unit (GPU) using GPU Partitioning
                                      partitionSizeMB:
                                        type: integer
                                        format: int64
                                        description: Size of gpu partition in MB for
                                          GPU-P
                                      gpuName:
                                        type: string
                                        description: Name of the GPU
                                    required:
                                    - assignmentType
                                  x-ms-identifiers: []
                            placementProfile:
                              description: PlacementProfile - Specifies the placement
                                related settings for the virtual machine.
                              type: object
                              properties:
                                zone:
                                  type: string
                                  description: The zone in which the VM should be
                                    placed in.
                                strictPlacementPolicy:
                                  type: boolean
                                  description: Specifies whether VM can only failover
                                    strictly within the zone it was placed in
                            networkProfile:
                              description: NetworkProfile - describes the network
                                configuration the virtual machine instance
                              type: object
                              properties:
                                networkInterfaces:
                                  type: array
                                  description: NetworkInterfaces - list of network
                                    interfaces to be attached to the virtual machine
                                    instance
                                  items:
                                    type: object
                                    description: The ARM ID for a Network Interface.
                                    properties:
                                      id:
                                        type: string
                                        format: arm-id
                                        description: The ARM ID for a Network Interface.
                                        x-ms-arm-id-details:
                                          allowedResources:
                                          - type: Microsoft.AzureStackHCI/networkInterfaces
                                  x-ms-identifiers: []
                            osProfile:
                              description: OsProfile - describes the configuration
                                of the operating system and sets login data
                              type: object
                              properties:
                                adminPassword:
                                  type: string
                                  format: password
                                  description: AdminPassword - admin password
                                  x-ms-mutability:
                                  - create
                                  x-ms-secret: true
                                adminUsername:
                                  type: string
                                  description: AdminUsername - admin username
                                computerName:
                                  type: string
                                  description: ComputerName - name of the compute
                                linuxConfiguration:
                                  description: LinuxConfiguration - linux specific
                                    configuration values for the virtual machine instance
                                  type: object
                                  properties:
                                    disablePasswordAuthentication:
                                      type: boolean
                                      description: DisablePasswordAuthentication -
                                        whether password authentication should be
                                        disabled
                                    ssh:
                                      description: Specifies the ssh key configuration
                                        for a Linux OS.
                                      type: object
                                      properties:
                                        publicKeys:
                                          type: array
                                          description: The list of SSH public keys
                                            used to authenticate with linux based
                                            VMs.
                                          items:
                                            type: object
                                            description: Contains information about
                                              SSH certificate public key and the path
                                              on the Linux VM where the public key
                                              is placed.
                                            properties:
                                              path:
                                                type: string
                                                description: 'Specifies the full path
                                                  on the created VM where ssh public
                                                  key is stored. If the file already
                                                  exists, the specified key is appended
                                                  to the file. Example: /home/user/.ssh/authorized_keys'
                                              keyData:
                                                type: string
                                                description: SSH public key certificate
                                                  used to authenticate with the VM
                                                  through ssh. The key needs to be
                                                  at least 2048-bit and in ssh-rsa
                                                  format. <br><br> For creating ssh
                                                  keys, see [Create SSH keys on Linux
                                                  and Mac for Linux VMs in Azure]https://learn.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                          x-ms-identifiers:
                                          - path
                                    provisionVMAgent:
                                      type: boolean
                                      description: "Used\u202Fto indicate whether\
                                        \ Arc for Servers agent onboarding should\
                                        \ be triggered during the virtual machine\
                                        \ instance creation process."
                                      default: true
                                    provisionVMConfigAgent:
                                      type: boolean
                                      description: "Used\u202Fto indicate whether\
                                        \ the VM Config Agent should be installed\
                                        \ during the virtual machine creation process."
                                      default: true
                                windowsConfiguration:
                                  description: Windows Configuration for the virtual
                                    machine instance
                                  type: object
                                  properties:
                                    enableAutomaticUpdates:
                                      type: boolean
                                      description: Whether to EnableAutomaticUpdates
                                        on the machine
                                    ssh:
                                      description: Specifies the ssh key configuration
                                        for Windows OS.
                                      type: object
                                      properties:
                                        publicKeys:
                                          type: array
                                          description: The list of SSH public keys
                                            used to authenticate with linux based
                                            VMs.
                                          items:
                                            type: object
                                            description: Contains information about
                                              SSH certificate public key and the path
                                              on the Linux VM where the public key
                                              is placed.
                                            properties:
                                              path:
                                                type: string
                                                description: 'Specifies the full path
                                                  on the created VM where ssh public
                                                  key is stored. If the file already
                                                  exists, the specified key is appended
                                                  to the file. Example: /home/user/.ssh/authorized_keys'
                                              keyData:
                                                type: string
                                                description: SSH public key certificate
                                                  used to authenticate with the VM
                                                  through ssh. The key needs to be
                                                  at least 2048-bit and in ssh-rsa
                                                  format. <br><br> For creating ssh
                                                  keys, see [Create SSH keys on Linux
                                                  and Mac for Linux VMs in Azure]https://learn.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                          x-ms-identifiers:
                                          - path
                                    timeZone:
                                      type: string
                                      description: TimeZone for the virtual machine
                                        instance
                                    provisionVMAgent:
                                      type: boolean
                                      description: "Used\u202Fto indicate whether\
                                        \ Arc for Servers agent onboarding should\
                                        \ be triggered during the virtual machine\
                                        \ instance creation process."
                                      default: true
                                    provisionVMConfigAgent:
                                      type: boolean
                                      description: "Used\u202Fto indicate whether\
                                        \ the VM Config Agent should be installed\
                                        \ during the virtual machine creation process."
                                      default: true
                            securityProfile:
                              description: SecurityProfile - Specifies the security
                                settings for the virtual machine instance.
                              type: object
                              properties:
                                enableTPM:
                                  type: boolean
                                  description: Enable TPM flag
                                  default: false
                                uefiSettings:
                                  description: Uefi settings of the virtual machine
                                    instance
                                  type: object
                                  properties:
                                    secureBootEnabled:
                                      type: boolean
                                      description: Specifies whether secure boot should
                                        be enabled on the virtual machine instance.
                                      default: false
                                securityType:
                                  description: Specifies the SecurityType of the virtual
                                    machine. EnableTPM and SecureBootEnabled must
                                    be set to true for SecurityType to function.
                                  type: string
                                  enum:
                                  - TrustedLaunch
                                  - ConfidentialVM
                                  x-ms-enum:
                                    name: SecurityTypes
                                    modelAsString: true
                                    values:
                                    - name: TrustedLaunch
                                      value: TrustedLaunch
                                      description: Trusted Launch security type
                                    - name: ConfidentialVM
                                      value: ConfidentialVM
                                      description: Confidential VM security type
                            storageProfile:
                              description: StorageProfile - contains information about
                                the disks and storage information for the virtual
                                machine instance
                              type: object
                              properties:
                                dataDisks:
                                  type: array
                                  description: adds data disks to the virtual machine
                                    instance
                                  items:
                                    type: object
                                    description: The ARM ID for a Virtual Hard Disk.
                                    properties:
                                      id:
                                        type: string
                                        format: arm-id
                                        description: The ARM ID for a Virtual Hard
                                          Disk.
                                        x-ms-arm-id-details:
                                          allowedResources:
                                          - type: Microsoft.AzureStackHCI/virtualHardDisks
                                imageReference:
                                  description: Which Image to use for the virtual
                                    machine instance
                                  x-ms-mutability:
                                  - read
                                  - create
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: arm-id
                                      description: The ARM ID for an image resource
                                        used by the virtual machine instance.
                                      x-ms-mutability:
                                      - read
                                      - create
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.AzureStackHCI/galleryImages
                                        - type: Microsoft.AzureStackHCI/marketplaceGalleryImages
                                osDisk:
                                  description: VHD to attach as OS disk
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      format: arm-id
                                      description: The ARM ID for a Virtual Hard Disk.
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.AzureStackHCI/virtualHardDisks
                                    osType:
                                      description: 'This property allows you to specify
                                        the type of the OS that is included in the
                                        disk if creating a VM from user-image or a
                                        specialized VHD. Possible values are: Windows,
                                        Linux.'
                                      type: string
                                      enum:
                                      - Windows
                                      - Linux
                                      x-ms-enum:
                                        name: OperatingSystemTypes
                                        modelAsString: true
                                        values:
                                        - name: Windows
                                          value: Windows
                                          description: Windows operating system
                                        - name: Linux
                                          value: Linux
                                          description: Linux operating system
                                    managedDisk:
                                      description: The managed disk parameters.
                                      type: object
                                      properties:
                                        securityProfile:
                                          description: Specifies the security profile
                                            for the managed disk.
                                          type: object
                                          properties:
                                            securityEncryptionType:
                                              description: 'Specifies the EncryptionType
                                                of the managed disk. It is set to
                                                NonPersistedTPM for not persisting
                                                firmware state in the VMGuestState
                                                blob. NOTE: It can be set for only
                                                Confidential VMs.'
                                              type: string
                                              enum:
                                              - NonPersistedTPM
                                              x-ms-enum:
                                                name: SecurityEncryptionType
                                                modelAsString: true
                                                values:
                                                - name: NonPersistedTPM
                                                  value: NonPersistedTPM
                                                  description: Non-persisted TPM encryption
                                                    type
                                vmConfigStoragePathId:
                                  type: string
                                  format: arm-id
                                  description: Id of the storage container that hosts
                                    the VM configuration file
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.AzureStackHCI/storageContainers
                            httpProxyConfig:
                              description: HTTP Proxy configuration for the VM.
                              type: object
                              properties:
                                httpProxy:
                                  type: string
                                  format: password
                                  description: The HTTP proxy server endpoint to use.
                                  x-ms-secret: true
                                httpsProxy:
                                  type: string
                                  format: password
                                  description: The HTTPS proxy server endpoint to
                                    use.
                                  x-ms-secret: true
                                noProxy:
                                  type: array
                                  description: The endpoints that should not go through
                                    proxy.
                                  items:
                                    type: string
                                trustedCa:
                                  type: string
                                  description: Alternative CA cert to use for connecting
                                    to proxy servers.
                            createFromLocal:
                              type: boolean
                              description: Boolean indicating whether this is an existing
                                local virtual machine or if one should be created.
                              default: false
                            provisioningState:
                              description: Provisioning state of the virtual machine
                                instance.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              - Accepted
                              - Deleting
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningStateEnum
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Provisioning has succeeded
                                - name: Failed
                                  value: Failed
                                  description: Provisioning has failed
                                - name: InProgress
                                  value: InProgress
                                  description: Provisioning is in progress
                                - name: Accepted
                                  value: Accepted
                                  description: Provisioning has been accepted
                                - name: Deleting
                                  value: Deleting
                                  description: Deletion of the resource is in progress
                                - name: Canceled
                                  value: Canceled
                                  description: Provisioning has been canceled
                            instanceView:
                              description: The virtual machine instance view.
                              readOnly: true
                              type: object
                              properties:
                                vmAgent:
                                  description: The VM Config Agent running on the
                                    virtual machine.
                                  type: object
                                  properties:
                                    vmConfigAgentVersion:
                                      type: string
                                      description: The VM Config Agent full version.
                                    statuses:
                                      type: array
                                      description: The resource status information.
                                      items:
                                        type: object
                                        description: Instance view status.
                                        properties:
                                          code:
                                            type: string
                                            description: The status code.
                                          level:
                                            description: The level code.
                                            type: string
                                            enum:
                                            - Info
                                            - Warning
                                            - Error
                                            x-ms-enum:
                                              name: StatusLevelTypes
                                              modelAsString: true
                                              values:
                                              - name: Info
                                                value: Info
                                                description: Informational status
                                                  level
                                              - name: Warning
                                                value: Warning
                                                description: Warning status level
                                              - name: Error
                                                value: Error
                                                description: Error status level
                                          displayStatus:
                                            type: string
                                            description: The short localizable label
                                              for the status.
                                          message:
                                            type: string
                                            description: The detailed status message,
                                              including for alerts and error messages.
                                          time:
                                            type: string
                                            format: date-time
                                            description: The time of the status.
                                      x-ms-identifiers: []
                            status:
                              description: The observed state of virtual machine instances
                              readOnly: true
                              type: object
                              properties:
                                errorCode:
                                  type: string
                                  description: VirtualMachine provisioning error code
                                errorMessage:
                                  type: string
                                  description: Descriptive error message
                                powerState:
                                  description: The power state of the virtual machine
                                    instance
                                  type: string
                                  enum:
                                  - Deallocated
                                  - Deallocating
                                  - Running
                                  - Starting
                                  - Stopped
                                  - Stopping
                                  - Paused
                                  - Saved
                                  - Unknown
                                  x-ms-enum:
                                    name: PowerStateEnum
                                    modelAsString: true
                                    values:
                                    - name: Deallocated
                                      value: Deallocated
                                      description: Virtual machine deallocated
                                    - name: Deallocating
                                      value: Deallocating
                                      description: Virtual machine deallocating
                                    - name: Running
                                      value: Running
                                      description: Virtual machine running
                                    - name: Starting
                                      value: Starting
                                      description: Virtual machine starting
                                    - name: Stopped
                                      value: Stopped
                                      description: Virtual machine stopped
                                    - name: Stopping
                                      value: Stopping
                                      description: Virtual machine stopping
                                    - name: Paused
                                      value: Paused
                                      description: Virtual machine paused
                                    - name: Saved
                                      value: Saved
                                      description: Virtual machine Saved,
                                    - name: Unknown
                                      value: Unknown
                                      description: Power state of the virtual machine
                                        is unknown
                                provisioningStatus:
                                  description: Provisioning status of the virtual
                                    machine instance
                                  type: object
                                  properties:
                                    operationId:
                                      type: string
                                      description: The ID of the operation performed
                                        on the virtual machine instance
                                    status:
                                      description: The status of the operation performed
                                        on the virtual machine instance [Succeeded,
                                        Failed, InProgress]
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Failed
                                      - InProgress
                                      x-ms-enum:
                                        name: Status
                                        modelAsString: true
                                        values:
                                        - name: Succeeded
                                          value: Succeeded
                                          description: Operation succeeded
                                        - name: Failed
                                          value: Failed
                                          description: Operation failed
                                        - name: InProgress
                                          value: InProgress
                                          description: Operation is in progress
                                      readOnly: true
                            guestAgentInstallStatus:
                              description: Guest agent install status.
                              type: object
                              properties:
                                vmUuid:
                                  type: string
                                  description: Specifies the VM's unique SMBIOS ID.
                                  readOnly: true
                                status:
                                  description: The installation status of the hybrid
                                    machine agent installation.
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Succeeded
                                  - InProgress
                                  - Failed
                                  x-ms-enum:
                                    name: StatusTypes
                                    modelAsString: true
                                    values:
                                    - name: Succeeded
                                      value: Succeeded
                                      description: Installation succeeded
                                    - name: InProgress
                                      value: InProgress
                                      description: Installation in progress
                                    - name: Failed
                                      value: Failed
                                      description: Installation failed
                                lastStatusChange:
                                  type: string
                                  format: date-time
                                  description: The time of the last status change.
                                  readOnly: true
                                agentVersion:
                                  type: string
                                  description: The hybrid machine agent full version.
                                  readOnly: true
                                errorDetails:
                                  type: array
                                  description: Details about the error state.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                            details:
                                              type: array
                                              description: The error details.
                                              items:
                                                type: object
                                                description: The error detail.
                                                properties:
                                                  code:
                                                    type: string
                                                    description: The error code.
                                                    readOnly: true
                                                  message:
                                                    type: string
                                                    description: The error message.
                                                    readOnly: true
                                                  target:
                                                    type: string
                                                    description: The error target.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers:
                                              - message
                                              - target
                                            additionalInfo:
                                              type: array
                                              description: The error additional info.
                                              items:
                                                type: object
                                                description: The resource management
                                                  error additional info.
                                                properties:
                                                  type:
                                                    type: string
                                                    description: The additional info
                                                      type.
                                                    readOnly: true
                                                  info:
                                                    type: object
                                                    description: The additional info.
                                                    readOnly: true
                                              readOnly: true
                                              x-ms-identifiers: []
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers: []
                            vmId:
                              type: string
                              description: Unique identifier for the vm resource.
                              readOnly: true
                            resourceUid:
                              type: string
                              description: Unique identifier defined by ARC to identify
                                the guest of the VM.
                            hyperVVmId:
                              type: string
                              description: Unique identifier for the Hyper-V VM resource.
                              readOnly: true
                            hostNodeName:
                              type: string
                              description: Name of the host node that the VM is on.
                              readOnly: true
                            hostNodeIpAddress:
                              type: string
                              description: Name of the host node that the VM is on.
                              readOnly: true
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                                values:
                                - name: CustomLocation
                                  value: CustomLocation
                                  description: Custom extended location type
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.AzureStackHCI/virtualMachineInstances/default:
    get:
      operationId: VirtualMachineInstances_Get
      tags:
      - VirtualMachineInstances
      description: Gets a virtual machine instance
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      hardwareProfile:
                        description: HardwareProfile - Specifies the hardware settings
                          for the virtual machine instance.
                        type: object
                        properties:
                          vmSize:
                            type: string
                            description: Enum of VM Sizes
                            default: Default
                            enum:
                            - Default
                            - Standard_A2_v2
                            - Standard_A4_v2
                            - Standard_D2s_v3
                            - Standard_D4s_v3
                            - Standard_D8s_v3
                            - Standard_D16s_v3
                            - Standard_D32s_v3
                            - Standard_DS2_v2
                            - Standard_DS3_v2
                            - Standard_DS4_v2
                            - Standard_DS5_v2
                            - Standard_DS13_v2
                            - Standard_K8S_v1
                            - Standard_K8S2_v1
                            - Standard_K8S3_v1
                            - Standard_K8S4_v1
                            - Standard_NK6
                            - Standard_NK12
                            - Standard_NV6
                            - Standard_NV12
                            - Standard_K8S5_v1
                            - Custom
                            x-ms-enum:
                              name: VmSizeEnum
                              modelAsString: true
                              values:
                              - name: Default
                                value: Default
                                description: Default virtual machine size
                              - name: Standard_A2_v2
                                value: Standard_A2_v2
                                description: Standard A2 v2 virtual machine size
                              - name: Standard_A4_v2
                                value: Standard_A4_v2
                                description: Standard A4 v2 virtual machine size
                              - name: Standard_D2s_v3
                                value: Standard_D2s_v3
                                description: Standard D2s v3 virtual machine size
                              - name: Standard_D4s_v3
                                value: Standard_D4s_v3
                                description: Standard D4s v3 virtual machine size
                              - name: Standard_D8s_v3
                                value: Standard_D8s_v3
                                description: Standard D8s v3 virtual machine size
                              - name: Standard_D16s_v3
                                value: Standard_D16s_v3
                                description: Standard D16s v3 virtual machine size
                              - name: Standard_D32s_v3
                                value: Standard_D32s_v3
                                description: Standard D32s v3 virtual machine size
                              - name: Standard_DS2_v2
                                value: Standard_DS2_v2
                                description: Standard DS2 v2 virtual machine size
                              - name: Standard_DS3_v2
                                value: Standard_DS3_v2
                                description: Standard DS3 v2 virtual machine size
                              - name: Standard_DS4_v2
                                value: Standard_DS4_v2
                                description: Standard DS4 v2 virtual machine size
                              - name: Standard_DS5_v2
                                value: Standard_DS5_v2
                                description: Standard DS5 v2 virtual machine size
                              - name: Standard_DS13_v2
                                value: Standard_DS13_v2
                                description: Standard DS13 v2 virtual machine size
                              - name: Standard_K8S_v1
                                value: Standard_K8S_v1
                                description: Standard K8S v1 virtual machine size
                              - name: Standard_K8S2_v1
                                value: Standard_K8S2_v1
                                description: Standard K8S2 v1 virtual machine size
                              - name: Standard_K8S3_v1
                                value: Standard_K8S3_v1
                                description: Standard K8S3 v1 virtual machine size
                              - name: Standard_K8S4_v1
                                value: Standard_K8S4_v1
                                description: Standard K8S4 v1 virtual machine size
                              - name: Standard_NK6
                                value: Standard_NK6
                                description: Standard NK6 virtual machine size
                              - name: Standard_NK12
                                value: Standard_NK12
                                description: Standard NK12 virtual machine size
                              - name: Standard_NV6
                                value: Standard_NV6
                                description: Standard NV6 virtual machine size
                              - name: Standard_NV12
                                value: Standard_NV12
                                description: Standard NV12 virtual machine size
                              - name: Standard_K8S5_v1
                                value: Standard_K8S5_v1
                                description: Standard K8S5 v1 virtual machine size
                              - name: Custom
                                value: Custom
                                description: Custom virtual machine size
                          processors:
                            type: integer
                            format: int32
                            description: number of processors for the virtual machine
                              instance
                          memoryMB:
                            type: integer
                            format: int64
                            description: RAM in MB for the virtual machine instance
                          dynamicMemoryConfig:
                            description: Dynamic memory config
                            type: object
                            properties:
                              maximumMemoryMB:
                                type: integer
                                format: int64
                                description: Maximum memory in MB
                              minimumMemoryMB:
                                type: integer
                                format: int64
                                description: Minimum memory in MB
                              targetMemoryBuffer:
                                type: integer
                                format: int32
                                description: Defines the amount of extra memory that
                                  should be reserved for a virtual machine instance
                                  at runtime, as a percentage of the total memory
                                  that the virtual machine instance is thought to
                                  need. This only applies to virtual systems with
                                  dynamic memory enabled. This property can be in
                                  the range of 5 to 2000.
                          virtualMachineGPUs:
                            type: array
                            description: virtualMachineGPUs - list of gpus to be attached
                              to the virtual machine instance
                            items:
                              type: object
                              description: GPU properties - describes the GPU configuration.
                              properties:
                                assignmentType:
                                  description: GPU assignment type
                                  type: string
                                  enum:
                                  - GpuDDA
                                  - GpuP
                                  x-ms-enum:
                                    name: GpuAssignmentTypeEnum
                                    modelAsString: true
                                    values:
                                    - name: GpuDDA
                                      value: GpuDDA
                                      description: Attach Graphics Processing Unit
                                        (GPU) using Discrete Device Assignment (DDA)
                                    - name: GpuP
                                      value: GpuP
                                      description: Attach Graphics Processing Unit
                                        (GPU) using GPU Partitioning
                                partitionSizeMB:
                                  type: integer
                                  format: int64
                                  description: Size of gpu partition in MB for GPU-P
                                gpuName:
                                  type: string
                                  description: Name of the GPU
                              required:
                              - assignmentType
                            x-ms-identifiers: []
                      placementProfile:
                        description: PlacementProfile - Specifies the placement related
                          settings for the virtual machine.
                        type: object
                        properties:
                          zone:
                            type: string
                            description: The zone in which the VM should be placed
                              in.
                          strictPlacementPolicy:
                            type: boolean
                            description: Specifies whether VM can only failover strictly
                              within the zone it was placed in
                      networkProfile:
                        description: NetworkProfile - describes the network configuration
                          the virtual machine instance
                        type: object
                        properties:
                          networkInterfaces:
                            type: array
                            description: NetworkInterfaces - list of network interfaces
                              to be attached to the virtual machine instance
                            items:
                              type: object
                              description: The ARM ID for a Network Interface.
                              properties:
                                id:
                                  type: string
                                  format: arm-id
                                  description: The ARM ID for a Network Interface.
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.AzureStackHCI/networkInterfaces
                            x-ms-identifiers: []
                      osProfile:
                        description: OsProfile - describes the configuration of the
                          operating system and sets login data
                        type: object
                        properties:
                          adminPassword:
                            type: string
                            format: password
                            description: AdminPassword - admin password
                            x-ms-mutability:
                            - create
                            x-ms-secret: true
                          adminUsername:
                            type: string
                            description: AdminUsername - admin username
                          computerName:
                            type: string
                            description: ComputerName - name of the compute
                          linuxConfiguration:
                            description: LinuxConfiguration - linux specific configuration
                              values for the virtual machine instance
                            type: object
                            properties:
                              disablePasswordAuthentication:
                                type: boolean
                                description: DisablePasswordAuthentication - whether
                                  password authentication should be disabled
                              ssh:
                                description: Specifies the ssh key configuration for
                                  a Linux OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                                    items:
                                      type: object
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://learn.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                    x-ms-identifiers:
                                    - path
                              provisionVMAgent:
                                type: boolean
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                                default: true
                              provisionVMConfigAgent:
                                type: boolean
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                                default: true
                          windowsConfiguration:
                            description: Windows Configuration for the virtual machine
                              instance
                            type: object
                            properties:
                              enableAutomaticUpdates:
                                type: boolean
                                description: Whether to EnableAutomaticUpdates on
                                  the machine
                              ssh:
                                description: Specifies the ssh key configuration for
                                  Windows OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                                    items:
                                      type: object
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://learn.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                    x-ms-identifiers:
                                    - path
                              timeZone:
                                type: string
                                description: TimeZone for the virtual machine instance
                              provisionVMAgent:
                                type: boolean
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                                default: true
                              provisionVMConfigAgent:
                                type: boolean
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                                default: true
                      securityProfile:
                        description: SecurityProfile - Specifies the security settings
                          for the virtual machine instance.
                        type: object
                        properties:
                          enableTPM:
                            type: boolean
                            description: Enable TPM flag
                            default: false
                          uefiSettings:
                            description: Uefi settings of the virtual machine instance
                            type: object
                            properties:
                              secureBootEnabled:
                                type: boolean
                                description: Specifies whether secure boot should
                                  be enabled on the virtual machine instance.
                                default: false
                          securityType:
                            description: Specifies the SecurityType of the virtual
                              machine. EnableTPM and SecureBootEnabled must be set
                              to true for SecurityType to function.
                            type: string
                            enum:
                            - TrustedLaunch
                            - ConfidentialVM
                            x-ms-enum:
                              name: SecurityTypes
                              modelAsString: true
                              values:
                              - name: TrustedLaunch
                                value: TrustedLaunch
                                description: Trusted Launch security type
                              - name: ConfidentialVM
                                value: ConfidentialVM
                                description: Confidential VM security type
                      storageProfile:
                        description: StorageProfile - contains information about the
                          disks and storage information for the virtual machine instance
                        type: object
                        properties:
                          dataDisks:
                            type: array
                            description: adds data disks to the virtual machine instance
                            items:
                              type: object
                              description: The ARM ID for a Virtual Hard Disk.
                              properties:
                                id:
                                  type: string
                                  format: arm-id
                                  description: The ARM ID for a Virtual Hard Disk.
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.AzureStackHCI/virtualHardDisks
                          imageReference:
                            description: Which Image to use for the virtual machine
                              instance
                            x-ms-mutability:
                            - read
                            - create
                            type: object
                            properties:
                              id:
                                type: string
                                format: arm-id
                                description: The ARM ID for an image resource used
                                  by the virtual machine instance.
                                x-ms-mutability:
                                - read
                                - create
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.AzureStackHCI/galleryImages
                                  - type: Microsoft.AzureStackHCI/marketplaceGalleryImages
                          osDisk:
                            description: VHD to attach as OS disk
                            type: object
                            properties:
                              id:
                                type: string
                                format: arm-id
                                description: The ARM ID for a Virtual Hard Disk.
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.AzureStackHCI/virtualHardDisks
                              osType:
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from user-image or a specialized
                                  VHD. Possible values are: Windows, Linux.'
                                type: string
                                enum:
                                - Windows
                                - Linux
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: true
                                  values:
                                  - name: Windows
                                    value: Windows
                                    description: Windows operating system
                                  - name: Linux
                                    value: Linux
                                    description: Linux operating system
                              managedDisk:
                                description: The managed disk parameters.
                                type: object
                                properties:
                                  securityProfile:
                                    description: Specifies the security profile for
                                      the managed disk.
                                    type: object
                                    properties:
                                      securityEncryptionType:
                                        description: 'Specifies the EncryptionType
                                          of the managed disk. It is set to NonPersistedTPM
                                          for not persisting firmware state in the
                                          VMGuestState blob. NOTE: It can be set for
                                          only Confidential VMs.'
                                        type: string
                                        enum:
                                        - NonPersistedTPM
                                        x-ms-enum:
                                          name: SecurityEncryptionType
                                          modelAsString: true
                                          values:
                                          - name: NonPersistedTPM
                                            value: NonPersistedTPM
                                            description: Non-persisted TPM encryption
                                              type
                          vmConfigStoragePathId:
                            type: string
                            format: arm-id
                            description: Id of the storage container that hosts the
                              VM configuration file
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.AzureStackHCI/storageContainers
                      httpProxyConfig:
                        description: HTTP Proxy configuration for the VM.
                        type: object
                        properties:
                          httpProxy:
                            type: string
                            format: password
                            description: The HTTP proxy server endpoint to use.
                            x-ms-secret: true
[...]
