openapi: 3.0.0
info:
  title: Azure Maps Resource Provider
  description: Resource Provider
  version: 2023-06-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}:
    put:
      tags:
      - Accounts
      description: Create or update a Maps Account. A Maps Account holds the keys
        which allow access to the Maps REST APIs.
      operationId: Accounts_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        description: The name of the Maps Account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                sku:
                  description: The SKU of this account.
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, in standard format (such as
                        S0).
                      type: string
                      enum:
                      - S0
                      - S1
                      - G2
                      x-ms-enum:
                        name: name
                        modelAsString: true
                    tier:
                      readOnly: true
                      type: string
                      description: Gets the sku tier. This is based on the SKU name.
                  required:
                  - name
                kind:
                  description: Get or Set Kind property.
                  type: string
                  default: Gen1
                  enum:
                  - Gen1
                  - Gen2
                  x-ms-enum:
                    name: kind
                    modelAsString: true
                systemData:
                  type: object
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                  readOnly: true
                identity:
                  type: object
                  description: Managed service identity (system assigned and/or user
                    assigned identities)
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                properties:
                  description: The map account properties.
                  type: object
                  properties:
                    uniqueId:
                      description: A unique identifier for the maps account
                      type: string
                      readOnly: true
                    disableLocalAuth:
                      description: Allows toggle functionality on Azure Policy to
                        disable Azure Maps local authentication support. This will
                        disable Shared Keys and Shared Access Signature Token authentication
                        from any usage.
                      type: boolean
                      default: false
                    provisioningState:
                      type: string
                      description: 'The provisioning state of the Map account resource,
                        Account updates can only be performed on terminal states.
                        Terminal states: `Succeeded` and `Failed`'
                      readOnly: true
                    linkedResources:
                      type: array
                      maxItems: 10
                      items:
                        type: object
                        properties:
                          uniqueName:
                            type: string
                            description: A provided name which uniquely identifies
                              the linked resource.
                          id:
                            type: string
                            description: 'ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}''.'
                        required:
                        - uniqueName
                        - id
                        description: Linked resource is reference to a resource deployed
                          in an Azure subscription, add the linked resource `uniqueName`
                          value as an optional parameter for operations on Azure Maps
                          Geospatial REST APIs.
                      description: The array of associated resources to the Map account.
                        Linked resource in the array cannot individually update, you
                        must update all linked resources in the array together. These
                        resources may be used on operations on the Azure Maps REST
                        API. Access is controlled by the Map Account Managed Identity(s)
                        permissions to those resource(s).
                    cors:
                      description: Specifies CORS rules for the Blob service. You
                        can include up to five CorsRule elements in the request. If
                        no CorsRule elements are included in the request body, all
                        CORS rules will be deleted, and CORS will be disabled for
                        the Blob service.
                      type: object
                      properties:
                        corsRules:
                          type: array
                          maxItems: 5
                          items:
                            description: Specifies a CORS rule for the Map Account.
                            type: object
                            properties:
                              allowedOrigins:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of origin domains that will be allowed via
                                  CORS, or "*" to allow all domains
                            required:
                            - allowedOrigins
                          x-ms-identifiers: []
                          description: 'The list of CORS rules. You can include up
                            to five CorsRule elements in the request. '
                    encryption:
                      type: object
                      description: (Optional) Discouraged to include in resource definition.
                        Only needed where it is possible to disable platform (AKA
                        infrastructure) encryption. Azure SQL TDE is an example of
                        this. Values are enabled and disabled.
                      properties:
                        infrastructureEncryption:
                          type: string
                          description: Values are enabled and disabled.
                          enum:
                          - enabled
                          - disabled
                          x-ms-enum:
                            name: InfrastructureEncryption
                            modelAsString: true
                        customerManagedKeyEncryption:
                          description: All Customer-managed key encryption properties
                            for the resource.
                          type: object
                          properties:
                            keyEncryptionKeyIdentity:
                              type: object
                              description: All identity configuration for Customer-managed
                                key settings defining which identity should be used
                                to auth to Key Vault.
                              properties:
                                identityType:
                                  type: string
                                  description: Values can be systemAssignedIdentity
                                    or userAssignedIdentity
                                  enum:
                                  - systemAssignedIdentity
                                  - userAssignedIdentity
                                  - delegatedResourceIdentity
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                                userAssignedIdentityResourceId:
                                  type: string
                                  format: arm-id
                                  description: 'user assigned identity to use for
                                    accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                    group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                    Mutually exclusive with identityType systemAssignedIdentity
                                    and delegatedResourceIdentity.'
                                delegatedIdentityClientId:
                                  type: string
                                  format: uuid
                                  description: 'delegated identity to use for accessing
                                    key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                    group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                    Mutually exclusive with identityType systemAssignedIdentity
                                    and userAssignedIdentity - internal use only.'
                            keyEncryptionKeyUrl:
                              type: string
                              description: 'key encryption key Url, versioned or non-versioned.
                                Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78
                                or https://contosovault.vault.azure.net/keys/contosokek.'
              required:
              - location
              - sku
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The new or updated parameters for the Maps Account.
        required: true
      responses:
        '200':
          description: The Account was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: The SKU of this account.
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, in standard format (such
                          as S0).
                        type: string
                        enum:
                        - S0
                        - S1
                        - G2
                        x-ms-enum:
                          name: name
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                    required:
                    - name
                  kind:
                    description: Get or Set Kind property.
                    type: string
                    default: Gen1
                    enum:
                    - Gen1
                    - Gen2
                    x-ms-enum:
                      name: kind
                      modelAsString: true
                  systemData:
                    type: object
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: The map account properties.
                    type: object
                    properties:
                      uniqueId:
                        description: A unique identifier for the maps account
                        type: string
                        readOnly: true
                      disableLocalAuth:
                        description: Allows toggle functionality on Azure Policy to
                          disable Azure Maps local authentication support. This will
                          disable Shared Keys and Shared Access Signature Token authentication
                          from any usage.
                        type: boolean
                        default: false
                      provisioningState:
                        type: string
                        description: 'The provisioning state of the Map account resource,
                          Account updates can only be performed on terminal states.
                          Terminal states: `Succeeded` and `Failed`'
                        readOnly: true
                      linkedResources:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          properties:
                            uniqueName:
                              type: string
                              description: A provided name which uniquely identifies
                                the linked resource.
                            id:
                              type: string
                              description: 'ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}''.'
                          required:
                          - uniqueName
                          - id
                          description: Linked resource is reference to a resource
                            deployed in an Azure subscription, add the linked resource
                            `uniqueName` value as an optional parameter for operations
                            on Azure Maps Geospatial REST APIs.
                        description: The array of associated resources to the Map
                          account. Linked resource in the array cannot individually
                          update, you must update all linked resources in the array
                          together. These resources may be used on operations on the
                          Azure Maps REST API. Access is controlled by the Map Account
                          Managed Identity(s) permissions to those resource(s).
                      cors:
                        description: Specifies CORS rules for the Blob service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Blob service.
                        type: object
                        properties:
                          corsRules:
                            type: array
                            maxItems: 5
                            items:
                              description: Specifies a CORS rule for the Map Account.
                              type: object
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                              required:
                              - allowedOrigins
                            x-ms-identifiers: []
                            description: 'The list of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                      encryption:
                        type: object
                        description: (Optional) Discouraged to include in resource
                          definition. Only needed where it is possible to disable
                          platform (AKA infrastructure) encryption. Azure SQL TDE
                          is an example of this. Values are enabled and disabled.
                        properties:
                          infrastructureEncryption:
                            type: string
                            description: Values are enabled and disabled.
                            enum:
                            - enabled
                            - disabled
                            x-ms-enum:
                              name: InfrastructureEncryption
                              modelAsString: true
                          customerManagedKeyEncryption:
                            description: All Customer-managed key encryption properties
                              for the resource.
                            type: object
                            properties:
                              keyEncryptionKeyIdentity:
                                type: object
                                description: All identity configuration for Customer-managed
                                  key settings defining which identity should be used
                                  to auth to Key Vault.
                                properties:
                                  identityType:
                                    type: string
                                    description: Values can be systemAssignedIdentity
                                      or userAssignedIdentity
                                    enum:
                                    - systemAssignedIdentity
                                    - userAssignedIdentity
                                    - delegatedResourceIdentity
                                    x-ms-enum:
                                      name: IdentityType
                                      modelAsString: true
                                  userAssignedIdentityResourceId:
                                    type: string
                                    format: arm-id
                                    description: 'user assigned identity to use for
                                      accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and delegatedResourceIdentity.'
                                  delegatedIdentityClientId:
                                    type: string
                                    format: uuid
                                    description: 'delegated identity to use for accessing
                                      key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and userAssignedIdentity - internal use only.'
                              keyEncryptionKeyUrl:
                                type: string
                                description: 'key encryption key Url, versioned or
                                  non-versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78
                                  or https://contosovault.vault.azure.net/keys/contosokek.'
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: The Account was successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: The SKU of this account.
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, in standard format (such
                          as S0).
                        type: string
                        enum:
                        - S0
                        - S1
                        - G2
                        x-ms-enum:
                          name: name
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                    required:
                    - name
                  kind:
                    description: Get or Set Kind property.
                    type: string
                    default: Gen1
                    enum:
                    - Gen1
                    - Gen2
                    x-ms-enum:
                      name: kind
                      modelAsString: true
                  systemData:
                    type: object
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: The map account properties.
                    type: object
                    properties:
                      uniqueId:
                        description: A unique identifier for the maps account
                        type: string
                        readOnly: true
                      disableLocalAuth:
                        description: Allows toggle functionality on Azure Policy to
                          disable Azure Maps local authentication support. This will
                          disable Shared Keys and Shared Access Signature Token authentication
                          from any usage.
                        type: boolean
                        default: false
                      provisioningState:
                        type: string
                        description: 'The provisioning state of the Map account resource,
                          Account updates can only be performed on terminal states.
                          Terminal states: `Succeeded` and `Failed`'
                        readOnly: true
                      linkedResources:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          properties:
                            uniqueName:
                              type: string
                              description: A provided name which uniquely identifies
                                the linked resource.
                            id:
                              type: string
                              description: 'ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}''.'
                          required:
                          - uniqueName
                          - id
                          description: Linked resource is reference to a resource
                            deployed in an Azure subscription, add the linked resource
                            `uniqueName` value as an optional parameter for operations
                            on Azure Maps Geospatial REST APIs.
                        description: The array of associated resources to the Map
                          account. Linked resource in the array cannot individually
                          update, you must update all linked resources in the array
                          together. These resources may be used on operations on the
                          Azure Maps REST API. Access is controlled by the Map Account
                          Managed Identity(s) permissions to those resource(s).
                      cors:
                        description: Specifies CORS rules for the Blob service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Blob service.
                        type: object
                        properties:
                          corsRules:
                            type: array
                            maxItems: 5
                            items:
                              description: Specifies a CORS rule for the Map Account.
                              type: object
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                              required:
                              - allowedOrigins
                            x-ms-identifiers: []
                            description: 'The list of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                      encryption:
                        type: object
                        description: (Optional) Discouraged to include in resource
                          definition. Only needed where it is possible to disable
                          platform (AKA infrastructure) encryption. Azure SQL TDE
                          is an example of this. Values are enabled and disabled.
                        properties:
                          infrastructureEncryption:
                            type: string
                            description: Values are enabled and disabled.
                            enum:
                            - enabled
                            - disabled
                            x-ms-enum:
                              name: InfrastructureEncryption
                              modelAsString: true
                          customerManagedKeyEncryption:
                            description: All Customer-managed key encryption properties
                              for the resource.
                            type: object
                            properties:
                              keyEncryptionKeyIdentity:
                                type: object
                                description: All identity configuration for Customer-managed
                                  key settings defining which identity should be used
                                  to auth to Key Vault.
                                properties:
                                  identityType:
                                    type: string
                                    description: Values can be systemAssignedIdentity
                                      or userAssignedIdentity
                                    enum:
                                    - systemAssignedIdentity
                                    - userAssignedIdentity
                                    - delegatedResourceIdentity
                                    x-ms-enum:
                                      name: IdentityType
                                      modelAsString: true
                                  userAssignedIdentityResourceId:
                                    type: string
                                    format: arm-id
                                    description: 'user assigned identity to use for
                                      accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and delegatedResourceIdentity.'
                                  delegatedIdentityClientId:
                                    type: string
                                    format: uuid
                                    description: 'delegated identity to use for accessing
                                      key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and userAssignedIdentity - internal use only.'
                              keyEncryptionKeyUrl:
                                type: string
                                description: 'key encryption key Url, versioned or
                                  non-versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78
                                  or https://contosovault.vault.azure.net/keys/contosokek.'
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An error occurred during creating or updating the Account.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      tags:
      - Accounts
      description: Updates a Maps Account. Only a subset of the parameters may be
        updated after creation, such as Sku, Tags, Properties.
      operationId: Accounts_Update
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        description: The name of the Maps Account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters used to update an existing Maps Account.
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Gets or sets a list of key value pairs that describe
                    the resource. These tags can be used in viewing and grouping this
                    resource (across resource groups). A maximum of 15 tags can be
                    provided for a resource. Each tag must have a key no greater than
                    128 characters and value no greater than 256 characters.
                kind:
                  description: Get or Set Kind property.
                  type: string
                  default: Gen1
                  enum:
                  - Gen1
                  - Gen2
                  x-ms-enum:
                    name: kind
                    modelAsString: true
                sku:
                  description: The SKU of this account.
                  type: object
                  properties:
                    name:
                      description: The name of the SKU, in standard format (such as
                        S0).
                      type: string
                      enum:
                      - S0
                      - S1
                      - G2
                      x-ms-enum:
                        name: name
                        modelAsString: true
                    tier:
                      readOnly: true
                      type: string
                      description: Gets the sku tier. This is based on the SKU name.
                  required:
                  - name
                identity:
                  type: object
                  description: Managed service identity (system assigned and/or user
                    assigned identities)
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                  required:
                  - type
                properties:
                  description: The map account properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    uniqueId:
                      description: A unique identifier for the maps account
                      type: string
                      readOnly: true
                    disableLocalAuth:
                      description: Allows toggle functionality on Azure Policy to
                        disable Azure Maps local authentication support. This will
                        disable Shared Keys and Shared Access Signature Token authentication
                        from any usage.
                      type: boolean
                      default: false
                    provisioningState:
                      type: string
                      description: 'The provisioning state of the Map account resource,
                        Account updates can only be performed on terminal states.
                        Terminal states: `Succeeded` and `Failed`'
                      readOnly: true
                    linkedResources:
                      type: array
                      maxItems: 10
                      items:
                        type: object
                        properties:
                          uniqueName:
                            type: string
                            description: A provided name which uniquely identifies
                              the linked resource.
                          id:
                            type: string
                            description: 'ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}''.'
                        required:
                        - uniqueName
                        - id
                        description: Linked resource is reference to a resource deployed
                          in an Azure subscription, add the linked resource `uniqueName`
                          value as an optional parameter for operations on Azure Maps
                          Geospatial REST APIs.
                      description: The array of associated resources to the Map account.
                        Linked resource in the array cannot individually update, you
                        must update all linked resources in the array together. These
                        resources may be used on operations on the Azure Maps REST
                        API. Access is controlled by the Map Account Managed Identity(s)
                        permissions to those resource(s).
                    cors:
                      description: Specifies CORS rules for the Blob service. You
                        can include up to five CorsRule elements in the request. If
                        no CorsRule elements are included in the request body, all
                        CORS rules will be deleted, and CORS will be disabled for
                        the Blob service.
                      type: object
                      properties:
                        corsRules:
                          type: array
                          maxItems: 5
                          items:
                            description: Specifies a CORS rule for the Map Account.
                            type: object
                            properties:
                              allowedOrigins:
                                type: array
                                items:
                                  type: string
                                description: Required if CorsRule element is present.
                                  A list of origin domains that will be allowed via
                                  CORS, or "*" to allow all domains
                            required:
                            - allowedOrigins
                          x-ms-identifiers: []
                          description: 'The list of CORS rules. You can include up
                            to five CorsRule elements in the request. '
                    encryption:
                      type: object
                      description: (Optional) Discouraged to include in resource definition.
                        Only needed where it is possible to disable platform (AKA
                        infrastructure) encryption. Azure SQL TDE is an example of
                        this. Values are enabled and disabled.
                      properties:
                        infrastructureEncryption:
                          type: string
                          description: Values are enabled and disabled.
                          enum:
                          - enabled
                          - disabled
                          x-ms-enum:
                            name: InfrastructureEncryption
                            modelAsString: true
                        customerManagedKeyEncryption:
                          description: All Customer-managed key encryption properties
                            for the resource.
                          type: object
                          properties:
                            keyEncryptionKeyIdentity:
                              type: object
                              description: All identity configuration for Customer-managed
                                key settings defining which identity should be used
                                to auth to Key Vault.
                              properties:
                                identityType:
                                  type: string
                                  description: Values can be systemAssignedIdentity
                                    or userAssignedIdentity
                                  enum:
                                  - systemAssignedIdentity
                                  - userAssignedIdentity
                                  - delegatedResourceIdentity
                                  x-ms-enum:
                                    name: IdentityType
                                    modelAsString: true
                                userAssignedIdentityResourceId:
                                  type: string
                                  format: arm-id
                                  description: 'user assigned identity to use for
                                    accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                    group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                    Mutually exclusive with identityType systemAssignedIdentity
                                    and delegatedResourceIdentity.'
                                delegatedIdentityClientId:
                                  type: string
                                  format: uuid
                                  description: 'delegated identity to use for accessing
                                    key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                    group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                    Mutually exclusive with identityType systemAssignedIdentity
                                    and userAssignedIdentity - internal use only.'
                            keyEncryptionKeyUrl:
                              type: string
                              description: 'key encryption key Url, versioned or non-versioned.
                                Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78
                                or https://contosovault.vault.azure.net/keys/contosokek.'
        description: The updated parameters for the Maps Account.
        required: true
      responses:
        '200':
          description: The Account was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: The SKU of this account.
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, in standard format (such
                          as S0).
                        type: string
                        enum:
                        - S0
                        - S1
                        - G2
                        x-ms-enum:
                          name: name
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                    required:
                    - name
                  kind:
                    description: Get or Set Kind property.
                    type: string
                    default: Gen1
                    enum:
                    - Gen1
                    - Gen2
                    x-ms-enum:
                      name: kind
                      modelAsString: true
                  systemData:
                    type: object
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: The map account properties.
                    type: object
                    properties:
                      uniqueId:
                        description: A unique identifier for the maps account
                        type: string
                        readOnly: true
                      disableLocalAuth:
                        description: Allows toggle functionality on Azure Policy to
                          disable Azure Maps local authentication support. This will
                          disable Shared Keys and Shared Access Signature Token authentication
                          from any usage.
                        type: boolean
                        default: false
                      provisioningState:
                        type: string
                        description: 'The provisioning state of the Map account resource,
                          Account updates can only be performed on terminal states.
                          Terminal states: `Succeeded` and `Failed`'
                        readOnly: true
                      linkedResources:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          properties:
                            uniqueName:
                              type: string
                              description: A provided name which uniquely identifies
                                the linked resource.
                            id:
                              type: string
                              description: 'ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}''.'
                          required:
                          - uniqueName
                          - id
                          description: Linked resource is reference to a resource
                            deployed in an Azure subscription, add the linked resource
                            `uniqueName` value as an optional parameter for operations
                            on Azure Maps Geospatial REST APIs.
                        description: The array of associated resources to the Map
                          account. Linked resource in the array cannot individually
                          update, you must update all linked resources in the array
                          together. These resources may be used on operations on the
                          Azure Maps REST API. Access is controlled by the Map Account
                          Managed Identity(s) permissions to those resource(s).
                      cors:
                        description: Specifies CORS rules for the Blob service. You
                          can include up to five CorsRule elements in the request.
                          If no CorsRule elements are included in the request body,
                          all CORS rules will be deleted, and CORS will be disabled
                          for the Blob service.
                        type: object
                        properties:
                          corsRules:
                            type: array
                            maxItems: 5
                            items:
                              description: Specifies a CORS rule for the Map Account.
                              type: object
                              properties:
                                allowedOrigins:
                                  type: array
                                  items:
                                    type: string
                                  description: Required if CorsRule element is present.
                                    A list of origin domains that will be allowed
                                    via CORS, or "*" to allow all domains
                              required:
                              - allowedOrigins
                            x-ms-identifiers: []
                            description: 'The list of CORS rules. You can include
                              up to five CorsRule elements in the request. '
                      encryption:
                        type: object
                        description: (Optional) Discouraged to include in resource
                          definition. Only needed where it is possible to disable
                          platform (AKA infrastructure) encryption. Azure SQL TDE
                          is an example of this. Values are enabled and disabled.
                        properties:
                          infrastructureEncryption:
                            type: string
                            description: Values are enabled and disabled.
                            enum:
                            - enabled
                            - disabled
                            x-ms-enum:
                              name: InfrastructureEncryption
                              modelAsString: true
                          customerManagedKeyEncryption:
                            description: All Customer-managed key encryption properties
                              for the resource.
                            type: object
                            properties:
                              keyEncryptionKeyIdentity:
                                type: object
                                description: All identity configuration for Customer-managed
                                  key settings defining which identity should be used
                                  to auth to Key Vault.
                                properties:
                                  identityType:
                                    type: string
                                    description: Values can be systemAssignedIdentity
                                      or userAssignedIdentity
                                    enum:
                                    - systemAssignedIdentity
                                    - userAssignedIdentity
                                    - delegatedResourceIdentity
                                    x-ms-enum:
                                      name: IdentityType
                                      modelAsString: true
                                  userAssignedIdentityResourceId:
                                    type: string
                                    format: arm-id
                                    description: 'user assigned identity to use for
                                      accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and delegatedResourceIdentity.'
                                  delegatedIdentityClientId:
                                    type: string
                                    format: uuid
                                    description: 'delegated identity to use for accessing
                                      key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource
                                      group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.
                                      Mutually exclusive with identityType systemAssignedIdentity
                                      and userAssignedIdentity - internal use only.'
                              keyEncryptionKeyUrl:
                                type: string
                                description: 'key encryption key Url, versioned or
                                  non-versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78
                                  or https://contosovault.vault.azure.net/keys/contosokek.'
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An error occurred during creating or updating the Account.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - Accounts
      description: Delete a Maps Account.
      operationId: Accounts_Delete
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        description: The name of the Maps Account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Account was deleted successfully.
        '204':
          description: The specified Account was not found. Nothing was deleted.
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      tags:
      - Accounts
      description: Get a Maps Account.
      operationId: Accounts_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: accountName
        in: path
        description: The name of the Maps Account.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: The SKU of this account.
                    type: object
                    properties:
                      name:
                        description: The name of the SKU, in standard format (such
                          as S0).
                        type: string
                        enum:
                        - S0
                        - S1
                        - G2
                        x-ms-enum:
                          name: name
                          modelAsString: true
                      tier:
                        readOnly: true
                        type: string
                        description: Gets the sku tier. This is based on the SKU name.
                    required:
                    - name
                  kind:
                    description: Get or Set Kind property.
                    type: string
                    default: Gen1
                    enum:
                    - Gen1
                    - Gen2
                    x-ms-enum:
                      name: kind
                      modelAsString: true
                  systemData:
                    type: object
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                    readOnly: true
                  identity:
                    type: object
                    description: Managed service identity (system assigned and/or
                      user assigned identities)
                    properties:
                      principalId:
                        type: string
                        format: uuid
[...]
