openapi: 3.0.0
info:
  title: Azure API for managing SCOM managed instances and monitored resources.
  description: Azure Monitor Operations Manager Managed Instance (SCOM MI) management
    APIs
  version: 2023-07-07-preview
  x-ms-code-generation-settings:
    name: scomClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/operations:
    get:
      tags:
      - Operations
      description: Lists all available operations on SCOM monitoring instance
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Scom/operations:
    get:
      tags:
      - Operations
      description: Lists all available operations on SCOM managed instance (SCOM MI)
      operationId: Operations_ListV2
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An error response providing a description of the reason for
            the operation's failure.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances:
    get:
      operationId: Instances_ListByResourceGroup
      description: Lists all SCOM managed instances in a resource group
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - SCOM instance
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                description: A paged list of SCOM managed instances
                type: object
                properties:
                  value:
                    description: The items on the page
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The properties of a SCOM instance resource
                          type: object
                          properties:
                            productVersion:
                              description: SCOM product version to be installed on
                                instance
                              type: string
                              readOnly: true
                            vNetSubnetId:
                              description: Virtual Network subnet id on which Aquila
                                instance will be provisioned
                              type: string
                            managementEndpoints:
                              description: List of management server endpoints
                              readOnly: true
                              type: array
                              items:
                                description: The properties of management server
                                type: object
                                properties:
                                  serverName:
                                    description: Management server Name
                                    type: string
                                    readOnly: true
                                  vmResId:
                                    description: Azure VM Resource Id of the Management
                                      server.
                                    type: string
                                    readOnly: true
                                  fqdn:
                                    description: Management server Fully Qualified
                                      Domain Name.
                                    type: string
                                    readOnly: true
                                  serverRoles:
                                    description: Represent whether the Server is a
                                      Management Server and/or Web Console Server.
                                    type: string
                                    readOnly: true
                                  healthState:
                                    description: Management server health state.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                            databaseInstance:
                              description: The database instance where the SCOM Operational
                                and Warehouse databases will be stored.
                              type: object
                              properties:
                                databaseInstanceId:
                                  description: Resource Id of existing database instance
                                  type: string
                                databaseFqdn:
                                  description: Fully qualified domain name of existing
                                    database instance
                                  type: string
                                  readOnly: true
                                dwDatabaseName:
                                  description: Name of warehouse database on database
                                    instance
                                  type: string
                                  readOnly: true
                                operationalDatabaseId:
                                  description: Resource Id of operational database
                                    on database instance
                                  type: string
                                  readOnly: true
                                dwDatabaseId:
                                  description: Resource Id of warehouse database on
                                    database instance
                                  type: string
                                  readOnly: true
                            domainController:
                              description: Domain controller details
                              type: object
                              properties:
                                domainName:
                                  description: Fully qualified domain name
                                  type: string
                                dnsServer:
                                  description: 'IP address of DNS server '
                                  type: string
                                ouPath:
                                  description: Organizational Unit path in which the
                                    SCOM servers will be present
                                  type: string
                                  default: ''
                            domainUserCredentials:
                              description: Domain user which will be used to join
                                VMs to domain and login to VMs.
                              type: object
                              properties:
                                keyVaultUrl:
                                  description: Key vault url to get the domain username
                                    and password
                                  type: string
                                userNameSecret:
                                  description: 'Domain user name secret '
                                  type: string
                                passwordSecret:
                                  description: 'Domain Password secret '
                                  type: string
                            gmsaDetails:
                              description: Gmsa Details for load balancer and vmss
                              type: object
                              properties:
                                loadBalancerIP:
                                  description: Frontend IP configuration for Load
                                    Balancer, which should be an available IP in customer
                                    VNet
                                  type: string
                                gmsaAccount:
                                  description: gMSA account under which context all
                                    Management Server services will run
                                  type: string
                                managementServerGroupName:
                                  description: OnPrem AD Computer Group where we will
                                    join VMs for ease of management
                                  type: string
                                dnsName:
                                  description: Frontend DNS name for Load Balancer
                                    which will be used by Agents to initiate communication
                                  type: string
                            azureHybridBenefit:
                              description: The properties to enable Azure Hybrid benefit
                                for various SCOM infrastructure license.
                              type: object
                              properties:
                                scomLicenseType:
                                  description: SCOM license type. Maximize savings
                                    by using license you already own
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                                windowsServerLicenseType:
                                  description: Specifies that the image or disk that
                                    is being used was licensed on-premises. <br><br>
                                    For more information, see [Azure Hybrid Use Benefit
                                    for Windows Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                                sqlServerLicenseType:
                                  description: SQL Server license type. Maximize savings
                                    by using Azure Hybrid Benefit for SQL Server with
                                    license you already own
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                            provisioningState:
                              description: Gets or sets the provisioning state.
                              type: string
                              readOnly: true
                            logAnalyticsProperties:
                              description: Details of Log Analytics workspace and
                                data being ingested.
                              readOnly: true
                              type: object
                              properties:
                                workspaceId:
                                  description: The resource ID of the Log Analytics
                                    workspace to be used.
                                  type: string
                                dataTypes:
                                  description: The types of data to be ingested to
                                    Log Analytics workspace.
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - State
                                    - Performance
                                    - Event
                                    - Audit
                                    x-ms-enum:
                                      name: DataType
                                      modelAsString: true
                                importData:
                                  description: A one-time optional parameter to import
                                    data of last 7 days.
                                  default: false
                                  type: boolean
                            operationsStatus:
                              description: Gets status of current and latest SCOM
                                managed instance operations.
                              readOnly: true
                              type: array
                              items:
                                description: Gets status of current and latest SCOM
                                  managed instance operation.
                                type: object
                                properties:
                                  operationName:
                                    description: Operation Name
                                    type: string
                                    readOnly: true
                                  operationState:
                                    description: Operation status
                                    type: string
                                    readOnly: true
                                  id:
                                    description: Operation id
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - id
                        identity:
                          description: The Azure Active Directory identity of the
                            SCOM instance
                          x-ms-mutability:
                          - create
                          - read
                          type: object
                          properties:
                            type:
                              description: The identity type
                              enum:
                              - None
                              - UserAssigned
                              - SystemAssigned
                              - SystemAssigned,UserAssigned
                              type: string
                              x-ms-enum:
                                name: ManagedIdentityType
                                modelAsString: true
                            principalId:
                              description: System Assigned Identity ObjectId.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The Azure Active Directory tenant id.
                              type: string
                              readOnly: true
                            userAssignedIdentities:
                              description: The resource ids of the user assigned identities
                                to use
                              type: object
                              additionalProperties:
                                description: Azure Active Directory identity configuration
                                  for a resource.
                                type: object
                                properties:
                                  principalId:
                                    description: The Azure Active Directory principal
                                      id.
                                    type: string
                                    readOnly: true
                                  clientId:
                                    description: The Azure Active Directory client
                                      id.
                                    type: string
                                    readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: URL to get the next page if any
                    type: string
                    readOnly: true
        default:
          description: An error response providing a description of the reason for
            the operation's failure.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Scom/managedInstances:
    get:
      operationId: Instances_ListBySubscription
      description: 'Lists all SCOM managed instances in a subscription '
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - SCOM Instances
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                description: A paged list of SCOM managed instances
                type: object
                properties:
                  value:
                    description: The items on the page
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The properties of a SCOM instance resource
                          type: object
                          properties:
                            productVersion:
                              description: SCOM product version to be installed on
                                instance
                              type: string
                              readOnly: true
                            vNetSubnetId:
                              description: Virtual Network subnet id on which Aquila
                                instance will be provisioned
                              type: string
                            managementEndpoints:
                              description: List of management server endpoints
                              readOnly: true
                              type: array
                              items:
                                description: The properties of management server
                                type: object
                                properties:
                                  serverName:
                                    description: Management server Name
                                    type: string
                                    readOnly: true
                                  vmResId:
                                    description: Azure VM Resource Id of the Management
                                      server.
                                    type: string
                                    readOnly: true
                                  fqdn:
                                    description: Management server Fully Qualified
                                      Domain Name.
                                    type: string
                                    readOnly: true
                                  serverRoles:
                                    description: Represent whether the Server is a
                                      Management Server and/or Web Console Server.
                                    type: string
                                    readOnly: true
                                  healthState:
                                    description: Management server health state.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                            databaseInstance:
                              description: The database instance where the SCOM Operational
                                and Warehouse databases will be stored.
                              type: object
                              properties:
                                databaseInstanceId:
                                  description: Resource Id of existing database instance
                                  type: string
                                databaseFqdn:
                                  description: Fully qualified domain name of existing
                                    database instance
                                  type: string
                                  readOnly: true
                                dwDatabaseName:
                                  description: Name of warehouse database on database
                                    instance
                                  type: string
                                  readOnly: true
                                operationalDatabaseId:
                                  description: Resource Id of operational database
                                    on database instance
                                  type: string
                                  readOnly: true
                                dwDatabaseId:
                                  description: Resource Id of warehouse database on
                                    database instance
                                  type: string
                                  readOnly: true
                            domainController:
                              description: Domain controller details
                              type: object
                              properties:
                                domainName:
                                  description: Fully qualified domain name
                                  type: string
                                dnsServer:
                                  description: 'IP address of DNS server '
                                  type: string
                                ouPath:
                                  description: Organizational Unit path in which the
                                    SCOM servers will be present
                                  type: string
                                  default: ''
                            domainUserCredentials:
                              description: Domain user which will be used to join
                                VMs to domain and login to VMs.
                              type: object
                              properties:
                                keyVaultUrl:
                                  description: Key vault url to get the domain username
                                    and password
                                  type: string
                                userNameSecret:
                                  description: 'Domain user name secret '
                                  type: string
                                passwordSecret:
                                  description: 'Domain Password secret '
                                  type: string
                            gmsaDetails:
                              description: Gmsa Details for load balancer and vmss
                              type: object
                              properties:
                                loadBalancerIP:
                                  description: Frontend IP configuration for Load
                                    Balancer, which should be an available IP in customer
                                    VNet
                                  type: string
                                gmsaAccount:
                                  description: gMSA account under which context all
                                    Management Server services will run
                                  type: string
                                managementServerGroupName:
                                  description: OnPrem AD Computer Group where we will
                                    join VMs for ease of management
                                  type: string
                                dnsName:
                                  description: Frontend DNS name for Load Balancer
                                    which will be used by Agents to initiate communication
                                  type: string
                            azureHybridBenefit:
                              description: The properties to enable Azure Hybrid benefit
                                for various SCOM infrastructure license.
                              type: object
                              properties:
                                scomLicenseType:
                                  description: SCOM license type. Maximize savings
                                    by using license you already own
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                                windowsServerLicenseType:
                                  description: Specifies that the image or disk that
                                    is being used was licensed on-premises. <br><br>
                                    For more information, see [Azure Hybrid Use Benefit
                                    for Windows Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                                sqlServerLicenseType:
                                  description: SQL Server license type. Maximize savings
                                    by using Azure Hybrid Benefit for SQL Server with
                                    license you already own
                                  type: string
                                  enum:
                                  - None
                                  - AzureHybridBenefit
                                  x-ms-enum:
                                    name: hybridLicenseType
                                    modelAsString: true
                            provisioningState:
                              description: Gets or sets the provisioning state.
                              type: string
                              readOnly: true
                            logAnalyticsProperties:
                              description: Details of Log Analytics workspace and
                                data being ingested.
                              readOnly: true
                              type: object
                              properties:
                                workspaceId:
                                  description: The resource ID of the Log Analytics
                                    workspace to be used.
                                  type: string
                                dataTypes:
                                  description: The types of data to be ingested to
                                    Log Analytics workspace.
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                    - State
                                    - Performance
                                    - Event
                                    - Audit
                                    x-ms-enum:
                                      name: DataType
                                      modelAsString: true
                                importData:
                                  description: A one-time optional parameter to import
                                    data of last 7 days.
                                  default: false
                                  type: boolean
                            operationsStatus:
                              description: Gets status of current and latest SCOM
                                managed instance operations.
                              readOnly: true
                              type: array
                              items:
                                description: Gets status of current and latest SCOM
                                  managed instance operation.
                                type: object
                                properties:
                                  operationName:
                                    description: Operation Name
                                    type: string
                                    readOnly: true
                                  operationState:
                                    description: Operation status
                                    type: string
                                    readOnly: true
                                  id:
                                    description: Operation id
                                    type: string
                                    readOnly: true
                              x-ms-identifiers:
                              - id
                        identity:
                          description: The Azure Active Directory identity of the
                            SCOM instance
                          x-ms-mutability:
                          - create
                          - read
                          type: object
                          properties:
                            type:
                              description: The identity type
                              enum:
                              - None
                              - UserAssigned
                              - SystemAssigned
                              - SystemAssigned,UserAssigned
                              type: string
                              x-ms-enum:
                                name: ManagedIdentityType
                                modelAsString: true
                            principalId:
                              description: System Assigned Identity ObjectId.
                              type: string
                              readOnly: true
                            tenantId:
                              description: The Azure Active Directory tenant id.
                              type: string
                              readOnly: true
                            userAssignedIdentities:
                              description: The resource ids of the user assigned identities
                                to use
                              type: object
                              additionalProperties:
                                description: Azure Active Directory identity configuration
                                  for a resource.
                                type: object
                                properties:
                                  principalId:
                                    description: The Azure Active Directory principal
                                      id.
                                    type: string
                                    readOnly: true
                                  clientId:
                                    description: The Azure Active Directory client
                                      id.
                                    type: string
                                    readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: URL to get the next page if any
                    type: string
                    readOnly: true
        default:
          description: An error response providing a description of the reason for
            the operation's failure.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}
  : get:
      operationId: Instances_Get
      description: Get SCOM managed instance details
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: instanceName
        in: path
        required: true
        description: Name of the Azure Monitor Operations Manager Managed Instance
          (SCOM MI)
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The properties of a SCOM instance resource
                    type: object
                    properties:
                      productVersion:
                        description: SCOM product version to be installed on instance
                        type: string
                        readOnly: true
                      vNetSubnetId:
                        description: Virtual Network subnet id on which Aquila instance
                          will be provisioned
                        type: string
                      managementEndpoints:
                        description: List of management server endpoints
                        readOnly: true
                        type: array
                        items:
                          description: The properties of management server
                          type: object
                          properties:
                            serverName:
                              description: Management server Name
                              type: string
                              readOnly: true
                            vmResId:
                              description: Azure VM Resource Id of the Management
                                server.
                              type: string
                              readOnly: true
                            fqdn:
                              description: Management server Fully Qualified Domain
                                Name.
                              type: string
                              readOnly: true
                            serverRoles:
                              description: Represent whether the Server is a Management
                                Server and/or Web Console Server.
                              type: string
                              readOnly: true
                            healthState:
                              description: Management server health state.
                              type: string
                              readOnly: true
                        x-ms-identifiers: []
                      databaseInstance:
                        description: The database instance where the SCOM Operational
                          and Warehouse databases will be stored.
                        type: object
                        properties:
                          databaseInstanceId:
                            description: Resource Id of existing database instance
                            type: string
                          databaseFqdn:
                            description: Fully qualified domain name of existing database
                              instance
                            type: string
                            readOnly: true
                          dwDatabaseName:
                            description: Name of warehouse database on database instance
                            type: string
                            readOnly: true
                          operationalDatabaseId:
                            description: Resource Id of operational database on database
                              instance
                            type: string
                            readOnly: true
                          dwDatabaseId:
                            description: Resource Id of warehouse database on database
                              instance
                            type: string
                            readOnly: true
                      domainController:
                        description: Domain controller details
                        type: object
                        properties:
                          domainName:
                            description: Fully qualified domain name
                            type: string
                          dnsServer:
                            description: 'IP address of DNS server '
                            type: string
                          ouPath:
                            description: Organizational Unit path in which the SCOM
                              servers will be present
                            type: string
                            default: ''
                      domainUserCredentials:
                        description: Domain user which will be used to join VMs to
                          domain and login to VMs.
                        type: object
                        properties:
                          keyVaultUrl:
                            description: Key vault url to get the domain username
                              and password
                            type: string
                          userNameSecret:
                            description: 'Domain user name secret '
                            type: string
                          passwordSecret:
                            description: 'Domain Password secret '
                            type: string
                      gmsaDetails:
                        description: Gmsa Details for load balancer and vmss
                        type: object
                        properties:
                          loadBalancerIP:
                            description: Frontend IP configuration for Load Balancer,
                              which should be an available IP in customer VNet
                            type: string
                          gmsaAccount:
                            description: gMSA account under which context all Management
                              Server services will run
                            type: string
                          managementServerGroupName:
                            description: OnPrem AD Computer Group where we will join
                              VMs for ease of management
                            type: string
                          dnsName:
                            description: Frontend DNS name for Load Balancer which
                              will be used by Agents to initiate communication
                            type: string
                      azureHybridBenefit:
                        description: The properties to enable Azure Hybrid benefit
                          for various SCOM infrastructure license.
                        type: object
                        properties:
                          scomLicenseType:
                            description: SCOM license type. Maximize savings by using
                              license you already own
                            type: string
                            enum:
                            - None
                            - AzureHybridBenefit
                            x-ms-enum:
                              name: hybridLicenseType
                              modelAsString: true
                          windowsServerLicenseType:
                            description: Specifies that the image or disk that is
                              being used was licensed on-premises. <br><br> For more
                              information, see [Azure Hybrid Use Benefit for Windows
                              Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
                            type: string
                            enum:
                            - None
                            - AzureHybridBenefit
                            x-ms-enum:
                              name: hybridLicenseType
                              modelAsString: true
                          sqlServerLicenseType:
                            description: SQL Server license type. Maximize savings
                              by using Azure Hybrid Benefit for SQL Server with license
                              you already own
                            type: string
                            enum:
                            - None
                            - AzureHybridBenefit
                            x-ms-enum:
                              name: hybridLicenseType
                              modelAsString: true
                      provisioningState:
                        description: Gets or sets the provisioning state.
                        type: string
                        readOnly: true
                      logAnalyticsProperties:
                        description: Details of Log Analytics workspace and data being
                          ingested.
                        readOnly: true
                        type: object
                        properties:
                          workspaceId:
                            description: The resource ID of the Log Analytics workspace
                              to be used.
                            type: string
                          dataTypes:
                            description: The types of data to be ingested to Log Analytics
                              workspace.
                            type: array
                            items:
                              type: string
                              enum:
                              - State
                              - Performance
                              - Event
                              - Audit
                              x-ms-enum:
                                name: DataType
                                modelAsString: true
                          importData:
                            description: A one-time optional parameter to import data
                              of last 7 days.
                            default: false
                            type: boolean
                      operationsStatus:
                        description: Gets status of current and latest SCOM managed
                          instance operations.
                        readOnly: true
                        type: array
                        items:
                          description: Gets status of current and latest SCOM managed
                            instance operation.
                          type: object
                          properties:
                            operationName:
                              description: Operation Name
                              type: string
                              readOnly: true
                            operationState:
                              description: Operation status
                              type: string
                              readOnly: true
                            id:
                              description: Operation id
                              type: string
                              readOnly: true
                        x-ms-identifiers:
                        - id
                  identity:
                    description: The Azure Active Directory identity of the SCOM instance
                    x-ms-mutability:
                    - create
                    - read
                    type: object
                    properties:
                      type:
                        description: The identity type
                        enum:
                        - None
                        - UserAssigned
                        - SystemAssigned
                        - SystemAssigned,UserAssigned
                        type: string
                        x-ms-enum:
                          name: ManagedIdentityType
                          modelAsString: true
                      principalId:
                        description: System Assigned Identity ObjectId.
                        type: string
                        readOnly: true
                      tenantId:
                        description: The Azure Active Directory tenant id.
                        type: string
                        readOnly: true
                      userAssignedIdentities:
                        description: The resource ids of the user assigned identities
                          to use
                        type: object
                        additionalProperties:
                          description: Azure Active Directory identity configuration
                            for a resource.
                          type: object
                          properties:
                            principalId:
                              description: The Azure Active Directory principal id.
                              type: string
                              readOnly: true
                            clientId:
                              description: The Azure Active Directory client id.
                              type: string
                              readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An error response providing a description of the reason for
            the operation's failure.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Instances_CreateOrUpdate
      description: Create or update SCOM managed instance
      tags:
      - SCOM Instances
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: instanceName
        in: path
        required: true
        description: Name of the Azure Monitor Operations Manager Managed Instance
          (SCOM MI)
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - in: query
        name: validationMode
        description: Validation mode for the SCOM managed instance
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The properties of a SCOM instance resource
                  type: object
                  properties:
                    productVersion:
                      description: SCOM product version to be installed on instance
                      type: string
                      readOnly: true
                    vNetSubnetId:
                      description: Virtual Network subnet id on which Aquila instance
                        will be provisioned
                      type: string
                    managementEndpoints:
                      description: List of management server endpoints
                      readOnly: true
                      type: array
                      items:
                        description: The properties of management server
                        type: object
                        properties:
                          serverName:
                            description: Management server Name
                            type: string
                            readOnly: true
                          vmResId:
[...]
