openapi: 3.0.0
info:
  version: 2019-04-01
  title: DevSpacesManagement
  description: Dev Spaces REST API
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping
  : post:
      tags:
      - ContainerHostMappings
      summary: Returns container host mapping object for a container host resource
        ID if an associated controller exists.
      operationId: ContainerHostMappings_GetContainerHostMapping
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: location
        in: path
        description: Location of the container host.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Container host mapping object specifying the Container
                host resource ID and its associated Controller resource.
              properties:
                containerHostResourceId:
                  description: ARM ID of the Container Host resource
                  type: string
                mappedControllerResourceId:
                  description: ARM ID of the mapped Controller resource
                  type: string
                  readOnly: true
        required: true
      responses:
        '200':
          description: The request was successful; response contains the container
            host mapping.
          content:
            application/json:
              schema:
                description: Container host mapping object specifying the Container
                  host resource ID and its associated Controller resource.
                properties:
                  containerHostResourceId:
                    description: ARM ID of the Container Host resource
                    type: string
                  mappedControllerResourceId:
                    description: ARM ID of the mapped Controller resource
                    type: string
                    readOnly: true
        '204':
          description: The request was successful; container host mapping does not
            exist.
        default:
          description: Error response describing the reason for operation failure.
            400 - BadRequest(Invalid container host resource ID.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  /providers/Microsoft.DevSpaces/operations:
    get:
      tags:
      - Operations
      summary: Lists operations for the resource provider.
      description: Lists all the supported operations by the Microsoft.DevSpaces resource
        provider along with their description.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; response contains the list of operations
            under Microsoft.DevSpaces resource provider.
          content:
            application/json:
              schema:
                properties:
                  value:
                    description: Resource provider operations list.
                    type: array
                    items:
                      properties:
                        name:
                          description: Resource provider operation name.
                          type: string
                        display:
                          properties:
                            provider:
                              description: Name of the resource provider.
                              type: string
                            resource:
                              description: Name of the resource type.
                              type: string
                            operation:
                              description: Name of the resource provider operation.
                              type: string
                            description:
                              description: Description of the resource provider operation.
                              type: string
                  nextLink:
                    description: The URI that can be used to request the next page
                      for list of Azure operations.
                    type: string
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}:
    get:
      tags:
      - Controllers
      summary: Gets an Azure Dev Spaces Controller.
      description: Gets the properties for an Azure Dev Spaces Controller.
      operationId: Controllers_Get
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
      responses:
        '200':
          description: The request was successful; response contains the Azure Dev
            Spaces Controller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Tags for the Azure resource.
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    description: Region where the Azure resource is located.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - targetContainerHostResourceId
                    - targetContainerHostCredentialsBase64
                    properties:
                      provisioningState:
                        description: Provisioning state of the Azure Dev Spaces Controller.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        - Creating
                        - Deleting
                        - Deleted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      hostSuffix:
                        description: DNS suffix for public endpoints running in the
                          Azure Dev Spaces Controller.
                        type: string
                        readOnly: true
                      dataPlaneFqdn:
                        description: DNS name for accessing DataPlane services
                        type: string
                        readOnly: true
                      targetContainerHostApiServerFqdn:
                        description: DNS of the target container host's API server
                        type: string
                        readOnly: true
                      targetContainerHostResourceId:
                        description: Resource ID of the target container host
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      targetContainerHostCredentialsBase64:
                        description: Credentials of the target container host (base64).
                        type: string
                        x-ms-mutability:
                        - create
                  sku:
                    description: Model representing SKU for Azure Dev Spaces Controller.
                    required:
                    - name
                    properties:
                      name:
                        description: The name of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The tier of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                description: An Azure resource.
                x-ms-azure-resource: true
                required:
                - properties
                - sku
                - location
        default:
          description: Error response describing the reason for operation failure.
            404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
    put:
      tags:
      - Controllers
      summary: Creates an Azure Dev Spaces Controller.
      description: Creates an Azure Dev Spaces Controller with the specified create
        parameters.
      operationId: Controllers_Create
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Fully qualified resource Id for the resource.
                  type: string
                  readOnly: true
                name:
                  description: The name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: The type of the resource.
                  type: string
                  readOnly: true
                tags:
                  description: Tags for the Azure resource.
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  description: Region where the Azure resource is located.
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  required:
                  - targetContainerHostResourceId
                  - targetContainerHostCredentialsBase64
                  properties:
                    provisioningState:
                      description: Provisioning state of the Azure Dev Spaces Controller.
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Updating
                      - Creating
                      - Deleting
                      - Deleted
                      type: string
                      readOnly: true
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    hostSuffix:
                      description: DNS suffix for public endpoints running in the
                        Azure Dev Spaces Controller.
                      type: string
                      readOnly: true
                    dataPlaneFqdn:
                      description: DNS name for accessing DataPlane services
                      type: string
                      readOnly: true
                    targetContainerHostApiServerFqdn:
                      description: DNS of the target container host's API server
                      type: string
                      readOnly: true
                    targetContainerHostResourceId:
                      description: Resource ID of the target container host
                      type: string
                      x-ms-mutability:
                      - read
                      - create
                    targetContainerHostCredentialsBase64:
                      description: Credentials of the target container host (base64).
                      type: string
                      x-ms-mutability:
                      - create
                sku:
                  description: Model representing SKU for Azure Dev Spaces Controller.
                  required:
                  - name
                  properties:
                    name:
                      description: The name of the SKU for Azure Dev Spaces Controller.
                      enum:
                      - S1
                      type: string
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                    tier:
                      description: The tier of the SKU for Azure Dev Spaces Controller.
                      enum:
                      - Standard
                      type: string
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: true
              description: An Azure resource.
              x-ms-azure-resource: true
              required:
              - properties
              - sku
              - location
        description: Controller create parameters.
        required: true
      responses:
        '200':
          description: The request was successful; response contains the created Azure
            Dev Spaces Controller .
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Tags for the Azure resource.
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    description: Region where the Azure resource is located.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - targetContainerHostResourceId
                    - targetContainerHostCredentialsBase64
                    properties:
                      provisioningState:
                        description: Provisioning state of the Azure Dev Spaces Controller.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        - Creating
                        - Deleting
                        - Deleted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      hostSuffix:
                        description: DNS suffix for public endpoints running in the
                          Azure Dev Spaces Controller.
                        type: string
                        readOnly: true
                      dataPlaneFqdn:
                        description: DNS name for accessing DataPlane services
                        type: string
                        readOnly: true
                      targetContainerHostApiServerFqdn:
                        description: DNS of the target container host's API server
                        type: string
                        readOnly: true
                      targetContainerHostResourceId:
                        description: Resource ID of the target container host
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      targetContainerHostCredentialsBase64:
                        description: Credentials of the target container host (base64).
                        type: string
                        x-ms-mutability:
                        - create
                  sku:
                    description: Model representing SKU for Azure Dev Spaces Controller.
                    required:
                    - name
                    properties:
                      name:
                        description: The name of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The tier of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                description: An Azure resource.
                x-ms-azure-resource: true
                required:
                - properties
                - sku
                - location
        '201':
          description: The request was successful; Azure Dev Spaces Controller is
            being created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Tags for the Azure resource.
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    description: Region where the Azure resource is located.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - targetContainerHostResourceId
                    - targetContainerHostCredentialsBase64
                    properties:
                      provisioningState:
                        description: Provisioning state of the Azure Dev Spaces Controller.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        - Creating
                        - Deleting
                        - Deleted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      hostSuffix:
                        description: DNS suffix for public endpoints running in the
                          Azure Dev Spaces Controller.
                        type: string
                        readOnly: true
                      dataPlaneFqdn:
                        description: DNS name for accessing DataPlane services
                        type: string
                        readOnly: true
                      targetContainerHostApiServerFqdn:
                        description: DNS of the target container host's API server
                        type: string
                        readOnly: true
                      targetContainerHostResourceId:
                        description: Resource ID of the target container host
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      targetContainerHostCredentialsBase64:
                        description: Credentials of the target container host (base64).
                        type: string
                        x-ms-mutability:
                        - create
                  sku:
                    description: Model representing SKU for Azure Dev Spaces Controller.
                    required:
                    - name
                    properties:
                      name:
                        description: The name of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The tier of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                description: An Azure resource.
                x-ms-azure-resource: true
                required:
                - properties
                - sku
                - location
        default:
          description: Error response describing the reason for operation failure.
            400 - BadRequest(One or more creation parameters are invalid.), 409 -
            Conflict(Target container host is not in a supported state.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-long-running-operation: true
    delete:
      tags:
      - Controllers
      summary: Deletes an Azure Dev Spaces Controller.
      description: Deletes an existing Azure Dev Spaces Controller.
      operationId: Controllers_Delete
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
      responses:
        '200':
          description: The request was successful; the Azure Dev Spaces Controller
            is deleted.
        '202':
          description: The request was successful; Azure Dev Spaces Controller is
            being deleted.
        '204':
          description: The request was successful; Azure Dev Spaces Controller does
            not exist.
        default:
          description: Error response describing the reason for operation failure.
            409 - Conflict(Azure Dev Spaces Controller is in a non-terminal state
            due to an ongoing operation.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-long-running-operation: true
    patch:
      tags:
      - Controllers
      summary: Updates an Azure Dev Spaces Controller.
      description: Updates the properties of an existing Azure Dev Spaces Controller
        with the specified update parameters.
      operationId: Controllers_Update
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for updating an Azure Dev Spaces Controller.
              properties:
                tags:
                  description: Tags for the Azure Dev Spaces Controller.
                  additionalProperties:
                    type: string
                properties:
                  x-ms-client-flatten: true
                  properties:
                    targetContainerHostCredentialsBase64:
                      description: Credentials of the target container host (base64).
                      type: string
        description: Parameters for updating the Azure Dev Spaces Controller.
        required: true
      responses:
        '200':
          description: The request was successful; response contains the updated Azure
            Dev Spaces Controller .
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Tags for the Azure resource.
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    description: Region where the Azure resource is located.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - targetContainerHostResourceId
                    - targetContainerHostCredentialsBase64
                    properties:
                      provisioningState:
                        description: Provisioning state of the Azure Dev Spaces Controller.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        - Creating
                        - Deleting
                        - Deleted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      hostSuffix:
                        description: DNS suffix for public endpoints running in the
                          Azure Dev Spaces Controller.
                        type: string
                        readOnly: true
                      dataPlaneFqdn:
                        description: DNS name for accessing DataPlane services
                        type: string
                        readOnly: true
                      targetContainerHostApiServerFqdn:
                        description: DNS of the target container host's API server
                        type: string
                        readOnly: true
                      targetContainerHostResourceId:
                        description: Resource ID of the target container host
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      targetContainerHostCredentialsBase64:
                        description: Credentials of the target container host (base64).
                        type: string
                        x-ms-mutability:
                        - create
                  sku:
                    description: Model representing SKU for Azure Dev Spaces Controller.
                    required:
                    - name
                    properties:
                      name:
                        description: The name of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The tier of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                description: An Azure resource.
                x-ms-azure-resource: true
                required:
                - properties
                - sku
                - location
        '201':
          description: The request was successful; Azure Dev Spaces Controller is
            being updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Fully qualified resource Id for the resource.
                    type: string
                    readOnly: true
                  name:
                    description: The name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: The type of the resource.
                    type: string
                    readOnly: true
                  tags:
                    description: Tags for the Azure resource.
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    description: Region where the Azure resource is located.
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - targetContainerHostResourceId
                    - targetContainerHostCredentialsBase64
                    properties:
                      provisioningState:
                        description: Provisioning state of the Azure Dev Spaces Controller.
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Updating
                        - Creating
                        - Deleting
                        - Deleted
                        type: string
                        readOnly: true
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      hostSuffix:
                        description: DNS suffix for public endpoints running in the
                          Azure Dev Spaces Controller.
                        type: string
                        readOnly: true
                      dataPlaneFqdn:
                        description: DNS name for accessing DataPlane services
                        type: string
                        readOnly: true
                      targetContainerHostApiServerFqdn:
                        description: DNS of the target container host's API server
                        type: string
                        readOnly: true
                      targetContainerHostResourceId:
                        description: Resource ID of the target container host
                        type: string
                        x-ms-mutability:
                        - read
                        - create
                      targetContainerHostCredentialsBase64:
                        description: Credentials of the target container host (base64).
                        type: string
                        x-ms-mutability:
                        - create
                  sku:
                    description: Model representing SKU for Azure Dev Spaces Controller.
                    required:
                    - name
                    properties:
                      name:
                        description: The name of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - S1
                        type: string
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                      tier:
                        description: The tier of the SKU for Azure Dev Spaces Controller.
                        enum:
                        - Standard
                        type: string
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: true
                description: An Azure resource.
                x-ms-azure-resource: true
                required:
                - properties
                - sku
                - location
        default:
          description: Error response describing the reason for operation failure.
            404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One
            or more update parameters are invalid.), 409 - Conflict(Target container
            host is not in a supported state.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers:
    get:
      tags:
      - Controllers
      summary: Lists the Azure Dev Spaces Controllers in a resource group.
      description: Lists all the Azure Dev Spaces Controllers with their properties
        in the specified resource group and subscription.
      operationId: Controllers_ListByResourceGroup
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: The request was successful; response contains the list of Azure
            Dev Spaces Controllers in the resource group.
          content:
            application/json:
              schema:
                properties:
                  value:
                    description: List of Azure Dev Spaces Controllers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Fully qualified resource Id for the resource.
                          type: string
                          readOnly: true
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        tags:
                          description: Tags for the Azure resource.
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          description: Region where the Azure resource is located.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - targetContainerHostResourceId
                          - targetContainerHostCredentialsBase64
                          properties:
                            provisioningState:
                              description: Provisioning state of the Azure Dev Spaces
                                Controller.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Updating
                              - Creating
                              - Deleting
                              - Deleted
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            hostSuffix:
                              description: DNS suffix for public endpoints running
                                in the Azure Dev Spaces Controller.
                              type: string
                              readOnly: true
                            dataPlaneFqdn:
                              description: DNS name for accessing DataPlane services
                              type: string
                              readOnly: true
                            targetContainerHostApiServerFqdn:
                              description: DNS of the target container host's API
                                server
                              type: string
                              readOnly: true
                            targetContainerHostResourceId:
                              description: Resource ID of the target container host
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            targetContainerHostCredentialsBase64:
                              description: Credentials of the target container host
                                (base64).
                              type: string
                              x-ms-mutability:
                              - create
                        sku:
                          description: Model representing SKU for Azure Dev Spaces
                            Controller.
                          required:
                          - name
                          properties:
                            name:
                              description: The name of the SKU for Azure Dev Spaces
                                Controller.
                              enum:
                              - S1
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                            tier:
                              description: The tier of the SKU for Azure Dev Spaces
                                Controller.
                              enum:
                              - Standard
                              type: string
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                      description: An Azure resource.
                      x-ms-azure-resource: true
                      required:
                      - properties
                      - sku
                      - location
                  nextLink:
                    description: The URI that can be used to request the next page
                      for list of Azure Dev Spaces Controllers.
                    type: string
                    readOnly: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers:
    get:
      tags:
      - Controllers
      summary: Lists the Azure Dev Spaces Controllers in a subscription.
      description: Lists all the Azure Dev Spaces Controllers with their properties
        in the subscription.
      operationId: Controllers_List
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; response contains the list of Azure
            Dev Spaces Controllers in the subscription.
          content:
            application/json:
              schema:
                properties:
                  value:
                    description: List of Azure Dev Spaces Controllers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Fully qualified resource Id for the resource.
                          type: string
                          readOnly: true
                        name:
                          description: The name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: The type of the resource.
                          type: string
                          readOnly: true
                        tags:
                          description: Tags for the Azure resource.
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          description: Region where the Azure resource is located.
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - targetContainerHostResourceId
                          - targetContainerHostCredentialsBase64
                          properties:
                            provisioningState:
                              description: Provisioning state of the Azure Dev Spaces
                                Controller.
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Updating
                              - Creating
                              - Deleting
                              - Deleted
                              type: string
                              readOnly: true
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            hostSuffix:
                              description: DNS suffix for public endpoints running
                                in the Azure Dev Spaces Controller.
                              type: string
                              readOnly: true
                            dataPlaneFqdn:
                              description: DNS name for accessing DataPlane services
                              type: string
                              readOnly: true
                            targetContainerHostApiServerFqdn:
                              description: DNS of the target container host's API
                                server
                              type: string
                              readOnly: true
                            targetContainerHostResourceId:
                              description: Resource ID of the target container host
                              type: string
                              x-ms-mutability:
                              - read
                              - create
                            targetContainerHostCredentialsBase64:
                              description: Credentials of the target container host
                                (base64).
                              type: string
                              x-ms-mutability:
                              - create
                        sku:
                          description: Model representing SKU for Azure Dev Spaces
                            Controller.
                          required:
                          - name
                          properties:
                            name:
                              description: The name of the SKU for Azure Dev Spaces
                                Controller.
                              enum:
                              - S1
                              type: string
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                            tier:
                              description: The tier of the SKU for Azure Dev Spaces
                                Controller.
                              enum:
                              - Standard
                              type: string
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                      description: An Azure resource.
                      x-ms-azure-resource: true
                      required:
                      - properties
                      - sku
                      - location
                  nextLink:
                    description: The URI that can be used to request the next page
                      for list of Azure Dev Spaces Controllers.
                    type: string
                    readOnly: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails
  : post:
      tags:
      - Controllers
      summary: Lists connection details for an Azure Dev Spaces Controller.
      description: Lists connection details for the underlying container resources
        of an Azure Dev Spaces Controller.
      operationId: Controllers_ListConnectionDetails
      parameters:
      - name: api-version
        in: query
        description: Client API version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure subscription ID.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: Resource group to which the resource belongs.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for listing connection details of an Azure Dev
                Spaces Controller.
              required:
              - targetContainerHostResourceId
              properties:
                targetContainerHostResourceId:
                  description: Resource ID of the target container host mapped to
                    the Azure Dev Spaces Controller.
                  type: string
        description: Parameters for listing connection details of Azure Dev Spaces
          Controller.
        required: true
      responses:
        '200':
          description: The request was successful; response contains the list of connection
            details for the Azure Dev Spaces Controller .
          content:
            application/json:
              schema:
                properties:
                  connectionDetailsList:
                    description: List of Azure Dev Spaces Controller connection details.
                    type: array
                    items:
                      properties:
                        orchestratorSpecificConnectionDetails:
                          description: Base class for types that supply values used
                            to connect to container orchestrators
                          properties:
                            instanceType:
                              description: Gets the Instance type.
                              type: string
                              readOnly: true
                          discriminator:
                            propertyName: instanceType
        default:
          description: Error response describing the reason for operation failure.
            404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Status code for the error.
                        type: string
                        readOnly: true
                      message:
                        description: Error message describing the error in detail.
                        type: string
                        readOnly: true
                      target:
                        description: The target of the particular error.
                        type: string
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure subscription ID.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    NameParameter:
      name: name
      in: path
      description: Name of the resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 63
        pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ContainerHostMapping:
      description: Container host mapping object specifying the Container host resource
        ID and its associated Controller resource.
      properties:
        containerHostResourceId:
          description: ARM ID of the Container Host resource
          type: string
        mappedControllerResourceId:
          description: ARM ID of the mapped Controller resource
          type: string
          readOnly: true
    TrackedResource:
      type: object
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        tags:
          description: Tags for the Azure resource.
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          description: Region where the Azure resource is located.
          type: string
          x-ms-mutability:
          - read
          - create
      description: An Azure resource.
      x-ms-azure-resource: true
    ResourceProviderOperationList:
      properties:
        value:
          description: Resource provider operations list.
          type: array
          items:
            properties:
              name:
                description: Resource provider operation name.
                type: string
              display:
                properties:
                  provider:
                    description: Name of the resource provider.
                    type: string
                  resource:
                    description: Name of the resource type.
                    type: string
                  operation:
                    description: Name of the resource provider operation.
                    type: string
                  description:
                    description: Description of the resource provider operation.
                    type: string
        nextLink:
          description: The URI that can be used to request the next page for list
            of Azure operations.
          type: string
          readOnly: true
    ResourceProviderOperationDefinition:
      properties:
        name:
          description: Resource provider operation name.
          type: string
        display:
          properties:
            provider:
              description: Name of the resource provider.
              type: string
            resource:
              description: Name of the resource type.
              type: string
            operation:
              description: Name of the resource provider operation.
              type: string
            description:
              description: Description of the resource provider operation.
              type: string
    ResourceProviderOperationDisplay:
      properties:
        provider:
          description: Name of the resource provider.
          type: string
        resource:
          description: Name of the resource type.
          type: string
        operation:
          description: Name of the resource provider operation.
          type: string
        description:
          description: Description of the resource provider operation.
          type: string
    Controller:
      type: object
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        tags:
          description: Tags for the Azure resource.
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          description: Region where the Azure resource is located.
          type: string
          x-ms-mutability:
          - read
          - create
        properties:
          x-ms-client-flatten: true
          required:
          - targetContainerHostResourceId
          - targetContainerHostCredentialsBase64
          properties:
            provisioningState:
              description: Provisioning state of the Azure Dev Spaces Controller.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Updating
              - Creating
              - Deleting
              - Deleted
              type: string
              readOnly: true
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            hostSuffix:
              description: DNS suffix for public endpoints running in the Azure Dev
                Spaces Controller.
              type: string
              readOnly: true
            dataPlaneFqdn:
              description: DNS name for accessing DataPlane services
              type: string
              readOnly: true
            targetContainerHostApiServerFqdn:
              description: DNS of the target container host's API server
              type: string
              readOnly: true
            targetContainerHostResourceId:
              description: Resource ID of the target container host
              type: string
              x-ms-mutability:
              - read
              - create
            targetContainerHostCredentialsBase64:
              description: Credentials of the target container host (base64).
              type: string
              x-ms-mutability:
              - create
        sku:
          description: Model representing SKU for Azure Dev Spaces Controller.
          required:
          - name
          properties:
            name:
              description: The name of the SKU for Azure Dev Spaces Controller.
              enum:
              - S1
              type: string
              x-ms-enum:
                name: SkuName
                modelAsString: true
            tier:
              description: The tier of the SKU for Azure Dev Spaces Controller.
              enum:
              - Standard
              type: string
              x-ms-enum:
                name: SkuTier
                modelAsString: true
      description: An Azure resource.
      x-ms-azure-resource: true
      required:
      - properties
      - sku
      - location
    ControllerProperties:
      required:
      - targetContainerHostResourceId
      - targetContainerHostCredentialsBase64
      properties:
        provisioningState:
          description: Provisioning state of the Azure Dev Spaces Controller.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Updating
          - Creating
          - Deleting
          - Deleted
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        hostSuffix:
          description: DNS suffix for public endpoints running in the Azure Dev Spaces
            Controller.
          type: string
          readOnly: true
        dataPlaneFqdn:
          description: DNS name for accessing DataPlane services
          type: string
          readOnly: true
        targetContainerHostApiServerFqdn:
          description: DNS of the target container host's API server
          type: string
          readOnly: true
        targetContainerHostResourceId:
          description: Resource ID of the target container host
          type: string
          x-ms-mutability:
          - read
          - create
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          type: string
          x-ms-mutability:
          - create
    Sku:
      description: Model representing SKU for Azure Dev Spaces Controller.
      required:
      - name
      properties:
        name:
          description: The name of the SKU for Azure Dev Spaces Controller.
          enum:
          - S1
          type: string
          x-ms-enum:
            name: SkuName
            modelAsString: true
        tier:
          description: The tier of the SKU for Azure Dev Spaces Controller.
          enum:
          - Standard
          type: string
          x-ms-enum:
            name: SkuTier
            modelAsString: true
    ControllerUpdateParameters:
      description: Parameters for updating an Azure Dev Spaces Controller.
      properties:
        tags:
          description: Tags for the Azure Dev Spaces Controller.
          additionalProperties:
            type: string
        properties:
          x-ms-client-flatten: true
          properties:
            targetContainerHostCredentialsBase64:
              description: Credentials of the target container host (base64).
              type: string
    ControllerUpdateParametersProperties:
      properties:
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          type: string
    ControllerList:
      properties:
        value:
          description: List of Azure Dev Spaces Controllers.
          type: array
          items:
            type: object
            properties:
              id:
                description: Fully qualified resource Id for the resource.
                type: string
                readOnly: true
              name:
                description: The name of the resource.
                type: string
                readOnly: true
              type:
                description: The type of the resource.
                type: string
                readOnly: true
              tags:
                description: Tags for the Azure resource.
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
              location:
                description: Region where the Azure resource is located.
                type: string
                x-ms-mutability:
                - read
                - create
              properties:
                x-ms-client-flatten: true
                required:
                - targetContainerHostResourceId
                - targetContainerHostCredentialsBase64
                properties:
                  provisioningState:
                    description: Provisioning state of the Azure Dev Spaces Controller.
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - Updating
                    - Creating
                    - Deleting
                    - Deleted
                    type: string
                    readOnly: true
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  hostSuffix:
                    description: DNS suffix for public endpoints running in the Azure
                      Dev Spaces Controller.
                    type: string
                    readOnly: true
                  dataPlaneFqdn:
                    description: DNS name for accessing DataPlane services
                    type: string
                    readOnly: true
                  targetContainerHostApiServerFqdn:
                    description: DNS of the target container host's API server
                    type: string
                    readOnly: true
                  targetContainerHostResourceId:
                    description: Resource ID of the target container host
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                  targetContainerHostCredentialsBase64:
                    description: Credentials of the target container host (base64).
                    type: string
                    x-ms-mutability:
                    - create
              sku:
                description: Model representing SKU for Azure Dev Spaces Controller.
                required:
                - name
                properties:
                  name:
                    description: The name of the SKU for Azure Dev Spaces Controller.
                    enum:
                    - S1
                    type: string
                    x-ms-enum:
                      name: SkuName
                      modelAsString: true
                  tier:
                    description: The tier of the SKU for Azure Dev Spaces Controller.
                    enum:
                    - Standard
                    type: string
                    x-ms-enum:
                      name: SkuTier
                      modelAsString: true
            description: An Azure resource.
            x-ms-azure-resource: true
            required:
            - properties
            - sku
            - location
        nextLink:
          description: The URI that can be used to request the next page for list
            of Azure Dev Spaces Controllers.
          type: string
          readOnly: true
    ListConnectionDetailsParameters:
      description: Parameters for listing connection details of an Azure Dev Spaces
        Controller.
      required:
      - targetContainerHostResourceId
      properties:
        targetContainerHostResourceId:
          description: Resource ID of the target container host mapped to the Azure
            Dev Spaces Controller.
          type: string
    ControllerConnectionDetailsList:
      properties:
        connectionDetailsList:
          description: List of Azure Dev Spaces Controller connection details.
          type: array
          items:
            properties:
              orchestratorSpecificConnectionDetails:
                description: Base class for types that supply values used to connect
                  to container orchestrators
                properties:
                  instanceType:
                    description: Gets the Instance type.
                    type: string
                    readOnly: true
                discriminator:
                  propertyName: instanceType
    ControllerConnectionDetails:
      properties:
        orchestratorSpecificConnectionDetails:
          description: Base class for types that supply values used to connect to
            container orchestrators
          properties:
            instanceType:
              description: Gets the Instance type.
              type: string
              readOnly: true
          discriminator:
            propertyName: instanceType
    OrchestratorSpecificConnectionDetails:
      description: Base class for types that supply values used to connect to container
        orchestrators
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
          readOnly: true
      discriminator:
        propertyName: instanceType
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    KubernetesConnectionDetails:
      type: object
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
          readOnly: true
        kubeConfig:
          description: Gets the kubeconfig for the cluster.
          type: string
      description: Base class for types that supply values used to connect to container
        orchestrators
      discriminator:
        propertyName: instanceType
      x-ms-discriminator-value: Kubernetes
    DevSpacesErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Status code for the error.
              type: string
              readOnly: true
            message:
              description: Error message describing the error in detail.
              type: string
              readOnly: true
            target:
              description: The target of the particular error.
              type: string
              readOnly: true
    ErrorDetails:
      properties:
        code:
          description: Status code for the error.
          type: string
          readOnly: true
        message:
          description: Error message describing the error in detail.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
