openapi: 3.0.0
info:
  title: Split.IO Experimentation
  version: 2024-07-01-preview
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: ExperimentationWorkspaces
paths:
  /providers/SplitIO.Experimentation/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/SplitIO.Experimentation/experimentationWorkspaces:
    get:
      operationId: ExperimentationWorkspaces_ListBySubscription
      tags:
      - ExperimentationWorkspaces
      description: List ExperimentationWorkspace resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ExperimentationWorkspace list operation.
                properties:
                  value:
                    type: array
                    description: The ExperimentationWorkspace items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            accessPolicy:
                              description: Access policy for an experimentation workspace.
                              type: object
                              properties:
                                applicationId:
                                  type: string
                                  description: Application id used for access to the
                                    experimentation workspace.
                                defaultRole:
                                  description: A default role given to a user calling
                                    the Split.IO data plane when the user has no assigned
                                    role.
                                  type: string
                                  enum:
                                  - None
                                  - ExperimentationDataReader
                                  - ExperimentationDataOwner
                                  x-ms-enum:
                                    name: DataPlaneRole
                                    modelAsString: true
                                    values:
                                    - name: None
                                      value: None
                                      description: None data plane role is assigned
                                        to user by default.
                                    - name: ExperimentationDataReader
                                      value: ExperimentationDataReader
                                      description: ExperimentationDataReader data
                                        plane role is assigned to user by default.
                                    - name: ExperimentationDataOwner
                                      value: ExperimentationDataOwner
                                      description: ExperimentationDataOwner data plane
                                        role is assigned to user by default.
                                dataPlaneEndpoint:
                                  type: string
                                  format: uri
                                  description: Endpoint used for access to the experimentation
                                    workspace.
                                  readOnly: true
                              required:
                              - applicationId
                            dataSource:
                              description: Data source that telemetry data required
                                for experimentation will be retrieved from.
                              type: object
                              properties:
                                logAnalytics:
                                  description: Log Analytics data source.
                                  type: object
                                  properties:
                                    resourceId:
                                      description: Resource id of the Log Analytics
                                        workspace.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.OperationalInsights/workspaces
                                    storageAccountResourceId:
                                      description: Resource id of the storage account
                                        associated with the Log Analytics workspace.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Storage/storageAccounts
                                    enabled:
                                      type: boolean
                                      description: Controls whether data flow from
                                        the configured Log Analytics workspace into
                                        the experimentation workspace is enabled.
                                  required:
                                  - resourceId
                                  - storageAccountResourceId
                                  - enabled
                          required:
                          - accessPolicy
                        sku:
                          description: The SKU (Stock Keeping Unit) assigned to this
                            resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. E.g. P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/SplitIO.Experimentation/experimentationWorkspaces
  : get:
      operationId: ExperimentationWorkspaces_ListByResourceGroup
      tags:
      - ExperimentationWorkspaces
      description: List ExperimentationWorkspace resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a ExperimentationWorkspace list operation.
                properties:
                  value:
                    type: array
                    description: The ExperimentationWorkspace items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                            accessPolicy:
                              description: Access policy for an experimentation workspace.
                              type: object
                              properties:
                                applicationId:
                                  type: string
                                  description: Application id used for access to the
                                    experimentation workspace.
                                defaultRole:
                                  description: A default role given to a user calling
                                    the Split.IO data plane when the user has no assigned
                                    role.
                                  type: string
                                  enum:
                                  - None
                                  - ExperimentationDataReader
                                  - ExperimentationDataOwner
                                  x-ms-enum:
                                    name: DataPlaneRole
                                    modelAsString: true
                                    values:
                                    - name: None
                                      value: None
                                      description: None data plane role is assigned
                                        to user by default.
                                    - name: ExperimentationDataReader
                                      value: ExperimentationDataReader
                                      description: ExperimentationDataReader data
                                        plane role is assigned to user by default.
                                    - name: ExperimentationDataOwner
                                      value: ExperimentationDataOwner
                                      description: ExperimentationDataOwner data plane
                                        role is assigned to user by default.
                                dataPlaneEndpoint:
                                  type: string
                                  format: uri
                                  description: Endpoint used for access to the experimentation
                                    workspace.
                                  readOnly: true
                              required:
                              - applicationId
                            dataSource:
                              description: Data source that telemetry data required
                                for experimentation will be retrieved from.
                              type: object
                              properties:
                                logAnalytics:
                                  description: Log Analytics data source.
                                  type: object
                                  properties:
                                    resourceId:
                                      description: Resource id of the Log Analytics
                                        workspace.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.OperationalInsights/workspaces
                                    storageAccountResourceId:
                                      description: Resource id of the storage account
                                        associated with the Log Analytics workspace.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.Storage/storageAccounts
                                    enabled:
                                      type: boolean
                                      description: Controls whether data flow from
                                        the configured Log Analytics workspace into
                                        the experimentation workspace is enabled.
                                  required:
                                  - resourceId
                                  - storageAccountResourceId
                                  - enabled
                          required:
                          - accessPolicy
                        sku:
                          description: The SKU (Stock Keeping Unit) assigned to this
                            resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU. E.g. P3. It is typically
                                a letter+number code
                            tier:
                              type: string
                              description: This field is required to be implemented
                                by the Resource Provider if the service has more than
                                one tier, but is not required on a PUT.
                              enum:
                              - Free
                              - Basic
                              - Standard
                              - Premium
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: false
                            size:
                              type: string
                              description: 'The SKU size. When the name field is the
                                combination of tier and some other value, this would
                                be the standalone code. '
                            family:
                              type: string
                              description: If the service has different generations
                                of hardware, for the same SKU, then that can be captured
                                here.
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                          required:
                          - name
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/SplitIO.Experimentation/experimentationWorkspaces/{workspaceName}
  : get:
      operationId: ExperimentationWorkspaces_Get
      tags:
      - ExperimentationWorkspaces
      description: Get a ExperimentationWorkspace
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the ExperimentationWorkspace resource
        required: true
        schema:
          type: string
          minLength: 5
          maxLength: 50
          pattern: ^[a-zA-Z0-9](?!.*--)[a-zA-Z0-9-]*[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                      accessPolicy:
                        description: Access policy for an experimentation workspace.
                        type: object
                        properties:
                          applicationId:
                            type: string
                            description: Application id used for access to the experimentation
                              workspace.
                          defaultRole:
                            description: A default role given to a user calling the
                              Split.IO data plane when the user has no assigned role.
                            type: string
                            enum:
                            - None
                            - ExperimentationDataReader
                            - ExperimentationDataOwner
                            x-ms-enum:
                              name: DataPlaneRole
                              modelAsString: true
                              values:
                              - name: None
                                value: None
                                description: None data plane role is assigned to user
                                  by default.
                              - name: ExperimentationDataReader
                                value: ExperimentationDataReader
                                description: ExperimentationDataReader data plane
                                  role is assigned to user by default.
                              - name: ExperimentationDataOwner
                                value: ExperimentationDataOwner
                                description: ExperimentationDataOwner data plane role
                                  is assigned to user by default.
                          dataPlaneEndpoint:
                            type: string
                            format: uri
                            description: Endpoint used for access to the experimentation
                              workspace.
                            readOnly: true
                        required:
                        - applicationId
                      dataSource:
                        description: Data source that telemetry data required for
                          experimentation will be retrieved from.
                        type: object
                        properties:
                          logAnalytics:
                            description: Log Analytics data source.
                            type: object
                            properties:
                              resourceId:
                                description: Resource id of the Log Analytics workspace.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.OperationalInsights/workspaces
                              storageAccountResourceId:
                                description: Resource id of the storage account associated
                                  with the Log Analytics workspace.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.Storage/storageAccounts
                              enabled:
                                type: boolean
                                description: Controls whether data flow from the configured
                                  Log Analytics workspace into the experimentation
                                  workspace is enabled.
                            required:
                            - resourceId
                            - storageAccountResourceId
                            - enabled
                    required:
                    - accessPolicy
                  sku:
                    description: The SKU (Stock Keeping Unit) assigned to this resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ExperimentationWorkspaces_Create
      tags:
      - ExperimentationWorkspaces
      description: Create a ExperimentationWorkspace
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the ExperimentationWorkspace resource
        required: true
        schema:
          type: string
          minLength: 5
          maxLength: 50
          pattern: ^[a-zA-Z0-9](?!.*--)[a-zA-Z0-9-]*[a-zA-Z0-9]$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ResourceProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                    accessPolicy:
                      description: Access policy for an experimentation workspace.
                      type: object
                      properties:
                        applicationId:
                          type: string
                          description: Application id used for access to the experimentation
                            workspace.
                        defaultRole:
                          description: A default role given to a user calling the
                            Split.IO data plane when the user has no assigned role.
                          type: string
                          enum:
                          - None
                          - ExperimentationDataReader
                          - ExperimentationDataOwner
                          x-ms-enum:
                            name: DataPlaneRole
                            modelAsString: true
                            values:
                            - name: None
                              value: None
                              description: None data plane role is assigned to user
                                by default.
                            - name: ExperimentationDataReader
                              value: ExperimentationDataReader
                              description: ExperimentationDataReader data plane role
                                is assigned to user by default.
                            - name: ExperimentationDataOwner
                              value: ExperimentationDataOwner
                              description: ExperimentationDataOwner data plane role
                                is assigned to user by default.
                        dataPlaneEndpoint:
                          type: string
                          format: uri
                          description: Endpoint used for access to the experimentation
                            workspace.
                          readOnly: true
                      required:
                      - applicationId
                    dataSource:
                      description: Data source that telemetry data required for experimentation
                        will be retrieved from.
                      type: object
                      properties:
                        logAnalytics:
                          description: Log Analytics data source.
                          type: object
                          properties:
                            resourceId:
                              description: Resource id of the Log Analytics workspace.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.OperationalInsights/workspaces
                            storageAccountResourceId:
                              description: Resource id of the storage account associated
                                with the Log Analytics workspace.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Storage/storageAccounts
                            enabled:
                              type: boolean
                              description: Controls whether data flow from the configured
                                Log Analytics workspace into the experimentation workspace
                                is enabled.
                          required:
                          - resourceId
                          - storageAccountResourceId
                          - enabled
                  required:
                  - accessPolicy
                sku:
                  description: The SKU (Stock Keeping Unit) assigned to this resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU. E.g. P3. It is typically a
                        letter+number code
                    tier:
                      type: string
                      description: This field is required to be implemented by the
                        Resource Provider if the service has more than one tier, but
                        is not required on a PUT.
                      enum:
                      - Free
                      - Basic
                      - Standard
                      - Premium
                      x-ms-enum:
                        name: SkuTier
                        modelAsString: false
                    size:
                      type: string
                      description: 'The SKU size. When the name field is the combination
                        of tier and some other value, this would be the standalone
                        code. '
                    family:
                      type: string
                      description: If the service has different generations of hardware,
                        for the same SKU, then that can be captured here.
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                  required:
                  - name
                identity:
                  description: The managed service identities assigned to this resource.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'ExperimentationWorkspace' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                      accessPolicy:
                        description: Access policy for an experimentation workspace.
                        type: object
                        properties:
                          applicationId:
                            type: string
                            description: Application id used for access to the experimentation
                              workspace.
                          defaultRole:
                            description: A default role given to a user calling the
                              Split.IO data plane when the user has no assigned role.
                            type: string
                            enum:
                            - None
                            - ExperimentationDataReader
                            - ExperimentationDataOwner
                            x-ms-enum:
                              name: DataPlaneRole
                              modelAsString: true
                              values:
                              - name: None
                                value: None
                                description: None data plane role is assigned to user
                                  by default.
                              - name: ExperimentationDataReader
                                value: ExperimentationDataReader
                                description: ExperimentationDataReader data plane
                                  role is assigned to user by default.
                              - name: ExperimentationDataOwner
                                value: ExperimentationDataOwner
                                description: ExperimentationDataOwner data plane role
                                  is assigned to user by default.
                          dataPlaneEndpoint:
                            type: string
                            format: uri
                            description: Endpoint used for access to the experimentation
                              workspace.
                            readOnly: true
                        required:
                        - applicationId
                      dataSource:
                        description: Data source that telemetry data required for
                          experimentation will be retrieved from.
                        type: object
                        properties:
                          logAnalytics:
                            description: Log Analytics data source.
                            type: object
                            properties:
                              resourceId:
                                description: Resource id of the Log Analytics workspace.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.OperationalInsights/workspaces
                              storageAccountResourceId:
                                description: Resource id of the storage account associated
                                  with the Log Analytics workspace.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.Storage/storageAccounts
                              enabled:
                                type: boolean
                                description: Controls whether data flow from the configured
                                  Log Analytics workspace into the experimentation
                                  workspace is enabled.
                            required:
                            - resourceId
                            - storageAccountResourceId
                            - enabled
                    required:
                    - accessPolicy
                  sku:
                    description: The SKU (Stock Keeping Unit) assigned to this resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU. E.g. P3. It is typically
                          a letter+number code
                      tier:
                        type: string
                        description: This field is required to be implemented by the
                          Resource Provider if the service has more than one tier,
                          but is not required on a PUT.
                        enum:
                        - Free
                        - Basic
                        - Standard
                        - Premium
                        x-ms-enum:
                          name: SkuTier
                          modelAsString: false
                      size:
                        type: string
                        description: 'The SKU size. When the name field is the combination
                          of tier and some other value, this would be the standalone
                          code. '
                      family:
                        type: string
                        description: If the service has different generations of hardware,
                          for the same SKU, then that can be captured here.
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                    required:
                    - name
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
[...]
